wsdl_repositories/xmethods/bankvaluk3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bankvaluk3" targetNamespace="http://www.unifiedsoftware.co.uk/bankvaluk3.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.unifiedsoftware.co.uk/bankvaluk3.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<message name="ValidateInput">
		<part name="params" type="xsd:string"/>
	</message>
	<message name="ValidateResult">
		<part name="result" type="xsd:string"/>
	</message>
	<portType name="BankValPortType">
		<operation name="bankvalidate">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="getbranchdetails">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="getbranchdetails2">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="bankvalfull">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="bankvalfull2">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="bankvalplus">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="bankvalplus2">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="transpose">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="cardvalidate">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="cardvalidate2">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="validateukiban">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="internationalise">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="batchbankvalidate">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="batchbankvalidate2">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>		
		<operation name="refvalidate">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>
		<operation name="generatertihash">
			<input message="tns:ValidateInput"/>
			<output message="tns:ValidateResult"/>
		</operation>		
		
	</portType>
	<binding name="BankValBinding" type="tns:BankValPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="bankvalidate">
			<soap:operation soapAction="urn:BankValSOAP#bankvalidate"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="getbranchdetails">
			<soap:operation soapAction="urn:BankValSOAP#getbranchdetails"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="getbranchdetails2">
			<soap:operation soapAction="urn:BankValSOAP#getbranchdetails2"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>

		<operation name="bankvalfull">
			<soap:operation soapAction="urn:BankValSOAP#bankvalfull"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="bankvalfull2">
			<soap:operation soapAction="urn:BankValSOAP#bankvalfull2"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>

		<operation name="bankvalplus">
			<soap:operation soapAction="urn:BankValSOAP#bankvalplus"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="bankvalplus2">
			<soap:operation soapAction="urn:BankValSOAP#bankvalplus2"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>

		<operation name="transpose">
			<soap:operation soapAction="urn:BankValSOAP#transpose"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="cardvalidate">
			<soap:operation soapAction="urn:BankValSOAP#cardvalidate"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="cardvalidate2">
			<soap:operation soapAction="urn:BankValSOAP#cardvalidate2"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>	
		<operation name="validateukiban">
			<soap:operation soapAction="urn:BankValSOAP#validateukiban"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>	
		<operation name="internationalise">
			<soap:operation soapAction="urn:BankValSOAP#internationalise"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="batchbankvalidate">
			<soap:operation soapAction="urn:BankValSOAP#batchbankvalidate"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>
		<operation name="batchbankvalidate2">
			<soap:operation soapAction="urn:BankValSOAP#batchbankvalidate2"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>		
		<operation name="refvalidate">
			<soap:operation soapAction="urn:BankValSOAP#refvalidate"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>		
		<operation name="generatertihash">
			<soap:operation soapAction="urn:BankValSOAP#generatertihash"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="urn:BankValSOAP"/>
			</output>
		</operation>			
	</binding>

	<service name="BankValSOAP">
		<port name="BankValPort" binding="tns:BankValBinding">
			<soap:address location="https://www.unifiedsoftware.co.uk/cgi-bin/bankvalSOAP.cgi"/>
		</port>
	</service>
</definitions>
