wsdl_repositories/xmethods/emailvalidation2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.serviceobjects.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.serviceobjects.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
      <s:element name="ValidateEmailFastNoNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFastNoNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFastNoNamesResult" type="tns:EmailValidateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailValidateResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailValidateInfo" type="tns:EmailValidateInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailValidateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddressIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Box" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRecognizedTLD" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TopLevelDomain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TopLevelDomainDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCCTLD" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSyntaxGood" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDomainSpecificSyntaxGood" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDNSGood" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IsSMTPServerGood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsCatchAllDomain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsSMTPMailBoxGood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsFree" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEstablished" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAlias" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBogus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVulgar" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PossibleFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PossibleLastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateEmailFastNoNames_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFastNoNames_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFastNoNames_v2Result" type="tns:EmailValidateResult_v2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailValidateResult_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailValidateInfo_v2" type="tns:EmailValidateInfo_v2" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailValidateInfo_v2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddressIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Box" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRecognizedTLD" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TopLevelDomain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TopLevelDomainDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCCTLD" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSyntaxGood" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDomainSpecificSyntaxGood" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDNSGood" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IsSMTPServerGood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsCatchAllDomain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsSMTPMailBoxGood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsFree" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEstablished" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAlias" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBogus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVulgar" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PossibleFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PossibleLastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSMSDomain" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRole" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGood" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDeliverable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsBusinessAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateEmailFast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFastResult" type="tns:EmailValidateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFast_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFast_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFast_v2Result" type="tns:EmailValidateResult_v2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFull">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFullResult" type="tns:EmailValidateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFull_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailFull_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEmailFull_v2Result" type="tns:EmailValidateResult_v2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorrectEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorrectEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorrectEmailResult" type="tns:EmailCorrectResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailCorrectResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailCorrectInfo" type="tns:EmailCorrectInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmailCorrectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddressIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddressOut" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EmailValidateResult" nillable="true" type="tns:EmailValidateResult" />
      <s:element name="EmailValidateResult_v2" nillable="true" type="tns:EmailValidateResult_v2" />
      <s:element name="EmailCorrectResult" nillable="true" type="tns:EmailCorrectResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateEmailFastNoNamesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFastNoNames" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNamesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFastNoNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2SoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFastNoNames_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2SoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFastNoNames_v2Response" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFast" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFastResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2SoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFast_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2SoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFast_v2Response" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFull" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFullResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2SoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailFull_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2SoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailFull_v2Response" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailSoapIn">
    <wsdl:part name="parameters" element="tns:CorrectEmail" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailSoapOut">
    <wsdl:part name="parameters" element="tns:CorrectEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNamesHttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNamesHttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2HttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2HttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastHttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastHttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2HttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2HttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullHttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullHttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2HttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2HttpGetOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailHttpGetIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:EmailCorrectResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNamesHttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNamesHttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2HttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastNoNames_v2HttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastHttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFastHttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2HttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFast_v2HttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullHttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFullHttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2HttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailFull_v2HttpPostOut">
    <wsdl:part name="Body" element="tns:EmailValidateResult_v2" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailHttpPostIn">
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorrectEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:EmailCorrectResult" />
  </wsdl:message>
  <wsdl:portType name="DOTSEmailValidation2Soap">
    <wsdl:operation name="ValidateEmailFastNoNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNamesSoapIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNames_v2SoapIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNames_v2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastSoapIn" />
      <wsdl:output message="tns:ValidateEmailFastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFast_v2SoapIn" />
      <wsdl:output message="tns:ValidateEmailFast_v2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFullSoapIn" />
      <wsdl:output message="tns:ValidateEmailFullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFull_v2SoapIn" />
      <wsdl:output message="tns:ValidateEmailFull_v2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggressively corrects bad email addresses.</wsdl:documentation>
      <wsdl:input message="tns:CorrectEmailSoapIn" />
      <wsdl:output message="tns:CorrectEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DOTSEmailValidation2HttpGet">
    <wsdl:operation name="ValidateEmailFastNoNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNamesHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNames_v2HttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNames_v2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFastHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFast_v2HttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFast_v2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFullHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFullHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFull_v2HttpGetIn" />
      <wsdl:output message="tns:ValidateEmailFull_v2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggressively corrects bad email addresses.</wsdl:documentation>
      <wsdl:input message="tns:CorrectEmailHttpGetIn" />
      <wsdl:output message="tns:CorrectEmailHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DOTSEmailValidation2HttpPost">
    <wsdl:operation name="ValidateEmailFastNoNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNamesHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  Does not return possible names.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastNoNames_v2HttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFastNoNames_v2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFastHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFastHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using looser SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFast_v2HttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFast_v2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFullHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFullHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates an email address using stricter SMTP checking methods.  This operation includes some new features.</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailFull_v2HttpPostIn" />
      <wsdl:output message="tns:ValidateEmailFull_v2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Aggressively corrects bad email addresses.</wsdl:documentation>
      <wsdl:input message="tns:CorrectEmailHttpPostIn" />
      <wsdl:output message="tns:CorrectEmailHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOTSEmailValidation2Soap" type="tns:DOTSEmailValidation2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateEmailFastNoNames">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFastNoNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFastNoNames_v2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFast_v2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <soap:operation soapAction="http://www.serviceobjects.com/ValidateEmailFull_v2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <soap:operation soapAction="http://www.serviceobjects.com/CorrectEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOTSEmailValidation2Soap12" type="tns:DOTSEmailValidation2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateEmailFastNoNames">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFastNoNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFastNoNames_v2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFast_v2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFull" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <soap12:operation soapAction="http://www.serviceobjects.com/ValidateEmailFull_v2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <soap12:operation soapAction="http://www.serviceobjects.com/CorrectEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOTSEmailValidation2HttpGet" type="tns:DOTSEmailValidation2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidateEmailFastNoNames">
      <http:operation location="/ValidateEmailFastNoNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <http:operation location="/ValidateEmailFastNoNames_v2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <http:operation location="/ValidateEmailFast" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <http:operation location="/ValidateEmailFast_v2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <http:operation location="/ValidateEmailFull" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <http:operation location="/ValidateEmailFull_v2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <http:operation location="/CorrectEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOTSEmailValidation2HttpPost" type="tns:DOTSEmailValidation2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidateEmailFastNoNames">
      <http:operation location="/ValidateEmailFastNoNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFastNoNames_v2">
      <http:operation location="/ValidateEmailFastNoNames_v2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast">
      <http:operation location="/ValidateEmailFast" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFast_v2">
      <http:operation location="/ValidateEmailFast_v2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull">
      <http:operation location="/ValidateEmailFull" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailFull_v2">
      <http:operation location="/ValidateEmailFull_v2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorrectEmail">
      <http:operation location="/CorrectEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOTSEmailValidation2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</wsdl:documentation>
    <wsdl:port name="DOTSEmailValidation2Soap" binding="tns:DOTSEmailValidation2Soap">
      <soap:address location="http://trial.serviceobjects.com/ev2/emailvalidation2.asmx" />
    </wsdl:port>
    <wsdl:port name="DOTSEmailValidation2Soap12" binding="tns:DOTSEmailValidation2Soap12">
      <soap12:address location="http://trial.serviceobjects.com/ev2/emailvalidation2.asmx" />
    </wsdl:port>
    <wsdl:port name="DOTSEmailValidation2HttpGet" binding="tns:DOTSEmailValidation2HttpGet">
      <http:address location="http://trial.serviceobjects.com/ev2/emailvalidation2.asmx" />
    </wsdl:port>
    <wsdl:port name="DOTSEmailValidation2HttpPost" binding="tns:DOTSEmailValidation2HttpPost">
      <http:address location="http://trial.serviceobjects.com/ev2/emailvalidation2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>