wsdl_repositories/xmethods/IACHSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IACHSOAPservice" targetNamespace="http://securesoap.achworks.com/" xmlns:tns="http://securesoap.achworks.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:ACHSOAPIntf">
  <types>
    <xs:schema targetNamespace="urn:ACHSOAPIntf" xmlns="urn:ACHSOAPIntf">
      <xs:complexType name="CompanyInfo">
        <xs:sequence>
          <xs:element name="LocID" type="xs:string"/>
          <xs:element name="Company" type="xs:string"/>
          <xs:element name="CompanyKey" type="xs:string"/>
          <xs:element name="Email" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CustomerInfo">
        <xs:sequence>
          <xs:element name="CustomerName" type="xs:string"/>
          <xs:element name="Amount" type="xs:string"/>
          <xs:element name="CheckorCustID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultBTRN">
        <xs:sequence>
          <xs:element name="BTRN" type="xs:string"/>
          <xs:element name="Validity" type="xs:string"/>
          <xs:element name="MsgResult" type="xs:string"/>
          <xs:element name="NewBTRN" type="xs:string"/>
          <xs:element name="DateChanged" type="xs:string"/>
          <xs:element name="BankName" type="xs:string"/>
          <xs:element name="Address" type="xs:string"/>
          <xs:element name="CityStateZip" type="xs:string"/>
          <xs:element name="Telephone" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayofResultBTRN">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:ResultBTRN[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CheckCompanyID0Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="CheckCompanyID0Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="ConnectionCheck1Request">
    <part name="LocID" type="xs:string"/>
    <part name="Company" type="xs:string"/>
    <part name="CompanyKey" type="xs:string"/>
  </message>
  <message name="ConnectionCheck1Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACH2Request">
    <part name="LocID" type="xs:string"/>
    <part name="Company" type="xs:string"/>
    <part name="CompanyKey" type="xs:string"/>
    <part name="CheckNo" type="xs:string"/>
    <part name="BTRN" type="xs:string"/>
    <part name="CheckDate" type="xs:string"/>
    <part name="SendDate" type="xs:string"/>
    <part name="NSFMax" type="xs:string"/>
    <part name="NSFFee" type="xs:string"/>
    <part name="TrackingID" type="xs:string"/>
    <part name="Amount" type="xs:string"/>
    <part name="EmailCostumer" type="xs:string"/>
    <part name="EmailMerchant" type="xs:string"/>
    <part name="FirstName" type="xs:string"/>
    <part name="LastName" type="xs:string"/>
    <part name="Address1" type="xs:string"/>
    <part name="Address2" type="xs:string"/>
    <part name="City" type="xs:string"/>
    <part name="State" type="xs:string"/>
    <part name="Zip" type="xs:string"/>
    <part name="SSN" type="xs:string"/>
    <part name="HomePhone" type="xs:string"/>
    <part name="OfficePhone" type="xs:string"/>
    <part name="AcctNo" type="xs:string"/>
    <part name="TransactionCode" type="xs:string"/>
    <part name="CustTransType" type="xs:string"/>
    <part name="AccountType" type="xs:string"/>
    <part name="Memo" type="xs:string"/>
    <part name="OpCode" type="xs:string"/>
    <part name="AcctSet" type="xs:string"/>
    <part name="Payee" type="xs:string"/>
  </message>
  <message name="SendACH2Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendBatchACH3Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendBatchACH3Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetACHStatus4Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACHStatus4Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHStatusHistory5Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
  </message>
  <message name="GetACHStatusHistory5Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendFedFile6Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFedFile" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendFedFile6Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransBatch7Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileName" type="xs:string"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendACHTransBatch7Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransBatchAFH8Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendACHTransBatchAFH8Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransWeb9Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileName" type="xs:string"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendACHTransWeb9Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransWebAFH10Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendACHTransWebAFH10Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransBatchBin11Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileName" type="xs:string"/>
    <part name="InpFileBin" type="xs:base64Binary"/>
  </message>
  <message name="SendACHTransBatchBin11Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransBatchBinZip12Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileNameZip" type="xs:string"/>
    <part name="InpFileBinZip" type="xs:base64Binary"/>
  </message>
  <message name="SendACHTransBatchBinZip12Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendACHTransBatchNV13Request">
    <part name="NoKey" type="xs:string"/>
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileName" type="xs:string"/>
    <part name="InpBatchACHRec" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendACHTransBatchNV13Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetACHReturnBatch14Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACHReturnBatch14Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHReturnBatchRC15Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="ResponseCode" type="xs:string"/>
  </message>
  <message name="GetACHReturnBatchRC15Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHReturnHistory16Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
  </message>
  <message name="GetACHReturnHistory16Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHReturnHistoryRC17Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
    <part name="ResponseCode" type="xs:string"/>
  </message>
  <message name="GetACHReturnHistoryRC17Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetStatusFiles18Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetStatusFiles18Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACKFiles19Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACKFiles19Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACKFilesHistory20Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
  </message>
  <message name="GetACKFilesHistory20Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetERRFiles21Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetERRFiles21Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="StopACHTrans22Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="FrontEndTrace" type="xs:string"/>
    <part name="Filename" type="xs:string"/>
  </message>
  <message name="StopACHTrans22Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="StopACHTrans223Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="CustomerName" type="xs:string"/>
    <part name="TransAmount" type="xs:string"/>
    <part name="CheckorCustID" type="xs:string"/>
    <part name="Filename" type="xs:string"/>
  </message>
  <message name="StopACHTrans223Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="StopACHTrans324Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="ArrayFrontEndTrace" type="ns1:ArrayOfString"/>
    <part name="Filename" type="xs:string"/>
  </message>
  <message name="StopACHTrans324Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="StopACHTrans425Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpCustomerInfo" type="ns1:CustomerInfo"/>
    <part name="Filename" type="xs:string"/>
  </message>
  <message name="StopACHTrans425Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="StopACHTransBatch26Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="Filename" type="xs:string"/>
  </message>
  <message name="StopACHTransBatch26Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="SendFile27Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFileName" type="xs:string"/>
    <part name="InpFile" type="ns1:ArrayOfString"/>
  </message>
  <message name="SendFile27Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetFile28Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetFile28Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHTransBatchFileList29Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACHTransBatchFileList29Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHTransBatchFileListHistory30Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="DateFrom" type="xs:string"/>
    <part name="DateTo" type="xs:string"/>
  </message>
  <message name="GetACHTransBatchFileListHistory30Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="GetACHTransBatchDeletedFileList31Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
  </message>
  <message name="GetACHTransBatchDeletedFileList31Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <message name="DeleteACHTransBatchFile32Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpFilename" type="xs:string"/>
  </message>
  <message name="DeleteACHTransBatchFile32Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="getBTRNCMP33Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBTRN" type="xs:string"/>
  </message>
  <message name="getBTRNCMP33Response">
    <part name="return" type="ns1:ResultBTRN"/>
  </message>
  <message name="getBTRNBatchCMP34Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchBTRN" type="ns1:ArrayOfString"/>
  </message>
  <message name="getBTRNBatchCMP34Response">
    <part name="return" type="ns1:ArrayofResultBTRN"/>
  </message>
  <message name="getBTRNSTR35Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBTRN" type="xs:string"/>
  </message>
  <message name="getBTRNSTR35Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="getBTRNBatchSTR36Request">
    <part name="InpBatchCompanyInfo" type="ns1:CompanyInfo"/>
    <part name="InpBatchBTRN" type="ns1:ArrayOfString"/>
  </message>
  <message name="getBTRNBatchSTR36Response">
    <part name="return" type="ns1:ArrayOfString"/>
  </message>
  <portType name="IACHSOAP">
    <operation name="CheckCompanyID">
      <input message="tns:CheckCompanyID0Request"/>
      <output message="tns:CheckCompanyID0Response"/>
    </operation>
    <operation name="ConnectionCheck">
      <input message="tns:ConnectionCheck1Request"/>
      <output message="tns:ConnectionCheck1Response"/>
    </operation>
    <operation name="SendACH">
      <input message="tns:SendACH2Request"/>
      <output message="tns:SendACH2Response"/>
    </operation>
    <operation name="SendBatchACH">
      <input message="tns:SendBatchACH3Request"/>
      <output message="tns:SendBatchACH3Response"/>
    </operation>
    <operation name="GetACHStatus">
      <input message="tns:GetACHStatus4Request"/>
      <output message="tns:GetACHStatus4Response"/>
    </operation>
    <operation name="GetACHStatusHistory">
      <input message="tns:GetACHStatusHistory5Request"/>
      <output message="tns:GetACHStatusHistory5Response"/>
    </operation>
    <operation name="SendFedFile">
      <input message="tns:SendFedFile6Request"/>
      <output message="tns:SendFedFile6Response"/>
    </operation>
    <operation name="SendACHTransBatch">
      <input message="tns:SendACHTransBatch7Request"/>
      <output message="tns:SendACHTransBatch7Response"/>
    </operation>
    <operation name="SendACHTransBatchAFH">
      <input message="tns:SendACHTransBatchAFH8Request"/>
      <output message="tns:SendACHTransBatchAFH8Response"/>
    </operation>
    <operation name="SendACHTransWeb">
      <input message="tns:SendACHTransWeb9Request"/>
      <output message="tns:SendACHTransWeb9Response"/>
    </operation>
    <operation name="SendACHTransWebAFH">
      <input message="tns:SendACHTransWebAFH10Request"/>
      <output message="tns:SendACHTransWebAFH10Response"/>
    </operation>
    <operation name="SendACHTransBatchBin">
      <input message="tns:SendACHTransBatchBin11Request"/>
      <output message="tns:SendACHTransBatchBin11Response"/>
    </operation>
    <operation name="SendACHTransBatchBinZip">
      <input message="tns:SendACHTransBatchBinZip12Request"/>
      <output message="tns:SendACHTransBatchBinZip12Response"/>
    </operation>
    <operation name="SendACHTransBatchNV">
      <input message="tns:SendACHTransBatchNV13Request"/>
      <output message="tns:SendACHTransBatchNV13Response"/>
    </operation>
    <operation name="GetACHReturnBatch">
      <input message="tns:GetACHReturnBatch14Request"/>
      <output message="tns:GetACHReturnBatch14Response"/>
    </operation>
    <operation name="GetACHReturnBatchRC">
      <input message="tns:GetACHReturnBatchRC15Request"/>
      <output message="tns:GetACHReturnBatchRC15Response"/>
    </operation>
    <operation name="GetACHReturnHistory">
      <input message="tns:GetACHReturnHistory16Request"/>
      <output message="tns:GetACHReturnHistory16Response"/>
    </operation>
    <operation name="GetACHReturnHistoryRC">
      <input message="tns:GetACHReturnHistoryRC17Request"/>
      <output message="tns:GetACHReturnHistoryRC17Response"/>
    </operation>
    <operation name="GetStatusFiles">
      <input message="tns:GetStatusFiles18Request"/>
      <output message="tns:GetStatusFiles18Response"/>
    </operation>
    <operation name="GetACKFiles">
      <input message="tns:GetACKFiles19Request"/>
      <output message="tns:GetACKFiles19Response"/>
    </operation>
    <operation name="GetACKFilesHistory">
      <input message="tns:GetACKFilesHistory20Request"/>
      <output message="tns:GetACKFilesHistory20Response"/>
    </operation>
    <operation name="GetERRFiles">
      <input message="tns:GetERRFiles21Request"/>
      <output message="tns:GetERRFiles21Response"/>
    </operation>
    <operation name="StopACHTrans">
      <input message="tns:StopACHTrans22Request"/>
      <output message="tns:StopACHTrans22Response"/>
    </operation>
    <operation name="StopACHTrans2">
      <input message="tns:StopACHTrans223Request"/>
      <output message="tns:StopACHTrans223Response"/>
    </operation>
    <operation name="StopACHTrans3">
      <input message="tns:StopACHTrans324Request"/>
      <output message="tns:StopACHTrans324Response"/>
    </operation>
    <operation name="StopACHTrans4">
      <input message="tns:StopACHTrans425Request"/>
      <output message="tns:StopACHTrans425Response"/>
    </operation>
    <operation name="StopACHTransBatch">
      <input message="tns:StopACHTransBatch26Request"/>
      <output message="tns:StopACHTransBatch26Response"/>
    </operation>
    <operation name="SendFile">
      <input message="tns:SendFile27Request"/>
      <output message="tns:SendFile27Response"/>
    </operation>
    <operation name="GetFile">
      <input message="tns:GetFile28Request"/>
      <output message="tns:GetFile28Response"/>
    </operation>
    <operation name="GetACHTransBatchFileList">
      <input message="tns:GetACHTransBatchFileList29Request"/>
      <output message="tns:GetACHTransBatchFileList29Response"/>
    </operation>
    <operation name="GetACHTransBatchFileListHistory">
      <input message="tns:GetACHTransBatchFileListHistory30Request"/>
      <output message="tns:GetACHTransBatchFileListHistory30Response"/>
    </operation>
    <operation name="GetACHTransBatchDeletedFileList">
      <input message="tns:GetACHTransBatchDeletedFileList31Request"/>
      <output message="tns:GetACHTransBatchDeletedFileList31Response"/>
    </operation>
    <operation name="DeleteACHTransBatchFile">
      <input message="tns:DeleteACHTransBatchFile32Request"/>
      <output message="tns:DeleteACHTransBatchFile32Response"/>
    </operation>
    <operation name="getBTRNCMP">
      <input message="tns:getBTRNCMP33Request"/>
      <output message="tns:getBTRNCMP33Response"/>
    </operation>
    <operation name="getBTRNBatchCMP">
      <input message="tns:getBTRNBatchCMP34Request"/>
      <output message="tns:getBTRNBatchCMP34Response"/>
    </operation>
    <operation name="getBTRNSTR">
      <input message="tns:getBTRNSTR35Request"/>
      <output message="tns:getBTRNSTR35Response"/>
    </operation>
    <operation name="getBTRNBatchSTR">
      <input message="tns:getBTRNBatchSTR36Request"/>
      <output message="tns:getBTRNBatchSTR36Response"/>
    </operation>
  </portType>
  <binding name="IACHSOAPbinding" type="tns:IACHSOAP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CheckCompanyID">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#CheckCompanyID" style="rpc"/>
      <input message="tns:CheckCompanyID0Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:CheckCompanyID0Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="ConnectionCheck">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#ConnectionCheck" style="rpc"/>
      <input message="tns:ConnectionCheck1Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:ConnectionCheck1Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACH" style="rpc"/>
      <input message="tns:SendACH2Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACH2Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendBatchACH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendBatchACH" style="rpc"/>
      <input message="tns:SendBatchACH3Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendBatchACH3Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHStatus">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatus" style="rpc"/>
      <input message="tns:GetACHStatus4Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHStatus4Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHStatusHistory">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHStatusHistory" style="rpc"/>
      <input message="tns:GetACHStatusHistory5Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHStatusHistory5Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendFedFile">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendFedFile" style="rpc"/>
      <input message="tns:SendFedFile6Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendFedFile6Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransBatch">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatch" style="rpc"/>
      <input message="tns:SendACHTransBatch7Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransBatch7Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransBatchAFH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchAFH" style="rpc"/>
      <input message="tns:SendACHTransBatchAFH8Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransBatchAFH8Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransWeb">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransWeb" style="rpc"/>
      <input message="tns:SendACHTransWeb9Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransWeb9Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransWebAFH">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransWebAFH" style="rpc"/>
      <input message="tns:SendACHTransWebAFH10Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransWebAFH10Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransBatchBin">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchBin" style="rpc"/>
      <input message="tns:SendACHTransBatchBin11Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransBatchBin11Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransBatchBinZip">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchBinZip" style="rpc"/>
      <input message="tns:SendACHTransBatchBinZip12Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransBatchBinZip12Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendACHTransBatchNV">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendACHTransBatchNV" style="rpc"/>
      <input message="tns:SendACHTransBatchNV13Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendACHTransBatchNV13Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHReturnBatch">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnBatch" style="rpc"/>
      <input message="tns:GetACHReturnBatch14Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHReturnBatch14Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHReturnBatchRC">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnBatchRC" style="rpc"/>
      <input message="tns:GetACHReturnBatchRC15Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHReturnBatchRC15Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHReturnHistory">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnHistory" style="rpc"/>
      <input message="tns:GetACHReturnHistory16Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHReturnHistory16Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHReturnHistoryRC">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHReturnHistoryRC" style="rpc"/>
      <input message="tns:GetACHReturnHistoryRC17Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHReturnHistoryRC17Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetStatusFiles">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetStatusFiles" style="rpc"/>
      <input message="tns:GetStatusFiles18Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetStatusFiles18Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACKFiles">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACKFiles" style="rpc"/>
      <input message="tns:GetACKFiles19Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACKFiles19Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACKFilesHistory">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACKFilesHistory" style="rpc"/>
      <input message="tns:GetACKFilesHistory20Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACKFilesHistory20Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetERRFiles">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetERRFiles" style="rpc"/>
      <input message="tns:GetERRFiles21Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetERRFiles21Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="StopACHTrans">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans" style="rpc"/>
      <input message="tns:StopACHTrans22Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:StopACHTrans22Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="StopACHTrans2">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans2" style="rpc"/>
      <input message="tns:StopACHTrans223Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:StopACHTrans223Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="StopACHTrans3">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans3" style="rpc"/>
      <input message="tns:StopACHTrans324Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:StopACHTrans324Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="StopACHTrans4">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTrans4" style="rpc"/>
      <input message="tns:StopACHTrans425Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:StopACHTrans425Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="StopACHTransBatch">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#StopACHTransBatch" style="rpc"/>
      <input message="tns:StopACHTransBatch26Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:StopACHTransBatch26Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="SendFile">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#SendFile" style="rpc"/>
      <input message="tns:SendFile27Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:SendFile27Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetFile">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetFile" style="rpc"/>
      <input message="tns:GetFile28Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetFile28Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHTransBatchFileList">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchFileList" style="rpc"/>
      <input message="tns:GetACHTransBatchFileList29Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHTransBatchFileList29Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHTransBatchFileListHistory">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchFileListHistory" style="rpc"/>
      <input message="tns:GetACHTransBatchFileListHistory30Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHTransBatchFileListHistory30Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="GetACHTransBatchDeletedFileList">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#GetACHTransBatchDeletedFileList" style="rpc"/>
      <input message="tns:GetACHTransBatchDeletedFileList31Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:GetACHTransBatchDeletedFileList31Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="DeleteACHTransBatchFile">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#DeleteACHTransBatchFile" style="rpc"/>
      <input message="tns:DeleteACHTransBatchFile32Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:DeleteACHTransBatchFile32Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="getBTRNCMP">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNCMP" style="rpc"/>
      <input message="tns:getBTRNCMP33Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:getBTRNCMP33Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="getBTRNBatchCMP">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNBatchCMP" style="rpc"/>
      <input message="tns:getBTRNBatchCMP34Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:getBTRNBatchCMP34Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="getBTRNSTR">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNSTR" style="rpc"/>
      <input message="tns:getBTRNSTR35Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:getBTRNSTR35Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
    <operation name="getBTRNBatchSTR">
      <soap:operation soapAction="urn:ACHSOAPIntf-IACHSOAP#getBTRNBatchSTR" style="rpc"/>
      <input message="tns:getBTRNBatchSTR36Request">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </input>
      <output message="tns:getBTRNBatchSTR36Response">
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ACHSOAPIntf-IACHSOAP"/>
      </output>
    </operation>
  </binding>
  <service name="IACHSOAPservice">
    <port name="IACHSOAPPort" binding="tns:IACHSOAPbinding">
      <soap:address location="http://tstsvr.achworks.com/testexec/achtstsoapbz.tss/soap/IACHSOAP"/>
    </port>
  </service>
</definitions>

