wsdl_repositories/xmethods/LogicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nulllogicone.net/schemata/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nulllogicone.net/schemata/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;The matching logic of Code and Angler</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nulllogicone.net/schemata/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/AnglerPostItDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/LogicService.asmx?schema=AnglerPostItDataSet" namespace="http://nulllogicone.net/schemata/AnglerPostItDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/LogicService.asmx?schema=PostItAnglerDataSet" namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
      <s:element name="CodeAnglerMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cguid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="aguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodeAnglerMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodeAnglerMatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodeMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodeMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodeMatchResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnglerMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnglerMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnglerMatchResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/AnglerPostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CodeAnglerMatchSoapIn">
    <wsdl:part name="parameters" element="tns:CodeAnglerMatch" />
  </wsdl:message>
  <wsdl:message name="CodeAnglerMatchSoapOut">
    <wsdl:part name="parameters" element="tns:CodeAnglerMatchResponse" />
  </wsdl:message>
  <wsdl:message name="CodeMatchSoapIn">
    <wsdl:part name="parameters" element="tns:CodeMatch" />
  </wsdl:message>
  <wsdl:message name="CodeMatchSoapOut">
    <wsdl:part name="parameters" element="tns:CodeMatchResponse" />
  </wsdl:message>
  <wsdl:message name="AnglerMatchSoapIn">
    <wsdl:part name="parameters" element="tns:AnglerMatch" />
  </wsdl:message>
  <wsdl:message name="AnglerMatchSoapOut">
    <wsdl:part name="parameters" element="tns:AnglerMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="LogicServiceSoap">
    <wsdl:operation name="CodeAnglerMatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A Code (marking) is matched against an Angler (filterprofiles). Both dataset must be contained in the database. If they match, true will be returned.</wsdl:documentation>
      <wsdl:input message="tns:CodeAnglerMatchSoapIn" />
      <wsdl:output message="tns:CodeAnglerMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CodeMatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A Code (marking) will be matched against all Angler (filterprofiles). The matching Angler will be returned.</wsdl:documentation>
      <wsdl:input message="tns:CodeMatchSoapIn" />
      <wsdl:output message="tns:CodeMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnglerMatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">An Angler (filterprofile) will be matched ageinst all Code (markings). The matching PostIt (messages) will be returned.</wsdl:documentation>
      <wsdl:input message="tns:AnglerMatchSoapIn" />
      <wsdl:output message="tns:AnglerMatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LogicServiceHttpGet" />
  <wsdl:binding name="LogicServiceSoap" type="tns:LogicServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CodeAnglerMatch">
      <soap:operation soapAction="http://nulllogicone.net/schemata/CodeAnglerMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeMatch">
      <soap:operation soapAction="http://nulllogicone.net/schemata/CodeMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnglerMatch">
      <soap:operation soapAction="http://nulllogicone.net/schemata/AnglerMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogicServiceSoap12" type="tns:LogicServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CodeAnglerMatch">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/CodeAnglerMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeMatch">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/CodeMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnglerMatch">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/AnglerMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogicServiceHttpGet" type="tns:LogicServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:service name="LogicService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;The matching logic of Code and Angler</wsdl:documentation>
    <wsdl:port name="LogicServiceSoap" binding="tns:LogicServiceSoap">
      <soap:address location="http://service.oli-it.com/LogicService.asmx" />
    </wsdl:port>
    <wsdl:port name="LogicServiceSoap12" binding="tns:LogicServiceSoap12">
      <soap12:address location="http://service.oli-it.com/LogicService.asmx" />
    </wsdl:port>
    <wsdl:port name="LogicServiceHttpGet" binding="tns:LogicServiceHttpGet">
      <http:address location="http://service.oli-it.com/LogicService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>