wsdl_repositories/xmethods/Phone.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.acrosscommunications.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.acrosscommunications.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.acrosscommunications.com/">
      <s:element name="MakeAudioFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTextToSpeak" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeAudioFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLastMethodDuration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastMethodDurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastMethodDurationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartRecordCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartRecordCallResponse">
        <s:complexType />
      </s:element>
      <s:element name="StopRecordCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopRecordCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StopRecordCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSearchStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSearchString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="Call">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallResponse">
        <s:complexType />
      </s:element>
      <s:element name="CallEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ProviderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strDialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallExResponse">
        <s:complexType />
      </s:element>
      <s:element name="CallEx2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:CallParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CallParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProviderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ANI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RouterID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallEx2Response">
        <s:complexType />
      </s:element>
      <s:element name="CallEx3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:CallParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallEx3Response">
        <s:complexType />
      </s:element>
      <s:element name="HangUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HangUpResponse">
        <s:complexType />
      </s:element>
      <s:element name="Say">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayResponse">
        <s:complexType />
      </s:element>
      <s:element name="SayWithDigitEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLastDigits" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxDigits" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SayWithDigitEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayWithDigitEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Prepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrepareResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrepareWebLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileLink" type="tns:WebLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CachPolicy" type="tns:CachMode" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CachMode">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Rewrite" />
          <s:enumeration value="Store" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PrepareWebLinkResponse">
        <s:complexType />
      </s:element>
      <s:element name="PlayFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="PlayFileWithDigitEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLastDigits" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxDigits" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayFileWithDigitEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlayFileWithDigitEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayDigits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDigits" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayDigitsResponse">
        <s:complexType />
      </s:element>
      <s:element name="WaitDigits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Timeout" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxDigits" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LastDigit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WaitDigitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WaitDigitsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDigitsFromBuffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDigitsFromBufferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDigitsFromBufferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDigitsFromBuffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDigitsFromBufferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDigitsFromBufferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Record">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Timeout" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LastDigit" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxDigits" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptCallResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectCallResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRouterId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRouterIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRouterIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeAudioFileSoapIn">
    <wsdl:part name="parameters" element="tns:MakeAudioFile" />
  </wsdl:message>
  <wsdl:message name="MakeAudioFileSoapOut">
    <wsdl:part name="parameters" element="tns:MakeAudioFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastMethodDurationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastMethodDuration" />
  </wsdl:message>
  <wsdl:message name="GetLastMethodDurationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastMethodDurationResponse" />
  </wsdl:message>
  <wsdl:message name="StartRecordCallSoapIn">
    <wsdl:part name="parameters" element="tns:StartRecordCall" />
  </wsdl:message>
  <wsdl:message name="StartRecordCallSoapOut">
    <wsdl:part name="parameters" element="tns:StartRecordCallResponse" />
  </wsdl:message>
  <wsdl:message name="StopRecordCallSoapIn">
    <wsdl:part name="parameters" element="tns:StopRecordCall" />
  </wsdl:message>
  <wsdl:message name="StopRecordCallSoapOut">
    <wsdl:part name="parameters" element="tns:StopRecordCallResponse" />
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapIn">
    <wsdl:part name="parameters" element="tns:SetSearchString" />
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapOut">
    <wsdl:part name="parameters" element="tns:SetSearchStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchString" />
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchStringResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:Release" />
  </wsdl:message>
  <wsdl:message name="ReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="CallSoapIn">
    <wsdl:part name="parameters" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="CallSoapOut">
    <wsdl:part name="parameters" element="tns:CallResponse" />
  </wsdl:message>
  <wsdl:message name="CallExSoapIn">
    <wsdl:part name="parameters" element="tns:CallEx" />
  </wsdl:message>
  <wsdl:message name="CallExSoapOut">
    <wsdl:part name="parameters" element="tns:CallExResponse" />
  </wsdl:message>
  <wsdl:message name="CallEx2SoapIn">
    <wsdl:part name="parameters" element="tns:CallEx2" />
  </wsdl:message>
  <wsdl:message name="CallEx2SoapOut">
    <wsdl:part name="parameters" element="tns:CallEx2Response" />
  </wsdl:message>
  <wsdl:message name="CallEx3SoapIn">
    <wsdl:part name="parameters" element="tns:CallEx3" />
  </wsdl:message>
  <wsdl:message name="CallEx3SoapOut">
    <wsdl:part name="parameters" element="tns:CallEx3Response" />
  </wsdl:message>
  <wsdl:message name="HangUpSoapIn">
    <wsdl:part name="parameters" element="tns:HangUp" />
  </wsdl:message>
  <wsdl:message name="HangUpSoapOut">
    <wsdl:part name="parameters" element="tns:HangUpResponse" />
  </wsdl:message>
  <wsdl:message name="SaySoapIn">
    <wsdl:part name="parameters" element="tns:Say" />
  </wsdl:message>
  <wsdl:message name="SaySoapOut">
    <wsdl:part name="parameters" element="tns:SayResponse" />
  </wsdl:message>
  <wsdl:message name="SayWithDigitEventSoapIn">
    <wsdl:part name="parameters" element="tns:SayWithDigitEvent" />
  </wsdl:message>
  <wsdl:message name="SayWithDigitEventSoapOut">
    <wsdl:part name="parameters" element="tns:SayWithDigitEventResponse" />
  </wsdl:message>
  <wsdl:message name="PrepareSoapIn">
    <wsdl:part name="parameters" element="tns:Prepare" />
  </wsdl:message>
  <wsdl:message name="PrepareSoapOut">
    <wsdl:part name="parameters" element="tns:PrepareResponse" />
  </wsdl:message>
  <wsdl:message name="PrepareWebLinkSoapIn">
    <wsdl:part name="parameters" element="tns:PrepareWebLink" />
  </wsdl:message>
  <wsdl:message name="PrepareWebLinkSoapOut">
    <wsdl:part name="parameters" element="tns:PrepareWebLinkResponse" />
  </wsdl:message>
  <wsdl:message name="PlayFileSoapIn">
    <wsdl:part name="parameters" element="tns:PlayFile" />
  </wsdl:message>
  <wsdl:message name="PlayFileSoapOut">
    <wsdl:part name="parameters" element="tns:PlayFileResponse" />
  </wsdl:message>
  <wsdl:message name="PlayFileWithDigitEventSoapIn">
    <wsdl:part name="parameters" element="tns:PlayFileWithDigitEvent" />
  </wsdl:message>
  <wsdl:message name="PlayFileWithDigitEventSoapOut">
    <wsdl:part name="parameters" element="tns:PlayFileWithDigitEventResponse" />
  </wsdl:message>
  <wsdl:message name="PlayDigitsSoapIn">
    <wsdl:part name="parameters" element="tns:PlayDigits" />
  </wsdl:message>
  <wsdl:message name="PlayDigitsSoapOut">
    <wsdl:part name="parameters" element="tns:PlayDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="WaitDigitsSoapIn">
    <wsdl:part name="parameters" element="tns:WaitDigits" />
  </wsdl:message>
  <wsdl:message name="WaitDigitsSoapOut">
    <wsdl:part name="parameters" element="tns:WaitDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDigitsFromBufferSoapIn">
    <wsdl:part name="parameters" element="tns:GetDigitsFromBuffer" />
  </wsdl:message>
  <wsdl:message name="GetDigitsFromBufferSoapOut">
    <wsdl:part name="parameters" element="tns:GetDigitsFromBufferResponse" />
  </wsdl:message>
  <wsdl:message name="ClearDigitsFromBufferSoapIn">
    <wsdl:part name="parameters" element="tns:ClearDigitsFromBuffer" />
  </wsdl:message>
  <wsdl:message name="ClearDigitsFromBufferSoapOut">
    <wsdl:part name="parameters" element="tns:ClearDigitsFromBufferResponse" />
  </wsdl:message>
  <wsdl:message name="RecordSoapIn">
    <wsdl:part name="parameters" element="tns:Record" />
  </wsdl:message>
  <wsdl:message name="RecordSoapOut">
    <wsdl:part name="parameters" element="tns:RecordResponse" />
  </wsdl:message>
  <wsdl:message name="AcceptCallSoapIn">
    <wsdl:part name="parameters" element="tns:AcceptCall" />
  </wsdl:message>
  <wsdl:message name="AcceptCallSoapOut">
    <wsdl:part name="parameters" element="tns:AcceptCallResponse" />
  </wsdl:message>
  <wsdl:message name="RejectCallSoapIn">
    <wsdl:part name="parameters" element="tns:RejectCall" />
  </wsdl:message>
  <wsdl:message name="RejectCallSoapOut">
    <wsdl:part name="parameters" element="tns:RejectCallResponse" />
  </wsdl:message>
  <wsdl:message name="GetRouterIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRouterId" />
  </wsdl:message>
  <wsdl:message name="GetRouterIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRouterIdResponse" />
  </wsdl:message>
  <wsdl:portType name="PhoneSoap">
    <wsdl:operation name="MakeAudioFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate voice file from text</wsdl:documentation>
      <wsdl:input message="tns:MakeAudioFileSoapIn" />
      <wsdl:output message="tns:MakeAudioFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMethodDuration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get connetion time</wsdl:documentation>
      <wsdl:input message="tns:GetLastMethodDurationSoapIn" />
      <wsdl:output message="tns:GetLastMethodDurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartRecordCall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start record full call</wsdl:documentation>
      <wsdl:input message="tns:StartRecordCallSoapIn" />
      <wsdl:output message="tns:StartRecordCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopRecordCall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stop record full call</wsdl:documentation>
      <wsdl:input message="tns:StopRecordCallSoapIn" />
      <wsdl:output message="tns:StopRecordCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSearchString">
      <wsdl:input message="tns:SetSearchStringSoapIn" />
      <wsdl:output message="tns:SetSearchStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchString">
      <wsdl:input message="tns:GetSearchStringSoapIn" />
      <wsdl:output message="tns:GetSearchStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Release">
      <wsdl:input message="tns:ReleaseSoapIn" />
      <wsdl:output message="tns:ReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Call">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call and connect to phone number</wsdl:documentation>
      <wsdl:input message="tns:CallSoapIn" />
      <wsdl:output message="tns:CallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallEx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call and connect to phone number using specified provider ID</wsdl:documentation>
      <wsdl:input message="tns:CallExSoapIn" />
      <wsdl:output message="tns:CallExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallEx2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call and connect to phone number using specified call parameters</wsdl:documentation>
      <wsdl:input message="tns:CallEx2SoapIn" />
      <wsdl:output message="tns:CallEx2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallEx3">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call and connect to phone number using specified call parameters</wsdl:documentation>
      <wsdl:input message="tns:CallEx3SoapIn" />
      <wsdl:output message="tns:CallEx3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HangUp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnect form phone line</wsdl:documentation>
      <wsdl:input message="tns:HangUpSoapIn" />
      <wsdl:output message="tns:HangUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Say">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Speak text</wsdl:documentation>
      <wsdl:input message="tns:SaySoapIn" />
      <wsdl:output message="tns:SaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SayWithDigitEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Speak text screening touch-tone response</wsdl:documentation>
      <wsdl:input message="tns:SayWithDigitEventSoapIn" />
      <wsdl:output message="tns:SayWithDigitEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Prepare">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Copy speaking files in local cache</wsdl:documentation>
      <wsdl:input message="tns:PrepareSoapIn" />
      <wsdl:output message="tns:PrepareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrepareWebLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Copy speaking files in local cache</wsdl:documentation>
      <wsdl:input message="tns:PrepareWebLinkSoapIn" />
      <wsdl:output message="tns:PrepareWebLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Play stored wav file</wsdl:documentation>
      <wsdl:input message="tns:PlayFileSoapIn" />
      <wsdl:output message="tns:PlayFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayFileWithDigitEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Play stored wav file screening touch-tone response</wsdl:documentation>
      <wsdl:input message="tns:PlayFileWithDigitEventSoapIn" />
      <wsdl:output message="tns:PlayFileWithDigitEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayDigits">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Play DTMF tones</wsdl:documentation>
      <wsdl:input message="tns:PlayDigitsSoapIn" />
      <wsdl:output message="tns:PlayDigitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WaitDigits">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Wait for touch-tone response</wsdl:documentation>
      <wsdl:input message="tns:WaitDigitsSoapIn" />
      <wsdl:output message="tns:WaitDigitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitsFromBuffer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetDigitsFromBuffer</wsdl:documentation>
      <wsdl:input message="tns:GetDigitsFromBufferSoapIn" />
      <wsdl:output message="tns:GetDigitsFromBufferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearDigitsFromBuffer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ClearDigitsFromBuffer</wsdl:documentation>
      <wsdl:input message="tns:ClearDigitsFromBufferSoapIn" />
      <wsdl:output message="tns:ClearDigitsFromBufferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Record">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Record voice into file</wsdl:documentation>
      <wsdl:input message="tns:RecordSoapIn" />
      <wsdl:output message="tns:RecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcceptCall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts incoming call</wsdl:documentation>
      <wsdl:input message="tns:AcceptCallSoapIn" />
      <wsdl:output message="tns:AcceptCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectCall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rejects incoming call</wsdl:documentation>
      <wsdl:input message="tns:RejectCallSoapIn" />
      <wsdl:output message="tns:RejectCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRouterId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get router ID</wsdl:documentation>
      <wsdl:input message="tns:GetRouterIdSoapIn" />
      <wsdl:output message="tns:GetRouterIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhoneSoap" type="tns:PhoneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeAudioFile">
      <soap:operation soapAction="http://ws.acrosscommunications.com/MakeAudioFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMethodDuration">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetLastMethodDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRecordCall">
      <soap:operation soapAction="http://ws.acrosscommunications.com/StartRecordCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopRecordCall">
      <soap:operation soapAction="http://ws.acrosscommunications.com/StopRecordCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SetSearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchString">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetSearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Release" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Call">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Call" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx">
      <soap:operation soapAction="http://ws.acrosscommunications.com/CallEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx2">
      <soap:operation soapAction="http://ws.acrosscommunications.com/CallEx2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx3">
      <soap:operation soapAction="http://ws.acrosscommunications.com/CallEx3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HangUp">
      <soap:operation soapAction="http://ws.acrosscommunications.com/HangUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Say" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayWithDigitEvent">
      <soap:operation soapAction="http://ws.acrosscommunications.com/SayWithDigitEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prepare">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Prepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareWebLink">
      <soap:operation soapAction="http://ws.acrosscommunications.com/PrepareWebLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayFile">
      <soap:operation soapAction="http://ws.acrosscommunications.com/PlayFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayFileWithDigitEvent">
      <soap:operation soapAction="http://ws.acrosscommunications.com/PlayFileWithDigitEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayDigits">
      <soap:operation soapAction="http://ws.acrosscommunications.com/PlayDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitDigits">
      <soap:operation soapAction="http://ws.acrosscommunications.com/WaitDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitsFromBuffer">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetDigitsFromBuffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDigitsFromBuffer">
      <soap:operation soapAction="http://ws.acrosscommunications.com/ClearDigitsFromBuffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Record">
      <soap:operation soapAction="http://ws.acrosscommunications.com/Record" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptCall">
      <soap:operation soapAction="http://ws.acrosscommunications.com/AcceptCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectCall">
      <soap:operation soapAction="http://ws.acrosscommunications.com/RejectCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouterId">
      <soap:operation soapAction="http://ws.acrosscommunications.com/GetRouterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhoneSoap12" type="tns:PhoneSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeAudioFile">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/MakeAudioFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMethodDuration">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/GetLastMethodDuration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRecordCall">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/StartRecordCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopRecordCall">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/StopRecordCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSearchString">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/SetSearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchString">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/GetSearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/Release" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Call">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/Call" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/CallEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx2">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/CallEx2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallEx3">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/CallEx3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HangUp">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/HangUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Say">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/Say" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayWithDigitEvent">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/SayWithDigitEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prepare">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/Prepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareWebLink">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/PrepareWebLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayFile">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/PlayFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayFileWithDigitEvent">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/PlayFileWithDigitEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayDigits">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/PlayDigits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitDigits">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/WaitDigits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitsFromBuffer">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/GetDigitsFromBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDigitsFromBuffer">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/ClearDigitsFromBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Record">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/Record" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptCall">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/AcceptCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectCall">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/RejectCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouterId">
      <soap12:operation soapAction="http://ws.acrosscommunications.com/GetRouterId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Phone">
    <wsdl:port name="PhoneSoap" binding="tns:PhoneSoap">
      <soap:address location="http://ws.acrosscommunications.com/Phone.asmx" />
    </wsdl:port>
    <wsdl:port name="PhoneSoap12" binding="tns:PhoneSoap12">
      <soap12:address location="http://ws.acrosscommunications.com/Phone.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>