wsdl_repositories/xmethods/PostItService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nulllogicone.net/schemata/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nulllogicone.net/schemata/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;Services for PostIt (messages by OLI-it)</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nulllogicone.net/schemata/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItCodeDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItStammDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/PostItTopLabDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostIt_AnzahlenDataSet" namespace="http://nulllogicone.net/schemata/PostIt_AnzahlenDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostItStammDataSet" namespace="http://nulllogicone.net/schemata/PostItStammDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostItAnglerDataSet" namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostItDataSet" namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostItTopLabDataSet" namespace="http://nulllogicone.net/schemata/PostItTopLabDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/PostItService.asmx?schema=PostItCodeDataSet" namespace="http://nulllogicone.net/schemata/PostItCodeDataSet.xsd" />
      <s:element name="GetPostItByPostItGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItByPostItGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostItByPostItGuidResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItCodeByPostItGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItCodeByPostItGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostItCodeByPostItGuidResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItCodeDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItStammByPostItGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItStammByPostItGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostItStammByPostItGuidResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItStammDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItAnglerByPostItGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItAnglerByPostItGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostItAnglerByPostItGuidResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItAnglerDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItTopLabByPostItGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pguid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostItTopLabByPostItGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostItTopLabByPostItGuidResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItTopLabDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostIt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdsNeu">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePostItResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OLIServiceAuthentication" type="tns:OLIServiceAuthentication" />
      <s:complexType name="OLIServiceAuthentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stamm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kennwort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kommentar" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="InsertPostIt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdsNeu">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="deadline" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPostItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertPostItResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPostItRDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postItRDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPostItRDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPostItRDFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewestPostIt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewestPostItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewestPostItResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostIt_AnzahlenDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="PostIt_Anzahlen" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://nulllogicone.net/schemata/PostIt_AnzahlenDataSet.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostItByPostItGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostItByPostItGuid" />
  </wsdl:message>
  <wsdl:message name="GetPostItByPostItGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostItByPostItGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostItCodeByPostItGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostItCodeByPostItGuid" />
  </wsdl:message>
  <wsdl:message name="GetPostItCodeByPostItGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostItCodeByPostItGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostItStammByPostItGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostItStammByPostItGuid" />
  </wsdl:message>
  <wsdl:message name="GetPostItStammByPostItGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostItStammByPostItGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostItAnglerByPostItGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostItAnglerByPostItGuid" />
  </wsdl:message>
  <wsdl:message name="GetPostItAnglerByPostItGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostItAnglerByPostItGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostItTopLabByPostItGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostItTopLabByPostItGuid" />
  </wsdl:message>
  <wsdl:message name="GetPostItTopLabByPostItGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostItTopLabByPostItGuidResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePostItSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePostIt" />
  </wsdl:message>
  <wsdl:message name="UpdatePostItSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePostItResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePostItOLIServiceAuthentication">
    <wsdl:part name="OLIServiceAuthentication" element="tns:OLIServiceAuthentication" />
  </wsdl:message>
  <wsdl:message name="InsertPostItSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPostIt" />
  </wsdl:message>
  <wsdl:message name="InsertPostItSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPostItResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPostItOLIServiceAuthentication">
    <wsdl:part name="OLIServiceAuthentication" element="tns:OLIServiceAuthentication" />
  </wsdl:message>
  <wsdl:message name="InsertPostItRDFSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPostItRDF" />
  </wsdl:message>
  <wsdl:message name="InsertPostItRDFSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPostItRDFResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPostItRDFOLIServiceAuthentication">
    <wsdl:part name="OLIServiceAuthentication" element="tns:OLIServiceAuthentication" />
  </wsdl:message>
  <wsdl:message name="NewestPostItSoapIn">
    <wsdl:part name="parameters" element="tns:NewestPostIt" />
  </wsdl:message>
  <wsdl:message name="NewestPostItSoapOut">
    <wsdl:part name="parameters" element="tns:NewestPostItResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPostItRDFHttpGetIn">
    <wsdl:part name="postItRDF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertPostItRDFHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="NewestPostItHttpGetIn">
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NewestPostItHttpGetOut">
    <wsdl:part name="Body" element="tns:PostIt_Anzahlen" />
  </wsdl:message>
  <wsdl:portType name="PostItServiceSoap">
    <wsdl:operation name="GetPostItByPostItGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a PostIt DataSet with 1 PostItRow</wsdl:documentation>
      <wsdl:input message="tns:GetPostItByPostItGuidSoapIn" />
      <wsdl:output message="tns:GetPostItByPostItGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostItCodeByPostItGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All Code (marking) of a PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:GetPostItCodeByPostItGuidSoapIn" />
      <wsdl:output message="tns:GetPostItCodeByPostItGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostItStammByPostItGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All Stamm (authors) of a PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:GetPostItStammByPostItGuidSoapIn" />
      <wsdl:output message="tns:GetPostItStammByPostItGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostItAnglerByPostItGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All Angler (recipient) of a PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:GetPostItAnglerByPostItGuidSoapIn" />
      <wsdl:output message="tns:GetPostItAnglerByPostItGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostItTopLabByPostItGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All TopLab (answers) of a PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:GetPostItTopLabByPostItGuidSoapIn" />
      <wsdl:output message="tns:GetPostItTopLabByPostItGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font color=red&gt;* &lt;/font&gt;Updates a PostIt (message) of an authenticated Stamm (author).</wsdl:documentation>
      <wsdl:input message="tns:UpdatePostItSoapIn" />
      <wsdl:output message="tns:UpdatePostItSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font color=red&gt;* &lt;/font&gt;Creates a new PostIt (message) from the DataSet. If the PostIt-Text already exist, an error will be thrown. If the PostIt is created succesfuly, the credit is set to the symbolic value of 0.01 KooK and it will be linked to its Stamm and then returned.</wsdl:documentation>
      <wsdl:input message="tns:InsertPostItSoapIn" />
      <wsdl:output message="tns:InsertPostItSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPostItRDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font color=red&gt;* &lt;/font&gt;Erstellt ein neues PostIt mit Titel und Text aus dem übergebenen RDF Dokument. Wenn der PostIt-Text bereits existiert, wird ein Fehler zurückgegeben</wsdl:documentation>
      <wsdl:input message="tns:InsertPostItRDFSoapIn" />
      <wsdl:output message="tns:InsertPostItRDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewestPostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Newest PostIt (messages)</wsdl:documentation>
      <wsdl:input message="tns:NewestPostItSoapIn" />
      <wsdl:output message="tns:NewestPostItSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostItServiceHttpGet">
    <wsdl:operation name="InsertPostItRDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;font color=red&gt;* &lt;/font&gt;Erstellt ein neues PostIt mit Titel und Text aus dem übergebenen RDF Dokument. Wenn der PostIt-Text bereits existiert, wird ein Fehler zurückgegeben</wsdl:documentation>
      <wsdl:input message="tns:InsertPostItRDFHttpGetIn" />
      <wsdl:output message="tns:InsertPostItRDFHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NewestPostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Newest PostIt (messages)</wsdl:documentation>
      <wsdl:input message="tns:NewestPostItHttpGetIn" />
      <wsdl:output message="tns:NewestPostItHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostItServiceSoap" type="tns:PostItServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostItByPostItGuid">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetPostItByPostItGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItCodeByPostItGuid">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetPostItCodeByPostItGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItStammByPostItGuid">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetPostItStammByPostItGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItAnglerByPostItGuid">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetPostItAnglerByPostItGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItTopLabByPostItGuid">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetPostItTopLabByPostItGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostIt">
      <soap:operation soapAction="http://nulllogicone.net/schemata/UpdatePostIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdatePostItOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostIt">
      <soap:operation soapAction="http://nulllogicone.net/schemata/InsertPostIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertPostItOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostItRDF">
      <soap:operation soapAction="http://nulllogicone.net/schemata/InsertPostItRDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertPostItRDFOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewestPostIt">
      <soap:operation soapAction="http://nulllogicone.net/schemata/NewestPostIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostItServiceSoap12" type="tns:PostItServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostItByPostItGuid">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetPostItByPostItGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItCodeByPostItGuid">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetPostItCodeByPostItGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItStammByPostItGuid">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetPostItStammByPostItGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItAnglerByPostItGuid">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetPostItAnglerByPostItGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostItTopLabByPostItGuid">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetPostItTopLabByPostItGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostIt">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/UpdatePostIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdatePostItOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostIt">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/InsertPostIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertPostItOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostItRDF">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/InsertPostItRDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertPostItRDFOLIServiceAuthentication" part="OLIServiceAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewestPostIt">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/NewestPostIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostItServiceHttpGet" type="tns:PostItServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertPostItRDF">
      <http:operation location="/InsertPostItRDF" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewestPostIt">
      <http:operation location="/NewestPostIt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostItService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;Services for PostIt (messages by OLI-it)</wsdl:documentation>
    <wsdl:port name="PostItServiceSoap" binding="tns:PostItServiceSoap">
      <soap:address location="http://service.oli-it.com/PostItService.asmx" />
    </wsdl:port>
    <wsdl:port name="PostItServiceSoap12" binding="tns:PostItServiceSoap12">
      <soap12:address location="http://service.oli-it.com/PostItService.asmx" />
    </wsdl:port>
    <wsdl:port name="PostItServiceHttpGet" binding="tns:PostItServiceHttpGet">
      <http:address location="http://service.oli-it.com/PostItService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>