wsdl_repositories/xmethods/StartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nulllogicone.net/schemata/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nulllogicone.net/schemata/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;General Services to get started.&lt;br&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nulllogicone.net/schemata/">
      <s:import namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
      <s:import namespace="http://nulllogicone.net/schemata/JournalDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/StartService.asmx?schema=PostItDataSet" namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
      <s:import schemaLocation="http://service.oli-it.com/StartService.asmx?schema=JournalDataSet" namespace="http://nulllogicone.net/schemata/JournalDataSet.xsd" />
      <s:element name="GetX">
        <s:complexType />
      </s:element>
      <s:element name="GetXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostItSuchen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zeichen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostItSuchenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostItSuchenResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Journal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zeichen" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="anzahl" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JournalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JournalResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/JournalDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RandomPostIt">
        <s:complexType />
      </s:element>
      <s:element name="RandomPostItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RandomPostItResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KennwortVergessen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stammName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KennwortVergessenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KennwortVergessenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="PostItDataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://nulllogicone.net/schemata/PostItDataSet.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JournalDataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://nulllogicone.net/schemata/JournalDataSet.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetXSoapIn">
    <wsdl:part name="parameters" element="tns:GetX" />
  </wsdl:message>
  <wsdl:message name="GetXSoapOut">
    <wsdl:part name="parameters" element="tns:GetXResponse" />
  </wsdl:message>
  <wsdl:message name="PostItSuchenSoapIn">
    <wsdl:part name="parameters" element="tns:PostItSuchen" />
  </wsdl:message>
  <wsdl:message name="PostItSuchenSoapOut">
    <wsdl:part name="parameters" element="tns:PostItSuchenResponse" />
  </wsdl:message>
  <wsdl:message name="JournalSoapIn">
    <wsdl:part name="parameters" element="tns:Journal" />
  </wsdl:message>
  <wsdl:message name="JournalSoapOut">
    <wsdl:part name="parameters" element="tns:JournalResponse" />
  </wsdl:message>
  <wsdl:message name="RandomPostItSoapIn">
    <wsdl:part name="parameters" element="tns:RandomPostIt" />
  </wsdl:message>
  <wsdl:message name="RandomPostItSoapOut">
    <wsdl:part name="parameters" element="tns:RandomPostItResponse" />
  </wsdl:message>
  <wsdl:message name="KennwortVergessenSoapIn">
    <wsdl:part name="parameters" element="tns:KennwortVergessen" />
  </wsdl:message>
  <wsdl:message name="KennwortVergessenSoapOut">
    <wsdl:part name="parameters" element="tns:KennwortVergessenResponse" />
  </wsdl:message>
  <wsdl:message name="GetXHttpGetIn" />
  <wsdl:message name="GetXHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostItSuchenHttpGetIn">
    <wsdl:part name="zeichen" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostItSuchenHttpGetOut">
    <wsdl:part name="Body" element="tns:PostItDataSet" />
  </wsdl:message>
  <wsdl:message name="JournalHttpGetIn">
    <wsdl:part name="zeichen" type="s:string" />
    <wsdl:part name="anzahl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JournalHttpGetOut">
    <wsdl:part name="Body" element="tns:JournalDataSet" />
  </wsdl:message>
  <wsdl:message name="RandomPostItHttpGetIn" />
  <wsdl:message name="RandomPostItHttpGetOut">
    <wsdl:part name="Body" element="tns:PostItDataSet" />
  </wsdl:message>
  <wsdl:message name="KennwortVergessenHttpGetIn">
    <wsdl:part name="applicationName" type="s:string" />
    <wsdl:part name="stammName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KennwortVergessenHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="StartServiceSoap">
    <wsdl:operation name="GetX">
      <wsdl:input message="tns:GetXSoapIn" />
      <wsdl:output message="tns:GetXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostItSuchen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">search PostIt (messages) containing the specified characters</wsdl:documentation>
      <wsdl:input message="tns:PostItSuchenSoapIn" />
      <wsdl:output message="tns:PostItSuchenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Journal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">shows the newest entries - the first parameter can be empty or specifies, wich elements will be returned [SAPT]. Anzahl (count) can be in a range from 1 to 50 </wsdl:documentation>
      <wsdl:input message="tns:JournalSoapIn" />
      <wsdl:output message="tns:JournalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RandomPostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a random PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:RandomPostItSoapIn" />
      <wsdl:output message="tns:RandomPostItSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KennwortVergessen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send an Email to the given Stamm with its Password</wsdl:documentation>
      <wsdl:input message="tns:KennwortVergessenSoapIn" />
      <wsdl:output message="tns:KennwortVergessenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StartServiceHttpGet">
    <wsdl:operation name="GetX">
      <wsdl:input message="tns:GetXHttpGetIn" />
      <wsdl:output message="tns:GetXHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PostItSuchen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">search PostIt (messages) containing the specified characters</wsdl:documentation>
      <wsdl:input message="tns:PostItSuchenHttpGetIn" />
      <wsdl:output message="tns:PostItSuchenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Journal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">shows the newest entries - the first parameter can be empty or specifies, wich elements will be returned [SAPT]. Anzahl (count) can be in a range from 1 to 50 </wsdl:documentation>
      <wsdl:input message="tns:JournalHttpGetIn" />
      <wsdl:output message="tns:JournalHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RandomPostIt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a random PostIt (message)</wsdl:documentation>
      <wsdl:input message="tns:RandomPostItHttpGetIn" />
      <wsdl:output message="tns:RandomPostItHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="KennwortVergessen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send an Email to the given Stamm with its Password</wsdl:documentation>
      <wsdl:input message="tns:KennwortVergessenHttpGetIn" />
      <wsdl:output message="tns:KennwortVergessenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StartServiceSoap" type="tns:StartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetX">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostItSuchen">
      <soap:operation soapAction="http://nulllogicone.net/schemata/PostItSuchen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Journal">
      <soap:operation soapAction="http://nulllogicone.net/schemata/Journal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomPostIt">
      <soap:operation soapAction="http://nulllogicone.net/schemata/RandomPostIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KennwortVergessen">
      <soap:operation soapAction="http://nulllogicone.net/schemata/KennwortVergessen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StartServiceSoap12" type="tns:StartServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetX">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostItSuchen">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/PostItSuchen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Journal">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/Journal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomPostIt">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/RandomPostIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KennwortVergessen">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/KennwortVergessen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StartServiceHttpGet" type="tns:StartServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetX">
      <http:operation location="/GetX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostItSuchen">
      <http:operation location="/PostItSuchen" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Journal">
      <http:operation location="/Journal" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomPostIt">
      <http:operation location="/RandomPostIt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KennwortVergessen">
      <http:operation location="/KennwortVergessen" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StartService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;General Services to get started.&lt;br&gt;</wsdl:documentation>
    <wsdl:port name="StartServiceSoap" binding="tns:StartServiceSoap">
      <soap:address location="http://service.oli-it.com/StartService.asmx" />
    </wsdl:port>
    <wsdl:port name="StartServiceSoap12" binding="tns:StartServiceSoap12">
      <soap12:address location="http://service.oli-it.com/StartService.asmx" />
    </wsdl:port>
    <wsdl:port name="StartServiceHttpGet" binding="tns:StartServiceHttpGet">
      <http:address location="http://service.oli-it.com/StartService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>