wsdl_repositories/xmethods/televerification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.telesign.com/api/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.telesign.com/api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Telesign Application Programming Interface (API) - Simple Object Access Protocol (SOAP)</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.telesign.com/api/">
      <s:element name="RequestAPIversion">
        <s:complexType />
      </s:element>
      <s:element name="RequestAPIversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAPIversionResult" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Version">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VerificationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSMSResult" type="tns:SMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="APIErrorResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestPhoneID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPhoneIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestPhoneIDResult" type="tns:PhoneID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhoneID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CleansedPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CleansedCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryMetroCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZoneUTCMin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZoneUTCMax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MinNumLength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxNumLength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeofPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestSTATUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VerificationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestSTATUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestSTATUSResult" type="tns:STATUS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="STATUS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VerificationCodeValid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Additional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyPress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestCALL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VerificationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DelayTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RedialCount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtensionContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtensionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CallType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CallerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Project" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Additional" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCALLResult" type="tns:Call" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Call">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestPhoneIDPlatinum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPhoneIDPlatinumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestPhoneIDPlatinumResult" type="tns:PhoneIDPlatinum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhoneIDPlatinum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CleansedPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CleansedCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryMetroCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneCounty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneLatitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneLongitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneCountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MinNumLength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxNumLength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeofPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewAreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dialable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PointCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetPreDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetPostDirection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressZipPlus4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetNameAccent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCityAccent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressStateAccent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIPSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RouteTypeDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RouteTypeNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressTimeZoneCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressTimeZoneUTCMin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressTimeZoneUTCMax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DSTObserved" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpatiallyInconsistent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestInformationQualityScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestInformationQualityScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestInformationQualityScoreResult" type="tns:InformationQualityScore" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InformationQualityScore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneVerify" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListingType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidPhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InService6M" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OnDoNotCall" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NearAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecentChange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BasedOnPhoneNumber" type="tns:BasedOnPhoneNumberResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="BasedOnAddress" type="tns:BasedOnAddressResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardizedAddress" type="tns:StandardizedAddressResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BasedOnPhoneNumberResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BasedOnAddressResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StandardizedAddressResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="line2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestFraudAnalyzer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BinName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BinPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ForwardedIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailMD5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UsernameMD5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordMD5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShipCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShipRegion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShipZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ShipCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserAgent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BrowserLanguage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestFraudAnalyzerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestFraudAnalyzerResult" type="tns:FraudAnalyzer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FraudAnalyzer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HighRiskCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPBillingDistance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPLatitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPLongitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPISP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPOrg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnonymousProxy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProxyScore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsTransparentProxy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FreeEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HighRiskEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HighRiskPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HighRiskUsername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinNameMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinPhoneMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumberInBillingLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipForward" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityZipMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipCityZipMatch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FraudScore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FraudScoreDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIError" type="tns:APIErrorResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="Version" nillable="true" type="tns:Version" />
      <s:element name="SMS" nillable="true" type="tns:SMS" />
      <s:element name="PhoneID" nillable="true" type="tns:PhoneID" />
      <s:element name="STATUS" nillable="true" type="tns:STATUS" />
      <s:element name="Call" nillable="true" type="tns:Call" />
      <s:element name="PhoneIDPlatinum" nillable="true" type="tns:PhoneIDPlatinum" />
      <s:element name="InformationQualityScore" nillable="true" type="tns:InformationQualityScore" />
      <s:element name="FraudAnalyzer" nillable="true" type="tns:FraudAnalyzer" />
    </s:schema>
    <xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RequestAPIversionSoapIn">
    <wsdl:part name="parameters" element="tns:RequestAPIversion" />
  </wsdl:message>
  <wsdl:message name="RequestAPIversionSoapOut">
    <wsdl:part name="parameters" element="tns:RequestAPIversionResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSMSSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSMS" />
  </wsdl:message>
  <wsdl:message name="RequestSMSSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSMSResponse" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPhoneID" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPhoneIDResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSTATUSSoapIn">
    <wsdl:part name="parameters" element="tns:RequestSTATUS" />
  </wsdl:message>
  <wsdl:message name="RequestSTATUSSoapOut">
    <wsdl:part name="parameters" element="tns:RequestSTATUSResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCALLSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCALL" />
  </wsdl:message>
  <wsdl:message name="RequestCALLSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCALLResponse" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDPlatinumSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPhoneIDPlatinum" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDPlatinumSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPhoneIDPlatinumResponse" />
  </wsdl:message>
  <wsdl:message name="RequestInformationQualityScoreSoapIn">
    <wsdl:part name="parameters" element="tns:RequestInformationQualityScore" />
  </wsdl:message>
  <wsdl:message name="RequestInformationQualityScoreSoapOut">
    <wsdl:part name="parameters" element="tns:RequestInformationQualityScoreResponse" />
  </wsdl:message>
  <wsdl:message name="RequestFraudAnalyzerSoapIn">
    <wsdl:part name="parameters" element="tns:RequestFraudAnalyzer" />
  </wsdl:message>
  <wsdl:message name="RequestFraudAnalyzerSoapOut">
    <wsdl:part name="parameters" element="tns:RequestFraudAnalyzerResponse" />
  </wsdl:message>
  <wsdl:message name="RequestAPIversionHttpGetIn" />
  <wsdl:message name="RequestAPIversionHttpGetOut">
    <wsdl:part name="Body" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="RequestSMSHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="CountryCode" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="VerificationCode" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:SMS" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="CountryCode" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDHttpGetOut">
    <wsdl:part name="Body" element="tns:PhoneID" />
  </wsdl:message>
  <wsdl:message name="RequestSTATUSHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="ReferenceID" type="s:string" />
    <wsdl:part name="VerificationCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestSTATUSHttpGetOut">
    <wsdl:part name="Body" element="tns:STATUS" />
  </wsdl:message>
  <wsdl:message name="RequestCALLHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="CountryCode" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="VerificationCode" type="s:string" />
    <wsdl:part name="Priority" type="s:string" />
    <wsdl:part name="DelayTime" type="s:string" />
    <wsdl:part name="RedialCount" type="s:string" />
    <wsdl:part name="ExtensionContent" type="s:string" />
    <wsdl:part name="ExtensionType" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="CallType" type="s:string" />
    <wsdl:part name="CallerID" type="s:string" />
    <wsdl:part name="Project" type="s:string" />
    <wsdl:part name="Additional" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestCALLHttpGetOut">
    <wsdl:part name="Body" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDPlatinumHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="CountryCode" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestPhoneIDPlatinumHttpGetOut">
    <wsdl:part name="Body" element="tns:PhoneIDPlatinum" />
  </wsdl:message>
  <wsdl:message name="RequestInformationQualityScoreHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="CountryCode" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="NameType" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Street" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestInformationQualityScoreHttpGetOut">
    <wsdl:part name="Body" element="tns:InformationQualityScore" />
  </wsdl:message>
  <wsdl:message name="RequestFraudAnalyzerHttpGetIn">
    <wsdl:part name="CustomerID" type="s:string" />
    <wsdl:part name="AuthenticationID" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Region" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="Domain" type="s:string" />
    <wsdl:part name="Bin" type="s:string" />
    <wsdl:part name="BinName" type="s:string" />
    <wsdl:part name="BinPhone" type="s:string" />
    <wsdl:part name="PhoneNumber" type="s:string" />
    <wsdl:part name="ForwardedIP" type="s:string" />
    <wsdl:part name="EmailMD5" type="s:string" />
    <wsdl:part name="UsernameMD5" type="s:string" />
    <wsdl:part name="PasswordMD5" type="s:string" />
    <wsdl:part name="ShipAddress" type="s:string" />
    <wsdl:part name="ShipCity" type="s:string" />
    <wsdl:part name="ShipRegion" type="s:string" />
    <wsdl:part name="ShipZip" type="s:string" />
    <wsdl:part name="ShipCountry" type="s:string" />
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="UserAgent" type="s:string" />
    <wsdl:part name="BrowserLanguage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestFraudAnalyzerHttpGetOut">
    <wsdl:part name="Body" element="tns:FraudAnalyzer" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="TelesignAPISoap">
    <wsdl:operation name="RequestAPIversion">
      <wsdl:input message="tns:RequestAPIversionSoapIn" />
      <wsdl:output message="tns:RequestAPIversionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSMS">
      <wsdl:input message="tns:RequestSMSSoapIn" />
      <wsdl:output message="tns:RequestSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestPhoneID">
      <wsdl:input message="tns:RequestPhoneIDSoapIn" />
      <wsdl:output message="tns:RequestPhoneIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestSTATUS">
      <wsdl:input message="tns:RequestSTATUSSoapIn" />
      <wsdl:output message="tns:RequestSTATUSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCALL">
      <wsdl:input message="tns:RequestCALLSoapIn" />
      <wsdl:output message="tns:RequestCALLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TelesignAPISoap" type="tns:TelesignAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestAPIversion">
      <soap:operation soapAction="https://www.telesign.com/api/RequestAPIversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSMS">
      <soap:operation soapAction="https://www.telesign.com/api/RequestSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPhoneID">
      <soap:operation soapAction="https://www.telesign.com/api/RequestPhoneID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSTATUS">
      <soap:operation soapAction="https://www.telesign.com/api/RequestSTATUS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCALL">
      <soap:operation soapAction="https://www.telesign.com/api/RequestCALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/TeleSign/televerification/TelesignAPI/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelesignAPI">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Telesign Application Programming Interface (API) - Simple Object Access Protocol (SOAP)</wsdl:documentation>
    <wsdl:port name="TelesignAPISoap" binding="tns:TelesignAPISoap">
      <soap:address location="http://ws.strikeiron.com/TeleSign/televerification/TelesignAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>