wsdl_repositories/xmethods/WortraumService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nulllogicone.net/schemata/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nulllogicone.net/schemata/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;All services for the Wortraum (ontology).</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nulllogicone.net/schemata/">
      <s:import schemaLocation="http://service.oli-it.com/WortraumService.asmx?schema=NKBZDataSet" namespace="http://nulllogicone.net/schemata/NKBZ.xsd" />
      <s:element name="GetNKBZ">
        <s:complexType />
      </s:element>
      <s:element name="GetNKBZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNKBZResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://nulllogicone.net/schemata/NKBZ.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNKBZ_RDF">
        <s:complexType />
      </s:element>
      <s:element name="GetNKBZ_RDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNKBZ_RDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NKBZ" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://nulllogicone.net/schemata/NKBZ.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNKBZSoapIn">
    <wsdl:part name="parameters" element="tns:GetNKBZ" />
  </wsdl:message>
  <wsdl:message name="GetNKBZSoapOut">
    <wsdl:part name="parameters" element="tns:GetNKBZResponse" />
  </wsdl:message>
  <wsdl:message name="GetNKBZ_RDFSoapIn">
    <wsdl:part name="parameters" element="tns:GetNKBZ_RDF" />
  </wsdl:message>
  <wsdl:message name="GetNKBZ_RDFSoapOut">
    <wsdl:part name="parameters" element="tns:GetNKBZ_RDFResponse" />
  </wsdl:message>
  <wsdl:message name="GetNKBZHttpGetIn" />
  <wsdl:message name="GetNKBZHttpGetOut">
    <wsdl:part name="Body" element="tns:NKBZ" />
  </wsdl:message>
  <wsdl:message name="GetNKBZ_RDFHttpGetIn" />
  <wsdl:message name="GetNKBZ_RDFHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WortraumServiceSoap">
    <wsdl:operation name="GetNKBZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a NKBZ DataSet with 4 tables Netz, Knoten, Baum and Zweig. Response ~600 kB !!</wsdl:documentation>
      <wsdl:input message="tns:GetNKBZSoapIn" />
      <wsdl:output message="tns:GetNKBZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNKBZ_RDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the ontology (NKBZ) as RDF document. Response ~900 kB !!</wsdl:documentation>
      <wsdl:input message="tns:GetNKBZ_RDFSoapIn" />
      <wsdl:output message="tns:GetNKBZ_RDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WortraumServiceHttpGet">
    <wsdl:operation name="GetNKBZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a NKBZ DataSet with 4 tables Netz, Knoten, Baum and Zweig. Response ~600 kB !!</wsdl:documentation>
      <wsdl:input message="tns:GetNKBZHttpGetIn" />
      <wsdl:output message="tns:GetNKBZHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNKBZ_RDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the ontology (NKBZ) as RDF document. Response ~900 kB !!</wsdl:documentation>
      <wsdl:input message="tns:GetNKBZ_RDFHttpGetIn" />
      <wsdl:output message="tns:GetNKBZ_RDFHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WortraumServiceSoap" type="tns:WortraumServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNKBZ">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetNKBZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNKBZ_RDF">
      <soap:operation soapAction="http://nulllogicone.net/schemata/GetNKBZ_RDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WortraumServiceSoap12" type="tns:WortraumServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNKBZ">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetNKBZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNKBZ_RDF">
      <soap12:operation soapAction="http://nulllogicone.net/schemata/GetNKBZ_RDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WortraumServiceHttpGet" type="tns:WortraumServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetNKBZ">
      <http:operation location="/GetNKBZ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNKBZ_RDF">
      <http:operation location="/GetNKBZ_RDF" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WortraumService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;img style='float:right;' src='http://www.oli-it.com/images/oli-it_128.jpg'&gt;&lt;a href='http://service.oli-it.com/'&gt;zurück zur Übersicht&lt;/a&gt;&lt;br&gt;All services for the Wortraum (ontology).</wsdl:documentation>
    <wsdl:port name="WortraumServiceSoap" binding="tns:WortraumServiceSoap">
      <soap:address location="http://service.oli-it.com/WortraumService.asmx" />
    </wsdl:port>
    <wsdl:port name="WortraumServiceSoap12" binding="tns:WortraumServiceSoap12">
      <soap12:address location="http://service.oli-it.com/WortraumService.asmx" />
    </wsdl:port>
    <wsdl:port name="WortraumServiceHttpGet" binding="tns:WortraumServiceHttpGet">
      <http:address location="http://service.oli-it.com/WortraumService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>