wsdl_repositories/xmethods/xIndices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.xignite.com/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.xignite.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service provides market index information.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xignite.com/services/">
      <s:element name="GetMarketSummary">
        <s:complexType />
      </s:element>
      <s:element name="GetMarketSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMarketSummaryResult" type="tns:MarketSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MarketSummary">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="tns:ArrayOfIndex" />
              <s:element minOccurs="0" maxOccurs="1" name="Indicators" type="tns:ArrayOfIndicator" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Common">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OutcomeTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="SystemError" />
          <s:enumeration value="RequestError" />
          <s:enumeration value="RegistrationError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Index" nillable="true" type="tns:Index" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Index">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIndicator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Indicator" nillable="true" type="tns:Indicator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Indicator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Header" type="tns:Header" />
      <s:complexType name="Header">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetExchangeSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Exchange" type="tns:ExchangeTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ExchangeTypes">
        <s:restriction base="s:string">
          <s:enumeration value="NYSE" />
          <s:enumeration value="AMEX" />
          <s:enumeration value="NASDAQCM" />
          <s:enumeration value="NASDAQGM" />
          <s:enumeration value="NASDAQGS" />
          <s:enumeration value="PINKSHEETS" />
          <s:enumeration value="OTCBB" />
          <s:enumeration value="OTHEROTC" />
          <s:enumeration value="AIM" />
          <s:enumeration value="AMMAN" />
          <s:enumeration value="AMSTERDAM" />
          <s:enumeration value="ASX" />
          <s:enumeration value="ATHENS" />
          <s:enumeration value="BAHRAIN" />
          <s:enumeration value="BANGKOK" />
          <s:enumeration value="BARCELONA" />
          <s:enumeration value="BEIRUT" />
          <s:enumeration value="BERLIN" />
          <s:enumeration value="BERMUDA" />
          <s:enumeration value="BILBAO" />
          <s:enumeration value="BOGOTA" />
          <s:enumeration value="BOSTWANA" />
          <s:enumeration value="BOVESPA" />
          <s:enumeration value="BRASTISLAVA" />
          <s:enumeration value="BREMEN" />
          <s:enumeration value="BRUSSELS" />
          <s:enumeration value="BUCHAREST" />
          <s:enumeration value="BUDAPEST" />
          <s:enumeration value="BUENOSAIRES" />
          <s:enumeration value="BULGARIA" />
          <s:enumeration value="CAIRO" />
          <s:enumeration value="CARACAS" />
          <s:enumeration value="CASABLANCA" />
          <s:enumeration value="COLOMBO" />
          <s:enumeration value="COPENHAGEN" />
          <s:enumeration value="CYPRUS" />
          <s:enumeration value="DARESSALAAM" />
          <s:enumeration value="DHAKA" />
          <s:enumeration value="DUSSELDORF" />
          <s:enumeration value="EASDAQ" />
          <s:enumeration value="EUWAX" />
          <s:enumeration value="FRANKFURT" />
          <s:enumeration value="FUKUOKA" />
          <s:enumeration value="GHANA" />
          <s:enumeration value="GRETAI" />
          <s:enumeration value="GUAYAQUIL" />
          <s:enumeration value="HAMBURG" />
          <s:enumeration value="HANOVER" />
          <s:enumeration value="HELSINKI" />
          <s:enumeration value="HIROSHIMA" />
          <s:enumeration value="HONGKONG" />
          <s:enumeration value="ICELAND" />
          <s:enumeration value="INDIA" />
          <s:enumeration value="IRISH" />
          <s:enumeration value="ISTANBUL" />
          <s:enumeration value="JAKARTA" />
          <s:enumeration value="JASDAQ" />
          <s:enumeration value="JOHANNESBURG" />
          <s:enumeration value="KARACHI" />
          <s:enumeration value="KOREA" />
          <s:enumeration value="KOSDAQ" />
          <s:enumeration value="KUALALUMPUR" />
          <s:enumeration value="KUWAIT" />
          <s:enumeration value="KYOTO" />
          <s:enumeration value="LIMA" />
          <s:enumeration value="LISBON" />
          <s:enumeration value="LJUBLJANA" />
          <s:enumeration value="LSE" />
          <s:enumeration value="LUSAKA" />
          <s:enumeration value="LUXEMBURG" />
          <s:enumeration value="MACEDONIA" />
          <s:enumeration value="MADRID" />
          <s:enumeration value="MALAWI" />
          <s:enumeration value="MALTA" />
          <s:enumeration value="MANILA" />
          <s:enumeration value="MEXICO" />
          <s:enumeration value="MILAN" />
          <s:enumeration value="MONTEVIDEO" />
          <s:enumeration value="MUMBAI" />
          <s:enumeration value="MUNICH" />
          <s:enumeration value="NAGOYA" />
          <s:enumeration value="NAIROBI" />
          <s:enumeration value="NAMIBIA" />
          <s:enumeration value="NASDAQ" />
          <s:enumeration value="NEWZEALAND" />
          <s:enumeration value="NIGERIA" />
          <s:enumeration value="NIIGATA" />
          <s:enumeration value="NCSX" />
          <s:enumeration value="OMAN" />
          <s:enumeration value="OSAKA" />
          <s:enumeration value="OSLO" />
          <s:enumeration value="PALESTINE" />
          <s:enumeration value="PARIS" />
          <s:enumeration value="PRAGUE" />
          <s:enumeration value="QUITO" />
          <s:enumeration value="RIGA" />
          <s:enumeration value="RIODEJANEIRO" />
          <s:enumeration value="RTSRUB" />
          <s:enumeration value="RTSUSD" />
          <s:enumeration value="SANTIAGO" />
          <s:enumeration value="SAPPORO" />
          <s:enumeration value="SHANGHAI" />
          <s:enumeration value="SHENZEN" />
          <s:enumeration value="SINGAPORE" />
          <s:enumeration value="STOCKHOLM" />
          <s:enumeration value="STPETERSBURG" />
          <s:enumeration value="STUTTGART" />
          <s:enumeration value="SURABAYA" />
          <s:enumeration value="SWAZILAND" />
          <s:enumeration value="SWISS" />
          <s:enumeration value="TAIWAN" />
          <s:enumeration value="TAIWANOTC" />
          <s:enumeration value="TALLINN" />
          <s:enumeration value="TEHRAN" />
          <s:enumeration value="TELAVIV" />
          <s:enumeration value="TOKYO" />
          <s:enumeration value="TSX" />
          <s:enumeration value="TSXV" />
          <s:enumeration value="VALENCIA" />
          <s:enumeration value="VIENNA" />
          <s:enumeration value="VILNIUS" />
          <s:enumeration value="VIRTX" />
          <s:enumeration value="WARSAW" />
          <s:enumeration value="XETRA" />
          <s:enumeration value="ZAGREB" />
          <s:enumeration value="ZIMBABWE" />
          <s:enumeration value="NASDAQNM" />
          <s:enumeration value="NASDAQSC" />
          <s:enumeration value="FUNDS" />
          <s:enumeration value="NYSEARCA" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetExchangeSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExchangeSummaryResult" type="tns:ExchangeSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExchangeSummary">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Exchange" type="tns:ExchangeTypes" />
              <s:element minOccurs="1" maxOccurs="1" name="NewHighs" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="NewLows" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="SharesAdvancing" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="SharesDeclining" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="SharesUnchanged" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="AdvancesDeclinesRatio" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetIndices">
        <s:complexType />
      </s:element>
      <s:element name="GetIndicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndicesResult" type="tns:ArrayOfMarketIndex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMarketIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MarketIndex" nillable="true" type="tns:MarketIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MarketIndex">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ListIndices">
        <s:complexType />
      </s:element>
      <s:element name="ListIndicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListIndicesResult" type="tns:ArrayOfSecurity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSecurity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Security" nillable="true" type="tns:Security" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Security">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ListAllIndices">
        <s:complexType />
      </s:element>
      <s:element name="ListAllIndicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllIndicesResult" type="tns:ArrayOfIndexDescription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndexDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndexDescription" nillable="true" type="tns:IndexDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndexDescription">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sector" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ListIndexCriteria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CriteriaType" type="tns:IndexCriteriaTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="IndexCriteriaTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Country" />
          <s:enumeration value="Sector" />
          <s:enumeration value="Family" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ListIndexCriteriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListIndexCriteriaResult" type="tns:ArrayOfCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Criteria" nillable="true" type="tns:Criteria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Criteria">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ListIndicesByFamily">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListIndicesByFamilyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListIndicesByFamilyResult" type="tns:ArrayOfIndexDescription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListIndicesByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListIndicesByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListIndicesByCountryResult" type="tns:ArrayOfIndexDescription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListIndicesBySector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sector" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListIndicesBySectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListIndicesBySectorResult" type="tns:ArrayOfIndexDescription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelayedValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="IdentifierTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Symbol" />
          <s:enumeration value="CIK" />
          <s:enumeration value="CUSIP" />
          <s:enumeration value="ISIN" />
          <s:enumeration value="Valoren" />
          <s:enumeration value="SEDOL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDelayedValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDelayedValueResult" type="tns:IndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IndexQuote">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
              <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="LastClose" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="High" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ChangeFromOpen" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromOpen" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ChangeFromLastClose" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromLastClose" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDelayedValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelayedValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDelayedValuesResult" type="tns:ArrayOfIndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndexQuote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndexQuote" nillable="true" type="tns:IndexQuote" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLastClosingValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastClosingValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastClosingValueResult" type="tns:IndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastClosingValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastClosingValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastClosingValuesResult" type="tns:ArrayOfIndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
            <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValueResult" type="tns:IndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
            <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesResult" type="tns:ArrayOfIndexQuote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValuesAsOf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:PeriodTypes" />
            <s:element minOccurs="1" maxOccurs="1" name="Periods" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PeriodTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Day" />
          <s:enumeration value="Week" />
          <s:enumeration value="Month" />
          <s:enumeration value="Quarter" />
          <s:enumeration value="Year" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetHistoricalValuesAsOfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesAsOfResult" type="tns:IndexQuotes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IndexQuotes">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
              <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Indices" type="tns:ArrayOfIndexQuote" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetHistoricalValuesRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalValuesRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesRangeResult" type="tns:IndexQuotes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexComponents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexComponentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexComponentsResult" type="tns:Components" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Components">
        <s:complexContent mixed="false">
          <s:extension base="tns:Common">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
              <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Components" type="tns:ArrayOfComponent" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfComponent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="tns:Component" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Component">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustmentFactor" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexComponentWeightType" type="tns:IndexComponentWeightTypes" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="IndexComponentWeightTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="MarketCapitalizationWeighted" />
          <s:enumeration value="EqualWeighted" />
          <s:enumeration value="PriceWeighted" />
          <s:enumeration value="MarketCapitalizationWeightedWithLimits" />
          <s:enumeration value="OtherWeighting" />
        </s:restriction>
      </s:simpleType>
      <s:element name="MarketSummary" nillable="true" type="tns:MarketSummary" />
      <s:element name="ExchangeSummary" nillable="true" type="tns:ExchangeSummary" />
      <s:element name="ArrayOfMarketIndex" nillable="true" type="tns:ArrayOfMarketIndex" />
      <s:element name="ArrayOfSecurity" nillable="true" type="tns:ArrayOfSecurity" />
      <s:element name="ArrayOfIndexDescription" nillable="true" type="tns:ArrayOfIndexDescription" />
      <s:element name="ArrayOfCriteria" nillable="true" type="tns:ArrayOfCriteria" />
      <s:element name="IndexQuote" nillable="true" type="tns:IndexQuote" />
      <s:element name="ArrayOfIndexQuote" nillable="true" type="tns:ArrayOfIndexQuote" />
      <s:element name="IndexQuotes" nillable="true" type="tns:IndexQuotes" />
      <s:element name="Components" nillable="true" type="tns:Components" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMarketSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetMarketSummary" />
  </wsdl:message>
  <wsdl:message name="GetMarketSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetMarketSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetExchangeSummary" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetExchangeSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummaryHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetIndicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndices" />
  </wsdl:message>
  <wsdl:message name="GetIndicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndicesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListIndicesSoapIn">
    <wsdl:part name="parameters" element="tns:ListIndices" />
  </wsdl:message>
  <wsdl:message name="ListIndicesSoapOut">
    <wsdl:part name="parameters" element="tns:ListIndicesResponse" />
  </wsdl:message>
  <wsdl:message name="ListIndicesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListAllIndicesSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllIndices" />
  </wsdl:message>
  <wsdl:message name="ListAllIndicesSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllIndicesResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllIndicesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaSoapIn">
    <wsdl:part name="parameters" element="tns:ListIndexCriteria" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaSoapOut">
    <wsdl:part name="parameters" element="tns:ListIndexCriteriaResponse" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilySoapIn">
    <wsdl:part name="parameters" element="tns:ListIndicesByFamily" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilySoapOut">
    <wsdl:part name="parameters" element="tns:ListIndicesByFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilyHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:ListIndicesByCountry" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:ListIndicesByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountryHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorSoapIn">
    <wsdl:part name="parameters" element="tns:ListIndicesBySector" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorSoapOut">
    <wsdl:part name="parameters" element="tns:ListIndicesBySectorResponse" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetDelayedValue" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetDelayedValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDelayedValues" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDelayedValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastClosingValue" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastClosingValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastClosingValues" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastClosingValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalValue" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalValues" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalValuesAsOf" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalValuesAsOfResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoricalValuesRange" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoricalValuesRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexComponents" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexComponentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHeader">
    <wsdl:part name="Header" element="tns:Header" />
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHttpGetIn" />
  <wsdl:message name="GetMarketSummaryHttpGetOut">
    <wsdl:part name="Body" element="tns:MarketSummary" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummaryHttpGetIn">
    <wsdl:part name="Exchange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummaryHttpGetOut">
    <wsdl:part name="Body" element="tns:ExchangeSummary" />
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpGetIn" />
  <wsdl:message name="GetIndicesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMarketIndex" />
  </wsdl:message>
  <wsdl:message name="ListIndicesHttpGetIn" />
  <wsdl:message name="ListIndicesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSecurity" />
  </wsdl:message>
  <wsdl:message name="ListAllIndicesHttpGetIn" />
  <wsdl:message name="ListAllIndicesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaHttpGetIn">
    <wsdl:part name="CriteriaType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCriteria" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilyHttpGetIn">
    <wsdl:part name="Family" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilyHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountryHttpGetIn">
    <wsdl:part name="Country" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorHttpGetIn">
    <wsdl:part name="Sector" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpGetOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpGetIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpGetOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpGetIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="AsOfDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpGetOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpGetIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="AsOfDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PeriodType" type="s:string" />
    <wsdl:part name="Periods" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpGetOut">
    <wsdl:part name="Body" element="tns:IndexQuotes" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpGetOut">
    <wsdl:part name="Body" element="tns:IndexQuotes" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpGetIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpGetOut">
    <wsdl:part name="Body" element="tns:Components" />
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHttpPostIn" />
  <wsdl:message name="GetMarketSummaryHttpPostOut">
    <wsdl:part name="Body" element="tns:MarketSummary" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummaryHttpPostIn">
    <wsdl:part name="Exchange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetExchangeSummaryHttpPostOut">
    <wsdl:part name="Body" element="tns:ExchangeSummary" />
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpPostIn" />
  <wsdl:message name="GetIndicesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMarketIndex" />
  </wsdl:message>
  <wsdl:message name="ListIndicesHttpPostIn" />
  <wsdl:message name="ListIndicesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSecurity" />
  </wsdl:message>
  <wsdl:message name="ListAllIndicesHttpPostIn" />
  <wsdl:message name="ListAllIndicesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaHttpPostIn">
    <wsdl:part name="CriteriaType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndexCriteriaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCriteria" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilyHttpPostIn">
    <wsdl:part name="Family" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByFamilyHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountryHttpPostIn">
    <wsdl:part name="Country" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesByCountryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorHttpPostIn">
    <wsdl:part name="Sector" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListIndicesBySectorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexDescription" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpPostOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpPostIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpPostOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpPostIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="AsOfDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpPostOut">
    <wsdl:part name="Body" element="tns:IndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpPostIn">
    <wsdl:part name="Identifiers" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="AsOfDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfIndexQuote" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PeriodType" type="s:string" />
    <wsdl:part name="Periods" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpPostOut">
    <wsdl:part name="Body" element="tns:IndexQuotes" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpPostOut">
    <wsdl:part name="Body" element="tns:IndexQuotes" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpPostIn">
    <wsdl:part name="Identifier" type="s:string" />
    <wsdl:part name="IdentifierType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpPostOut">
    <wsdl:part name="Body" element="tns:Components" />
  </wsdl:message>
  <wsdl:portType name="XigniteIndicesSoap">
    <wsdl:operation name="GetMarketSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current market level for the Dow, Nasdaq and S&amp;amp;P indices as well as the NYSE and NASDAQ volumes and the 10 Year Bond index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketSummarySoapIn" />
      <wsdl:output message="tns:GetMarketSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns summary information about an exchange trading day.</wsdl:documentation>
      <wsdl:input message="tns:GetExchangeSummarySoapIn" />
      <wsdl:output message="tns:GetExchangeSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last value, change, percent change and category information for a collection of US market indices including Dow Jones Averages, NYSE, AMEX, NASDAQ, Standard &amp;amp; Poor's, Commodities, Treasuries and other U.S. Indices.</wsdl:documentation>
      <wsdl:input message="tns:GetIndicesSoapIn" />
      <wsdl:output message="tns:GetIndicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesSoapIn" />
      <wsdl:output message="tns:ListIndicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListAllIndicesSoapIn" />
      <wsdl:output message="tns:ListAllIndicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndexCriteriaSoapIn" />
      <wsdl:output message="tns:ListIndexCriteriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by index family.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByFamilySoapIn" />
      <wsdl:output message="tns:ListIndicesByFamilySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by country.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByCountrySoapIn" />
      <wsdl:output message="tns:ListIndicesByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by sector.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesBySectorSoapIn" />
      <wsdl:output message="tns:ListIndicesBySectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValueSoapIn" />
      <wsdl:output message="tns:GetDelayedValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValuesSoapIn" />
      <wsdl:output message="tns:GetDelayedValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValueSoapIn" />
      <wsdl:output message="tns:GetLastClosingValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for a collection of indices.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValuesSoapIn" />
      <wsdl:output message="tns:GetLastClosingValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an index value as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValueSoapIn" />
      <wsdl:output message="tns:GetHistoricalValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of index values as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesSoapIn" />
      <wsdl:output message="tns:GetHistoricalValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a range of values for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesAsOfSoapIn" />
      <wsdl:output message="tns:GetHistoricalValuesAsOfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a complete range of stock quotes for a US equity. This includes split and dividend adjusted price. </wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesRangeSoapIn" />
      <wsdl:output message="tns:GetHistoricalValuesRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the components, or the constituants of an index.</wsdl:documentation>
      <wsdl:input message="tns:GetIndexComponentsSoapIn" />
      <wsdl:output message="tns:GetIndexComponentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="XigniteIndicesHttpGet">
    <wsdl:operation name="GetMarketSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current market level for the Dow, Nasdaq and S&amp;amp;P indices as well as the NYSE and NASDAQ volumes and the 10 Year Bond index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketSummaryHttpGetIn" />
      <wsdl:output message="tns:GetMarketSummaryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns summary information about an exchange trading day.</wsdl:documentation>
      <wsdl:input message="tns:GetExchangeSummaryHttpGetIn" />
      <wsdl:output message="tns:GetExchangeSummaryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last value, change, percent change and category information for a collection of US market indices including Dow Jones Averages, NYSE, AMEX, NASDAQ, Standard &amp;amp; Poor's, Commodities, Treasuries and other U.S. Indices.</wsdl:documentation>
      <wsdl:input message="tns:GetIndicesHttpGetIn" />
      <wsdl:output message="tns:GetIndicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesHttpGetIn" />
      <wsdl:output message="tns:ListIndicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListAllIndicesHttpGetIn" />
      <wsdl:output message="tns:ListAllIndicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndexCriteriaHttpGetIn" />
      <wsdl:output message="tns:ListIndexCriteriaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by index family.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByFamilyHttpGetIn" />
      <wsdl:output message="tns:ListIndicesByFamilyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by country.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByCountryHttpGetIn" />
      <wsdl:output message="tns:ListIndicesByCountryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by sector.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesBySectorHttpGetIn" />
      <wsdl:output message="tns:ListIndicesBySectorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValueHttpGetIn" />
      <wsdl:output message="tns:GetDelayedValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValuesHttpGetIn" />
      <wsdl:output message="tns:GetDelayedValuesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValueHttpGetIn" />
      <wsdl:output message="tns:GetLastClosingValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for a collection of indices.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValuesHttpGetIn" />
      <wsdl:output message="tns:GetLastClosingValuesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an index value as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValueHttpGetIn" />
      <wsdl:output message="tns:GetHistoricalValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of index values as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesHttpGetIn" />
      <wsdl:output message="tns:GetHistoricalValuesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a range of values for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesAsOfHttpGetIn" />
      <wsdl:output message="tns:GetHistoricalValuesAsOfHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a complete range of stock quotes for a US equity. This includes split and dividend adjusted price. </wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesRangeHttpGetIn" />
      <wsdl:output message="tns:GetHistoricalValuesRangeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the components, or the constituants of an index.</wsdl:documentation>
      <wsdl:input message="tns:GetIndexComponentsHttpGetIn" />
      <wsdl:output message="tns:GetIndexComponentsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="XigniteIndicesHttpPost">
    <wsdl:operation name="GetMarketSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current market level for the Dow, Nasdaq and S&amp;amp;P indices as well as the NYSE and NASDAQ volumes and the 10 Year Bond index.</wsdl:documentation>
      <wsdl:input message="tns:GetMarketSummaryHttpPostIn" />
      <wsdl:output message="tns:GetMarketSummaryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns summary information about an exchange trading day.</wsdl:documentation>
      <wsdl:input message="tns:GetExchangeSummaryHttpPostIn" />
      <wsdl:output message="tns:GetExchangeSummaryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last value, change, percent change and category information for a collection of US market indices including Dow Jones Averages, NYSE, AMEX, NASDAQ, Standard &amp;amp; Poor's, Commodities, Treasuries and other U.S. Indices.</wsdl:documentation>
      <wsdl:input message="tns:GetIndicesHttpPostIn" />
      <wsdl:output message="tns:GetIndicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesHttpPostIn" />
      <wsdl:output message="tns:ListIndicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListAllIndicesHttpPostIn" />
      <wsdl:output message="tns:ListAllIndicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices.</wsdl:documentation>
      <wsdl:input message="tns:ListIndexCriteriaHttpPostIn" />
      <wsdl:output message="tns:ListIndexCriteriaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by index family.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByFamilyHttpPostIn" />
      <wsdl:output message="tns:ListIndicesByFamilyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by country.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesByCountryHttpPostIn" />
      <wsdl:output message="tns:ListIndicesByCountryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists available indices by sector.</wsdl:documentation>
      <wsdl:input message="tns:ListIndicesBySectorHttpPostIn" />
      <wsdl:output message="tns:ListIndicesBySectorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValueHttpPostIn" />
      <wsdl:output message="tns:GetDelayedValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a delayed value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetDelayedValuesHttpPostIn" />
      <wsdl:output message="tns:GetDelayedValuesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValueHttpPostIn" />
      <wsdl:output message="tns:GetLastClosingValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns last closing value for a collection of indices.</wsdl:documentation>
      <wsdl:input message="tns:GetLastClosingValuesHttpPostIn" />
      <wsdl:output message="tns:GetLastClosingValuesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an index value as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValueHttpPostIn" />
      <wsdl:output message="tns:GetHistoricalValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a collection of index values as of a historical date.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesHttpPostIn" />
      <wsdl:output message="tns:GetHistoricalValuesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a range of values for an index.</wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesAsOfHttpPostIn" />
      <wsdl:output message="tns:GetHistoricalValuesAsOfHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This operation returns a complete range of stock quotes for a US equity. This includes split and dividend adjusted price. </wsdl:documentation>
      <wsdl:input message="tns:GetHistoricalValuesRangeHttpPostIn" />
      <wsdl:output message="tns:GetHistoricalValuesRangeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the components, or the constituants of an index.</wsdl:documentation>
      <wsdl:input message="tns:GetIndexComponentsHttpPostIn" />
      <wsdl:output message="tns:GetIndexComponentsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XigniteIndicesSoap" type="tns:XigniteIndicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMarketSummary">
      <soap:operation soapAction="http://www.xignite.com/services/GetMarketSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMarketSummaryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <soap:operation soapAction="http://www.xignite.com/services/GetExchangeSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetExchangeSummaryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <soap:operation soapAction="http://www.xignite.com/services/GetIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <soap:operation soapAction="http://www.xignite.com/services/ListIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <soap:operation soapAction="http://www.xignite.com/services/ListAllIndices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAllIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <soap:operation soapAction="http://www.xignite.com/services/ListIndexCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListIndexCriteriaHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <soap:operation soapAction="http://www.xignite.com/services/ListIndicesByFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListIndicesByFamilyHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <soap:operation soapAction="http://www.xignite.com/services/ListIndicesByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListIndicesByCountryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <soap:operation soapAction="http://www.xignite.com/services/ListIndicesBySector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListIndicesBySectorHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <soap:operation soapAction="http://www.xignite.com/services/GetDelayedValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDelayedValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <soap:operation soapAction="http://www.xignite.com/services/GetDelayedValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDelayedValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <soap:operation soapAction="http://www.xignite.com/services/GetLastClosingValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLastClosingValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <soap:operation soapAction="http://www.xignite.com/services/GetLastClosingValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLastClosingValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHistoricalValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHistoricalValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesAsOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHistoricalValuesAsOfHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHistoricalValuesRangeHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <soap:operation soapAction="http://www.xignite.com/services/GetIndexComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetIndexComponentsHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XigniteIndicesSoap12" type="tns:XigniteIndicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMarketSummary">
      <soap12:operation soapAction="http://www.xignite.com/services/GetMarketSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMarketSummaryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <soap12:operation soapAction="http://www.xignite.com/services/GetExchangeSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetExchangeSummaryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <soap12:operation soapAction="http://www.xignite.com/services/GetIndices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <soap12:operation soapAction="http://www.xignite.com/services/ListIndices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <soap12:operation soapAction="http://www.xignite.com/services/ListAllIndices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAllIndicesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <soap12:operation soapAction="http://www.xignite.com/services/ListIndexCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListIndexCriteriaHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <soap12:operation soapAction="http://www.xignite.com/services/ListIndicesByFamily" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListIndicesByFamilyHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <soap12:operation soapAction="http://www.xignite.com/services/ListIndicesByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListIndicesByCountryHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <soap12:operation soapAction="http://www.xignite.com/services/ListIndicesBySector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListIndicesBySectorHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <soap12:operation soapAction="http://www.xignite.com/services/GetDelayedValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDelayedValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <soap12:operation soapAction="http://www.xignite.com/services/GetDelayedValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDelayedValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <soap12:operation soapAction="http://www.xignite.com/services/GetLastClosingValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLastClosingValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <soap12:operation soapAction="http://www.xignite.com/services/GetLastClosingValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLastClosingValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHistoricalValueHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHistoricalValuesHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesAsOf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHistoricalValuesAsOfHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <soap12:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHistoricalValuesRangeHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <soap12:operation soapAction="http://www.xignite.com/services/GetIndexComponents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetIndexComponentsHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XigniteIndicesHttpGet" type="tns:XigniteIndicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetMarketSummary">
      <http:operation location="/GetMarketSummary" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <http:operation location="/GetExchangeSummary" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <http:operation location="/GetIndices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <http:operation location="/ListIndices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <http:operation location="/ListAllIndices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <http:operation location="/ListIndexCriteria" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <http:operation location="/ListIndicesByFamily" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <http:operation location="/ListIndicesByCountry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <http:operation location="/ListIndicesBySector" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <http:operation location="/GetDelayedValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <http:operation location="/GetDelayedValues" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <http:operation location="/GetLastClosingValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <http:operation location="/GetLastClosingValues" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <http:operation location="/GetHistoricalValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <http:operation location="/GetHistoricalValues" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <http:operation location="/GetHistoricalValuesAsOf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <http:operation location="/GetHistoricalValuesRange" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <http:operation location="/GetIndexComponents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XigniteIndicesHttpPost" type="tns:XigniteIndicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetMarketSummary">
      <http:operation location="/GetMarketSummary" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeSummary">
      <http:operation location="/GetExchangeSummary" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndices">
      <http:operation location="/GetIndices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndices">
      <http:operation location="/ListIndices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllIndices">
      <http:operation location="/ListAllIndices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndexCriteria">
      <http:operation location="/ListIndexCriteria" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByFamily">
      <http:operation location="/ListIndicesByFamily" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesByCountry">
      <http:operation location="/ListIndicesByCountry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListIndicesBySector">
      <http:operation location="/ListIndicesBySector" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValue">
      <http:operation location="/GetDelayedValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelayedValues">
      <http:operation location="/GetDelayedValues" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValue">
      <http:operation location="/GetLastClosingValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastClosingValues">
      <http:operation location="/GetLastClosingValues" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValue">
      <http:operation location="/GetHistoricalValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValues">
      <http:operation location="/GetHistoricalValues" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesAsOf">
      <http:operation location="/GetHistoricalValuesAsOf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalValuesRange">
      <http:operation location="/GetHistoricalValuesRange" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexComponents">
      <http:operation location="/GetIndexComponents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XigniteIndices">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service provides market index information.</wsdl:documentation>
    <wsdl:port name="XigniteIndicesSoap" binding="tns:XigniteIndicesSoap">
      <soap:address location="http://www.xignite.com/xIndices.asmx" />
    </wsdl:port>
    <wsdl:port name="XigniteIndicesSoap12" binding="tns:XigniteIndicesSoap12">
      <soap12:address location="http://www.xignite.com/xIndices.asmx" />
    </wsdl:port>
    <wsdl:port name="XigniteIndicesHttpGet" binding="tns:XigniteIndicesHttpGet">
      <http:address location="http://www.xignite.com/xIndices.asmx" />
    </wsdl:port>
    <wsdl:port name="XigniteIndicesHttpPost" binding="tns:XigniteIndicesHttpPost">
      <http:address location="http://www.xignite.com/xIndices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>