wsdl_repositories/soatrader - Copy/_public.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://Ocean.accesswa.net/Comics/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://Ocean.accesswa.net/Comics/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://Ocean.accesswa.net/Comics/">
         <s:element name="Select_LastChanged">
            <s:complexType/>
         </s:element>
         <s:element name="Select_LastChangedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Select_LastChangedResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Select_Comic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ComicId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Select_ComicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Select_ComicResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="Select_LastChangedSoapIn">
      <wsdl:part name="parameters" element="tns:Select_LastChanged"/>
  </wsdl:message>
  <wsdl:message name="Select_LastChangedSoapOut">
      <wsdl:part name="parameters" element="tns:Select_LastChangedResponse"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicSoapIn">
      <wsdl:part name="parameters" element="tns:Select_Comic"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicSoapOut">
      <wsdl:part name="parameters" element="tns:Select_ComicResponse"/>
  </wsdl:message>
  <wsdl:message name="Select_LastChangedHttpGetIn"/>
  <wsdl:message name="Select_LastChangedHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicHttpGetIn">
      <wsdl:part name="ComicId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="Select_LastChangedHttpPostIn"/>
  <wsdl:message name="Select_LastChangedHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicHttpPostIn">
      <wsdl:part name="ComicId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="Select_ComicHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="_publicSoap" type="tns:_publicSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Select_LastChanged">
         <soap:operation soapAction="http://Ocean.accesswa.net/Comics/Select_LastChanged"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Select_Comic">
         <soap:operation soapAction="http://Ocean.accesswa.net/Comics/Select_Comic" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="_public">
      <wsdl:port name="_publicSoap" binding="tns:_publicSoap">
         <soap:address location="http://ws.soatrader.com/accesswa.net/0.1/_public"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>