wsdl_repositories/soatrader - Copy/_wsUserFTPService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://DefaultNamespace"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://DefaultNamespace"
                  xmlns:intf="http://DefaultNamespace"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://rpc.xml.coldfusion"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://DefaultNamespace">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Macromedia ColdFusion MX version 7,0,2,142559-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://rpc.xml.coldfusion">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CFCInvocationException">
            <sequence/>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getGroupsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="userPassword" type="xsd:string"/>

      <wsdl:part name="fileType" type="xsd:string"/>

      <wsdl:part name="right" type="xsd:string"/>

      <wsdl:part name="showpath" type="xsd:boolean"/>

      <wsdl:part name="createGroupFolder" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="RegisterFilesResponse">

      <wsdl:part name="RegisterFilesReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="SiteFoldersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="userPassword" type="xsd:string"/>

      <wsdl:part name="mode" type="xsd:string"/>

      <wsdl:part name="folder" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getFTPInfoResponse">

      <wsdl:part name="getFTPInfoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="MakeFolderRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="userPassword" type="xsd:string"/>

      <wsdl:part name="fileType" type="xsd:string"/>

      <wsdl:part name="groupID" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getFTPInfoRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="userPassword" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="MakeFolderResponse">

      <wsdl:part name="MakeFolderReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ListFoldersResponse">

      <wsdl:part name="ListFoldersReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="SiteFoldersResponse">

      <wsdl:part name="SiteFoldersReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="RegisterFilesRequest">

   </wsdl:message>

   <wsdl:message name="ListFoldersRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="userPassword" type="xsd:string"/>

      <wsdl:part name="fileType" type="xsd:string"/>

      <wsdl:part name="groupID" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="Testing123Request">

   </wsdl:message>

   <wsdl:message name="getGroupsResponse">

      <wsdl:part name="getGroupsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="Testing123Response">

      <wsdl:part name="Testing123Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="CFCInvocationException">

      <wsdl:part name="fault" type="tns1:CFCInvocationException"/>

   </wsdl:message>

   <wsdl:portType name="_wsUserFTP">

      <wsdl:operation name="getGroups"
                      parameterOrder="userName userPassword fileType right showpath createGroupFolder">

         <wsdl:input message="impl:getGroupsRequest" name="getGroupsRequest"/>

         <wsdl:output message="impl:getGroupsResponse" name="getGroupsResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="RegisterFiles">

         <wsdl:input message="impl:RegisterFilesRequest" name="RegisterFilesRequest"/>

         <wsdl:output message="impl:RegisterFilesResponse" name="RegisterFilesResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="SiteFolders" parameterOrder="userName userPassword mode folder">

         <wsdl:input message="impl:SiteFoldersRequest" name="SiteFoldersRequest"/>

         <wsdl:output message="impl:SiteFoldersResponse" name="SiteFoldersResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="MakeFolder" parameterOrder="userName userPassword fileType groupID">

         <wsdl:input message="impl:MakeFolderRequest" name="MakeFolderRequest"/>

         <wsdl:output message="impl:MakeFolderResponse" name="MakeFolderResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="getFTPInfo" parameterOrder="userName userPassword">

         <wsdl:input message="impl:getFTPInfoRequest" name="getFTPInfoRequest"/>

         <wsdl:output message="impl:getFTPInfoResponse" name="getFTPInfoResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="ListFolders" parameterOrder="userName userPassword fileType groupID">

         <wsdl:input message="impl:ListFoldersRequest" name="ListFoldersRequest"/>

         <wsdl:output message="impl:ListFoldersResponse" name="ListFoldersResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="Testing123">

         <wsdl:input message="impl:Testing123Request" name="Testing123Request"/>

         <wsdl:output message="impl:Testing123Response" name="Testing123Response"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="_wsUserFTP.cfcSoapBinding" type="impl:_wsUserFTP">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getGroupsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="RegisterFiles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RegisterFilesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RegisterFilesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="SiteFolders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SiteFoldersRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SiteFoldersResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="MakeFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="MakeFolderRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="MakeFolderResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFTPInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFTPInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFTPInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ListFolders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ListFoldersRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ListFoldersResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="Testing123">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="Testing123Request">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="Testing123Response">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://DefaultNamespace"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="_wsUserFTPService">

      <wsdl:port binding="impl:_wsUserFTP.cfcSoapBinding" name="_wsUserFTP.cfc">

         <wsdlsoap:address location="http://ws.soatrader.com/gameplannetwork.com/0.1/_wsUserFTPService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>