wsdl_repositories/soatrader - Copy/ACCLIPServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.inclusivelearning.ca/tile/services/acclip"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.inclusivelearning.ca/tile/services/acclip"
                  xmlns:intf="http://www.inclusivelearning.ca/tile/services/acclip"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://sax.xml.org"
                  xmlns:tns2="http://lang.java"
                  xmlns:tns3="http://person.tile.atrc.utoronto.ca"
                  xmlns:tns4="http://hibernate.sf.net"
                  xmlns:tns5="http://exception.hibernate.sf.net"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.inclusivelearning.ca/tile/services/acclip">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sax.xml.org">
         <import namespace="http://hibernate.sf.net"/>
         <import namespace="http://person.tile.atrc.utoronto.ca"/>
         <import namespace="http://exception.hibernate.sf.net"/>
         <import namespace="http://www.inclusivelearning.ca/tile/services/acclip"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SAXException">
            <sequence>
               <element name="exception" nillable="true" type="xsd:anyType"/>
               <element name="message" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://person.tile.atrc.utoronto.ca">
         <import namespace="http://sax.xml.org"/>
         <import namespace="http://hibernate.sf.net"/>
         <import namespace="http://exception.hibernate.sf.net"/>
         <import namespace="http://www.inclusivelearning.ca/tile/services/acclip"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="UnknownUserException">
            <sequence>
               <element name="username" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://www.inclusivelearning.ca/tile/services/acclip">
         <import namespace="http://sax.xml.org"/>
         <import namespace="http://hibernate.sf.net"/>
         <import namespace="http://person.tile.atrc.utoronto.ca"/>
         <import namespace="http://exception.hibernate.sf.net"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_soapenc_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns2_Throwable">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Throwable[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://exception.hibernate.sf.net">
         <import namespace="http://sax.xml.org"/>
         <import namespace="http://hibernate.sf.net"/>
         <import namespace="http://person.tile.atrc.utoronto.ca"/>
         <import namespace="http://www.inclusivelearning.ca/tile/services/acclip"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="NestableException">
            <sequence>
               <element name="cause" nillable="true" type="xsd:anyType"/>
               <element maxOccurs="unbounded" name="message" nillable="true" type="soapenc:string"/>
               <element name="messages" nillable="true" type="impl:ArrayOf_soapenc_string"/>
               <element maxOccurs="unbounded" name="throwable" nillable="true" type="tns2:Throwable"/>
               <element name="throwableCount" type="xsd:int"/>
               <element name="throwables" nillable="true" type="impl:ArrayOf_tns2_Throwable"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://hibernate.sf.net">
         <import namespace="http://sax.xml.org"/>
         <import namespace="http://person.tile.atrc.utoronto.ca"/>
         <import namespace="http://exception.hibernate.sf.net"/>
         <import namespace="http://www.inclusivelearning.ca/tile/services/acclip"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="HibernateException">
            <complexContent>
               <extension base="tns5:NestableException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getCSSFromACCLIPResponse">

      <wsdl:part name="getCSSFromACCLIPReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="SAXException">

      <wsdl:part name="fault" type="tns1:SAXException"/>

   </wsdl:message>

   <wsdl:message name="getACCLIPResponse">

      <wsdl:part name="getACCLIPReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="UnknownUserException">

      <wsdl:part name="fault" type="tns3:UnknownUserException"/>

   </wsdl:message>

   <wsdl:message name="getCSSFromACCLIPRequest">

      <wsdl:part name="loginId" type="soapenc:string"/>

      <wsdl:part name="password" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="HibernateException">

      <wsdl:part name="fault" type="tns4:HibernateException"/>

   </wsdl:message>

   <wsdl:message name="getACCLIPRequest">

      <wsdl:part name="loginId" type="soapenc:string"/>

      <wsdl:part name="password" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="ACCLIPService">

      <wsdl:operation name="getACCLIP" parameterOrder="loginId password">

         <wsdl:input message="impl:getACCLIPRequest" name="getACCLIPRequest"/>

         <wsdl:output message="impl:getACCLIPResponse" name="getACCLIPResponse"/>

         <wsdl:fault message="impl:UnknownUserException" name="UnknownUserException"/>

         <wsdl:fault message="impl:HibernateException" name="HibernateException"/>

         <wsdl:fault message="impl:SAXException" name="SAXException"/>

      </wsdl:operation>

      <wsdl:operation name="getCSSFromACCLIP" parameterOrder="loginId password">

         <wsdl:input message="impl:getCSSFromACCLIPRequest" name="getCSSFromACCLIPRequest"/>

         <wsdl:output message="impl:getCSSFromACCLIPResponse" name="getCSSFromACCLIPResponse"/>

         <wsdl:fault message="impl:UnknownUserException" name="UnknownUserException"/>

         <wsdl:fault message="impl:HibernateException" name="HibernateException"/>

         <wsdl:fault message="impl:SAXException" name="SAXException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="acclipSoapBinding" type="impl:ACCLIPService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getACCLIP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getACCLIPRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.tile.atrc.utoronto.ca"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getACCLIPResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownUserException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="UnknownUserException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="HibernateException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="HibernateException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="SAXException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SAXException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCSSFromACCLIP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCSSFromACCLIPRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.tile.atrc.utoronto.ca"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCSSFromACCLIPResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnknownUserException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="UnknownUserException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="HibernateException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="HibernateException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="SAXException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="SAXException"
                            namespace="http://www.inclusivelearning.ca/tile/services/acclip"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ACCLIPServiceService">

      <wsdl:port binding="impl:acclipSoapBinding" name="acclip">

         <wsdlsoap:address location="http://ws.soatrader.com/inclusivelearning.ca/0.1/ACCLIPServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>