wsdl_repositories/soatrader - Copy/Account_x0020_Web_x0020_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ibridge.isgsolutions.com/Account/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ibridge.isgsolutions.com/Account/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ibridge.isgsolutions.com/Account/">
         <s:element name="Create">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Account">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MemberType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="JoinDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InformalName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MajorKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExcludeFromDirectory" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OrgCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SourceCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExcludeFromMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BirthDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TollFree" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Chapter" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FunctionalTitle" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PaidThru" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WebLogin" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecurityGroup" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="IBridgeTempSubscriptions"
                          type="tns:ArrayOfAnyType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:element name="CreateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Purpose" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StateProvince" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TollFree" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredBill" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddAddressResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateAddressResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteAddressResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddNote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="purpose" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddNoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddNoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateNote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="purpose" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateNoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateNoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteNote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="purpose" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteNoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteNoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GeneratePassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GeneratePasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GeneratePasswordResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
      <wsdl:part name="parameters" element="tns:Create"/>
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
      <wsdl:part name="parameters" element="tns:CreateResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:Update"/>
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="AddAddressSoapIn">
      <wsdl:part name="parameters" element="tns:AddAddress"/>
  </wsdl:message>
  <wsdl:message name="AddAddressSoapOut">
      <wsdl:part name="parameters" element="tns:AddAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateAddress"/>
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteAddress"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="AddNoteSoapIn">
      <wsdl:part name="parameters" element="tns:AddNote"/>
  </wsdl:message>
  <wsdl:message name="AddNoteSoapOut">
      <wsdl:part name="parameters" element="tns:AddNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateNote"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteNote"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordSoapIn">
      <wsdl:part name="parameters" element="tns:GeneratePassword"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordSoapOut">
      <wsdl:part name="parameters" element="tns:GeneratePasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="number" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddNoteHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddNoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="number" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteAddressHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddNoteHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddNoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateNoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="accountId" type="s:string"/>
      <wsdl:part name="purpose" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GeneratePasswordHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="Account_x0020_Web_x0020_ServiceSoap">
      <wsdl:operation name="Create">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Creates an Account.</documentation>
         <wsdl:input message="tns:CreateSoapIn"/>
         <wsdl:output message="tns:CreateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Update">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates an Account.</documentation>
         <wsdl:input message="tns:UpdateSoapIn"/>
         <wsdl:output message="tns:UpdateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AddAddress">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Adds an address to a specified account.</documentation>
         <wsdl:input message="tns:AddAddressSoapIn"/>
         <wsdl:output message="tns:AddAddressSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateAddress">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates an existent address.</documentation>
         <wsdl:input message="tns:UpdateAddressSoapIn"/>
         <wsdl:output message="tns:UpdateAddressSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteAddress">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Deletes an address to an existing account.</documentation>
         <wsdl:input message="tns:DeleteAddressSoapIn"/>
         <wsdl:output message="tns:DeleteAddressSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AddNote">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Adds a note to a specified account.</documentation>
         <wsdl:input message="tns:AddNoteSoapIn"/>
         <wsdl:output message="tns:AddNoteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateNote">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates a note to a specified account.</documentation>
         <wsdl:input message="tns:UpdateNoteSoapIn"/>
         <wsdl:output message="tns:UpdateNoteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteNote">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Deletes a note to an existing account.</documentation>
         <wsdl:input message="tns:DeleteNoteSoapIn"/>
         <wsdl:output message="tns:DeleteNoteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GeneratePassword">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Generates a random iMIS password.</documentation>
         <wsdl:input message="tns:GeneratePasswordSoapIn"/>
         <wsdl:output message="tns:GeneratePasswordSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Account_x0020_Web_x0020_ServiceSoap"
                 type="tns:Account_x0020_Web_x0020_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Create">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/Create" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Update">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddAddress">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/AddAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateAddress">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/UpdateAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteAddress">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/DeleteAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddNote">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/AddNote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateNote">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/UpdateNote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteNote">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/DeleteNote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GeneratePassword">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Account/GeneratePassword"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Account_x0020_Web_x0020_Service">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The account web service is used to create and update accounts from the database.</documentation>
      <wsdl:port name="Account_x0020_Web_x0020_ServiceSoap"
                 binding="tns:Account_x0020_Web_x0020_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/eseries.nafsa.org/0.1/Account_x0020_Web_x0020_Service"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>