wsdl_repositories/soatrader - Copy/AccountManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.iperformonline.com/webservices/AccountManagement"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.iperformonline.com/webservices/AccountManagement">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.iperformonline.com/webservices/AccountManagement">
         <s:element name="updateAllLoginInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sNewUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strNewPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateAllLoginInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="updateAllLoginInfoResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateLoginInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strNewPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateLoginInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="updateLoginInfoResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="updateAllLoginInfoSoapIn">
      <wsdl:part name="parameters" element="tns:updateAllLoginInfo"/>
  </wsdl:message>
  <wsdl:message name="updateAllLoginInfoSoapOut">
      <wsdl:part name="parameters" element="tns:updateAllLoginInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="updateLoginInfoSoapIn">
      <wsdl:part name="parameters" element="tns:updateLoginInfo"/>
  </wsdl:message>
  <wsdl:message name="updateLoginInfoSoapOut">
      <wsdl:part name="parameters" element="tns:updateLoginInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="AccountManagementSoap">
      <wsdl:operation name="updateAllLoginInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Update UserName and/or Password.</documentation>
         <wsdl:input message="tns:updateAllLoginInfoSoapIn"/>
         <wsdl:output message="tns:updateAllLoginInfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="updateLoginInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Update Password.</documentation>
         <wsdl:input message="tns:updateLoginInfoSoapIn"/>
         <wsdl:output message="tns:updateLoginInfoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountManagementSoap" type="tns:AccountManagementSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="updateAllLoginInfo">
         <soap:operation soapAction="http://www.iperformonline.com/webservices/AccountManagement/updateAllLoginInfo"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateLoginInfo">
         <soap:operation soapAction="http://www.iperformonline.com/webservices/AccountManagement/updateLoginInfo"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountManagement">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="AccountManagementSoap" binding="tns:AccountManagementSoap">
         <soap:address location="http://ws.soatrader.com/iperformonline.com/0.1/AccountManagement"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>