wsdl_repositories/soatrader - Copy/ACHService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="https://achppe.com/ACHService"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="https://achppe.com/ACHService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="https://achppe.com/ACHService">
         <s:element name="RetrieveTrackingNumberLikeCheckNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberLikeCheckNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveTrackingNumberLikeCheckNumberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberByTraceNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberByTraceNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveTrackingNumberByTraceNumberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckAssigned">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckAssignedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveResponseCheckAssignedResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckUnassigned">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckUnassignedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveResponseCheckUnassignedResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitACH">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitACHResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitACHResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturns">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveReturnsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitPaymentCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveCheckNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveCheckNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveCheckNumberResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsPaymentElectronic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsPaymentElectronicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveReturnsPaymentElectronicResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentElectronic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentElectronicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitPaymentElectronicResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="https://achppe.com/ACHService">
         <s:element name="RetrieveTrackingNumberLikeCheckNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberLikeCheckNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveTrackingNumberLikeCheckNumberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberByTraceNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveTrackingNumberByTraceNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveTrackingNumberByTraceNumberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckAssigned">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckAssignedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveResponseCheckAssignedResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckUnassigned">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveResponseCheckUnassignedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveResponseCheckUnassignedResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitACH">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitACHResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitACHResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturns">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveReturnsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitPaymentCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveCheckNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrieveCheckNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrieveCheckNumberResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsPaymentElectronic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveReturnsPaymentElectronicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveReturnsPaymentElectronicResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentElectronic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strXMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TransmitPaymentElectronicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransmitPaymentElectronicResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveTrackingNumberLikeCheckNumberSoapIn">
      <wsdl:part name="parameters" element="tns:RetrieveTrackingNumberLikeCheckNumber"/>
  </wsdl:message>
  <wsdl:message name="RetrieveTrackingNumberLikeCheckNumberSoapOut">
      <wsdl:part name="parameters" element="tns:RetrieveTrackingNumberLikeCheckNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrieveTrackingNumberByTraceNumberSoapIn">
      <wsdl:part name="parameters" element="tns:RetrieveTrackingNumberByTraceNumber"/>
  </wsdl:message>
  <wsdl:message name="RetrieveTrackingNumberByTraceNumberSoapOut">
      <wsdl:part name="parameters" element="tns:RetrieveTrackingNumberByTraceNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="ReceiveResponseCheckAssignedSoapIn">
      <wsdl:part name="parameters" element="tns:ReceiveResponseCheckAssigned"/>
  </wsdl:message>
  <wsdl:message name="ReceiveResponseCheckAssignedSoapOut">
      <wsdl:part name="parameters" element="tns:ReceiveResponseCheckAssignedResponse"/>
  </wsdl:message>
  <wsdl:message name="ReceiveResponseCheckUnassignedSoapIn">
      <wsdl:part name="parameters" element="tns:ReceiveResponseCheckUnassigned"/>
  </wsdl:message>
  <wsdl:message name="ReceiveResponseCheckUnassignedSoapOut">
      <wsdl:part name="parameters" element="tns:ReceiveResponseCheckUnassignedResponse"/>
  </wsdl:message>
  <wsdl:message name="TransmitACHSoapIn">
      <wsdl:part name="parameters" element="tns:TransmitACH"/>
  </wsdl:message>
  <wsdl:message name="TransmitACHSoapOut">
      <wsdl:part name="parameters" element="tns:TransmitACHResponse"/>
  </wsdl:message>
  <wsdl:message name="ReceiveReturnsSoapIn">
      <wsdl:part name="parameters" element="tns:ReceiveReturns"/>
  </wsdl:message>
  <wsdl:message name="ReceiveReturnsSoapOut">
      <wsdl:part name="parameters" element="tns:ReceiveReturnsResponse"/>
  </wsdl:message>
  <wsdl:message name="TransmitPaymentCheckSoapIn">
      <wsdl:part name="parameters" element="tns:TransmitPaymentCheck"/>
  </wsdl:message>
  <wsdl:message name="TransmitPaymentCheckSoapOut">
      <wsdl:part name="parameters" element="tns:TransmitPaymentCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrieveCheckNumberSoapIn">
      <wsdl:part name="parameters" element="tns:RetrieveCheckNumber"/>
  </wsdl:message>
  <wsdl:message name="RetrieveCheckNumberSoapOut">
      <wsdl:part name="parameters" element="tns:RetrieveCheckNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="ReceiveReturnsPaymentElectronicSoapIn">
      <wsdl:part name="parameters" element="tns:ReceiveReturnsPaymentElectronic"/>
  </wsdl:message>
  <wsdl:message name="ReceiveReturnsPaymentElectronicSoapOut">
      <wsdl:part name="parameters" element="tns:ReceiveReturnsPaymentElectronicResponse"/>
  </wsdl:message>
  <wsdl:message name="TransmitPaymentElectronicSoapIn">
      <wsdl:part name="parameters" element="tns:TransmitPaymentElectronic"/>
  </wsdl:message>
  <wsdl:message name="TransmitPaymentElectronicSoapOut">
      <wsdl:part name="parameters" element="tns:TransmitPaymentElectronicResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ACHServiceSoap" type="tns:ACHServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RetrieveTrackingNumberLikeCheckNumber">
         <soap:operation soapAction="https://achppe.com/ACHService/RetrieveTrackingNumberLikeCheckNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RetrieveTrackingNumberByTraceNumber">
         <soap:operation soapAction="https://achppe.com/ACHService/RetrieveTrackingNumberByTraceNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReceiveResponseCheckAssigned">
         <soap:operation soapAction="https://achppe.com/ACHService/ReceiveResponseCheckAssigned"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReceiveResponseCheckUnassigned">
         <soap:operation soapAction="https://achppe.com/ACHService/ReceiveResponseCheckUnassigned"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TransmitACH">
         <soap:operation soapAction="https://achppe.com/ACHService/TransmitACH" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReceiveReturns">
         <soap:operation soapAction="https://achppe.com/ACHService/ReceiveReturns" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TransmitPaymentCheck">
         <soap:operation soapAction="https://achppe.com/ACHService/TransmitPaymentCheck"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RetrieveCheckNumber">
         <soap:operation soapAction="https://achppe.com/ACHService/RetrieveCheckNumber" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReceiveReturnsPaymentElectronic">
         <soap:operation soapAction="https://achppe.com/ACHService/ReceiveReturnsPaymentElectronic"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TransmitPaymentElectronic">
         <soap:operation soapAction="https://achppe.com/ACHService/TransmitPaymentElectronic"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ACHService">
      <wsdl:port name="ACHServiceSoap" binding="tns:ACHServiceSoap">
         <soap:address location="http://ws.soatrader.com/achppe.com/0.1/ACHService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>