wsdl_repositories/soatrader - Copy/ActiveStationsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://opendap.co-ops.nos.noaa.gov/axis/webservices/activestations/wsdl"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://opendap.co-ops.nos.noaa.gov/axis/webservices/activestations/wsdl"
                  xmlns:intf="http://opendap.co-ops.nos.noaa.gov/axis/webservices/activestations/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://opendap.co-ops.nos.noaa.gov/axis/webservices/activestations/wsdl">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
              targetNamespace="http://opendap.co-ops.nos.noaa.gov/axis/webservices/activestations/wsdl">
         <complexType name="location">
            <sequence>
               <element name="lat" type="xsd:string"/>
               <element name="long" nillable="true" type="xsd:string"/>
               <element name="state" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="metadata">
            <sequence>
               <element name="location" type="impl:location"/>
               <element name="date_established" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="parameter">
            <sequence/>
            <attribute name="DCP" type="xsd:int"/>
            <attribute name="name" type="xsd:string"/>
            <attribute name="sensorID" type="xsd:string"/>
            <attribute name="status" type="xsd:int"/>
         </complexType>
         <complexType name="station">
            <sequence>
               <element name="metadata" type="impl:metadata"/>
               <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="impl:parameter"/>
            </sequence>
            <attribute name="ID" type="xsd:string"/>
            <attribute name="name" type="xsd:string"/>
         </complexType>
         <complexType name="stations">
            <sequence>
               <element maxOccurs="unbounded" name="station" type="impl:station"/>
            </sequence>
         </complexType>
         <element name="ActiveStations">
            <complexType>
               <sequence>
                  <element name="stations" type="impl:stations"/>
               </sequence>
            </complexType>
         </element>
      </schema>
   </wsdl:types>

   <wsdl:message name="getActiveStationsResponse">

      <wsdl:part element="impl:ActiveStations" name="ActiveStations"/>

   </wsdl:message>

   <wsdl:message name="getActiveStationsRequest">

   </wsdl:message>

   <wsdl:portType name="ActiveStationsPortType">

      <wsdl:operation name="getActiveStations">

         <wsdl:input message="impl:getActiveStationsRequest" name="getActiveStationsRequest"/>

         <wsdl:output message="impl:getActiveStationsResponse" name="getActiveStationsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActiveStationsSoapBinding" type="impl:ActiveStationsPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getActiveStations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActiveStationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActiveStationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActiveStationsService">

      <wsdl:port binding="impl:ActiveStationsSoapBinding" name="ActiveStations">

         <wsdlsoap:address location="http://ws.soatrader.com/nos.noaa.gov/0.2/ActiveStationsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>