wsdl_repositories/soatrader - Copy/ad.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Status">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AuctionId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="StatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="StatusResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="int" type="s:int"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="StatusSoapIn">
      <wsdl:part name="parameters" element="tns:Status"/>
  </wsdl:message>
  <wsdl:message name="StatusSoapOut">
      <wsdl:part name="parameters" element="tns:StatusResponse"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpGetIn">
      <wsdl:part name="AuctionId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpPostIn">
      <wsdl:part name="AuctionId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:portType name="adSoap">
      <wsdl:operation name="Status">
         <wsdl:input message="tns:StatusSoapIn"/>
         <wsdl:output message="tns:StatusSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="adSoap" type="tns:adSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Status">
         <soap:operation soapAction="http://tempuri.org/Status" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="ad">
      <wsdl:port name="adSoap" binding="tns:adSoap">
         <soap:address location="http://ws.soatrader.com/silverlakeautoparts.co.uk/0.1/ad"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>