wsdl_repositories/soatrader - Copy/AddressValidator.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.desertsoft.com"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.desertsoft.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.desertsoft.com">
         <s:element name="AddVal">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strAdd1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strVersion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddValResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddValResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressTypeId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressTypeDesc" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Search" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Address" type="tns:Address"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.desertsoft.com">
         <s:element name="AddVal">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strAdd1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strVersion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddValResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddValResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressTypeId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressTypeDesc" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Search" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Address" type="tns:Address"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AddValSoapIn">
      <wsdl:part name="parameters" element="tns:AddVal"/>
  </wsdl:message>
  <wsdl:message name="AddValSoapOut">
      <wsdl:part name="parameters" element="tns:AddValResponse"/>
  </wsdl:message>
  <wsdl:message name="AddValHttpGetIn">
      <wsdl:part name="strAdd1" type="s:string"/>
      <wsdl:part name="strCity" type="s:string"/>
      <wsdl:part name="strState" type="s:string"/>
      <wsdl:part name="strZip" type="s:string"/>
      <wsdl:part name="strUser" type="s:string"/>
      <wsdl:part name="strPass" type="s:string"/>
      <wsdl:part name="strVersion" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddValHttpGetOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="AddValHttpPostIn">
      <wsdl:part name="strAdd1" type="s:string"/>
      <wsdl:part name="strCity" type="s:string"/>
      <wsdl:part name="strState" type="s:string"/>
      <wsdl:part name="strZip" type="s:string"/>
      <wsdl:part name="strUser" type="s:string"/>
      <wsdl:part name="strPass" type="s:string"/>
      <wsdl:part name="strVersion" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddValHttpPostOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:portType name="AddressValidatorSoap">
      <wsdl:operation name="AddVal">
         <wsdl:input message="tns:AddValSoapIn"/>
         <wsdl:output message="tns:AddValSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="AddressValidatorSoap" type="tns:AddressValidatorSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="AddVal">
         <soap:operation soapAction="http://www.desertsoft.com/AddVal" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="AddressValidator">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Validates and corrects United States mailing addresses.</documentation>
      <wsdl:port name="AddressValidatorSoap" binding="tns:AddressValidatorSoap">
         <soap:address location="http://ws.soatrader.com/desertsoft.com/0.1/AddressValidator"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>