wsdl_repositories/soatrader - Copy/AddressImageWSService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://ags.ws.lands.nsw.gov"
                  xmlns:impl="http://ags.ws.lands.nsw.gov"
                  xmlns:intf="http://ags.ws.lands.nsw.gov"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://ags.ws.lands.nsw.gov">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ags.ws.lands.nsw.gov">
         <element name="testAddressResponse">
            <complexType>
               <sequence>
                  <element name="testAddressReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="displayAddress">
            <complexType>
               <sequence>
                  <element name="x" type="xsd:double"/>
                  <element name="y" type="xsd:double"/>
                  <element name="scale" type="xsd:double"/>
                  <element name="objectId" type="xsd:long"/>
                  <element name="imgHeight" type="xsd:int"/>
                  <element name="imgWidth" type="xsd:int"/>
                  <element name="dpi" type="xsd:long"/>
               </sequence>
            </complexType>
         </element>
         <element name="displayAddressResponse">
            <complexType>
               <sequence>
                  <element name="displayAddressReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="testAddress">
            <complexType>
               <sequence>
                  <element name="objectId" type="xsd:long"/>
                  <element name="centreX" type="xsd:double"/>
                  <element name="centreY" type="xsd:double"/>
               </sequence>
            </complexType>
         </element>
      </schema>
   </wsdl:types>

   <wsdl:message name="displayAddressResponse">

      <wsdl:part element="impl:displayAddressResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="testAddressResponse">

      <wsdl:part element="impl:testAddressResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="testAddressRequest">

      <wsdl:part element="impl:testAddress" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="displayAddressRequest">

      <wsdl:part element="impl:displayAddress" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="AddressImageWS">

      <wsdl:operation name="testAddress">

         <wsdl:input message="impl:testAddressRequest" name="testAddressRequest"/>

         <wsdl:output message="impl:testAddressResponse" name="testAddressResponse"/>

      </wsdl:operation>

      <wsdl:operation name="displayAddress">

         <wsdl:input message="impl:displayAddressRequest" name="displayAddressRequest"/>

         <wsdl:output message="impl:displayAddressResponse" name="displayAddressResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddressImageWSSoapBinding" type="impl:AddressImageWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testAddressRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testAddressResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayAddressRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayAddressResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddressImageWSService">

      <wsdl:port binding="impl:AddressImageWSSoapBinding" name="AddressImageWS">

         <wsdlsoap:address location="http://ws.soatrader.com/nsw.gov.au/0.1/AddressImageWSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>