wsdl_repositories/soatrader - Copy/AddressService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://www.qas.com/web-2005-02"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService">
         <s:import namespace="http://www.qas.com/web-2005-02"/>
         <s:element name="DoGBRPostCodeSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoGBRPostCodeSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DoGBRPostCodeSearchResult"
                             type="s1:QASearchResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoHouseRefineSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="HouseNameNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoHouseRefineSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DoHouseRefineSearchResult" type="s1:Picklist"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFinalAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFinalAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFinalAddressResult" type="s1:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService">
         <s:import namespace="http://www.qas.com/web-2005-02"/>
         <s:element name="DoGBRPostCodeSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoGBRPostCodeSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DoGBRPostCodeSearchResult"
                             type="s1:QASearchResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoHouseRefineSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="HouseNameNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoHouseRefineSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DoHouseRefineSearchResult" type="s1:Picklist"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFinalAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFinalAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFinalAddressResult" type="s1:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.qas.com/web-2005-02">
         <s:complexType name="QASearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAPicklist" type="s1:QAPicklistType"/>
               <s:element minOccurs="0" maxOccurs="1" name="QAAddress" type="s1:QAAddressType"/>
            </s:sequence>
            <s:attribute default="None" name="VerifyLevel" type="s1:VerifyLevelType"/>
         </s:complexType>
         <s:complexType name="QAPicklistType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="FullPicklistMoniker" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="PicklistEntry"
                          type="s1:PicklistEntryType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prompt" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:nonNegativeInteger"/>
            </s:sequence>
            <s:attribute default="false" name="AutoFormatSafe" type="s:boolean"/>
            <s:attribute default="false" name="AutoFormatPastClose" type="s:boolean"/>
            <s:attribute default="false" name="AutoStepinSafe" type="s:boolean"/>
            <s:attribute default="false" name="AutoStepinPastClose" type="s:boolean"/>
            <s:attribute default="false" name="LargePotential" type="s:boolean"/>
            <s:attribute default="false" name="MaxMatches" type="s:boolean"/>
            <s:attribute default="false" name="MoreOtherMatches" type="s:boolean"/>
            <s:attribute default="false" name="OverThreshold" type="s:boolean"/>
            <s:attribute default="false" name="Timeout" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="PicklistEntryType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PartialAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Picklist" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:nonNegativeInteger"/>
            </s:sequence>
            <s:attribute default="false" name="FullAddress" type="s:boolean"/>
            <s:attribute default="false" name="Multiples" type="s:boolean"/>
            <s:attribute default="false" name="CanStep" type="s:boolean"/>
            <s:attribute default="false" name="AliasMatch" type="s:boolean"/>
            <s:attribute default="false" name="PostcodeRecoded" type="s:boolean"/>
            <s:attribute default="false" name="CrossBorderMatch" type="s:boolean"/>
            <s:attribute default="false" name="DummyPOBox" type="s:boolean"/>
            <s:attribute default="false" name="Name" type="s:boolean"/>
            <s:attribute default="false" name="Information" type="s:boolean"/>
            <s:attribute default="false" name="WarnInformation" type="s:boolean"/>
            <s:attribute default="false" name="IncompleteAddr" type="s:boolean"/>
            <s:attribute default="false" name="UnresolvableRange" type="s:boolean"/>
            <s:attribute default="false" name="PhantomPrimaryPoint" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="QAAddressType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="AddressLine"
                          type="s1:AddressLineType"/>
            </s:sequence>
            <s:attribute default="false" name="Overflow" type="s:boolean"/>
            <s:attribute default="false" name="Truncated" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="AddressLineType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Line" type="s:string"/>
            </s:sequence>
            <s:attribute default="Address" name="LineContent" type="s1:LineContentType"/>
            <s:attribute default="false" name="Overflow" type="s:boolean"/>
            <s:attribute default="false" name="Truncated" type="s:boolean"/>
         </s:complexType>
         <s:simpleType name="LineContentType">
            <s:restriction base="s:string">
               <s:enumeration value="None"/>
               <s:enumeration value="Address"/>
               <s:enumeration value="Name"/>
               <s:enumeration value="Ancillary"/>
               <s:enumeration value="DataPlus"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="VerifyLevelType">
            <s:restriction base="s:string">
               <s:enumeration value="None"/>
               <s:enumeration value="Verified"/>
               <s:enumeration value="InteractionRequired"/>
               <s:enumeration value="PremisesPartial"/>
               <s:enumeration value="StreetPartial"/>
               <s:enumeration value="Multiple"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="Picklist">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAPicklist" type="s1:QAPicklistType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAAddress" type="s1:QAAddressType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.qas.com/web-2005-02">
         <s:complexType name="QASearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAPicklist" type="s1:QAPicklistType"/>
               <s:element minOccurs="0" maxOccurs="1" name="QAAddress" type="s1:QAAddressType"/>
            </s:sequence>
            <s:attribute default="None" name="VerifyLevel" type="s1:VerifyLevelType"/>
         </s:complexType>
         <s:complexType name="QAPicklistType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="FullPicklistMoniker" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="PicklistEntry"
                          type="s1:PicklistEntryType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prompt" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:nonNegativeInteger"/>
            </s:sequence>
            <s:attribute default="false" name="AutoFormatSafe" type="s:boolean"/>
            <s:attribute default="false" name="AutoFormatPastClose" type="s:boolean"/>
            <s:attribute default="false" name="AutoStepinSafe" type="s:boolean"/>
            <s:attribute default="false" name="AutoStepinPastClose" type="s:boolean"/>
            <s:attribute default="false" name="LargePotential" type="s:boolean"/>
            <s:attribute default="false" name="MaxMatches" type="s:boolean"/>
            <s:attribute default="false" name="MoreOtherMatches" type="s:boolean"/>
            <s:attribute default="false" name="OverThreshold" type="s:boolean"/>
            <s:attribute default="false" name="Timeout" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="PicklistEntryType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Moniker" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PartialAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Picklist" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:nonNegativeInteger"/>
            </s:sequence>
            <s:attribute default="false" name="FullAddress" type="s:boolean"/>
            <s:attribute default="false" name="Multiples" type="s:boolean"/>
            <s:attribute default="false" name="CanStep" type="s:boolean"/>
            <s:attribute default="false" name="AliasMatch" type="s:boolean"/>
            <s:attribute default="false" name="PostcodeRecoded" type="s:boolean"/>
            <s:attribute default="false" name="CrossBorderMatch" type="s:boolean"/>
            <s:attribute default="false" name="DummyPOBox" type="s:boolean"/>
            <s:attribute default="false" name="Name" type="s:boolean"/>
            <s:attribute default="false" name="Information" type="s:boolean"/>
            <s:attribute default="false" name="WarnInformation" type="s:boolean"/>
            <s:attribute default="false" name="IncompleteAddr" type="s:boolean"/>
            <s:attribute default="false" name="UnresolvableRange" type="s:boolean"/>
            <s:attribute default="false" name="PhantomPrimaryPoint" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="QAAddressType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="AddressLine"
                          type="s1:AddressLineType"/>
            </s:sequence>
            <s:attribute default="false" name="Overflow" type="s:boolean"/>
            <s:attribute default="false" name="Truncated" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="AddressLineType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Line" type="s:string"/>
            </s:sequence>
            <s:attribute default="Address" name="LineContent" type="s1:LineContentType"/>
            <s:attribute default="false" name="Overflow" type="s:boolean"/>
            <s:attribute default="false" name="Truncated" type="s:boolean"/>
         </s:complexType>
         <s:simpleType name="LineContentType">
            <s:restriction base="s:string">
               <s:enumeration value="None"/>
               <s:enumeration value="Address"/>
               <s:enumeration value="Name"/>
               <s:enumeration value="Ancillary"/>
               <s:enumeration value="DataPlus"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="VerifyLevelType">
            <s:restriction base="s:string">
               <s:enumeration value="None"/>
               <s:enumeration value="Verified"/>
               <s:enumeration value="InteractionRequired"/>
               <s:enumeration value="PremisesPartial"/>
               <s:enumeration value="StreetPartial"/>
               <s:enumeration value="Multiple"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="Picklist">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAPicklist" type="s1:QAPicklistType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="QAAddress" type="s1:QAAddressType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="DoGBRPostCodeSearchSoapIn">
      <wsdl:part name="parameters" element="tns:DoGBRPostCodeSearch"/>
  </wsdl:message>
  <wsdl:message name="DoGBRPostCodeSearchSoapOut">
      <wsdl:part name="parameters" element="tns:DoGBRPostCodeSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="DoHouseRefineSearchSoapIn">
      <wsdl:part name="parameters" element="tns:DoHouseRefineSearch"/>
  </wsdl:message>
  <wsdl:message name="DoHouseRefineSearchSoapOut">
      <wsdl:part name="parameters" element="tns:DoHouseRefineSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFinalAddressSoapIn">
      <wsdl:part name="parameters" element="tns:GetFinalAddress"/>
  </wsdl:message>
  <wsdl:message name="GetFinalAddressSoapOut">
      <wsdl:part name="parameters" element="tns:GetFinalAddressResponse"/>
  </wsdl:message>
  <wsdl:portType name="AddressServiceSoap">
      <wsdl:operation name="DoGBRPostCodeSearch">
         <wsdl:input message="tns:DoGBRPostCodeSearchSoapIn"/>
         <wsdl:output message="tns:DoGBRPostCodeSearchSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DoHouseRefineSearch">
         <wsdl:input message="tns:DoHouseRefineSearchSoapIn"/>
         <wsdl:output message="tns:DoHouseRefineSearchSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFinalAddress">
         <wsdl:input message="tns:GetFinalAddressSoapIn"/>
         <wsdl:output message="tns:GetFinalAddressSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressServiceSoap" type="tns:AddressServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="DoGBRPostCodeSearch">
         <soap:operation soapAction="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService/DoGBRPostCodeSearch"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DoHouseRefineSearch">
         <soap:operation soapAction="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService/DoHouseRefineSearch"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFinalAddress">
         <soap:operation soapAction="http://www.college-of-law.co.uk/COL.Web.Services.Common.AddressService/AddressService/GetFinalAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
      <wsdl:port name="AddressServiceSoap" binding="tns:AddressServiceSoap">
         <soap:address location="http://ws.soatrader.com/lawcol.com/0.1/AddressService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>