wsdl_repositories/soatrader - Copy/AdministrationService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://tempuri.org/Articulos.xsd"/>
         <s:import schemaLocation="http://www.roller.com.mx/RollerV1/Services/AdministrationService.asmx?schema=Articulos"
                   namespace="http://tempuri.org/Articulos.xsd"/>
         <s:element name="GetProducts">
            <s:complexType/>
         </s:element>
         <s:element name="GetProductsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                        <s:attribute fixed="http://tempuri.org/Articulos.xsd" name="namespace"/>
                        <s:attribute fixed="tblProductosDataTable" name="tableTypeName"/>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarcas">
            <s:complexType/>
         </s:element>
         <s:element name="GetMarcasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMarcasResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                        <s:attribute fixed="http://tempuri.org/Articulos.xsd" name="namespace"/>
                        <s:attribute fixed="tblMarcasDataTable" name="tableTypeName"/>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategorias">
            <s:complexType/>
         </s:element>
         <s:element name="GetCategoriasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCategoriasResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                        <s:attribute fixed="http://tempuri.org/Articulos.xsd" name="namespace"/>
                        <s:attribute fixed="prodCatDataTable" name="tableTypeName"/>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveProducts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="dt">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                        <s:attribute fixed="http://tempuri.org/Articulos.xsd" name="namespace"/>
                        <s:attribute fixed="tblProductosDataTable" name="tableTypeName"/>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveProductsResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSlides">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contextKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSlidesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSlidesResult" type="tns:ArrayOfSlide"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSlide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Slide" nillable="true"
                          type="tns:Slide"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Slide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductsSoapIn">
      <wsdl:part name="parameters" element="tns:GetProducts"/>
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
      <wsdl:part name="parameters" element="tns:GetProductsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarcasSoapIn">
      <wsdl:part name="parameters" element="tns:GetMarcas"/>
  </wsdl:message>
  <wsdl:message name="GetMarcasSoapOut">
      <wsdl:part name="parameters" element="tns:GetMarcasResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCategoriasSoapIn">
      <wsdl:part name="parameters" element="tns:GetCategorias"/>
  </wsdl:message>
  <wsdl:message name="GetCategoriasSoapOut">
      <wsdl:part name="parameters" element="tns:GetCategoriasResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveProductsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveProducts"/>
  </wsdl:message>
  <wsdl:message name="SaveProductsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveProductsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapIn">
      <wsdl:part name="parameters" element="tns:GetSlides"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapOut">
      <wsdl:part name="parameters" element="tns:GetSlidesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AdministrationServiceSoap" type="tns:AdministrationServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetProducts">
         <soap:operation soapAction="http://tempuri.org/GetProducts" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarcas">
         <soap:operation soapAction="http://tempuri.org/GetMarcas" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCategorias">
         <soap:operation soapAction="http://tempuri.org/GetCategorias" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveProducts">
         <soap:operation soapAction="http://tempuri.org/SaveProducts" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSlides">
         <soap:operation soapAction="http://tempuri.org/GetSlides" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AdministrationService">
      <wsdl:port name="AdministrationServiceSoap" binding="tns:AdministrationServiceSoap">
         <soap:address location="http://ws.soatrader.com/roller.com.mx/0.1/AdministrationService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>