wsdl_repositories/soatrader - Copy/AdminCCNINetworkUtilsService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                  xmlns:intf="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://www.w3.org/1999/XMLSchema"
                  xmlns:tns2="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2alpha
Built on Dec 01, 2003 (04:33:24 EST)-->

   <wsdl:message name="executeCountryCityResponse">

      <wsdl:part name="executeCountryCityReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeZonesResponse">

      <wsdl:part name="executeZonesReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeCountryResponse">

      <wsdl:part name="executeCountryReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executePeopleResponse">

      <wsdl:part name="executePeopleReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="testWSRequest">

      <wsdl:part name="in0" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeMailDirectoryResponse">

      <wsdl:part name="executeMailDirectoryReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executePeopleAgencyResponse">

      <wsdl:part name="executePeopleAgencyReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeCountryRequest">

      <wsdl:part name="in0" type="tns2:string"/>

      <wsdl:part name="in1" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="executePeopleRequest">

      <wsdl:part name="in0" type="tns2:string"/>

      <wsdl:part name="in1" type="tns2:string"/>

      <wsdl:part name="in2" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeCountryCityRequest">

      <wsdl:part name="in0" type="tns2:string"/>

      <wsdl:part name="in1" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="executeMailDirectoryRequest">

      <wsdl:part name="in0" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executeZonesRequest">

   </wsdl:message>

   <wsdl:message name="testWSResponse">

      <wsdl:part name="testWSReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executePeopleCCNIRequest">

      <wsdl:part name="in0" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executePeopleCCNIResponse">

      <wsdl:part name="executePeopleCCNIReturn" type="tns2:string"/>

   </wsdl:message>

   <wsdl:message name="executePeopleAgencyRequest">

      <wsdl:part name="in0" type="tns2:string"/>

      <wsdl:part name="in1" type="tns2:string"/>

      <wsdl:part name="in2" type="tns2:string"/>

   </wsdl:message>

   <wsdl:portType name="AdminCCNINetworkUtils">

      <wsdl:operation name="testWS" parameterOrder="in0">

         <wsdl:input message="impl:testWSRequest" name="testWSRequest"/>

         <wsdl:output message="impl:testWSResponse" name="testWSResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeZones">

         <wsdl:input message="impl:executeZonesRequest" name="executeZonesRequest"/>

         <wsdl:output message="impl:executeZonesResponse" name="executeZonesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeCountry" parameterOrder="in0 in1">

         <wsdl:input message="impl:executeCountryRequest" name="executeCountryRequest"/>

         <wsdl:output message="impl:executeCountryResponse" name="executeCountryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeCountryCity" parameterOrder="in0 in1">

         <wsdl:input message="impl:executeCountryCityRequest" name="executeCountryCityRequest"/>

         <wsdl:output message="impl:executeCountryCityResponse" name="executeCountryCityResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executePeople" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:executePeopleRequest" name="executePeopleRequest"/>

         <wsdl:output message="impl:executePeopleResponse" name="executePeopleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeMailDirectory" parameterOrder="in0">

         <wsdl:input message="impl:executeMailDirectoryRequest" name="executeMailDirectoryRequest"/>

         <wsdl:output message="impl:executeMailDirectoryResponse" name="executeMailDirectoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executePeopleCCNI" parameterOrder="in0">

         <wsdl:input message="impl:executePeopleCCNIRequest" name="executePeopleCCNIRequest"/>

         <wsdl:output message="impl:executePeopleCCNIResponse" name="executePeopleCCNIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executePeopleAgency" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:executePeopleAgencyRequest" name="executePeopleAgencyRequest"/>

         <wsdl:output message="impl:executePeopleAgencyResponse" name="executePeopleAgencyResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="wsCCNINetworkSoapBinding" type="impl:AdminCCNINetworkUtils">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testWS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testWSRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="testWSResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeZones">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeZonesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeZonesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeCountry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeCountryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeCountryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeCountryCity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeCountryCityRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeCountryCityResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executePeople">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executePeopleRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executePeopleResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeMailDirectory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeMailDirectoryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeMailDirectoryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executePeopleCCNI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executePeopleCCNIRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executePeopleCCNIResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executePeopleAgency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executePeopleAgencyRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://bo.adminCCNINetwork"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executePeopleAgencyResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www1.ccni.cl/adminCCNINetwork/ws/services/wsCCNINetwork"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdminCCNINetworkUtilsService">

      <wsdl:port binding="impl:wsCCNINetworkSoapBinding" name="wsCCNINetwork">

         <wsdlsoap:address location="http://ws.soatrader.com/ccni.cl/0.1/AdminCCNINetworkUtilsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>