wsdl_repositories/soatrader - Copy/AdobeOLS.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://ns.adobe.com/ols/core/3.0"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://ns.adobe.com/ols/core/3.0"
                  xmlns:intf="http://ns.adobe.com/ols/core/3.0"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://ns.adobe.com/ols/core/3.0">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:message name="messageExchangeRequest">
      <wsdl:part name="request" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="messageExchangeResponse">
      <wsdl:part name="response" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="Core">
      <wsdl:operation name="messageExchange" parameterOrder="request">
         <wsdl:input message="impl:messageExchangeRequest" name="messageExchangeRequest"/>
         <wsdl:output message="impl:messageExchangeResponse" name="messageExchangeResponse"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MXServletSoapBinding" type="impl:Core">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="messageExchange">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="messageExchangeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ns.adobe.com/ols/core/3.0"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="messageExchangeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ns.adobe.com/ols/core/3.0"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdobeOLS">
      <wsdl:port binding="impl:MXServletSoapBinding" name="MXServlet">
         <wsdlsoap:address location="http://ws.soatrader.com/adobe.com/0.1/AdobeOLS"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>