wsdl_repositories/soatrader - Copy/AgentShield.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="ReturnAgentData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="APIAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReturnAgentDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnAgentDataResult" type="tns:Agent"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Agent">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PhotoURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HowHeard" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WebsiteURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BrokerageName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TeamName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NameToDisplay" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Development" type="tns:Development"/>
               <s:element minOccurs="1" maxOccurs="1" name="LoginCount" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AffiliateID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PartnerCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Development">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="DevelopmentID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeveloperID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DevelopmentName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WebsiteURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DateCreated" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Active" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Developer" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CommissionOffered" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OutOfStateReferralOffered" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ClientRegistrationPolicy" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SpecialOffers" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MinPrice" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MaxPrice" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PropertyTypes" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeoLat" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeoLong" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeveloperNotes" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DevelopmentPhase" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PaymentStatus" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowDisclaimer" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="DisclaimerPage" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="RequiresApproval" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="ApprovalEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Cert_AppendQueryStringToAllLinks"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ReturnAgentDevelopments">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReturnAgentDevelopmentsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnAgentDevelopmentsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NewLead">
            <s:complexType/>
         </s:element>
         <s:element name="NewLeadResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="NewLeadResult" type="tns:Lead"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Lead">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BrokerName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BrokerPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BrokerEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PriceRangeMin" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PriceRangeMax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AgeRange" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NoInHouseHold" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DevelopmentID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactMethod" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="GetUpdates" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="HowDidTheyHear" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OtherData" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HasBeenViewed" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetDirection" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="PostLead">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BrokerName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BrokerPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BrokerEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PriceRangeMin" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PriceRangeMax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgeRange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NoInHouseHold" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DevelopmentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="HowDidTheyHear" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ContactMethod" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUpdates" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OtherData" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="APIAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostLeadResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostLeadResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostLeadObject">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="oLead" type="tns:Lead"/>
                  <s:element minOccurs="0" maxOccurs="1" name="APIAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostLeadObjectResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostLeadObjectResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendLeadMail">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailTo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailFrom" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="APIAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendLeadMailResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendLeadMailResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Agent" nillable="true" type="tns:Agent"/>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Lead" nillable="true" type="tns:Lead"/>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnAgentDataSoapIn">
      <wsdl:part name="parameters" element="tns:ReturnAgentData"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDataSoapOut">
      <wsdl:part name="parameters" element="tns:ReturnAgentDataResponse"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsSoapIn">
      <wsdl:part name="parameters" element="tns:ReturnAgentDevelopments"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsSoapOut">
      <wsdl:part name="parameters" element="tns:ReturnAgentDevelopmentsResponse"/>
  </wsdl:message>
  <wsdl:message name="NewLeadSoapIn">
      <wsdl:part name="parameters" element="tns:NewLead"/>
  </wsdl:message>
  <wsdl:message name="NewLeadSoapOut">
      <wsdl:part name="parameters" element="tns:NewLeadResponse"/>
  </wsdl:message>
  <wsdl:message name="PostLeadSoapIn">
      <wsdl:part name="parameters" element="tns:PostLead"/>
  </wsdl:message>
  <wsdl:message name="PostLeadSoapOut">
      <wsdl:part name="parameters" element="tns:PostLeadResponse"/>
  </wsdl:message>
  <wsdl:message name="PostLeadObjectSoapIn">
      <wsdl:part name="parameters" element="tns:PostLeadObject"/>
  </wsdl:message>
  <wsdl:message name="PostLeadObjectSoapOut">
      <wsdl:part name="parameters" element="tns:PostLeadObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailSoapIn">
      <wsdl:part name="parameters" element="tns:SendLeadMail"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailSoapOut">
      <wsdl:part name="parameters" element="tns:SendLeadMailResponse"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDataHttpGetIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDataHttpGetOut">
      <wsdl:part name="Body" element="tns:Agent"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsHttpGetIn">
      <wsdl:part name="AgentCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="NewLeadHttpGetIn"/>
  <wsdl:message name="NewLeadHttpGetOut">
      <wsdl:part name="Body" element="tns:Lead"/>
  </wsdl:message>
  <wsdl:message name="PostLeadHttpGetIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="Address1" type="s:string"/>
      <wsdl:part name="Address2" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="Phone" type="s:string"/>
      <wsdl:part name="Mobile" type="s:string"/>
      <wsdl:part name="Fax" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="BrokerName" type="s:string"/>
      <wsdl:part name="BrokerPhone" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="BrokerEmail" type="s:string"/>
      <wsdl:part name="InterestedIn" type="s:string"/>
      <wsdl:part name="PriceRangeMin" type="s:string"/>
      <wsdl:part name="PriceRangeMax" type="s:string"/>
      <wsdl:part name="AgeRange" type="s:string"/>
      <wsdl:part name="NoInHouseHold" type="s:string"/>
      <wsdl:part name="DevelopmentID" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="Comments" type="s:string"/>
      <wsdl:part name="HowDidTheyHear" type="s:string"/>
      <wsdl:part name="ContactMethod" type="s:string"/>
      <wsdl:part name="GetUpdates" type="s:string"/>
      <wsdl:part name="OtherData" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
      <wsdl:part name="AgentCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostLeadHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailHttpGetIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="EmailAddress" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="Phone" type="s:string"/>
      <wsdl:part name="Comments" type="s:string"/>
      <wsdl:part name="EmailTo" type="s:string"/>
      <wsdl:part name="EmailFrom" type="s:string"/>
      <wsdl:part name="Subject" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDataHttpPostIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDataHttpPostOut">
      <wsdl:part name="Body" element="tns:Agent"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsHttpPostIn">
      <wsdl:part name="AgentCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnAgentDevelopmentsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="NewLeadHttpPostIn"/>
  <wsdl:message name="NewLeadHttpPostOut">
      <wsdl:part name="Body" element="tns:Lead"/>
  </wsdl:message>
  <wsdl:message name="PostLeadHttpPostIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="Address1" type="s:string"/>
      <wsdl:part name="Address2" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="Phone" type="s:string"/>
      <wsdl:part name="Mobile" type="s:string"/>
      <wsdl:part name="Fax" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="BrokerName" type="s:string"/>
      <wsdl:part name="BrokerPhone" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="BrokerEmail" type="s:string"/>
      <wsdl:part name="InterestedIn" type="s:string"/>
      <wsdl:part name="PriceRangeMin" type="s:string"/>
      <wsdl:part name="PriceRangeMax" type="s:string"/>
      <wsdl:part name="AgeRange" type="s:string"/>
      <wsdl:part name="NoInHouseHold" type="s:string"/>
      <wsdl:part name="DevelopmentID" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="Comments" type="s:string"/>
      <wsdl:part name="HowDidTheyHear" type="s:string"/>
      <wsdl:part name="ContactMethod" type="s:string"/>
      <wsdl:part name="GetUpdates" type="s:string"/>
      <wsdl:part name="OtherData" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
      <wsdl:part name="AgentCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostLeadHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailHttpPostIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="EmailAddress" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="Phone" type="s:string"/>
      <wsdl:part name="Comments" type="s:string"/>
      <wsdl:part name="EmailTo" type="s:string"/>
      <wsdl:part name="EmailFrom" type="s:string"/>
      <wsdl:part name="Subject" type="s:string"/>
      <wsdl:part name="APIAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendLeadMailHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AgentShieldSoap" type="tns:AgentShieldSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ReturnAgentData">
         <soap:operation soapAction="http://tempuri.org/ReturnAgentData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReturnAgentDevelopments">
         <soap:operation soapAction="http://tempuri.org/ReturnAgentDevelopments" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NewLead">
         <soap:operation soapAction="http://tempuri.org/NewLead" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostLead">
         <soap:operation soapAction="http://tempuri.org/PostLead" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostLeadObject">
         <soap:operation soapAction="http://tempuri.org/PostLeadObject" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendLeadMail">
         <soap:operation soapAction="http://tempuri.org/SendLeadMail" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AgentShield">
      <wsdl:port name="AgentShieldSoap" binding="tns:AgentShieldSoap">
         <soap:address location="http://ws.soatrader.com/agentshield.com/0.1/AgentShield"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>