wsdl_repositories/soatrader - Copy/AggieEpaySystem.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://epay.tamu.edu/epay-webservices"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://epay.tamu.edu/epay-webservices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://epay.tamu.edu/epay-webservices">
         <s:element name="RequestNewTransaction">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DepartmentVid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CampusAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EpaySystem" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject8" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount8" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject9" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount9" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject10" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount10" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject11" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount11" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject12" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount12" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject13" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount13" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject14" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount14" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisObject15" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FamisAmount15" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RequestNewTransactionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RequestNewTransactionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByCustomerId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DepartmentVid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CampusAccount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByCustomerIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResultsByCustomerIdResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByTraceNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TraceNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DepartmentVid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CampusAccount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByTraceNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResultsByTraceNumberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByTransId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TransId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DepartmentVid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CampusAccount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResultsByTransIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResultsByTransIdResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSystemAvailability">
            <s:complexType/>
         </s:element>
         <s:element name="GetSystemAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSystemAvailabilityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestNewTransactionSoapIn">
      <wsdl:part name="parameters" element="tns:RequestNewTransaction"/>
  </wsdl:message>
  <wsdl:message name="RequestNewTransactionSoapOut">
      <wsdl:part name="parameters" element="tns:RequestNewTransactionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByCustomerIdSoapIn">
      <wsdl:part name="parameters" element="tns:GetResultsByCustomerId"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByCustomerIdSoapOut">
      <wsdl:part name="parameters" element="tns:GetResultsByCustomerIdResponse"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTraceNumberSoapIn">
      <wsdl:part name="parameters" element="tns:GetResultsByTraceNumber"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTraceNumberSoapOut">
      <wsdl:part name="parameters" element="tns:GetResultsByTraceNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTransIdSoapIn">
      <wsdl:part name="parameters" element="tns:GetResultsByTransId"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTransIdSoapOut">
      <wsdl:part name="parameters" element="tns:GetResultsByTransIdResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSystemAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:GetSystemAvailability"/>
  </wsdl:message>
  <wsdl:message name="GetSystemAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:GetSystemAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestNewTransactionHttpGetIn">
      <wsdl:part name="DepartmentVid" type="s:string"/>
      <wsdl:part name="CampusAccount" type="s:string"/>
      <wsdl:part name="TransactionName" type="s:string"/>
      <wsdl:part name="EpaySystem" type="s:string"/>
      <wsdl:part name="ReturnUrl" type="s:string"/>
      <wsdl:part name="FamisObject1" type="s:string"/>
      <wsdl:part name="FamisAmount1" type="s:string"/>
      <wsdl:part name="FamisObject2" type="s:string"/>
      <wsdl:part name="FamisAmount2" type="s:string"/>
      <wsdl:part name="FamisObject3" type="s:string"/>
      <wsdl:part name="FamisAmount3" type="s:string"/>
      <wsdl:part name="FamisObject4" type="s:string"/>
      <wsdl:part name="FamisAmount4" type="s:string"/>
      <wsdl:part name="FamisObject5" type="s:string"/>
      <wsdl:part name="FamisAmount5" type="s:string"/>
      <wsdl:part name="FamisObject6" type="s:string"/>
      <wsdl:part name="FamisAmount6" type="s:string"/>
      <wsdl:part name="FamisObject7" type="s:string"/>
      <wsdl:part name="FamisAmount7" type="s:string"/>
      <wsdl:part name="FamisObject8" type="s:string"/>
      <wsdl:part name="FamisAmount8" type="s:string"/>
      <wsdl:part name="FamisObject9" type="s:string"/>
      <wsdl:part name="FamisAmount9" type="s:string"/>
      <wsdl:part name="FamisObject10" type="s:string"/>
      <wsdl:part name="FamisAmount10" type="s:string"/>
      <wsdl:part name="FamisObject11" type="s:string"/>
      <wsdl:part name="FamisAmount11" type="s:string"/>
      <wsdl:part name="FamisObject12" type="s:string"/>
      <wsdl:part name="FamisAmount12" type="s:string"/>
      <wsdl:part name="FamisObject13" type="s:string"/>
      <wsdl:part name="FamisAmount13" type="s:string"/>
      <wsdl:part name="FamisObject14" type="s:string"/>
      <wsdl:part name="FamisAmount14" type="s:string"/>
      <wsdl:part name="FamisObject15" type="s:string"/>
      <wsdl:part name="FamisAmount15" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RequestNewTransactionHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByCustomerIdHttpGetIn">
      <wsdl:part name="CustomerId" type="s:string"/>
      <wsdl:part name="DepartmentVid" type="s:string"/>
      <wsdl:part name="CampusAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByCustomerIdHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTraceNumberHttpGetIn">
      <wsdl:part name="TraceNumber" type="s:string"/>
      <wsdl:part name="DepartmentVid" type="s:string"/>
      <wsdl:part name="CampusAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTraceNumberHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTransIdHttpGetIn">
      <wsdl:part name="TransId" type="s:string"/>
      <wsdl:part name="DepartmentVid" type="s:string"/>
      <wsdl:part name="CampusAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultsByTransIdHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSystemAvailabilityHttpGetIn"/>
  <wsdl:message name="GetSystemAvailabilityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="AggieEpaySystemSoap">
      <wsdl:operation name="RequestNewTransaction">
         <wsdl:input message="tns:RequestNewTransactionSoapIn"/>
         <wsdl:output message="tns:RequestNewTransactionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByCustomerId">
         <wsdl:input message="tns:GetResultsByCustomerIdSoapIn"/>
         <wsdl:output message="tns:GetResultsByCustomerIdSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByTraceNumber">
         <wsdl:input message="tns:GetResultsByTraceNumberSoapIn"/>
         <wsdl:output message="tns:GetResultsByTraceNumberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByTransId">
         <wsdl:input message="tns:GetResultsByTransIdSoapIn"/>
         <wsdl:output message="tns:GetResultsByTransIdSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSystemAvailability">
         <wsdl:input message="tns:GetSystemAvailabilitySoapIn"/>
         <wsdl:output message="tns:GetSystemAvailabilitySoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="AggieEpaySystemSoap" type="tns:AggieEpaySystemSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="RequestNewTransaction">
         <soap:operation soapAction="http://epay.tamu.edu/epay-webservices/RequestNewTransaction"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByCustomerId">
         <soap:operation soapAction="http://epay.tamu.edu/epay-webservices/GetResultsByCustomerId"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByTraceNumber">
         <soap:operation soapAction="http://epay.tamu.edu/epay-webservices/GetResultsByTraceNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetResultsByTransId">
         <soap:operation soapAction="http://epay.tamu.edu/epay-webservices/GetResultsByTransId"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSystemAvailability">
         <soap:operation soapAction="http://epay.tamu.edu/epay-webservices/GetSystemAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AggieEpaySystem">
      <wsdl:port name="AggieEpaySystemSoap" binding="tns:AggieEpaySystemSoap">
         <soap:address location="http://ws.soatrader.com/tamu.edu/0.1/AggieEpaySystem"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>