wsdl_repositories/soatrader - Copy/AggregationDefinitionHandlerService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                  xmlns:intf="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://security.application.exceptions.common.core.escidoc.de"
                  xmlns:tns2="http://exceptions.common.core.escidoc.de"
                  xmlns:tns3="http://notfound.application.exceptions.common.core.escidoc.de"
                  xmlns:tns4="http://application.exceptions.common.core.escidoc.de"
                  xmlns:tns5="http://missing.application.exceptions.common.core.escidoc.de"
                  xmlns:tns6="http://system.exceptions.common.core.escidoc.de"
                  xmlns:tns7="http://invalid.application.exceptions.common.core.escidoc.de"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="EscidocException">
            <sequence>
               <element name="httpStatusCode" type="xsd:int"/>
               <element name="httpStatusLine" nillable="true" type="xsd:string"/>
               <element name="httpStatusMsg" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="EscidocException">
            <sequence>
               <element name="httpStatusCode" type="xsd:int"/>
               <element name="httpStatusLine" nillable="true" type="xsd:string"/>
               <element name="httpStatusMsg" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://security.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SecurityException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence>
                     <element name="redirectLocation" nillable="true" type="xsd:string"/>
                  </sequence>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AuthenticationException">
            <complexContent>
               <extension base="tns1:SecurityException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AuthorizationException">
            <complexContent>
               <extension base="tns1:SecurityException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://security.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SecurityException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence>
                     <element name="redirectLocation" nillable="true" type="xsd:string"/>
                  </sequence>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AuthenticationException">
            <complexContent>
               <extension base="tns1:SecurityException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AuthorizationException">
            <complexContent>
               <extension base="tns1:SecurityException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="ApplicationException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="ApplicationException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://notfound.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ResourceNotFoundException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AggregationDefinitionNotFoundException">
            <complexContent>
               <extension base="tns3:ResourceNotFoundException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="ScopeNotFoundException">
            <complexContent>
               <extension base="tns3:ResourceNotFoundException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://notfound.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ResourceNotFoundException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="AggregationDefinitionNotFoundException">
            <complexContent>
               <extension base="tns3:ResourceNotFoundException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="ScopeNotFoundException">
            <complexContent>
               <extension base="tns3:ResourceNotFoundException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://missing.application.exceptions.common.core.escidoc.de">
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="MissingParameterException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="MissingMethodParameterException">
            <complexContent>
               <extension base="tns5:MissingParameterException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://missing.application.exceptions.common.core.escidoc.de">
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="MissingParameterException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="MissingMethodParameterException">
            <complexContent>
               <extension base="tns5:MissingParameterException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://system.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SystemException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="WorkflowEngineSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="SqlDatabaseSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="ApplicationServerSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="FileSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="FedoraSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="IntegritySystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="WebserverSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlParserSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="TripleStoreSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://system.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://invalid.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SystemException">
            <complexContent>
               <extension base="tns2:EscidocException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="WorkflowEngineSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="SqlDatabaseSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="ApplicationServerSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="FileSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="FedoraSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="IntegritySystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="WebserverSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlParserSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="TripleStoreSystemException">
            <complexContent>
               <extension base="tns6:SystemException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://invalid.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ValidationException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="InvalidXmlException">
            <complexContent>
               <extension base="tns7:ValidationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlSchemaValidationException">
            <complexContent>
               <extension base="tns7:InvalidXmlException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlCorruptedException">
            <complexContent>
               <extension base="tns7:InvalidXmlException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://invalid.application.exceptions.common.core.escidoc.de">
         <import namespace="http://missing.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://system.exceptions.common.core.escidoc.de"/>
         <import namespace="http://security.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://exceptions.common.core.escidoc.de"/>
         <import namespace="http://notfound.application.exceptions.common.core.escidoc.de"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ValidationException">
            <complexContent>
               <extension base="tns4:ApplicationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="InvalidXmlException">
            <complexContent>
               <extension base="tns7:ValidationException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlSchemaValidationException">
            <complexContent>
               <extension base="tns7:InvalidXmlException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="XmlCorruptedException">
            <complexContent>
               <extension base="tns7:InvalidXmlException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="AuthenticationException">

      <wsdl:part name="fault" type="tns1:AuthenticationException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="MissingMethodParameterException">

      <wsdl:part name="fault" type="tns5:MissingMethodParameterException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SystemException">

      <wsdl:part name="fault" type="tns6:SystemException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ScopeNotFoundException">

      <wsdl:part name="fault" type="tns3:ScopeNotFoundException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AggregationDefinitionNotFoundException">

      <wsdl:part name="fault" type="tns3:AggregationDefinitionNotFoundException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

   </wsdl:message>

   <wsdl:message name="retrieveResponse">

      <wsdl:part name="retrieveReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AuthorizationException">

      <wsdl:part name="fault" type="tns1:AuthorizationException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="XmlCorruptedException">

      <wsdl:part name="fault" type="tns7:XmlCorruptedException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="XmlSchemaValidationException">

      <wsdl:part name="fault" type="tns7:XmlSchemaValidationException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part name="in0" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveAggregationDefinitionsResponse">

      <wsdl:part name="retrieveAggregationDefinitionsReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveAggregationDefinitionsRequest">

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part name="createReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveRequest">

      <wsdl:part name="in0" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part name="in0" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AggregationDefinitionHandler">

      <wsdl:operation name="delete" parameterOrder="in0">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

         <wsdl:fault message="impl:SystemException" name="SystemException">

       </wsdl:fault>

         <wsdl:fault message="impl:MissingMethodParameterException"
                     name="MissingMethodParameterException">

       </wsdl:fault>

         <wsdl:fault message="impl:AggregationDefinitionNotFoundException"
                     name="AggregationDefinitionNotFoundException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthorizationException" name="AuthorizationException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="create" parameterOrder="in0">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

         <wsdl:fault message="impl:SystemException" name="SystemException">

       </wsdl:fault>

         <wsdl:fault message="impl:ScopeNotFoundException" name="ScopeNotFoundException">

       </wsdl:fault>

         <wsdl:fault message="impl:XmlSchemaValidationException" name="XmlSchemaValidationException">

       </wsdl:fault>

         <wsdl:fault message="impl:MissingMethodParameterException"
                     name="MissingMethodParameterException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthorizationException" name="AuthorizationException">

       </wsdl:fault>

         <wsdl:fault message="impl:XmlCorruptedException" name="XmlCorruptedException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieve" parameterOrder="in0">

         <wsdl:input message="impl:retrieveRequest" name="retrieveRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveResponse" name="retrieveResponse">

       </wsdl:output>

         <wsdl:fault message="impl:SystemException" name="SystemException">

       </wsdl:fault>

         <wsdl:fault message="impl:MissingMethodParameterException"
                     name="MissingMethodParameterException">

       </wsdl:fault>

         <wsdl:fault message="impl:AggregationDefinitionNotFoundException"
                     name="AggregationDefinitionNotFoundException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthorizationException" name="AuthorizationException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveAggregationDefinitions">

         <wsdl:input message="impl:retrieveAggregationDefinitionsRequest"
                     name="retrieveAggregationDefinitionsRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveAggregationDefinitionsResponse"
                      name="retrieveAggregationDefinitionsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:SystemException" name="SystemException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException">

       </wsdl:fault>

         <wsdl:fault message="impl:AuthorizationException" name="AuthorizationException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AggregationDefinitionHandlerServiceSoapBinding"
                 type="impl:AggregationDefinitionHandler">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SystemException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SystemException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="MissingMethodParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="MissingMethodParameterException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AggregationDefinitionNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AggregationDefinitionNotFoundException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthenticationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthorizationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthorizationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SystemException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SystemException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ScopeNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="ScopeNotFoundException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="XmlSchemaValidationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="XmlSchemaValidationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="MissingMethodParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="MissingMethodParameterException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthenticationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthorizationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthorizationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="XmlCorruptedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="XmlCorruptedException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieve">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="retrieveResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SystemException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SystemException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="MissingMethodParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="MissingMethodParameterException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AggregationDefinitionNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AggregationDefinitionNotFoundException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthenticationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthorizationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthorizationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveAggregationDefinitions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveAggregationDefinitionsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="retrieveAggregationDefinitionsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SystemException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SystemException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthenticationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AuthorizationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AuthorizationException"
                            namespace="http://www.escidoc.de/services/AggregationDefinitionHandlerService/0.1"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AggregationDefinitionHandlerService">

      <wsdl:port binding="impl:AggregationDefinitionHandlerServiceSoapBinding"
                 name="AggregationDefinitionHandlerService">

         <wsdlsoap:address location="http://ws.soatrader.com/escidoc-project.de/0.1/AggregationDefinitionHandlerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>