wsdl_repositories/soatrader - Copy/AgriTechSystemServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://150.26.215.152/axis/services/FSDBService"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://150.26.215.152/axis/services/FSDBService"
                  xmlns:intf="http://150.26.215.152/axis/services/FSDBService"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="urn:FSDBService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://150.26.215.152/axis/services/FSDBService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDLはApache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)によって生成されました / [en]-(WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT))-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:FSDBService">
         <import namespace="http://150.26.215.152/axis/services/FSDBService"/>
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CostInformation">
            <sequence>
               <element name="area" type="xsd:double"/>
               <element name="cost" type="xsd:double"/>
               <element name="costClass" type="xsd:int"/>
               <element name="costData" type="xsd:double"/>
               <element name="costItem" type="xsd:int"/>
               <element name="costItemName" nillable="true" type="xsd:string"/>
               <element name="costKind" type="xsd:int"/>
               <element name="costKindName" nillable="true" type="xsd:string"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="unitCost" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="AgriInstInformation">
            <sequence>
               <element name="ability" type="xsd:double"/>
               <element name="allProcess" type="xsd:double"/>
               <element name="className" nillable="true" type="xsd:string"/>
               <element name="cls" type="xsd:int"/>
               <element name="coef" nillable="true" type="impl:ArrayOf_xsd_double"/>
               <element name="date" nillable="true" type="xsd:dateTime"/>
               <element name="durability" type="xsd:int"/>
               <element name="fixedCost" type="xsd:int"/>
               <element name="fixedCostRate" type="xsd:double"/>
               <element name="instFixedCost" type="xsd:double"/>
               <element name="maxProcess" type="xsd:double"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="neededFixedCost" type="xsd:double"/>
               <element name="neededNumber" type="xsd:int"/>
               <element name="note" nillable="true" type="xsd:string"/>
               <element name="num" type="xsd:int"/>
               <element name="price" type="xsd:int"/>
               <element name="process" nillable="true" type="impl:ArrayOf_xsd_double"/>
               <element name="region" type="xsd:int"/>
               <element name="regionName" nillable="true" type="xsd:string"/>
               <element name="register" nillable="true" type="xsd:string"/>
               <element name="source" nillable="true" type="xsd:string"/>
               <element name="unitClass" type="xsd:int"/>
               <element name="unitClassName" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="AgriMachInformation">
            <sequence>
               <element name="className" nillable="true" type="xsd:string"/>
               <element name="cls" type="xsd:int"/>
               <element name="costHourlyWork" type="xsd:int"/>
               <element name="date" nillable="true" type="xsd:dateTime"/>
               <element name="durability" type="xsd:int"/>
               <element name="fixedCost" type="xsd:double"/>
               <element name="fixedCostRate" type="xsd:double"/>
               <element name="fuel" type="xsd:int"/>
               <element name="fuelUse" type="xsd:double"/>
               <element name="kind" nillable="true" type="xsd:string"/>
               <element name="machCost" type="xsd:double"/>
               <element name="machName" nillable="true" type="xsd:string"/>
               <element name="machOp" type="xsd:int"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="needWorktime" type="xsd:double"/>
               <element name="neededFixedCost" type="xsd:double"/>
               <element name="note" nillable="true" type="xsd:string"/>
               <element name="num" type="xsd:int"/>
               <element name="numbers" type="xsd:int"/>
               <element name="oilUse" type="xsd:double"/>
               <element name="price" type="xsd:int"/>
               <element name="process" nillable="true" type="impl:ArrayOf_xsd_double"/>
               <element name="processAll" type="xsd:double"/>
               <element name="processAsMainMachine" nillable="true" type="impl:ArrayOf_xsd_double"/>
               <element name="productCode" nillable="true" type="xsd:string"/>
               <element name="region" type="xsd:int"/>
               <element name="regionName" nillable="true" type="xsd:string"/>
               <element name="register" nillable="true" type="xsd:string"/>
               <element name="source" nillable="true" type="xsd:string"/>
               <element name="totalDuration" type="xsd:int"/>
               <element name="width" type="xsd:double"/>
               <element name="yearlyCost" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="AreaInformation">
            <sequence>
               <element name="farm" type="xsd:int"/>
               <element name="farmName" nillable="true" type="xsd:string"/>
               <element name="max" type="xsd:double"/>
               <element name="tendays" nillable="true" type="impl:ArrayOf_xsd_double"/>
            </sequence>
         </complexType>
         <complexType name="HumanOpWorkTimeInformation">
            <sequence>
               <element name="area" type="xsd:double"/>
               <element name="member" type="xsd:int"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="num" type="xsd:int"/>
               <element name="opItemName" nillable="true" type="xsd:string"/>
               <element name="opName" type="xsd:int"/>
               <element name="realWorkTime" type="xsd:double"/>
               <element name="shareCoef" type="xsd:double"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="worktime" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="MachWorkTimeInformation">
            <sequence>
               <element name="area" type="xsd:double"/>
               <element name="machOpEff" type="xsd:int"/>
               <element name="machOpEffName" nillable="true" type="xsd:string"/>
               <element name="materialItem" type="xsd:int"/>
               <element name="materialItemName" nillable="true" type="xsd:string"/>
               <element name="member" type="xsd:int"/>
               <element name="oilUseRate" type="xsd:double"/>
               <element name="realWorktime" type="xsd:double"/>
               <element name="shareCoef" type="xsd:double"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="unitName" nillable="true" type="xsd:string"/>
               <element name="unitUse" type="xsd:double"/>
               <element name="useYear" type="xsd:int"/>
               <element name="workTime" type="xsd:double"/>
               <element name="worktime" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="OtherProfitInformation">
            <sequence>
               <element name="area" type="xsd:double"/>
               <element name="profit" type="xsd:double"/>
               <element name="profitItem" type="xsd:int"/>
               <element name="regionName" nillable="true" type="xsd:string"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="unitProfit" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="BasicInformation">
            <sequence>
               <element name="condition" nillable="true" type="xsd:string"/>
               <element name="date" nillable="true" type="xsd:dateTime"/>
               <element name="dispersion" nillable="true" type="xsd:string"/>
               <element name="endSeason" nillable="true" type="xsd:string"/>
               <element name="farm" nillable="true" type="xsd:string"/>
               <element name="id" type="xsd:int"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="note" nillable="true" type="xsd:string"/>
               <element name="region" nillable="true" type="xsd:string"/>
               <element name="register" nillable="true" type="xsd:string"/>
               <element name="scale" nillable="true" type="xsd:string"/>
               <element name="section" nillable="true" type="xsd:string"/>
               <element name="source" nillable="true" type="xsd:string"/>
               <element name="startSeason" nillable="true" type="xsd:string"/>
               <element name="style" nillable="true" type="xsd:string"/>
               <element name="targetRegion" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="FarmInformation">
            <sequence>
               <element name="cls" type="xsd:int"/>
               <element name="name" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MaterialInformation">
            <sequence>
               <element name="area" type="xsd:double"/>
               <element name="brandName" nillable="true" type="xsd:string"/>
               <element name="charge" type="xsd:int"/>
               <element name="classId" type="xsd:int"/>
               <element name="cost" type="xsd:double"/>
               <element name="costClass" type="xsd:int"/>
               <element name="costItem" type="xsd:int"/>
               <element name="costItemName" nillable="true" type="xsd:string"/>
               <element name="mateKind" type="xsd:int"/>
               <element name="materialItem" type="xsd:int"/>
               <element name="materialName" nillable="true" type="xsd:string"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="note" nillable="true" type="xsd:string"/>
               <element name="opItem" type="xsd:int"/>
               <element name="rankName" nillable="true" type="xsd:string"/>
               <element name="region" type="xsd:int"/>
               <element name="registedDate" nillable="true" type="xsd:string"/>
               <element name="registedMan" nillable="true" type="xsd:string"/>
               <element name="source" nillable="true" type="xsd:string"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="unit" type="xsd:int"/>
               <element name="unitCost" type="xsd:double"/>
               <element name="unitName" nillable="true" type="xsd:string"/>
               <element name="use" type="xsd:double"/>
               <element name="useAmount" type="xsd:double"/>
               <element name="useYears" type="xsd:int"/>
               <element name="wrapping" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="ProfitInformation">
            <sequence>
               <element name="amount" type="xsd:double"/>
               <element name="area" type="xsd:double"/>
               <element name="className" nillable="true" type="xsd:string"/>
               <element name="itemName" nillable="true" type="xsd:string"/>
               <element name="profitClass" type="xsd:int"/>
               <element name="profitItem" type="xsd:int"/>
               <element name="profitName" nillable="true" type="xsd:string"/>
               <element name="sales" type="xsd:double"/>
               <element name="systemNum" type="xsd:int"/>
               <element name="tendays" type="xsd:int"/>
               <element name="tendaysName" nillable="true" type="xsd:string"/>
               <element name="unitAmount" type="xsd:double"/>
               <element name="unitPrice" type="xsd:int"/>
               <element name="unitSales" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="WorkFlowItem">
            <sequence>
               <element name="hasTendays" type="xsd:boolean"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="tendays" nillable="true" type="impl:ArrayOf_xsd_double"/>
               <element name="total" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="WorkFlowEstimate">
            <sequence>
               <element name="capital" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="estimate" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="farmAreaCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="houseAreaCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="orcardAreaCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="paddyAreaCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="productCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="workCost" nillable="true" type="tns1:WorkFlowItem"/>
            </sequence>
         </complexType>
         <complexType name="ManagedCostItem">
            <sequence>
               <element name="items" nillable="true" type="impl:ArrayOf_tns1_WorkFlowItem"/>
               <element name="managedCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="up" nillable="true" type="apachesoap:Map"/>
            </sequence>
         </complexType>
         <complexType name="ManagedCost">
            <sequence>
               <element name="fixedCost" nillable="true" type="tns1:ManagedCostItem"/>
               <element name="manageCost" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="variedCost" nillable="true" type="tns1:ManagedCostItem"/>
            </sequence>
         </complexType>
         <complexType name="WorkFlowProfit">
            <sequence>
               <element name="profit" nillable="true" type="tns1:WorkFlowItem"/>
               <element name="realProfit" nillable="true" type="tns1:WorkFlowItem"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://150.26.215.152/axis/services/FSDBService">
         <import namespace="urn:FSDBService"/>
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_CostInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:CostInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_xsd_double">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_AgriInstInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AgriInstInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_AgriMachInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AgriMachInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_HumanOpWorkTimeInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:HumanOpWorkTimeInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_MachWorkTimeInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:MachWorkTimeInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_OtherProfitInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:OtherProfitInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_BasicInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:BasicInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_xsd_int">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_FarmInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:FarmInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_AreaInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AreaInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_tns1_AreaInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AreaInformation[][]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_tns1_AgriInstInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AgriInstInformation[][]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_MaterialInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:MaterialInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_ProfitInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ProfitInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_xsd_double">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[][]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns1_WorkFlowItem">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:WorkFlowItem[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="WorkFlowInformation">
            <sequence>
               <element name="estimate" nillable="true" type="tns1:WorkFlowEstimate"/>
               <element name="managedCost" nillable="true" type="tns1:ManagedCost"/>
               <element name="profit" nillable="true" type="tns1:WorkFlowProfit"/>
            </sequence>
         </complexType>
         <complexType name="ArrayOfWorkFlowInformation">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:WorkFlowInformation[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://xml.apache.org/xml-soap">
         <import namespace="http://150.26.215.152/axis/services/FSDBService"/>
         <import namespace="urn:FSDBService"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="mapItem">
            <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
         <complexType name="Map">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getAgriMachInformationResponse">

      <wsdl:part name="getAgriMachInformationReturn"
                 type="impl:ArrayOf_tns1_AgriMachInformation"/>

   </wsdl:message>

   <wsdl:message name="getBasicInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="getMachWorkTimeInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getProfitInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getAllBasicInformationResponse">

      <wsdl:part name="getAllBasicInformationReturn" type="impl:ArrayOf_tns1_BasicInformation"/>

   </wsdl:message>

   <wsdl:message name="getAllBasicInformationRequest">

   </wsdl:message>

   <wsdl:message name="getProfitInformationResponse">

      <wsdl:part name="getProfitInformationReturn" type="impl:ArrayOf_tns1_ProfitInformation"/>

   </wsdl:message>

   <wsdl:message name="getMachWorkTimeInformationsResponse">

      <wsdl:part name="getMachWorkTimeInformationsReturn"
                 type="impl:ArrayOf_tns1_MachWorkTimeInformation"/>

   </wsdl:message>

   <wsdl:message name="getMaterialsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getMaterialListRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getHumOpWorkTimeInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getMaterialListResponse">

      <wsdl:part name="getMaterialListReturn" type="impl:ArrayOf_tns1_MaterialInformation"/>

   </wsdl:message>

   <wsdl:message name="getAllAreaInformationsResponse">

      <wsdl:part name="getAllAreaInformationsReturn"
                 type="impl:ArrayOfArrayOf_tns1_AreaInformation"/>

   </wsdl:message>

   <wsdl:message name="getProfitInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getCostsResponse">

      <wsdl:part name="getCostsReturn" type="impl:ArrayOf_tns1_CostInformation"/>

   </wsdl:message>

   <wsdl:message name="getOtherProfitRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getHumOpWorkTimeInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getAreaInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

      <wsdl:part name="in2" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getAreaInformationsResponse">

      <wsdl:part name="getAreaInformationsReturn" type="impl:ArrayOf_tns1_AreaInformation"/>

   </wsdl:message>

   <wsdl:message name="getAreaInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="xsd:int"/>

      <wsdl:part name="in2" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getWorkFlowResponse">

      <wsdl:part name="getWorkFlowReturn" type="impl:ArrayOfWorkFlowInformation"/>

   </wsdl:message>

   <wsdl:message name="getMachWorkTimeInformationResponse">

      <wsdl:part name="getMachWorkTimeInformationReturn"
                 type="impl:ArrayOf_tns1_MachWorkTimeInformation"/>

   </wsdl:message>

   <wsdl:message name="getOtherProfitsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getAllAreaInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getCostsWithLocalPriceAndAmountResponse">

      <wsdl:part name="getCostsWithLocalPriceAndAmountReturn"
                 type="impl:ArrayOf_tns1_CostInformation"/>

   </wsdl:message>

   <wsdl:message name="getAllFarmsResponse">

      <wsdl:part name="getAllFarmsReturn" type="impl:ArrayOf_tns1_FarmInformation"/>

   </wsdl:message>

   <wsdl:message name="getWorkFlowRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

      <wsdl:part name="in2" type="xsd:double"/>

      <wsdl:part name="in3" type="xsd:double"/>

      <wsdl:part name="in4" type="xsd:double"/>

      <wsdl:part name="in5" type="xsd:double"/>

      <wsdl:part name="in6" type="xsd:double"/>

      <wsdl:part name="in7" type="xsd:double"/>

      <wsdl:part name="in8" type="xsd:double"/>

      <wsdl:part name="in9" type="xsd:boolean"/>

      <wsdl:part name="in10" type="impl:ArrayOfArrayOf_xsd_double"/>

      <wsdl:part name="in11" type="impl:ArrayOfArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getAgriInstInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getMachWorkTimeInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getOtherProfitResponse">

      <wsdl:part name="getOtherProfitReturn" type="impl:ArrayOf_tns1_OtherProfitInformation"/>

   </wsdl:message>

   <wsdl:message name="getMaterialResponse">

      <wsdl:part name="getMaterialReturn" type="impl:ArrayOf_tns1_MaterialInformation"/>

   </wsdl:message>

   <wsdl:message name="getAgriInstInformationsResponse">

      <wsdl:part name="getAgriInstInformationsReturn"
                 type="impl:ArrayOfArrayOf_tns1_AgriInstInformation"/>

   </wsdl:message>

   <wsdl:message name="getAllFarmsRequest">

   </wsdl:message>

   <wsdl:message name="getProfitInformationsWithLocalPriceAndAmountResponse">

      <wsdl:part name="getProfitInformationsWithLocalPriceAndAmountReturn"
                 type="impl:ArrayOf_tns1_ProfitInformation"/>

   </wsdl:message>

   <wsdl:message name="getAreaInformationResponse">

      <wsdl:part name="getAreaInformationReturn" type="tns1:AreaInformation"/>

   </wsdl:message>

   <wsdl:message name="getBasicInformationResponse">

      <wsdl:part name="getBasicInformationReturn" type="tns1:BasicInformation"/>

   </wsdl:message>

   <wsdl:message name="getBasicInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getMaterialsResponse">

      <wsdl:part name="getMaterialsReturn" type="impl:ArrayOf_tns1_MaterialInformation"/>

   </wsdl:message>

   <wsdl:message name="getBasicInformationsResponse">

      <wsdl:part name="getBasicInformationsReturn" type="impl:ArrayOf_tns1_BasicInformation"/>

   </wsdl:message>

   <wsdl:message name="getCostResponse">

      <wsdl:part name="getCostReturn" type="impl:ArrayOf_tns1_CostInformation"/>

   </wsdl:message>

   <wsdl:message name="getAgriInstInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getOtherProfitsResponse">

      <wsdl:part name="getOtherProfitsReturn" type="impl:ArrayOf_tns1_OtherProfitInformation"/>

   </wsdl:message>

   <wsdl:message name="getHumOpWorkTimeInformationsResponse">

      <wsdl:part name="getHumOpWorkTimeInformationsReturn"
                 type="impl:ArrayOf_tns1_HumanOpWorkTimeInformation"/>

   </wsdl:message>

   <wsdl:message name="getProfitInformationsWithLocalPriceAndAmountRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

      <wsdl:part name="in2" type="impl:ArrayOfArrayOf_xsd_double"/>

      <wsdl:part name="in3" type="impl:ArrayOfArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getAllAreaInformationsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getMaterialRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getAllAreaInformationResponse">

      <wsdl:part name="getAllAreaInformationReturn" type="impl:ArrayOf_tns1_AreaInformation"/>

   </wsdl:message>

   <wsdl:message name="getCostsWithLocalPriceAndAmountRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

      <wsdl:part name="in2" type="impl:ArrayOfArrayOf_xsd_double"/>

      <wsdl:part name="in3" type="impl:ArrayOfArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="getCostRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getAgriInstInformationResponse">

      <wsdl:part name="getAgriInstInformationReturn"
                 type="impl:ArrayOf_tns1_AgriInstInformation"/>

   </wsdl:message>

   <wsdl:message name="getHumOpWorkTimeInformationResponse">

      <wsdl:part name="getHumOpWorkTimeInformationReturn"
                 type="impl:ArrayOf_tns1_HumanOpWorkTimeInformation"/>

   </wsdl:message>

   <wsdl:message name="getProfitInformationsResponse">

      <wsdl:part name="getProfitInformationsReturn" type="impl:ArrayOf_tns1_ProfitInformation"/>

   </wsdl:message>

   <wsdl:message name="getAgriMachInformationRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

      <wsdl:part name="in2" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getCostsRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:portType name="AgriTechSystemService">

      <wsdl:operation name="getCost" parameterOrder="in0 in1">

         <wsdl:input message="impl:getCostRequest" name="getCostRequest"/>

         <wsdl:output message="impl:getCostResponse" name="getCostResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgriInstInformation" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAgriInstInformationRequest"
                     name="getAgriInstInformationRequest"/>

         <wsdl:output message="impl:getAgriInstInformationResponse"
                      name="getAgriInstInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgriMachInformation" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getAgriMachInformationRequest"
                     name="getAgriMachInformationRequest"/>

         <wsdl:output message="impl:getAgriMachInformationResponse"
                      name="getAgriMachInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAreaInformation" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getAreaInformationRequest" name="getAreaInformationRequest"/>

         <wsdl:output message="impl:getAreaInformationResponse" name="getAreaInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHumOpWorkTimeInformation" parameterOrder="in0 in1">

         <wsdl:input message="impl:getHumOpWorkTimeInformationRequest"
                     name="getHumOpWorkTimeInformationRequest"/>

         <wsdl:output message="impl:getHumOpWorkTimeInformationResponse"
                      name="getHumOpWorkTimeInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMachWorkTimeInformation" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMachWorkTimeInformationRequest"
                     name="getMachWorkTimeInformationRequest"/>

         <wsdl:output message="impl:getMachWorkTimeInformationResponse"
                      name="getMachWorkTimeInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOtherProfit" parameterOrder="in0 in1">

         <wsdl:input message="impl:getOtherProfitRequest" name="getOtherProfitRequest"/>

         <wsdl:output message="impl:getOtherProfitResponse" name="getOtherProfitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllBasicInformation">

         <wsdl:input message="impl:getAllBasicInformationRequest"
                     name="getAllBasicInformationRequest"/>

         <wsdl:output message="impl:getAllBasicInformationResponse"
                      name="getAllBasicInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBasicInformation" parameterOrder="in0">

         <wsdl:input message="impl:getBasicInformationRequest" name="getBasicInformationRequest"/>

         <wsdl:output message="impl:getBasicInformationResponse" name="getBasicInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBasicInformations" parameterOrder="in0">

         <wsdl:input message="impl:getBasicInformationsRequest" name="getBasicInformationsRequest"/>

         <wsdl:output message="impl:getBasicInformationsResponse" name="getBasicInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllFarms">

         <wsdl:input message="impl:getAllFarmsRequest" name="getAllFarmsRequest"/>

         <wsdl:output message="impl:getAllFarmsResponse" name="getAllFarmsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAreaInformations" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getAreaInformationsRequest" name="getAreaInformationsRequest"/>

         <wsdl:output message="impl:getAreaInformationsResponse" name="getAreaInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAreaInformation" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAllAreaInformationRequest" name="getAllAreaInformationRequest"/>

         <wsdl:output message="impl:getAllAreaInformationResponse"
                      name="getAllAreaInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAreaInformations" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAllAreaInformationsRequest"
                     name="getAllAreaInformationsRequest"/>

         <wsdl:output message="impl:getAllAreaInformationsResponse"
                      name="getAllAreaInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHumOpWorkTimeInformations" parameterOrder="in0 in1">

         <wsdl:input message="impl:getHumOpWorkTimeInformationsRequest"
                     name="getHumOpWorkTimeInformationsRequest"/>

         <wsdl:output message="impl:getHumOpWorkTimeInformationsResponse"
                      name="getHumOpWorkTimeInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgriInstInformations" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAgriInstInformationsRequest"
                     name="getAgriInstInformationsRequest"/>

         <wsdl:output message="impl:getAgriInstInformationsResponse"
                      name="getAgriInstInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMachWorkTimeInformations" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMachWorkTimeInformationsRequest"
                     name="getMachWorkTimeInformationsRequest"/>

         <wsdl:output message="impl:getMachWorkTimeInformationsResponse"
                      name="getMachWorkTimeInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMaterial" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMaterialRequest" name="getMaterialRequest"/>

         <wsdl:output message="impl:getMaterialResponse" name="getMaterialResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMaterials" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMaterialsRequest" name="getMaterialsRequest"/>

         <wsdl:output message="impl:getMaterialsResponse" name="getMaterialsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMaterialList" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMaterialListRequest" name="getMaterialListRequest"/>

         <wsdl:output message="impl:getMaterialListResponse" name="getMaterialListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformation" parameterOrder="in0 in1">

         <wsdl:input message="impl:getProfitInformationRequest" name="getProfitInformationRequest"/>

         <wsdl:output message="impl:getProfitInformationResponse" name="getProfitInformationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformations" parameterOrder="in0 in1">

         <wsdl:input message="impl:getProfitInformationsRequest" name="getProfitInformationsRequest"/>

         <wsdl:output message="impl:getProfitInformationsResponse"
                      name="getProfitInformationsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformationsWithLocalPriceAndAmount"
                      parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:getProfitInformationsWithLocalPriceAndAmountRequest"
                     name="getProfitInformationsWithLocalPriceAndAmountRequest"/>

         <wsdl:output message="impl:getProfitInformationsWithLocalPriceAndAmountResponse"
                      name="getProfitInformationsWithLocalPriceAndAmountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOtherProfits" parameterOrder="in0 in1">

         <wsdl:input message="impl:getOtherProfitsRequest" name="getOtherProfitsRequest"/>

         <wsdl:output message="impl:getOtherProfitsResponse" name="getOtherProfitsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCosts" parameterOrder="in0 in1">

         <wsdl:input message="impl:getCostsRequest" name="getCostsRequest"/>

         <wsdl:output message="impl:getCostsResponse" name="getCostsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCostsWithLocalPriceAndAmount" parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:getCostsWithLocalPriceAndAmountRequest"
                     name="getCostsWithLocalPriceAndAmountRequest"/>

         <wsdl:output message="impl:getCostsWithLocalPriceAndAmountResponse"
                      name="getCostsWithLocalPriceAndAmountResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getWorkFlow"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11">

         <wsdl:input message="impl:getWorkFlowRequest" name="getWorkFlowRequest"/>

         <wsdl:output message="impl:getWorkFlowResponse" name="getWorkFlowResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FSDBServiceSoapBinding" type="impl:AgriTechSystemService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCostRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCostResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgriInstInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgriInstInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAgriInstInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgriMachInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgriMachInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAgriMachInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAreaInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAreaInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHumOpWorkTimeInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHumOpWorkTimeInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getHumOpWorkTimeInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMachWorkTimeInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMachWorkTimeInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMachWorkTimeInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOtherProfit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOtherProfitRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOtherProfitResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllBasicInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllBasicInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllBasicInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBasicInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBasicInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBasicInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBasicInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBasicInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBasicInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllFarms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllFarmsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllFarmsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAreaInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAreaInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAreaInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAreaInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAreaInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllAreaInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAreaInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAreaInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHumOpWorkTimeInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHumOpWorkTimeInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getHumOpWorkTimeInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgriInstInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgriInstInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAgriInstInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMachWorkTimeInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMachWorkTimeInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMachWorkTimeInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaterial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMaterialRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMaterialResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaterials">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMaterialsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMaterialsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaterialList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMaterialListRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMaterialListResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProfitInformationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getProfitInformationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProfitInformationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getProfitInformationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProfitInformationsWithLocalPriceAndAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProfitInformationsWithLocalPriceAndAmountRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getProfitInformationsWithLocalPriceAndAmountResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOtherProfits">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOtherProfitsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOtherProfitsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCosts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCostsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCostsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCostsWithLocalPriceAndAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCostsWithLocalPriceAndAmountRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCostsWithLocalPriceAndAmountResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWorkFlow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWorkFlowRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://soap.fsdb.agmodel.net"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWorkFlowResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://150.26.215.152/axis/services/FSDBService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AgriTechSystemServiceService">

      <wsdl:port binding="impl:FSDBServiceSoapBinding" name="FSDBService">

         <wsdlsoap:address location="http://ws.soatrader.com/affrc.go.jp/0.1/AgriTechSystemServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>