wsdl_repositories/soatrader - Copy/agroinnova.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://www.agroinnova.com"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.agroinnova.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema targetNamespace="http://www.agroinnova.com">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
         <xsd:complexType name="conListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
               <xsd:element name="tipo" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="conListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegConsejos"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegConsejos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="consejo[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="consejo">
            <xsd:all>
               <xsd:element name="contenido" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="jorListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="jorListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegJornadas"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegJornadas">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="jornada[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="jornada">
            <xsd:all>
               <xsd:element name="titulo" type="xsd:string"/>
               <xsd:element name="contenido" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="notListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="notListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegNoticias"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegNoticias">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="noticia[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="noticia">
            <xsd:all>
               <xsd:element name="titulo" type="xsd:string"/>
               <xsd:element name="contenido" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="premListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="premListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegPremiados"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegPremiados">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="premiado[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="premiado">
            <xsd:all>
               <xsd:element name="nombre" type="xsd:string"/>
               <xsd:element name="poblacion" type="xsd:string"/>
               <xsd:element name="titulo" type="xsd:string"/>
               <xsd:element name="especialidad" type="xsd:string"/>
               <xsd:element name="premio" type="xsd:string"/>
               <xsd:element name="fechaPremio" type="xsd:string"/>
               <xsd:element name="contenido" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="preListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="preListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegPremios"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegPremios">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="premio[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="premio">
            <xsd:all>
               <xsd:element name="titulo" type="xsd:string"/>
               <xsd:element name="contenido" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="recListado">
            <xsd:all>
               <xsd:element name="idioma" type="xsd:string"/>
               <xsd:element name="id" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="recListadoRespA">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegRecetasA"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegRecetasA">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="recetaTipo[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="recetaTipo">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="nombre" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="recListadoRespB">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegRecetasB"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegRecetasB">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="receta[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="receta">
            <xsd:all>
               <xsd:element name="titulo" type="xsd:string"/>
               <xsd:element name="ingredientes" type="xsd:string"/>
               <xsd:element name="contenido" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrAbonosMinerales">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="abonosMinerales[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="abonosMinerales">
            <xsd:all>
               <xsd:element name="FECHA" type="xsd:string"/>
               <xsd:element name="FORMA" type="xsd:string"/>
               <xsd:element name="DOSIS" type="xsd:string"/>
               <xsd:element name="N" type="xsd:string"/>
               <xsd:element name="P2O2" type="xsd:string"/>
               <xsd:element name="K2O" type="xsd:string"/>
               <xsd:element name="MGO" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrAbonosOrganicos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="abonosOrganicos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="abonosOrganicos">
            <xsd:all>
               <xsd:element name="FECHA" type="xsd:string"/>
               <xsd:element name="NATURALEZA" type="xsd:string"/>
               <xsd:element name="CANTIDAD" type="xsd:string"/>
               <xsd:element name="OBJECIONES" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTratamientos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tratamientos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="tratamientos">
            <xsd:all>
               <xsd:element name="TIPO" type="xsd:string"/>
               <xsd:element name="FECHA" type="xsd:string"/>
               <xsd:element name="PRODUCTO" type="xsd:string"/>
               <xsd:element name="CANTIDAD" type="xsd:string"/>
               <xsd:element name="SUELO_PLANTA" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="trazabilidad">
            <xsd:all>
               <xsd:element name="PRODUCT" type="xsd:string"/>
               <xsd:element name="YEAR" type="xsd:string"/>
               <xsd:element name="WEEK" type="xsd:string"/>
               <xsd:element name="DAY" type="xsd:string"/>
               <xsd:element name="LOTE" type="xsd:string"/>
               <xsd:element name="ESPECIALIDAD" type="xsd:string"/>
               <xsd:element name="PRODUCTOR" type="xsd:string"/>
               <xsd:element name="TERMINO_MUNICIPAL" type="xsd:string"/>
               <xsd:element name="PROVINCIA" type="xsd:string"/>
               <xsd:element name="CAMPANIA" type="xsd:string"/>
               <xsd:element name="POLIGONO" type="xsd:string"/>
               <xsd:element name="PARCELA" type="xsd:string"/>
               <xsd:element name="SUPERFICIE" type="xsd:string"/>
               <xsd:element name="TIPO_SUELO" type="xsd:string"/>
               <xsd:element name="VARIEDAD" type="xsd:string"/>
               <xsd:element name="ORIGEN" type="xsd:string"/>
               <xsd:element name="SIEMBRA_LOTE" type="xsd:string"/>
               <xsd:element name="CALIBRE" type="xsd:string"/>
               <xsd:element name="FECHA_PLANTACION" type="xsd:string"/>
               <xsd:element name="PLANTAS_HECTAREAS" type="xsd:string"/>
               <xsd:element name="RIEGO_SISTEMA" type="xsd:string"/>
               <xsd:element name="RECOLECCION_RENDIMIENTO_BRUTO" type="xsd:string"/>
               <xsd:element name="RECOLECCION_TEMPERATURA" type="xsd:string"/>
               <xsd:element name="RECOLECCION_CONDICIONES" type="xsd:string"/>
               <xsd:element name="RECOLECCION_MATERIA_SECA" type="xsd:string"/>
               <xsd:element name="RECOLECCION_NITRATOS" type="xsd:string"/>
               <xsd:element name="RECOLECCION_FECHA" type="xsd:string"/>
               <xsd:element name="RECOLECCION_SISTEMA" type="xsd:string"/>
               <xsd:element name="CULINARIO_CONSISTENCIA" type="xsd:string"/>
               <xsd:element name="CULINARIO_OSCURECIMIENTO" type="xsd:string"/>
               <xsd:element name="CULINARIO_FRITURA" type="xsd:string"/>
               <xsd:element name="CULINARIO_ESPECIALIDAD" type="xsd:string"/>
               <xsd:element name="LABORATORIO_MATERIA_SECA_PORCENTAJE" type="xsd:string"/>
               <xsd:element name="LABORATORIO_ALMIDON_PORCENTAJE" type="xsd:string"/>
               <xsd:element name="LABORATORIO_NITRATOS_PORCENTAJE" type="xsd:string"/>
               <xsd:element name="LABORATORIO_ANTIGERMINANTES_PORCENTAJE" type="xsd:string"/>
               <xsd:element name="ELABORACION_VARIEDAD" type="xsd:string"/>
               <xsd:element name="ELABORACION_NETOS" type="xsd:string"/>
               <xsd:element name="RIEGO_AGUAS" type="xsd:string"/>
               <xsd:element name="RIEGO_LABORATORIOS" type="xsd:string"/>
               <xsd:element name="RIEGO_FECHA_ULTIMO_ANALISIS_DIA" type="xsd:string"/>
               <xsd:element name="RIEGO_FECHA_ULTIMO_ANALISIS_MES" type="xsd:string"/>
               <xsd:element name="RIEGO_FECHA_ULTIMO_ANALISIS_ANNO" type="xsd:string"/>
               <xsd:element name="CULTIVO_ANTERIOR" type="xsd:string"/>
               <xsd:element name="ELABORACION_CARACTERISTICAS" type="xsd:string"/>
               <xsd:element name="ELABORACION_ESPECIALIDAD" type="xsd:string"/>
               <xsd:element name="ABONOS_MINERALES" type="tns:arrAbonosMinerales"/>
               <xsd:element name="ABONOS_ORGANICOS" type="tns:arrAbonosOrganicos"/>
               <xsd:element name="TRATAMIENTOS" type="tns:arrTratamientos"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regIdiomas">
            <xsd:all>
               <xsd:element name="ES" type="xsd:string"/>
               <xsd:element name="PO" type="xsd:string"/>
               <xsd:element name="IT" type="xsd:string"/>
               <xsd:element name="FR" type="xsd:string"/>
               <xsd:element name="EN" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcion">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="nombre" type="xsd:string"/>
               <xsd:element name="empresa" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionResp">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="resp" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionListado">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="desde" type="xsd:integer"/>
               <xsd:element name="numero" type="xsd:integer"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionListadoResp">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegTraOpciones"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTraOpciones">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraOpciones[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraOpciones">
            <xsd:all>
               <xsd:element name="id" type="xsd:integer"/>
               <xsd:element name="nombre" type="xsd:string"/>
               <xsd:element name="empresa" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionIdiomas">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="nombre" type="tns:regIdiomas"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionIdiomasListadoResp">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegTraOpcionesIdiomas"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTraOpcionesIdiomas">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraOpcionesIdiomas[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraOpcionesIdiomas">
            <xsd:all>
               <xsd:element name="id" type="xsd:integer"/>
               <xsd:element name="nombre" type="tns:regIdiomas"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionEspecialidad">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="nombre" type="tns:regIdiomas"/>
               <xsd:element name="descripcion" type="tns:regIdiomas"/>
               <xsd:element name="utilCulinaria" type="tns:regIdiomas"/>
               <xsd:element name="empresa" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traOpcionEspecialidadListadoResp">
            <xsd:all>
               <xsd:element name="tabla" type="xsd:string"/>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegTraOpcionesEspecialidades"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTraOpcionesEspecialidades">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraOpcionesEspecialidades[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraOpcionesEspecialidades">
            <xsd:all>
               <xsd:element name="id" type="xsd:integer"/>
               <xsd:element name="nombre" type="tns:regIdiomas"/>
               <xsd:element name="descripcion" type="tns:regIdiomas"/>
               <xsd:element name="utilCulinaria" type="tns:regIdiomas"/>
               <xsd:element name="empresa" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traComboResp">
            <xsd:all>
               <xsd:element name="anteriores_cultivos" type="tns:arrRegTraCombo"/>
               <xsd:element name="anteriores_observaciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="camp_abonoverdeorigen" type="tns:arrRegTraCombo"/>
               <xsd:element name="camp_siembramarcoplantacion" type="tns:arrRegTraCombo"/>
               <xsd:element name="camp_siembraorigen" type="tns:arrRegTraCombo"/>
               <xsd:element name="cultivosproductos" type="tns:arrRegTraCombo"/>
               <xsd:element name="cultivossueloplanta" type="tns:arrRegTraCombo"/>
               <xsd:element name="cultivostipoaplicacion" type="tns:arrRegTraCombo"/>
               <xsd:element name="enmiendascantidad" type="tns:arrRegTraCombo"/>
               <xsd:element name="enmiendasnaturalezayorigen" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_antigerminantes" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_aspectopiel" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_calibres" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_destinoproducto" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_especialidad" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_labmatseca" type="tns:arrRegTraCombo"/>
               <xsd:element name="analisislaboratorios" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_recogidasistema" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_recogidatransporte" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_recoleccioncondiciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_recoleccionenvase" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_referenciaespecialidad" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_referenciatipo" type="tns:arrRegTraCombo"/>
               <xsd:element name="camp_riegosistema" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_tipobolsa" type="tns:arrRegTraCombo"/>
               <xsd:element name="analisistipoterreno" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_variedades" type="tns:arrRegTraCombo"/>
               <xsd:element name="hervicidas_malashiervas" type="tns:arrRegTraCombo"/>
               <xsd:element name="hervicidas_producto" type="tns:arrRegTraCombo"/>
               <xsd:element name="laboresaperos" type="tns:arrRegTraCombo"/>
               <xsd:element name="laborescondiciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="laborestipos" type="tns:arrRegTraCombo"/>
               <xsd:element name="organicosnaturalezayorigen" type="tns:arrRegTraCombo"/>
               <xsd:element name="organicoscantidad" type="tns:arrRegTraCombo"/>
               <xsd:element name="organicosobservaciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="riegosobservaciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="presentaciones" type="tns:arrRegTraCombo"/>
               <xsd:element name="productos" type="tns:arrRegTraCombo"/>
               <xsd:element name="sistemadetratamiento" type="tns:arrRegTraCombo"/>
               <xsd:element name="unidades" type="tns:arrRegTraCombo"/>
               <xsd:element name="proveedores" type="tns:arrRegTraCombo"/>
               <xsd:element name="campanyas" type="tns:arrRegTraCombo"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTraCombo">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraCombo[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraCombo">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="nombre" type="xsd:string"/>
               <xsd:element name="dato" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traComboBusquedaResp">
            <xsd:all>
               <xsd:element name="fichas_variedades" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_referenciaespecialidad" type="tns:arrRegTraCombo"/>
               <xsd:element name="fichas_referenciatipo" type="tns:arrRegTraCombo"/>
               <xsd:element name="productores" type="tns:arrRegTraCombo"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traFichasListado">
            <xsd:all>
               <xsd:element name="tipo" type="xsd:string"/>
               <xsd:element name="refTipo" type="xsd:string"/>
               <xsd:element name="refSemana" type="xsd:string"/>
               <xsd:element name="refDia" type="xsd:string"/>
               <xsd:element name="refEspecialidad" type="xsd:string"/>
               <xsd:element name="refLote" type="xsd:string"/>
               <xsd:element name="productor" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="variedad" type="xsd:string"/>
               <xsd:element name="desde" type="xsd:integer"/>
               <xsd:element name="numero" type="xsd:integer"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traFichasListadoResp">
            <xsd:all>
               <xsd:element name="total" type="xsd:integer"/>
               <xsd:element name="datos" type="tns:arrRegTraFichasListado"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTraFichasListado">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regFichasListado[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regFichasListado">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="referencia" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="proveedor" type="xsd:string"/>
               <xsd:element name="variedad" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traFicha">
            <xsd:all>
               <xsd:element name="ficha" type="tns:regFicha"/>
               <xsd:element name="campanya" type="tns:regCampanya"/>
               <xsd:element name="parcela" type="tns:regParcela"/>
               <xsd:element name="productor" type="tns:regProductor"/>
               <xsd:element name="analisis" type="tns:regAnalisis"/>
               <xsd:element name="abonosenmiendas" type="tns:arrRegAbonosEnmiendas"/>
               <xsd:element name="abonosminerales" type="tns:arrRegAbonosMinerales"/>
               <xsd:element name="abonosorganicos" type="tns:arrRegAbonosOrganicos"/>
               <xsd:element name="laboresterreno" type="tns:arrRegLaboresTerreno"/>
               <xsd:element name="laboresypreparacion" type="tns:arrRegLaboresYPreparacion"/>
               <xsd:element name="proteccioncultivo" type="tns:arrRegProteccionCultivo"/>
               <xsd:element name="riegos" type="tns:arrRegRiegos"/>
               <xsd:element name="tratpatatassiembra" type="tns:arrRegTratPatatasSiembra"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regFicha">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="referenciaTipo" type="xsd:string"/>
               <xsd:element name="referenciaLote" type="xsd:string"/>
               <xsd:element name="referenciaEspecialidad" type="xsd:string"/>
               <xsd:element name="referenciaAnno" type="xsd:string"/>
               <xsd:element name="referenciaSemana" type="xsd:string"/>
               <xsd:element name="referenciaDia" type="xsd:string"/>
               <xsd:element name="kilosNetos" type="xsd:string"/>
               <xsd:element name="calibre" type="xsd:string"/>
               <xsd:element name="idEspecialidad" type="xsd:string"/>
               <xsd:element name="idTipoBolsa" type="xsd:string"/>
               <xsd:element name="ordenTrabajo" type="xsd:string"/>
               <xsd:element name="fechaEnvasado" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regCampanya">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="campanya" type="xsd:string"/>
               <xsd:element name="siembraIdSemillaVariedad" type="xsd:string"/>
               <xsd:element name="siembraSemillaOrigen" type="xsd:string"/>
               <xsd:element name="siembraSemillaLoteNumero" type="xsd:string"/>
               <xsd:element name="siembraIdSemillaCalibre" type="xsd:string"/>
               <xsd:element name="siembraFecha" type="xsd:string"/>
               <xsd:element name="siembraMarcoPlantacion" type="xsd:string"/>
               <xsd:element name="siembraDensidadPlantacion" type="xsd:string"/>
               <xsd:element name="siembraTratPatatasSiembra" type="xsd:string"/>
               <xsd:element name="recoleccionFecha" type="xsd:string"/>
               <xsd:element name="recoleccionRendimientoBruto" type="xsd:string"/>
               <xsd:element name="recoleccionTemperatura" type="xsd:string"/>
               <xsd:element name="recoleccionIdArranque" type="xsd:string"/>
               <xsd:element name="recoleccionIdTransporte" type="xsd:string"/>
               <xsd:element name="recoleccionIdSistemaRecogida" type="xsd:string"/>
               <xsd:element name="recoleccionContenidoMateriaSeca" type="xsd:string"/>
               <xsd:element name="recoleccionContenidoNitratos" type="xsd:string"/>
               <xsd:element name="recoleccionIdAspectoPiel" type="xsd:string"/>
               <xsd:element name="claseCultivoPrimero" type="xsd:string"/>
               <xsd:element name="claseCultivoSegundo" type="xsd:string"/>
               <xsd:element name="claseCultivoTercero" type="xsd:string"/>
               <xsd:element name="claseCultivoCuarto" type="xsd:string"/>
               <xsd:element name="cultivoIntermedio" type="xsd:string"/>
               <xsd:element name="cultivoIntermedioNombre" type="xsd:string"/>
               <xsd:element name="abonadoEnVerde" type="xsd:string"/>
               <xsd:element name="abonadoEnVerdeFecha" type="xsd:string"/>
               <xsd:element name="abonadoEnVerdeIdOrigen" type="xsd:string"/>
               <xsd:element name="conoceEstacionesAviso" type="xsd:string"/>
               <xsd:element name="riegoIdSistema" type="xsd:string"/>
               <xsd:element name="riegoSondeo" type="xsd:string"/>
               <xsd:element name="riegoCanal" type="xsd:string"/>
               <xsd:element name="riegoRio" type="xsd:string"/>
               <xsd:element name="riegoLluvia" type="xsd:string"/>
               <xsd:element name="riegoOtros" type="xsd:string"/>
               <xsd:element name="riegoAnalisisAgua" type="xsd:string"/>
               <xsd:element name="riegoAnalisisFecha" type="xsd:string"/>
               <xsd:element name="riegoAnalisisIdLaboratorio" type="xsd:string"/>
               <xsd:element name="pesoBrutoMuestraC" type="xsd:string"/>
               <xsd:element name="pesoBrutoMuestraP" type="xsd:string"/>
               <xsd:element name="danyosMecanicosC" type="xsd:string"/>
               <xsd:element name="danyosMecanicosP" type="xsd:string"/>
               <xsd:element name="deformesGrietasC" type="xsd:string"/>
               <xsd:element name="deformesGrietasP" type="xsd:string"/>
               <xsd:element name="picadurasMordedurasC" type="xsd:string"/>
               <xsd:element name="picadurasMordedurasP" type="xsd:string"/>
               <xsd:element name="verdeoC" type="xsd:string"/>
               <xsd:element name="verdeoP" type="xsd:string"/>
               <xsd:element name="defectosInternosC" type="xsd:string"/>
               <xsd:element name="defectosInternosP" type="xsd:string"/>
               <xsd:element name="pudricionesC" type="xsd:string"/>
               <xsd:element name="pudricionesP" type="xsd:string"/>
               <xsd:element name="enfermedadesC" type="xsd:string"/>
               <xsd:element name="enfermedadesP" type="xsd:string"/>
               <xsd:element name="otrosC" type="xsd:string"/>
               <xsd:element name="otrosP" type="xsd:string"/>
               <xsd:element name="tierraPiedrasC" type="xsd:string"/>
               <xsd:element name="tierraPiedrasP" type="xsd:string"/>
               <xsd:element name="materiasExtranyasC" type="xsd:string"/>
               <xsd:element name="materiasExtranyasP" type="xsd:string"/>
               <xsd:element name="totalDescuento" type="xsd:string"/>
               <xsd:element name="calibrado45C" type="xsd:string"/>
               <xsd:element name="calibrado45P" type="xsd:string"/>
               <xsd:element name="calibrado45_80C" type="xsd:string"/>
               <xsd:element name="calibrado45_80P" type="xsd:string"/>
               <xsd:element name="calibrado80C" type="xsd:string"/>
               <xsd:element name="calibrado80P" type="xsd:string"/>
               <xsd:element name="categoria1C" type="xsd:string"/>
               <xsd:element name="categoria1P" type="xsd:string"/>
               <xsd:element name="categoria2C" type="xsd:string"/>
               <xsd:element name="categoria2P" type="xsd:string"/>
               <xsd:element name="testCoccion" type="xsd:string"/>
               <xsd:element name="testFritura" type="xsd:string"/>
               <xsd:element name="liquidacion1Categoria" type="xsd:string"/>
               <xsd:element name="liquidacion2Categoria" type="xsd:string"/>
               <xsd:element name="liquidacionFueraCalibre" type="xsd:string"/>
               <xsd:element name="liquidacionDesechos" type="xsd:string"/>
               <xsd:element name="culinarioConsistencia" type="xsd:string"/>
               <xsd:element name="culinarioOscurecimientoCoccion" type="xsd:string"/>
               <xsd:element name="culinarioOscurecimientoFritura" type="xsd:string"/>
               <xsd:element name="culinarioIdUtilidadCulinaria" type="xsd:string"/>
               <xsd:element name="testContenidoMateriaSeca" type="xsd:string"/>
               <xsd:element name="testContenidoAlmidon" type="xsd:string"/>
               <xsd:element name="testContenidoNitratos" type="xsd:string"/>
               <xsd:element name="testContenidoAntigerminantes" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regParcela">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="terminoMunicipal" type="xsd:string"/>
               <xsd:element name="poligono" type="xsd:string"/>
               <xsd:element name="parcela" type="xsd:string"/>
               <xsd:element name="superficie" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regProductor">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="proveedor" type="xsd:string"/>
               <xsd:element name="telefono" type="xsd:string"/>
               <xsd:element name="calle" type="xsd:string"/>
               <xsd:element name="poblacion" type="xsd:string"/>
               <xsd:element name="provincia" type="xsd:string"/>
               <xsd:element name="pais" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regAnalisis">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="analisisTierra" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idLaboratorio" type="xsd:string"/>
               <xsd:element name="porcentajeArena" type="xsd:string"/>
               <xsd:element name="porcentajeLimo" type="xsd:string"/>
               <xsd:element name="porcentajeArcilla" type="xsd:string"/>
               <xsd:element name="idTipoTerreno" type="xsd:string"/>
               <xsd:element name="materiaOrganica" type="xsd:string"/>
               <xsd:element name="ph" type="xsd:string"/>
               <xsd:element name="calizaTotal" type="xsd:string"/>
               <xsd:element name="nitrogeno" type="xsd:string"/>
               <xsd:element name="potasio" type="xsd:string"/>
               <xsd:element name="fosforo" type="xsd:string"/>
               <xsd:element name="magnesio" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="regAbonosEnmiendas">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idNaturalezaYOrigen" type="xsd:string"/>
               <xsd:element name="idCantidad" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegAbonosEnmiendas">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regAbonosEnmiendas[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="arrRegAbonosMinerales">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regAbonosMinerales[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regAbonosMinerales">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="formayformula" type="xsd:string"/>
               <xsd:element name="dosisCantidad" type="xsd:string"/>
               <xsd:element name="dosisIdUnidad" type="xsd:string"/>
               <xsd:element name="n" type="xsd:string"/>
               <xsd:element name="p2o5" type="xsd:string"/>
               <xsd:element name="k2o" type="xsd:string"/>
               <xsd:element name="mg" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegAbonosOrganicos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regAbonosOrganicos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regAbonosOrganicos">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idNaturalezayorigen" type="xsd:string"/>
               <xsd:element name="idCantidad" type="xsd:string"/>
               <xsd:element name="idObservaciones" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegLaboresTerreno">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regLaboresTerreno[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regLaboresTerreno">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idTipoLabor" type="xsd:string"/>
               <xsd:element name="idApero" type="xsd:string"/>
               <xsd:element name="idCondTerreno" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegLaboresYPreparacion">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regLaboresYPreparacion[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regLaboresYPreparacion">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idLaboresTipos" type="xsd:string"/>
               <xsd:element name="idLaboresAperos" type="xsd:string"/>
               <xsd:element name="idLaboresCondiciones" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegProteccionCultivo">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regProteccionCultivo[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regProteccionCultivo">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idTipoAplicacion" type="xsd:string"/>
               <xsd:element name="idProducto" type="xsd:string"/>
               <xsd:element name="dosisCantidad" type="xsd:string"/>
               <xsd:element name="dosisIdUnidad" type="xsd:string"/>
               <xsd:element name="idSueloPlanta" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegRiegos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regRiegos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regRiegos">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="cantidadAgua" type="xsd:string"/>
               <xsd:element name="idObservaciones" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegTratPatatasSiembra">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTratPatatasSiembra[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTratPatatasSiembra">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="idProducto" type="xsd:string"/>
               <xsd:element name="dosisCantidad" type="xsd:string"/>
               <xsd:element name="dosisIdUnidad" type="xsd:string"/>
               <xsd:element name="idPresentacion" type="xsd:string"/>
               <xsd:element name="idSistemaDeTratamiento" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traFichaResp">
            <xsd:all>
               <xsd:element name="resp" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traFichaBuscar">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traComboParcelaResp">
            <xsd:all>
               <xsd:element name="id" type="xsd:string"/>
               <xsd:element name="proveedor" type="xsd:string"/>
               <xsd:element name="telefono" type="xsd:string"/>
               <xsd:element name="calle" type="xsd:string"/>
               <xsd:element name="poblacion" type="xsd:string"/>
               <xsd:element name="provincia" type="xsd:string"/>
               <xsd:element name="pais" type="xsd:string"/>
               <xsd:element name="parcelas" type="tns:arrRegComboParcelaListado"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrRegComboParcelaListado">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regParcela[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="traComboAnalisisResp">
            <xsd:all>
               <xsd:element name="analisis" type="tns:arrComboAnalisisResp"/>
               <xsd:element name="anyos" type="tns:arrRegTraCombo"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrComboAnalisisResp">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regAnalisis[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="traComboCampanyaResp">
            <xsd:all>
               <xsd:element name="campanya" type="tns:regCampanya"/>
               <xsd:element name="abonosenmiendas" type="tns:arrRegAbonosEnmiendas"/>
               <xsd:element name="abonosminerales" type="tns:arrRegAbonosMinerales"/>
               <xsd:element name="abonosorganicos" type="tns:arrRegAbonosOrganicos"/>
               <xsd:element name="laboresterreno" type="tns:arrRegLaboresTerreno"/>
               <xsd:element name="laboresypreparacion" type="tns:arrRegLaboresYPreparacion"/>
               <xsd:element name="proteccioncultivo" type="tns:arrRegProteccionCultivo"/>
               <xsd:element name="riegos" type="tns:arrRegRiegos"/>
               <xsd:element name="tratpatatassiembra" type="tns:arrRegTratPatatasSiembra"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traTrazabilidadPet">
            <xsd:all>
               <xsd:element name="producto" type="xsd:string"/>
               <xsd:element name="lote" type="xsd:string"/>
               <xsd:element name="especialidad" type="xsd:string"/>
               <xsd:element name="semana" type="xsd:string"/>
               <xsd:element name="dia" type="xsd:string"/>
               <xsd:element name="idioma" type="xsd:string"/>
               <xsd:element name="tipo" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="traTrazabilidadRes">
            <xsd:all>
               <xsd:element name="referencia" type="xsd:string"/>
               <xsd:element name="especialidad" type="xsd:string"/>
               <xsd:element name="tipoenvase" type="xsd:string"/>
               <xsd:element name="fechaenvasado" type="xsd:string"/>
               <xsd:element name="kgnetos" type="xsd:string"/>
               <xsd:element name="calibre" type="xsd:string"/>
               <xsd:element name="origen" type="xsd:string"/>
               <xsd:element name="variedad" type="xsd:string"/>
               <xsd:element name="campanya" type="xsd:string"/>
               <xsd:element name="idimagen" type="xsd:string"/>
               <xsd:element name="caracteristicas" type="xsd:string"/>
               <xsd:element name="productor" type="xsd:string"/>
               <xsd:element name="pais" type="xsd:string"/>
               <xsd:element name="terminomunicipal" type="xsd:string"/>
               <xsd:element name="provincia" type="xsd:string"/>
               <xsd:element name="poligono" type="xsd:string"/>
               <xsd:element name="parcela" type="xsd:string"/>
               <xsd:element name="superficiesembrada" type="xsd:string"/>
               <xsd:element name="tiposuelo" type="xsd:string"/>
               <xsd:element name="cultivoanterior" type="xsd:string"/>
               <xsd:element name="arena" type="xsd:string"/>
               <xsd:element name="limo" type="xsd:string"/>
               <xsd:element name="arcilla" type="xsd:string"/>
               <xsd:element name="nitrogeno" type="xsd:string"/>
               <xsd:element name="potasio" type="xsd:string"/>
               <xsd:element name="fosforo" type="xsd:string"/>
               <xsd:element name="magnesio" type="xsd:string"/>
               <xsd:element name="materiaorganica" type="xsd:string"/>
               <xsd:element name="ph" type="xsd:string"/>
               <xsd:element name="calizatotal" type="xsd:string"/>
               <xsd:element name="analisis" type="xsd:string"/>
               <xsd:element name="fechaanalisis" type="xsd:string"/>
               <xsd:element name="laboratorioanalisis" type="xsd:string"/>
               <xsd:element name="fechasiembra" type="xsd:string"/>
               <xsd:element name="marcoplantacion" type="xsd:string"/>
               <xsd:element name="densidadplantacion" type="xsd:string"/>
               <xsd:element name="semillavariedad" type="xsd:string"/>
               <xsd:element name="semillaorigen" type="xsd:string"/>
               <xsd:element name="semillanumerolote" type="xsd:string"/>
               <xsd:element name="semillacalibre" type="xsd:string"/>
               <xsd:element name="tratamientos" type="tns:arrTraTrazabilidadTratamientos"/>
               <xsd:element name="aminerales" type="tns:arrTraTrazabilidadAminerales"/>
               <xsd:element name="aorganicos" type="tns:arrTraTrazabilidadAorganicos"/>
               <xsd:element name="aenmiendas" type="tns:arrTraTrazabilidadAenmiendas"/>
               <xsd:element name="protecciones" type="tns:arrTraTrazabilidadProtecciones"/>
               <xsd:element name="sistemariego" type="xsd:string"/>
               <xsd:element name="procedenciaagua" type="xsd:string"/>
               <xsd:element name="riegoanalisis" type="xsd:string"/>
               <xsd:element name="riegofecha" type="xsd:string"/>
               <xsd:element name="riegolaboratorio" type="xsd:string"/>
               <xsd:element name="fecharecoleccion" type="xsd:string"/>
               <xsd:element name="rendimientobruto" type="xsd:string"/>
               <xsd:element name="temperatura" type="xsd:string"/>
               <xsd:element name="condicionesarranque" type="xsd:string"/>
               <xsd:element name="condicionestransporte" type="xsd:string"/>
               <xsd:element name="contenidomateriaseca" type="xsd:string"/>
               <xsd:element name="contenidonitratos" type="xsd:string"/>
               <xsd:element name="sistemarecogida" type="xsd:string"/>
               <xsd:element name="aspectopiel" type="xsd:string"/>
               <xsd:element name="pesobrutomuestrakg" type="xsd:string"/>
               <xsd:element name="pesobrutomuestrapor" type="xsd:string"/>
               <xsd:element name="danyosmecanicoskg" type="xsd:string"/>
               <xsd:element name="danyosmecanicospor" type="xsd:string"/>
               <xsd:element name="deformesgrietaskg" type="xsd:string"/>
               <xsd:element name="deformesgrietaspor" type="xsd:string"/>
               <xsd:element name="picadurasmordeduraskg" type="xsd:string"/>
               <xsd:element name="picadurasmordeduraspor" type="xsd:string"/>
               <xsd:element name="verdeokg" type="xsd:string"/>
               <xsd:element name="verdeopor" type="xsd:string"/>
               <xsd:element name="defectosinternoskg" type="xsd:string"/>
               <xsd:element name="defectosinternospor" type="xsd:string"/>
               <xsd:element name="pudricioneskg" type="xsd:string"/>
               <xsd:element name="pudricionespor" type="xsd:string"/>
               <xsd:element name="enfermedadeskg" type="xsd:string"/>
               <xsd:element name="enfermedadespor" type="xsd:string"/>
               <xsd:element name="otroskg" type="xsd:string"/>
               <xsd:element name="otrospor" type="xsd:string"/>
               <xsd:element name="tierraspiedraskg" type="xsd:string"/>
               <xsd:element name="tierraspiedraspor" type="xsd:string"/>
               <xsd:element name="materiasextranyaskg" type="xsd:string"/>
               <xsd:element name="materiasextranyaspor" type="xsd:string"/>
               <xsd:element name="totaldescuento" type="xsd:string"/>
               <xsd:element name="calibrado45kg" type="xsd:string"/>
               <xsd:element name="calibrado45por" type="xsd:string"/>
               <xsd:element name="calibrado4580kg" type="xsd:string"/>
               <xsd:element name="calibrado4580por" type="xsd:string"/>
               <xsd:element name="calibrado80kg" type="xsd:string"/>
               <xsd:element name="calibrado80por" type="xsd:string"/>
               <xsd:element name="categoria1kg" type="xsd:string"/>
               <xsd:element name="categoria1por" type="xsd:string"/>
               <xsd:element name="categoria2kg" type="xsd:string"/>
               <xsd:element name="categoria2por" type="xsd:string"/>
               <xsd:element name="testcoccion" type="xsd:string"/>
               <xsd:element name="testfritura" type="xsd:string"/>
               <xsd:element name="consistencia" type="xsd:string"/>
               <xsd:element name="oscurecimientococcion" type="xsd:string"/>
               <xsd:element name="oscurecimientofritura" type="xsd:string"/>
               <xsd:element name="utilidadculinaria" type="xsd:string"/>
               <xsd:element name="contenidoalmidon" type="xsd:string"/>
               <xsd:element name="contenidoantigerminantes" type="xsd:string"/>
               <xsd:element name="testcategoria1" type="xsd:string"/>
               <xsd:element name="testcategoria2" type="xsd:string"/>
               <xsd:element name="testfueracalibre" type="xsd:string"/>
               <xsd:element name="testdesechos" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTraTrazabilidadTratamientos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraTrazabilidadTratamientos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraTrazabilidadTratamientos">
            <xsd:all>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="producto" type="xsd:string"/>
               <xsd:element name="dosis" type="xsd:string"/>
               <xsd:element name="presentacion" type="xsd:string"/>
               <xsd:element name="sistema" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTraTrazabilidadAminerales">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraTrazabilidadAminerales[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraTrazabilidadAminerales">
            <xsd:all>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="forma" type="xsd:string"/>
               <xsd:element name="dosis" type="xsd:string"/>
               <xsd:element name="n" type="xsd:string"/>
               <xsd:element name="p2o5" type="xsd:string"/>
               <xsd:element name="k2o" type="xsd:string"/>
               <xsd:element name="mg" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTraTrazabilidadAorganicos">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraTrazabilidadAorganicos[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraTrazabilidadAorganicos">
            <xsd:all>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="naturaleza" type="xsd:string"/>
               <xsd:element name="cantidad" type="xsd:string"/>
               <xsd:element name="observaciones" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTraTrazabilidadAenmiendas">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraTrazabilidadAenmiendas[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraTrazabilidadAenmiendas">
            <xsd:all>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="naturaleza" type="xsd:string"/>
               <xsd:element name="cantidad" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="arrTraTrazabilidadProtecciones">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="regTraTrazabilidadProtecciones[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="regTraTrazabilidadProtecciones">
            <xsd:all>
               <xsd:element name="fecha" type="xsd:string"/>
               <xsd:element name="aplicacion" type="xsd:string"/>
               <xsd:element name="producto" type="xsd:string"/>
               <xsd:element name="dosis" type="xsd:string"/>
               <xsd:element name="sueloplanta" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="usuDatos">
            <xsd:all>
               <xsd:element name="dato1" type="xsd:string"/>
               <xsd:element name="dato2" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="usuDatosResp">
            <xsd:all>
               <xsd:element name="resp" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="usuValidacion">
            <xsd:all>
               <xsd:element name="usuario" type="xsd:string"/>
               <xsd:element name="clave" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="usuValidacionResp">
            <xsd:all>
               <xsd:element name="validado" type="xsd:string"/>
               <xsd:element name="tipo" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
      </xsd:schema>
   </types>
   <message name="DevConsejosRequest">
      <part name="datos" type="tns:conListado"/>
   </message>
   <message name="DevConsejosResponse">
      <part name="return" type="tns:conListadoResp"/>
   </message>
   <message name="DevJornadasRequest">
      <part name="datos" type="tns:jorListado"/>
   </message>
   <message name="DevJornadasResponse">
      <part name="return" type="tns:jorListadoResp"/>
   </message>
   <message name="DevNoticiasRequest">
      <part name="datos" type="tns:notListado"/>
   </message>
   <message name="DevNoticiasResponse">
      <part name="return" type="tns:notListadoResp"/>
   </message>
   <message name="DevPremiadosRequest">
      <part name="datos" type="tns:premListado"/>
   </message>
   <message name="DevPremiadosResponse">
      <part name="return" type="tns:premListadoResp"/>
   </message>
   <message name="DevPremiosRequest">
      <part name="datos" type="tns:preListado"/>
   </message>
   <message name="DevPremiosResponse">
      <part name="return" type="tns:preListadoResp"/>
   </message>
   <message name="DevRecetasTiposRequest">
      <part name="datos" type="tns:recListado"/>
   </message>
   <message name="DevRecetasTiposResponse">
      <part name="return" type="tns:recListadoRespA"/>
   </message>
   <message name="DevRecetasRequest">
      <part name="datos" type="tns:recListado"/>
   </message>
   <message name="DevRecetasResponse">
      <part name="return" type="tns:recListadoRespB"/>
   </message>
   <message name="DevTrazabilidadRequest">
      <part name="producto" type="xsd:string"/>
      <part name="lote" type="xsd:string"/>
      <part name="especialidad" type="xsd:string"/>
      <part name="semana" type="xsd:string"/>
      <part name="dia" type="xsd:string"/>
      <part name="idioma" type="xsd:string"/>
   </message>
   <message name="DevTrazabilidadResponse">
      <part name="return" type="tns:trazabilidad"/>
   </message>
   <message name="TraFichasBorrarRequest">
      <part name="opcion" type="tns:traFichaBuscar"/>
   </message>
   <message name="TraFichasBorrarResponse">
      <part name="return" type="tns:traFichaResp"/>
   </message>
   <message name="TraFichasBuscarRequest">
      <part name="opcion" type="tns:traFichaBuscar"/>
   </message>
   <message name="TraFichasBuscarResponse">
      <part name="return" type="tns:traFicha"/>
   </message>
   <message name="TraFichasGuardarRequest">
      <part name="opcion" type="tns:traFicha"/>
   </message>
   <message name="TraFichasGuardarResponse">
      <part name="return" type="tns:traFichaResp"/>
   </message>
   <message name="TraFichasListadoRequest">
      <part name="opcion" type="tns:traFichasListado"/>
   </message>
   <message name="TraFichasListadoResponse">
      <part name="return" type="tns:traFichasListadoResp"/>
   </message>
   <message name="TraOpcionBorrarRequest">
      <part name="return" type="tns:traOpcion"/>
   </message>
   <message name="TraOpcionBorrarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionGuardarRequest">
      <part name="opcion" type="tns:traOpcion"/>
   </message>
   <message name="TraOpcionGuardarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionListadoRequest">
      <part name="opcion" type="tns:traOpcionListado"/>
   </message>
   <message name="TraOpcionListadoResponse">
      <part name="return" type="tns:traOpcionListadoResp"/>
   </message>
   <message name="TraOpcionAnalisisRequest">
      <part name="opcion" type="tns:traFichaBuscar"/>
   </message>
   <message name="TraOpcionAnalisisResponse">
      <part name="return" type="tns:traComboAnalisisResp"/>
   </message>
   <message name="TraOpcionBusquedaRequest">
      <part name="opcion" type="tns:traOpcionListado"/>
   </message>
   <message name="TraOpcionBusquedaResponse">
      <part name="return" type="tns:traComboBusquedaResp"/>
   </message>
   <message name="TraOpcionCampanyaRequest">
      <part name="opcion" type="tns:traFichaBuscar"/>
   </message>
   <message name="TraOpcionCampanyaResponse">
      <part name="return" type="tns:traComboCampanyaResp"/>
   </message>
   <message name="TraOpcionComboRequest">
      <part name="opcion" type="tns:traOpcionListado"/>
   </message>
   <message name="TraOpcionComboResponse">
      <part name="return" type="tns:traComboResp"/>
   </message>
   <message name="TraOpcionParcelaRequest">
      <part name="opcion" type="tns:traFichaBuscar"/>
   </message>
   <message name="TraOpcionParcelaResponse">
      <part name="return" type="tns:traComboParcelaResp"/>
   </message>
   <message name="TraOpcionEspecialiadadBorrarRequest">
      <part name="opcion" type="tns:traOpcionEspecialidad"/>
   </message>
   <message name="TraOpcionEspecialiadadBorrarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionEspecialidadGuardarRequest">
      <part name="opcion" type="tns:traOpcionEspecialidad"/>
   </message>
   <message name="TraOpcionEspecialidadGuardarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionEspecialidadListadoRequest">
      <part name="opcion" type="tns:traOpcionListado"/>
   </message>
   <message name="TraOpcionEspecialidadListadoResponse">
      <part name="return" type="tns:traOpcionEspecialidadListadoResp"/>
   </message>
   <message name="TraOpcionIdiomaBorrarRequest">
      <part name="return" type="tns:traOpcionIdiomas"/>
   </message>
   <message name="TraOpcionIdiomaBorrarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionIdiomaGuardarRequest">
      <part name="opcion" type="tns:traOpcionIdiomas"/>
   </message>
   <message name="TraOpcionIdiomaGuardarResponse">
      <part name="return" type="tns:traOpcionResp"/>
   </message>
   <message name="TraOpcionIdiomaListadoRequest">
      <part name="opcion" type="tns:traOpcionListado"/>
   </message>
   <message name="TraOpcionIdiomaListadoResponse">
      <part name="return" type="tns:traOpcionIdiomasListadoResp"/>
   </message>
   <message name="TraTrazabilidadRequest">
      <part name="reg" type="tns:traTrazabilidadPet"/>
   </message>
   <message name="TraTrazabilidadResponse">
      <part name="return" type="tns:traTrazabilidadRes"/>
   </message>
   <message name="UsrModificaRequest">
      <part name="usr" type="tns:usuDatos"/>
   </message>
   <message name="UsrModificaResponse">
      <part name="return" type="tns:usuDatosResp"/>
   </message>
   <message name="UsrDesconectarRequest"/>
   <message name="UsrDesconectarResponse">
      <part name="return" type="tns:usuValidacionResp"/>
   </message>
   <message name="UsrValidadoRequest"/>
   <message name="UsrValidadoResponse">
      <part name="return" type="tns:usuValidacionResp"/>
   </message>
   <message name="UsrValidarRequest">
      <part name="usr" type="tns:usuValidacion"/>
   </message>
   <message name="UsrValidarResponse">
      <part name="return" type="tns:usuValidacionResp"/>
   </message>
   <portType name="agroinnovaPortType">
      <operation name="DevConsejos">
         <documentation>Devuelve todos los consejos para el tipo deseado.</documentation>
         <input message="tns:DevConsejosRequest"/>
         <output message="tns:DevConsejosResponse"/>
      </operation>
      <operation name="DevJornadas">
         <documentation>Devuelve todas las jornadas para el idioma deseado.</documentation>
         <input message="tns:DevJornadasRequest"/>
         <output message="tns:DevJornadasResponse"/>
      </operation>
      <operation name="DevNoticias">
         <documentation>Devuelve todas las noticias para el idioma deseado.</documentation>
         <input message="tns:DevNoticiasRequest"/>
         <output message="tns:DevNoticiasResponse"/>
      </operation>
      <operation name="DevPremiados">
         <documentation>Devuelve todas los premiados para el idioma deseado.</documentation>
         <input message="tns:DevPremiadosRequest"/>
         <output message="tns:DevPremiadosResponse"/>
      </operation>
      <operation name="DevPremios">
         <documentation>Devuelve todos los premios para el idioma deseado.</documentation>
         <input message="tns:DevPremiosRequest"/>
         <output message="tns:DevPremiosResponse"/>
      </operation>
      <operation name="DevRecetasTipos">
         <documentation>Devuelve todos los tipos de recetas para el idioma deseado.</documentation>
         <input message="tns:DevRecetasTiposRequest"/>
         <output message="tns:DevRecetasTiposResponse"/>
      </operation>
      <operation name="DevRecetas">
         <documentation>Devuelve todas las recetas para el tipo deseado.</documentation>
         <input message="tns:DevRecetasRequest"/>
         <output message="tns:DevRecetasResponse"/>
      </operation>
      <operation name="DevTrazabilidad">
         <documentation>Devuelve los datos de trazabilidad para la referencia de producto.</documentation>
         <input message="tns:DevTrazabilidadRequest"/>
         <output message="tns:DevTrazabilidadResponse"/>
      </operation>
      <operation name="TraFichasBorrar">
         <documentation>Devuelve los datos de una ficha.</documentation>
         <input message="tns:TraFichasBorrarRequest"/>
         <output message="tns:TraFichasBorrarResponse"/>
      </operation>
      <operation name="TraFichasBuscar">
         <documentation>Devuelve los datos de una ficha.</documentation>
         <input message="tns:TraFichasBuscarRequest"/>
         <output message="tns:TraFichasBuscarResponse"/>
      </operation>
      <operation name="TraFichasGuardar">
         <documentation>Guarda o modifica una ficha.</documentation>
         <input message="tns:TraFichasGuardarRequest"/>
         <output message="tns:TraFichasGuardarResponse"/>
      </operation>
      <operation name="TraFichasListado">
         <documentation>Devuelve el listado de los registros indicados.</documentation>
         <input message="tns:TraFichasListadoRequest"/>
         <output message="tns:TraFichasListadoResponse"/>
      </operation>
      <operation name="TraOpcionBorrar">
         <documentation>Borrar una opcin en la tabla especificada.</documentation>
         <input message="tns:TraOpcionBorrarRequest"/>
         <output message="tns:TraOpcionBorrarResponse"/>
      </operation>
      <operation name="TraOpcionGuardar">
         <documentation>Guarda una opcin en la tabla especificada (puede ser nueva o una modificacin).</documentation>
         <input message="tns:TraOpcionGuardarRequest"/>
         <output message="tns:TraOpcionGuardarResponse"/>
      </operation>
      <operation name="TraOpcionListado">
         <documentation>Devuelve el listado de los registros indicados.</documentation>
         <input message="tns:TraOpcionListadoRequest"/>
         <output message="tns:TraOpcionListadoResponse"/>
      </operation>
      <operation name="TraOpcionAnalisis">
         <documentation>Devuelve el listado de los analisis y anyos para una parcela.</documentation>
         <input message="tns:TraOpcionAnalisisRequest"/>
         <output message="tns:TraOpcionAnalisisResponse"/>
      </operation>
      <operation name="TraOpcionBusqueda">
         <documentation>Devuelve el listado de las opciones de los combos de la busqueda.</documentation>
         <input message="tns:TraOpcionBusquedaRequest"/>
         <output message="tns:TraOpcionBusquedaResponse"/>
      </operation>
      <operation name="TraOpcionCampanya">
         <documentation>Devuelve los datos de una campanya.</documentation>
         <input message="tns:TraOpcionCampanyaRequest"/>
         <output message="tns:TraOpcionCampanyaResponse"/>
      </operation>
      <operation name="TraOpcionCombo">
         <documentation>Devuelve el listado de las opciones de un combo.</documentation>
         <input message="tns:TraOpcionComboRequest"/>
         <output message="tns:TraOpcionComboResponse"/>
      </operation>
      <operation name="TraOpcionParcela">
         <documentation>Devuelve el listado de las parcelas y datos de un proveedor.</documentation>
         <input message="tns:TraOpcionParcelaRequest"/>
         <output message="tns:TraOpcionParcelaResponse"/>
      </operation>
      <operation name="TraOpcionEspecialiadadBorrar">
         <documentation>Borrar una opcin en la tabla especificada.</documentation>
         <input message="tns:TraOpcionEspecialiadadBorrarRequest"/>
         <output message="tns:TraOpcionEspecialiadadBorrarResponse"/>
      </operation>
      <operation name="TraOpcionEspecialidadGuardar">
         <documentation>Guarda una opcin en la tabla especificada (puede ser nueva o una modificacin).</documentation>
         <input message="tns:TraOpcionEspecialidadGuardarRequest"/>
         <output message="tns:TraOpcionEspecialidadGuardarResponse"/>
      </operation>
      <operation name="TraOpcionEspecialidadListado">
         <documentation>Devuelve el listado de los registros indicados.</documentation>
         <input message="tns:TraOpcionEspecialidadListadoRequest"/>
         <output message="tns:TraOpcionEspecialidadListadoResponse"/>
      </operation>
      <operation name="TraOpcionIdiomaBorrar">
         <documentation>Borrar una opcin en la tabla especificada.</documentation>
         <input message="tns:TraOpcionIdiomaBorrarRequest"/>
         <output message="tns:TraOpcionIdiomaBorrarResponse"/>
      </operation>
      <operation name="TraOpcionIdiomaGuardar">
         <documentation>Guarda una opcin en la tabla especificada (puede ser nueva o una modificacin).</documentation>
         <input message="tns:TraOpcionIdiomaGuardarRequest"/>
         <output message="tns:TraOpcionIdiomaGuardarResponse"/>
      </operation>
      <operation name="TraOpcionIdiomaListado">
         <documentation>Devuelve el listado de los registros indicados.</documentation>
         <input message="tns:TraOpcionIdiomaListadoRequest"/>
         <output message="tns:TraOpcionIdiomaListadoResponse"/>
      </operation>
      <operation name="TraTrazabilidad">
         <documentation>Devuelve los datos de trazabilidad para la referencia de producto.</documentation>
         <input message="tns:TraTrazabilidadRequest"/>
         <output message="tns:TraTrazabilidadResponse"/>
      </operation>
      <operation name="UsrModifica">
         <documentation>Modifica un usuario.</documentation>
         <input message="tns:UsrModificaRequest"/>
         <output message="tns:UsrModificaResponse"/>
      </operation>
      <operation name="UsrDesconectar">
         <documentation>Desconecta una sesion.</documentation>
         <input message="tns:UsrDesconectarRequest"/>
         <output message="tns:UsrDesconectarResponse"/>
      </operation>
      <operation name="UsrValidado">
         <documentation>Indica si un usuario tiene una sesion activa.</documentation>
         <input message="tns:UsrValidadoRequest"/>
         <output message="tns:UsrValidadoResponse"/>
      </operation>
      <operation name="UsrValidar">
         <documentation>Validar un usuario, iniciando una sesion.</documentation>
         <input message="tns:UsrValidarRequest"/>
         <output message="tns:UsrValidarResponse"/>
      </operation>
   </portType>
   <binding name="agroinnovaBinding" type="tns:agroinnovaPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="DevConsejos">
         <soap:operation soapAction="http://www.agroinnova.com#DevConsejos" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevJornadas">
         <soap:operation soapAction="http://www.agroinnova.com#DevJornadas" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevNoticias">
         <soap:operation soapAction="http://www.agroinnova.com#DevNoticias" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevPremiados">
         <soap:operation soapAction="http://www.agroinnova.com#DevPremiados" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevPremios">
         <soap:operation soapAction="http://www.agroinnova.com#DevPremios" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevRecetasTipos">
         <soap:operation soapAction="http://www.agroinnova.com#DevRecetasTipos" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevRecetas">
         <soap:operation soapAction="http://www.agroinnova.com#DevRecetas" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="DevTrazabilidad">
         <soap:operation soapAction="http://www.agroinnova.com#DevTrazabilidad" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraFichasBorrar">
         <soap:operation soapAction="http://www.agroinnova.com#TraFichasBorrar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraFichasBuscar">
         <soap:operation soapAction="http://www.agroinnova.com#TraFichasBuscar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraFichasGuardar">
         <soap:operation soapAction="http://www.agroinnova.com#TraFichasGuardar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraFichasListado">
         <soap:operation soapAction="http://www.agroinnova.com#TraFichasListado" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionBorrar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionBorrar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionGuardar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionGuardar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionListado">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionListado" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionAnalisis">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionAnalisis" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionBusqueda">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionBusqueda" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionCampanya">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionCampanya" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionCombo">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionCombo" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionParcela">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionParcela" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionEspecialiadadBorrar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionIdiomaBorrar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionEspecialidadGuardar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionEspecialidadGuardar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionEspecialidadListado">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionEspecialidadListado" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionIdiomaBorrar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionIdiomaBorrar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionIdiomaGuardar">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionIdiomaGuardar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraOpcionIdiomaListado">
         <soap:operation soapAction="http://www.agroinnova.com#TraOpcionIdiomaListado" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="TraTrazabilidad">
         <soap:operation soapAction="http://www.agroinnova.com#TraTrazabilidad" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="UsrModifica">
         <soap:operation soapAction="http://www.agroinnova.com#UsrModifica" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="UsrDesconectar">
         <soap:operation soapAction="http://www.agroinnova.com#UsrDesconectar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="UsrValidado">
         <soap:operation soapAction="http://www.agroinnova.com#UsrValidado" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="UsrValidar">
         <soap:operation soapAction="http://www.agroinnova.com#UsrValidar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.agroinnova.com"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="agroinnova">
      <port name="agroinnovaPort" binding="tns:agroinnovaBinding">
         <soap:address location="http://ws.soatrader.com/agroinnova.com/0.1/agroinnova"/>
      </port>
   </service>
</definitions>