wsdl_repositories/soatrader - Copy/AJAXComparision.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.mathertel.de/AJAXComparisation/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.mathertel.de/AJAXComparisation/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>A WebService that returns the server date.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.mathertel.de/AJAXComparisation/">
         <s:element name="Now">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NowResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="NowResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.mathertel.de/AJAXComparisation/">
         <s:element name="Now">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NowResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="NowResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="NowSoapIn">
      <wsdl:part name="parameters" element="tns:Now"/>
  </wsdl:message>
  <wsdl:message name="NowSoapOut">
      <wsdl:part name="parameters" element="tns:NowResponse"/>
  </wsdl:message>
  <wsdl:message name="NowHttpGetIn">
      <wsdl:part name="x" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="NowHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  <wsdl:binding name="AJAXComparisionSoap" type="tns:AJAXComparisionSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Now">
         <soap:operation soapAction="http://www.mathertel.de/AJAXComparisation/Now" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="AJAXComparision">
      <wsdl:documentation>A WebService that returns the server date.</wsdl:documentation>
      <wsdl:port name="AJAXComparisionSoap" binding="tns:AJAXComparisionSoap">
         <soap:address location="http://ws.soatrader.com/mathertel.de/0.1/AJAXComparision"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>