wsdl_repositories/soatrader - Copy/AjaxHits.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.quickrooms.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.quickrooms.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.quickrooms.com/">
         <s:element name="HelloWorld">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Test">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAccommodationOnResultsPage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAccommodationOnResultsPageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckAccommodationOnResultsPageResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetNewPrice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetNewPriceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PaymentCheckAvailbilityGetNewPriceResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetAlertenative">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetAlertenativeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PaymentCheckAvailbilityGetAlertenativeResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetInfoForErrorDiv">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="showAllternative" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PaymentCheckAvailbilityGetInfoForErrorDivResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="PaymentCheckAvailbilityGetInfoForErrorDivResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckCardDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBankReturnValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBankReturnValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckBankReturnValuesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBankReturnValuesDeposit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBankReturnValuesDepositResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckBankReturnValuesDepositResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetailsDataCashInterface">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetailsDataCashInterfaceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckCardDetailsDataCashInterfaceResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetailsDataCashInterfaceDeposit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCardDetailsDataCashInterfaceDepositResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="CheckCardDetailsDataCashInterfaceDepositResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CompletePaymentDataCashInterface">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CompletePaymentDataCashInterfaceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CompletePaymentDataCashInterfaceResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PriceChangeDataCashInterface">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PriceChangeDataCashInterfaceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PriceChangeDataCashInterfaceResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelButtonPressed">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelButtonPressedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CancelButtonPressedResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubscribeHotOffers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubscribeHotOffersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubscribeHotOffersResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoXmlHit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoXmlHitResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DoXmlHitResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoXmlHitHotelDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="hotelidinp" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoXmlHitHotelDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DoXmlHitHotelDetailsResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogPageInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pageName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogPageInfoResponse">
            <s:complexType/>
         </s:element>
         <s:element name="CancelBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CancelBookingResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelREfundDataCashPayment">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelREfundDataCashPaymentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CancelREfundDataCashPaymentResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckPromoCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="promoCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckPromoCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckPromoCodeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
      <wsdl:part name="parameters" element="tns:Test"/>
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
      <wsdl:part name="parameters" element="tns:TestResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckAccommodationOnResultsPageSoapIn">
      <wsdl:part name="parameters" element="tns:CheckAccommodationOnResultsPage"/>
  </wsdl:message>
  <wsdl:message name="CheckAccommodationOnResultsPageSoapOut">
      <wsdl:part name="parameters" element="tns:CheckAccommodationOnResultsPageResponse"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetNewPriceSoapIn">
      <wsdl:part name="parameters" element="tns:PaymentCheckAvailbilityGetNewPrice"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetNewPriceSoapOut">
      <wsdl:part name="parameters" element="tns:PaymentCheckAvailbilityGetNewPriceResponse"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetAlertenativeSoapIn">
      <wsdl:part name="parameters" element="tns:PaymentCheckAvailbilityGetAlertenative"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetAlertenativeSoapOut">
      <wsdl:part name="parameters" element="tns:PaymentCheckAvailbilityGetAlertenativeResponse"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetInfoForErrorDivSoapIn">
      <wsdl:part name="parameters" element="tns:PaymentCheckAvailbilityGetInfoForErrorDiv"/>
  </wsdl:message>
  <wsdl:message name="PaymentCheckAvailbilityGetInfoForErrorDivSoapOut">
      <wsdl:part name="parameters"
                 element="tns:PaymentCheckAvailbilityGetInfoForErrorDivResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCardDetails"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:CheckCardDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckBankReturnValuesSoapIn">
      <wsdl:part name="parameters" element="tns:CheckBankReturnValues"/>
  </wsdl:message>
  <wsdl:message name="CheckBankReturnValuesSoapOut">
      <wsdl:part name="parameters" element="tns:CheckBankReturnValuesResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckBankReturnValuesDepositSoapIn">
      <wsdl:part name="parameters" element="tns:CheckBankReturnValuesDeposit"/>
  </wsdl:message>
  <wsdl:message name="CheckBankReturnValuesDepositSoapOut">
      <wsdl:part name="parameters" element="tns:CheckBankReturnValuesDepositResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsDataCashInterfaceSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCardDetailsDataCashInterface"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsDataCashInterfaceSoapOut">
      <wsdl:part name="parameters" element="tns:CheckCardDetailsDataCashInterfaceResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsDataCashInterfaceDepositSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCardDetailsDataCashInterfaceDeposit"/>
  </wsdl:message>
  <wsdl:message name="CheckCardDetailsDataCashInterfaceDepositSoapOut">
      <wsdl:part name="parameters"
                 element="tns:CheckCardDetailsDataCashInterfaceDepositResponse"/>
  </wsdl:message>
  <wsdl:message name="CompletePaymentDataCashInterfaceSoapIn">
      <wsdl:part name="parameters" element="tns:CompletePaymentDataCashInterface"/>
  </wsdl:message>
  <wsdl:message name="CompletePaymentDataCashInterfaceSoapOut">
      <wsdl:part name="parameters" element="tns:CompletePaymentDataCashInterfaceResponse"/>
  </wsdl:message>
  <wsdl:message name="PriceChangeDataCashInterfaceSoapIn">
      <wsdl:part name="parameters" element="tns:PriceChangeDataCashInterface"/>
  </wsdl:message>
  <wsdl:message name="PriceChangeDataCashInterfaceSoapOut">
      <wsdl:part name="parameters" element="tns:PriceChangeDataCashInterfaceResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelButtonPressedSoapIn">
      <wsdl:part name="parameters" element="tns:CancelButtonPressed"/>
  </wsdl:message>
  <wsdl:message name="CancelButtonPressedSoapOut">
      <wsdl:part name="parameters" element="tns:CancelButtonPressedResponse"/>
  </wsdl:message>
  <wsdl:message name="SubscribeHotOffersSoapIn">
      <wsdl:part name="parameters" element="tns:SubscribeHotOffers"/>
  </wsdl:message>
  <wsdl:message name="SubscribeHotOffersSoapOut">
      <wsdl:part name="parameters" element="tns:SubscribeHotOffersResponse"/>
  </wsdl:message>
  <wsdl:message name="DoXmlHitSoapIn">
      <wsdl:part name="parameters" element="tns:DoXmlHit"/>
  </wsdl:message>
  <wsdl:message name="DoXmlHitSoapOut">
      <wsdl:part name="parameters" element="tns:DoXmlHitResponse"/>
  </wsdl:message>
  <wsdl:message name="DoXmlHitHotelDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:DoXmlHitHotelDetails"/>
  </wsdl:message>
  <wsdl:message name="DoXmlHitHotelDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:DoXmlHitHotelDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="LogPageInfoSoapIn">
      <wsdl:part name="parameters" element="tns:LogPageInfo"/>
  </wsdl:message>
  <wsdl:message name="LogPageInfoSoapOut">
      <wsdl:part name="parameters" element="tns:LogPageInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapIn">
      <wsdl:part name="parameters" element="tns:CancelBooking"/>
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapOut">
      <wsdl:part name="parameters" element="tns:CancelBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelREfundDataCashPaymentSoapIn">
      <wsdl:part name="parameters" element="tns:CancelREfundDataCashPayment"/>
  </wsdl:message>
  <wsdl:message name="CancelREfundDataCashPaymentSoapOut">
      <wsdl:part name="parameters" element="tns:CancelREfundDataCashPaymentResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckPromoCodeSoapIn">
      <wsdl:part name="parameters" element="tns:CheckPromoCode"/>
  </wsdl:message>
  <wsdl:message name="CheckPromoCodeSoapOut">
      <wsdl:part name="parameters" element="tns:CheckPromoCodeResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AjaxHitsSoap" type="tns:AjaxHitsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://www.quickrooms.com/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Test">
         <soap:operation soapAction="http://www.quickrooms.com/Test" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckAccommodationOnResultsPage">
         <soap:operation soapAction="http://www.quickrooms.com/CheckAccommodationOnResultsPage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PaymentCheckAvailbilityGetNewPrice">
         <soap:operation soapAction="http://www.quickrooms.com/PaymentCheckAvailbilityGetNewPrice"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PaymentCheckAvailbilityGetAlertenative">
         <soap:operation soapAction="http://www.quickrooms.com/PaymentCheckAvailbilityGetAlertenative"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PaymentCheckAvailbilityGetInfoForErrorDiv">
         <soap:operation soapAction="http://www.quickrooms.com/PaymentCheckAvailbilityGetInfoForErrorDiv"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckCardDetails">
         <soap:operation soapAction="http://www.quickrooms.com/CheckCardDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckBankReturnValues">
         <soap:operation soapAction="http://www.quickrooms.com/CheckBankReturnValues" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckBankReturnValuesDeposit">
         <soap:operation soapAction="http://www.quickrooms.com/CheckBankReturnValuesDeposit"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckCardDetailsDataCashInterface">
         <soap:operation soapAction="http://www.quickrooms.com/CheckCardDetailsDataCashInterface"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckCardDetailsDataCashInterfaceDeposit">
         <soap:operation soapAction="http://www.quickrooms.com/CheckCardDetailsDataCashInterfaceDeposit"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CompletePaymentDataCashInterface">
         <soap:operation soapAction="http://www.quickrooms.com/CompletePaymentDataCashInterface"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PriceChangeDataCashInterface">
         <soap:operation soapAction="http://www.quickrooms.com/PriceChangeDataCashInterface"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CancelButtonPressed">
         <soap:operation soapAction="http://www.quickrooms.com/CancelButtonPressed" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubscribeHotOffers">
         <soap:operation soapAction="http://www.quickrooms.com/SubscribeHotOffers" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DoXmlHit">
         <soap:operation soapAction="http://www.quickrooms.com/DoXmlHit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DoXmlHitHotelDetails">
         <soap:operation soapAction="http://www.quickrooms.com/DoXmlHitHotelDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogPageInfo">
         <soap:operation soapAction="http://www.quickrooms.com/LogPageInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CancelBooking">
         <soap:operation soapAction="http://www.quickrooms.com/CancelBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CancelREfundDataCashPayment">
         <soap:operation soapAction="http://www.quickrooms.com/CancelREfundDataCashPayment"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckPromoCode">
         <soap:operation soapAction="http://www.quickrooms.com/CheckPromoCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AjaxHits">
      <wsdl:port name="AjaxHitsSoap" binding="tns:AjaxHitsSoap">
         <soap:address location="http://ws.soatrader.com/quickrooms.com/0.1/AjaxHits"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>