wsdl_repositories/soatrader - Copy/BasicAddressBatch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.BGTAddressTools.state.pa.us/BasicAddressBatch"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.BGTAddressTools.state.pa.us/BasicAddressBatch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.BGTAddressTools.state.pa.us/BasicAddressBatch">
         <s:element name="getInputXMLFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="inputXmlFile">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="1" maxOccurs="1" name="lngReturnCode" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getInputXMLFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getInputXMLFileResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="1" maxOccurs="1" name="lngReturnCode" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authenticator" type="tns:Authenticator"/>
         <s:complexType name="Authenticator">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="clientUsername" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getInputXMLFileSoapIn">
      <wsdl:part name="parameters" element="tns:getInputXMLFile"/>
  </wsdl:message>
  <wsdl:message name="getInputXMLFileSoapOut">
      <wsdl:part name="parameters" element="tns:getInputXMLFileResponse"/>
  </wsdl:message>
  <wsdl:message name="getInputXMLFileAuthenticator">
      <wsdl:part name="Authenticator" element="tns:Authenticator"/>
  </wsdl:message>
  <wsdl:portType name="BasicAddressBatchSoap">
      <wsdl:operation name="getInputXMLFile">
         <wsdl:input message="tns:getInputXMLFileSoapIn"/>
         <wsdl:output message="tns:getInputXMLFileSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="BasicAddressBatchSoap" type="tns:BasicAddressBatchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getInputXMLFile">
         <soap:operation soapAction="http://www.BGTAddressTools.state.pa.us/BasicAddressBatch/getInputXMLFile"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:getInputXMLFileAuthenticator" part="Authenticator" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="BasicAddressBatch">
      <wsdl:port name="BasicAddressBatchSoap" binding="tns:BasicAddressBatchSoap">
         <soap:address location="http://ws.soatrader.com/state.pa.us/0.1/BasicAddressBatch"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>