wsdl_repositories/soatrader - Copy/CentralDesktopCompanyAPI.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="urn:CentralDesktop/API"
             xmlns:typens="urn:CentralDesktop/API"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="CentralDesktop"
             targetNamespace="urn:CentralDesktop/API">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:CentralDesktop/API">
		       <xsd:complexType name="User">
			         <xsd:sequence>
				           <xsd:element name="user_id" type="xsd:int"/>
				           <xsd:element name="username" type="xsd:string"/>
				           <xsd:element name="email" type="xsd:string"/>
				           <xsd:element name="full_name" type="xsd:string"/>
				           <xsd:element name="phone" type="xsd:string"/>
				           <xsd:element name="client_reference_id" type="xsd:string"/>
				           <xsd:element name="client_reference_id_2" type="xsd:string"/>
				           <xsd:element name="client_reference_id_3" type="xsd:string"/>
				           <xsd:element name="client_reference_id_4" type="xsd:string"/>
			         </xsd:sequence>
		       </xsd:complexType>

		       <xsd:complexType name="UserArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:User[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>


		       <xsd:complexType name="Workspace">
			         <xsd:sequence>
				           <xsd:element name="space_id" type="xsd:int"/>
				           <xsd:element name="name" type="xsd:string"/>
				           <xsd:element name="url" type="xsd:string"/>
				           <xsd:element name="archived" type="xsd:boolean"/>
			         </xsd:sequence>
		       </xsd:complexType>

		       <xsd:complexType name="WorkspaceArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Workspace[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>

		       <xsd:complexType name="Task">
			         <xsd:sequence>
				           <xsd:element name="task_id" type="xsd:int"/>
				           <xsd:element name="description" type="xsd:string"/>
				           <xsd:element name="completed" type="xsd:string"/>
				           <xsd:element name="priority" type="xsd:int"/>
				           <xsd:element name="due_date" type="xsd:string"/>
				           <xsd:element name="due_date_epoch" type="xsd:int"/>
				           <xsd:element name="assigned_to" type="xsd:string"/>
				           <xsd:element name="sort" type="xsd:int"/>
				           <xsd:element name="num_comments" type="xsd:int"/>
				           <xsd:element name="category_id" type="xsd:int"/>
				           <xsd:element name="category_name" type="xsd:string"/>
				           <xsd:element name="internal_use_only" type="xsd:boolean"/>
			         </xsd:sequence>
		       </xsd:complexType>

		       <xsd:complexType name="TaskArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Task[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>
		
		       <xsd:complexType name="Event">
			         <xsd:sequence>
				           <xsd:element name="event_id" type="xsd:int"/>
				           <xsd:element name="title" type="xsd:string"/>
				           <xsd:element name="organizer" type="xsd:string"/>
				           <xsd:element name="start_time" type="xsd:string"/>
				           <xsd:element name="end_time" type="xsd:string"/>
				           <xsd:element name="description" type="xsd:string"/>
				           <xsd:element name="assigned_to" type="xsd:string"/>
			         </xsd:sequence>
		       </xsd:complexType>		

		       <xsd:complexType name="EventArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Event[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>

		       <xsd:complexType name="Milestone">
			         <xsd:sequence>
				           <xsd:element name="milestone_id" type="xsd:int"/>
				           <xsd:element name="title" type="xsd:string"/>
				           <xsd:element name="description" type="xsd:string"/>
				           <xsd:element name="completed" type="xsd:string"/>
				           <xsd:element name="due_date" type="xsd:string"/>
				           <xsd:element name="due_date_epoch" type="xsd:int"/>
				           <xsd:element name="internal_use_only" type="xsd:boolean"/>
			         </xsd:sequence>
		       </xsd:complexType>

		       <xsd:complexType name="MilestoneArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Milestone[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>


		       <xsd:complexType name="Category">
			         <xsd:sequence>
				           <xsd:element name="category_id" type="xsd:int"/>
				           <xsd:element name="category_name" type="xsd:string"/>
				           <xsd:element name="internal_use_only" type="xsd:boolean"/>
				           <xsd:element name="milestone_id" type="xsd:int"/>
			         </xsd:sequence>
		       </xsd:complexType>

		       <xsd:complexType name="CategoryArray">
			         <xsd:complexContent>
				           <xsd:restriction base="soapenc:Array">
					             <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Category[]"/>
				           </xsd:restriction>
			         </xsd:complexContent>
		       </xsd:complexType>

	     </xsd:schema>
  </types>

  <message name="CreateUser">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="username" type="xsd:string"/>
	     <part name="password" type="xsd:string"/>
	     <part name="full_name" type="xsd:string"/>
	     <part name="email" type="xsd:string"/>
	     <part name="security_question" type="xsd:string"/>
	     <part name="security_answer" type="xsd:string"/>
	     <part name="timezone_id" type="xsd:int"/>	
	     <part name="country_code" type="xsd:string"/>	
	     <part name="phone" type="xsd:string"/>	
	     <part name="user_permissions" type="xsd:int"/>	
	     <part name="client_reference_id" type="xsd:string"/>	
	     <part name="client_reference_id_2" type="xsd:string"/>	
	     <part name="client_reference_id_3" type="xsd:string"/>	
	     <part name="client_reference_id_4" type="xsd:string"/>
	     <part name="user_type" type="xsd:string"/>
	     <part name="company" type="xsd:string"/>
	     <part name="dept" type="xsd:string"/>
	     <part name="title" type="xsd:string"/>
	     <part name="home_phone" type="xsd:string"/>
	     <part name="mobile_phone" type="xsd:string"/>
	     <part name="pager" type="xsd:string"/>
	     <part name="business_fax" type="xsd:string"/>
	     <part name="web_site" type="xsd:string"/>
	     <part name="address1" type="xsd:string"/>
	     <part name="address2" type="xsd:string"/>
	     <part name="city" type="xsd:string"/>
	     <part name="state" type="xsd:string"/>
	     <part name="zipcode" type="xsd:string"/>
  </message>
  <message name="CreateUserResponse">
  	   <part name="user_id" type="xsd:int"/>
  </message>

  <message name="SetPassword">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="user_id" type="xsd:int"/>
  	   <part name="new_password" type="xsd:string"/>
  </message>
  <message name="SetPasswordResponse">
  </message>


  <message name="UpdateUser">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="user_id" type="xsd:int"/>
	     <part name="full_name" type="xsd:string"/>
	     <part name="email" type="xsd:string"/>
	     <part name="timezone_id" type="xsd:int"/>	
	     <part name="country_code" type="xsd:string"/>	
	     <part name="phone" type="xsd:string"/>	
	     <part name="user_permissions" type="xsd:int"/>	
	     <part name="client_reference_id" type="xsd:string"/>	
	     <part name="client_reference_id_2" type="xsd:string"/>	
	     <part name="client_reference_id_3" type="xsd:string"/>	
	     <part name="client_reference_id_4" type="xsd:string"/>	
	     <part name="user_type" type="xsd:string"/>
	     <part name="company" type="xsd:string"/>
	     <part name="dept" type="xsd:string"/>
	     <part name="title" type="xsd:string"/>
	     <part name="home_phone" type="xsd:string"/>
	     <part name="mobile_phone" type="xsd:string"/>
	     <part name="pager" type="xsd:string"/>
	     <part name="business_fax" type="xsd:string"/>
	     <part name="web_site" type="xsd:string"/>
	     <part name="address1" type="xsd:string"/>
	     <part name="address2" type="xsd:string"/>
	     <part name="city" type="xsd:string"/>
	     <part name="state" type="xsd:string"/>
	     <part name="zipcode" type="xsd:string"/>	
  </message>
  <message name="UpdateUserResponse">
  </message>  

  <message name="RemoveUser">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="user_id" type="xsd:int"/>
  </message>
  <message name="RemoveUserResponse">
  </message>

  <message name="GetUser">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="user_id" type="xsd:int"/>
	     <part name="client_reference_id" type="xsd:string"/>	
	     <part name="client_reference_id_2" type="xsd:string"/>	
	     <part name="client_reference_id_3" type="xsd:string"/>	
	     <part name="client_reference_id_4" type="xsd:string"/>	
  </message>
  <message name="GetUserResponse">
  	   <part name="user" type="typens:User"/>
  </message>

  <message name="GetUserList">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  </message>
  <message name="GetUserListResponse">
  	   <part name="userList" type="typens:UserArray"/>
  </message>


  <message name="GetWorkspaceMemberList">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="space_id" type="xsd:int"/>
  </message>
  <message name="GetWorkspaceMemberListResponse">
  	   <part name="userList" type="typens:UserArray"/>
  </message>
  
  <message name="GetWorkspaces">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  </message>
  <message name="GetWorkspacesResponse">
  	   <part name="WorkspaceList" type="typens:WorkspaceArray"/>
  </message>
  
  <message name="AddUserToWorkspace">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="space_id" type="xsd:int"/>
  	   <part name="user_id" type="xsd:int"/>
  	   <part name="email" type="xsd:string"/>
  	   <part name="user_permissions" type="xsd:int"/>
  </message>
  <message name="AddUserToWorkspaceResponse">
  </message>
  
  <message name="RemoveUserFromWorkspace">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
  	   <part name="space_id" type="xsd:int"/>
  	   <part name="user_id" type="xsd:int"/>	
  </message>
  <message name="RemoveUserFromWorkspaceResponse">
  </message>
  
  
  
  
  <message name="CreateTask">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
	     <part name="priority" type="xsd:int"/>
	     <part name="description" type="xsd:string"/>
	     <part name="send_email" type="xsd:boolean"/>
	     <part name="due_date" type="xsd:string"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="CreateTaskResponse">
  	   <part name="task_id" type="xsd:int"/>
  </message>  

  <message name="UpdateTask">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
	     <part name="task_id" type="xsd:int"/>
	     <part name="completed" type="xsd:boolean"/>
	     <part name="priority" type="xsd:int"/>
	     <part name="description" type="xsd:string"/>
	     <part name="send_email" type="xsd:boolean"/>
	     <part name="due_date" type="xsd:string"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="UpdateTaskResponse">
  </message>  

  <message name="DeleteTask">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="task_id" type="xsd:int"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="DeleteTaskResponse">
  </message>  

  <message name="GetTask">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="task_id" type="xsd:int"/>
  </message>
  <message name="GetTaskResponse">
  	   <part name="task" type="typens:TaskArray"/>
  </message> 

  <message name="GetTasks">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
  </message>
  <message name="GetTasksResponse">
  	   <part name="tasks" type="typens:TaskArray"/>
  </message>  
  
  


  
  <message name="CreateMilestone">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	
	     <part name="title" type="xsd:string"/>
	     <part name="description" type="xsd:string"/>
	     <part name="send_email" type="xsd:boolean"/>
	     <part name="due_date" type="xsd:string"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="CreateMilestoneResponse">
  	   <part name="milestone_id" type="xsd:int"/>
  </message>  

  <message name="UpdateMilestone">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="milestone_id" type="xsd:int"/>
	     <part name="completed" type="xsd:boolean"/>
	     <part name="title" type="xsd:string"/>
	     <part name="description" type="xsd:string"/>
	     <part name="send_email" type="xsd:boolean"/>
	     <part name="due_date" type="xsd:string"/>
	     <part name="shift_subsequent_milestones" type="xsd:boolean"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
  </message>
  <message name="UpdateMilestoneResponse">
  </message>  

  <message name="DeleteMilestone">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="milestone_id" type="xsd:int"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="DeleteMilestoneResponse">
  </message>  

  <message name="GetMilestone">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="task_id" type="xsd:int"/>
  </message>
  <message name="GetMilestoneResponse">
  	   <part name="milestone" type="typens:MilestoneArray"/>
  </message> 

  <message name="GetMilestones">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
  </message>
  <message name="GetMilestonesResponse">
  	   <part name="milestones" type="typens:MilestoneArray"/>
  </message>  
  



  
  <message name="CreateCategory">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_name" type="xsd:string"/>
	     <part name="category_type" type="xsd:string"/>
	     <part name="parent_category_id" type="xsd:int"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
	     <part name="milestone_id" type="xsd:int"/>
  </message>
  <message name="CreateCategoryResponse">
  	   <part name="category_id" type="xsd:int"/>
  </message>  

  <message name="UpdateCategory">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
	     <part name="category_name" type="xsd:string"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
  </message>
  <message name="UpdateCategoryResponse">
  </message>  

  <message name="DeleteCategory">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
	     <part name="category_type" type="xsd:string"/>
  </message>
  <message name="DeleteCategoryResponse">
  </message>  
  
  <message name="GetCategory">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
  </message>
  <message name="GetCategoryResponse">
  	   <part name="category" type="typens:CategoryArray"/>
  </message> 

  <message name="GetCategories">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_type" type="xsd:string"/>
  </message>
  <message name="GetCategoriesResponse">
  	   <part name="categories" type="typens:CategoryArray"/>
  </message>  
  

  <message name="CreateComment">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="category_id" type="xsd:int"/>
	     <part name="item_id" type="xsd:int"/>
	     <part name="comment_type" type="xsd:string"/>
	     <part name="comment" type="xsd:string"/>
	     <part name="send_email" type="xsd:string"/>
	     <part name="add_to_activity_log" type="xsd:string"/>
  </message>
  <message name="CreateCommentResponse">
  	   <part name="comment_id" type="xsd:int"/>
  </message>  

  <message name="UpdateComment">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="comment_type" type="xsd:string"/>
	     <part name="comment_id" type="xsd:int"/>
	     <part name="comment" type="xsd:string"/>
  </message>
  <message name="UpdateCommentResponse">
  </message>  

  <message name="DeleteComment">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="comment_type" type="xsd:string"/>
	     <part name="comment_id" type="xsd:int"/>
  </message>
  <message name="DeleteCommentResponse">
  </message>  



  <message name="GetEvents">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
  </message>
  <message name="GetEventsResponse">
  	   <part name="events" type="typens:EventArray"/>
  </message>  
  
  <message name="GetEvent">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="event_id" type="xsd:int"/>
  </message>
  <message name="GetEventResponse">
  	   <part name="event" type="typens:EventArray"/>
  </message> 
  
  <message name="DeleteEvent">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="event_id" type="xsd:int"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="DeleteEventResponse">
  </message>  
  
  <message name="UpdateEvent">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="event_id" type="xsd:int"/>
	     <part name="start_time" type="xsd:string"/>
	     <part name="end_time" type="xsd:string"/>
	     <part name="title" type="xsd:string"/>
	     <part name="description" type="xsd:string"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="UpdateEventResponse">
  </message>  
  
  
  <message name="CreateEvent">
  	   <part name="company_key" type="xsd:string"/>
  	   <part name="company_guid" type="xsd:string"/>
	     <part name="user_id" type="xsd:int"/>
	     <part name="space_id" type="xsd:int"/>
	     <part name="start_time" type="xsd:string"/>
	     <part name="end_time" type="xsd:string"/>
	     <part name="title" type="xsd:string"/>
	     <part name="description" type="xsd:string"/>
	     <part name="internal_use_only" type="xsd:boolean"/>
	     <part name="assigned_to_userids" type="xsd:string"/>
	     <part name="add_to_activity_log" type="xsd:boolean"/>
  </message>
  <message name="CreateEventResponse">
  	   <part name="event_id" type="xsd:int"/>
  </message> 
  
  
  
  
  
  
  
  
  <portType name="CentralDesktopPort">
	     <operation name="CreateUser">
		       <input message="typens:CreateUser"/>
		       <output message="typens:CreateUserResponse"/>
	     </operation>
	     <operation name="SetPassword">
		       <input message="typens:SetPassword"/>
		       <output message="typens:SetPasswordResponse"/>
	     </operation>
	     <operation name="UpdateUser">
		       <input message="typens:UpdateUser"/>
		       <output message="typens:UpdateUserResponse"/>
	     </operation>
	     <operation name="RemoveUser">
		       <input message="typens:RemoveUser"/>
		       <output message="typens:RemoveUserResponse"/>
	     </operation>
	     <operation name="GetUser">
		       <input message="typens:GetUser"/>
		       <output message="typens:GetUserResponse"/>
	     </operation>
	     <operation name="GetUserList">
		       <input message="typens:GetUserList"/>
		       <output message="typens:GetUserListResponse"/>
	     </operation>

	     <operation name="GetWorkspaceMemberList">
		       <input message="typens:GetWorkspaceMemberList"/>
		       <output message="typens:GetWorkspaceMemberListResponse"/>
	     </operation>
	     <operation name="GetWorkspaces">
		       <input message="typens:GetWorkspaces"/>
		       <output message="typens:GetWorkspacesResponse"/>
	     </operation>
	     <operation name="AddUserToWorkspace">
		       <input message="typens:AddUserToWorkspace"/>
		       <output message="typens:AddUserToWorkspaceResponse"/>
	     </operation>
	     <operation name="RemoveUserFromWorkspace">
		       <input message="typens:RemoveUserFromWorkspace"/>
		       <output message="typens:RemoveUserFromWorkspaceResponse"/>
	     </operation>
		
	     <operation name="CreateTask">
		       <input message="typens:CreateTask"/>
		       <output message="typens:CreateTaskResponse"/>
	     </operation>
	     <operation name="UpdateTask">
		       <input message="typens:UpdateTask"/>
		       <output message="typens:UpdateTaskResponse"/>
	     </operation>
	     <operation name="DeleteTask">
		       <input message="typens:DeleteTask"/>
		       <output message="typens:DeleteTaskResponse"/>
	     </operation>
	     <operation name="GetTask">
		       <input message="typens:GetTask"/>
		       <output message="typens:GetTaskResponse"/>
	     </operation>	
	     <operation name="GetTasks">
		       <input message="typens:GetTasks"/>
		       <output message="typens:GetTasksResponse"/>
	     </operation>	


	     <operation name="CreateMilestone">
		       <input message="typens:CreateMilestone"/>
		       <output message="typens:CreateMilestoneResponse"/>
	     </operation>
	     <operation name="UpdateMilestone">
		       <input message="typens:UpdateMilestone"/>
		       <output message="typens:UpdateMilestoneResponse"/>
	     </operation>
	     <operation name="DeleteMilestone">
		       <input message="typens:DeleteMilestone"/>
		       <output message="typens:DeleteMilestoneResponse"/>
	     </operation>
	     <operation name="GetMilestone">
		       <input message="typens:GetMilestone"/>
		       <output message="typens:GetMilestoneResponse"/>
	     </operation>	
	     <operation name="GetMilestones">
		       <input message="typens:GetMilestones"/>
		       <output message="typens:GetMilestonesResponse"/>
	     </operation>	


	     <operation name="CreateCategory">
		       <input message="typens:CreateCategory"/>
		       <output message="typens:CreateCategoryResponse"/>
	     </operation>
	     <operation name="UpdateCategory">
		       <input message="typens:UpdateCategory"/>
		       <output message="typens:UpdateCategoryResponse"/>
	     </operation>
	     <operation name="DeleteCategory">
		       <input message="typens:DeleteCategory"/>
		       <output message="typens:DeleteCategoryResponse"/>
	     </operation>
	     <operation name="GetCategory">
		       <input message="typens:GetCategory"/>
		       <output message="typens:GetCategoryResponse"/>
	     </operation>	
	     <operation name="GetCategories">
		       <input message="typens:GetCategories"/>
		       <output message="typens:GetCategoriesResponse"/>
	     </operation>	


	     <operation name="CreateComment">
		       <input message="typens:CreateComment"/>
		       <output message="typens:CreateCommentResponse"/>
	     </operation>
	     <operation name="UpdateComment">
		       <input message="typens:UpdateComment"/>
		       <output message="typens:UpdateCommentResponse"/>
	     </operation>
	     <operation name="DeleteComment">
		       <input message="typens:DeleteComment"/>
		       <output message="typens:DeleteCommentResponse"/>
	     </operation>
	
	
	     <operation name="GetEvents">
		       <input message="typens:GetEvents"/>
		       <output message="typens:GetEventsResponse"/>
	     </operation>
	     <operation name="GetEvent">
		       <input message="typens:GetEvent"/>
		       <output message="typens:GetEventResponse"/>
	     </operation>
	     <operation name="DeleteEvent">
		       <input message="typens:DeleteEvent"/>
		       <output message="typens:DeleteEventResponse"/>
	     </operation>
	     <operation name="UpdateEvent">
		       <input message="typens:UpdateEvent"/>
		       <output message="typens:UpdateEventResponse"/>
	     </operation>
	     <operation name="CreateEvent">
		       <input message="typens:CreateEvent"/>
		       <output message="typens:CreateEventResponse"/>
	     </operation>

  </portType>




  <binding name="CentralDesktopBinding" type="typens:CentralDesktopPort">
  	   <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	     <operation name="CreateUser">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="SetPassword">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateUser">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="RemoveUser">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetUser">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetUserList">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetWorkspaceMemberList">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>	
	     <operation name="GetWorkspaces">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>	
	     <operation name="AddUserToWorkspace">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>	
	     <operation name="RemoveUserFromWorkspace">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>	



		
	     <operation name="CreateTask">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateTask">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="DeleteTask">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetTask">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetTasks">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>

	     <operation name="CreateMilestone">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateMilestone">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="DeleteMilestone">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetMilestone">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetMilestones">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>



	     <operation name="CreateCategory">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateCategory">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="DeleteCategory">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetCategory">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetCategories">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>


	     <operation name="CreateComment">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateComment">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="DeleteComment">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	

	     <operation name="GetEvents">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="GetEvent">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="DeleteEvent">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="UpdateEvent">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>
	     <operation name="CreateEvent">
		       <soap:operation soapAction="urn:CentralDesktopAction"/>
		       <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </input>
		       <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
			         <soap:body use="encoded" namespace="urn:CentralDesktop/API/Partner"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		       </output>
	     </operation>		
	
		
  </binding>

  <service name="CentralDesktopCompanyAPI">
  	   <port name="CentralDesktopPort" binding="typens:CentralDesktopBinding">
		       <soap:address location="http://ws.soatrader.com/centraldesktop.com/0.1/CentralDesktopCompanyAPI"/>
	     </port>
  </service>
</definitions>