wsdl_repositories/soatrader - Copy/CommunityDictionaryEditService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                  xmlns:intf="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="urn:webservices.trans.nict.go.jp"
                  xmlns:tns2="http://dictionarycommon.webservices.langrid.nict.go.jp"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit">
         <import namespace="http://dictionarycommon.webservices.langrid.nict.go.jp"/>
         <import namespace="urn:webservices.trans.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit">
         <import namespace="http://dictionarycommon.webservices.langrid.nict.go.jp"/>
         <import namespace="urn:webservices.trans.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:webservices.trans.nict.go.jp">
         <import namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"/>
         <import namespace="http://dictionarycommon.webservices.langrid.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="DictionaryData">
            <sequence>
               <element name="count" type="xsd:int"/>
               <element name="id" type="xsd:int"/>
               <element name="language" nillable="true" type="xsd:string"/>
               <element name="languages" nillable="true" type="impl:ArrayOf_xsd_string"/>
               <element name="term" nillable="true" type="xsd:string"/>
               <element name="terms" nillable="true" type="impl:ArrayOf_xsd_string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:webservices.trans.nict.go.jp">
         <import namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"/>
         <import namespace="http://dictionarycommon.webservices.langrid.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="DictionaryData">
            <sequence>
               <element name="count" type="xsd:int"/>
               <element name="id" type="xsd:int"/>
               <element name="language" nillable="true" type="xsd:string"/>
               <element name="languages" nillable="true" type="impl:ArrayOf_xsd_string"/>
               <element name="term" nillable="true" type="xsd:string"/>
               <element name="terms" nillable="true" type="impl:ArrayOf_xsd_string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://dictionarycommon.webservices.langrid.nict.go.jp">
         <import namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"/>
         <import namespace="urn:webservices.trans.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="DBCommon_DBCommonConnectionFailure">
            <sequence/>
         </complexType>
         <complexType name="DBCommon_DBCommonReleaseFailure">
            <sequence/>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://dictionarycommon.webservices.langrid.nict.go.jp">
         <import namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"/>
         <import namespace="urn:webservices.trans.nict.go.jp"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="DBCommon_DBCommonConnectionFailure">
            <sequence/>
         </complexType>
         <complexType name="DBCommon_DBCommonReleaseFailure">
            <sequence/>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="DBCommon$DBCommonConnectionFailure">

      <wsdl:part name="fault" type="tns2:DBCommon_DBCommonConnectionFailure"/>

   </wsdl:message>

   <wsdl:message name="updateTermResponse">

   </wsdl:message>

   <wsdl:message name="setBDResponse">

   </wsdl:message>

   <wsdl:message name="setBDRequest">

      <wsdl:part name="dbName" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addTermResponse">

      <wsdl:part name="addTermReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="updateTermRequest">

      <wsdl:part name="dict" type="tns1:DictionaryData"/>

   </wsdl:message>

   <wsdl:message name="addTermsResponse">

      <wsdl:part name="addTermsReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="deleteTermRequest">

      <wsdl:part name="dict" type="tns1:DictionaryData"/>

   </wsdl:message>

   <wsdl:message name="addTermRequest">

      <wsdl:part name="dict" type="tns1:DictionaryData"/>

   </wsdl:message>

   <wsdl:message name="DBCommon$DBCommonReleaseFailure">

      <wsdl:part name="fault" type="tns2:DBCommon_DBCommonReleaseFailure"/>

   </wsdl:message>

   <wsdl:message name="deleteTermResponse">

   </wsdl:message>

   <wsdl:message name="addTermsRequest">

      <wsdl:part name="dict" type="tns1:DictionaryData"/>

   </wsdl:message>

   <wsdl:portType name="CommunityDictionaryEdit">

      <wsdl:operation name="setBD" parameterOrder="dbName userName">

         <wsdl:input message="impl:setBDRequest" name="setBDRequest"/>

         <wsdl:output message="impl:setBDResponse" name="setBDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addTerm" parameterOrder="dict">

         <wsdl:input message="impl:addTermRequest" name="addTermRequest"/>

         <wsdl:output message="impl:addTermResponse" name="addTermResponse"/>

         <wsdl:fault message="impl:DBCommon$DBCommonReleaseFailure"
                     name="DBCommon$DBCommonReleaseFailure"/>

         <wsdl:fault message="impl:DBCommon$DBCommonConnectionFailure"
                     name="DBCommon$DBCommonConnectionFailure"/>

      </wsdl:operation>

      <wsdl:operation name="addTerms" parameterOrder="dict">

         <wsdl:input message="impl:addTermsRequest" name="addTermsRequest"/>

         <wsdl:output message="impl:addTermsResponse" name="addTermsResponse"/>

         <wsdl:fault message="impl:DBCommon$DBCommonReleaseFailure"
                     name="DBCommon$DBCommonReleaseFailure"/>

         <wsdl:fault message="impl:DBCommon$DBCommonConnectionFailure"
                     name="DBCommon$DBCommonConnectionFailure"/>

      </wsdl:operation>

      <wsdl:operation name="updateTerm" parameterOrder="dict">

         <wsdl:input message="impl:updateTermRequest" name="updateTermRequest"/>

         <wsdl:output message="impl:updateTermResponse" name="updateTermResponse"/>

         <wsdl:fault message="impl:DBCommon$DBCommonReleaseFailure"
                     name="DBCommon$DBCommonReleaseFailure"/>

         <wsdl:fault message="impl:DBCommon$DBCommonConnectionFailure"
                     name="DBCommon$DBCommonConnectionFailure"/>

      </wsdl:operation>

      <wsdl:operation name="deleteTerm" parameterOrder="dict">

         <wsdl:input message="impl:deleteTermRequest" name="deleteTermRequest"/>

         <wsdl:output message="impl:deleteTermResponse" name="deleteTermResponse"/>

         <wsdl:fault message="impl:DBCommon$DBCommonReleaseFailure"
                     name="DBCommon$DBCommonReleaseFailure"/>

         <wsdl:fault message="impl:DBCommon$DBCommonConnectionFailure"
                     name="DBCommon$DBCommonConnectionFailure"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CommunityDictionaryEditSoapBinding" type="impl:CommunityDictionaryEdit">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setBD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setBDRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setBDResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DBCommon$DBCommonReleaseFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonReleaseFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DBCommon$DBCommonConnectionFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonConnectionFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addTerms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTermsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTermsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DBCommon$DBCommonReleaseFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonReleaseFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DBCommon$DBCommonConnectionFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonConnectionFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DBCommon$DBCommonReleaseFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonReleaseFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DBCommon$DBCommonConnectionFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonConnectionFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="DBCommon$DBCommonReleaseFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonReleaseFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="DBCommon$DBCommonConnectionFailure">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="DBCommon$DBCommonConnectionFailure"
                            namespace="http://trans.nict.go.jp/collabo/services/CommunityDictionaryEdit"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CommunityDictionaryEditService">

      <wsdl:port binding="impl:CommunityDictionaryEditSoapBinding"
                 name="CommunityDictionaryEdit">

         <wsdlsoap:address location="http://ws.soatrader.com/nict.go.jp/0.1/CommunityDictionaryEditService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>