wsdl_repositories/soatrader - Copy/companyService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://bradspel.net/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://bradspel.net/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://bradspel.net/">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="registerCompany">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="inName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inWebUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDescription" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inContactPhoneNr" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inContactEmailAdr" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="registerCompanyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="registerCompanyResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCompanyId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="inName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCompanyIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getCompanyIdResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeCompany">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inCompanyId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeCompanyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="removeCompanyResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateGame">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inCompanyId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inBoardGameGeekGameId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inPriceEach" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inShippingPriceSweden" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDirectLink" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateGameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="updateGameResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeGame">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inCompanyId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inBoardGameGeekGameId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeGameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="removeGameResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeAllGamesFromCompany">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inCompanyId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="removeAllGamesFromCompanyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="removeAllGamesFromCompanyResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCompanyGames">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inCompanyId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCompanyGamesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCompanyGamesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBoardGameGeekGameIdByGameName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="gameName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBoardGameGeekGameIdByGameNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getBoardGameGeekGameIdByGameNameResult"
                             type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="registerCompanySoapIn">
      <wsdl:part name="parameters" element="tns:registerCompany"/>
  </wsdl:message>
  <wsdl:message name="registerCompanySoapOut">
      <wsdl:part name="parameters" element="tns:registerCompanyResponse"/>
  </wsdl:message>
  <wsdl:message name="getCompanyIdSoapIn">
      <wsdl:part name="parameters" element="tns:getCompanyId"/>
  </wsdl:message>
  <wsdl:message name="getCompanyIdSoapOut">
      <wsdl:part name="parameters" element="tns:getCompanyIdResponse"/>
  </wsdl:message>
  <wsdl:message name="removeCompanySoapIn">
      <wsdl:part name="parameters" element="tns:removeCompany"/>
  </wsdl:message>
  <wsdl:message name="removeCompanySoapOut">
      <wsdl:part name="parameters" element="tns:removeCompanyResponse"/>
  </wsdl:message>
  <wsdl:message name="updateGameSoapIn">
      <wsdl:part name="parameters" element="tns:updateGame"/>
  </wsdl:message>
  <wsdl:message name="updateGameSoapOut">
      <wsdl:part name="parameters" element="tns:updateGameResponse"/>
  </wsdl:message>
  <wsdl:message name="removeGameSoapIn">
      <wsdl:part name="parameters" element="tns:removeGame"/>
  </wsdl:message>
  <wsdl:message name="removeGameSoapOut">
      <wsdl:part name="parameters" element="tns:removeGameResponse"/>
  </wsdl:message>
  <wsdl:message name="removeAllGamesFromCompanySoapIn">
      <wsdl:part name="parameters" element="tns:removeAllGamesFromCompany"/>
  </wsdl:message>
  <wsdl:message name="removeAllGamesFromCompanySoapOut">
      <wsdl:part name="parameters" element="tns:removeAllGamesFromCompanyResponse"/>
  </wsdl:message>
  <wsdl:message name="getCompanyGamesSoapIn">
      <wsdl:part name="parameters" element="tns:getCompanyGames"/>
  </wsdl:message>
  <wsdl:message name="getCompanyGamesSoapOut">
      <wsdl:part name="parameters" element="tns:getCompanyGamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getBoardGameGeekGameIdByGameNameSoapIn">
      <wsdl:part name="parameters" element="tns:getBoardGameGeekGameIdByGameName"/>
  </wsdl:message>
  <wsdl:message name="getBoardGameGeekGameIdByGameNameSoapOut">
      <wsdl:part name="parameters" element="tns:getBoardGameGeekGameIdByGameNameResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="companyServiceSoap" type="tns:companyServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://bradspel.net/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="registerCompany">
         <soap:operation soapAction="http://bradspel.net/registerCompany" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCompanyId">
         <soap:operation soapAction="http://bradspel.net/getCompanyId" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeCompany">
         <soap:operation soapAction="http://bradspel.net/removeCompany" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateGame">
         <soap:operation soapAction="http://bradspel.net/updateGame" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeGame">
         <soap:operation soapAction="http://bradspel.net/removeGame" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeAllGamesFromCompany">
         <soap:operation soapAction="http://bradspel.net/removeAllGamesFromCompany" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCompanyGames">
         <soap:operation soapAction="http://bradspel.net/getCompanyGames" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getBoardGameGeekGameIdByGameName">
         <soap:operation soapAction="http://bradspel.net/getBoardGameGeekGameIdByGameName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="companyService">
      <wsdl:port name="companyServiceSoap" binding="tns:companyServiceSoap">
         <soap:address location="http://ws.soatrader.com/bradspel.net/0.1/companyService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>