wsdl_repositories/soatrader - Copy/CurrencyServerWebService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.daenet.de/webservices/CurrencyServer"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.daenet.de/webservices/CurrencyServer">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.daenet.de/webservices/CurrencyServer">
         <s:element name="getDataSet">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDataSetResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDataSetResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getXmlStream">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getXmlStreamResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getXmlStreamResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCurrencyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="srcCurrency" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="dstCurrency" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCurrencyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getCurrencyValueResult" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDollarValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDollarValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getDollarValueResult" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProviderDescription">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProviderDescriptionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getProviderDescriptionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProviderTimestamp">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="providerId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProviderTimestampResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getProviderTimestampResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProviderList">
            <s:complexType/>
         </s:element>
         <s:element name="getProviderListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getProviderListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="double" type="s:double"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getDataSetSoapIn">
      <wsdl:part name="parameters" element="tns:getDataSet"/>
  </wsdl:message>
  <wsdl:message name="getDataSetSoapOut">
      <wsdl:part name="parameters" element="tns:getDataSetResponse"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamSoapIn">
      <wsdl:part name="parameters" element="tns:getXmlStream"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamSoapOut">
      <wsdl:part name="parameters" element="tns:getXmlStreamResponse"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueSoapIn">
      <wsdl:part name="parameters" element="tns:getCurrencyValue"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueSoapOut">
      <wsdl:part name="parameters" element="tns:getCurrencyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueSoapIn">
      <wsdl:part name="parameters" element="tns:getDollarValue"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueSoapOut">
      <wsdl:part name="parameters" element="tns:getDollarValueResponse"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionSoapIn">
      <wsdl:part name="parameters" element="tns:getProviderDescription"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionSoapOut">
      <wsdl:part name="parameters" element="tns:getProviderDescriptionResponse"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampSoapIn">
      <wsdl:part name="parameters" element="tns:getProviderTimestamp"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampSoapOut">
      <wsdl:part name="parameters" element="tns:getProviderTimestampResponse"/>
  </wsdl:message>
  <wsdl:message name="getProviderListSoapIn">
      <wsdl:part name="parameters" element="tns:getProviderList"/>
  </wsdl:message>
  <wsdl:message name="getProviderListSoapOut">
      <wsdl:part name="parameters" element="tns:getProviderListResponse"/>
  </wsdl:message>
  <wsdl:message name="getDataSetHttpGetIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getDataSetHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamHttpGetIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueHttpGetIn">
      <wsdl:part name="provider" type="s:string"/>
      <wsdl:part name="srcCurrency" type="s:string"/>
      <wsdl:part name="dstCurrency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueHttpGetIn">
      <wsdl:part name="provider" type="s:string"/>
      <wsdl:part name="currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueHttpGetOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionHttpGetIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampHttpGetIn">
      <wsdl:part name="providerId" type="s:string"/>
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderListHttpGetIn"/>
  <wsdl:message name="getProviderListHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getDataSetHttpPostIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getDataSetHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamHttpPostIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getXmlStreamHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueHttpPostIn">
      <wsdl:part name="provider" type="s:string"/>
      <wsdl:part name="srcCurrency" type="s:string"/>
      <wsdl:part name="dstCurrency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrencyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueHttpPostIn">
      <wsdl:part name="provider" type="s:string"/>
      <wsdl:part name="currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getDollarValueHttpPostOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionHttpPostIn">
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderDescriptionHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampHttpPostIn">
      <wsdl:part name="providerId" type="s:string"/>
      <wsdl:part name="provider" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderTimestampHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getProviderListHttpPostIn"/>
  <wsdl:message name="getProviderListHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="CurrencyServerWebServiceSoap" type="tns:CurrencyServerWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getDataSet">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getDataSet"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getXmlStream">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getXmlStream"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCurrencyValue">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getCurrencyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDollarValue">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getDollarValue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProviderDescription">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getProviderDescription"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProviderTimestamp">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getProviderTimestamp"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProviderList">
         <soap:operation soapAction="http://www.daenet.de/webservices/CurrencyServer/getProviderList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="CurrencyServerWebService">
      <wsdl:port name="CurrencyServerWebServiceSoap" binding="tns:CurrencyServerWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/currencyserver.de/0.1/CurrencyServerWebService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>