wsdl_repositories/soatrader - Copy/DataHub.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://research.microsoft.com/nec/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://research.microsoft.com/nec/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://research.microsoft.com/nec/">
         <s:element name="RegisterSensor2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Sensor" type="tns:SensorInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="SensorInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="publisherID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="altitude" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="unit" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="sensorType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="keywords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="samplingPeriod" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="reportPeriod" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="entryTime" type="s:dateTime"/>
            </s:sequence>
         </s:complexType>
         <s:element name="RegisterSensor2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegisterSensor2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterSensor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterSensorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegisterSensorResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveSensor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveSensorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveSensorResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSensorLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="alt" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSensorLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateSensorLocationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSensorDescriptionByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSensorDescriptionByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSensorDescriptionByNameResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendScalarData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="data" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendScalarDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendScalarDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GenerateLogMessage">
            <s:complexType/>
         </s:element>
         <s:element name="GenerateLogMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GenerateLogMessageResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendBinaryData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendBinaryDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendBinaryDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestScalarSensorData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestScalarSensorDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestScalarSensorDataResult"
                             type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestBinarySensorData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestBinarySensorDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLatestBinarySensorDataResult"
                             type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestSensingTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestSensingTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestSensingTimeResult" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsDataYoungerThan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sensorName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="milliSeconds" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsDataYoungerThanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="IsDataYoungerThanResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSensorsByPublisher">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="publisherName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSensorsByPublisherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllSensorsByPublisherResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Sanity">
            <s:complexType/>
         </s:element>
         <s:element name="SanityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SanityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSensor2SoapIn">
      <wsdl:part name="parameters" element="tns:RegisterSensor2"/>
  </wsdl:message>
  <wsdl:message name="RegisterSensor2SoapOut">
      <wsdl:part name="parameters" element="tns:RegisterSensor2Response"/>
  </wsdl:message>
  <wsdl:message name="RegisterSensorSoapIn">
      <wsdl:part name="parameters" element="tns:RegisterSensor"/>
  </wsdl:message>
  <wsdl:message name="RegisterSensorSoapOut">
      <wsdl:part name="parameters" element="tns:RegisterSensorResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveSensorSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveSensor"/>
  </wsdl:message>
  <wsdl:message name="RemoveSensorSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveSensorResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateSensorLocationSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateSensorLocation"/>
  </wsdl:message>
  <wsdl:message name="UpdateSensorLocationSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateSensorLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSensorDescriptionByNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetSensorDescriptionByName"/>
  </wsdl:message>
  <wsdl:message name="GetSensorDescriptionByNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetSensorDescriptionByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="SendScalarDataSoapIn">
      <wsdl:part name="parameters" element="tns:SendScalarData"/>
  </wsdl:message>
  <wsdl:message name="SendScalarDataSoapOut">
      <wsdl:part name="parameters" element="tns:SendScalarDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GenerateLogMessageSoapIn">
      <wsdl:part name="parameters" element="tns:GenerateLogMessage"/>
  </wsdl:message>
  <wsdl:message name="GenerateLogMessageSoapOut">
      <wsdl:part name="parameters" element="tns:GenerateLogMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendBinaryDataSoapIn">
      <wsdl:part name="parameters" element="tns:SendBinaryData"/>
  </wsdl:message>
  <wsdl:message name="SendBinaryDataSoapOut">
      <wsdl:part name="parameters" element="tns:SendBinaryDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestScalarSensorDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestScalarSensorData"/>
  </wsdl:message>
  <wsdl:message name="GetLatestScalarSensorDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestScalarSensorDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestBinarySensorDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestBinarySensorData"/>
  </wsdl:message>
  <wsdl:message name="GetLatestBinarySensorDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestBinarySensorDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestSensingTimeSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestSensingTime"/>
  </wsdl:message>
  <wsdl:message name="GetLatestSensingTimeSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestSensingTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="IsDataYoungerThanSoapIn">
      <wsdl:part name="parameters" element="tns:IsDataYoungerThan"/>
  </wsdl:message>
  <wsdl:message name="IsDataYoungerThanSoapOut">
      <wsdl:part name="parameters" element="tns:IsDataYoungerThanResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllSensorsByPublisherSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllSensorsByPublisher"/>
  </wsdl:message>
  <wsdl:message name="GetAllSensorsByPublisherSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllSensorsByPublisherResponse"/>
  </wsdl:message>
  <wsdl:message name="SanitySoapIn">
      <wsdl:part name="parameters" element="tns:Sanity"/>
  </wsdl:message>
  <wsdl:message name="SanitySoapOut">
      <wsdl:part name="parameters" element="tns:SanityResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="DataHubSoap" type="tns:DataHubSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RegisterSensor2">
         <soap:operation soapAction="http://research.microsoft.com/nec/RegisterSensor2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RegisterSensor">
         <soap:operation soapAction="http://research.microsoft.com/nec/RegisterSensor" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveSensor">
         <soap:operation soapAction="http://research.microsoft.com/nec/RemoveSensor" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateSensorLocation">
         <soap:operation soapAction="http://research.microsoft.com/nec/UpdateSensorLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSensorDescriptionByName">
         <soap:operation soapAction="http://research.microsoft.com/nec/GetSensorDescriptionByName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendScalarData">
         <soap:operation soapAction="http://research.microsoft.com/nec/SendScalarData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GenerateLogMessage">
         <soap:operation soapAction="http://research.microsoft.com/nec/GenerateLogMessage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendBinaryData">
         <soap:operation soapAction="http://research.microsoft.com/nec/SendBinaryData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestScalarSensorData">
         <soap:operation soapAction="http://research.microsoft.com/nec/GetLatestScalarSensorData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestBinarySensorData">
         <soap:operation soapAction="http://research.microsoft.com/nec/GetLatestBinarySensorData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestSensingTime">
         <soap:operation soapAction="http://research.microsoft.com/nec/GetLatestSensingTime"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="IsDataYoungerThan">
         <soap:operation soapAction="http://research.microsoft.com/nec/IsDataYoungerThan"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllSensorsByPublisher">
         <soap:operation soapAction="http://research.microsoft.com/nec/GetAllSensorsByPublisher"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Sanity">
         <soap:operation soapAction="http://research.microsoft.com/nec/Sanity" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DataHub">
      <wsdl:port name="DataHubSoap" binding="tns:DataHubSoap">
         <soap:address location="http://ws.soatrader.com/research.microsoft.com/0.1/DataHub"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>