wsdl_repositories/soatrader - Copy/Dictionary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.aonaware.com/webservices/" xmlns:tns="http://services.aonaware.com/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.aonaware.com/webservices/">
      <s:element name="ServerInfo">
        <s:complexType/>
      </s:element>
      <s:element name="ServerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServerInfoResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryList">
        <s:complexType/>
      </s:element>
      <s:element name="DictionaryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DictionaryListResult" type="tns:ArrayOfDictionary"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDictionary">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Dictionary" nillable="true" type="tns:Dictionary"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Dictionary">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Id" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="DictionaryListExtended">
        <s:complexType/>
      </s:element>
      <s:element name="DictionaryListExtendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DictionaryListExtendedResult" type="tns:ArrayOfDictionary"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryInfo">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="dictId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DictionaryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DictionaryInfoResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Define">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="word" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefineResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DefineResult" type="tns:WordDefinition"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WordDefinition">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Word" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Definitions" type="tns:ArrayOfDefinition"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDefinition">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Definition" nillable="true" type="tns:Definition"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Definition">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Word" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Dictionary" type="tns:Dictionary"/>
          <s:element maxOccurs="1" minOccurs="0" name="WordDefinition" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="DefineInDict">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="dictId" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="word" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DefineInDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DefineInDictResult" type="tns:WordDefinition"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StrategyList">
        <s:complexType/>
      </s:element>
      <s:element name="StrategyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="StrategyListResult" type="tns:ArrayOfStrategy"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStrategy">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Strategy" nillable="true" type="tns:Strategy"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Strategy">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Id" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="Match">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="word" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strategy" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="MatchResult" type="tns:ArrayOfDictionaryWord"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDictionaryWord">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="DictionaryWord" nillable="true" type="tns:DictionaryWord"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DictionaryWord">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="DictionaryId" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Word" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="MatchInDict">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="dictId" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="word" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strategy" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MatchInDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="MatchInDictResult" type="tns:ArrayOfDictionaryWord"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
      <s:element name="ArrayOfDictionary" nillable="true" type="tns:ArrayOfDictionary"/>
      <s:element name="WordDefinition" nillable="true" type="tns:WordDefinition"/>
      <s:element name="ArrayOfStrategy" nillable="true" type="tns:ArrayOfStrategy"/>
      <s:element name="ArrayOfDictionaryWord" nillable="true" type="tns:ArrayOfDictionaryWord"/>
    </s:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.soatrader.com/" xmlns:soat="http://ws.soatrader.com/"><xs:element name="SOATraderLicense" type="xs:string"/><xs:element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/><xs:complexType name="SOATraderUsageStatistics"><xs:sequence><xs:element name="HitsMade" type="xs:decimal"/><xs:element name="HitsLeft" type="xs:decimal"/></xs:sequence></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="SOATraderLicense">
    <wsdl:part name="SOATraderLicense" element="soat:SOATraderLicense">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryListExtendedSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryListExtendedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryListSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SOATraderUsageStatistics">
    <wsdl:part name="SOATraderUsageStatistics" element="soat:SOATraderUsageStatistics">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MatchSoapOut">
    <wsdl:part name="parameters" element="tns:MatchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MatchInDictSoapIn">
    <wsdl:part name="parameters" element="tns:MatchInDict">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MatchSoapIn">
    <wsdl:part name="parameters" element="tns:Match">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StrategyListSoapIn">
    <wsdl:part name="parameters" element="tns:StrategyList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryListSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DefineSoapOut">
    <wsdl:part name="parameters" element="tns:DefineResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryListExtendedSoapIn">
    <wsdl:part name="parameters" element="tns:DictionaryListExtended">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StrategyListSoapOut">
    <wsdl:part name="parameters" element="tns:StrategyListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DictionaryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DictionaryInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ServerInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DefineInDictSoapOut">
    <wsdl:part name="parameters" element="tns:DefineInDictResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MatchInDictSoapOut">
    <wsdl:part name="parameters" element="tns:MatchInDictResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DefineInDictSoapIn">
    <wsdl:part name="parameters" element="tns:DefineInDict">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DefineSoapIn">
    <wsdl:part name="parameters" element="tns:Define">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ServerInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DictServiceSoap">
    <wsdl:operation name="ServerInfo">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Show remote server information</documentation>
      <wsdl:input message="tns:ServerInfoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ServerInfoSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryList">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a list of available dictionaries</documentation>
      <wsdl:input message="tns:DictionaryListSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:DictionaryListSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryListExtended">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a list of advanced dictionaries (e.g. translating dictionaries)</documentation>
      <wsdl:input message="tns:DictionaryListExtendedSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:DictionaryListExtendedSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryInfo">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Show information about the specified dictionary</documentation>
      <wsdl:input message="tns:DictionaryInfoSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:DictionaryInfoSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Define">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Define given word, returning definitions from all dictionaries</documentation>
      <wsdl:input message="tns:DefineSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:DefineSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefineInDict">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Define given word, returning definitions from specified dictionary</documentation>
      <wsdl:input message="tns:DefineInDictSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:DefineInDictSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrategyList">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return list of all available strategies on the server</documentation>
      <wsdl:input message="tns:StrategyListSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:StrategyListSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Match">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Look for matching words in all dictionaries using the given strategy</documentation>
      <wsdl:input message="tns:MatchSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:MatchSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchInDict">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Look for matching words in the specified dictionary using the given strategy</documentation>
      <wsdl:input message="tns:MatchInDictSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:MatchInDictSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictServiceSoap" type="tns:DictServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Define">
      <soap:operation soapAction="http://services.aonaware.com/webservices/Define" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefineInDict">
      <soap:operation soapAction="http://services.aonaware.com/webservices/DefineInDict" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryInfo">
      <soap:operation soapAction="http://services.aonaware.com/webservices/DictionaryInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryList">
      <soap:operation soapAction="http://services.aonaware.com/webservices/DictionaryList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryListExtended">
      <soap:operation soapAction="http://services.aonaware.com/webservices/DictionaryListExtended" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Match">
      <soap:operation soapAction="http://services.aonaware.com/webservices/Match" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchInDict">
      <soap:operation soapAction="http://services.aonaware.com/webservices/MatchInDict" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerInfo">
      <soap:operation soapAction="http://services.aonaware.com/webservices/ServerInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrategyList">
      <soap:operation soapAction="http://services.aonaware.com/webservices/StrategyList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictService">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Word Dictionary Web Service</documentation>
    <wsdl:port name="DictServiceSoap" binding="tns:DictServiceSoap">
      <soap:address location="http://ws.soatrader.com/aonaware.com/1.0/Dictionary"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
