wsdl_repositories/soatrader - Copy/DictionaryServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.mindswap.org/axis/services/DictionaryService"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.mindswap.org/axis/services/DictionaryService"
                  xmlns:intf="http://www.mindswap.org/axis/services/DictionaryService"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.mindswap.org/axis/services/DictionaryService">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->

   <wsdl:message name="getMeaningRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMeaningResponse">

      <wsdl:part name="getMeaningReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="DictionaryService">

      <wsdl:operation name="getMeaning" parameterOrder="in0">

         <wsdl:input message="impl:getMeaningRequest" name="getMeaningRequest"/>

         <wsdl:output message="impl:getMeaningResponse" name="getMeaningResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DictionaryServiceSoapBinding" type="impl:DictionaryService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMeaning">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMeaningRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.mindswap.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMeaningResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.mindswap.org/axis/services/DictionaryService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DictionaryServiceService">

      <wsdl:port binding="impl:DictionaryServiceSoapBinding" name="DictionaryService">

         <wsdlsoap:address location="http://ws.soatrader.com/mindswap.org/0.1/DictionaryServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>