wsdl_repositories/soatrader - Copy/DiscoServerService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:DiscoServer"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             name="DiscoServer"
             targetNamespace="urn:DiscoServer">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </types>
   <portType name="DiscoServerPort">
      <operation name="add">
         <input message="tns:addRequest"/>
         <output message="tns:addResponse"/>
      </operation>
   </portType>
   <binding name="DiscoServerBinding" type="tns:DiscoServerPort">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="add">
         <soap:operation soapAction="urn:php-phrasebook-soapservice#serviceclass#add"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="urn:php-phrasebook-soapservice"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="urn:php-phrasebook-soapservice"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="DiscoServerService">
      <documentation/>
      <port name="DiscoServerPort" binding="tns:DiscoServerBinding">
         <soap:address location="http://ws.soatrader.com/mine.nu/0.1/DiscoServerService"/>
      </port>
   </service>
   <message name="addRequest">
      <part name="a" type="xsd:int"/>
      <part name="b" type="xsd:int"/>
   </message>
   <message name="addResponse">
      <part name="c" type="xsd:int"/>
   </message>
</definitions>