wsdl_repositories/soatrader - Copy/DistrictService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="FindDistricts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindDistrictsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindDistrictsResult"
                             type="tns:ArrayOfResults"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfResults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Results" nillable="true"
                          type="tns:Results"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Results">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="DistrictLayer" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DistrictValue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addressCoords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeocodeScore" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UTM_X" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UTM_Y" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LONG_X" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LAT_Y" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfResults" nillable="true" type="tns:ArrayOfResults"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="FindDistricts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindDistrictsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindDistrictsResult"
                             type="tns:ArrayOfResults"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfResults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Results" nillable="true"
                          type="tns:Results"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Results">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="DistrictLayer" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DistrictValue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addressCoords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeocodeScore" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UTM_X" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UTM_Y" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LONG_X" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LAT_Y" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfResults" nillable="true" type="tns:ArrayOfResults"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="FindDistrictsSoapIn">
      <wsdl:part name="parameters" element="tns:FindDistricts"/>
  </wsdl:message>
  <wsdl:message name="FindDistrictsSoapOut">
      <wsdl:part name="parameters" element="tns:FindDistrictsResponse"/>
  </wsdl:message>
  <wsdl:message name="FindDistrictsHttpGetIn">
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindDistrictsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfResults"/>
  </wsdl:message>
  <wsdl:message name="FindDistrictsHttpPostIn">
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindDistrictsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfResults"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="DistrictServiceSoap" type="tns:DistrictServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="FindDistricts">
         <soap:operation soapAction="http://tempuri.org/FindDistricts" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="DistrictService">
      <wsdl:port name="DistrictServiceSoap" binding="tns:DistrictServiceSoap">
         <soap:address location="http://ws.soatrader.com/utah.gov/0.1/DistrictService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>