wsdl_repositories/soatrader - Copy/DOTSPhoneExchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.serviceobjects.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.serviceobjects.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
         <s:element name="GetExchangeInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetExchangeInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetExchangeInfoResult"
                             type="tns:ExchangeInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ExchangeInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Providers" type="tns:Providers"/>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Providers">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Provider" type="tns:Provider"/>
               <s:element minOccurs="0" maxOccurs="1" name="myProviders" type="tns:ArrayOfAnyType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Provider">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LineType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NumberErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NumberErrorStatus" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Err">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetExchangeInfo_V2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetExchangeInfo_V2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetExchangeInfo_V2Result"
                             type="tns:ExchangeInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSMSInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="SMSExchangeInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="SMSProviders" type="tns:SMSProviders"/>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SMSProviders">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SMSProvider" type="tns:SMSProvider"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SMSProvider">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LineType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NumberErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NumberErrorStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SMSDomain" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SMSEmail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetSMSInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSMSInfoResult" type="tns:SMSExchangeInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ExchangeInfo" nillable="true" type="tns:ExchangeInfo"/>
         <s:element name="SMSExchangeInfo" nillable="true" type="tns:SMSExchangeInfo"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExchangeInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetExchangeInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2SoapIn">
      <wsdl:part name="parameters" element="tns:GetExchangeInfo_V2"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2SoapOut">
      <wsdl:part name="parameters" element="tns:GetExchangeInfo_V2Response"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetSMSInfo"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetSMSInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfoHttpGetIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfoHttpGetOut">
      <wsdl:part name="Body" element="tns:ExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2HttpGetIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2HttpGetOut">
      <wsdl:part name="Body" element="tns:ExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoHttpGetIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoHttpGetOut">
      <wsdl:part name="Body" element="tns:SMSExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfoHttpPostIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfoHttpPostOut">
      <wsdl:part name="Body" element="tns:ExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2HttpPostIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetExchangeInfo_V2HttpPostOut">
      <wsdl:part name="Body" element="tns:ExchangeInfo"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoHttpPostIn">
      <wsdl:part name="PhoneNumbers" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSMSInfoHttpPostOut">
      <wsdl:part name="Body" element="tns:SMSExchangeInfo"/>
  </wsdl:message>
  <wsdl:portType name="DOTSPhoneExchangeSoap">
      <wsdl:operation name="GetExchangeInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the geographic location and carrier of any phone number in the US.</documentation>
         <wsdl:input message="tns:GetExchangeInfoSoapIn"/>
         <wsdl:output message="tns:GetExchangeInfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetExchangeInfo_V2">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the geographic location and carrier of any phone number in the US. Version 2.</documentation>
         <wsdl:input message="tns:GetExchangeInfo_V2SoapIn"/>
         <wsdl:output message="tns:GetExchangeInfo_V2SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSMSInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the geographic location and carrier of any phone number along with SMS contact information for wireless numbers.</documentation>
         <wsdl:input message="tns:GetSMSInfoSoapIn"/>
         <wsdl:output message="tns:GetSMSInfoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="DOTSPhoneExchangeSoap" type="tns:DOTSPhoneExchangeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetExchangeInfo">
         <soap:operation soapAction="http://www.serviceobjects.com/GetExchangeInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetExchangeInfo_V2">
         <soap:operation soapAction="http://www.serviceobjects.com/GetExchangeInfo_V2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSMSInfo">
         <soap:operation soapAction="http://www.serviceobjects.com/GetSMSInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="DOTSPhoneExchange">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
      <wsdl:port name="DOTSPhoneExchangeSoap" binding="tns:DOTSPhoneExchangeSoap">
         <soap:address location="http://ws.soatrader.com/serviceobjects.com/0.1/DOTSPhoneExchange"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>