wsdl_repositories/soatrader - Copy/EazyBarcode.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.eazyservices.com"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.eazyservices.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.eazyservices.com">
         <s:element name="Barcode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pareMail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="parData" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parImageType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parBarcodeType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parShowText" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parHeight" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parOrientation" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parNarrowBarWidth" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parRatio" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parChecksum" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="parChecksumMethod" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="BarcodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BarcodeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="BarcodeSoapIn">
      <wsdl:part name="parameters" element="tns:Barcode"/>
  </wsdl:message>
  <wsdl:message name="BarcodeSoapOut">
      <wsdl:part name="parameters" element="tns:BarcodeResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="EazyBarcodeSoap" type="tns:EazyBarcodeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Barcode">
         <soap:operation soapAction="http://www.eazyservices.com/Barcode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="EazyBarcode">
      <wsdl:port name="EazyBarcodeSoap" binding="tns:EazyBarcodeSoap">
         <soap:address location="http://ws.soatrader.com/eazyservices.com/0.1/EazyBarcode"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>