wsdl_repositories/soatrader - Copy/eBayWatcherService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.hauser-wenz.de/playground/ws/eBayWatcherService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="eBayWatcherServiceIW"
             targetNamespace="http://www.hauser-wenz.de/playground/ws/eBayWatcherService.wsdl">
   <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <message name="getCurrentPriceRequest">
		    <part name="auction_id" type="xsd:string"/>
	  </message>
	  <message name="getCurrentPriceResponse">
		    <part name="return" type="xsd:float"/>
	  </message>
	  <portType name="eBayWatcherPortType">
		    <operation name="getCurrentPrice">
			      <input message="tns:getCurrentPriceRequest" name="getCurrentPrice"/>
			      <output message="tns:getCurrentPriceResponse" name="getCurrentPriceResponse"/>
		    </operation>
	  </portType>
	  <binding name="eBayWatcherBinding" type="tns:eBayWatcherPortType">
		    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <operation name="getCurrentPrice">
			      <soap:operation soapAction=""/>
			      <input name="getCurrentPrice">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="encoded" namespace="urn:xmethods-EbayWatcher"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			      </input>
			      <output name="getCurrentPriceResponse">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="encoded" namespace="urn:xmethods-EbayWatcher"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			      </output>
		    </operation>
	  </binding>
	  <service name="eBayWatcherService">
		    <documentation>Aktueller (fiktiver) Preis einer (fiktiven) Auktion</documentation>
		    <port name="eBayWatcherPort" binding="tns:eBayWatcherBinding">
			      <soap:address location="http://ws.soatrader.com/hauser-wenz.de/0.1/eBayWatcherService"/>
		    </port>
	  </service>
</definitions>