wsdl_repositories/soatrader - Copy/EnglandService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="generateLLC1Quote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="InCouncilId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OS_AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OS_AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="generateLLC1QuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="generateLLC1QuoteResult" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="InCouncilId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CouncilName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LLC1Quote" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubPremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Thoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DoubleDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostTown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postbox" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CouncilId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SubjectTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BuildingTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LenderId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Ord_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Client_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InQuestionsList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleDetails" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfInt">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SubmitSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitSearchResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="report" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithoutCouncil">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubPremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Thoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DoubleDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostTown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postbox" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SubjectTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BuildingTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LenderId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Ord_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Client_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InQuestionsList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleDetails" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithoutCouncilResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitSearch_WithoutCouncilResult"
                             type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="report" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithAgentDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubPremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Thoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DoubleDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostTown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postbox" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CouncilId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SubjectTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BuildingTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByPost" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByDx" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByFax" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByEmail" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LenderId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Ord_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Client_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InQuestionsList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleDetails" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchType" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_AgentName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactTel" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDX" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactOrgName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPremName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPremNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDeptThor" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDblDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPosttown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPostbox" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPostcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactEmailAddress" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Agent_AlternateAgentId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OS_AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OS_AgentCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="filePlan" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithAgentDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitSearch_WithAgentDetailsResult"
                             type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="report" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithAgentDetailsFixedCosts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubPremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PremiseNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Thoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DoubleDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostTown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postbox" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CouncilId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SubjectTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BuildingTypeId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByPost" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByDx" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByFax" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReturnByEmail" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LenderId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Ord_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Client_ref" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InQuestionsList" type="tns:ArrayOfInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InTitleDetails" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchType" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_AgentName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactTel" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDX" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactOrgName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPremName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPremNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDeptThor" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactThoroughfare" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDblDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactDeptLocality" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPosttown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPostbox" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactPostcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent_ContactEmailAddress" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Agent_AlternateAgentId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OS_AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OS_AgentCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="selling_cost" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="selling_commision" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="trigger_id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSearch_WithAgentDetailsFixedCostsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1"
                             name="SubmitSearch_WithAgentDetailsFixedCostsResult"
                             type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="report" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitAncillarySearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AdditionalDetails" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OS_AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OS_AgentCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchTypeId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitAncillarySearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitAncillarySearchResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitCon29DWSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AdditionalDetails" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OS_AgentId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OS_AgentCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchTypeId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VendorName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IsPropertyLessThanTenYearsOld"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeveloperName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitCon29DWSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitCon29DWSearchResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestTitles">
            <s:complexType/>
         </s:element>
         <s:element name="requestTitlesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestTitlesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestSearches">
            <s:complexType/>
         </s:element>
         <s:element name="requestSearchesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestSearchesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestQuestions">
            <s:complexType/>
         </s:element>
         <s:element name="requestQuestionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestQuestionsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestSubjectTypes">
            <s:complexType/>
         </s:element>
         <s:element name="requestSubjectTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestSubjectTypesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestLenders">
            <s:complexType/>
         </s:element>
         <s:element name="requestLendersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestLendersResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestCouncils">
            <s:complexType/>
         </s:element>
         <s:element name="requestCouncilsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestCouncilsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="requestBuildingTypes">
            <s:complexType/>
         </s:element>
         <s:element name="requestBuildingTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestBuildingTypesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="generateLLC1QuoteSoapIn">
      <wsdl:part name="parameters" element="tns:generateLLC1Quote"/>
  </wsdl:message>
  <wsdl:message name="generateLLC1QuoteSoapOut">
      <wsdl:part name="parameters" element="tns:generateLLC1QuoteResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearchSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitSearch"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearchSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithoutCouncilSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithoutCouncil"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithoutCouncilSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithoutCouncilResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithAgentDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithAgentDetails"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithAgentDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithAgentDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithAgentDetailsFixedCostsSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithAgentDetailsFixedCosts"/>
  </wsdl:message>
  <wsdl:message name="SubmitSearch_WithAgentDetailsFixedCostsSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitSearch_WithAgentDetailsFixedCostsResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitAncillarySearchSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitAncillarySearch"/>
  </wsdl:message>
  <wsdl:message name="SubmitAncillarySearchSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitAncillarySearchResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitCon29DWSearchSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitCon29DWSearch"/>
  </wsdl:message>
  <wsdl:message name="SubmitCon29DWSearchSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitCon29DWSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="requestTitlesSoapIn">
      <wsdl:part name="parameters" element="tns:requestTitles"/>
  </wsdl:message>
  <wsdl:message name="requestTitlesSoapOut">
      <wsdl:part name="parameters" element="tns:requestTitlesResponse"/>
  </wsdl:message>
  <wsdl:message name="requestSearchesSoapIn">
      <wsdl:part name="parameters" element="tns:requestSearches"/>
  </wsdl:message>
  <wsdl:message name="requestSearchesSoapOut">
      <wsdl:part name="parameters" element="tns:requestSearchesResponse"/>
  </wsdl:message>
  <wsdl:message name="requestQuestionsSoapIn">
      <wsdl:part name="parameters" element="tns:requestQuestions"/>
  </wsdl:message>
  <wsdl:message name="requestQuestionsSoapOut">
      <wsdl:part name="parameters" element="tns:requestQuestionsResponse"/>
  </wsdl:message>
  <wsdl:message name="requestSubjectTypesSoapIn">
      <wsdl:part name="parameters" element="tns:requestSubjectTypes"/>
  </wsdl:message>
  <wsdl:message name="requestSubjectTypesSoapOut">
      <wsdl:part name="parameters" element="tns:requestSubjectTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="requestLendersSoapIn">
      <wsdl:part name="parameters" element="tns:requestLenders"/>
  </wsdl:message>
  <wsdl:message name="requestLendersSoapOut">
      <wsdl:part name="parameters" element="tns:requestLendersResponse"/>
  </wsdl:message>
  <wsdl:message name="requestCouncilsSoapIn">
      <wsdl:part name="parameters" element="tns:requestCouncils"/>
  </wsdl:message>
  <wsdl:message name="requestCouncilsSoapOut">
      <wsdl:part name="parameters" element="tns:requestCouncilsResponse"/>
  </wsdl:message>
  <wsdl:message name="requestBuildingTypesSoapIn">
      <wsdl:part name="parameters" element="tns:requestBuildingTypes"/>
  </wsdl:message>
  <wsdl:message name="requestBuildingTypesSoapOut">
      <wsdl:part name="parameters" element="tns:requestBuildingTypesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="EnglandServiceSoap" type="tns:EnglandServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="generateLLC1Quote">
         <soap:operation soapAction="http://tempuri.org/generateLLC1Quote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitSearch">
         <soap:operation soapAction="http://tempuri.org/SubmitSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitSearch_WithoutCouncil">
         <soap:operation soapAction="http://tempuri.org/SubmitSearch_WithoutCouncil" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitSearch_WithAgentDetails">
         <soap:operation soapAction="http://tempuri.org/SubmitSearch_WithAgentDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitSearch_WithAgentDetailsFixedCosts">
         <soap:operation soapAction="http://tempuri.org/SubmitSearch_WithAgentDetailsFixedCosts"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitAncillarySearch">
         <soap:operation soapAction="http://tempuri.org/SubmitAncillarySearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitCon29DWSearch">
         <soap:operation soapAction="http://tempuri.org/SubmitCon29DWSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestTitles">
         <soap:operation soapAction="http://tempuri.org/requestTitles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestSearches">
         <soap:operation soapAction="http://tempuri.org/requestSearches" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestQuestions">
         <soap:operation soapAction="http://tempuri.org/requestQuestions" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestSubjectTypes">
         <soap:operation soapAction="http://tempuri.org/requestSubjectTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestLenders">
         <soap:operation soapAction="http://tempuri.org/requestLenders" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestCouncils">
         <soap:operation soapAction="http://tempuri.org/requestCouncils" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="requestBuildingTypes">
         <soap:operation soapAction="http://tempuri.org/requestBuildingTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="EnglandService">
      <wsdl:port name="EnglandServiceSoap" binding="tns:EnglandServiceSoap">
         <soap:address location="http://ws.soatrader.com/onesearchdirect.co.uk/0.1/EnglandService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>