wsdl_repositories/soatrader - Copy/EntitySearchService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                  xmlns:intf="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://lang.java"
                  xmlns:tns2="http://DefaultNamespace"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[][]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[][]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getSubClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDomainResponse">

      <wsdl:part name="getDomainReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSubClassesResponse">

      <wsdl:part name="getSubClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSameIndividualsResponse">

      <wsdl:part name="getSameIndividualsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getDisjointWithRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getLiteralsByKeywordRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="keyword" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getRelationsFromRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDifferentFromResponse">

      <wsdl:part name="getDifferentFromReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getLabelsResponse">

      <wsdl:part name="getLabelsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getDomainOfRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSameIndividualsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getInstancesResponse">

      <wsdl:part name="getInstancesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getAnyEntityByKeywordRequest">

      <wsdl:part name="kw" type="tns1:String"/>

      <wsdl:part name="scopeModifier" type="tns2:int"/>

      <wsdl:part name="entityModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

      <wsdl:part name="start" type="tns2:int"/>

      <wsdl:part name="increment" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getLiteralsForResponse">

      <wsdl:part name="getLiteralsForReturn" type="impl:ArrayOfArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getTypeRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getEntitiesByKeywordWithRestrictionResponse">

      <wsdl:part name="getEntitiesByKeywordWithRestrictionReturn"
                 type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getTypeResponse">

      <wsdl:part name="getTypeReturn" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDomainRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getRangeOfRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getEquivalentClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getBelongsToRequest">

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getInstancesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDifferentFromRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getLiteralsForRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getAllSubClassesResponse">

      <wsdl:part name="getAllSubClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getAllSubClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getAllSuperClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getCommentsResponse">

      <wsdl:part name="getCommentsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getLiteralsByKeywordResponse">

      <wsdl:part name="getLiteralsByKeywordReturn" type="impl:ArrayOfArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getRangeRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getRelationsToRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getEntitiesByKeywordRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="keyword" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getClassesResponse">

      <wsdl:part name="getClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getRangeResponse">

      <wsdl:part name="getRangeReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getLabelsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getEntitiesByKeywordResponse">

      <wsdl:part name="getEntitiesByKeywordReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSuperClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getAnyEntityByKeywordResponse">

      <wsdl:part name="getAnyEntityByKeywordReturn" type="impl:ArrayOfArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getRelationsFromResponse">

      <wsdl:part name="getRelationsFromReturn" type="impl:ArrayOfArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getCommentsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="entityURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDomainOfResponse">

      <wsdl:part name="getDomainOfReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getDisjointWithResponse">

      <wsdl:part name="getDisjointWithReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getEquivalentClassesResponse">

      <wsdl:part name="getEquivalentClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getEntitiesByKeywordWithRestrictionRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="keyword" type="tns1:String"/>

      <wsdl:part name="scopeModifier" type="xsd:anyType"/>

      <wsdl:part name="entityModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getRangeOfResponse">

      <wsdl:part name="getRangeOfReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getAllSuperClassesResponse">

      <wsdl:part name="getAllSuperClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getRelationsToResponse">

      <wsdl:part name="getRelationsToReturn" type="impl:ArrayOfArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getBelongsToResponse">

      <wsdl:part name="getBelongsToReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSuperClassesResponse">

      <wsdl:part name="getSuperClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:portType name="EntitySearch">

      <wsdl:operation name="getClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getClassesRequest" name="getClassesRequest"/>

         <wsdl:output message="impl:getClassesResponse" name="getClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getType" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getTypeRequest" name="getTypeRequest"/>

         <wsdl:output message="impl:getTypeResponse" name="getTypeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDomain" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getDomainRequest" name="getDomainRequest"/>

         <wsdl:output message="impl:getDomainResponse" name="getDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getEntitiesByKeywordWithRestriction"
                      parameterOrder="ontoURI keyword scopeModifier entityModifier matchTechnique">

         <wsdl:input message="impl:getEntitiesByKeywordWithRestrictionRequest"
                     name="getEntitiesByKeywordWithRestrictionRequest"/>

         <wsdl:output message="impl:getEntitiesByKeywordWithRestrictionResponse"
                      name="getEntitiesByKeywordWithRestrictionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLabels" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getLabelsRequest" name="getLabelsRequest"/>

         <wsdl:output message="impl:getLabelsResponse" name="getLabelsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSuperClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getSuperClassesRequest" name="getSuperClassesRequest"/>

         <wsdl:output message="impl:getSuperClassesResponse" name="getSuperClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSubClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getSubClassesRequest" name="getSubClassesRequest"/>

         <wsdl:output message="impl:getSubClassesResponse" name="getSubClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getComments" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getCommentsRequest" name="getCommentsRequest"/>

         <wsdl:output message="impl:getCommentsResponse" name="getCommentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getEntitiesByKeyword" parameterOrder="ontoURI keyword">

         <wsdl:input message="impl:getEntitiesByKeywordRequest" name="getEntitiesByKeywordRequest"/>

         <wsdl:output message="impl:getEntitiesByKeywordResponse" name="getEntitiesByKeywordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBelongsTo" parameterOrder="entityURI">

         <wsdl:input message="impl:getBelongsToRequest" name="getBelongsToRequest"/>

         <wsdl:output message="impl:getBelongsToResponse" name="getBelongsToResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRelationsFrom" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getRelationsFromRequest" name="getRelationsFromRequest"/>

         <wsdl:output message="impl:getRelationsFromResponse" name="getRelationsFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRelationsTo" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getRelationsToRequest" name="getRelationsToRequest"/>

         <wsdl:output message="impl:getRelationsToResponse" name="getRelationsToResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLiteralsFor" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getLiteralsForRequest" name="getLiteralsForRequest"/>

         <wsdl:output message="impl:getLiteralsForResponse" name="getLiteralsForResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getEquivalentClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getEquivalentClassesRequest" name="getEquivalentClassesRequest"/>

         <wsdl:output message="impl:getEquivalentClassesResponse" name="getEquivalentClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getInstances" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getInstancesRequest" name="getInstancesRequest"/>

         <wsdl:output message="impl:getInstancesResponse" name="getInstancesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRange" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getRangeRequest" name="getRangeRequest"/>

         <wsdl:output message="impl:getRangeResponse" name="getRangeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDomainOf" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getDomainOfRequest" name="getDomainOfRequest"/>

         <wsdl:output message="impl:getDomainOfResponse" name="getDomainOfResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRangeOf" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getRangeOfRequest" name="getRangeOfRequest"/>

         <wsdl:output message="impl:getRangeOfResponse" name="getRangeOfResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDifferentFrom" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getDifferentFromRequest" name="getDifferentFromRequest"/>

         <wsdl:output message="impl:getDifferentFromResponse" name="getDifferentFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDisjointWith" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getDisjointWithRequest" name="getDisjointWithRequest"/>

         <wsdl:output message="impl:getDisjointWithResponse" name="getDisjointWithResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLiteralsByKeyword" parameterOrder="ontoURI keyword">

         <wsdl:input message="impl:getLiteralsByKeywordRequest" name="getLiteralsByKeywordRequest"/>

         <wsdl:output message="impl:getLiteralsByKeywordResponse" name="getLiteralsByKeywordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllSubClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getAllSubClassesRequest" name="getAllSubClassesRequest"/>

         <wsdl:output message="impl:getAllSubClassesResponse" name="getAllSubClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllSuperClasses" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getAllSuperClassesRequest" name="getAllSuperClassesRequest"/>

         <wsdl:output message="impl:getAllSuperClassesResponse" name="getAllSuperClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSameIndividuals" parameterOrder="ontoURI entityURI">

         <wsdl:input message="impl:getSameIndividualsRequest" name="getSameIndividualsRequest"/>

         <wsdl:output message="impl:getSameIndividualsResponse" name="getSameIndividualsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAnyEntityByKeyword"
                      parameterOrder="kw scopeModifier entityModifier matchTechnique start increment">

         <wsdl:input message="impl:getAnyEntityByKeywordRequest" name="getAnyEntityByKeywordRequest"/>

         <wsdl:output message="impl:getAnyEntityByKeywordResponse"
                      name="getAnyEntityByKeywordResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="urn:EntitySearchSoapBinding" type="impl:EntitySearch">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTypeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTypeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDomainResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEntitiesByKeywordWithRestriction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEntitiesByKeywordWithRestrictionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEntitiesByKeywordWithRestrictionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLabels">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLabelsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLabelsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSuperClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSuperClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSuperClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSubClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSubClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSubClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCommentsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCommentsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEntitiesByKeyword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEntitiesByKeywordRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEntitiesByKeywordResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBelongsTo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBelongsToRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBelongsToResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRelationsFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRelationsFromRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRelationsFromResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRelationsTo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRelationsToRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRelationsToResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLiteralsFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLiteralsForRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLiteralsForResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEquivalentClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEquivalentClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEquivalentClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInstances">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstancesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getInstancesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRangeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRangeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainOf">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainOfRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDomainOfResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRangeOf">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRangeOfRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRangeOfResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDifferentFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDifferentFromRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDifferentFromResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDisjointWith">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDisjointWithRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDisjointWithResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLiteralsByKeyword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLiteralsByKeywordRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLiteralsByKeywordResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSubClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSubClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllSubClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllSuperClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSuperClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllSuperClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSameIndividuals">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSameIndividualsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSameIndividualsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAnyEntityByKeyword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnyEntityByKeywordRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAnyEntityByKeywordResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:EntitySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EntitySearchService">

      <wsdl:port binding="impl:urn:EntitySearchSoapBinding" name="urn:EntitySearch">

         <wsdlsoap:address location="http://ws.soatrader.com/open.ac.uk/0.1/EntitySearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>