wsdl_repositories/soatrader - Copy/equifaxmethods.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sqlbank.creditgate.com/equifaxmethods.asmx"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://sqlbank.creditgate.com/equifaxmethods.asmx">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://sqlbank.creditgate.com/equifaxmethods.asmx">
         <s:element name="DeactivateSMSAccount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="acno" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeactivateSMSAccountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeactivateSMSAccountResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ActivateSMSAccount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="acno" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ActivateSMSAccountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ActivateSMSAccountResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteMobileNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="acno" type="s:long"/>
                  <s:element minOccurs="1" maxOccurs="1" name="mobileno" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteMobileNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteMobileNumberResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAccount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAccountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateAccountResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMonitoringAlerts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMonitoringAlertsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMonitoringAlertsResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DisplayAllAccountDetails">
            <s:complexType/>
         </s:element>
         <s:element name="DisplayAllAccountDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DisplayAllAccountDetailsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="boolean" type="s:boolean"/>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="DeactivateSMSAccountSoapIn">
      <wsdl:part name="parameters" element="tns:DeactivateSMSAccount"/>
  </wsdl:message>
  <wsdl:message name="DeactivateSMSAccountSoapOut">
      <wsdl:part name="parameters" element="tns:DeactivateSMSAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountSoapIn">
      <wsdl:part name="parameters" element="tns:ActivateSMSAccount"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountSoapOut">
      <wsdl:part name="parameters" element="tns:ActivateSMSAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteMobileNumber"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteMobileNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateAccount"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsSoapIn">
      <wsdl:part name="parameters" element="tns:SendMonitoringAlerts"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsSoapOut">
      <wsdl:part name="parameters" element="tns:SendMonitoringAlertsResponse"/>
  </wsdl:message>
  <wsdl:message name="DisplayAllAccountDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:DisplayAllAccountDetails"/>
  </wsdl:message>
  <wsdl:message name="DisplayAllAccountDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:DisplayAllAccountDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeactivateSMSAccountHttpGetIn">
      <wsdl:part name="acno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeactivateSMSAccountHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountHttpGetIn">
      <wsdl:part name="acno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberHttpGetIn">
      <wsdl:part name="acno" type="s:string"/>
      <wsdl:part name="mobileno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountHttpGetIn">
      <wsdl:part name="UserData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsHttpGetIn">
      <wsdl:part name="UserData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="DisplayAllAccountDetailsHttpGetIn"/>
  <wsdl:message name="DisplayAllAccountDetailsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="DeactivateSMSAccountHttpPostIn">
      <wsdl:part name="acno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeactivateSMSAccountHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountHttpPostIn">
      <wsdl:part name="acno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ActivateSMSAccountHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberHttpPostIn">
      <wsdl:part name="acno" type="s:string"/>
      <wsdl:part name="mobileno" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteMobileNumberHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountHttpPostIn">
      <wsdl:part name="UserData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateAccountHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsHttpPostIn">
      <wsdl:part name="UserData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMonitoringAlertsHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="DisplayAllAccountDetailsHttpPostIn"/>
  <wsdl:message name="DisplayAllAccountDetailsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="equifaxmethodsSoap" type="tns:equifaxmethodsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="DeactivateSMSAccount">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/DeactivateSMSAccount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ActivateSMSAccount">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/ActivateSMSAccount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteMobileNumber">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/DeleteMobileNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateAccount">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/UpdateAccount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMonitoringAlert">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/SendMonitoringAlerts"
                         style="document"/>
         <wsdl:input name="SendMonitoringAlerts">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="SendMonitoringAlerts">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DisplayAllAccountDetails">
         <soap:operation soapAction="http://sqlbank.creditgate.com/equifaxmethods.asmx/DisplayAllAccountDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="equifaxmethods">
      <wsdl:port name="equifaxmethodsSoap" binding="tns:equifaxmethodsSoap">
         <soap:address location="http://ws.soatrader.com/creditgate.com/0.1/equifaxmethods"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>