wsdl_repositories/soatrader - Copy/EsmsServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://esmsws.139130.cn/services/EsmsService"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://esmsws.139130.cn/services/EsmsService"
                  xmlns:intf="http://esmsws.139130.cn/services/EsmsService"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://esmsws.139130.cn/services/EsmsService">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST)-->

   <wsdl:message name="getConfigInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="prepayConfirmResponse">

      <wsdl:part name="prepayConfirmReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyPasswordRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="prepayConfirmRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getMOMessageRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="prepayQueryResponse">

      <wsdl:part name="prepayQueryReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getMOMsgResponse">

      <wsdl:part name="getMOMsgReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getMOMsgRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getMOMessageResponse">

      <wsdl:part name="getMOMessageReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getRemainFeeRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getServerInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getConfigTestRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getGateWayInfoResponse">

      <wsdl:part name="getGateWayInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="prepayQueryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="modifyPasswordResponse">

      <wsdl:part name="modifyPasswordReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getServerInfoResponse">

      <wsdl:part name="getServerInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAccountInfoResponse">

      <wsdl:part name="getAccountInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getRemainFeeResponse">

      <wsdl:part name="getRemainFeeReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getGateWayInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getConfigTestResponse">

      <wsdl:part name="getConfigTestReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getConfigInfoResponse">

      <wsdl:part name="getConfigInfoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAccountInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="EsmsService">

      <wsdl:operation name="getServerInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getServerInfoRequest" name="getServerInfoRequest"/>

         <wsdl:output message="impl:getServerInfoResponse" name="getServerInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRemainFee" parameterOrder="in0 in1">

         <wsdl:input message="impl:getRemainFeeRequest" name="getRemainFeeRequest"/>

         <wsdl:output message="impl:getRemainFeeResponse" name="getRemainFeeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAccountInfoRequest" name="getAccountInfoRequest"/>

         <wsdl:output message="impl:getAccountInfoResponse" name="getAccountInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getConfigInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getConfigInfoRequest" name="getConfigInfoRequest"/>

         <wsdl:output message="impl:getConfigInfoResponse" name="getConfigInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getConfigTest" parameterOrder="in0 in1">

         <wsdl:input message="impl:getConfigTestRequest" name="getConfigTestRequest"/>

         <wsdl:output message="impl:getConfigTestResponse" name="getConfigTestResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getGateWayInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getGateWayInfoRequest" name="getGateWayInfoRequest"/>

         <wsdl:output message="impl:getGateWayInfoResponse" name="getGateWayInfoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMOMessage" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMOMessageRequest" name="getMOMessageRequest"/>

         <wsdl:output message="impl:getMOMessageResponse" name="getMOMessageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getMOMsg" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMOMsgRequest" name="getMOMsgRequest"/>

         <wsdl:output message="impl:getMOMsgResponse" name="getMOMsgResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyPassword" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:modifyPasswordRequest" name="modifyPasswordRequest"/>

         <wsdl:output message="impl:modifyPasswordResponse" name="modifyPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="prepayConfirm" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:prepayConfirmRequest" name="prepayConfirmRequest"/>

         <wsdl:output message="impl:prepayConfirmResponse" name="prepayConfirmResponse"/>

      </wsdl:operation>

      <wsdl:operation name="prepayQuery" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:prepayQueryRequest" name="prepayQueryRequest"/>

         <wsdl:output message="impl:prepayQueryResponse" name="prepayQueryResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EsmsServiceSoapBinding" type="impl:EsmsService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getServerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServerInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServerInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRemainFee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRemainFeeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRemainFeeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccountInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAccountInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConfigInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConfigInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConfigInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConfigTest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConfigTestRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConfigTestResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getGateWayInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGateWayInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getGateWayInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMOMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMOMessageRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMOMessageResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMOMsg">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMOMsgRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMOMsgResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyPasswordRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyPasswordResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="prepayConfirm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="prepayConfirmRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="prepayConfirmResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="prepayQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="prepayQueryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://ws.esms.xuanwu.com"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="prepayQueryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://esmsws.139130.cn/services/EsmsService"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EsmsServiceService">

      <wsdl:port binding="impl:EsmsServiceSoapBinding" name="EsmsService">

         <wsdlsoap:address location="http://ws.soatrader.com/139130.cn/0.1/EsmsServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>