wsdl_repositories/soatrader - Copy/EstonianRealEstateRegistry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EstonianLandRegisterService" targetNamespace="http://com.soatrader.elr/EstonianLandRegister" xmlns:tns="http://com.soatrader.elr/EstonianLandRegister" xmlns:ns1="http://com.soatrader.elr/EstonianLandRegister/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:ns2="http://types.elr.soatrader.com/jaws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soat="http://ws.soatrader.com/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema targetNamespace="http://com.soatrader.elr/EstonianLandRegister/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://types.elr.soatrader.com/jaws" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://com.soatrader.elr/EstonianLandRegister/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <import namespace="http://types.elr.soatrader.com/jaws"/>
   <complexType name="getRegisteredImmovableDetails">
    <sequence>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="onlyValidRecords" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableDetailsResponse">
    <sequence>
     <element name="RegisteredImmovableDetails" nillable="true" type="ns2:RegisteredImmovableDetails"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableFullDetails">
    <sequence>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="onlyValidRecords" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableFullDetailsResponse">
    <sequence>
     <element name="RegisteredImmovableDetails" nillable="true" type="ns2:RegisteredImmovableDetails"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableOwnership">
    <sequence>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="onlyValidRecords" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableOwnershipResponse">
    <sequence>
     <element name="RegisteredImmovableDetails" nillable="true" type="ns2:RegisteredImmovableDetails"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableRestrictionsAndMortgages">
    <sequence>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="onlyValidRecords" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovableRestrictionsAndMortgagesResponse">
    <sequence>
     <element name="RegisteredImmovableDetails" nillable="true" type="ns2:RegisteredImmovableDetails"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCadastralRegisterNumber">
    <sequence>
     <element name="cadastralRegisterNumber" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCadastralRegisterNumberResponse">
    <sequence>
     <element name="RegisteredImmovables" nillable="true" type="ns2:RegisteredImmovables"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCompanyName">
    <sequence>
     <element name="companyName" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCompanyNameResponse">
    <sequence>
     <element name="RegisteredImmovables" nillable="true" type="ns2:RegisteredImmovables"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCompanyRegistryCode">
    <sequence>
     <element name="companyRegistryCode" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByCompanyRegistryCodeResponse">
    <sequence>
     <element name="RegisteredImmovables" nillable="true" type="ns2:RegisteredImmovables"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByNationalIdCode">
    <sequence>
     <element name="nationalIdCode" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByNationalIdCodeResponse">
    <sequence>
     <element name="RegisteredImmovables" nillable="true" type="ns2:RegisteredImmovables"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByPersonName">
    <sequence>
     <element name="firstName" nillable="true" type="string"/>
     <element name="lastName" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getRegisteredImmovablesByPersonNameResponse">
    <sequence>
     <element name="RegisteredImmovables" nillable="true" type="ns2:RegisteredImmovables"/>
    </sequence>
   </complexType>
   <element name="getRegisteredImmovableDetails" type="tns:getRegisteredImmovableDetails"/>
   <element name="getRegisteredImmovableDetailsResponse" type="tns:getRegisteredImmovableDetailsResponse"/>
   <element name="getRegisteredImmovableFullDetails" type="tns:getRegisteredImmovableFullDetails"/>
   <element name="getRegisteredImmovableFullDetailsResponse" type="tns:getRegisteredImmovableFullDetailsResponse"/>
   <element name="getRegisteredImmovableOwnership" type="tns:getRegisteredImmovableOwnership"/>
   <element name="getRegisteredImmovableOwnershipResponse" type="tns:getRegisteredImmovableOwnershipResponse"/>
   <element name="getRegisteredImmovableRestrictionsAndMortgages" type="tns:getRegisteredImmovableRestrictionsAndMortgages"/>
   <element name="getRegisteredImmovableRestrictionsAndMortgagesResponse" type="tns:getRegisteredImmovableRestrictionsAndMortgagesResponse"/>
   <element name="getRegisteredImmovablesByCadastralRegisterNumber" type="tns:getRegisteredImmovablesByCadastralRegisterNumber"/>
   <element name="getRegisteredImmovablesByCadastralRegisterNumberResponse" type="tns:getRegisteredImmovablesByCadastralRegisterNumberResponse"/>
   <element name="getRegisteredImmovablesByCompanyName" type="tns:getRegisteredImmovablesByCompanyName"/>
   <element name="getRegisteredImmovablesByCompanyNameResponse" type="tns:getRegisteredImmovablesByCompanyNameResponse"/>
   <element name="getRegisteredImmovablesByCompanyRegistryCode" type="tns:getRegisteredImmovablesByCompanyRegistryCode"/>
   <element name="getRegisteredImmovablesByCompanyRegistryCodeResponse" type="tns:getRegisteredImmovablesByCompanyRegistryCodeResponse"/>
   <element name="getRegisteredImmovablesByNationalIdCode" type="tns:getRegisteredImmovablesByNationalIdCode"/>
   <element name="getRegisteredImmovablesByNationalIdCodeResponse" type="tns:getRegisteredImmovablesByNationalIdCodeResponse"/>
   <element name="getRegisteredImmovablesByPersonName" type="tns:getRegisteredImmovablesByPersonName"/>
   <element name="getRegisteredImmovablesByPersonNameResponse" type="tns:getRegisteredImmovablesByPersonNameResponse"/>
  </schema>
    <schema targetNamespace="http://types.elr.soatrader.com/jaws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://com.soatrader.elr/EstonianLandRegister/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://types.elr.soatrader.com/jaws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <import namespace="http://com.soatrader.elr/EstonianLandRegister/types"/>
   <complexType name="Address">
    <sequence>
     <element name="countryCode" nillable="true" type="string"/>
     <element name="districtField" nillable="true" type="string"/>
     <element name="ehakCode" nillable="true" type="string"/>
     <element name="streetField" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="Application">
    <sequence>
     <element name="applicationBearerName" nillable="true" type="string"/>
     <element name="applicationBearerType" nillable="true" type="string"/>
     <element name="applicationNumber" nillable="true" type="string"/>
     <element name="applicationType" nillable="true" type="string"/>
     <element name="registrationDate" nillable="true" type="string"/>
     <element name="remark" nillable="true" type="string"/>
     <element name="transactionNumber" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="CadastralUnit">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:Address"/>
     <element name="area" nillable="true" type="string"/>
     <element name="areaUnit" nillable="true" type="string"/>
     <element name="cadastralRegisterNumber" nillable="true" type="string"/>
     <element name="createdOnPlanBasis" type="boolean"/>
     <element maxOccurs="unbounded" minOccurs="0" name="intendedPurpose" nillable="true" type="tns:IntendedPurpose"/>
    </sequence>
   </complexType>
   <complexType name="GeneralRecord">
    <sequence>
     <element name="entryNumber" nillable="true" type="string"/>
     <element name="entryText" nillable="true" type="string"/>
     <element name="entryType" nillable="true" type="string"/>
     <element name="isValid" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="ImmovableDetails">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="cadastralUnit" nillable="true" type="tns:CadastralUnit"/>
     <element name="entryNumber" nillable="true" type="string"/>
     <element name="entryText" nillable="true" type="string"/>
     <element name="entryType" nillable="true" type="string"/>
     <element name="isValid" type="boolean"/>
     <element maxOccurs="unbounded" minOccurs="0" name="physicalShare" nillable="true" type="tns:PhysicalShare"/>
    </sequence>
   </complexType>
   <complexType name="IntendedPurpose">
    <sequence>
     <element name="intendedPurpose" nillable="true" type="string"/>
     <element name="intendedPurposePercent" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="MortgageRecord">
    <sequence>
     <element name="entryNumber" nillable="true" type="string"/>
     <element name="entryText" nillable="true" type="string"/>
     <element name="entryType" nillable="true" type="string"/>
     <element name="isValid" type="boolean"/>
     <element name="ownershipPartNumber" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="Ownership">
    <sequence>
     <element name="entryCorrected" nillable="true" type="string"/>
     <element name="ownershipEndDate" nillable="true" type="string"/>
     <element name="ownershipPartDenominator" nillable="true" type="string"/>
     <element name="ownershipPartNumber" nillable="true" type="string"/>
     <element name="ownershipPartNumerator" nillable="true" type="string"/>
     <element name="ownershipStartDate" nillable="true" type="string"/>
     <element name="ownershipType" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="person" nillable="true" type="tns:Person"/>
     <element name="personInOwnership" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="OwnershipRecord">
    <sequence>
     <element name="entryNumber" nillable="true" type="string"/>
     <element name="entryText" nillable="true" type="string"/>
     <element name="entryType" nillable="true" type="string"/>
     <element name="isValid" type="boolean"/>
     <element maxOccurs="unbounded" minOccurs="0" name="ownership" nillable="true" type="tns:Ownership"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="birthDateEstablishDate" nillable="true" type="string"/>
     <element name="firstName" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="idCode" nillable="true" type="tns:PersonIdCode"/>
     <element name="lastNameCompanyName" nillable="true" type="string"/>
     <element name="personType" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="PersonIdCode">
    <sequence>
     <element name="issuerCountryCode" nillable="true" type="string"/>
     <element name="personIdCode" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="PhysicalShare">
    <sequence>
     <element name="apartmentNumber" nillable="true" type="string"/>
     <element name="legalShare" nillable="true" type="string"/>
     <element name="shareNumber" nillable="true" type="string"/>
     <element name="shareType" nillable="true" type="string"/>
     <element name="totalArea" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="RegisteredImmovable">
    <sequence>
     <element name="apartmentNumber" nillable="true" type="string"/>
     <element name="districtName" nillable="true" type="string"/>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="oldRegisterPartNumber" nillable="true" type="string"/>
     <element name="registeredImmovableName" nillable="true" type="string"/>
     <element name="registeredImmovableType" nillable="true" type="string"/>
     <element name="verifiedRecord" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="RegisteredImmovableDetails">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="application" nillable="true" type="tns:Application"/>
     <element maxOccurs="unbounded" minOccurs="0" name="detail" nillable="true" type="tns:ImmovableDetails"/>
     <element name="districtCode" nillable="true" type="string"/>
     <element name="districtName" nillable="true" type="string"/>
     <element name="errorMessage" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="general" nillable="true" type="tns:GeneralRecord"/>
     <element name="immovableName" nillable="true" type="string"/>
     <element name="immovableType" nillable="true" type="string"/>
     <element name="informativeMessage" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="mortgage" nillable="true" type="tns:MortgageRecord"/>
     <element name="newRegisterPartNumber" nillable="true" type="string"/>
     <element name="oldRegisterPartNumber" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="ownership" nillable="true" type="tns:OwnershipRecord"/>
     <element maxOccurs="unbounded" minOccurs="0" name="restriction" nillable="true" type="tns:RestrictionRecord"/>
     <element name="systemMessage" nillable="true" type="string"/>
     <element name="verifiedRecord" type="boolean"/>
    </sequence>
   </complexType>
   <complexType name="RegisteredImmovables">
    <sequence>
     <element name="errorMessage" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="registeredImmovable" nillable="true" type="tns:RegisteredImmovable"/>
     <element name="systemMessage" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="RestrictionRecord">
    <sequence>
     <element name="entryNumber" nillable="true" type="string"/>
     <element name="entryText" nillable="true" type="string"/>
     <element name="entryType" nillable="true" type="string"/>
     <element name="isValid" type="boolean"/>
     <element name="ownershipPartNumber" nillable="true" type="string"/>
    </sequence>
   </complexType>
  </schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.soatrader.com/" xmlns:soat="http://ws.soatrader.com/"><xs:element name="SOATraderLicense" type="xs:string"/><xs:element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/><xs:complexType name="SOATraderUsageStatistics"><xs:sequence><xs:element name="HitsMade" type="xs:decimal"/><xs:element name="HitsLeft" type="xs:decimal"/></xs:sequence></xs:complexType></xs:schema>
  </types>
  <message name="LandRegister_getRegisteredImmovablesByPersonName">
    <part name="parameters" element="ns1:getRegisteredImmovablesByPersonName">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableRestrictionsAndMortgagesResponse">
    <part name="result" element="ns1:getRegisteredImmovableRestrictionsAndMortgagesResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCadastralRegisterNumber">
    <part name="parameters" element="ns1:getRegisteredImmovablesByCadastralRegisterNumber">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableDetailsResponse">
    <part name="result" element="ns1:getRegisteredImmovableDetailsResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableOwnership">
    <part name="parameters" element="ns1:getRegisteredImmovableOwnership">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByPersonNameResponse">
    <part name="result" element="ns1:getRegisteredImmovablesByPersonNameResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableDetails">
    <part name="parameters" element="ns1:getRegisteredImmovableDetails">
    </part>
  </message>
  <message name="SOATraderUsageStatistics">
    <part name="SOATraderUsageStatistics" element="soat:SOATraderUsageStatistics">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCompanyRegistryCode">
    <part name="parameters" element="ns1:getRegisteredImmovablesByCompanyRegistryCode">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCompanyNameResponse">
    <part name="result" element="ns1:getRegisteredImmovablesByCompanyNameResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByNationalIdCodeResponse">
    <part name="result" element="ns1:getRegisteredImmovablesByNationalIdCodeResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableFullDetailsResponse">
    <part name="result" element="ns1:getRegisteredImmovableFullDetailsResponse">
    </part>
  </message>
  <message name="SOATraderLicense">
    <part name="SOATraderLicense" element="soat:SOATraderLicense">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableRestrictionsAndMortgages">
    <part name="parameters" element="ns1:getRegisteredImmovableRestrictionsAndMortgages">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableOwnershipResponse">
    <part name="result" element="ns1:getRegisteredImmovableOwnershipResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovableFullDetails">
    <part name="parameters" element="ns1:getRegisteredImmovableFullDetails">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCompanyName">
    <part name="parameters" element="ns1:getRegisteredImmovablesByCompanyName">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCadastralRegisterNumberResponse">
    <part name="result" element="ns1:getRegisteredImmovablesByCadastralRegisterNumberResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByCompanyRegistryCodeResponse">
    <part name="result" element="ns1:getRegisteredImmovablesByCompanyRegistryCodeResponse">
    </part>
  </message>
  <message name="LandRegister_getRegisteredImmovablesByNationalIdCode">
    <part name="parameters" element="ns1:getRegisteredImmovablesByNationalIdCode">
    </part>
  </message>
  <portType name="LandRegister">
    <operation name="getRegisteredImmovableDetails">
      <input message="tns:LandRegister_getRegisteredImmovableDetails">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovableDetailsResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovableFullDetails">
      <input message="tns:LandRegister_getRegisteredImmovableFullDetails">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovableFullDetailsResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovableOwnership">
      <input message="tns:LandRegister_getRegisteredImmovableOwnership">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovableOwnershipResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovableRestrictionsAndMortgages">
      <input message="tns:LandRegister_getRegisteredImmovableRestrictionsAndMortgages">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovableRestrictionsAndMortgagesResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovablesByCadastralRegisterNumber">
      <input message="tns:LandRegister_getRegisteredImmovablesByCadastralRegisterNumber">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovablesByCadastralRegisterNumberResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovablesByCompanyName">
      <input message="tns:LandRegister_getRegisteredImmovablesByCompanyName">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovablesByCompanyNameResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovablesByCompanyRegistryCode">
      <input message="tns:LandRegister_getRegisteredImmovablesByCompanyRegistryCode">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovablesByCompanyRegistryCodeResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovablesByNationalIdCode">
      <input message="tns:LandRegister_getRegisteredImmovablesByNationalIdCode">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovablesByNationalIdCodeResponse">
    </output>
    </operation>
    <operation name="getRegisteredImmovablesByPersonName">
      <input message="tns:LandRegister_getRegisteredImmovablesByPersonName">
    </input>
      <output message="tns:LandRegister_getRegisteredImmovablesByPersonNameResponse">
    </output>
    </operation>
  </portType>
  <binding name="LandRegisterBinding" type="tns:LandRegister">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getRegisteredImmovableDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovableFullDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovableOwnership">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovableRestrictionsAndMortgages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovablesByCadastralRegisterNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovablesByCompanyName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovablesByCompanyRegistryCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovablesByNationalIdCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="getRegisteredImmovablesByPersonName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
  </binding>
  <service name="EstonianLandRegisterService">
    <port name="LandRegisterPort" binding="tns:LandRegisterBinding">
      <soap:address location="http://ws.soatrader.com/soatrader.com/1.1/EstonianRealEstateRegistry"/>
    </port>
  </service>
</definitions>
