wsdl_repositories/soatrader - Copy/FastStockQuoteService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://services.samples"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:axis2="http://services.samples"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns1="http://services.samples/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://services.samples">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
		    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:ax21="http://services.samples/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://services.samples/xsd">
			      <xs:element name="getQuote">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="request" type="ax21:GetQuote"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="GetQuote" type="ax21:GetQuote"/>
			      <xs:complexType name="GetQuote">
				        <xs:sequence>
					          <xs:element name="symbol" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:element name="getQuoteResponse">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="return" type="ax21:GetQuoteResponse"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="GetQuoteResponse" type="ax21:GetQuoteResponse"/>
			      <xs:complexType name="GetQuoteResponse">
				        <xs:sequence>
					          <xs:element name="change" type="xs:double"/>
					          <xs:element name="earnings" type="xs:double"/>
					          <xs:element name="high" type="xs:double"/>
					          <xs:element name="last" type="xs:double"/>
					          <xs:element name="lastTradeTimestamp" type="xs:string"/>
					          <xs:element name="low" type="xs:double"/>
					          <xs:element name="marketCap" type="xs:double"/>
					          <xs:element name="name" type="xs:string"/>
					          <xs:element name="open" type="xs:double"/>
					          <xs:element name="peRatio" type="xs:double"/>
					          <xs:element name="percentageChange" type="xs:double"/>
					          <xs:element name="prevClose" type="xs:double"/>
					          <xs:element name="symbol" type="xs:string"/>
					          <xs:element name="volume" type="xs:int"/>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:element name="placeOrder">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="order" type="ax21:PlaceOrder"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="PlaceOrder" type="ax21:PlaceOrder"/>
			      <xs:complexType name="PlaceOrder">
				        <xs:sequence>
					          <xs:element name="price" type="xs:double"/>
					          <xs:element name="quantity" type="xs:int"/>
					          <xs:element name="symbol" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>
		    </xs:schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:ax21="http://services.samples/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://services.samples/xsd">
			      <xs:element name="getQuote">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="request" type="ax21:GetQuote"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="GetQuote" type="ax21:GetQuote"/>
			      <xs:complexType name="GetQuote">
				        <xs:sequence>
					          <xs:element name="symbol" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:element name="getQuoteResponse">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="return" type="ax21:GetQuoteResponse"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="GetQuoteResponse" type="ax21:GetQuoteResponse"/>
			      <xs:complexType name="GetQuoteResponse">
				        <xs:sequence>
					          <xs:element name="change" type="xs:double"/>
					          <xs:element name="earnings" type="xs:double"/>
					          <xs:element name="high" type="xs:double"/>
					          <xs:element name="last" type="xs:double"/>
					          <xs:element name="lastTradeTimestamp" type="xs:string"/>
					          <xs:element name="low" type="xs:double"/>
					          <xs:element name="marketCap" type="xs:double"/>
					          <xs:element name="name" type="xs:string"/>
					          <xs:element name="open" type="xs:double"/>
					          <xs:element name="peRatio" type="xs:double"/>
					          <xs:element name="percentageChange" type="xs:double"/>
					          <xs:element name="prevClose" type="xs:double"/>
					          <xs:element name="symbol" type="xs:string"/>
					          <xs:element name="volume" type="xs:int"/>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:element name="placeOrder">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element name="order" type="ax21:PlaceOrder"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="PlaceOrder" type="ax21:PlaceOrder"/>
			      <xs:complexType name="PlaceOrder">
				        <xs:sequence>
					          <xs:element name="price" type="xs:double"/>
					          <xs:element name="quantity" type="xs:int"/>
					          <xs:element name="symbol" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>
		    </xs:schema>
	  </wsdl:types>
	  <wsdl:message name="getQuoteMessage">
		    <wsdl:part name="part1" element="ns1:getQuote"/>
	  </wsdl:message>
	  <wsdl:message name="getQuoteResponseMessage">
		    <wsdl:part name="part1" element="ns1:getQuoteResponse"/>
	  </wsdl:message>
	  <wsdl:message name="placeOrderMessage">
		    <wsdl:part name="part1" element="ns1:placeOrder"/>
	  </wsdl:message>
	  <wsdl:portType name="FastStockQuoteServicePortType">
		    <wsdl:operation name="getQuote">
			      <wsdl:input message="axis2:getQuoteMessage"/>
			      <wsdl:output message="axis2:getQuoteResponseMessage"/>
		    </wsdl:operation>
		    <wsdl:operation name="placeOrder">
			      <wsdl:input message="axis2:placeOrderMessage"/>
		    </wsdl:operation>
	  </wsdl:portType>
	  <wsdl:binding name="FastStockQuoteServiceSOAP11Binding"
                 type="axis2:FastStockQuoteServicePortType">
		    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <wsdl:operation name="getQuote">
			      <soap:operation soapAction="urn:getQuote" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal" namespace="http://services.samples"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal" namespace="http://services.samples"/>
			      </wsdl:output>
		    </wsdl:operation>
		    <wsdl:operation name="placeOrder">
			      <soap:operation soapAction="urn:placeOrder" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal" namespace="http://services.samples"/>
			      </wsdl:input>
		    </wsdl:operation>
	  </wsdl:binding>
	  <wsdl:service name="FastStockQuoteService">
		    <wsdl:port name="FastStockQuoteServiceSOAP11port"
                 binding="axis2:FastStockQuoteServiceSOAP11Binding">
			      <soap:address location="http://ws.soatrader.com/apache.org/0.1/FastStockQuoteService"/>
		    </wsdl:port>
	  </wsdl:service>
</wsdl:definitions>