wsdl_repositories/soatrader - Copy/fax.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.webserviceX.NET"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.webserviceX.NET">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
         <s:element name="SendTextToFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FromEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BodyText" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ToName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendTextToFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTextToFaxResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendTextToFaxSoapIn">
      <wsdl:part name="parameters" element="tns:SendTextToFax"/>
  </wsdl:message>
  <wsdl:message name="SendTextToFaxSoapOut">
      <wsdl:part name="parameters" element="tns:SendTextToFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="SendTextToFaxHttpGetIn">
      <wsdl:part name="FromEmail" type="s:string"/>
      <wsdl:part name="Subject" type="s:string"/>
      <wsdl:part name="FaxNumber" type="s:string"/>
      <wsdl:part name="BodyText" type="s:string"/>
      <wsdl:part name="ToName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendTextToFaxHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendTextToFaxHttpPostIn">
      <wsdl:part name="FromEmail" type="s:string"/>
      <wsdl:part name="Subject" type="s:string"/>
      <wsdl:part name="FaxNumber" type="s:string"/>
      <wsdl:part name="BodyText" type="s:string"/>
      <wsdl:part name="ToName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendTextToFaxHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="faxSoap">
      <wsdl:operation name="SendTextToFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Send FAX (for free) to any part of the world&lt;br&gt; &lt;span&gt;&lt;br&gt;&lt;br&gt;This webservice provide a facilty to send fax anywhere in the world.Please add country code (without preceding zero(s)) to your fax number(Without hyphen).&lt;br&gt;&lt;I&gt;&lt;b&gt;e.g If your number is 0091-435-416353 ,please enter fax number as 91435416353&lt;/b&gt;&lt;/i&gt;	&lt;/span&gt;&lt;br&gt;&lt;b&gt;Please Note:&lt;/b&gt;&lt;br&gt;The character '_' is converted to a space and The character '/' is converted to start a new line &lt;br&gt;Coverage List :&lt;a href='CheckCoverage.htm'&gt;View&lt;/a&gt; </documentation>
         <wsdl:input message="tns:SendTextToFaxSoapIn"/>
         <wsdl:output message="tns:SendTextToFaxSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="faxSoap" type="tns:faxSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SendTextToFax">
         <soap:operation soapAction="http://www.webserviceX.NET/SendTextToFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="fax">
      <wsdl:port name="faxSoap" binding="tns:faxSoap">
         <soap:address location="http://ws.soatrader.com/webservicex.com/0.1/fax"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>