wsdl_repositories/soatrader - Copy/FDXNotificationService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://fedex.com/ws/fdxnotification/v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ns="http://fedex.com/ws/fdxnotification/v1"
             xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://fedex.com/ws/fdxnotification/v1"
             name="FDXNotificationServiceDefinitions">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
		    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                 targetNamespace="http://fedex.com/ws/fdxnotification/v1">
			      <xs:element name="fdxNotification">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" name="FDXNotificationRequest" type="ns:FDXNotificationRequest"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="fdxNotificationResponse">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" name="FDXNotificationReply" type="ns:FDXNotificationReply"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:complexType name="FDXNotificationRequest">
				        <xs:annotation>
					          <xs:documentation>FedEx Track Notification request.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
               <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
                  </xs:annotation>
               </xs:element>
					          <xs:element name="ClientDetail" type="ns:ClientDetail">
						            <xs:annotation>
							              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
               <xs:element name="Version" type="ns:VersionId">
                  <xs:annotation>
                     <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
                  </xs:annotation>
               </xs:element>
					          <xs:element name="TrackingNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Tracking number.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>To obtain additional data on second and subsequent FDXNotification requests.Client must submit this value in subsequent track requests in order to obtain next page of data. Must contain at least four characters.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TrackingNumberUniqueId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Populate only if the TrackingNumberUniqueId is known from a previous Tracking request or an Email notifications request that resulted in a duplicate reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDateRangeBegin" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Recommend providing date range to find desired track number by limiting the results to this range. If not provided FedEx will default to a range that may not be useful for the search.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDateRangeEnd" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>If provided, ShipDateRangeBegin is required. </xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="SenderEMailAddress" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Included in the notification identifying the requestor of this notification.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="SenderContactName" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Included in the notification identifying the requestor of this notification.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotificationDetail" type="ns:EMailNotificationDetail">
						            <xs:annotation>
							              <xs:documentation>Email notification details.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
         <xs:complexType name="WebAuthenticationDetail">
            <xs:annotation>
               <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="WebAuthenticationCredential">
            <xs:annotation>
               <xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="Key" type="xs:string" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Identifying part of the authentication key.This value is provided by FedEx after registration.</xs:documentation>
                     <xs:appinfo>
                        <MaxLength>16</MaxLength>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Password" type="xs:string" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
                     <xs:appinfo>
                        <MaxLength>25</MaxLength>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
			      <xs:complexType name="ClientDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="AccountNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>12</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MeterNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the unique client device submitting the request. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>10</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="TransactionDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data that governs data payload language/translations.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>40</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Governs any future language/translations applied to the data payload (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="UserDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data about the user submitting the transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="UserId" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>The FedEx-supplied user ID.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Password" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>The password associated with the user ID.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>32</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="UniqueUserId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Unique identifier for CSP use only.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>10</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationReply">
				        <xs:annotation>
					          <xs:documentation>FedEx Track Notification reply.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
						            <xs:annotation>
							              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="DuplicateWaybill" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>True if duplicate packages with the same tracking number have been found, and only limited data will be provided for each one.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MoreDataAvailable" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>True if additional packages remain to be retrieved.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Value that must be passed in a FDXNotification request to retrieve the next set of packages.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Packages" type="ns:FDXNotificationPackage" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Data pertaining to packages.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationPackage">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TrackingNumberUniqueIdentifiers" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="CarrierCode" type="ns:CarrierCodeType" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDate" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Destination" type="ns:Address" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="RecipientDetails" type="ns:FDXNotificationRecipientDetail" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationRecipientDetail">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Address">
				        <xs:annotation>
					          <xs:documentation>The descriptive data for a physical location. </xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="StreetLines" type="xs:string" minOccurs="0" maxOccurs="2">
						            <xs:annotation>
							              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="City" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Name of city, town, etc. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>
									                  <Express>35</Express>
									                  <Ground>20</Ground>
								                </MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>9</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="UrbanizationCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Relevant only to addresses in Puerto Rico. In Puerto Rico, multiple addresses within the same ZIP code can have the same house number and street name. When this is the case, the urbanization code is needed to distinguish them.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="CountryCode" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identification of a country.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Residential" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Indicates whether this address is residential (as opposed to commercial).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Notification">
				        <xs:annotation>
					          <xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="Severity" type="ns:NotificationSeverityType">
						            <xs:annotation>
							              <xs:documentation>Identifies the severity of the Notification item. See NotificationSeverityType for list of returned values.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Source" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the source - what FedEx system, sub-system, or component generated the Notification item.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Code" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error code generated by the FedEx system, sub-system or component.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>8</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Message" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error message text.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>255</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error message text in the localization requested. Currently not supported.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MessageParameters" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Used internally by FedEx systems for message translation.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Localization">
				        <xs:annotation>
					          <xs:documentation>The descriptive data for the local language and locale (i.e. country).</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="LanguageCode" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the locale (i.e.  country code).</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="VersionId">
				        <xs:annotation>
					          <xs:documentation>The descriptive data regarding the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="wsi">
						            <xs:annotation>
							              <xs:documentation>Identifies a system or sub-system which performs an operation. Customers using the FedEx Web Services interface should set this element to "wsi".</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Major" type="xs:int" minOccurs="1" fixed="1">
						            <xs:annotation>
							              <xs:documentation>Identifies the service business level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="1">
						            <xs:annotation>
							              <xs:documentation>Identifies the service interface level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the service code level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="EMailNotificationDetail">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="PersonalMessage" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Personal messages are not applicable with wireless formatted notifications. UTF-8 encoded message.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Recipients" type="ns:EMailNotificationRecipient" minOccurs="1"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Currently upto a maximum of 6 email combinations are supported.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="EMailNotificationRecipient">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="EMailNotificationRecipientType" type="ns:EMailNotificationRecipientType"
                           minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="EMailAddress" type="xs:string">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnShipment" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Format" type="ns:EMailNotificationFormatType">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:simpleType name="CarrierCodeType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="FDXC"/>
					          <xs:enumeration value="FDXE"/>
					          <xs:enumeration value="FDXG"/>
					          <xs:enumeration value="FXFR"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="EMailNotificationRecipientType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="BROKER"/>
					          <xs:enumeration value="OTHER"/>
					          <xs:enumeration value="RECIPIENT"/>
					          <xs:enumeration value="SHIPPER"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="EMailNotificationFormatType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="HTML"/>
					          <xs:enumeration value="TEXT"/>
					          <xs:enumeration value="WIRELESS"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="NotificationSeverityType">
				        <xs:annotation>
					          <xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="ERROR"/>
					          <xs:enumeration value="FAILURE"/>
					          <xs:enumeration value="NOTE"/>
					          <xs:enumeration value="SUCCESS"/>
					          <xs:enumeration value="WARNING"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                 targetNamespace="http://fedex.com/ws/fdxnotification/v1">
			      <xs:element name="fdxNotification">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" name="FDXNotificationRequest" type="ns:FDXNotificationRequest"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:element name="fdxNotificationResponse">
				        <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" name="FDXNotificationReply" type="ns:FDXNotificationReply"/>
					          </xs:sequence>
				        </xs:complexType>
			      </xs:element>
			      <xs:complexType name="FDXNotificationRequest">
				        <xs:annotation>
					          <xs:documentation>FedEx Track Notification request.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
               <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
                  </xs:annotation>
               </xs:element>
					          <xs:element name="ClientDetail" type="ns:ClientDetail">
						            <xs:annotation>
							              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
               <xs:element name="Version" type="ns:VersionId">
                  <xs:annotation>
                     <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
                  </xs:annotation>
               </xs:element>
					          <xs:element name="TrackingNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Tracking number.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>To obtain additional data on second and subsequent FDXNotification requests.Client must submit this value in subsequent track requests in order to obtain next page of data. Must contain at least four characters.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TrackingNumberUniqueId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Populate only if the TrackingNumberUniqueId is known from a previous Tracking request or an Email notifications request that resulted in a duplicate reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDateRangeBegin" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Recommend providing date range to find desired track number by limiting the results to this range. If not provided FedEx will default to a range that may not be useful for the search.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDateRangeEnd" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>If provided, ShipDateRangeBegin is required. </xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="SenderEMailAddress" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Included in the notification identifying the requestor of this notification.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="SenderContactName" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Included in the notification identifying the requestor of this notification.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotificationDetail" type="ns:EMailNotificationDetail">
						            <xs:annotation>
							              <xs:documentation>Email notification details.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
         <xs:complexType name="WebAuthenticationDetail">
            <xs:annotation>
               <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="WebAuthenticationCredential">
            <xs:annotation>
               <xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="Key" type="xs:string" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Identifying part of the authentication key.This value is provided by FedEx after registration.</xs:documentation>
                     <xs:appinfo>
                        <MaxLength>16</MaxLength>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Password" type="xs:string" minOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
                     <xs:appinfo>
                        <MaxLength>25</MaxLength>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
			      <xs:complexType name="ClientDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="AccountNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>12</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MeterNumber" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the unique client device submitting the request. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>10</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="TransactionDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data that governs data payload language/translations.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>40</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Governs any future language/translations applied to the data payload (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="UserDetail">
				        <xs:annotation>
					          <xs:documentation>The descriptive data about the user submitting the transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="UserId" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>The FedEx-supplied user ID.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Password" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>The password associated with the user ID.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>32</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="UniqueUserId" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Unique identifier for CSP use only.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>10</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationReply">
				        <xs:annotation>
					          <xs:documentation>FedEx Track Notification reply.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType">
						            <xs:annotation>
							              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Notifications" type="ns:Notification" maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Version" type="ns:VersionId" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="DuplicateWaybill" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>True if duplicate packages with the same tracking number have been found, and only limited data will be provided for each one.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MoreDataAvailable" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>True if additional packages remain to be retrieved.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PagingToken" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Value that must be passed in a FDXNotification request to retrieve the next set of packages.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Packages" type="ns:FDXNotificationPackage" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Data pertaining to packages.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationPackage">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="TrackingNumber" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="TrackingNumberUniqueIdentifiers" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="CarrierCode" type="ns:CarrierCodeType" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="ShipDate" type="xs:date" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Destination" type="ns:Address" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="RecipientDetails" type="ns:FDXNotificationRecipientDetail" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="FDXNotificationRecipientDetail">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Address">
				        <xs:annotation>
					          <xs:documentation>The descriptive data for a physical location. </xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="StreetLines" type="xs:string" minOccurs="0" maxOccurs="2">
						            <xs:annotation>
							              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="City" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Name of city, town, etc. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>
									                  <Express>35</Express>
									                  <Ground>20</Ground>
								                </MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="PostalCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. </xs:documentation>
							              <xs:appinfo>
								                <MaxLength>9</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="UrbanizationCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Relevant only to addresses in Puerto Rico. In Puerto Rico, multiple addresses within the same ZIP code can have the same house number and street name. When this is the case, the urbanization code is needed to distinguish them.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>35</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="CountryCode" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identification of a country.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Residential" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Indicates whether this address is residential (as opposed to commercial).</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Notification">
				        <xs:annotation>
					          <xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="Severity" type="ns:NotificationSeverityType">
						            <xs:annotation>
							              <xs:documentation>Identifies the severity of the Notification item. See NotificationSeverityType for list of returned values.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Source" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the source - what FedEx system, sub-system, or component generated the Notification item.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Code" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error code generated by the FedEx system, sub-system or component.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>8</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Message" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error message text.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>255</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the error message text in the localization requested. Currently not supported.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="MessageParameters" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Used internally by FedEx systems for message translation.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="Localization">
				        <xs:annotation>
					          <xs:documentation>The descriptive data for the local language and locale (i.e. country).</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="LanguageCode" type="xs:string">
						            <xs:annotation>
							              <xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the locale (i.e.  country code).</xs:documentation>
							              <xs:appinfo>
								                <MaxLength>2</MaxLength>
							              </xs:appinfo>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="VersionId">
				        <xs:annotation>
					          <xs:documentation>The descriptive data regarding the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="wsi">
						            <xs:annotation>
							              <xs:documentation>Identifies a system or sub-system which performs an operation. Customers using the FedEx Web Services interface should set this element to "wsi".</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Major" type="xs:int" minOccurs="1" fixed="1">
						            <xs:annotation>
							              <xs:documentation>Identifies the service business level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="1">
						            <xs:annotation>
							              <xs:documentation>Identifies the service interface level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
						            <xs:annotation>
							              <xs:documentation>Identifies the service code level.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="EMailNotificationDetail">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="PersonalMessage" type="xs:string" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation>Personal messages are not applicable with wireless formatted notifications. UTF-8 encoded message.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Recipients" type="ns:EMailNotificationRecipient" minOccurs="1"
                           maxOccurs="unbounded">
						            <xs:annotation>
							              <xs:documentation>Currently upto a maximum of 6 email combinations are supported.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:complexType name="EMailNotificationRecipient">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:sequence>
					          <xs:element name="EMailNotificationRecipientType" type="ns:EMailNotificationRecipientType"
                           minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="EMailAddress" type="xs:string">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnShipment" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnException" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="NotifyOnDelivery" type="xs:boolean" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Format" type="ns:EMailNotificationFormatType">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
					          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
						            <xs:annotation>
							              <xs:documentation/>
						            </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:complexType>
			      <xs:simpleType name="CarrierCodeType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="FDXC"/>
					          <xs:enumeration value="FDXE"/>
					          <xs:enumeration value="FDXG"/>
					          <xs:enumeration value="FXFR"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="EMailNotificationRecipientType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="BROKER"/>
					          <xs:enumeration value="OTHER"/>
					          <xs:enumeration value="RECIPIENT"/>
					          <xs:enumeration value="SHIPPER"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="EMailNotificationFormatType">
				        <xs:annotation>
					          <xs:documentation/>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="HTML"/>
					          <xs:enumeration value="TEXT"/>
					          <xs:enumeration value="WIRELESS"/>
				        </xs:restriction>
			      </xs:simpleType>
			      <xs:simpleType name="NotificationSeverityType">
				        <xs:annotation>
					          <xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
				        </xs:annotation>
				        <xs:restriction base="xs:string">
					          <xs:enumeration value="ERROR"/>
					          <xs:enumeration value="FAILURE"/>
					          <xs:enumeration value="NOTE"/>
					          <xs:enumeration value="SUCCESS"/>
					          <xs:enumeration value="WARNING"/>
				        </xs:restriction>
			      </xs:simpleType>
		    </xs:schema>
	  </types>
	  <message name="fdxNotificationIn">
		    <part name="parameters" element="ns:fdxNotification"/>
	  </message>
	  <message name="fdxNotificationOut">
		    <part name="parameters" element="ns:fdxNotificationResponse"/>
	  </message>
	  <portType name="FDXNotificationPortType">
		    <operation name="fdxNotification">
			      <input message="ns:fdxNotificationIn"/>
			      <output message="ns:fdxNotificationOut"/>
		    </operation>
	  </portType>
	  <binding name="FDXNotificationServiceSoapBinding" type="ns:FDXNotificationPortType">
		    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <operation name="fdxNotification">
			      <s1:operation soapAction="fdxNotification" style="document"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <s1:body use="literal"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <s1:body use="literal"/>
			      </output>
		    </operation>
	  </binding>
	  <service name="FDXNotificationService">
		    <port name="FDXNotificationServicePort"
            binding="ns:FDXNotificationServiceSoapBinding">
			      <s1:address location="http://ws.soatrader.com/crazytoe.com/0.1/FDXNotificationService"/>
		    </port>
	  </service>
</definitions>