wsdl_repositories/soatrader - Copy/Flight_Schedule_Master_ServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://source.trax.aero"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://source.trax.aero"
                  xmlns:intf="http://source.trax.aero"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://flight_schedule.techrecords.castor.trax.aero"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://source.trax.aero">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://flight_schedule.techrecords.castor.trax.aero">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="Flight_Schedule_Incoming_Type">
            <sequence>
               <element name="AC" nillable="true" type="soapenc:string"/>
               <element name="arrive_Gate" nillable="true" type="soapenc:string"/>
               <element name="create_Flight_Route" type="xsd:boolean"/>
               <element name="depart_Gate" nillable="true" type="soapenc:string"/>
               <element name="flight" nillable="true" type="soapenc:string"/>
               <element name="hub" nillable="true" type="soapenc:string"/>
               <element name="leg" type="xsd:int"/>
               <element name="modified_By" nillable="true" type="soapenc:string"/>
               <element name="original_Scheduled_Date" nillable="true" type="xsd:dateTime"/>
               <element name="pilot_In_Charge" nillable="true" type="soapenc:string"/>
               <element name="schedule_Arrive_Zulu" nillable="true" type="xsd:dateTime"/>
               <element name="schedule_Depart_Zulu" nillable="true" type="xsd:dateTime"/>
               <element name="station_Destination" nillable="true" type="soapenc:string"/>
               <element name="station_Origin" nillable="true" type="soapenc:string"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Flight_Schedule_Incoming_Element">
            <complexContent>
               <extension base="tns1:Flight_Schedule_Incoming_Type">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://flight_schedule.techrecords.castor.trax.aero">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="Flight_Schedule_Incoming_Type">
            <sequence>
               <element name="AC" nillable="true" type="soapenc:string"/>
               <element name="arrive_Gate" nillable="true" type="soapenc:string"/>
               <element name="create_Flight_Route" type="xsd:boolean"/>
               <element name="depart_Gate" nillable="true" type="soapenc:string"/>
               <element name="flight" nillable="true" type="soapenc:string"/>
               <element name="hub" nillable="true" type="soapenc:string"/>
               <element name="leg" type="xsd:int"/>
               <element name="modified_By" nillable="true" type="soapenc:string"/>
               <element name="original_Scheduled_Date" nillable="true" type="xsd:dateTime"/>
               <element name="pilot_In_Charge" nillable="true" type="soapenc:string"/>
               <element name="schedule_Arrive_Zulu" nillable="true" type="xsd:dateTime"/>
               <element name="schedule_Depart_Zulu" nillable="true" type="xsd:dateTime"/>
               <element name="station_Destination" nillable="true" type="soapenc:string"/>
               <element name="station_Origin" nillable="true" type="soapenc:string"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Flight_Schedule_Incoming_Element">
            <complexContent>
               <extension base="tns1:Flight_Schedule_Incoming_Type">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="deleteFlightScheduleByElementResponse">

   </wsdl:message>

   <wsdl:message name="setFlightScheduleResponse">

   </wsdl:message>

   <wsdl:message name="deleteFlightScheduleRequest">

      <wsdl:part name="originalScheduledDate" type="xsd:dateTime"/>

      <wsdl:part name="flight" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getFlightScheduleResponse">

      <wsdl:part name="getFlightScheduleReturn" type="tns1:Flight_Schedule_Incoming_Element"/>

   </wsdl:message>

   <wsdl:message name="setFlightScheduleRequest">

      <wsdl:part name="fs_schedule" type="tns1:Flight_Schedule_Incoming_Element"/>

   </wsdl:message>

   <wsdl:message name="deleteFlightScheduleByElementRequest">

      <wsdl:part name="flight_Schedule" type="tns1:Flight_Schedule_Incoming_Element"/>

   </wsdl:message>

   <wsdl:message name="deleteAllFlightSchedulesRequest">

      <wsdl:part name="createdBy" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="deleteAllFlightSchedulesResponse">

   </wsdl:message>

   <wsdl:message name="getFlightScheduleRequest">

      <wsdl:part name="schFlight" type="soapenc:string"/>

      <wsdl:part name="schLeg" type="xsd:int"/>

      <wsdl:part name="originalScheduledDate" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="deleteFlightScheduleResponse">

      <wsdl:part name="deleteFlightScheduleReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Flight_Schedule_Master_Service">

      <wsdl:operation name="setFlightSchedule" parameterOrder="fs_schedule">

         <wsdl:input message="impl:setFlightScheduleRequest" name="setFlightScheduleRequest"/>

         <wsdl:output message="impl:setFlightScheduleResponse" name="setFlightScheduleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAllFlightSchedules" parameterOrder="createdBy">

         <wsdl:input message="impl:deleteAllFlightSchedulesRequest"
                     name="deleteAllFlightSchedulesRequest"/>

         <wsdl:output message="impl:deleteAllFlightSchedulesResponse"
                      name="deleteAllFlightSchedulesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getFlightSchedule"
                      parameterOrder="schFlight schLeg originalScheduledDate">

         <wsdl:input message="impl:getFlightScheduleRequest" name="getFlightScheduleRequest"/>

         <wsdl:output message="impl:getFlightScheduleResponse" name="getFlightScheduleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteFlightScheduleByElement" parameterOrder="flight_Schedule">

         <wsdl:input message="impl:deleteFlightScheduleByElementRequest"
                     name="deleteFlightScheduleByElementRequest"/>

         <wsdl:output message="impl:deleteFlightScheduleByElementResponse"
                      name="deleteFlightScheduleByElementResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteFlightSchedule" parameterOrder="originalScheduledDate flight">

         <wsdl:input message="impl:deleteFlightScheduleRequest" name="deleteFlightScheduleRequest"/>

         <wsdl:output message="impl:deleteFlightScheduleResponse" name="deleteFlightScheduleResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Flight_Schedule_Master_ServiceSoapBinding"
                 type="impl:Flight_Schedule_Master_Service">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setFlightSchedule">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setFlightScheduleRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setFlightScheduleResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAllFlightSchedules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAllFlightSchedulesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAllFlightSchedulesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFlightSchedule">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFlightScheduleRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFlightScheduleResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFlightScheduleByElement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFlightScheduleByElementRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteFlightScheduleByElementResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFlightSchedule">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFlightScheduleRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteFlightScheduleResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Flight_Schedule_Master_ServiceService">

      <wsdl:port binding="impl:Flight_Schedule_Master_ServiceSoapBinding"
                 name="Flight_Schedule_Master_Service">

         <wsdlsoap:address location="http://ws.soatrader.com/trax.aero/0.1/Flight_Schedule_Master_ServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>