wsdl_repositories/soatrader - Copy/FlightSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.aeroflot.ru/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://www.aeroflot.ru/" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://www.aeroflot.ru/literalTypes" xmlns:soat="http://ws.soatrader.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema targetNamespace="http://www.aeroflot.ru/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      <s:complexType name="ArrayOfString">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute d7p1:arrayType="s:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAirport">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute d7p1:arrayType="s0:Airport[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Airport">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="city" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="code" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="id_country" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlight">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute d7p1:arrayType="s0:Flight[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Flight">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="flight_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="flight_id1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_from1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_to1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_arm_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="arr_arm_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="f_date1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_time1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_dep1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_arr1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly1" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="1" name="pl_name1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_y1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_f1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_c1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="1" name="change_city" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="change_station" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_inchange" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="1" name="flight_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="flight_id2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_from2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_to2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_arm_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="arr_arm_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="f_date2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_time2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_dep2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_arr2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly2" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="1" name="pl_name2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_y2" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_f2" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_c2" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWeek">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute d7p1:arrayType="s0:Week[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Week">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="week_no" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d3" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d4" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d5" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d6" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d7" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d1_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d2_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d3_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d4_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d5_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d6_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d7_fl" type="s:int"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.aeroflot.ru/literalTypes">
      <s:element name="ArrayOfString" nillable="true" type="s1:ArrayOfString"/>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfAirport" nillable="true" type="s1:ArrayOfAirport"/>
      <s:complexType name="ArrayOfAirport">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Airport" nillable="true" type="s1:Airport"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Airport">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="city" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="name" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="code" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="id_country" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfFlight" nillable="true" type="s1:ArrayOfFlight"/>
      <s:complexType name="ArrayOfFlight">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Flight" nillable="true" type="s1:Flight"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Flight">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="flight_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="flight_id1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_from1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_to1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="dep_arm_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="arr_arm_no1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="f_date1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_time1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_dep1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_arr1" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly1" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="0" name="pl_name1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_y1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_f1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_c1" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="0" name="change_city" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="change_station" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_inchange" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="0" name="flight_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="flight_id2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_from2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="really_to2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="0" name="dep_arm_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="arr_arm_no2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="f_date2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="dep_time2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_dep2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="d_arr2" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="time_infly2" type="s:double"/>
          <s:element maxOccurs="1" minOccurs="0" name="pl_name2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_y2" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_f2" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="seats_c2" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfWeek" nillable="true" type="s1:ArrayOfWeek"/>
      <s:complexType name="ArrayOfWeek">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Week" nillable="true" type="s1:Week"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Week">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="week_no" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="0" name="d1" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d2" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d3" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d4" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d5" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d6" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="d7" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="d1_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d2_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d3_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d4_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d5_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d6_fl" type="s:int"/>
          <s:element maxOccurs="1" minOccurs="1" name="d7_fl" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="Airport" nillable="true" type="s1:Airport"/>
    </s:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.soatrader.com/" xmlns:soat="http://ws.soatrader.com/"><xs:element name="SOATraderLicense" type="xs:string"/><xs:element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/><xs:complexType name="SOATraderUsageStatistics"><xs:sequence><xs:element name="HitsMade" type="xs:decimal"/><xs:element name="HitsLeft" type="xs:decimal"/></xs:sequence></xs:complexType></xs:schema>
  </types>
  <message name="AirportAlphabetListSoapOut">
    <part name="AirportAlphabetListResult" type="s0:ArrayOfString">
    </part>
  </message>
  <message name="AirportListSoapOut">
    <part name="AirportListResult" type="s0:ArrayOfAirport">
    </part>
  </message>
  <message name="AirportListSoapIn">
    <part name="letter" type="s:string">
    </part>
  </message>
  <message name="CalendarSoapIn">
    <part name="flight_no" type="s:string">
    </part>
    <part name="flight_id" type="s:string">
    </part>
    <part name="date" type="s:string">
    </part>
  </message>
  <message name="CalendarSoapOut">
    <part name="CalendarResult" type="s0:ArrayOfWeek">
    </part>
  </message>
  <message name="SearchSoapOut">
    <part name="SearchResult" type="s0:ArrayOfFlight">
    </part>
  </message>
  <message name="AirportInfoSoapIn">
    <part name="code" type="s:string">
    </part>
  </message>
  <message name="SOATraderLicense">
    <part name="SOATraderLicense" element="soat:SOATraderLicense">
    </part>
  </message>
  <message name="AirportInfoSoapOut">
    <part name="AirportInfoResult" type="s0:Airport">
    </part>
  </message>
  <message name="SOATraderUsageStatistics">
    <part name="SOATraderUsageStatistics" element="soat:SOATraderUsageStatistics">
    </part>
  </message>
  <message name="SearchSoapIn">
    <part name="dep_place" type="s:string">
    </part>
    <part name="arr_place" type="s:string">
    </part>
    <part name="date" type="s:string">
    </part>
    <part name="near" type="s:int">
    </part>
  </message>
  <message name="AirportAlphabetListSoapIn">
  </message>
  <portType name="ScheduleSoap">
    <operation name="AirportAlphabetList">
      <input message="s0:AirportAlphabetListSoapIn">
    </input>
      <output message="s0:AirportAlphabetListSoapOut">
    </output>
    </operation>
    <operation name="AirportList">
      <input message="s0:AirportListSoapIn">
    </input>
      <output message="s0:AirportListSoapOut">
    </output>
    </operation>
    <operation name="Search">
      <input message="s0:SearchSoapIn">
    </input>
      <output message="s0:SearchSoapOut">
    </output>
    </operation>
    <operation name="Calendar">
      <input message="s0:CalendarSoapIn">
    </input>
      <output message="s0:CalendarSoapOut">
    </output>
    </operation>
    <operation name="AirportInfo">
      <input message="s0:AirportInfoSoapIn">
    </input>
      <output message="s0:AirportInfoSoapOut">
    </output>
    </operation>
  </portType>
  <binding name="ScheduleSoap" type="s0:ScheduleSoap">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AirportAlphabetList">
      <soap:operation soapAction="http://www.aeroflot.ru/AirportAlphabetList" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="AirportInfo">
      <soap:operation soapAction="http://www.aeroflot.ru/AirportInfo" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="AirportList">
      <soap:operation soapAction="http://www.aeroflot.ru/AirportList" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="Calendar">
      <soap:operation soapAction="http://www.aeroflot.ru/Calendar" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
    <operation name="Search">
      <soap:operation soapAction="http://www.aeroflot.ru/Search" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.aeroflot.ru/"/>
        <soap:header message="s0:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
  </binding>
  <service name="Schedule">
    <port name="ScheduleSoap" binding="s0:ScheduleSoap">
      <soap:address location="http://ws.soatrader.com/aeroflot.ru/1.0/FlightSearch"/>
    </port>
  </service>
</definitions>
