wsdl_repositories/soatrader - Copy/flightdetail.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetFlightStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlightStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlightStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTop20">
            <s:complexType/>
         </s:element>
         <s:element name="GetTop20Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTop20Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTop20XML">
            <s:complexType/>
         </s:element>
         <s:element name="GetTop20XMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTop20XMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCityStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCityStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCityStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoStatusXMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoLocationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTodaysFlightPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTodaysFlightPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTodaysFlightPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="depAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdriaPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="depAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="depDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdriaPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdriaPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PerformAutoUpload">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="albumName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="albumDesc" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="authorID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PerformAutoUploadResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PerformAutoUploadResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="bShowSeconds" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetFlightStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlightStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlightStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTop20">
            <s:complexType/>
         </s:element>
         <s:element name="GetTop20Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTop20Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTop20XML">
            <s:complexType/>
         </s:element>
         <s:element name="GetTop20XMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTop20XMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCityStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCityStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCityStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoStatusXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoStatusXMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="flno" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFlnoLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFlnoLocationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTodaysFlightPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTodaysFlightPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTodaysFlightPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="depAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdriaPlan">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="depAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrAirp" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="depDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="arrDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdriaPlanResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdriaPlanResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PerformAutoUpload">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="albumName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="albumDesc" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="authorID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PerformAutoUploadResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PerformAutoUploadResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="bShowSeconds" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFlightStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetFlightStatus"/>
  </wsdl:message>
  <wsdl:message name="GetFlightStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetFlightStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTop20SoapIn">
      <wsdl:part name="parameters" element="tns:GetTop20"/>
  </wsdl:message>
  <wsdl:message name="GetTop20SoapOut">
      <wsdl:part name="parameters" element="tns:GetTop20Response"/>
  </wsdl:message>
  <wsdl:message name="GetTop20XMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetTop20XML"/>
  </wsdl:message>
  <wsdl:message name="GetTop20XMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetTop20XMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCityStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetCityStatus"/>
  </wsdl:message>
  <wsdl:message name="GetCityStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetCityStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetFlnoStatus"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetFlnoStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoStatusXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetFlnoStatusXML"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoStatusXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetFlnoStatusXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoLocationSoapIn">
      <wsdl:part name="parameters" element="tns:GetFlnoLocation"/>
  </wsdl:message>
  <wsdl:message name="GetFlnoLocationSoapOut">
      <wsdl:part name="parameters" element="tns:GetFlnoLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTodaysFlightPlanSoapIn">
      <wsdl:part name="parameters" element="tns:GetTodaysFlightPlan"/>
  </wsdl:message>
  <wsdl:message name="GetTodaysFlightPlanSoapOut">
      <wsdl:part name="parameters" element="tns:GetTodaysFlightPlanResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPlanSoapIn">
      <wsdl:part name="parameters" element="tns:GetPlan"/>
  </wsdl:message>
  <wsdl:message name="GetPlanSoapOut">
      <wsdl:part name="parameters" element="tns:GetPlanResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdriaPlanSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdriaPlan"/>
  </wsdl:message>
  <wsdl:message name="GetAdriaPlanSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdriaPlanResponse"/>
  </wsdl:message>
  <wsdl:message name="PerformAutoUploadSoapIn">
      <wsdl:part name="parameters" element="tns:PerformAutoUpload"/>
  </wsdl:message>
  <wsdl:message name="PerformAutoUploadSoapOut">
      <wsdl:part name="parameters" element="tns:PerformAutoUploadResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
      <wsdl:part name="parameters" element="tns:GetTime"/>
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
      <wsdl:part name="parameters" element="tns:GetTimeResponse"/>
  </wsdl:message>
  <wsdl:portType name="flightdetailSoap">
      <wsdl:operation name="GetFlightStatus">
         <wsdl:input message="tns:GetFlightStatusSoapIn"/>
         <wsdl:output message="tns:GetFlightStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTop20">
         <wsdl:input message="tns:GetTop20SoapIn"/>
         <wsdl:output message="tns:GetTop20SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTop20XML">
         <wsdl:input message="tns:GetTop20XMLSoapIn"/>
         <wsdl:output message="tns:GetTop20XMLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetCityStatus">
         <wsdl:input message="tns:GetCityStatusSoapIn"/>
         <wsdl:output message="tns:GetCityStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoStatus">
         <wsdl:input message="tns:GetFlnoStatusSoapIn"/>
         <wsdl:output message="tns:GetFlnoStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoStatusXML">
         <wsdl:input message="tns:GetFlnoStatusXMLSoapIn"/>
         <wsdl:output message="tns:GetFlnoStatusXMLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoLocation">
         <wsdl:input message="tns:GetFlnoLocationSoapIn"/>
         <wsdl:output message="tns:GetFlnoLocationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTodaysFlightPlan">
         <wsdl:input message="tns:GetTodaysFlightPlanSoapIn"/>
         <wsdl:output message="tns:GetTodaysFlightPlanSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetPlan">
         <wsdl:input message="tns:GetPlanSoapIn"/>
         <wsdl:output message="tns:GetPlanSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAdriaPlan">
         <wsdl:input message="tns:GetAdriaPlanSoapIn"/>
         <wsdl:output message="tns:GetAdriaPlanSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PerformAutoUpload">
         <wsdl:input message="tns:PerformAutoUploadSoapIn"/>
         <wsdl:output message="tns:PerformAutoUploadSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTime">
         <wsdl:input message="tns:GetTimeSoapIn"/>
         <wsdl:output message="tns:GetTimeSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="flightdetailSoap" type="tns:flightdetailSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetFlightStatus">
         <soap:operation soapAction="http://tempuri.org/GetFlightStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTop20">
         <soap:operation soapAction="http://tempuri.org/GetTop20" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTop20XML">
         <soap:operation soapAction="http://tempuri.org/GetTop20XML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCityStatus">
         <soap:operation soapAction="http://tempuri.org/GetCityStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoStatus">
         <soap:operation soapAction="http://tempuri.org/GetFlnoStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoStatusXML">
         <soap:operation soapAction="http://tempuri.org/GetFlnoStatusXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFlnoLocation">
         <soap:operation soapAction="http://tempuri.org/GetFlnoLocation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTodaysFlightPlan">
         <soap:operation soapAction="http://tempuri.org/GetTodaysFlightPlan" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPlan">
         <soap:operation soapAction="http://tempuri.org/GetPlan" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdriaPlan">
         <soap:operation soapAction="http://tempuri.org/GetAdriaPlan" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PerformAutoUpload">
         <soap:operation soapAction="http://tempuri.org/PerformAutoUpload" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTime">
         <soap:operation soapAction="http://tempuri.org/GetTime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="flightdetail">
      <wsdl:port name="flightdetailSoap" binding="tns:flightdetailSoap">
         <soap:address location="http://ws.soatrader.com/caspis.net/0.1/flightdetail"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>