wsdl_repositories/soatrader - Copy/ForzaCampaign.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s1="http://microsoft.com/wsdl/types/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="fromEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fromName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="messageType" type="tns:MessageType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageType">
            <s:restriction base="s:string">
               <s:enumeration value="Love"/>
               <s:enumeration value="Hate"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s1:guid"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMessageResult" type="tns:Message"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Message">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromEMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToEMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="fromEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fromName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="messageType" type="tns:MessageType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageType">
            <s:restriction base="s:string">
               <s:enumeration value="Love"/>
               <s:enumeration value="Hate"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s1:guid"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMessageResult" type="tns:Message"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Message">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromEMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToEMail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="guid">
            <s:restriction base="s:string">
               <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="guid">
            <s:restriction base="s:string">
               <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
      <wsdl:part name="parameters" element="tns:GetMessage"/>
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
      <wsdl:part name="parameters" element="tns:GetMessageResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ForzaCampaignSoap" type="tns:ForzaCampaignSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendMessage">
         <soap:operation soapAction="http://tempuri.org/SendMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMessage">
         <soap:operation soapAction="http://tempuri.org/GetMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ForzaCampaign">
      <wsdl:port name="ForzaCampaignSoap" binding="tns:ForzaCampaignSoap">
         <soap:address location="http://ws.soatrader.com/nestle-nordic.com/0.1/ForzaCampaign"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>