wsdl_repositories/soatrader - Copy/Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.geekymonkey.com/sms/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.geekymonkey.com/sms/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This web service can be used to connect web or desktop applications to the Geeky Monkey SMS service. More information is available at http://www.geekymonkey.com/sms</wsdl:documentation>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.geekymonkey.com/sms/">
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SenderKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageFromIP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageFromIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessageFromIPResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessagesFromIP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbes" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SendMessagesFromIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessagesFromIPResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessages">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SenderKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbes" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessagesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessagesResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CleanupPhoneNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CleanupPhoneNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CleanupPhoneNumberResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageFromIPSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageFromIP"/>
  </wsdl:message>
  <wsdl:message name="SendMessageFromIPSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageFromIPResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessagesFromIPSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessagesFromIP"/>
  </wsdl:message>
  <wsdl:message name="SendMessagesFromIPSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessagesFromIPResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessages"/>
  </wsdl:message>
  <wsdl:message name="SendMessagesSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessagesResponse"/>
  </wsdl:message>
  <wsdl:message name="CleanupPhoneNumberSoapIn">
      <wsdl:part name="parameters" element="tns:CleanupPhoneNumber"/>
  </wsdl:message>
  <wsdl:message name="CleanupPhoneNumberSoapOut">
      <wsdl:part name="parameters" element="tns:CleanupPhoneNumberResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_ServiceSoap"
                 type="tns:Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendMessage">
         <soap:operation soapAction="http://www.geekymonkey.com/sms/SendMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageFromIP">
         <soap:operation soapAction="http://www.geekymonkey.com/sms/SendMessageFromIP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessagesFromIP">
         <soap:operation soapAction="http://www.geekymonkey.com/sms/SendMessagesFromIP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessages">
         <soap:operation soapAction="http://www.geekymonkey.com/sms/SendMessages" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CleanupPhoneNumber">
         <soap:operation soapAction="http://www.geekymonkey.com/sms/CleanupPhoneNumber" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_Service">
      <wsdl:documentation>This web service can be used to connect web or desktop applications to the Geeky Monkey SMS service. More information is available at http://www.geekymonkey.com/sms</wsdl:documentation>
      <wsdl:port name="Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_ServiceSoap"
                 binding="tns:Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/geekymonkey.com/0.1/Geeky_x0020_Monkey_x0020_SMS_x0020_Web_x0020_Service"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>