wsdl_repositories/soatrader - Copy/GetQuoteService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="urn:xmltoday-delayed-quotes"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="urn:GetQuote"
             targetNamespace="urn:xmltoday-delayed-quotes">
   <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

  <!-- message declns -->
  <message name="testRequest"/>
  <message name="testResponse">
      <part name="testResult" type="xsd:string"/>
  </message>

  <message name="GetQuoteRequest">
      <part name="symbol" type="xsd:string"/>
  </message>

  <message name="GetQuoteResponse">
      <part name="result" type="xsd:float"/>
  </message>

  <!-- port type declns -->
  <portType name="GetQuote">
      <operation name="getQuote">
         <input message="tns:GetQuoteRequest"/>
         <output message="tns:GetQuoteResponse"/>
      </operation>
      <operation name="test">
         <input message="tns:testRequest"/>
         <output message="tns:testResponse"/>
      </operation>
  </portType>

  <!-- binding declns -->
  <binding name="GetQuoteBinding" type="tns:GetQuote">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getQuote">
         <soap:operation soapAction="getQuote"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="urn:xmltoday-delayed-quotes"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="urn:xmltoday-delayed-quotes"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="test">
         <soap:operation soapAction="test"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="urn:xmltoday-delayed-quotes"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="urn:xmltoday-delayed-quotes"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
  </binding>

  <!-- service decln -->
  <service name="GetQuoteService">
      <port name="GetQuote" binding="tns:GetQuoteBinding">
         <soap:address location="http://ws.soatrader.com/jouy.inra.fr/0.1/GetQuoteService"/>
      </port>
      <port name="GetQuoteJava" binding="tns:GetQuoteBinding">
         <soap:address location="http://ws.soatrader.com/jouy.inra.fr/0.1/GetQuoteService"/>
      </port>
  </service>

</definitions>