wsdl_repositories/soatrader - Copy/GetSearchTerms.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://search.jadu.co.uk/search_terms"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://search.jadu.co.uk/search_terms">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema targetNamespace="http://search.jadu.co.uk/search_terms">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
         <xsd:complexType name="searchTerm">
            <xsd:all>
               <xsd:element name="id" type="xsd:int"/>
               <xsd:element name="term" type="xsd:string"/>
               <xsd:element name="ip" type="xsd:string"/>
               <xsd:element name="sessionId" type="xsd:string"/>
               <xsd:element name="resultCount" type="xsd:int"/>
               <xsd:element name="entry" type="xsd:string"/>
               <xsd:element name="exit" type="xsd:string"/>
               <xsd:element name="time" type="xsd:string"/>
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="searchTerms">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC-Array">
                  <xsd:element ref="0"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
      </xsd:schema>
   </types>
   <message name="getAllSearchTermsSOAPRequest">
      <part name="start" type="xsd:int"/>
      <part name="finish" type="xsd:int"/>
   </message>
   <message name="getAllSearchTermsSOAPResponse">
      <part name="return" type="tns:searchTerms"/>
   </message>
   <portType name="GetSearchTermsPortType">
      <operation name="getAllSearchTermsSOAP">
         <input message="tns:getAllSearchTermsSOAPRequest"/>
         <output message="tns:getAllSearchTermsSOAPResponse"/>
      </operation>
   </portType>
   <binding name="GetSearchTermsBinding" type="tns:GetSearchTermsPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getAllSearchTermsSOAP">
         <soap:operation soapAction="http://www.hartlepool.gov.uk/pct/site/scripts/search_terms.php/getAllSearchTermsSOAP"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://search.jadu.co.uk/search_terms"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://search.jadu.co.uk/search_terms"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="GetSearchTerms">
      <port name="GetSearchTermsPort" binding="tns:GetSearchTermsBinding">
         <soap:address location="http://ws.soatrader.com/hartlepool.gov.uk/0.1/GetSearchTerms"/>
      </port>
   </service>
</definitions>