wsdl_repositories/soatrader - Copy/ipAddress.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://philallen.net/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://philallen.net/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://philallen.net/">
         <s:element name="ExternalIP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ExternalIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalIPResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="HostName">
            <s:complexType/>
         </s:element>
         <s:element name="HostNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HostNameResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UserAgent">
            <s:complexType/>
         </s:element>
         <s:element name="UserAgentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserAgentResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UserLanguages">
            <s:complexType/>
         </s:element>
         <s:element name="UserLanguagesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserLanguagesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://philallen.net/">
         <s:element name="ExternalIP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ExternalIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalIPResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="HostName">
            <s:complexType/>
         </s:element>
         <s:element name="HostNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HostNameResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UserAgent">
            <s:complexType/>
         </s:element>
         <s:element name="UserAgentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserAgentResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UserLanguages">
            <s:complexType/>
         </s:element>
         <s:element name="UserLanguagesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserLanguagesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ExternalIPSoapIn">
      <wsdl:part name="parameters" element="tns:ExternalIP"/>
  </wsdl:message>
  <wsdl:message name="ExternalIPSoapOut">
      <wsdl:part name="parameters" element="tns:ExternalIPResponse"/>
  </wsdl:message>
  <wsdl:message name="HostNameSoapIn">
      <wsdl:part name="parameters" element="tns:HostName"/>
  </wsdl:message>
  <wsdl:message name="HostNameSoapOut">
      <wsdl:part name="parameters" element="tns:HostNameResponse"/>
  </wsdl:message>
  <wsdl:message name="UserAgentSoapIn">
      <wsdl:part name="parameters" element="tns:UserAgent"/>
  </wsdl:message>
  <wsdl:message name="UserAgentSoapOut">
      <wsdl:part name="parameters" element="tns:UserAgentResponse"/>
  </wsdl:message>
  <wsdl:message name="UserLanguagesSoapIn">
      <wsdl:part name="parameters" element="tns:UserLanguages"/>
  </wsdl:message>
  <wsdl:message name="UserLanguagesSoapOut">
      <wsdl:part name="parameters" element="tns:UserLanguagesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ipAddressSoap" type="tns:ipAddressSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ExternalIP">
         <soap:operation soapAction="http://philallen.net/ExternalIP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="HostName">
         <soap:operation soapAction="http://philallen.net/HostName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UserAgent">
         <soap:operation soapAction="http://philallen.net/UserAgent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UserLanguages">
         <soap:operation soapAction="http://philallen.net/UserLanguages" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ipAddress">
      <wsdl:port name="ipAddressSoap" binding="tns:ipAddressSoap">
         <soap:address location="http://ws.soatrader.com/philallen.net/0.1/ipAddress"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>