wsdl_repositories/soatrader - Copy/Iwwb_x0020_Searcher.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://engine.de/"
                  xmlns:s1="http://engine.de/AbstractTypes"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://engine.de/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>
        &lt;FONT SIZE="2"&gt;Mit diesem WebService ist es möglich Suchanfragen an das Iwwb zu stellen.&lt;br&gt;
        Genaue Details zur Funktionsweise entnehmen Sie bitte den unten stehenden Methoden.
        &lt;br&gt;&lt;br&gt;
        Eine Verwendung auf öffentlichen Seiten ist erst nach Absprache mit
        &lt;br&gt;&lt;br&gt;&lt;b&gt;
        BBPro - Büro für Beratung und Projektentwicklung&lt;br&gt;
        Wolfgang Plum&lt;br&gt;
        info@Iwwb.de&lt;br&gt;
        Telefon: +49(0)40-854 038-70&lt;/b&gt;&lt;br&gt;
        &lt;br&gt;
        gestattet.
        &lt;br&gt;&lt;br&gt;
        Die Methoden die für einen externen Aufruf relevant sind, sind folgende:&lt;br&gt;&lt;br&gt;
        &lt;B&gt;GetCoursesCount&lt;br&gt;
        GetImportedCoursesCount&lt;br&gt;
        GetFullResultBySimpleQueryString
        &lt;/B&gt;&lt;br&gt;&lt;br&gt;
        Alle anderen Methoden werden von uns intern verwendet und geben keine für Sie verwertbaren Ergebnisse zurück.
        &lt;br&gt;&lt;br&gt;
        Für eine formatierte Ausgabe benutzen Sie bitte &lt;B&gt;http://index.Iwwb.de/FormatedSearcher.aspx.&lt;/B&gt; Diesem Dienst können Sie ein &lt;a href="http://www.w3.org/TR/xslt" target="_blank"&gt;XSLT Stylesheet&lt;/a&gt; übergeben und die Ausgabe erfolgt formatiert.&lt;br&gt;
        &lt;br&gt;
        &lt;B&gt;Parameter:&lt;/B&gt;&lt;br&gt;
        &lt;ul&gt;
         &lt;li&gt;luceneQuery
           &lt;ul&gt;
             &lt;li&gt;siehe Onlinehilfe http://lucene.apache.org/java/docs/queryparsersyntax.html&lt;/li&gt;
             &lt;li&gt;Fields&lt;/li&gt;
             &lt;ul&gt;
                &lt;li&gt;'words' (Volltext Zusammenfassung)&lt;/li&gt;
                &lt;li&gt;'trainingSupplierName'&lt;/li&gt;
                &lt;li&gt;'supplier'&lt;/li&gt;
                &lt;li&gt;'publisher'&lt;/li&gt;
                &lt;li&gt;'keywords'&lt;/li&gt;
                &lt;li&gt;'name'&lt;/li&gt;
                &lt;li&gt;'description'&lt;/li&gt;
                &lt;li&gt;'internalSupplierName'&lt;/li&gt;
                &lt;li&gt;'city'&lt;/li&gt;
                &lt;li&gt;'zip'&lt;/li&gt;
                &lt;li&gt;'type'&lt;/li&gt;
                &lt;li&gt;'startTime'&lt;/li&gt;
             &lt;/ul&gt;
           &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;page
            &lt;ul&gt;
                &lt;li&gt;Altuelle Seite des Pagings&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;resultPerPage
            &lt;ul&gt;
                &lt;li&gt;Anzahl der Resultate pro Seite&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;maxResult
            &lt;ul&gt;
                &lt;li&gt;Maximale Anzahl der Resultate&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;    
         &lt;li&gt;xslStylesheet (Optional)
            &lt;ul&gt;
                &lt;li&gt;URI zum XSLT&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;sort
            &lt;ul&gt;
                &lt;li&gt;Parameter (Fields)
                &lt;ul&gt;
                &lt;li&gt;'words' (Volltext Zusammenfassung)&lt;/li&gt;
                &lt;li&gt;'trainingSupplierName'&lt;/li&gt;
                &lt;li&gt;'supplier'&lt;/li&gt;
                &lt;li&gt;'publisher'&lt;/li&gt;
                &lt;li&gt;'keywords'&lt;/li&gt;
                &lt;li&gt;'name'&lt;/li&gt;
                &lt;li&gt;'description'&lt;/li&gt;
                &lt;li&gt;'internalSupplierName'&lt;/li&gt;
                &lt;li&gt;'city'&lt;/li&gt;
                &lt;li&gt;'zip'&lt;/li&gt;
                &lt;li&gt;'type'&lt;/li&gt;
                &lt;li&gt;'startTime'&lt;/li&gt;
             &lt;/ul&gt;&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
        &lt;/ul&gt;
        &lt;B&gt;Beispiel:&lt;/B&gt;&lt;br&gt;
        &lt;font size="2"&gt;&lt;i&gt;http://index.Iwwb.de/FormatedSearcher.aspx?luceneQuery=words:(excel)%20plz:(225*)^10&amp;page=1&amp;resultPerPage=10&amp;maxResult=100&amp;xslStylesheet=http://index.Iwwb.de/docs/IndexSearcher.xslt&amp;sort=city
        &lt;br&gt;&lt;br&gt;
        Ein Beispiel-Stylesheet können Sie &lt;a href="http://index.Iwwb.de/docs/stylesheet.zip" target="_blank"&gt;hier&lt;/a&gt; runterladen.
        &lt;br&gt;&lt;br&gt;
        Eine technische Beschreibung des WebService (WSDL) erhalten Sie hier: &lt;a href="http://index.Iwwb.de/Searcher.asmx?wsdl"&gt;WSDL&lt;/a&gt;&lt;br&gt;&lt;br&gt;
        &lt;/font&gt;
        </wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://engine.de/">
         <s:element name="GetResultByQueryString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="indexName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sort" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetResultByQueryStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResultByQueryStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="resultPerPage" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sort" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResultResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFullResultResult" type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SearchResultPageCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="PotentialSearchResult" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxRank" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="SearchDuration" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="SearchResults" type="tns:ArrayOfSearchResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfSearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true"
                          type="tns:SearchResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DatabaseSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DatabaseSupplierURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrainingSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrainingSupplierUrl" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetFullResultBySimpleQueryString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suchbegriff_e" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="beginndatum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ort" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="angebotsform" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResultBySimpleQueryStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFullResultBySimpleQueryStringResult"
                             type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCoursesCount">
            <s:complexType/>
         </s:element>
         <s:element name="GetCoursesCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetCoursesCountResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetImportedCoursesCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetImportedCoursesCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetImportedCoursesCountResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="Result" nillable="true" type="tns:Result"/>
         <s:element name="int" type="s:int"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://engine.de/">
         <s:element name="GetResultByQueryString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="indexName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sort" type="tns:ArrayOfString"/>
                  <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetResultByQueryStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResultByQueryStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="resultPerPage" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sort" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResultResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFullResultResult" type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SearchResultPageCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="PotentialSearchResult" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxRank" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="SearchDuration" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="SearchResults" type="tns:ArrayOfSearchResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfSearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true"
                          type="tns:SearchResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DatabaseSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DatabaseSupplierURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrainingSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrainingSupplierUrl" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetFullResultBySimpleQueryString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suchbegriff_e" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="beginndatum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ort" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="angebotsform" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullResultBySimpleQueryStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFullResultBySimpleQueryStringResult"
                             type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCoursesCount">
            <s:complexType/>
         </s:element>
         <s:element name="GetCoursesCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetCoursesCountResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetImportedCoursesCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetImportedCoursesCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetImportedCoursesCountResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="Result" nillable="true" type="tns:Result"/>
         <s:element name="int" type="s:int"/>
      </s:schema>
      <s:schema targetNamespace="http://engine.de/AbstractTypes">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:complexType name="StringArray">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string"/>
                  </s:sequence>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
      </s:schema>
      <s:schema targetNamespace="http://engine.de/AbstractTypes">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:complexType name="StringArray">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string"/>
                  </s:sequence>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetResultByQueryStringSoapIn">
      <wsdl:part name="parameters" element="tns:GetResultByQueryString"/>
  </wsdl:message>
  <wsdl:message name="GetResultByQueryStringSoapOut">
      <wsdl:part name="parameters" element="tns:GetResultByQueryStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultSoapIn">
      <wsdl:part name="parameters" element="tns:GetFullResult"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultSoapOut">
      <wsdl:part name="parameters" element="tns:GetFullResultResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringSoapIn">
      <wsdl:part name="parameters" element="tns:GetFullResultBySimpleQueryString"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringSoapOut">
      <wsdl:part name="parameters" element="tns:GetFullResultBySimpleQueryStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCoursesCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetCoursesCount"/>
  </wsdl:message>
  <wsdl:message name="GetCoursesCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetCoursesCountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetImportedCoursesCount"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetImportedCoursesCountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetResultByQueryStringHttpGetIn">
      <wsdl:part name="indexName" type="s:string"/>
      <wsdl:part name="queryString" type="s:string"/>
      <wsdl:part name="sort" type="s1:StringArray"/>
      <wsdl:part name="limit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultByQueryStringHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultHttpGetIn">
      <wsdl:part name="query" type="s:string"/>
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="startDate" type="s:string"/>
      <wsdl:part name="endDate" type="s:string"/>
      <wsdl:part name="type" type="s:string"/>
      <wsdl:part name="page" type="s:string"/>
      <wsdl:part name="resultPerPage" type="s:string"/>
      <wsdl:part name="maxResult" type="s:string"/>
      <wsdl:part name="sort" type="s1:StringArray"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultHttpGetOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringHttpGetIn">
      <wsdl:part name="suchbegriff_e" type="s:string"/>
      <wsdl:part name="beginndatum" type="s:string"/>
      <wsdl:part name="ort" type="s:string"/>
      <wsdl:part name="angebotsform" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringHttpGetOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="GetCoursesCountHttpGetIn"/>
  <wsdl:message name="GetCoursesCountHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountHttpGetIn">
      <wsdl:part name="internalName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetResultByQueryStringHttpPostIn">
      <wsdl:part name="indexName" type="s:string"/>
      <wsdl:part name="queryString" type="s:string"/>
      <wsdl:part name="sort" type="s1:StringArray"/>
      <wsdl:part name="limit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetResultByQueryStringHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultHttpPostIn">
      <wsdl:part name="query" type="s:string"/>
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="startDate" type="s:string"/>
      <wsdl:part name="endDate" type="s:string"/>
      <wsdl:part name="type" type="s:string"/>
      <wsdl:part name="page" type="s:string"/>
      <wsdl:part name="resultPerPage" type="s:string"/>
      <wsdl:part name="maxResult" type="s:string"/>
      <wsdl:part name="sort" type="s1:StringArray"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultHttpPostOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringHttpPostIn">
      <wsdl:part name="suchbegriff_e" type="s:string"/>
      <wsdl:part name="beginndatum" type="s:string"/>
      <wsdl:part name="ort" type="s:string"/>
      <wsdl:part name="angebotsform" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFullResultBySimpleQueryStringHttpPostOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="GetCoursesCountHttpPostIn"/>
  <wsdl:message name="GetCoursesCountHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountHttpPostIn">
      <wsdl:part name="internalName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetImportedCoursesCountHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="Iwwb_x0020_SearcherSoap" type="tns:Iwwb_x0020_SearcherSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetResultByQueryString">
         <soap:operation soapAction="http://engine.de/GetResultByQueryString" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFullResult">
         <soap:operation soapAction="http://engine.de/GetFullResult" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFullResultBySimpleQueryString">
         <soap:operation soapAction="http://engine.de/GetFullResultBySimpleQueryString" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCoursesCount">
         <soap:operation soapAction="http://engine.de/GetCoursesCount" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetImportedCoursesCount">
         <soap:operation soapAction="http://engine.de/GetImportedCoursesCount" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Iwwb_x0020_Searcher">
      <wsdl:documentation>
        &lt;FONT SIZE="2"&gt;Mit diesem WebService ist es möglich Suchanfragen an das Iwwb zu stellen.&lt;br&gt;
        Genaue Details zur Funktionsweise entnehmen Sie bitte den unten stehenden Methoden.
        &lt;br&gt;&lt;br&gt;
        Eine Verwendung auf öffentlichen Seiten ist erst nach Absprache mit
        &lt;br&gt;&lt;br&gt;&lt;b&gt;
        BBPro - Büro für Beratung und Projektentwicklung&lt;br&gt;
        Wolfgang Plum&lt;br&gt;
        info@Iwwb.de&lt;br&gt;
        Telefon: +49(0)40-854 038-70&lt;/b&gt;&lt;br&gt;
        &lt;br&gt;
        gestattet.
        &lt;br&gt;&lt;br&gt;
        Die Methoden die für einen externen Aufruf relevant sind, sind folgende:&lt;br&gt;&lt;br&gt;
        &lt;B&gt;GetCoursesCount&lt;br&gt;
        GetImportedCoursesCount&lt;br&gt;
        GetFullResultBySimpleQueryString
        &lt;/B&gt;&lt;br&gt;&lt;br&gt;
        Alle anderen Methoden werden von uns intern verwendet und geben keine für Sie verwertbaren Ergebnisse zurück.
        &lt;br&gt;&lt;br&gt;
        Für eine formatierte Ausgabe benutzen Sie bitte &lt;B&gt;http://index.Iwwb.de/FormatedSearcher.aspx.&lt;/B&gt; Diesem Dienst können Sie ein &lt;a href="http://www.w3.org/TR/xslt" target="_blank"&gt;XSLT Stylesheet&lt;/a&gt; übergeben und die Ausgabe erfolgt formatiert.&lt;br&gt;
        &lt;br&gt;
        &lt;B&gt;Parameter:&lt;/B&gt;&lt;br&gt;
        &lt;ul&gt;
         &lt;li&gt;luceneQuery
           &lt;ul&gt;
             &lt;li&gt;siehe Onlinehilfe http://lucene.apache.org/java/docs/queryparsersyntax.html&lt;/li&gt;
             &lt;li&gt;Fields&lt;/li&gt;
             &lt;ul&gt;
                &lt;li&gt;'words' (Volltext Zusammenfassung)&lt;/li&gt;
                &lt;li&gt;'trainingSupplierName'&lt;/li&gt;
                &lt;li&gt;'supplier'&lt;/li&gt;
                &lt;li&gt;'publisher'&lt;/li&gt;
                &lt;li&gt;'keywords'&lt;/li&gt;
                &lt;li&gt;'name'&lt;/li&gt;
                &lt;li&gt;'description'&lt;/li&gt;
                &lt;li&gt;'internalSupplierName'&lt;/li&gt;
                &lt;li&gt;'city'&lt;/li&gt;
                &lt;li&gt;'zip'&lt;/li&gt;
                &lt;li&gt;'type'&lt;/li&gt;
                &lt;li&gt;'startTime'&lt;/li&gt;
             &lt;/ul&gt;
           &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;page
            &lt;ul&gt;
                &lt;li&gt;Altuelle Seite des Pagings&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;resultPerPage
            &lt;ul&gt;
                &lt;li&gt;Anzahl der Resultate pro Seite&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;maxResult
            &lt;ul&gt;
                &lt;li&gt;Maximale Anzahl der Resultate&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;    
         &lt;li&gt;xslStylesheet (Optional)
            &lt;ul&gt;
                &lt;li&gt;URI zum XSLT&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
         &lt;li&gt;sort
            &lt;ul&gt;
                &lt;li&gt;Parameter (Fields)
                &lt;ul&gt;
                &lt;li&gt;'words' (Volltext Zusammenfassung)&lt;/li&gt;
                &lt;li&gt;'trainingSupplierName'&lt;/li&gt;
                &lt;li&gt;'supplier'&lt;/li&gt;
                &lt;li&gt;'publisher'&lt;/li&gt;
                &lt;li&gt;'keywords'&lt;/li&gt;
                &lt;li&gt;'name'&lt;/li&gt;
                &lt;li&gt;'description'&lt;/li&gt;
                &lt;li&gt;'internalSupplierName'&lt;/li&gt;
                &lt;li&gt;'city'&lt;/li&gt;
                &lt;li&gt;'zip'&lt;/li&gt;
                &lt;li&gt;'type'&lt;/li&gt;
                &lt;li&gt;'startTime'&lt;/li&gt;
             &lt;/ul&gt;&lt;/li&gt;
            &lt;/ul&gt;
         &lt;/li&gt;
        &lt;/ul&gt;
        &lt;B&gt;Beispiel:&lt;/B&gt;&lt;br&gt;
        &lt;font size="2"&gt;&lt;i&gt;http://index.Iwwb.de/FormatedSearcher.aspx?luceneQuery=words:(excel)%20plz:(225*)^10&amp;page=1&amp;resultPerPage=10&amp;maxResult=100&amp;xslStylesheet=http://index.Iwwb.de/docs/IndexSearcher.xslt&amp;sort=city
        &lt;br&gt;&lt;br&gt;
        Ein Beispiel-Stylesheet können Sie &lt;a href="http://index.Iwwb.de/docs/stylesheet.zip" target="_blank"&gt;hier&lt;/a&gt; runterladen.
        &lt;br&gt;&lt;br&gt;
        Eine technische Beschreibung des WebService (WSDL) erhalten Sie hier: &lt;a href="http://index.Iwwb.de/Searcher.asmx?wsdl"&gt;WSDL&lt;/a&gt;&lt;br&gt;&lt;br&gt;
        &lt;/font&gt;
        </wsdl:documentation>
      <wsdl:port name="Iwwb_x0020_SearcherSoap" binding="tns:Iwwb_x0020_SearcherSoap">
         <soap:address location="http://ws.soatrader.com/iwwb.de/0.1/Iwwb_x0020_Searcher"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>