wsdl_repositories/soatrader - Copy/JaronSoftWebService_Network.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservice.jaron.cn/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservice.jaron.cn/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.jaron.cn/">
         <s:element name="GetWeather">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenceKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWeatherSoapIn">
      <wsdl:part name="parameters" element="tns:GetWeather"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapOut">
      <wsdl:part name="parameters" element="tns:GetWeatherResponse"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherHttpGetIn">
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="LicenceKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherHttpPostIn">
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="LicenceKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="JaronSoftWebService_NetworkSoap"
                 type="tns:JaronSoftWebService_NetworkSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetWeather">
         <soap:operation soapAction="http://webservice.jaron.cn/GetWeather" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="JaronSoftWebService_Network">
      <wsdl:port name="JaronSoftWebService_NetworkSoap"
                 binding="tns:JaronSoftWebService_NetworkSoap">
         <soap:address location="http://ws.soatrader.com/jaron.cn/0.1/JaronSoftWebService_Network"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>