wsdl_repositories/soatrader - Copy/locationRouting.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="LocationSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LocationSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LocationSearchResult" type="tns:LocationList"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="LocationList">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorResponse" type="tns:ErrorResponse"/>
               <s:element minOccurs="0" maxOccurs="1" name="RentalLocations" type="tns:ArrayOfLocation"/>
            </s:sequence>
            <s:attribute name="NumberOfLocationsReturned" type="s:int" use="required"/>
         </s:complexType>
         <s:complexType name="ErrorResponse">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true"
                          type="tns:Location"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LocationOAG" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressStreet1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressStreet2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="LocationSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LocationSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LocationSearchResult" type="tns:LocationList"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="LocationList">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorResponse" type="tns:ErrorResponse"/>
               <s:element minOccurs="0" maxOccurs="1" name="RentalLocations" type="tns:ArrayOfLocation"/>
            </s:sequence>
            <s:attribute name="NumberOfLocationsReturned" type="s:int" use="required"/>
         </s:complexType>
         <s:complexType name="ErrorResponse">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true"
                          type="tns:Location"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LocationOAG" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressStreet1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressStreet2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LocationSearchSoapIn">
      <wsdl:part name="parameters" element="tns:LocationSearch"/>
  </wsdl:message>
  <wsdl:message name="LocationSearchSoapOut">
      <wsdl:part name="parameters" element="tns:LocationSearchResponse"/>
  </wsdl:message>
  <wsdl:portType name="locationRoutingSoap">
      <wsdl:operation name="LocationSearch">
         <wsdl:input message="tns:LocationSearchSoapIn"/>
         <wsdl:output message="tns:LocationSearchSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="locationRoutingSoap" type="tns:locationRoutingSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="LocationSearch">
         <soap:operation soapAction="http://tempuri.org/LocationSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="locationRouting">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="locationRoutingSoap" binding="tns:locationRoutingSoap">
         <soap:address location="http://ws.soatrader.com/htzpartners.com/0.1/locationRouting"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>