wsdl_repositories/soatrader - Copy/Location.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.annotatedearct.com/Service"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.annotatedearct.com/Service">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This is the AnnotatedEarth Location Service.  It can be used to interact with the AE Location Aware System.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.annotatedearct.com/Service">
         <s:element name="RandomLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RandomLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RandomLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CanEditLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CanEditLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CanEditLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CanAccessLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CanAccessLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CanAccessLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountries">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="logon">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="logonResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="logonResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsersGroups">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsersGroupsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUsersGroupsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindLoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="feet" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bRetInFeet" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sOrder" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bDesc" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindLocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindLocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindNearByFeet">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="feet" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bRetInFeet" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sOrder" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bDesc" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindNearByFeetResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindNearByFeetResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindNear">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="feet" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindNearResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindNearResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMyLocs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="descending" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMyLocsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMyLocsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategories">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategoriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCategoriesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="countrycode" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Vote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="vote" type="s:short"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VoteResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="vote" type="s:short"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeVoteResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsersVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsersVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUsersVoteResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddLoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="countrycode" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="devkeys" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddLocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddLocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByGroupResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGroupInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGroupInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGroupInfoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByCategoryResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGuestAccount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGuestAccountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGuestAccountResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeImage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imagename" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeImageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeImageResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteLocationResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPollRate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="system" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPollRateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPollRateResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RandomLocationSoapIn">
      <wsdl:part name="parameters" element="tns:RandomLocation"/>
  </wsdl:message>
  <wsdl:message name="RandomLocationSoapOut">
      <wsdl:part name="parameters" element="tns:RandomLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocation"/>
  </wsdl:message>
  <wsdl:message name="GetLocationSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="CanEditLocationSoapIn">
      <wsdl:part name="parameters" element="tns:CanEditLocation"/>
  </wsdl:message>
  <wsdl:message name="CanEditLocationSoapOut">
      <wsdl:part name="parameters" element="tns:CanEditLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="CanAccessLocationSoapIn">
      <wsdl:part name="parameters" element="tns:CanAccessLocation"/>
  </wsdl:message>
  <wsdl:message name="CanAccessLocationSoapOut">
      <wsdl:part name="parameters" element="tns:CanAccessLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountries"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetStates"/>
  </wsdl:message>
  <wsdl:message name="GetStatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesResponse"/>
  </wsdl:message>
  <wsdl:message name="logonSoapIn">
      <wsdl:part name="parameters" element="tns:logon"/>
  </wsdl:message>
  <wsdl:message name="logonSoapOut">
      <wsdl:part name="parameters" element="tns:logonResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUsersGroupsSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsersGroups"/>
  </wsdl:message>
  <wsdl:message name="GetUsersGroupsSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsersGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="FindLocSoapIn">
      <wsdl:part name="parameters" element="tns:FindLoc"/>
  </wsdl:message>
  <wsdl:message name="FindLocSoapOut">
      <wsdl:part name="parameters" element="tns:FindLocResponse"/>
  </wsdl:message>
  <wsdl:message name="FindNearByFeetSoapIn">
      <wsdl:part name="parameters" element="tns:FindNearByFeet"/>
  </wsdl:message>
  <wsdl:message name="FindNearByFeetSoapOut">
      <wsdl:part name="parameters" element="tns:FindNearByFeetResponse"/>
  </wsdl:message>
  <wsdl:message name="FindNearSoapIn">
      <wsdl:part name="parameters" element="tns:FindNear"/>
  </wsdl:message>
  <wsdl:message name="FindNearSoapOut">
      <wsdl:part name="parameters" element="tns:FindNearResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMyLocsSoapIn">
      <wsdl:part name="parameters" element="tns:GetMyLocs"/>
  </wsdl:message>
  <wsdl:message name="GetMyLocsSoapOut">
      <wsdl:part name="parameters" element="tns:GetMyLocsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCategories"/>
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCategoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateLocationSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateLocation"/>
  </wsdl:message>
  <wsdl:message name="UpdateLocationSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="VoteSoapIn">
      <wsdl:part name="parameters" element="tns:Vote"/>
  </wsdl:message>
  <wsdl:message name="VoteSoapOut">
      <wsdl:part name="parameters" element="tns:VoteResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeVoteSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeVote"/>
  </wsdl:message>
  <wsdl:message name="ChangeVoteSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUsersVoteSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsersVote"/>
  </wsdl:message>
  <wsdl:message name="GetUsersVoteSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsersVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="AddLocSoapIn">
      <wsdl:part name="parameters" element="tns:AddLoc"/>
  </wsdl:message>
  <wsdl:message name="AddLocSoapOut">
      <wsdl:part name="parameters" element="tns:AddLocResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByGroupSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationsByGroup"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByGroupSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationsByGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGroupInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetGroupInfo"/>
  </wsdl:message>
  <wsdl:message name="GetGroupInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetGroupInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByCategorySoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationsByCategory"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByCategorySoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationsByCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGuestAccountSoapIn">
      <wsdl:part name="parameters" element="tns:GetGuestAccount"/>
  </wsdl:message>
  <wsdl:message name="GetGuestAccountSoapOut">
      <wsdl:part name="parameters" element="tns:GetGuestAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeImageSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeImage"/>
  </wsdl:message>
  <wsdl:message name="ChangeImageSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeImageResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteLocationSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteLocation"/>
  </wsdl:message>
  <wsdl:message name="DeleteLocationSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPollRateSoapIn">
      <wsdl:part name="parameters" element="tns:GetPollRate"/>
  </wsdl:message>
  <wsdl:message name="GetPollRateSoapOut">
      <wsdl:part name="parameters" element="tns:GetPollRateResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="LocationSoap" type="tns:LocationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RandomLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/RandomLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetLocation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CanEditLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/CanEditLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CanAccessLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/CanAccessLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountries">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetCountries"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStates">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetStates" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="logon">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/logon" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUsersGroups">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetUsersGroups"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindLoc">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/FindLoc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindNearByFeet">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/FindNearByFeet"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindNear">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/FindNear" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMyLocs">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetMyLocs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCategories">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetCategories"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/UpdateLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Vote">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/Vote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeVote">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/ChangeVote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUsersVote">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetUsersVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddLoc">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/AddLoc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationsByGroup">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetLocationsByGroup"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGroupInfo">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetGroupInfo"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationsByCategory">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetLocationsByCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGuestAccount">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetGuestAccount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeImage">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/ChangeImage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteLocation">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/DeleteLocation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPollRate">
         <soap:operation soapAction="http://www.annotatedearct.com/Service/GetPollRate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Location">
      <wsdl:documentation>This is the AnnotatedEarth Location Service.  It can be used to interact with the AE Location Aware System.</wsdl:documentation>
      <wsdl:port name="LocationSoap" binding="tns:LocationSoap">
         <soap:address location="http://ws.soatrader.com/annotatedearth.com/0.1/Location"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>