wsdl_repositories/soatrader - Copy/LocationFuncs.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://wc2.slvnisg.com/services"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://wc2.slvnisg.com/services">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://wc2.slvnisg.com/services">
         <s:element name="GetStatesByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLocationsByStateAndCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByStateAndCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByStateAndCampaignIDResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true"
                          type="tns:Location"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CampaignID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAddress1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAddress2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationCounty" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationZip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationFax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NLCRegion" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NLCID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BeginAgeGrade" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EndAgeGrade" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DVPName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DVPEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EDName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EDEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrincipalName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrincipalEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EmailLink" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ThankyouLink" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="Updated" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ModifiedByID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CordName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CordEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CorpEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HealthWellnessActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SportsActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CampActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreschoolActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AquaticsActivities" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDepartmentsByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDepartmentsByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByDepartmentAndCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strDepartment" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByDepartmentAndCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByDepartmentAndCampaignIDResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDAndFieldFilled">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strFieldName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDAndFieldFilledResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByCampaignIDAndFieldFilledResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCampaignIDCountyNameProgramName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCountyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strProgramName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCampaignIDCountyNameProgramNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetLocationsByCampaignIDCountyNameProgramNameResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetActivitiesByLocationIDProgramName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strLocationID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strProgramName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetActivitiesByLocationIDProgramNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesByLocationIDProgramNameResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://wc2.slvnisg.com/services">
         <s:element name="GetStatesByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLocationsByStateAndCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByStateAndCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByStateAndCampaignIDResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true"
                          type="tns:Location"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CampaignID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAddress1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAddress2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationCounty" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationZip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationFax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NLCRegion" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NLCID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BeginAgeGrade" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EndAgeGrade" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DVPName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DVPEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EDName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EDEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrincipalName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrincipalEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EmailLink" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ThankyouLink" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="Updated" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ModifiedByID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CordName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CordEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CorpName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CorpEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HealthWellnessActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SportsActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CampActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreschoolActivities" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AquaticsActivities" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDepartmentsByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDepartmentsByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByDepartmentAndCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strDepartment" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByDepartmentAndCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByDepartmentAndCampaignIDResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDAndFieldFilled">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strFieldName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDAndFieldFilledResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByCampaignIDAndFieldFilledResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByCampaignIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByCampaignIDResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCampaignIDCountyNameProgramName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strCampaignID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strCountyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strProgramName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationsByCampaignIDCountyNameProgramNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetLocationsByCampaignIDCountyNameProgramNameResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetActivitiesByLocationIDProgramName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strLocationID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strProgramName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetActivitiesByLocationIDProgramNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesByLocationIDProgramNameResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatesByCampaignIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesByCampaignID"/>
  </wsdl:message>
  <wsdl:message name="GetStatesByCampaignIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesByCampaignIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByStateAndCampaignIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationsByStateAndCampaignID"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByStateAndCampaignIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationsByStateAndCampaignIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByCampaignIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetDepartmentsByCampaignID"/>
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByCampaignIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetDepartmentsByCampaignIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByDepartmentAndCampaignIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationsByDepartmentAndCampaignID"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByDepartmentAndCampaignIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationsByDepartmentAndCampaignIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByCampaignIDAndFieldFilledSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountiesByCampaignIDAndFieldFilled"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByCampaignIDAndFieldFilledSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountiesByCampaignIDAndFieldFilledResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByCampaignIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountiesByCampaignID"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByCampaignIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountiesByCampaignIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByCampaignIDCountyNameProgramNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationsByCampaignIDCountyNameProgramName"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsByCampaignIDCountyNameProgramNameSoapOut">
      <wsdl:part name="parameters"
                 element="tns:GetLocationsByCampaignIDCountyNameProgramNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetActivitiesByLocationIDProgramNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetActivitiesByLocationIDProgramName"/>
  </wsdl:message>
  <wsdl:message name="GetActivitiesByLocationIDProgramNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetActivitiesByLocationIDProgramNameResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="LocationFuncsSoap" type="tns:LocationFuncsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetStatesByCampaignID">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetStatesByCampaignID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationsByStateAndCampaignID">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetLocationsByStateAndCampaignID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDepartmentsByCampaignID">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetDepartmentsByCampaignID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationsByDepartmentAndCampaignID">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetLocationsByDepartmentAndCampaignID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountiesByCampaignIDAndFieldFilled">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetCountiesByCampaignIDAndFieldFilled"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountiesByCampaignID">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetCountiesByCampaignID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationsByCampaignIDCountyNameProgramName">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetLocationsByCampaignIDCountyNameProgramName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetActivitiesByLocationIDProgramName">
         <soap:operation soapAction="http://wc2.slvnisg.com/services/GetActivitiesByLocationIDProgramName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LocationFuncs">
      <wsdl:port name="LocationFuncsSoap" binding="tns:LocationFuncsSoap">
         <soap:address location="http://ws.soatrader.com/ymca-maryland.com/0.1/LocationFuncs"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>