wsdl_repositories/soatrader - Copy/loomreg.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://producers.loomreg.xtee.riik.ee/producer/loomreg"
                  xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                  targetNamespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"
                  name="lrdef">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg">
         <import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
                 schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                 schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="Vaartus">
            <sequence>
               <element name="nimi" type="xsd:string"/>
               <element name="vaartus" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="Valjund">
            <sequence>
               <element name="kood" type="xsd:string"/>
               <element name="kontekst" type="xsd:string" nillable="true"/>
               <element name="tekst" type="xsd:string" nillable="true"/>
            </sequence>
         </complexType>
         <complexType name="SelJkkAsendusmark_paring">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Vaartus" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkAsendusmark_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkEhitis_paring">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Vaartus" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkEhitis_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkKlient_paring">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Vaartus" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkKlient_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkLoom_paring">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Vaartus" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkLoom_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkLoomAsukoht_paring">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Vaartus" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="SelJkkLoomAsukoht_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="DoJkkKorvamark_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="DoJkkAsendusmark_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="tns:Valjund" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ListMethods_vastus">
            <complexContent>
               <restriction base="SOAP-ENC:Array">
                  <sequence>
                     <element name="item" type="string" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
  </wsdl:types>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkAsendusmark">
      <part name="keha" type="tns:SelJkkAsendusmark_paring"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkAsendusmarkResponse">
      <part name="paring" type="tns:SelJkkAsendusmark_paring"/>
      <part name="keha" type="tns:SelJkkAsendusmark_vastus"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkEhitis">
      <part name="keha" type="tns:SelJkkEhitis_paring"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkEhitisResponse">
      <part name="paring" type="tns:SelJkkEhitis_paring"/>
      <part name="keha" type="tns:SelJkkEhitis_vastus"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkKlient">
      <part name="keha" type="tns:SelJkkKlient_paring"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkKlientResponse">
      <part name="paring" type="tns:SelJkkKlient_paring"/>
      <part name="keha" type="tns:SelJkkKlient_vastus"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkLoom">
      <part name="keha" type="tns:SelJkkLoom_paring"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkLoomResponse">
      <part name="paring" type="tns:SelJkkLoom_paring"/>
      <part name="keha" type="tns:SelJkkLoom_vastus"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkLoomAsukoht">
      <part name="keha" type="tns:SelJkkLoomAsukoht_paring"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="selJkkLoomAsukohtResponse">
      <part name="paring" type="tns:SelJkkLoomAsukoht_paring"/>
      <part name="keha" type="tns:SelJkkLoomAsukoht_vastus"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="doJkkKorvamark">
      <part name="keha" type="xsd:string"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="doJkkKorvamarkResponse">
      <part name="paring" type="xsd:string"/>
      <part name="keha" type="tns:DoJkkKorvamark_vastus"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="doJkkAsendusmark">
      <part name="keha" type="xsd:string"/>
      <part name="tbl" type="xsd:base64Binary"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="doJkkAsendusmarkResponse">
      <part name="paring" type="xsd:string"/>
      <part name="keha" type="tns:DoJkkAsendusmark_vastus"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="listMethods">
      <part name="keha" type="xsd:string"/>
  </message>
  <message xmlns="http://schemas.xmlsoap.org/wsdl/" name="listMethodsResponse">
      <part name="keha" type="tns:ListMethods_vastus"/>
  </message>
  
  <portType xmlns="http://schemas.xmlsoap.org/wsdl/" name="lrporttype">
      <operation name="selJkkAsendusmark">
         <input message="tns:selJkkAsendusmark"/>
         <output message="tns:selJkkAsendusmarkResponse"/>
      </operation>
      <operation name="selJkkEhitis">
         <input message="tns:selJkkEhitis"/>
         <output message="tns:selJkkEhitisResponse"/>
      </operation>
      <operation name="selJkkKlient">
         <input message="tns:selJkkKlient"/>
         <output message="tns:selJkkKlientResponse"/>
      </operation>
      <operation name="selJkkLoom">
         <input message="tns:selJkkLoom"/>
         <output message="tns:selJkkLoomResponse"/>
      </operation>
      <operation name="selJkkLoomAsukoht">
         <input message="tns:selJkkLoomAsukoht"/>
         <output message="tns:selJkkLoomAsukohtResponse"/>
      </operation>
      <operation name="doJkkAsendusmark">
         <input message="tns:doJkkAsendusmark"/>
         <output message="tns:doJkkAsendusmarkResponse"/>
      </operation>
      <operation name="doJkkKorvamark">
         <input message="tns:doJkkKorvamark"/>
         <output message="tns:doJkkKorvamarkResponse"/>
      </operation>
      <operation name="listMethods">
         <documentation>
            <xtee:title>listMethods</xtee:title>
         </documentation>
         <input message="tns:listMethods"/>
         <output message="tns:listMethodsResponse"/>
      </operation>
  </portType>
  <binding xmlns="http://schemas.xmlsoap.org/wsdl/" name="lrbinding" type="tns:lrporttype">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="selJkkAsendusmark">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="paring keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </output>
      </operation>
      <operation name="selJkkEhitis">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="paring keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </output>
      </operation>
      <operation name="selJkkKlient">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="paring keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </output>
      </operation>
      <operation name="selJkkLoom">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="paring keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </output>
      </operation>
      <operation name="selJkkLoomAsukoht">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="paring keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </output>
      </operation>
      <operation name="doJkkAsendusmark">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </output>
      </operation>
      <operation name="doJkkKorvamark">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <mime:multipartRelated>
               <mime:part>
            
                  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             parts="keha"
                             namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
               </mime:part>
               <mime:part>
                  <mime:content part="tbl" type="application/octet-stream"/>
               </mime:part>
            </mime:multipartRelated>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
        
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.loomreg.xtee.riik.ee/producer/loomreg"/>
         </output>
      </operation>
      <operation name="listMethods">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       parts="keha"
                       namespace="x-tee.riik.ee/xsd/xtee.xsd"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       parts="keha"
                       namespace="x-tee.riik.ee/xsd/xtee.xsd"/>
         </output>
      </operation>
  </binding>
  <service xmlns="http://schemas.xmlsoap.org/wsdl/" name="loomreg">
      <port name="loomreg" binding="tns:lrbinding">
         <soap:address location="http://ws.soatrader.com/riik.ee/0.3/loomreg"/>
         <xtee:title>Loomade register</xtee:title>
         <xtee:address producer="loomreg"/>
      </port>
  </service>
</wsdl:definitions>