wsdl_repositories/soatrader - Copy/Mail.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.acrosscommunications.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.acrosscommunications.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.acrosscommunications.com/">
         <s:element name="SetTo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetToResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetTo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetToResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetToResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFrom">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFromResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetFrom">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFromResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFromResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetCc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetCcResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetCc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCcResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCcResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetBcc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetBccResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetBcc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBccResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBccResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFormat">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFormatResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetFormat">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFormatResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFormatResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSubject">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSubjectResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSubject">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSubjectResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSubjectResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetBody">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetBodyResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetBody">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBodyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBodyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSMTP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSMTPResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSMTP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSMTPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSMTPResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Send">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SetSearchString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSearchStringResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSearchString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Release">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReleaseResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SetToSoapIn">
      <wsdl:part name="parameters" element="tns:SetTo"/>
  </wsdl:message>
  <wsdl:message name="SetToSoapOut">
      <wsdl:part name="parameters" element="tns:SetToResponse"/>
  </wsdl:message>
  <wsdl:message name="GetToSoapIn">
      <wsdl:part name="parameters" element="tns:GetTo"/>
  </wsdl:message>
  <wsdl:message name="GetToSoapOut">
      <wsdl:part name="parameters" element="tns:GetToResponse"/>
  </wsdl:message>
  <wsdl:message name="SetFromSoapIn">
      <wsdl:part name="parameters" element="tns:SetFrom"/>
  </wsdl:message>
  <wsdl:message name="SetFromSoapOut">
      <wsdl:part name="parameters" element="tns:SetFromResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFromSoapIn">
      <wsdl:part name="parameters" element="tns:GetFrom"/>
  </wsdl:message>
  <wsdl:message name="GetFromSoapOut">
      <wsdl:part name="parameters" element="tns:GetFromResponse"/>
  </wsdl:message>
  <wsdl:message name="SetCcSoapIn">
      <wsdl:part name="parameters" element="tns:SetCc"/>
  </wsdl:message>
  <wsdl:message name="SetCcSoapOut">
      <wsdl:part name="parameters" element="tns:SetCcResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCcSoapIn">
      <wsdl:part name="parameters" element="tns:GetCc"/>
  </wsdl:message>
  <wsdl:message name="GetCcSoapOut">
      <wsdl:part name="parameters" element="tns:GetCcResponse"/>
  </wsdl:message>
  <wsdl:message name="SetBccSoapIn">
      <wsdl:part name="parameters" element="tns:SetBcc"/>
  </wsdl:message>
  <wsdl:message name="SetBccSoapOut">
      <wsdl:part name="parameters" element="tns:SetBccResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBccSoapIn">
      <wsdl:part name="parameters" element="tns:GetBcc"/>
  </wsdl:message>
  <wsdl:message name="GetBccSoapOut">
      <wsdl:part name="parameters" element="tns:GetBccResponse"/>
  </wsdl:message>
  <wsdl:message name="SetFormatSoapIn">
      <wsdl:part name="parameters" element="tns:SetFormat"/>
  </wsdl:message>
  <wsdl:message name="SetFormatSoapOut">
      <wsdl:part name="parameters" element="tns:SetFormatResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFormatSoapIn">
      <wsdl:part name="parameters" element="tns:GetFormat"/>
  </wsdl:message>
  <wsdl:message name="GetFormatSoapOut">
      <wsdl:part name="parameters" element="tns:GetFormatResponse"/>
  </wsdl:message>
  <wsdl:message name="SetSubjectSoapIn">
      <wsdl:part name="parameters" element="tns:SetSubject"/>
  </wsdl:message>
  <wsdl:message name="SetSubjectSoapOut">
      <wsdl:part name="parameters" element="tns:SetSubjectResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSubjectSoapIn">
      <wsdl:part name="parameters" element="tns:GetSubject"/>
  </wsdl:message>
  <wsdl:message name="GetSubjectSoapOut">
      <wsdl:part name="parameters" element="tns:GetSubjectResponse"/>
  </wsdl:message>
  <wsdl:message name="SetBodySoapIn">
      <wsdl:part name="parameters" element="tns:SetBody"/>
  </wsdl:message>
  <wsdl:message name="SetBodySoapOut">
      <wsdl:part name="parameters" element="tns:SetBodyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBodySoapIn">
      <wsdl:part name="parameters" element="tns:GetBody"/>
  </wsdl:message>
  <wsdl:message name="GetBodySoapOut">
      <wsdl:part name="parameters" element="tns:GetBodyResponse"/>
  </wsdl:message>
  <wsdl:message name="SetSMTPSoapIn">
      <wsdl:part name="parameters" element="tns:SetSMTP"/>
  </wsdl:message>
  <wsdl:message name="SetSMTPSoapOut">
      <wsdl:part name="parameters" element="tns:SetSMTPResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSMTPSoapIn">
      <wsdl:part name="parameters" element="tns:GetSMTP"/>
  </wsdl:message>
  <wsdl:message name="GetSMTPSoapOut">
      <wsdl:part name="parameters" element="tns:GetSMTPResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
      <wsdl:part name="parameters" element="tns:Send"/>
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
      <wsdl:part name="parameters" element="tns:SendResponse"/>
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapIn">
      <wsdl:part name="parameters" element="tns:SetSearchString"/>
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapOut">
      <wsdl:part name="parameters" element="tns:SetSearchStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapIn">
      <wsdl:part name="parameters" element="tns:GetSearchString"/>
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapOut">
      <wsdl:part name="parameters" element="tns:GetSearchStringResponse"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapIn">
      <wsdl:part name="parameters" element="tns:Release"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapOut">
      <wsdl:part name="parameters" element="tns:ReleaseResponse"/>
  </wsdl:message>
  <wsdl:portType name="MailSoap">
      <wsdl:operation name="SetTo">
         <wsdl:input message="tns:SetToSoapIn"/>
         <wsdl:output message="tns:SetToSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTo">
         <wsdl:input message="tns:GetToSoapIn"/>
         <wsdl:output message="tns:GetToSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetFrom">
         <wsdl:input message="tns:SetFromSoapIn"/>
         <wsdl:output message="tns:SetFromSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFrom">
         <wsdl:input message="tns:GetFromSoapIn"/>
         <wsdl:output message="tns:GetFromSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetCc">
         <wsdl:input message="tns:SetCcSoapIn"/>
         <wsdl:output message="tns:SetCcSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetCc">
         <wsdl:input message="tns:GetCcSoapIn"/>
         <wsdl:output message="tns:GetCcSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetBcc">
         <wsdl:input message="tns:SetBccSoapIn"/>
         <wsdl:output message="tns:SetBccSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBcc">
         <wsdl:input message="tns:GetBccSoapIn"/>
         <wsdl:output message="tns:GetBccSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetFormat">
         <wsdl:input message="tns:SetFormatSoapIn"/>
         <wsdl:output message="tns:SetFormatSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFormat">
         <wsdl:input message="tns:GetFormatSoapIn"/>
         <wsdl:output message="tns:GetFormatSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetSubject">
         <wsdl:input message="tns:SetSubjectSoapIn"/>
         <wsdl:output message="tns:SetSubjectSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSubject">
         <wsdl:input message="tns:GetSubjectSoapIn"/>
         <wsdl:output message="tns:GetSubjectSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetBody">
         <wsdl:input message="tns:SetBodySoapIn"/>
         <wsdl:output message="tns:SetBodySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBody">
         <wsdl:input message="tns:GetBodySoapIn"/>
         <wsdl:output message="tns:GetBodySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetSMTP">
         <wsdl:input message="tns:SetSMTPSoapIn"/>
         <wsdl:output message="tns:SetSMTPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSMTP">
         <wsdl:input message="tns:GetSMTPSoapIn"/>
         <wsdl:output message="tns:GetSMTPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Send">
         <wsdl:input message="tns:SendSoapIn"/>
         <wsdl:output message="tns:SendSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetSearchString">
         <wsdl:input message="tns:SetSearchStringSoapIn"/>
         <wsdl:output message="tns:SetSearchStringSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSearchString">
         <wsdl:input message="tns:GetSearchStringSoapIn"/>
         <wsdl:output message="tns:GetSearchStringSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <wsdl:input message="tns:ReleaseSoapIn"/>
         <wsdl:output message="tns:ReleaseSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSoap" type="tns:MailSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SetTo">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetTo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTo">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetTo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetFrom">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetFrom" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFrom">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetFrom" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetCc">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetCc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCc">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetCc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetBcc">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetBcc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBcc">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetBcc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetFormat">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetFormat" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFormat">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetFormat" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetSubject">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetSubject" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSubject">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetSubject" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetBody">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetBody" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBody">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetBody" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetSMTP">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetSMTP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSMTP">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetSMTP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Send">
         <soap:operation soapAction="http://ws.acrosscommunications.com/Send" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetSearchString">
         <soap:operation soapAction="http://ws.acrosscommunications.com/SetSearchString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSearchString">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetSearchString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <soap:operation soapAction="http://ws.acrosscommunications.com/Release" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mail">
      <wsdl:port name="MailSoap" binding="tns:MailSoap">
         <soap:address location="http://ws.soatrader.com/acrosscommunications.com/0.1/Mail"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>