wsdl_repositories/soatrader - Copy/MemberServiceClass.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="WSCrear">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sPersonalId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sSurname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sUserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sEmail" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bIsDoctor" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bIsPhDStudent" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sWeb" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sPhoto" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iInitialYear" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iInitialMonth" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iGrupo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sContraseña" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSCrearResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSCrearResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSDestruir">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSDestruirResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSDestruirResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSModificar">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sUserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sPersonalId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sSurname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sEmail" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bIsDoctor" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bIsPhDStudent" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sWeb" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sPhoto" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iInitialYear" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iInitialMonth" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_iGrupo" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSModificarResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSModificarResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSModificarContraseña">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sContraseña_antigua" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sContraseña_nueva" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSModificarContraseñaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSModificarContraseñaResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarMiembro">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarMiembroResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="WSRecuperarMiembroResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarPoblacion">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sFiltro" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bActivos" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarPoblacionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="WSRecuperarPoblacionResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSBuscar">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sFiltro" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_bActivos" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSBuscarResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="WSBuscarResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSPromoverAAdministrador">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSPromoverAAdministradorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSPromoverAAdministradorResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarRelacionados">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sRelacion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSRecuperarRelacionadosResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="WSRecuperarRelacionadosResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSAsignarRelacionados">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oidMiembro" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oidLaOtraRelacion" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sRelacion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSAsignarRelacionadosResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSAsignarRelacionadosResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSLiberarRelacionados">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sAgente" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oidMiembro" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="p_i_oidLaOtraRelacion" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_sRelacion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WSLiberarRelacionadosResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="WSLiberarRelacionadosResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="WSCrearSoapIn">
      <wsdl:part name="parameters" element="tns:WSCrear"/>
  </wsdl:message>
  <wsdl:message name="WSCrearSoapOut">
      <wsdl:part name="parameters" element="tns:WSCrearResponse"/>
  </wsdl:message>
  <wsdl:message name="WSDestruirSoapIn">
      <wsdl:part name="parameters" element="tns:WSDestruir"/>
  </wsdl:message>
  <wsdl:message name="WSDestruirSoapOut">
      <wsdl:part name="parameters" element="tns:WSDestruirResponse"/>
  </wsdl:message>
  <wsdl:message name="WSModificarSoapIn">
      <wsdl:part name="parameters" element="tns:WSModificar"/>
  </wsdl:message>
  <wsdl:message name="WSModificarSoapOut">
      <wsdl:part name="parameters" element="tns:WSModificarResponse"/>
  </wsdl:message>
  <wsdl:message name="WSModificarContraseñaSoapIn">
      <wsdl:part name="parameters" element="tns:WSModificarContraseña"/>
  </wsdl:message>
  <wsdl:message name="WSModificarContraseñaSoapOut">
      <wsdl:part name="parameters" element="tns:WSModificarContraseñaResponse"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarMiembroSoapIn">
      <wsdl:part name="parameters" element="tns:WSRecuperarMiembro"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarMiembroSoapOut">
      <wsdl:part name="parameters" element="tns:WSRecuperarMiembroResponse"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarPoblacionSoapIn">
      <wsdl:part name="parameters" element="tns:WSRecuperarPoblacion"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarPoblacionSoapOut">
      <wsdl:part name="parameters" element="tns:WSRecuperarPoblacionResponse"/>
  </wsdl:message>
  <wsdl:message name="WSBuscarSoapIn">
      <wsdl:part name="parameters" element="tns:WSBuscar"/>
  </wsdl:message>
  <wsdl:message name="WSBuscarSoapOut">
      <wsdl:part name="parameters" element="tns:WSBuscarResponse"/>
  </wsdl:message>
  <wsdl:message name="WSPromoverAAdministradorSoapIn">
      <wsdl:part name="parameters" element="tns:WSPromoverAAdministrador"/>
  </wsdl:message>
  <wsdl:message name="WSPromoverAAdministradorSoapOut">
      <wsdl:part name="parameters" element="tns:WSPromoverAAdministradorResponse"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarRelacionadosSoapIn">
      <wsdl:part name="parameters" element="tns:WSRecuperarRelacionados"/>
  </wsdl:message>
  <wsdl:message name="WSRecuperarRelacionadosSoapOut">
      <wsdl:part name="parameters" element="tns:WSRecuperarRelacionadosResponse"/>
  </wsdl:message>
  <wsdl:message name="WSAsignarRelacionadosSoapIn">
      <wsdl:part name="parameters" element="tns:WSAsignarRelacionados"/>
  </wsdl:message>
  <wsdl:message name="WSAsignarRelacionadosSoapOut">
      <wsdl:part name="parameters" element="tns:WSAsignarRelacionadosResponse"/>
  </wsdl:message>
  <wsdl:message name="WSLiberarRelacionadosSoapIn">
      <wsdl:part name="parameters" element="tns:WSLiberarRelacionados"/>
  </wsdl:message>
  <wsdl:message name="WSLiberarRelacionadosSoapOut">
      <wsdl:part name="parameters" element="tns:WSLiberarRelacionadosResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="MemberServiceClassSoap" type="tns:MemberServiceClassSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="WSCrear">
         <soap:operation soapAction="http://tempuri.org/WSCrear" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSDestruir">
         <soap:operation soapAction="http://tempuri.org/WSDestruir" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSModificar">
         <soap:operation soapAction="http://tempuri.org/WSModificar" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSModificarContraseña">
         <soap:operation soapAction="http://tempuri.org/WSModificarContraseña" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSRecuperarMiembro">
         <soap:operation soapAction="http://tempuri.org/WSRecuperarMiembro" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSRecuperarPoblacion">
         <soap:operation soapAction="http://tempuri.org/WSRecuperarPoblacion" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSBuscar">
         <soap:operation soapAction="http://tempuri.org/WSBuscar" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSPromoverAAdministrador">
         <soap:operation soapAction="http://tempuri.org/WSPromoverAAdministrador" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSRecuperarRelacionados">
         <soap:operation soapAction="http://tempuri.org/WSRecuperarRelacionados" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSAsignarRelacionados">
         <soap:operation soapAction="http://tempuri.org/WSAsignarRelacionados" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WSLiberarRelacionados">
         <soap:operation soapAction="http://tempuri.org/WSLiberarRelacionados" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="MemberServiceClass">
      <wsdl:port name="MemberServiceClassSoap" binding="tns:MemberServiceClassSoap">
         <soap:address location="http://ws.soatrader.com/dsic.upv.es/0.1/MemberServiceClass"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>