wsdl_repositories/soatrader - Copy/OfficeResearch.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:Microsoft.Search">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Web service offers different services to integrate into Office Research features.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="urn:Microsoft.Search"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="urn:Microsoft.Search">
         <s:element name="Registration">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="registrationXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegistrationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegistrationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Query">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="queryXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Status">
            <s:complexType/>
         </s:element>
         <s:element name="StatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrationSoapIn">
      <wsdl:part name="parameters" element="tns:Registration"/>
  </wsdl:message>
  <wsdl:message name="RegistrationSoapOut">
      <wsdl:part name="parameters" element="tns:RegistrationResponse"/>
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
      <wsdl:part name="parameters" element="tns:Query"/>
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
      <wsdl:part name="parameters" element="tns:QueryResponse"/>
  </wsdl:message>
  <wsdl:message name="StatusSoapIn">
      <wsdl:part name="parameters" element="tns:Status"/>
  </wsdl:message>
  <wsdl:message name="StatusSoapOut">
      <wsdl:part name="parameters" element="tns:StatusResponse"/>
  </wsdl:message>
  <wsdl:message name="RegistrationHttpGetIn">
      <wsdl:part name="registrationXml" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RegistrationHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="QueryHttpGetIn">
      <wsdl:part name="queryXml" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="QueryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpGetIn"/>
  <wsdl:message name="StatusHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RegistrationHttpPostIn">
      <wsdl:part name="registrationXml" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RegistrationHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="QueryHttpPostIn">
      <wsdl:part name="queryXml" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="QueryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="StatusHttpPostIn"/>
  <wsdl:message name="StatusHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="OfficeResearchSoap" type="tns:OfficeResearchSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Registration">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/Registration"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Query">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/Query"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Status">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/Status"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="OfficeResearch">
      <wsdl:documentation>Web service offers different services to integrate into Office Research features.</wsdl:documentation>
      <wsdl:port name="OfficeResearchSoap" binding="tns:OfficeResearchSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/gama-system.com/0.3/OfficeResearch"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>