wsdl_repositories/soatrader - Copy/OITestService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://example.com/OITest/ws/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:oi="http://example.com/OITest/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ws="http://example.com/OITest/ws/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:ns="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/OITest/ws/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/OITest/ws/"
                  targetNamespace="http://example.com/OITest/ws/"
                  elementFormDefault="unqualified"
                  attributeFormDefault="unqualified">
    </xsi:schema>
      <xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/OITest/ws/"
                  targetNamespace="http://example.com/OITest/ws/"
                  elementFormDefault="unqualified"
                  attributeFormDefault="unqualified">
    </xsi:schema>
  </wsdl:types>
  <wsdl:message name="AvailableToSellRequest">
      <wsdl:part name="atsInquiry" element="oi:atsInquiry"/>
  </wsdl:message>
  <wsdl:message name="AvailableToSellResponse">
      <wsdl:part name="availableToSell" element="oi:availableToSell"/>
  </wsdl:message>
  <wsdl:message name="POResponse">
      <wsdl:part name="acknowledgement" element="oi:acknowledgement"/>
  </wsdl:message>
  <wsdl:message name="OITestWebServicesFault">
      <wsdl:part name="OITestFault" element="oi:OITestFault"/>
  </wsdl:message>
  <wsdl:message name="CatalogRequest">
      <wsdl:part name="catalogRequest" element="oi:catalogRequest"/>
  </wsdl:message>
  <wsdl:message name="CatalogReponse">
      <wsdl:part name="catalog" element="oi:catalog"/>
  </wsdl:message>
  <wsdl:message name="CatalogListRequest">
      <wsdl:part name="catalogListInfo" element="oi:catalogListRequest"/>
  </wsdl:message>
  <wsdl:message name="CatalogListResponse">
      <wsdl:part name="catalogList" element="oi:catalogList"/>
  </wsdl:message>
  <wsdl:message name="POSubmitRequest">
      <wsdl:part name="submitPO" element="oi:submitPO"/>
  </wsdl:message>
  <wsdl:message name="POCancelRequest">
      <wsdl:part name="cancelPO" element="oi:cancelPO"/>
  </wsdl:message>
  <wsdl:message name="POChangeRequest">
      <wsdl:part name="changePO" element="oi:changePO"/>
  </wsdl:message>
  <wsdl:portType name="OITestPort">
      <wsdl:operation name="ATSCheck">
         <wsdl:input message="ws:AvailableToSellRequest"/>
         <wsdl:output message="ws:AvailableToSellResponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
      <wsdl:operation name="POSubmit">
         <wsdl:input message="ws:POSubmitRequest"/>
         <wsdl:output message="ws:POResponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
      <wsdl:operation name="POCancel">
         <wsdl:input message="ws:POCancelRequest"/>
         <wsdl:output message="ws:POResponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
      <wsdl:operation name="POChange">
         <wsdl:input message="ws:POChangeRequest"/>
         <wsdl:output message="ws:POResponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
      <wsdl:operation name="CatalogRequest">
         <wsdl:input message="ws:CatalogRequest"/>
         <wsdl:output message="ws:CatalogReponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
      <wsdl:operation name="CatalogListRequest">
         <wsdl:input message="ws:CatalogListRequest"/>
         <wsdl:output message="ws:CatalogListResponse"/>
         <wsdl:fault name="OITestFault" message="ws:OITestWebServicesFault"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OITestBinding" type="ws:OITestPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ATSCheck">
         <soap:operation soapAction="http://example.com/OITest/ATSCheck"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="POSubmit">
         <soap:operation soapAction="http://example.com/OITest/POSubmit"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="POCancel">
         <soap:operation soapAction="http://example.com/OITest/POCancel"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="POChange">
         <soap:operation soapAction="http://example.com/OITest/POChange"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="CatalogRequest">
         <soap:operation soapAction="http://example.com/OITest/CatalogRequest"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="CatalogListRequest">
         <soap:operation soapAction="http://example.com/OITest/CatalogListRequest"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="OITestFault">
            <soap:fault name="OITestFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OITestService">
      <wsdl:port name="OITestService" binding="ws:OITestBinding">
         <soap:address location="http://ws.soatrader.com/cpan.org/0.1/OITestService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>