wsdl_repositories/soatrader - Copy/OntologySearchService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                  xmlns:intf="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://lang.java"
                  xmlns:tns2="http://DefaultNamespace"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"/>
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getLabelsResponse">

      <wsdl:part name="getLabelsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getImportsRequest">

      <wsdl:part name="ontoUri" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getNumberOfReviewsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentLocationRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSizeInBytesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentLanguagesResponse">

      <wsdl:part name="getSemanticContentLanguagesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getImportedByRequest">

      <wsdl:part name="ontoUri" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentLanguagesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getNumberOfStatementResponse">

      <wsdl:part name="getNumberOfStatementReturn" type="tns2:long"/>

   </wsdl:message>

   <wsdl:message name="getCacheLocationRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="listIndividualsResponse">

      <wsdl:part name="listIndividualsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="executeSPARQLQueryRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

      <wsdl:part name="queryString" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="listClassesResponse">

      <wsdl:part name="listClassesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsResponse">

      <wsdl:part name="getSemanticContentByKeywordsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getCommentsResponse">

      <wsdl:part name="getCommentsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="executeSPARQLQueryResponse">

      <wsdl:part name="executeSPARQLQueryReturn" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="listIndividualsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getNumberOfStatementRequest">

      <wsdl:part name="ontoUri" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getDLExpressivnessRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="submitURIResponse">

   </wsdl:message>

   <wsdl:message name="listClassesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsWithRestrictionsResponse">

      <wsdl:part name="getSemanticContentByKeywordsWithRestrictionsReturn"
                 type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getImportedByResponse">

      <wsdl:part name="getImportedByReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getDLExpressivnessResponse">

      <wsdl:part name="getDLExpressivnessReturn" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getAverageRatingResponse">

      <wsdl:part name="getAverageRatingReturn" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getBestCoverageWithRestrictionsRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="tns2:int"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getSizeInBytesResponse">

      <wsdl:part name="getSizeInBytesReturn" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="getCommentsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="listPropertiesResponse">

      <wsdl:part name="listPropertiesReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="submitURIRequest">

      <wsdl:part name="uri" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="listPropertiesRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getCacheLocationResponse">

      <wsdl:part name="getCacheLocationReturn" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentLocationResponse">

      <wsdl:part name="getSemanticContentLocationReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="listSemanticContentsResponse">

      <wsdl:part name="listSemanticContentsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsWithRestrictionsRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="xsd:anyType"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getRevyuURLRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getImportsResponse">

      <wsdl:part name="getImportsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getRevyuURLResponse">

      <wsdl:part name="getRevyuURLReturn" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getNumberOfReviewsResponse">

      <wsdl:part name="getNumberOfReviewsReturn" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="listSemanticContentsRequest">

      <wsdl:part name="start" type="tns2:int"/>

      <wsdl:part name="stop" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsWithRestrictionsPaginatedResponse">

      <wsdl:part name="getSemanticContentByKeywordsWithRestrictionsPaginatedReturn"
                 type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getSemanticContentByKeywordsWithRestrictionsPaginatedRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="tns2:int"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

      <wsdl:part name="start" type="tns2:int"/>

      <wsdl:part name="inc" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="getAverageRatingRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:message name="getBestCoverageWithRestrictionsResponse">

      <wsdl:part name="getBestCoverageWithRestrictionsReturn" type="impl:ArrayOf_tns1_String"/>

   </wsdl:message>

   <wsdl:message name="getLabelsRequest">

      <wsdl:part name="ontoURI" type="tns1:String"/>

   </wsdl:message>

   <wsdl:portType name="OntologySearch">

      <wsdl:operation name="listProperties" parameterOrder="ontoURI">

         <wsdl:input message="impl:listPropertiesRequest" name="listPropertiesRequest"/>

         <wsdl:output message="impl:listPropertiesResponse" name="listPropertiesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywordsWithRestrictions"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique">

         <wsdl:input message="impl:getSemanticContentByKeywordsWithRestrictionsRequest"
                     name="getSemanticContentByKeywordsWithRestrictionsRequest"/>

         <wsdl:output message="impl:getSemanticContentByKeywordsWithRestrictionsResponse"
                      name="getSemanticContentByKeywordsWithRestrictionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLabels" parameterOrder="ontoURI">

         <wsdl:input message="impl:getLabelsRequest" name="getLabelsRequest"/>

         <wsdl:output message="impl:getLabelsResponse" name="getLabelsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywords" parameterOrder="keywords">

         <wsdl:input message="impl:getSemanticContentByKeywordsRequest"
                     name="getSemanticContentByKeywordsRequest"/>

         <wsdl:output message="impl:getSemanticContentByKeywordsResponse"
                      name="getSemanticContentByKeywordsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBestCoverageWithRestrictions"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique">

         <wsdl:input message="impl:getBestCoverageWithRestrictionsRequest"
                     name="getBestCoverageWithRestrictionsRequest"/>

         <wsdl:output message="impl:getBestCoverageWithRestrictionsResponse"
                      name="getBestCoverageWithRestrictionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listSemanticContents" parameterOrder="start stop">

         <wsdl:input message="impl:listSemanticContentsRequest" name="listSemanticContentsRequest"/>

         <wsdl:output message="impl:listSemanticContentsResponse" name="listSemanticContentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentLocation" parameterOrder="ontoURI">

         <wsdl:input message="impl:getSemanticContentLocationRequest"
                     name="getSemanticContentLocationRequest"/>

         <wsdl:output message="impl:getSemanticContentLocationResponse"
                      name="getSemanticContentLocationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCacheLocation" parameterOrder="ontoURI">

         <wsdl:input message="impl:getCacheLocationRequest" name="getCacheLocationRequest"/>

         <wsdl:output message="impl:getCacheLocationResponse" name="getCacheLocationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSizeInBytes" parameterOrder="ontoURI">

         <wsdl:input message="impl:getSizeInBytesRequest" name="getSizeInBytesRequest"/>

         <wsdl:output message="impl:getSizeInBytesResponse" name="getSizeInBytesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentLanguages" parameterOrder="ontoURI">

         <wsdl:input message="impl:getSemanticContentLanguagesRequest"
                     name="getSemanticContentLanguagesRequest"/>

         <wsdl:output message="impl:getSemanticContentLanguagesResponse"
                      name="getSemanticContentLanguagesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDLExpressivness" parameterOrder="ontoURI">

         <wsdl:input message="impl:getDLExpressivnessRequest" name="getDLExpressivnessRequest"/>

         <wsdl:output message="impl:getDLExpressivnessResponse" name="getDLExpressivnessResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listClasses" parameterOrder="ontoURI">

         <wsdl:input message="impl:listClassesRequest" name="listClassesRequest"/>

         <wsdl:output message="impl:listClassesResponse" name="listClassesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listIndividuals" parameterOrder="ontoURI">

         <wsdl:input message="impl:listIndividualsRequest" name="listIndividualsRequest"/>

         <wsdl:output message="impl:listIndividualsResponse" name="listIndividualsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeSPARQLQuery" parameterOrder="ontoURI queryString">

         <wsdl:input message="impl:executeSPARQLQueryRequest" name="executeSPARQLQueryRequest"/>

         <wsdl:output message="impl:executeSPARQLQueryResponse" name="executeSPARQLQueryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNumberOfReviews" parameterOrder="ontoURI">

         <wsdl:input message="impl:getNumberOfReviewsRequest" name="getNumberOfReviewsRequest"/>

         <wsdl:output message="impl:getNumberOfReviewsResponse" name="getNumberOfReviewsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAverageRating" parameterOrder="ontoURI">

         <wsdl:input message="impl:getAverageRatingRequest" name="getAverageRatingRequest"/>

         <wsdl:output message="impl:getAverageRatingResponse" name="getAverageRatingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRevyuURL" parameterOrder="ontoURI">

         <wsdl:input message="impl:getRevyuURLRequest" name="getRevyuURLRequest"/>

         <wsdl:output message="impl:getRevyuURLResponse" name="getRevyuURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getComments" parameterOrder="ontoURI">

         <wsdl:input message="impl:getCommentsRequest" name="getCommentsRequest"/>

         <wsdl:output message="impl:getCommentsResponse" name="getCommentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getImports" parameterOrder="ontoUri">

         <wsdl:input message="impl:getImportsRequest" name="getImportsRequest"/>

         <wsdl:output message="impl:getImportsResponse" name="getImportsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getImportedBy" parameterOrder="ontoUri">

         <wsdl:input message="impl:getImportedByRequest" name="getImportedByRequest"/>

         <wsdl:output message="impl:getImportedByResponse" name="getImportedByResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNumberOfStatement" parameterOrder="ontoUri">

         <wsdl:input message="impl:getNumberOfStatementRequest" name="getNumberOfStatementRequest"/>

         <wsdl:output message="impl:getNumberOfStatementResponse" name="getNumberOfStatementResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywordsWithRestrictionsPaginated"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique start inc">

         <wsdl:input message="impl:getSemanticContentByKeywordsWithRestrictionsPaginatedRequest"
                     name="getSemanticContentByKeywordsWithRestrictionsPaginatedRequest"/>

         <wsdl:output message="impl:getSemanticContentByKeywordsWithRestrictionsPaginatedResponse"
                      name="getSemanticContentByKeywordsWithRestrictionsPaginatedResponse"/>

      </wsdl:operation>

      <wsdl:operation name="submitURI" parameterOrder="uri">

         <wsdl:input message="impl:submitURIRequest" name="submitURIRequest"/>

         <wsdl:output message="impl:submitURIResponse" name="submitURIResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="urn:OntologySearchSoapBinding" type="impl:OntologySearch">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listProperties">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listPropertiesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listPropertiesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywordsWithRestrictions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSemanticContentByKeywordsWithRestrictionsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSemanticContentByKeywordsWithRestrictionsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLabels">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLabelsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLabelsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSemanticContentByKeywordsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSemanticContentByKeywordsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBestCoverageWithRestrictions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBestCoverageWithRestrictionsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBestCoverageWithRestrictionsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listSemanticContents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listSemanticContentsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listSemanticContentsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentLocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSemanticContentLocationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSemanticContentLocationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCacheLocation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCacheLocationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCacheLocationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSizeInBytes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSizeInBytesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSizeInBytesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentLanguages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSemanticContentLanguagesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSemanticContentLanguagesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDLExpressivness">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDLExpressivnessRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDLExpressivnessResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listClasses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listClassesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listClassesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listIndividuals">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listIndividualsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listIndividualsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeSPARQLQuery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeSPARQLQueryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeSPARQLQueryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNumberOfReviews">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNumberOfReviewsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNumberOfReviewsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAverageRating">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAverageRatingRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAverageRatingResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRevyuURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRevyuURLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRevyuURLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCommentsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCommentsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getImports">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImportsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getImportsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getImportedBy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getImportedByRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getImportedByResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNumberOfStatement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNumberOfStatementRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNumberOfStatementResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSemanticContentByKeywordsWithRestrictionsPaginated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSemanticContentByKeywordsWithRestrictionsPaginatedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSemanticContentByKeywordsWithRestrictionsPaginatedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="submitURI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitURIRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="submitURIResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:OntologySearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OntologySearchService">

      <wsdl:port binding="impl:urn:OntologySearchSoapBinding" name="urn:OntologySearch">

         <wsdlsoap:address location="http://ws.soatrader.com/open.ac.uk/0.1/OntologySearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>