wsdl_repositories/soatrader - Copy/ParseAddressService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://rep.oio.dk/knowledgecube.net/oas/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:s1="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"
             xmlns:s3="http://rep.oio.dk/knowledgecube.net/oas/cpr.dk/xml/schemas/core/2005/10/18/"
             xmlns:s2="http://rep.oio.dk/knowledgecube.net/oas/"
             xmlns:s4="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://rep.oio.dk/knowledgecube.net/oas/"
             name="ParseAddressService">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <documentation>OAS web service for passing address data</documentation>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"
                targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/">
         <s:element name="StreetBuildingIdentifier" type="dkcc:StreetBuildingIdentifierType">
            <s:annotation>
               <s:documentation>
			Numeric identification (da: house number ~ 'husnummer') including an optional letter, which identifies a certain access to a building, a plot/piece of land or a plant etc. based on the named road or street which gives access hereto. The identifier is determined in increasing numerical and letter order along the road, normally with even numbers on the right side and odd numbers on the left side of the road.
 			</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="StreetBuildingIdentifierType">
            <s:restriction base="s:string">
               <s:pattern value="([1-9]|[1-9][0-9]|[1-9][0-9]{2})|([1-9][A-Z]|[1-9][0-9][A-Z]|[1-9][0-9]{2}[A-Z])"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="FloorIdentifier" type="dkcc:FloorIdentifierType">
            <s:annotation>
               <s:documentation>
			Identification which describes the floor or level on which a specific entrance door, appartment or suite is placed, in the staircase refered to.
			</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="FloorIdentifierType">
            <s:restriction base="s:string">
               <s:pattern value="[1-9]|[1-9][0-9]|KL|ST|kl|st|k[2-9]|K[2-9]"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SuiteIdentifier" type="dkcc:SuiteIdentifierType">
            <s:annotation>
               <s:documentation>
			Identification which describes the location of a specific entrance door on a floor or level (repos) in the staircase referred to.
			</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="SuiteIdentifierType">
            <s:restriction base="s:string">
               <s:minLength value="1"/>
               <s:maxLength value="4"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
      <s:schema xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
                targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/">
         <s:element name="MunicipalityCode" type="cpr:AuthorityCodeType">
            <s:annotation>
               <s:documentation>
			The code of a municipality. The plain text of a municipality is to be found by reference to the authority-data in the civilregistrationsystem. The code will always be unique." 
			</s:documentation>
            </s:annotation>
         </s:element>
         <s:element name="AuthorityCode" type="cpr:AuthorityCodeType">
            <s:annotation>
               <s:documentation>Code, which identifies an authority. Every AuthorityCode belongs to a specific authority (reference to data of authorities in CPR). The AuthorityCode is unique. 
</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="AuthorityCodeType">
            <s:restriction base="s:string">
               <s:pattern value="[0-9]{4}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
      <s:schema xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"
                xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
                xmlns:dkcc3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"
                xmlns:oas="http://rep.oio.dk/knowledgecube.net/oas/"
                xmlns:cpr2="http://rep.oio.dk/knowledgecube.net/oas/cpr.dk/xml/schemas/core/2005/10/18/"
                targetNamespace="http://rep.oio.dk/knowledgecube.net/oas/">
         <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"/>
         <s:import namespace="http://rep.oio.dk/knowledgecube.net/oas/cpr.dk/xml/schemas/core/2005/10/18/"/>
         <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/"/>
         <s:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"/>
         <s:element name="AddressTextInput" type="oas:AddressTextInputType"/>
         <s:simpleType name="AddressTextInputType">
            <s:restriction base="s:string">
               <s:minLength value="1"/>
               <s:maxLength value="35"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="ParseFullAddressTextLineRequest"
                    type="oas:ParseFullAddressTextLineRequestType"/>
         <s:complexType name="ParseFullAddressTextLineRequestType">
            <s:sequence>
               <s:element ref="oas:AddressTextInput"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr:MunicipalityCode"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr2:RegionIdentifier"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseFullAddressTextLineResponse"
                    type="oas:ParseFullAddressTextLineResponseType"/>
         <s:complexType name="ParseFullAddressTextLineResponseType">
            <s:sequence>
               <s:element ref="dkcc3:StreetName"/>
               <s:element ref="dkcc:StreetBuildingIdentifier"/>
               <s:element ref="dkcc:FloorIdentifier"/>
               <s:element ref="dkcc:SuiteIdentifier"/>
               <s:element ref="dkcc3:PostCodeIdentifier"/>
               <s:element ref="dkcc3:DistrictName"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseStreetAddressTextLineRequest"
                    type="oas:ParseStreetAddressTextLineRequestType"/>
         <s:complexType name="ParseStreetAddressTextLineRequestType">
            <s:sequence>
               <s:element ref="oas:AddressTextInput"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr:MunicipalityCode"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr2:RegionIdentifier"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseStreetAddressTextLineResponse"
                    type="oas:ParseStreetAddressTextLineResponseType"/>
         <s:complexType name="ParseStreetAddressTextLineResponseType">
            <s:sequence>
               <s:element ref="dkcc3:StreetName"/>
               <s:element ref="dkcc:StreetBuildingIdentifier"/>
               <s:element ref="dkcc:FloorIdentifier"/>
               <s:element ref="dkcc:SuiteIdentifier"/>
            </s:sequence>
         </s:complexType>
         <s:element name="PostalDistrictTextInput" type="oas:PostalDistrictTextInputType"/>
         <s:simpleType name="PostalDistrictTextInputType">
            <s:restriction base="s:string">
               <s:minLength value="1"/>
               <s:maxLength value="35"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="ParsePostalDistrictTextLineRequest"
                    type="oas:ParsePostalDistrictTextLineRequestType"/>
         <s:complexType name="ParsePostalDistrictTextLineRequestType">
            <s:sequence>
               <s:element ref="oas:PostalDistrictTextInput"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr:MunicipalityCode"/>
               <s:element minOccurs="0" maxOccurs="1" ref="cpr2:RegionIdentifier"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParsePostalDistrictTextLineResponse"
                    type="oas:ParsePostalDistrictTextLineResponseType"/>
         <s:complexType name="ParsePostalDistrictTextLineResponseType">
            <s:sequence>
               <s:element ref="dkcc3:PostCodeIdentifier"/>
               <s:element ref="dkcc3:DistrictName"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseFloorIdentifierRequest" type="oas:ParseFloorIdentifierRequestType"/>
         <s:complexType name="ParseFloorIdentifierRequestType">
            <s:sequence>
               <s:element ref="oas:AddressTextInput"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseFloorIdentifierResponse" type="oas:ParseFloorIdentifierResponseType"/>
         <s:complexType name="ParseFloorIdentifierResponseType">
            <s:sequence>
               <s:element ref="dkcc:FloorIdentifier"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseSuiteIdentifierRequest" type="oas:ParseSuiteIdentifierRequestType"/>
         <s:complexType name="ParseSuiteIdentifierRequestType">
            <s:sequence>
               <s:element ref="oas:AddressTextInput"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ParseSuiteIdentifierResponse" type="oas:ParseSuiteIdentifierResponseType"/>
         <s:complexType name="ParseSuiteIdentifierResponseType">
            <s:sequence>
               <s:element ref="dkcc:SuiteIdentifier"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
                elementFormDefault="qualified"
                targetNamespace="http://rep.oio.dk/knowledgecube.net/oas/cpr.dk/xml/schemas/core/2005/10/18/"
                version="1.1">
         <s:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"/>
         <s:element name="RegionIdentifier" type="cpr:AuthorityCodeType">
            <s:annotation>
               <s:documentation>The identifier of a region. The the identifier will always be unique."</s:documentation>
            </s:annotation>
         </s:element>
      </s:schema>
      <s:schema xmlns:dkcc3="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/"
                targetNamespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/">
         <s:element name="StreetName" type="dkcc3:StreetNameType">
            <s:annotation>
               <s:documentation>The approved name of a road, a street, a square, a path and the like. Further more street names can be connected to other particularly limited areas like garden associations or summer residence areas without road network, large commercial or institutional areas with a large number of buildings, smaller islands without road network, larger sporting facilities and the like. 
			</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="StreetNameType">
            <s:restriction base="s:string">
               <s:minLength value="1"/>
               <s:maxLength value="40"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="PostCodeIdentifier" type="dkcc3:PostCodeIdentifierType">
            <s:annotation>
               <s:documentation>The postal departments nationwide postal code.</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="PostCodeIdentifierType">
            <s:restriction base="s:string">
               <s:pattern value="[0-9]{4}"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="DistrictName" type="dkcc3:DistrictNameType">
            <s:annotation>
               <s:documentation>
			Declares the name of a postal district in plain text.
The field contains 20 positions, which enables it to fit a window envelope
together with the postal code and one free position in addition. The postal
district is defined by municipalitycode, roadcode, postalcode, housenumber
from/to together with a code, which declares whether the roadsection in
question contains even or uneven housenumbers.
			</s:documentation>
            </s:annotation>
         </s:element>
         <s:simpleType name="DistrictNameType">
            <s:restriction base="s:string">
               <s:minLength value="1"/>
               <s:maxLength value="20"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
  </types>
  <message name="ParseFullAddressTextLineSoapIn">
      <part name="SoapIn" element="s2:ParseFullAddressTextLineRequest"/>
  </message>
  <message name="ParseFullAddressTextLineSoapOut">
      <part name="SoapOut" element="s2:ParseFullAddressTextLineResponse"/>
  </message>
  <message name="ParseStreetAddressTextLineSoapIn">
      <part name="SoapIn" element="s2:ParseStreetAddressTextLineRequest"/>
  </message>
  <message name="ParseStreetAddressTextLineSoapOut">
      <part name="SoapOut" element="s2:ParseStreetAddressTextLineResponse"/>
  </message>
  <message name="ParsePostalDistrictTextLineSoapIn">
      <part name="SoapIn" element="s2:ParsePostalDistrictTextLineRequest"/>
  </message>
  <message name="ParsePostalDistrictTextLineSoapOut">
      <part name="SoapOut" element="s2:ParsePostalDistrictTextLineResponse"/>
  </message>
  <message name="ParseFloorIdentifierSoapIn">
      <part name="SoapIn" element="s2:ParseFloorIdentifierRequest"/>
  </message>
  <message name="ParseFloorIdentifierSoapOut">
      <part name="SoapOut" element="s2:ParseFloorIdentifierResponse"/>
  </message>
  <message name="ParseSuiteIdentifierSoapIn">
      <part name="SoapIn" element="s2:ParseSuiteIdentifierRequest"/>
  </message>
  <message name="ParseSuiteIdentifierSoapOut">
      <part name="SoapOut" element="s2:ParseSuiteIdentifierResponse"/>
  </message>
  <portType name="ParseAddressServiceSoap">
      <operation name="ParseFullAddressTextLine">
         <input message="s2:ParseFullAddressTextLineSoapIn"/>
         <output message="s2:ParseFullAddressTextLineSoapOut"/>
      </operation>
      <operation name="ParseStreetAddressTextLine">
         <input message="s2:ParseStreetAddressTextLineSoapIn"/>
         <output message="s2:ParseStreetAddressTextLineSoapOut"/>
      </operation>
      <operation name="ParsePostalDistrictTextLine">
         <input message="s2:ParsePostalDistrictTextLineSoapIn"/>
         <output message="s2:ParsePostalDistrictTextLineSoapOut"/>
      </operation>
      <operation name="ParseFloorIdentifier">
         <input message="s2:ParseFloorIdentifierSoapIn"/>
         <output message="s2:ParseFloorIdentifierSoapOut"/>
      </operation>
      <operation name="ParseSuiteIdentifier">
         <input message="s2:ParseSuiteIdentifierSoapIn"/>
         <output message="s2:ParseSuiteIdentifierSoapOut"/>
      </operation>
  </portType>
  <binding name="ParseAddressServiceBinding" type="s2:ParseAddressServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="ParseFullAddressTextLine">
         <soap:operation soapAction="http://xmltools.oio.dk/oas/webservice/2/ParseFullAddressTextLine"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal" parts="SoapIn"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal" parts="SoapOut"/>
         </output>
      </operation>
      <operation name="ParseStreetAddressTextLine">
         <soap:operation soapAction="http://xmltools.oio.dk/oas/webservice/2/ParseStreetAddressTextLine"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal" parts="SoapIn"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal" parts="SoapOut"/>
         </output>
      </operation>
      <operation name="ParsePostalDistrictTextLine">
         <soap:operation soapAction="http://xmltools.oio.dk/oas/webservice/2/ParsePostalDistrictTextLine"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal" parts="SoapIn"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal" parts="SoapOut"/>
         </output>
      </operation>
      <operation name="ParseFloorIdentifier">
         <soap:operation soapAction="http://xmltools.oio.dk/oas/webservice/2/ParseFloorIdentifier"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal" parts="SoapIn"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal" parts="SoapOut"/>
         </output>
      </operation>
      <operation name="ParseSuiteIdentifier">
         <soap:operation soapAction="http://xmltools.oio.dk/oas/webservice/2/ParseSuiteIdentifier"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal" parts="SoapIn"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal" parts="SoapOut"/>
         </output>
      </operation>
  </binding>
  <service name="ParseAddressService">
      <port name="ParseAddressServicePort" binding="s2:ParseAddressServiceBinding">
         <soap:address location="http://ws.soatrader.com/oio.dk/0.1/ParseAddressService"/>
      </port>
  </service>
</definitions>