wsdl_repositories/soatrader - Copy/Personalizer.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.acrosscommunications.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.acrosscommunications.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.acrosscommunications.com/">
         <s:element name="CreateSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateSessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateSessionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReleaseAllActiveSessions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReleaseAllActiveSessionsResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetUserID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSessionSoapIn">
      <wsdl:part name="parameters" element="tns:CreateSession"/>
  </wsdl:message>
  <wsdl:message name="CreateSessionSoapOut">
      <wsdl:part name="parameters" element="tns:CreateSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="ReleaseAllActiveSessionsSoapIn">
      <wsdl:part name="parameters" element="tns:ReleaseAllActiveSessions"/>
  </wsdl:message>
  <wsdl:message name="ReleaseAllActiveSessionsSoapOut">
      <wsdl:part name="parameters" element="tns:ReleaseAllActiveSessionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetUserID"/>
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetUserIDResponse"/>
  </wsdl:message>
  <wsdl:portType name="PersonalizerSoap">
      <wsdl:operation name="CreateSession">
         <wsdl:input message="tns:CreateSessionSoapIn"/>
         <wsdl:output message="tns:CreateSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ReleaseAllActiveSessions">
         <wsdl:input message="tns:ReleaseAllActiveSessionsSoapIn"/>
         <wsdl:output message="tns:ReleaseAllActiveSessionsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUserID">
         <wsdl:input message="tns:GetUserIDSoapIn"/>
         <wsdl:output message="tns:GetUserIDSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonalizerSoap" type="tns:PersonalizerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="CreateSession">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReleaseAllActiveSessions">
         <soap:operation soapAction="http://ws.acrosscommunications.com/ReleaseAllActiveSessions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserID">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetUserID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Personalizer">
      <wsdl:port name="PersonalizerSoap" binding="tns:PersonalizerSoap">
         <soap:address location="http://ws.soatrader.com/acrosscommunications.com/0.1/Personalizer"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>