wsdl_repositories/soatrader - Copy/Phone3T.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservicemart.com/ws/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservicemart.com/ws/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservicemart.com/ws/">
         <s:element name="PhoneVerify">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PhoneVerifyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneVerifyResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="PhoneVerifySoapIn">
      <wsdl:part name="parameters" element="tns:PhoneVerify"/>
  </wsdl:message>
  <wsdl:message name="PhoneVerifySoapOut">
      <wsdl:part name="parameters" element="tns:PhoneVerifyResponse"/>
  </wsdl:message>
  <wsdl:message name="PhoneVerifyHttpGetIn">
      <wsdl:part name="PhoneNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PhoneVerifyHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PhoneVerifyHttpPostIn">
      <wsdl:part name="PhoneNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PhoneVerifyHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="Phone3TSoap" type="tns:Phone3TSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="PhoneVerify">
         <soap:operation soapAction="http://webservicemart.com/ws/PhoneVerify" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Phone3T">
      <wsdl:port name="Phone3TSoap" binding="tns:Phone3TSoap">
         <soap:address location="http://ws.soatrader.com/webservicemart.com/0.1/Phone3T"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>