wsdl_repositories/soatrader - Copy/ProjectManagerServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.equitymarketing.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.equitymarketing.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Project Manager Services</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.equitymarketing.com/">
         <s:element name="ImportCustomerData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ProjectIdentifier" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerFirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerLastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbreviation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerNotes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Answers" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportCustomerDataResponse">
            <s:complexType/>
         </s:element>
         <s:element name="ImportCustomerDataReturn">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ProjectIdentifier" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerFirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerLastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbreviation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerNotes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Answers" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportCustomerDataReturnResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ImportCustomerDataReturnResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportCustomerDataSoapIn">
      <wsdl:part name="parameters" element="tns:ImportCustomerData"/>
  </wsdl:message>
  <wsdl:message name="ImportCustomerDataSoapOut">
      <wsdl:part name="parameters" element="tns:ImportCustomerDataResponse"/>
  </wsdl:message>
  <wsdl:message name="ImportCustomerDataReturnSoapIn">
      <wsdl:part name="parameters" element="tns:ImportCustomerDataReturn"/>
  </wsdl:message>
  <wsdl:message name="ImportCustomerDataReturnSoapOut">
      <wsdl:part name="parameters" element="tns:ImportCustomerDataReturnResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ProjectManagerServicesSoap" type="tns:ProjectManagerServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ImportCustomerData">
         <soap:operation soapAction="http://www.equitymarketing.com/ImportCustomerData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ImportCustomerDataReturn">
         <soap:operation soapAction="http://www.equitymarketing.com/ImportCustomerDataReturn"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ProjectManagerServices">
      <wsdl:documentation>Project Manager Services</wsdl:documentation>
      <wsdl:port name="ProjectManagerServicesSoap" binding="tns:ProjectManagerServicesSoap">
         <soap:address location="http://ws.soatrader.com/equitymarketing.com/0.1/ProjectManagerServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>