wsdl_repositories/soatrader - Copy/PropertySearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Search">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="WithinRadius" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MinimumPrice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaximumPrice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MinimumBedrooms" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PropertyType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Exclusive" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="TownID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PropertyXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertiesByIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetPropertyTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertyTypesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesSummary">
            <s:complexType/>
         </s:element>
         <s:element name="GetPropertiesSummaryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertiesSummaryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PropertyID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertyByIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Search">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="WithinRadius" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MinimumPrice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaximumPrice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MinimumBedrooms" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PropertyType" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Exclusive" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="TownID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PropertyXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertiesByIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetPropertyTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertyTypesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertiesSummary">
            <s:complexType/>
         </s:element>
         <s:element name="GetPropertiesSummaryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertiesSummaryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PropertyID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPropertyByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPropertyByIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
      <wsdl:part name="parameters" element="tns:Search"/>
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
      <wsdl:part name="parameters" element="tns:SearchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetPropertiesByID"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetPropertiesByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetPropertyTypes"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetPropertyTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesSummarySoapIn">
      <wsdl:part name="parameters" element="tns:GetPropertiesSummary"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesSummarySoapOut">
      <wsdl:part name="parameters" element="tns:GetPropertiesSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetPropertyByID"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetPropertyByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchHttpGetIn">
      <wsdl:part name="Location" type="s:string"/>
      <wsdl:part name="County" type="s:string"/>
      <wsdl:part name="WithinRadius" type="s:string"/>
      <wsdl:part name="MinimumPrice" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
      <wsdl:part name="MinimumBedrooms" type="s:string"/>
      <wsdl:part name="PropertyType" type="s:string"/>
      <wsdl:part name="Exclusive" type="s:string"/>
      <wsdl:part name="TownID" type="s:string"/>
      <wsdl:part name="Keywords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDHttpGetIn">
      <wsdl:part name="PropertyXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyTypesHttpGetIn"/>
  <wsdl:message name="GetPropertyTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesSummaryHttpGetIn"/>
  <wsdl:message name="GetPropertiesSummaryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDHttpGetIn">
      <wsdl:part name="PropertyID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchHttpPostIn">
      <wsdl:part name="Location" type="s:string"/>
      <wsdl:part name="County" type="s:string"/>
      <wsdl:part name="WithinRadius" type="s:string"/>
      <wsdl:part name="MinimumPrice" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
      <wsdl:part name="MinimumBedrooms" type="s:string"/>
      <wsdl:part name="PropertyType" type="s:string"/>
      <wsdl:part name="Exclusive" type="s:string"/>
      <wsdl:part name="TownID" type="s:string"/>
      <wsdl:part name="Keywords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDHttpPostIn">
      <wsdl:part name="PropertyXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesByIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyTypesHttpPostIn"/>
  <wsdl:message name="GetPropertyTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertiesSummaryHttpPostIn"/>
  <wsdl:message name="GetPropertiesSummaryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDHttpPostIn">
      <wsdl:part name="PropertyID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPropertyByIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="PropertySearchSoap" type="tns:PropertySearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Search">
         <soap:operation soapAction="http://tempuri.org/Search" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPropertiesByID">
         <soap:operation soapAction="http://tempuri.org/GetPropertiesByID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPropertyTypes">
         <soap:operation soapAction="http://tempuri.org/GetPropertyTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPropertiesSummary">
         <soap:operation soapAction="http://tempuri.org/GetPropertiesSummary" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPropertyByID">
         <soap:operation soapAction="http://tempuri.org/GetPropertyByID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="PropertySearch">
      <wsdl:port name="PropertySearchSoap" binding="tns:PropertySearchSoap">
         <soap:address location="http://ws.soatrader.com/arunestates.redantdev.com/0.1/PropertySearch"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>