wsdl_repositories/soatrader - Copy/PurchaseOrder.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://portal.suppliesnet.net"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://portal.suppliesnet.net">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Place Order.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://portal.suppliesnet.net">
         <s:element name="LoadTest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrders">
                     <s:complexType>
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="1" maxOccurs="1" name="Timeout" type="s:short"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadTestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadTestResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EmptyLoadTest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrders">
                     <s:complexType>
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="1" maxOccurs="1" name="Timeout" type="s:short"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EmptyLoadTestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EmptyLoadTestResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PlaceOrderString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrders" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PlaceOrderStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PlaceOrder">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrders">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PlaceOrderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrievePurchaseOrderAcknowledgment">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrderRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrievePurchaseOrderAcknowledgmentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrievePurchaseOrderAcknowledgmentResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FileInfo">
            <s:complexType/>
         </s:element>
         <s:element name="FileInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FileInfoResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadTestSoapIn">
      <wsdl:part name="parameters" element="tns:LoadTest"/>
  </wsdl:message>
  <wsdl:message name="LoadTestSoapOut">
      <wsdl:part name="parameters" element="tns:LoadTestResponse"/>
  </wsdl:message>
  <wsdl:message name="EmptyLoadTestSoapIn">
      <wsdl:part name="parameters" element="tns:EmptyLoadTest"/>
  </wsdl:message>
  <wsdl:message name="EmptyLoadTestSoapOut">
      <wsdl:part name="parameters" element="tns:EmptyLoadTestResponse"/>
  </wsdl:message>
  <wsdl:message name="PlaceOrderStringSoapIn">
      <wsdl:part name="parameters" element="tns:PlaceOrderString"/>
  </wsdl:message>
  <wsdl:message name="PlaceOrderStringSoapOut">
      <wsdl:part name="parameters" element="tns:PlaceOrderStringResponse"/>
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
      <wsdl:part name="parameters" element="tns:PlaceOrder"/>
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
      <wsdl:part name="parameters" element="tns:PlaceOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrievePurchaseOrderAcknowledgmentSoapIn">
      <wsdl:part name="parameters" element="tns:RetrievePurchaseOrderAcknowledgment"/>
  </wsdl:message>
  <wsdl:message name="RetrievePurchaseOrderAcknowledgmentSoapOut">
      <wsdl:part name="parameters" element="tns:RetrievePurchaseOrderAcknowledgmentResponse"/>
  </wsdl:message>
  <wsdl:message name="FileInfoSoapIn">
      <wsdl:part name="parameters" element="tns:FileInfo"/>
  </wsdl:message>
  <wsdl:message name="FileInfoSoapOut">
      <wsdl:part name="parameters" element="tns:FileInfoResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="PurchaseOrderSoap" type="tns:PurchaseOrderSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="LoadTest">
         <soap:operation soapAction="http://portal.suppliesnet.net/LoadTest" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EmptyLoadTest">
         <soap:operation soapAction="http://portal.suppliesnet.net/EmptyLoadTest" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PlaceOrderString">
         <soap:operation soapAction="http://portal.suppliesnet.net/PlaceOrderString" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PlaceOrder">
         <soap:operation soapAction="http://portal.suppliesnet.net/PlaceOrder" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://portal.suppliesnet.net/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RetrievePurchaseOrderAcknowledgment">
         <soap:operation soapAction="http://portal.suppliesnet.net/RetrievePurchaseOrderAcknowledgment"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FileInfo">
         <soap:operation soapAction="http://portal.suppliesnet.net/FileInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PurchaseOrder">
      <wsdl:documentation>Place Order.</wsdl:documentation>
      <wsdl:port name="PurchaseOrderSoap" binding="tns:PurchaseOrderSoap">
         <soap:address location="http://ws.soatrader.com/suppliesnet.net/0.3/PurchaseOrder"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>