wsdl_repositories/soatrader - Copy/PurchaseOrderService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://invoiceworks.source.trax.aero"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://invoiceworks.source.trax.aero"
                  xmlns:intf="http://invoiceworks.source.trax.aero"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://trax.invoiceworks.castor.trax.aero"
                  xmlns:tns2="http://purchaseorder.invoiceworks.castor.trax.aero"
                  xmlns:tns3="http://types.purchaseorder.invoiceworks.castor.trax.aero"
                  xmlns:tns4="http://types.castor.exolab.org"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://invoiceworks.source.trax.aero">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://trax.invoiceworks.castor.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="InvoiceWorks_Query_Element">
            <sequence>
               <element name="getOnlyUnSentRecords" type="xsd:boolean"/>
               <element name="interface_transaction" type="xsd:long"/>
               <element name="use_Ri_As_Received" type="xsd:boolean"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorks_PurchaseOrder_Outgoing_Element">
            <sequence>
               <element name="interface_transaction" type="xsd:long"/>
               <element name="invoiceWorksInterface_PurchaseOrders" nillable="true"
                        type="tns2:InvoiceWorksInterface_PurchaseOrders"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorks_PurchaseOrder_Outgoing_Array_Element">
            <sequence>
               <element maxOccurs="unbounded" name="invoiceWorks_PurchaseOrder_Outgoing_Element"
                        nillable="true"
                        type="tns1:InvoiceWorks_PurchaseOrder_Outgoing_Element"/>
               <element name="invoiceWorks_PurchaseOrder_Outgoing_ElementCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://trax.invoiceworks.castor.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="InvoiceWorks_Query_Element">
            <sequence>
               <element name="getOnlyUnSentRecords" type="xsd:boolean"/>
               <element name="interface_transaction" type="xsd:long"/>
               <element name="use_Ri_As_Received" type="xsd:boolean"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorks_PurchaseOrder_Outgoing_Element">
            <sequence>
               <element name="interface_transaction" type="xsd:long"/>
               <element name="invoiceWorksInterface_PurchaseOrders" nillable="true"
                        type="tns2:InvoiceWorksInterface_PurchaseOrders"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorks_PurchaseOrder_Outgoing_Array_Element">
            <sequence>
               <element maxOccurs="unbounded" name="invoiceWorks_PurchaseOrder_Outgoing_Element"
                        nillable="true"
                        type="tns1:InvoiceWorks_PurchaseOrder_Outgoing_Element"/>
               <element name="invoiceWorks_PurchaseOrder_Outgoing_ElementCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://purchaseorder.invoiceworks.castor.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="Audit">
            <sequence>
               <element name="totalPurchaseOrderAmount" nillable="true" type="soapenc:decimal"/>
               <element name="totalPurchaseOrderCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="CustomField">
            <sequence>
               <element name="CFNbr" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
               <element name="value" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
         <complexType name="LineCustomField">
            <sequence>
               <element name="CFNbr" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
               <element name="value" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
         <complexType name="PurchaseOrderLine">
            <sequence>
               <element name="amountInvoiced" nillable="true" type="soapenc:decimal"/>
               <element name="commodityCode" nillable="true" type="soapenc:string"/>
               <element name="description" nillable="true" type="soapenc:string"/>
               <element name="itemID_SKU" nillable="true" type="soapenc:string"/>
               <element maxOccurs="unbounded" name="lineCustomField" nillable="true"
                        type="tns2:LineCustomField"/>
               <element name="lineCustomFieldCount" type="xsd:int"/>
               <element name="lineNbr" type="xsd:int"/>
               <element name="lineTotal" nillable="true" type="soapenc:decimal"/>
               <element name="quantity" nillable="true" type="soapenc:decimal"/>
               <element name="quantityInvoiced" nillable="true" type="soapenc:decimal"/>
               <element name="quantityReceived" nillable="true" type="soapenc:decimal"/>
               <element name="status" nillable="true" type="tns3:StatusType"/>
               <element name="unitCost" nillable="true" type="soapenc:decimal"/>
               <element name="unitOfMeasure" nillable="true" type="tns3:UnitOfMeasureType"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="PurchaseOrder">
            <sequence>
               <element name="businessUnitID" nillable="true" type="soapenc:string"/>
               <element name="clazz" nillable="true" type="soapenc:string"/>
               <element name="currency" nillable="true" type="tns3:CurrencyType"/>
               <element maxOccurs="unbounded" name="customField" nillable="true"
                        type="tns2:CustomField"/>
               <element name="customFieldCount" type="xsd:int"/>
               <element name="customersVendorNbr" nillable="true" type="soapenc:string"/>
               <element name="notes" nillable="true" type="soapenc:string"/>
               <element name="paymentTerms" nillable="true" type="soapenc:string"/>
               <element name="purchaseOrderDate" nillable="true" type="tns4:Date"/>
               <element maxOccurs="unbounded" name="purchaseOrderLine" nillable="true"
                        type="tns2:PurchaseOrderLine"/>
               <element name="purchaseOrderLineCount" type="xsd:int"/>
               <element name="purchaseOrderNbr" nillable="true" type="soapenc:string"/>
               <element name="status" nillable="true" type="tns3:StatusType"/>
               <element name="totalDue" nillable="true" type="soapenc:decimal"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorksInterface_PurchaseOrders">
            <sequence>
               <element name="audit" nillable="true" type="tns2:Audit"/>
               <element name="invoiceWorksCustomerID" nillable="true" type="soapenc:string"/>
               <element maxOccurs="unbounded" name="purchaseOrder" nillable="true"
                        type="tns2:PurchaseOrder"/>
               <element name="purchaseOrderCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://purchaseorder.invoiceworks.castor.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="Audit">
            <sequence>
               <element name="totalPurchaseOrderAmount" nillable="true" type="soapenc:decimal"/>
               <element name="totalPurchaseOrderCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="CustomField">
            <sequence>
               <element name="CFNbr" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
               <element name="value" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
         <complexType name="LineCustomField">
            <sequence>
               <element name="CFNbr" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
               <element name="value" nillable="true" type="soapenc:string"/>
            </sequence>
         </complexType>
         <complexType name="PurchaseOrderLine">
            <sequence>
               <element name="amountInvoiced" nillable="true" type="soapenc:decimal"/>
               <element name="commodityCode" nillable="true" type="soapenc:string"/>
               <element name="description" nillable="true" type="soapenc:string"/>
               <element name="itemID_SKU" nillable="true" type="soapenc:string"/>
               <element maxOccurs="unbounded" name="lineCustomField" nillable="true"
                        type="tns2:LineCustomField"/>
               <element name="lineCustomFieldCount" type="xsd:int"/>
               <element name="lineNbr" type="xsd:int"/>
               <element name="lineTotal" nillable="true" type="soapenc:decimal"/>
               <element name="quantity" nillable="true" type="soapenc:decimal"/>
               <element name="quantityInvoiced" nillable="true" type="soapenc:decimal"/>
               <element name="quantityReceived" nillable="true" type="soapenc:decimal"/>
               <element name="status" nillable="true" type="tns3:StatusType"/>
               <element name="unitCost" nillable="true" type="soapenc:decimal"/>
               <element name="unitOfMeasure" nillable="true" type="tns3:UnitOfMeasureType"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="PurchaseOrder">
            <sequence>
               <element name="businessUnitID" nillable="true" type="soapenc:string"/>
               <element name="clazz" nillable="true" type="soapenc:string"/>
               <element name="currency" nillable="true" type="tns3:CurrencyType"/>
               <element maxOccurs="unbounded" name="customField" nillable="true"
                        type="tns2:CustomField"/>
               <element name="customFieldCount" type="xsd:int"/>
               <element name="customersVendorNbr" nillable="true" type="soapenc:string"/>
               <element name="notes" nillable="true" type="soapenc:string"/>
               <element name="paymentTerms" nillable="true" type="soapenc:string"/>
               <element name="purchaseOrderDate" nillable="true" type="tns4:Date"/>
               <element maxOccurs="unbounded" name="purchaseOrderLine" nillable="true"
                        type="tns2:PurchaseOrderLine"/>
               <element name="purchaseOrderLineCount" type="xsd:int"/>
               <element name="purchaseOrderNbr" nillable="true" type="soapenc:string"/>
               <element name="status" nillable="true" type="tns3:StatusType"/>
               <element name="totalDue" nillable="true" type="soapenc:decimal"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="InvoiceWorksInterface_PurchaseOrders">
            <sequence>
               <element name="audit" nillable="true" type="tns2:Audit"/>
               <element name="invoiceWorksCustomerID" nillable="true" type="soapenc:string"/>
               <element maxOccurs="unbounded" name="purchaseOrder" nillable="true"
                        type="tns2:PurchaseOrder"/>
               <element name="purchaseOrderCount" type="xsd:int"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://types.purchaseorder.invoiceworks.castor.trax.aero">
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CurrencyType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="StatusType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="UnitOfMeasureType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://types.purchaseorder.invoiceworks.castor.trax.aero">
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CurrencyType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="StatusType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
         <complexType name="UnitOfMeasureType">
            <sequence>
               <element name="type" type="xsd:int"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://invoiceworks.source.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_short">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:short[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://invoiceworks.source.trax.aero">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://types.castor.exolab.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_short">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:short[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://types.castor.exolab.org">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="DateTimeBase">
            <sequence>
               <element name="UTC" type="xsd:boolean"/>
               <element name="century" type="xsd:short"/>
               <element name="day" type="xsd:short"/>
               <element name="hour" type="xsd:short"/>
               <element name="milli" type="xsd:short"/>
               <element name="milliSecond" type="xsd:short"/>
               <element name="minute" type="xsd:short"/>
               <element name="month" type="xsd:short"/>
               <element name="negative" type="xsd:boolean"/>
               <element name="second" type="xsd:short"/>
               <element name="seconds" type="xsd:short"/>
               <element name="values" nillable="true" type="impl:ArrayOf_xsd_short"/>
               <element name="year" type="xsd:short"/>
               <element name="zoneHour" type="xsd:short"/>
               <element name="zoneMinute" type="xsd:short"/>
               <element name="zoneNegative" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Date">
            <complexContent>
               <extension base="tns4:DateTimeBase">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://types.castor.exolab.org">
         <import namespace="http://types.purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://trax.invoiceworks.castor.trax.aero"/>
         <import namespace="http://purchaseorder.invoiceworks.castor.trax.aero"/>
         <import namespace="http://invoiceworks.source.trax.aero"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="DateTimeBase">
            <sequence>
               <element name="UTC" type="xsd:boolean"/>
               <element name="century" type="xsd:short"/>
               <element name="day" type="xsd:short"/>
               <element name="hour" type="xsd:short"/>
               <element name="milli" type="xsd:short"/>
               <element name="milliSecond" type="xsd:short"/>
               <element name="minute" type="xsd:short"/>
               <element name="month" type="xsd:short"/>
               <element name="negative" type="xsd:boolean"/>
               <element name="second" type="xsd:short"/>
               <element name="seconds" type="xsd:short"/>
               <element name="values" nillable="true" type="impl:ArrayOf_xsd_short"/>
               <element name="year" type="xsd:short"/>
               <element name="zoneHour" type="xsd:short"/>
               <element name="zoneMinute" type="xsd:short"/>
               <element name="zoneNegative" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Date">
            <complexContent>
               <extension base="tns4:DateTimeBase">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="queryRecordsRequest">

      <wsdl:part name="query" type="tns1:InvoiceWorks_Query_Element"/>

   </wsdl:message>

   <wsdl:message name="queryRecordsResponse">

      <wsdl:part name="queryRecordsReturn"
                 type="tns1:InvoiceWorks_PurchaseOrder_Outgoing_Array_Element"/>

   </wsdl:message>

   <wsdl:portType name="PurchaseOrder">

      <wsdl:operation name="queryRecords" parameterOrder="query">

         <wsdl:input message="impl:queryRecordsRequest" name="queryRecordsRequest"/>

         <wsdl:output message="impl:queryRecordsResponse" name="queryRecordsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PurchaseOrderSoapBinding" type="impl:PurchaseOrder">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRecordsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://invoiceworks.source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryRecordsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://invoiceworks.source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PurchaseOrderService">

      <wsdl:port binding="impl:PurchaseOrderSoapBinding" name="PurchaseOrder">

         <wsdlsoap:address location="http://ws.soatrader.com/trax.aero/0.1/PurchaseOrderService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>