wsdl_repositories/soatrader - Copy/regexsearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://bioinformatics.anl.gov/ws/regexsearch"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://bioinformatics.anl.gov/ws/regexsearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://bioinformatics.anl.gov/ws/regexsearch">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="getSpecies">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="numberOfColumns" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSpeciesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSpeciesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getJobsegmentStatusResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentStatusPercent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentStatusPercentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getJobsegmentStatusPercentResult"
                             type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsCountResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1Patterns">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsQue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsQueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsQueResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsCountForSha1">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsCountForSha1Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getSha1PatternsCountForSha1Result"
                             type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsSEGUIDs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsSEGUIDsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsSEGUIDsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startRecord" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxRecords" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsHeaderResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsDetailed">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startRecord" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxRecords" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsDetailedResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsDetailedResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsDetailedDownload">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1PatternsDetailedDownloadResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1PatternsDetailedDownloadResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNrinfoSHA1">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Sha1" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNrinfoSHA1Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getNrinfoSHA1Result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProteinsSHA1">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Sha1" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProteinsSHA1Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getProteinsSHA1Result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1CountForThisIP">
            <s:complexType/>
         </s:element>
         <s:element name="getSha1CountForThisIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1CountForThisIPResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getListOfJobIDForThisIP">
            <s:complexType/>
         </s:element>
         <s:element name="getListOfJobIDForThisIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getListOfJobIDForThisIPResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkREGEX">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedREGEX" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkREGEXResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="checkREGEXResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="narrateRegex">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedREGEX" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="narrateRegexResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="narrateRegexResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkForErrorInRegex">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="alteredSuppliedREGEX" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkForErrorInRegexResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="checkForErrorInRegexResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkOX">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="suppliedOX" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="checkOXResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="checkOXResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="convertPrositeToRegex">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedPROSITE" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="convertPrositeToRegexResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="convertPrositeToRegexResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="test">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="testResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobIDStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobIDStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getJobIDStatusResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentsDetailsBitmap">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobsegmentsDetailsBitmapResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getJobsegmentsDetailsBitmapResult"
                             type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobIDForOXREGEX">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Ox" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedREGEX" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getJobIDForOXREGEXResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getJobIDForOXREGEXResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1patternsOxId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Ox" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1patternsOxIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getSha1patternsOxIdResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSha1patternsTestEntries">
            <s:complexType/>
         </s:element>
         <s:element name="getSha1patternsTestEntriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSha1patternsTestEntriesResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertPerformanceData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="JobID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="testTime" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="insertTime" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="executeTime" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertPerformanceDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="insertPerformanceDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getAllowedCountForYourIP">
            <s:complexType/>
         </s:element>
         <s:element name="getAllowedCountForYourIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getAllowedCountForYourIPResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertJob">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Ox" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedREGEX" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedIP" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertJobResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="insertJobResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getIP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="suppliedIP" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getIPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getIPResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="int" type="s:int"/>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="boolean" type="s:boolean"/>
         <s:element name="base64Binary" nillable="true" type="s:base64Binary"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getSpeciesSoapIn">
      <wsdl:part name="parameters" element="tns:getSpecies"/>
  </wsdl:message>
  <wsdl:message name="getSpeciesSoapOut">
      <wsdl:part name="parameters" element="tns:getSpeciesResponse"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusSoapIn">
      <wsdl:part name="parameters" element="tns:getJobsegmentStatus"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusSoapOut">
      <wsdl:part name="parameters" element="tns:getJobsegmentStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentSoapIn">
      <wsdl:part name="parameters" element="tns:getJobsegmentStatusPercent"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentSoapOut">
      <wsdl:part name="parameters" element="tns:getJobsegmentStatusPercentResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsCount"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsCountResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1Patterns"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsQue"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsQueResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1SoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsCountForSha1"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1SoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsCountForSha1Response"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsSEGUIDs"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsSEGUIDsResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsHeader"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsHeaderResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsDetailed"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsDetailedResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1PatternsDetailedDownload"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1PatternsDetailedDownloadResponse"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1SoapIn">
      <wsdl:part name="parameters" element="tns:getNrinfoSHA1"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1SoapOut">
      <wsdl:part name="parameters" element="tns:getNrinfoSHA1Response"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1SoapIn">
      <wsdl:part name="parameters" element="tns:getProteinsSHA1"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1SoapOut">
      <wsdl:part name="parameters" element="tns:getProteinsSHA1Response"/>
  </wsdl:message>
  <wsdl:message name="getSha1CountForThisIPSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1CountForThisIP"/>
  </wsdl:message>
  <wsdl:message name="getSha1CountForThisIPSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1CountForThisIPResponse"/>
  </wsdl:message>
  <wsdl:message name="getListOfJobIDForThisIPSoapIn">
      <wsdl:part name="parameters" element="tns:getListOfJobIDForThisIP"/>
  </wsdl:message>
  <wsdl:message name="getListOfJobIDForThisIPSoapOut">
      <wsdl:part name="parameters" element="tns:getListOfJobIDForThisIPResponse"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXSoapIn">
      <wsdl:part name="parameters" element="tns:checkREGEX"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXSoapOut">
      <wsdl:part name="parameters" element="tns:checkREGEXResponse"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexSoapIn">
      <wsdl:part name="parameters" element="tns:narrateRegex"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexSoapOut">
      <wsdl:part name="parameters" element="tns:narrateRegexResponse"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexSoapIn">
      <wsdl:part name="parameters" element="tns:checkForErrorInRegex"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexSoapOut">
      <wsdl:part name="parameters" element="tns:checkForErrorInRegexResponse"/>
  </wsdl:message>
  <wsdl:message name="checkOXSoapIn">
      <wsdl:part name="parameters" element="tns:checkOX"/>
  </wsdl:message>
  <wsdl:message name="checkOXSoapOut">
      <wsdl:part name="parameters" element="tns:checkOXResponse"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexSoapIn">
      <wsdl:part name="parameters" element="tns:convertPrositeToRegex"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexSoapOut">
      <wsdl:part name="parameters" element="tns:convertPrositeToRegexResponse"/>
  </wsdl:message>
  <wsdl:message name="testSoapIn">
      <wsdl:part name="parameters" element="tns:test"/>
  </wsdl:message>
  <wsdl:message name="testSoapOut">
      <wsdl:part name="parameters" element="tns:testResponse"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusSoapIn">
      <wsdl:part name="parameters" element="tns:getJobIDStatus"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusSoapOut">
      <wsdl:part name="parameters" element="tns:getJobIDStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapSoapIn">
      <wsdl:part name="parameters" element="tns:getJobsegmentsDetailsBitmap"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapSoapOut">
      <wsdl:part name="parameters" element="tns:getJobsegmentsDetailsBitmapResponse"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXSoapIn">
      <wsdl:part name="parameters" element="tns:getJobIDForOXREGEX"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXSoapOut">
      <wsdl:part name="parameters" element="tns:getJobIDForOXREGEXResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1patternsOxId"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1patternsOxIdResponse"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsTestEntriesSoapIn">
      <wsdl:part name="parameters" element="tns:getSha1patternsTestEntries"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsTestEntriesSoapOut">
      <wsdl:part name="parameters" element="tns:getSha1patternsTestEntriesResponse"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataSoapIn">
      <wsdl:part name="parameters" element="tns:insertPerformanceData"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataSoapOut">
      <wsdl:part name="parameters" element="tns:insertPerformanceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllowedCountForYourIPSoapIn">
      <wsdl:part name="parameters" element="tns:getAllowedCountForYourIP"/>
  </wsdl:message>
  <wsdl:message name="getAllowedCountForYourIPSoapOut">
      <wsdl:part name="parameters" element="tns:getAllowedCountForYourIPResponse"/>
  </wsdl:message>
  <wsdl:message name="insertJobSoapIn">
      <wsdl:part name="parameters" element="tns:insertJob"/>
  </wsdl:message>
  <wsdl:message name="insertJobSoapOut">
      <wsdl:part name="parameters" element="tns:insertJobResponse"/>
  </wsdl:message>
  <wsdl:message name="getIPSoapIn">
      <wsdl:part name="parameters" element="tns:getIP"/>
  </wsdl:message>
  <wsdl:message name="getIPSoapOut">
      <wsdl:part name="parameters" element="tns:getIPResponse"/>
  </wsdl:message>
  <wsdl:message name="getSpeciesHttpGetIn">
      <wsdl:part name="numberOfColumns" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSpeciesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1HttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1HttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
      <wsdl:part name="startRecord" type="s:string"/>
      <wsdl:part name="maxRecords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
      <wsdl:part name="startRecord" type="s:string"/>
      <wsdl:part name="maxRecords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1HttpGetIn">
      <wsdl:part name="Sha1" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1HttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1HttpGetIn">
      <wsdl:part name="Sha1" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1HttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1CountForThisIPHttpGetIn"/>
  <wsdl:message name="getSha1CountForThisIPHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getListOfJobIDForThisIPHttpGetIn"/>
  <wsdl:message name="getListOfJobIDForThisIPHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXHttpGetIn">
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexHttpGetIn">
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexHttpGetIn">
      <wsdl:part name="alteredSuppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="checkOXHttpGetIn">
      <wsdl:part name="suppliedOX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkOXHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexHttpGetIn">
      <wsdl:part name="suppliedPROSITE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="testHttpGetIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="testHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusHttpGetIn">
      <wsdl:part name="JobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapHttpGetIn">
      <wsdl:part name="JobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapHttpGetOut">
      <wsdl:part name="Body" element="tns:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXHttpGetIn">
      <wsdl:part name="Ox" type="s:string"/>
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdHttpGetIn">
      <wsdl:part name="Ox" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsTestEntriesHttpGetIn"/>
  <wsdl:message name="getSha1patternsTestEntriesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataHttpGetIn">
      <wsdl:part name="JobID" type="s:string"/>
      <wsdl:part name="testTime" type="s:string"/>
      <wsdl:part name="insertTime" type="s:string"/>
      <wsdl:part name="executeTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getAllowedCountForYourIPHttpGetIn"/>
  <wsdl:message name="getAllowedCountForYourIPHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="insertJobHttpGetIn">
      <wsdl:part name="Ox" type="s:string"/>
      <wsdl:part name="suppliedREGEX" type="s:string"/>
      <wsdl:part name="suppliedIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertJobHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getIPHttpGetIn">
      <wsdl:part name="suppliedIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getIPHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSpeciesHttpPostIn">
      <wsdl:part name="numberOfColumns" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSpeciesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentStatusPercentHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsQueHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1HttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsCountForSha1HttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsSEGUIDsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
      <wsdl:part name="startRecord" type="s:string"/>
      <wsdl:part name="maxRecords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsHeaderHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
      <wsdl:part name="startRecord" type="s:string"/>
      <wsdl:part name="maxRecords" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1PatternsDetailedDownloadHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1HttpPostIn">
      <wsdl:part name="Sha1" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNrinfoSHA1HttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1HttpPostIn">
      <wsdl:part name="Sha1" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProteinsSHA1HttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getSha1CountForThisIPHttpPostIn"/>
  <wsdl:message name="getSha1CountForThisIPHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getListOfJobIDForThisIPHttpPostIn"/>
  <wsdl:message name="getListOfJobIDForThisIPHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXHttpPostIn">
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkREGEXHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexHttpPostIn">
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="narrateRegexHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexHttpPostIn">
      <wsdl:part name="alteredSuppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkForErrorInRegexHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="checkOXHttpPostIn">
      <wsdl:part name="suppliedOX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="checkOXHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexHttpPostIn">
      <wsdl:part name="suppliedPROSITE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="convertPrositeToRegexHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="testHttpPostIn">
      <wsdl:part name="jobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="testHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusHttpPostIn">
      <wsdl:part name="JobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapHttpPostIn">
      <wsdl:part name="JobID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobsegmentsDetailsBitmapHttpPostOut">
      <wsdl:part name="Body" element="tns:base64Binary"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXHttpPostIn">
      <wsdl:part name="Ox" type="s:string"/>
      <wsdl:part name="suppliedREGEX" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getJobIDForOXREGEXHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdHttpPostIn">
      <wsdl:part name="Ox" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsOxIdHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getSha1patternsTestEntriesHttpPostIn"/>
  <wsdl:message name="getSha1patternsTestEntriesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataHttpPostIn">
      <wsdl:part name="JobID" type="s:string"/>
      <wsdl:part name="testTime" type="s:string"/>
      <wsdl:part name="insertTime" type="s:string"/>
      <wsdl:part name="executeTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertPerformanceDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getAllowedCountForYourIPHttpPostIn"/>
  <wsdl:message name="getAllowedCountForYourIPHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="insertJobHttpPostIn">
      <wsdl:part name="Ox" type="s:string"/>
      <wsdl:part name="suppliedREGEX" type="s:string"/>
      <wsdl:part name="suppliedIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertJobHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="getIPHttpPostIn">
      <wsdl:part name="suppliedIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getIPHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="regexsearchSoap">
      <wsdl:operation name="getSpecies">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Available species for SOAP-Match</documentation>
         <wsdl:input message="tns:getSpeciesSoapIn"/>
         <wsdl:output message="tns:getSpeciesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get status collection for this JobID</documentation>
         <wsdl:input message="tns:getJobsegmentStatusSoapIn"/>
         <wsdl:output message="tns:getJobsegmentStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentStatusPercent">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get percent completion for this JobID</documentation>
         <wsdl:input message="tns:getJobsegmentStatusPercentSoapIn"/>
         <wsdl:output message="tns:getJobsegmentStatusPercentSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsCount">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the count of inserted proteins for JobID</documentation>
         <wsdl:input message="tns:getSha1PatternsCountSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsCountSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1Patterns">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the inserted proteins for JobID</documentation>
         <wsdl:input message="tns:getSha1PatternsSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsQue">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the que length for JobID (number uncompleted before this jobid)</documentation>
         <wsdl:input message="tns:getSha1PatternsQueSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsQueSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsCountForSha1">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the number of sequences entered into results table</documentation>
         <wsdl:input message="tns:getSha1PatternsCountForSha1SoapIn"/>
         <wsdl:output message="tns:getSha1PatternsCountForSha1SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsSEGUIDs">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the SEGUIDs entered into results table</documentation>
         <wsdl:input message="tns:getSha1PatternsSEGUIDsSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsSEGUIDsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsHeader">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the header for the inserted proteins for JobID (paged)</documentation>
         <wsdl:input message="tns:getSha1PatternsHeaderSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsHeaderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsDetailed">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the inserted proteins for JobID (paged and detailed</documentation>
         <wsdl:input message="tns:getSha1PatternsDetailedSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsDetailedSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsDetailedDownload">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the inserted proteins for JobID (for download</documentation>
         <wsdl:input message="tns:getSha1PatternsDetailedDownloadSoapIn"/>
         <wsdl:output message="tns:getSha1PatternsDetailedDownloadSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getNrinfoSHA1">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve NRINFO for given SEGUID identifier (e.g. SUEg3EDgJOq9TPz2q3gIhfGR49M)</documentation>
         <wsdl:input message="tns:getNrinfoSHA1SoapIn"/>
         <wsdl:output message="tns:getNrinfoSHA1SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getProteinsSHA1">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieve PROTEIN info for given SEGUID identifier (e.g. SUEg3EDgJOq9TPz2q3gIhfGR49M)</documentation>
         <wsdl:input message="tns:getProteinsSHA1SoapIn"/>
         <wsdl:output message="tns:getProteinsSHA1SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1CountForThisIP">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the searches for this IP</documentation>
         <wsdl:input message="tns:getSha1CountForThisIPSoapIn"/>
         <wsdl:output message="tns:getSha1CountForThisIPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getListOfJobIDForThisIP">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the list of JobID for this IP</documentation>
         <wsdl:input message="tns:getListOfJobIDForThisIPSoapIn"/>
         <wsdl:output message="tns:getListOfJobIDForThisIPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="checkREGEX">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Check REGEX</documentation>
         <wsdl:input message="tns:checkREGEXSoapIn"/>
         <wsdl:output message="tns:checkREGEXSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="narrateRegex">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Narrate REGEX</documentation>
         <wsdl:input message="tns:narrateRegexSoapIn"/>
         <wsdl:output message="tns:narrateRegexSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="checkForErrorInRegex">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Check for error in REGEX</documentation>
         <wsdl:input message="tns:checkForErrorInRegexSoapIn"/>
         <wsdl:output message="tns:checkForErrorInRegexSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="checkOX">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Check OX</documentation>
         <wsdl:input message="tns:checkOXSoapIn"/>
         <wsdl:output message="tns:checkOXSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="convertPrositeToRegex">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Converts PROSITE pattern to REGEX</documentation>
         <wsdl:input message="tns:convertPrositeToRegexSoapIn"/>
         <wsdl:output message="tns:convertPrositeToRegexSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="test">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">test</documentation>
         <wsdl:input message="tns:testSoapIn"/>
         <wsdl:output message="tns:testSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getJobIDStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves status of JobID</documentation>
         <wsdl:input message="tns:getJobIDStatusSoapIn"/>
         <wsdl:output message="tns:getJobIDStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentsDetailsBitmap">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves jobsegments Bitmap by JobID</documentation>
         <wsdl:input message="tns:getJobsegmentsDetailsBitmapSoapIn"/>
         <wsdl:output message="tns:getJobsegmentsDetailsBitmapSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getJobIDForOXREGEX">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves JobID for OX - REGEX combination</documentation>
         <wsdl:input message="tns:getJobIDForOXREGEXSoapIn"/>
         <wsdl:output message="tns:getJobIDForOXREGEXSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1patternsOxId">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves the Sha1patternsOxId from OX</documentation>
         <wsdl:input message="tns:getSha1patternsOxIdSoapIn"/>
         <wsdl:output message="tns:getSha1patternsOxIdSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getSha1patternsTestEntries">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves Sha1patternsTestEntries (for SOAP::Match-Test .NET client)</documentation>
         <wsdl:input message="tns:getSha1patternsTestEntriesSoapIn"/>
         <wsdl:output message="tns:getSha1patternsTestEntriesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="insertPerformanceData">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Insert Performance Data</documentation>
         <wsdl:input message="tns:insertPerformanceDataSoapIn"/>
         <wsdl:output message="tns:insertPerformanceDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getAllowedCountForYourIP">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allowed count for your IP in the next 24 hours</documentation>
         <wsdl:input message="tns:getAllowedCountForYourIPSoapIn"/>
         <wsdl:output message="tns:getAllowedCountForYourIPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="insertJob">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Inserts a REGEX job and returns a JobID</documentation>
         <wsdl:input message="tns:insertJobSoapIn"/>
         <wsdl:output message="tns:insertJobSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getIP">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets IP</documentation>
         <wsdl:input message="tns:getIPSoapIn"/>
         <wsdl:output message="tns:getIPSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="regexsearchSoap" type="tns:regexsearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getSpecies">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSpecies"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentStatus">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getJobsegmentStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentStatusPercent">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getJobsegmentStatusPercent"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsCount">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1Patterns">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1Patterns"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsQue">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsQue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsCountForSha1">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsCountForSha1"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsSEGUIDs">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsSEGUIDs"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsHeader">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsHeader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsDetailed">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsDetailed"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1PatternsDetailedDownload">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1PatternsDetailedDownload"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getNrinfoSHA1">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getNrinfoSHA1"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProteinsSHA1">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getProteinsSHA1"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1CountForThisIP">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1CountForThisIP"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getListOfJobIDForThisIP">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getListOfJobIDForThisIP"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="checkREGEX">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/checkREGEX"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="narrateRegex">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/narrateRegex"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="checkForErrorInRegex">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/checkForErrorInRegex"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="checkOX">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/checkOX"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="convertPrositeToRegex">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/convertPrositeToRegex"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="test">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/test" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getJobIDStatus">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getJobIDStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getJobsegmentsDetailsBitmap">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getJobsegmentsDetailsBitmap"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getJobIDForOXREGEX">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getJobIDForOXREGEX"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1patternsOxId">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1patternsOxId"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSha1patternsTestEntries">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getSha1patternsTestEntries"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="insertPerformanceData">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/insertPerformanceData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllowedCountForYourIP">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getAllowedCountForYourIP"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="insertJob">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/insertJob"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getIP">
         <soap:operation soapAction="http://bioinformatics.anl.gov/ws/regexsearch/getIP"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="regexsearch">
      <wsdl:port name="regexsearchSoap" binding="tns:regexsearchSoap">
         <soap:address location="http://ws.soatrader.com/anl.gov/0.1/regexsearch"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>