wsdl_repositories/soatrader - Copy/ResLink_x0020_Booking_x0020_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="ResLink"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="ResLink">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>For documentation please go &lt;a href="../default.aspx"&gt;here&lt;/a&gt;</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="ResLink">
         <s:element name="MakeTourBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MakeTourBookingRequest"
                             type="tns:MakeTourBooking_RQ"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MakeTourBooking_RQ">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="BookingAgent" type="tns:BookingAgent"/>
               <s:element minOccurs="0" maxOccurs="1" name="SellingAgent" type="tns:SellingAgent"/>
               <s:element minOccurs="0" maxOccurs="1" name="Booking" type="tns:Booking"/>
               <s:element minOccurs="1" maxOccurs="1" name="RunID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BookingClassTypes"
                          type="tns:ArrayOfBookingClassType"/>
               <s:element minOccurs="0" maxOccurs="1" name="PaxList" type="tns:ArrayOfPax"/>
               <s:element minOccurs="0" maxOccurs="1" name="MarketingFields"
                          type="tns:ArrayOfMarketingField"/>
               <s:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfString"/>
               <s:element minOccurs="0" maxOccurs="1" name="Receipt" type="tns:Receipt"/>
               <s:element minOccurs="1" maxOccurs="1" name="MakeTestBooking" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="SendConfirmationEmail" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="BookingAgent">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OtherRef" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OtherRef2" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SellingAgent">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Booking">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfBookingClassType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="BookingClassType" nillable="true"
                          type="tns:BookingClassType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="BookingClassType">
            <s:attribute name="ClassTypeID" type="s:int" use="required"/>
            <s:attribute name="Name" type="s:string"/>
            <s:attribute name="PaxCount" type="s:int" use="required"/>
            <s:attribute name="Quantity" type="s:int" use="required"/>
            <s:attribute name="Price" type="s:double" use="required"/>
            <s:attribute name="Commission" type="s:double" use="required"/>
         </s:complexType>
         <s:complexType name="ArrayOfPax">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Pax" nillable="true" type="tns:Pax"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Pax">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country_GUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State_GUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OtherRef" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OtherRef2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MarketingFields"
                          type="tns:ArrayOfMarketingField"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfMarketingField">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="MarketingField" nillable="true"
                          type="tns:MarketingField"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MarketingField">
            <s:attribute name="Type" type="s:string"/>
            <s:attribute name="Index" type="s:int" use="required"/>
            <s:attribute name="Name" type="s:string"/>
            <s:attribute name="CategoryCode" type="s:string"/>
            <s:attribute name="Value" type="s:string"/>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Receipt">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="Commission" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionFee" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="FTR" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="MakeTourBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MakeTourBookingResult"
                             type="tns:MakeTourBooking_RS"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MakeTourBooking_RS">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:BookingStatus"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalculatedPrice" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalculatedCommission" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorItem"/>
               <s:element minOccurs="0" maxOccurs="1" name="Warnings" type="tns:ArrayOfWarningItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="BookingStatus">
            <s:attribute name="Code" type="s:int" use="required"/>
            <s:attribute name="Message" type="s:string"/>
         </s:complexType>
         <s:complexType name="ArrayOfErrorItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorItem" nillable="true"
                          type="tns:ErrorItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ErrorItem">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfWarningItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="WarningItem" nillable="true"
                          type="tns:WarningItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="WarningItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ResLinkSoapHeader" type="tns:ResLinkSoapHeader"/>
         <s:complexType name="ResLinkSoapHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProviderGUID" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeTourBookingSoapIn">
      <wsdl:part name="parameters" element="tns:MakeTourBooking"/>
  </wsdl:message>
  <wsdl:message name="MakeTourBookingSoapOut">
      <wsdl:part name="parameters" element="tns:MakeTourBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="MakeTourBookingResLinkSoapHeader">
      <wsdl:part name="ResLinkSoapHeader" element="tns:ResLinkSoapHeader"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="ResLink_x0020_Booking_x0020_ServiceSoap"
                 type="tns:ResLink_x0020_Booking_x0020_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="MakeTourBooking">
         <soap:operation soapAction="ResLink/MakeTourBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:MakeTourBookingResLinkSoapHeader" part="ResLinkSoapHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="ResLink_x0020_Booking_x0020_Service">
      <wsdl:documentation>For documentation please go &lt;a href="../default.aspx"&gt;here&lt;/a&gt;</wsdl:documentation>
      <wsdl:port name="ResLink_x0020_Booking_x0020_ServiceSoap"
                 binding="tns:ResLink_x0020_Booking_x0020_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/202.94.33.163/0.1/ResLink_x0020_Booking_x0020_Service"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>