wsdl_repositories/soatrader - Copy/ScheduledSendService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="com.esendex.ems.soapinterface"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="com.esendex.ems.soapinterface">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Methods to send SMS messages at a certain time, or elapsed time Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="com.esendex.ems.soapinterface">
         <s:element name="SendMessageIn">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType"/>
                  <s:element minOccurs="1" maxOccurs="1" name="days" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="minutes" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageType">
            <s:restriction base="s:string">
               <s:enumeration value="Text"/>
               <s:enumeration value="Binary"/>
               <s:enumeration value="SmartMessage"/>
               <s:enumeration value="Unicode"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SendMessageInResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageInResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MessengerHeader" type="tns:MessengerHeader"/>
         <s:complexType name="MessengerHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="SendMessageInFull">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType"/>
                  <s:element minOccurs="1" maxOccurs="1" name="validityperiod" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="days" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="minutes" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageInFullResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageInFullResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageAt">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType"/>
                  <s:element minOccurs="1" maxOccurs="1" name="submitAt" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageAtResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageAtResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageAtFull">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType"/>
                  <s:element minOccurs="1" maxOccurs="1" name="validityperiod" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="submitAt" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageAtFullResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageAtFullResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageInSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageIn"/>
  </wsdl:message>
  <wsdl:message name="SendMessageInSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageInResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageInMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  <wsdl:message name="SendMessageInFullSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageInFull"/>
  </wsdl:message>
  <wsdl:message name="SendMessageInFullSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageInFullResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageInFullMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageAt"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageAtResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtFullSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageAtFull"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtFullSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageAtFullResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageAtFullMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  
  <wsdl:binding name="ScheduledSendServiceSoap" type="tns:ScheduledSendServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendMessageIn">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendMessageIn" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SendMessageInMessengerHeader" part="MessengerHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageInFull">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendMessageInFull" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SendMessageInFullMessengerHeader" part="MessengerHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageAt">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendMessageAt" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SendMessageAtMessengerHeader" part="MessengerHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageAtFull">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendMessageAtFull" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SendMessageAtFullMessengerHeader" part="MessengerHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ScheduledSendService">
      <wsdl:documentation>Methods to send SMS messages at a certain time, or elapsed time Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
      <wsdl:port name="ScheduledSendServiceSoap" binding="tns:ScheduledSendServiceSoap">
         <soap:address location="http://ws.soatrader.com/esendex.com/0.1/ScheduledSendService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>