wsdl_repositories/soatrader - Copy/SearchServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="DoSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="searchParams">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DoSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DoSearchResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLov">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LovName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLovResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLovResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveSelectedPins">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Index" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Pins" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveSelectedPinsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveSelectedPinsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSelectedPins">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="searchIndex" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="selPins" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="unselPins" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSelectedPinsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetSelectedPinsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSelectedPins">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="searchIndex" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSelectedPinsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSelectedPinsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchCriterias">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="searchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchCriteriasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSearchCriteriasResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateExport">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ListType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExportType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateExportResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateExportResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="DoSearchSoapIn">
      <wsdl:part name="parameters" element="tns:DoSearch"/>
  </wsdl:message>
  <wsdl:message name="DoSearchSoapOut">
      <wsdl:part name="parameters" element="tns:DoSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLovSoapIn">
      <wsdl:part name="parameters" element="tns:GetLov"/>
  </wsdl:message>
  <wsdl:message name="GetLovSoapOut">
      <wsdl:part name="parameters" element="tns:GetLovResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveSelectedPinsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveSelectedPins"/>
  </wsdl:message>
  <wsdl:message name="SaveSelectedPinsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveSelectedPinsResponse"/>
  </wsdl:message>
  <wsdl:message name="SetSelectedPinsSoapIn">
      <wsdl:part name="parameters" element="tns:SetSelectedPins"/>
  </wsdl:message>
  <wsdl:message name="SetSelectedPinsSoapOut">
      <wsdl:part name="parameters" element="tns:SetSelectedPinsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSelectedPinsSoapIn">
      <wsdl:part name="parameters" element="tns:GetSelectedPins"/>
  </wsdl:message>
  <wsdl:message name="GetSelectedPinsSoapOut">
      <wsdl:part name="parameters" element="tns:GetSelectedPinsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSearchCriteriasSoapIn">
      <wsdl:part name="parameters" element="tns:GetSearchCriterias"/>
  </wsdl:message>
  <wsdl:message name="GetSearchCriteriasSoapOut">
      <wsdl:part name="parameters" element="tns:GetSearchCriteriasResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateExportSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateExport"/>
  </wsdl:message>
  <wsdl:message name="ValidateExportSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateExportResponse"/>
  </wsdl:message>
  <wsdl:portType name="SearchServicesSoap">
      <wsdl:operation name="DoSearch">
         <wsdl:input message="tns:DoSearchSoapIn"/>
         <wsdl:output message="tns:DoSearchSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetLov">
         <wsdl:input message="tns:GetLovSoapIn"/>
         <wsdl:output message="tns:GetLovSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveSelectedPins">
         <wsdl:input message="tns:SaveSelectedPinsSoapIn"/>
         <wsdl:output message="tns:SaveSelectedPinsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetSelectedPins">
         <wsdl:input message="tns:SetSelectedPinsSoapIn"/>
         <wsdl:output message="tns:SetSelectedPinsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSelectedPins">
         <wsdl:input message="tns:GetSelectedPinsSoapIn"/>
         <wsdl:output message="tns:GetSelectedPinsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSearchCriterias">
         <wsdl:input message="tns:GetSearchCriteriasSoapIn"/>
         <wsdl:output message="tns:GetSearchCriteriasSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ValidateExport">
         <wsdl:input message="tns:ValidateExportSoapIn"/>
         <wsdl:output message="tns:ValidateExportSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchServicesSoap" type="tns:SearchServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="DoSearch">
         <soap:operation soapAction="http://tempuri.org/DoSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLov">
         <soap:operation soapAction="http://tempuri.org/GetLov" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveSelectedPins">
         <soap:operation soapAction="http://tempuri.org/SaveSelectedPins" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetSelectedPins">
         <soap:operation soapAction="http://tempuri.org/SetSelectedPins" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSelectedPins">
         <soap:operation soapAction="http://tempuri.org/GetSelectedPins" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSearchCriterias">
         <soap:operation soapAction="http://tempuri.org/GetSearchCriterias" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateExport">
         <soap:operation soapAction="http://tempuri.org/ValidateExport" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchServices">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="SearchServicesSoap" binding="tns:SearchServicesSoap">
         <soap:address location="http://ws.soatrader.com/fairfaxcounty.gov/0.1/SearchServices"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>