wsdl_repositories/soatrader - Copy/SecureLogin.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org//SecureLogin"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org//SecureLogin">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
  <wsdl:message name="GetLoginTokenSoapIn">
      <wsdl:part name="PortalID" type="s:string"/>
      <wsdl:part name="SessionID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLoginTokenSoapOut">
      <wsdl:part name="GetLoginTokenResult" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="SecureLoginSoap">
      <wsdl:operation name="GetLoginToken">
         <wsdl:input message="tns:GetLoginTokenSoapIn"/>
         <wsdl:output message="tns:GetLoginTokenSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecureLoginSoap" type="tns:SecureLoginSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetLoginToken">
         <soap:operation soapAction="http://tempuri.org//SecureLogin/GetLoginToken" style="rpc"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://tempuri.org//SecureLogin"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://tempuri.org//SecureLogin"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecureLogin">
      <wsdl:port name="SecureLoginSoap" binding="tns:SecureLoginSoap">
         <soap:address location="http://ws.soatrader.com/wysecommunicator.com/0.1/SecureLogin"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>