wsdl_repositories/soatrader - Copy/SendSMS3.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/SMSPortal2006/SendSMS3"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/SMSPortal2006/SendSMS3">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/SMSPortal2006/SendSMS3">
         <s:element name="CheckCredits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCreditsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckCreditsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSingleSMS2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSingleSMS2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSingleSMS2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSingleSMS2WithID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSingleSMS2WithIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSingleSMS2WithIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendBulkSMS2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Numbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendBulkSMS2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendBulkSMS2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendCustomSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Messages">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendCustomSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendCustomSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendCusSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StrMessages" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendCusSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendCusSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentForEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EventID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SentID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentForEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSentForEventResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="SentID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSentByIDResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReplies">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Startdate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Enddate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRepliesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRepliesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRepliesID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncomingID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRepliesIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRepliesIDResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRepliesID2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncomingID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRepliesID2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRepliesID2Result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="groupname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="groupdesc" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateGroupResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListGroups">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListGroupsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListGroupsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddNumbersToGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Numbers" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddNumbersToGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddNumbersToGroupResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCreditsSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCredits"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditsSoapOut">
      <wsdl:part name="parameters" element="tns:CheckCreditsResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSingleSMS2SoapIn">
      <wsdl:part name="parameters" element="tns:SendSingleSMS2"/>
  </wsdl:message>
  <wsdl:message name="SendSingleSMS2SoapOut">
      <wsdl:part name="parameters" element="tns:SendSingleSMS2Response"/>
  </wsdl:message>
  <wsdl:message name="SendSingleSMS2WithIDSoapIn">
      <wsdl:part name="parameters" element="tns:SendSingleSMS2WithID"/>
  </wsdl:message>
  <wsdl:message name="SendSingleSMS2WithIDSoapOut">
      <wsdl:part name="parameters" element="tns:SendSingleSMS2WithIDResponse"/>
  </wsdl:message>
  <wsdl:message name="SendBulkSMS2SoapIn">
      <wsdl:part name="parameters" element="tns:SendBulkSMS2"/>
  </wsdl:message>
  <wsdl:message name="SendBulkSMS2SoapOut">
      <wsdl:part name="parameters" element="tns:SendBulkSMS2Response"/>
  </wsdl:message>
  <wsdl:message name="SendCustomSMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendCustomSMS"/>
  </wsdl:message>
  <wsdl:message name="SendCustomSMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendCustomSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SendCusSMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendCusSMS"/>
  </wsdl:message>
  <wsdl:message name="SendCusSMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendCusSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSentForEventSoapIn">
      <wsdl:part name="parameters" element="tns:GetSentForEvent"/>
  </wsdl:message>
  <wsdl:message name="GetSentForEventSoapOut">
      <wsdl:part name="parameters" element="tns:GetSentForEventResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSentByIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetSentByID"/>
  </wsdl:message>
  <wsdl:message name="GetSentByIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetSentByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesSoapIn">
      <wsdl:part name="parameters" element="tns:GetReplies"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesSoapOut">
      <wsdl:part name="parameters" element="tns:GetRepliesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetRepliesID"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetRepliesIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesID2SoapIn">
      <wsdl:part name="parameters" element="tns:GetRepliesID2"/>
  </wsdl:message>
  <wsdl:message name="GetRepliesID2SoapOut">
      <wsdl:part name="parameters" element="tns:GetRepliesID2Response"/>
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
      <wsdl:part name="parameters" element="tns:CreateGroup"/>
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
      <wsdl:part name="parameters" element="tns:CreateGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="ListGroupsSoapIn">
      <wsdl:part name="parameters" element="tns:ListGroups"/>
  </wsdl:message>
  <wsdl:message name="ListGroupsSoapOut">
      <wsdl:part name="parameters" element="tns:ListGroupsResponse"/>
  </wsdl:message>
  <wsdl:message name="AddNumbersToGroupSoapIn">
      <wsdl:part name="parameters" element="tns:AddNumbersToGroup"/>
  </wsdl:message>
  <wsdl:message name="AddNumbersToGroupSoapOut">
      <wsdl:part name="parameters" element="tns:AddNumbersToGroupResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SendSMS3Soap" type="tns:SendSMS3Soap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="CheckCredits">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/CheckCredits"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSingleSMS2">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/SendSingleSMS2"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSingleSMS2WithID">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/SendSingleSMS2WithID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendBulkSMS2">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/SendBulkSMS2"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendCustomSMS">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/SendCustomSMS"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendCusSMS">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/SendCusSMS"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSentForEvent">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/GetSentForEvent"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSentByID">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/GetSentByID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReplies">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/GetReplies"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRepliesID">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/GetRepliesID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRepliesID2">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/GetRepliesID2"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateGroup">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/CreateGroup"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListGroups">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/ListGroups"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddNumbersToGroup">
         <soap:operation soapAction="http://tempuri.org/SMSPortal2006/SendSMS3/AddNumbersToGroup"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SendSMS3">
      <wsdl:port name="SendSMS3Soap" binding="tns:SendSMS3Soap">
         <soap:address location="http://ws.soatrader.com/advernet.co.za/0.1/SendSMS3"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>