wsdl_repositories/soatrader - Copy/Service1.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://nagios-wsc/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://nagios-wsc/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://nagios-wsc/">
         <s:element name="disk">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="diskResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="diskResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="disks">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="disksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="disksResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="uptime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="uptimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="uptimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="services">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="servicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="servicesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="cpu">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="cpuResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="cpuResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="generic_WMI">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WMI_Class" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Select_Fields" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Where_clause" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="generic_WMIResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="generic_WMIResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="generic_WMI2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WMI_Class" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Select_Fields" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Where_clause" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="generic_WMI2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="generic_WMI2Result">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="diskSoapIn">
      <wsdl:part name="parameters" element="tns:disk"/>
  </wsdl:message>
  <wsdl:message name="diskSoapOut">
      <wsdl:part name="parameters" element="tns:diskResponse"/>
  </wsdl:message>
  <wsdl:message name="disksSoapIn">
      <wsdl:part name="parameters" element="tns:disks"/>
  </wsdl:message>
  <wsdl:message name="disksSoapOut">
      <wsdl:part name="parameters" element="tns:disksResponse"/>
  </wsdl:message>
  <wsdl:message name="uptimeSoapIn">
      <wsdl:part name="parameters" element="tns:uptime"/>
  </wsdl:message>
  <wsdl:message name="uptimeSoapOut">
      <wsdl:part name="parameters" element="tns:uptimeResponse"/>
  </wsdl:message>
  <wsdl:message name="servicesSoapIn">
      <wsdl:part name="parameters" element="tns:services"/>
  </wsdl:message>
  <wsdl:message name="servicesSoapOut">
      <wsdl:part name="parameters" element="tns:servicesResponse"/>
  </wsdl:message>
  <wsdl:message name="cpuSoapIn">
      <wsdl:part name="parameters" element="tns:cpu"/>
  </wsdl:message>
  <wsdl:message name="cpuSoapOut">
      <wsdl:part name="parameters" element="tns:cpuResponse"/>
  </wsdl:message>
  <wsdl:message name="generic_WMISoapIn">
      <wsdl:part name="parameters" element="tns:generic_WMI"/>
  </wsdl:message>
  <wsdl:message name="generic_WMISoapOut">
      <wsdl:part name="parameters" element="tns:generic_WMIResponse"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2SoapIn">
      <wsdl:part name="parameters" element="tns:generic_WMI2"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2SoapOut">
      <wsdl:part name="parameters" element="tns:generic_WMI2Response"/>
  </wsdl:message>
  <wsdl:message name="diskHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="diskHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="disksHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="disksHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="uptimeHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="uptimeHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="servicesHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="servicesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="cpuHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="cpuHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMIHttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="WMI_Class" type="s:string"/>
      <wsdl:part name="Select_Fields" type="s:string"/>
      <wsdl:part name="Where_clause" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMIHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2HttpGetIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="WMI_Class" type="s:string"/>
      <wsdl:part name="Select_Fields" type="s:string"/>
      <wsdl:part name="Where_clause" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2HttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="diskHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="diskHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="disksHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="disksHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="uptimeHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="uptimeHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="servicesHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="servicesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="cpuHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="param" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="cpuHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMIHttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="WMI_Class" type="s:string"/>
      <wsdl:part name="Select_Fields" type="s:string"/>
      <wsdl:part name="Where_clause" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMIHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2HttpPostIn">
      <wsdl:part name="server" type="s:string"/>
      <wsdl:part name="WMI_Class" type="s:string"/>
      <wsdl:part name="Select_Fields" type="s:string"/>
      <wsdl:part name="Where_clause" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="generic_WMI2HttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
      <wsdl:operation name="disk">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method checks a single, local disk of a remote server and compares to the threshold value, supplied in megabytes</documentation>
         <wsdl:input message="tns:diskSoapIn"/>
         <wsdl:output message="tns:diskSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="disks">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method checks all local disks of a remote server and compares to the threshold value, supplied in megabytes</documentation>
         <wsdl:input message="tns:disksSoapIn"/>
         <wsdl:output message="tns:disksSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="uptime">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method checks the uptime of a remote server and flags whether the server has been rebooted recently</documentation>
         <wsdl:input message="tns:uptimeSoapIn"/>
         <wsdl:output message="tns:uptimeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="services">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method checks a list of services to see if any are not running</documentation>
         <wsdl:input message="tns:servicesSoapIn"/>
         <wsdl:output message="tns:servicesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="cpu">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method checks the CPU utilisation</documentation>
         <wsdl:input message="tns:cpuSoapIn"/>
         <wsdl:output message="tns:cpuSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="generic_WMI">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method acts like a wmi proxy</documentation>
         <wsdl:input message="tns:generic_WMISoapIn"/>
         <wsdl:output message="tns:generic_WMISoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="generic_WMI2">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method acts like a wmi proxy for the WMI namespace</documentation>
         <wsdl:input message="tns:generic_WMI2SoapIn"/>
         <wsdl:output message="tns:generic_WMI2SoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="disk">
         <soap:operation soapAction="http://nagios-wsc/disk" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="disks">
         <soap:operation soapAction="http://nagios-wsc/disks" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="uptime">
         <soap:operation soapAction="http://nagios-wsc/uptime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="services">
         <soap:operation soapAction="http://nagios-wsc/services" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="cpu">
         <soap:operation soapAction="http://nagios-wsc/cpu" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="generic_WMI">
         <soap:operation soapAction="http://nagios-wsc/generic_WMI" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="generic_WMI2">
         <soap:operation soapAction="http://nagios-wsc/generic_WMI2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Service1">
      <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
         <soap:address location="http://ws.soatrader.com/travelzoo.com/0.1/Service1"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>