wsdl_repositories/soatrader - Copy/SHUAAIndices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.shuaacapital.com/webservices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.shuaacapital.com/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>SHUAA Capital has a very effective and efficient way for interested parties to receive our value-added family of indices directly in XML format, namely, SHUAA Capital Indices .NET web services. The consumer of this service can be anyone on the Internet that can use XML. Examples are Excel spreadsheet, or a web site. Final formatting of the incoming XML information is up to the consumer, which allows tight integration.&lt;BR&gt;&lt;BR&gt;Please find a description of how to use each function of this web service under the function name. For more information, please contact &lt;a href="mailto:webmaster@shuaacapital.com"&gt;webmaster@shuaacapital.com&lt;/a&gt;</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.shuaacapital.com/webservices/">
         <s:element name="GetIndices">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IndexType" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DaysSince" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AsOn" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndicesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryIndex">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryIndexResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountryIndexResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegionIndex">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegionID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegionIndexResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRegionIndexResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIndicesSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndices"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndicesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountryIndex"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryIndexResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexSoapIn">
      <wsdl:part name="parameters" element="tns:GetRegionIndex"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexSoapOut">
      <wsdl:part name="parameters" element="tns:GetRegionIndexResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpGetIn">
      <wsdl:part name="IndexType" type="s:string"/>
      <wsdl:part name="DaysSince" type="s:string"/>
      <wsdl:part name="AsOn" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexHttpGetIn">
      <wsdl:part name="CountryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexHttpGetIn">
      <wsdl:part name="RegionID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpPostIn">
      <wsdl:part name="IndexType" type="s:string"/>
      <wsdl:part name="DaysSince" type="s:string"/>
      <wsdl:part name="AsOn" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexHttpPostIn">
      <wsdl:part name="CountryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryIndexHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexHttpPostIn">
      <wsdl:part name="RegionID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRegionIndexHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="SHUAAIndicesSoap" type="tns:SHUAAIndicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetIndices">
         <soap:operation soapAction="http://www.shuaacapital.com/webservices/GetIndices"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountryIndex">
         <soap:operation soapAction="http://www.shuaacapital.com/webservices/GetCountryIndex"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRegionIndex">
         <soap:operation soapAction="http://www.shuaacapital.com/webservices/GetRegionIndex"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="SHUAAIndices">
      <wsdl:documentation>SHUAA Capital has a very effective and efficient way for interested parties to receive our value-added family of indices directly in XML format, namely, SHUAA Capital Indices .NET web services. The consumer of this service can be anyone on the Internet that can use XML. Examples are Excel spreadsheet, or a web site. Final formatting of the incoming XML information is up to the consumer, which allows tight integration.&lt;BR&gt;&lt;BR&gt;Please find a description of how to use each function of this web service under the function name. For more information, please contact &lt;a href="mailto:webmaster@shuaacapital.com"&gt;webmaster@shuaacapital.com&lt;/a&gt;</wsdl:documentation>
      <wsdl:port name="SHUAAIndicesSoap" binding="tns:SHUAAIndicesSoap">
         <soap:address location="http://ws.soatrader.com/shuaacapital.com/0.2/SHUAAIndices"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>