wsdl_repositories/soatrader - Copy/SMSAPI.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sms2u.co.il/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://sms2u.co.il/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://sms2u.co.il/">
         <s:element name="SendXMLPersonalSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendXMLPersonalSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendXMLPersonalSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://sms2u.co.il/">
         <s:element name="SendXMLPersonalSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XMLString" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendXMLPersonalSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendXMLPersonalSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendXMLPersonalSMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendXMLPersonalSMS"/>
  </wsdl:message>
  <wsdl:message name="SendXMLPersonalSMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendXMLPersonalSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SendXMLPersonalSMSHttpGetIn">
      <wsdl:part name="XMLString" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendXMLPersonalSMSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendXMLPersonalSMSHttpPostIn">
      <wsdl:part name="XMLString" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendXMLPersonalSMSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="SMSAPISoap" type="tns:SMSAPISoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendXMLPersonalSMS">
         <soap:operation soapAction="http://sms2u.co.il/SendXMLPersonalSMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="SMSAPI">
      <wsdl:port name="SMSAPISoap" binding="tns:SMSAPISoap">
         <soap:address location="http://ws.soatrader.com/goldman.co.il/0.1/SMSAPI"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>