wsdl_repositories/soatrader - Copy/SpanishWeather.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="getString">
            <s:complexType/>
         </s:element>
         <s:element name="getStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="updateWeather">
            <s:complexType/>
         </s:element>
         <s:element name="updateWeatherResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getStringSoapIn">
      <wsdl:part name="parameters" element="tns:getString"/>
  </wsdl:message>
  <wsdl:message name="getStringSoapOut">
      <wsdl:part name="parameters" element="tns:getStringResponse"/>
  </wsdl:message>
  <wsdl:message name="updateWeatherSoapIn">
      <wsdl:part name="parameters" element="tns:updateWeather"/>
  </wsdl:message>
  <wsdl:message name="updateWeatherSoapOut">
      <wsdl:part name="parameters" element="tns:updateWeatherResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SpanishWeatherSoap" type="tns:SpanishWeatherSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getString">
         <soap:operation soapAction="http://tempuri.org/getString" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateWeather">
         <soap:operation soapAction="http://tempuri.org/updateWeather" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SpanishWeather">
      <wsdl:port name="SpanishWeatherSoap" binding="tns:SpanishWeatherSoap">
         <soap:address location="http://ws.soatrader.com/coralsantignasi.com/0.1/SpanishWeather"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>