wsdl_repositories/soatrader - Copy/StockQuoteServiceService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://piv-login2.osc.edu/axis/services/stock-wss-01">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:apachesoap="http://xml.apache.org/xml-soap"
              xmlns:impl="http://piv-login2.osc.edu/axis/services/stock-wss-01"
              xmlns:intf="http://piv-login2.osc.edu/axis/services/stock-wss-01"
              xmlns:tns1="http://stock.samples"
              xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              elementFormDefault="qualified"
              targetNamespace="http://stock.samples">
         <element name="symbol" type="xsd:string"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:apachesoap="http://xml.apache.org/xml-soap"
              xmlns:impl="http://piv-login2.osc.edu/axis/services/stock-wss-01"
              xmlns:intf="http://piv-login2.osc.edu/axis/services/stock-wss-01"
              xmlns:tns1="http://stock.samples"
              xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              elementFormDefault="qualified"
              targetNamespace="http://piv-login2.osc.edu/axis/services/stock-wss-01">
         <element name="getQuoteReturn" type="xsd:float"/>
      </schema>
   </wsdl:types>

   <wsdl:message name="getQuoteResponse">

      <wsdl:part element="impl:getQuoteReturn" name="getQuoteReturn"/>

   </wsdl:message>

   <wsdl:message name="getQuoteRequest">

      <wsdl:part element="tns1:symbol" name="symbol"/>

   </wsdl:message>

   <wsdl:portType name="StockQuoteService">

      <wsdl:operation name="getQuote" parameterOrder="symbol">

         <wsdl:input message="impl:getQuoteRequest" name="getQuoteRequest"/>

         <wsdl:output message="impl:getQuoteResponse" name="getQuoteResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="stock-wss-01SoapBinding" type="impl:StockQuoteService">

      <wsdlsoap:binding xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" style="document"
                        transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuote">

         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>

         <wsdl:input name="getQuoteRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuoteResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockQuoteServiceService">

      <wsdl:port binding="impl:stock-wss-01SoapBinding" name="stock-wss-01">

         <wsdlsoap:address xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           location="http://ws.soatrader.com/osc.edu/0.1/StockQuoteServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>