wsdl_repositories/soatrader - Copy/TemperatureService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.xmethods.net/sd/TemperatureService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="TemperatureService"
             targetNamespace="http://www.xmethods.net/sd/TemperatureService.wsdl">
   <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <message name="getTempRequest">
		    <part name="zipcode" type="xsd:string"/>
	  </message>
	  <message name="getTempResponse">
		    <part name="return" type="xsd:float"/>
	  </message>
	  <portType name="TemperaturePortType">
		    <operation name="getTemp">
			      <input message="tns:getTempRequest"/>
			      <output message="tns:getTempResponse"/>
		    </operation>
	  </portType>
	  <binding name="TemperatureBinding" type="tns:TemperaturePortType">
		    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <operation name="getTemp">
			      <soap:operation soapAction=""/>
			      <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="encoded" namespace="urn:xmethods-Temperature"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			      </input>
			      <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="encoded" namespace="urn:xmethods-Temperature"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			      </output>
		    </operation>
	  </binding>
	  <service name="TemperatureService">
		    <documentation>Returns current temperature in a given U.S. zipcode  </documentation>
		    <port name="TemperaturePort" binding="tns:TemperatureBinding">
			      <soap:address location="http://ws.soatrader.com/um.edu.mt/0.1/TemperatureService"/>
		    </port>
	  </service>
</definitions>