wsdl_repositories/soatrader - Copy/The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="arieldolan.dollhouse"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="arieldolan.dollhouse">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="arieldolan.dollhouse">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="OrderItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="OrderItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderItemResult" type="tns:OrderDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="OrderDetails">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShipDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="OrderTotal" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="OrderItems">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="CheckStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckStatusResult" type="tns:OrderDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="OrderItemSoapIn">
      <wsdl:part name="parameters" element="tns:OrderItem"/>
  </wsdl:message>
  <wsdl:message name="OrderItemSoapOut">
      <wsdl:part name="parameters" element="tns:OrderItemResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckStatusSoapIn">
      <wsdl:part name="parameters" element="tns:CheckStatus"/>
  </wsdl:message>
  <wsdl:message name="CheckStatusSoapOut">
      <wsdl:part name="parameters" element="tns:CheckStatusResponse"/>
  </wsdl:message>
  <wsdl:portType name="The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_Soap">
      <wsdl:operation name="OrderItem">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The OrderItem method enables a remote client to programmatically place an order.</documentation>
         <wsdl:input message="tns:OrderItemSoapIn"/>
         <wsdl:output message="tns:OrderItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CheckStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The CheckStatus method enables a remote client to programmatically query the current status of an order.</documentation>
         <wsdl:input message="tns:CheckStatusSoapIn"/>
         <wsdl:output message="tns:CheckStatusSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_Soap"
                 type="tns:The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_Soap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="OrderItem">
         <soap:operation soapAction="arieldolan.dollhouse/OrderItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckStatus">
         <soap:operation soapAction="arieldolan.dollhouse/CheckStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service for the demo online store based on the IBuySpy Template</documentation>
      <wsdl:port name="The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_Soap"
                 binding="tns:The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_Soap">
         <soap:address location="http://ws.soatrader.com/aridolan.com/0.1/The_x0020_Dolls_x0020_Gallery_x0020_Store_x0020__x0028_Web_x0020_Service_x0029_"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>