wsdl_repositories/soatrader - Copy/UDDIBusinessFinder.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.webserviceX.NET"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.webserviceX.NET">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
         <s:element name="FindBusiness">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UDDIRegister" type="tns:UDDIRegistry"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BusinessStartWith" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="UDDIRegistry">
            <s:restriction base="s:string">
               <s:enumeration value="MS"/>
               <s:enumeration value="MST"/>
               <s:enumeration value="IBM"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="FindBusinessResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindBusinessResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindBusinessInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UDDIBusinessKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindBusinessInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindBusinessInformationResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="FindBusinessSoapIn">
      <wsdl:part name="parameters" element="tns:FindBusiness"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessSoapOut">
      <wsdl:part name="parameters" element="tns:FindBusinessResponse"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationSoapIn">
      <wsdl:part name="parameters" element="tns:FindBusinessInformation"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationSoapOut">
      <wsdl:part name="parameters" element="tns:FindBusinessInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessHttpGetIn">
      <wsdl:part name="UDDIRegister" type="s:string"/>
      <wsdl:part name="BusinessName" type="s:string"/>
      <wsdl:part name="BusinessStartWith" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationHttpGetIn">
      <wsdl:part name="UDDIBusinessKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessHttpPostIn">
      <wsdl:part name="UDDIRegister" type="s:string"/>
      <wsdl:part name="BusinessName" type="s:string"/>
      <wsdl:part name="BusinessStartWith" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationHttpPostIn">
      <wsdl:part name="UDDIBusinessKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindBusinessInformationHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="UDDIBusinessFinderSoap">
      <wsdl:operation name="FindBusiness">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Search UDDI Registry (Microsoft UDDI,IBM UDDI,Microsoft Test UDDI) by UDDI Registry,Business Name or Business Name start character</documentation>
         <wsdl:input message="tns:FindBusinessSoapIn"/>
         <wsdl:output message="tns:FindBusinessSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="FindBusinessInformation">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Find UDDI Business Information(BusinessName,BusinessKey,DISCO,ServiceKey,AccessPoint,Description) for a UDDI BusinessKey</documentation>
         <wsdl:input message="tns:FindBusinessInformationSoapIn"/>
         <wsdl:output message="tns:FindBusinessInformationSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="UDDIBusinessFinderSoap" type="tns:UDDIBusinessFinderSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="FindBusiness">
         <soap:operation soapAction="http://www.webserviceX.NET/FindBusiness" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindBusinessInformation">
         <soap:operation soapAction="http://www.webserviceX.NET/FindBusinessInformation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="UDDIBusinessFinder">
      <wsdl:port name="UDDIBusinessFinderSoap" binding="tns:UDDIBusinessFinderSoap">
         <soap:address location="http://ws.soatrader.com/webservicex.net/0.1/UDDIBusinessFinder"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>