wsdl_repositories/soatrader - Copy/UKAddressVerification.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://www.strikeiron.com"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://ws.strikeiron.com"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:si="http://www.strikeiron.com"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.strikeiron.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
         <s:element name="VerifyAndEnhanceMultipleAddresses">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="si:ArrayOfAddress"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfAddress">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true"
                          type="si:Address"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VerifyAndEnhanceMultipleAddressesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultCount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Listings" type="si:ArrayOfListing"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfListing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Listing" nillable="true"
                          type="si:Listing"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Listing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Residue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountrySpecificLocalityLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddressLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FormattedAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VerificationStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VerificationStatusText" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ResultPrecentage" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementMatchStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementMatchStatusTexts" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementResultStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementResultStatusTexts" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ResponseInfo" type="si:ResponseInfo"/>
         <s:complexType name="ResponseInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VerifyAndEnhanceSingleAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="si:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAndEnhanceSingleAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Listing" type="si:Listing"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
         <s:element name="VerifyAndEnhanceMultipleAddresses">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="si:ArrayOfAddress"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfAddress">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true"
                          type="si:Address"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VerifyAndEnhanceMultipleAddressesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultCount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Listings" type="si:ArrayOfListing"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfListing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Listing" nillable="true"
                          type="si:Listing"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Listing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Residue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountrySpecificLocalityLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddressLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FormattedAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VerificationStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VerificationStatusText" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ResultPrecentage" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementMatchStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementMatchStatusTexts" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementResultStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementResultStatusTexts" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ResponseInfo" type="si:ResponseInfo"/>
         <s:complexType name="ResponseInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VerifyAndEnhanceSingleAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="si:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAndEnhanceSingleAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Listing" type="si:Listing"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </s:schema>
      <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyAndEnhanceMultipleAddressesSoapIn">
      <wsdl:part name="parameters" element="si:VerifyAndEnhanceMultipleAddresses"/>
  </wsdl:message>
  <wsdl:message name="VerifyAndEnhanceMultipleAddressesSoapOut">
      <wsdl:part name="parameters" element="si:VerifyAndEnhanceMultipleAddressesResponse"/>
  </wsdl:message>
  <wsdl:message name="VerifyAndEnhanceMultipleAddressesResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="VerifyAndEnhanceSingleAddressSoapIn">
      <wsdl:part name="parameters" element="si:VerifyAndEnhanceSingleAddress"/>
  </wsdl:message>
  <wsdl:message name="VerifyAndEnhanceSingleAddressSoapOut">
      <wsdl:part name="parameters" element="si:VerifyAndEnhanceSingleAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="VerifyAndEnhanceSingleAddressResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="s1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="s1:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="UKAddressVerificationSoap">
      <wsdl:operation name="VerifyAndEnhanceMultipleAddresses">
         <wsdl:input message="si:VerifyAndEnhanceMultipleAddressesSoapIn"/>
         <wsdl:output message="si:VerifyAndEnhanceMultipleAddressesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="VerifyAndEnhanceSingleAddress">
         <wsdl:input message="si:VerifyAndEnhanceSingleAddressSoapIn"/>
         <wsdl:output message="si:VerifyAndEnhanceSingleAddressSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="si:GetRemainingHitsSoapIn"/>
         <wsdl:output message="si:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UKAddressVerificationSoap" type="si:UKAddressVerificationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="VerifyAndEnhanceMultipleAddresses">
         <soap:operation soapAction="http://www.strikeiron.com/VerifyAndEnhanceMultipleAddresses"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <tns:assertions/>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:VerifyAndEnhanceMultipleAddressesResponseInfo" part="ResponseInfo"
                         use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VerifyAndEnhanceSingleAddress">
         <soap:operation soapAction="http://www.strikeiron.com/VerifyAndEnhanceSingleAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <tns:assertions/>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:VerifyAndEnhanceSingleAddressResponseInfo" part="ResponseInfo"
                         use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/UKAddressVerification/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UKAddressVerification">
      <wsdl:port name="UKAddressVerificationSoap" binding="si:UKAddressVerificationSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/UKAddressVerification"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>