wsdl_repositories/soatrader - Copy/UPS_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://service.ecocoma.com/shipping/ups"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://service.ecocoma.com/shipping/ups">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Cocoma UPS Shipping Web Services.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://service.ecocoma.com/shipping/ups">
         <s:element name="GetUPSRate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="origPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="origCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Weight" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUPSRateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUPSRateResult" type="tns:Shipping"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Shipping">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Package" type="tns:ArrayOfPostage"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfPostage">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Postage" nillable="true"
                          type="tns:Postage"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Postage">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MailService" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Rate" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetExtendedUPSRate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="origPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="origCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Weight" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:Options"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Options">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RateChart" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Container" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Residential" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="COD" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HazardousMaterial" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HandlingCharge" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CallTagservice" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SaturdayDelivery" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryConfirmationService" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Height" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Length" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Sort" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetExtendedUPSRateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetExtendedUPSRateResult" type="tns:Shipping"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUPSRateSoapIn">
      <wsdl:part name="parameters" element="tns:GetUPSRate"/>
  </wsdl:message>
  <wsdl:message name="GetUPSRateSoapOut">
      <wsdl:part name="parameters" element="tns:GetUPSRateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetExtendedUPSRateSoapIn">
      <wsdl:part name="parameters" element="tns:GetExtendedUPSRate"/>
  </wsdl:message>
  <wsdl:message name="GetExtendedUPSRateSoapOut">
      <wsdl:part name="parameters" element="tns:GetExtendedUPSRateResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="UPS_ServiceSoap" type="tns:UPS_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetUPSRate">
         <soap:operation soapAction="http://service.ecocoma.com/shipping/ups/GetUPSRate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetExtendedUPSRate">
         <soap:operation soapAction="http://service.ecocoma.com/shipping/ups/GetExtendedUPSRate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UPS_Service">
      <wsdl:documentation>Cocoma UPS Shipping Web Services.</wsdl:documentation>
      <wsdl:port name="UPS_ServiceSoap" binding="tns:UPS_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/ecocoma.com/0.1/UPS_Service"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>