wsdl_repositories/soatrader - Copy/UserSocialNetworkService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://RealEstateNewport.WebForms.PublicSite.Services/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://RealEstateNewport.WebForms.PublicSite.Services/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://RealEstateNewport.WebForms.PublicSite.Services/">
         <s:element name="GetUsersByOffice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="officeCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsersByOfficeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUsersByOfficeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersByOfficeSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsersByOffice"/>
  </wsdl:message>
  <wsdl:message name="GetUsersByOfficeSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsersByOfficeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUsersByOfficeHttpGetIn">
      <wsdl:part name="officeCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUsersByOfficeHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUsersByOfficeHttpPostIn">
      <wsdl:part name="officeCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUsersByOfficeHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="UserSocialNetworkServiceSoap" type="tns:UserSocialNetworkServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetUsersByOffice">
         <soap:operation soapAction="http://RealEstateNewport.WebForms.PublicSite.Services/GetUsersByOffice"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="UserSocialNetworkService">
      <wsdl:port name="UserSocialNetworkServiceSoap" binding="tns:UserSocialNetworkServiceSoap">
         <soap:address location="http://ws.soatrader.com/realestatesouthington.com/0.1/UserSocialNetworkService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>