wsdl_repositories/soatrader - Copy/Users.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="Wrapper.Users"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="Wrapper.Users">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="Wrapper.Users">
         <s:element name="GetClientVersion">
            <s:complexType/>
         </s:element>
         <s:element name="GetClientVersionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetClientVersionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProVersion">
            <s:complexType/>
         </s:element>
         <s:element name="GetProVersionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProVersionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInstallFile">
            <s:complexType/>
         </s:element>
         <s:element name="GetInstallFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInstallFileResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProInstallFile">
            <s:complexType/>
         </s:element>
         <s:element name="GetProInstallFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProInstallFileResult"
                             type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCredit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCreditResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckCreditResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Register">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneHome" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneWork" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneMobile" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EMailHome" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EMailWork" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VatOrTaxIdentificationNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegisterResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Register2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneHome" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneWork" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneMobile" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EMailHome" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EMailWork" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VatOrTaxIdentificationNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Register2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Register2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Login">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdminDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserDataResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckActivationCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ActivationCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckActivationCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckActivationCodeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeConsumerPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeConsumerPasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeConsumerPasswordResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientVersionSoapIn">
      <wsdl:part name="parameters" element="tns:GetClientVersion"/>
  </wsdl:message>
  <wsdl:message name="GetClientVersionSoapOut">
      <wsdl:part name="parameters" element="tns:GetClientVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProVersionSoapIn">
      <wsdl:part name="parameters" element="tns:GetProVersion"/>
  </wsdl:message>
  <wsdl:message name="GetProVersionSoapOut">
      <wsdl:part name="parameters" element="tns:GetProVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInstallFileSoapIn">
      <wsdl:part name="parameters" element="tns:GetInstallFile"/>
  </wsdl:message>
  <wsdl:message name="GetInstallFileSoapOut">
      <wsdl:part name="parameters" element="tns:GetInstallFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProInstallFileSoapIn">
      <wsdl:part name="parameters" element="tns:GetProInstallFile"/>
  </wsdl:message>
  <wsdl:message name="GetProInstallFileSoapOut">
      <wsdl:part name="parameters" element="tns:GetProInstallFileResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCredit"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapOut">
      <wsdl:part name="parameters" element="tns:CheckCreditResponse"/>
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
      <wsdl:part name="parameters" element="tns:Register"/>
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
      <wsdl:part name="parameters" element="tns:RegisterResponse"/>
  </wsdl:message>
  <wsdl:message name="Register2SoapIn">
      <wsdl:part name="parameters" element="tns:Register2"/>
  </wsdl:message>
  <wsdl:message name="Register2SoapOut">
      <wsdl:part name="parameters" element="tns:Register2Response"/>
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
      <wsdl:part name="parameters" element="tns:Login"/>
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
      <wsdl:part name="parameters" element="tns:LoginResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdminDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdminData"/>
  </wsdl:message>
  <wsdl:message name="GetAdminDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdminDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetUserData"/>
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetUserDataResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckActivationCodeSoapIn">
      <wsdl:part name="parameters" element="tns:CheckActivationCode"/>
  </wsdl:message>
  <wsdl:message name="CheckActivationCodeSoapOut">
      <wsdl:part name="parameters" element="tns:CheckActivationCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeConsumerPasswordSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeConsumerPassword"/>
  </wsdl:message>
  <wsdl:message name="ChangeConsumerPasswordSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeConsumerPasswordResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="UsersSoap" type="tns:UsersSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetClientVersion">
         <soap:operation soapAction="Wrapper.Users/GetClientVersion" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetProVersion">
         <soap:operation soapAction="Wrapper.Users/GetProVersion" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetInstallFile">
         <soap:operation soapAction="Wrapper.Users/GetInstallFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetProInstallFile">
         <soap:operation soapAction="Wrapper.Users/GetProInstallFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckCredit">
         <soap:operation soapAction="Wrapper.Users/CheckCredit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Register">
         <soap:operation soapAction="Wrapper.Users/Register" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Register2">
         <soap:operation soapAction="Wrapper.Users/Register2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Login">
         <soap:operation soapAction="Wrapper.Users/Login" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdminData">
         <soap:operation soapAction="Wrapper.Users/GetAdminData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserData">
         <soap:operation soapAction="Wrapper.Users/GetUserData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckActivationCode">
         <soap:operation soapAction="Wrapper.Users/CheckActivationCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeConsumerPassword">
         <soap:operation soapAction="Wrapper.Users/ChangeConsumerPassword" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Users">
      <wsdl:port name="UsersSoap" binding="tns:UsersSoap">
         <soap:address location="http://ws.soatrader.com/sms.mio.it/0.1/Users"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>