wsdl_repositories/soatrader - Copy/VaultServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="http://marketing.ews.yahooapis.com/V4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://marketing.ews.yahooapis.com/V4">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                  targetNamespace="http://marketing.ews.yahooapis.com/V4">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>4.3.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="addCreditCard">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingUserInfo" nillable="true"
                               type="tns:BillingUser"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingAddress" nillable="true"
                               type="tns:Address"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="cc" nillable="true" type="tns:CreditCardInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addCreditCardResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addNewCustomer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="company" nillable="true" type="tns:Company"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="masterAccount" nillable="true"
                               type="tns:MasterAccount"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="account" nillable="true" type="tns:Account"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="username" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="userInfo" nillable="true" type="tns:User"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="address" nillable="true" type="tns:Address"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingUserInfo" nillable="true"
                               type="tns:BillingUser"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingAddress" nillable="true"
                               type="tns:Address"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="cc" nillable="true" type="tns:CreditCardInfo"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="depositAmount" type="xsd:double"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="promoCode" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addNewCustomerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:MasterAccount"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPaymentMethods">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getPaymentMethodsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true"
                               type="tns:ArrayOfPaymentMethodInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="updateCreditCard">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="paymentMethodID" type="xsd:long"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingUserInfo" nillable="true"
                               type="tns:BillingUser"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="billingAddress" nillable="true"
                               type="tns:Address"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="cc" nillable="true" type="tns:CreditCardInfo"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="updateAll" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateCreditCardResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="SignupStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AddMoneyFailed"/>
                    <xsd:enumeration value="CreditCardValidationFailed"/>
                    <xsd:enumeration value="Success"/>
                    <xsd:enumeration value="CustomerCreationIncomplete"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="advancedMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="businessItem" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="businessTypeCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="contentMatchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="displayURL" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="fiscalCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="hasFiscalCode" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="hasNifCif" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="hasVatRegistrationNumber" nillable="true"
                            type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="marketID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="masterAccountID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="nameFurigana" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="nifCif" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="personalID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="presidentName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sitePassword" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="siteUserName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sponsoredSearchON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="vatRegistrationNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="websiteURL" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="address1" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="address2" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="address3" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="county" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="postalCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="province" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="state" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="todofuken" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPaymentMethodInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="PaymentMethodInfo" nillable="true"
                            type="tns:PaymentMethodInfo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BillingUser">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="middleInitial" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Company">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="companyID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="companyName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="companyNameFurigana" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="createTimestamp" nillable="true" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreditCardInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="cardNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cardType" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="expMonth" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="expYear" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="securityCode" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MasterAccount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="companyID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="currencyID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="marketID" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="signupStatus" nillable="true" type="tns:SignupStatus"/>
                    <xsd:element minOccurs="0" name="taggingON" nillable="true" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="timezone" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="trackingON" nillable="true" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaymentMethodInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="billingAddress" nillable="true" type="tns:Address"/>
                    <xsd:element minOccurs="0" name="billingUser" nillable="true" type="tns:BillingUser"/>
                    <xsd:element minOccurs="0" name="displayNumber" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="expirationDate" nillable="true" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="firstNameFurigana" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="lastNameFurigana" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="middleInitial" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="mobilePhone" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timezone" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="workPhone" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/secext">
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="addCreditCardRequest">
        <wsdl:part element="tns:addCreditCard" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addCreditCardResponse">
        <wsdl:part element="tns:addCreditCardResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addNewCustomerRequest">
        <wsdl:part element="tns:addNewCustomer" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addNewCustomerResponse">
        <wsdl:part element="tns:addNewCustomerResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="getPaymentMethodsRequest">
        <wsdl:part element="tns:getPaymentMethods" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPaymentMethodsResponse">
        <wsdl:part element="tns:getPaymentMethodsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:message name="updateCreditCardRequest">
        <wsdl:part element="tns:updateCreditCard" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateCreditCardResponse">
        <wsdl:part element="tns:updateCreditCardResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="VaultService">
        <wsdl:operation name="addCreditCard">
            <wsdl:input message="tns:addCreditCardRequest" name="addCreditCardRequest"/>
            <wsdl:output message="tns:addCreditCardResponse" name="addCreditCardResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="addNewCustomer">
            <wsdl:input message="tns:addNewCustomerRequest" name="addNewCustomerRequest"/>
            <wsdl:output message="tns:addNewCustomerResponse" name="addNewCustomerResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPaymentMethods">
            <wsdl:input message="tns:getPaymentMethodsRequest" name="getPaymentMethodsRequest"/>
            <wsdl:output message="tns:getPaymentMethodsResponse" name="getPaymentMethodsResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="updateCreditCard">
            <wsdl:input message="tns:updateCreditCardRequest" name="updateCreditCardRequest"/>
            <wsdl:output message="tns:updateCreditCardResponse" name="updateCreditCardResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VaultServiceHttpBinding" type="tns:VaultService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addCreditCard">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addCreditCardRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addCreditCardResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest"
                             use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewCustomer">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addNewCustomerRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="addNewCustomerResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest"
                             use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaymentMethods">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getPaymentMethodsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPaymentMethodsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest"
                             use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateCreditCard">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateCreditCardRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCreditCardResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest"
                             use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VaultServiceService">
        <wsdl:port binding="tns:VaultServiceHttpBinding" name="VaultService">
            <wsdlsoap:address location="http://ws.soatrader.com/yahoo.com/0.1/VaultServiceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>