wsdl_repositories/soatrader - Copy/vcard.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://microsoft.com/webservices/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://microsoft.com/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/webservices/">
         <s:element name="SendVCardData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recpient" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="UseSiemensEmsFormat" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strVCard" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendVCardDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendVCardDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendVCard">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recpient" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="UseSiemensEmsFormat" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Vorname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Nachname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Strasse" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PLZ" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Ort" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Handy" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendVCardResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendVCardResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendVCardBasic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recpient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="RecipientIsSiemens" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendVCardBasicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendVCardBasicResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendVCardDataSoapIn">
      <wsdl:part name="parameters" element="tns:SendVCardData"/>
  </wsdl:message>
  <wsdl:message name="SendVCardDataSoapOut">
      <wsdl:part name="parameters" element="tns:SendVCardDataResponse"/>
  </wsdl:message>
  <wsdl:message name="SendVCardSoapIn">
      <wsdl:part name="parameters" element="tns:SendVCard"/>
  </wsdl:message>
  <wsdl:message name="SendVCardSoapOut">
      <wsdl:part name="parameters" element="tns:SendVCardResponse"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicSoapIn">
      <wsdl:part name="parameters" element="tns:SendVCardBasic"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicSoapOut">
      <wsdl:part name="parameters" element="tns:SendVCardBasicResponse"/>
  </wsdl:message>
  <wsdl:message name="SendVCardDataHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="UseSiemensEmsFormat" type="s:string"/>
      <wsdl:part name="strVCard" type="s:string"/>
      <wsdl:part name="strFileName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="UseSiemensEmsFormat" type="s:string"/>
      <wsdl:part name="Firma" type="s:string"/>
      <wsdl:part name="Vorname" type="s:string"/>
      <wsdl:part name="Nachname" type="s:string"/>
      <wsdl:part name="Strasse" type="s:string"/>
      <wsdl:part name="PLZ" type="s:string"/>
      <wsdl:part name="Ort" type="s:string"/>
      <wsdl:part name="Telefon" type="s:string"/>
      <wsdl:part name="FAX" type="s:string"/>
      <wsdl:part name="Handy" type="s:string"/>
      <wsdl:part name="EMAIL" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="Name" type="s:string"/>
      <wsdl:part name="Number" type="s:string"/>
      <wsdl:part name="RecipientIsSiemens" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardDataHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="UseSiemensEmsFormat" type="s:string"/>
      <wsdl:part name="strVCard" type="s:string"/>
      <wsdl:part name="strFileName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="UseSiemensEmsFormat" type="s:string"/>
      <wsdl:part name="Firma" type="s:string"/>
      <wsdl:part name="Vorname" type="s:string"/>
      <wsdl:part name="Nachname" type="s:string"/>
      <wsdl:part name="Strasse" type="s:string"/>
      <wsdl:part name="PLZ" type="s:string"/>
      <wsdl:part name="Ort" type="s:string"/>
      <wsdl:part name="Telefon" type="s:string"/>
      <wsdl:part name="FAX" type="s:string"/>
      <wsdl:part name="Handy" type="s:string"/>
      <wsdl:part name="EMAIL" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recpient" type="s:string"/>
      <wsdl:part name="Name" type="s:string"/>
      <wsdl:part name="Number" type="s:string"/>
      <wsdl:part name="RecipientIsSiemens" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendVCardBasicHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="vcardSoap">
      <wsdl:operation name="SendVCardData">
         <wsdl:input message="tns:SendVCardDataSoapIn"/>
         <wsdl:output message="tns:SendVCardDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendVCard">
         <wsdl:input message="tns:SendVCardSoapIn"/>
         <wsdl:output message="tns:SendVCardSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendVCardBasic">
         <wsdl:input message="tns:SendVCardBasicSoapIn"/>
         <wsdl:output message="tns:SendVCardBasicSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="vcardSoap" type="tns:vcardSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SendVCardData">
         <soap:operation soapAction="http://microsoft.com/webservices/SendVCardData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendVCard">
         <soap:operation soapAction="http://microsoft.com/webservices/SendVCard" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendVCardBasic">
         <soap:operation soapAction="http://microsoft.com/webservices/SendVCardBasic" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="vcard">
      <wsdl:port name="vcardSoap" binding="tns:vcardSoap">
         <soap:address location="http://ws.soatrader.com/smscreator.de/0.1/vcard"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>