wsdl_repositories/soatrader - Copy/w_company.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/Billing/w_company"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/Billing/w_company">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/Billing/w_company">
         <s:element name="INSERT">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyZipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyTel1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyTel2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCell" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyWebsite" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyComments" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="INSERTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="INSERTResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UPDATE">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyZipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyTel1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyTel2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCell" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyWebsite" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyComments" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UPDATEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RETRIEVE">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RETRIEVEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RETRIEVEResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GETLIST">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCodeStart" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyCodeEnd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GETLISTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GETLISTResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
      <wsdl:part name="parameters" element="tns:INSERT"/>
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
      <wsdl:part name="parameters" element="tns:INSERTResponse"/>
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
      <wsdl:part name="parameters" element="tns:UPDATE"/>
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
      <wsdl:part name="parameters" element="tns:UPDATEResponse"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVESoapIn">
      <wsdl:part name="parameters" element="tns:RETRIEVE"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVESoapOut">
      <wsdl:part name="parameters" element="tns:RETRIEVEResponse"/>
  </wsdl:message>
  <wsdl:message name="GETLISTSoapIn">
      <wsdl:part name="parameters" element="tns:GETLIST"/>
  </wsdl:message>
  <wsdl:message name="GETLISTSoapOut">
      <wsdl:part name="parameters" element="tns:GETLISTResponse"/>
  </wsdl:message>
  <wsdl:message name="INSERTHttpGetIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="CompanyAddress" type="s:string"/>
      <wsdl:part name="CompanyCity" type="s:string"/>
      <wsdl:part name="CompanyState" type="s:string"/>
      <wsdl:part name="CompanyZipcode" type="s:string"/>
      <wsdl:part name="CompanyTel1" type="s:string"/>
      <wsdl:part name="CompanyTel2" type="s:string"/>
      <wsdl:part name="CompanyCell" type="s:string"/>
      <wsdl:part name="CompanyFax" type="s:string"/>
      <wsdl:part name="CompanyEmail" type="s:string"/>
      <wsdl:part name="CompanyWebsite" type="s:string"/>
      <wsdl:part name="CompanyComments" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="INSERTHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="UPDATEHttpGetIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="CompanyAddress" type="s:string"/>
      <wsdl:part name="CompanyCity" type="s:string"/>
      <wsdl:part name="CompanyState" type="s:string"/>
      <wsdl:part name="CompanyZipcode" type="s:string"/>
      <wsdl:part name="CompanyTel1" type="s:string"/>
      <wsdl:part name="CompanyTel2" type="s:string"/>
      <wsdl:part name="CompanyCell" type="s:string"/>
      <wsdl:part name="CompanyFax" type="s:string"/>
      <wsdl:part name="CompanyEmail" type="s:string"/>
      <wsdl:part name="CompanyWebsite" type="s:string"/>
      <wsdl:part name="CompanyComments" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UPDATEHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVEHttpGetIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVEHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GETLISTHttpGetIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCodeStart" type="s:string"/>
      <wsdl:part name="CompanyCodeEnd" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GETLISTHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="INSERTHttpPostIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="CompanyAddress" type="s:string"/>
      <wsdl:part name="CompanyCity" type="s:string"/>
      <wsdl:part name="CompanyState" type="s:string"/>
      <wsdl:part name="CompanyZipcode" type="s:string"/>
      <wsdl:part name="CompanyTel1" type="s:string"/>
      <wsdl:part name="CompanyTel2" type="s:string"/>
      <wsdl:part name="CompanyCell" type="s:string"/>
      <wsdl:part name="CompanyFax" type="s:string"/>
      <wsdl:part name="CompanyEmail" type="s:string"/>
      <wsdl:part name="CompanyWebsite" type="s:string"/>
      <wsdl:part name="CompanyComments" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="INSERTHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="UPDATEHttpPostIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
      <wsdl:part name="CompanyAddress" type="s:string"/>
      <wsdl:part name="CompanyCity" type="s:string"/>
      <wsdl:part name="CompanyState" type="s:string"/>
      <wsdl:part name="CompanyZipcode" type="s:string"/>
      <wsdl:part name="CompanyTel1" type="s:string"/>
      <wsdl:part name="CompanyTel2" type="s:string"/>
      <wsdl:part name="CompanyCell" type="s:string"/>
      <wsdl:part name="CompanyFax" type="s:string"/>
      <wsdl:part name="CompanyEmail" type="s:string"/>
      <wsdl:part name="CompanyWebsite" type="s:string"/>
      <wsdl:part name="CompanyComments" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UPDATEHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVEHttpPostIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RETRIEVEHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GETLISTHttpPostIn">
      <wsdl:part name="Username" type="s:string"/>
      <wsdl:part name="Key" type="s:string"/>
      <wsdl:part name="CompanyCodeStart" type="s:string"/>
      <wsdl:part name="CompanyCodeEnd" type="s:string"/>
      <wsdl:part name="CompanyName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GETLISTHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="w_companySoap" type="tns:w_companySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="INSERT">
         <soap:operation soapAction="http://tempuri.org/Billing/w_company/INSERT" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UPDATE">
         <soap:operation soapAction="http://tempuri.org/Billing/w_company/UPDATE" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RETRIEVE">
         <soap:operation soapAction="http://tempuri.org/Billing/w_company/RETRIEVE" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GETLIST">
         <soap:operation soapAction="http://tempuri.org/Billing/w_company/GETLIST" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="w_company">
      <wsdl:port name="w_companySoap" binding="tns:w_companySoap">
         <soap:address location="http://ws.soatrader.com/invoice4u.co.il/0.1/w_company"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>