wsdl_repositories/soatrader - Copy/Weather.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="HelloWopos">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWoposResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWoposResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Init">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InitResponse">
            <s:complexType/>
         </s:element>
         <s:element name="getAllWeather">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="mCity" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getAllWeatherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getAllWeatherResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWeather">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="mCity" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWeatherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getWeatherResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWeather_User">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="mCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWeather_UserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getWeather_UserResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWoposSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWopos"/>
  </wsdl:message>
  <wsdl:message name="HelloWoposSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWoposResponse"/>
  </wsdl:message>
  <wsdl:message name="InitSoapIn">
      <wsdl:part name="parameters" element="tns:Init"/>
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
      <wsdl:part name="parameters" element="tns:InitResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllWeatherSoapIn">
      <wsdl:part name="parameters" element="tns:getAllWeather"/>
  </wsdl:message>
  <wsdl:message name="getAllWeatherSoapOut">
      <wsdl:part name="parameters" element="tns:getAllWeatherResponse"/>
  </wsdl:message>
  <wsdl:message name="getWeatherSoapIn">
      <wsdl:part name="parameters" element="tns:getWeather"/>
  </wsdl:message>
  <wsdl:message name="getWeatherSoapOut">
      <wsdl:part name="parameters" element="tns:getWeatherResponse"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserSoapIn">
      <wsdl:part name="parameters" element="tns:getWeather_User"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserSoapOut">
      <wsdl:part name="parameters" element="tns:getWeather_UserResponse"/>
  </wsdl:message>
  <wsdl:message name="HelloWoposHttpGetIn"/>
  <wsdl:message name="HelloWoposHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="InitHttpGetIn">
      <wsdl:part name="UserName" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InitHttpGetOut"/>
  <wsdl:message name="getAllWeatherHttpGetIn">
      <wsdl:part name="mCity" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getAllWeatherHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getWeatherHttpGetIn">
      <wsdl:part name="mCity" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getWeatherHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserHttpGetIn">
      <wsdl:part name="mCity" type="s:string"/>
      <wsdl:part name="userID" type="s:string"/>
      <wsdl:part name="Pwd" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="HelloWoposHttpPostIn"/>
  <wsdl:message name="HelloWoposHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="InitHttpPostIn">
      <wsdl:part name="UserName" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InitHttpPostOut"/>
  <wsdl:message name="getAllWeatherHttpPostIn">
      <wsdl:part name="mCity" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getAllWeatherHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getWeatherHttpPostIn">
      <wsdl:part name="mCity" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getWeatherHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserHttpPostIn">
      <wsdl:part name="mCity" type="s:string"/>
      <wsdl:part name="userID" type="s:string"/>
      <wsdl:part name="Pwd" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getWeather_UserHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="WeatherSoap" type="tns:WeatherSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWopos">
         <soap:operation soapAction="http://tempuri.org/HelloWopos" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Init">
         <soap:operation soapAction="http://tempuri.org/Init" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllWeather">
         <soap:operation soapAction="http://tempuri.org/getAllWeather" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getWeather">
         <soap:operation soapAction="http://tempuri.org/getWeather" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getWeather_User">
         <soap:operation soapAction="http://tempuri.org/getWeather_User" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Weather">
      <wsdl:port name="WeatherSoap" binding="tns:WeatherSoap">
         <soap:address location="http://ws.soatrader.com/wopos.com/0.1/Weather"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>