wsdl_repositories/soatrader - Copy/WebLabWS.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://weblab.tc.cornell.edu/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://weblab.tc.cornell.edu/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://weblab.tc.cornell.edu/">
         <s:element name="GetPages_DataTable">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="a" type="tns:GetPages_Arguments"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GetPages_Arguments">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="pageid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="urlid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="crawlid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="hostid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="protocol" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="host" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="port" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="path" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="extension" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="querystring" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="archivetime" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="ipaddress" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="mimetype" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="language" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="title" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="destinationurlid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="destinationurl" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="linkposition" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="linktype" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="anchortext" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="protocolres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="hostres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="portres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="pathres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="extensionres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="querystringres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="mimetyperes" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="languageres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="titleres" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="pageidres" type="tns:ArrayOfBase64Binary"/>
               <s:element minOccurs="0" maxOccurs="1" name="urlidres" type="tns:ArrayOfBase64Binary"/>
               <s:element minOccurs="0" maxOccurs="1" name="hostidres" type="tns:ArrayOfBase64Binary"/>
               <s:element minOccurs="0" maxOccurs="1" name="crawlidres" type="tns:ArrayOfInt"/>
               <s:element minOccurs="1" maxOccurs="1" name="begintimeres" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="endtimeres" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="begintimeres_enabled" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="endtimeres_enabled" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="protocol_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="host_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="port_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="path_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="extension_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="querystring_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="mimetype_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="language_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="title_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pageid_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="urlid_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="hostid_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="crawlid_negated" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="concaturl" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="sortresult" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfBase64Binary">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true"
                          type="s:base64Binary"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfInt">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetPages_DataTableResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPages_DataTableResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="http://www.w3.org/2001/XMLSchema"
                                  processContents="lax"/>
                           <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
                                  processContents="lax"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetURLID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="urls" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetURLIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetURLIDResult" type="tns:ArrayOfMatchedURL"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfMatchedURL">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="MatchedURL" type="tns:MatchedURL"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MatchedURL">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="matchedURL" type="tns:ArrayOfString"/>
               <s:element minOccurs="0" maxOccurs="1" name="matchedURLID" type="tns:ArrayOfBase64Binary"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetOutStrictEdgeList_ArrayIDPair">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="a" type="tns:GetPages_Arguments"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOutStrictEdgeList_ArrayIDPairResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOutStrictEdgeList_ArrayIDPairResult"
                             type="tns:ArrayOfIDPair"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfIDPair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="IDPair" type="tns:IDPair"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="IDPair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="source" type="s:base64Binary"/>
               <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:base64Binary"/>
               <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetOutHostEdgeList_ArrayIDPair">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="a" type="tns:GetPages_Arguments"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOutHostEdgeList_ArrayIDPairResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOutHostEdgeList_ArrayIDPairResult"
                             type="tns:ArrayOfHostPair"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfHostPair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="HostPair" type="tns:HostPair"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="HostPair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetInStrictEdgeList_ArrayIDPair">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="a" type="tns:GetPages_Arguments"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInStrictEdgeList_ArrayIDPairResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInStrictEdgeList_ArrayIDPairResult"
                             type="tns:ArrayOfIDPair"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInHostEdgeList_ArrayIDPair">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="a" type="tns:GetPages_Arguments"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInHostEdgeList_ArrayIDPairResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInHostEdgeList_ArrayIDPairResult"
                             type="tns:ArrayOfHostPair"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetURLs_Array">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="urlids" type="tns:ArrayOfBase64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetURLs_ArrayResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetURLs_ArrayResult"
                             type="tns:ArrayOfURLID_URL"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfURLID_URL">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="URLID_URL" type="tns:URLID_URL"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="URLID_URL">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="URLID" type="s:base64Binary"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPages_DataTableSoapIn">
      <wsdl:part name="parameters" element="tns:GetPages_DataTable"/>
  </wsdl:message>
  <wsdl:message name="GetPages_DataTableSoapOut">
      <wsdl:part name="parameters" element="tns:GetPages_DataTableResponse"/>
  </wsdl:message>
  <wsdl:message name="GetURLIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetURLID"/>
  </wsdl:message>
  <wsdl:message name="GetURLIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetURLIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOutStrictEdgeList_ArrayIDPairSoapIn">
      <wsdl:part name="parameters" element="tns:GetOutStrictEdgeList_ArrayIDPair"/>
  </wsdl:message>
  <wsdl:message name="GetOutStrictEdgeList_ArrayIDPairSoapOut">
      <wsdl:part name="parameters" element="tns:GetOutStrictEdgeList_ArrayIDPairResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOutHostEdgeList_ArrayIDPairSoapIn">
      <wsdl:part name="parameters" element="tns:GetOutHostEdgeList_ArrayIDPair"/>
  </wsdl:message>
  <wsdl:message name="GetOutHostEdgeList_ArrayIDPairSoapOut">
      <wsdl:part name="parameters" element="tns:GetOutHostEdgeList_ArrayIDPairResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInStrictEdgeList_ArrayIDPairSoapIn">
      <wsdl:part name="parameters" element="tns:GetInStrictEdgeList_ArrayIDPair"/>
  </wsdl:message>
  <wsdl:message name="GetInStrictEdgeList_ArrayIDPairSoapOut">
      <wsdl:part name="parameters" element="tns:GetInStrictEdgeList_ArrayIDPairResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInHostEdgeList_ArrayIDPairSoapIn">
      <wsdl:part name="parameters" element="tns:GetInHostEdgeList_ArrayIDPair"/>
  </wsdl:message>
  <wsdl:message name="GetInHostEdgeList_ArrayIDPairSoapOut">
      <wsdl:part name="parameters" element="tns:GetInHostEdgeList_ArrayIDPairResponse"/>
  </wsdl:message>
  <wsdl:message name="GetURLs_ArraySoapIn">
      <wsdl:part name="parameters" element="tns:GetURLs_Array"/>
  </wsdl:message>
  <wsdl:message name="GetURLs_ArraySoapOut">
      <wsdl:part name="parameters" element="tns:GetURLs_ArrayResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="WebLabWSSoap" type="tns:WebLabWSSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetPages_DataTable">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetPages_DataTable" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetURLID">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetURLID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOutStrictEdgeList_ArrayIDPair">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetOutStrictEdgeList_ArrayIDPair"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOutHostEdgeList_ArrayIDPair">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetOutHostEdgeList_ArrayIDPair"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetInStrictEdgeList_ArrayIDPair">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetInStrictEdgeList_ArrayIDPair"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetInHostEdgeList_ArrayIDPair">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetInHostEdgeList_ArrayIDPair"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetURLs_Array">
         <soap:operation soapAction="http://weblab.tc.cornell.edu/GetURLs_Array" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="WebLabWS">
      <wsdl:port name="WebLabWSSoap" binding="tns:WebLabWSSoap">
         <soap:address location="http://ws.soatrader.com/tc.cornell.edu/0.1/WebLabWS"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>