wsdl_repositories/soatrader - Copy/WebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://2sms.com/WebServices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://2sms.com/WebServices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>2sms Messaging Web Service</wsdl:documentation>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://2sms.com/WebServices/">
         <s:element name="AddressBookList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookAddEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookAddEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookAddEntryResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookRemoveEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddressBookRemoveEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookRemoveEntryResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupCreateResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemove">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupRemoveResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupAddEntryResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupRemoveEntryResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandard">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardReference">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardReferenceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardReferenceResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardBetweenDatesResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2way">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2wayResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Report2wayResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccountListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountGiveCredits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccount" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:float"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OffPeakBalance" type="s:float"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountGiveCreditsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccountGiveCreditsResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AddressBookListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookAddEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreate"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemove"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandard"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandardReference"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardReferenceResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDates"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDatesResponse"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapIn">
      <wsdl:part name="parameters" element="tns:Report2way"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapOut">
      <wsdl:part name="parameters" element="tns:Report2wayResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapIn">
      <wsdl:part name="parameters" element="tns:SubAccountList"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapOut">
      <wsdl:part name="parameters" element="tns:SubAccountListResponse"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapIn">
      <wsdl:part name="parameters" element="tns:SubAccountGiveCredits"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapOut">
      <wsdl:part name="parameters" element="tns:SubAccountGiveCreditsResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="WebServicesSoap" type="tns:WebServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddressBookList">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookAddEntry">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookAddEntry" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookRemoveEntry">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookRemoveEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupList">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupCreate">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupCreate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupRemove">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupRemove"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupAddEntry">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupAddEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupRemoveEntry">
         <soap:operation soapAction="http://2sms.com/WebServices/AddressBookGroupRemoveEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandard">
         <soap:operation soapAction="http://2sms.com/WebServices/ReportStandard" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandardReference">
         <soap:operation soapAction="http://2sms.com/WebServices/ReportStandardReference"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandardBetweenDates">
         <soap:operation soapAction="http://2sms.com/WebServices/ReportStandardBetweenDates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Report2way">
         <soap:operation soapAction="http://2sms.com/WebServices/Report2way" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessage">
         <soap:operation soapAction="http://2sms.com/WebServices/SendMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubAccountList">
         <soap:operation soapAction="http://2sms.com/WebServices/SubAccountList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubAccountGiveCredits">
         <soap:operation soapAction="http://2sms.com/WebServices/SubAccountGiveCredits" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="WebServices">
      <wsdl:documentation>2sms Messaging Web Service</wsdl:documentation>
      <wsdl:port name="WebServicesSoap" binding="tns:WebServicesSoap">
         <soap:address location="http://ws.soatrader.com/2sms.com/0.1/WebServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>