wsdl_repositories/soatrader - Copy/Whois_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://service.ecocoma.com/domain/whois"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://service.ecocoma.com/domain/whois">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Cocoma Whois Web Services.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://service.ecocoma.com/domain/whois">
         <s:element name="GetWhois">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWhoisResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWhoisResult" type="tns:Whois"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Whois">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWhoisSoapIn">
      <wsdl:part name="parameters" element="tns:GetWhois"/>
  </wsdl:message>
  <wsdl:message name="GetWhoisSoapOut">
      <wsdl:part name="parameters" element="tns:GetWhoisResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="Whois_ServiceSoap" type="tns:Whois_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetWhois">
         <soap:operation soapAction="http://service.ecocoma.com/domain/whois/GetWhois" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Whois_Service">
      <wsdl:documentation>Cocoma Whois Web Services.</wsdl:documentation>
      <wsdl:port name="Whois_ServiceSoap" binding="tns:Whois_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/ecocoma.com/0.1/Whois_Service"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>