wsdl_repositories/soatrader - Copy/WSBBroker.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="getBusinessListings">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="isFsbo" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBusinessListingsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getBusinessListingsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBrokerInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBrokerInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getBrokerInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getBusinessListingsSoapIn">
      <wsdl:part name="parameters" element="tns:getBusinessListings"/>
  </wsdl:message>
  <wsdl:message name="getBusinessListingsSoapOut">
      <wsdl:part name="parameters" element="tns:getBusinessListingsResponse"/>
  </wsdl:message>
  <wsdl:message name="getBrokerInfoSoapIn">
      <wsdl:part name="parameters" element="tns:getBrokerInfo"/>
  </wsdl:message>
  <wsdl:message name="getBrokerInfoSoapOut">
      <wsdl:part name="parameters" element="tns:getBrokerInfoResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="WSBBrokerSoap" type="tns:WSBBrokerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getBusinessListings">
         <soap:operation soapAction="http://tempuri.org/getBusinessListings" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getBrokerInfo">
         <soap:operation soapAction="http://tempuri.org/getBrokerInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="WSBBroker">
      <wsdl:port name="WSBBrokerSoap" binding="tns:WSBBrokerSoap">
         <soap:address location="http://ws.soatrader.com/businessbroker.net/0.1/WSBBroker"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>