wsdl_repositories/soatrader - Copy/XigniteIndices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.xignite.com/services/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.xignite.com/services/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This web service provides market index information.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.xignite.com/services/">
         <s:element name="GetMarketSummary">
            <s:complexType/>
         </s:element>
         <s:element name="GetMarketSummaryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMarketSummaryResult"
                             type="tns:MarketSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MarketSummary">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="tns:ArrayOfIndex"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Indicators" type="tns:ArrayOfIndicator"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Common">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Outcome" type="tns:OutcomeTypes"/>
               <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Delay" type="s:double"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="OutcomeTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Success"/>
               <s:enumeration value="SystemError"/>
               <s:enumeration value="RequestError"/>
               <s:enumeration value="RegistrationError"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="ArrayOfIndex">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Index" nillable="true"
                          type="tns:Index"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Index">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfIndicator">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Indicator" nillable="true"
                          type="tns:Indicator"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Indicator">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Header" type="tns:Header"/>
         <s:complexType name="Header">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Tracer" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="GetIndices">
            <s:complexType/>
         </s:element>
         <s:element name="GetIndicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndicesResult"
                             type="tns:ArrayOfMarketIndex"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfMarketIndex">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="MarketIndex" nillable="true"
                          type="tns:MarketIndex"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MarketIndex">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:element name="ListIndices">
            <s:complexType/>
         </s:element>
         <s:element name="ListIndicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListIndicesResult" type="tns:ArrayOfSecurity"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSecurity">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Security" nillable="true"
                          type="tns:Security"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Security">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="ISIN" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Valoren" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:element name="GetDelayedValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="IdentifierTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Symbol"/>
               <s:enumeration value="CIK"/>
               <s:enumeration value="CUSIP"/>
               <s:enumeration value="ISIN"/>
               <s:enumeration value="Valoren"/>
               <s:enumeration value="SEDOL"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetDelayedValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDelayedValueResult" type="tns:IndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="IndexQuote">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="LastClose" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="High" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="ChangeFromOpen" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromOpen" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="ChangeFromLastClose" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromLastClose" type="s:double"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:element name="GetDelayedValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDelayedValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDelayedValuesResult"
                             type="tns:ArrayOfIndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfIndexQuote">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="IndexQuote" nillable="true"
                          type="tns:IndexQuote"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLastClosingValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastClosingValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLastClosingValueResult"
                             type="tns:IndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastClosingValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastClosingValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLastClosingValuesResult"
                             type="tns:ArrayOfIndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValueResult"
                             type="tns:IndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesResult"
                             type="tns:ArrayOfIndexQuote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValuesAsOf">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="tns:PeriodTypes"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Periods" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="PeriodTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Day"/>
               <s:enumeration value="Week"/>
               <s:enumeration value="Month"/>
               <s:enumeration value="Quarter"/>
               <s:enumeration value="Year"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetHistoricalValuesAsOfResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesAsOfResult"
                             type="tns:IndexQuotes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="IndexQuotes">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security"/>
                     <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Indices" type="tns:ArrayOfIndexQuote"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:element name="GetHistoricalValuesRange">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalValuesRangeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalValuesRangeResult"
                             type="tns:IndexQuotes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexComponents">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="tns:IdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexComponentsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndexComponentsResult"
                             type="tns:Components"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Components">
            <s:complexContent mixed="false">
               <s:extension base="tns:Common">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security"/>
                     <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Components" type="tns:ArrayOfComponent"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfComponent">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true"
                          type="tns:Component"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Component">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Security" type="tns:Security"/>
               <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double"/>
            </s:sequence>
         </s:complexType>
         <s:element name="MarketSummary" nillable="true" type="tns:MarketSummary"/>
         <s:element name="ArrayOfMarketIndex" nillable="true" type="tns:ArrayOfMarketIndex"/>
         <s:element name="ArrayOfSecurity" nillable="true" type="tns:ArrayOfSecurity"/>
         <s:element name="IndexQuote" nillable="true" type="tns:IndexQuote"/>
         <s:element name="ArrayOfIndexQuote" nillable="true" type="tns:ArrayOfIndexQuote"/>
         <s:element name="IndexQuotes" nillable="true" type="tns:IndexQuotes"/>
         <s:element name="Components" nillable="true" type="tns:Components"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMarketSummarySoapIn">
      <wsdl:part name="parameters" element="tns:GetMarketSummary"/>
  </wsdl:message>
  <wsdl:message name="GetMarketSummarySoapOut">
      <wsdl:part name="parameters" element="tns:GetMarketSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndices"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndicesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="ListIndicesSoapIn">
      <wsdl:part name="parameters" element="tns:ListIndices"/>
  </wsdl:message>
  <wsdl:message name="ListIndicesSoapOut">
      <wsdl:part name="parameters" element="tns:ListIndicesResponse"/>
  </wsdl:message>
  <wsdl:message name="ListIndicesHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetDelayedValue"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetDelayedValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesSoapIn">
      <wsdl:part name="parameters" element="tns:GetDelayedValues"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesSoapOut">
      <wsdl:part name="parameters" element="tns:GetDelayedValuesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLastClosingValue"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLastClosingValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesSoapIn">
      <wsdl:part name="parameters" element="tns:GetLastClosingValues"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesSoapOut">
      <wsdl:part name="parameters" element="tns:GetLastClosingValuesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetHistoricalValue"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetHistoricalValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesSoapIn">
      <wsdl:part name="parameters" element="tns:GetHistoricalValues"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesSoapOut">
      <wsdl:part name="parameters" element="tns:GetHistoricalValuesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfSoapIn">
      <wsdl:part name="parameters" element="tns:GetHistoricalValuesAsOf"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfSoapOut">
      <wsdl:part name="parameters" element="tns:GetHistoricalValuesAsOfResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeSoapIn">
      <wsdl:part name="parameters" element="tns:GetHistoricalValuesRange"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeSoapOut">
      <wsdl:part name="parameters" element="tns:GetHistoricalValuesRangeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexComponents"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexComponentsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHeader">
      <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHttpGetIn"/>
  <wsdl:message name="GetMarketSummaryHttpGetOut">
      <wsdl:part name="Body" element="tns:MarketSummary"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpGetIn"/>
  <wsdl:message name="GetIndicesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfMarketIndex"/>
  </wsdl:message>
  <wsdl:message name="ListIndicesHttpGetIn"/>
  <wsdl:message name="ListIndicesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfSecurity"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpGetOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpGetIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpGetOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpGetIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="AsOfDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpGetOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpGetIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="AsOfDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
      <wsdl:part name="PeriodType" type="s:string"/>
      <wsdl:part name="Periods" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpGetOut">
      <wsdl:part name="Body" element="tns:IndexQuotes"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpGetOut">
      <wsdl:part name="Body" element="tns:IndexQuotes"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpGetIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpGetOut">
      <wsdl:part name="Body" element="tns:Components"/>
  </wsdl:message>
  <wsdl:message name="GetMarketSummaryHttpPostIn"/>
  <wsdl:message name="GetMarketSummaryHttpPostOut">
      <wsdl:part name="Body" element="tns:MarketSummary"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesHttpPostIn"/>
  <wsdl:message name="GetIndicesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfMarketIndex"/>
  </wsdl:message>
  <wsdl:message name="ListIndicesHttpPostIn"/>
  <wsdl:message name="ListIndicesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfSecurity"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValueHttpPostOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpPostIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDelayedValuesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValueHttpPostOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpPostIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastClosingValuesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="AsOfDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValueHttpPostOut">
      <wsdl:part name="Body" element="tns:IndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpPostIn">
      <wsdl:part name="Identifiers" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="AsOfDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfIndexQuote"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
      <wsdl:part name="PeriodType" type="s:string"/>
      <wsdl:part name="Periods" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesAsOfHttpPostOut">
      <wsdl:part name="Body" element="tns:IndexQuotes"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalValuesRangeHttpPostOut">
      <wsdl:part name="Body" element="tns:IndexQuotes"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpPostIn">
      <wsdl:part name="Identifier" type="s:string"/>
      <wsdl:part name="IdentifierType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexComponentsHttpPostOut">
      <wsdl:part name="Body" element="tns:Components"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="XigniteIndicesSoap" type="tns:XigniteIndicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetMarketSummary">
         <soap:operation soapAction="http://www.xignite.com/services/GetMarketSummary" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetMarketSummaryHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndices">
         <soap:operation soapAction="http://www.xignite.com/services/GetIndices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetIndicesHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListIndices">
         <soap:operation soapAction="http://www.xignite.com/services/ListIndices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:ListIndicesHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDelayedValue">
         <soap:operation soapAction="http://www.xignite.com/services/GetDelayedValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetDelayedValueHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDelayedValues">
         <soap:operation soapAction="http://www.xignite.com/services/GetDelayedValues" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetDelayedValuesHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLastClosingValue">
         <soap:operation soapAction="http://www.xignite.com/services/GetLastClosingValue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetLastClosingValueHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLastClosingValues">
         <soap:operation soapAction="http://www.xignite.com/services/GetLastClosingValues"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetLastClosingValuesHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalValue">
         <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetHistoricalValueHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalValues">
         <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValues"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetHistoricalValuesHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalValuesAsOf">
         <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesAsOf"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetHistoricalValuesAsOfHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalValuesRange">
         <soap:operation soapAction="http://www.xignite.com/services/GetHistoricalValuesRange"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetHistoricalValuesRangeHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexComponents">
         <soap:operation soapAction="http://www.xignite.com/services/GetIndexComponents"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetIndexComponentsHeader" part="Header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="XigniteIndices">
      <wsdl:documentation>This web service provides market index information.</wsdl:documentation>
      <wsdl:port name="XigniteIndicesSoap" binding="tns:XigniteIndicesSoap">
         <soap:address location="http://ws.soatrader.com/xignite.com/0.3/XigniteIndices"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>