wsdl_repositories/soatrader - Copy/XMLAddressSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/EACXMLNLPGWS/XMLAddressSearch"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/EACXMLNLPGWS/XMLAddressSearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/EACXMLNLPGWS/XMLAddressSearch">
         <s:element name="SearchDetailsAsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strProperty" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strTown" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPostcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchDetailsAsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchDetailsAsXMLResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressDetailsAsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UIN" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressDetailsAsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAddressDetailsAsXMLResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchDetailsAsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:SearchDetailsAsXML"/>
  </wsdl:message>
  <wsdl:message name="SearchDetailsAsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:SearchDetailsAsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetAddressDetailsAsXML"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetAddressDetailsAsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchDetailsAsXMLHttpGetIn">
      <wsdl:part name="strProperty" type="s:string"/>
      <wsdl:part name="strStreet" type="s:string"/>
      <wsdl:part name="strTown" type="s:string"/>
      <wsdl:part name="strPostcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchDetailsAsXMLHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLHttpGetIn">
      <wsdl:part name="UIN" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchDetailsAsXMLHttpPostIn">
      <wsdl:part name="strProperty" type="s:string"/>
      <wsdl:part name="strStreet" type="s:string"/>
      <wsdl:part name="strTown" type="s:string"/>
      <wsdl:part name="strPostcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchDetailsAsXMLHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLHttpPostIn">
      <wsdl:part name="UIN" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsAsXMLHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:portType name="XMLAddressSearchSoap">
      <wsdl:operation name="SearchDetailsAsXML">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Full search which returns an XML document of addresses from the East Ayrshire NLPG database which match the given search criteria.</documentation>
         <wsdl:input message="tns:SearchDetailsAsXMLSoapIn"/>
         <wsdl:output message="tns:SearchDetailsAsXMLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAddressDetailsAsXML">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML document containing one address from the East Ayrshire NLPG database which matches a given UPRN</documentation>
         <wsdl:input message="tns:GetAddressDetailsAsXMLSoapIn"/>
         <wsdl:output message="tns:GetAddressDetailsAsXMLSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="XMLAddressSearchSoap" type="tns:XMLAddressSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SearchDetailsAsXML">
         <soap:operation soapAction="http://tempuri.org/EACXMLNLPGWS/XMLAddressSearch/SearchDetailsAsXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAddressDetailsAsXML">
         <soap:operation soapAction="http://tempuri.org/EACXMLNLPGWS/XMLAddressSearch/GetAddressDetailsAsXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="XMLAddressSearch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="XMLAddressSearchSoap" binding="tns:XMLAddressSearchSoap">
         <soap:address location="http://ws.soatrader.com/east-ayrshire.gov.uk/0.1/XMLAddressSearch"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>