wsdl_repositories/soatrader - Copy/XMLInterface.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="Dolphin.FlightScanner.WebServices"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="Dolphin.FlightScanner.WebServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="Dolphin.FlightScanner.WebServices">
         <s:element name="AirDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailability">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PricedAvailabilityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailability">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirPricedAvailabilityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirFlightPricedItineraryConfirm">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirFlightPricedItineraryConfirmResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirFlightPricedItineraryConfirmResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailabilityConfirm">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailabilityConfirmResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PricedAvailabilityConfirmResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailabilityConfirm">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailabilityConfirmResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirPricedAvailabilityConfirmResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailabilityRedirect">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PricedAvailabilityRedirectResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PricedAvailabilityRedirectResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailabilityRedirect">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirPricedAvailabilityRedirectResponse">
            <s:complexType/>
         </s:element>
         <s:element name="AirRule">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirRuleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirRuleResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CarrierRoutes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CarrierRoutesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CarrierRoutesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirReferenceData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AirReferenceDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AirReferenceDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Book">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="BookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BookResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="BookRedirect">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="BookRedirectResponse">
            <s:complexType/>
         </s:element>
         <s:element name="InsurancePricedAvailability">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InsurancePricedAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="InsurancePricedAvailabilityResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InsuranceReferenceData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InsuranceReferenceDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="InsuranceReferenceDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoginRedirect">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoginRedirectResponse">
            <s:complexType/>
         </s:element>
         <s:element name="VehPricedAvailability">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VehPricedAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VehPricedAvailabilityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VehReferenceData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VehReferenceDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VehReferenceDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AirDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:AirDetails"/>
  </wsdl:message>
  <wsdl:message name="AirDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:AirDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:PricedAvailability"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:PricedAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:AirPricedAvailability"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:AirPricedAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmSoapIn">
      <wsdl:part name="parameters" element="tns:AirFlightPricedItineraryConfirm"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmSoapOut">
      <wsdl:part name="parameters" element="tns:AirFlightPricedItineraryConfirmResponse"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmSoapIn">
      <wsdl:part name="parameters" element="tns:PricedAvailabilityConfirm"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmSoapOut">
      <wsdl:part name="parameters" element="tns:PricedAvailabilityConfirmResponse"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmSoapIn">
      <wsdl:part name="parameters" element="tns:AirPricedAvailabilityConfirm"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmSoapOut">
      <wsdl:part name="parameters" element="tns:AirPricedAvailabilityConfirmResponse"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectSoapIn">
      <wsdl:part name="parameters" element="tns:PricedAvailabilityRedirect"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectSoapOut">
      <wsdl:part name="parameters" element="tns:PricedAvailabilityRedirectResponse"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectSoapIn">
      <wsdl:part name="parameters" element="tns:AirPricedAvailabilityRedirect"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectSoapOut">
      <wsdl:part name="parameters" element="tns:AirPricedAvailabilityRedirectResponse"/>
  </wsdl:message>
  <wsdl:message name="AirRuleSoapIn">
      <wsdl:part name="parameters" element="tns:AirRule"/>
  </wsdl:message>
  <wsdl:message name="AirRuleSoapOut">
      <wsdl:part name="parameters" element="tns:AirRuleResponse"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesSoapIn">
      <wsdl:part name="parameters" element="tns:CarrierRoutes"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesSoapOut">
      <wsdl:part name="parameters" element="tns:CarrierRoutesResponse"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataSoapIn">
      <wsdl:part name="parameters" element="tns:AirReferenceData"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataSoapOut">
      <wsdl:part name="parameters" element="tns:AirReferenceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="BookSoapIn">
      <wsdl:part name="parameters" element="tns:Book"/>
  </wsdl:message>
  <wsdl:message name="BookSoapOut">
      <wsdl:part name="parameters" element="tns:BookResponse"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectSoapIn">
      <wsdl:part name="parameters" element="tns:BookRedirect"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectSoapOut">
      <wsdl:part name="parameters" element="tns:BookRedirectResponse"/>
  </wsdl:message>
  <wsdl:message name="InsurancePricedAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:InsurancePricedAvailability"/>
  </wsdl:message>
  <wsdl:message name="InsurancePricedAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:InsurancePricedAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataSoapIn">
      <wsdl:part name="parameters" element="tns:InsuranceReferenceData"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataSoapOut">
      <wsdl:part name="parameters" element="tns:InsuranceReferenceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectSoapIn">
      <wsdl:part name="parameters" element="tns:LoginRedirect"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectSoapOut">
      <wsdl:part name="parameters" element="tns:LoginRedirectResponse"/>
  </wsdl:message>
  <wsdl:message name="VehPricedAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:VehPricedAvailability"/>
  </wsdl:message>
  <wsdl:message name="VehPricedAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:VehPricedAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataSoapIn">
      <wsdl:part name="parameters" element="tns:VehReferenceData"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataSoapOut">
      <wsdl:part name="parameters" element="tns:VehReferenceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="AirDetailsHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirDetailsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectHttpGetOut"/>
  <wsdl:message name="AirRuleHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirRuleHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="BookHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="BookHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectHttpGetOut"/>
  <wsdl:message name="InsurancePricedAvailabilityHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsurancePricedAvailabilityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectHttpGetOut"/>
  <wsdl:message name="VehPricedAvailabilityHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VehPricedAvailabilityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataHttpGetIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirDetailsHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirDetailsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirFlightPricedItineraryConfirmHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityConfirmHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityConfirmHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PricedAvailabilityRedirectHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirPricedAvailabilityRedirectHttpPostOut"/>
  <wsdl:message name="AirRuleHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirRuleHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarrierRoutesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AirReferenceDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="BookHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="BookHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="BookRedirectHttpPostOut"/>
  <wsdl:message name="InsurancePricedAvailabilityHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsurancePricedAvailabilityHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsuranceReferenceDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LoginRedirectHttpPostOut"/>
  <wsdl:message name="VehPricedAvailabilityHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VehPricedAvailabilityHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataHttpPostIn">
      <wsdl:part name="requestXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VehReferenceDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="XMLInterfaceSoap" type="tns:XMLInterfaceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AirDetails">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PricedAvailability">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/PricedAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirPricedAvailability">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirPricedAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirFlightPricedItineraryConfirm">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirFlightPricedItineraryConfirm"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PricedAvailabilityConfirm">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/PricedAvailabilityConfirm"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirPricedAvailabilityConfirm">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirPricedAvailabilityConfirm"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PricedAvailabilityRedirect">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/PricedAvailabilityRedirect"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirPricedAvailabilityRedirect">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirPricedAvailabilityRedirect"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirRule">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirRule" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CarrierRoutes">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/CarrierRoutes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AirReferenceData">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/AirReferenceData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Book">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/Book" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="BookRedirect">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/BookRedirect" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="InsurancePricedAvailability">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/InsurancePricedAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="InsuranceReferenceData">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/InsuranceReferenceData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoginRedirect">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/LoginRedirect" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VehPricedAvailability">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/VehPricedAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VehReferenceData">
         <soap:operation soapAction="Dolphin.FlightScanner.WebServices/VehReferenceData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="XMLInterface">
      <wsdl:port name="XMLInterfaceSoap" binding="tns:XMLInterfaceSoap">
         <soap:address location="http://ws.soatrader.com/flightscanner.biz/0.1/XMLInterface"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>