wsdl_repositories/soatrader - Copy/YearMakeModelSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetYears">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYearsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYearsResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue"
                          nillable="true"
                          type="tns:CascadingDropDownNameValue"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetMakesFromYear">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesFromYearResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMakesFromYearResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModelsFromMake">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModelsFromMakeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetModelsFromMakeResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEngineTypesFromModel">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEngineTypesFromModelResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEngineTypesFromModelResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetYearsSoapIn">
      <wsdl:part name="parameters" element="tns:GetYears"/>
  </wsdl:message>
  <wsdl:message name="GetYearsSoapOut">
      <wsdl:part name="parameters" element="tns:GetYearsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMakesFromYearSoapIn">
      <wsdl:part name="parameters" element="tns:GetMakesFromYear"/>
  </wsdl:message>
  <wsdl:message name="GetMakesFromYearSoapOut">
      <wsdl:part name="parameters" element="tns:GetMakesFromYearResponse"/>
  </wsdl:message>
  <wsdl:message name="GetModelsFromMakeSoapIn">
      <wsdl:part name="parameters" element="tns:GetModelsFromMake"/>
  </wsdl:message>
  <wsdl:message name="GetModelsFromMakeSoapOut">
      <wsdl:part name="parameters" element="tns:GetModelsFromMakeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesFromModelSoapIn">
      <wsdl:part name="parameters" element="tns:GetEngineTypesFromModel"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesFromModelSoapOut">
      <wsdl:part name="parameters" element="tns:GetEngineTypesFromModelResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="YearMakeModelSearchSoap" type="tns:YearMakeModelSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetYears">
         <soap:operation soapAction="http://tempuri.org/GetYears" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMakesFromYear">
         <soap:operation soapAction="http://tempuri.org/GetMakesFromYear" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetModelsFromMake">
         <soap:operation soapAction="http://tempuri.org/GetModelsFromMake" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEngineTypesFromModel">
         <soap:operation soapAction="http://tempuri.org/GetEngineTypesFromModel" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="YearMakeModelSearch">
      <wsdl:port name="YearMakeModelSearchSoap" binding="tns:YearMakeModelSearchSoap">
         <soap:address location="http://ws.soatrader.com/aemintakes.com/0.1/YearMakeModelSearch"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>