wsdl_repositories/soatrader - Copy/ZipCodeLookup.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ted.mielczarek.org/ZipCodeLookup"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="ZipCodeLookup"
             targetNamespace="http://ted.mielczarek.org/ZipCodeLookup">
   <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <documentation>lookup US 5 digit zip codes by latitude/longitude</documentation>
    <message name="zipcodeFromLatLonDMSMessageResponse">
        <documentation>Returns a 5 digit US zipcode</documentation>
        <part name="zipcode" type="xsd:int">
            <documentation>A 5 digit US zip code</documentation>
        </part>
    </message>
    <message name="zipcodeFromLatLonDMSMessageRequest">
        <documentation>Parameters are latitude/longitude in degrees minutes seconds format</documentation>
        <part name="latitude" type="xsd:string">
            <documentation>Latitude, in degrees minutes seconds notation.  Should be formateed like Hddmmss.s, where H is the hemisphere (N or S), d m and s are all decimal digits.</documentation>
        </part>
        <part name="longitude" type="xsd:string">
            <documentation>Longitude, in degrees minutes seconds notation.  Should be formateed like Hdddmmss.s, where H is the hemisphere (E or W), d m and s are all decimal digits.</documentation>
        </part>
    </message>
    <portType name="ZipCodeLookupPortType">
        <operation name="zipcodeFromLatLonDMS">
            <documentation>Lookup a 5 digit US zip code by latitude/longitude</documentation>
            <input message="tns:zipcodeFromLatLonDMSMessageRequest"/>
            <output message="tns:zipcodeFromLatLonDMSMessageResponse"/>
        </operation>
    </portType>
    <binding name="ZipCodeLookupBinding" type="tns:ZipCodeLookupPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="zipcodeFromLatLonDMS">
            <soap:operation soapAction="http://ted.mielczarek.org/ZipCodeLookup#zipcodeFromLatLonDMS"/>
            <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                <soap:body namespace="http://ted.mielczarek.org/ZipCodeLookup" use="literal"/>
            </input>
            <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <soap:body namespace="http://ted.mielczarek.org/ZipCodeLookup" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ZipCodeLookup">
        <port binding="tns:ZipCodeLookupBinding" name="ZipCodeLookupPort">
            <soap:address location="http://ws.soatrader.com/mielczarek.org/0.1/ZipCodeLookup"/>
        </port>
    </service>
</definitions>