wsdl_repository/cashflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webservicex.net" xmlns:s1="http://www.webservicex.net/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webservicex.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net">
      <s:element name="CashFlowPresentValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowTimes" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowAmount" type="tns:ArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CashFlowPresentValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CashFlowPresentValueResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashFlowPresentVlaueDiscrete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowTimes" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowAmount" type="tns:ArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="InterestRate" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashFlowPresentVlaueDiscreteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CashFlowPresentVlaueDiscreteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashFlowIrr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowTimes" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="CashFlowAmount" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashFlowIrrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CashFlowIrrResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
    <s:schema targetNamespace="http://www.webservicex.net/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CashFlowPresentValueSoapIn">
    <wsdl:part name="parameters" element="tns:CashFlowPresentValue" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentValueSoapOut">
    <wsdl:part name="parameters" element="tns:CashFlowPresentValueResponse" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteSoapIn">
    <wsdl:part name="parameters" element="tns:CashFlowPresentVlaueDiscrete" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteSoapOut">
    <wsdl:part name="parameters" element="tns:CashFlowPresentVlaueDiscreteResponse" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrSoapIn">
    <wsdl:part name="parameters" element="tns:CashFlowIrr" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrSoapOut">
    <wsdl:part name="parameters" element="tns:CashFlowIrrResponse" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentValueHttpGetIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
    <wsdl:part name="InterestRate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentValueHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteHttpGetIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
    <wsdl:part name="InterestRate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrHttpGetIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentValueHttpPostIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
    <wsdl:part name="InterestRate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentValueHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteHttpPostIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
    <wsdl:part name="InterestRate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CashFlowPresentVlaueDiscreteHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrHttpPostIn">
    <wsdl:part name="CashFlowTimes" type="s1:StringArray" />
    <wsdl:part name="CashFlowAmount" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="CashFlowIrrHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="CashFlowPresentValuesSoap">
    <wsdl:operation name="CashFlowPresentValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If compounding is continous</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentValueSoapIn" />
      <wsdl:output message="tns:CashFlowPresentValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If discounting was discrete</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentVlaueDiscreteSoapIn" />
      <wsdl:output message="tns:CashFlowPresentVlaueDiscreteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The internal rate of return of a cash flow is the interest rate that makes the present value of a cash flow equal to zero.</wsdl:documentation>
      <wsdl:input message="tns:CashFlowIrrSoapIn" />
      <wsdl:output message="tns:CashFlowIrrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CashFlowPresentValuesHttpGet">
    <wsdl:operation name="CashFlowPresentValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If compounding is continous</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentValueHttpGetIn" />
      <wsdl:output message="tns:CashFlowPresentValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If discounting was discrete</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentVlaueDiscreteHttpGetIn" />
      <wsdl:output message="tns:CashFlowPresentVlaueDiscreteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The internal rate of return of a cash flow is the interest rate that makes the present value of a cash flow equal to zero.</wsdl:documentation>
      <wsdl:input message="tns:CashFlowIrrHttpGetIn" />
      <wsdl:output message="tns:CashFlowIrrHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CashFlowPresentValuesHttpPost">
    <wsdl:operation name="CashFlowPresentValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If compounding is continous</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentValueHttpPostIn" />
      <wsdl:output message="tns:CashFlowPresentValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The calculation of present value is one of the basics of finance. The present value is the current value of a stream of future payments.Present value,If discounting was discrete</wsdl:documentation>
      <wsdl:input message="tns:CashFlowPresentVlaueDiscreteHttpPostIn" />
      <wsdl:output message="tns:CashFlowPresentVlaueDiscreteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The internal rate of return of a cash flow is the interest rate that makes the present value of a cash flow equal to zero.</wsdl:documentation>
      <wsdl:input message="tns:CashFlowIrrHttpPostIn" />
      <wsdl:output message="tns:CashFlowIrrHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CashFlowPresentValuesSoap" type="tns:CashFlowPresentValuesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CashFlowPresentValue">
      <soap:operation soapAction="http://www.webservicex.net/CashFlowPresentValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <soap:operation soapAction="http://www.webservicex.net/CashFlowPresentVlaueDiscrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <soap:operation soapAction="http://www.webservicex.net/CashFlowIrr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CashFlowPresentValuesSoap12" type="tns:CashFlowPresentValuesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CashFlowPresentValue">
      <soap12:operation soapAction="http://www.webservicex.net/CashFlowPresentValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <soap12:operation soapAction="http://www.webservicex.net/CashFlowPresentVlaueDiscrete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <soap12:operation soapAction="http://www.webservicex.net/CashFlowIrr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CashFlowPresentValuesHttpGet" type="tns:CashFlowPresentValuesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CashFlowPresentValue">
      <http:operation location="/CashFlowPresentValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <http:operation location="/CashFlowPresentVlaueDiscrete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <http:operation location="/CashFlowIrr" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CashFlowPresentValuesHttpPost" type="tns:CashFlowPresentValuesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CashFlowPresentValue">
      <http:operation location="/CashFlowPresentValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowPresentVlaueDiscrete">
      <http:operation location="/CashFlowPresentVlaueDiscrete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashFlowIrr">
      <http:operation location="/CashFlowIrr" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashFlowPresentValues">
    <wsdl:port name="CashFlowPresentValuesSoap" binding="tns:CashFlowPresentValuesSoap">
      <soap:address location="http://www.webservicex.net/cashflow.asmx" />
    </wsdl:port>
    <wsdl:port name="CashFlowPresentValuesSoap12" binding="tns:CashFlowPresentValuesSoap12">
      <soap12:address location="http://www.webservicex.net/cashflow.asmx" />
    </wsdl:port>
    <wsdl:port name="CashFlowPresentValuesHttpGet" binding="tns:CashFlowPresentValuesHttpGet">
      <http:address location="http://www.webservicex.net/cashflow.asmx" />
    </wsdl:port>
    <wsdl:port name="CashFlowPresentValuesHttpPost" binding="tns:CashFlowPresentValuesHttpPost">
      <http:address location="http://www.webservicex.net/cashflow.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>