wsdl_repository/ConvertAcceleration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeAccelerationUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccelerationValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromAccelerationUnit" type="tns:Accelerations" />
            <s:element minOccurs="1" maxOccurs="1" name="toAccelerationUnit" type="tns:Accelerations" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Accelerations">
        <s:restriction base="s:string">
          <s:enumeration value="celo" />
          <s:enumeration value="centigal" />
          <s:enumeration value="centimeterPersquaresecond" />
          <s:enumeration value="decigal" />
          <s:enumeration value="decimeterPersquaresecond" />
          <s:enumeration value="dekameterPersquaresecond" />
          <s:enumeration value="footPersquaresecond" />
          <s:enumeration value="gunit" />
          <s:enumeration value="gal" />
          <s:enumeration value="galileo" />
          <s:enumeration value="gn" />
          <s:enumeration value="grav" />
          <s:enumeration value="hectometerPersquaresecond" />
          <s:enumeration value="inchPersquaresecond" />
          <s:enumeration value="kilometerPerhoursecond" />
          <s:enumeration value="kilometerPersquaresecond" />
          <s:enumeration value="leo" />
          <s:enumeration value="meterPersquaresecond" />
          <s:enumeration value="milePerhourminute" />
          <s:enumeration value="milePerhoursecond" />
          <s:enumeration value="milePersquaresecond" />
          <s:enumeration value="milligal" />
          <s:enumeration value="millimeterPersquaresecond" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeAccelerationUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeAccelerationUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeAccelerationUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeAccelerationUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeAccelerationUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeAccelerationUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeAccelerationUnitHttpGetIn">
    <wsdl:part name="AccelerationValue" type="s:string" />
    <wsdl:part name="fromAccelerationUnit" type="s:string" />
    <wsdl:part name="toAccelerationUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAccelerationUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeAccelerationUnitHttpPostIn">
    <wsdl:part name="AccelerationValue" type="s:string" />
    <wsdl:part name="fromAccelerationUnit" type="s:string" />
    <wsdl:part name="toAccelerationUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAccelerationUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="AccelerationUnitSoap">
    <wsdl:operation name="ChangeAccelerationUnit">
      <wsdl:input message="tns:ChangeAccelerationUnitSoapIn" />
      <wsdl:output message="tns:ChangeAccelerationUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccelerationUnitHttpGet">
    <wsdl:operation name="ChangeAccelerationUnit">
      <wsdl:input message="tns:ChangeAccelerationUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeAccelerationUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccelerationUnitHttpPost">
    <wsdl:operation name="ChangeAccelerationUnit">
      <wsdl:input message="tns:ChangeAccelerationUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeAccelerationUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccelerationUnitSoap" type="tns:AccelerationUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAccelerationUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeAccelerationUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccelerationUnitSoap12" type="tns:AccelerationUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAccelerationUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeAccelerationUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccelerationUnitHttpGet" type="tns:AccelerationUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeAccelerationUnit">
      <http:operation location="/ChangeAccelerationUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccelerationUnitHttpPost" type="tns:AccelerationUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeAccelerationUnit">
      <http:operation location="/ChangeAccelerationUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccelerationUnit">
    <wsdl:port name="AccelerationUnitSoap" binding="tns:AccelerationUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertAcceleration.asmx" />
    </wsdl:port>
    <wsdl:port name="AccelerationUnitSoap12" binding="tns:AccelerationUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertAcceleration.asmx" />
    </wsdl:port>
    <wsdl:port name="AccelerationUnitHttpGet" binding="tns:AccelerationUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertAcceleration.asmx" />
    </wsdl:port>
    <wsdl:port name="AccelerationUnitHttpPost" binding="tns:AccelerationUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertAcceleration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>