wsdl_repository/ConvertEnergy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeEnergyUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnergyValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromEnergyUnit" type="tns:Energys" />
            <s:element minOccurs="1" maxOccurs="1" name="toEnergyUnit" type="tns:Energys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Energys">
        <s:restriction base="s:string">
          <s:enumeration value="attojoule" />
          <s:enumeration value="BoardofTradeunit" />
          <s:enumeration value="Btu" />
          <s:enumeration value="Btuthermochemical" />
          <s:enumeration value="calorie" />
          <s:enumeration value="calorie15C" />
          <s:enumeration value="caloriethermochemical" />
          <s:enumeration value="celsiusheatunit" />
          <s:enumeration value="centijoule" />
          <s:enumeration value="chevalvapeurheure" />
          <s:enumeration value="decijoule" />
          <s:enumeration value="dekajoule" />
          <s:enumeration value="dekawatthour" />
          <s:enumeration value="dekatherm" />
          <s:enumeration value="electronvolt" />
          <s:enumeration value="erg" />
          <s:enumeration value="exajoule" />
          <s:enumeration value="exawatthour" />
          <s:enumeration value="femtojoule" />
          <s:enumeration value="footpound" />
          <s:enumeration value="footpoundal" />
          <s:enumeration value="gallonofautomotivegasoline" />
          <s:enumeration value="gallonofaviationgasoline" />
          <s:enumeration value="gallonofdieseloil" />
          <s:enumeration value="gallonofdistilate2fueloil" />
          <s:enumeration value="gallonofkerosenetypejetfuel" />
          <s:enumeration value="gallonofnaphthatypejetfuel" />
          <s:enumeration value="gallonofkerosene" />
          <s:enumeration value="gallonofresidualfueloil" />
          <s:enumeration value="gigaelectronvolt" />
          <s:enumeration value="gigajoule" />
          <s:enumeration value="gigawatthour" />
          <s:enumeration value="gramcalorie" />
          <s:enumeration value="hartree" />
          <s:enumeration value="hectojoule" />
          <s:enumeration value="hectowatthour" />
          <s:enumeration value="horseEnergyhour" />
          <s:enumeration value="hundredcubicfootofnaturalgas" />
          <s:enumeration value="inchounce" />
          <s:enumeration value="inchpound" />
          <s:enumeration value="joule" />
          <s:enumeration value="kilocalorie1" />
          <s:enumeration value="kilocalorieIT" />
          <s:enumeration value="kilocaloriethermochemical" />
          <s:enumeration value="kiloelectronvolt" />
          <s:enumeration value="kilogramcalorie" />
          <s:enumeration value="kilogrammeter" />
          <s:enumeration value="kilojoule" />
          <s:enumeration value="kilopondmeter" />
          <s:enumeration value="kiloton" />
          <s:enumeration value="kilowatthour" />
          <s:enumeration value="literatmosphere" />
          <s:enumeration value="megaelectronvolt" />
          <s:enumeration value="megajoule" />
          <s:enumeration value="megalerg" />
          <s:enumeration value="megaton" />
          <s:enumeration value="megawatthour" />
          <s:enumeration value="meterkilogram" />
          <s:enumeration value="microjoule" />
          <s:enumeration value="millijoule" />
          <s:enumeration value="myriawatthour" />
          <s:enumeration value="nanojoule" />
          <s:enumeration value="newtonmeter" />
          <s:enumeration value="petajoule" />
          <s:enumeration value="petawatthour" />
          <s:enumeration value="pferdestärkenstunde" />
          <s:enumeration value="picojoule" />
          <s:enumeration value="Qunit" />
          <s:enumeration value="quad" />
          <s:enumeration value="teraelectronvolt" />
          <s:enumeration value="terajoule" />
          <s:enumeration value="terawatthour" />
          <s:enumeration value="thermEurope" />
          <s:enumeration value="thermUS" />
          <s:enumeration value="thermie" />
          <s:enumeration value="ton" />
          <s:enumeration value="tonneofcoalequivalent" />
          <s:enumeration value="tonneofoilequivalent" />
          <s:enumeration value="watthour" />
          <s:enumeration value="wattsecond" />
          <s:enumeration value="yoctojoule" />
          <s:enumeration value="yottajoule" />
          <s:enumeration value="yottawatthour" />
          <s:enumeration value="zeptojoule" />
          <s:enumeration value="zettajoule" />
          <s:enumeration value="zettawatthour" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeEnergyUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeEnergyUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeEnergyUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeEnergyUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeEnergyUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitHttpGetIn">
    <wsdl:part name="EnergyValue" type="s:string" />
    <wsdl:part name="fromEnergyUnit" type="s:string" />
    <wsdl:part name="toEnergyUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitHttpPostIn">
    <wsdl:part name="EnergyValue" type="s:string" />
    <wsdl:part name="fromEnergyUnit" type="s:string" />
    <wsdl:part name="toEnergyUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeEnergyUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="EnergyUnitSoap">
    <wsdl:operation name="ChangeEnergyUnit">
      <wsdl:input message="tns:ChangeEnergyUnitSoapIn" />
      <wsdl:output message="tns:ChangeEnergyUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EnergyUnitHttpGet">
    <wsdl:operation name="ChangeEnergyUnit">
      <wsdl:input message="tns:ChangeEnergyUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeEnergyUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EnergyUnitHttpPost">
    <wsdl:operation name="ChangeEnergyUnit">
      <wsdl:input message="tns:ChangeEnergyUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeEnergyUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnergyUnitSoap" type="tns:EnergyUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeEnergyUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeEnergyUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnergyUnitSoap12" type="tns:EnergyUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeEnergyUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeEnergyUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnergyUnitHttpGet" type="tns:EnergyUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeEnergyUnit">
      <http:operation location="/ChangeEnergyUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnergyUnitHttpPost" type="tns:EnergyUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeEnergyUnit">
      <http:operation location="/ChangeEnergyUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnergyUnit">
    <wsdl:port name="EnergyUnitSoap" binding="tns:EnergyUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </wsdl:port>
    <wsdl:port name="EnergyUnitSoap12" binding="tns:EnergyUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </wsdl:port>
    <wsdl:port name="EnergyUnitHttpGet" binding="tns:EnergyUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </wsdl:port>
    <wsdl:port name="EnergyUnitHttpPost" binding="tns:EnergyUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertEnergy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>