wsdl_repository/convertFrequency.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeFrequencyUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FrequencyValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromFrequencyUnit" type="tns:Frequencys" />
            <s:element minOccurs="1" maxOccurs="1" name="toFrequencyUnit" type="tns:Frequencys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Frequencys">
        <s:restriction base="s:string">
          <s:enumeration value="cyclePersecond" />
          <s:enumeration value="degreePerhour" />
          <s:enumeration value="degreePerminute" />
          <s:enumeration value="degreePersecond" />
          <s:enumeration value="millihertz" />
          <s:enumeration value="hertz" />
          <s:enumeration value="kilohertz" />
          <s:enumeration value="megahertz" />
          <s:enumeration value="gigahertz" />
          <s:enumeration value="terrahertz" />
          <s:enumeration value="radianPerhour" />
          <s:enumeration value="radianPerminute" />
          <s:enumeration value="radianPersecond" />
          <s:enumeration value="revolutionPerhour" />
          <s:enumeration value="revolutionPerminute" />
          <s:enumeration value="revolutionPersecond" />
          <s:enumeration value="fresnel" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeFrequencyUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeFrequencyUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeFrequencyUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeFrequencyUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeFrequencyUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeFrequencyUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeFrequencyUnitHttpGetIn">
    <wsdl:part name="FrequencyValue" type="s:string" />
    <wsdl:part name="fromFrequencyUnit" type="s:string" />
    <wsdl:part name="toFrequencyUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeFrequencyUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeFrequencyUnitHttpPostIn">
    <wsdl:part name="FrequencyValue" type="s:string" />
    <wsdl:part name="fromFrequencyUnit" type="s:string" />
    <wsdl:part name="toFrequencyUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeFrequencyUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="FrequencyUnitSoap">
    <wsdl:operation name="ChangeFrequencyUnit">
      <wsdl:input message="tns:ChangeFrequencyUnitSoapIn" />
      <wsdl:output message="tns:ChangeFrequencyUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FrequencyUnitHttpGet">
    <wsdl:operation name="ChangeFrequencyUnit">
      <wsdl:input message="tns:ChangeFrequencyUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeFrequencyUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FrequencyUnitHttpPost">
    <wsdl:operation name="ChangeFrequencyUnit">
      <wsdl:input message="tns:ChangeFrequencyUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeFrequencyUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FrequencyUnitSoap" type="tns:FrequencyUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeFrequencyUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeFrequencyUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FrequencyUnitSoap12" type="tns:FrequencyUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeFrequencyUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeFrequencyUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FrequencyUnitHttpGet" type="tns:FrequencyUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeFrequencyUnit">
      <http:operation location="/ChangeFrequencyUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FrequencyUnitHttpPost" type="tns:FrequencyUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeFrequencyUnit">
      <http:operation location="/ChangeFrequencyUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FrequencyUnit">
    <wsdl:port name="FrequencyUnitSoap" binding="tns:FrequencyUnitSoap">
      <soap:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </wsdl:port>
    <wsdl:port name="FrequencyUnitSoap12" binding="tns:FrequencyUnitSoap12">
      <soap12:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </wsdl:port>
    <wsdl:port name="FrequencyUnitHttpGet" binding="tns:FrequencyUnitHttpGet">
      <http:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </wsdl:port>
    <wsdl:port name="FrequencyUnitHttpPost" binding="tns:FrequencyUnitHttpPost">
      <http:address location="http://www.webservicex.net/convertFrequency.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>