wsdl_repository/CovertPressure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangePressureUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PressureValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromPressureUnit" type="tns:Pressures" />
            <s:element minOccurs="1" maxOccurs="1" name="toPressureUnit" type="tns:Pressures" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Pressures">
        <s:restriction base="s:string">
          <s:enumeration value="dynePersquarecm" />
          <s:enumeration value="PascalnewtonPersqm" />
          <s:enumeration value="poundalPersqfoot" />
          <s:enumeration value="kgfPersquaremeter" />
          <s:enumeration value="lbfPersquarefoot" />
          <s:enumeration value="cmH2O4C" />
          <s:enumeration value="gramPressurePersqcm" />
          <s:enumeration value="torr0C" />
          <s:enumeration value="inchH2O60F" />
          <s:enumeration value="inchH2O392F" />
          <s:enumeration value="cmmercury0C" />
          <s:enumeration value="footH2O392F" />
          <s:enumeration value="footseawater" />
          <s:enumeration value="inchmercury60F" />
          <s:enumeration value="inchmercury32F" />
          <s:enumeration value="lbfPersquareinchPSI" />
          <s:enumeration value="meterseawater" />
          <s:enumeration value="kgfPersquarecm" />
          <s:enumeration value="bar" />
          <s:enumeration value="atmosphere" />
          <s:enumeration value="KipPersquareinchKSI" />
          <s:enumeration value="kgfPersqmillimeter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangePressureUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePressureUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangePressureUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePressureUnit" />
  </wsdl:message>
  <wsdl:message name="ChangePressureUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePressureUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePressureUnitHttpGetIn">
    <wsdl:part name="PressureValue" type="s:string" />
    <wsdl:part name="fromPressureUnit" type="s:string" />
    <wsdl:part name="toPressureUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePressureUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangePressureUnitHttpPostIn">
    <wsdl:part name="PressureValue" type="s:string" />
    <wsdl:part name="fromPressureUnit" type="s:string" />
    <wsdl:part name="toPressureUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePressureUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="PressureUnitSoap">
    <wsdl:operation name="ChangePressureUnit">
      <wsdl:input message="tns:ChangePressureUnitSoapIn" />
      <wsdl:output message="tns:ChangePressureUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PressureUnitHttpGet">
    <wsdl:operation name="ChangePressureUnit">
      <wsdl:input message="tns:ChangePressureUnitHttpGetIn" />
      <wsdl:output message="tns:ChangePressureUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PressureUnitHttpPost">
    <wsdl:operation name="ChangePressureUnit">
      <wsdl:input message="tns:ChangePressureUnitHttpPostIn" />
      <wsdl:output message="tns:ChangePressureUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PressureUnitSoap" type="tns:PressureUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePressureUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangePressureUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PressureUnitSoap12" type="tns:PressureUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePressureUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangePressureUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PressureUnitHttpGet" type="tns:PressureUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangePressureUnit">
      <http:operation location="/ChangePressureUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PressureUnitHttpPost" type="tns:PressureUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangePressureUnit">
      <http:operation location="/ChangePressureUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PressureUnit">
    <wsdl:port name="PressureUnitSoap" binding="tns:PressureUnitSoap">
      <soap:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </wsdl:port>
    <wsdl:port name="PressureUnitSoap12" binding="tns:PressureUnitSoap12">
      <soap12:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </wsdl:port>
    <wsdl:port name="PressureUnitHttpGet" binding="tns:PressureUnitHttpGet">
      <http:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </wsdl:port>
    <wsdl:port name="PressureUnitHttpPost" binding="tns:PressureUnitHttpPost">
      <http:address location="http://www.webservicex.net/CovertPressure.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>