wsdl_repository/FedWire.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webservicex.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webservicex.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The E-Payments Routing Directory provides basic routing information for FedACH transactions and Fedwire Funds and Book-Entry Securities transfers.This Web services search for Fedwire participants by their name, location (state, or state and city), or routing number.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net/">
      <s:element name="GetParticipantsByRoutingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByRoutingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByRoutingNumberResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FedWireList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FedWires" type="tns:ArrayOfFedWireData" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecords" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFedWireData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FedWireData" type="tns:FedWireData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FedWireData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelegraphicName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FundsTransferStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FundsSettlementOnlyStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookEntrySecuritiesTransferStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfLastRevision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetParticipantsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByNameResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByLocationResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetParticipantsByRoutingNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetParticipantsByRoutingNumber" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsByRoutingNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetParticipantsByRoutingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetParticipantsByName" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetParticipantsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsByLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetParticipantsByLocation" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsByLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetParticipantsByLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="FedWireSoap">
    <wsdl:operation name="GetParticipantsByRoutingNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for Fedwire participants by Routing Number</wsdl:documentation>
      <wsdl:input message="tns:GetParticipantsByRoutingNumberSoapIn" />
      <wsdl:output message="tns:GetParticipantsByRoutingNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for Fedwire participants by their name</wsdl:documentation>
      <wsdl:input message="tns:GetParticipantsByNameSoapIn" />
      <wsdl:output message="tns:GetParticipantsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for Fedwire participants by their location</wsdl:documentation>
      <wsdl:input message="tns:GetParticipantsByLocationSoapIn" />
      <wsdl:output message="tns:GetParticipantsByLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FedWireHttpGet" />
  <wsdl:portType name="FedWireHttpPost" />
  <wsdl:binding name="FedWireSoap" type="tns:FedWireSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParticipantsByRoutingNumber">
      <soap:operation soapAction="http://www.webservicex.net/GetParticipantsByRoutingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByName">
      <soap:operation soapAction="http://www.webservicex.net/GetParticipantsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByLocation">
      <soap:operation soapAction="http://www.webservicex.net/GetParticipantsByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FedWireSoap12" type="tns:FedWireSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParticipantsByRoutingNumber">
      <soap12:operation soapAction="http://www.webservicex.net/GetParticipantsByRoutingNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByName">
      <soap12:operation soapAction="http://www.webservicex.net/GetParticipantsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipantsByLocation">
      <soap12:operation soapAction="http://www.webservicex.net/GetParticipantsByLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FedWireHttpGet" type="tns:FedWireHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="FedWireHttpPost" type="tns:FedWireHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="FedWire">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The E-Payments Routing Directory provides basic routing information for FedACH transactions and Fedwire Funds and Book-Entry Securities transfers.This Web services search for Fedwire participants by their name, location (state, or state and city), or routing number.</wsdl:documentation>
    <wsdl:port name="FedWireSoap" binding="tns:FedWireSoap">
      <soap:address location="http://www.webservicex.net/FedWire.asmx" />
    </wsdl:port>
    <wsdl:port name="FedWireSoap12" binding="tns:FedWireSoap12">
      <soap12:address location="http://www.webservicex.net/FedWire.asmx" />
    </wsdl:port>
    <wsdl:port name="FedWireHttpGet" binding="tns:FedWireHttpGet">
      <http:address location="http://www.webservicex.net/FedWire.asmx" />
    </wsdl:port>
    <wsdl:port name="FedWireHttpPost" binding="tns:FedWireHttpPost">
      <http:address location="http://www.webservicex.net/FedWire.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>