wsdl_repositories/webservicex/ConvertArea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeAreaUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AreaValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromAreaUnit" type="tns:Areas" />
            <s:element minOccurs="1" maxOccurs="1" name="toAreaUnit" type="tns:Areas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Areas">
        <s:restriction base="s:string">
          <s:enumeration value="acre" />
          <s:enumeration value="acrecommercial" />
          <s:enumeration value="acreIreland" />
          <s:enumeration value="acresurvey" />
          <s:enumeration value="are" />
          <s:enumeration value="baseboxtinplatedsteel" />
          <s:enumeration value="binTaiwan" />
          <s:enumeration value="buJapan" />
          <s:enumeration value="canteroEcuador" />
          <s:enumeration value="caoVietnam" />
          <s:enumeration value="centaire" />
          <s:enumeration value="circularfootinternational" />
          <s:enumeration value="circularfootUSsurvey" />
          <s:enumeration value="circularinchinternational" />
          <s:enumeration value="circularinchUSsurvey" />
          <s:enumeration value="hectare" />
          <s:enumeration value="laborCanada" />
          <s:enumeration value="laborUSsurvey" />
          <s:enumeration value="manzanaCostaRican" />
          <s:enumeration value="manzanaArgentina" />
          <s:enumeration value="rood" />
          <s:enumeration value="saoVietnam" />
          <s:enumeration value="scrupleancientRome" />
          <s:enumeration value="sectionUSsurvey" />
          <s:enumeration value="square" />
          <s:enumeration value="squareSriLanka" />
          <s:enumeration value="squareangstrom" />
          <s:enumeration value="squareastronomicalunit" />
          <s:enumeration value="squarecablelengthUSsurvey" />
          <s:enumeration value="squarecaliber" />
          <s:enumeration value="squarecentimeter" />
          <s:enumeration value="squarechainGunterUSsurvey" />
          <s:enumeration value="squarechainRamdenEngineer" />
          <s:enumeration value="squarecubit" />
          <s:enumeration value="squarecubitancientEgypt" />
          <s:enumeration value="squaredigit" />
          <s:enumeration value="squarefathom" />
          <s:enumeration value="squarefootinternational" />
          <s:enumeration value="squarefootUSsurvey" />
          <s:enumeration value="squarefurlongUSsurvey" />
          <s:enumeration value="squaregigameter" />
          <s:enumeration value="squarehectometer" />
          <s:enumeration value="squareinchinternational" />
          <s:enumeration value="squareinchUSsurvey" />
          <s:enumeration value="squarekilometer" />
          <s:enumeration value="squareleaguenautical" />
          <s:enumeration value="squareleagueUSstatute" />
          <s:enumeration value="squarelightyear" />
          <s:enumeration value="squarelinkGunterUSsurvey" />
          <s:enumeration value="squarelinkRamdenEngineer" />
          <s:enumeration value="squaremegameter" />
          <s:enumeration value="squaremeter" />
          <s:enumeration value="squaremicroinch" />
          <s:enumeration value="squaremicrometer" />
          <s:enumeration value="squaremicromicron" />
          <s:enumeration value="squaremicron" />
          <s:enumeration value="squaremil" />
          <s:enumeration value="squaremileinternational" />
          <s:enumeration value="squaremileintnautical" />
          <s:enumeration value="squaremileUSnautical" />
          <s:enumeration value="squaremileUSstatute" />
          <s:enumeration value="squaremileUSsurvey" />
          <s:enumeration value="squaremillimeter" />
          <s:enumeration value="squaremillimicron" />
          <s:enumeration value="squarenanometer" />
          <s:enumeration value="squareParisfootCanada" />
          <s:enumeration value="squareparsec" />
          <s:enumeration value="squareperchIreland" />
          <s:enumeration value="squareperchUSsurvey" />
          <s:enumeration value="squarepetameter" />
          <s:enumeration value="squarepicometer" />
          <s:enumeration value="squarerodNetherlands" />
          <s:enumeration value="squaretenthmeter" />
          <s:enumeration value="squareyardUSsurvey" />
          <s:enumeration value="squareyardinternational" />
          <s:enumeration value="squareyoctometer" />
          <s:enumeration value="squareyottameter" />
          <s:enumeration value="squarezeptometer" />
          <s:enumeration value="squarezettameter" />
          <s:enumeration value="townshipUSsurvey" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeAreaUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeAreaUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeAreaUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeAreaUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeAreaUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeAreaUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeAreaUnitHttpGetIn">
    <wsdl:part name="AreaValue" type="s:string" />
    <wsdl:part name="fromAreaUnit" type="s:string" />
    <wsdl:part name="toAreaUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAreaUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeAreaUnitHttpPostIn">
    <wsdl:part name="AreaValue" type="s:string" />
    <wsdl:part name="fromAreaUnit" type="s:string" />
    <wsdl:part name="toAreaUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAreaUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="AreaUnitSoap">
    <wsdl:operation name="ChangeAreaUnit">
      <wsdl:input message="tns:ChangeAreaUnitSoapIn" />
      <wsdl:output message="tns:ChangeAreaUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AreaUnitHttpGet">
    <wsdl:operation name="ChangeAreaUnit">
      <wsdl:input message="tns:ChangeAreaUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeAreaUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AreaUnitHttpPost">
    <wsdl:operation name="ChangeAreaUnit">
      <wsdl:input message="tns:ChangeAreaUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeAreaUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AreaUnitSoap" type="tns:AreaUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAreaUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeAreaUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreaUnitSoap12" type="tns:AreaUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAreaUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeAreaUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreaUnitHttpGet" type="tns:AreaUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeAreaUnit">
      <http:operation location="/ChangeAreaUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AreaUnitHttpPost" type="tns:AreaUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeAreaUnit">
      <http:operation location="/ChangeAreaUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AreaUnit">
    <wsdl:port name="AreaUnitSoap" binding="tns:AreaUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </wsdl:port>
    <wsdl:port name="AreaUnitSoap12" binding="tns:AreaUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </wsdl:port>
    <wsdl:port name="AreaUnitHttpGet" binding="tns:AreaUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </wsdl:port>
    <wsdl:port name="AreaUnitHttpPost" binding="tns:AreaUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertArea.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>