wsdl_repositories/webservicex/ConvertDensity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeDensityUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DensityValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDensityUnit" type="tns:Densitys" />
            <s:element minOccurs="1" maxOccurs="1" name="toDensityUnit" type="tns:Densitys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Densitys">
        <s:restriction base="s:string">
          <s:enumeration value="kgPercubicmeter" />
          <s:enumeration value="lbmPercubicfoot" />
          <s:enumeration value="lbmPergallonUSliq" />
          <s:enumeration value="slugPercubicfoot" />
          <s:enumeration value="gramPercubiccm" />
          <s:enumeration value="kilogramPerliter" />
          <s:enumeration value="metrictonPercumeter" />
          <s:enumeration value="longtonPercubicyard" />
          <s:enumeration value="lbmPercubicinch" />
          <s:enumeration value="shorttonPercubicfoot" />
          <s:enumeration value="kilogramPercubiccm" />
          <s:enumeration value="aluminum" />
          <s:enumeration value="iron" />
          <s:enumeration value="copper" />
          <s:enumeration value="lead" />
          <s:enumeration value="gold" />
          <s:enumeration value="silver" />
          <s:enumeration value="water" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeDensityUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeDensityUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeDensityUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDensityUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeDensityUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDensityUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDensityUnitHttpGetIn">
    <wsdl:part name="DensityValue" type="s:string" />
    <wsdl:part name="fromDensityUnit" type="s:string" />
    <wsdl:part name="toDensityUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeDensityUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeDensityUnitHttpPostIn">
    <wsdl:part name="DensityValue" type="s:string" />
    <wsdl:part name="fromDensityUnit" type="s:string" />
    <wsdl:part name="toDensityUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeDensityUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="DensityUnitSoap">
    <wsdl:operation name="ChangeDensityUnit">
      <wsdl:input message="tns:ChangeDensityUnitSoapIn" />
      <wsdl:output message="tns:ChangeDensityUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DensityUnitHttpGet">
    <wsdl:operation name="ChangeDensityUnit">
      <wsdl:input message="tns:ChangeDensityUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeDensityUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DensityUnitHttpPost">
    <wsdl:operation name="ChangeDensityUnit">
      <wsdl:input message="tns:ChangeDensityUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeDensityUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DensityUnitSoap" type="tns:DensityUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeDensityUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeDensityUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DensityUnitSoap12" type="tns:DensityUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeDensityUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeDensityUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DensityUnitHttpGet" type="tns:DensityUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeDensityUnit">
      <http:operation location="/ChangeDensityUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DensityUnitHttpPost" type="tns:DensityUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeDensityUnit">
      <http:operation location="/ChangeDensityUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DensityUnit">
    <wsdl:port name="DensityUnitSoap" binding="tns:DensityUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertDensity.asmx" />
    </wsdl:port>
    <wsdl:port name="DensityUnitSoap12" binding="tns:DensityUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertDensity.asmx" />
    </wsdl:port>
    <wsdl:port name="DensityUnitHttpGet" binding="tns:DensityUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertDensity.asmx" />
    </wsdl:port>
    <wsdl:port name="DensityUnitHttpPost" binding="tns:DensityUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertDensity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>