wsdl_repositories/webservicex/ConvertAngle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeAngleUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AngleValue" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="fromAngleUnit" type="tns:Angles" />
            <s:element minOccurs="1" maxOccurs="1" name="toAngleUnit" type="tns:Angles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Angles">
        <s:restriction base="s:string">
          <s:enumeration value="radians" />
          <s:enumeration value="mils" />
          <s:enumeration value="gradients" />
          <s:enumeration value="degrees" />
          <s:enumeration value="minutes" />
          <s:enumeration value="seconds" />
          <s:enumeration value="points" />
          <s:enumeration value="OneBySixtienCircle" />
          <s:enumeration value="OneByTenCircle" />
          <s:enumeration value="OneByEightCircle" />
          <s:enumeration value="OneBySixCircle" />
          <s:enumeration value="OneByFourCircle" />
          <s:enumeration value="OneByTwoCircle" />
          <s:enumeration value="fullCircle" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeAngleUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeAngleUnitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeAngleUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeAngleUnit" />
  </wsdl:message>
  <wsdl:message name="ChangeAngleUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeAngleUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeAngleUnitHttpGetIn">
    <wsdl:part name="AngleValue" type="s:string" />
    <wsdl:part name="fromAngleUnit" type="s:string" />
    <wsdl:part name="toAngleUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAngleUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="ChangeAngleUnitHttpPostIn">
    <wsdl:part name="AngleValue" type="s:string" />
    <wsdl:part name="fromAngleUnit" type="s:string" />
    <wsdl:part name="toAngleUnit" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangeAngleUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="AngleUnitSoap">
    <wsdl:operation name="ChangeAngleUnit">
      <wsdl:input message="tns:ChangeAngleUnitSoapIn" />
      <wsdl:output message="tns:ChangeAngleUnitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AngleUnitHttpGet">
    <wsdl:operation name="ChangeAngleUnit">
      <wsdl:input message="tns:ChangeAngleUnitHttpGetIn" />
      <wsdl:output message="tns:ChangeAngleUnitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AngleUnitHttpPost">
    <wsdl:operation name="ChangeAngleUnit">
      <wsdl:input message="tns:ChangeAngleUnitHttpPostIn" />
      <wsdl:output message="tns:ChangeAngleUnitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AngleUnitSoap" type="tns:AngleUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAngleUnit">
      <soap:operation soapAction="http://www.webserviceX.NET/ChangeAngleUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AngleUnitSoap12" type="tns:AngleUnitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeAngleUnit">
      <soap12:operation soapAction="http://www.webserviceX.NET/ChangeAngleUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AngleUnitHttpGet" type="tns:AngleUnitHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ChangeAngleUnit">
      <http:operation location="/ChangeAngleUnit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AngleUnitHttpPost" type="tns:AngleUnitHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ChangeAngleUnit">
      <http:operation location="/ChangeAngleUnit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AngleUnit">
    <wsdl:port name="AngleUnitSoap" binding="tns:AngleUnitSoap">
      <soap:address location="http://www.webservicex.net/ConvertAngle.asmx" />
    </wsdl:port>
    <wsdl:port name="AngleUnitSoap12" binding="tns:AngleUnitSoap12">
      <soap12:address location="http://www.webservicex.net/ConvertAngle.asmx" />
    </wsdl:port>
    <wsdl:port name="AngleUnitHttpGet" binding="tns:AngleUnitHttpGet">
      <http:address location="http://www.webservicex.net/ConvertAngle.asmx" />
    </wsdl:port>
    <wsdl:port name="AngleUnitHttpPost" binding="tns:AngleUnitHttpPost">
      <http:address location="http://www.webservicex.net/ConvertAngle.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>