wsdl_repositories/soatrader_900/AccessManager.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetCities">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="unitid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteStylesAsXml">
            <s:complexType/>
         </s:element>
         <s:element name="GetSiteStylesAsXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSiteStylesAsXmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllUnitsXml">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllUnitsXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllUnitsXmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveUnit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="parentid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UnitName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Roles" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveUnitResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveUnitResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUnit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UnitName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Roles" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUnitResponse">
            <s:complexType/>
         </s:element>
         <s:element name="DeleteUnit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteUnitResponse">
            <s:complexType/>
         </s:element>
         <s:element name="AssignUserToUnit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="unitid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AssignUserToUnitResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AssignUserToUnitResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DetachUserFromUnit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="unitid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DetachUserFromUnitResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SaveMenuItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="MENU" nillable="true" type="tns:MenuItem"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MenuItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MENUNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ORDER_ID" type="s:short"/>
               <s:element minOccurs="1" maxOccurs="1" name="PARENT_ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ROLLS" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LVL" type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" name="NEW_WIN" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HIDE_TOOLBARS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="IMAGE_PATH" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PAGE_ID" type="s:string"/>
            </s:sequence>
            <s:attribute name="id" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="SaveMenuItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveMenuItemResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteMenuItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteMenuItemResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SaveAllMenusByXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveAllMenusByXmlResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SaveRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ROLE" nillable="true" type="tns:UserRole"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="UserRole">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ROLENAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="IS_MAINTAIN" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ROLE_JURS" type="s:string"/>
            </s:sequence>
            <s:attribute name="id" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="SaveRoleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveRoleResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CopyRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="assign" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CopyRoleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CopyRoleResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateListCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateListCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UpdateListCategoryResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddListCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddListCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddListCategoryResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteListCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteListCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteListCategoryResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateListType">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateListTypeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UpdateListTypeResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddListType">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddListTypeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddListTypeResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteListType">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteListTypeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteListTypeResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReAssignUsersToRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FromRoleID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ToRoleID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReAssignUsersToRoleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ReAssignUsersToRoleResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRoleResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SavePage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PAGE" nillable="true" type="tns:WebPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="WebPage">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PAGEURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HIDE_LEFT_IMAGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LEFT_IMAGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SSL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LIST_ROLES" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LIST_ROLES_IDS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="IS_PUBLIC" type="s:string"/>
            </s:sequence>
            <s:attribute name="id" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="SavePageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SavePageResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadPage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadPageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadPageResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PAGE" nillable="true" type="tns:WebPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeletePageResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetPagePublic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PAGE" nillable="true" type="tns:WebPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetPagePublicResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SetPageSSL">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PAGE" nillable="true" type="tns:WebPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetPageSSLResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SetAllPagesSSL">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetAllPagesSSLResponse">
            <s:complexType/>
         </s:element>
         <s:element name="UpdateConfigItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CONFIGITEM" nillable="true"
                             type="tns:ConfigItem"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ConfigItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="children" type="tns:ArrayOfAnyType"/>
               <s:element minOccurs="0" maxOccurs="1" name="parent" type="tns:ConfigItem"/>
               <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:ArrayOfAnyType"/>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TITLE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TYPE_ID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MAX_VALUES" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VALUE" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="CACHEABLE" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="PARENT_ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="KEY" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:element name="UpdateConfigItemResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SaveConfigItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CONFIGITEM" nillable="true"
                             type="tns:ConfigItem"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveConfigItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveConfigItemResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteConfigItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="iID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteConfigItemResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetTreeHtml">
            <s:complexType/>
         </s:element>
         <s:element name="GetTreeHtmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTreeHtmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetConfigXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="iID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetConfigXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetConfigXmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveConfigValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CONFIGVALUE" nillable="true"
                             type="tns:ConfigValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ConfigValue">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="STATUS" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ITEMID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ROLEID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ROLENAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VALUE" type="s:string"/>
            </s:sequence>
            <s:attribute name="id" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="SaveConfigValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveConfigValueResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValuesXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="iID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValuesXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetValuesXmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteConfigValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="iItemID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="iID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteConfigValueResponse">
            <s:complexType/>
         </s:element>
         <s:element name="UpdateConfigValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CONFIGVALUE" nillable="true"
                             type="tns:ConfigValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateConfigValueResponse">
            <s:complexType/>
         </s:element>
         <s:element name="RefreshConfig">
            <s:complexType/>
         </s:element>
         <s:element name="RefreshConfigResponse">
            <s:complexType/>
         </s:element>
         <s:element name="ExportConfig">
            <s:complexType/>
         </s:element>
         <s:element name="ExportConfigResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetUserID">
            <s:complexType/>
         </s:element>
         <s:element name="GetUserIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PutOnSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PutOnSessionResponse">
            <s:complexType/>
         </s:element>
         <s:element name="FindListName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ListType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindListNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FindListNameResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeLastUpdate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="newDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeLastUpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeLastUpdateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EmailPwd">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EmailPwdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EmailPwdResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AssignSelectedRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SelectedRole" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AssignSelectedRoleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AssignSelectedRoleResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ShowIcons">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sDir" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ShowIconsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ShowIconsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ShowFiles">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sDir" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="checkReg" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ShowFilesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ShowFilesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FindFileResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetPinUserRole">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetPinUserRoleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetPinUserRoleResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UnlockPin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UnlockPinResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UnlockPinResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadSelectedRolls">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadSelectedRollsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadSelectedRollsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveSelectedRolls">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rolls" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveSelectedRollsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveSelectedRollsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSelectedRolls">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSelectedRollsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteSelectedRollsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveRollsGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveRollsGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveRollsGroupResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveGroupRolls">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rolls" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveGroupRollsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveGroupRollsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRollsGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRollsGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteRollsGroupResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadGroupRollsAsXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadGroupRollsAsXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadGroupRollsAsXmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadAssignedGroupRollsAsXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="groupid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadAssignedGroupRollsAsXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadAssignedGroupRollsAsXmlResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AttachGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="group" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AttachGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AttachGroupResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DetachGroup">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="group" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DetachGroupResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DetachGroupResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadRollGroups">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadRollGroupsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadRollGroupsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitiesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCities"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSiteStylesAsXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetSiteStylesAsXml"/>
  </wsdl:message>
  <wsdl:message name="GetSiteStylesAsXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetSiteStylesAsXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllUnitsXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllUnitsXml"/>
  </wsdl:message>
  <wsdl:message name="GetAllUnitsXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllUnitsXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveUnitSoapIn">
      <wsdl:part name="parameters" element="tns:SaveUnit"/>
  </wsdl:message>
  <wsdl:message name="SaveUnitSoapOut">
      <wsdl:part name="parameters" element="tns:SaveUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateUnitSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateUnit"/>
  </wsdl:message>
  <wsdl:message name="UpdateUnitSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteUnitSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteUnit"/>
  </wsdl:message>
  <wsdl:message name="DeleteUnitSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="AssignUserToUnitSoapIn">
      <wsdl:part name="parameters" element="tns:AssignUserToUnit"/>
  </wsdl:message>
  <wsdl:message name="AssignUserToUnitSoapOut">
      <wsdl:part name="parameters" element="tns:AssignUserToUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="DetachUserFromUnitSoapIn">
      <wsdl:part name="parameters" element="tns:DetachUserFromUnit"/>
  </wsdl:message>
  <wsdl:message name="DetachUserFromUnitSoapOut">
      <wsdl:part name="parameters" element="tns:DetachUserFromUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveMenuItemSoapIn">
      <wsdl:part name="parameters" element="tns:SaveMenuItem"/>
  </wsdl:message>
  <wsdl:message name="SaveMenuItemSoapOut">
      <wsdl:part name="parameters" element="tns:SaveMenuItemResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteMenuItemSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteMenuItem"/>
  </wsdl:message>
  <wsdl:message name="DeleteMenuItemSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteMenuItemResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveAllMenusByXmlSoapIn">
      <wsdl:part name="parameters" element="tns:SaveAllMenusByXml"/>
  </wsdl:message>
  <wsdl:message name="SaveAllMenusByXmlSoapOut">
      <wsdl:part name="parameters" element="tns:SaveAllMenusByXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveRoleSoapIn">
      <wsdl:part name="parameters" element="tns:SaveRole"/>
  </wsdl:message>
  <wsdl:message name="SaveRoleSoapOut">
      <wsdl:part name="parameters" element="tns:SaveRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="CopyRoleSoapIn">
      <wsdl:part name="parameters" element="tns:CopyRole"/>
  </wsdl:message>
  <wsdl:message name="CopyRoleSoapOut">
      <wsdl:part name="parameters" element="tns:CopyRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateListCategorySoapIn">
      <wsdl:part name="parameters" element="tns:UpdateListCategory"/>
  </wsdl:message>
  <wsdl:message name="UpdateListCategorySoapOut">
      <wsdl:part name="parameters" element="tns:UpdateListCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddListCategorySoapIn">
      <wsdl:part name="parameters" element="tns:AddListCategory"/>
  </wsdl:message>
  <wsdl:message name="AddListCategorySoapOut">
      <wsdl:part name="parameters" element="tns:AddListCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteListCategorySoapIn">
      <wsdl:part name="parameters" element="tns:DeleteListCategory"/>
  </wsdl:message>
  <wsdl:message name="DeleteListCategorySoapOut">
      <wsdl:part name="parameters" element="tns:DeleteListCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateListTypeSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateListType"/>
  </wsdl:message>
  <wsdl:message name="UpdateListTypeSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateListTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="AddListTypeSoapIn">
      <wsdl:part name="parameters" element="tns:AddListType"/>
  </wsdl:message>
  <wsdl:message name="AddListTypeSoapOut">
      <wsdl:part name="parameters" element="tns:AddListTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteListTypeSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteListType"/>
  </wsdl:message>
  <wsdl:message name="DeleteListTypeSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteListTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="ReAssignUsersToRoleSoapIn">
      <wsdl:part name="parameters" element="tns:ReAssignUsersToRole"/>
  </wsdl:message>
  <wsdl:message name="ReAssignUsersToRoleSoapOut">
      <wsdl:part name="parameters" element="tns:ReAssignUsersToRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteRole"/>
  </wsdl:message>
  <wsdl:message name="DeleteRoleSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="SavePageSoapIn">
      <wsdl:part name="parameters" element="tns:SavePage"/>
  </wsdl:message>
  <wsdl:message name="SavePageSoapOut">
      <wsdl:part name="parameters" element="tns:SavePageResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadPageSoapIn">
      <wsdl:part name="parameters" element="tns:LoadPage"/>
  </wsdl:message>
  <wsdl:message name="LoadPageSoapOut">
      <wsdl:part name="parameters" element="tns:LoadPageResponse"/>
  </wsdl:message>
  <wsdl:message name="DeletePageSoapIn">
      <wsdl:part name="parameters" element="tns:DeletePage"/>
  </wsdl:message>
  <wsdl:message name="DeletePageSoapOut">
      <wsdl:part name="parameters" element="tns:DeletePageResponse"/>
  </wsdl:message>
  <wsdl:message name="SetPagePublicSoapIn">
      <wsdl:part name="parameters" element="tns:SetPagePublic"/>
  </wsdl:message>
  <wsdl:message name="SetPagePublicSoapOut">
      <wsdl:part name="parameters" element="tns:SetPagePublicResponse"/>
  </wsdl:message>
  <wsdl:message name="SetPageSSLSoapIn">
      <wsdl:part name="parameters" element="tns:SetPageSSL"/>
  </wsdl:message>
  <wsdl:message name="SetPageSSLSoapOut">
      <wsdl:part name="parameters" element="tns:SetPageSSLResponse"/>
  </wsdl:message>
  <wsdl:message name="SetAllPagesSSLSoapIn">
      <wsdl:part name="parameters" element="tns:SetAllPagesSSL"/>
  </wsdl:message>
  <wsdl:message name="SetAllPagesSSLSoapOut">
      <wsdl:part name="parameters" element="tns:SetAllPagesSSLResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateConfigItemSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateConfigItem"/>
  </wsdl:message>
  <wsdl:message name="UpdateConfigItemSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateConfigItemResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveConfigItemSoapIn">
      <wsdl:part name="parameters" element="tns:SaveConfigItem"/>
  </wsdl:message>
  <wsdl:message name="SaveConfigItemSoapOut">
      <wsdl:part name="parameters" element="tns:SaveConfigItemResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteConfigItemSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteConfigItem"/>
  </wsdl:message>
  <wsdl:message name="DeleteConfigItemSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteConfigItemResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTreeHtmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetTreeHtml"/>
  </wsdl:message>
  <wsdl:message name="GetTreeHtmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetTreeHtmlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetConfigXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetConfigXml"/>
  </wsdl:message>
  <wsdl:message name="GetConfigXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetConfigXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveConfigValueSoapIn">
      <wsdl:part name="parameters" element="tns:SaveConfigValue"/>
  </wsdl:message>
  <wsdl:message name="SaveConfigValueSoapOut">
      <wsdl:part name="parameters" element="tns:SaveConfigValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetValuesXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetValuesXml"/>
  </wsdl:message>
  <wsdl:message name="GetValuesXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetValuesXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteConfigValueSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteConfigValue"/>
  </wsdl:message>
  <wsdl:message name="DeleteConfigValueSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteConfigValueResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateConfigValueSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateConfigValue"/>
  </wsdl:message>
  <wsdl:message name="UpdateConfigValueSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateConfigValueResponse"/>
  </wsdl:message>
  <wsdl:message name="RefreshConfigSoapIn">
      <wsdl:part name="parameters" element="tns:RefreshConfig"/>
  </wsdl:message>
  <wsdl:message name="RefreshConfigSoapOut">
      <wsdl:part name="parameters" element="tns:RefreshConfigResponse"/>
  </wsdl:message>
  <wsdl:message name="ExportConfigSoapIn">
      <wsdl:part name="parameters" element="tns:ExportConfig"/>
  </wsdl:message>
  <wsdl:message name="ExportConfigSoapOut">
      <wsdl:part name="parameters" element="tns:ExportConfigResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetUserID"/>
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetUserIDResponse"/>
  </wsdl:message>
  <wsdl:message name="PutOnSessionSoapIn">
      <wsdl:part name="parameters" element="tns:PutOnSession"/>
  </wsdl:message>
  <wsdl:message name="PutOnSessionSoapOut">
      <wsdl:part name="parameters" element="tns:PutOnSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="FindListNameSoapIn">
      <wsdl:part name="parameters" element="tns:FindListName"/>
  </wsdl:message>
  <wsdl:message name="FindListNameSoapOut">
      <wsdl:part name="parameters" element="tns:FindListNameResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeLastUpdateSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeLastUpdate"/>
  </wsdl:message>
  <wsdl:message name="ChangeLastUpdateSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeLastUpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="EmailPwdSoapIn">
      <wsdl:part name="parameters" element="tns:EmailPwd"/>
  </wsdl:message>
  <wsdl:message name="EmailPwdSoapOut">
      <wsdl:part name="parameters" element="tns:EmailPwdResponse"/>
  </wsdl:message>
  <wsdl:message name="AssignSelectedRoleSoapIn">
      <wsdl:part name="parameters" element="tns:AssignSelectedRole"/>
  </wsdl:message>
  <wsdl:message name="AssignSelectedRoleSoapOut">
      <wsdl:part name="parameters" element="tns:AssignSelectedRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="ShowIconsSoapIn">
      <wsdl:part name="parameters" element="tns:ShowIcons"/>
  </wsdl:message>
  <wsdl:message name="ShowIconsSoapOut">
      <wsdl:part name="parameters" element="tns:ShowIconsResponse"/>
  </wsdl:message>
  <wsdl:message name="ShowFilesSoapIn">
      <wsdl:part name="parameters" element="tns:ShowFiles"/>
  </wsdl:message>
  <wsdl:message name="ShowFilesSoapOut">
      <wsdl:part name="parameters" element="tns:ShowFilesResponse"/>
  </wsdl:message>
  <wsdl:message name="FindFileSoapIn">
      <wsdl:part name="parameters" element="tns:FindFile"/>
  </wsdl:message>
  <wsdl:message name="FindFileSoapOut">
      <wsdl:part name="parameters" element="tns:FindFileResponse"/>
  </wsdl:message>
  <wsdl:message name="SetPinUserRoleSoapIn">
      <wsdl:part name="parameters" element="tns:SetPinUserRole"/>
  </wsdl:message>
  <wsdl:message name="SetPinUserRoleSoapOut">
      <wsdl:part name="parameters" element="tns:SetPinUserRoleResponse"/>
  </wsdl:message>
  <wsdl:message name="UnlockPinSoapIn">
      <wsdl:part name="parameters" element="tns:UnlockPin"/>
  </wsdl:message>
  <wsdl:message name="UnlockPinSoapOut">
      <wsdl:part name="parameters" element="tns:UnlockPinResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadSelectedRollsSoapIn">
      <wsdl:part name="parameters" element="tns:LoadSelectedRolls"/>
  </wsdl:message>
  <wsdl:message name="LoadSelectedRollsSoapOut">
      <wsdl:part name="parameters" element="tns:LoadSelectedRollsResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveSelectedRollsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveSelectedRolls"/>
  </wsdl:message>
  <wsdl:message name="SaveSelectedRollsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveSelectedRollsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteSelectedRollsSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteSelectedRolls"/>
  </wsdl:message>
  <wsdl:message name="DeleteSelectedRollsSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteSelectedRollsResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveRollsGroupSoapIn">
      <wsdl:part name="parameters" element="tns:SaveRollsGroup"/>
  </wsdl:message>
  <wsdl:message name="SaveRollsGroupSoapOut">
      <wsdl:part name="parameters" element="tns:SaveRollsGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveGroupRollsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveGroupRolls"/>
  </wsdl:message>
  <wsdl:message name="SaveGroupRollsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveGroupRollsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteRollsGroupSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteRollsGroup"/>
  </wsdl:message>
  <wsdl:message name="DeleteRollsGroupSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteRollsGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadGroupRollsAsXmlSoapIn">
      <wsdl:part name="parameters" element="tns:LoadGroupRollsAsXml"/>
  </wsdl:message>
  <wsdl:message name="LoadGroupRollsAsXmlSoapOut">
      <wsdl:part name="parameters" element="tns:LoadGroupRollsAsXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadAssignedGroupRollsAsXmlSoapIn">
      <wsdl:part name="parameters" element="tns:LoadAssignedGroupRollsAsXml"/>
  </wsdl:message>
  <wsdl:message name="LoadAssignedGroupRollsAsXmlSoapOut">
      <wsdl:part name="parameters" element="tns:LoadAssignedGroupRollsAsXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="AttachGroupSoapIn">
      <wsdl:part name="parameters" element="tns:AttachGroup"/>
  </wsdl:message>
  <wsdl:message name="AttachGroupSoapOut">
      <wsdl:part name="parameters" element="tns:AttachGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="DetachGroupSoapIn">
      <wsdl:part name="parameters" element="tns:DetachGroup"/>
  </wsdl:message>
  <wsdl:message name="DetachGroupSoapOut">
      <wsdl:part name="parameters" element="tns:DetachGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadRollGroupsSoapIn">
      <wsdl:part name="parameters" element="tns:LoadRollGroups"/>
  </wsdl:message>
  <wsdl:message name="LoadRollGroupsSoapOut">
      <wsdl:part name="parameters" element="tns:LoadRollGroupsResponse"/>
  </wsdl:message>
  <wsdl:portType name="AccessManagerSoap">
      <wsdl:operation name="GetCities">
         <wsdl:input message="tns:GetCitiesSoapIn"/>
         <wsdl:output message="tns:GetCitiesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSiteStylesAsXml">
         <wsdl:input message="tns:GetSiteStylesAsXmlSoapIn"/>
         <wsdl:output message="tns:GetSiteStylesAsXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAllUnitsXml">
         <wsdl:input message="tns:GetAllUnitsXmlSoapIn"/>
         <wsdl:output message="tns:GetAllUnitsXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveUnit">
         <wsdl:input message="tns:SaveUnitSoapIn"/>
         <wsdl:output message="tns:SaveUnitSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateUnit">
         <wsdl:input message="tns:UpdateUnitSoapIn"/>
         <wsdl:output message="tns:UpdateUnitSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteUnit">
         <wsdl:input message="tns:DeleteUnitSoapIn"/>
         <wsdl:output message="tns:DeleteUnitSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AssignUserToUnit">
         <wsdl:input message="tns:AssignUserToUnitSoapIn"/>
         <wsdl:output message="tns:AssignUserToUnitSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DetachUserFromUnit">
         <wsdl:input message="tns:DetachUserFromUnitSoapIn"/>
         <wsdl:output message="tns:DetachUserFromUnitSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveMenuItem">
         <wsdl:input message="tns:SaveMenuItemSoapIn"/>
         <wsdl:output message="tns:SaveMenuItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteMenuItem">
         <wsdl:input message="tns:DeleteMenuItemSoapIn"/>
         <wsdl:output message="tns:DeleteMenuItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveAllMenusByXml">
         <wsdl:input message="tns:SaveAllMenusByXmlSoapIn"/>
         <wsdl:output message="tns:SaveAllMenusByXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveRole">
         <wsdl:input message="tns:SaveRoleSoapIn"/>
         <wsdl:output message="tns:SaveRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CopyRole">
         <wsdl:input message="tns:CopyRoleSoapIn"/>
         <wsdl:output message="tns:CopyRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateListCategory">
         <wsdl:input message="tns:UpdateListCategorySoapIn"/>
         <wsdl:output message="tns:UpdateListCategorySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AddListCategory">
         <wsdl:input message="tns:AddListCategorySoapIn"/>
         <wsdl:output message="tns:AddListCategorySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteListCategory">
         <wsdl:input message="tns:DeleteListCategorySoapIn"/>
         <wsdl:output message="tns:DeleteListCategorySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateListType">
         <wsdl:input message="tns:UpdateListTypeSoapIn"/>
         <wsdl:output message="tns:UpdateListTypeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AddListType">
         <wsdl:input message="tns:AddListTypeSoapIn"/>
         <wsdl:output message="tns:AddListTypeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteListType">
         <wsdl:input message="tns:DeleteListTypeSoapIn"/>
         <wsdl:output message="tns:DeleteListTypeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ReAssignUsersToRole">
         <wsdl:input message="tns:ReAssignUsersToRoleSoapIn"/>
         <wsdl:output message="tns:ReAssignUsersToRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteRole">
         <wsdl:input message="tns:DeleteRoleSoapIn"/>
         <wsdl:output message="tns:DeleteRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SavePage">
         <wsdl:input message="tns:SavePageSoapIn"/>
         <wsdl:output message="tns:SavePageSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="LoadPage">
         <wsdl:input message="tns:LoadPageSoapIn"/>
         <wsdl:output message="tns:LoadPageSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeletePage">
         <wsdl:input message="tns:DeletePageSoapIn"/>
         <wsdl:output message="tns:DeletePageSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetPagePublic">
         <wsdl:input message="tns:SetPagePublicSoapIn"/>
         <wsdl:output message="tns:SetPagePublicSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetPageSSL">
         <wsdl:input message="tns:SetPageSSLSoapIn"/>
         <wsdl:output message="tns:SetPageSSLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetAllPagesSSL">
         <wsdl:input message="tns:SetAllPagesSSLSoapIn"/>
         <wsdl:output message="tns:SetAllPagesSSLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateConfigItem">
         <wsdl:input message="tns:UpdateConfigItemSoapIn"/>
         <wsdl:output message="tns:UpdateConfigItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveConfigItem">
         <wsdl:input message="tns:SaveConfigItemSoapIn"/>
         <wsdl:output message="tns:SaveConfigItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteConfigItem">
         <wsdl:input message="tns:DeleteConfigItemSoapIn"/>
         <wsdl:output message="tns:DeleteConfigItemSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTreeHtml">
         <wsdl:input message="tns:GetTreeHtmlSoapIn"/>
         <wsdl:output message="tns:GetTreeHtmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetConfigXml">
         <wsdl:input message="tns:GetConfigXmlSoapIn"/>
         <wsdl:output message="tns:GetConfigXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveConfigValue">
         <wsdl:input message="tns:SaveConfigValueSoapIn"/>
         <wsdl:output message="tns:SaveConfigValueSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetValuesXml">
         <wsdl:input message="tns:GetValuesXmlSoapIn"/>
         <wsdl:output message="tns:GetValuesXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteConfigValue">
         <wsdl:input message="tns:DeleteConfigValueSoapIn"/>
         <wsdl:output message="tns:DeleteConfigValueSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateConfigValue">
         <wsdl:input message="tns:UpdateConfigValueSoapIn"/>
         <wsdl:output message="tns:UpdateConfigValueSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RefreshConfig">
         <wsdl:input message="tns:RefreshConfigSoapIn"/>
         <wsdl:output message="tns:RefreshConfigSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ExportConfig">
         <wsdl:input message="tns:ExportConfigSoapIn"/>
         <wsdl:output message="tns:ExportConfigSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUserID">
         <wsdl:input message="tns:GetUserIDSoapIn"/>
         <wsdl:output message="tns:GetUserIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PutOnSession">
         <wsdl:input message="tns:PutOnSessionSoapIn"/>
         <wsdl:output message="tns:PutOnSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="FindListName">
         <wsdl:input message="tns:FindListNameSoapIn"/>
         <wsdl:output message="tns:FindListNameSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ChangeLastUpdate">
         <wsdl:input message="tns:ChangeLastUpdateSoapIn"/>
         <wsdl:output message="tns:ChangeLastUpdateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="EmailPwd">
         <wsdl:input message="tns:EmailPwdSoapIn"/>
         <wsdl:output message="tns:EmailPwdSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AssignSelectedRole">
         <wsdl:input message="tns:AssignSelectedRoleSoapIn"/>
         <wsdl:output message="tns:AssignSelectedRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ShowIcons">
         <wsdl:input message="tns:ShowIconsSoapIn"/>
         <wsdl:output message="tns:ShowIconsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ShowFiles">
         <wsdl:input message="tns:ShowFilesSoapIn"/>
         <wsdl:output message="tns:ShowFilesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="FindFile">
         <wsdl:input message="tns:FindFileSoapIn"/>
         <wsdl:output message="tns:FindFileSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetPinUserRole">
         <wsdl:input message="tns:SetPinUserRoleSoapIn"/>
         <wsdl:output message="tns:SetPinUserRoleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UnlockPin">
         <wsdl:input message="tns:UnlockPinSoapIn"/>
         <wsdl:output message="tns:UnlockPinSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="LoadSelectedRolls">
         <wsdl:input message="tns:LoadSelectedRollsSoapIn"/>
         <wsdl:output message="tns:LoadSelectedRollsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveSelectedRolls">
         <wsdl:input message="tns:SaveSelectedRollsSoapIn"/>
         <wsdl:output message="tns:SaveSelectedRollsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteSelectedRolls">
         <wsdl:input message="tns:DeleteSelectedRollsSoapIn"/>
         <wsdl:output message="tns:DeleteSelectedRollsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveRollsGroup">
         <wsdl:input message="tns:SaveRollsGroupSoapIn"/>
         <wsdl:output message="tns:SaveRollsGroupSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveGroupRolls">
         <wsdl:input message="tns:SaveGroupRollsSoapIn"/>
         <wsdl:output message="tns:SaveGroupRollsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteRollsGroup">
         <wsdl:input message="tns:DeleteRollsGroupSoapIn"/>
         <wsdl:output message="tns:DeleteRollsGroupSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="LoadGroupRollsAsXml">
         <wsdl:input message="tns:LoadGroupRollsAsXmlSoapIn"/>
         <wsdl:output message="tns:LoadGroupRollsAsXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="LoadAssignedGroupRollsAsXml">
         <wsdl:input message="tns:LoadAssignedGroupRollsAsXmlSoapIn"/>
         <wsdl:output message="tns:LoadAssignedGroupRollsAsXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AttachGroup">
         <wsdl:input message="tns:AttachGroupSoapIn"/>
         <wsdl:output message="tns:AttachGroupSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DetachGroup">
         <wsdl:input message="tns:DetachGroupSoapIn"/>
         <wsdl:output message="tns:DetachGroupSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="LoadRollGroups">
         <wsdl:input message="tns:LoadRollGroupsSoapIn"/>
         <wsdl:output message="tns:LoadRollGroupsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessManagerSoap" type="tns:AccessManagerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetCities">
         <soap:operation soapAction="http://tempuri.org/GetCities" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSiteStylesAsXml">
         <soap:operation soapAction="http://tempuri.org/GetSiteStylesAsXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllUnitsXml">
         <soap:operation soapAction="http://tempuri.org/GetAllUnitsXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveUnit">
         <soap:operation soapAction="http://tempuri.org/SaveUnit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateUnit">
         <soap:operation soapAction="http://tempuri.org/UpdateUnit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteUnit">
         <soap:operation soapAction="http://tempuri.org/DeleteUnit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AssignUserToUnit">
         <soap:operation soapAction="http://tempuri.org/AssignUserToUnit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DetachUserFromUnit">
         <soap:operation soapAction="http://tempuri.org/DetachUserFromUnit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveMenuItem">
         <soap:operation soapAction="http://tempuri.org/SaveMenuItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteMenuItem">
         <soap:operation soapAction="http://tempuri.org/DeleteMenuItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveAllMenusByXml">
         <soap:operation soapAction="http://tempuri.org/SaveAllMenusByXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveRole">
         <soap:operation soapAction="http://tempuri.org/SaveRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CopyRole">
         <soap:operation soapAction="http://tempuri.org/CopyRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateListCategory">
         <soap:operation soapAction="http://tempuri.org/UpdateListCategory" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddListCategory">
         <soap:operation soapAction="http://tempuri.org/AddListCategory" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteListCategory">
         <soap:operation soapAction="http://tempuri.org/DeleteListCategory" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateListType">
         <soap:operation soapAction="http://tempuri.org/UpdateListType" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddListType">
         <soap:operation soapAction="http://tempuri.org/AddListType" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteListType">
         <soap:operation soapAction="http://tempuri.org/DeleteListType" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReAssignUsersToRole">
         <soap:operation soapAction="http://tempuri.org/ReAssignUsersToRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteRole">
         <soap:operation soapAction="http://tempuri.org/DeleteRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SavePage">
         <soap:operation soapAction="http://tempuri.org/SavePage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadPage">
         <soap:operation soapAction="http://tempuri.org/LoadPage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeletePage">
         <soap:operation soapAction="http://tempuri.org/DeletePage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetPagePublic">
         <soap:operation soapAction="http://tempuri.org/SetPagePublic" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetPageSSL">
         <soap:operation soapAction="http://tempuri.org/SetPageSSL" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetAllPagesSSL">
         <soap:operation soapAction="http://tempuri.org/SetAllPagesSSL" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateConfigItem">
         <soap:operation soapAction="http://tempuri.org/UpdateConfigItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveConfigItem">
         <soap:operation soapAction="http://tempuri.org/SaveConfigItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteConfigItem">
         <soap:operation soapAction="http://tempuri.org/DeleteConfigItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTreeHtml">
         <soap:operation soapAction="http://tempuri.org/GetTreeHtml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetConfigXml">
         <soap:operation soapAction="http://tempuri.org/GetConfigXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveConfigValue">
         <soap:operation soapAction="http://tempuri.org/SaveConfigValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetValuesXml">
         <soap:operation soapAction="http://tempuri.org/GetValuesXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteConfigValue">
         <soap:operation soapAction="http://tempuri.org/DeleteConfigValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateConfigValue">
         <soap:operation soapAction="http://tempuri.org/UpdateConfigValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RefreshConfig">
         <soap:operation soapAction="http://tempuri.org/RefreshConfig" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ExportConfig">
         <soap:operation soapAction="http://tempuri.org/ExportConfig" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserID">
         <soap:operation soapAction="http://tempuri.org/GetUserID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PutOnSession">
         <soap:operation soapAction="http://tempuri.org/PutOnSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindListName">
         <soap:operation soapAction="http://tempuri.org/FindListName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeLastUpdate">
         <soap:operation soapAction="http://tempuri.org/ChangeLastUpdate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EmailPwd">
         <soap:operation soapAction="http://tempuri.org/EmailPwd" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AssignSelectedRole">
         <soap:operation soapAction="http://tempuri.org/AssignSelectedRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ShowIcons">
         <soap:operation soapAction="http://tempuri.org/ShowIcons" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ShowFiles">
         <soap:operation soapAction="http://tempuri.org/ShowFiles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindFile">
         <soap:operation soapAction="http://tempuri.org/FindFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetPinUserRole">
         <soap:operation soapAction="http://tempuri.org/SetPinUserRole" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UnlockPin">
         <soap:operation soapAction="http://tempuri.org/UnlockPin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadSelectedRolls">
         <soap:operation soapAction="http://tempuri.org/LoadSelectedRolls" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveSelectedRolls">
         <soap:operation soapAction="http://tempuri.org/SaveSelectedRolls" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteSelectedRolls">
         <soap:operation soapAction="http://tempuri.org/DeleteSelectedRolls" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveRollsGroup">
         <soap:operation soapAction="http://tempuri.org/SaveRollsGroup" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveGroupRolls">
         <soap:operation soapAction="http://tempuri.org/SaveGroupRolls" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteRollsGroup">
         <soap:operation soapAction="http://tempuri.org/DeleteRollsGroup" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadGroupRollsAsXml">
         <soap:operation soapAction="http://tempuri.org/LoadGroupRollsAsXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadAssignedGroupRollsAsXml">
         <soap:operation soapAction="http://tempuri.org/LoadAssignedGroupRollsAsXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AttachGroup">
         <soap:operation soapAction="http://tempuri.org/AttachGroup" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DetachGroup">
         <soap:operation soapAction="http://tempuri.org/DetachGroup" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadRollGroups">
         <soap:operation soapAction="http://tempuri.org/LoadRollGroups" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessManager">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="AccessManagerSoap" binding="tns:AccessManagerSoap">
         <soap:address location="http://ws.soatrader.com/fairfaxcounty.gov/0.1/AccessManager"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>