wsdl_repositories/soatrader_900/AccionaSLI.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="AccionaSLI"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="AccionaSLI">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema targetNamespace="AccionaSLI">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      </xsd:schema>
      <xsd:schema targetNamespace="AccionaSLI">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      </xsd:schema>
   </types>
   <message name="CargaSLIRequest">
      <part name="pstrInputOrdenManifiestoEmbarques" type="xsd:string"/>
   </message>
   <message name="CargaSLIResponse">
      <part name="pstrOutputOrdenManifiestoEmbarques" type="xsd:string"/>
   </message>
   <portType name="AccionaSLIPortType">
      <operation name="CargaSLI">
         <input message="tns:CargaSLIRequest"/>
         <output message="tns:CargaSLIResponse"/>
      </operation>
   </portType>
   <binding name="AccionaSLIBinding" type="tns:AccionaSLIPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="CargaSLI">
         <soap:operation soapAction="http://www.app-accionafwd.com/web_services/telefonica/CargaSLI.php/CargaSLI"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="AccionaSLI"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="AccionaSLI"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="AccionaSLI">
      <port name="AccionaSLIPort" binding="tns:AccionaSLIBinding">
         <soap:address location="http://ws.soatrader.com/app-accionafwd.com/0.1/AccionaSLI"/>
      </port>
   </service>
</definitions>