wsdl_repositories/soatrader_900/AccountEventHandler.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="com.esendex.ems.soapinterface"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="com.esendex.ems.soapinterface">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="com.esendex.ems.soapinterface">
         <s:element name="MessageReceived">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:MessageType"/>
                  <s:element minOccurs="1" maxOccurs="1" name="sentat" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="receivedat" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageType">
            <s:restriction base="s:string">
               <s:enumeration value="Text"/>
               <s:enumeration value="Binary"/>
               <s:enumeration value="SmartMessage"/>
               <s:enumeration value="Unicode"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="MessageReceivedResponse">
            <s:complexType/>
         </s:element>
         <s:element name="MessengerHeader" type="tns:MessengerHeader"/>
         <s:complexType name="MessengerHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="MessageEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="eventtype" type="tns:MessageEventCode"/>
                  <s:element minOccurs="1" maxOccurs="1" name="occurredat" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageEventCode">
            <s:restriction base="s:string">
               <s:enumeration value="Delivered"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="MessageEventResponse">
            <s:complexType/>
         </s:element>
         <s:element name="MessageError">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="errortype" type="tns:MessageErrorCode"/>
                  <s:element minOccurs="1" maxOccurs="1" name="occurredat" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="detail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="MessageErrorCode">
            <s:restriction base="s:string">
               <s:enumeration value="Failed"/>
               <s:enumeration value="UnrecognisedRecipient"/>
               <s:enumeration value="ValidityPeriodExpired"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="MessageErrorResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageReceivedSoapIn">
      <wsdl:part name="parameters" element="tns:MessageReceived"/>
  </wsdl:message>
  <wsdl:message name="MessageReceivedSoapOut">
      <wsdl:part name="parameters" element="tns:MessageReceivedResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageReceivedMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  <wsdl:message name="MessageEventSoapIn">
      <wsdl:part name="parameters" element="tns:MessageEvent"/>
  </wsdl:message>
  <wsdl:message name="MessageEventSoapOut">
      <wsdl:part name="parameters" element="tns:MessageEventResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageEventMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  <wsdl:message name="MessageErrorSoapIn">
      <wsdl:part name="parameters" element="tns:MessageError"/>
  </wsdl:message>
  <wsdl:message name="MessageErrorSoapOut">
      <wsdl:part name="parameters" element="tns:MessageErrorResponse"/>
  </wsdl:message>
  <wsdl:message name="MessageErrorMessengerHeader">
      <wsdl:part name="MessengerHeader" element="tns:MessengerHeader"/>
  </wsdl:message>
  
  <wsdl:binding name="AccountEventHandlerSoap" type="tns:AccountEventHandlerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="MessageReceived">
         <soap:operation soapAction="com.esendex.ems.soapinterface/MessageReceived" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:MessageReceivedMessengerHeader" part="MessengerHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="MessageEvent">
         <soap:operation soapAction="com.esendex.ems.soapinterface/MessageEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:MessageEventMessengerHeader" part="MessengerHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="MessageError">
         <soap:operation soapAction="com.esendex.ems.soapinterface/MessageError" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:MessageErrorMessengerHeader" part="MessengerHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AccountEventHandler">
      <wsdl:port name="AccountEventHandlerSoap" binding="tns:AccountEventHandlerSoap">
         <soap:address location="http://ws.soatrader.com/disaudio.com/0.1/AccountEventHandler"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>