wsdl_repositories/soatrader_900/Account.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://PensonWebServices/Account"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://PensonWebServices/Account">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://PensonWebServices/Account">
         <s:element name="AccountInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="argCustomerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argDateTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argLoginID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argFirm" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argAccount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountInfoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="argCustomerID" type="s:string"/>
         <s:element name="argDateTime" type="s:string"/>
         <s:element name="argLoginID" type="s:string"/>
         <s:element name="argPassword" type="s:string"/>
         <s:element name="argFirm" type="s:string"/>
         <s:element name="argAccount" type="s:string"/>
         <s:element name="PensonResponse" nillable="true" type="tns:PensonResponseAccount"/>
         <s:complexType name="PensonResponseAccount">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PensonStatus"
                          type="tns:PensonResponseAccountPensonStatus"/>
               <s:element minOccurs="0" maxOccurs="1" name="PensonData"
                          type="tns:PensonResponseAccountPensonData"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonStatus">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDateTime" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PensonDataRow"
                          type="tns:PensonResponseAccountPensonDataPensonDataRow"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonDataPensonDataRow">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoAreaCode1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoExchange1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoBase1" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AccountSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="argCustomerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argDateTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argLoginID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argFirm" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argCorrespondentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argCorrespondentOfficeID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argRepCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argSearchValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountSearchResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PensonResponseAccount" nillable="true" type="tns:PensonResponseAccount"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://PensonWebServices/Account">
         <s:element name="AccountInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="argCustomerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argDateTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argLoginID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argFirm" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argAccount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountInfoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="argCustomerID" type="s:string"/>
         <s:element name="argDateTime" type="s:string"/>
         <s:element name="argLoginID" type="s:string"/>
         <s:element name="argPassword" type="s:string"/>
         <s:element name="argFirm" type="s:string"/>
         <s:element name="argAccount" type="s:string"/>
         <s:element name="PensonResponse" nillable="true" type="tns:PensonResponseAccount"/>
         <s:complexType name="PensonResponseAccount">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PensonStatus"
                          type="tns:PensonResponseAccountPensonStatus"/>
               <s:element minOccurs="0" maxOccurs="1" name="PensonData"
                          type="tns:PensonResponseAccountPensonData"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonStatus">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDateTime" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PensonDataRow"
                          type="tns:PensonResponseAccountPensonDataPensonDataRow"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PensonResponseAccountPensonDataPensonDataRow">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoAreaCode1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoExchange1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelcoBase1" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AccountSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="argCustomerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argDateTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argLoginID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argFirm" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argCorrespondentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argCorrespondentOfficeID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argRepCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="argSearchValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountSearchResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PensonResponseAccount" nillable="true" type="tns:PensonResponseAccount"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountInfoSoapIn">
      <wsdl:part name="parameters" element="tns:AccountInfo"/>
  </wsdl:message>
  <wsdl:message name="AccountInfoSoapOut">
      <wsdl:part name="parameters" element="tns:AccountInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="InfoSoapIn">
      <wsdl:part name="argCustomerID" element="tns:argCustomerID"/>
      <wsdl:part name="argDateTime" element="tns:argDateTime"/>
      <wsdl:part name="argLoginID" element="tns:argLoginID"/>
      <wsdl:part name="argPassword" element="tns:argPassword"/>
      <wsdl:part name="argFirm" element="tns:argFirm"/>
      <wsdl:part name="argAccount" element="tns:argAccount"/>
  </wsdl:message>
  <wsdl:message name="InfoSoapOut">
      <wsdl:part name="InfoResult" element="tns:PensonResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchSoapIn">
      <wsdl:part name="parameters" element="tns:AccountSearch"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchSoapOut">
      <wsdl:part name="parameters" element="tns:AccountSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountInfoHttpGetIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AccountInfoHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="InfoHttpGetIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InfoHttpGetOut">
      <wsdl:part name="Body" element="tns:PensonResponseAccount"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchHttpGetIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argCorrespondentID" type="s:string"/>
      <wsdl:part name="argCorrespondentOfficeID" type="s:string"/>
      <wsdl:part name="argRepCode" type="s:string"/>
      <wsdl:part name="argSearchType" type="s:string"/>
      <wsdl:part name="argSearchValue" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="AccountInfoHttpPostIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AccountInfoHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="InfoHttpPostIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argAccount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InfoHttpPostOut">
      <wsdl:part name="Body" element="tns:PensonResponseAccount"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchHttpPostIn">
      <wsdl:part name="argCustomerID" type="s:string"/>
      <wsdl:part name="argDateTime" type="s:string"/>
      <wsdl:part name="argLoginID" type="s:string"/>
      <wsdl:part name="argPassword" type="s:string"/>
      <wsdl:part name="argFirm" type="s:string"/>
      <wsdl:part name="argCorrespondentID" type="s:string"/>
      <wsdl:part name="argCorrespondentOfficeID" type="s:string"/>
      <wsdl:part name="argRepCode" type="s:string"/>
      <wsdl:part name="argSearchType" type="s:string"/>
      <wsdl:part name="argSearchValue" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AccountSearchHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:portType name="AccountSoap">
      <wsdl:operation name="AccountInfo">
         <wsdl:input message="tns:AccountInfoSoapIn"/>
         <wsdl:output message="tns:AccountInfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Info">
         <wsdl:input message="tns:InfoSoapIn"/>
         <wsdl:output message="tns:InfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AccountSearch">
         <wsdl:input message="tns:AccountSearchSoapIn"/>
         <wsdl:output message="tns:AccountSearchSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="AccountSoap" type="tns:AccountSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="AccountInfo">
         <soap:operation soapAction="http://PensonWebServices/Account/AccountInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Info">
         <soap:operation soapAction="http://PensonWebServices/Account/Info" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountSearch">
         <soap:operation soapAction="http://PensonWebServices/Account/AccountSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Account">
      <wsdl:port name="AccountSoap" binding="tns:AccountSoap">
         <soap:address location="http://ws.soatrader.com/staging.penson.com/0.1/Account"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>