wsdl_repositories/soatrader_900/ACTDCADMIN.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://microsoft.com/wsdl/types/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://distcalc.act-inc.co.jp/DCADMIN"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://distcalc.act-inc.co.jp/DCADMIN">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://distcalc.act-inc.co.jp/DCADMIN">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="GetUsableNWInfos">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NWInfos" type="tns:ArrayOfNWInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Environ">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HWUID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WSURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfNWInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="NWInfo" nillable="true"
                          type="tns:NWInfo"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="NWInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Folder" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsDetailExist" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsTollExist" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="NWID" type="s1:guid"/>
               <s:element minOccurs="1" maxOccurs="1" name="NWID_WithoutSpeed" type="s1:guid"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetUsableNWInfosResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetUsableNWInfosResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NWInfos" type="tns:ArrayOfNWInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsableDCServer">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NWInfo" type="tns:NWInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsableDCServerResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetUsableDCServerResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsableGeoServer">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUsableGeoServerResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetUsableGeoServerResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="UserInformation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MemberKind" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcRouteMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcOptRouteMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxTime" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxDist" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoMaxAddressLevel" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoEnumInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoMaxLocs" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetUserInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetUserInformationResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserInformation2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation2"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="UserInformation2">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MemberKind" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcRouteMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcOptRouteMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxTime" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxDist" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcAreaMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoMaxAddressLevel" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoEnumInterval" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoMaxLocs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CalcCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxCalcCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GeoCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxGeoCount" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Expand_I32_1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Expand_I32_2" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Expand_I32_3" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Expand_I32_4" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Expand_Str_1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Expand_Str_2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Expand_Str_3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Expand_Str_4" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetUserInformation2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetUserInformation2Result" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:UserInformation2"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VarifyStartInvoke">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ServerKindCode" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteIP" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ParamList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VarifyStartInvokeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="VarifyStartInvokeResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ParamList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoticeEndInvoke">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ServerKindCode" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Environ" type="tns:Environ"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteIP" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoticeEndInvokeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="NoticeEndInvokeResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddUserInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserInfo" type="tns:UserInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="UserInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name_Kana" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company_Kana" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FaxNo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SalesCompany" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddUserInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddUserInfoResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="guid">
            <s:restriction base="s:string">
               <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsableNWInfosSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsableNWInfos"/>
  </wsdl:message>
  <wsdl:message name="GetUsableNWInfosSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsableNWInfosResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUsableDCServerSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsableDCServer"/>
  </wsdl:message>
  <wsdl:message name="GetUsableDCServerSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsableDCServerResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUsableGeoServerSoapIn">
      <wsdl:part name="parameters" element="tns:GetUsableGeoServer"/>
  </wsdl:message>
  <wsdl:message name="GetUsableGeoServerSoapOut">
      <wsdl:part name="parameters" element="tns:GetUsableGeoServerResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserInformationSoapIn">
      <wsdl:part name="parameters" element="tns:GetUserInformation"/>
  </wsdl:message>
  <wsdl:message name="GetUserInformationSoapOut">
      <wsdl:part name="parameters" element="tns:GetUserInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserInformation2SoapIn">
      <wsdl:part name="parameters" element="tns:GetUserInformation2"/>
  </wsdl:message>
  <wsdl:message name="GetUserInformation2SoapOut">
      <wsdl:part name="parameters" element="tns:GetUserInformation2Response"/>
  </wsdl:message>
  <wsdl:message name="VarifyStartInvokeSoapIn">
      <wsdl:part name="parameters" element="tns:VarifyStartInvoke"/>
  </wsdl:message>
  <wsdl:message name="VarifyStartInvokeSoapOut">
      <wsdl:part name="parameters" element="tns:VarifyStartInvokeResponse"/>
  </wsdl:message>
  <wsdl:message name="NoticeEndInvokeSoapIn">
      <wsdl:part name="parameters" element="tns:NoticeEndInvoke"/>
  </wsdl:message>
  <wsdl:message name="NoticeEndInvokeSoapOut">
      <wsdl:part name="parameters" element="tns:NoticeEndInvokeResponse"/>
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapIn">
      <wsdl:part name="parameters" element="tns:AddUserInfo"/>
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapOut">
      <wsdl:part name="parameters" element="tns:AddUserInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ACTDCADMINSoap">
      <wsdl:operation name="GetUsableNWInfos">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">計算用道路データ情報取得サービス</documentation>
         <wsdl:input message="tns:GetUsableNWInfosSoapIn"/>
         <wsdl:output message="tns:GetUsableNWInfosSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUsableDCServer">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">距離計算サーバ取得サービス</documentation>
         <wsdl:input message="tns:GetUsableDCServerSoapIn"/>
         <wsdl:output message="tns:GetUsableDCServerSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUsableGeoServer">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">住所検索サーバ取得サービス</documentation>
         <wsdl:input message="tns:GetUsableGeoServerSoapIn"/>
         <wsdl:output message="tns:GetUsableGeoServerSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUserInformation">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">ユーザ情報取得サービス（旧）</documentation>
         <wsdl:input message="tns:GetUserInformationSoapIn"/>
         <wsdl:output message="tns:GetUserInformationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetUserInformation2">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">ユーザ情報取得サービス</documentation>
         <wsdl:input message="tns:GetUserInformation2SoapIn"/>
         <wsdl:output message="tns:GetUserInformation2SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="VarifyStartInvoke">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">計算開始確認サービス</documentation>
         <wsdl:input message="tns:VarifyStartInvokeSoapIn"/>
         <wsdl:output message="tns:VarifyStartInvokeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="NoticeEndInvoke">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">計算終了通知サービス</documentation>
         <wsdl:input message="tns:NoticeEndInvokeSoapIn"/>
         <wsdl:output message="tns:NoticeEndInvokeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="AddUserInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">ユーザ情報追加サービス</documentation>
         <wsdl:input message="tns:AddUserInfoSoapIn"/>
         <wsdl:output message="tns:AddUserInfoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ACTDCADMINSoap" type="tns:ACTDCADMINSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetUsableNWInfos">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/GetUsableNWInfos"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUsableDCServer">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/GetUsableDCServer"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUsableGeoServer">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/GetUsableGeoServer"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserInformation">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/GetUserInformation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserInformation2">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/GetUserInformation2"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VarifyStartInvoke">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/VarifyStartInvoke"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NoticeEndInvoke">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/NoticeEndInvoke"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddUserInfo">
         <soap:operation soapAction="http://distcalc.act-inc.co.jp/DCADMIN/AddUserInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACTDCADMIN">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">ACT距離計算管理サービス</documentation>
      <wsdl:port name="ACTDCADMINSoap" binding="tns:ACTDCADMINSoap">
         <soap:address location="http://ws.soatrader.com/act-inc.co.jp/0.1/ACTDCADMIN"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>