wsdl_repositories/soatrader_900/Activities_x0020_Web_x0020_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ibridge.isgsolutions.com/Activities/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ibridge.isgsolutions.com/Activities/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ibridge.isgsolutions.com/Activities/">
         <s:element name="Create">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="activityType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="transactionDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="units" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="thruDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="actionCodes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="payMethod" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ticklerDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="batchNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originatingTransNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="orgCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="solicitorId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="taxableValue" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachSeqn" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachTotal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recurringRequest" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nextInstallDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="gracePeriod" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="activityType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="transactionDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="units" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="thruDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="actionCodes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="payMethod" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ticklerDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="batchNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originatingTransNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="orgCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="solicitorId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="taxableValue" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachSeqn" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachTotal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recurringRequest" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nextInstallDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="gracePeriod" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Delete">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ibridge.isgsolutions.com/Activities/">
         <s:element name="Create">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="activityType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="transactionDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="units" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="thruDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="actionCodes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="payMethod" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ticklerDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="batchNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originatingTransNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="orgCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="solicitorId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="taxableValue" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachSeqn" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachTotal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recurringRequest" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nextInstallDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="gracePeriod" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="activityType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="transactionDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="productCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="units" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="thruDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="memberType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="actionCodes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="payMethod" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ticklerDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="note2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="batchNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf4" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf5" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf6" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="uf7" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originatingTransNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="orgCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="campaignCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="otherId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="solicitorId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="taxableValue" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachSeqn" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="attachTotal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recurringRequest" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nextInstallDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="gracePeriod" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Delete">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="securityPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
      <wsdl:part name="parameters" element="tns:Create"/>
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
      <wsdl:part name="parameters" element="tns:CreateResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:Update"/>
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
      <wsdl:part name="parameters" element="tns:Delete"/>
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="activityType" type="s:string"/>
      <wsdl:part name="transactionDate" type="s:string"/>
      <wsdl:part name="effectiveDate" type="s:string"/>
      <wsdl:part name="productCode" type="s:string"/>
      <wsdl:part name="otherCode" type="s:string"/>
      <wsdl:part name="description" type="s:string"/>
      <wsdl:part name="sourceCode" type="s:string"/>
      <wsdl:part name="quantity" type="s:string"/>
      <wsdl:part name="amount" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
      <wsdl:part name="units" type="s:string"/>
      <wsdl:part name="thruDate" type="s:string"/>
      <wsdl:part name="memberType" type="s:string"/>
      <wsdl:part name="actionCodes" type="s:string"/>
      <wsdl:part name="payMethod" type="s:string"/>
      <wsdl:part name="ticklerDate" type="s:string"/>
      <wsdl:part name="note" type="s:string"/>
      <wsdl:part name="note2" type="s:string"/>
      <wsdl:part name="batchNum" type="s:string"/>
      <wsdl:part name="coId" type="s:string"/>
      <wsdl:part name="uf1" type="s:string"/>
      <wsdl:part name="uf2" type="s:string"/>
      <wsdl:part name="uf3" type="s:string"/>
      <wsdl:part name="uf4" type="s:string"/>
      <wsdl:part name="uf5" type="s:string"/>
      <wsdl:part name="uf6" type="s:string"/>
      <wsdl:part name="uf7" type="s:string"/>
      <wsdl:part name="originatingTransNum" type="s:string"/>
      <wsdl:part name="orgCode" type="s:string"/>
      <wsdl:part name="campaignCode" type="s:string"/>
      <wsdl:part name="otherId" type="s:string"/>
      <wsdl:part name="solicitorId" type="s:string"/>
      <wsdl:part name="taxableValue" type="s:string"/>
      <wsdl:part name="attachSeqn" type="s:string"/>
      <wsdl:part name="attachTotal" type="s:string"/>
      <wsdl:part name="recurringRequest" type="s:string"/>
      <wsdl:part name="statusCode" type="s:string"/>
      <wsdl:part name="nextInstallDate" type="s:string"/>
      <wsdl:part name="gracePeriod" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreateHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="sequenceNumber" type="s:string"/>
      <wsdl:part name="activityType" type="s:string"/>
      <wsdl:part name="transactionDate" type="s:string"/>
      <wsdl:part name="effectiveDate" type="s:string"/>
      <wsdl:part name="productCode" type="s:string"/>
      <wsdl:part name="otherCode" type="s:string"/>
      <wsdl:part name="description" type="s:string"/>
      <wsdl:part name="sourceCode" type="s:string"/>
      <wsdl:part name="quantity" type="s:string"/>
      <wsdl:part name="amount" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
      <wsdl:part name="units" type="s:string"/>
      <wsdl:part name="thruDate" type="s:string"/>
      <wsdl:part name="memberType" type="s:string"/>
      <wsdl:part name="actionCodes" type="s:string"/>
      <wsdl:part name="payMethod" type="s:string"/>
      <wsdl:part name="ticklerDate" type="s:string"/>
      <wsdl:part name="note" type="s:string"/>
      <wsdl:part name="note2" type="s:string"/>
      <wsdl:part name="batchNum" type="s:string"/>
      <wsdl:part name="coId" type="s:string"/>
      <wsdl:part name="uf1" type="s:string"/>
      <wsdl:part name="uf2" type="s:string"/>
      <wsdl:part name="uf3" type="s:string"/>
      <wsdl:part name="uf4" type="s:string"/>
      <wsdl:part name="uf5" type="s:string"/>
      <wsdl:part name="uf6" type="s:string"/>
      <wsdl:part name="uf7" type="s:string"/>
      <wsdl:part name="originatingTransNum" type="s:string"/>
      <wsdl:part name="orgCode" type="s:string"/>
      <wsdl:part name="campaignCode" type="s:string"/>
      <wsdl:part name="otherId" type="s:string"/>
      <wsdl:part name="solicitorId" type="s:string"/>
      <wsdl:part name="taxableValue" type="s:string"/>
      <wsdl:part name="attachSeqn" type="s:string"/>
      <wsdl:part name="attachTotal" type="s:string"/>
      <wsdl:part name="recurringRequest" type="s:string"/>
      <wsdl:part name="statusCode" type="s:string"/>
      <wsdl:part name="nextInstallDate" type="s:string"/>
      <wsdl:part name="gracePeriod" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="sequenceNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CreateHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="activityType" type="s:string"/>
      <wsdl:part name="transactionDate" type="s:string"/>
      <wsdl:part name="effectiveDate" type="s:string"/>
      <wsdl:part name="productCode" type="s:string"/>
      <wsdl:part name="otherCode" type="s:string"/>
      <wsdl:part name="description" type="s:string"/>
      <wsdl:part name="sourceCode" type="s:string"/>
      <wsdl:part name="quantity" type="s:string"/>
      <wsdl:part name="amount" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
      <wsdl:part name="units" type="s:string"/>
      <wsdl:part name="thruDate" type="s:string"/>
      <wsdl:part name="memberType" type="s:string"/>
      <wsdl:part name="actionCodes" type="s:string"/>
      <wsdl:part name="payMethod" type="s:string"/>
      <wsdl:part name="ticklerDate" type="s:string"/>
      <wsdl:part name="note" type="s:string"/>
      <wsdl:part name="note2" type="s:string"/>
      <wsdl:part name="batchNum" type="s:string"/>
      <wsdl:part name="coId" type="s:string"/>
      <wsdl:part name="uf1" type="s:string"/>
      <wsdl:part name="uf2" type="s:string"/>
      <wsdl:part name="uf3" type="s:string"/>
      <wsdl:part name="uf4" type="s:string"/>
      <wsdl:part name="uf5" type="s:string"/>
      <wsdl:part name="uf6" type="s:string"/>
      <wsdl:part name="uf7" type="s:string"/>
      <wsdl:part name="originatingTransNum" type="s:string"/>
      <wsdl:part name="orgCode" type="s:string"/>
      <wsdl:part name="campaignCode" type="s:string"/>
      <wsdl:part name="otherId" type="s:string"/>
      <wsdl:part name="solicitorId" type="s:string"/>
      <wsdl:part name="taxableValue" type="s:string"/>
      <wsdl:part name="attachSeqn" type="s:string"/>
      <wsdl:part name="attachTotal" type="s:string"/>
      <wsdl:part name="recurringRequest" type="s:string"/>
      <wsdl:part name="statusCode" type="s:string"/>
      <wsdl:part name="nextInstallDate" type="s:string"/>
      <wsdl:part name="gracePeriod" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreateHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="sequenceNumber" type="s:string"/>
      <wsdl:part name="activityType" type="s:string"/>
      <wsdl:part name="transactionDate" type="s:string"/>
      <wsdl:part name="effectiveDate" type="s:string"/>
      <wsdl:part name="productCode" type="s:string"/>
      <wsdl:part name="otherCode" type="s:string"/>
      <wsdl:part name="description" type="s:string"/>
      <wsdl:part name="sourceCode" type="s:string"/>
      <wsdl:part name="quantity" type="s:string"/>
      <wsdl:part name="amount" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
      <wsdl:part name="units" type="s:string"/>
      <wsdl:part name="thruDate" type="s:string"/>
      <wsdl:part name="memberType" type="s:string"/>
      <wsdl:part name="actionCodes" type="s:string"/>
      <wsdl:part name="payMethod" type="s:string"/>
      <wsdl:part name="ticklerDate" type="s:string"/>
      <wsdl:part name="note" type="s:string"/>
      <wsdl:part name="note2" type="s:string"/>
      <wsdl:part name="batchNum" type="s:string"/>
      <wsdl:part name="coId" type="s:string"/>
      <wsdl:part name="uf1" type="s:string"/>
      <wsdl:part name="uf2" type="s:string"/>
      <wsdl:part name="uf3" type="s:string"/>
      <wsdl:part name="uf4" type="s:string"/>
      <wsdl:part name="uf5" type="s:string"/>
      <wsdl:part name="uf6" type="s:string"/>
      <wsdl:part name="uf7" type="s:string"/>
      <wsdl:part name="originatingTransNum" type="s:string"/>
      <wsdl:part name="orgCode" type="s:string"/>
      <wsdl:part name="campaignCode" type="s:string"/>
      <wsdl:part name="otherId" type="s:string"/>
      <wsdl:part name="solicitorId" type="s:string"/>
      <wsdl:part name="taxableValue" type="s:string"/>
      <wsdl:part name="attachSeqn" type="s:string"/>
      <wsdl:part name="attachTotal" type="s:string"/>
      <wsdl:part name="recurringRequest" type="s:string"/>
      <wsdl:part name="statusCode" type="s:string"/>
      <wsdl:part name="nextInstallDate" type="s:string"/>
      <wsdl:part name="gracePeriod" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
      <wsdl:part name="securityPassword" type="s:string"/>
      <wsdl:part name="id" type="s:string"/>
      <wsdl:part name="sequenceNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="Activities_x0020_Web_x0020_ServiceSoap">
      <wsdl:operation name="Create">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Creates a new Activity record.</documentation>
         <wsdl:input message="tns:CreateSoapIn"/>
         <wsdl:output message="tns:CreateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Update">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Updates an Activity record.</documentation>
         <wsdl:input message="tns:UpdateSoapIn"/>
         <wsdl:output message="tns:UpdateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Delete">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Deletes a Activity record.</documentation>
         <wsdl:input message="tns:DeleteSoapIn"/>
         <wsdl:output message="tns:DeleteSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Activities_x0020_Web_x0020_ServiceSoap"
                 type="tns:Activities_x0020_Web_x0020_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Create">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Activities/Create" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Update">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Activities/Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Delete">
         <soap:operation soapAction="http://ibridge.isgsolutions.com/Activities/Delete" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Activities_x0020_Web_x0020_Service">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The activities web service is used to create and update activities from the database.</documentation>
      <wsdl:port name="Activities_x0020_Web_x0020_ServiceSoap"
                 binding="tns:Activities_x0020_Web_x0020_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/eseries.nafsa.org/0.1/Activities_x0020_Web_x0020_Service"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>