wsdl_repositories/soatrader_900/ActivationWebService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://microsoft.com/DRM/ActivationService"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://microsoft.com/DRM/ActivationService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/DRM/ActivationService">
         <s:element name="Activate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestParams"
                             type="tns:ArrayOfActivateParams"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfActivateParams">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ActivateParams"
                          type="tns:ActivateParams"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ActivateParams">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="HidXml">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="ActivateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ActivateResult"
                             type="tns:ArrayOfActivateResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfActivateResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ActivateResponse"
                          type="tns:ActivateResponse"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ActivateResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="BinarySignature">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="MachineCertificateChain"
                          type="tns:ArrayOfXmlNode"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfXmlNode">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Certificate" nillable="true">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="VersionData" type="tns:VersionData"/>
         <s:complexType name="VersionData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MinimumVersion" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MaximumVersion" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/DRM/ActivationService">
         <s:element name="Activate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="requestParams"
                             type="tns:ArrayOfActivateParams"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfActivateParams">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ActivateParams"
                          type="tns:ActivateParams"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ActivateParams">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="HidXml">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="ActivateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ActivateResult"
                             type="tns:ArrayOfActivateResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfActivateResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ActivateResponse"
                          type="tns:ActivateResponse"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ActivateResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="BinarySignature">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="MachineCertificateChain"
                          type="tns:ArrayOfXmlNode"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfXmlNode">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Certificate" nillable="true">
                  <s:complexType mixed="true">
                     <s:sequence>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="VersionData" type="tns:VersionData"/>
         <s:complexType name="VersionData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MinimumVersion" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MaximumVersion" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivateSoapIn">
      <wsdl:part name="parameters" element="tns:Activate"/>
  </wsdl:message>
  <wsdl:message name="ActivateSoapOut">
      <wsdl:part name="parameters" element="tns:ActivateResponse"/>
  </wsdl:message>
  <wsdl:message name="ActivateVersionData">
      <wsdl:part name="VersionData" element="tns:VersionData"/>
  </wsdl:message>
  <wsdl:portType name="ActivationWebServiceSoap">
      <wsdl:operation name="Activate">
         <wsdl:input message="tns:ActivateSoapIn"/>
         <wsdl:output message="tns:ActivateSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivationWebServiceSoap" type="tns:ActivationWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Activate">
         <soap:operation soapAction="http://microsoft.com/DRM/ActivationService/Activate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:ActivateVersionData" part="VersionData" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:ActivateVersionData" part="VersionData" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationWebService">
      <wsdl:port name="ActivationWebServiceSoap" binding="tns:ActivationWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/drm.microsoft.com/0.1/ActivationWebService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>