wsdl_repositories/soatrader_900/ActivationService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="ActivateUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ActivationStatus" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="FirstGate" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ActivateUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ActivateUserResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddToActivationQueue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddToActivationQueueResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetActivationQueue">
            <s:complexType/>
         </s:element>
         <s:element name="GetActivationQueueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetActivationQueueResult"
                             type="tns:ArrayOfInt"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfInt">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="RemoveFromActivationQueue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveFromActivationQueueResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivateUserSoapIn">
      <wsdl:part name="parameters" element="tns:ActivateUser"/>
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapOut">
      <wsdl:part name="parameters" element="tns:ActivateUserResponse"/>
  </wsdl:message>
  <wsdl:message name="AddToActivationQueueSoapIn">
      <wsdl:part name="parameters" element="tns:AddToActivationQueue"/>
  </wsdl:message>
  <wsdl:message name="AddToActivationQueueSoapOut">
      <wsdl:part name="parameters" element="tns:AddToActivationQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetActivationQueueSoapIn">
      <wsdl:part name="parameters" element="tns:GetActivationQueue"/>
  </wsdl:message>
  <wsdl:message name="GetActivationQueueSoapOut">
      <wsdl:part name="parameters" element="tns:GetActivationQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveFromActivationQueueSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveFromActivationQueue"/>
  </wsdl:message>
  <wsdl:message name="RemoveFromActivationQueueSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveFromActivationQueueResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ActivationServiceSoap" type="tns:ActivationServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ActivateUser">
         <soap:operation soapAction="http://tempuri.org/ActivateUser" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddToActivationQueue">
         <soap:operation soapAction="http://tempuri.org/AddToActivationQueue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetActivationQueue">
         <soap:operation soapAction="http://tempuri.org/GetActivationQueue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveFromActivationQueue">
         <soap:operation soapAction="http://tempuri.org/RemoveFromActivationQueue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ActivationService">
      <wsdl:port name="ActivationServiceSoap" binding="tns:ActivationServiceSoap">
         <soap:address location="http://ws.soatrader.com/toggolino.de/0.1/ActivationService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>