wsdl_repositories/soatrader_900/activityService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://admin.wherestom"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://admin.wherestom"
                  xmlns:intf="http://admin.wherestom"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://rpc.xml.coldfusion"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://admin.wherestom">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Macromedia ColdFusion MX version 7,0,2,142559-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://xml.apache.org/xml-soap">
         <import namespace="http://rpc.xml.coldfusion"/>
         <import namespace="http://admin.wherestom"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="mapItem">
            <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
         <complexType name="Map">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://rpc.xml.coldfusion">
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://admin.wherestom"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CFCInvocationException">
            <sequence/>
         </complexType>
         <complexType name="QueryBean">
            <sequence>
               <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
               <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://admin.wherestom">
         <import namespace="http://rpc.xml.coldfusion"/>
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_xsd_anyType">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="CFCInvocationException">

      <wsdl:part name="fault" type="tns1:CFCInvocationException"/>

   </wsdl:message>

   <wsdl:message name="findTomRequest">

   </wsdl:message>

   <wsdl:message name="findTomResponse">

      <wsdl:part name="findTomReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:portType name="activity">

      <wsdl:operation name="findTom">

         <wsdl:input message="impl:findTomRequest" name="findTomRequest"/>

         <wsdl:output message="impl:findTomResponse" name="findTomResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="activity.cfcSoapBinding" type="impl:activity">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findTom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findTomRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://admin.wherestom"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findTomResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://admin.wherestom"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://admin.wherestom"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="activityService">

      <wsdl:documentation>
Allows entry, edit, validation, search, and display of activities  </wsdl:documentation>

      <wsdl:port binding="impl:activity.cfcSoapBinding" name="activity.cfc">

         <wsdlsoap:address location="http://ws.soatrader.com/q3studios.com/0.1/activityService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>