wsdl_repositories/soatrader_900/ActionsHistory.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://community.akazoo.gr/Groups/HistoryServiceMethods"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://community.akazoo.gr/Groups/HistoryServiceMethods">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://community.akazoo.gr/Groups/HistoryServiceMethods">
         <s:element name="GetGroupHistory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGroupHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGroupHistoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://community.akazoo.gr/Groups/HistoryServiceMethods">
         <s:element name="GetGroupHistory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGroupHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGroupHistoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGroupHistorySoapIn">
      <wsdl:part name="parameters" element="tns:GetGroupHistory"/>
  </wsdl:message>
  <wsdl:message name="GetGroupHistorySoapOut">
      <wsdl:part name="parameters" element="tns:GetGroupHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGroupHistoryHttpGetIn">
      <wsdl:part name="groupid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetGroupHistoryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  <wsdl:binding name="ActionsHistorySoap" type="tns:ActionsHistorySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetGroupHistory">
         <soap:operation soapAction="http://community.akazoo.gr/Groups/HistoryServiceMethods/GetGroupHistory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="ActionsHistory">
      <wsdl:port name="ActionsHistorySoap" binding="tns:ActionsHistorySoap">
         <soap:address location="http://ws.soatrader.com/akazoo.gr/0.1/ActionsHistory"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>