wsdl_repositories/soatrader_900/ActivityLog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="LogAdsClick">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="adName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogAdsClickResponse">
            <s:complexType/>
         </s:element>
         <s:element name="LogProductCatalogClick">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="productUrl" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogProductCatalogClickResponse">
            <s:complexType/>
         </s:element>
         <s:element name="LogToolBarDownloadClick">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogToolBarDownloadClickResponse">
            <s:complexType/>
         </s:element>
         <s:element name="LogServiceCosumptionServices">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="serviceTypeDescription" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogServiceCosumptionServicesResponse">
            <s:complexType/>
         </s:element>
         <s:element name="LogServiceCosumptionAccessories">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogServiceCosumptionAccessoriesResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LogAdsClickSoapIn">
      <wsdl:part name="parameters" element="tns:LogAdsClick"/>
  </wsdl:message>
  <wsdl:message name="LogAdsClickSoapOut">
      <wsdl:part name="parameters" element="tns:LogAdsClickResponse"/>
  </wsdl:message>
  <wsdl:message name="LogProductCatalogClickSoapIn">
      <wsdl:part name="parameters" element="tns:LogProductCatalogClick"/>
  </wsdl:message>
  <wsdl:message name="LogProductCatalogClickSoapOut">
      <wsdl:part name="parameters" element="tns:LogProductCatalogClickResponse"/>
  </wsdl:message>
  <wsdl:message name="LogToolBarDownloadClickSoapIn">
      <wsdl:part name="parameters" element="tns:LogToolBarDownloadClick"/>
  </wsdl:message>
  <wsdl:message name="LogToolBarDownloadClickSoapOut">
      <wsdl:part name="parameters" element="tns:LogToolBarDownloadClickResponse"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionServicesSoapIn">
      <wsdl:part name="parameters" element="tns:LogServiceCosumptionServices"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionServicesSoapOut">
      <wsdl:part name="parameters" element="tns:LogServiceCosumptionServicesResponse"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionAccessoriesSoapIn">
      <wsdl:part name="parameters" element="tns:LogServiceCosumptionAccessories"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionAccessoriesSoapOut">
      <wsdl:part name="parameters" element="tns:LogServiceCosumptionAccessoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="LogAdsClickHttpGetIn">
      <wsdl:part name="adName" type="s:string"/>
      <wsdl:part name="itemId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogAdsClickHttpGetOut"/>
  <wsdl:message name="LogProductCatalogClickHttpGetIn">
      <wsdl:part name="productId" type="s:string"/>
      <wsdl:part name="providerName" type="s:string"/>
      <wsdl:part name="productUrl" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogProductCatalogClickHttpGetOut"/>
  <wsdl:message name="LogToolBarDownloadClickHttpGetIn">
      <wsdl:part name="source" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogToolBarDownloadClickHttpGetOut"/>
  <wsdl:message name="LogServiceCosumptionServicesHttpGetIn">
      <wsdl:part name="serviceTypeDescription" type="s:string"/>
      <wsdl:part name="itemId" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionServicesHttpGetOut"/>
  <wsdl:message name="LogServiceCosumptionAccessoriesHttpGetIn">
      <wsdl:part name="itemId" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionAccessoriesHttpGetOut"/>
  <wsdl:message name="LogAdsClickHttpPostIn">
      <wsdl:part name="adName" type="s:string"/>
      <wsdl:part name="itemId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogAdsClickHttpPostOut"/>
  <wsdl:message name="LogProductCatalogClickHttpPostIn">
      <wsdl:part name="productId" type="s:string"/>
      <wsdl:part name="providerName" type="s:string"/>
      <wsdl:part name="productUrl" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogProductCatalogClickHttpPostOut"/>
  <wsdl:message name="LogToolBarDownloadClickHttpPostIn">
      <wsdl:part name="source" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogToolBarDownloadClickHttpPostOut"/>
  <wsdl:message name="LogServiceCosumptionServicesHttpPostIn">
      <wsdl:part name="serviceTypeDescription" type="s:string"/>
      <wsdl:part name="itemId" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionServicesHttpPostOut"/>
  <wsdl:message name="LogServiceCosumptionAccessoriesHttpPostIn">
      <wsdl:part name="itemId" type="s:string"/>
      <wsdl:part name="URL" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogServiceCosumptionAccessoriesHttpPostOut"/>
  
  
  
  <wsdl:binding name="ActivityLogSoap" type="tns:ActivityLogSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="LogAdsClick">
         <soap:operation soapAction="http://tempuri.org/LogAdsClick" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogProductCatalogClick">
         <soap:operation soapAction="http://tempuri.org/LogProductCatalogClick" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogToolBarDownloadClick">
         <soap:operation soapAction="http://tempuri.org/LogToolBarDownloadClick" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogServiceCosumptionServices">
         <soap:operation soapAction="http://tempuri.org/LogServiceCosumptionServices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogServiceCosumptionAccessories">
         <soap:operation soapAction="http://tempuri.org/LogServiceCosumptionAccessories"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="ActivityLog">
      <wsdl:port name="ActivityLogSoap" binding="tns:ActivityLogSoap">
         <soap:address location="http://ws.soatrader.com/mythings.com/0.1/ActivityLog"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>