wsdl_repositories/soatrader_900/ACVSWebServices.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.acvsnet.net/SI-ACVS/WebServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="http://www.acvsnet.net/SI-ACVS/WebServices"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="http://www.acvsnet.net/SI-ACVS/WebServices">
         <s:element name="GetConfigurationElement">
            <s:complexType/>
         </s:element>
         <s:element name="GetConfigurationElementResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetConfigurationElementResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthHeader" type="tns:AuthHeader"/>
         <s:complexType name="AuthHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="GetPrestation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bSupprime" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idCommune" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idEtatDisponibilite" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="triEvenement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth1" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth2" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth3" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth4" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth5" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth6" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth7" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth8" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth9" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth10" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth11" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth12" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bWeekEnd" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idDepartement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idTerritoire" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idAnneeExercice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idSousCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idEtatCaracteristique1" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idEtatCaracteristique2" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idEtatCaracteristique3" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrestationResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullInfosPrestation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idPrestation" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idDepartement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idSousCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idCommune" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bSupprime" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idTerritoire" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFullInfosPrestationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFullInfosPrestationResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestaBySousCat">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="_idPrestation" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idSousCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCommune" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestaBySousCatResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrestaBySousCatResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestaSousCat">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="_idPrestation" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idSousCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCommune" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestaSousCatResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrestaSousCatResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPresta">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="_idPrestation" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idCommune" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="_idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrestaResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCommune">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idGroupeCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idCategorie" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idSousCategorie" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCommuneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCommuneResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaracteristique">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idCategorie" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaracteristiqueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCaracteristiqueResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEtatCaracteristique">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idCaracteristique" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEtatCaracteristiqueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEtatCaracteristiqueResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategorie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idCommune" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategorieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCategorieResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSousCategorie">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idCommune" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSousCategorieResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSousCategorieResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePrestationsFromTif">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlTiff" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePrestationsFromTifResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdatePrestationsFromTifResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePrestations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idPrestation" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePrestationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeletePrestationsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RestorePrestations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idPrestation" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RestorePrestationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RestorePrestationsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestationTIF">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idPrestation" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrestationTIFResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrestationTIFResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchIdPrestation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="libPrestation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteres" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="triEvenement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth1" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth2" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth3" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth4" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth5" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth6" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth7" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth8" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth9" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth10" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth11" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth12" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bWeekEnd" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idAnneeExercice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="majApresLe" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereA" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereB" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereC" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereD" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereE" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereF" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereG" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereH" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchIdPrestationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchIdPrestationResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchIdPrestationV2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="idPrestation" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="libPrestation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteresAnd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteresOr1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteresOr2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteresOr3" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="triEvenement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth1" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth2" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth3" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth4" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth5" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth6" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth7" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth8" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth9" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth10" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth11" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth12" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bWeekEnd" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idAnneeExercice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="majApresLe" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereA" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereB" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereC" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereD" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereE" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereF" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereG" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereH" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchIdPrestationV2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchIdPrestationV2Result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchOnlyIdPrestation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="libPrestation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="criteres" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="triEvenement" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth1" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth2" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth3" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth4" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth5" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth6" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth7" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth8" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth9" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth10" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth11" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bMonth12" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bWeekEnd" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="idAnneeExercice" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneInfOuverture" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dayBorneSupOuverture" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="majApresLe" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereA" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereB" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereC" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereD" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereE" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereF" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereG" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bCritereH" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchOnlyIdPrestationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchOnlyIdPrestationResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConfigurationElementSoapIn">
      <wsdl:part name="parameters" element="tns:GetConfigurationElement"/>
  </wsdl:message>
  <wsdl:message name="GetConfigurationElementSoapOut">
      <wsdl:part name="parameters" element="tns:GetConfigurationElementResponse"/>
  </wsdl:message>
  <wsdl:message name="GetConfigurationElementAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrestation"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrestationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetFullInfosPrestationSoapIn">
      <wsdl:part name="parameters" element="tns:GetFullInfosPrestation"/>
  </wsdl:message>
  <wsdl:message name="GetFullInfosPrestationSoapOut">
      <wsdl:part name="parameters" element="tns:GetFullInfosPrestationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFullInfosPrestationAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaBySousCatSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrestaBySousCat"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaBySousCatSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrestaBySousCatResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaBySousCatAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaSousCatSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrestaSousCat"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaSousCatSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrestaSousCatResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaSousCatAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaSoapIn">
      <wsdl:part name="parameters" element="tns:GetPresta"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrestaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrestaAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCommuneSoapIn">
      <wsdl:part name="parameters" element="tns:GetCommune"/>
  </wsdl:message>
  <wsdl:message name="GetCommuneSoapOut">
      <wsdl:part name="parameters" element="tns:GetCommuneResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCommuneAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCaracteristiqueSoapIn">
      <wsdl:part name="parameters" element="tns:GetCaracteristique"/>
  </wsdl:message>
  <wsdl:message name="GetCaracteristiqueSoapOut">
      <wsdl:part name="parameters" element="tns:GetCaracteristiqueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaracteristiqueAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetEtatCaracteristiqueSoapIn">
      <wsdl:part name="parameters" element="tns:GetEtatCaracteristique"/>
  </wsdl:message>
  <wsdl:message name="GetEtatCaracteristiqueSoapOut">
      <wsdl:part name="parameters" element="tns:GetEtatCaracteristiqueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEtatCaracteristiqueAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCategorieSoapIn">
      <wsdl:part name="parameters" element="tns:GetCategorie"/>
  </wsdl:message>
  <wsdl:message name="GetCategorieSoapOut">
      <wsdl:part name="parameters" element="tns:GetCategorieResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCategorieAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetSousCategorieSoapIn">
      <wsdl:part name="parameters" element="tns:GetSousCategorie"/>
  </wsdl:message>
  <wsdl:message name="GetSousCategorieSoapOut">
      <wsdl:part name="parameters" element="tns:GetSousCategorieResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSousCategorieAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="UpdatePrestationsFromTifSoapIn">
      <wsdl:part name="parameters" element="tns:UpdatePrestationsFromTif"/>
  </wsdl:message>
  <wsdl:message name="UpdatePrestationsFromTifSoapOut">
      <wsdl:part name="parameters" element="tns:UpdatePrestationsFromTifResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdatePrestationsFromTifAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="DeletePrestationsSoapIn">
      <wsdl:part name="parameters" element="tns:DeletePrestations"/>
  </wsdl:message>
  <wsdl:message name="DeletePrestationsSoapOut">
      <wsdl:part name="parameters" element="tns:DeletePrestationsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeletePrestationsAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="RestorePrestationsSoapIn">
      <wsdl:part name="parameters" element="tns:RestorePrestations"/>
  </wsdl:message>
  <wsdl:message name="RestorePrestationsSoapOut">
      <wsdl:part name="parameters" element="tns:RestorePrestationsResponse"/>
  </wsdl:message>
  <wsdl:message name="RestorePrestationsAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationTIFSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrestationTIF"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationTIFSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrestationTIFResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrestationTIFAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationSoapIn">
      <wsdl:part name="parameters" element="tns:SearchIdPrestation"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationSoapOut">
      <wsdl:part name="parameters" element="tns:SearchIdPrestationResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationV2SoapIn">
      <wsdl:part name="parameters" element="tns:SearchIdPrestationV2"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationV2SoapOut">
      <wsdl:part name="parameters" element="tns:SearchIdPrestationV2Response"/>
  </wsdl:message>
  <wsdl:message name="SearchIdPrestationV2AuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="SearchOnlyIdPrestationSoapIn">
      <wsdl:part name="parameters" element="tns:SearchOnlyIdPrestation"/>
  </wsdl:message>
  <wsdl:message name="SearchOnlyIdPrestationSoapOut">
      <wsdl:part name="parameters" element="tns:SearchOnlyIdPrestationResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchOnlyIdPrestationAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  
  <wsdl:binding name="ACVSWebServicesSoap" type="tns:ACVSWebServicesSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetConfigurationElement">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetConfigurationElement"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetConfigurationElementAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPrestation">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetPrestation"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPrestationAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFullInfosPrestation">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetFullInfosPrestation"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetFullInfosPrestationAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPrestaBySousCat">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetPrestaBySousCat"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPrestaBySousCatAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPrestaSousCat">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetPrestaSousCat"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPrestaSousCatAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPresta">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetPresta"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPrestaAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCommune">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetCommune"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetCommuneAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCaracteristique">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetCaracteristique"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetCaracteristiqueAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEtatCaracteristique">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetEtatCaracteristique"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetEtatCaracteristiqueAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCategorie">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetCategorie"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetCategorieAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSousCategorie">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetSousCategorie"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetSousCategorieAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdatePrestationsFromTif">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/UpdatePrestationsFromTif"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:UpdatePrestationsFromTifAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeletePrestations">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/DeletePrestations"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:DeletePrestationsAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RestorePrestations">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/RestorePrestations"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:RestorePrestationsAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPrestationTIF">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/GetPrestationTIF"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPrestationTIFAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchIdPrestation">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/SearchIdPrestation"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:SearchIdPrestationAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchIdPrestationV2">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/SearchIdPrestationV2"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:SearchIdPrestationV2AuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchOnlyIdPrestation">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.acvsnet.net/SI-ACVS/WebServices/SearchOnlyIdPrestation"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:SearchOnlyIdPrestationAuthHeader"
                         part="AuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ACVSWebServices">
      <wsdl:port name="ACVSWebServicesSoap" binding="tns:ACVSWebServicesSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/acvsnet.net/0.3/ACVSWebServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>