wsdl_repositories/soatrader_900/AdessoSQLWS.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://AdessoSystems.com"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://AdessoSystems.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://AdessoSystems.com">
         <s:element name="Authenticate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthenticateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignOut">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignOutResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SignOutResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTables">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTablesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTablesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFields">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFieldsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFieldsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inSQL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RunSQLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inSQL" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="returnDeletes" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RunSQL2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAudioHeader">
            <s:complexType/>
         </s:element>
         <s:element name="GetBinaryFieldAudioHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldAudioHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldScribbleHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="lineBytes" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="height" type="s:unsignedInt"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldScribbleHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldScribbleHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldImageHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="width" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="height" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="thumbnailSize" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="size" type="s:unsignedInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldImageHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldImageHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAttachmentHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="size" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAttachmentHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldAttachmentHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://AdessoSystems.com">
         <s:element name="Authenticate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthenticateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignOut">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignOutResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SignOutResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTables">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTablesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTablesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFields">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFieldsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFieldsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inSQL" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RunSQLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inSQL" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="returnDeletes" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RunSQL2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RunSQL2Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAudioHeader">
            <s:complexType/>
         </s:element>
         <s:element name="GetBinaryFieldAudioHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldAudioHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldScribbleHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="lineBytes" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="height" type="s:unsignedInt"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldScribbleHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldScribbleHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldImageHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="width" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="height" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="thumbnailSize" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="size" type="s:unsignedInt"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldImageHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldImageHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAttachmentHeader">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="size" type="s:unsignedInt"/>
                  <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBinaryFieldAttachmentHeaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBinaryFieldAttachmentHeaderResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
      <wsdl:part name="parameters" element="tns:Authenticate"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
      <wsdl:part name="parameters" element="tns:AuthenticateResponse"/>
  </wsdl:message>
  <wsdl:message name="SignOutSoapIn">
      <wsdl:part name="parameters" element="tns:SignOut"/>
  </wsdl:message>
  <wsdl:message name="SignOutSoapOut">
      <wsdl:part name="parameters" element="tns:SignOutResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTablesSoapIn">
      <wsdl:part name="parameters" element="tns:GetTables"/>
  </wsdl:message>
  <wsdl:message name="GetTablesSoapOut">
      <wsdl:part name="parameters" element="tns:GetTablesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFieldsSoapIn">
      <wsdl:part name="parameters" element="tns:GetFields"/>
  </wsdl:message>
  <wsdl:message name="GetFieldsSoapOut">
      <wsdl:part name="parameters" element="tns:GetFieldsResponse"/>
  </wsdl:message>
  <wsdl:message name="RunSQLSoapIn">
      <wsdl:part name="parameters" element="tns:RunSQL"/>
  </wsdl:message>
  <wsdl:message name="RunSQLSoapOut">
      <wsdl:part name="parameters" element="tns:RunSQLResponse"/>
  </wsdl:message>
  <wsdl:message name="RunSQL2SoapIn">
      <wsdl:part name="parameters" element="tns:RunSQL2"/>
  </wsdl:message>
  <wsdl:message name="RunSQL2SoapOut">
      <wsdl:part name="parameters" element="tns:RunSQL2Response"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldAudioHeaderSoapIn">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldAudioHeader"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldAudioHeaderSoapOut">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldAudioHeaderResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldScribbleHeaderSoapIn">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldScribbleHeader"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldScribbleHeaderSoapOut">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldScribbleHeaderResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldImageHeaderSoapIn">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldImageHeader"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldImageHeaderSoapOut">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldImageHeaderResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldAttachmentHeaderSoapIn">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldAttachmentHeader"/>
  </wsdl:message>
  <wsdl:message name="GetBinaryFieldAttachmentHeaderSoapOut">
      <wsdl:part name="parameters" element="tns:GetBinaryFieldAttachmentHeaderResponse"/>
  </wsdl:message>
  <wsdl:portType name="AdessoSQLWSSoap">
      <wsdl:operation name="Authenticate">
         <wsdl:input message="tns:AuthenticateSoapIn"/>
         <wsdl:output message="tns:AuthenticateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SignOut">
         <wsdl:input message="tns:SignOutSoapIn"/>
         <wsdl:output message="tns:SignOutSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTables">
         <wsdl:input message="tns:GetTablesSoapIn"/>
         <wsdl:output message="tns:GetTablesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFields">
         <wsdl:input message="tns:GetFieldsSoapIn"/>
         <wsdl:output message="tns:GetFieldsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RunSQL">
         <wsdl:input message="tns:RunSQLSoapIn"/>
         <wsdl:output message="tns:RunSQLSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RunSQL2">
         <wsdl:input message="tns:RunSQL2SoapIn"/>
         <wsdl:output message="tns:RunSQL2SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldAudioHeader">
         <wsdl:input message="tns:GetBinaryFieldAudioHeaderSoapIn"/>
         <wsdl:output message="tns:GetBinaryFieldAudioHeaderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldScribbleHeader">
         <wsdl:input message="tns:GetBinaryFieldScribbleHeaderSoapIn"/>
         <wsdl:output message="tns:GetBinaryFieldScribbleHeaderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldImageHeader">
         <wsdl:input message="tns:GetBinaryFieldImageHeaderSoapIn"/>
         <wsdl:output message="tns:GetBinaryFieldImageHeaderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldAttachmentHeader">
         <wsdl:input message="tns:GetBinaryFieldAttachmentHeaderSoapIn"/>
         <wsdl:output message="tns:GetBinaryFieldAttachmentHeaderSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdessoSQLWSSoap" type="tns:AdessoSQLWSSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Authenticate">
         <soap:operation soapAction="http://AdessoSystems.com/Authenticate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SignOut">
         <soap:operation soapAction="http://AdessoSystems.com/SignOut" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTables">
         <soap:operation soapAction="http://AdessoSystems.com/GetTables" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFields">
         <soap:operation soapAction="http://AdessoSystems.com/GetFields" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RunSQL">
         <soap:operation soapAction="http://AdessoSystems.com/RunSQL" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RunSQL2">
         <soap:operation soapAction="http://AdessoSystems.com/RunSQL2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldAudioHeader">
         <soap:operation soapAction="http://AdessoSystems.com/GetBinaryFieldAudioHeader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldScribbleHeader">
         <soap:operation soapAction="http://AdessoSystems.com/GetBinaryFieldScribbleHeader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldImageHeader">
         <soap:operation soapAction="http://AdessoSystems.com/GetBinaryFieldImageHeader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBinaryFieldAttachmentHeader">
         <soap:operation soapAction="http://AdessoSystems.com/GetBinaryFieldAttachmentHeader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdessoSQLWS">
      <wsdl:port name="AdessoSQLWSSoap" binding="tns:AdessoSQLWSSoap">
         <soap:address location="http://ws.soatrader.com/adessosystems.net/0.1/AdessoSQLWS"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>