wsdl_repositories/soatrader_900/Admin.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Company_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Company_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="International_Company_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Company_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="International_Company_UpdateResult"
                             type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhoneExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Contact_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhoneExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Contact_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Job_Inactivate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtJobCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Job_InactivateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Job_InactivateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtSiteID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSiteUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSitePassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PremierSite_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtSiteID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSiteUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSitePassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PremierSite_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Company_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Company_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="International_Company_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Company_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Company_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyAddress2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtCompanyFax" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="lsbCompanyPackageType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="International_Company_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="International_Company_UpdateResult"
                             type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhoneExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Contact_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactPhoneExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Contact_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Contact_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Job_Inactivate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtJobCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Job_InactivateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Job_InactivateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtSiteID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSiteUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSitePassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PremierSite_AddResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_Update">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtCompanyID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtContactCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="txtSiteID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSiteUsername" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSitePassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PremierSite_UpdateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PremierSite_UpdateResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="Company_AddSoapIn">
      <wsdl:part name="parameters" element="tns:Company_Add"/>
  </wsdl:message>
  <wsdl:message name="Company_AddSoapOut">
      <wsdl:part name="parameters" element="tns:Company_AddResponse"/>
  </wsdl:message>
  <wsdl:message name="International_Company_AddSoapIn">
      <wsdl:part name="parameters" element="tns:International_Company_Add"/>
  </wsdl:message>
  <wsdl:message name="International_Company_AddSoapOut">
      <wsdl:part name="parameters" element="tns:International_Company_AddResponse"/>
  </wsdl:message>
  <wsdl:message name="Company_UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:Company_Update"/>
  </wsdl:message>
  <wsdl:message name="Company_UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:Company_UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="International_Company_UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:International_Company_Update"/>
  </wsdl:message>
  <wsdl:message name="International_Company_UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:International_Company_UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="Contact_AddSoapIn">
      <wsdl:part name="parameters" element="tns:Contact_Add"/>
  </wsdl:message>
  <wsdl:message name="Contact_AddSoapOut">
      <wsdl:part name="parameters" element="tns:Contact_AddResponse"/>
  </wsdl:message>
  <wsdl:message name="Contact_UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:Contact_Update"/>
  </wsdl:message>
  <wsdl:message name="Contact_UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:Contact_UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="Job_InactivateSoapIn">
      <wsdl:part name="parameters" element="tns:Job_Inactivate"/>
  </wsdl:message>
  <wsdl:message name="Job_InactivateSoapOut">
      <wsdl:part name="parameters" element="tns:Job_InactivateResponse"/>
  </wsdl:message>
  <wsdl:message name="PremierSite_AddSoapIn">
      <wsdl:part name="parameters" element="tns:PremierSite_Add"/>
  </wsdl:message>
  <wsdl:message name="PremierSite_AddSoapOut">
      <wsdl:part name="parameters" element="tns:PremierSite_AddResponse"/>
  </wsdl:message>
  <wsdl:message name="PremierSite_UpdateSoapIn">
      <wsdl:part name="parameters" element="tns:PremierSite_Update"/>
  </wsdl:message>
  <wsdl:message name="PremierSite_UpdateSoapOut">
      <wsdl:part name="parameters" element="tns:PremierSite_UpdateResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AdminSoap" type="tns:AdminSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Company_Add">
         <soap:operation soapAction="http://tempuri.org/Company_Add" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="International_Company_Add">
         <soap:operation soapAction="http://tempuri.org/International_Company_Add" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Company_Update">
         <soap:operation soapAction="http://tempuri.org/Company_Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="International_Company_Update">
         <soap:operation soapAction="http://tempuri.org/International_Company_Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Contact_Add">
         <soap:operation soapAction="http://tempuri.org/Contact_Add" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Contact_Update">
         <soap:operation soapAction="http://tempuri.org/Contact_Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Job_Inactivate">
         <soap:operation soapAction="http://tempuri.org/Job_Inactivate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PremierSite_Add">
         <soap:operation soapAction="http://tempuri.org/PremierSite_Add" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PremierSite_Update">
         <soap:operation soapAction="http://tempuri.org/PremierSite_Update" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Admin">
      <wsdl:port name="AdminSoap" binding="tns:AdminSoap">
         <soap:address location="http://ws.soatrader.com/datafrenzy.com/0.1/Admin"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>