wsdl_repositories/soatrader_900/AdminLW.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://romtracplc.com/AdminLw"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://romtracplc.com/AdminLw">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://romtracplc.com/AdminLw">
         <s:element name="ConfigureDevice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConfigureDeviceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ConfigureDeviceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteDevice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteDeviceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteDeviceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePerson">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeletePersonResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeletePersonResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSite">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSiteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteSiteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdminDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdminListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdminListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAlertList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAlertListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAlertListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCompanyDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCompanyDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCompanyDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountryListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCycleSettings">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCycleSettingsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCycleSettingsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDevice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceLocationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceLocationHistory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceLocationHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceLocationHistoryResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDeviceStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetERCList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetERCListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetERCListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFreeDeviceList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFreeDeviceListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFreeDeviceListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFreePersonList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFreePersonListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFreePersonListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLowBatteryAlertList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLowBatteryAlertListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLowBatteryAlertListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNonMovementAlertList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNonMovementAlertListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNonMovementAlertListResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPairedPersonList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPairedPersonListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPairedPersonListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPerson">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPersonResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPersonResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPersonList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPersonListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPersonListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPersonIDList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPersonIDListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPersonIDListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPreAlertList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPreAlertListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPreAlertListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSite">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSiteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSiteListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSmsList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSmsListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSmsListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeZoneList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeZoneListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTimeZoneListResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportDevices">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportDevicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ImportDevicesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportPersons">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ImportPersonsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ImportPersonsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LocationAPI">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LocationAPIResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LocationAPIResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoginUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoginUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoginUserResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PairPeopleDevices">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PairPeopleDevicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PairPeopleDevicesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetCycleSettings">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetCycleSettingsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetCycleSettingsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetDealerStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetDealerStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetDealerStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAdminDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAdminDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateAdminDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateCompanyDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateCompanyDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateCompanyDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateContactDevice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateContactDeviceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateContactDeviceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateDevice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateDeviceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateDeviceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdatePersonDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonEscalation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonEscalationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdatePersonEscalationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonPhoneBook">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePersonPhoneBookResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdatePersonPhoneBookResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSite">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSiteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateSiteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UnpairPeopleDevices">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="companyid" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UnpairPeopleDevicesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UnpairPeopleDevicesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfigureDeviceSoapIn">
      <wsdl:part name="parameters" element="tns:ConfigureDevice"/>
  </wsdl:message>
  <wsdl:message name="ConfigureDeviceSoapOut">
      <wsdl:part name="parameters" element="tns:ConfigureDeviceResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteDeviceSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteDevice"/>
  </wsdl:message>
  <wsdl:message name="DeleteDeviceSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteDeviceResponse"/>
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapIn">
      <wsdl:part name="parameters" element="tns:DeletePerson"/>
  </wsdl:message>
  <wsdl:message name="DeletePersonSoapOut">
      <wsdl:part name="parameters" element="tns:DeletePersonResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteSiteSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteSite"/>
  </wsdl:message>
  <wsdl:message name="DeleteSiteSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteSiteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdminDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdminDetails"/>
  </wsdl:message>
  <wsdl:message name="GetAdminDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdminDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdminListSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdminList"/>
  </wsdl:message>
  <wsdl:message name="GetAdminListSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdminListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAlertListSoapIn">
      <wsdl:part name="parameters" element="tns:GetAlertList"/>
  </wsdl:message>
  <wsdl:message name="GetAlertListSoapOut">
      <wsdl:part name="parameters" element="tns:GetAlertListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCompanyDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:GetCompanyDetails"/>
  </wsdl:message>
  <wsdl:message name="GetCompanyDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:GetCompanyDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountryList"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCycleSettingsSoapIn">
      <wsdl:part name="parameters" element="tns:GetCycleSettings"/>
  </wsdl:message>
  <wsdl:message name="GetCycleSettingsSoapOut">
      <wsdl:part name="parameters" element="tns:GetCycleSettingsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceSoapIn">
      <wsdl:part name="parameters" element="tns:GetDevice"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceSoapOut">
      <wsdl:part name="parameters" element="tns:GetDeviceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceListSoapIn">
      <wsdl:part name="parameters" element="tns:GetDeviceList"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceListSoapOut">
      <wsdl:part name="parameters" element="tns:GetDeviceListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceLocationSoapIn">
      <wsdl:part name="parameters" element="tns:GetDeviceLocation"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceLocationSoapOut">
      <wsdl:part name="parameters" element="tns:GetDeviceLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceLocationHistorySoapIn">
      <wsdl:part name="parameters" element="tns:GetDeviceLocationHistory"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceLocationHistorySoapOut">
      <wsdl:part name="parameters" element="tns:GetDeviceLocationHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetDeviceStatus"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetDeviceStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetERCListSoapIn">
      <wsdl:part name="parameters" element="tns:GetERCList"/>
  </wsdl:message>
  <wsdl:message name="GetERCListSoapOut">
      <wsdl:part name="parameters" element="tns:GetERCListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFreeDeviceListSoapIn">
      <wsdl:part name="parameters" element="tns:GetFreeDeviceList"/>
  </wsdl:message>
  <wsdl:message name="GetFreeDeviceListSoapOut">
      <wsdl:part name="parameters" element="tns:GetFreeDeviceListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFreePersonListSoapIn">
      <wsdl:part name="parameters" element="tns:GetFreePersonList"/>
  </wsdl:message>
  <wsdl:message name="GetFreePersonListSoapOut">
      <wsdl:part name="parameters" element="tns:GetFreePersonListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationList"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLowBatteryAlertListSoapIn">
      <wsdl:part name="parameters" element="tns:GetLowBatteryAlertList"/>
  </wsdl:message>
  <wsdl:message name="GetLowBatteryAlertListSoapOut">
      <wsdl:part name="parameters" element="tns:GetLowBatteryAlertListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNonMovementAlertListSoapIn">
      <wsdl:part name="parameters" element="tns:GetNonMovementAlertList"/>
  </wsdl:message>
  <wsdl:message name="GetNonMovementAlertListSoapOut">
      <wsdl:part name="parameters" element="tns:GetNonMovementAlertListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPairedPersonListSoapIn">
      <wsdl:part name="parameters" element="tns:GetPairedPersonList"/>
  </wsdl:message>
  <wsdl:message name="GetPairedPersonListSoapOut">
      <wsdl:part name="parameters" element="tns:GetPairedPersonListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPersonSoapIn">
      <wsdl:part name="parameters" element="tns:GetPerson"/>
  </wsdl:message>
  <wsdl:message name="GetPersonSoapOut">
      <wsdl:part name="parameters" element="tns:GetPersonResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPersonListSoapIn">
      <wsdl:part name="parameters" element="tns:GetPersonList"/>
  </wsdl:message>
  <wsdl:message name="GetPersonListSoapOut">
      <wsdl:part name="parameters" element="tns:GetPersonListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPersonIDListSoapIn">
      <wsdl:part name="parameters" element="tns:GetPersonIDList"/>
  </wsdl:message>
  <wsdl:message name="GetPersonIDListSoapOut">
      <wsdl:part name="parameters" element="tns:GetPersonIDListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPreAlertListSoapIn">
      <wsdl:part name="parameters" element="tns:GetPreAlertList"/>
  </wsdl:message>
  <wsdl:message name="GetPreAlertListSoapOut">
      <wsdl:part name="parameters" element="tns:GetPreAlertListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSiteSoapIn">
      <wsdl:part name="parameters" element="tns:GetSite"/>
  </wsdl:message>
  <wsdl:message name="GetSiteSoapOut">
      <wsdl:part name="parameters" element="tns:GetSiteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSiteListSoapIn">
      <wsdl:part name="parameters" element="tns:GetSiteList"/>
  </wsdl:message>
  <wsdl:message name="GetSiteListSoapOut">
      <wsdl:part name="parameters" element="tns:GetSiteListResponse"/>
  </wsdl:message>
  <wsdl:message name="getSmsListSoapIn">
      <wsdl:part name="parameters" element="tns:getSmsList"/>
  </wsdl:message>
  <wsdl:message name="getSmsListSoapOut">
      <wsdl:part name="parameters" element="tns:getSmsListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZoneListSoapIn">
      <wsdl:part name="parameters" element="tns:GetTimeZoneList"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZoneListSoapOut">
      <wsdl:part name="parameters" element="tns:GetTimeZoneListResponse"/>
  </wsdl:message>
  <wsdl:message name="ImportDevicesSoapIn">
      <wsdl:part name="parameters" element="tns:ImportDevices"/>
  </wsdl:message>
  <wsdl:message name="ImportDevicesSoapOut">
      <wsdl:part name="parameters" element="tns:ImportDevicesResponse"/>
  </wsdl:message>
  <wsdl:message name="ImportPersonsSoapIn">
      <wsdl:part name="parameters" element="tns:ImportPersons"/>
  </wsdl:message>
  <wsdl:message name="ImportPersonsSoapOut">
      <wsdl:part name="parameters" element="tns:ImportPersonsResponse"/>
  </wsdl:message>
  <wsdl:message name="LocationAPISoapIn">
      <wsdl:part name="parameters" element="tns:LocationAPI"/>
  </wsdl:message>
  <wsdl:message name="LocationAPISoapOut">
      <wsdl:part name="parameters" element="tns:LocationAPIResponse"/>
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
      <wsdl:part name="parameters" element="tns:LoginUser"/>
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
      <wsdl:part name="parameters" element="tns:LoginUserResponse"/>
  </wsdl:message>
  <wsdl:message name="PairPeopleDevicesSoapIn">
      <wsdl:part name="parameters" element="tns:PairPeopleDevices"/>
  </wsdl:message>
  <wsdl:message name="PairPeopleDevicesSoapOut">
      <wsdl:part name="parameters" element="tns:PairPeopleDevicesResponse"/>
  </wsdl:message>
  <wsdl:message name="SetCycleSettingsSoapIn">
      <wsdl:part name="parameters" element="tns:SetCycleSettings"/>
  </wsdl:message>
  <wsdl:message name="SetCycleSettingsSoapOut">
      <wsdl:part name="parameters" element="tns:SetCycleSettingsResponse"/>
  </wsdl:message>
  <wsdl:message name="SetDealerStatusSoapIn">
      <wsdl:part name="parameters" element="tns:SetDealerStatus"/>
  </wsdl:message>
  <wsdl:message name="SetDealerStatusSoapOut">
      <wsdl:part name="parameters" element="tns:SetDealerStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateAdminDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateAdminDetails"/>
  </wsdl:message>
  <wsdl:message name="UpdateAdminDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateAdminDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateCompanyDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateCompanyDetails"/>
  </wsdl:message>
  <wsdl:message name="UpdateCompanyDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateCompanyDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateContactDeviceSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateContactDevice"/>
  </wsdl:message>
  <wsdl:message name="UpdateContactDeviceSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateContactDeviceResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateDevice"/>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateDeviceResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:UpdatePersonDetails"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:UpdatePersonDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonEscalationSoapIn">
      <wsdl:part name="parameters" element="tns:UpdatePersonEscalation"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonEscalationSoapOut">
      <wsdl:part name="parameters" element="tns:UpdatePersonEscalationResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonPhoneBookSoapIn">
      <wsdl:part name="parameters" element="tns:UpdatePersonPhoneBook"/>
  </wsdl:message>
  <wsdl:message name="UpdatePersonPhoneBookSoapOut">
      <wsdl:part name="parameters" element="tns:UpdatePersonPhoneBookResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateSiteSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateSite"/>
  </wsdl:message>
  <wsdl:message name="UpdateSiteSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateSiteResponse"/>
  </wsdl:message>
  <wsdl:message name="UnpairPeopleDevicesSoapIn">
      <wsdl:part name="parameters" element="tns:UnpairPeopleDevices"/>
  </wsdl:message>
  <wsdl:message name="UnpairPeopleDevicesSoapOut">
      <wsdl:part name="parameters" element="tns:UnpairPeopleDevicesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AdminLWSoap" type="tns:AdminLWSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ConfigureDevice">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/ConfigureDevice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteDevice">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/DeleteDevice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeletePerson">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/DeletePerson" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteSite">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/DeleteSite" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdminDetails">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetAdminDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdminList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetAdminList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAlertList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetAlertList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCompanyDetails">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetCompanyDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountryList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetCountryList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCycleSettings">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetCycleSettings" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDevice">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetDevice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDeviceList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetDeviceList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDeviceLocation">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetDeviceLocation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDeviceLocationHistory">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetDeviceLocationHistory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDeviceStatus">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetDeviceStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetERCList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetERCList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFreeDeviceList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetFreeDeviceList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFreePersonList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetFreePersonList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetLocationList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLowBatteryAlertList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetLowBatteryAlertList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetNonMovementAlertList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetNonMovementAlertList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPairedPersonList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetPairedPersonList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPerson">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetPerson" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPersonList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetPersonList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPersonIDList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetPersonIDList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPreAlertList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetPreAlertList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSite">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetSite" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSiteList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetSiteList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSmsList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/getSmsList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTimeZoneList">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/GetTimeZoneList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ImportDevices">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/ImportDevices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ImportPersons">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/ImportPersons" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LocationAPI">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/LocationAPI" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoginUser">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/LoginUser" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PairPeopleDevices">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/PairPeopleDevices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetCycleSettings">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/SetCycleSettings" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetDealerStatus">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/SetDealerStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateAdminDetails">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdateAdminDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateCompanyDetails">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdateCompanyDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateContactDevice">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdateContactDevice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateDevice">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdateDevice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdatePersonDetails">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdatePersonDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdatePersonEscalation">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdatePersonEscalation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdatePersonPhoneBook">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdatePersonPhoneBook"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateSite">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UpdateSite" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UnpairPeopleDevices">
         <soap:operation soapAction="http://romtracplc.com/AdminLw/UnpairPeopleDevices" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AdminLW">
      <wsdl:port name="AdminLWSoap" binding="tns:AdminLWSoap">
         <soap:address location="http://ws.soatrader.com/demo.romtrac.net/0.1/AdminLW"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>