wsdl_repositories/soatrader_900/AdminOnly.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://tempuri.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://tempuri.org/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://tempuri.org/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="SaveUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="USER" nillable="true" type="s0:User"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="User">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MIDDLENAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="COMPANY" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ADDRESS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ADDRESS2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZIP" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="COUNTRY" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PHONE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LANGUAGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EXPIRY" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ACC_EXPIRY" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT_STATUS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LOCKOUT_DATETIME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LOCKOUT_NUM_FAILURES" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DEFAULT_ROLE_ID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STARTPAGE" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ResetPassword" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowRoll" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="actions" type="s0:ArrayOfAnyType"/>
               <s:element minOccurs="0" maxOccurs="1" name="LIST_ROLES" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LIST_ROLES_IDS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USER_JURS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USER_JUR_IDS" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ActiveRole" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SelectedRole" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ClientIP" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UseLastSelectedRole" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CurrentRecords"
                          type="s0:BaseRecordNavigation"/>
            </s:sequence>
            <s:attribute name="id" type="s:int" use="required"/>
            <s:attribute name="UserType" type="s0:enumUserType" use="required"/>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="BaseRecordNavigation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Ids" type="s0:ArrayOfString"/>
               <s:element minOccurs="1" maxOccurs="1" name="CurrentRecord" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="CurrentValue" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="enumUserType">
            <s:restriction base="s:string">
               <s:enumeration value="Anonymous"/>
               <s:enumeration value="Enterprise"/>
               <s:enumeration value="Public"/>
               <s:enumeration value="Subscription"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SaveUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SaveUserResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteUserResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SetUserPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="exp" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetUserPasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetUserPasswordResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetExpired">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="exp" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetExpiredResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetExpiredResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetAccExpired">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="exp" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetAccExpiredResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetAccExpiredResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetUserAccountStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetUserAccountStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetUserAccountStatusResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </types>
  <message name="SaveUserSoapIn">
      <part name="parameters" element="s0:SaveUser"/>
  </message>
  <message name="SaveUserSoapOut">
      <part name="parameters" element="s0:SaveUserResponse"/>
  </message>
  <message name="DeleteUserSoapIn">
      <part name="parameters" element="s0:DeleteUser"/>
  </message>
  <message name="DeleteUserSoapOut">
      <part name="parameters" element="s0:DeleteUserResponse"/>
  </message>
  <message name="SetUserPasswordSoapIn">
      <part name="parameters" element="s0:SetUserPassword"/>
  </message>
  <message name="SetUserPasswordSoapOut">
      <part name="parameters" element="s0:SetUserPasswordResponse"/>
  </message>
  <message name="SetExpiredSoapIn">
      <part name="parameters" element="s0:SetExpired"/>
  </message>
  <message name="SetExpiredSoapOut">
      <part name="parameters" element="s0:SetExpiredResponse"/>
  </message>
  <message name="SetAccExpiredSoapIn">
      <part name="parameters" element="s0:SetAccExpired"/>
  </message>
  <message name="SetAccExpiredSoapOut">
      <part name="parameters" element="s0:SetAccExpiredResponse"/>
  </message>
  <message name="SetUserAccountStatusSoapIn">
      <part name="parameters" element="s0:SetUserAccountStatus"/>
  </message>
  <message name="SetUserAccountStatusSoapOut">
      <part name="parameters" element="s0:SetUserAccountStatusResponse"/>
  </message>
  <portType name="AdminOnlySoap">
      <operation name="SaveUser">
         <input message="s0:SaveUserSoapIn"/>
         <output message="s0:SaveUserSoapOut"/>
      </operation>
      <operation name="DeleteUser">
         <input message="s0:DeleteUserSoapIn"/>
         <output message="s0:DeleteUserSoapOut"/>
      </operation>
      <operation name="SetUserPassword">
         <input message="s0:SetUserPasswordSoapIn"/>
         <output message="s0:SetUserPasswordSoapOut"/>
      </operation>
      <operation name="SetExpired">
         <input message="s0:SetExpiredSoapIn"/>
         <output message="s0:SetExpiredSoapOut"/>
      </operation>
      <operation name="SetAccExpired">
         <input message="s0:SetAccExpiredSoapIn"/>
         <output message="s0:SetAccExpiredSoapOut"/>
      </operation>
      <operation name="SetUserAccountStatus">
         <input message="s0:SetUserAccountStatusSoapIn"/>
         <output message="s0:SetUserAccountStatusSoapOut"/>
      </operation>
  </portType>
  <binding name="AdminOnlySoap" type="s0:AdminOnlySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="SaveUser">
         <soap:operation soapAction="http://tempuri.org/SaveUser" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="DeleteUser">
         <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="SetUserPassword">
         <soap:operation soapAction="http://tempuri.org/SetUserPassword" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="SetExpired">
         <soap:operation soapAction="http://tempuri.org/SetExpired" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="SetAccExpired">
         <soap:operation soapAction="http://tempuri.org/SetAccExpired" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="SetUserAccountStatus">
         <soap:operation soapAction="http://tempuri.org/SetUserAccountStatus" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <service name="AdminOnly">
      <port name="AdminOnlySoap" binding="s0:AdminOnlySoap">
         <soap:address location="http://ws.soatrader.com/nhcgov.com/0.1/AdminOnly"/>
      </port>
  </service>
</definitions>