wsdl_repositories/soatrader_900/AdService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetYahooAd">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="yahooCriteria" type="tns:YahooAdCriteria"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="YahooAdCriteria">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PartnerTag" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SearchTerms" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Width" type="tns:Unit"/>
               <s:element minOccurs="1" maxOccurs="1" name="Height" type="tns:Unit"/>
               <s:element minOccurs="1" maxOccurs="1" name="Vertical" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxResults" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="SearchType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="YahooData" type="tns:ArrayOfContextAd"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Unit"/>
         <s:complexType name="ArrayOfContextAd">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ContextAd" nillable="true"
                          type="tns:ContextAd"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ContextAd">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ClickUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SiteHost" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Position" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetYahooAdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYahooAdResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetYahooAdSoapIn">
      <wsdl:part name="parameters" element="tns:GetYahooAd"/>
  </wsdl:message>
  <wsdl:message name="GetYahooAdSoapOut">
      <wsdl:part name="parameters" element="tns:GetYahooAdResponse"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AdServiceSoap" type="tns:AdServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetYahooAd">
         <soap:operation soapAction="http://tempuri.org/GetYahooAd" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AdService">
      <wsdl:port name="AdServiceSoap" binding="tns:AdServiceSoap">
         <soap:address location="http://ws.soatrader.com/move.com/0.1/AdService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>