wsdl_repositories/soatrader_900/AdVehiclesMakeModelSelectorWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetAdVehiclesMakes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesMakesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdVehiclesMakesResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue"
                          nillable="true"
                          type="tns:CascadingDropDownNameValue"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetAdVehiclesMakeModels">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesMakeModelsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdVehiclesMakeModelsResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesYearsFrom">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesYearsFromResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdVehiclesYearsFromResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesYearsTo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdVehiclesYearsToResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdVehiclesYearsToResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfCascadingDropDownNameValue" nillable="true"
                    type="tns:ArrayOfCascadingDropDownNameValue"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdVehiclesMakesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesMakes"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesMakesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesMakeModels"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesMakeModelsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesYearsFrom"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesYearsFromResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesYearsTo"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdVehiclesYearsToResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakesHttpGetIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsHttpGetIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromHttpGetIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToHttpGetIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakesHttpPostIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsHttpPostIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesMakeModelsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromHttpPostIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsFromHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToHttpPostIn">
      <wsdl:part name="knownCategoryValues" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdVehiclesYearsToHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AdVehiclesMakeModelSelectorWebServiceSoap"
                 type="tns:AdVehiclesMakeModelSelectorWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetAdVehiclesMakes">
         <soap:operation soapAction="http://tempuri.org/GetAdVehiclesMakes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdVehiclesMakeModels">
         <soap:operation soapAction="http://tempuri.org/GetAdVehiclesMakeModels" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdVehiclesYearsFrom">
         <soap:operation soapAction="http://tempuri.org/GetAdVehiclesYearsFrom" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdVehiclesYearsTo">
         <soap:operation soapAction="http://tempuri.org/GetAdVehiclesYearsTo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AdVehiclesMakeModelSelectorWebService">
      <wsdl:port name="AdVehiclesMakeModelSelectorWebServiceSoap"
                 binding="tns:AdVehiclesMakeModelSelectorWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/autoexpert.ca/0.1/AdVehiclesMakeModelSelectorWebService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>