wsdl_repositories/soatrader_900/AeroXchange_InboundService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://source.trax.aero"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://source.trax.aero"
                  xmlns:intf="http://source.trax.aero"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://source.trax.aero">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="Spec2KRequest">

      <wsdl:part name="messageToTrax" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="Spec2KResponse">

      <wsdl:part name="Spec2KReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="AeroXchange_Inbound">

      <wsdl:operation name="Spec2K" parameterOrder="messageToTrax">

         <wsdl:input message="impl:Spec2KRequest" name="Spec2KRequest"/>

         <wsdl:output message="impl:Spec2KResponse" name="Spec2KResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AeroXchange_InboundSoapBinding" type="impl:AeroXchange_Inbound">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Spec2K">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="Spec2KRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="Spec2KResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AeroXchange_InboundService">

      <wsdl:port binding="impl:AeroXchange_InboundSoapBinding" name="AeroXchange_Inbound">

         <wsdlsoap:address location="http://ws.soatrader.com/trax.aero/0.1/AeroXchange_InboundService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>