wsdl_repositories/soatrader_900/AffiliateService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService">
         <s:element name="GetProductsInCategoryInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APCSearchXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductsInCategoryInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProductsInCategoryInformationResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductByProductNumberInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APCSearchXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductByProductNumberInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProductByProductNumberInformationResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APCSearchXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProductInformationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductsInCategoryInformationSoapIn">
      <wsdl:part name="parameters" element="tns:GetProductsInCategoryInformation"/>
  </wsdl:message>
  <wsdl:message name="GetProductsInCategoryInformationSoapOut">
      <wsdl:part name="parameters" element="tns:GetProductsInCategoryInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProductByProductNumberInformationSoapIn">
      <wsdl:part name="parameters" element="tns:GetProductByProductNumberInformation"/>
  </wsdl:message>
  <wsdl:message name="GetProductByProductNumberInformationSoapOut">
      <wsdl:part name="parameters" element="tns:GetProductByProductNumberInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProductInformationSoapIn">
      <wsdl:part name="parameters" element="tns:GetProductInformation"/>
  </wsdl:message>
  <wsdl:message name="GetProductInformationSoapOut">
      <wsdl:part name="parameters" element="tns:GetProductInformationResponse"/>
  </wsdl:message>
  <wsdl:portType name="AffiliateServiceSoap">
      <wsdl:operation name="GetProductsInCategoryInformation">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Pass in a comma delimited list and this method will return matching categories and the top items in the categories.</documentation>
         <wsdl:input message="tns:GetProductsInCategoryInformationSoapIn"/>
         <wsdl:output message="tns:GetProductsInCategoryInformationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetProductByProductNumberInformation">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Product Information given a specific Product Number.</documentation>
         <wsdl:input message="tns:GetProductByProductNumberInformationSoapIn"/>
         <wsdl:output message="tns:GetProductByProductNumberInformationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetProductInformation">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns Product Information. Mirrors the AllPosters.com Advanced Search (www.allposters.com/searchadvanced.asp)</documentation>
         <wsdl:input message="tns:GetProductInformationSoapIn"/>
         <wsdl:output message="tns:GetProductInformationSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AffiliateServiceSoap" type="tns:AffiliateServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetProductsInCategoryInformation">
         <soap:operation soapAction="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService/GetProductsInCategoryInformation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetProductByProductNumberInformation">
         <soap:operation soapAction="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService/GetProductByProductNumberInformation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetProductInformation">
         <soap:operation soapAction="http://Webservice.Allposters.com/APCF.AffiliateWebService/ProductInformationService/GetProductInformation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AffiliateService">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">AllPosters.com Affiliate Web Services - For Product Information</documentation>
      <wsdl:port name="AffiliateServiceSoap" binding="tns:AffiliateServiceSoap">
         <soap:address location="http://ws.soatrader.com/allposters.com/0.1/AffiliateService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>