wsdl_repositories/soatrader_900/AgentAPIService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://api.agentrank.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:ns1="http://api.agentrank.com/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://api.agentrank.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xs:schema targetNamespace="http://api.agentrank.com/">
         <xs:import schemaLocation="ns0.xsd"/>
         <xs:element name="findProfile">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "findProfile". (Find an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="findProfileResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "findProfile". (Find an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="profile" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's current profile
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="findReviews">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "findReviews". (Find an agent's reviews using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="findReviewsResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "findReviews". (Find an agent's reviews using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="reviews" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's client reviews
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="findSales">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "findSales". (Retrieve an agent's sales transactions)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="findSalesResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "findSales". (Retrieve an agent's sales transactions)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="sales" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  array of agent sales
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAgent">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getAgent". (Get an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAgentResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getAgent". (Get an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="agent" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's current profile
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAgents">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getAgents". (Get a partial list of agent profiles using the metro statistical area ID)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="location" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  metro statistical area ID
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="start_index" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  starting index
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="max_results" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  number of profiles included in results
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAgentsResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getAgents". (Get a partial list of agent profiles using the metro statistical area ID)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="agents" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  list of agent profiles
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLocations">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getLocations".
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  country, msa, postal
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  unique location ID
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getLocationsResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getLocations".
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="locations" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  sub-locations
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfile">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getProfile". (Get an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfileResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getProfile". (Get an agent's profile using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="profile" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's current profile
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfiles">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getProfiles". (Get a partial list of agent profiles using the metro statistical area ID)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="location" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  metro statistical area ID
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="start_index" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  starting index
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="max_results" type="xs:int" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  number of profiles included in results
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getProfilesResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getProfiles". (Get a partial list of agent profiles using the metro statistical area ID)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="profiles" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  list of agent profiles
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getReviews">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getReviews". (Get an agent's reviews using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getReviewsResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getReviews". (Get an agent's reviews using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="reviews" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's client reviews
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSales">
            <xs:annotation>
               <xs:documentation>
            doc/lit request wrapper for operation "getSales". (Retreive an agent's sales transactions using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="login" type="xs:string" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  agent's unique login name for RealtyBaron.com
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSalesResponse">
            <xs:annotation>
               <xs:documentation>
            doc/lit response wrapper for operation "getSales". (Retreive an agent's sales transactions using their unique login for RealtyBaron.com)
          </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="sales" minOccurs="1" maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>
                  array of agent sales
                </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
  </types>
  <message name="AgentAPI.getAgent">
      <documentation>
      request message for operation "getAgent". (Get an agent's profile using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getAgent" element="ns1:getAgent"/>
  </message>
  <message name="AgentAPI.getAgentResponse">
      <documentation>
      response message for operation "getAgent". (Get an agent's profile using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getAgentResponse" element="ns1:getAgentResponse"/>
  </message>
  <message name="AgentAPI.getAgents">
      <documentation>
      request message for operation "getAgents". (Get a partial list of agent profiles using the metro statistical area ID)
    </documentation>
      <part name="getAgents" element="ns1:getAgents"/>
  </message>
  <message name="AgentAPI.getAgentsResponse">
      <documentation>
      response message for operation "getAgents". (Get a partial list of agent profiles using the metro statistical area ID)
    </documentation>
      <part name="getAgentsResponse" element="ns1:getAgentsResponse"/>
  </message>
  <message name="LocationAPI.getLocations">
      <documentation>
      request message for operation "getLocations".
    </documentation>
      <part name="getLocations" element="ns1:getLocations"/>
  </message>
  <message name="LocationAPI.getLocationsResponse">
      <documentation>
      response message for operation "getLocations".
    </documentation>
      <part name="getLocationsResponse" element="ns1:getLocationsResponse"/>
  </message>
  <message name="ProfileAPI.getProfile">
      <documentation>
      request message for operation "getProfile". (Get an agent's profile using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getProfile" element="ns1:getProfile"/>
  </message>
  <message name="ProfileAPI.getProfileResponse">
      <documentation>
      response message for operation "getProfile". (Get an agent's profile using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getProfileResponse" element="ns1:getProfileResponse"/>
  </message>
  <message name="ProfileAPI.findProfile">
      <documentation>
      request message for operation "findProfile". (Find an agent's profile using their unique login for RealtyBaron.com)
    </documentation>
      <part name="findProfile" element="ns1:findProfile"/>
  </message>
  <message name="ProfileAPI.findProfileResponse">
      <documentation>
      response message for operation "findProfile". (Find an agent's profile using their unique login for RealtyBaron.c
om)
    </documentation>
      <part name="findProfileResponse" element="ns1:findProfileResponse"/>
  </message>
  <message name="ProfileAPI.getProfiles">
      <documentation>
      request message for operation "getProfiles". (Get a partial list of agent profiles using the metro statistical area ID)
    </documentation>
      <part name="getProfiles" element="ns1:getProfiles"/>
  </message>
  <message name="ProfileAPI.getProfilesResponse">
      <documentation>
      response message for operation "getProfiles". (Get a partial list of agent profiles using the metro statistical area ID)
    </documentation>
      <part name="getProfilesResponse" element="ns1:getProfilesResponse"/>
  </message>
  <message name="ReviewAPI.getReviews">
      <documentation>
      request message for operation "getReviews". (Get an agent's reviews using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getReviews" element="ns1:getReviews"/>
  </message>
  <message name="ReviewAPI.getReviewsResponse">
      <documentation>
      response message for operation "getReviews". (Get an agent's reviews using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getReviewsResponse" element="ns1:getReviewsResponse"/>
  </message>
  <message name="ReviewAPI.findReviews">
      <documentation>
      request message for operation "findReviews". (Find an agent's reviews using their unique login for RealtyBaron.com)
    </documentation>
      <part name="findReviews" element="ns1:findReviews"/>
  </message>
  <message name="ReviewAPI.findReviewsResponse">
      <documentation>
      response message for operation "findReviews". (Find an agent's reviews using their unique login for RealtyBaron.com)
    </documentation>
      <part name="findReviewsResponse" element="ns1:findReviewsResponse"/>
  </message>
  <message name="SaleAPI.getSales">
      <documentation>
      request message for operation "getSales". (Retreive an agent's sales transactions using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getSales" element="ns1:getSales"/>
  </message>
  <message name="SaleAPI.getSalesResponse">
      <documentation>
      response message for operation "getSales". (Retreive an agent's sales transactions using their unique login for RealtyBaron.com)
    </documentation>
      <part name="getSalesResponse" element="ns1:getSalesResponse"/>
  </message>
  <message name="SaleAPI.findSales">
      <documentation>
      request message for operation "findSales". (Retrieve an agent's sales transactions)
    </documentation>
      <part name="findSales" element="ns1:findSales"/>
  </message>
  <message name="SaleAPI.findSalesResponse">
      <documentation>
      response message for operation "findSales". (Retrieve an agent's sales transactions)
    </documentation>
      <part name="findSalesResponse" element="ns1:findSalesResponse"/>
  </message>
  <portType name="AgentAPI">
      <documentation>
      User: marc
Date: Mar 4, 2008
Time: 6:13:38 AM
&lt;p/&gt;
THIS SOFTWARE IS COPYRIGHTED. THE SOFTWARE MAY NOT BE COPIED REPRODUCED, TRANSLATED, OR REDUCED TO ANY ELECTRONIC
MEDIUM OR MACHINE READABLE FORM WITHOUT THE PRIOR WRITTEN CONSENT OF SOCO TECHNOLOGIES.
    </documentation>
      <operation name="getAgent">
         <documentation>
        Get an agent's profile using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:AgentAPI.getAgent"/>
         <output message="ns1:AgentAPI.getAgentResponse"/>
      </operation>
      <operation name="getAgents">
         <documentation>
        Get a partial list of agent profiles using the metro statistical area ID
      </documentation>
         <input message="ns1:AgentAPI.getAgents"/>
         <output message="ns1:AgentAPI.getAgentsResponse"/>
      </operation>
  </portType>
  <portType name="LocationAPI">
      <documentation>
      User: marc
Date: Mar 4, 2008
Time: 6:13:38 AM
&lt;p/&gt;
THIS SOFTWARE IS COPYRIGHTED. THE SOFTWARE MAY NOT BE COPIED REPRODUCED, TRANSLATED, OR REDUCED TO ANY ELECTRONIC
MEDIUM OR MACHINE READABLE FORM WITHOUT THE PRIOR WRITTEN CONSENT OF SOCO TECHNOLOGIES.
    </documentation>
      <operation name="getLocations">
         <input message="ns1:LocationAPI.getLocations"/>
         <output message="ns1:LocationAPI.getLocationsResponse"/>
      </operation>
  </portType>
  <portType name="ProfileAPI">
      <documentation>
      User: marc
Date: Mar 4, 2008
Time: 6:13:38 AM
&lt;p/&gt;
THIS SOFTWARE IS COPYRIGHTED. THE SOFTWARE MAY NOT BE COPIED REPRODUCED, TRANSLATED, OR REDUCED TO ANY ELECTRONIC
MEDIUM OR MACHINE READABLE FORM WITHOUT THE PRIOR WRITTEN CONSENT OF SOCO TECHNOLOGIES.
    </documentation>
      <operation name="getProfile">
         <documentation>
        Get an agent's profile using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:ProfileAPI.getProfile"/>
         <output message="ns1:ProfileAPI.getProfileResponse"/>
      </operation>
      <operation name="findProfile">
         <documentation>
        Find an agent's profile using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:ProfileAPI.findProfile"/>
         <output message="ns1:ProfileAPI.findProfileResponse"/>
      </operation>
      <operation name="getProfiles">
         <documentation>
        Get a partial list of agent profiles using the metro statistical area ID
      </documentation>
         <input message="ns1:ProfileAPI.getProfiles"/>
         <output message="ns1:ProfileAPI.getProfilesResponse"/>
      </operation>
  </portType>
  <portType name="ReviewAPI">
      <documentation>
      User: marc
Date: Mar 4, 2008
Time: 6:13:38 AM
&lt;p/&gt;
THIS SOFTWARE IS COPYRIGHTED. THE SOFTWARE MAY NOT BE COPIED REPRODUCED, TRANSLATED, OR REDUCED TO ANY ELECTRONIC
MEDIUM OR MACHINE READABLE FORM WITHOUT THE PRIOR WRITTEN CONSENT OF SOCO TECHNOLOGIES.
    </documentation>
      <operation name="getReviews">
         <documentation>
        Get an agent's reviews using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:ReviewAPI.getReviews"/>
         <output message="ns1:ReviewAPI.getReviewsResponse"/>
      </operation>
      <operation name="findReviews">
         <documentation>
        Find an agent's reviews using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:ReviewAPI.findReviews"/>
         <output message="ns1:ReviewAPI.findReviewsResponse"/>
      </operation>
  </portType>
  <portType name="SaleAPI">
      <documentation>
      User: marc
Date: Mar 4, 2008
Time: 6:13:38 AM
&lt;p/&gt;
THIS SOFTWARE IS COPYRIGHTED. THE SOFTWARE MAY NOT BE COPIED REPRODUCED, TRANSLATED, OR REDUCED TO ANY ELECTRONIC
MEDIUM OR MACHINE READABLE FORM WITHOUT THE PRIOR WRITTEN CONSENT OF SOCO TECHNOLOGIES.
    </documentation>
      <operation name="getSales">
         <documentation>
        Retreive an agent's sales transactions using their unique login for RealtyBaron.com
      </documentation>
         <input message="ns1:SaleAPI.getSales"/>
         <output message="ns1:SaleAPI.getSalesResponse"/>
      </operation>
      <operation name="findSales">
         <documentation>
        Retrieve an agent's sales transactions
      </documentation>
         <input message="ns1:SaleAPI.findSales"/>
         <output message="ns1:SaleAPI.findSalesResponse"/>
      </operation>
  </portType>
  <binding name="AgentAPISOAPBinding" type="ns1:AgentAPI">
      <documentation>
      SOAP Binding for AgentAPI
    </documentation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getAgent">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="getAgents">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <binding name="LocationAPISOAPBinding" type="ns1:LocationAPI">
      <documentation>
      SOAP Binding for LocationAPI
    </documentation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getLocations">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <binding name="ProfileAPISOAPBinding" type="ns1:ProfileAPI">
      <documentation>
      SOAP Binding for ProfileAPI
    </documentation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getProfile">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="findProfile">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="getProfiles">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <binding name="ReviewAPISOAPBinding" type="ns1:ReviewAPI">
      <documentation>
      SOAP Binding for ReviewAPI
    </documentation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getReviews">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="findReviews">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <binding name="SaleAPISOAPBinding" type="ns1:SaleAPI">
      <documentation>
      SOAP Binding for SaleAPI
    </documentation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getSales">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="findSales">
         <soap:operation soapAction="" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <service name="AgentAPIService">
      <port name="AgentAPISOAPPort" binding="ns1:AgentAPISOAPBinding">
         <soap:address location="http://ws.soatrader.com/agentrank.com/0.1/AgentAPIService"/>
      </port>
  </service>
  <service name="LocationAPIService">
      <port name="LocationAPISOAPPort" binding="ns1:LocationAPISOAPBinding">
         <soap:address location="http://ws.soatrader.com/agentrank.com/0.1/AgentAPIService"/>
      </port>
  </service>
  <service name="ProfileAPIService">
      <port name="ProfileAPISOAPPort" binding="ns1:ProfileAPISOAPBinding">
         <soap:address location="http://ws.soatrader.com/agentrank.com/0.1/AgentAPIService"/>
      </port>
  </service>
  <service name="ReviewAPIService">
      <port name="ReviewAPISOAPPort" binding="ns1:ReviewAPISOAPBinding">
         <soap:address location="http://ws.soatrader.com/agentrank.com/0.1/AgentAPIService"/>
      </port>
  </service>
  <service name="SaleAPIService">
      <port name="SaleAPISOAPPort" binding="ns1:SaleAPISOAPBinding">
         <soap:address location="http://ws.soatrader.com/agentrank.com/0.1/AgentAPIService"/>
      </port>
  </service>
</definitions>