wsdl_repositories/soatrader_900/AGLinkiDataHost.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost">
         <s:element name="RetrievePromotionalOpportunitiesList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PromoType" type="s:short"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrievePromotionalOpportunitiesListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrievePromotionalOpportunitiesListResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConfigureCustomPromotionalOpportunities">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlConfig">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConfigureCustomPromotionalOpportunitiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="ConfigureCustomPromotionalOpportunitiesResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrievePromotionalConfirmationsList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RetrievePromotionalConfirmationsListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RetrievePromotionalConfirmationsListResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrievePromotionalOpportunitiesListSoapIn">
      <wsdl:part name="parameters" element="tns:RetrievePromotionalOpportunitiesList"/>
  </wsdl:message>
  <wsdl:message name="RetrievePromotionalOpportunitiesListSoapOut">
      <wsdl:part name="parameters" element="tns:RetrievePromotionalOpportunitiesListResponse"/>
  </wsdl:message>
  <wsdl:message name="ConfigureCustomPromotionalOpportunitiesSoapIn">
      <wsdl:part name="parameters" element="tns:ConfigureCustomPromotionalOpportunities"/>
  </wsdl:message>
  <wsdl:message name="ConfigureCustomPromotionalOpportunitiesSoapOut">
      <wsdl:part name="parameters" element="tns:ConfigureCustomPromotionalOpportunitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrievePromotionalConfirmationsListSoapIn">
      <wsdl:part name="parameters" element="tns:RetrievePromotionalConfirmationsList"/>
  </wsdl:message>
  <wsdl:message name="RetrievePromotionalConfirmationsListSoapOut">
      <wsdl:part name="parameters" element="tns:RetrievePromotionalConfirmationsListResponse"/>
  </wsdl:message>
  <wsdl:portType name="AGLinkiDataHostSoap">
      <wsdl:operation name="RetrievePromotionalOpportunitiesList">
         <wsdl:input message="tns:RetrievePromotionalOpportunitiesListSoapIn"/>
         <wsdl:output message="tns:RetrievePromotionalOpportunitiesListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ConfigureCustomPromotionalOpportunities">
         <wsdl:input message="tns:ConfigureCustomPromotionalOpportunitiesSoapIn"/>
         <wsdl:output message="tns:ConfigureCustomPromotionalOpportunitiesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RetrievePromotionalConfirmationsList">
         <wsdl:input message="tns:RetrievePromotionalConfirmationsListSoapIn"/>
         <wsdl:output message="tns:RetrievePromotionalConfirmationsListSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AGLinkiDataHostSoap" type="tns:AGLinkiDataHostSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="RetrievePromotionalOpportunitiesList">
         <soap:operation soapAction="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost/RetrievePromotionalOpportunitiesList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ConfigureCustomPromotionalOpportunities">
         <soap:operation soapAction="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost/ConfigureCustomPromotionalOpportunities"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RetrievePromotionalConfirmationsList">
         <soap:operation soapAction="http://tempuri.org/AGLinkiDataHoster/AGLinkiDataHost/RetrievePromotionalConfirmationsList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AGLinkiDataHost">
      <wsdl:port name="AGLinkiDataHostSoap" binding="tns:AGLinkiDataHostSoap">
         <soap:address location="http://ws.soatrader.com/agbr.com/0.1/AGLinkiDataHost"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>