wsdl_repositories/soatrader_900/AgrovocWSService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.fao.org/webservices/AgrovocWS"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.fao.org/webservices/AgrovocWS"
                  xmlns:intf="http://www.fao.org/webservices/AgrovocWS"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.fao.org/webservices/AgrovocWS">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://www.fao.org/webservices/AgrovocWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="simpleSearchByModeXMLResponse">

      <wsdl:part name="simpleSearchByModeXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguage2Response">

      <wsdl:part name="getTermsListByLanguage2Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcode2Request">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="separator" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermByLanguageRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="language" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTermXMLResponse">

      <wsdl:part name="searchByTermXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTerm2Request">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="separator" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcodeXMLResponse">

      <wsdl:part name="getAllLabelsByTermcodeXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getConceptByTermRequest">

      <wsdl:part name="searchTerm" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="simpleSearchByMode2Request">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="searchmode" type="xsd:string"/>

      <wsdl:part name="separator" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguageXMLRequest">

      <wsdl:part name="termcodes_list" type="xsd:string"/>

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDefinitionsResponse">

      <wsdl:part name="getDefinitionsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguage2Request">

      <wsdl:part name="termcodes_list" type="xsd:string"/>

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="separator" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDefinitionsXMLResponse">

      <wsdl:part name="getDefinitionsXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchCategoryByModeXMLRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="searchmode" type="xsd:string"/>

      <wsdl:part name="schemeid" type="xsd:string"/>

      <wsdl:part name="lang" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguageXMLResponse">

      <wsdl:part name="getTermsListByLanguageXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTerm2Response">

      <wsdl:part name="searchByTerm2Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermExpansionResponse">

      <wsdl:part name="getTermExpansionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermcodeByTermRequest">

      <wsdl:part name="searchTerm" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTermXMLRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcodeXMLRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermcodeByTermXMLResponse">

      <wsdl:part name="getTermcodeByTermXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcodeResponse">

      <wsdl:part name="getAllLabelsByTermcodeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcode2Response">

      <wsdl:part name="getAllLabelsByTermcode2Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="simpleSearchByModeRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="searchmode" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTermResponse">

      <wsdl:part name="searchByTermReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAgrovocLanguagesRequest">

   </wsdl:message>

   <wsdl:message name="getConceptInfoByTermcodeXMLResponse">

      <wsdl:part name="getConceptInfoByTermcodeXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDefinitionsRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="languagecode" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDefinitionsXMLRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="languagecode" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchCategoryByModeXMLResponse">

      <wsdl:part name="searchCategoryByModeXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchCategoryByModeRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="lang" type="xsd:string"/>

      <wsdl:part name="schemeid" type="xsd:string"/>

      <wsdl:part name="searchmode" type="xsd:string"/>

      <wsdl:part name="separator" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="simpleSearchByModeResponse">

      <wsdl:part name="simpleSearchByModeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="simpleSearchByModeXMLRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

      <wsdl:part name="searchmode" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermExpansionRequest">

      <wsdl:part name="query" type="xsd:string"/>

      <wsdl:part name="langCode" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchCategoryByModeResponse">

      <wsdl:part name="searchCategoryByModeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchByTermRequest">

      <wsdl:part name="searchString" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguageResponse">

      <wsdl:part name="getTermsListByLanguageReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getConceptByTermResponse">

      <wsdl:part name="getConceptByTermReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getAllLabelsByTermcodeRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="simpleSearchByMode2Response">

      <wsdl:part name="simpleSearchByMode2Return" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermcodeByTermXMLRequest">

      <wsdl:part name="searchTerm" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermsListByLanguageRequest">

      <wsdl:part name="termcodes_list" type="xsd:string"/>

      <wsdl:part name="language" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermByLanguageResponse">

      <wsdl:part name="getTermByLanguageReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getConceptInfoByTermcodeRequest">

      <wsdl:part name="termcodestring" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermByLanguageXMLRequest">

      <wsdl:part name="termcode" type="xsd:int"/>

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getConceptInfoByTermcodeResponse">

      <wsdl:part name="getConceptInfoByTermcodeReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getTermByLanguageXMLResponse">

      <wsdl:part name="getTermByLanguageXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getTermcodeByTermResponse">

      <wsdl:part name="getTermcodeByTermReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getConceptInfoByTermcodeXMLRequest">

      <wsdl:part name="termcodestring" type="xsd:string"/>

      <wsdl:part name="format" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAgrovocLanguagesResponse">

      <wsdl:part name="getAgrovocLanguagesReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AgrovocWS">

      <wsdl:operation name="getAgrovocLanguages">

         <wsdl:input message="impl:getAgrovocLanguagesRequest" name="getAgrovocLanguagesRequest"/>

         <wsdl:output message="impl:getAgrovocLanguagesResponse" name="getAgrovocLanguagesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguage2"
                      parameterOrder="termcodes_list language separator">

         <wsdl:input message="impl:getTermsListByLanguage2Request"
                     name="getTermsListByLanguage2Request"/>

         <wsdl:output message="impl:getTermsListByLanguage2Response"
                      name="getTermsListByLanguage2Response"/>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcode2" parameterOrder="termcode separator">

         <wsdl:input message="impl:getAllLabelsByTermcode2Request"
                     name="getAllLabelsByTermcode2Request"/>

         <wsdl:output message="impl:getAllLabelsByTermcode2Response"
                      name="getAllLabelsByTermcode2Response"/>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByMode2" parameterOrder="searchString searchmode separator">

         <wsdl:input message="impl:simpleSearchByMode2Request" name="simpleSearchByMode2Request"/>

         <wsdl:output message="impl:simpleSearchByMode2Response" name="simpleSearchByMode2Response"/>

      </wsdl:operation>

      <wsdl:operation name="searchByTerm2" parameterOrder="searchString separator">

         <wsdl:input message="impl:searchByTerm2Request" name="searchByTerm2Request"/>

         <wsdl:output message="impl:searchByTerm2Response" name="searchByTerm2Response"/>

      </wsdl:operation>

      <wsdl:operation name="searchCategoryByMode"
                      parameterOrder="searchString lang schemeid searchmode separator">

         <wsdl:input message="impl:searchCategoryByModeRequest" name="searchCategoryByModeRequest"/>

         <wsdl:output message="impl:searchCategoryByModeResponse" name="searchCategoryByModeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDefinitions" parameterOrder="termcode languagecode">

         <wsdl:input message="impl:getDefinitionsRequest" name="getDefinitionsRequest"/>

         <wsdl:output message="impl:getDefinitionsResponse" name="getDefinitionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermByLanguage" parameterOrder="termcode language">

         <wsdl:input message="impl:getTermByLanguageRequest" name="getTermByLanguageRequest"/>

         <wsdl:output message="impl:getTermByLanguageResponse" name="getTermByLanguageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguage" parameterOrder="termcodes_list language">

         <wsdl:input message="impl:getTermsListByLanguageRequest"
                     name="getTermsListByLanguageRequest"/>

         <wsdl:output message="impl:getTermsListByLanguageResponse"
                      name="getTermsListByLanguageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermcodeByTerm" parameterOrder="searchTerm">

         <wsdl:input message="impl:getTermcodeByTermRequest" name="getTermcodeByTermRequest"/>

         <wsdl:output message="impl:getTermcodeByTermResponse" name="getTermcodeByTermResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcode" parameterOrder="termcode">

         <wsdl:input message="impl:getAllLabelsByTermcodeRequest"
                     name="getAllLabelsByTermcodeRequest"/>

         <wsdl:output message="impl:getAllLabelsByTermcodeResponse"
                      name="getAllLabelsByTermcodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchByTerm" parameterOrder="searchString">

         <wsdl:input message="impl:searchByTermRequest" name="searchByTermRequest"/>

         <wsdl:output message="impl:searchByTermResponse" name="searchByTermResponse"/>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByMode" parameterOrder="searchString searchmode">

         <wsdl:input message="impl:simpleSearchByModeRequest" name="simpleSearchByModeRequest"/>

         <wsdl:output message="impl:simpleSearchByModeResponse" name="simpleSearchByModeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getConceptByTerm" parameterOrder="searchTerm">

         <wsdl:input message="impl:getConceptByTermRequest" name="getConceptByTermRequest"/>

         <wsdl:output message="impl:getConceptByTermResponse" name="getConceptByTermResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getConceptInfoByTermcode" parameterOrder="termcodestring">

         <wsdl:input message="impl:getConceptInfoByTermcodeRequest"
                     name="getConceptInfoByTermcodeRequest"/>

         <wsdl:output message="impl:getConceptInfoByTermcodeResponse"
                      name="getConceptInfoByTermcodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermExpansion" parameterOrder="query langCode">

         <wsdl:input message="impl:getTermExpansionRequest" name="getTermExpansionRequest"/>

         <wsdl:output message="impl:getTermExpansionResponse" name="getTermExpansionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermcodeByTermXML" parameterOrder="searchTerm format">

         <wsdl:input message="impl:getTermcodeByTermXMLRequest" name="getTermcodeByTermXMLRequest"/>

         <wsdl:output message="impl:getTermcodeByTermXMLResponse" name="getTermcodeByTermXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermByLanguageXML" parameterOrder="termcode language format">

         <wsdl:input message="impl:getTermByLanguageXMLRequest" name="getTermByLanguageXMLRequest"/>

         <wsdl:output message="impl:getTermByLanguageXMLResponse" name="getTermByLanguageXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguageXML"
                      parameterOrder="termcodes_list language format">

         <wsdl:input message="impl:getTermsListByLanguageXMLRequest"
                     name="getTermsListByLanguageXMLRequest"/>

         <wsdl:output message="impl:getTermsListByLanguageXMLResponse"
                      name="getTermsListByLanguageXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcodeXML" parameterOrder="termcode format">

         <wsdl:input message="impl:getAllLabelsByTermcodeXMLRequest"
                     name="getAllLabelsByTermcodeXMLRequest"/>

         <wsdl:output message="impl:getAllLabelsByTermcodeXMLResponse"
                      name="getAllLabelsByTermcodeXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchByTermXML" parameterOrder="searchString format">

         <wsdl:input message="impl:searchByTermXMLRequest" name="searchByTermXMLRequest"/>

         <wsdl:output message="impl:searchByTermXMLResponse" name="searchByTermXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByModeXML" parameterOrder="searchString searchmode format">

         <wsdl:input message="impl:simpleSearchByModeXMLRequest" name="simpleSearchByModeXMLRequest"/>

         <wsdl:output message="impl:simpleSearchByModeXMLResponse"
                      name="simpleSearchByModeXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getConceptInfoByTermcodeXML" parameterOrder="termcodestring format">

         <wsdl:input message="impl:getConceptInfoByTermcodeXMLRequest"
                     name="getConceptInfoByTermcodeXMLRequest"/>

         <wsdl:output message="impl:getConceptInfoByTermcodeXMLResponse"
                      name="getConceptInfoByTermcodeXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDefinitionsXML" parameterOrder="termcode languagecode format">

         <wsdl:input message="impl:getDefinitionsXMLRequest" name="getDefinitionsXMLRequest"/>

         <wsdl:output message="impl:getDefinitionsXMLResponse" name="getDefinitionsXMLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchCategoryByModeXML"
                      parameterOrder="searchString searchmode schemeid lang format">

         <wsdl:input message="impl:searchCategoryByModeXMLRequest"
                     name="searchCategoryByModeXMLRequest"/>

         <wsdl:output message="impl:searchCategoryByModeXMLResponse"
                      name="searchCategoryByModeXMLResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AgrovocWSSoapBinding" type="impl:AgrovocWS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAgrovocLanguages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgrovocLanguagesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAgrovocLanguagesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguage2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermsListByLanguage2Request">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermsListByLanguage2Response">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcode2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllLabelsByTermcode2Request">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllLabelsByTermcode2Response">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByMode2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="simpleSearchByMode2Request">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="simpleSearchByMode2Response">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchByTerm2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByTerm2Request">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchByTerm2Response">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCategoryByMode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCategoryByModeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchCategoryByModeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDefinitions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefinitionsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDefinitionsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermByLanguage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermByLanguageRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermByLanguageResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermsListByLanguageRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermsListByLanguageResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermcodeByTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermcodeByTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermcodeByTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllLabelsByTermcodeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllLabelsByTermcodeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchByTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchByTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByMode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="simpleSearchByModeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="simpleSearchByModeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConceptByTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConceptByTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConceptByTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConceptInfoByTermcode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConceptInfoByTermcodeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConceptInfoByTermcodeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermExpansion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermExpansionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermExpansionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermcodeByTermXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermcodeByTermXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermcodeByTermXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermByLanguageXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermByLanguageXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermByLanguageXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTermsListByLanguageXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTermsListByLanguageXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTermsListByLanguageXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllLabelsByTermcodeXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllLabelsByTermcodeXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllLabelsByTermcodeXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchByTermXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByTermXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchByTermXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="simpleSearchByModeXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="simpleSearchByModeXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="simpleSearchByModeXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getConceptInfoByTermcodeXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConceptInfoByTermcodeXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConceptInfoByTermcodeXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDefinitionsXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefinitionsXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDefinitionsXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCategoryByModeXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCategoryByModeXMLRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchCategoryByModeXMLResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.fao.org/webservices/AgrovocWS"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AgrovocWSService">

      <wsdl:port binding="impl:AgrovocWSSoapBinding" name="AgrovocWS">

         <wsdlsoap:address location="http://ws.soatrader.com/fao.org/0.1/AgrovocWSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>