wsdl_repositories/soatrader_900/AirialPictureService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://mapserver.wasp.freeband.nl-impl"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://mapserver.wasp.freeband.nl-impl"
                  xmlns:intf="http://mapserver.wasp.freeband.nl-impl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://mapserver.wasp.freeband.nl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://mapserver.wasp.freeband.nl-impl">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://mapserver.wasp.freeband.nl">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="RDCoordinate">
            <sequence>
               <element name="x" type="xsd:double"/>
               <element name="y" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="RDMap">
            <sequence>
               <element name="bottomRight" nillable="true" type="tns1:RDCoordinate"/>
               <element name="centerPoint" nillable="true" type="tns1:RDCoordinate"/>
               <element name="heightAsDistance" type="xsd:double"/>
               <element name="imageData" nillable="true" type="soapenc:base64Binary"/>
               <element name="topLeft" nillable="true" type="tns1:RDCoordinate"/>
               <element name="widthAsDistance" type="xsd:double"/>
               <element name="zoom" type="xsd:double"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://mapserver.wasp.freeband.nl">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="RDCoordinate">
            <sequence>
               <element name="x" type="xsd:double"/>
               <element name="y" type="xsd:double"/>
            </sequence>
         </complexType>
         <complexType name="RDMap">
            <sequence>
               <element name="bottomRight" nillable="true" type="tns1:RDCoordinate"/>
               <element name="centerPoint" nillable="true" type="tns1:RDCoordinate"/>
               <element name="heightAsDistance" type="xsd:double"/>
               <element name="imageData" nillable="true" type="soapenc:base64Binary"/>
               <element name="topLeft" nillable="true" type="tns1:RDCoordinate"/>
               <element name="widthAsDistance" type="xsd:double"/>
               <element name="zoom" type="xsd:double"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getMapRequest">

      <wsdl:part name="centerPoint" type="tns1:RDCoordinate"/>

      <wsdl:part name="width" type="xsd:int"/>

      <wsdl:part name="height" type="xsd:int"/>

      <wsdl:part name="zoom" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getMapResponse">

      <wsdl:part name="getMapReturn" type="tns1:RDMap"/>

   </wsdl:message>

   <wsdl:portType name="AirialPicture">

      <wsdl:operation name="getMap" parameterOrder="centerPoint width height zoom">

         <wsdl:input message="impl:getMapRequest" name="getMapRequest"/>

         <wsdl:output message="impl:getMapResponse" name="getMapResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DetailedPictureServiceSoapBinding" type="impl:AirialPicture">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMapRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://mapserver.wasp.freeband.nl"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMapResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://mapserver.wasp.freeband.nl-impl"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AirialPictureService">

      <wsdl:port binding="impl:DetailedPictureServiceSoapBinding" name="DetailedPictureService">

         <wsdlsoap:address location="http://ws.soatrader.com/lab.telin.nl/0.1/AirialPictureService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>