wsdl_repositories/soatrader_900/AirService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="urn:AirService/wsdl"
             xmlns:ns2="urn:AirService/types"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="AirService"
             targetNamespace="urn:AirService/wsdl">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns:tns="urn:AirService/types"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
              xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:AirService/types">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOfstring">
            <complexContent>
               <restriction base="soap-enc:Array">
                  <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns:tns="urn:AirService/types"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
              xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:AirService/types">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOfstring">
            <complexContent>
               <restriction base="soap-enc:Array">
                  <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </types>
  <message name="AirServiceServantInterface_createBooking">
      <part name="String_1" type="xsd:string"/>
      <part name="String_2" type="xsd:string"/>
      <part name="String_3" type="xsd:string"/>
      <part name="String_4" type="xsd:string"/>
   </message>
  <message name="AirServiceServantInterface_createBookingResponse"/>
  <message name="AirServiceServantInterface_getAllFlightNumsDates"/>
  <message name="AirServiceServantInterface_getAllFlightNumsDatesResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <message name="AirServiceServantInterface_getAllNumsByDate">
      <part name="String_1" type="xsd:string"/>
   </message>
  <message name="AirServiceServantInterface_getAllNumsByDateResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <message name="AirServiceServantInterface_getAllUniqueDepartfrom"/>
  <message name="AirServiceServantInterface_getAllUniqueDepartfromResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <message name="AirServiceServantInterface_getByDepartfromDate">
      <part name="String_1" type="xsd:string"/>
      <part name="String_2" type="xsd:string"/>
   </message>
  <message name="AirServiceServantInterface_getByDepartfromDateResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <message name="AirServiceServantInterface_getByFlightnumDate">
      <part name="String_1" type="xsd:string"/>
      <part name="String_2" type="xsd:string"/>
   </message>
  <message name="AirServiceServantInterface_getByFlightnumDateResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <message name="AirServiceServantInterface_getUniqueDatesByDepartfrom">
      <part name="String_1" type="xsd:string"/>
   </message>
  <message name="AirServiceServantInterface_getUniqueDatesByDepartfromResponse">
      <part name="result" type="ns2:ArrayOfstring"/>
   </message>
  <portType name="AirServiceServantInterface">
      <operation name="createBooking" parameterOrder="String_1 String_2 String_3 String_4">
         <input message="tns:AirServiceServantInterface_createBooking"/>
         <output message="tns:AirServiceServantInterface_createBookingResponse"/>
      </operation>
      <operation name="getAllFlightNumsDates" parameterOrder="">
         <input message="tns:AirServiceServantInterface_getAllFlightNumsDates"/>
         <output message="tns:AirServiceServantInterface_getAllFlightNumsDatesResponse"/>
      </operation>
      <operation name="getAllNumsByDate" parameterOrder="String_1">
         <input message="tns:AirServiceServantInterface_getAllNumsByDate"/>
         <output message="tns:AirServiceServantInterface_getAllNumsByDateResponse"/>
      </operation>
      <operation name="getAllUniqueDepartfrom" parameterOrder="">
         <input message="tns:AirServiceServantInterface_getAllUniqueDepartfrom"/>
         <output message="tns:AirServiceServantInterface_getAllUniqueDepartfromResponse"/>
      </operation>
      <operation name="getByDepartfromDate" parameterOrder="String_1 String_2">
         <input message="tns:AirServiceServantInterface_getByDepartfromDate"/>
         <output message="tns:AirServiceServantInterface_getByDepartfromDateResponse"/>
      </operation>
      <operation name="getByFlightnumDate" parameterOrder="String_1 String_2">
         <input message="tns:AirServiceServantInterface_getByFlightnumDate"/>
         <output message="tns:AirServiceServantInterface_getByFlightnumDateResponse"/>
      </operation>
      <operation name="getUniqueDatesByDepartfrom" parameterOrder="String_1">
         <input message="tns:AirServiceServantInterface_getUniqueDatesByDepartfrom"/>
         <output message="tns:AirServiceServantInterface_getUniqueDatesByDepartfromResponse"/>
      </operation>
   </portType>
  <binding name="AirServiceServantInterfaceBinding" type="tns:AirServiceServantInterface">
      <operation name="createBooking">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getAllFlightNumsDates">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getAllNumsByDate">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getAllUniqueDepartfrom">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getByDepartfromDate">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getByFlightnumDate">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <operation name="getUniqueDatesByDepartfrom">
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"
                       namespace="urn:AirService/wsdl"/>
         </output>
         <soap:operation soapAction=""/>
      </operation>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
   </binding>
  <service name="AirService">
      <port name="AirServiceServantInterfacePort"
            binding="tns:AirServiceServantInterfaceBinding">
         <soap:address location="http://ws.soatrader.com/sun.com/0.1/AirService"/>
      </port>
   </service>
</definitions>