wsdl_repositories/soatrader_900/AjaxClientGeneratorService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://ajax.service.codegen.wso2.org"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:axis2="http://ajax.service.codegen.wso2.org"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns0="http://ajax.service.codegen.wso2.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ajax.service.codegen.wso2.org">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <wsdl:documentation>AjaxClientGeneratorService</wsdl:documentation>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <xs:schema xmlns:ns="http://ajax.service.codegen.wso2.org/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="unqualified"
                 targetNamespace="http://ajax.service.codegen.wso2.org/xsd">
            <xs:element name="generateAjaxClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element name="wsdlLocation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateAjaxClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="generateAjaxClientMessage">
        <wsdl:part name="part1" element="ns0:generateAjaxClient"/>
    </wsdl:message>
    <wsdl:message name="generateAjaxClientResponse">
        <wsdl:part name="part1" element="ns0:generateAjaxClientResponse"/>
    </wsdl:message>
    
    <wsdl:binding name="AjaxClientGeneratorServiceSOAP11Binding"
                 type="axis2:AjaxClientGeneratorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generateAjaxClient">
            <soap:operation soapAction="urn:generateAjaxClient" style="document"/>
            <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    
    <wsdl:service name="AjaxClientGeneratorService">
        <wsdl:port name="AjaxClientGeneratorServiceSOAP11port_https"
                 binding="axis2:AjaxClientGeneratorServiceSOAP11Binding">
            <soap:address location="http://ws.soatrader.com/wso2.org/0.1/AjaxClientGeneratorService"/>
        </wsdl:port>
        <wsdl:port name="AjaxClientGeneratorServiceSOAP12port_https"
                 binding="axis2:AjaxClientGeneratorServiceSOAP12Binding">
         <soap:address location="http://ws.soatrader.com/wso2.org/0.1/AjaxClientGeneratorService"/>
            <soap12:address location="https://127.0.0.1:9443/soap/AjaxClientGeneratorService"/>
        </wsdl:port>
        <wsdl:port name="AjaxClientGeneratorServiceHttpport1"
                 binding="axis2:AjaxClientGeneratorServiceHttpBinding">
         <soap:address location="http://ws.soatrader.com/wso2.org/0.1/AjaxClientGeneratorService"/>
            <http:address location="https://127.0.0.1:9443/rest/AjaxClientGeneratorService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>