wsdl_repositories/soatrader_900/BlastlocalgtService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:blastlocalgt"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:blastlocalgt"
                  xmlns:intf="urn:blastlocalgt"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:blastlocalgt">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">17:34:1823 February 2006</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">4f0ca171ab63cdc3119222a2d6e6159c</version>
   </wsdl:documentation>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:blastlocalgt">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:blastlocalgt">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="discontinuousmegablastResponse">
      <wsdl:part name="discontinuousmegablastReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="blastpResponse">
      <wsdl:part name="blastpReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="blastpRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="rpsblastResponse">
      <wsdl:part name="rpsblastReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="discontinuousmegablastRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:int"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
      <wsdl:part name="in13" type="xsd:string"/>
      <wsdl:part name="in14" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="psiphiblastResponse">
      <wsdl:part name="psiphiblastReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="megablastResponse">
      <wsdl:part name="megablastReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="rpsblastRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="psiphiblastRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:string"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
      <wsdl:part name="in13" type="xsd:double"/>
   </wsdl:message>
   <wsdl:message name="blseqResponse">
      <wsdl:part name="blseqReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="blastnRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="blastnResponse">
      <wsdl:part name="blastnReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="translating_BlastResponse">
      <wsdl:part name="translating_BlastReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="translating_BlastRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:double"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="megablastRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:int"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="blseqRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:string"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:double"/>
      <wsdl:part name="in10" type="xsd:int"/>
      <wsdl:part name="in11" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Blastlocalgt">
      <wsdl:operation name="blastn" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">
         <wsdl:input message="impl:blastnRequest" name="blastnRequest"/>
         <wsdl:output message="impl:blastnResponse" name="blastnResponse"/>
      </wsdl:operation>
      <wsdl:operation name="blastp" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9">
         <wsdl:input message="impl:blastpRequest" name="blastpRequest"/>
         <wsdl:output message="impl:blastpResponse" name="blastpResponse"/>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9">
         <wsdl:input message="impl:translating_BlastRequest" name="translating_BlastRequest"/>
         <wsdl:output message="impl:translating_BlastResponse" name="translating_BlastResponse"/>
      </wsdl:operation>
      <wsdl:operation name="megablast"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12">
         <wsdl:input message="impl:megablastRequest" name="megablastRequest"/>
         <wsdl:output message="impl:megablastResponse" name="megablastResponse"/>
      </wsdl:operation>
      <wsdl:operation name="discontinuousmegablast"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13 in14">
         <wsdl:input message="impl:discontinuousmegablastRequest"
                     name="discontinuousmegablastRequest"/>
         <wsdl:output message="impl:discontinuousmegablastResponse"
                      name="discontinuousmegablastResponse"/>
      </wsdl:operation>
      <wsdl:operation name="psiphiblast"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13">
         <wsdl:input message="impl:psiphiblastRequest" name="psiphiblastRequest"/>
         <wsdl:output message="impl:psiphiblastResponse" name="psiphiblastResponse"/>
      </wsdl:operation>
      <wsdl:operation name="rpsblast" parameterOrder="in0 in1 in2 in3">
         <wsdl:input message="impl:rpsblastRequest" name="rpsblastRequest"/>
         <wsdl:output message="impl:rpsblastResponse" name="rpsblastResponse"/>
      </wsdl:operation>
      <wsdl:operation name="blseq" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11">
         <wsdl:input message="impl:blseqRequest" name="blseqRequest"/>
         <wsdl:output message="impl:blseqResponse" name="blseqResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="blastlocalgtSoapBinding" type="impl:Blastlocalgt">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="blastn">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastnRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastnResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blastp">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastpRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastpResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="translating_BlastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="translating_BlastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="megablast">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="megablastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="megablastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="discontinuousmegablast">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="discontinuousmegablastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="discontinuousmegablastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="psiphiblast">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="psiphiblastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="psiphiblastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="rpsblast">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="rpsblastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="rpsblastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blseq">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blseqRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blseqResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:blastlocalgt"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="BlastlocalgtService">
      <wsdl:port binding="impl:blastlocalgtSoapBinding" name="blastlocalgt">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.1/BlastlocalgtService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>