wsdl_repositories/soatrader_900/Bookinginfo.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.tritonrooms.com/webservices"
                  xmlns:s1="www.triton.com/webservices"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.tritonrooms.com/webservices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.tritonrooms.com/webservices">
         <s:import namespace="www.triton.com/webservices"/>
         <s:element name="GetBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BookingRef" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Userid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetBooking"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="www.triton.com/webservices">
         <s:element name="GetBooking" type="s1:Booking"/>
         <s:complexType name="Booking">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Success" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BookingReference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DepartureDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BookingDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LeadName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ConfirmationNo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PropertyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CityCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HotelPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RoomType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RoomView" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NoOfRooms" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MealPlan" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Nights" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Adults" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Children" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SpecialRequest" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocalCompany" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocalAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocalEmergencyNo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocalFax" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EmergencyNo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HotelSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DistributorNet" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Commission" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Reference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransferSupplier" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Type" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1DateFrom" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Date" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1DateTo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Airport" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Mode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1DistributorNet" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer1Total" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Reference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Type" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Date" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2DateFrom" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2DateTo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Airport" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Mode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2DistributorNet" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transfer2Total" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBookingSoapIn">
      <wsdl:part name="parameters" element="tns:GetBooking"/>
  </wsdl:message>
  <wsdl:message name="GetBookingSoapOut">
      <wsdl:part name="parameters" element="tns:GetBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBookingHttpGetIn">
      <wsdl:part name="BookingRef" type="s:string"/>
      <wsdl:part name="Userid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBookingHttpGetOut">
      <wsdl:part name="Body" element="s1:GetBooking"/>
  </wsdl:message>
  <wsdl:message name="GetBookingHttpPostIn">
      <wsdl:part name="BookingRef" type="s:string"/>
      <wsdl:part name="Userid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBookingHttpPostOut">
      <wsdl:part name="Body" element="s1:GetBooking"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="BookinginfoSoap" type="tns:BookinginfoSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetBooking">
         <soap:operation soapAction="http://www.tritonrooms.com/webservices/GetBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Bookinginfo">
      <wsdl:port name="BookinginfoSoap" binding="tns:BookinginfoSoap">
         <soap:address location="http://ws.soatrader.com/resdirect.co.uk/0.1/Bookinginfo"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>