wsdl_repositories/soatrader_900/BusinessVerification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://www.strikeiron.com"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://ws.strikeiron.com"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:si="http://www.strikeiron.com"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.strikeiron.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
         <s:element name="VerifyBusiness">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="company" type="si:Company"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Company">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="DUNSNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VerifyBusinessResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VerifyBusinessResult"
                             type="si:BusVerificationData"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="BusVerificationData">
            <s:complexContent mixed="false">
               <s:extension base="si:ProductData">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="DunsNumber" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="EnqDunsNumber" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PrimaryName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="TradeStyle" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PostalTown" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="NonPostalTown" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PrimaryGeographicArea" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="SecondaryGeographicArea" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="FacsimileNumber" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="InternationalDialingCode" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LocalBusIdNumber" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="LocalBusIdType" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="DefaultCurrencyCode" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="IncorporationYear" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="YearStarted" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PrimarySic" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="PrimarySicType" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="BranchIndicator" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="OutBusInd" type="s:string"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ProductData" abstract="true"/>
         <s:element name="GetTermsOfAgreement">
            <s:complexType/>
         </s:element>
         <s:element name="GetTermsOfAgreementResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TermsOfAgreement" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTestDunsNumbers">
            <s:complexType/>
         </s:element>
         <s:element name="GetTestDunsNumbersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="TestDunsNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CompanySearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="company" type="si:Company"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CompanySearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CompanySearchResult"
                             type="si:ArrayOfCandidateCompany"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCandidateCompany">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateCompany" nillable="true"
                          type="si:CandidateCompany"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CandidateCompany">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BranchIndicator" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TradingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ConfidenceCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AccuracyProbability" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MatchGrade" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MatchComponents"
                          type="si:MatchGradeComponents"/>
               <s:element minOccurs="0" maxOccurs="1" name="NameMatchPercent" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CityMatchPercent" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNameMatchPercent" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumberMatchPercent" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="MatchGradeComponents">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyBusinessSoapIn">
      <wsdl:part name="parameters" element="si:VerifyBusiness"/>
  </wsdl:message>
  <wsdl:message name="VerifyBusinessSoapOut">
      <wsdl:part name="parameters" element="si:VerifyBusinessResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTermsOfAgreementSoapIn">
      <wsdl:part name="parameters" element="si:GetTermsOfAgreement"/>
  </wsdl:message>
  <wsdl:message name="GetTermsOfAgreementSoapOut">
      <wsdl:part name="parameters" element="si:GetTermsOfAgreementResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTestDunsNumbersSoapIn">
      <wsdl:part name="parameters" element="si:GetTestDunsNumbers"/>
  </wsdl:message>
  <wsdl:message name="GetTestDunsNumbersSoapOut">
      <wsdl:part name="parameters" element="si:GetTestDunsNumbersResponse"/>
  </wsdl:message>
  <wsdl:message name="CompanySearchSoapIn">
      <wsdl:part name="parameters" element="si:CompanySearch"/>
  </wsdl:message>
  <wsdl:message name="CompanySearchSoapOut">
      <wsdl:part name="parameters" element="si:CompanySearchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="s1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="s1:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="BusinessVerificationSoap">
      <wsdl:operation name="VerifyBusiness">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Verify business - specify DUNS number or company info</documentation>
         <wsdl:input message="si:VerifyBusinessSoapIn"/>
         <wsdl:output message="si:VerifyBusinessSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTermsOfAgreement">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Terms of Agreement</documentation>
         <wsdl:input message="si:GetTermsOfAgreementSoapIn"/>
         <wsdl:output message="si:GetTermsOfAgreementSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTestDunsNumbers">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Test DUNS Numbers</documentation>
         <wsdl:input message="si:GetTestDunsNumbersSoapIn"/>
         <wsdl:output message="si:GetTestDunsNumbersSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CompanySearch">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Perform Company Search</documentation>
         <wsdl:input message="si:CompanySearchSoapIn"/>
         <wsdl:output message="si:CompanySearchSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="si:GetRemainingHitsSoapIn"/>
         <wsdl:output message="si:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessVerificationSoap" type="si:BusinessVerificationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="VerifyBusiness">
         <soap:operation soapAction="http://www.strikeiron.com/VerifyBusiness" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>(string-length(//tns:company/tns:DUNSNumber) &gt; 0) or (string-length(//tns:company/tns:CompanyName) &gt; 0 and string-length(//tns:company/tns:State) &gt; 0) or (string-length(//tns:company/tns:Phone) &gt; 0)</tns:expression>
                     <tns:description>Either DUNSNumber, CompanyName and State, or Phone is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTermsOfAgreement">
         <soap:operation soapAction="http://www.strikeiron.com/GetTermsOfAgreement" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <si:assertions/>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTestDunsNumbers">
         <soap:operation soapAction="http://www.strikeiron.com/GetTestDunsNumbers" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <si:assertions/>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CompanySearch">
         <soap:operation soapAction="http://www.strikeiron.com/CompanySearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <si:validation>
               <si:assertions>
                  <si:assertion>
                     <si:expression>(string-length(//tns:company/tns:DUNSNumber) &gt; 0) or (string-length(//tns:company/tns:CompanyName) &gt; 0 and string-length(//tns:company/tns:State) &gt; 0) or (string-length(//tns:company/tns:Phone) &gt; 0)</si:expression>
                     <si:description>Either DUNSNumber, CompanyName and State, or Phone is required</si:description>
                  </si:assertion>
               </si:assertions>
            </si:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/DnBBusinessVerification/BusinessVerification/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessVerification">
      <wsdl:port name="BusinessVerificationSoap" binding="si:BusinessVerificationSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/BusinessVerification"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>