wsdl_repositories/soatrader_900/BYOBService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="SubmitContactInformation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtFirstname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtLastname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtTelephone" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitContactInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SubmitContactInformationResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitContactInformationSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitContactInformation"/>
  </wsdl:message>
  <wsdl:message name="SubmitContactInformationSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitContactInformationResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="BYOBServiceSoap" type="tns:BYOBServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SubmitContactInformation">
         <soap:operation soapAction="http://tempuri.org/SubmitContactInformation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="BYOBService">
      <wsdl:port name="BYOBServiceSoap" binding="tns:BYOBServiceSoap">
         <soap:address location="http://ws.soatrader.com/beyourownbusinesscoach.com/0.1/BYOBService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>