wsdl_repositories/soatrader_900/clsFaqSearchWS.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_TYPE_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_TYPE_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_TYPE_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue"
                          nillable="true"
                          type="tns:CascadingDropDownNameValue"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="G_PRODUCT_DETAIL_COUNT_MD_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_BY_MD_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_BY_MD_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_DETAIL_BY_MD_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_TYPE_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_TYPE_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_TYPE_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue"
                          nillable="true"
                          type="tns:CascadingDropDownNameValue"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="G_PRODUCT_DETAIL_COUNT_MD_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_BY_MD_BYLANID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="G_PRODUCT_DETAIL_BY_MD_BYLANIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="G_PRODUCT_DETAIL_BY_MD_BYLANIDResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_TYPE_BYLANIDSoapIn">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_TYPE_BYLANID"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_TYPE_BYLANIDSoapOut">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_TYPE_BYLANIDResponse"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDSoapIn">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_DETAIL_COUNT_MD_BYLANID"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_DETAIL_COUNT_MD_BYLANIDSoapOut">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_DETAIL_COUNT_MD_BYLANIDResponse"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_DETAIL_BY_MD_BYLANIDSoapIn">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_DETAIL_BY_MD_BYLANID"/>
  </wsdl:message>
  <wsdl:message name="G_PRODUCT_DETAIL_BY_MD_BYLANIDSoapOut">
      <wsdl:part name="parameters" element="tns:G_PRODUCT_DETAIL_BY_MD_BYLANIDResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="clsFaqSearchWSSoap" type="tns:clsFaqSearchWSSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="G_PRODUCT_TYPE_BYLANID">
         <soap:operation soapAction="http://tempuri.org/G_PRODUCT_TYPE_BYLANID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="G_PRODUCT_DETAIL_COUNT_MD_BYLANID">
         <soap:operation soapAction="http://tempuri.org/G_PRODUCT_DETAIL_COUNT_MD_BYLANID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="G_PRODUCT_DETAIL_BY_MD_BYLANID">
         <soap:operation soapAction="http://tempuri.org/G_PRODUCT_DETAIL_BY_MD_BYLANID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="clsFaqSearchWS">
      <wsdl:port name="clsFaqSearchWSSoap" binding="tns:clsFaqSearchWSSoap">
         <soap:address location="http://ws.soatrader.com/ecsusa.com/0.1/clsFaqSearchWS"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>