wsdl_repositories/soatrader_900/codecoloring_service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://debuglab.com/research/codecoloring"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://debuglab.com/research/codecoloring">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://debuglab.com/research/codecoloring">
         <s:element name="GetColoringCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="numbering" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startnum" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetColoringCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetColoringCodeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetColoringCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetColoringCode"/>
  </wsdl:message>
  <wsdl:message name="GetColoringCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetColoringCodeResponse"/>
  </wsdl:message>
  <wsdl:portType name="codecoloring_serviceSoap">
      <wsdl:operation name="GetColoringCode">
         <wsdl:input message="tns:GetColoringCodeSoapIn"/>
         <wsdl:output message="tns:GetColoringCodeSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="codecoloring_serviceSoap" type="tns:codecoloring_serviceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetColoringCode">
         <soap:operation soapAction="http://debuglab.com/research/codecoloring/GetColoringCode"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="codecoloring_service">
      <wsdl:port name="codecoloring_serviceSoap" binding="tns:codecoloring_serviceSoap">
         <soap:address location="http://ws.soatrader.com/debuglab.com/0.1/codecoloring_service"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>