wsdl_repositories/soatrader_900/compoundsearch_Service.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://cheminfo.informatics.indiana.edu/GnovaSearch"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="GnovaSearch"
             targetNamespace="http://cheminfo.informatics.indiana.edu/GnovaSearch">
   <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

   <message name="exactsearchRequest">
      <part name="smile_string" type="xsd:string"/>			
   </message>
   <message name="exactsearchResponse">
      <part name="match_summary" type="xsd:string"/>
   </message>
   
   <message name="similaritysearchRequest">
      <part name="smile_string" type="xsd:string"/>			
      <part name="tanimoto_coefficient" type="xsd:float"/>
   </message>
   <message name="similaritysearchResponse">
      <part name="search_summary" type="xsd:string"/>
   </message>

   <message name="prefilterRequest">
      <part name="smile_string" type="xsd:string"/>			
      <part name="tanimoto_coefficient" type="xsd:float"/>
   </message>
   <message name="prefilterResponse">
      <part name="filter_file" type="xsd:string"/>
   </message>
   
   <portType name="compoundsearch_PortType">
      <operation name="exactsearch">
         <input message="tns:exactsearchRequest"/>
         <output message="tns:exactsearchResponse"/>
      </operation>
      <operation name="similaritysearch">
         <input message="tns:similaritysearchRequest"/>
         <output message="tns:similaritysearchResponse"/>
      </operation>
      <operation name="prefilter">
         <input message="tns:prefilterRequest"/>
         <output message="tns:prefilterResponse"/>
      </operation>      
   </portType>
   
   <binding name="compoundsearch_Binding" type="tns:compoundsearch_PortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="exactsearch">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#exactsearch"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </output>
      </operation>
      <operation name="similaritysearch">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#similaritysearch"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </output>
      </operation>
      <operation name="prefilter">
         <soap:operation soapAction="http://cheminfo.informatics.indiana.edu/GnovaSearch#prefilter"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://cheminfo.informatics.indiana.edu/GnovaSearch"
                       use="encoded"/>
         </output>
      </operation>
   </binding>

   <service name="compoundsearch_Service">
      <documentation>This is a wsdl interface for the CICC (Chemical Informatics and Cyberinfrastructure Collaboratory) 
      database projects developed at school of informatics of Indiana University. The current version supports canonical
      smile search, which is based on the gNova Cartridge offered by gNova Scientific Software.</documentation>
      <port binding="tns:compoundsearch_Binding" name="compoundsearch_Port">
         <soap:address location="http://ws.soatrader.com/informatics.indiana.edu/0.1/compoundsearch_Service"/>
      </port>
   </service>
</definitions>