wsdl_repositories/soatrader_900/Company.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.salesnet.com/wsapi/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:i8="http://www.salesnet.com/wsapi/GetUserLoginPswd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s0="http://www.salesnet.com/wsapi/"
             xmlns:i10="http://www.salesnet.com/wsapi/UpdateUser"
             xmlns:i3="http://www.salesnet.com/wsapi/PosToPosRecAccess"
             xmlns:i1="http://www.salesnet.com/wsapi/CompanyPositions"
             xmlns:i0="http://www.salesnet.com/wsapi/GetFieldDefs"
             xmlns:i7="http://www.salesnet.com/wsapi/UserToken"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:i4="http://www.salesnet.com/wsapi/CompanyTeams"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:i9="http://www.salesnet.com/wsapi/CreateUser"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:i6="http://www.salesnet.com/wsapi/CompanyCurrencyInfo"
             xmlns:i5="http://www.salesnet.com/wsapi/GetPrivlegeSets"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             targetNamespace="http://www.salesnet.com/wsapi/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <import namespace="http://www.salesnet.com/wsapi/GetFieldDefs"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=FieldDefinitionDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/CompanyPositions"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=CompanyPositionsDataSet"/>
  <import namespace=""
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=CompanyUserInfoDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/PosToPosRecAccess"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=PosToPosRecAccessDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/CompanyTeams"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=CompanyTeamsDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/GetPrivlegeSets"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=GetPrivilegeSetDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/CompanyCurrencyInfo"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=CompanyCurrencyInfoDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/UserToken"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=UserTokenDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/GetUserLoginPswd"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=UserLoginPasswordDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/CreateUser"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=CreateUserDataSet"/>
  <import namespace="http://www.salesnet.com/wsapi/UpdateUser"
           location="http://wsapi.salesnet.com/version_4/company.asmx?schema=UpdateUserDataSet"/>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.salesnet.com/wsapi/">
         <s:import namespace="http://www.salesnet.com/wsapi/GetFieldDefs"/>
         <s:import namespace="http://www.salesnet.com/wsapi/CompanyPositions"/>
         <s:import namespace="http://www.salesnet.com/wsapi/PosToPosRecAccess"/>
         <s:import namespace="http://www.salesnet.com/wsapi/CompanyTeams"/>
         <s:import namespace="http://www.salesnet.com/wsapi/GetPrivlegeSets"/>
         <s:import namespace="http://www.salesnet.com/wsapi/CompanyCurrencyInfo"/>
         <s:import namespace="http://www.salesnet.com/wsapi/UserToken"/>
         <s:import namespace="http://www.salesnet.com/wsapi/GetUserLoginPswd"/>
         <s:import namespace="http://www.salesnet.com/wsapi/CreateUser"/>
         <s:import namespace="http://www.salesnet.com/wsapi/UpdateUser"/>
         <s:element name="GetFieldDefs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="acctFldList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="contFldList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="dealFldList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="leadFldList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cmpgnFldList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rtrnItems" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nestTables" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFieldDefsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFieldDefsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/GetFieldDefs"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authentication" type="s0:Authentication"/>
         <s:complexType name="Authentication">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetCompanyPositions">
            <s:complexType/>
         </s:element>
         <s:element name="GetCompanyPositionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCompanyPositionsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/CompanyPositions"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCompanyUserInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="operatorForExtrnsysData" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="extrnsysUserData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCompanyUserInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCompanyUserInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace=""/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPosToPosMergedRecordAccess">
            <s:complexType/>
         </s:element>
         <s:element name="GetPosToPosMergedRecordAccessResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPosToPosMergedRecordAccessResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/PosToPosRecAccess"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCompanyTeams">
            <s:complexType/>
         </s:element>
         <s:element name="GetCompanyTeamsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCompanyTeamsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/CompanyTeams"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrivilegeSets">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="privilSetNum" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrivilegeSetsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrivilegeSetsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/GetPrivlegeSets"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AssignPrivilegeSet">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="privilSetNum" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="assignPosIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="assignTeamIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="assignUserIDList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AssignPrivilegeSetResponse">
            <s:complexType/>
         </s:element>
         <s:element name="UpdatePositionInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="posID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="updtExtrnsysPosData" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="extrnsysPosData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdatePositionInfoResponse">
            <s:complexType/>
         </s:element>
         <s:element name="UpdateCurrencyExchangeRates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="exchangeRatesList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateCurrencyExchangeRatesResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetCompanyCurrencyInfo">
            <s:complexType/>
         </s:element>
         <s:element name="GetCompanyCurrencyInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCompanyCurrencyInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/CompanyCurrencyInfo"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserTokens">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleList" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="tokenLifeSpan" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserTokensResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserTokensResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/UserToken"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUserLoginPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="updtUserLogin" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="updtUserPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="updtPasswordCanExpire" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="passwordCanExpire" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUserLoginPasswordResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetUserLoginPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userHandleList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="operForExtrnsysData" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="extrnsysUserData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserLoginPasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserLoginPasswordResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/GetUserLoginPswd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userPswd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userPosID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userNameFirst" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userNameLast" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userWorkPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userCellPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userHomePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userWorkFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userHomeFax" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userAddr1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userAddr2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userZip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userCountry" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userSNTZID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userWorkTimeBegin" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userWorkTimeEnd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userCultCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userCrncyCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="extrnsysUserData" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsActive" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="privilSetNum" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userPswdCanExpire" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsCompAdmin" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userPBAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userAcctContImportPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userDealImportPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userLeadImportPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userLinkedEmailPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userCommMgrPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userCommTmpltAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userDocLibAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userMRUpdatePrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userMRReassignPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userDashAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userLQAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userCmpgnAdminPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userSyncPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userWirelessPrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userOfflinePrivil" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userWSAPIPrivil" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userRptingTabVisible" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userRptingPrivilRptDef" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userRptingPrivilSnapshot" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userListPgQueryLevel" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userListPgLayoutLevel" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_HomeDash" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_AcctCont" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_Deal" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_ApptTask" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_Doclib" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userIsRO_Lead" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userNoDeleteAcctCont" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userNoDeleteDeal" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userNoDeleteApptTask" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userNoDeleteDocLib" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userNoDeleteLead" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userGetsOperationalEmail" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userGetsProductEmail" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/CreateUser"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fieldsToUpdateList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.salesnet.com/wsapi/UpdateUser"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </types>
  <message name="GetFieldDefsSoapIn">
      <part name="parameters" element="s0:GetFieldDefs"/>
  </message>
  <message name="GetFieldDefsSoapOut">
      <part name="parameters" element="s0:GetFieldDefsResponse"/>
  </message>
  <message name="GetFieldDefsAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetCompanyPositionsSoapIn">
      <part name="parameters" element="s0:GetCompanyPositions"/>
  </message>
  <message name="GetCompanyPositionsSoapOut">
      <part name="parameters" element="s0:GetCompanyPositionsResponse"/>
  </message>
  <message name="GetCompanyPositionsAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetCompanyUserInfoSoapIn">
      <part name="parameters" element="s0:GetCompanyUserInfo"/>
  </message>
  <message name="GetCompanyUserInfoSoapOut">
      <part name="parameters" element="s0:GetCompanyUserInfoResponse"/>
  </message>
  <message name="GetCompanyUserInfoAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetPosToPosMergedRecordAccessSoapIn">
      <part name="parameters" element="s0:GetPosToPosMergedRecordAccess"/>
  </message>
  <message name="GetPosToPosMergedRecordAccessSoapOut">
      <part name="parameters" element="s0:GetPosToPosMergedRecordAccessResponse"/>
  </message>
  <message name="GetPosToPosMergedRecordAccessAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetCompanyTeamsSoapIn">
      <part name="parameters" element="s0:GetCompanyTeams"/>
  </message>
  <message name="GetCompanyTeamsSoapOut">
      <part name="parameters" element="s0:GetCompanyTeamsResponse"/>
  </message>
  <message name="GetCompanyTeamsAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetPrivilegeSetsSoapIn">
      <part name="parameters" element="s0:GetPrivilegeSets"/>
  </message>
  <message name="GetPrivilegeSetsSoapOut">
      <part name="parameters" element="s0:GetPrivilegeSetsResponse"/>
  </message>
  <message name="GetPrivilegeSetsAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="AssignPrivilegeSetSoapIn">
      <part name="parameters" element="s0:AssignPrivilegeSet"/>
  </message>
  <message name="AssignPrivilegeSetSoapOut">
      <part name="parameters" element="s0:AssignPrivilegeSetResponse"/>
  </message>
  <message name="AssignPrivilegeSetAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="UpdatePositionInfoSoapIn">
      <part name="parameters" element="s0:UpdatePositionInfo"/>
  </message>
  <message name="UpdatePositionInfoSoapOut">
      <part name="parameters" element="s0:UpdatePositionInfoResponse"/>
  </message>
  <message name="UpdatePositionInfoAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="UpdateCurrencyExchangeRatesSoapIn">
      <part name="parameters" element="s0:UpdateCurrencyExchangeRates"/>
  </message>
  <message name="UpdateCurrencyExchangeRatesSoapOut">
      <part name="parameters" element="s0:UpdateCurrencyExchangeRatesResponse"/>
  </message>
  <message name="UpdateCurrencyExchangeRatesAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetCompanyCurrencyInfoSoapIn">
      <part name="parameters" element="s0:GetCompanyCurrencyInfo"/>
  </message>
  <message name="GetCompanyCurrencyInfoSoapOut">
      <part name="parameters" element="s0:GetCompanyCurrencyInfoResponse"/>
  </message>
  <message name="GetCompanyCurrencyInfoAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetUserTokensSoapIn">
      <part name="parameters" element="s0:GetUserTokens"/>
  </message>
  <message name="GetUserTokensSoapOut">
      <part name="parameters" element="s0:GetUserTokensResponse"/>
  </message>
  <message name="GetUserTokensAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="UpdateUserLoginPasswordSoapIn">
      <part name="parameters" element="s0:UpdateUserLoginPassword"/>
  </message>
  <message name="UpdateUserLoginPasswordSoapOut">
      <part name="parameters" element="s0:UpdateUserLoginPasswordResponse"/>
  </message>
  <message name="UpdateUserLoginPasswordAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="GetUserLoginPasswordSoapIn">
      <part name="parameters" element="s0:GetUserLoginPassword"/>
  </message>
  <message name="GetUserLoginPasswordSoapOut">
      <part name="parameters" element="s0:GetUserLoginPasswordResponse"/>
  </message>
  <message name="GetUserLoginPasswordAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="CreateUserSoapIn">
      <part name="parameters" element="s0:CreateUser"/>
  </message>
  <message name="CreateUserSoapOut">
      <part name="parameters" element="s0:CreateUserResponse"/>
  </message>
  <message name="CreateUserAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <message name="UpdateUserSoapIn">
      <part name="parameters" element="s0:UpdateUser"/>
  </message>
  <message name="UpdateUserSoapOut">
      <part name="parameters" element="s0:UpdateUserResponse"/>
  </message>
  <message name="UpdateUserAuthentication">
      <part name="Authentication" element="s0:Authentication"/>
  </message>
  <portType name="CompanySoap">
      <operation name="GetFieldDefs">
         <documentation>Allows Salesnet subscribers to retrieve a list of Field Definitions for a given object type. This includes item values for all picklists that have been configured in Salesnet.</documentation>
         <input message="s0:GetFieldDefsSoapIn"/>
         <output message="s0:GetFieldDefsSoapOut"/>
      </operation>
      <operation name="GetCompanyPositions">
         <documentation>Allows Salesnet subscribers to retrieve a  Company Position Chart (CPC)  for a given company.</documentation>
         <input message="s0:GetCompanyPositionsSoapIn"/>
         <output message="s0:GetCompanyPositionsSoapOut"/>
      </operation>
      <operation name="GetCompanyUserInfo">
         <documentation>Allows Salesnet subscribers to retrieve all of a Company’s user setup information.</documentation>
         <input message="s0:GetCompanyUserInfoSoapIn"/>
         <output message="s0:GetCompanyUserInfoSoapOut"/>
      </operation>
      <operation name="GetPosToPosMergedRecordAccess">
         <documentation>Allows Salesnet subscribers to retrieve all of a Company’s Position To Position merged record access.</documentation>
         <input message="s0:GetPosToPosMergedRecordAccessSoapIn"/>
         <output message="s0:GetPosToPosMergedRecordAccessSoapOut"/>
      </operation>
      <operation name="GetCompanyTeams">
         <documentation>Allows Salesnet subscribers to retrieve all of a Company’s Teams.</documentation>
         <input message="s0:GetCompanyTeamsSoapIn"/>
         <output message="s0:GetCompanyTeamsSoapOut"/>
      </operation>
      <operation name="GetPrivilegeSets">
         <documentation>Allows Salesnet subscribers to retrieve all of a Company’s Privilege Sets.</documentation>
         <input message="s0:GetPrivilegeSetsSoapIn"/>
         <output message="s0:GetPrivilegeSetsSoapOut"/>
      </operation>
      <operation name="AssignPrivilegeSet">
         <documentation>Allows Salesnet subscribers to assign a Privilege Set to one or more Positions, Teams or Users.</documentation>
         <input message="s0:AssignPrivilegeSetSoapIn"/>
         <output message="s0:AssignPrivilegeSetSoapOut"/>
      </operation>
      <operation name="UpdatePositionInfo">
         <documentation>Allows a Salesnet Administrator to update a Company’s Position information.</documentation>
         <input message="s0:UpdatePositionInfoSoapIn"/>
         <output message="s0:UpdatePositionInfoSoapOut"/>
      </operation>
      <operation name="UpdateCurrencyExchangeRates">
         <documentation>Allows a Salesnet Administrator to update a Company’s Currency Exchange Rates.</documentation>
         <input message="s0:UpdateCurrencyExchangeRatesSoapIn"/>
         <output message="s0:UpdateCurrencyExchangeRatesSoapOut"/>
      </operation>
      <operation name="GetCompanyCurrencyInfo">
         <documentation>Allows Salesnet subscribers to retrieve a list of a Company's currencies.</documentation>
         <input message="s0:GetCompanyCurrencyInfoSoapIn"/>
         <output message="s0:GetCompanyCurrencyInfoSoapOut"/>
      </operation>
      <operation name="GetUserTokens">
         <documentation>Allows Salesnet subscribers to retrieve a list of User security tokens</documentation>
         <input message="s0:GetUserTokensSoapIn"/>
         <output message="s0:GetUserTokensSoapOut"/>
      </operation>
      <operation name="UpdateUserLoginPassword">
         <documentation>Allows Salesnet subscribers to update a given User's login and password information.</documentation>
         <input message="s0:UpdateUserLoginPasswordSoapIn"/>
         <output message="s0:UpdateUserLoginPasswordSoapOut"/>
      </operation>
      <operation name="GetUserLoginPassword">
         <documentation>Allows a Salesnet Administrator to retrieve a set of Login and Password values for the User ID values provided.</documentation>
         <input message="s0:GetUserLoginPasswordSoapIn"/>
         <output message="s0:GetUserLoginPasswordSoapOut"/>
      </operation>
      <operation name="CreateUser">
         <documentation>Allows a Salesnet Administrator to create a new User.</documentation>
         <input message="s0:CreateUserSoapIn"/>
         <output message="s0:CreateUserSoapOut"/>
      </operation>
      <operation name="UpdateUser">
         <documentation>Allows a Salesnet Administrator to modify one or more Users.</documentation>
         <input message="s0:UpdateUserSoapIn"/>
         <output message="s0:UpdateUserSoapOut"/>
      </operation>
  </portType>
  <binding name="CompanySoap" type="s0:CompanySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="GetFieldDefs">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetFieldDefs" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetFieldDefsAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetCompanyPositions">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetCompanyPositions" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetCompanyPositionsAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetCompanyUserInfo">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetCompanyUserInfo" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetCompanyUserInfoAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetPosToPosMergedRecordAccess">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetPosToPosMergedRecordAccess"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetPosToPosMergedRecordAccessAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetCompanyTeams">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetCompanyTeams" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetCompanyTeamsAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetPrivilegeSets">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetPrivilegeSets" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetPrivilegeSetsAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="AssignPrivilegeSet">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/AssignPrivilegeSet" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:AssignPrivilegeSetAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="UpdatePositionInfo">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/UpdatePositionInfo" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:UpdatePositionInfoAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="UpdateCurrencyExchangeRates">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/UpdateCurrencyExchangeRates"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:UpdateCurrencyExchangeRatesAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetCompanyCurrencyInfo">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetCompanyCurrencyInfo"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetCompanyCurrencyInfoAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetUserTokens">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetUserTokens" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetUserTokensAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="UpdateUserLoginPassword">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/UpdateUserLoginPassword"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:UpdateUserLoginPasswordAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetUserLoginPassword">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/GetUserLoginPassword"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:GetUserLoginPasswordAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="CreateUser">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/CreateUser" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:CreateUserAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="UpdateUser">
         <soap:operation soapAction="http://www.salesnet.com/wsapi/UpdateUser" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" d5p1:required="true"
                         message="s0:UpdateUserAuthentication"
                         part="Authentication"
                         use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <service name="Company">
      <port name="CompanySoap" binding="s0:CompanySoap">
         <soap:address location="http://ws.soatrader.com/salesnet.com/0.4/Company"/>
      </port>
  </service>
</definitions>