wsdl_repositories/soatrader_900/CondorfastaService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:condorfasta"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:condorfasta"
                  xmlns:intf="urn:condorfasta"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:condorfasta">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">9:24:333 December 2004</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">61833cc17089dbbd256b0a11953cdb04</version>
   </wsdl:documentation>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:condorfasta">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="fastanRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:double"/>
   </wsdl:message>
   <wsdl:message name="tfastxResponse">
      <wsdl:part name="tfastxReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="fastanResponse">
      <wsdl:part name="fastanReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="fastapResponse">
      <wsdl:part name="fastapReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="tfastxRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:int"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:double"/>
      <wsdl:part name="in8" type="xsd:string"/>
      <wsdl:part name="in9" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="fastxRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:int"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:double"/>
      <wsdl:part name="in8" type="xsd:string"/>
      <wsdl:part name="in9" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="fastxResponse">
      <wsdl:part name="fastxReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="fastapRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:int"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:double"/>
      <wsdl:part name="in8" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Condorfasta">
      <wsdl:operation name="fastan" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8">
         <wsdl:input message="impl:fastanRequest" name="fastanRequest"/>
         <wsdl:output message="impl:fastanResponse" name="fastanResponse"/>
      </wsdl:operation>
      <wsdl:operation name="fastap" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8">
         <wsdl:input message="impl:fastapRequest" name="fastapRequest"/>
         <wsdl:output message="impl:fastapResponse" name="fastapResponse"/>
      </wsdl:operation>
      <wsdl:operation name="tfastx" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9">
         <wsdl:input message="impl:tfastxRequest" name="tfastxRequest"/>
         <wsdl:output message="impl:tfastxResponse" name="tfastxResponse"/>
      </wsdl:operation>
      <wsdl:operation name="fastx" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9">
         <wsdl:input message="impl:fastxRequest" name="fastxRequest"/>
         <wsdl:output message="impl:fastxResponse" name="fastxResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="condorfastaSoapBinding" type="impl:Condorfasta">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="fastan">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="fastanRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="fastanResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="fastap">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="fastapRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="fastapResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="tfastx">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="tfastxRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="tfastxResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="fastx">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="fastxRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="fastxResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:condorfasta"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CondorfastaService">
      <wsdl:port binding="impl:condorfastaSoapBinding" name="condorfasta">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.1/CondorfastaService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>