wsdl_repositories/soatrader_900/CouponSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://services.zixxo.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://services.zixxo.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://services.zixxo.com/">
         <s:element name="getCoupons">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mileRadius" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryIDs" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessIDs" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByNames">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mileRadius" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByNamesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsByNamesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByKeyword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mileRadius" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByKeywordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsByKeywordResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsHotAndPopular">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="hours" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mileRadius" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsHotAndPopularResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsHotAndPopularResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsFreshAndNew">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="hours" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mileRadius" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsFreshAndNewResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsFreshAndNewResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByPhoneNumbers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryIDs" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCouponsByPhoneNumbersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCouponsByPhoneNumbersResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCategoriesByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCategoriesByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCategoriesByNameResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBusinessesByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBusinessesByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getBusinessesByNameResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProspect1ClickLink">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessname" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="street2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneDay" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneDayExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneEve" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneEveExt" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="couponShortOffer" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="couponLongOffer" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="couponExpirationDate" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getProspect1ClickLinkResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getProspect1ClickLinkResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBusinessAllInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="businessIDs" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getBusinessAllInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getBusinessAllInfoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getCouponsSoapIn">
      <wsdl:part name="parameters" element="tns:getCoupons"/>
  </wsdl:message>
  <wsdl:message name="getCouponsSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesSoapIn">
      <wsdl:part name="parameters" element="tns:getCouponsByNames"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsByNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordSoapIn">
      <wsdl:part name="parameters" element="tns:getCouponsByKeyword"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsByKeywordResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularSoapIn">
      <wsdl:part name="parameters" element="tns:getCouponsHotAndPopular"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsHotAndPopularResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewSoapIn">
      <wsdl:part name="parameters" element="tns:getCouponsFreshAndNew"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsFreshAndNewResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersSoapIn">
      <wsdl:part name="parameters" element="tns:getCouponsByPhoneNumbers"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersSoapOut">
      <wsdl:part name="parameters" element="tns:getCouponsByPhoneNumbersResponse"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameSoapIn">
      <wsdl:part name="parameters" element="tns:getCategoriesByName"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameSoapOut">
      <wsdl:part name="parameters" element="tns:getCategoriesByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameSoapIn">
      <wsdl:part name="parameters" element="tns:getBusinessesByName"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameSoapOut">
      <wsdl:part name="parameters" element="tns:getBusinessesByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkSoapIn">
      <wsdl:part name="parameters" element="tns:getProspect1ClickLink"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkSoapOut">
      <wsdl:part name="parameters" element="tns:getProspect1ClickLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoSoapIn">
      <wsdl:part name="parameters" element="tns:getBusinessAllInfo"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoSoapOut">
      <wsdl:part name="parameters" element="tns:getBusinessAllInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryIDs" type="s:string"/>
      <wsdl:part name="businessIDs" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="keyword" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="hours" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="hours" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="phoneNumbers" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="categoryIDs" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="emailAddress" type="s:string"/>
      <wsdl:part name="lastname" type="s:string"/>
      <wsdl:part name="firstname" type="s:string"/>
      <wsdl:part name="businessname" type="s:string"/>
      <wsdl:part name="categID" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="phoneDay" type="s:string"/>
      <wsdl:part name="phoneDayExt" type="s:string"/>
      <wsdl:part name="phoneEve" type="s:string"/>
      <wsdl:part name="phoneEveExt" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="couponShortOffer" type="s:string"/>
      <wsdl:part name="couponLongOffer" type="s:string"/>
      <wsdl:part name="couponExpirationDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoHttpGetIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="businessIDs" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryIDs" type="s:string"/>
      <wsdl:part name="businessIDs" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByNamesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="keyword" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByKeywordHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="hours" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsHotAndPopularHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="hours" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="street3" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="zipCode" type="s:string"/>
      <wsdl:part name="mileRadius" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsFreshAndNewHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="phoneNumbers" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
      <wsdl:part name="categoryIDs" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
      <wsdl:part name="coverage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCouponsByPhoneNumbersHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="categoryName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCategoriesByNameHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getBusinessesByNameHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="emailAddress" type="s:string"/>
      <wsdl:part name="lastname" type="s:string"/>
      <wsdl:part name="firstname" type="s:string"/>
      <wsdl:part name="businessname" type="s:string"/>
      <wsdl:part name="categID" type="s:string"/>
      <wsdl:part name="street1" type="s:string"/>
      <wsdl:part name="street2" type="s:string"/>
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="country" type="s:string"/>
      <wsdl:part name="phoneDay" type="s:string"/>
      <wsdl:part name="phoneDayExt" type="s:string"/>
      <wsdl:part name="phoneEve" type="s:string"/>
      <wsdl:part name="phoneEveExt" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="couponShortOffer" type="s:string"/>
      <wsdl:part name="couponLongOffer" type="s:string"/>
      <wsdl:part name="couponExpirationDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getProspect1ClickLinkHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoHttpPostIn">
      <wsdl:part name="apiKey" type="s:string"/>
      <wsdl:part name="businessName" type="s:string"/>
      <wsdl:part name="businessIDs" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getBusinessAllInfoHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="CouponSearchSoap" type="tns:CouponSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCoupons">
         <soap:operation soapAction="http://services.zixxo.com/getCoupons" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCouponsByNames">
         <soap:operation soapAction="http://services.zixxo.com/getCouponsByNames" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCouponsByKeyword">
         <soap:operation soapAction="http://services.zixxo.com/getCouponsByKeyword" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCouponsHotAndPopular">
         <soap:operation soapAction="http://services.zixxo.com/getCouponsHotAndPopular" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCouponsFreshAndNew">
         <soap:operation soapAction="http://services.zixxo.com/getCouponsFreshAndNew" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCouponsByPhoneNumbers">
         <soap:operation soapAction="http://services.zixxo.com/getCouponsByPhoneNumbers"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCategoriesByName">
         <soap:operation soapAction="http://services.zixxo.com/getCategoriesByName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getBusinessesByName">
         <soap:operation soapAction="http://services.zixxo.com/getBusinessesByName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProspect1ClickLink">
         <soap:operation soapAction="http://services.zixxo.com/getProspect1ClickLink" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getBusinessAllInfo">
         <soap:operation soapAction="http://services.zixxo.com/getBusinessAllInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="CouponSearch">
      <wsdl:port name="CouponSearchSoap" binding="tns:CouponSearchSoap">
         <soap:address location="http://ws.soatrader.com/zixxo.com/0.1/CouponSearch"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>