wsdl_repositories/soatrader_900/CourseSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetList_Old">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetList_OldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetList_OldResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetList_New">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetList_NewResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetList_NewResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetList_Old">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetList_OldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetList_OldResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetList_New">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetList_NewResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetList_NewResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetList_OldSoapIn">
      <wsdl:part name="parameters" element="tns:GetList_Old"/>
  </wsdl:message>
  <wsdl:message name="GetList_OldSoapOut">
      <wsdl:part name="parameters" element="tns:GetList_OldResponse"/>
  </wsdl:message>
  <wsdl:message name="GetList_NewSoapIn">
      <wsdl:part name="parameters" element="tns:GetList_New"/>
  </wsdl:message>
  <wsdl:message name="GetList_NewSoapOut">
      <wsdl:part name="parameters" element="tns:GetList_NewResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="CourseSearchSoap" type="tns:CourseSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetList_Old">
         <soap:operation soapAction="http://tempuri.org/GetList_Old" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetList_New">
         <soap:operation soapAction="http://tempuri.org/GetList_New" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CourseSearch">
      <wsdl:port name="CourseSearchSoap" binding="tns:CourseSearchSoap">
         <soap:address location="http://ws.soatrader.com/bellevuecollege.edu/0.1/CourseSearch"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>