wsdl_repositories/soatrader_900/Deed.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://research.altec.gr/ONAR/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://research.altec.gr/ONAR/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://research.altec.gr/ONAR/">
         <s:element name="NewSoftwareInstance">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NewSoftwareInstanceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="NewSoftwareInstanceResult"
                             type="tns:ArrayOfNewSoftwareInstanceResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfNewSoftwareInstanceResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="NewSoftwareInstanceResult"
                          nillable="true"
                          type="tns:NewSoftwareInstanceResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="NewSoftwareInstanceResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="_Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="NewSoftwareInstanceSoapIn">
      <wsdl:part name="parameters" element="tns:NewSoftwareInstance"/>
  </wsdl:message>
  <wsdl:message name="NewSoftwareInstanceSoapOut">
      <wsdl:part name="parameters" element="tns:NewSoftwareInstanceResponse"/>
  </wsdl:message>
  <wsdl:portType name="DeedSoap">
      <wsdl:operation name="NewSoftwareInstance">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"> &lt;a href='http://research.altec.gr/Onarserver/Services/Profiles/Deed/NewSoftwareInstance.owl'&gt;(OWLSProfile)&lt;/a&gt; &lt;a href='http://research.altec.gr/Onarserver/Services/Models/Deed/NewSoftwareInstance.osm'&gt;(Software Instance Model)&lt;/a&gt;</documentation>
         <wsdl:input message="tns:NewSoftwareInstanceSoapIn"/>
         <wsdl:output message="tns:NewSoftwareInstanceSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeedSoap" type="tns:DeedSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="NewSoftwareInstance">
         <soap:operation soapAction="http://research.altec.gr/ONAR/NewSoftwareInstance" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Deed">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This Service Instance realizes the &lt;b&gt; Deed Ontology (&lt;I&gt;       &lt;a Href='http://research.altec.gr/ONARServer/Ontologies/Deed.owl'&gt; OWL  &lt;/a&gt;   ,   &lt;a Href='http://research.altec.gr/ONARServer/Ontologies/Deed.oom'&gt; Grounding  &lt;/a&gt;   ,   &lt;a Href='http://research.altec.gr/ONARServer/Ontologies/Deed.jpg'&gt; Graphical Model &lt;/a&gt;&lt;/I&gt;  )&lt;/b&gt; </documentation>
      <wsdl:port name="DeedSoap" binding="tns:DeedSoap">
         <soap:address location="http://ws.soatrader.com/altec.gr/0.1/Deed"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>