wsdl_repositories/soatrader_900/DelayedStockQuote.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://ws.cdyne.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.cdyne.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
         <s:element name="GetQuote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetQuoteResult" type="tns:QuoteData"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="QuoteData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LastTradeAmount" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="LastTradeDateTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="StockChange" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="OpenAmount" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="DayHigh" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="DayLow" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="StockVolume" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="PrevCls" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="ChangePercent" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FiftyTwoWeekRange" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="EarnPerShare" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="PE" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="QuoteError" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetQuickQuote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuickQuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetQuickQuoteResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuoteDataSet">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StockSymbols" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuoteDataSetResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetQuoteDataSetResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QuoteData" type="tns:QuoteData"/>
         <s:element name="decimal" type="s:decimal"/>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuoteSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuote"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuickQuote"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuickQuoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuoteDataSet"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuoteDataSetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetIn">
      <wsdl:part name="StockSymbol" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetOut">
      <wsdl:part name="Body" element="tns:QuoteData"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpGetIn">
      <wsdl:part name="StockSymbol" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpGetIn">
      <wsdl:part name="StockSymbols" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostIn">
      <wsdl:part name="StockSymbol" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostOut">
      <wsdl:part name="Body" element="tns:QuoteData"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpPostIn">
      <wsdl:part name="StockSymbol" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpPostIn">
      <wsdl:part name="StockSymbols" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="DelayedStockQuoteSoap" type="tns:DelayedStockQuoteSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetQuote">
         <soap:operation soapAction="http://ws.cdyne.com/GetQuote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetQuickQuote">
         <soap:operation soapAction="http://ws.cdyne.com/GetQuickQuote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetQuoteDataSet">
         <soap:operation soapAction="http://ws.cdyne.com/GetQuoteDataSet" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="DelayedStockQuote">
      <wsdl:port name="DelayedStockQuoteSoap" binding="tns:DelayedStockQuoteSoap">
         <soap:address location="http://ws.soatrader.com/cdyne.com/0.1/DelayedStockQuote"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>