wsdl_repositories/soatrader_900/DIRECTORY_SEARCHES.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>SFGov Telephone Directory Search - Web Service</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES">
         <s:element name="EMPLOYEE_LOOKUP_BY_NAME">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LAST_NAME" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_NAMEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_NAMEResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PHONETIC_EMPLOYEE_NAME_LOOKUP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LAST_NAME" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PHONETIC_EMPLOYEE_NAME_LOOKUPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PHONETIC_EMPLOYEE_NAME_LOOKUPResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_PHONE">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_PHONEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_PHONEResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_AGENCY_ID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AGENCY_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_AGENCY_IDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_AGENCY_IDResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GET_CITY_AGENCY_LIST">
            <s:complexType/>
         </s:element>
         <s:element name="GET_CITY_AGENCY_LISTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GET_CITY_AGENCY_LISTResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES">
         <s:element name="EMPLOYEE_LOOKUP_BY_NAME">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LAST_NAME" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_NAMEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_NAMEResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PHONETIC_EMPLOYEE_NAME_LOOKUP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LAST_NAME" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FIRST_NAME" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PHONETIC_EMPLOYEE_NAME_LOOKUPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PHONETIC_EMPLOYEE_NAME_LOOKUPResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_PHONE">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PHONE_NUMBER" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_PHONEResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_PHONEResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_AGENCY_ID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AGENCY_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EMPLOYEE_LOOKUP_BY_AGENCY_IDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EMPLOYEE_LOOKUP_BY_AGENCY_IDResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GET_CITY_AGENCY_LIST">
            <s:complexType/>
         </s:element>
         <s:element name="GET_CITY_AGENCY_LISTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GET_CITY_AGENCY_LISTResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_NAMESoapIn">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_NAME"/>
  </wsdl:message>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_NAMESoapOut">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_NAMEResponse"/>
  </wsdl:message>
  <wsdl:message name="PHONETIC_EMPLOYEE_NAME_LOOKUPSoapIn">
      <wsdl:part name="parameters" element="tns:PHONETIC_EMPLOYEE_NAME_LOOKUP"/>
  </wsdl:message>
  <wsdl:message name="PHONETIC_EMPLOYEE_NAME_LOOKUPSoapOut">
      <wsdl:part name="parameters" element="tns:PHONETIC_EMPLOYEE_NAME_LOOKUPResponse"/>
  </wsdl:message>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_PHONESoapIn">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_PHONE"/>
  </wsdl:message>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_PHONESoapOut">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_PHONEResponse"/>
  </wsdl:message>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_AGENCY_IDSoapIn">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_AGENCY_ID"/>
  </wsdl:message>
  <wsdl:message name="EMPLOYEE_LOOKUP_BY_AGENCY_IDSoapOut">
      <wsdl:part name="parameters" element="tns:EMPLOYEE_LOOKUP_BY_AGENCY_IDResponse"/>
  </wsdl:message>
  <wsdl:message name="GET_CITY_AGENCY_LISTSoapIn">
      <wsdl:part name="parameters" element="tns:GET_CITY_AGENCY_LIST"/>
  </wsdl:message>
  <wsdl:message name="GET_CITY_AGENCY_LISTSoapOut">
      <wsdl:part name="parameters" element="tns:GET_CITY_AGENCY_LISTResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="DIRECTORY_SEARCHESSoap" type="tns:DIRECTORY_SEARCHESSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="EMPLOYEE_LOOKUP_BY_NAME">
         <soap:operation soapAction="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES/EMPLOYEE_LOOKUP_BY_NAME"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PHONETIC_EMPLOYEE_NAME_LOOKUP">
         <soap:operation soapAction="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES/PHONETIC_EMPLOYEE_NAME_LOOKUP"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EMPLOYEE_LOOKUP_BY_PHONE">
         <soap:operation soapAction="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES/EMPLOYEE_LOOKUP_BY_PHONE"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EMPLOYEE_LOOKUP_BY_AGENCY_ID">
         <soap:operation soapAction="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES/EMPLOYEE_LOOKUP_BY_AGENCY_ID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GET_CITY_AGENCY_LIST">
         <soap:operation soapAction="http://mission.sfgov.org/INtranetDirectory/DIRECTORY_SEARCHES/GET_CITY_AGENCY_LIST"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DIRECTORY_SEARCHES">
      <wsdl:documentation>SFGov Telephone Directory Search - Web Service</wsdl:documentation>
      <wsdl:port name="DIRECTORY_SEARCHESSoap" binding="tns:DIRECTORY_SEARCHESSoap">
         <soap:address location="http://ws.soatrader.com/sfgov.org/0.1/DIRECTORY_SEARCHES"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>