wsdl_repositories/soatrader_900/DOTSPhoneAppend.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.serviceobjects.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.serviceobjects.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
         <s:element name="GetPhoneAppend">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPhoneAppendResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPhoneAppendResult" type="tns:PhoneInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="PhoneInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="tns:Contacts"/>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:DOTSError"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Contacts">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" type="tns:Contact"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Contact">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="DOTSError">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Critical" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetBusinessPhoneAppend">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBusinessPhoneAppendResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBusinessPhoneAppendResult"
                             type="tns:PhoneInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PhoneInfo" nillable="true" type="tns:PhoneInfo"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPhoneAppendSoapIn">
      <wsdl:part name="parameters" element="tns:GetPhoneAppend"/>
  </wsdl:message>
  <wsdl:message name="GetPhoneAppendSoapOut">
      <wsdl:part name="parameters" element="tns:GetPhoneAppendResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendSoapIn">
      <wsdl:part name="parameters" element="tns:GetBusinessPhoneAppend"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendSoapOut">
      <wsdl:part name="parameters" element="tns:GetBusinessPhoneAppendResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPhoneAppendHttpGetIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPhoneAppendHttpGetOut">
      <wsdl:part name="Body" element="tns:PhoneInfo"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendHttpGetIn">
      <wsdl:part name="BusinessName" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendHttpGetOut">
      <wsdl:part name="Body" element="tns:PhoneInfo"/>
  </wsdl:message>
  <wsdl:message name="GetPhoneAppendHttpPostIn">
      <wsdl:part name="FirstName" type="s:string"/>
      <wsdl:part name="LastName" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPhoneAppendHttpPostOut">
      <wsdl:part name="Body" element="tns:PhoneInfo"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendHttpPostIn">
      <wsdl:part name="BusinessName" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessPhoneAppendHttpPostOut">
      <wsdl:part name="Body" element="tns:PhoneInfo"/>
  </wsdl:message>
  <wsdl:portType name="DOTSPhoneAppendSoap">
      <wsdl:operation name="GetPhoneAppend">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the phone number for a given address and Name. All parameters are optional.</documentation>
         <wsdl:input message="tns:GetPhoneAppendSoapIn"/>
         <wsdl:output message="tns:GetPhoneAppendSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBusinessPhoneAppend">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the phone number for a business given the name and address. All parameters are optional.</documentation>
         <wsdl:input message="tns:GetBusinessPhoneAppendSoapIn"/>
         <wsdl:output message="tns:GetBusinessPhoneAppendSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="DOTSPhoneAppendSoap" type="tns:DOTSPhoneAppendSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetPhoneAppend">
         <soap:operation soapAction="http://www.serviceobjects.com/GetPhoneAppend" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBusinessPhoneAppend">
         <soap:operation soapAction="http://www.serviceobjects.com/GetBusinessPhoneAppend"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="DOTSPhoneAppend">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
      <wsdl:port name="DOTSPhoneAppendSoap" binding="tns:DOTSPhoneAppendSoap">
         <soap:address location="http://ws.soatrader.com/serviceobjects.com/0.2/DOTSPhoneAppend"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>