wsdl_repositories/soatrader_900/DROIDServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://pluto.researchstudio.at/ibpm/DROIDService.jws"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://pluto.researchstudio.at/ibpm/DROIDService.jws"
                  xmlns:intf="http://pluto.researchstudio.at/ibpm/DROIDService.jws"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://pluto.researchstudio.at/ibpm/DROIDService.jws">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="addRequest">

      <wsdl:part name="a" type="xsd:int"/>

      <wsdl:part name="b" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="identifyFormatRequest">

      <wsdl:part name="s" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="identifyFormatResponse">

      <wsdl:part name="identifyFormatReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="DROIDService">

      <wsdl:operation name="identifyFormat" parameterOrder="s">

         <wsdl:input message="impl:identifyFormatRequest" name="identifyFormatRequest"/>

         <wsdl:output message="impl:identifyFormatResponse" name="identifyFormatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="a b">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DROIDServiceSoapBinding" type="impl:DROIDService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="identifyFormat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyFormatRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyFormatResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://pluto.researchstudio.at/ibpm/DROIDService.jws"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://DefaultNamespace"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://pluto.researchstudio.at/ibpm/DROIDService.jws"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DROIDServiceService">

      <wsdl:port binding="impl:DROIDServiceSoapBinding" name="DROIDService">

         <wsdlsoap:address location="http://ws.soatrader.com/researchstudio.at/0.1/DROIDServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>