wsdl_repositories/soatrader_900/fi.hut.dialog.server.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.themindelectric.com/wsdl/fi.hut.dialog.server.LocationUpdateSOAPService/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tme="http://www.themindelectric.com/"
             name="fi.hut.dialog.server.LocationUpdateSOAPService"
             targetNamespace="http://www.themindelectric.com/wsdl/fi.hut.dialog.server.LocationUpdateSOAPService/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <message name="passLocationUpdate0In">
      <part name="arg0" type="xsd:anyType"/>
  </message>
  <message name="passLocationUpdate0Out">
      <part name="Result" type="xsd:string"/>
  </message>
  <portType name="fi.hut.dialog.server.LocationUpdateSOAPService">
      <operation name="passLocationUpdate" parameterOrder="arg0">
         <input name="passLocationUpdate0In" message="tns:passLocationUpdate0In"/>
         <output name="passLocationUpdate0Out" message="tns:passLocationUpdate0Out"/>
      </operation>
  </portType>
  <binding name="fi.hut.dialog.server.LocationUpdateSOAPService"
            type="tns:fi.hut.dialog.server.LocationUpdateSOAPService">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="passLocationUpdate">
         <soap:operation soapAction="passLocationUpdate" style="rpc"/>
         <input name="passLocationUpdate0In">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded"
                       namespace="http://tempuri.org/fi.hut.dialog.server.LocationUpdateSOAPService"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output name="passLocationUpdate0Out">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded"
                       namespace="http://tempuri.org/fi.hut.dialog.server.LocationUpdateSOAPService"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
  </binding>
  <service name="fi.hut.dialog.server.LocationUpdateSOAPService">
      <port name="fi.hut.dialog.server.LocationUpdateSOAPService"
            binding="tns:fi.hut.dialog.server.LocationUpdateSOAPService">
         <soap:address location="http://ws.soatrader.com/hut.fi/0.1/fi.hut.dialog.server.LocationUpdateSOAPService"/>
      </port>
  </service>
</definitions>