wsdl_repositories/soatrader_900/Files.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.acrosscommunications.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.acrosscommunications.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.acrosscommunications.com/">
         <s:element name="CreateFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strFilesID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDescription" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="byteArrayData" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateFileResponse">
            <s:complexType/>
         </s:element>
         <s:element name="CreateFileFromWeb">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateFileFromWebResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetFirstFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strFilesID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFirstFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFirstFileResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strFilesID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNextFileResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strFilesID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFileResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strFilesID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteFileResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateFileSoapIn">
      <wsdl:part name="parameters" element="tns:CreateFile"/>
  </wsdl:message>
  <wsdl:message name="CreateFileSoapOut">
      <wsdl:part name="parameters" element="tns:CreateFileResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateFileFromWebSoapIn">
      <wsdl:part name="parameters" element="tns:CreateFileFromWeb"/>
  </wsdl:message>
  <wsdl:message name="CreateFileFromWebSoapOut">
      <wsdl:part name="parameters" element="tns:CreateFileFromWebResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFirstFileSoapIn">
      <wsdl:part name="parameters" element="tns:GetFirstFile"/>
  </wsdl:message>
  <wsdl:message name="GetFirstFileSoapOut">
      <wsdl:part name="parameters" element="tns:GetFirstFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNextFileSoapIn">
      <wsdl:part name="parameters" element="tns:GetNextFile"/>
  </wsdl:message>
  <wsdl:message name="GetNextFileSoapOut">
      <wsdl:part name="parameters" element="tns:GetNextFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFileSoapIn">
      <wsdl:part name="parameters" element="tns:GetFile"/>
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
      <wsdl:part name="parameters" element="tns:GetFileResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteFile"/>
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteFileResponse"/>
  </wsdl:message>
  <wsdl:portType name="FilesSoap">
      <wsdl:operation name="CreateFile">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Creating user file from byte array.</documentation>
         <wsdl:input message="tns:CreateFileSoapIn"/>
         <wsdl:output message="tns:CreateFileSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateFileFromWeb">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Download user file by http url.</documentation>
         <wsdl:input message="tns:CreateFileFromWebSoapIn"/>
         <wsdl:output message="tns:CreateFileFromWebSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFirstFile">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get first file name from user file directory.</documentation>
         <wsdl:input message="tns:GetFirstFileSoapIn"/>
         <wsdl:output message="tns:GetFirstFileSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetNextFile">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get next file name from user file directory.</documentation>
         <wsdl:input message="tns:GetNextFileSoapIn"/>
         <wsdl:output message="tns:GetNextFileSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFile">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get file data as a byte array.</documentation>
         <wsdl:input message="tns:GetFileSoapIn"/>
         <wsdl:output message="tns:GetFileSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteFile">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete file from user file directory.</documentation>
         <wsdl:input message="tns:DeleteFileSoapIn"/>
         <wsdl:output message="tns:DeleteFileSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilesSoap" type="tns:FilesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="CreateFile">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateFileFromWeb">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateFileFromWeb"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFirstFile">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetFirstFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetNextFile">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetNextFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFile">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteFile">
         <soap:operation soapAction="http://ws.acrosscommunications.com/DeleteFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Files">
      <wsdl:port name="FilesSoap" binding="tns:FilesSoap">
         <soap:address location="http://ws.soatrader.com/acrosscommunications.com/0.1/Files"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>