wsdl_repositories/soatrader_900/FindLD.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.esri.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.esri.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Find Land Description</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.esri.com/">
         <s:element name="LDToGeoRSS3">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSS3Response">
            <s:complexType/>
         </s:element>
         <s:element name="LDToGeoRSS2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSS2Response">
            <s:complexType/>
         </s:element>
         <s:element name="LDToGeoRSS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LDToGeoRSSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindLD">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LegalDescription" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PolygonFormat" type="tns:ePolygonFormat"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="ePolygonFormat">
            <s:restriction base="s:string">
               <s:enumeration value="ePolygons"/>
               <s:enumeration value="eVertices"/>
               <s:enumeration value="eGeoRSS"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="FindLDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="LDResult" nillable="true" type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="CompletionStatus" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Polygons" type="tns:ArrayOfString"/>
               <s:element minOccurs="0" maxOccurs="1" name="LegalDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="LDResult" nillable="true" type="tns:Result"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.esri.com/">
         <s:element name="LDToGeoRSS3">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSS3Response">
            <s:complexType/>
         </s:element>
         <s:element name="LDToGeoRSS2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSS2Response">
            <s:complexType/>
         </s:element>
         <s:element name="LDToGeoRSS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LandDescription" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LDToGeoRSSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LDToGeoRSSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindLD">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LegalDescription" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PolygonFormat" type="tns:ePolygonFormat"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="ePolygonFormat">
            <s:restriction base="s:string">
               <s:enumeration value="ePolygons"/>
               <s:enumeration value="eVertices"/>
               <s:enumeration value="eGeoRSS"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="FindLDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="LDResult" nillable="true" type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="CompletionStatus" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Polygons" type="tns:ArrayOfString"/>
               <s:element minOccurs="0" maxOccurs="1" name="LegalDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="LDResult" nillable="true" type="tns:Result"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LDToGeoRSS3SoapIn">
      <wsdl:part name="parameters" element="tns:LDToGeoRSS3"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS3SoapOut">
      <wsdl:part name="parameters" element="tns:LDToGeoRSS3Response"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS2SoapIn">
      <wsdl:part name="parameters" element="tns:LDToGeoRSS2"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS2SoapOut">
      <wsdl:part name="parameters" element="tns:LDToGeoRSS2Response"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSSSoapIn">
      <wsdl:part name="parameters" element="tns:LDToGeoRSS"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSSSoapOut">
      <wsdl:part name="parameters" element="tns:LDToGeoRSSResponse"/>
  </wsdl:message>
  <wsdl:message name="FindLDSoapIn">
      <wsdl:part name="parameters" element="tns:FindLD"/>
  </wsdl:message>
  <wsdl:message name="FindLDSoapOut">
      <wsdl:part name="parameters" element="tns:FindLDResponse"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS3HttpGetIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS3HttpGetOut"/>
  <wsdl:message name="LDToGeoRSS2HttpGetIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS2HttpGetOut"/>
  <wsdl:message name="LDToGeoRSSHttpGetIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindLDHttpGetIn">
      <wsdl:part name="LegalDescription" type="s:string"/>
      <wsdl:part name="PolygonFormat" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindLDHttpGetOut">
      <wsdl:part name="Body" element="tns:LDResult"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS3HttpPostIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS3HttpPostOut"/>
  <wsdl:message name="LDToGeoRSS2HttpPostIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSS2HttpPostOut"/>
  <wsdl:message name="LDToGeoRSSHttpPostIn">
      <wsdl:part name="LandDescription" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LDToGeoRSSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindLDHttpPostIn">
      <wsdl:part name="LegalDescription" type="s:string"/>
      <wsdl:part name="PolygonFormat" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindLDHttpPostOut">
      <wsdl:part name="Body" element="tns:LDResult"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="FindLDSoap" type="tns:FindLDSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="LDToGeoRSS3">
         <soap:operation soapAction="http://www.esri.com/LDToGeoRSS3" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LDToGeoRSS2">
         <soap:operation soapAction="http://www.esri.com/LDToGeoRSS2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LDToGeoRSS">
         <soap:operation soapAction="http://www.esri.com/LDToGeoRSS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindLD">
         <soap:operation soapAction="http://www.esri.com/FindLD" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="FindLD">
      <wsdl:documentation>Find Land Description</wsdl:documentation>
      <wsdl:port name="FindLDSoap" binding="tns:FindLDSoap">
         <soap:address location="http://ws.soatrader.com/geocommunicator.gov/0.1/FindLD"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>