wsdl_repositories/soatrader_900/FlashRemoting.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://traveloregon.proof.opusi.net/FlashRemoting"
                  xmlns:s1="http://microsoft.com/wsdl/types/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://traveloregon.proof.opusi.net/FlashRemoting">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://traveloregon.proof.opusi.net/FlashRemoting">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="GetPOIByScString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="scGuidStr" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPOIByScStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPOIByScStringResult" type="tns:POIObj"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="POIObj">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="poiId" type="s1:guid"/>
               <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingCopy" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="addr1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addr2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phone1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phone2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="web" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="exact" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="pageUrl" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isBounty" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetPOIBySCGuid">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="scGuid" type="s1:guid"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPOIBySCGuidResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPOIBySCGuidResult" type="tns:POIObj"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="POIObj" nillable="true" type="tns:POIObj"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://traveloregon.proof.opusi.net/FlashRemoting">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="GetPOIByScString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="scGuidStr" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPOIByScStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPOIByScStringResult" type="tns:POIObj"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="POIObj">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="poiId" type="s1:guid"/>
               <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingCopy" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="addr1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addr2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phone1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phone2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="web" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="lon" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="exact" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="pageUrl" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isBounty" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetPOIBySCGuid">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="scGuid" type="s1:guid"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPOIBySCGuidResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPOIBySCGuidResult" type="tns:POIObj"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="POIObj" nillable="true" type="tns:POIObj"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="guid">
            <s:restriction base="s:string">
               <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="guid">
            <s:restriction base="s:string">
               <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPOIByScStringSoapIn">
      <wsdl:part name="parameters" element="tns:GetPOIByScString"/>
  </wsdl:message>
  <wsdl:message name="GetPOIByScStringSoapOut">
      <wsdl:part name="parameters" element="tns:GetPOIByScStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPOIBySCGuidSoapIn">
      <wsdl:part name="parameters" element="tns:GetPOIBySCGuid"/>
  </wsdl:message>
  <wsdl:message name="GetPOIBySCGuidSoapOut">
      <wsdl:part name="parameters" element="tns:GetPOIBySCGuidResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPOIByScStringHttpPostIn">
      <wsdl:part name="scGuidStr" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPOIByScStringHttpPostOut">
      <wsdl:part name="Body" element="tns:POIObj"/>
  </wsdl:message>
  
  
  <wsdl:binding name="FlashRemotingSoap" type="tns:FlashRemotingSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetPOIByScString">
         <soap:operation soapAction="http://traveloregon.proof.opusi.net/FlashRemoting/GetPOIByScString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPOIBySCGuid">
         <soap:operation soapAction="http://traveloregon.proof.opusi.net/FlashRemoting/GetPOIBySCGuid"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="FlashRemoting">
      <wsdl:port name="FlashRemotingSoap" binding="tns:FlashRemotingSoap">
         <soap:address location="http://ws.soatrader.com/traveloregon.com/0.1/FlashRemoting"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>