wsdl_repositories/soatrader_900/FlightInformation.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://webservices.galileo.com/FlightInformation"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://webservices.galileo.com/FlightInformation"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://webservices.galileo.com/FlightInformation">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.galileo.com/FlightInformation">
            <s:element name="GetInformation">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GalileoProfile" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ApolloProfile" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="xmlRequest">
                            <s:complexType>
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInformationResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInformationResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.galileo.com/FlightInformation">
            <s:element name="GetInformation">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GalileoProfile" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ApolloProfile" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="xmlRequest">
                            <s:complexType>
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInformationResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInformationResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="GetInformationSoapIn">
        <part name="parameters" element="s0:GetInformation"/>
    </message>
    <message name="GetInformationSoapOut">
        <part name="parameters" element="s0:GetInformationResponse"/>
    </message>
    <portType name="FlightInformationSoap">
        <operation name="GetInformation">
            <input message="s0:GetInformationSoapIn"/>
            <output message="s0:GetInformationSoapOut"/>
        </operation>
    </portType>

    <binding name="FlightInformationSoap" type="s0:FlightInformationSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetInformation">
            <soap:operation soapAction="http://webservices.galileo.com/FlightInformation/GetInformation"
                         style="document"/>
            <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="FlightInformation">
        <documentation>Galileo Flight Information Web Service</documentation>
        <port name="FlightInformationSoap" binding="s0:FlightInformationSoap">
			      <soap:address location="http://ws.soatrader.com/cendant.com/0.1/FlightInformation"/>
        </port>
    </service>
	
</definitions>