wsdl_repositories/soatrader_900/Flight.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservice.e1000e.com"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservice.e1000e.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.e1000e.com">
         <s:element name="SearchFlight">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight4">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight4Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlight4Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightOriginal">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightOriginalResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightOriginalResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RTPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRxml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRxmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RTPNRxmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreatPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="XEPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="XEPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XEPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRSeg">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRSegResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditPNRSegResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRDeleteItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRDeleteItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditPNRDeleteItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetTicketResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketByPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketByPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetTicketByPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightTYPT">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightTYPTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightTYPTResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PnrCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrToOrder">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrToOrderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PnrToOrderResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FD">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FF">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FFResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FFResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight_world">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight_worldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlight_worldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.e1000e.com">
         <s:element name="SearchFlight">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight4">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight4Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlight4Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightOriginal">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightOriginalResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightOriginalResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RTPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRxml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RTPNRxmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RTPNRxmlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreatPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="XEPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="XEPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XEPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRSeg">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRSegResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditPNRSegResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRDeleteItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditPNRDeleteItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditPNRDeleteItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetTicketResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketByPNR">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketByPNRResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetTicketByPNRResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightTYPT">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlightTYPTResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlightTYPTResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PnrCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrToOrder">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PnrToOrderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PnrToOrderResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FD">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FF">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FFResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FFResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight_world">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FlightXML" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchFlight_worldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchFlight_worldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchFlightSoapIn">
      <wsdl:part name="parameters" element="tns:SearchFlight"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightSoapOut">
      <wsdl:part name="parameters" element="tns:SearchFlightResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4SoapIn">
      <wsdl:part name="parameters" element="tns:SearchFlight4"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4SoapOut">
      <wsdl:part name="parameters" element="tns:SearchFlight4Response"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalSoapIn">
      <wsdl:part name="parameters" element="tns:SearchFlightOriginal"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalSoapOut">
      <wsdl:part name="parameters" element="tns:SearchFlightOriginalResponse"/>
  </wsdl:message>
  <wsdl:message name="RTPNRSoapIn">
      <wsdl:part name="parameters" element="tns:RTPNR"/>
  </wsdl:message>
  <wsdl:message name="RTPNRSoapOut">
      <wsdl:part name="parameters" element="tns:RTPNRResponse"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlSoapIn">
      <wsdl:part name="parameters" element="tns:RTPNRxml"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlSoapOut">
      <wsdl:part name="parameters" element="tns:RTPNRxmlResponse"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRSoapIn">
      <wsdl:part name="parameters" element="tns:CreatPNR"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRSoapOut">
      <wsdl:part name="parameters" element="tns:CreatPNRResponse"/>
  </wsdl:message>
  <wsdl:message name="XEPNRSoapIn">
      <wsdl:part name="parameters" element="tns:XEPNR"/>
  </wsdl:message>
  <wsdl:message name="XEPNRSoapOut">
      <wsdl:part name="parameters" element="tns:XEPNRResponse"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegSoapIn">
      <wsdl:part name="parameters" element="tns:EditPNRSeg"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegSoapOut">
      <wsdl:part name="parameters" element="tns:EditPNRSegResponse"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemSoapIn">
      <wsdl:part name="parameters" element="tns:EditPNRDeleteItem"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemSoapOut">
      <wsdl:part name="parameters" element="tns:EditPNRDeleteItemResponse"/>
  </wsdl:message>
  <wsdl:message name="SetTicketSoapIn">
      <wsdl:part name="parameters" element="tns:SetTicket"/>
  </wsdl:message>
  <wsdl:message name="SetTicketSoapOut">
      <wsdl:part name="parameters" element="tns:SetTicketResponse"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRSoapIn">
      <wsdl:part name="parameters" element="tns:SetTicketByPNR"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRSoapOut">
      <wsdl:part name="parameters" element="tns:SetTicketByPNRResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTSoapIn">
      <wsdl:part name="parameters" element="tns:SearchFlightTYPT"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTSoapOut">
      <wsdl:part name="parameters" element="tns:SearchFlightTYPTResponse"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckSoapIn">
      <wsdl:part name="parameters" element="tns:PnrCheck"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckSoapOut">
      <wsdl:part name="parameters" element="tns:PnrCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderSoapIn">
      <wsdl:part name="parameters" element="tns:PnrToOrder"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderSoapOut">
      <wsdl:part name="parameters" element="tns:PnrToOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="FDSoapIn">
      <wsdl:part name="parameters" element="tns:FD"/>
  </wsdl:message>
  <wsdl:message name="FDSoapOut">
      <wsdl:part name="parameters" element="tns:FDResponse"/>
  </wsdl:message>
  <wsdl:message name="FFSoapIn">
      <wsdl:part name="parameters" element="tns:FF"/>
  </wsdl:message>
  <wsdl:message name="FFSoapOut">
      <wsdl:part name="parameters" element="tns:FFResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldSoapIn">
      <wsdl:part name="parameters" element="tns:SearchFlight_world"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldSoapOut">
      <wsdl:part name="parameters" element="tns:SearchFlight_worldResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4HttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4HttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="XEPNRHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="XEPNRHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FDHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FFHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FFHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldHttpGetIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4HttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight4HttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightOriginalHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RTPNRxmlHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreatPNRHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="XEPNRHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="XEPNRHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRSegHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditPNRDeleteItemHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetTicketByPNRHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlightTYPTHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PnrCheckHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PnrToOrderHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FDHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FFHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FFHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldHttpPostIn">
      <wsdl:part name="FlightXML" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchFlight_worldHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="FlightSoap" type="tns:FlightSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SearchFlight">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchFlight" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchFlight4">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchFlight4" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchFlightOriginal">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchFlightOriginal" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RTPNR">
         <soap:operation soapAction="http://webservice.e1000e.com/RTPNR" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RTPNRxml">
         <soap:operation soapAction="http://webservice.e1000e.com/RTPNRxml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreatPNR">
         <soap:operation soapAction="http://webservice.e1000e.com/CreatPNR" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="XEPNR">
         <soap:operation soapAction="http://webservice.e1000e.com/XEPNR" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditPNRSeg">
         <soap:operation soapAction="http://webservice.e1000e.com/EditPNRSeg" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditPNRDeleteItem">
         <soap:operation soapAction="http://webservice.e1000e.com/EditPNRDeleteItem" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetTicket">
         <soap:operation soapAction="http://webservice.e1000e.com/SetTicket" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetTicketByPNR">
         <soap:operation soapAction="http://webservice.e1000e.com/SetTicketByPNR" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchFlightTYPT">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchFlightTYPT" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PnrCheck">
         <soap:operation soapAction="http://webservice.e1000e.com/PnrCheck" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PnrToOrder">
         <soap:operation soapAction="http://webservice.e1000e.com/PnrToOrder" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FD">
         <soap:operation soapAction="http://webservice.e1000e.com/FD" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FF">
         <soap:operation soapAction="http://webservice.e1000e.com/FF" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchFlight_world">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchFlight_world" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Flight">
      <wsdl:port name="FlightSoap" binding="tns:FlightSoap">
         <soap:address location="http://ws.soatrader.com/e1000e.com/0.1/Flight"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>