wsdl_repositories/soatrader_900/GCMD.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:s3="http://www.cuahsi.org/waterML/1.0/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.cuahsi.org/"
                  xmlns:s1="http://www.cuahsi.org/wmlf"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:s2="http://www.opengis.net/gml"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.cuahsi.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/">
         <s:import namespace="http://www.cuahsi.org/wmlf"/>
         <s:import namespace="http://www.cuahsi.org/waterML/1.0/"/>
         <s:element name="GetKeywords">
            <s:complexType/>
         </s:element>
         <s:element name="GetKeywordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetKeywordsResult" type="tns:Vocabulary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Vocabulary">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Element" type="tns:ArrayOfString"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetStations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SouthBoundLatitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WestBoundLongitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NorthBoundLatitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EastBoundLongitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:StationCollection"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StationCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetValuesResult"
                             type="tns:ArrayOfTimeSeriesResponseType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfTimeSeriesResponseType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesResponseType"
                          nillable="true"
                          type="s3:TimeSeriesResponseType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/">
         <s:import namespace="http://www.cuahsi.org/wmlf"/>
         <s:import namespace="http://www.cuahsi.org/waterML/1.0/"/>
         <s:element name="GetKeywords">
            <s:complexType/>
         </s:element>
         <s:element name="GetKeywordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetKeywordsResult" type="tns:Vocabulary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Vocabulary">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Element" type="tns:ArrayOfString"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetStations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SouthBoundLatitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WestBoundLongitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NorthBoundLatitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EastBoundLongitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:StationCollection"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StationCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetValuesResult"
                             type="tns:ArrayOfTimeSeriesResponseType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfTimeSeriesResponseType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesResponseType"
                          nillable="true"
                          type="s3:TimeSeriesResponseType"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/wmlf">
         <s:import namespace="http://www.opengis.net/gml"/>
         <s:element name="StationCollection" type="s1:StationCollectionType"/>
         <s:complexType name="StationCollectionType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:boundedBy"/>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:featureMembers"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfStationType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Station" type="s1:StationType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="StationType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:location"/>
               <s:element minOccurs="0" maxOccurs="1" name="stationID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="organization" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.cuahsi.org/wmlf">
         <s:import namespace="http://www.opengis.net/gml"/>
         <s:element name="StationCollection" type="s1:StationCollectionType"/>
         <s:complexType name="StationCollectionType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:boundedBy"/>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:featureMembers"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfStationType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Station" type="s1:StationType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="StationType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" ref="s2:location"/>
               <s:element minOccurs="0" maxOccurs="1" name="stationID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="organization" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.opengis.net/gml">
         <s:import namespace="http://www.cuahsi.org/wmlf"/>
         <s:element name="boundedBy" type="s2:BoundingShapeType"/>
         <s:complexType name="BoundingShapeType">
            <s:sequence>
               <s:choice minOccurs="1" maxOccurs="1">
                  <s:element minOccurs="0" maxOccurs="1" name="Envelope" type="s2:EnvelopeType"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EnvelopeWithTimePeriod"
                             type="s2:EnvelopeWithTimePeriodType"/>
               </s:choice>
            </s:sequence>
         </s:complexType>
         <s:complexType name="EnvelopeType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="lowerCorner" type="s2:DirectPositionType"/>
               <s:element minOccurs="0" maxOccurs="1" name="upperCorner" type="s2:DirectPositionType"/>
            </s:sequence>
            <s:attribute name="srsName" type="s:anyURI"/>
         </s:complexType>
         <s:complexType name="DirectPositionType">
            <s:simpleContent>
               <s:extension base="s:string">
                  <s:attribute name="srsName" type="s:anyURI"/>
                  <s:attribute name="srsDimension" type="s:positiveInteger"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:complexType name="EnvelopeWithTimePeriodType">
            <s:complexContent mixed="false">
               <s:extension base="s2:EnvelopeType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="timePosition"
                                type="s2:TimePositionType"/>
                  </s:sequence>
                  <s:attribute default="#ISO-8601" name="frame" type="s:anyURI"/>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="TimePositionType">
            <s:simpleContent>
               <s:extension base="s:dateTime">
                  <s:attribute name="indeterminatePosition" type="s:string"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:element name="featureMembers" type="s1:ArrayOfStationType"/>
         <s:element name="location" type="s2:LocationPropertyType"/>
         <s:complexType name="LocationPropertyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Point" type="s2:PointType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PointType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="pos" type="s:string"/>
            </s:sequence>
            <s:attribute name="srsName" type="s:anyURI"/>
            <s:attribute name="srsDimension" type="s:positiveInteger"/>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.opengis.net/gml">
         <s:import namespace="http://www.cuahsi.org/wmlf"/>
         <s:element name="boundedBy" type="s2:BoundingShapeType"/>
         <s:complexType name="BoundingShapeType">
            <s:sequence>
               <s:choice minOccurs="1" maxOccurs="1">
                  <s:element minOccurs="0" maxOccurs="1" name="Envelope" type="s2:EnvelopeType"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EnvelopeWithTimePeriod"
                             type="s2:EnvelopeWithTimePeriodType"/>
               </s:choice>
            </s:sequence>
         </s:complexType>
         <s:complexType name="EnvelopeType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="lowerCorner" type="s2:DirectPositionType"/>
               <s:element minOccurs="0" maxOccurs="1" name="upperCorner" type="s2:DirectPositionType"/>
            </s:sequence>
            <s:attribute name="srsName" type="s:anyURI"/>
         </s:complexType>
         <s:complexType name="DirectPositionType">
            <s:simpleContent>
               <s:extension base="s:string">
                  <s:attribute name="srsName" type="s:anyURI"/>
                  <s:attribute name="srsDimension" type="s:positiveInteger"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:complexType name="EnvelopeWithTimePeriodType">
            <s:complexContent mixed="false">
               <s:extension base="s2:EnvelopeType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="timePosition"
                                type="s2:TimePositionType"/>
                  </s:sequence>
                  <s:attribute default="#ISO-8601" name="frame" type="s:anyURI"/>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="TimePositionType">
            <s:simpleContent>
               <s:extension base="s:dateTime">
                  <s:attribute name="indeterminatePosition" type="s:string"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:element name="featureMembers" type="s1:ArrayOfStationType"/>
         <s:element name="location" type="s2:LocationPropertyType"/>
         <s:complexType name="LocationPropertyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Point" type="s2:PointType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="PointType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="pos" type="s:string"/>
            </s:sequence>
            <s:attribute name="srsName" type="s:anyURI"/>
            <s:attribute name="srsDimension" type="s:positiveInteger"/>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.cuahsi.org/waterML/1.0/">
         <s:complexType name="TimeSeriesResponseType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="queryInfo" type="s3:QueryInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeSeries" type="s3:TimeSeriesType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="QueryInfoType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="creationTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="querySQL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="criteria">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="locationParam" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="variableParam" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="timeParam">
                           <s:complexType>
                              <s:sequence>
                                 <s:element minOccurs="0" maxOccurs="1" name="beginDateTime" type="s:string"/>
                                 <s:element minOccurs="0" maxOccurs="1" name="endDateTime" type="s:string"/>
                              </s:sequence>
                           </s:complexType>
                        </s:element>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="type" type="s:string"/>
                           <s:attribute name="href" type="s:string"/>
                           <s:attribute name="title" type="s:string"/>
                           <s:attribute name="show" type="s:string"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="extension"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="TimeSeriesType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="sourceInfo" type="s3:SourceInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="variable" type="s3:VariableInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="values" type="s3:TsValuesSingleVariableType"/>
            </s:sequence>
            <s:attribute name="name" type="s:string"/>
         </s:complexType>
         <s:complexType name="SourceInfoType"/>
         <s:complexType name="SiteInfoType">
            <s:complexContent mixed="false">
               <s:extension base="s3:SourceInfoType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="siteCode">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="defaultId" type="s:boolean"/>
                                 <s:attribute name="network" type="s:normalizedString"/>
                                 <s:attribute name="siteID" type="s:normalizedString"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="1" maxOccurs="1" name="defaultTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                              <s:element minOccurs="1" maxOccurs="1" name="daylightSavingsTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="geoLocation">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="geogLocation" type="s3:GeogLocationType"/>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="localSiteXY">
                                 <s:complexType>
                                    <s:sequence>
                                       <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
                                       <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
                                       <s:element minOccurs="1" maxOccurs="1" name="Z" type="s:double"/>
                                       <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                                          <s:complexType>
                                             <s:simpleContent>
                                                <s:extension base="s:string">
                                                   <s:attribute name="type" type="s:string"/>
                                                   <s:attribute name="href" type="s:string"/>
                                                   <s:attribute name="title" type="s:string"/>
                                                   <s:attribute name="show" type="s:string"/>
                                                </s:extension>
                                             </s:simpleContent>
                                          </s:complexType>
                                       </s:element>
                                    </s:sequence>
                                    <s:attribute name="projectionInformation" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="type" type="s:string"/>
                                 <s:attribute name="href" type="s:string"/>
                                 <s:attribute name="title" type="s:string"/>
                                 <s:attribute name="show" type="s:string"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="extension"/>
                  </s:sequence>
                  <s:attribute name="oid" type="s:normalizedString"/>
                  <s:attribute name="metadataDateTime" type="s:dateTime"/>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="GeogLocationType">
            <s:attribute default="EPSG:4326" name="srs" type="s:string"/>
         </s:complexType>
         <s:complexType name="LatLonBoxType">
            <s:complexContent mixed="false">
               <s:extension base="s3:GeogLocationType">
                  <s:sequence>
                     <s:element minOccurs="1" maxOccurs="1" name="south" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="west" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="north" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="east" type="s:double"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="LatLonPointType">
            <s:complexContent mixed="false">
               <s:extension base="s3:GeogLocationType">
                  <s:sequence>
                     <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="DataSetInfoType">
            <s:complexContent mixed="false">
               <s:extension base="s3:SourceInfoType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetIdentifier" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="1" maxOccurs="1" name="defaultTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                              <s:element minOccurs="1" maxOccurs="1" name="daylightSavingsTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetDescription" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="type" type="s:string"/>
                                 <s:attribute name="href" type="s:string"/>
                                 <s:attribute name="title" type="s:string"/>
                                 <s:attribute name="show" type="s:string"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetLocation" type="s3:GeogLocationType"/>
                     <s:element minOccurs="0" maxOccurs="1" name="extension"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="VariableInfoType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="variableCode">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:token">
                           <s:attribute name="network" type="s:string"/>
                           <s:attribute name="vocabulary" type="s:string"/>
                           <s:attribute name="default" type="s:boolean"/>
                           <s:attribute name="variableID" type="s:integer"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="variableName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="variableDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s3:valueTypeEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="generalCategory"
                          type="s3:generalCategoryEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s3:SampleMediumEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="units">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="unitsAbbreviation" type="s:normalizedString"/>
                           <s:attribute name="unitsCode" type="s:token"/>
                           <s:attribute name="unitsType" type="s3:UnitsTypeEnum"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="options" type="s3:ArrayOfOption"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="type" type="s:string"/>
                           <s:attribute name="href" type="s:string"/>
                           <s:attribute name="title" type="s:string"/>
                           <s:attribute name="show" type="s:string"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="related">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="parentID">
                           <s:complexType>
                              <s:simpleContent>
                                 <s:extension base="s:string">
                                    <s:attribute name="network" type="s:string"/>
                                    <s:attribute name="vocabulary" type="s:string"/>
                                    <s:attribute name="default" type="s:boolean"/>
                                 </s:extension>
                              </s:simpleContent>
                           </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="relatedID">
                           <s:complexType>
                              <s:simpleContent>
                                 <s:extension base="s:string">
                                    <s:attribute name="network" type="s:string"/>
                                    <s:attribute name="vocabulary" type="s:string"/>
                                    <s:attribute name="default" type="s:boolean"/>
                                 </s:extension>
                              </s:simpleContent>
                           </s:complexType>
                        </s:element>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="extension"/>
            </s:sequence>
            <s:attribute name="oid" type="s:normalizedString"/>
            <s:attribute name="metadataDateTime" type="s:dateTime"/>
         </s:complexType>
         <s:simpleType name="valueTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Field Observation"/>
               <s:enumeration value="Sample"/>
               <s:enumeration value="Model Simulation Result"/>
               <s:enumeration value="Derived Value"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="generalCategoryEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Water Quality"/>
               <s:enumeration value="Climate"/>
               <s:enumeration value="Hydrology"/>
               <s:enumeration value="Geology"/>
               <s:enumeration value="Biota"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="SampleMediumEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Surface Water"/>
               <s:enumeration value="Ground Water"/>
               <s:enumeration value="Sediment"/>
               <s:enumeration value="Soil"/>
               <s:enumeration value="Air"/>
               <s:enumeration value="Tissue"/>
               <s:enumeration value="Precipitation"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="UnitsTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Angle"/>
               <s:enumeration value="Area"/>
               <s:enumeration value="Dimensionless"/>
               <s:enumeration value="Energy"/>
               <s:enumeration value="Energy Flux"/>
               <s:enumeration value="Flow"/>
               <s:enumeration value="Force"/>
               <s:enumeration value="Frequency"/>
               <s:enumeration value="Length"/>
               <s:enumeration value="Light"/>
               <s:enumeration value="Mass"/>
               <s:enumeration value="Permeability"/>
               <s:enumeration value="Power"/>
               <s:enumeration value="Pressure/Stress"/>
               <s:enumeration value="Resolution"/>
               <s:enumeration value="Scale"/>
               <s:enumeration value="Temperature"/>
               <s:enumeration value="Time"/>
               <s:enumeration value="Velocity"/>
               <s:enumeration value="Volume"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="ArrayOfOption">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="option">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="name" type="s:normalizedString"/>
                           <s:attribute name="optionID" type="s:integer"/>
                           <s:attribute name="optionCode" type="s:token"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:complexType name="TsValuesSingleVariableType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s3:ValueSingleVariable"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="qualifier">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="qualifierCode" type="s:token"/>
                           <s:attribute name="qualifierID" type="s:normalizedString"/>
                           <s:attribute name="oid" type="s:normalizedString"/>
                           <s:attribute name="metadataDateTime" type="s:dateTime"/>
                           <s:attribute name="network" type="s:string"/>
                           <s:attribute name="vocabulary" type="s:string"/>
                           <s:attribute name="default" type="s:boolean"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevel">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevelID"
                                   type="s:normalizedString"/>
                     </s:sequence>
                     <s:attribute name="qualityControlLevelCode" type="s:string"/>
                     <s:attribute name="oid" type="s:normalizedString"/>
                     <s:attribute name="metadataDateTime" type="s:dateTime"/>
                     <s:attribute name="network" type="s:string"/>
                     <s:attribute name="vocabulary" type="s:string"/>
                     <s:attribute name="default" type="s:boolean"/>
                  </s:complexType>
               </s:element>
            </s:sequence>
            <s:attribute name="timeZoneShiftApplied" type="s:boolean"/>
            <s:attribute name="unitsAbbreviation" type="s:normalizedString"/>
            <s:attribute name="unitsCode" type="s:token"/>
            <s:attribute name="unitsType" type="s3:UnitsTypeEnum"/>
            <s:attribute name="count" type="s:nonNegativeInteger"/>
            <s:attribute default="false" name="unitsAreConverted" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="ValueSingleVariable">
            <s:simpleContent>
               <s:extension base="s:decimal">
                  <s:attribute name="qualifiers" type="s:string"/>
                  <s:attribute name="censorCode" type="s3:CensorCodeEnum"/>
                  <s:attribute name="dateTime" type="s:dateTime"/>
                  <s:attribute name="qualityControlLevel" type="s3:QualityControlLevelEnum"/>
                  <s:attribute name="methodID" type="s:string"/>
                  <s:attribute name="sourceID" type="s:string"/>
                  <s:attribute name="accuracyStdDev" type="s:double"/>
                  <s:attribute name="codedVocabulary" type="s:boolean"/>
                  <s:attribute name="codedVocabularyTerm" type="s:string"/>
                  <s:attribute name="offsetValue" type="s:double"/>
                  <s:attribute name="offsetUnitsAbbreviation" type="s:normalizedString"/>
                  <s:attribute name="offsetDescription" type="s:string"/>
                  <s:attribute name="offsetUnitsCode" type="s:normalizedString"/>
                  <s:attribute name="oid" type="s:normalizedString"/>
                  <s:attribute name="metadataDateTime" type="s:dateTime"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:simpleType name="CensorCodeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="lt"/>
               <s:enumeration value="gt"/>
               <s:enumeration value="nc"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="QualityControlLevelEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Raw data"/>
               <s:enumeration value="Quality controlled data"/>
               <s:enumeration value="Derived products"/>
               <s:enumeration value="Interpreted products"/>
               <s:enumeration value="Knowledge products"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.cuahsi.org/waterML/1.0/">
         <s:complexType name="TimeSeriesResponseType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="queryInfo" type="s3:QueryInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeSeries" type="s3:TimeSeriesType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="QueryInfoType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="creationTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="querySQL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="criteria">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="locationParam" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="variableParam" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="timeParam">
                           <s:complexType>
                              <s:sequence>
                                 <s:element minOccurs="0" maxOccurs="1" name="beginDateTime" type="s:string"/>
                                 <s:element minOccurs="0" maxOccurs="1" name="endDateTime" type="s:string"/>
                              </s:sequence>
                           </s:complexType>
                        </s:element>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="type" type="s:string"/>
                           <s:attribute name="href" type="s:string"/>
                           <s:attribute name="title" type="s:string"/>
                           <s:attribute name="show" type="s:string"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="extension"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="TimeSeriesType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="sourceInfo" type="s3:SourceInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="variable" type="s3:VariableInfoType"/>
               <s:element minOccurs="0" maxOccurs="1" name="values" type="s3:TsValuesSingleVariableType"/>
            </s:sequence>
            <s:attribute name="name" type="s:string"/>
         </s:complexType>
         <s:complexType name="SourceInfoType"/>
         <s:complexType name="SiteInfoType">
            <s:complexContent mixed="false">
               <s:extension base="s3:SourceInfoType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="siteCode">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="defaultId" type="s:boolean"/>
                                 <s:attribute name="network" type="s:normalizedString"/>
                                 <s:attribute name="siteID" type="s:normalizedString"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="1" maxOccurs="1" name="defaultTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                              <s:element minOccurs="1" maxOccurs="1" name="daylightSavingsTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="geoLocation">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="geogLocation" type="s3:GeogLocationType"/>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="localSiteXY">
                                 <s:complexType>
                                    <s:sequence>
                                       <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
                                       <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
                                       <s:element minOccurs="1" maxOccurs="1" name="Z" type="s:double"/>
                                       <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                                          <s:complexType>
                                             <s:simpleContent>
                                                <s:extension base="s:string">
                                                   <s:attribute name="type" type="s:string"/>
                                                   <s:attribute name="href" type="s:string"/>
                                                   <s:attribute name="title" type="s:string"/>
                                                   <s:attribute name="show" type="s:string"/>
                                                </s:extension>
                                             </s:simpleContent>
                                          </s:complexType>
                                       </s:element>
                                    </s:sequence>
                                    <s:attribute name="projectionInformation" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="type" type="s:string"/>
                                 <s:attribute name="href" type="s:string"/>
                                 <s:attribute name="title" type="s:string"/>
                                 <s:attribute name="show" type="s:string"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="extension"/>
                  </s:sequence>
                  <s:attribute name="oid" type="s:normalizedString"/>
                  <s:attribute name="metadataDateTime" type="s:dateTime"/>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="GeogLocationType">
            <s:attribute default="EPSG:4326" name="srs" type="s:string"/>
         </s:complexType>
         <s:complexType name="LatLonBoxType">
            <s:complexContent mixed="false">
               <s:extension base="s3:GeogLocationType">
                  <s:sequence>
                     <s:element minOccurs="1" maxOccurs="1" name="south" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="west" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="north" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="east" type="s:double"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="LatLonPointType">
            <s:complexContent mixed="false">
               <s:extension base="s3:GeogLocationType">
                  <s:sequence>
                     <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
                     <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="DataSetInfoType">
            <s:complexContent mixed="false">
               <s:extension base="s3:SourceInfoType">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetIdentifier" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="1" name="timeZoneInfo">
                        <s:complexType>
                           <s:sequence>
                              <s:element minOccurs="1" maxOccurs="1" name="defaultTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                              <s:element minOccurs="1" maxOccurs="1" name="daylightSavingsTimeZone" nillable="true">
                                 <s:complexType>
                                    <s:attribute name="ZoneAbbreviation" type="s:normalizedString"/>
                                    <s:attribute name="ZoneOffset" type="s:string"/>
                                 </s:complexType>
                              </s:element>
                           </s:sequence>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetDescription" type="s:string"/>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                        <s:complexType>
                           <s:simpleContent>
                              <s:extension base="s:string">
                                 <s:attribute name="type" type="s:string"/>
                                 <s:attribute name="href" type="s:string"/>
                                 <s:attribute name="title" type="s:string"/>
                                 <s:attribute name="show" type="s:string"/>
                              </s:extension>
                           </s:simpleContent>
                        </s:complexType>
                     </s:element>
                     <s:element minOccurs="0" maxOccurs="1" name="dataSetLocation" type="s3:GeogLocationType"/>
                     <s:element minOccurs="0" maxOccurs="1" name="extension"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="VariableInfoType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="variableCode">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:token">
                           <s:attribute name="network" type="s:string"/>
                           <s:attribute name="vocabulary" type="s:string"/>
                           <s:attribute name="default" type="s:boolean"/>
                           <s:attribute name="variableID" type="s:integer"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="variableName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="variableDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="valueType" type="s3:valueTypeEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="generalCategory"
                          type="s3:generalCategoryEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="sampleMedium" type="s3:SampleMediumEnum"/>
               <s:element minOccurs="0" maxOccurs="1" name="units">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="unitsAbbreviation" type="s:normalizedString"/>
                           <s:attribute name="unitsCode" type="s:token"/>
                           <s:attribute name="unitsType" type="s3:UnitsTypeEnum"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="options" type="s3:ArrayOfOption"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="note">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="type" type="s:string"/>
                           <s:attribute name="href" type="s:string"/>
                           <s:attribute name="title" type="s:string"/>
                           <s:attribute name="show" type="s:string"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="related">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="parentID">
                           <s:complexType>
                              <s:simpleContent>
                                 <s:extension base="s:string">
                                    <s:attribute name="network" type="s:string"/>
                                    <s:attribute name="vocabulary" type="s:string"/>
                                    <s:attribute name="default" type="s:boolean"/>
                                 </s:extension>
                              </s:simpleContent>
                           </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="relatedID">
                           <s:complexType>
                              <s:simpleContent>
                                 <s:extension base="s:string">
                                    <s:attribute name="network" type="s:string"/>
                                    <s:attribute name="vocabulary" type="s:string"/>
                                    <s:attribute name="default" type="s:boolean"/>
                                 </s:extension>
                              </s:simpleContent>
                           </s:complexType>
                        </s:element>
                     </s:sequence>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="extension"/>
            </s:sequence>
            <s:attribute name="oid" type="s:normalizedString"/>
            <s:attribute name="metadataDateTime" type="s:dateTime"/>
         </s:complexType>
         <s:simpleType name="valueTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Field Observation"/>
               <s:enumeration value="Sample"/>
               <s:enumeration value="Model Simulation Result"/>
               <s:enumeration value="Derived Value"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="generalCategoryEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Water Quality"/>
               <s:enumeration value="Climate"/>
               <s:enumeration value="Hydrology"/>
               <s:enumeration value="Geology"/>
               <s:enumeration value="Biota"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="SampleMediumEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Surface Water"/>
               <s:enumeration value="Ground Water"/>
               <s:enumeration value="Sediment"/>
               <s:enumeration value="Soil"/>
               <s:enumeration value="Air"/>
               <s:enumeration value="Tissue"/>
               <s:enumeration value="Precipitation"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="UnitsTypeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Angle"/>
               <s:enumeration value="Area"/>
               <s:enumeration value="Dimensionless"/>
               <s:enumeration value="Energy"/>
               <s:enumeration value="Energy Flux"/>
               <s:enumeration value="Flow"/>
               <s:enumeration value="Force"/>
               <s:enumeration value="Frequency"/>
               <s:enumeration value="Length"/>
               <s:enumeration value="Light"/>
               <s:enumeration value="Mass"/>
               <s:enumeration value="Permeability"/>
               <s:enumeration value="Power"/>
               <s:enumeration value="Pressure/Stress"/>
               <s:enumeration value="Resolution"/>
               <s:enumeration value="Scale"/>
               <s:enumeration value="Temperature"/>
               <s:enumeration value="Time"/>
               <s:enumeration value="Velocity"/>
               <s:enumeration value="Volume"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="ArrayOfOption">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="option">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="name" type="s:normalizedString"/>
                           <s:attribute name="optionID" type="s:integer"/>
                           <s:attribute name="optionCode" type="s:token"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:complexType name="TsValuesSingleVariableType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="value" type="s3:ValueSingleVariable"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="qualifier">
                  <s:complexType>
                     <s:simpleContent>
                        <s:extension base="s:string">
                           <s:attribute name="qualifierCode" type="s:token"/>
                           <s:attribute name="qualifierID" type="s:normalizedString"/>
                           <s:attribute name="oid" type="s:normalizedString"/>
                           <s:attribute name="metadataDateTime" type="s:dateTime"/>
                           <s:attribute name="network" type="s:string"/>
                           <s:attribute name="vocabulary" type="s:string"/>
                           <s:attribute name="default" type="s:boolean"/>
                        </s:extension>
                     </s:simpleContent>
                  </s:complexType>
               </s:element>
               <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevel">
                  <s:complexType>
                     <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="qualityControlLevelID"
                                   type="s:normalizedString"/>
                     </s:sequence>
                     <s:attribute name="qualityControlLevelCode" type="s:string"/>
                     <s:attribute name="oid" type="s:normalizedString"/>
                     <s:attribute name="metadataDateTime" type="s:dateTime"/>
                     <s:attribute name="network" type="s:string"/>
                     <s:attribute name="vocabulary" type="s:string"/>
                     <s:attribute name="default" type="s:boolean"/>
                  </s:complexType>
               </s:element>
            </s:sequence>
            <s:attribute name="timeZoneShiftApplied" type="s:boolean"/>
            <s:attribute name="unitsAbbreviation" type="s:normalizedString"/>
            <s:attribute name="unitsCode" type="s:token"/>
            <s:attribute name="unitsType" type="s3:UnitsTypeEnum"/>
            <s:attribute name="count" type="s:nonNegativeInteger"/>
            <s:attribute default="false" name="unitsAreConverted" type="s:boolean"/>
         </s:complexType>
         <s:complexType name="ValueSingleVariable">
            <s:simpleContent>
               <s:extension base="s:decimal">
                  <s:attribute name="qualifiers" type="s:string"/>
                  <s:attribute name="censorCode" type="s3:CensorCodeEnum"/>
                  <s:attribute name="dateTime" type="s:dateTime"/>
                  <s:attribute name="qualityControlLevel" type="s3:QualityControlLevelEnum"/>
                  <s:attribute name="methodID" type="s:string"/>
                  <s:attribute name="sourceID" type="s:string"/>
                  <s:attribute name="accuracyStdDev" type="s:double"/>
                  <s:attribute name="codedVocabulary" type="s:boolean"/>
                  <s:attribute name="codedVocabularyTerm" type="s:string"/>
                  <s:attribute name="offsetValue" type="s:double"/>
                  <s:attribute name="offsetUnitsAbbreviation" type="s:normalizedString"/>
                  <s:attribute name="offsetDescription" type="s:string"/>
                  <s:attribute name="offsetUnitsCode" type="s:normalizedString"/>
                  <s:attribute name="oid" type="s:normalizedString"/>
                  <s:attribute name="metadataDateTime" type="s:dateTime"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:simpleType name="CensorCodeEnum">
            <s:restriction base="s:string">
               <s:enumeration value="lt"/>
               <s:enumeration value="gt"/>
               <s:enumeration value="nc"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="QualityControlLevelEnum">
            <s:restriction base="s:string">
               <s:enumeration value="Raw data"/>
               <s:enumeration value="Quality controlled data"/>
               <s:enumeration value="Derived products"/>
               <s:enumeration value="Interpreted products"/>
               <s:enumeration value="Knowledge products"/>
            </s:restriction>
         </s:simpleType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetKeywordsSoapIn">
      <wsdl:part name="parameters" element="tns:GetKeywords"/>
  </wsdl:message>
  <wsdl:message name="GetKeywordsSoapOut">
      <wsdl:part name="parameters" element="tns:GetKeywordsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStationsSoapIn">
      <wsdl:part name="parameters" element="tns:GetStations"/>
  </wsdl:message>
  <wsdl:message name="GetStationsSoapOut">
      <wsdl:part name="parameters" element="tns:GetStationsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetValuesSoapIn">
      <wsdl:part name="parameters" element="tns:GetValues"/>
  </wsdl:message>
  <wsdl:message name="GetValuesSoapOut">
      <wsdl:part name="parameters" element="tns:GetValuesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="GCMDSoap" type="tns:GCMDSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetKeywords">
         <soap:operation soapAction="http://www.cuahsi.org/GetKeywords" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStations">
         <soap:operation soapAction="http://www.cuahsi.org/GetStations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetValues">
         <soap:operation soapAction="http://www.cuahsi.org/GetValues" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GCMD">
      <wsdl:port name="GCMDSoap" binding="tns:GCMDSoap">
         <soap:address location="http://ws.soatrader.com/hydroseek.net/0.1/GCMD"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>