wsdl_repositories/soatrader_900/GenemarkService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:genemark"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:genemark"
                  xmlns:intf="urn:genemark"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:genemark">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">17:31:5517 April 2006</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">1dcda8d2f4df0b25e040ca99d3540aef</version>
   </wsdl:documentation>
   <wsdl:message name="getGenemarkHMMPRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="getGenemarkHMMPResponse">
      <wsdl:part name="getGenemarkHMMPReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="revokeTicketResponse">
      <wsdl:part name="revokeTicketReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="revokeTicketRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:long"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:portType name="Genemark">
      <wsdl:operation name="getGenemarkHMMP" parameterOrder="in0 in1 in2 in3">
         <wsdl:input message="impl:getGenemarkHMMPRequest" name="getGenemarkHMMPRequest"/>
         <wsdl:output message="impl:getGenemarkHMMPResponse" name="getGenemarkHMMPResponse"/>
      </wsdl:operation>
      <wsdl:operation name="revokeTicket" parameterOrder="in0 in1">
         <wsdl:input message="impl:revokeTicketRequest" name="revokeTicketRequest"/>
         <wsdl:output message="impl:revokeTicketResponse" name="revokeTicketResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="genemarkSoapBinding" type="impl:Genemark">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getGenemarkHMMP">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getGenemarkHMMPRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="getGenemarkHMMPResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="revokeTicket">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="revokeTicketRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="revokeTicketResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:genemark"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="GenemarkService">
      <wsdl:port binding="impl:genemarkSoapBinding" name="genemark">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.1/GenemarkService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>