wsdl_repositories/soatrader_900/GeoLookup.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.loopnet.com/WebServices"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.loopnet.com/WebServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.loopnet.com/WebServices">
         <s:element name="LoadStatesByCountry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LoadStatesByCountryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadStatesByCountryResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue"
                          nillable="true"
                          type="tns:CascadingDropDownNameValue"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="CascadingDropDownNameValue">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="LoadCountries">
            <s:complexType/>
         </s:element>
         <s:element name="LoadCountriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LoadCountriesResult"
                             type="tns:ArrayOfCascadingDropDownNameValue"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuickSearchSuggestions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuickSearchSuggestionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetQuickSearchSuggestionsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGeoSuggestions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGeoSuggestionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGeoSuggestionsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGeocodedMatches">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGeocodedMatchesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGeocodedMatchesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsValidCityName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsValidCityNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IsValidCityNameResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMinAndMaxLongitudeForGeo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMinAndMaxLongitudeForGeoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMinAndMaxLongitudeForGeoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryStr">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryStrResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryStrResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryListWithMsas">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryListWithMsasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryListWithMsasResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithMsas">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithMsasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryWithMsasResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithCities">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithCitiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryWithCitiesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithCounties">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesForCountryWithCountiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesForCountryWithCountiesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMSAsByStates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMSAsByStatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMSAsByStatesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByPostalCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByPostalCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMarketsByPostalCodeResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegionalMarketsByStateList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegionalMarketsByStateListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRegionalMarketsByStateListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketListWithSubmarketList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketListWithSubmarketListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetMarketsByRegionalMarketListWithSubmarketListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketsByRegionalMarketListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMarketsByRegionalMarketListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSubMarketsByMarketList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSubMarketsByMarketListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSubMarketsByMarketListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByStateProvList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountiesByStateProvListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountiesByStateProvListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByStateProvCountyList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByStateProvCountyListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCitiesByStateProvCountyListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByCountyList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="docRequest">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesByCountyListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCitiesByCountyListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadStatesByCountrySoapIn">
      <wsdl:part name="parameters" element="tns:LoadStatesByCountry"/>
  </wsdl:message>
  <wsdl:message name="LoadStatesByCountrySoapOut">
      <wsdl:part name="parameters" element="tns:LoadStatesByCountryResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadCountriesSoapIn">
      <wsdl:part name="parameters" element="tns:LoadCountries"/>
  </wsdl:message>
  <wsdl:message name="LoadCountriesSoapOut">
      <wsdl:part name="parameters" element="tns:LoadCountriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuickSearchSuggestionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuickSearchSuggestions"/>
  </wsdl:message>
  <wsdl:message name="GetQuickSearchSuggestionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuickSearchSuggestionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGeoSuggestionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetGeoSuggestions"/>
  </wsdl:message>
  <wsdl:message name="GetGeoSuggestionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetGeoSuggestionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGeocodedMatchesSoapIn">
      <wsdl:part name="parameters" element="tns:GetGeocodedMatches"/>
  </wsdl:message>
  <wsdl:message name="GetGeocodedMatchesSoapOut">
      <wsdl:part name="parameters" element="tns:GetGeocodedMatchesResponse"/>
  </wsdl:message>
  <wsdl:message name="IsValidCityNameSoapIn">
      <wsdl:part name="parameters" element="tns:IsValidCityName"/>
  </wsdl:message>
  <wsdl:message name="IsValidCityNameSoapOut">
      <wsdl:part name="parameters" element="tns:IsValidCityNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMinAndMaxLongitudeForGeoSoapIn">
      <wsdl:part name="parameters" element="tns:GetMinAndMaxLongitudeForGeo"/>
  </wsdl:message>
  <wsdl:message name="GetMinAndMaxLongitudeForGeoSoapOut">
      <wsdl:part name="parameters" element="tns:GetMinAndMaxLongitudeForGeoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryStrSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryStr"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryStrSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryStrResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountrySoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountry"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountrySoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryListSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryList"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryListSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryListWithMsasSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryListWithMsas"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryListWithMsasSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryListWithMsasResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithMsasSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithMsas"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithMsasSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithMsasResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithCitiesSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithCities"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithCitiesSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithCitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithCountiesSoapIn">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithCounties"/>
  </wsdl:message>
  <wsdl:message name="GetStatesForCountryWithCountiesSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesForCountryWithCountiesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMSAsByStatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetMSAsByStates"/>
  </wsdl:message>
  <wsdl:message name="GetMSAsByStatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetMSAsByStatesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByPostalCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetMarketsByPostalCode"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByPostalCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetMarketsByPostalCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRegionalMarketsByStateListSoapIn">
      <wsdl:part name="parameters" element="tns:GetRegionalMarketsByStateList"/>
  </wsdl:message>
  <wsdl:message name="GetRegionalMarketsByStateListSoapOut">
      <wsdl:part name="parameters" element="tns:GetRegionalMarketsByStateListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListWithSubmarketListSoapIn">
      <wsdl:part name="parameters" element="tns:GetMarketsByRegionalMarketListWithSubmarketList"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListWithSubmarketListSoapOut">
      <wsdl:part name="parameters"
                 element="tns:GetMarketsByRegionalMarketListWithSubmarketListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketListSoapIn">
      <wsdl:part name="parameters"
                 element="tns:GetMarketsByRegionalMarketListWithMarketListAndSubmarketList"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketListSoapOut">
      <wsdl:part name="parameters"
                 element="tns:GetMarketsByRegionalMarketListWithMarketListAndSubmarketListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListSoapIn">
      <wsdl:part name="parameters" element="tns:GetMarketsByRegionalMarketList"/>
  </wsdl:message>
  <wsdl:message name="GetMarketsByRegionalMarketListSoapOut">
      <wsdl:part name="parameters" element="tns:GetMarketsByRegionalMarketListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSubMarketsByMarketListSoapIn">
      <wsdl:part name="parameters" element="tns:GetSubMarketsByMarketList"/>
  </wsdl:message>
  <wsdl:message name="GetSubMarketsByMarketListSoapOut">
      <wsdl:part name="parameters" element="tns:GetSubMarketsByMarketListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByStateProvListSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountiesByStateProvList"/>
  </wsdl:message>
  <wsdl:message name="GetCountiesByStateProvListSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountiesByStateProvListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesByStateProvCountyListSoapIn">
      <wsdl:part name="parameters" element="tns:GetCitiesByStateProvCountyList"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesByStateProvCountyListSoapOut">
      <wsdl:part name="parameters" element="tns:GetCitiesByStateProvCountyListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesByCountyListSoapIn">
      <wsdl:part name="parameters" element="tns:GetCitiesByCountyList"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesByCountyListSoapOut">
      <wsdl:part name="parameters" element="tns:GetCitiesByCountyListResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="GeoLookupSoap" type="tns:GeoLookupSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="LoadStatesByCountry">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/LoadStatesByCountry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LoadCountries">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/LoadCountries" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetQuickSearchSuggestions">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetQuickSearchSuggestions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGeoSuggestions">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetGeoSuggestions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGeocodedMatches">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetGeocodedMatches"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="IsValidCityName">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/IsValidCityName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMinAndMaxLongitudeForGeo">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMinAndMaxLongitudeForGeo"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryStr">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryStr"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountry">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryListWithMsas">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryListWithMsas"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryWithMsas">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryWithMsas"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryWithCities">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryWithCities"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStatesForCountryWithCounties">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetStatesForCountryWithCounties"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMSAsByStates">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMSAsByStates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarketsByPostalCode">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMarketsByPostalCode"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRegionalMarketsByStateList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetRegionalMarketsByStateList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarketsByRegionalMarketListWithSubmarketList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMarketsByRegionalMarketListWithSubmarketList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarketsByRegionalMarketListWithMarketListAndSubmarketList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMarketsByRegionalMarketListWithMarketListAndSubmarketList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarketsByRegionalMarketList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetMarketsByRegionalMarketList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSubMarketsByMarketList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetSubMarketsByMarketList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountiesByStateProvList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetCountiesByStateProvList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCitiesByStateProvCountyList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetCitiesByStateProvCountyList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCitiesByCountyList">
         <soap:operation soapAction="http://www.loopnet.com/WebServices/GetCitiesByCountyList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GeoLookup">
      <wsdl:port name="GeoLookupSoap" binding="tns:GeoLookupSoap">
         <soap:address location="http://ws.soatrader.com/loopnet.com/0.1/GeoLookup"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>