wsdl_repositories/soatrader_900/GetBlockId.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://com.cityofnno.gis/Address2BlockId/Service1"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://com.cityofnno.gis/Address2BlockId/Service1">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://com.cityofnno.gis/Address2BlockId/Service1">
         <s:element name="Address2Block">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Address2BlockResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address2BlockResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Address2XY">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Address2XYResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Address2XYResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="Address2BlockSoapIn">
      <wsdl:part name="parameters" element="tns:Address2Block"/>
  </wsdl:message>
  <wsdl:message name="Address2BlockSoapOut">
      <wsdl:part name="parameters" element="tns:Address2BlockResponse"/>
  </wsdl:message>
  <wsdl:message name="Address2XYSoapIn">
      <wsdl:part name="parameters" element="tns:Address2XY"/>
  </wsdl:message>
  <wsdl:message name="Address2XYSoapOut">
      <wsdl:part name="parameters" element="tns:Address2XYResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="GetBlockIdSoap" type="tns:GetBlockIdSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Address2Block">
         <soap:operation soapAction="http://com.cityofnno.gis/Address2BlockId/Service1/Address2Block"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Address2XY">
         <soap:operation soapAction="http://com.cityofnno.gis/Address2BlockId/Service1/Address2XY"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GetBlockId">
      <wsdl:port name="GetBlockIdSoap" binding="tns:GetBlockIdSoap">
         <soap:address location="http://ws.soatrader.com/cityofno.com/0.1/GetBlockId"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>