wsdl_repositories/soatrader_900/GetLocations.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://se.su.it.yxa.locations/GetLocations/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:yxa="http://se.su.it.yxa.locations/GetLocations/"
                  name="GetLocations"
                  targetNamespace="http://se.su.it.yxa.locations/GetLocations/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

	  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
		    <xsd:schema targetNamespace="http://se.su.it.yxa.locations/GetLocations/">
           
                 <xsd:element name="getLocations"> 
                    <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="sipAuthenticationUser" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                 </xsd:element>

                  <xsd:element name="getLocationsResponse">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="getLocationsReturn" type="yxa:LocationList"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>

		       <xsd:complexType name="LocationList">
		          <xsd:sequence>
			            <xsd:element name="location" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
		          </xsd:sequence>
		       </xsd:complexType>
		    </xsd:schema>
	  </wsdl:types>

	  <wsdl:message name="getLocationsRequestMessage">
		    <wsdl:part name="parameters" element="yxa:getLocations"/>
	  </wsdl:message>

	  <wsdl:message name="getLocationsResponseMessage">
		    <wsdl:part name="parameters" element="yxa:getLocationsResponse"/>
	  </wsdl:message>

	  <wsdl:portType name="GetLocationsService">
		    <wsdl:operation name="getLocations">
			      <wsdl:documentation>Get currently registered locations for a SIP user</wsdl:documentation>
			      <wsdl:input message="yxa:getLocationsRequestMessage"/>
			      <wsdl:output message="yxa:getLocationsResponseMessage"/>
		    </wsdl:operation>
	  </wsdl:portType>

	  <wsdl:binding name="GetLocationsSOAP" type="yxa:GetLocationsService">
		    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <wsdl:operation name="getLocations">
			      <soap:operation soapAction="getLocations" style="document"/>
			      <wsdl:input name="yxa:getLocationsRequestMessage">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output name="yxa:getLocationsResponseMessage">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
		    </wsdl:operation>
	  </wsdl:binding>

	  <wsdl:service name="GetLocations">
		    <wsdl:port binding="yxa:GetLocationsSOAP" name="GetLocationsService">
			      <soap:address location="http://ws.soatrader.com/su.se/0.1/GetLocations"/>
		    </wsdl:port>
	  </wsdl:service>
</wsdl:definitions>