wsdl_repositories/soatrader_900/GetPeopleSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="GetPeopleSearch"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="GetPeopleSearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="GetPeopleSearch">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="dsGetMobileCityPoliceRecords">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="agencyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtFName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtLName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtMName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSSN" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="dsGetMobileCityPoliceRecordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="dsGetMobileCityPoliceRecordsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="strmGetMobileCityPoliceRecords">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="agencyName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtFName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtLName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtMName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSSN" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="strmGetMobileCityPoliceRecordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strmGetMobileCityPoliceRecordsResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="dsGetMobileCityPoliceRecordsSoapIn">
      <wsdl:part name="parameters" element="tns:dsGetMobileCityPoliceRecords"/>
  </wsdl:message>
  <wsdl:message name="dsGetMobileCityPoliceRecordsSoapOut">
      <wsdl:part name="parameters" element="tns:dsGetMobileCityPoliceRecordsResponse"/>
  </wsdl:message>
  <wsdl:message name="strmGetMobileCityPoliceRecordsSoapIn">
      <wsdl:part name="parameters" element="tns:strmGetMobileCityPoliceRecords"/>
  </wsdl:message>
  <wsdl:message name="strmGetMobileCityPoliceRecordsSoapOut">
      <wsdl:part name="parameters" element="tns:strmGetMobileCityPoliceRecordsResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetPeopleSearchSoap">
      <wsdl:operation name="dsGetMobileCityPoliceRecords">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Law Enforcement Search Engine, MPIP, City Of  Mobile, AL. This service returns XML results and can be directly assigned to DataSet object. Access to this service is restricted and available only to authorised agencies.</documentation>
         <wsdl:input message="tns:dsGetMobileCityPoliceRecordsSoapIn"/>
         <wsdl:output message="tns:dsGetMobileCityPoliceRecordsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="strmGetMobileCityPoliceRecords">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Law Enforcement Search Engine, MPIP, City of Mobile, AL. This service returns XML results in string format and can be directly assigned to Streaming object. Access to this service is restricted and available only to authorised agencies.</documentation>
         <wsdl:input message="tns:strmGetMobileCityPoliceRecordsSoapIn"/>
         <wsdl:output message="tns:strmGetMobileCityPoliceRecordsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPeopleSearchSoap" type="tns:GetPeopleSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="dsGetMobileCityPoliceRecords">
         <soap:operation soapAction="GetPeopleSearch/dsGetMobileCityPoliceRecords" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="strmGetMobileCityPoliceRecords">
         <soap:operation soapAction="GetPeopleSearch/strmGetMobileCityPoliceRecords" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPeopleSearch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="GetPeopleSearchSoap" binding="tns:GetPeopleSearchSoap">
         <soap:address location="http://ws.soatrader.com/cityofmobile.org/0.1/GetPeopleSearch"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>