wsdl_repositories/soatrader_900/GlobalAddress.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservices.globaladdress.net"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.globaladdress.net">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This is a transaction based service used to perform international address validation and geocoding</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.globaladdress.net">
         <s:element name="GetTransactionTotal">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTransactionTotalResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetTransactionTotalResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessWithEnhancement">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Contact">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine6" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine7" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine8" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SubBuilding" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Premise" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SubStreet" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SubCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Principality" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DPS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Cedex" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ACR" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TCR" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other6" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other7" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other8" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other9" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Other10" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ProcessWithEnhancementResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ProcessWithEnhancementResult"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessMultipleAddresses">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfContact">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true"
                          type="tns:Contact"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ProcessMultipleAddressesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ProcessMultipleAddressesResult"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessWithEnhancementEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ProcessWithEnhancementExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ProcessWithEnhancementExResult"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EnhanceContact">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EnhancementDatasetName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EnhanceContactResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EnhanceContactResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEnhancementDatasetList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="EnhancementDataSetObject">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AppliesTo" type="tns:ArrayOfString"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfEnhancementDataSetObject">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="EnhancementDataSetObject"
                          nillable="true"
                          type="tns:EnhancementDataSetObject"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetEnhancementDatasetListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetEnhancementDatasetListResult"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpEnhancements"
                             type="tns:ArrayOfEnhancementDataSetObject"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAcceptanceLevel">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="countryiso" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAcceptanceLevelResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetAcceptanceLevelResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Select">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Criteria" type="tns:ArrayOfCriteria"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnFields" type="tns:ArrayOfOFT"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Distinct" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Sorted" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Start" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaxResults" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfCriteria">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Criteria" nillable="true"
                          type="tns:Criteria"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Criteria">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="setCriteriaValue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addCriteriaFields" type="tns:ArrayOfOFT"/>
               <s:element minOccurs="1" maxOccurs="1" name="setCriteriaSearchType" type="tns:SearchType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfOFT">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="OFT" type="tns:OFT"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="OFT">
            <s:restriction base="s:string">
               <s:enumeration value="RecordID"/>
               <s:enumeration value="Title"/>
               <s:enumeration value="FirstName"/>
               <s:enumeration value="MiddleInitials"/>
               <s:enumeration value="LastName"/>
               <s:enumeration value="FullName"/>
               <s:enumeration value="NameSuffix"/>
               <s:enumeration value="Gender"/>
               <s:enumeration value="JobTitle"/>
               <s:enumeration value="Salutation"/>
               <s:enumeration value="Department"/>
               <s:enumeration value="Company"/>
               <s:enumeration value="Building"/>
               <s:enumeration value="SubBuilding"/>
               <s:enumeration value="Premise"/>
               <s:enumeration value="Street"/>
               <s:enumeration value="SubStreet"/>
               <s:enumeration value="POBox"/>
               <s:enumeration value="SubCity"/>
               <s:enumeration value="City"/>
               <s:enumeration value="Region"/>
               <s:enumeration value="Principality"/>
               <s:enumeration value="Postcode"/>
               <s:enumeration value="Country"/>
               <s:enumeration value="DPS"/>
               <s:enumeration value="Cedex"/>
               <s:enumeration value="MKN"/>
               <s:enumeration value="MKA"/>
               <s:enumeration value="MKC"/>
               <s:enumeration value="ACR"/>
               <s:enumeration value="WCR"/>
               <s:enumeration value="NCR"/>
               <s:enumeration value="TCR"/>
               <s:enumeration value="ECR"/>
               <s:enumeration value="Percent"/>
               <s:enumeration value="Duplicate"/>
               <s:enumeration value="DUPmaster"/>
               <s:enumeration value="DUPconfidence"/>
               <s:enumeration value="Other1"/>
               <s:enumeration value="Other2"/>
               <s:enumeration value="Other3"/>
               <s:enumeration value="Other4"/>
               <s:enumeration value="Other5"/>
               <s:enumeration value="Other6"/>
               <s:enumeration value="Other7"/>
               <s:enumeration value="Other8"/>
               <s:enumeration value="Other9"/>
               <s:enumeration value="Other10"/>
               <s:enumeration value="AddressLine1"/>
               <s:enumeration value="AddressLine2"/>
               <s:enumeration value="AddressLine3"/>
               <s:enumeration value="AddressLine4"/>
               <s:enumeration value="AddressLine5"/>
               <s:enumeration value="AddressLine6"/>
               <s:enumeration value="AddressLine7"/>
               <s:enumeration value="AddressLine8"/>
               <s:enumeration value="CountryISO"/>
               <s:enumeration value="MobileTelephone"/>
               <s:enumeration value="Telephone1"/>
               <s:enumeration value="Telephone2"/>
               <s:enumeration value="Telephone3"/>
               <s:enumeration value="Telephone4"/>
               <s:enumeration value="Email1"/>
               <s:enumeration value="Email2"/>
               <s:enumeration value="URL1"/>
               <s:enumeration value="URL2"/>
               <s:enumeration value="NumFieldsPlusOne"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="SearchType">
            <s:restriction base="s:string">
               <s:enumeration value="OPTIMA_EXACT_SEARCH"/>
               <s:enumeration value="OPTIMA_EXACT_COMPLETE_SEARCH"/>
               <s:enumeration value="OPTIMA_APPROX_SEARCH"/>
               <s:enumeration value="OPTIMA_APPROX_COMPLETE_SEARCH"/>
               <s:enumeration value="OPTIMA_NOT_SEARCH"/>
               <s:enumeration value="OPTIMA_NOT_EXACT_SEARCH"/>
               <s:enumeration value="OPTIMA_NOT_EXACT_COMPLETE_SEARCH"/>
               <s:enumeration value="OPTIMA_NOT_APPROX_SEARCH"/>
               <s:enumeration value="OPTIMA_NOT_APPROX_COMPLETE_SEARCH"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="SelectResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SelectResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRequiredFieldList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRequiredFieldListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetRequiredFieldListResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="vResults" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchMultipleAddresses">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchMultipleAddressesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchMultipleAddressesResult"
                             type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContactArray" type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchAddressEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchAddressExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchAddressExResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessAddressEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessAddressExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ProcessAddressExResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="StandardiseAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="StandardiseAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="StandardiseAddressResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryArray" type="tns:ArrayOfOptimaCountry"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfOptimaCountry">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="OptimaCountry" nillable="true"
                          type="tns:OptimaCountry"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="OptimaCountry">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CountryISO" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetCountryListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetCountryListResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryArray" type="tns:ArrayOfOptimaCountry"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ValidateAddressResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
                  <s:element minOccurs="1" maxOccurs="1" name="maxresults" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchAddressResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContacts" type="tns:ArrayOfContact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ProcessAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ProcessAddressResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FormatAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FormatAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FormatAddressResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FormatAddressEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveFormatComponentList"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FormatAddressExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FormatAddressExResult" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tmpContact" type="tns:Contact"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTransactionTotalSoapIn">
      <wsdl:part name="parameters" element="tns:GetTransactionTotal"/>
  </wsdl:message>
  <wsdl:message name="GetTransactionTotalSoapOut">
      <wsdl:part name="parameters" element="tns:GetTransactionTotalResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessWithEnhancementSoapIn">
      <wsdl:part name="parameters" element="tns:ProcessWithEnhancement"/>
  </wsdl:message>
  <wsdl:message name="ProcessWithEnhancementSoapOut">
      <wsdl:part name="parameters" element="tns:ProcessWithEnhancementResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessMultipleAddressesSoapIn">
      <wsdl:part name="parameters" element="tns:ProcessMultipleAddresses"/>
  </wsdl:message>
  <wsdl:message name="ProcessMultipleAddressesSoapOut">
      <wsdl:part name="parameters" element="tns:ProcessMultipleAddressesResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessWithEnhancementExSoapIn">
      <wsdl:part name="parameters" element="tns:ProcessWithEnhancementEx"/>
  </wsdl:message>
  <wsdl:message name="ProcessWithEnhancementExSoapOut">
      <wsdl:part name="parameters" element="tns:ProcessWithEnhancementExResponse"/>
  </wsdl:message>
  <wsdl:message name="EnhanceContactSoapIn">
      <wsdl:part name="parameters" element="tns:EnhanceContact"/>
  </wsdl:message>
  <wsdl:message name="EnhanceContactSoapOut">
      <wsdl:part name="parameters" element="tns:EnhanceContactResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEnhancementDatasetListSoapIn">
      <wsdl:part name="parameters" element="tns:GetEnhancementDatasetList"/>
  </wsdl:message>
  <wsdl:message name="GetEnhancementDatasetListSoapOut">
      <wsdl:part name="parameters" element="tns:GetEnhancementDatasetListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAcceptanceLevelSoapIn">
      <wsdl:part name="parameters" element="tns:GetAcceptanceLevel"/>
  </wsdl:message>
  <wsdl:message name="GetAcceptanceLevelSoapOut">
      <wsdl:part name="parameters" element="tns:GetAcceptanceLevelResponse"/>
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
      <wsdl:part name="parameters" element="tns:Select"/>
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
      <wsdl:part name="parameters" element="tns:SelectResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRequiredFieldListSoapIn">
      <wsdl:part name="parameters" element="tns:GetRequiredFieldList"/>
  </wsdl:message>
  <wsdl:message name="GetRequiredFieldListSoapOut">
      <wsdl:part name="parameters" element="tns:GetRequiredFieldListResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchMultipleAddressesSoapIn">
      <wsdl:part name="parameters" element="tns:SearchMultipleAddresses"/>
  </wsdl:message>
  <wsdl:message name="SearchMultipleAddressesSoapOut">
      <wsdl:part name="parameters" element="tns:SearchMultipleAddressesResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchAddressExSoapIn">
      <wsdl:part name="parameters" element="tns:SearchAddressEx"/>
  </wsdl:message>
  <wsdl:message name="SearchAddressExSoapOut">
      <wsdl:part name="parameters" element="tns:SearchAddressExResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessAddressExSoapIn">
      <wsdl:part name="parameters" element="tns:ProcessAddressEx"/>
  </wsdl:message>
  <wsdl:message name="ProcessAddressExSoapOut">
      <wsdl:part name="parameters" element="tns:ProcessAddressExResponse"/>
  </wsdl:message>
  <wsdl:message name="StandardiseAddressSoapIn">
      <wsdl:part name="parameters" element="tns:StandardiseAddress"/>
  </wsdl:message>
  <wsdl:message name="StandardiseAddressSoapOut">
      <wsdl:part name="parameters" element="tns:StandardiseAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountryList"/>
  </wsdl:message>
  <wsdl:message name="GetCountryListSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryListResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateAddressSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateAddress"/>
  </wsdl:message>
  <wsdl:message name="ValidateAddressSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchAddressSoapIn">
      <wsdl:part name="parameters" element="tns:SearchAddress"/>
  </wsdl:message>
  <wsdl:message name="SearchAddressSoapOut">
      <wsdl:part name="parameters" element="tns:SearchAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="ProcessAddressSoapIn">
      <wsdl:part name="parameters" element="tns:ProcessAddress"/>
  </wsdl:message>
  <wsdl:message name="ProcessAddressSoapOut">
      <wsdl:part name="parameters" element="tns:ProcessAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="FormatAddressSoapIn">
      <wsdl:part name="parameters" element="tns:FormatAddress"/>
  </wsdl:message>
  <wsdl:message name="FormatAddressSoapOut">
      <wsdl:part name="parameters" element="tns:FormatAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="FormatAddressExSoapIn">
      <wsdl:part name="parameters" element="tns:FormatAddressEx"/>
  </wsdl:message>
  <wsdl:message name="FormatAddressExSoapOut">
      <wsdl:part name="parameters" element="tns:FormatAddressExResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="GlobalAddressSoap" type="tns:GlobalAddressSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetTransactionTotal">
         <soap:operation soapAction="http://webservices.globaladdress.net/GetTransactionTotal"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProcessWithEnhancement">
         <soap:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancement"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProcessMultipleAddresses">
         <soap:operation soapAction="http://webservices.globaladdress.net/ProcessMultipleAddresses"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProcessWithEnhancementEx">
         <soap:operation soapAction="http://webservices.globaladdress.net/ProcessWithEnhancementEx"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EnhanceContact">
         <soap:operation soapAction="http://webservices.globaladdress.net/EnhanceContact"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEnhancementDatasetList">
         <soap:operation soapAction="http://webservices.globaladdress.net/GetEnhancementDatasetList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAcceptanceLevel">
         <soap:operation soapAction="http://webservices.globaladdress.net/GetAcceptanceLevel"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Select">
         <soap:operation soapAction="http://webservices.globaladdress.net/Select" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRequiredFieldList">
         <soap:operation soapAction="http://webservices.globaladdress.net/GetRequiredFieldList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchMultipleAddresses">
         <soap:operation soapAction="http://webservices.globaladdress.net/SearchMultipleAddresses"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchAddressEx">
         <soap:operation soapAction="http://webservices.globaladdress.net/SearchAddressEx"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProcessAddressEx">
         <soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddressEx"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="StandardiseAddress">
         <soap:operation soapAction="http://webservices.globaladdress.net/StandardiseAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountryList">
         <soap:operation soapAction="http://webservices.globaladdress.net/GetCountryList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateAddress">
         <soap:operation soapAction="http://webservices.globaladdress.net/ValidateAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchAddress">
         <soap:operation soapAction="http://webservices.globaladdress.net/SearchAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ProcessAddress">
         <soap:operation soapAction="http://webservices.globaladdress.net/ProcessAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FormatAddress">
         <soap:operation soapAction="http://webservices.globaladdress.net/FormatAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FormatAddressEx">
         <soap:operation soapAction="http://webservices.globaladdress.net/FormatAddressEx"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GlobalAddress">
      <wsdl:documentation>This is a transaction based service used to perform international address validation and geocoding</wsdl:documentation>
      <wsdl:port name="GlobalAddressSoap" binding="tns:GlobalAddressSoap">
         <soap:address location="http://ws.soatrader.com/globaladdress.net/0.2/GlobalAddress"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>