wsdl_repositories/soatrader_900/Google_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://service.ecocoma.com/marketing/google"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://service.ecocoma.com/marketing/google">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Cocoma Google Web Services.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://service.ecocoma.com/marketing/google">
         <s:element name="GetSiteCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSiteCountResult" type="tns:GoogleCount"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GoogleCount">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Count" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLinkCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLinkCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLinkCountResult" type="tns:GoogleCount"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelatedCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelatedCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelatedCountResult" type="tns:GoogleCount"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetKeywordRankding">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetKeywordRankdingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetKeywordRankdingResult"
                             type="tns:GoogleKeywordRanking"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GoogleKeywordRanking">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Page" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetKeywordSuggest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Keyword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetKeywordSuggestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetKeywordSuggestResult"
                             type="tns:GoogleKeywordSuggest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GoogleKeywordSuggest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSiteCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetSiteCount"/>
  </wsdl:message>
  <wsdl:message name="GetSiteCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetSiteCountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLinkCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetLinkCount"/>
  </wsdl:message>
  <wsdl:message name="GetLinkCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetLinkCountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelatedCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelatedCount"/>
  </wsdl:message>
  <wsdl:message name="GetRelatedCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelatedCountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetKeywordRankdingSoapIn">
      <wsdl:part name="parameters" element="tns:GetKeywordRankding"/>
  </wsdl:message>
  <wsdl:message name="GetKeywordRankdingSoapOut">
      <wsdl:part name="parameters" element="tns:GetKeywordRankdingResponse"/>
  </wsdl:message>
  <wsdl:message name="GetKeywordSuggestSoapIn">
      <wsdl:part name="parameters" element="tns:GetKeywordSuggest"/>
  </wsdl:message>
  <wsdl:message name="GetKeywordSuggestSoapOut">
      <wsdl:part name="parameters" element="tns:GetKeywordSuggestResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="Google_ServiceSoap" type="tns:Google_ServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetSiteCount">
         <soap:operation soapAction="http://service.ecocoma.com/marketing/google/GetSiteCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLinkCount">
         <soap:operation soapAction="http://service.ecocoma.com/marketing/google/GetLinkCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRelatedCount">
         <soap:operation soapAction="http://service.ecocoma.com/marketing/google/GetRelatedCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetKeywordRankding">
         <soap:operation soapAction="http://service.ecocoma.com/marketing/google/GetKeywordRankding"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetKeywordSuggest">
         <soap:operation soapAction="http://service.ecocoma.com/marketing/google/GetKeywordSuggest"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Google_Service">
      <wsdl:documentation>Cocoma Google Web Services.</wsdl:documentation>
      <wsdl:port name="Google_ServiceSoap" binding="tns:Google_ServiceSoap">
         <soap:address location="http://ws.soatrader.com/ecocoma.com/0.1/Google_Service"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>