wsdl_repositories/soatrader_900/IdiomDictionaryService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="QueryIdiom">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strIdiom" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryIdiomResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="QueryIdiomResult" type="tns:IdiomResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="IdiomResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ChengYu" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DianGu" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PinYin" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ChuChu" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LiZi" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryIdiomSoapIn">
      <wsdl:part name="parameters" element="tns:QueryIdiom"/>
  </wsdl:message>
  <wsdl:message name="QueryIdiomSoapOut">
      <wsdl:part name="parameters" element="tns:QueryIdiomResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="IdiomDictionaryServiceSoap" type="tns:IdiomDictionaryServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="QueryIdiom">
         <soap:operation soapAction="http://tempuri.org/QueryIdiom" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="IdiomDictionaryService">
      <wsdl:port name="IdiomDictionaryServiceSoap" binding="tns:IdiomDictionaryServiceSoap">
         <soap:address location="http://ws.soatrader.com/iposei.com/0.1/IdiomDictionaryService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>