wsdl_repositories/soatrader_900/inventoryAdvancedSearchRequests.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetVehicleCountByPostalCodeAndDistance">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="distance" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVehicleCountByPostalCodeAndDistanceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVehicleCountByPostalCodeAndDistanceResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVehicleCountByAllAdvSearchCriteria">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="distance" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
                  <s:element minOccurs="1" maxOccurs="1" name="yearbeg" type="s:short"/>
                  <s:element minOccurs="1" maxOccurs="1" name="yearend" type="s:short"/>
                  <s:element minOccurs="0" maxOccurs="1" name="bodyStyles" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="make" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pricebeg" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="priceend" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="noPrice" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="mileage" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="engine" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="drive" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="transmission" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fuel" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="privateseller" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="VehicleCondition">
            <s:list>
               <s:simpleType>
                  <s:restriction base="s:string">
                     <s:enumeration value="Unknown"/>
                     <s:enumeration value="New"/>
                     <s:enumeration value="Used"/>
                     <s:enumeration value="Both"/>
                     <s:enumeration value="CertifiedPreOwned"/>
                  </s:restriction>
               </s:simpleType>
            </s:list>
         </s:simpleType>
         <s:element name="GetVehicleCountByAllAdvSearchCriteriaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVehicleCountByAllAdvSearchCriteriaResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYears">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYearsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYearsResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetYearsForAdvancedSearch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYearsForAdvancedSearchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYearsForAdvancedSearchResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBodyStyles">
            <s:complexType/>
         </s:element>
         <s:element name="GetBodyStylesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBodyStylesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMakesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesByBodystyle">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
                  <s:element minOccurs="0" maxOccurs="1" name="bodystyle" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesByBodystyleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMakesByBodystyleResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesByBodystyles">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
                  <s:element minOccurs="0" maxOccurs="1" name="bodystyles" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMakesByBodystylesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMakesByBodystylesResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModels">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="condition" type="tns:VehicleCondition"/>
                  <s:element minOccurs="0" maxOccurs="1" name="make" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModelsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetModelsResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModelsByMakeAndBodystyles">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="make" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="bodystyles" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetModelsByMakeAndBodystylesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetModelsByMakeAndBodystylesResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEngineTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetEngineTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEngineTypesResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDriveTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetDriveTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDriveTypesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTransmissionTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetTransmissionTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTransmissionTypesResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFuelTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetFuelTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFuelTypesResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInventoryVehicleByVin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="vin" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInventoryVehicleByVinResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInventoryVehicleByVinResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceSoapIn">
      <wsdl:part name="parameters" element="tns:GetVehicleCountByPostalCodeAndDistance"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceSoapOut">
      <wsdl:part name="parameters" element="tns:GetVehicleCountByPostalCodeAndDistanceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaSoapIn">
      <wsdl:part name="parameters" element="tns:GetVehicleCountByAllAdvSearchCriteria"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaSoapOut">
      <wsdl:part name="parameters" element="tns:GetVehicleCountByAllAdvSearchCriteriaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetYearsSoapIn">
      <wsdl:part name="parameters" element="tns:GetYears"/>
  </wsdl:message>
  <wsdl:message name="GetYearsSoapOut">
      <wsdl:part name="parameters" element="tns:GetYearsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchSoapIn">
      <wsdl:part name="parameters" element="tns:GetYearsForAdvancedSearch"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchSoapOut">
      <wsdl:part name="parameters" element="tns:GetYearsForAdvancedSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBodyStylesSoapIn">
      <wsdl:part name="parameters" element="tns:GetBodyStyles"/>
  </wsdl:message>
  <wsdl:message name="GetBodyStylesSoapOut">
      <wsdl:part name="parameters" element="tns:GetBodyStylesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMakesSoapIn">
      <wsdl:part name="parameters" element="tns:GetMakes"/>
  </wsdl:message>
  <wsdl:message name="GetMakesSoapOut">
      <wsdl:part name="parameters" element="tns:GetMakesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleSoapIn">
      <wsdl:part name="parameters" element="tns:GetMakesByBodystyle"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleSoapOut">
      <wsdl:part name="parameters" element="tns:GetMakesByBodystyleResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesSoapIn">
      <wsdl:part name="parameters" element="tns:GetMakesByBodystyles"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesSoapOut">
      <wsdl:part name="parameters" element="tns:GetMakesByBodystylesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetModelsSoapIn">
      <wsdl:part name="parameters" element="tns:GetModels"/>
  </wsdl:message>
  <wsdl:message name="GetModelsSoapOut">
      <wsdl:part name="parameters" element="tns:GetModelsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesSoapIn">
      <wsdl:part name="parameters" element="tns:GetModelsByMakeAndBodystyles"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesSoapOut">
      <wsdl:part name="parameters" element="tns:GetModelsByMakeAndBodystylesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetEngineTypes"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetEngineTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDriveTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetDriveTypes"/>
  </wsdl:message>
  <wsdl:message name="GetDriveTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetDriveTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTransmissionTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetTransmissionTypes"/>
  </wsdl:message>
  <wsdl:message name="GetTransmissionTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetTransmissionTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFuelTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetFuelTypes"/>
  </wsdl:message>
  <wsdl:message name="GetFuelTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetFuelTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinSoapIn">
      <wsdl:part name="parameters" element="tns:GetInventoryVehicleByVin"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinSoapOut">
      <wsdl:part name="parameters" element="tns:GetInventoryVehicleByVinResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceHttpGetIn">
      <wsdl:part name="postalCode" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaHttpGetIn">
      <wsdl:part name="postalCode" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="yearbeg" type="s:string"/>
      <wsdl:part name="yearend" type="s:string"/>
      <wsdl:part name="bodyStyles" type="s:string"/>
      <wsdl:part name="make" type="s:string"/>
      <wsdl:part name="model" type="s:string"/>
      <wsdl:part name="pricebeg" type="s:string"/>
      <wsdl:part name="priceend" type="s:string"/>
      <wsdl:part name="noPrice" type="s:string"/>
      <wsdl:part name="mileage" type="s:string"/>
      <wsdl:part name="engine" type="s:string"/>
      <wsdl:part name="drive" type="s:string"/>
      <wsdl:part name="transmission" type="s:string"/>
      <wsdl:part name="fuel" type="s:string"/>
      <wsdl:part name="privateseller" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetBodyStylesHttpGetIn"/>
  <wsdl:message name="GetBodyStylesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="bodystyle" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="bodystyles" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetModelsHttpGetIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="make" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetModelsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesHttpGetIn">
      <wsdl:part name="make" type="s:string"/>
      <wsdl:part name="bodystyles" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesHttpGetIn"/>
  <wsdl:message name="GetEngineTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetDriveTypesHttpGetIn"/>
  <wsdl:message name="GetDriveTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetTransmissionTypesHttpGetIn"/>
  <wsdl:message name="GetTransmissionTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetFuelTypesHttpGetIn"/>
  <wsdl:message name="GetFuelTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinHttpGetIn">
      <wsdl:part name="vin" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceHttpPostIn">
      <wsdl:part name="postalCode" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByPostalCodeAndDistanceHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaHttpPostIn">
      <wsdl:part name="postalCode" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="yearbeg" type="s:string"/>
      <wsdl:part name="yearend" type="s:string"/>
      <wsdl:part name="bodyStyles" type="s:string"/>
      <wsdl:part name="make" type="s:string"/>
      <wsdl:part name="model" type="s:string"/>
      <wsdl:part name="pricebeg" type="s:string"/>
      <wsdl:part name="priceend" type="s:string"/>
      <wsdl:part name="noPrice" type="s:string"/>
      <wsdl:part name="mileage" type="s:string"/>
      <wsdl:part name="engine" type="s:string"/>
      <wsdl:part name="drive" type="s:string"/>
      <wsdl:part name="transmission" type="s:string"/>
      <wsdl:part name="fuel" type="s:string"/>
      <wsdl:part name="privateseller" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVehicleCountByAllAdvSearchCriteriaHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYearsForAdvancedSearchHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetBodyStylesHttpPostIn"/>
  <wsdl:message name="GetBodyStylesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="bodystyle" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystyleHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="bodystyles" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMakesByBodystylesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetModelsHttpPostIn">
      <wsdl:part name="condition" type="s:string"/>
      <wsdl:part name="make" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetModelsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesHttpPostIn">
      <wsdl:part name="make" type="s:string"/>
      <wsdl:part name="bodystyles" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetModelsByMakeAndBodystylesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetEngineTypesHttpPostIn"/>
  <wsdl:message name="GetEngineTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetDriveTypesHttpPostIn"/>
  <wsdl:message name="GetDriveTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetTransmissionTypesHttpPostIn"/>
  <wsdl:message name="GetTransmissionTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetFuelTypesHttpPostIn"/>
  <wsdl:message name="GetFuelTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinHttpPostIn">
      <wsdl:part name="vin" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetInventoryVehicleByVinHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="inventoryAdvancedSearchRequestsSoap"
                 type="tns:inventoryAdvancedSearchRequestsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetVehicleCountByPostalCodeAndDistance">
         <soap:operation soapAction="http://tempuri.org/GetVehicleCountByPostalCodeAndDistance"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVehicleCountByAllAdvSearchCriteria">
         <soap:operation soapAction="http://tempuri.org/GetVehicleCountByAllAdvSearchCriteria"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetYears">
         <soap:operation soapAction="http://tempuri.org/GetYears" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetYearsForAdvancedSearch">
         <soap:operation soapAction="http://tempuri.org/GetYearsForAdvancedSearch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBodyStyles">
         <soap:operation soapAction="http://tempuri.org/GetBodyStyles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMakes">
         <soap:operation soapAction="http://tempuri.org/GetMakes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMakesByBodystyle">
         <soap:operation soapAction="http://tempuri.org/GetMakesByBodystyle" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMakesByBodystyles">
         <soap:operation soapAction="http://tempuri.org/GetMakesByBodystyles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetModels">
         <soap:operation soapAction="http://tempuri.org/GetModels" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetModelsByMakeAndBodystyles">
         <soap:operation soapAction="http://tempuri.org/GetModelsByMakeAndBodystyles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEngineTypes">
         <soap:operation soapAction="http://tempuri.org/GetEngineTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDriveTypes">
         <soap:operation soapAction="http://tempuri.org/GetDriveTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTransmissionTypes">
         <soap:operation soapAction="http://tempuri.org/GetTransmissionTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFuelTypes">
         <soap:operation soapAction="http://tempuri.org/GetFuelTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetInventoryVehicleByVin">
         <soap:operation soapAction="http://tempuri.org/GetInventoryVehicleByVin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="inventoryAdvancedSearchRequests">
      <wsdl:port name="inventoryAdvancedSearchRequestsSoap"
                 binding="tns:inventoryAdvancedSearchRequestsSoap">
         <soap:address location="http://ws.soatrader.com/vehix.com/0.1/inventoryAdvancedSearchRequests"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>