wsdl_repositories/soatrader_900/KbaServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:efundskba"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:efundskba"
                  xmlns:intf="urn:efundskba"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns2="http://V001.queryobjects.soap.penleyinc.com"
                  xmlns:tns3="http://V001.replyobjects.soap.penleyinc.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:efundskba">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://V001.queryobjects.soap.penleyinc.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="KBAIdentification">
            <sequence>
               <element name="acquirerid" nillable="true" type="xsd:string"/>
               <element name="configkey" nillable="true" type="xsd:string"/>
               <element name="customerid" nillable="true" type="xsd:string"/>
               <element name="locationid" nillable="true" type="xsd:string"/>
               <element name="productcd" nillable="true" type="xsd:string"/>
               <element name="productversionbr" nillable="true" type="xsd:string"/>
               <element name="staging" type="xsd:boolean"/>
               <element name="userdefinedtransactiontext1" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext2" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext3" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="KBAPerson">
            <sequence>
               <element name="address" nillable="true" type="xsd:string"/>
               <element name="city" nillable="true" type="xsd:string"/>
               <element name="dob" nillable="true" type="xsd:string"/>
               <element name="firstname" nillable="true" type="xsd:string"/>
               <element name="lastname" nillable="true" type="xsd:string"/>
               <element name="ssn" nillable="true" type="xsd:string"/>
               <element name="state" nillable="true" type="xsd:string"/>
               <element name="zip" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="KBAAnswers">
            <sequence>
               <element name="answer1QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer1ResponseId" nillable="true" type="xsd:string"/>
               <element name="answer2QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer2ResponseId" nillable="true" type="xsd:string"/>
               <element name="answer3QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer3ResponseId" nillable="true" type="xsd:string"/>
               <element name="answer4QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer4ResponseId" nillable="true" type="xsd:string"/>
               <element name="answer5QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer5ResponseId" nillable="true" type="xsd:string"/>
               <element name="answer6QuestionId" nillable="true" type="xsd:string"/>
               <element name="answer6ResponseId" nillable="true" type="xsd:string"/>
               <element name="quizid" nillable="true" type="xsd:string"/>
               <element name="transid" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://V001.replyobjects.soap.penleyinc.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="KBAQuestion">
            <sequence>
               <element name="answer1id" nillable="true" type="xsd:string"/>
               <element name="answer1text" nillable="true" type="xsd:string"/>
               <element name="answer2id" nillable="true" type="xsd:string"/>
               <element name="answer2text" nillable="true" type="xsd:string"/>
               <element name="answer3id" nillable="true" type="xsd:string"/>
               <element name="answer3text" nillable="true" type="xsd:string"/>
               <element name="answer4id" nillable="true" type="xsd:string"/>
               <element name="answer4text" nillable="true" type="xsd:string"/>
               <element name="answer5id" nillable="true" type="xsd:string"/>
               <element name="answer5text" nillable="true" type="xsd:string"/>
               <element name="answer6id" nillable="true" type="xsd:string"/>
               <element name="answer6text" nillable="true" type="xsd:string"/>
               <element name="id" nillable="true" type="xsd:string"/>
               <element name="questiontext" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="KBAQuestions">
            <sequence>
               <element name="KBAQuestion1" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion2" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion3" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion4" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion5" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion6" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion7" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion8" nillable="true" type="tns3:KBAQuestion"/>
               <element name="KBAQuestion9" nillable="true" type="tns3:KBAQuestion"/>
               <element name="quizid" nillable="true" type="xsd:string"/>
               <element name="quizremain" nillable="true" type="xsd:string"/>
               <element name="quiztime" nillable="true" type="xsd:string"/>
               <element name="transid" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="KBADecision">
            <sequence>
               <element name="base" type="xsd:int"/>
               <element name="decision" nillable="true" type="xsd:string"/>
               <element name="score" type="xsd:int"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="kbaAnswerResponse">

      <wsdl:part name="kbaAnswerReturn" type="tns3:KBADecision"/>

   </wsdl:message>

   <wsdl:message name="kbaQuestionRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns2:KBAIdentification"/>

      <wsdl:part name="in2" type="tns2:KBAPerson"/>

   </wsdl:message>

   <wsdl:message name="kbaAuthenticateResponse">

      <wsdl:part name="kbaAuthenticateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="kbaAuthenticateRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="kbaQuestionResponse">

      <wsdl:part name="kbaQuestionReturn" type="tns3:KBAQuestions"/>

   </wsdl:message>

   <wsdl:message name="kbaAnswerRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns2:KBAAnswers"/>

   </wsdl:message>

   <wsdl:portType name="KbaService">

      <wsdl:operation name="kbaQuestion" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:kbaQuestionRequest" name="kbaQuestionRequest"/>

         <wsdl:output message="impl:kbaQuestionResponse" name="kbaQuestionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="kbaAnswer" parameterOrder="in0 in1">

         <wsdl:input message="impl:kbaAnswerRequest" name="kbaAnswerRequest"/>

         <wsdl:output message="impl:kbaAnswerResponse" name="kbaAnswerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="kbaAuthenticate" parameterOrder="in0 in1">

         <wsdl:input message="impl:kbaAuthenticateRequest" name="kbaAuthenticateRequest"/>

         <wsdl:output message="impl:kbaAuthenticateResponse" name="kbaAuthenticateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="efundskbaSoapBinding" type="impl:KbaService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="kbaQuestion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="kbaQuestionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:input>

         <wsdl:output name="kbaQuestionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="kbaAnswer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="kbaAnswerRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:input>

         <wsdl:output name="kbaAnswerResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="kbaAuthenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="kbaAuthenticateRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:input>

         <wsdl:output name="kbaAuthenticateResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body namespace="urn:efundskba" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="KbaServiceService">

      <wsdl:port binding="impl:efundskbaSoapBinding" name="efundskba">

         <wsdlsoap:address location="http://ws.soatrader.com/penleyinc.com/0.1/KbaServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>