wsdl_repositories/soatrader_900/ListingCalculation.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.codeweavers.net/webservices"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.codeweavers.net/webservices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.codeweavers.net/webservices">
         <s:element name="List">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="organisation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlInputData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.codeweavers.net/webservices">
         <s:element name="List">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="organisation" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlInputData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ListSoapIn">
      <wsdl:part name="parameters" element="tns:List"/>
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
      <wsdl:part name="parameters" element="tns:ListResponse"/>
  </wsdl:message>
  <wsdl:message name="ListHttpGetIn">
      <wsdl:part name="organisation" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="xmlInputData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListHttpPostIn">
      <wsdl:part name="organisation" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="xmlInputData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:portType name="ListingCalculationSoap">
      <wsdl:operation name="List">
         <wsdl:input message="tns:ListSoapIn"/>
         <wsdl:output message="tns:ListSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="ListingCalculationSoap" type="tns:ListingCalculationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="List">
         <soap:operation soapAction="http://www.codeweavers.net/webservices/List" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="ListingCalculation">
      <wsdl:port name="ListingCalculationSoap" binding="tns:ListingCalculationSoap">
         <soap:address location="http://ws.soatrader.com/jigsawfinance.com/0.1/ListingCalculation"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>