wsdl_repositories/soatrader_900/LiveStockQuotes.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.ecubicle.net/webservices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.ecubicle.net/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>&lt;span style='font-family:Arial;size:18px;color:#336699;'&gt;Live Quotes Web Service&lt;/span&gt;</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.ecubicle.net/webservices/">
         <s:element name="LiveMarket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="stockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LiveMarketResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketAsString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="stockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketAsStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LiveMarketAsStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="liveTSEMarket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="myStockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="liveTSEMarketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="liveTSEMarketResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.ecubicle.net/webservices/">
         <s:element name="LiveMarket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="stockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LiveMarketResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketAsString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="stockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LiveMarketAsStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LiveMarketAsStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="liveTSEMarket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="myStockSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="liveTSEMarketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="liveTSEMarketResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LiveMarketSoapIn">
      <wsdl:part name="parameters" element="tns:LiveMarket"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketSoapOut">
      <wsdl:part name="parameters" element="tns:LiveMarketResponse"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringSoapIn">
      <wsdl:part name="parameters" element="tns:LiveMarketAsString"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringSoapOut">
      <wsdl:part name="parameters" element="tns:LiveMarketAsStringResponse"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketSoapIn">
      <wsdl:part name="parameters" element="tns:liveTSEMarket"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketSoapOut">
      <wsdl:part name="parameters" element="tns:liveTSEMarketResponse"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketHttpGetIn">
      <wsdl:part name="stockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringHttpGetIn">
      <wsdl:part name="stockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketHttpGetIn">
      <wsdl:part name="myStockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketHttpPostIn">
      <wsdl:part name="stockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringHttpPostIn">
      <wsdl:part name="stockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LiveMarketAsStringHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketHttpPostIn">
      <wsdl:part name="myStockSymbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="liveTSEMarketHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="LiveStockQuotesSoap" type="tns:LiveStockQuotesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="liveMarket">
         <soap:operation soapAction="http://www.ecubicle.net/webservices/LiveMarket" style="document"/>
         <wsdl:input name="LiveMarket">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="LiveMarket">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="liveMarketAsString">
         <soap:operation soapAction="http://www.ecubicle.net/webservices/LiveMarketAsString"
                         style="document"/>
         <wsdl:input name="LiveMarketAsString">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="LiveMarketAsString">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="liveTSEMarket">
         <soap:operation soapAction="http://www.ecubicle.net/webservices/liveTSEMarket" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="LiveStockQuotes">
      <wsdl:documentation>&lt;span style='font-family:Arial;size:18px;color:#336699;'&gt;Live Quotes Web Service&lt;/span&gt;</wsdl:documentation>
      <wsdl:port name="LiveStockQuotesSoap" binding="tns:LiveStockQuotesSoap">
         <soap:address location="http://ws.soatrader.com/ecubicle.net/0.1/LiveStockQuotes"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>