wsdl_repositories/soatrader_900/LocationService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetUnits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CSLocationId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUnitsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUnitsResult" type="tns:ArrayOfUnit"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfUnit">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Unit" nillable="true" type="tns:Unit"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Unit">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Dimension" type="tns:UnitDimension"/>
               <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal"/>
               <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Location"/>
               <s:element minOccurs="0" maxOccurs="1" name="UnitAttribute" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="UnitAttributeId" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="UnitDimension">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:decimal"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LocationId" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAddress" type="tns:Address"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExtraText" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationHours" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Distance" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowLink" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUnitsSoapIn">
      <wsdl:part name="parameters" element="tns:GetUnits"/>
  </wsdl:message>
  <wsdl:message name="GetUnitsSoapOut">
      <wsdl:part name="parameters" element="tns:GetUnitsResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="LocationServiceSoap" type="tns:LocationServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetUnits">
         <soap:operation soapAction="http://tempuri.org/GetUnits" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LocationService">
      <wsdl:port name="LocationServiceSoap" binding="tns:LocationServiceSoap">
         <soap:address location="http://ws.soatrader.com/thelockup.com/0.1/LocationService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>