wsdl_repositories/soatrader_900/LocationServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetAllLocationsByCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllLocationsByCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationsByCodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true"
                          type="tns:Location"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Location">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SummaryDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CloseDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CodeDestination" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="GPSurgery" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetAllLocationsByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllLocationsByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationsByNameResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllLocationsByPostcode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aPostcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllLocationsByPostcodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationsByPostcodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentLocationsByCodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentLocationsByNameResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByPostcode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aPostcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentLocationsByPostcodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentLocationsByPostcodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOldLocationsByCodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOldLocationsByNameResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByPostcode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aPostcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOldLocationsByPostcodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOldLocationsByPostcodeResult"
                             type="tns:ArrayOfLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllLocationsByCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByCode"/>
  </wsdl:message>
  <wsdl:message name="GetAllLocationsByCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllLocationsByNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByName"/>
  </wsdl:message>
  <wsdl:message name="GetAllLocationsByNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllLocationsByPostcodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByPostcode"/>
  </wsdl:message>
  <wsdl:message name="GetAllLocationsByPostcodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllLocationsByPostcodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByCode"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByName"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByPostcodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByPostcode"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentLocationsByPostcodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentLocationsByPostcodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByCode"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByName"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByPostcodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByPostcode"/>
  </wsdl:message>
  <wsdl:message name="GetOldLocationsByPostcodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetOldLocationsByPostcodeResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="LocationServicesSoap" type="tns:LocationServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetAllLocationsByCode">
         <soap:operation soapAction="http://tempuri.org/GetAllLocationsByCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllLocationsByName">
         <soap:operation soapAction="http://tempuri.org/GetAllLocationsByName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllLocationsByPostcode">
         <soap:operation soapAction="http://tempuri.org/GetAllLocationsByPostcode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentLocationsByCode">
         <soap:operation soapAction="http://tempuri.org/GetCurrentLocationsByCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentLocationsByName">
         <soap:operation soapAction="http://tempuri.org/GetCurrentLocationsByName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentLocationsByPostcode">
         <soap:operation soapAction="http://tempuri.org/GetCurrentLocationsByPostcode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOldLocationsByCode">
         <soap:operation soapAction="http://tempuri.org/GetOldLocationsByCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOldLocationsByName">
         <soap:operation soapAction="http://tempuri.org/GetOldLocationsByName" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOldLocationsByPostcode">
         <soap:operation soapAction="http://tempuri.org/GetOldLocationsByPostcode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="LocationServices">
      <wsdl:port name="LocationServicesSoap" binding="tns:LocationServicesSoap">
         <soap:address location="http://ws.soatrader.com/scot.nhs.uk/0.1/LocationServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>