wsdl_repositories/soatrader_900/Locations.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://newcenturyhomes.gr/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://newcenturyhomes.gr/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://newcenturyhomes.gr/">
         <s:element name="GetNearestLocation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNearestLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNearestLocationResult"
                             type="tns:LocationInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="LocationInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="X" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:double"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLocationCoordinatesById">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationCoordinatesByIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationCoordinatesByIdResult"
                             type="tns:LocationInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLocationListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLocationListResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="LocationInfo" nillable="true" type="tns:LocationInfo"/>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNearestLocationSoapIn">
      <wsdl:part name="parameters" element="tns:GetNearestLocation"/>
  </wsdl:message>
  <wsdl:message name="GetNearestLocationSoapOut">
      <wsdl:part name="parameters" element="tns:GetNearestLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationCoordinatesById"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationCoordinatesByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListSoapIn">
      <wsdl:part name="parameters" element="tns:GetLocationList"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListSoapOut">
      <wsdl:part name="parameters" element="tns:GetLocationListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNearestLocationHttpGetIn">
      <wsdl:part name="x" type="s:string"/>
      <wsdl:part name="y" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetNearestLocationHttpGetOut">
      <wsdl:part name="Body" element="tns:LocationInfo"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdHttpGetIn">
      <wsdl:part name="id" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdHttpGetOut">
      <wsdl:part name="Body" element="tns:LocationInfo"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListHttpGetIn">
      <wsdl:part name="prefixText" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetNearestLocationHttpPostIn">
      <wsdl:part name="x" type="s:string"/>
      <wsdl:part name="y" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetNearestLocationHttpPostOut">
      <wsdl:part name="Body" element="tns:LocationInfo"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdHttpPostIn">
      <wsdl:part name="id" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationCoordinatesByIdHttpPostOut">
      <wsdl:part name="Body" element="tns:LocationInfo"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListHttpPostIn">
      <wsdl:part name="prefixText" type="s:string"/>
      <wsdl:part name="count" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationListHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="LocationsSoap" type="tns:LocationsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetNearestLocation">
         <soap:operation soapAction="http://newcenturyhomes.gr/GetNearestLocation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationCoordinatesById">
         <soap:operation soapAction="http://newcenturyhomes.gr/GetLocationCoordinatesById"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLocationList">
         <soap:operation soapAction="http://newcenturyhomes.gr/GetLocationList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Locations">
      <wsdl:port name="LocationsSoap" binding="tns:LocationsSoap">
         <soap:address location="http://ws.soatrader.com/newcenturyhomes.gr/0.1/Locations"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>