wsdl_repositories/soatrader_900/LocationServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="http://marketing.ews.yahooapis.com/V4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://marketing.ews.yahooapis.com/V4">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                  targetNamespace="http://marketing.ews.yahooapis.com/V4">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>4.2.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="getMasterAccountLocation">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getMasterAccountLocationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                  targetNamespace="http://marketing.ews.yahooapis.com/V4">
            <xsd:annotation>
                <xsd:appinfo>
                    <tns:version>4.2.0</tns:version>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:element name="commandGroup">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="license">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="masterAccountID">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quotaUsedForThisRequest">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="remainingQuota">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="timeTakenMillis">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ApiFault" type="tns:ApiFault"/>
            <xsd:element name="getMasterAccountLocation">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getMasterAccountLocationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="onBehalfOfPassword">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="onBehalfOfUsername">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:complexType name="ApiFault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/secext">
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/secext">
            <element name="Security" type="wsse:Security"/>
            <complexType name="Security">
                <sequence>
                    <element name="UsernameToken" type="wsse:UsernameToken"/>
                </sequence>
            </complexType>
            <complexType name="UsernameToken">
                <sequence>
                    <element name="Username" type="string"/>
                    <element name="Password" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="ApiFault">
        <wsdl:part element="tns:ApiFault" name="ApiFault"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part element="wsse:Security" name="Security"/>
    </wsdl:message>
    <wsdl:message name="commandGroup">
        <wsdl:part element="tns:commandGroup" name="commandGroup"/>
    </wsdl:message>
    <wsdl:message name="getMasterAccountLocationRequest">
        <wsdl:part element="tns:getMasterAccountLocation" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getMasterAccountLocationResponse">
        <wsdl:part element="tns:getMasterAccountLocationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>
    <wsdl:message name="masterAccountID">
        <wsdl:part element="tns:masterAccountID" name="masterAccountID"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfPassword">
        <wsdl:part element="tns:onBehalfOfPassword" name="onBehalfOfPassword"/>
    </wsdl:message>
    <wsdl:message name="onBehalfOfUsername">
        <wsdl:part element="tns:onBehalfOfUsername" name="onBehalfOfUsername"/>
    </wsdl:message>
    <wsdl:message name="quotaUsedForThisRequest">
        <wsdl:part element="tns:quotaUsedForThisRequest" name="quotaUsedForThisRequest"/>
    </wsdl:message>
    <wsdl:message name="remainingQuota">
        <wsdl:part element="tns:remainingQuota" name="remainingQuota"/>
    </wsdl:message>
    <wsdl:message name="timeTakenMillis">
        <wsdl:part element="tns:timeTakenMillis" name="timeTakenMillis"/>
    </wsdl:message>
    <wsdl:portType name="LocationService">
        <wsdl:operation name="getMasterAccountLocation">
            <wsdl:input message="tns:getMasterAccountLocationRequest"
                     name="getMasterAccountLocationRequest"/>
            <wsdl:output message="tns:getMasterAccountLocationResponse"
                      name="getMasterAccountLocationResponse"/>
            <wsdl:fault message="tns:ApiFault" name="ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LocationServiceHttpBinding" type="tns:LocationService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMasterAccountLocation">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getMasterAccountLocationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal"/>
                <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal"/>
                <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal"/>
                <wsdlsoap:header message="tns:license" part="license" use="literal"/>
                <wsdlsoap:header message="tns:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMasterAccountLocationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <wsdlsoap:body use="literal"/>
                <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal"/>
                <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal"/>
                <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest"
                             use="literal"/>
                <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <wsdlsoap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LocationServiceService">
        <wsdl:port binding="tns:LocationServiceHttpBinding" name="LocationService">
            <wsdlsoap:address location="http://ws.soatrader.com/overture.ch/0.1/LocationServiceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>