wsdl_repositories/soatrader_900/mdWebServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:mdWebService"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:mdWebService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="urn:mdWebService">
         <s:element name="doMultipleRecords">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:RequestArray"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="RequestArray">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Debug" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgMultipleRecords" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressMailing" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressParsed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgLacsLink" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgDeliveryIndicator" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressDeliveryPointValidation"
                          type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressGeographicArea" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressGeoCode" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgNameParsed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgTelephoneNumber" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataAllRecords" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataInRangeRecordsOnly"
                          type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeCitiesInState" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeZipInCity" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeInformation" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataOnAddressErrorsOnly"
                          type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeout" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="transmissionReference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TotalRecords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Record" type="tns:RequestRecord"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="RequestRecord">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Debug" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgMultipleRecords" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressMailing" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressParsed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgLacsLink" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgDeliveryIndicator" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressDeliveryPointValidation"
                          type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressGeographicArea" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgAddressGeoCode" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgNameParsed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgTelephoneNumber" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataAllRecords" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataInRangeRecordsOnly"
                          type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeCitiesInState" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeZipInCity" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgZipCodeInformation" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="pkgStreetDataOnAddressErrorsOnly"
                          type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeout" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="transmissionReference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="doMultipleRecordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="doMultipleRecordsResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ResponseArray">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CustomerCredentials"
                          type="tns:rspCustomerCredentials"/>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:rspServiceResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceFaults" type="tns:rspServiceFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="TotalRecords" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ResponseRecord"
                          type="tns:ResponseRecord"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="test" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
            <s:attribute name="timeout" type="s:string"/>
            <s:attribute name="timestamp" type="s:string"/>
            <s:attribute name="transmissionReference" type="s:string"/>
            <s:attribute name="TimeToProcess" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspCustomerCredentials">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspServiceResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspServiceFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault"
                          type="tns:rspServiceFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspServiceFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ResponseRecord">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CustomerCredentials"
                          type="tns:rspCustomerCredentials"/>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:rspServiceResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceFaults" type="tns:rspServiceFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:rspAddress"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetData" type="tns:rspStreetData"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCodeData" type="tns:rspZipCodeData"/>
               <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="tns:rspTelephone"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:rspName"/>
            </s:sequence>
            <s:attribute name="id" type="s:string"/>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="test" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
            <s:attribute name="timeout" type="s:string"/>
            <s:attribute name="timestamp" type="s:string"/>
            <s:attribute name="transmissionReference" type="s:string"/>
            <s:attribute name="TimeToProcess" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspAddress">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Faults" type="tns:rspAddressFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:rspAddressResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Urbanization"
                          type="tns:rspAddressUrbanization"/>
               <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:rspAddressType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suite" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Lacs" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LacsLink" type="tns:rspLacsLink"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointCheckDigit" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DPV" type="tns:rspAddressDPV"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryIndicator"
                          type="tns:rspDeliveryIndicator"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:rspAddressCity"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="tns:rspAddressCounty"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:rspAddressState"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="tns:rspAddressZip"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeoCode" type="tns:rspAddressGeoCode"/>
               <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="tns:rspAddressTimeZone"/>
               <s:element minOccurs="0" maxOccurs="1" name="Msa" type="tns:rspAddressMsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="Pmsa" type="tns:rspAddressPmsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSA" type="tns:rspAddressCBSA"/>
               <s:element minOccurs="0" maxOccurs="1" name="Census" type="tns:rspAddressCensus"/>
               <s:element minOccurs="0" maxOccurs="1" name="CongressionalDistrict"
                          type="tns:rspAddressCongressionalDistrict"/>
               <s:element minOccurs="0" maxOccurs="1" name="Parsed" type="tns:rspAddressParsed"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:rspAddressCountry"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspAddressFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault"
                          type="tns:rspAddressFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspAddressFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressUrbanization">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="String" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspLacsLink">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LacsStatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LacsReturnCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressDPV">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Footnotes" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CMRA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressStatus" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspDeliveryIndicator">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCity">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCounty">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fips" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressState">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressZip">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressGeoCode">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PlaceCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PlaceName" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressTimeZone">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressMsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressPmsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCBSA">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSADivision"
                          type="tns:rspAddressCBSADivision"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCBSADivision">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCensus">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Block" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Tract" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCongressionalDistrict">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressParsed">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressRange" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Direction"
                          type="tns:rspAddressParsedDirection"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suite" type="tns:rspAddressParsedSuite"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrivateMailBox"
                          type="tns:rspAddressParsedPrivateMailBox"/>
               <s:element minOccurs="0" maxOccurs="1" name="Garbage" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressParsedDirection">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Post" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Pre" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressParsedSuite">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Range" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressParsedPrivateMailBox">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Range" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspAddressCountry">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Faults" type="tns:rspStreetDataFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:rspStreetDataResult"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Record"
                          type="tns:rspStreetDataRecord"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspStreetDataFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault"
                          type="tns:rspStreetDataFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspStreetDataFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecord">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Urbanization"
                          type="tns:rspStreetDataRecordUrbanization"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BaseAlternateIndicator" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="tns:rspStreetDataRecordStreet"/>
               <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CongressionalDistrict"
                          type="tns:rspStreetDataRecordCongressionalDistrict"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="tns:rspStreetDataRecordCounty"/>
               <s:element minOccurs="0" maxOccurs="1" name="Lacs" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastLineNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredLastLineNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Direction"
                          type="tns:rspStreetDataRecordDirection"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrimaryRange"
                          type="tns:rspStreetDataRecordPrimaryRange"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="tns:rspStreetDataRecordZip"/>
            </s:sequence>
            <s:attribute name="id" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordUrbanization">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordStreet">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suite"
                          type="tns:rspStreetDataRecordStreetSuite"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordStreetSuite">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="High" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Low" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OddEven" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordCongressionalDistrict">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordCounty">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Fips" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordDirection">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Post" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Pre" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordPrimaryRange">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="High" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Low" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OddEven" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordZip">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Zip5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Plus4" type="tns:rspStreetDataRecordZipPlus4"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspStreetDataRecordZipPlus4">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="High" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Low" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Faults" type="tns:rspZipCodeDataFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:rspZipCodeDataResult"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Record"
                          type="tns:rspZipCodeDataRecord"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspZipCodeDataFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault"
                          type="tns:rspZipCodeDataFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspZipCodeDataFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecord">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:rspZipCodeDataRecordCity"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="tns:rspZipCodeDataRecordCounty"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="tns:rspZipCodeDataRecordZip"/>
               <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:rspZipCodeDataRecordState"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeoCode"
                          type="tns:rspZipCodeDataRecordGeoCode"/>
               <s:element minOccurs="0" maxOccurs="1" name="TimeZone"
                          type="tns:rspZipCodeDataRecordTimeZone"/>
               <s:element minOccurs="0" maxOccurs="1" name="Msa" type="tns:rspZipCodeDataRecordMsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="Pmsa" type="tns:rspZipCodeDataRecordPmsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSA" type="tns:rspZipCodeDataRecordCBSA"/>
               <s:element minOccurs="0" maxOccurs="1" name="Automation" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FacilityCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastLineIndicator" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastLineNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredLastLineNumber" type="s:string"/>
            </s:sequence>
            <s:attribute name="id" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordCity">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordCounty">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fips" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordZip">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip5" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordState">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordGeoCode">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordTimeZone">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordMsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordPmsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordCBSA">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSADivision"
                          type="tns:rspZipCodeDataRecordCBSADivision"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspZipCodeDataRecordCBSADivision">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephone">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Faults" type="tns:rspTelephoneFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:rspTelephoneResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneAreaCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NewAreaCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:rspTelephoneCity"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:rspTelephoneState"/>
               <s:element minOccurs="0" maxOccurs="1" name="GeoCode" type="tns:rspTelephoneGeoCode"/>
               <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="tns:rspTelephoneTimeZone"/>
               <s:element minOccurs="0" maxOccurs="1" name="Msa" type="tns:rspTelephoneMsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="Pmsa" type="tns:rspTelephonePmsa"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSA" type="tns:rspTelephoneCBSA"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="tns:rspTelephoneCounty"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:rspTelephoneCountry"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspTelephoneFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault"
                          type="tns:rspTelephoneFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspTelephoneFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneCity">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneState">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneGeoCode">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneTimeZone">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneMsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephonePmsa">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneCBSA">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CBSADivision"
                          type="tns:rspTelephoneCBSADivision"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneCBSADivision">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneCounty">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Fips" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspTelephoneCountry">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspName">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Faults" type="tns:rspNameFaults"/>
               <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:rspNameResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Full" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="First" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Middle" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Last" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
            <s:attribute name="action" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspNameFaults">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Fault" type="tns:rspNameFaultsFault"/>
            </s:sequence>
            <s:attribute name="count" type="s:string"/>
         </s:complexType>
         <s:complexType name="rspNameFaultsFault">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="rspNameResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="doSingleRecord">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:RequestRecord"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="doSingleRecordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="doSingleRecordResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="doMultipleRecordsSoapIn">
      <wsdl:part name="parameters" element="tns:doMultipleRecords"/>
  </wsdl:message>
  <wsdl:message name="doMultipleRecordsSoapOut">
      <wsdl:part name="parameters" element="tns:doMultipleRecordsResponse"/>
  </wsdl:message>
  <wsdl:message name="doSingleRecordSoapIn">
      <wsdl:part name="parameters" element="tns:doSingleRecord"/>
  </wsdl:message>
  <wsdl:message name="doSingleRecordSoapOut">
      <wsdl:part name="parameters" element="tns:doSingleRecordResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="mdWebServicesSoap" type="tns:mdWebServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="doMultipleRecords">
         <soap:operation soapAction="urn:mdWebService/doMultipleRecords" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doSingleRecord">
         <soap:operation soapAction="urn:mdWebService/doSingleRecord" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="mdWebServices">
      <wsdl:port name="mdWebServicesSoap" binding="tns:mdWebServicesSoap">
         <soap:address location="http://ws.soatrader.com/melissadata.com/0.2/mdWebServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>