wsdl_repositories/soatrader_900/Messenger.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://brains-N-brawn.com/webservices"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://brains-N-brawn.com/webservices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://brains-N-brawn.com/webservices">
         <s:element name="AnonymousSendMessageNonSoap">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AnonymousSendMessageNonSoapResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AnonymousSendMessageNonSoapResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AnonymousConversationNonSoap">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AnonymousConversationNonSoapResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AnonymousConversationNonSoapResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddies" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ConversationFlag" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessageResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessageConv">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Caller" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Callee" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessageConvResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessageConvResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessage2">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessage2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessage2Result" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessage3">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Buddy" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="NoSinkSendMessage3Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="NoSinkSendMessage3Result" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMD5String">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMD5StringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMD5StringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AnonymousSendMessageNonSoapSoapIn">
      <wsdl:part name="parameters" element="tns:AnonymousSendMessageNonSoap"/>
  </wsdl:message>
  <wsdl:message name="AnonymousSendMessageNonSoapSoapOut">
      <wsdl:part name="parameters" element="tns:AnonymousSendMessageNonSoapResponse"/>
  </wsdl:message>
  <wsdl:message name="AnonymousConversationNonSoapSoapIn">
      <wsdl:part name="parameters" element="tns:AnonymousConversationNonSoap"/>
  </wsdl:message>
  <wsdl:message name="AnonymousConversationNonSoapSoapOut">
      <wsdl:part name="parameters" element="tns:AnonymousConversationNonSoapResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessage"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessageConvSoapIn">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessageConv"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessageConvSoapOut">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessageConvResponse"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessage2SoapIn">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessage2"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessage2SoapOut">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessage2Response"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessage3SoapIn">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessage3"/>
  </wsdl:message>
  <wsdl:message name="NoSinkSendMessage3SoapOut">
      <wsdl:part name="parameters" element="tns:NoSinkSendMessage3Response"/>
  </wsdl:message>
  <wsdl:message name="GetMD5StringSoapIn">
      <wsdl:part name="parameters" element="tns:GetMD5String"/>
  </wsdl:message>
  <wsdl:message name="GetMD5StringSoapOut">
      <wsdl:part name="parameters" element="tns:GetMD5StringResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="MessengerSoap" type="tns:MessengerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AnonymousSendMessageNonSoap">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/AnonymousSendMessageNonSoap"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AnonymousConversationNonSoap">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/AnonymousConversationNonSoap"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessage">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/SendMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NoSinkSendMessage">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NoSinkSendMessageConv">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessageConv"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NoSinkSendMessage2">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage2"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="NoSinkSendMessage3">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/NoSinkSendMessage3"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMD5String">
         <soap:operation soapAction="http://brains-N-brawn.com/webservices/GetMD5String"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Messenger">
      <wsdl:port name="MessengerSoap" binding="tns:MessengerSoap">
         <soap:address location="http://ws.soatrader.com/mperfect.net/0.1/Messenger"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>