wsdl_repositories/soatrader_900/MicrServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:efundsmicr"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:efundsmicr"
                  xmlns:intf="urn:efundsmicr"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns2="http://V001.queryobjects.soap.penleyinc.com"
                  xmlns:tns3="http://V001.replyobjects.soap.penleyinc.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:efundsmicr">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://V001.queryobjects.soap.penleyinc.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="MicrIdentification">
            <sequence>
               <element name="acquirerid" nillable="true" type="xsd:string"/>
               <element name="customerid" nillable="true" type="xsd:string"/>
               <element name="locationid" nillable="true" type="xsd:string"/>
               <element name="productcd" nillable="true" type="xsd:string"/>
               <element name="productversionbr" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext1" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext2" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext3" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrConsumer">
            <sequence>
               <element name="accountnbr" nillable="true" type="xsd:string"/>
               <element name="bankcd" nillable="true" type="xsd:string"/>
               <element name="bankcheckdigitcd" nillable="true" type="xsd:string"/>
               <element name="businessname" nillable="true" type="xsd:string"/>
               <element name="cityname" nillable="true" type="xsd:string"/>
               <element name="dlnbr" nillable="true" type="xsd:string"/>
               <element name="dlstatecd" nillable="true" type="xsd:string"/>
               <element name="federaltaxid" nillable="true" type="xsd:string"/>
               <element name="firstname" nillable="true" type="xsd:string"/>
               <element name="generationtext" nillable="true" type="xsd:string"/>
               <element name="homephonenbr" nillable="true" type="xsd:string"/>
               <element name="lastname" nillable="true" type="xsd:string"/>
               <element name="middlename" nillable="true" type="xsd:string"/>
               <element name="postalplusfourcd" nillable="true" type="xsd:string"/>
               <element name="socialsecuritynbr" nillable="true" type="xsd:string"/>
               <element name="statecd" nillable="true" type="xsd:string"/>
               <element name="streetaddresstext" nillable="true" type="xsd:string"/>
               <element name="suffixtext" nillable="true" type="xsd:string"/>
               <element name="titletext" nillable="true" type="xsd:string"/>
               <element name="workphonenbr" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrRiskIdentification">
            <sequence>
               <element name="acquirerid" nillable="true" type="xsd:string"/>
               <element name="customerid" nillable="true" type="xsd:string"/>
               <element name="locationid" nillable="true" type="xsd:string"/>
               <element name="productcd" nillable="true" type="xsd:string"/>
               <element name="productversionbr" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext1" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrRiskConsumer">
            <sequence>
               <element name="accountNbr" nillable="true" type="xsd:string"/>
               <element name="bankCd" nillable="true" type="xsd:string"/>
               <element name="bankCheckDigitCd" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://V001.replyobjects.soap.penleyinc.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="MicrMatchData">
            <sequence>
               <element name="accountnbr" nillable="true" type="xsd:string"/>
               <element name="bankcd" nillable="true" type="xsd:string"/>
               <element name="bankcheckdigitcd" nillable="true" type="xsd:string"/>
               <element name="businessname" nillable="true" type="xsd:string"/>
               <element name="cityname" nillable="true" type="xsd:string"/>
               <element name="dlnbr" nillable="true" type="xsd:string"/>
               <element name="dlstatecd" nillable="true" type="xsd:string"/>
               <element name="federaltaxid" nillable="true" type="xsd:string"/>
               <element name="firstname" nillable="true" type="xsd:string"/>
               <element name="generationtext" nillable="true" type="xsd:string"/>
               <element name="homephonenbr" nillable="true" type="xsd:string"/>
               <element name="lastname" nillable="true" type="xsd:string"/>
               <element name="middlename" nillable="true" type="xsd:string"/>
               <element name="postalplusfourcd" nillable="true" type="xsd:string"/>
               <element name="socialsecuritynbr" nillable="true" type="xsd:string"/>
               <element name="statecd" nillable="true" type="xsd:string"/>
               <element name="streetaddresstext" nillable="true" type="xsd:string"/>
               <element name="suffixtext" nillable="true" type="xsd:string"/>
               <element name="titletext" nillable="true" type="xsd:string"/>
               <element name="workphonenbr" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrValidationsResult">
            <sequence>
               <element name="micraddressmatch" nillable="true" type="xsd:string"/>
               <element name="micrdlmatch" nillable="true" type="xsd:string"/>
               <element name="micrgovtnbrmatch" nillable="true" type="xsd:string"/>
               <element name="micrhomephonematch" nillable="true" type="xsd:string"/>
               <element name="micrmatch" nillable="true" type="xsd:string"/>
               <element name="micrnamematch" nillable="true" type="xsd:string"/>
               <element name="micrworkphonematch" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrMatchResponse">
            <sequence>
               <element name="micrMatchData" nillable="true" type="tns3:MicrMatchData"/>
               <element name="micrValidationsResult" nillable="true" type="tns3:MicrValidationsResult"/>
               <element name="receiptTm" nillable="true" type="xsd:string"/>
               <element name="responseTm" nillable="true" type="xsd:string"/>
               <element name="transactiontrackingid" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext1" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext2" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext3" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrRiskData">
            <sequence>
               <element name="accountNbr" nillable="true" type="xsd:string"/>
               <element name="bankCd" nillable="true" type="xsd:string"/>
               <element name="bankCheckDigitCd" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrRiskResult">
            <sequence>
               <element name="acctAcceptTxt" nillable="true" type="xsd:string"/>
               <element name="acctClsrInd" nillable="true" type="xsd:string"/>
               <element name="riskMgmtScore" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="MicrRiskResponse">
            <sequence>
               <element name="micrRiskData" nillable="true" type="tns3:MicrRiskData"/>
               <element name="micrRiskResult" nillable="true" type="tns3:MicrRiskResult"/>
               <element name="receiptTm" nillable="true" type="xsd:string"/>
               <element name="responseTm" nillable="true" type="xsd:string"/>
               <element name="transactiontrackingid" nillable="true" type="xsd:string"/>
               <element name="userdefinedtransactiontext1" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="callMicrRiskServiceResponse">

      <wsdl:part name="callMicrRiskServiceReturn" type="tns3:MicrRiskResponse"/>

   </wsdl:message>

   <wsdl:message name="micrAuthenticateRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="callMicrServiceRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns2:MicrIdentification"/>

      <wsdl:part name="in2" type="tns2:MicrConsumer"/>

   </wsdl:message>

   <wsdl:message name="micrAuthenticateResponse">

      <wsdl:part name="micrAuthenticateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="callMicrRiskServiceRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="tns2:MicrRiskIdentification"/>

      <wsdl:part name="in2" type="tns2:MicrRiskConsumer"/>

   </wsdl:message>

   <wsdl:message name="callMicrServiceResponse">

      <wsdl:part name="callMicrServiceReturn" type="tns3:MicrMatchResponse"/>

   </wsdl:message>

   <wsdl:portType name="MicrService">

      <wsdl:operation name="callMicrService" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:callMicrServiceRequest" name="callMicrServiceRequest"/>

         <wsdl:output message="impl:callMicrServiceResponse" name="callMicrServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="callMicrRiskService" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:callMicrRiskServiceRequest" name="callMicrRiskServiceRequest"/>

         <wsdl:output message="impl:callMicrRiskServiceResponse" name="callMicrRiskServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="micrAuthenticate" parameterOrder="in0 in1">

         <wsdl:input message="impl:micrAuthenticateRequest" name="micrAuthenticateRequest"/>

         <wsdl:output message="impl:micrAuthenticateResponse" name="micrAuthenticateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="efundsmicrSoapBinding" type="impl:MicrService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="callMicrService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callMicrServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="callMicrServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callMicrRiskService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callMicrRiskServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="callMicrRiskServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="micrAuthenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="micrAuthenticateRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="micrAuthenticateResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:efundsmicr"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MicrServiceService">

      <wsdl:port binding="impl:efundsmicrSoapBinding" name="efundsmicr">

         <wsdlsoap:address location="http://ws.soatrader.com/penleyinc.com/0.1/MicrServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>