wsdl_repositories/soatrader_900/MLE.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://MaritimeYellowPages.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://MaritimeYellowPages.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://MaritimeYellowPages.com/">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogVisitTF">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserHost" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UrlReferrer" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LocalHost" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoteIP" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogVisitTFResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="LogVisitTFResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogVisit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserHost" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UrlReferrer" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LocalHost" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoteIP" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogVisitResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSiteID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteHost" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSiteIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetSiteIDResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLink">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="top" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="sid" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLinkResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLinkResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="boolean" type="s:boolean"/>
         <s:element name="int" type="s:int"/>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFSoapIn">
      <wsdl:part name="parameters" element="tns:LogVisitTF"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFSoapOut">
      <wsdl:part name="parameters" element="tns:LogVisitTFResponse"/>
  </wsdl:message>
  <wsdl:message name="LogVisitSoapIn">
      <wsdl:part name="parameters" element="tns:LogVisit"/>
  </wsdl:message>
  <wsdl:message name="LogVisitSoapOut">
      <wsdl:part name="parameters" element="tns:LogVisitResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSiteIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetSiteID"/>
  </wsdl:message>
  <wsdl:message name="GetSiteIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetSiteIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLinkSoapIn">
      <wsdl:part name="parameters" element="tns:GetLink"/>
  </wsdl:message>
  <wsdl:message name="GetLinkSoapOut">
      <wsdl:part name="parameters" element="tns:GetLinkResponse"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn"/>
  <wsdl:message name="HelloWorldHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFHttpGetIn">
      <wsdl:part name="UserHost" type="s:string"/>
      <wsdl:part name="UrlReferrer" type="s:string"/>
      <wsdl:part name="LocalHost" type="s:string"/>
      <wsdl:part name="RemoteIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="LogVisitHttpGetIn">
      <wsdl:part name="UserHost" type="s:string"/>
      <wsdl:part name="UrlReferrer" type="s:string"/>
      <wsdl:part name="LocalHost" type="s:string"/>
      <wsdl:part name="RemoteIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitHttpGetOut"/>
  <wsdl:message name="GetSiteIDHttpGetIn">
      <wsdl:part name="SiteHost" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSiteIDHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetLinkHttpGetIn">
      <wsdl:part name="top" type="s:string"/>
      <wsdl:part name="sid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLinkHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn"/>
  <wsdl:message name="HelloWorldHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFHttpPostIn">
      <wsdl:part name="UserHost" type="s:string"/>
      <wsdl:part name="UrlReferrer" type="s:string"/>
      <wsdl:part name="LocalHost" type="s:string"/>
      <wsdl:part name="RemoteIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitTFHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="LogVisitHttpPostIn">
      <wsdl:part name="UserHost" type="s:string"/>
      <wsdl:part name="UrlReferrer" type="s:string"/>
      <wsdl:part name="LocalHost" type="s:string"/>
      <wsdl:part name="RemoteIP" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogVisitHttpPostOut"/>
  <wsdl:message name="GetSiteIDHttpPostIn">
      <wsdl:part name="SiteHost" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSiteIDHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetLinkHttpPostIn">
      <wsdl:part name="top" type="s:string"/>
      <wsdl:part name="sid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLinkHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="MLESoap" type="tns:MLESoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://MaritimeYellowPages.com/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogVisitTF">
         <soap:operation soapAction="http://MaritimeYellowPages.com/LogVisitTF" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogVisit">
         <soap:operation soapAction="http://MaritimeYellowPages.com/LogVisit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSiteID">
         <soap:operation soapAction="http://MaritimeYellowPages.com/GetSiteID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLink">
         <soap:operation soapAction="http://MaritimeYellowPages.com/GetLink" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="MLE">
      <wsdl:port name="MLESoap" binding="tns:MLESoap">
         <soap:address location="http://ws.soatrader.com/maritimeyellowpages.com/0.1/MLE"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>