wsdl_repositories/soatrader_900/MummerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:mummer">
   <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">0:31:2216 June 2005</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">f4d84e14fd85cabf3f45abec058e189f</version>
   </wsdl:documentation>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerAnnotations_AdvancedResponse">
      <wsdl:part name="mummerAnnotations_AdvancedReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerAnnotations_BasicResponse">
      <wsdl:part name="mummerAnnotations_BasicReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerFilesResponse">
      <wsdl:part name="mummerFilesReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerAnnotations_AdvancedRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:string"/>
      <wsdl:part name="in6" type="xsd:string"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:string"/>
      <wsdl:part name="in9" type="xsd:string"/>
      <wsdl:part name="in10" type="xsd:string"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
      <wsdl:part name="in13" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerFilesRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:string"/>
      <wsdl:part name="in6" type="xsd:string"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:string"/>
      <wsdl:part name="in9" type="xsd:string"/>
      <wsdl:part name="in10" type="xsd:string"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
      <wsdl:part name="in13" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerAnnotations_BasicRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:string"/>
      <wsdl:part name="in6" type="xsd:string"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerFileAndAnnotationsRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:string"/>
      <wsdl:part name="in6" type="xsd:string"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:string"/>
      <wsdl:part name="in9" type="xsd:string"/>
      <wsdl:part name="in10" type="xsd:string"/>
      <wsdl:part name="in11" type="xsd:string"/>
      <wsdl:part name="in12" type="xsd:string"/>
      <wsdl:part name="in13" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="mummerFileAndAnnotationsResponse">
      <wsdl:part name="mummerFileAndAnnotationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Mummer">
      <wsdl:operation name="mummerAnnotations_Basic"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8">
         <wsdl:input message="impl:mummerAnnotations_BasicRequest"
                     name="mummerAnnotations_BasicRequest"/>
         <wsdl:output message="impl:mummerAnnotations_BasicResponse"
                      name="mummerAnnotations_BasicResponse"/>
      </wsdl:operation>
      <wsdl:operation name="mummerAnnotations_Advanced"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13">
         <wsdl:input message="impl:mummerAnnotations_AdvancedRequest"
                     name="mummerAnnotations_AdvancedRequest"/>
         <wsdl:output message="impl:mummerAnnotations_AdvancedResponse"
                      name="mummerAnnotations_AdvancedResponse"/>
      </wsdl:operation>
      <wsdl:operation name="mummerFiles"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13">
         <wsdl:input message="impl:mummerFilesRequest" name="mummerFilesRequest"/>
         <wsdl:output message="impl:mummerFilesResponse" name="mummerFilesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="mummerFileAndAnnotations"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13">
         <wsdl:input message="impl:mummerFileAndAnnotationsRequest"
                     name="mummerFileAndAnnotationsRequest"/>
         <wsdl:output message="impl:mummerFileAndAnnotationsResponse"
                      name="mummerFileAndAnnotationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="mummerSoapBinding" type="impl:Mummer">
      <wsdlsoap:binding xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc"
                        transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="mummerAnnotations_Basic">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="mummerAnnotations_BasicRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="mummerAnnotations_BasicResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mummerAnnotations_Advanced">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="mummerAnnotations_AdvancedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="mummerAnnotations_AdvancedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mummerFiles">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="mummerFilesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="mummerFilesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mummerFileAndAnnotations">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="mummerFileAndAnnotationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="mummerFileAndAnnotationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:mummer"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MummerService">
      <wsdl:port binding="impl:mummerSoapBinding" name="mummer">
         <wsdlsoap:address xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                           location="http://ws.soatrader.com/vbi.vt.edu/0.3/MummerService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>