wsdl_repositories/soatrader_900/MutualFunds.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://www.strikeiron.com"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:si="http://www.strikeiron.com"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.strikeiron.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
         <s:element name="GetLastNAV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="SIIdentifierTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Symbol"/>
               <s:enumeration value="CIK"/>
               <s:enumeration value="CUSIP"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetLastNAVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLastNAVResult" type="si:SIFundNAV"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="SIFundNAV">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Security" type="si:SISecurity"/>
               <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="LastClose" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChangeFromOpen" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromOpen" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChangeFromLastClose" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="PercentChangeFromLastClose" type="s:double"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SISecurity">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CIK" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Cusip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CategoryOrIndustry" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ResponseInfo" type="si:ResponseInfo"/>
         <s:complexType name="ResponseInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetLastNAVs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastNAVsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLastNAVsResult" type="si:ArrayOfSIFundNAV"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSIFundNAV">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SIFundNAV" nillable="true"
                          type="si:SIFundNAV"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetHistoricalNAV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="si:SIDate"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="SIDate">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Month" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Day" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetHistoricalNAVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalNAVResult" type="si:SIFundNAV"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalNAVs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifiers" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AsOfDate" type="si:SIDate"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalNAVsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalNAVsResult"
                             type="si:ArrayOfSIFundNAV"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalNAVsAsOf">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="si:SIDate"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PeriodType" type="si:SIPeriodTypes"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Periods" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="SIPeriodTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Day"/>
               <s:enumeration value="Week"/>
               <s:enumeration value="Month"/>
               <s:enumeration value="Quarter"/>
               <s:enumeration value="Year"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetHistoricalNAVsAsOfResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalNAVsAsOfResult"
                             type="si:SIFundNAVs"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="SIFundNAVs">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Security" type="si:SISecurity"/>
               <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NAVs" type="si:ArrayOfSIFundNAV"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetHistoricalNAVsRange">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IdentifierType" type="si:SIIdentifierTypes"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="si:SIDate"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="si:SIDate"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHistoricalNAVsRangeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalNAVsRangeResult"
                             type="si:SIFundNAVs"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTopGainers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="si:SIDate"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="si:SIDate"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTopGainersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTopGainersResult" type="si:ArrayOfSITop"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSITop">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SITop" nillable="true"
                          type="si:SITop"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SITop">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Type" type="si:SITopTypes"/>
               <s:element minOccurs="0" maxOccurs="1" name="Security" type="si:SISecurity"/>
               <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="PercentChange" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="StartNAV" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="EndNAV" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="SITopTypes">
            <s:restriction base="s:string">
               <s:enumeration value="Gainers"/>
               <s:enumeration value="Losers"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetTopLosers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="si:SIDate"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="si:SIDate"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTopLosersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTopLosersResult" type="si:ArrayOfSITop"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <xs:schema xmlns:tns1="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 attributeFormDefault="unqualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetLastNAVSoapIn">
      <wsdl:part name="parameters" element="si:GetLastNAV"/>
  </wsdl:message>
  <wsdl:message name="GetLastNAVSoapOut">
      <wsdl:part name="parameters" element="si:GetLastNAVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLastNAVResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetLastNAVsSoapIn">
      <wsdl:part name="parameters" element="si:GetLastNAVs"/>
  </wsdl:message>
  <wsdl:message name="GetLastNAVsSoapOut">
      <wsdl:part name="parameters" element="si:GetLastNAVsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLastNAVsResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVSoapIn">
      <wsdl:part name="parameters" element="si:GetHistoricalNAV"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVSoapOut">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsSoapIn">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVs"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsSoapOut">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsAsOfSoapIn">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVsAsOf"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsAsOfSoapOut">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVsAsOfResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsAsOfResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsRangeSoapIn">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVsRange"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsRangeSoapOut">
      <wsdl:part name="parameters" element="si:GetHistoricalNAVsRangeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHistoricalNAVsRangeResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetTopGainersSoapIn">
      <wsdl:part name="parameters" element="si:GetTopGainers"/>
  </wsdl:message>
  <wsdl:message name="GetTopGainersSoapOut">
      <wsdl:part name="parameters" element="si:GetTopGainersResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTopGainersResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetTopLosersSoapIn">
      <wsdl:part name="parameters" element="si:GetTopLosers"/>
  </wsdl:message>
  <wsdl:message name="GetTopLosersSoapOut">
      <wsdl:part name="parameters" element="si:GetTopLosersResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTopLosersResponseInfo">
      <wsdl:part name="ResponseInfo" element="si:ResponseInfo"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="q1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="q2:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="q3:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="q4:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="MutualFundsSoap">
      <wsdl:operation name="GetLastNAV">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns last closing NAV for a fund</documentation>
         <wsdl:input message="si:GetLastNAVSoapIn"/>
         <wsdl:output message="si:GetLastNAVSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetLastNAVs">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns last closing price for a collection of funds</documentation>
         <wsdl:input message="si:GetLastNAVsSoapIn"/>
         <wsdl:output message="si:GetLastNAVsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAV">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a fund quote as of a historical NAV</documentation>
         <wsdl:input message="si:GetHistoricalNAVSoapIn"/>
         <wsdl:output message="si:GetHistoricalNAVSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVs">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a fund NAV as of a historical date</documentation>
         <wsdl:input message="si:GetHistoricalNAVsSoapIn"/>
         <wsdl:output message="si:GetHistoricalNAVsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVsAsOf">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This operation returns a range of fund NAVs for a security</documentation>
         <wsdl:input message="si:GetHistoricalNAVsAsOfSoapIn"/>
         <wsdl:output message="si:GetHistoricalNAVsAsOfSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVsRange">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This operation returns a range of NAVs for a fund</documentation>
         <wsdl:input message="si:GetHistoricalNAVsRangeSoapIn"/>
         <wsdl:output message="si:GetHistoricalNAVsRangeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTopGainers">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This operation returns quote information about the top gaining funds for a date</documentation>
         <wsdl:input message="si:GetTopGainersSoapIn"/>
         <wsdl:output message="si:GetTopGainersSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetTopLosers">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This operation returns quote information about the top losing equities from NYSE, NASDAQ and AMEX</documentation>
         <wsdl:input message="si:GetTopLosersSoapIn"/>
         <wsdl:output message="si:GetTopLosersSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="si:GetRemainingHitsSoapIn"/>
         <wsdl:output message="si:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MutualFundsSoap" type="si:MutualFundsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetLastNAV">
         <soap:operation soapAction="http://www.strikeiron.com/GetLastNAV" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifier) &gt; 0</tns:expression>
                     <tns:description>Identifier is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetLastNAVResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLastNAVs">
         <soap:operation soapAction="http://www.strikeiron.com/GetLastNAVs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifiers) &gt; 0</tns:expression>
                     <tns:description>Identifiers is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetLastNAVsResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAV">
         <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalNAV" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifier) &gt; 0</tns:expression>
                     <tns:description>Identifier is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetHistoricalNAVResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVs">
         <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalNAVs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifiers) &gt; 0</tns:expression>
                     <tns:description>Identifiers is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetHistoricalNAVsResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVsAsOf">
         <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalNAVsAsOf" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifier) &gt; 0</tns:expression>
                     <tns:description>Identifier is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetHistoricalNAVsAsOfResponseInfo" part="ResponseInfo"
                         use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHistoricalNAVsRange">
         <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalNAVsRange" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions>
                  <tns:assertion>
                     <tns:expression>string-length(//tns:Identifier) &gt; 0</tns:expression>
                     <tns:description>Identifier is required</tns:description>
                  </tns:assertion>
               </tns:assertions>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetHistoricalNAVsRangeResponseInfo" part="ResponseInfo"
                         use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTopGainers">
         <soap:operation soapAction="http://www.strikeiron.com/GetTopGainers" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions/>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetTopGainersResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTopLosers">
         <soap:operation soapAction="http://www.strikeiron.com/GetTopLosers" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <tns:validation>
               <tns:assertions/>
            </tns:validation>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:GetTopLosersResponseInfo" part="ResponseInfo" use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/MutualFunds/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MutualFunds">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This web service provides historical and end-of-day NAVs (Net Asset Values) for US mutual funds</documentation>
      <wsdl:port name="MutualFundsSoap" binding="si:MutualFundsSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/MutualFunds"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>