wsdl_repositories/soatrader_900/MWSearchService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="getSearchResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="tns:searchStringParam"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="searchStringParam">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="searchForProductTO" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="searchForMembersTrip" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="searchForPlaces" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="getSearchResultResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSearchResultResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSearchResultbyCity">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSearchResultbyCityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSearchResultbyCityResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSearchResultbyCountry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getSearchResultbyCountryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getSearchResultbyCountryResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCurrentGeoViewZone">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCurrentGeoViewZoneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCurrentGeoViewZoneResult"
                             type="tns:GeoViewZone"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GeoViewZone">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Lattitude_1" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Longitude_1" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Lattitude_2" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Longitude_2" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="zoomLevelMin" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="zoomLevelMax" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="GeoViewZone" nillable="true" type="tns:GeoViewZone"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getSearchResultSoapIn">
      <wsdl:part name="parameters" element="tns:getSearchResult"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultSoapOut">
      <wsdl:part name="parameters" element="tns:getSearchResultResponse"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCitySoapIn">
      <wsdl:part name="parameters" element="tns:getSearchResultbyCity"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCitySoapOut">
      <wsdl:part name="parameters" element="tns:getSearchResultbyCityResponse"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCountrySoapIn">
      <wsdl:part name="parameters" element="tns:getSearchResultbyCountry"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCountrySoapOut">
      <wsdl:part name="parameters" element="tns:getSearchResultbyCountryResponse"/>
  </wsdl:message>
  <wsdl:message name="getCurrentGeoViewZoneSoapIn">
      <wsdl:part name="parameters" element="tns:getCurrentGeoViewZone"/>
  </wsdl:message>
  <wsdl:message name="getCurrentGeoViewZoneSoapOut">
      <wsdl:part name="parameters" element="tns:getCurrentGeoViewZoneResponse"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCityHttpGetIn">
      <wsdl:part name="query" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCityHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCountryHttpGetIn">
      <wsdl:part name="query" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getSearchResultbyCountryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrentGeoViewZoneHttpGetIn">
      <wsdl:part name="query" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getCurrentGeoViewZoneHttpGetOut">
      <wsdl:part name="Body" element="tns:GeoViewZone"/>
  </wsdl:message>
  
  
  <wsdl:binding name="MWSearchServiceSoap" type="tns:MWSearchServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSearchResult">
         <soap:operation soapAction="http://tempuri.org/getSearchResult" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSearchResultbyCity">
         <soap:operation soapAction="http://tempuri.org/getSearchResultbyCity" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSearchResultbyCountry">
         <soap:operation soapAction="http://tempuri.org/getSearchResultbyCountry" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCurrentGeoViewZone">
         <soap:operation soapAction="http://tempuri.org/getCurrentGeoViewZone" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="MWSearchService">
      <wsdl:port name="MWSearchServiceSoap" binding="tns:MWSearchServiceSoap">
         <soap:address location="http://ws.soatrader.com/memo.fr/0.1/MWSearchService"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>