wsdl_repositories/soatrader_900/NGService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://VipAsp.Net/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://VipAsp.Net/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://VipAsp.Net/">
         <s:element name="RegUserNameCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegUserNameCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegUserNameCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeViewMode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OldCssClass" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeViewModeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeViewModeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportTopic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="OldChecked" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportType" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forum" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportTopicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportTopicResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextTopic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forum" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forumpage" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="view" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextTopicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNextTopicResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdminLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdminLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AdminLoginResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://VipAsp.Net/">
         <s:element name="RegUserNameCheck">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegUserNameCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegUserNameCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeViewMode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OldCssClass" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeViewModeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeViewModeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportTopic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="OldChecked" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportType" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forum" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportTopicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportTopicResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextTopic">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forum" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="topic" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="forumpage" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="view" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextTopicResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNextTopicResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdminLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdminLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AdminLoginResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RegUserNameCheckSoapIn">
      <wsdl:part name="parameters" element="tns:RegUserNameCheck"/>
  </wsdl:message>
  <wsdl:message name="RegUserNameCheckSoapOut">
      <wsdl:part name="parameters" element="tns:RegUserNameCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeViewModeSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeViewMode"/>
  </wsdl:message>
  <wsdl:message name="ChangeViewModeSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeViewModeResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportTopicSoapIn">
      <wsdl:part name="parameters" element="tns:ReportTopic"/>
  </wsdl:message>
  <wsdl:message name="ReportTopicSoapOut">
      <wsdl:part name="parameters" element="tns:ReportTopicResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNextTopicSoapIn">
      <wsdl:part name="parameters" element="tns:GetNextTopic"/>
  </wsdl:message>
  <wsdl:message name="GetNextTopicSoapOut">
      <wsdl:part name="parameters" element="tns:GetNextTopicResponse"/>
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapIn">
      <wsdl:part name="parameters" element="tns:AdminLogin"/>
  </wsdl:message>
  <wsdl:message name="AdminLoginSoapOut">
      <wsdl:part name="parameters" element="tns:AdminLoginResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="NGServiceSoap" type="tns:NGServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RegUserNameCheck">
         <soap:operation soapAction="http://VipAsp.Net/RegUserNameCheck" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeViewMode">
         <soap:operation soapAction="http://VipAsp.Net/ChangeViewMode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportTopic">
         <soap:operation soapAction="http://VipAsp.Net/ReportTopic" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetNextTopic">
         <soap:operation soapAction="http://VipAsp.Net/GetNextTopic" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AdminLogin">
         <soap:operation soapAction="http://VipAsp.Net/AdminLogin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="NGService">
      <wsdl:port name="NGServiceSoap" binding="tns:NGServiceSoap">
         <soap:address location="http://ws.soatrader.com/aastocks.com/0.1/NGService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>