wsdl_repositories/soatrader_900/nucleic_gene_finding__marscanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://derived.applab.SoaplabServer.ebi.embl.org"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://derived.applab.SoaplabServer.ebi.embl.org"
                  xmlns:intf="http://derived.applab.SoaplabServer.ebi.embl.org"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns2="http://SoaplabShare.ebi.embl.org"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://derived.applab.SoaplabServer.ebi.embl.org">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://SoaplabShare.ebi.embl.org">
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://derived.applab.SoaplabServer.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SoaplabException">
            <sequence/>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://xml.apache.org/xml-soap">
         <import namespace="http://derived.applab.SoaplabServer.ebi.embl.org"/>
         <import namespace="http://SoaplabShare.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="mapItem">
            <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
         <complexType name="Map">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://derived.applab.SoaplabServer.ebi.embl.org">
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://SoaplabShare.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_apachesoap_Map">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="apachesoap:Map[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_soapenc_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="set_snucleotideRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runResponse">

   </wsdl:message>

   <wsdl:message name="getInputSpecRequest">

   </wsdl:message>

   <wsdl:message name="getStartedResponse">

      <wsdl:part name="getStartedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="set_sendRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="waitForRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sequence_direct_dataResponse">

   </wsdl:message>

   <wsdl:message name="getResultSpecRequest">

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeRequest">

   </wsdl:message>

   <wsdl:message name="getElapsedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="terminateResponse">

   </wsdl:message>

   <wsdl:message name="get_reportRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createEmptyJobRequest">

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeResponse">

      <wsdl:part name="getAnalysisTypeReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_sequence_usaRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEndedResponse">

      <wsdl:part name="getEndedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="set_slowerRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sequence_usaResponse">

   </wsdl:message>

   <wsdl:message name="set_slowerResponse">

   </wsdl:message>

   <wsdl:message name="get_detailed_statusResponse">

      <wsdl:part name="get_detailed_statusReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="destroyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sformatRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCreatedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createJobRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sbeginResponse">

   </wsdl:message>

   <wsdl:message name="set_sformatResponse">

   </wsdl:message>

   <wsdl:message name="runNotifiableRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNotifiableResponse">

   </wsdl:message>

   <wsdl:message name="getSomeResultsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_sreverseResponse">

   </wsdl:message>

   <wsdl:message name="get_detailed_statusRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableResponse">

      <wsdl:part name="createAndRunNotifiableReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="getStatusReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sproteinRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getNotificationDescriptorRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="terminateRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getInputSpecResponse">

      <wsdl:part name="getInputSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="createAndRunRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="get_outfileResponse">

      <wsdl:part name="get_outfileReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_supperRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_reportResponse">

      <wsdl:part name="get_reportReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sendResponse">

   </wsdl:message>

   <wsdl:message name="getCharacteristicsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEndedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="waitForResponse">

   </wsdl:message>

   <wsdl:message name="createEmptyJobResponse">

      <wsdl:part name="createEmptyJobReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCreatedResponse">

      <wsdl:part name="getCreatedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForResponse">

      <wsdl:part name="runAndWaitForReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_sproteinResponse">

   </wsdl:message>

   <wsdl:message name="getSomeResultsResponse">

      <wsdl:part name="getSomeResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="SoaplabException">

      <wsdl:part name="fault" type="tns2:SoaplabException"/>

   </wsdl:message>

   <wsdl:message name="describeResponse">

      <wsdl:part name="describeReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createAndRunResponse">

      <wsdl:part name="createAndRunReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createJobResponse">

      <wsdl:part name="createJobReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_outfileRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="describeRequest">

   </wsdl:message>

   <wsdl:message name="getElapsedResponse">

      <wsdl:part name="getElapsedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getResultSpecResponse">

      <wsdl:part name="getResultSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_supperResponse">

   </wsdl:message>

   <wsdl:message name="set_sequence_direct_dataRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCharacteristicsResponse">

      <wsdl:part name="getCharacteristicsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_snucleotideResponse">

   </wsdl:message>

   <wsdl:message name="set_sreverseRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="destroyResponse">

   </wsdl:message>

   <wsdl:message name="runRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getStartedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getResultsResponse">

      <wsdl:part name="getResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getNotificationDescriptorResponse">

      <wsdl:part name="getNotificationDescriptorReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLastEventResponse">

      <wsdl:part name="getLastEventReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLastEventRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sbeginRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="nucleic_gene_finding__marscan">

      <wsdl:operation name="createEmptyJob">

         <wsdl:input message="impl:createEmptyJobRequest" name="createEmptyJobRequest"/>

         <wsdl:output message="impl:createEmptyJobResponse" name="createEmptyJobResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sequence_usa" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sequence_usaRequest" name="set_sequence_usaRequest"/>

         <wsdl:output message="impl:set_sequence_usaResponse" name="set_sequence_usaResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sequence_direct_data" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sequence_direct_dataRequest"
                     name="set_sequence_direct_dataRequest"/>

         <wsdl:output message="impl:set_sequence_direct_dataResponse"
                      name="set_sequence_direct_dataResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sformat" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sformatRequest" name="set_sformatRequest"/>

         <wsdl:output message="impl:set_sformatResponse" name="set_sformatResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sbegin" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sbeginRequest" name="set_sbeginRequest"/>

         <wsdl:output message="impl:set_sbeginResponse" name="set_sbeginResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_send" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sendRequest" name="set_sendRequest"/>

         <wsdl:output message="impl:set_sendResponse" name="set_sendResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sprotein" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sproteinRequest" name="set_sproteinRequest"/>

         <wsdl:output message="impl:set_sproteinResponse" name="set_sproteinResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_snucleotide" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_snucleotideRequest" name="set_snucleotideRequest"/>

         <wsdl:output message="impl:set_snucleotideResponse" name="set_snucleotideResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sreverse" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sreverseRequest" name="set_sreverseRequest"/>

         <wsdl:output message="impl:set_sreverseResponse" name="set_sreverseResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_slower" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_slowerRequest" name="set_slowerRequest"/>

         <wsdl:output message="impl:set_slowerResponse" name="set_slowerResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_supper" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_supperRequest" name="set_supperRequest"/>

         <wsdl:output message="impl:set_supperResponse" name="set_supperResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_report" parameterOrder="in0">

         <wsdl:input message="impl:get_reportRequest" name="get_reportRequest"/>

         <wsdl:output message="impl:get_reportResponse" name="get_reportResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_detailed_status" parameterOrder="in0">

         <wsdl:input message="impl:get_detailed_statusRequest" name="get_detailed_statusRequest"/>

         <wsdl:output message="impl:get_detailed_statusResponse" name="get_detailed_statusResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_outfile" parameterOrder="in0">

         <wsdl:input message="impl:get_outfileRequest" name="get_outfileRequest"/>

         <wsdl:output message="impl:get_outfileResponse" name="get_outfileResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="run" parameterOrder="in0">

         <wsdl:input message="impl:runRequest" name="runRequest"/>

         <wsdl:output message="impl:runResponse" name="runResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="destroy" parameterOrder="in0">

         <wsdl:input message="impl:destroyRequest" name="destroyRequest"/>

         <wsdl:output message="impl:destroyResponse" name="destroyResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdl:input message="impl:getInputSpecRequest" name="getInputSpecRequest"/>

         <wsdl:output message="impl:getInputSpecResponse" name="getInputSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdl:input message="impl:getResultSpecRequest" name="getResultSpecRequest"/>

         <wsdl:output message="impl:getResultSpecResponse" name="getResultSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdl:input message="impl:getAnalysisTypeRequest" name="getAnalysisTypeRequest"/>

         <wsdl:output message="impl:getAnalysisTypeResponse" name="getAnalysisTypeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdl:input message="impl:describeRequest" name="describeRequest"/>

         <wsdl:output message="impl:describeResponse" name="describeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createJob" parameterOrder="in0">

         <wsdl:input message="impl:createJobRequest" name="createJobRequest"/>

         <wsdl:output message="impl:createJobResponse" name="createJobResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResults" parameterOrder="in0">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest"/>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable" parameterOrder="in0 in1">

         <wsdl:input message="impl:runNotifiableRequest" name="runNotifiableRequest"/>

         <wsdl:output message="impl:runNotifiableResponse" name="runNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRun" parameterOrder="in0">

         <wsdl:input message="impl:createAndRunRequest" name="createAndRunRequest"/>

         <wsdl:output message="impl:createAndRunResponse" name="createAndRunResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable" parameterOrder="in0 in1">

         <wsdl:input message="impl:createAndRunNotifiableRequest"
                     name="createAndRunNotifiableRequest"/>

         <wsdl:output message="impl:createAndRunNotifiableResponse"
                      name="createAndRunNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="waitFor" parameterOrder="in0">

         <wsdl:input message="impl:waitForRequest" name="waitForRequest"/>

         <wsdl:output message="impl:waitForResponse" name="waitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor" parameterOrder="in0">

         <wsdl:input message="impl:runAndWaitForRequest" name="runAndWaitForRequest"/>

         <wsdl:output message="impl:runAndWaitForResponse" name="runAndWaitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="terminate" parameterOrder="in0">

         <wsdl:input message="impl:terminateRequest" name="terminateRequest"/>

         <wsdl:output message="impl:terminateResponse" name="terminateResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent" parameterOrder="in0">

         <wsdl:input message="impl:getLastEventRequest" name="getLastEventRequest"/>

         <wsdl:output message="impl:getLastEventResponse" name="getLastEventResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor" parameterOrder="in0">

         <wsdl:input message="impl:getNotificationDescriptorRequest"
                     name="getNotificationDescriptorRequest"/>

         <wsdl:output message="impl:getNotificationDescriptorResponse"
                      name="getNotificationDescriptorResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus" parameterOrder="in0">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreated" parameterOrder="in0">

         <wsdl:input message="impl:getCreatedRequest" name="getCreatedRequest"/>

         <wsdl:output message="impl:getCreatedResponse" name="getCreatedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStarted" parameterOrder="in0">

         <wsdl:input message="impl:getStartedRequest" name="getStartedRequest"/>

         <wsdl:output message="impl:getStartedResponse" name="getStartedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getEnded" parameterOrder="in0">

         <wsdl:input message="impl:getEndedRequest" name="getEndedRequest"/>

         <wsdl:output message="impl:getEndedResponse" name="getEndedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getElapsed" parameterOrder="in0">

         <wsdl:input message="impl:getElapsedRequest" name="getElapsedRequest"/>

         <wsdl:output message="impl:getElapsedResponse" name="getElapsedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics" parameterOrder="in0">

         <wsdl:input message="impl:getCharacteristicsRequest" name="getCharacteristicsRequest"/>

         <wsdl:output message="impl:getCharacteristicsResponse" name="getCharacteristicsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults" parameterOrder="in0 in1">

         <wsdl:input message="impl:getSomeResultsRequest" name="getSomeResultsRequest"/>

         <wsdl:output message="impl:getSomeResultsResponse" name="getSomeResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="nucleic_gene_finding.marscan.derivedSoapBinding"
                 type="impl:nucleic_gene_finding__marscan">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createEmptyJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createEmptyJobRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createEmptyJobResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sequence_usa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sequence_usaRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sequence_usaResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sequence_direct_data">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sequence_direct_dataRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sequence_direct_dataResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sformat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sformatRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sformatResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sbegin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sbeginRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sbeginResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_send">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sendRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sendResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sprotein">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sproteinRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sproteinResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_snucleotide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_snucleotideRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_snucleotideResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sreverse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sreverseRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sreverseResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_slower">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_slowerRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_slowerResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_supper">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_supperRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_supperResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_report">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_reportRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_reportResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_detailed_status">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_detailed_statusRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_detailed_statusResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_outfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_outfileRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_outfileResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="run">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="destroyRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="destroyResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInputSpecRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getInputSpecResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultSpecRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultSpecResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnalysisTypeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAnalysisTypeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="describeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="describeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createJobRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createJobResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNotifiableRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNotifiableResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRun">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunNotifiableRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunNotifiableResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="waitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="waitForRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="waitForResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runAndWaitForRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runAndWaitForResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="terminate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="terminateRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="terminateResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastEventRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLastEventResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationDescriptorRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNotificationDescriptorResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreatedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCreatedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStarted">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStartedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStartedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getEnded">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEndedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEndedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getElapsed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElapsedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getElapsedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCharacteristicsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCharacteristicsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSomeResultsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSomeResultsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.applab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="nucleic_gene_finding__marscanService">

      <wsdl:port binding="impl:nucleic_gene_finding.marscan.derivedSoapBinding"
                 name="nucleic_gene_finding.marscan.derived">

         <wsdlsoap:address location="http://ws.soatrader.com/ebi.ac.uk/0.1/nucleic_gene_finding__marscanService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>