wsdl_repositories/soatrader_900/Office.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:Microsoft.Search">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:tns="urn:Microsoft.Search"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                elementFormDefault="qualified"
                targetNamespace="urn:Microsoft.Search">
         <s:element name="Registration">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RegistrationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RegistrationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Query">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="queryXml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryLingvo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResultType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryLingvoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="QueryLingvoResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrationSoapIn">
      <wsdl:part name="parameters" element="tns:Registration"/>
  </wsdl:message>
  <wsdl:message name="RegistrationSoapOut">
      <wsdl:part name="parameters" element="tns:RegistrationResponse"/>
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
      <wsdl:part name="parameters" element="tns:Query"/>
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
      <wsdl:part name="parameters" element="tns:QueryResponse"/>
  </wsdl:message>
  <wsdl:message name="QueryLingvoSoapIn">
      <wsdl:part name="parameters" element="tns:QueryLingvo"/>
  </wsdl:message>
  <wsdl:message name="QueryLingvoSoapOut">
      <wsdl:part name="parameters" element="tns:QueryLingvoResponse"/>
  </wsdl:message>
  <wsdl:portType name="OfficeSoap">
      <wsdl:operation name="Registration">
         <wsdl:input message="tns:RegistrationSoapIn"/>
         <wsdl:output message="tns:RegistrationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Query">
         <wsdl:input message="tns:QuerySoapIn"/>
         <wsdl:output message="tns:QuerySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="QueryLingvo">
         <wsdl:input message="tns:QueryLingvoSoapIn"/>
         <wsdl:output message="tns:QueryLingvoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfficeSoap" type="tns:OfficeSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"
                    style="document"/>
      <wsdl:operation name="Registration">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/Registration"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Query">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/Query"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="QueryLingvo">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="urn:Microsoft.Search/QueryLingvo"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Office">
      <wsdl:port name="OfficeSoap" binding="tns:OfficeSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/lingvo.ru/0.1/Office"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>