wsdl_repositories/soatrader_900/PangaeaTermSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                  xmlns:intf="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="isTermRequest">

      <wsdl:part name="source" type="xsd:string"/>

      <wsdl:part name="term" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isTermEnRequest">

      <wsdl:part name="source" type="xsd:string"/>

      <wsdl:part name="term" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part name="sourceLang" type="xsd:string"/>

      <wsdl:part name="source" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isTermEnResponse">

      <wsdl:part name="isTermEnReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="isEnglishRequest">

      <wsdl:part name="term" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part name="searchReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="isTermResponse">

      <wsdl:part name="isTermReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="isEnglishResponse">

      <wsdl:part name="isEnglishReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:portType name="PangaeaTermSearch">

      <wsdl:operation name="isTerm" parameterOrder="source term">

         <wsdl:input message="impl:isTermRequest" name="isTermRequest"/>

         <wsdl:output message="impl:isTermResponse" name="isTermResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isEnglish" parameterOrder="term">

         <wsdl:input message="impl:isEnglishRequest" name="isEnglishRequest"/>

         <wsdl:output message="impl:isEnglishResponse" name="isEnglishResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isTermEn" parameterOrder="source term">

         <wsdl:input message="impl:isTermEnRequest" name="isTermEnRequest"/>

         <wsdl:output message="impl:isTermEnResponse" name="isTermEnResponse"/>

      </wsdl:operation>

      <wsdl:operation name="search" parameterOrder="sourceLang source">

         <wsdl:input message="impl:searchRequest" name="searchRequest"/>

         <wsdl:output message="impl:searchResponse" name="searchResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PangaeaTermSearchSoapBinding" type="impl:PangaeaTermSearch">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isTerm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isTermRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isTermResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isEnglish">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isEnglishRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isEnglishResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isTermEn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isTermEnRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isTermEnResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.langrid.nict.go.jp"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/axis/services/PangaeaTermSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PangaeaTermSearchService">

      <wsdl:port binding="impl:PangaeaTermSearchSoapBinding" name="PangaeaTermSearch">

         <wsdlsoap:address location="http://ws.soatrader.com/nict.go.jp/0.1/PangaeaTermSearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>