wsdl_repositories/soatrader_900/PasswordManagementWebServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://postagestatementwizard.wws"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://postagestatementwizard.wws"
                  xmlns:intf="http://postagestatementwizard.wws"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://data.passwordmanagement.postagestatementwizard.wws"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://postagestatementwizard.wws">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

		<wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
				  <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://postagestatementwizard.wws">
					    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
					    <complexType name="PostageWizardException">
						      <sequence>
							        <element name="info" nillable="true" type="string"/>
							        <element name="message" nillable="true" type="string"/>
							        <element name="id" nillable="true" type="string"/>
						      </sequence>
					    </complexType>
				  </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://postagestatementwizard.wws">
					    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
					    <complexType name="PostageWizardException">
						      <sequence>
							        <element name="info" nillable="true" type="string"/>
							        <element name="message" nillable="true" type="string"/>
							        <element name="id" nillable="true" type="string"/>
						      </sequence>
					    </complexType>
				  </schema>
				  <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://data.passwordmanagement.postagestatementwizard.wws">
					    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
					    <xsd:complexType name="PasswordManagementResponse">
						      <xsd:sequence>
							        <xsd:element name="status" type="int"/>
							        <xsd:element name="error" type="string"/>
							        <xsd:element name="username" type="string"/>
						      </xsd:sequence>
					    </xsd:complexType>
					
				  </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://data.passwordmanagement.postagestatementwizard.wws">
					    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
					    <xsd:complexType name="PasswordManagementResponse">
						      <xsd:sequence>
							        <xsd:element name="status" type="int"/>
							        <xsd:element name="error" type="string"/>
							        <xsd:element name="username" type="string"/>
						      </xsd:sequence>
					    </xsd:complexType>
					
				  </schema>
		</wsdl:types>
		
		<wsdl:message name="PostageWizardException">
				  <wsdl:part name="fault" type="impl:PostageWizardException"/>
		</wsdl:message>
		
		<wsdl:message name="getVersionResponse">
				  <wsdl:part name="getVersionReturn" type="xsd:string"/>
		</wsdl:message>
	
		<wsdl:message name="getVersionRequest"/>
		
		<wsdl:message name="getChangeManagementRequest">
			   <wsdl:part name="userName" type="xsd:string"/>
			   <wsdl:part name="oldPassword" type="xsd:string"/>
			   <wsdl:part name="newPassword" type="xsd:string"/>
		</wsdl:message>
		<wsdl:message name="getChangeManagementReponse">
			   <wsdl:part name="passwordManagementResponse" type="tns1:PasswordManagementResponse"/>
		</wsdl:message>
		
		<wsdl:portType name="PasswordManagementWebService">
				  <wsdl:operation name="getVersion">
						   <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>
						   <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>
				  </wsdl:operation>



				  <wsdl:operation name="changePassword">
					    <wsdl:input message="impl:getChangeManagementRequest" name="getChangePasswordRequestType"/>
					    <wsdl:output message="impl:getChangeManagementReponse" name="getChangePasswordResponseType"/>
					    <wsdl:fault message="impl:PostageWizardException" name="PostageWizardException"/>
				  </wsdl:operation>
		</wsdl:portType>
		<wsdl:binding name="PasswordManagementWizardSoapBinding"
                 type="impl:PasswordManagementWebService">
				  <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
				  <wsdl:operation name="getVersion">
						   <wsdlsoap:operation soapAction=""/>
						   <wsdl:input name="getVersionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
								    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://service.postagewizard.usps.com"
                           use="encoded"/>
						   </wsdl:input>
						   <wsdl:output name="getVersionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
								    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://postagestatementwizard.wws"
                           use="encoded"/>
						   </wsdl:output>
				  </wsdl:operation>

				  <wsdl:operation name="changePassword">
					    <wsdlsoap:operation/>
					    <wsdl:input name="getChangePasswordRequestType">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
						      <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://service.postagewizard.usps.com"
                           use="encoded"/>
					    </wsdl:input>
					    <wsdl:output name="getChangePasswordResponseType">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
						      <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://postagestatementwizard.wws"
                           use="encoded"/>
					    </wsdl:output>
					    <wsdl:fault name="PostageWizardException">
						      <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://postagestatementwizard.wws"
                            use="encoded"/>
					    </wsdl:fault>
				  </wsdl:operation>
		</wsdl:binding>
		
		<wsdl:service name="PasswordManagementWebServiceService">
				  <wsdl:port binding="impl:PasswordManagementWizardSoapBinding"
                 name="PasswordManagementWizard">
						   <wsdlsoap:address location="http://ws.soatrader.com/uspspostalone.com/0.1/PasswordManagementWebServiceService"/>
				  </wsdl:port>
		</wsdl:service>
		
  </wsdl:definitions>