wsdl_repositories/soatrader_900/PhoneDBService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://atlncan02.ncanservices.com/IDWebServiceProd"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://atlncan02.ncanservices.com/IDWebServiceProd">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://atlncan02.ncanservices.com/IDWebServiceProd">
         <s:element name="IDhandleWebSearchRequest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="NewRequest" type="tns:TransactionRequest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="TransactionRequest">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="intelligentSearch" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="intelligentSearchCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="match" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="matchMinScore" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="matchSortCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryCategory" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="referenceClass" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="referenceCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="requestCount" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="requests" type="tns:ArrayOfRequest"/>
               <s:element minOccurs="1" maxOccurs="1" name="rowsRequested" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="showNonPublished" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="useFirstInitial" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true"
                          type="tns:Request"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Request">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addressHouseNum" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addressHouseNumRange" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="addressStreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="bizGovName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="bizGovNameSimilar" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="firstNameSimilar" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="geoQuery" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="geoState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="lastNameSimilar" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingPointer" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneNpa" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneNxx" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="postalCodeDetails" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="referenceId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="surroundMiles" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="IDhandleWebSearchRequestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IDhandleWebSearchRequestResult"
                             type="tns:TransactionResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="TransactionResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="referenceClass" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="referenceCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="requestCount" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="responses" type="tns:ArrayOfResponse"/>
               <s:element minOccurs="0" maxOccurs="1" name="transErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="transErrorDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="transErrorMessage" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true"
                          type="tns:Response"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Response">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="geoQuery" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="intelligentSearchResult" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="referenceId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="responseErrorCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="responseErrorDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="responseErrorMessage" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="stateListCount" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="stateLists" type="tns:ArrayOfStateList"/>
               <s:element minOccurs="1" maxOccurs="1" name="totalListingsFound" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="totalListingsReturned" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfStateList">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="StateList" nillable="true"
                          type="tns:StateList"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="StateList">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="listings" type="tns:ArrayOfListing"/>
               <s:element minOccurs="1" maxOccurs="1" name="listingsFound" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="listingsReturned" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="stateAbbr" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="stateName" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfListing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Listing" nillable="true"
                          type="tns:Listing"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Listing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingPointer" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="listingType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="matchCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="matchScore" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="nonPublished" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneNpa" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="phoneNxx" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="postalCodeDetails" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="IDhandleWebSearchRequestSoapIn">
      <wsdl:part name="parameters" element="tns:IDhandleWebSearchRequest"/>
  </wsdl:message>
  <wsdl:message name="IDhandleWebSearchRequestSoapOut">
      <wsdl:part name="parameters" element="tns:IDhandleWebSearchRequestResponse"/>
  </wsdl:message>
  <wsdl:portType name="PhoneDBServiceSoap">
      <wsdl:operation name="IDhandleWebSearchRequest">
         <wsdl:input message="tns:IDhandleWebSearchRequestSoapIn"/>
         <wsdl:output message="tns:IDhandleWebSearchRequestSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhoneDBServiceSoap" type="tns:PhoneDBServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="IDhandleWebSearchRequest">
         <soap:operation soapAction="http://atlncan02.ncanservices.com/IDWebServiceProd/IDhandleWebSearchRequest"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneDBService">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="PhoneDBServiceSoap" binding="tns:PhoneDBServiceSoap">
         <soap:address location="http://ws.soatrader.com/ncanservices.com/0.1/PhoneDBService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>