wsdl_repositories/soatrader_900/PO.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://maico/WebServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Purchase Order related services</wsdl:documentation>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="http://maico/WebServices"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="http://maico/WebServices">
         <s:element name="dtfcnServerDatetime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="abPWD" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="dtfcnServerDatetimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="dtfcnServerDatetimeResult" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="blnfcnAuth">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="abPWD" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="blnfcnAuthResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="blnfcnAuthResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="intfcnRecCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="abPWD" type="s:base64Binary"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intPOID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dtLastDownloaded" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dtCurrent" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intFirst" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="intfcnRecCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="intfcnRecCountResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="dsfcnPO">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strUID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="abPWD" type="s:base64Binary"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intPOID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intRec" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dtLastDownloaded" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dtCurrent" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intFirst" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="dsfcnPOResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="dsfcnPOResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="dtfcnServerDatetimeSoapIn">
      <wsdl:part name="parameters" element="tns:dtfcnServerDatetime"/>
  </wsdl:message>
  <wsdl:message name="dtfcnServerDatetimeSoapOut">
      <wsdl:part name="parameters" element="tns:dtfcnServerDatetimeResponse"/>
  </wsdl:message>
  <wsdl:message name="blnfcnAuthSoapIn">
      <wsdl:part name="parameters" element="tns:blnfcnAuth"/>
  </wsdl:message>
  <wsdl:message name="blnfcnAuthSoapOut">
      <wsdl:part name="parameters" element="tns:blnfcnAuthResponse"/>
  </wsdl:message>
  <wsdl:message name="intfcnRecCountSoapIn">
      <wsdl:part name="parameters" element="tns:intfcnRecCount"/>
  </wsdl:message>
  <wsdl:message name="intfcnRecCountSoapOut">
      <wsdl:part name="parameters" element="tns:intfcnRecCountResponse"/>
  </wsdl:message>
  <wsdl:message name="dsfcnPOSoapIn">
      <wsdl:part name="parameters" element="tns:dsfcnPO"/>
  </wsdl:message>
  <wsdl:message name="dsfcnPOSoapOut">
      <wsdl:part name="parameters" element="tns:dsfcnPOResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="POSoap" type="tns:POSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="dtfcnServerDatetime">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://maico/WebServices/dtfcnServerDatetime"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blnfcnAuth">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://maico/WebServices/blnfcnAuth"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="intfcnRecCount">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://maico/WebServices/intfcnRecCount"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="dsfcnPO">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://maico/WebServices/dsfcnPO"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PO">
      <wsdl:documentation>Purchase Order related services</wsdl:documentation>
      <wsdl:port name="POSoap" binding="tns:POSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/panasonic.com.my/0.2/PO"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>