wsdl_repositories/soatrader_900/PostalCodeWorldMexico_WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.fraudlabs.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.fraudlabs.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://ws.fraudlabs.com/">
         <s:element name="PostalCodeWorld_Mexico">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LICENSE" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostalCodeWorld_MexicoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCodeWorld_MexicoResult"
                             type="tns:POSTALCODEWORLD_MEXICO"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="POSTALCODEWORLD_MEXICO">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CREDITSAVAILABLE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POSTAL_CODE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="COLONY_NAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CITY_NAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STATE_ABBR" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STATE_NAME" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LATITUDE" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LONGITUDE" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" name="OLD_AREA_CODE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NEW_AREA_CODE" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TIME_ZONE" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" name="DAY_LIGHT_SAVING" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="POSTALCODEWORLD_MEXICO" nillable="true" type="tns:POSTALCODEWORLD_MEXICO"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="PostalCodeWorld_MexicoSoapIn">
      <wsdl:part name="parameters" element="tns:PostalCodeWorld_Mexico"/>
  </wsdl:message>
  <wsdl:message name="PostalCodeWorld_MexicoSoapOut">
      <wsdl:part name="parameters" element="tns:PostalCodeWorld_MexicoResponse"/>
  </wsdl:message>
  <wsdl:message name="PostalCodeWorld_MexicoHttpGetIn">
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="LICENSE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostalCodeWorld_MexicoHttpGetOut">
      <wsdl:part name="Body" element="tns:POSTALCODEWORLD_MEXICO"/>
  </wsdl:message>
  <wsdl:message name="PostalCodeWorld_MexicoHttpPostIn">
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="LICENSE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostalCodeWorld_MexicoHttpPostOut">
      <wsdl:part name="Body" element="tns:POSTALCODEWORLD_MEXICO"/>
  </wsdl:message>
  <wsdl:portType name="PostalCodeWorldMexico_WebServiceSoap">
      <wsdl:operation name="PostalCodeWorld_Mexico">
         <wsdl:input message="tns:PostalCodeWorld_MexicoSoapIn"/>
         <wsdl:output message="tns:PostalCodeWorld_MexicoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="PostalCodeWorldMexico_WebServiceSoap"
                 type="tns:PostalCodeWorldMexico_WebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="PostalCodeWorld_Mexico">
         <soap:operation soapAction="http://ws.fraudlabs.com/PostalCodeWorld_Mexico" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="PostalCodeWorldMexico_WebService">
      <wsdl:port name="PostalCodeWorldMexico_WebServiceSoap"
                 binding="tns:PostalCodeWorldMexico_WebServiceSoap">
         <soap:address location="http://ws.soatrader.com/fraudlabs.com/0.2/PostalCodeWorldMexico_WebService"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>