wsdl_repositories/soatrader_900/postalServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.dataoctopus.com/webServices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.dataoctopus.com/webServices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.dataoctopus.com/webServices/">
         <s:element name="listAllPostalCarriers">
            <s:complexType/>
         </s:element>
         <s:element name="listAllPostalCarriersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="listAllPostalCarriersResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getPostalCarrierDetailByName">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postalName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getPostalCarrierDetailByNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getPostalCarrierDetailByNameResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="listAllPostalCarriersSoapIn">
      <wsdl:part name="parameters" element="tns:listAllPostalCarriers"/>
  </wsdl:message>
  <wsdl:message name="listAllPostalCarriersSoapOut">
      <wsdl:part name="parameters" element="tns:listAllPostalCarriersResponse"/>
  </wsdl:message>
  <wsdl:message name="getPostalCarrierDetailByNameSoapIn">
      <wsdl:part name="parameters" element="tns:getPostalCarrierDetailByName"/>
  </wsdl:message>
  <wsdl:message name="getPostalCarrierDetailByNameSoapOut">
      <wsdl:part name="parameters" element="tns:getPostalCarrierDetailByNameResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="postalServicesSoap" type="tns:postalServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="listAllPostalCarriers">
         <soap:operation soapAction="http://www.dataoctopus.com/webServices/listAllPostalCarriers"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getPostalCarrierDetailByName">
         <soap:operation soapAction="http://www.dataoctopus.com/webServices/getPostalCarrierDetailByName"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="postalServices">
      <wsdl:port name="postalServicesSoap" binding="tns:postalServicesSoap">
         <soap:address location="http://ws.soatrader.com/dataoctopus.com/0.1/postalServices"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>