wsdl_repositories/soatrader_900/Prediction.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://syromlya.ru/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://syromlya.ru/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://syromlya.ru/">
         <s:element name="GetPrediction">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserQuestion" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPredictionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPredictionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMoonDayNum">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserDate" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMoonDayNumResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetMoonDayNumResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPredictionSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrediction"/>
  </wsdl:message>
  <wsdl:message name="GetPredictionSoapOut">
      <wsdl:part name="parameters" element="tns:GetPredictionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMoonDayNumSoapIn">
      <wsdl:part name="parameters" element="tns:GetMoonDayNum"/>
  </wsdl:message>
  <wsdl:message name="GetMoonDayNumSoapOut">
      <wsdl:part name="parameters" element="tns:GetMoonDayNumResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="PredictionSoap" type="tns:PredictionSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetPrediction">
         <soap:operation soapAction="http://syromlya.ru/GetPrediction" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMoonDayNum">
         <soap:operation soapAction="http://syromlya.ru/GetMoonDayNum" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Prediction">
      <wsdl:port name="PredictionSoap" binding="tns:PredictionSoap">
         <soap:address location="http://ws.soatrader.com/syromlya.ru/0.1/Prediction"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>