wsdl_repositories/soatrader_900/RelationService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetRelationsByCardId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardIdResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfRelation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Relation" nillable="true"
                          type="tns:Relation"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Relation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateModif" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="Custom1" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Reasons" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastOperator" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TechData" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetRelationInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserIdstring" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationInfoResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardType">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardTypeResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeOutID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeOutIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardTypeOutIDResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationResult" type="tns:Relation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OuserCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reasons" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EditRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationWithReason">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationWithReasonResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EditRelationWithReasonResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfRelation" nillable="true" type="tns:ArrayOfRelation"/>
         <s:element name="Relation" nillable="true" type="tns:Relation"/>
         <s:element name="int" type="s:int"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetRelationsByCardId">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardIdResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfRelation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Relation" nillable="true"
                          type="tns:Relation"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Relation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OUserCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateModif" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="Custom1" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Reasons" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LastOperator" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TechData" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetRelationInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserIdstring" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationInfoResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardType">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardTypeResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeOutID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationsByCardTypeOutIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationsByCardTypeOutIDResult"
                             type="tns:ArrayOfRelation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRelationResult" type="tns:Relation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OuserCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reasons" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EditRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationWithReason">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditRelationWithReasonResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EditRelationWithReasonResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRelation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RelationId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteRelationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteRelationResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfRelation" nillable="true" type="tns:ArrayOfRelation"/>
         <s:element name="Relation" nillable="true" type="tns:Relation"/>
         <s:element name="int" type="s:int"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRelationsByCardIdSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardId"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardIdSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardIdResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelationInfo"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelationInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardType"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardTypeOutID"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelationsByCardTypeOutIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelationSoapIn">
      <wsdl:part name="parameters" element="tns:GetRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationSoapOut">
      <wsdl:part name="parameters" element="tns:GetRelationResponse"/>
  </wsdl:message>
  <wsdl:message name="AddRelationSoapIn">
      <wsdl:part name="parameters" element="tns:AddRelation"/>
  </wsdl:message>
  <wsdl:message name="AddRelationSoapOut">
      <wsdl:part name="parameters" element="tns:AddRelationResponse"/>
  </wsdl:message>
  <wsdl:message name="EditRelationSoapIn">
      <wsdl:part name="parameters" element="tns:EditRelation"/>
  </wsdl:message>
  <wsdl:message name="EditRelationSoapOut">
      <wsdl:part name="parameters" element="tns:EditRelationResponse"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonSoapIn">
      <wsdl:part name="parameters" element="tns:EditRelationWithReason"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonSoapOut">
      <wsdl:part name="parameters" element="tns:EditRelationWithReasonResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteRelation"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteRelationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardIdHttpGetIn">
      <wsdl:part name="CardId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardIdHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoHttpGetIn">
      <wsdl:part name="UserIdstring" type="s:string"/>
      <wsdl:part name="UserName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeHttpGetIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="CardType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDHttpGetIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="CardType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationHttpGetIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="ClientId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationHttpGetOut">
      <wsdl:part name="Body" element="tns:Relation"/>
  </wsdl:message>
  <wsdl:message name="AddRelationHttpGetIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="ClientId" type="s:string"/>
      <wsdl:part name="ClientName" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="OuserCode" type="s:string"/>
      <wsdl:part name="Description" type="s:string"/>
      <wsdl:part name="Reasons" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddRelationHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="EditRelationHttpGetIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditRelationHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonHttpGetIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="Reason" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationHttpGetIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardIdHttpPostIn">
      <wsdl:part name="CardId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardIdHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoHttpPostIn">
      <wsdl:part name="UserIdstring" type="s:string"/>
      <wsdl:part name="UserName" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationInfoHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeHttpPostIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="CardType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDHttpPostIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="CardType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationsByCardTypeOutIDHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfRelation"/>
  </wsdl:message>
  <wsdl:message name="GetRelationHttpPostIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="ClientId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRelationHttpPostOut">
      <wsdl:part name="Body" element="tns:Relation"/>
  </wsdl:message>
  <wsdl:message name="AddRelationHttpPostIn">
      <wsdl:part name="UserId" type="s:string"/>
      <wsdl:part name="ClientId" type="s:string"/>
      <wsdl:part name="ClientName" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="OuserCode" type="s:string"/>
      <wsdl:part name="Description" type="s:string"/>
      <wsdl:part name="Reasons" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddRelationHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="EditRelationHttpPostIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditRelationHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonHttpPostIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="CardId" type="s:string"/>
      <wsdl:part name="Reason" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditRelationWithReasonHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationHttpPostIn">
      <wsdl:part name="RelationId" type="s:string"/>
      <wsdl:part name="Operator" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteRelationHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="RelationServiceSoap" type="tns:RelationServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetRelationsByCardId">
         <soap:operation soapAction="http://tempuri.org/GetRelationsByCardId" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRelationInfo">
         <soap:operation soapAction="http://tempuri.org/GetRelationInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRelationsByCardType">
         <soap:operation soapAction="http://tempuri.org/GetRelationsByCardType" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRelationsByCardTypeOutID">
         <soap:operation soapAction="http://tempuri.org/GetRelationsByCardTypeOutID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRelation">
         <soap:operation soapAction="http://tempuri.org/GetRelation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddRelation">
         <soap:operation soapAction="http://tempuri.org/AddRelation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditRelation">
         <soap:operation soapAction="http://tempuri.org/EditRelation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditRelationWithReason">
         <soap:operation soapAction="http://tempuri.org/EditRelationWithReason" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteRelation">
         <soap:operation soapAction="http://tempuri.org/DeleteRelation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="RelationService">
      <wsdl:port name="RelationServiceSoap" binding="tns:RelationServiceSoap">
         <soap:address location="http://ws.soatrader.com/icigcommunication.com/0.1/RelationService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>