wsdl_repositories/soatrader_900/SCORM_x0020_Bridge.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservices.train.org/ScormBridge/Communicator.asmx"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.train.org/ScormBridge/Communicator.asmx">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>The SCORM Bridge Web Service is designed to integrate SCORM compliant courses with an LMS.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.train.org/ScormBridge/Communicator.asmx">
         <s:element name="APIPipeLine">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="element" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="APIPipeLineResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APIPipeLineResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoPrimaryKey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoPrimaryKeyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoPrimaryKeyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoLessonStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoLessonStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoLessonStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoUrl">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoUrlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoUrlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.train.org/ScormBridge/Communicator.asmx">
         <s:element name="APIPipeLine">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="element" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="APIPipeLineResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APIPipeLineResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoPrimaryKey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoPrimaryKeyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoPrimaryKeyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoLessonStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoLessonStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoLessonStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoUrl">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="primaryKey" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScoUrlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScoUrlResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="APIPipeLineSoapIn">
      <wsdl:part name="parameters" element="tns:APIPipeLine"/>
  </wsdl:message>
  <wsdl:message name="APIPipeLineSoapOut">
      <wsdl:part name="parameters" element="tns:APIPipeLineResponse"/>
  </wsdl:message>
  <wsdl:message name="GetScoPrimaryKeySoapIn">
      <wsdl:part name="parameters" element="tns:GetScoPrimaryKey"/>
  </wsdl:message>
  <wsdl:message name="GetScoPrimaryKeySoapOut">
      <wsdl:part name="parameters" element="tns:GetScoPrimaryKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetScoLessonStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetScoLessonStatus"/>
  </wsdl:message>
  <wsdl:message name="GetScoLessonStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetScoLessonStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetScoUrlSoapIn">
      <wsdl:part name="parameters" element="tns:GetScoUrl"/>
  </wsdl:message>
  <wsdl:message name="GetScoUrlSoapOut">
      <wsdl:part name="parameters" element="tns:GetScoUrlResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SCORM_x0020_BridgeSoap" type="tns:SCORM_x0020_BridgeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="APIPipeLine">
         <soap:operation soapAction="http://webservices.train.org/ScormBridge/Communicator.asmx/APIPipeLine"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetScoPrimaryKey">
         <soap:operation soapAction="http://webservices.train.org/ScormBridge/Communicator.asmx/GetScoPrimaryKey"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetScoLessonStatus">
         <soap:operation soapAction="http://webservices.train.org/ScormBridge/Communicator.asmx/GetScoLessonStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetScoUrl">
         <soap:operation soapAction="http://webservices.train.org/ScormBridge/Communicator.asmx/GetScoUrl"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SCORM_x0020_Bridge">
      <wsdl:documentation>The SCORM Bridge Web Service is designed to integrate SCORM compliant courses with an LMS.</wsdl:documentation>
      <wsdl:port name="SCORM_x0020_BridgeSoap" binding="tns:SCORM_x0020_BridgeSoap">
         <soap:address location="http://ws.soatrader.com/train.org/0.1/SCORM_x0020_Bridge"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>