wsdl_repositories/soatrader_900/SendSMSWorld.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.webserviceX.NET"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.webserviceX.NET">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
         <s:element name="sendSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FromEmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="sendSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sendSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="sendSMSSoapIn">
      <wsdl:part name="parameters" element="tns:sendSMS"/>
  </wsdl:message>
  <wsdl:message name="sendSMSSoapOut">
      <wsdl:part name="parameters" element="tns:sendSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="sendSMSHttpGetIn">
      <wsdl:part name="FromEmailAddress" type="s:string"/>
      <wsdl:part name="CountryCode" type="s:string"/>
      <wsdl:part name="MobileNumber" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMSHttpPostIn">
      <wsdl:part name="FromEmailAddress" type="s:string"/>
      <wsdl:part name="CountryCode" type="s:string"/>
      <wsdl:part name="MobileNumber" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="sendSMSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="SendSMSWorldSoap">
      <wsdl:operation name="sendSMS">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Send unlimited free SMS to following countries.&lt;br&gt;&lt;b&gt;Note:&lt;/b&gt;If your country code 091,Please enter as 91 and if your mobile number 098XXXXX,Please enter as 98XXXX &lt;br&gt;&lt;table cellSpacing=0 cellPadding=5 border=0 border-collapse: collapse bordercolor=#111111&gt;&lt;tr&gt; &lt;td  width=50% &gt;&lt;font size=2 &gt;&lt;b&gt;This SMS covers following countries and&amp;nbsp; networks.&lt;/b&gt;&lt;/td&gt;	&lt;/tr&gt;	&lt;tr&gt;&lt;td  &gt;	&lt;b&gt;Austria -&lt;/b&gt;&lt;font face=Arial size=-1&gt;	Mobilkom&lt;b&gt;&lt;br&gt;	Bulgaria - &lt;/b&gt;Mobiltel  &lt;b&gt;&lt;br&gt;Croatia -&lt;/b&gt; Cronet  &lt;b&gt;&lt;br&gt;Germany -&lt;/b&gt; E-Plus,Mannesman D2 &lt;b&gt;&lt;br&gt;Israel - &lt;/b&gt;Pelephone &lt;b&gt;&lt;br&gt;Lithuania -&lt;/b&gt; Omnitel	&lt;b&gt;&lt;br&gt;Maldives - &lt;/b&gt;Dhiraagu   &lt;b&gt;&lt;br&gt;Norway - &lt;/b&gt;NetCom,TeleNor	&lt;b&gt;&lt;br&gt;	Switzerland - &lt;/b&gt;Bluewin  &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Ameritech Cellular services ,Cellular One,  Cingular &lt;b&gt;&lt;br&gt;Brazil - &lt;/b&gt;ATL express,Telemig Cellular &lt;b&gt;&lt;br&gt;Canada -&lt;/b&gt; Bell Mobility, Clearnet, Rogers AT&amp;amp;T Wireless ,Telus &lt;b&gt;&lt;br&gt;France - &lt;/b&gt;Itineris &lt;b&gt;&lt;br&gt;India - &lt;/b&gt;Essar Cell Phone,RPG Cellular &lt;b&gt;&lt;br&gt;Japan - &lt;/b&gt;NTT Docomo &lt;b&gt;	&lt;br&gt;Malaysia - &lt;/b&gt;Celcom &lt;b&gt;&lt;br&gt;New Zealand - &lt;/b&gt;Messagetrack &lt;b&gt;&lt;br&gt;Spain -&lt;/b&gt; MoviStar &lt;b&gt;&lt;br&gt;Ukraine - &lt;/b&gt;Golden Telecom, UMC &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Comcast Cellular Communications,Voicestream Wireless Corp. &lt;/td&gt;&lt;/tr&gt;	&lt;/table&gt;</documentation>
         <wsdl:input message="tns:sendSMSSoapIn"/>
         <wsdl:output message="tns:sendSMSSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="SendSMSWorldSoap" type="tns:SendSMSWorldSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="sendSMS">
         <soap:operation soapAction="http://www.webserviceX.NET/sendSMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="SendSMSWorld">
      <wsdl:port name="SendSMSWorldSoap" binding="tns:SendSMSWorldSoap">
         <soap:address location="http://ws.soatrader.com/webservicex.net/0.3/SendSMSWorld"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>