wsdl_repositories/soatrader_900/SendMessages.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="Sertea"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="Sertea">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>WebService utilizzabile dai clienti SMS MIO (http://www.sms.mio.it) per la spedizione di SMS, FAX, Lettere, Posta Prioritaria, Raccomandate, Raccomandate A.R.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="Sertea">
         <s:element name="SendSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="smsType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mittente" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="messaggio" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMSTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="smsType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mittente" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="messaggio" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeliveryTimeIn" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMSTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSMSTimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCredit">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckCreditResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckCreditResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FilesData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sFileNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileSizes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeliveryTimeIn" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendFaxTimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FilesData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sFileNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileSizes" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendFaxResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPhone">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DestNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FilesData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sFileNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileSizes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtMessage" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Voice" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPhoneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendPhoneResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPosta">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlDestinatari" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FilesData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sFileNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileSizes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MittenteLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TestoLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fronteRetro" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="colori" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="affrancatura" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="IndirizzoMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CapMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CittaMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ProvinciaMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StatoMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TipoDestLettera" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPostaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendPostaResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPostaTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlDestinatari" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FilesData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sFileNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FileSizes" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MittenteLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TestoLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fronteRetro" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="colori" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="affrancatura" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="IndirizzoMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CapMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CittaMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ProvinciaMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StatoMitLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TipoDestLettera" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DeliveryTimeIn" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendPostaTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendPostaTimeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendSMS"/>
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSMSTimeSoapIn">
      <wsdl:part name="parameters" element="tns:SendSMSTime"/>
  </wsdl:message>
  <wsdl:message name="SendSMSTimeSoapOut">
      <wsdl:part name="parameters" element="tns:SendSMSTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapIn">
      <wsdl:part name="parameters" element="tns:CheckCredit"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditSoapOut">
      <wsdl:part name="parameters" element="tns:CheckCreditResponse"/>
  </wsdl:message>
  <wsdl:message name="SendFaxTimeSoapIn">
      <wsdl:part name="parameters" element="tns:SendFaxTime"/>
  </wsdl:message>
  <wsdl:message name="SendFaxTimeSoapOut">
      <wsdl:part name="parameters" element="tns:SendFaxTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="SendFaxSoapIn">
      <wsdl:part name="parameters" element="tns:SendFax"/>
  </wsdl:message>
  <wsdl:message name="SendFaxSoapOut">
      <wsdl:part name="parameters" element="tns:SendFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="SendPhoneSoapIn">
      <wsdl:part name="parameters" element="tns:SendPhone"/>
  </wsdl:message>
  <wsdl:message name="SendPhoneSoapOut">
      <wsdl:part name="parameters" element="tns:SendPhoneResponse"/>
  </wsdl:message>
  <wsdl:message name="SendPostaSoapIn">
      <wsdl:part name="parameters" element="tns:SendPosta"/>
  </wsdl:message>
  <wsdl:message name="SendPostaSoapOut">
      <wsdl:part name="parameters" element="tns:SendPostaResponse"/>
  </wsdl:message>
  <wsdl:message name="SendPostaTimeSoapIn">
      <wsdl:part name="parameters" element="tns:SendPostaTime"/>
  </wsdl:message>
  <wsdl:message name="SendPostaTimeSoapOut">
      <wsdl:part name="parameters" element="tns:SendPostaTimeResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SendMessagesSoap" type="tns:SendMessagesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendSMS">
         <soap:operation soapAction="Sertea/SendSMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSMSTime">
         <soap:operation soapAction="Sertea/SendSMSTime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckCredit">
         <soap:operation soapAction="Sertea/CheckCredit" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendFaxTime">
         <soap:operation soapAction="Sertea/SendFaxTime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendFax">
         <soap:operation soapAction="Sertea/SendFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendPhone">
         <soap:operation soapAction="Sertea/SendPhone" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendPosta">
         <soap:operation soapAction="Sertea/SendPosta" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendPostaTime">
         <soap:operation soapAction="Sertea/SendPostaTime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SendMessages">
      <wsdl:documentation>WebService utilizzabile dai clienti SMS MIO (http://www.sms.mio.it) per la spedizione di SMS, FAX, Lettere, Posta Prioritaria, Raccomandate, Raccomandate A.R.</wsdl:documentation>
      <wsdl:port name="SendMessagesSoap" binding="tns:SendMessagesSoap">
         <soap:address location="http://ws.soatrader.com/sms.mio.it/0.1/SendMessages"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>