wsdl_repositories/soatrader_900/Services.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="Execute">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ExecuteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pageId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="xmlFile" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchResultResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSearchResultResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSoapIn">
      <wsdl:part name="parameters" element="tns:Execute"/>
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
      <wsdl:part name="parameters" element="tns:ExecuteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSearchResultSoapIn">
      <wsdl:part name="parameters" element="tns:GetSearchResult"/>
  </wsdl:message>
  <wsdl:message name="GetSearchResultSoapOut">
      <wsdl:part name="parameters" element="tns:GetSearchResultResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
      <wsdl:operation name="Execute">
         <wsdl:input message="tns:ExecuteSoapIn"/>
         <wsdl:output message="tns:ExecuteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSearchResult">
         <wsdl:input message="tns:GetSearchResultSoapIn"/>
         <wsdl:output message="tns:GetSearchResultSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Execute">
         <soap:operation soapAction="http://tempuri.org/Execute" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSearchResult">
         <soap:operation soapAction="http://tempuri.org/GetSearchResult" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
         <soap:address location="http://ws.soatrader.com/indianengineeringcompany.com/0.1/Services"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>