wsdl_repositories/soatrader_900/Session.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.acrosscommunications.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.acrosscommunications.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.acrosscommunications.com/">
         <s:element name="CreateMailNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateMailNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateMailNotificationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatePhoneNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="smarter" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreatePhoneNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreatePhoneNotificationResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateICQNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateICQNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateICQNotificationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateMSNNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateMSNNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateMSNNotificationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateSMSNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateSMSNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateSMSNotificationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateNumPagerNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateNumPagerNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateNumPagerNotificationResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateFaxNotification">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateFaxNotificationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateFaxNotificationResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQueue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQueueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetQueueResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFiles">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFilesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFilesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Release">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidSession" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReleaseResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateMailNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateMailNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateMailNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateMailNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreatePhoneNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreatePhoneNotification"/>
  </wsdl:message>
  <wsdl:message name="CreatePhoneNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreatePhoneNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateICQNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateICQNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateICQNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateICQNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateMSNNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateMSNNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateMSNNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateMSNNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateSMSNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateSMSNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateSMSNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateSMSNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateNumPagerNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateNumPagerNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateNumPagerNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateNumPagerNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateFaxNotificationSoapIn">
      <wsdl:part name="parameters" element="tns:CreateFaxNotification"/>
  </wsdl:message>
  <wsdl:message name="CreateFaxNotificationSoapOut">
      <wsdl:part name="parameters" element="tns:CreateFaxNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQueueSoapIn">
      <wsdl:part name="parameters" element="tns:GetQueue"/>
  </wsdl:message>
  <wsdl:message name="GetQueueSoapOut">
      <wsdl:part name="parameters" element="tns:GetQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFilesSoapIn">
      <wsdl:part name="parameters" element="tns:GetFiles"/>
  </wsdl:message>
  <wsdl:message name="GetFilesSoapOut">
      <wsdl:part name="parameters" element="tns:GetFilesResponse"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapIn">
      <wsdl:part name="parameters" element="tns:Release"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapOut">
      <wsdl:part name="parameters" element="tns:ReleaseResponse"/>
  </wsdl:message>
  <wsdl:portType name="SessionSoap">
      <wsdl:operation name="CreateMailNotification">
         <wsdl:input message="tns:CreateMailNotificationSoapIn"/>
         <wsdl:output message="tns:CreateMailNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreatePhoneNotification">
         <wsdl:input message="tns:CreatePhoneNotificationSoapIn"/>
         <wsdl:output message="tns:CreatePhoneNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateICQNotification">
         <wsdl:input message="tns:CreateICQNotificationSoapIn"/>
         <wsdl:output message="tns:CreateICQNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateMSNNotification">
         <wsdl:input message="tns:CreateMSNNotificationSoapIn"/>
         <wsdl:output message="tns:CreateMSNNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateSMSNotification">
         <wsdl:input message="tns:CreateSMSNotificationSoapIn"/>
         <wsdl:output message="tns:CreateSMSNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateNumPagerNotification">
         <wsdl:input message="tns:CreateNumPagerNotificationSoapIn"/>
         <wsdl:output message="tns:CreateNumPagerNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateFaxNotification">
         <wsdl:input message="tns:CreateFaxNotificationSoapIn"/>
         <wsdl:output message="tns:CreateFaxNotificationSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetQueue">
         <wsdl:input message="tns:GetQueueSoapIn"/>
         <wsdl:output message="tns:GetQueueSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFiles">
         <wsdl:input message="tns:GetFilesSoapIn"/>
         <wsdl:output message="tns:GetFilesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <wsdl:input message="tns:ReleaseSoapIn"/>
         <wsdl:output message="tns:ReleaseSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionSoap" type="tns:SessionSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="CreateMailNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateMailNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreatePhoneNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreatePhoneNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateICQNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateICQNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateMSNNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateMSNNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateSMSNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateSMSNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateNumPagerNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateNumPagerNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateFaxNotification">
         <soap:operation soapAction="http://ws.acrosscommunications.com/CreateFaxNotification"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetQueue">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetQueue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFiles">
         <soap:operation soapAction="http://ws.acrosscommunications.com/GetFiles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <soap:operation soapAction="http://ws.acrosscommunications.com/Release" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Session">
      <wsdl:port name="SessionSoap" binding="tns:SessionSoap">
         <soap:address location="http://ws.soatrader.com/acrosscommunications.com/0.1/Session"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>