wsdl_repositories/soatrader_900/StockQuotes.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.gama-system.com/webservices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>WebService provides stock exchange information.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="http://www.gama-system.com/webservices"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="http://www.gama-system.com/webservices">
         <s:element name="GetStocksXMLSchema">
            <s:complexType/>
         </s:element>
         <s:element name="GetStocksXMLSchemaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStocksXMLSchemaResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesByValueXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesByValueXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByValueXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesByDateXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesByDateXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesByDateXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValuesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStockDailyValuesXMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockDailyValuesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strSegment" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockDailyValuesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLatestStockDailyValuesXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetStockDailyValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPreviousStockDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPreviousStockDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetPreviousStockDailyValueResult"
                             type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockDailyValueResult"
                             type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestPreviousStockDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestPreviousStockDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestPreviousStockDailyValueResult"
                             type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestStockValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestStockValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetStockValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockValuesByDateTimeXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strStock" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockValuesByDateTimeXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStockValuesByDateTimeXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndicesXMLSchema">
            <s:complexType/>
         </s:element>
         <s:element name="GetIndicesXMLSchemaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndicesXMLSchemaResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesByValueXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dcmLow" type="s:decimal"/>
                  <s:element minOccurs="1" maxOccurs="1" name="dcmHigh" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesByValueXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByValueXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesByDateXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateLow" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateHigh" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesByDateXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesByDateXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValuesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndexDailyValuesXMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexDailyValuesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexDailyValuesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLatestIndexDailyValuesXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetIndexDailyValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexDailyValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexDailyValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexDailyValueResult"
                             type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestIndexValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetLatestIndexValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTime" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetIndexValueResult" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexValuesByDateTimeXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strStockExchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strIndex" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTimeLow" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strDateTimeHigh" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIndexValuesByDateTimeXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIndexValuesByDateTimeXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="decimal" type="s:decimal"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStocksXMLSchemaSoapIn">
      <wsdl:part name="parameters" element="tns:GetStocksXMLSchema"/>
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaSoapOut">
      <wsdl:part name="parameters" element="tns:GetStocksXMLSchemaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesByValueXML"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesByValueXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesByDateXML"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesByDateXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesXML"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockDailyValuesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestStockDailyValuesXML"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestStockDailyValuesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetPreviousStockDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetPreviousStockDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestStockDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestStockDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestPreviousStockDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestPreviousStockDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestStockValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestStockValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockValue"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockValuesByDateTimeXML"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockValuesByDateTimeXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndicesXMLSchema"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndicesXMLSchemaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByValueXML"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByValueXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByDateXML"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesByDateXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesXML"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValuesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValuesXML"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValuesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestIndexDailyValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestIndexValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestIndexValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexValue"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetIndexValuesByDateTimeXML"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetIndexValuesByDateTimeXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaHttpGetIn"/>
  <wsdl:message name="GetStocksXMLSchemaHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="dcmLow" type="s:string"/>
      <wsdl:part name="dcmHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateLow" type="s:string"/>
      <wsdl:part name="strDateHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strSegment" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strSegment" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateTimeLow" type="s:string"/>
      <wsdl:part name="strDateTimeHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaHttpGetIn"/>
  <wsdl:message name="GetIndicesXMLSchemaHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="dcmLow" type="s:string"/>
      <wsdl:part name="dcmHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateLow" type="s:string"/>
      <wsdl:part name="strDateHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpGetOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpGetIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateTimeLow" type="s:string"/>
      <wsdl:part name="strDateTimeHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStocksXMLSchemaHttpPostIn"/>
  <wsdl:message name="GetStocksXMLSchemaHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="dcmLow" type="s:string"/>
      <wsdl:part name="dcmHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByValueXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateLow" type="s:string"/>
      <wsdl:part name="strDateHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesByDateXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strSegment" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValuesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strSegment" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValuesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPreviousStockDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestPreviousStockDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestStockValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strStock" type="s:string"/>
      <wsdl:part name="strDateTimeLow" type="s:string"/>
      <wsdl:part name="strDateTimeHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockValuesByDateTimeXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndicesXMLSchemaHttpPostIn"/>
  <wsdl:message name="GetIndicesXMLSchemaHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="dcmLow" type="s:string"/>
      <wsdl:part name="dcmHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByValueXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateLow" type="s:string"/>
      <wsdl:part name="strDateHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesByDateXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValuesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValuesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexDailyValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestIndexValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateTime" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValueHttpPostOut">
      <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpPostIn">
      <wsdl:part name="strStockExchange" type="s:string"/>
      <wsdl:part name="strIndex" type="s:string"/>
      <wsdl:part name="strDateTimeLow" type="s:string"/>
      <wsdl:part name="strDateTimeHigh" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIndexValuesByDateTimeXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="StockQuotesSoap" type="tns:StockQuotesSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetStocksXMLSchema">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStocksXMLSchema"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockDailyValuesByValueXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByValueXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockDailyValuesByDateXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesByDateXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockDailyValuesXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockDailyValuesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestStockDailyValuesXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValuesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPreviousStockDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetPreviousStockDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestStockDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestStockDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestPreviousStockDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestPreviousStockDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestStockValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestStockValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStockValuesByDateTimeXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetStockValuesByDateTimeXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndicesXMLSchema">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndicesXMLSchema"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexDailyValuesByValueXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByValueXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexDailyValuesByDateXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesByDateXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexDailyValuesXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexDailyValuesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestIndexDailyValuesXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValuesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestIndexDailyValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestIndexDailyValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLatestIndexValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetLatestIndexValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexValue">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexValue"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIndexValuesByDateTimeXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.gama-system.com/webservices/GetIndexValuesByDateTimeXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="StockQuotes">
      <wsdl:documentation>WebService provides stock exchange information.</wsdl:documentation>
      <wsdl:port name="StockQuotesSoap" binding="tns:StockQuotesSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/gama-system.com/0.4/StockQuotes"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>