wsdl_repositories/soatrader_900/StockPlan_Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:hrx="http://www.hr-xml.org/3"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:oa="http://www.openapplications.org/oagis/9"
                  xmlns:tns="http://replace-with-yours/tns"
                  targetNamespace="http://replace-with-yours/tns">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
		    <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified"
                  targetNamespace="http://www.hr-xml.org/3">
			      <xsd:include schemaLocation="../../../BODs/Developer/ProcessStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/AcknowledgeStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/CancelStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/GetStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ShowStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/NotifyStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ChangeStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/SyncStockPlan.xsd"/>
		    </xsd:schema>
      <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified"
                  targetNamespace="http://www.hr-xml.org/3">
			      <xsd:include schemaLocation="../../../BODs/Developer/ProcessStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/AcknowledgeStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/CancelStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/GetStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ShowStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/NotifyStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/ChangeStockPlan.xsd"/>
			      <xsd:include schemaLocation="../../../BODs/Developer/SyncStockPlan.xsd"/>
		    </xsd:schema>
	  </wsdl:types>
	  <wsdl:message name="ProcessStockPlan">
		    <wsdl:part name="Message" element="hrx:ProcessStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="GetStockPlan">
		    <wsdl:part name="Message" element="hrx:GetStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="ShowStockPlan">
		    <wsdl:part name="Message" element="hrx:ShowStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="ConfirmBOD">
		    <wsdl:part name="Message" element="hrx:ConfirmBOD"/>
	  </wsdl:message>
	  <wsdl:message name="CancelStockPlan">
		    <wsdl:part name="Message" element="hrx:CancelStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="AcknowledgeStockPlan">
		    <wsdl:part name="Message" element="hrx:AcknowledgeStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="ChangeStockPlan">
		    <wsdl:part name="Message" element="hrx:ChangeStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="NotifyStockPlan">
		    <wsdl:part name="Message" element="hrx:NotifyStockPlan"/>
	  </wsdl:message>
	  <wsdl:message name="SyncStockPlan">
		    <wsdl:part name="Message" element="hrx:SyncStockPlan"/>
	  </wsdl:message>
	  <wsdl:portType name="StockPlan_PortType">
		    <wsdl:operation name="ProcessStockPlan">
			      <wsdl:input message="tns:ProcessStockPlan"/>
			      <wsdl:output message="tns:AcknowledgeStockPlan"/>
			      <wsdl:fault name="ProcessStockPlanFault" message="tns:ConfirmBOD"/>
		    </wsdl:operation>
		    <wsdl:operation name="CancelStockPlan">
			      <wsdl:input message="tns:CancelStockPlan"/>
			      <wsdl:output message="tns:AcknowledgeStockPlan"/>
			      <wsdl:fault name="CancelStockPlanFault" message="tns:ConfirmBOD"/>
		    </wsdl:operation>
		    <wsdl:operation name="GetStockPlan">
			      <wsdl:input message="tns:GetStockPlan"/>
			      <wsdl:output message="tns:ShowStockPlan"/>
			      <wsdl:fault name="GetStockPlanFault" message="tns:ConfirmBOD"/>
		    </wsdl:operation>
		    <wsdl:operation name="ChangeStockPlan">
			      <wsdl:input message="tns:ChangeStockPlan"/>
			      <wsdl:output message="tns:AcknowledgeStockPlan"/>
			      <wsdl:fault name="ChangeStockPlanFault" message="tns:ConfirmBOD"/>
		    </wsdl:operation>
		    <wsdl:operation name="NotifyStockPlan">
			      <wsdl:input message="tns:NotifyStockPlan"/>
			      <wsdl:output message="tns:AcknowledgeStockPlan"/>
			      <wsdl:fault name="NotifyStockPlanFault" message="tns:ConfirmBOD"/>
		    </wsdl:operation>
		    <wsdl:operation name="SyncStockPlan">
			      <wsdl:input message="tns:SyncStockPlan"/>
			      <wsdl:output message="tns:ConfirmBOD"/>
		    </wsdl:operation>
	  </wsdl:portType>
	  <wsdl:binding name="StockPlan_Binding" type="tns:StockPlan_PortType">
		    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <wsdl:operation name="ProcessStockPlan">
			      <soap:operation soapAction="ProcessStockPlanOrder" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="ProcessStockPlanFault">
				        <soap:fault name="ProcessStockPlanFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="CancelStockPlan">
			      <soap:operation soapAction="CancelStockPlan" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="CancelStockPlanFault">
				        <soap:fault name="CancelStockPlanFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="GetStockPlan">
			      <soap:operation soapAction="GetStockPlan" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="GetStockPlanFault">
				        <soap:fault name="GetStockPlanFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="ChangeStockPlan">
			      <soap:operation soapAction="ChangeStockPlan" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="ChangeStockPlanFault">
				        <soap:fault name="ChangeStockPlanFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="NotifyStockPlan">
			      <soap:operation soapAction="NotifyStockPlan" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="NotifyStockPlanFault">
				        <soap:fault name="NotifyStockPlanFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="SyncStockPlan">
			      <soap:operation soapAction="SyncStockPlan" style="document"/>
			      <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </wsdl:output>
		    </wsdl:operation>
	  </wsdl:binding>
	  <wsdl:service name="StockPlan_Service">
		    <wsdl:port name="StockPlan_Port" binding="tns:StockPlan_Binding">
			      <soap:address location="http://ws.soatrader.com/hr-xml.org/0.1/StockPlan_Service"/>
		    </wsdl:port>
	  </wsdl:service>
</wsdl:definitions>