wsdl_repositories/soatrader_900/StockServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.reflectionit.nl/webservices/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.reflectionit.nl/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.reflectionit.nl/webservices/">
         <s:element name="GetStockQuote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockQuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetStockQuoteResult" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="double" type="s:double"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStockQuoteSoapIn">
      <wsdl:part name="parameters" element="tns:GetStockQuote"/>
  </wsdl:message>
  <wsdl:message name="GetStockQuoteSoapOut">
      <wsdl:part name="parameters" element="tns:GetStockQuoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStockQuoteHttpGetIn">
      <wsdl:part name="symbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockQuoteHttpGetOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="GetStockQuoteHttpPostIn">
      <wsdl:part name="symbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStockQuoteHttpPostOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:portType name="StockServicesSoap">
      <wsdl:operation name="GetStockQuote">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Yahoo stock quote.</documentation>
         <wsdl:input message="tns:GetStockQuoteSoapIn"/>
         <wsdl:output message="tns:GetStockQuoteSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="StockServicesSoap" type="tns:StockServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetStockQuote">
         <soap:operation soapAction="http://www.reflectionit.nl/webservices/GetStockQuote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="StockServices">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">StockServices created by &lt;a href=http://www.reflectionit.nl&gt;Reflection IT&lt;/a&gt;.</documentation>
      <wsdl:port name="StockServicesSoap" binding="tns:StockServicesSoap">
         <soap:address location="http://ws.soatrader.com/html2xml.nl/0.1/StockServices"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>