wsdl_repositories/soatrader_900/TempExchangeRatesService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.nbs.rs/TempExchangeRatesService"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.nbs.rs/TempExchangeRatesService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.nbs.rs/TempExchangeRatesService">
         <s:element name="GetCurrentExchangeRates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="nExchangeRatesListTypeID" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentExchangeRatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentExchangeRatesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
         <s:complexType name="AuthenticationHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LicenceID" type="s:long"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="GetCurrentExchangeRatesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="nExchangeRatesListTypeID" type="s:decimal"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentExchangeRatesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentExchangeRatesXMLResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentExchangeRatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentExchangeRates"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentExchangeRatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentExchangeRatesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentExchangeRatesAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentExchangeRatesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentExchangeRatesXML"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentExchangeRatesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentExchangeRatesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentExchangeRatesXMLAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader"/>
  </wsdl:message>
  
  <wsdl:binding name="TempExchangeRatesServiceSoap" type="tns:TempExchangeRatesServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetCurrentExchangeRates">
         <soap:operation soapAction="http://www.nbs.rs/TempExchangeRatesService/GetCurrentExchangeRates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCurrentExchangeRatesAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentExchangeRatesXML">
         <soap:operation soapAction="http://www.nbs.rs/TempExchangeRatesService/GetCurrentExchangeRatesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCurrentExchangeRatesXMLAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TempExchangeRatesService">
      <wsdl:port name="TempExchangeRatesServiceSoap" binding="tns:TempExchangeRatesServiceSoap">
         <soap:address location="http://ws.soatrader.com/nbs.yu/0.1/TempExchangeRatesService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>