wsdl_repositories/soatrader_900/Tiscali_x0020_Fax_x0020_Services.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://webservices.tiscali.com/AbstractTypes"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://webservices.tiscali.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.tiscali.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.tiscali.com/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="LogEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="gatewayId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eventDescription" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="par1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="par2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="par3" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogEventResponse">
            <s:complexType/>
         </s:element>
         <s:element name="UpdateCredits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="creditsAmount" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="creditsType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateCreditsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateCreditsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="fromNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="fromName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="toLocale" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxTiff" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceiveFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReceiveFaxResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSimpleFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="billingCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="billingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxText" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSimpleFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSimpleFaxResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxFromText">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="billingCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="billingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxText" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxCoverTemplate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxCoverComments" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="confirmationEmailRequested" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxFromTextResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendFaxFromTextResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxFromDocument">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="billingCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="billingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxFilename" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxDocument" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxCoverTemplate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="faxCoverComments" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="confirmationEmailRequested" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendFaxFromDocumentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendFaxFromDocumentResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetXmlFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sentId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetXmlFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetXmlFaxStatusResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sentId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFaxStatusResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveSentFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SentId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveSentFaxResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSentFaxsList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentFaxsListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSentFaxsListResult"
                             type="tns:ArrayOfFaxOut"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfFaxOut">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="FaxOut" nillable="true"
                          type="tns:FaxOut"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="FaxOut">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="SentId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SenderBillingCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SenderIP" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FaxFilename" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="FaxNumPages" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="FaxNumCalls" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="FaxTransmissionDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ConfirmationEmailRequested" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="ConfirmationEmailSent" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransmissionStationId" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimePosted" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeConverted" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeTransmitted" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeSent" type="s:dateTime"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetSentFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SentId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSentFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSentFaxResult" type="tns:FaxOut"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetReceivedFaxListResult"
                             type="tns:ArrayOfFaxIn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfFaxIn">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="FaxIn" nillable="true"
                          type="tns:FaxIn"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="FaxIn">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedId" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="GatewayId" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransmissionDuration" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfPages" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="DataType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DataHash" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetReceivedVoiceMailList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedVoiceMailListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetReceivedVoiceMailListResult"
                             type="tns:ArrayOfFaxIn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DataHash" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetReceivedFaxResult" type="tns:FaxIn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveReceivedFax">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingAccount" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ReceivedId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DataHash" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveReceivedFaxResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetServicesTests">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="QuickTestsOnly" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetServicesTestsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetServicesTestsResult"
                             type="tns:ArrayOfServiceTest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfServiceTest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceTest" type="tns:ServiceTest"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ServiceTest">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="expectedResult" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="actualResult" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetServicesStatus">
            <s:complexType/>
         </s:element>
         <s:element name="GetServicesStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetServicesStatusResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfFaxOut" nillable="true" type="tns:ArrayOfFaxOut"/>
         <s:element name="FaxOut" nillable="true" type="tns:FaxOut"/>
         <s:element name="ArrayOfFaxIn" nillable="true" type="tns:ArrayOfFaxIn"/>
         <s:element name="FaxIn" nillable="true" type="tns:FaxIn"/>
         <s:element name="ArrayOfServiceTest" nillable="true" type="tns:ArrayOfServiceTest"/>
         <s:element name="boolean" type="s:boolean"/>
      </s:schema>
      <s:schema targetNamespace="http://webservices.tiscali.com/AbstractTypes">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:complexType name="StringArray">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string"/>
                  </s:sequence>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LogEventSoapIn">
      <wsdl:part name="parameters" element="tns:LogEvent"/>
  </wsdl:message>
  <wsdl:message name="LogEventSoapOut">
      <wsdl:part name="parameters" element="tns:LogEventResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateCreditsSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateCredits"/>
  </wsdl:message>
  <wsdl:message name="UpdateCreditsSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateCreditsResponse"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxSoapIn">
      <wsdl:part name="parameters" element="tns:ReceiveFax"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxSoapOut">
      <wsdl:part name="parameters" element="tns:ReceiveFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxSoapIn">
      <wsdl:part name="parameters" element="tns:SendSimpleFax"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxSoapOut">
      <wsdl:part name="parameters" element="tns:SendSimpleFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextSoapIn">
      <wsdl:part name="parameters" element="tns:SendFaxFromText"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextSoapOut">
      <wsdl:part name="parameters" element="tns:SendFaxFromTextResponse"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentSoapIn">
      <wsdl:part name="parameters" element="tns:SendFaxFromDocument"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentSoapOut">
      <wsdl:part name="parameters" element="tns:SendFaxFromDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetXmlFaxStatus"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetXmlFaxStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetFaxStatus"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetFaxStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveSentFax"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveSentFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxsListSoapIn">
      <wsdl:part name="parameters" element="tns:GetSentFaxsList"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxsListSoapOut">
      <wsdl:part name="parameters" element="tns:GetSentFaxsListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxSoapIn">
      <wsdl:part name="parameters" element="tns:GetSentFax"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxSoapOut">
      <wsdl:part name="parameters" element="tns:GetSentFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListSoapIn">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxList"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListSoapOut">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListSoapIn">
      <wsdl:part name="parameters" element="tns:GetReceivedVoiceMailList"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListSoapOut">
      <wsdl:part name="parameters" element="tns:GetReceivedVoiceMailListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxSoapIn">
      <wsdl:part name="parameters" element="tns:GetReceivedFax"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxSoapOut">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveReceivedFax"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveReceivedFaxResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsSoapIn">
      <wsdl:part name="parameters" element="tns:GetServicesTests"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsSoapOut">
      <wsdl:part name="parameters" element="tns:GetServicesTestsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetServicesStatus"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetServicesStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="LogEventHttpGetIn">
      <wsdl:part name="gatewayId" type="s:string"/>
      <wsdl:part name="phoneNumber" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="eventDescription" type="s:string"/>
      <wsdl:part name="par1" type="s:string"/>
      <wsdl:part name="par2" type="s:string"/>
      <wsdl:part name="par3" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogEventHttpGetOut"/>
  <wsdl:message name="UpdateCreditsHttpGetIn">
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="alias" type="s:string"/>
      <wsdl:part name="creditsAmount" type="s:string"/>
      <wsdl:part name="creditsType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateCreditsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxHttpGetIn">
      <wsdl:part name="fromNumber" type="s:string"/>
      <wsdl:part name="fromName" type="s:string"/>
      <wsdl:part name="toNumber" type="s:string"/>
      <wsdl:part name="toLocale" type="s:string"/>
      <wsdl:part name="faxTiff" type="s1:StringArray"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxHttpGetIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxText" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextHttpGetIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxText" type="s:string"/>
      <wsdl:part name="faxCoverTemplate" type="s:string"/>
      <wsdl:part name="faxCoverComments" type="s:string"/>
      <wsdl:part name="confirmationEmailRequested" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentHttpGetIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxFilename" type="s:string"/>
      <wsdl:part name="faxDocument" type="s1:StringArray"/>
      <wsdl:part name="faxCoverTemplate" type="s:string"/>
      <wsdl:part name="faxCoverComments" type="s:string"/>
      <wsdl:part name="confirmationEmailRequested" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusHttpGetIn">
      <wsdl:part name="sentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpGetIn">
      <wsdl:part name="sentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="SentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxHttpGetOut"/>
  <wsdl:message name="GetSentFaxsListHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxsListHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxOut"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="SentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxHttpGetOut">
      <wsdl:part name="Body" element="tns:FaxOut"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="UserEmail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxIn"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="UserEmail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxIn"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="DataHash" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxHttpGetOut">
      <wsdl:part name="Body" element="tns:FaxIn"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxHttpGetIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="ReceivedId" type="s:string"/>
      <wsdl:part name="DataHash" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxHttpGetOut"/>
  <wsdl:message name="GetServicesTestsHttpGetIn">
      <wsdl:part name="QuickTestsOnly" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfServiceTest"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusHttpGetIn"/>
  <wsdl:message name="GetServicesStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="LogEventHttpPostIn">
      <wsdl:part name="gatewayId" type="s:string"/>
      <wsdl:part name="phoneNumber" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="eventDescription" type="s:string"/>
      <wsdl:part name="par1" type="s:string"/>
      <wsdl:part name="par2" type="s:string"/>
      <wsdl:part name="par3" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogEventHttpPostOut"/>
  <wsdl:message name="UpdateCreditsHttpPostIn">
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="alias" type="s:string"/>
      <wsdl:part name="creditsAmount" type="s:string"/>
      <wsdl:part name="creditsType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="UpdateCreditsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxHttpPostIn">
      <wsdl:part name="fromNumber" type="s:string"/>
      <wsdl:part name="fromName" type="s:string"/>
      <wsdl:part name="toNumber" type="s:string"/>
      <wsdl:part name="toLocale" type="s:string"/>
      <wsdl:part name="faxTiff" type="s1:StringArray"/>
  </wsdl:message>
  <wsdl:message name="ReceiveFaxHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxHttpPostIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxText" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSimpleFaxHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextHttpPostIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxText" type="s:string"/>
      <wsdl:part name="faxCoverTemplate" type="s:string"/>
      <wsdl:part name="faxCoverComments" type="s:string"/>
      <wsdl:part name="confirmationEmailRequested" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromTextHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentHttpPostIn">
      <wsdl:part name="billingCode" type="s:string"/>
      <wsdl:part name="billingPassword" type="s:string"/>
      <wsdl:part name="senderEmail" type="s:string"/>
      <wsdl:part name="faxNumber" type="s:string"/>
      <wsdl:part name="faxFilename" type="s:string"/>
      <wsdl:part name="faxDocument" type="s1:StringArray"/>
      <wsdl:part name="faxCoverTemplate" type="s:string"/>
      <wsdl:part name="faxCoverComments" type="s:string"/>
      <wsdl:part name="confirmationEmailRequested" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendFaxFromDocumentHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusHttpPostIn">
      <wsdl:part name="sentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetXmlFaxStatusHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpPostIn">
      <wsdl:part name="sentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="SentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveSentFaxHttpPostOut"/>
  <wsdl:message name="GetSentFaxsListHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxsListHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxOut"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="SentId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSentFaxHttpPostOut">
      <wsdl:part name="Body" element="tns:FaxOut"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="UserEmail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxListHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxIn"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="UserEmail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedVoiceMailListHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfFaxIn"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="DataHash" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxHttpPostOut">
      <wsdl:part name="Body" element="tns:FaxIn"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxHttpPostIn">
      <wsdl:part name="BillingAccount" type="s:string"/>
      <wsdl:part name="BillingPassword" type="s:string"/>
      <wsdl:part name="ReceivedId" type="s:string"/>
      <wsdl:part name="DataHash" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveReceivedFaxHttpPostOut"/>
  <wsdl:message name="GetServicesTestsHttpPostIn">
      <wsdl:part name="QuickTestsOnly" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfServiceTest"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusHttpPostIn"/>
  <wsdl:message name="GetServicesStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:portType name="Tiscali_x0020_Fax_x0020_ServicesSoap">
      <wsdl:operation name="LogEvent">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method to insert a log message in umsLogs table.</documentation>
         <wsdl:input message="tns:LogEventSoapIn"/>
         <wsdl:output message="tns:LogEventSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateCredits">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method called to add NetPhone or Fax credits for a customer. Internal use only, access is restricted.</documentation>
         <wsdl:input message="tns:UpdateCreditsSoapIn"/>
         <wsdl:output message="tns:UpdateCreditsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ReceiveFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Posts an inbound fax to a customer's inbox. Can only be called by inbound fax gateways.</documentation>
         <wsdl:input message="tns:ReceiveFaxSoapIn"/>
         <wsdl:output message="tns:ReceiveFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendSimpleFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sends a simple text via fax (asynchronous).</documentation>
         <wsdl:input message="tns:SendSimpleFaxSoapIn"/>
         <wsdl:output message="tns:SendSimpleFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendFaxFromText">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sends a text document via fax (asynchronous).</documentation>
         <wsdl:input message="tns:SendFaxFromTextSoapIn"/>
         <wsdl:output message="tns:SendFaxFromTextSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendFaxFromDocument">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sends a document via fax (asynchronous).</documentation>
         <wsdl:input message="tns:SendFaxFromDocumentSoapIn"/>
         <wsdl:output message="tns:SendFaxFromDocumentSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetXmlFaxStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a complete status record for the fax with the given &lt;b&gt;sentId&lt;/b&gt; (in a simpler xml format).</documentation>
         <wsdl:input message="tns:GetXmlFaxStatusSoapIn"/>
         <wsdl:output message="tns:GetXmlFaxStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFaxStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a complete status record for the fax with the given &lt;b&gt;sentId&lt;/b&gt; (as returned by SendFax).</documentation>
         <wsdl:input message="tns:GetFaxStatusSoapIn"/>
         <wsdl:output message="tns:GetFaxStatusSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RemoveSentFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Removes a sent fax from the sent history.</documentation>
         <wsdl:input message="tns:RemoveSentFaxSoapIn"/>
         <wsdl:output message="tns:RemoveSentFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSentFaxsList">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the requested fax received information.</documentation>
         <wsdl:input message="tns:GetSentFaxsListSoapIn"/>
         <wsdl:output message="tns:GetSentFaxsListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSentFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the requested sent fax information.</documentation>
         <wsdl:input message="tns:GetSentFaxSoapIn"/>
         <wsdl:output message="tns:GetSentFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFaxList">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the received fax list.</documentation>
         <wsdl:input message="tns:GetReceivedFaxListSoapIn"/>
         <wsdl:output message="tns:GetReceivedFaxListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedVoiceMailList">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the received voice mail list.</documentation>
         <wsdl:input message="tns:GetReceivedVoiceMailListSoapIn"/>
         <wsdl:output message="tns:GetReceivedVoiceMailListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the requested fax received information.</documentation>
         <wsdl:input message="tns:GetReceivedFaxSoapIn"/>
         <wsdl:output message="tns:GetReceivedFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="RemoveReceivedFax">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Removes a received fax from the database.</documentation>
         <wsdl:input message="tns:RemoveReceivedFaxSoapIn"/>
         <wsdl:output message="tns:RemoveReceivedFaxSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetServicesTests">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Built-in diagnostics - This method a reduced or completed suite of tests on all web services included in this module. For each test run, the method returns a description of the test, its expected behaviour and actual behaviour or result.</documentation>
         <wsdl:input message="tns:GetServicesTestsSoapIn"/>
         <wsdl:output message="tns:GetServicesTestsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetServicesStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Built-in diagnostics - This method runs a the quick tests suite to determine if the module is up and running properly. This method is normally used by automatic tools (like OpenView or WhatsUp) to monitor the services. The service returns &lt;b&gt;true&lt;/b&gt; if everything works fine.</documentation>
         <wsdl:input message="tns:GetServicesStatusSoapIn"/>
         <wsdl:output message="tns:GetServicesStatusSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Tiscali_x0020_Fax_x0020_ServicesSoap"
                 type="tns:Tiscali_x0020_Fax_x0020_ServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="LogEvent">
         <soap:operation soapAction="http://webservices.tiscali.com/LogEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateCredits">
         <soap:operation soapAction="http://webservices.tiscali.com/UpdateCredits" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReceiveFax">
         <soap:operation soapAction="http://webservices.tiscali.com/ReceiveFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSimpleFax">
         <soap:operation soapAction="http://webservices.tiscali.com/SendSimpleFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendFaxFromText">
         <soap:operation soapAction="http://webservices.tiscali.com/SendFaxFromText" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendFaxFromDocument">
         <soap:operation soapAction="http://webservices.tiscali.com/SendFaxFromDocument"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetXmlFaxStatus">
         <soap:operation soapAction="http://webservices.tiscali.com/GetXmlFaxStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFaxStatus">
         <soap:operation soapAction="http://webservices.tiscali.com/GetFaxStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveSentFax">
         <soap:operation soapAction="http://webservices.tiscali.com/RemoveSentFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSentFaxsList">
         <soap:operation soapAction="http://webservices.tiscali.com/GetSentFaxsList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSentFax">
         <soap:operation soapAction="http://webservices.tiscali.com/GetSentFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFaxList">
         <soap:operation soapAction="http://webservices.tiscali.com/GetReceivedFaxList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedVoiceMailList">
         <soap:operation soapAction="http://webservices.tiscali.com/GetReceivedVoiceMailList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFax">
         <soap:operation soapAction="http://webservices.tiscali.com/GetReceivedFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveReceivedFax">
         <soap:operation soapAction="http://webservices.tiscali.com/RemoveReceivedFax" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetServicesTests">
         <soap:operation soapAction="http://webservices.tiscali.com/GetServicesTests" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetServicesStatus">
         <soap:operation soapAction="http://webservices.tiscali.com/GetServicesStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Tiscali_x0020_Fax_x0020_Services">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Inbound and outbound fax services. Includes automatic document to fax conversion and internal billing.</documentation>
      <wsdl:port name="Tiscali_x0020_Fax_x0020_ServicesSoap"
                 binding="tns:Tiscali_x0020_Fax_x0020_ServicesSoap">
         <soap:address location="http://ws.soatrader.com/tiscali.com/0.1/Tiscali_x0020_Fax_x0020_Services"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>