wsdl_repositories/soatrader_900/Tiscali_x0020_Messenger_x0020_Services.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://webservices.tiscali.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.tiscali.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.tiscali.com/">
         <s:element name="PostAlert">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SitePassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ActionUrl" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Agent" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostAlertResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostAlertResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostSmsAlert">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SitePassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostSmsAlertResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostSmsAlertResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAlertsSubscriptionsBySite">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SitePassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAlertsSubscriptionsBySiteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAlertsSubscriptionsBySiteResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsAlertsSubscriber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SiteId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SitePassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsAlertsSubscriberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="IsAlertsSubscriberResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsMobileClientSubscriber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IsMobileClientSubscriberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IsMobileClientSubscriberResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostMobileClientSubscription">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ExpireOn" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostMobileClientSubscriptionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostMobileClientSubscriptionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPluginsSubscriptionsByEmail">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPluginsSubscriptionsByEmailResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPluginsSubscriptionsByEmailResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetServicesTests">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="QuickTestsOnly" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetServicesTestsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetServicesTestsResult"
                             type="tns:ArrayOfServiceTest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfServiceTest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceTest" type="tns:ServiceTest"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ServiceTest">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="expectedResult" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="actualResult" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetServicesStatus">
            <s:complexType/>
         </s:element>
         <s:element name="GetServicesStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetServicesStatusResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="boolean" type="s:boolean"/>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="ArrayOfServiceTest" nillable="true" type="tns:ArrayOfServiceTest"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="PostAlertSoapIn">
      <wsdl:part name="parameters" element="tns:PostAlert"/>
  </wsdl:message>
  <wsdl:message name="PostAlertSoapOut">
      <wsdl:part name="parameters" element="tns:PostAlertResponse"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertSoapIn">
      <wsdl:part name="parameters" element="tns:PostSmsAlert"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertSoapOut">
      <wsdl:part name="parameters" element="tns:PostSmsAlertResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteSoapIn">
      <wsdl:part name="parameters" element="tns:GetAlertsSubscriptionsBySite"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteSoapOut">
      <wsdl:part name="parameters" element="tns:GetAlertsSubscriptionsBySiteResponse"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberSoapIn">
      <wsdl:part name="parameters" element="tns:IsAlertsSubscriber"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberSoapOut">
      <wsdl:part name="parameters" element="tns:IsAlertsSubscriberResponse"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberSoapIn">
      <wsdl:part name="parameters" element="tns:IsMobileClientSubscriber"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberSoapOut">
      <wsdl:part name="parameters" element="tns:IsMobileClientSubscriberResponse"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionSoapIn">
      <wsdl:part name="parameters" element="tns:PostMobileClientSubscription"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionSoapOut">
      <wsdl:part name="parameters" element="tns:PostMobileClientSubscriptionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailSoapIn">
      <wsdl:part name="parameters" element="tns:GetPluginsSubscriptionsByEmail"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailSoapOut">
      <wsdl:part name="parameters" element="tns:GetPluginsSubscriptionsByEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsSoapIn">
      <wsdl:part name="parameters" element="tns:GetServicesTests"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsSoapOut">
      <wsdl:part name="parameters" element="tns:GetServicesTestsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetServicesStatus"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetServicesStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="PostAlertHttpGetIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="SiteUrl" type="s:string"/>
      <wsdl:part name="ActionUrl" type="s:string"/>
      <wsdl:part name="Id" type="s:string"/>
      <wsdl:part name="Priority" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
      <wsdl:part name="Agent" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostAlertHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertHttpGetIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="Id" type="s:string"/>
      <wsdl:part name="Priority" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteHttpGetIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberHttpGetIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberHttpGetIn">
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionHttpGetIn">
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Amount" type="s:string"/>
      <wsdl:part name="Description" type="s:string"/>
      <wsdl:part name="ExpireOn" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailHttpGetIn">
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpGetIn">
      <wsdl:part name="QuickTestsOnly" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfServiceTest"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusHttpGetIn"/>
  <wsdl:message name="GetServicesStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="PostAlertHttpPostIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="SiteUrl" type="s:string"/>
      <wsdl:part name="ActionUrl" type="s:string"/>
      <wsdl:part name="Id" type="s:string"/>
      <wsdl:part name="Priority" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
      <wsdl:part name="Agent" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostAlertHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertHttpPostIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="Id" type="s:string"/>
      <wsdl:part name="Priority" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Message" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostSmsAlertHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteHttpPostIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAlertsSubscriptionsBySiteHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberHttpPostIn">
      <wsdl:part name="SiteId" type="s:string"/>
      <wsdl:part name="SitePassword" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IsAlertsSubscriberHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberHttpPostIn">
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IsMobileClientSubscriberHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionHttpPostIn">
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Amount" type="s:string"/>
      <wsdl:part name="Description" type="s:string"/>
      <wsdl:part name="ExpireOn" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PostMobileClientSubscriptionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailHttpPostIn">
      <wsdl:part name="Email" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPluginsSubscriptionsByEmailHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpPostIn">
      <wsdl:part name="QuickTestsOnly" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetServicesTestsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfServiceTest"/>
  </wsdl:message>
  <wsdl:message name="GetServicesStatusHttpPostIn"/>
  <wsdl:message name="GetServicesStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:portType name="Tiscali_x0020_Messenger_x0020_ServicesSoap">
      <wsdl:operation name="PostAlert">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Posts an alert to be delivered to a customer via Messenger or SMS (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:PostAlertSoapIn"/>
         <wsdl:output message="tns:PostAlertSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PostSmsAlert">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Posts an alert to be delivered via SMS (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:PostSmsAlertSoapIn"/>
         <wsdl:output message="tns:PostSmsAlertSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAlertsSubscriptionsBySite">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a data set containing the subscribers for the given service (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:GetAlertsSubscriptionsBySiteSoapIn"/>
         <wsdl:output message="tns:GetAlertsSubscriptionsBySiteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="IsAlertsSubscriber">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks if a customer is subscribed to a certain alerts site (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:IsAlertsSubscriberSoapIn"/>
         <wsdl:output message="tns:IsAlertsSubscriberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="IsMobileClientSubscriber">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns OK if the given customer is a current subscriber of Tiscali Mobile IM client (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:IsMobileClientSubscriberSoapIn"/>
         <wsdl:output message="tns:IsMobileClientSubscriberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PostMobileClientSubscription">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Posts a payment for Tiscali Mobile IM client (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:PostMobileClientSubscriptionSoapIn"/>
         <wsdl:output message="tns:PostMobileClientSubscriptionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetPluginsSubscriptionsByEmail">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the personalized list of plugins (and panels) to be installed on a client's messenger (see SDK for documentation). Restricted access.</documentation>
         <wsdl:input message="tns:GetPluginsSubscriptionsByEmailSoapIn"/>
         <wsdl:output message="tns:GetPluginsSubscriptionsByEmailSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetServicesTests">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Built-in diagnostics - This method a reduced or completed suite of tests on all web services included in this module. For each test run, the method returns a description of the test, its expected behaviour and actual behaviour or result.</documentation>
         <wsdl:input message="tns:GetServicesTestsSoapIn"/>
         <wsdl:output message="tns:GetServicesTestsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetServicesStatus">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Built-in diagnostics - This method runs a the quick tests suite to determine if the module is up and running properly. This method is normally used by automatic tools (like OpenView or WhatsUp) to monitor the services. The service returns &lt;b&gt;true&lt;/b&gt; if everything works fine.</documentation>
         <wsdl:input message="tns:GetServicesStatusSoapIn"/>
         <wsdl:output message="tns:GetServicesStatusSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Tiscali_x0020_Messenger_x0020_ServicesSoap"
                 type="tns:Tiscali_x0020_Messenger_x0020_ServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="PostAlert">
         <soap:operation soapAction="http://webservices.tiscali.com/PostAlert" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostSmsAlert">
         <soap:operation soapAction="http://webservices.tiscali.com/PostSmsAlert" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAlertsSubscriptionsBySite">
         <soap:operation soapAction="http://webservices.tiscali.com/GetAlertsSubscriptionsBySite"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="IsAlertsSubscriber">
         <soap:operation soapAction="http://webservices.tiscali.com/IsAlertsSubscriber" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="IsMobileClientSubscriber">
         <soap:operation soapAction="http://webservices.tiscali.com/IsMobileClientSubscriber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostMobileClientSubscription">
         <soap:operation soapAction="http://webservices.tiscali.com/PostMobileClientSubscription"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPluginsSubscriptionsByEmail">
         <soap:operation soapAction="http://webservices.tiscali.com/GetPluginsSubscriptionsByEmail"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetServicesTests">
         <soap:operation soapAction="http://webservices.tiscali.com/GetServicesTests" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetServicesStatus">
         <soap:operation soapAction="http://webservices.tiscali.com/GetServicesStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Tiscali_x0020_Messenger_x0020_Services">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web services used to access Tiscali Messenger and Alerts systems.</documentation>
      <wsdl:port name="Tiscali_x0020_Messenger_x0020_ServicesSoap"
                 binding="tns:Tiscali_x0020_Messenger_x0020_ServicesSoap">
         <soap:address location="http://ws.soatrader.com/tiscali.com/0.1/Tiscali_x0020_Messenger_x0020_Services"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>