wsdl_repositories/soatrader_900/UKLocation.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.webserviceX.NET"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.webserviceX.NET">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Get UK Postcode,Town,County and Validate UK Address</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element name="SOATraderLicense" type="string"/>
         <element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element name="HitsMade" type="decimal"/>
               <element name="HitsLeft" type="decimal"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
         <s:element name="GetUKLocationByCounty">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUKLocationByCountyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByCountyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUKLocationByTown">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUKLocationByTownResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByTownResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUKLocationByPostCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUKLocationByPostCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUKLocationByPostCodeResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateUKAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateUKAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateUKAddressResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUKLocationByCountySoapIn">
      <wsdl:part name="parameters" element="tns:GetUKLocationByCounty"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByCountySoapOut">
      <wsdl:part name="parameters" element="tns:GetUKLocationByCountyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownSoapIn">
      <wsdl:part name="parameters" element="tns:GetUKLocationByTown"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownSoapOut">
      <wsdl:part name="parameters" element="tns:GetUKLocationByTownResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetUKLocationByPostCode"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetUKLocationByPostCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateUKAddress"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateUKAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByCountyHttpGetIn">
      <wsdl:part name="County" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByCountyHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownHttpGetIn">
      <wsdl:part name="Town" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeHttpGetIn">
      <wsdl:part name="PostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressHttpGetIn">
      <wsdl:part name="Town" type="s:string"/>
      <wsdl:part name="County" type="s:string"/>
      <wsdl:part name="PostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByCountyHttpPostIn">
      <wsdl:part name="County" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByCountyHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownHttpPostIn">
      <wsdl:part name="Town" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByTownHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeHttpPostIn">
      <wsdl:part name="PostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUKLocationByPostCodeHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressHttpPostIn">
      <wsdl:part name="Town" type="s:string"/>
      <wsdl:part name="County" type="s:string"/>
      <wsdl:part name="PostCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ValidateUKAddressHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="UKLocationSoap" type="tns:UKLocationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetUKLocationByCounty">
         <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByCounty" style="document"/>
         <wsdl:input>
            <soap:header message="tns:SOATraderLicense" use="literal" part="SOATraderLicense"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="tns:SOATraderUsageStatistics" use="literal"
                         part="SOATraderUsageStatistics"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUKLocationByTown">
         <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByTown" style="document"/>
         <wsdl:input>
            <soap:header message="tns:SOATraderLicense" use="literal" part="SOATraderLicense"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="tns:SOATraderUsageStatistics" use="literal"
                         part="SOATraderUsageStatistics"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUKLocationByPostCode">
         <soap:operation soapAction="http://www.webserviceX.NET/GetUKLocationByPostCode"
                         style="document"/>
         <wsdl:input>
            <soap:header message="tns:SOATraderLicense" use="literal" part="SOATraderLicense"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="tns:SOATraderUsageStatistics" use="literal"
                         part="SOATraderUsageStatistics"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateUKAddress">
         <soap:operation soapAction="http://www.webserviceX.NET/ValidateUKAddress" style="document"/>
         <wsdl:input>
            <soap:header message="tns:SOATraderLicense" use="literal" part="SOATraderLicense"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="tns:SOATraderUsageStatistics" use="literal"
                         part="SOATraderUsageStatistics"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="UKLocation">
      <wsdl:documentation>Get UK Postcode,Town,County and Validate UK Address</wsdl:documentation>
      <wsdl:port name="UKLocationSoap" binding="tns:UKLocationSoap">
         <soap:address location="http://ws.soatrader.com/webservicex.net/0.2/UKLocation"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>