wsdl_repositories/soatrader_900/UpdatePerson.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="UpdateAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PersonID" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UpdateAddressResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateAddressSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateAddress"/>
  </wsdl:message>
  <wsdl:message name="UpdateAddressSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateAddressResponse"/>
  </wsdl:message>
  <wsdl:portType name="UpdatePersonSoap">
      <wsdl:operation name="UpdateAddress">
         <wsdl:input message="tns:UpdateAddressSoapIn"/>
         <wsdl:output message="tns:UpdateAddressSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdatePersonSoap" type="tns:UpdatePersonSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="UpdateAddress">
         <soap:operation soapAction="http://tempuri.org/UpdateAddress" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdatePerson">
      <wsdl:port name="UpdatePersonSoap" binding="tns:UpdatePersonSoap">
         <soap:address location="http://ws.soatrader.com/nctm.org/0.1/UpdatePerson"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>