wsdl_repositories/soatrader_900/UserInput.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="CultuurNet"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="CultuurNet">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="CultuurNet">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="addScore">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="score" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addScoreResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="addScoreResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authentication" type="tns:Authentication"/>
         <s:complexType name="Authentication">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="publicKeys" type="tns:ArrayOfKey"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transformation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfKey">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Key">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="getScore">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getScoreResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getScoreResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addComment">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="languageId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="review" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addCommentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="addCommentResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getComments">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="languageId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCommentsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getCommentsResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="contactMe">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="privCnet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="privComm" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="contactMeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="contactMeResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addError">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addErrorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="addErrorResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="informAFriend">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderTitleId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderFirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderLastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipientFirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipientLastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipientEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="informAFriendResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="informAFriendResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="informAFriendContest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderEmail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="senderTelephone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Answer1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Answer2" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="informAFriendContestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="informAFriendContestResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="addScoreSoapIn">
      <wsdl:part name="parameters" element="tns:addScore"/>
  </wsdl:message>
  <wsdl:message name="addScoreSoapOut">
      <wsdl:part name="parameters" element="tns:addScoreResponse"/>
  </wsdl:message>
  <wsdl:message name="addScoreAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="getScoreSoapIn">
      <wsdl:part name="parameters" element="tns:getScore"/>
  </wsdl:message>
  <wsdl:message name="getScoreSoapOut">
      <wsdl:part name="parameters" element="tns:getScoreResponse"/>
  </wsdl:message>
  <wsdl:message name="getScoreAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="addCommentSoapIn">
      <wsdl:part name="parameters" element="tns:addComment"/>
  </wsdl:message>
  <wsdl:message name="addCommentSoapOut">
      <wsdl:part name="parameters" element="tns:addCommentResponse"/>
  </wsdl:message>
  <wsdl:message name="addCommentAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="getCommentsSoapIn">
      <wsdl:part name="parameters" element="tns:getComments"/>
  </wsdl:message>
  <wsdl:message name="getCommentsSoapOut">
      <wsdl:part name="parameters" element="tns:getCommentsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCommentsAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="contactMeSoapIn">
      <wsdl:part name="parameters" element="tns:contactMe"/>
  </wsdl:message>
  <wsdl:message name="contactMeSoapOut">
      <wsdl:part name="parameters" element="tns:contactMeResponse"/>
  </wsdl:message>
  <wsdl:message name="contactMeAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="addErrorSoapIn">
      <wsdl:part name="parameters" element="tns:addError"/>
  </wsdl:message>
  <wsdl:message name="addErrorSoapOut">
      <wsdl:part name="parameters" element="tns:addErrorResponse"/>
  </wsdl:message>
  <wsdl:message name="addErrorAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="informAFriendSoapIn">
      <wsdl:part name="parameters" element="tns:informAFriend"/>
  </wsdl:message>
  <wsdl:message name="informAFriendSoapOut">
      <wsdl:part name="parameters" element="tns:informAFriendResponse"/>
  </wsdl:message>
  <wsdl:message name="informAFriendAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="informAFriendContestSoapIn">
      <wsdl:part name="parameters" element="tns:informAFriendContest"/>
  </wsdl:message>
  <wsdl:message name="informAFriendContestSoapOut">
      <wsdl:part name="parameters" element="tns:informAFriendContestResponse"/>
  </wsdl:message>
  <wsdl:message name="informAFriendContestAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:portType name="UserInputSoap">
      <wsdl:operation name="addScore">
         <wsdl:input message="tns:addScoreSoapIn"/>
         <wsdl:output message="tns:addScoreSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getScore">
         <wsdl:input message="tns:getScoreSoapIn"/>
         <wsdl:output message="tns:getScoreSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="addComment">
         <wsdl:input message="tns:addCommentSoapIn"/>
         <wsdl:output message="tns:addCommentSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getComments">
         <wsdl:input message="tns:getCommentsSoapIn"/>
         <wsdl:output message="tns:getCommentsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="contactMe">
         <wsdl:input message="tns:contactMeSoapIn"/>
         <wsdl:output message="tns:contactMeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="addError">
         <wsdl:input message="tns:addErrorSoapIn"/>
         <wsdl:output message="tns:addErrorSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="informAFriend">
         <wsdl:input message="tns:informAFriendSoapIn"/>
         <wsdl:output message="tns:informAFriendSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="informAFriendContest">
         <wsdl:input message="tns:informAFriendContestSoapIn"/>
         <wsdl:output message="tns:informAFriendContestSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserInputSoap" type="tns:UserInputSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="addScore">
         <soap:operation soapAction="CultuurNet/addScore" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:addScoreAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getScore">
         <soap:operation soapAction="CultuurNet/getScore" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:getScoreAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addComment">
         <soap:operation soapAction="CultuurNet/addComment" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:addCommentAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getComments">
         <soap:operation soapAction="CultuurNet/getComments" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:getCommentsAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="contactMe">
         <soap:operation soapAction="CultuurNet/contactMe" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:contactMeAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addError">
         <soap:operation soapAction="CultuurNet/addError" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:addErrorAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="informAFriend">
         <soap:operation soapAction="CultuurNet/informAFriend" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:informAFriendAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="informAFriendContest">
         <soap:operation soapAction="CultuurNet/informAFriendContest" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:informAFriendContestAuthentication" part="Authentication"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserInput">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="UserInputSoap" binding="tns:UserInputSoap">
         <soap:address location="http://ws.soatrader.com/cultuurweb.be/0.1/UserInput"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>