wsdl_repositories/soatrader_900/validateAddress_Service.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://addressmeister.bizware.com/service/wsdl/server.soap.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="validateAddressService"
             targetNamespace="http://addressmeister.bizware.com/service/wsdl/server.soap.wsdl">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
      
	  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:schemas-xmlsoap-org:soap.v1">
          <complexType name="ArrayOfString">
            <complexContent>
              <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" arrayType="string[]"/>
              </restriction>
            </complexContent>
          </complexType>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="urn:schemas-xmlsoap-org:soap.v1">
          <complexType name="ArrayOfString">
            <complexContent>
              <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" arrayType="string[]"/>
              </restriction>
            </complexContent>
          </complexType>
        </schema>
      </types>
      
	  <message name="validateAddressRequest">
        <part name="authKey" type="string"/>
        <part name="firstName" type="string"/>
        <part name="lastName" type="string"/>
        <part name="address" type="string"/>
        <part name="address2" type="string"/>
        <part name="city" type="string"/>
        <part name="zip" type="string"/>
        <part name="zip4" type="string"/>
      </message>
      
	  <message name="validateAddressResponse">
        <part name="value" type="ArrayOfString"/>
      </message>
      
	  <portType name="validateAddress_PortType">
        <operation name="validateAddress">
          <input message="tns:validateAddressRequest"/>
          <output message="tns:validateAddressResponse"/>
        </operation>
      </portType>
	  
      <binding name="validateAddress_Binding" type="tns:validateAddress_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="validateAddress">
          <soap:operation soapAction="http://addressmeister.bizware.com:80/service/server.soap.php"/>
          <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:schemas-xmlsoap-org:soap.v1"
                       use="encoded"/>
          </input>
          <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:schemas-xmlsoap-org:soap.v1"
                       use="encoded"/>
          </output>
        </operation>
      </binding>
 
	  <service name="validateAddress_Service">
		    <documentation>Takes an address or portion of an address
		returns an array with corrected information or an informative error.</documentation>
		    <port name="validateAddress_Port" binding="tns:validateAddress_Binding">
          <soap:address location="http://ws.soatrader.com/echo.nasa.gov/0.1/validateAddress_Service"/>
        </port>
      </service>
</definitions>