wsdl_repositories/soatrader_900/ValidateEmail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.webservicex.net" xmlns:tns="http://www.webservicex.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net">
      <s:element name="IsValidEmail">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Email" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="IsValidEmailResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean"/>
    </s:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.soatrader.com/" xmlns:soat="http://ws.soatrader.com/"><xs:element name="SOATraderLicense" type="xs:string"/><xs:element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/><xs:complexType name="SOATraderUsageStatistics"><xs:sequence><xs:element name="HitsMade" type="xs:decimal"/><xs:element name="HitsLeft" type="xs:decimal"/></xs:sequence></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="IsValidEmailSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SOATraderUsageStatistics">
    <wsdl:part name="SOATraderUsageStatistics" element="soat:SOATraderUsageStatistics">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsValidEmailSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SOATraderLicense">
    <wsdl:part name="SOATraderLicense" element="soat:SOATraderLicense">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidateEmailSoap">
    <wsdl:operation name="IsValidEmail">
<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method returns true or false for a given email address</documentation>
      <wsdl:input message="tns:IsValidEmailSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:IsValidEmailSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateEmailSoap" type="tns:ValidateEmailSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="IsValidEmail">
      <soap:operation soapAction="http://www.webservicex.net/IsValidEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateEmail">
    <wsdl:port name="ValidateEmailSoap" binding="tns:ValidateEmailSoap">
      <soap:address location="http://ws.soatrader.com/webservicex.net/1.0/ValidateEmail"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
