wsdl_repositories/soatrader_900/VersionService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="https://www.rezidorsas.com/booking/services/Version"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="https://www.rezidorsas.com/booking/services/Version"
                  xmlns:intf="https://www.rezidorsas.com/booking/services/Version"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="https://www.rezidorsas.com/booking/services/Version">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->

   <wsdl:message name="getVersionResponse">

      <wsdl:part name="getVersionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getVersionRequest">

   </wsdl:message>

   <wsdl:portType name="Version">

      <wsdl:operation name="getVersion">

         <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>

         <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VersionSoapBinding" type="impl:Version">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://axis.apache.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="https://www.rezidorsas.com/booking/services/Version"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VersionService">

      <wsdl:port binding="impl:VersionSoapBinding" name="Version">

         <wsdlsoap:address location="http://ws.soatrader.com/rezidorsas.com/0.1/VersionService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>