wsdl_repositories/soatrader_900/WatsonSearchService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                  xmlns:intf="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://lang.java"
                  xmlns:tns2="http://DefaultNamespace"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://schemas.xmlsoap.org/soap/encoding/">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lang.java">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="String">
            <simpleContent>
               <extension/>
            </simpleContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfSemanticContentResult">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SemanticContentResult[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch">
         <import namespace="http://DefaultNamespace"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns1_String">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:String[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfSemanticContentResult">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SemanticContentResult[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="searchWatsonWithKeywordsWithLimitResponse">

      <wsdl:part name="searchWatsonWithKeywordsWithLimitReturn"
                 type="impl:ArrayOfSemanticContentResult"/>

   </wsdl:message>

   <wsdl:message name="searchWatsonWithKeywordsWithLimitRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="tns2:int"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

      <wsdl:part name="scInfo" type="tns2:int"/>

      <wsdl:part name="entInfo" type="tns2:int"/>

      <wsdl:part name="limit" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="searchWatsonWithKeywordsRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="xsd:anyType"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

      <wsdl:part name="scInfo" type="tns2:int"/>

      <wsdl:part name="entInfo" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="searchBestCoverageWithRestrictionRequest">

      <wsdl:part name="keywords" type="impl:ArrayOf_tns1_String"/>

      <wsdl:part name="scopeModifier" type="tns2:int"/>

      <wsdl:part name="entityTypeModifier" type="tns2:int"/>

      <wsdl:part name="matchTechnique" type="tns2:int"/>

      <wsdl:part name="scInfo" type="tns2:int"/>

      <wsdl:part name="entInfo" type="tns2:int"/>

   </wsdl:message>

   <wsdl:message name="searchWatsonWithKeywordsResponse">

      <wsdl:part name="searchWatsonWithKeywordsReturn" type="impl:ArrayOfSemanticContentResult"/>

   </wsdl:message>

   <wsdl:message name="searchBestCoverageWithRestrictionResponse">

      <wsdl:part name="searchBestCoverageWithRestrictionReturn"
                 type="impl:ArrayOfSemanticContentResult"/>

   </wsdl:message>

   <wsdl:portType name="WatsonSearch">

      <wsdl:operation name="searchWatsonWithKeywords"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique scInfo entInfo">

         <wsdl:input message="impl:searchWatsonWithKeywordsRequest"
                     name="searchWatsonWithKeywordsRequest"/>

         <wsdl:output message="impl:searchWatsonWithKeywordsResponse"
                      name="searchWatsonWithKeywordsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchWatsonWithKeywordsWithLimit"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique scInfo entInfo limit">

         <wsdl:input message="impl:searchWatsonWithKeywordsWithLimitRequest"
                     name="searchWatsonWithKeywordsWithLimitRequest"/>

         <wsdl:output message="impl:searchWatsonWithKeywordsWithLimitResponse"
                      name="searchWatsonWithKeywordsWithLimitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="searchBestCoverageWithRestriction"
                      parameterOrder="keywords scopeModifier entityTypeModifier matchTechnique scInfo entInfo">

         <wsdl:input message="impl:searchBestCoverageWithRestrictionRequest"
                     name="searchBestCoverageWithRestrictionRequest"/>

         <wsdl:output message="impl:searchBestCoverageWithRestrictionResponse"
                      name="searchBestCoverageWithRestrictionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="urn:WatsonSearchSoapBinding" type="impl:WatsonSearch">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchWatsonWithKeywords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchWatsonWithKeywordsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchWatsonWithKeywordsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchWatsonWithKeywordsWithLimit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchWatsonWithKeywordsWithLimitRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchWatsonWithKeywordsWithLimitResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchBestCoverageWithRestriction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchBestCoverageWithRestrictionRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://services.watson.kmi.open.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchBestCoverageWithRestrictionResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://watson.kmi.open.ac.uk/watson-ws/services/urn:WatsonSearch"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WatsonSearchService">

      <wsdl:port binding="impl:urn:WatsonSearchSoapBinding" name="urn:WatsonSearch">

         <wsdlsoap:address location="http://ws.soatrader.com/open.ac.uk/0.1/WatsonSearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>