wsdl_repositories/soatrader_900/WeatherForecastServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://services.view.weather.u90259.deere.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://services.view.weather.u90259.deere.com"
                  xmlns:intf="http://services.view.weather.u90259.deere.com"
                  xmlns:tns2="http://beans.services.view.weather.u90259.deere.com"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://services.view.weather.u90259.deere.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
              targetNamespace="http://services.view.weather.u90259.deere.com">
         <import namespace="http://beans.services.view.weather.u90259.deere.com"/>
         <element name="getInternationalFiveDayForecastXml">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="country" nillable="true" type="xsd:string"/>
                  <element name="city" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getInternationalFiveDayForecastXmlResponse">
            <complexType>
               <sequence>
                  <element name="getInternationalFiveDayForecastXmlReturn" nillable="true"
                           type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCities">
            <complexType>
               <sequence>
                  <element name="country" nillable="true" type="xsd:string"/>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCitiesResponse">
            <complexType>
               <sequence>
                  <element name="getCitiesReturn" nillable="true" type="tns2:InternationalLocations"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCurrentWeatherXml">
            <complexType>
               <sequence>
                  <element name="location" nillable="true" type="xsd:string"/>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCurrentWeatherXmlResponse">
            <complexType>
               <sequence>
                  <element name="getCurrentWeatherXmlReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCountriesXml">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCountriesXmlResponse">
            <complexType>
               <sequence>
                  <element name="getCountriesXmlReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getFiveDayForecastXml">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="location" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getFiveDayForecastXmlResponse">
            <complexType>
               <sequence>
                  <element name="getFiveDayForecastXmlReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCitiesXml">
            <complexType>
               <sequence>
                  <element name="country" nillable="true" type="xsd:string"/>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCitiesXmlResponse">
            <complexType>
               <sequence>
                  <element name="getCitiesXmlReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getHourByHourForecastXml">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="location" nillable="true" type="xsd:string"/>
                  <element name="type" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getHourByHourForecastXmlResponse">
            <complexType>
               <sequence>
                  <element name="getHourByHourForecastXmlReturn" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCountries">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCountriesResponse">
            <complexType>
               <sequence>
                  <element name="getCountriesReturn" nillable="true" type="tns2:InternationalLocations"/>
               </sequence>
            </complexType>
         </element>
         <element name="getHourByHourForecast">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="location" nillable="true" type="xsd:string"/>
                  <element name="type" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getHourByHourForecastResponse">
            <complexType>
               <sequence>
                  <element name="getHourByHourForecastReturn" nillable="true"
                           type="tns2:HourlyOutlookBean"/>
               </sequence>
            </complexType>
         </element>
         <element name="getInternationalFiveDayForecast">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="country" nillable="true" type="xsd:string"/>
                  <element name="city" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getInternationalFiveDayForecastResponse">
            <complexType>
               <sequence>
                  <element name="getInternationalFiveDayForecastReturn" nillable="true"
                           type="tns2:DailyOutlookBean"/>
               </sequence>
            </complexType>
         </element>
         <element name="getFiveDayForecast">
            <complexType>
               <sequence>
                  <element name="locale" nillable="true" type="xsd:string"/>
                  <element name="location" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getFiveDayForecastResponse">
            <complexType>
               <sequence>
                  <element name="getFiveDayForecastReturn" nillable="true" type="tns2:DailyOutlookBean"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCurrentWeather">
            <complexType>
               <sequence>
                  <element name="location" nillable="true" type="xsd:string"/>
                  <element name="locale" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCurrentWeatherResponse">
            <complexType>
               <sequence>
                  <element name="getCurrentWeatherReturn" nillable="true" type="tns2:CurrentWeatherBean"/>
               </sequence>
            </complexType>
         </element>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
              targetNamespace="http://beans.services.view.weather.u90259.deere.com">
         <complexType name="InternationalLocations">
            <sequence>
               <element maxOccurs="unbounded" name="internationalLocationList" nillable="true"
                        type="tns2:InternationalLocationList"/>
            </sequence>
         </complexType>
         <complexType name="InternationalLocationList">
            <sequence>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="value" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="HourlyOutlookBean">
            <sequence>
               <element name="location" nillable="true" type="xsd:string"/>
               <element maxOccurs="unbounded" name="hours" nillable="true"
                        type="tns2:WeatherForecastHour"/>
            </sequence>
         </complexType>
         <complexType name="WeatherForecastHour">
            <sequence>
               <element name="cloudCoverPercentage" nillable="true" type="xsd:string"/>
               <element name="date" nillable="true" type="xsd:string"/>
               <element name="dewPoint" nillable="true" type="xsd:string"/>
               <element name="dewPointUnit" nillable="true" type="xsd:string"/>
               <element name="expectedRainAmount" nillable="true" type="xsd:string"/>
               <element name="hour" nillable="true" type="xsd:string"/>
               <element name="humidity" nillable="true" type="xsd:string"/>
               <element name="humidityUnit" nillable="true" type="xsd:string"/>
               <element name="iceAccumulation" nillable="true" type="xsd:string"/>
               <element name="iceAccumulationUnit" nillable="true" type="xsd:string"/>
               <element name="icon" nillable="true" type="xsd:string"/>
               <element name="liquidEquivalent" nillable="true" type="xsd:string"/>
               <element name="liquidEquivalentUnit" nillable="true" type="xsd:string"/>
               <element name="realFeel" nillable="true" type="xsd:string"/>
               <element name="realFeelUnit" nillable="true" type="xsd:string"/>
               <element name="snowFallAmount" nillable="true" type="xsd:string"/>
               <element name="snowFallAmountUnit" nillable="true" type="xsd:string"/>
               <element name="temperature" nillable="true" type="xsd:string"/>
               <element name="temperatureUnit" nillable="true" type="xsd:string"/>
               <element name="uvIndex" nillable="true" type="xsd:string"/>
               <element name="visibility" nillable="true" type="xsd:string"/>
               <element name="visibilityUnit" nillable="true" type="xsd:string"/>
               <element name="windDirection" nillable="true" type="xsd:string"/>
               <element name="windGustSpeed" nillable="true" type="xsd:string"/>
               <element name="windGustSpeedUnit" nillable="true" type="xsd:string"/>
               <element name="windSpeed" nillable="true" type="xsd:string"/>
               <element name="windSpeedUnit" nillable="true" type="xsd:string"/>
               <element name="cloudCoverPercentageUnit" nillable="true" type="xsd:string"/>
               <element name="expectedRainAmountUnit" nillable="true" type="xsd:string"/>
               <element name="conditions" nillable="true" type="xsd:string"/>
               <element name="precipitationType" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="DailyOutlookBean">
            <sequence>
               <element name="location" nillable="true" type="xsd:string"/>
               <element name="timeStamp" nillable="true" type="xsd:string"/>
               <element name="region" nillable="true" type="xsd:string"/>
               <element maxOccurs="unbounded" name="days" nillable="true"
                        type="tns2:WeatherForecastDay"/>
            </sequence>
         </complexType>
         <complexType name="WeatherForecastDay">
            <sequence>
               <element name="condition" nillable="true" type="xsd:string"/>
               <element name="conditionCode" nillable="true" type="xsd:string"/>
               <element name="high" nillable="true" type="xsd:string"/>
               <element name="highUnit" nillable="true" type="xsd:string"/>
               <element name="low" nillable="true" type="xsd:string"/>
               <element name="lowUnit" nillable="true" type="xsd:string"/>
               <element name="name" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="CurrentWeatherBean">
            <sequence>
               <element name="conditions" nillable="true" type="xsd:string"/>
               <element name="conditionsCode" nillable="true" type="xsd:string"/>
               <element name="dewPoint" nillable="true" type="xsd:string"/>
               <element name="dewPointUnit" nillable="true" type="xsd:string"/>
               <element name="humidity" nillable="true" type="xsd:string"/>
               <element name="humidityUnit" nillable="true" type="xsd:string"/>
               <element name="location" nillable="true" type="xsd:string"/>
               <element name="pressure" nillable="true" type="xsd:string"/>
               <element name="pressureUnit" nillable="true" type="xsd:string"/>
               <element name="realFeel" nillable="true" type="xsd:string"/>
               <element name="realFeelUnit" nillable="true" type="xsd:string"/>
               <element name="temperature" nillable="true" type="xsd:string"/>
               <element name="temperatureUnit" nillable="true" type="xsd:string"/>
               <element name="timeStamp" nillable="true" type="xsd:string"/>
               <element name="timeStampTZ" nillable="true" type="xsd:string"/>
               <element name="uvIndex" nillable="true" type="xsd:string"/>
               <element name="visibility" nillable="true" type="xsd:string"/>
               <element name="visibilityUnit" nillable="true" type="xsd:string"/>
               <element name="windFrom" nillable="true" type="xsd:string"/>
               <element name="windSpeed" nillable="true" type="xsd:string"/>
               <element name="windSpeedUnit" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getCurrentWeatherXmlResponse">

      <wsdl:part element="intf:getCurrentWeatherXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountriesRequest">

      <wsdl:part element="intf:getCountries" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountriesXmlRequest">

      <wsdl:part element="intf:getCountriesXml" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFiveDayForecastRequest">

      <wsdl:part element="intf:getFiveDayForecast" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHourByHourForecastXmlRequest">

      <wsdl:part element="intf:getHourByHourForecastXml" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountriesResponse">

      <wsdl:part element="intf:getCountriesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCurrentWeatherXmlRequest">

      <wsdl:part element="intf:getCurrentWeatherXml" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCitiesXmlRequest">

      <wsdl:part element="intf:getCitiesXml" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCitiesXmlResponse">

      <wsdl:part element="intf:getCitiesXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCountriesXmlResponse">

      <wsdl:part element="intf:getCountriesXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCitiesResponse">

      <wsdl:part element="intf:getCitiesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCitiesRequest">

      <wsdl:part element="intf:getCities" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCurrentWeatherRequest">

      <wsdl:part element="intf:getCurrentWeather" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInternationalFiveDayForecastRequest">

      <wsdl:part element="intf:getInternationalFiveDayForecast" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCurrentWeatherResponse">

      <wsdl:part element="intf:getCurrentWeatherResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHourByHourForecastXmlResponse">

      <wsdl:part element="intf:getHourByHourForecastXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInternationalFiveDayForecastXmlResponse">

      <wsdl:part element="intf:getInternationalFiveDayForecastXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHourByHourForecastRequest">

      <wsdl:part element="intf:getHourByHourForecast" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHourByHourForecastResponse">

      <wsdl:part element="intf:getHourByHourForecastResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFiveDayForecastResponse">

      <wsdl:part element="intf:getFiveDayForecastResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInternationalFiveDayForecastResponse">

      <wsdl:part element="intf:getInternationalFiveDayForecastResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFiveDayForecastXmlResponse">

      <wsdl:part element="intf:getFiveDayForecastXmlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getFiveDayForecastXmlRequest">

      <wsdl:part element="intf:getFiveDayForecastXml" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInternationalFiveDayForecastXmlRequest">

      <wsdl:part element="intf:getInternationalFiveDayForecastXml" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WeatherForecastService">

      <wsdl:operation name="getInternationalFiveDayForecastXml">

         <wsdl:input message="intf:getInternationalFiveDayForecastXmlRequest"
                     name="getInternationalFiveDayForecastXmlRequest"/>

         <wsdl:output message="intf:getInternationalFiveDayForecastXmlResponse"
                      name="getInternationalFiveDayForecastXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCities">

         <wsdl:input message="intf:getCitiesRequest" name="getCitiesRequest"/>

         <wsdl:output message="intf:getCitiesResponse" name="getCitiesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentWeatherXml">

         <wsdl:input message="intf:getCurrentWeatherXmlRequest" name="getCurrentWeatherXmlRequest"/>

         <wsdl:output message="intf:getCurrentWeatherXmlResponse" name="getCurrentWeatherXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCountriesXml">

         <wsdl:input message="intf:getCountriesXmlRequest" name="getCountriesXmlRequest"/>

         <wsdl:output message="intf:getCountriesXmlResponse" name="getCountriesXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getFiveDayForecastXml">

         <wsdl:input message="intf:getFiveDayForecastXmlRequest" name="getFiveDayForecastXmlRequest"/>

         <wsdl:output message="intf:getFiveDayForecastXmlResponse"
                      name="getFiveDayForecastXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCitiesXml">

         <wsdl:input message="intf:getCitiesXmlRequest" name="getCitiesXmlRequest"/>

         <wsdl:output message="intf:getCitiesXmlResponse" name="getCitiesXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHourByHourForecastXml">

         <wsdl:input message="intf:getHourByHourForecastXmlRequest"
                     name="getHourByHourForecastXmlRequest"/>

         <wsdl:output message="intf:getHourByHourForecastXmlResponse"
                      name="getHourByHourForecastXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCountries">

         <wsdl:input message="intf:getCountriesRequest" name="getCountriesRequest"/>

         <wsdl:output message="intf:getCountriesResponse" name="getCountriesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHourByHourForecast">

         <wsdl:input message="intf:getHourByHourForecastRequest" name="getHourByHourForecastRequest"/>

         <wsdl:output message="intf:getHourByHourForecastResponse"
                      name="getHourByHourForecastResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getInternationalFiveDayForecast">

         <wsdl:input message="intf:getInternationalFiveDayForecastRequest"
                     name="getInternationalFiveDayForecastRequest"/>

         <wsdl:output message="intf:getInternationalFiveDayForecastResponse"
                      name="getInternationalFiveDayForecastResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getFiveDayForecast">

         <wsdl:input message="intf:getFiveDayForecastRequest" name="getFiveDayForecastRequest"/>

         <wsdl:output message="intf:getFiveDayForecastResponse" name="getFiveDayForecastResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrentWeather">

         <wsdl:input message="intf:getCurrentWeatherRequest" name="getCurrentWeatherRequest"/>

         <wsdl:output message="intf:getCurrentWeatherResponse" name="getCurrentWeatherResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeatherForecastServiceSoapBinding" type="intf:WeatherForecastService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInternationalFiveDayForecastXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInternationalFiveDayForecastXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInternationalFiveDayForecastXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCities">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCitiesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCitiesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentWeatherXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentWeatherXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrentWeatherXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCountriesXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCountriesXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountriesXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFiveDayForecastXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFiveDayForecastXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFiveDayForecastXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCitiesXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCitiesXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCitiesXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHourByHourForecastXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHourByHourForecastXmlRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHourByHourForecastXmlResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCountries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCountriesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountriesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHourByHourForecast">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHourByHourForecastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHourByHourForecastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInternationalFiveDayForecast">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInternationalFiveDayForecastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInternationalFiveDayForecastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFiveDayForecast">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFiveDayForecastRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFiveDayForecastResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentWeather">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentWeatherRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrentWeatherResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeatherForecastServiceService">

      <wsdl:port binding="intf:WeatherForecastServiceSoapBinding" name="WeatherForecastService">

         <wsdlsoap:address location="http://ws.soatrader.com/deere.com/0.1/WeatherForecastServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>