wsdl_repositories/soatrader_900/WeatherServices.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.unisys.com/WebServices/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://www.unisys.com/WebServices/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://www.unisys.com/WebServices/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.unisys.com/WebServices/">
         <s:element name="GetWeather">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult" type="s0:WeatherForecast"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="WeatherForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CityShortName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Sunrise" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Sunset" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DayForecast" type="s0:ArrayOfDailyForecast"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfDailyForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="DailyForecast" nillable="true"
                          type="s0:DailyForecast"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="DailyForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Day" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Forecast" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetWeatherText">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherTextResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWeatherTextResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WeatherForecast" nillable="true" type="s0:WeatherForecast"/>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </types>
  <message name="GetWeatherSoapIn">
      <part name="parameters" element="s0:GetWeather"/>
  </message>
  <message name="GetWeatherSoapOut">
      <part name="parameters" element="s0:GetWeatherResponse"/>
  </message>
  <message name="GetWeatherTextSoapIn">
      <part name="parameters" element="s0:GetWeatherText"/>
  </message>
  <message name="GetWeatherTextSoapOut">
      <part name="parameters" element="s0:GetWeatherTextResponse"/>
  </message>
  <message name="GetWeatherHttpGetIn">
      <part name="ZipCode" type="s:string"/>
  </message>
  <message name="GetWeatherHttpGetOut">
      <part name="Body" element="s0:WeatherForecast"/>
  </message>
  <message name="GetWeatherTextHttpGetIn">
      <part name="ZipCode" type="s:string"/>
  </message>
  <message name="GetWeatherTextHttpGetOut">
      <part name="Body" element="s0:string"/>
  </message>
  <message name="GetWeatherHttpPostIn">
      <part name="ZipCode" type="s:string"/>
  </message>
  <message name="GetWeatherHttpPostOut">
      <part name="Body" element="s0:WeatherForecast"/>
  </message>
  <message name="GetWeatherTextHttpPostIn">
      <part name="ZipCode" type="s:string"/>
  </message>
  <message name="GetWeatherTextHttpPostOut">
      <part name="Body" element="s0:string"/>
  </message>
  <portType name="WeatherServicesSoap">
      <operation name="GetWeather">
         <documentation>This method retrieves the weather forecast given a zip code.</documentation>
         <input message="s0:GetWeatherSoapIn"/>
         <output message="s0:GetWeatherSoapOut"/>
      </operation>
      <operation name="GetWeatherText">
         <documentation>This method retrieves the weather forecast as a string given a zip code.</documentation>
         <input message="s0:GetWeatherTextSoapIn"/>
         <output message="s0:GetWeatherTextSoapOut"/>
      </operation>
  </portType>
  
  
  <binding name="WeatherServicesSoap" type="s0:WeatherServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="GetWeather">
         <soap:operation soapAction="http://www.unisys.com/WebServices/GetWeather" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetWeatherText">
         <soap:operation soapAction="http://www.unisys.com/WebServices/GetWeatherText" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  
  
  <service name="WeatherServices">
      <documentation>This Web Service gets the weather forecast.</documentation>
      <port name="WeatherServicesSoap" binding="s0:WeatherServicesSoap">
         <soap:address location="http://ws.soatrader.com/opengroupware.org/0.1/WeatherServices"/>
      </port>
      <port name="WeatherServicesHttpGet" binding="s0:WeatherServicesHttpGet">
         <soap:address location="http://ws.soatrader.com/opengroupware.org/0.1/WeatherServices"/>
         <http:address location="http://hosting001.vs.k2unisys.net/Weather/PDCWebService/WeatherServices.asmx"/>
      </port>
      <port name="WeatherServicesHttpPost" binding="s0:WeatherServicesHttpPost">
         <soap:address location="http://ws.soatrader.com/opengroupware.org/0.1/WeatherServices"/>
         <http:address location="http://hosting001.vs.k2unisys.net/Weather/PDCWebService/WeatherServices.asmx"/>
      </port>
  </service>
</definitions>