wsdl_repositories/soatrader_900/WebBeamsLocationsWebService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s1="http://services.socialhelix.net/schema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://services.socialhelix.net/schema"/>
         <s:element name="AddWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddWebBeamsLocationsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="systemID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="systemID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteWebBeamsLocationsResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateWebBeamsLocationsResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListWebBeamsLocations">
            <s:complexType/>
         </s:element>
         <s:element name="ListWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:listWebbeamsLocations"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListMissingGeoLocation">
            <s:complexType/>
         </s:element>
         <s:element name="ListMissingGeoLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:listWebbeamsLocations"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FillGeoLcations">
            <s:complexType/>
         </s:element>
         <s:element name="FillGeoLcationsResponse">
            <s:complexType/>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://services.socialhelix.net/schema"/>
         <s:element name="AddWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddWebBeamsLocationsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="systemID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="systemID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteWebBeamsLocationsResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateWebBeamsLocations">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:webbeamLocation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateWebBeamsLocationsResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListWebBeamsLocations">
            <s:complexType/>
         </s:element>
         <s:element name="ListWebBeamsLocationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:listWebbeamsLocations"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListMissingGeoLocation">
            <s:complexType/>
         </s:element>
         <s:element name="ListMissingGeoLocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:listWebbeamsLocations"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FillGeoLcations">
            <s:complexType/>
         </s:element>
         <s:element name="FillGeoLcationsResponse">
            <s:complexType/>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://services.socialhelix.net/schema">
         <s:element name="webbeamLocation" type="s1:WBStoreLocation"/>
         <s:complexType name="WBStoreLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationCategory1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationCategory2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="suite" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeZone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
            </s:sequence>
            <s:attribute name="systemId" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="listWebbeamsLocations" type="s1:WBStoreLocations"/>
         <s:complexType name="WBStoreLocations">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="location" type="s1:WBStoreLocation"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://services.socialhelix.net/schema">
         <s:element name="webbeamLocation" type="s1:WBStoreLocation"/>
         <s:complexType name="WBStoreLocation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationCategory1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="locationCategory2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="suite" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="timeZone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double"/>
            </s:sequence>
            <s:attribute name="systemId" type="s:int" use="required"/>
         </s:complexType>
         <s:element name="listWebbeamsLocations" type="s1:WBStoreLocations"/>
         <s:complexType name="WBStoreLocations">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="location" type="s1:WBStoreLocation"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AddWebBeamsLocationsSoapIn">
      <wsdl:part name="parameters" element="tns:AddWebBeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="AddWebBeamsLocationsSoapOut">
      <wsdl:part name="parameters" element="tns:AddWebBeamsLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetWebBeamsLocationsSoapIn">
      <wsdl:part name="parameters" element="tns:GetWebBeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="GetWebBeamsLocationsSoapOut">
      <wsdl:part name="parameters" element="tns:GetWebBeamsLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteWebBeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteWebBeamsLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateWebBeamsLocationsSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateWebBeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="UpdateWebBeamsLocationsSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateWebBeamsLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="ListWebBeamsLocationsSoapIn">
      <wsdl:part name="parameters" element="tns:ListWebBeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="ListWebBeamsLocationsSoapOut">
      <wsdl:part name="parameters" element="tns:ListWebBeamsLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="ListMissingGeoLocationSoapIn">
      <wsdl:part name="parameters" element="tns:ListMissingGeoLocation"/>
  </wsdl:message>
  <wsdl:message name="ListMissingGeoLocationSoapOut">
      <wsdl:part name="parameters" element="tns:ListMissingGeoLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="FillGeoLcationsSoapIn">
      <wsdl:part name="parameters" element="tns:FillGeoLcations"/>
  </wsdl:message>
  <wsdl:message name="FillGeoLcationsSoapOut">
      <wsdl:part name="parameters" element="tns:FillGeoLcationsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetWebBeamsLocationsHttpGetIn">
      <wsdl:part name="systemID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWebBeamsLocationsHttpGetOut">
      <wsdl:part name="Body" element="s1:webbeamLocation"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsHttpGetIn">
      <wsdl:part name="systemID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ListWebBeamsLocationsHttpGetIn"/>
  <wsdl:message name="ListWebBeamsLocationsHttpGetOut">
      <wsdl:part name="Body" element="s1:listWebbeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="ListMissingGeoLocationHttpGetIn"/>
  <wsdl:message name="ListMissingGeoLocationHttpGetOut">
      <wsdl:part name="Body" element="s1:listWebbeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="FillGeoLcationsHttpGetIn"/>
  <wsdl:message name="FillGeoLcationsHttpGetOut"/>
  <wsdl:message name="GetWebBeamsLocationsHttpPostIn">
      <wsdl:part name="systemID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWebBeamsLocationsHttpPostOut">
      <wsdl:part name="Body" element="s1:webbeamLocation"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsHttpPostIn">
      <wsdl:part name="systemID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="DeleteWebBeamsLocationsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ListWebBeamsLocationsHttpPostIn"/>
  <wsdl:message name="ListWebBeamsLocationsHttpPostOut">
      <wsdl:part name="Body" element="s1:listWebbeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="ListMissingGeoLocationHttpPostIn"/>
  <wsdl:message name="ListMissingGeoLocationHttpPostOut">
      <wsdl:part name="Body" element="s1:listWebbeamsLocations"/>
  </wsdl:message>
  <wsdl:message name="FillGeoLcationsHttpPostIn"/>
  <wsdl:message name="FillGeoLcationsHttpPostOut"/>
  
  
  
  <wsdl:binding name="WebBeamsLocationsWebServiceSoap"
                 type="tns:WebBeamsLocationsWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddWebBeamsLocations">
         <soap:operation soapAction="http://tempuri.org/AddWebBeamsLocations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetWebBeamsLocations">
         <soap:operation soapAction="http://tempuri.org/GetWebBeamsLocations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteWebBeamsLocations">
         <soap:operation soapAction="http://tempuri.org/DeleteWebBeamsLocations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateWebBeamsLocations">
         <soap:operation soapAction="http://tempuri.org/UpdateWebBeamsLocations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListWebBeamsLocations">
         <soap:operation soapAction="http://tempuri.org/ListWebBeamsLocations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListMissingGeoLocation">
         <soap:operation soapAction="http://tempuri.org/ListMissingGeoLocation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FillGeoLcations">
         <soap:operation soapAction="http://tempuri.org/FillGeoLcations" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="WebBeamsLocationsWebService">
      <wsdl:port name="WebBeamsLocationsWebServiceSoap"
                 binding="tns:WebBeamsLocationsWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/services.socialhelix.net/0.1/WebBeamsLocationsWebService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>