wsdl_repositories/soatrader_900/webserviceSAP.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:si="http://soapinterop.org/xsd"
             xmlns:tns="http://soapinterop.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://soapinterop.org/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <message name="nbinvitsRequest">
      <part name="id" type="xsd:string"/>
   </message>
   <message name="nbinvitsResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="listeReportageRequest">
      <part name="valid" type="xsd:string"/>
   </message>
   <message name="listeReportageResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="updateInvitRequest">
      <part name="id" type="xsd:string"/>
      <part name="nom" type="xsd:string"/>
      <part name="email" type="xsd:string"/>
   </message>
   <message name="updateInvitResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="listePhotosRequest">
      <part name="urlRep" type="xsd:string"/>
   </message>
   <message name="listePhotosResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <portType name="webserviceSAPPortType">
      <operation name="nbinvits">
         <input message="tns:nbinvitsRequest"/>
         <output message="tns:nbinvitsResponse"/>
      </operation>
      <operation name="listeReportage">
         <input message="tns:listeReportageRequest"/>
         <output message="tns:listeReportageResponse"/>
      </operation>
      <operation name="updateInvit">
         <input message="tns:updateInvitRequest"/>
         <output message="tns:updateInvitResponse"/>
      </operation>
      <operation name="listePhotos">
         <input message="tns:listePhotosRequest"/>
         <output message="tns:listePhotosResponse"/>
      </operation>
   </portType>
   <binding name="webserviceSAPBinding" type="tns:webserviceSAPPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="nbinvits">
         <soap:operation soapAction="http://webservice.sortiraparis.com/phonereader/phonereader.php"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="listeReportage">
         <soap:operation soapAction="http://webservice.sortiraparis.com/phonereader/phonereader.php"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="updateInvit">
         <soap:operation soapAction="http://webservice.sortiraparis.com/phonereader/phonereader.php"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="listePhotos">
         <soap:operation soapAction="http://webservice.sortiraparis.com/phonereader/phonereader.php"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://soapinterop.org/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="webserviceSAP">
      <port name="webserviceSAPPort" binding="tns:webserviceSAPBinding">
         <soap:address location="http://ws.soatrader.com/sortiraparis.com/0.1/webserviceSAP"/>
      </port>
   </service>
</definitions>