wsdl_repositories/soatrader_900/WebServicePostcode.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://212.82.1.146/enimis/icPostcode"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://212.82.1.146/enimis/icPostcode">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://212.82.1.146/enimis/icPostcode">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPostcodeDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postcodeRecieved" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPostcodeDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetPostcodeDetailsResult"
                             type="tns:PostcodeDetailsContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="PostcodeDetailsContainer">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Council" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Ward" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Tsn" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SavePostcodeDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="container"
                             type="tns:PostcodeDetailsContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SavePostcodeDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SavePostcodeDetailsResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressViaSring">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postcodeRecieved" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressViaSringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAddressViaSringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://212.82.1.146/enimis/icPostcode">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPostcodeDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postcodeRecieved" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPostcodeDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetPostcodeDetailsResult"
                             type="tns:PostcodeDetailsContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="PostcodeDetailsContainer">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Council" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Ward" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Tsn" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SavePostcodeDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="container"
                             type="tns:PostcodeDetailsContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SavePostcodeDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SavePostcodeDetailsResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressViaSring">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postcodeRecieved" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAddressViaSringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAddressViaSringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:GetPostcodeDetails"/>
  </wsdl:message>
  <wsdl:message name="GetPostcodeDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:GetPostcodeDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="SavePostcodeDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:SavePostcodeDetails"/>
  </wsdl:message>
  <wsdl:message name="SavePostcodeDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:SavePostcodeDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAddressViaSringSoapIn">
      <wsdl:part name="parameters" element="tns:GetAddressViaSring"/>
  </wsdl:message>
  <wsdl:message name="GetAddressViaSringSoapOut">
      <wsdl:part name="parameters" element="tns:GetAddressViaSringResponse"/>
  </wsdl:message>
  <wsdl:portType name="WebServicePostcodeSoap">
      <wsdl:operation name="HelloWorld">
         <wsdl:input message="tns:HelloWorldSoapIn"/>
         <wsdl:output message="tns:HelloWorldSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetPostcodeDetails">
         <wsdl:input message="tns:GetPostcodeDetailsSoapIn"/>
         <wsdl:output message="tns:GetPostcodeDetailsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SavePostcodeDetails">
         <wsdl:input message="tns:SavePostcodeDetailsSoapIn"/>
         <wsdl:output message="tns:SavePostcodeDetailsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAddressViaSring">
         <wsdl:input message="tns:GetAddressViaSringSoapIn"/>
         <wsdl:output message="tns:GetAddressViaSringSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePostcodeSoap" type="tns:WebServicePostcodeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://212.82.1.146/enimis/icPostcode/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPostcodeDetails">
         <soap:operation soapAction="http://212.82.1.146/enimis/icPostcode/GetPostcodeDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SavePostcodeDetails">
         <soap:operation soapAction="http://212.82.1.146/enimis/icPostcode/SavePostcodeDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAddressViaSring">
         <soap:operation soapAction="http://212.82.1.146/enimis/icPostcode/GetAddressViaSring"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePostcode">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="WebServicePostcodeSoap" binding="tns:WebServicePostcodeSoap">
         <soap:address location="http://ws.soatrader.com/212.82.1.146/0.1/WebServicePostcode"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>