wsdl_repositories/soatrader_900/whoisCheck.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:si="http://soapinterop.org/xsd"
             xmlns:tns="http://manage.prenames.nl/soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://manage.prenames.nl/soap">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <message name="whoisCheckRequest">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
      <part name="domain" type="xsd:string"/>
   </message>
   <message name="whoisCheckResponse">
      <part name="return" type="xsd:string"/>
   </message>
   <portType name="whoisCheckPortType">
      <operation name="whoisCheck">
         <input message="tns:whoisCheckRequest"/>
         <output message="tns:whoisCheckResponse"/>
      </operation>
   </portType>
   <binding name="whoisCheckBinding" type="tns:whoisCheckPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="whoisCheck">
         <soap:operation soapAction="http://webservices.prenames.com/whoischeck_server.php" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://manage.prenames.nl/soap"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://manage.prenames.nl/soap"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="whoisCheck">
      <port name="whoisCheckPort" binding="tns:whoisCheckBinding">
         <soap:address location="http://ws.soatrader.com/prenames.com/0.1/whoisCheck"/>
      </port>
   </service>
</definitions>