wsdl_repositories/soatrader_900/WhoIs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WhoisService" targetNamespace="http://com.soatrader.whois/whois" xmlns:tns="http://com.soatrader.whois/whois" xmlns:ns1="http://com.soatrader.whois/whois/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soat="http://ws.soatrader.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
  <types>
    <schema targetNamespace="http://com.soatrader.whois/whois/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://com.soatrader.whois/whois/types" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <complexType name="Contact">
    <sequence>
     <element name="emailAddress" nillable="true" type="string"/>
     <element name="name" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="DomainInfo">
    <sequence>
     <element name="address" nillable="true" type="string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="contact" nillable="true" type="tns:Contact"/>
     <element name="domainName" nillable="true" type="string"/>
     <element name="recordChanged" nillable="true" type="dateTime"/>
     <element name="recordCreated" nillable="true" type="dateTime"/>
     <element name="registrantFax" nillable="true" type="string"/>
     <element name="registrantName" nillable="true" type="string"/>
     <element name="registrantPhone" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getDomainData">
    <sequence>
     <element name="url" nillable="true" type="string"/>
    </sequence>
   </complexType>
   <complexType name="getDomainDataResponse">
    <sequence>
     <element name="DomainInfo" nillable="true" type="tns:DomainInfo"/>
    </sequence>
   </complexType>
   <element name="getDomainData" type="tns:getDomainData"/>
   <element name="getDomainDataResponse" type="tns:getDomainDataResponse"/>
  </schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.soatrader.com/" xmlns:soat="http://ws.soatrader.com/"><xs:element name="SOATraderLicense" type="xs:string"/><xs:element name="SOATraderUsageStatistics" type="soat:SOATraderUsageStatistics"/><xs:complexType name="SOATraderUsageStatistics"><xs:sequence><xs:element name="HitsMade" type="xs:decimal"/><xs:element name="HitsLeft" type="xs:decimal"/></xs:sequence></xs:complexType></xs:schema>
  </types>
  <message name="WhoisInterface_getDomainDataResponse">
    <part name="result" element="ns1:getDomainDataResponse">
    </part>
  </message>
  <message name="WhoisInterface_getDomainData">
    <part name="parameters" element="ns1:getDomainData">
    </part>
  </message>
  <message name="SOATraderUsageStatistics">
    <part name="SOATraderUsageStatistics" element="soat:SOATraderUsageStatistics">
    </part>
  </message>
  <message name="SOATraderLicense">
    <part name="SOATraderLicense" element="soat:SOATraderLicense">
    </part>
  </message>
  <portType name="WhoisInterface">
    <operation name="getDomainData">
      <input message="tns:WhoisInterface_getDomainData">
    </input>
      <output message="tns:WhoisInterface_getDomainDataResponse">
    </output>
    </operation>
  </portType>
  <binding name="WhoisInterfaceBinding" type="tns:WhoisInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getDomainData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderLicense" part="SOATraderLicense" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:SOATraderUsageStatistics" part="SOATraderUsageStatistics" use="literal">
        </soap:header>
      </output>
    </operation>
  </binding>
  <service name="WhoisService">
    <port name="WhoisInterfacePort" binding="tns:WhoisInterfaceBinding">
      <soap:address location="http://ws.soatrader.com/soatrader.com/1.0/WhoIs"/>
    </port>
  </service>
</definitions>
