wsdl_repositories/soatrader_900/wsrv_KGWeather.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://knowledgeguard.com/kgweather/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://knowledgeguard.com/kgweather/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://knowledgeguard.com/kgweather/">
         <s:element name="CurrentWeatherString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CurrentWeatherStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CurrentWeatherStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CurrentWeatherStringSoapIn">
      <wsdl:part name="parameters" element="tns:CurrentWeatherString"/>
  </wsdl:message>
  <wsdl:message name="CurrentWeatherStringSoapOut">
      <wsdl:part name="parameters" element="tns:CurrentWeatherStringResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="wsrv_KGWeatherSoap" type="tns:wsrv_KGWeatherSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="CurrentWeatherString">
         <soap:operation soapAction="http://knowledgeguard.com/kgweather/CurrentWeatherString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="wsrv_KGWeather">
      <wsdl:port name="wsrv_KGWeatherSoap" binding="tns:wsrv_KGWeatherSoap">
         <soap:address location="http://ws.soatrader.com/sjmagazine.net/0.1/wsrv_KGWeather"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>