wsdl_repositories/soatrader_900/wstaxsearchService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://webservice"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://webservice"
                  xmlns:intf="http://webservice"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://rpc.xml.coldfusion"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://webservice">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Macromedia ColdFusion MX version 7,0,2,142559-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice">
         <import namespace="http://rpc.xml.coldfusion"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOfArrayOf_xsd_anyType">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://rpc.xml.coldfusion">
         <import namespace="http://webservice"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="QueryBean">
            <sequence>
               <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
               <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
            </sequence>
         </complexType>
         <complexType name="CFCInvocationException">
            <sequence/>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getdataResponse">

      <wsdl:part name="getdataReturn" type="tns1:QueryBean"/>

   </wsdl:message>

   <wsdl:message name="CFCInvocationException">

      <wsdl:part name="fault" type="tns1:CFCInvocationException"/>

   </wsdl:message>

   <wsdl:message name="getDetailResponse">

      <wsdl:part name="getDetailReturn" type="tns1:QueryBean"/>

   </wsdl:message>

   <wsdl:message name="getDetailRequest">

      <wsdl:part name="district" type="xsd:string"/>

      <wsdl:part name="map" type="xsd:string"/>

      <wsdl:part name="parcel" type="xsd:string"/>

      <wsdl:part name="unit" type="xsd:string"/>

      <wsdl:part name="userid" type="xsd:string"/>

      <wsdl:part name="pswd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="NameSearchRequest">

      <wsdl:part name="OwnerLastName" type="xsd:string"/>

      <wsdl:part name="OwnerFirstName" type="xsd:string"/>

      <wsdl:part name="BillingZipCode" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getdataRequest">

      <wsdl:part name="lastname" type="xsd:string"/>

      <wsdl:part name="firstname" type="xsd:string"/>

      <wsdl:part name="zipcode" type="xsd:string"/>

      <wsdl:part name="district" type="xsd:string"/>

      <wsdl:part name="map" type="xsd:string"/>

      <wsdl:part name="parcel" type="xsd:string"/>

      <wsdl:part name="unit" type="xsd:string"/>

      <wsdl:part name="userid" type="xsd:string"/>

      <wsdl:part name="pswd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="NameSearchResponse">

      <wsdl:part name="NameSearchReturn" type="tns1:QueryBean"/>

   </wsdl:message>

   <wsdl:portType name="wstaxsearch">

      <wsdl:operation name="getDetail" parameterOrder="district map parcel unit userid pswd">

         <wsdl:input message="impl:getDetailRequest" name="getDetailRequest"/>

         <wsdl:output message="impl:getDetailResponse" name="getDetailResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="NameSearch" parameterOrder="OwnerLastName OwnerFirstName BillingZipCode">

         <wsdl:input message="impl:NameSearchRequest" name="NameSearchRequest"/>

         <wsdl:output message="impl:NameSearchResponse" name="NameSearchResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="getdata"
                      parameterOrder="lastname firstname zipcode district map parcel unit userid pswd">

         <wsdl:input message="impl:getdataRequest" name="getdataRequest"/>

         <wsdl:output message="impl:getdataResponse" name="getdataResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="wstaxsearch.cfcSoapBinding" type="impl:wstaxsearch">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://webservice"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NameSearch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NameSearchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NameSearchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://webservice"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getdata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getdataRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getdataResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservice"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://webservice"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="wstaxsearchService">

      <wsdl:documentation>
component hint  </wsdl:documentation>

      <wsdl:port binding="impl:wstaxsearch.cfcSoapBinding" name="wstaxsearch.cfc">

         <wsdlsoap:address location="http://ws.soatrader.com/sussexcountyde.gov/0.1/wstaxsearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>