wsdl_repositories/soatrader_900/XmlServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices">
         <s:element name="GetCaseCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchPhrase" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BooleanSearch" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionGroupList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StopDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCaseCountResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="WebServiceResponse">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="RecordsAffected" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorNumber" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReturnValue"/>
               <s:element minOccurs="0" maxOccurs="1" name="Dataset">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="SearchCases">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchPhrase" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BooleanSearch" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartRowIndex" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StopRowIndex" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeCitedGenerally" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeCitedWithin" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionGroupList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StopDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchCasesResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseAbstract">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CaseIDList" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaxChars" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseAbstractResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCaseAbstractResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseHtml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CaseIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseHtmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCaseHtmlResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseFullCitation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CaseID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCaseFullCitationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCaseFullCitationResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCasesByCitation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:short"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCasesByCitationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCasesByCitationResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesByIDList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CaseIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesByIDListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchCasesByIDListResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesCitingGenerally">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CitedCaseIDList" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeCitedGenerally" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesCitingGenerallyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchCasesCitingGenerallyResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesCitingWithin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchPhrase" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="BooleanSearch" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeCitedGenerally" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeCitedWithin" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CitedCaseIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionIDList" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StopDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchCasesCitingWithinResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchCasesCitingWithinResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJurisdictions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJurisdictionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetJurisdictionsResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJurisdictionAbbreviationById">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JurisdictionID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJurisdictionAbbreviationByIdResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetJurisdictionAbbreviationByIdResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PrintCase">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XmlAccountPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CaseID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OutputType" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ColumnCount" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalUserRefNum" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ExternalTransactionRefNum" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PrintCaseResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PrintCaseResult"
                             type="tns:WebServiceResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="WebServiceResponse" nillable="true" type="tns:WebServiceResponse"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCaseCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetCaseCount"/>
  </wsdl:message>
  <wsdl:message name="GetCaseCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetCaseCountResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesSoapIn">
      <wsdl:part name="parameters" element="tns:SearchCases"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesSoapOut">
      <wsdl:part name="parameters" element="tns:SearchCasesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractSoapIn">
      <wsdl:part name="parameters" element="tns:GetCaseAbstract"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractSoapOut">
      <wsdl:part name="parameters" element="tns:GetCaseAbstractResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetCaseHtml"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetCaseHtmlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationSoapIn">
      <wsdl:part name="parameters" element="tns:GetCaseFullCitation"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationSoapOut">
      <wsdl:part name="parameters" element="tns:GetCaseFullCitationResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationSoapIn">
      <wsdl:part name="parameters" element="tns:GetCasesByCitation"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationSoapOut">
      <wsdl:part name="parameters" element="tns:GetCasesByCitationResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListSoapIn">
      <wsdl:part name="parameters" element="tns:SearchCasesByIDList"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListSoapOut">
      <wsdl:part name="parameters" element="tns:SearchCasesByIDListResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallySoapIn">
      <wsdl:part name="parameters" element="tns:SearchCasesCitingGenerally"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallySoapOut">
      <wsdl:part name="parameters" element="tns:SearchCasesCitingGenerallyResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinSoapIn">
      <wsdl:part name="parameters" element="tns:SearchCasesCitingWithin"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinSoapOut">
      <wsdl:part name="parameters" element="tns:SearchCasesCitingWithinResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetJurisdictions"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetJurisdictionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdSoapIn">
      <wsdl:part name="parameters" element="tns:GetJurisdictionAbbreviationById"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdSoapOut">
      <wsdl:part name="parameters" element="tns:GetJurisdictionAbbreviationByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseSoapIn">
      <wsdl:part name="parameters" element="tns:PrintCase"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseSoapOut">
      <wsdl:part name="parameters" element="tns:PrintCaseResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseCountHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="JurisdictionGroupList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseCountHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="StartRowIndex" type="s:string"/>
      <wsdl:part name="StopRowIndex" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="IncludeCitedWithin" type="s:string"/>
      <wsdl:part name="JurisdictionGroupList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="MaxChars" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseID" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="Volume" type="s:string"/>
      <wsdl:part name="Reporter" type="s:string"/>
      <wsdl:part name="Page" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallyHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CitedCaseIDList" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallyHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="IncludeCitedWithin" type="s:string"/>
      <wsdl:part name="CitedCaseIDList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="JurisdictionID" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseHttpGetIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseID" type="s:string"/>
      <wsdl:part name="OutputType" type="s:string"/>
      <wsdl:part name="ColumnCount" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseHttpGetOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseCountHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="JurisdictionGroupList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseCountHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="StartRowIndex" type="s:string"/>
      <wsdl:part name="StopRowIndex" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="IncludeCitedWithin" type="s:string"/>
      <wsdl:part name="JurisdictionGroupList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="MaxChars" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseAbstractHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseHtmlHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseID" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCaseFullCitationHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="Volume" type="s:string"/>
      <wsdl:part name="Reporter" type="s:string"/>
      <wsdl:part name="Page" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCasesByCitationHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseIDList" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesByIDListHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallyHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CitedCaseIDList" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingGenerallyHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="SearchPhrase" type="s:string"/>
      <wsdl:part name="BooleanSearch" type="s:string"/>
      <wsdl:part name="MaxRecords" type="s:string"/>
      <wsdl:part name="IncludeCitedGenerally" type="s:string"/>
      <wsdl:part name="IncludeCitedWithin" type="s:string"/>
      <wsdl:part name="CitedCaseIDList" type="s:string"/>
      <wsdl:part name="JurisdictionIDList" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="StopDate" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchCasesCitingWithinHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionsHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="JurisdictionID" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJurisdictionAbbreviationByIdHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseHttpPostIn">
      <wsdl:part name="XmlAccountName" type="s:string"/>
      <wsdl:part name="XmlAccountPassword" type="s:string"/>
      <wsdl:part name="CaseID" type="s:string"/>
      <wsdl:part name="OutputType" type="s:string"/>
      <wsdl:part name="ColumnCount" type="s:string"/>
      <wsdl:part name="ExternalUserRefNum" type="s:string"/>
      <wsdl:part name="ExternalTransactionRefNum" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PrintCaseHttpPostOut">
      <wsdl:part name="Body" element="tns:WebServiceResponse"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="XmlServicesSoap" type="tns:XmlServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetCaseCount">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetCaseCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchCases">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/SearchCases"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCaseAbstract">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetCaseAbstract"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCaseHtml">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetCaseHtml"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCaseFullCitation">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetCaseFullCitation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCasesByCitation">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetCasesByCitation"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchCasesByIDList">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/SearchCasesByIDList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchCasesCitingGenerally">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/SearchCasesCitingGenerally"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchCasesCitingWithin">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/SearchCasesCitingWithin"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetJurisdictions">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetJurisdictions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetJurisdictionAbbreviationById">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/GetJurisdictionAbbreviationById"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PrintCase">
         <soap:operation soapAction="https://fastcase.com/Fastcase4.Research.XmlServices/XmlServices/PrintCase"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="XmlServices">
      <wsdl:port name="XmlServicesSoap" binding="tns:XmlServicesSoap">
         <soap:address location="http://ws.soatrader.com/fastcase.com/0.1/XmlServices"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>