wsdl_repositories/soatrader_900/XMSServer.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://oracle.panama.messaging.push.server/PushServerWS.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd1="http://oracle.panama.messaging.push.server/PushServerWS.xsd"
             name="PushServerWS"
             targetNamespace="http://oracle.panama.messaging.push.server/PushServerWS.wsdl">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

  <documentation>
  WSDL for Service: XMSServer, generated by Oracle WSDL toolkit (version: 1.0)
  </documentation>

  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns:tns="http://oracle.panama.messaging.push.server/PushServerWS.xsd"
              xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
              targetNamespace="http://oracle.panama.messaging.push.server/PushServerWS.xsd">
         <complexType name="ArrayOfString">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
  </types>

  <message name="sendTextInput">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
      <part name="senders" type="xsd1:ArrayOfString"/>
      <part name="replyTo" type="xsd1:ArrayOfString"/>
      <part name="recipients" type="xsd1:ArrayOfString"/>
      <part name="associatedKeys" type="xsd1:ArrayOfString"/>
      <part name="subject" type="xsd:string"/>
      <part name="messageBody" type="xsd:string"/>
      <part name="contentType" type="xsd:string"/>
  </message>
  <message name="getVersionOutput">
      <part name="output" type="xsd:string"/>
  </message>
  <message name="getStatusesByMsgIDsInput">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
      <part name="messageIDs" type="xsd1:ArrayOfString"/>
  </message>
  <message name="getSupportedTransportsOutput">
      <part name="output" type="xsd1:ArrayOfString"/>
  </message>
  <message name="getStatusByMsgIDInput">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
      <part name="messageID" type="xsd:string"/>
  </message>
  <message name="getStatusByMsgIDOutput">
      <part name="output" type="xsd:string"/>
  </message>
  <message name="getSupportedTransportsInput">
  </message>
  <message name="sendTextMsgInput">
      <part name="username" type="xsd:string"/>
      <part name="password" type="xsd:string"/>
      <part name="senders" type="xsd1:ArrayOfString"/>
      <part name="recipients" type="xsd1:ArrayOfString"/>
      <part name="messageBody" type="xsd:string"/>
  </message>
  <message name="sendTextOutput">
      <part name="output" type="xsd1:ArrayOfString"/>
  </message>
  <message name="getVersionInput">
  </message>
  <message name="sendTextMsgOutput">
      <part name="output" type="xsd1:ArrayOfString"/>
  </message>
  <message name="getStatusesByMsgIDsOutput">
      <part name="output" type="xsd1:ArrayOfString"/>
  </message>

  <portType name="XMSServerPortType">
      <operation name="getStatusesByMsgIDs">
         <input message="tns:getStatusesByMsgIDsInput"/>
         <output message="tns:getStatusesByMsgIDsOutput"/>
      </operation>
      <operation name="getVersion">
         <input message="tns:getVersionInput"/>
         <output message="tns:getVersionOutput"/>
      </operation>
      <operation name="sendText">
         <input message="tns:sendTextInput"/>
         <output message="tns:sendTextOutput"/>
      </operation>
      <operation name="getStatusByMsgID">
         <input message="tns:getStatusByMsgIDInput"/>
         <output message="tns:getStatusByMsgIDOutput"/>
      </operation>
      <operation name="getSupportedTransports">
         <input message="tns:getSupportedTransportsInput"/>
         <output message="tns:getSupportedTransportsOutput"/>
      </operation>
      <operation name="sendTextMsg">
         <input message="tns:sendTextMsgInput"/>
         <output message="tns:sendTextMsgOutput"/>
      </operation>
  </portType>

  <binding name="XMSServerBinding" type="tns:XMSServerPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
      <operation name="getStatusesByMsgIDs">
         <soap:operation soapAction="urn:OracleMobile-PushServer/getStatusesByMsgIDs"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
      <operation name="getVersion">
         <soap:operation soapAction="urn:OracleMobile-PushServer/getVersion"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
      <operation name="sendText">
         <soap:operation soapAction="urn:OracleMobile-PushServer/sendText"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
      <operation name="getStatusByMsgID">
         <soap:operation soapAction="urn:OracleMobile-PushServer/getStatusByMsgID"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
      <operation name="getSupportedTransports">
         <soap:operation soapAction="urn:OracleMobile-PushServer/getSupportedTransports"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
      <operation name="sendTextMsg">
         <soap:operation soapAction="urn:OracleMobile-PushServer/sendTextMsg"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:OracleMobile-PushServer"/>
         </output>
      </operation>
  </binding>

  <service name="XMSServer">
      <port name="XMSServerPort" binding="tns:XMSServerBinding">
         <soap:address location="http://ws.soatrader.com/oracle.com/0.1/XMSServer"/>
      </port>
  </service>


</definitions>