wsdl_repositories/soatrader_900/ZipcodeLookupService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://dinoch.dyndns.org/webservices/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:s0="http://dinoch.dyndns.org/webservices/"
             targetNamespace="http://dinoch.dyndns.org/webservices/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://dinoch.dyndns.org/webservices/">
         <s:element name="ZipToCityAndState">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="zip" nillable="true" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ZipToCityAndStateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ZipToCityAndStateResult" nillable="true"
                             type="s0:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ZipTo1CityAndState">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="zip" nillable="true" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ZipTo1CityAndStateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ZipTo1CityAndStateResult" nillable="true"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityToZip">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="city" nillable="true" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityToZipResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CityToZipResult" nillable="true"
                             type="s0:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityTo1Zip">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="city" nillable="true" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityTo1ZipResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CityTo1ZipResult" nillable="true"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString"/>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </types>
  <message name="ZipToCityAndStateSoapIn">
      <part name="parameters" element="s0:ZipToCityAndState"/>
  </message>
  <message name="ZipToCityAndStateSoapOut">
      <part name="parameters" element="s0:ZipToCityAndStateResponse"/>
  </message>
  <message name="ZipTo1CityAndStateSoapIn">
      <part name="parameters" element="s0:ZipTo1CityAndState"/>
  </message>
  <message name="ZipTo1CityAndStateSoapOut">
      <part name="parameters" element="s0:ZipTo1CityAndStateResponse"/>
  </message>
  <message name="CityToZipSoapIn">
      <part name="parameters" element="s0:CityToZip"/>
  </message>
  <message name="CityToZipSoapOut">
      <part name="parameters" element="s0:CityToZipResponse"/>
  </message>
  <message name="CityTo1ZipSoapIn">
      <part name="parameters" element="s0:CityTo1Zip"/>
  </message>
  <message name="CityTo1ZipSoapOut">
      <part name="parameters" element="s0:CityTo1ZipResponse"/>
  </message>
  <message name="ZipToCityAndStateHttpGetIn">
      <part name="zip" type="s:string"/>
  </message>
  <message name="ZipToCityAndStateHttpGetOut">
      <part name="Body" element="s0:ArrayOfString"/>
  </message>
  <message name="ZipTo1CityAndStateHttpGetIn">
      <part name="zip" type="s:string"/>
  </message>
  <message name="ZipTo1CityAndStateHttpGetOut">
      <part name="Body" element="s0:string"/>
  </message>
  <message name="CityToZipHttpGetIn">
      <part name="city" type="s:string"/>
  </message>
  <message name="CityToZipHttpGetOut">
      <part name="Body" element="s0:ArrayOfString"/>
  </message>
  <message name="CityTo1ZipHttpGetIn">
      <part name="city" type="s:string"/>
  </message>
  <message name="CityTo1ZipHttpGetOut">
      <part name="Body" element="s0:string"/>
  </message>
  <message name="ZipToCityAndStateHttpPostIn">
      <part name="zip" type="s:string"/>
  </message>
  <message name="ZipToCityAndStateHttpPostOut">
      <part name="Body" element="s0:ArrayOfString"/>
  </message>
  <message name="ZipTo1CityAndStateHttpPostIn">
      <part name="zip" type="s:string"/>
  </message>
  <message name="ZipTo1CityAndStateHttpPostOut">
      <part name="Body" element="s0:string"/>
  </message>
  <message name="CityToZipHttpPostIn">
      <part name="city" type="s:string"/>
  </message>
  <message name="CityToZipHttpPostOut">
      <part name="Body" element="s0:ArrayOfString"/>
  </message>
  <message name="CityTo1ZipHttpPostIn">
      <part name="city" type="s:string"/>
  </message>
  <message name="CityTo1ZipHttpPostOut">
      <part name="Body" element="s0:string"/>
  </message>
  <portType name="ZipcodeLookupServiceSoap">
      <operation name="ZipToCityAndState">
         <input message="s0:ZipToCityAndStateSoapIn"/>
         <output message="s0:ZipToCityAndStateSoapOut"/>
      </operation>
      <operation name="ZipTo1CityAndState">
         <input message="s0:ZipTo1CityAndStateSoapIn"/>
         <output message="s0:ZipTo1CityAndStateSoapOut"/>
      </operation>
      <operation name="CityToZip">
         <input message="s0:CityToZipSoapIn"/>
         <output message="s0:CityToZipSoapOut"/>
      </operation>
      <operation name="CityTo1Zip">
         <input message="s0:CityTo1ZipSoapIn"/>
         <output message="s0:CityTo1ZipSoapOut"/>
      </operation>
  </portType>
  
  
  <binding name="ZipcodeLookupServiceSoap" type="s0:ZipcodeLookupServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="ZipToCityAndState">
         <soap:operation soapAction="http://dinoch.dyndns.org/webservices/ZipToCityAndState"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="ZipTo1CityAndState">
         <soap:operation soapAction="http://dinoch.dyndns.org/webservices/ZipTo1CityAndState"
                         style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="CityToZip">
         <soap:operation soapAction="http://dinoch.dyndns.org/webservices/CityToZip" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="CityTo1Zip">
         <soap:operation soapAction="http://dinoch.dyndns.org/webservices/CityTo1Zip" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  
  
  <service name="ZipcodeLookupService">
      <port name="ZipcodeLookupServiceSoap" binding="s0:ZipcodeLookupServiceSoap">
         <soap:address location="http://ws.soatrader.com/barrycornelius.com/0.1/ZipcodeLookupService"/>
      </port>
      <port name="ZipcodeLookupServiceHttpGet" binding="s0:ZipcodeLookupServiceHttpGet">
         <soap:address location="http://ws.soatrader.com/barrycornelius.com/0.1/ZipcodeLookupService"/>
         <http:address location="http://hosting.msugs.ch/cheeso9/ZipService.asmx"/>
      </port>
      <port name="ZipcodeLookupServiceHttpPost" binding="s0:ZipcodeLookupServiceHttpPost">
         <soap:address location="http://ws.soatrader.com/barrycornelius.com/0.1/ZipcodeLookupService"/>
         <http:address location="http://hosting.msugs.ch/cheeso9/ZipService.asmx"/>
      </port>
  </service>
</definitions>