wsdl_repositories/soatrader/AddGroupUserWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://inenterprise.mir3.com/services/group/AddGroupUser"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://inenterprise.mir3.com/services/group/AddGroupUser"
                  xmlns:intf="http://inenterprise.mir3.com/services/group/AddGroupUser"
                  xmlns:tns1="http://group.soap.webservices.tahoe.mir3.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://inenterprise.mir3.com/services/group/AddGroupUser">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2beta
Built on Mar 31, 2004 (12:47:03 EST)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://group.soap.webservices.tahoe.mir3.com">
         <element name="addGroupUser" type="xsd:anyType"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://inenterprise.mir3.com/services/group/AddGroupUser">
         <element name="addGroupUserReturn" type="xsd:anyType"/>
      </schema>
   </wsdl:types>

   <wsdl:message name="addGroupUserResponse">

      <wsdl:part element="impl:addGroupUserReturn" name="addGroupUserReturn"/>

   </wsdl:message>

   <wsdl:message name="addGroupUserRequest">

      <wsdl:part element="tns1:addGroupUser" name="part"/>

   </wsdl:message>

   <wsdl:portType name="AddGroupUserWS">

      <wsdl:operation name="addGroupUser">

         <wsdl:input message="impl:addGroupUserRequest" name="addGroupUserRequest"/>

         <wsdl:output message="impl:addGroupUserResponse" name="addGroupUserResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddGroupUserSoapBinding" type="impl:AddGroupUserWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addGroupUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addGroupUserRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body namespace="http://group.soap.webservices.tahoe.mir3.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addGroupUserResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body namespace="http://inenterprise.mir3.com/services/group/AddGroupUser"
                           use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddGroupUserWSService">

      <wsdl:port binding="impl:AddGroupUserSoapBinding" name="AddGroupUser">

         <wsdlsoap:address location="http://ws.soatrader.com/mir3.com/0.1/AddGroupUserWSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>