wsdl_repositories/soatrader/AddinService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://addin.soap.highlinedata.com/Addin.wsdl"
                  xmlns:type="http://addin.soap.highlinedata.com/Addin.xsd1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://addin.soap.highlinedata.com/Addin.wsdl">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

    <wsdl:documentation>
Highline Data Addin Service WSDL </wsdl:documentation>


    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>

        <xsd:schema xmlns:tns="http://addin.soap.highlinedata.com/Addin.xsd1"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  elementFormDefault="qualified"
                  targetNamespace="http://addin.soap.highlinedata.com/Addin.xsd1">

 
             <xsd:complexType name="ErightsSession">

                    <xsd:annotation>

                         <xsd:documentation>
This type encapsulates an e-rights session     </xsd:documentation>

                    </xsd:annotation>

                    <xsd:sequence>

                         <xsd:element name="sessionid" type="xsd:string"/>

                    </xsd:sequence>

           </xsd:complexType>

           <xsd:complexType name="ErightsException">

                <xsd:sequence>

                    <xsd:element name="code" type="xsd:string"/>

                    <xsd:element name="message" type="xsd:string"/>

                </xsd:sequence>

           </xsd:complexType>

              <xsd:complexType name="File">

                    <xsd:sequence>

                         <xsd:element name="filename" type="xsd:string"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="date" type="xsd:dateTime"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="valid" type="xsd:boolean"/>

                    </xsd:sequence>

               </xsd:complexType>


            <xsd:complexType name="FileInfoType">

                <xsd:sequence>

                    <xsd:element name="ErightsSession" type="type:ErightsSession"/>

                    <xsd:element name="File" type="type:File"/>

               </xsd:sequence>

            </xsd:complexType>

            <xsd:complexType name="FileInfoResponseType">

                <xsd:sequence>

                    <xsd:element name="File" type="type:File"/>

                </xsd:sequence>

            </xsd:complexType>

 

            <xsd:element name="fileInfoRequest" type="tns:FileInfoType"/>

            <xsd:element name="fileInfoRequestResponse" type="tns:FileInfoResponseType"/>

            <xsd:element name="erightsException" type="tns:ErightsException"/>

        </xsd:schema>
      <xsd:schema xmlns:tns="http://addin.soap.highlinedata.com/Addin.xsd1"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  elementFormDefault="qualified"
                  targetNamespace="http://addin.soap.highlinedata.com/Addin.xsd1">

 
             <xsd:complexType name="ErightsSession">

                    <xsd:annotation>

                         <xsd:documentation>
This type encapsulates an e-rights session     </xsd:documentation>

                    </xsd:annotation>

                    <xsd:sequence>

                         <xsd:element name="sessionid" type="xsd:string"/>

                    </xsd:sequence>

           </xsd:complexType>

           <xsd:complexType name="ErightsException">

                <xsd:sequence>

                    <xsd:element name="code" type="xsd:string"/>

                    <xsd:element name="message" type="xsd:string"/>

                </xsd:sequence>

           </xsd:complexType>

              <xsd:complexType name="File">

                    <xsd:sequence>

                         <xsd:element name="filename" type="xsd:string"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="date" type="xsd:dateTime"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>

                         <xsd:element maxOccurs="1" minOccurs="0" name="valid" type="xsd:boolean"/>

                    </xsd:sequence>

               </xsd:complexType>


            <xsd:complexType name="FileInfoType">

                <xsd:sequence>

                    <xsd:element name="ErightsSession" type="type:ErightsSession"/>

                    <xsd:element name="File" type="type:File"/>

               </xsd:sequence>

            </xsd:complexType>

            <xsd:complexType name="FileInfoResponseType">

                <xsd:sequence>

                    <xsd:element name="File" type="type:File"/>

                </xsd:sequence>

            </xsd:complexType>

 

            <xsd:element name="fileInfoRequest" type="tns:FileInfoType"/>

            <xsd:element name="fileInfoRequestResponse" type="tns:FileInfoResponseType"/>

            <xsd:element name="erightsException" type="tns:ErightsException"/>

        </xsd:schema>


    </wsdl:types>


    <wsdl:message name="fileInfoRequestResponse">

        <wsdl:part element="type:fileInfoRequestResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="fileInfoRequest">

        <wsdl:part element="type:fileInfoRequest" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="erightsException">

        <wsdl:part element="type:erightsException" name="parameters"/>

    </wsdl:message>


    <wsdl:portType name="AddinService">

        <wsdl:operation name="fileInfoRequest">

            <wsdl:input message="tns:fileInfoRequest" name="fileInfoRequest"/>

            <wsdl:output message="tns:fileInfoRequestResponse" name="fileInfoRequestResponse"/>

            <wsdl:fault message="tns:erightsException" name="erightsException"/>

        </wsdl:operation>

     </wsdl:portType>

    <wsdl:binding name="AddinServiceSoapBinding" type="tns:AddinService">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="fileInfoRequest">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="fileInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

                <wsdlsoap:body namespace="http://ws.highlinedata.com/hdsoap/services/AddinService"
                           use="literal"/>

            </wsdl:input>

            <wsdl:output name="fileInfoRequestResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

                <wsdlsoap:body namespace="http://ws.highlinedata.com/hdsoap/services/AddinService"
                           use="literal"/>

            </wsdl:output>

            <wsdl:fault name="erightsException">

                    <wsdlsoap:fault namespace="http://ws.highlinedata.com/hdsoap/services/DataService"
                            use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="AddinService">

        <wsdl:port binding="tns:AddinServiceSoapBinding" name="AddinService">

            <wsdlsoap:address location="http://ws.soatrader.com/highlinedata.com/0.1/AddinService"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>