wsdl_repositories/soatrader/AdditionService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:Calculette"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:Calculette">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:message name="additionnerRequest">
      <wsdl:part name="entier1" type="xsd:int"/>
      <wsdl:part name="entier2" type="xsd:int"/>
      <wsdl:part name="resultat1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="additionnerResponse">
      <wsdl:part name="additionnerReturn" type="xsd:int"/>
      <wsdl:part name="resultat1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:portType name="Addition">
      <wsdl:operation name="additionner" parameterOrder="entier1 entier2 resultat1">
         <wsdl:input message="tns:additionnerRequest"/>
         <wsdl:output message="tns:additionnerResponse"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdditionSoapBinding" type="tns:Addition">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="additionner">
         <soap:operation soapAction=""/>
         <wsdl:input name="additionnerRequest">
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Calculette"
                       use="encoded"/>
         </wsdl:input>
         <wsdl:output name="additionnerResponse">
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:Calculette"
                       use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdditionService">
      <wsdl:port binding="tns:AdditionSoapBinding" name="Addition">
         <soap:address location="http://ws.soatrader.com/int-evry.fr/0.1/AdditionService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>