wsdl_repositories/soatrader/AddNumbersService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://duke.org"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="AddNumbers"
             targetNamespace="http://duke.org">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
            <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                  targetNamespace="http://duke.org">

                <complexType name="addNumbersResponse">
                    <sequence>
                        <element name="return" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="addNumbersResponse" type="tns:addNumbersResponse"/>

                <complexType name="addNumbers">
                    <sequence>
                        <element name="arg0" type="xsd:int"/>
                        <element name="arg1" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="addNumbers" type="tns:addNumbers"/>

                <element name="AddNumbersFault" type="tns:AddNumbersFault"/>
                <complexType name="AddNumbersFault">
                    <sequence>
                        <element name="faultInfo" type="xsd:string"/>
                        <element name="message" type="xsd:string"/>
                    </sequence>
                </complexType>
                <complexType name="oneWayInt">
                    <sequence>
                        <element name="arg0" type="xsd:int"/>
                    </sequence>
                </complexType>
                <element name="oneWayInt" type="tns:oneWayInt"/>
            </xsd:schema>
	  </types>
	  <message name="addNumbers">
            <part name="parameters" element="tns:addNumbers"/>
	  </message>
	  <message name="addNumbersResponse">
            <part name="result" element="tns:addNumbersResponse"/>
	  </message>
	  <message name="addNumbersFault">
            <part name="AddNumbersFault" element="tns:AddNumbersFault"/>
	  </message>
	  <message name="oneWayInt">
            <part name="parameters" element="tns:oneWayInt"/>
	  </message>
	  <portType name="AddNumbersPortType">
            <operation name="addNumbers">
                <input message="tns:addNumbers" name="add"/>
                <output message="tns:addNumbersResponse" name="addResponse"/>
                <fault name="addNumbersFault" message="tns:addNumbersFault"/>
            </operation>
            <operation name="oneWayInt">
                <input message="tns:oneWayInt"/>
            </operation>
	  </portType>
	  <binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
            <operation name="addNumbers">
                <soap:operation soapAction=""/>
                <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                    <soap:body use="literal"/>
                </input>
                <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                    <soap:body use="literal"/>
                </output>
                <fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal"/>
                </fault>
            </operation>
            <operation name="oneWayInt">
                <soap:operation soapAction=""/>
                <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                    <soap:body use="literal"/>
                </input>
            </operation>
	  </binding>
	  <service name="AddNumbersService">
            <port name="AddNumbersPort" binding="tns:AddNumbersBinding">
                <soap:address location="http://ws.soatrader.com/netbeans.org/0.1/AddNumbersService"/>
            </port>
	  </service>
</definitions>