wsdl_repositories/soatrader/AddressVerifier.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://services.argosoft.com/addressverifierservice/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://services.argosoft.com/addressverifierservice/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://services.argosoft.com/addressverifierservice/">
         <s:element name="VerifyAddressEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="timeOut" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAddressExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VerifyAddressExResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VerifyAddressResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAddressWithTimeOut">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="timeOut" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VerifyAddressWithTimeOutResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VerifyAddressWithTimeOutResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemainingAttempts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemainingAttemptsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="RemainingAttemptsResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="KeyExpires">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="KeyExpiresResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="KeyExpiresResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="int" type="s:int"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyAddressExSoapIn">
      <wsdl:part name="parameters" element="tns:VerifyAddressEx"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressExSoapOut">
      <wsdl:part name="parameters" element="tns:VerifyAddressExResponse"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressSoapIn">
      <wsdl:part name="parameters" element="tns:VerifyAddress"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressSoapOut">
      <wsdl:part name="parameters" element="tns:VerifyAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutSoapIn">
      <wsdl:part name="parameters" element="tns:VerifyAddressWithTimeOut"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutSoapOut">
      <wsdl:part name="parameters" element="tns:VerifyAddressWithTimeOutResponse"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsSoapIn">
      <wsdl:part name="parameters" element="tns:RemainingAttempts"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsSoapOut">
      <wsdl:part name="parameters" element="tns:RemainingAttemptsResponse"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresSoapIn">
      <wsdl:part name="parameters" element="tns:KeyExpires"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresSoapOut">
      <wsdl:part name="parameters" element="tns:KeyExpiresResponse"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressExHttpGetIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="timeOut" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressExHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressHttpGetIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutHttpGetIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="timeOut" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsHttpGetIn">
      <wsdl:part name="key" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsHttpGetOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresHttpGetIn">
      <wsdl:part name="key" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressExHttpPostIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="timeOut" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressExHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressHttpPostIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutHttpPostIn">
      <wsdl:part name="address" type="s:string"/>
      <wsdl:part name="timeOut" type="s:string"/>
      <wsdl:part name="key" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VerifyAddressWithTimeOutHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsHttpPostIn">
      <wsdl:part name="key" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemainingAttemptsHttpPostOut">
      <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresHttpPostIn">
      <wsdl:part name="key" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="KeyExpiresHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AddressVerifierSoap" type="tns:AddressVerifierSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="VerifyAddressEx">
         <soap:operation soapAction="http://services.argosoft.com/addressverifierservice/VerifyAddressEx"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VerifyAddress">
         <soap:operation soapAction="http://services.argosoft.com/addressverifierservice/VerifyAddress"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VerifyAddressWithTimeOut">
         <soap:operation soapAction="http://services.argosoft.com/addressverifierservice/VerifyAddressWithTimeOut"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemainingAttempts">
         <soap:operation soapAction="http://services.argosoft.com/addressverifierservice/RemainingAttempts"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="KeyExpires">
         <soap:operation soapAction="http://services.argosoft.com/addressverifierservice/KeyExpires"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AddressVerifier">
      <wsdl:port name="AddressVerifierSoap" binding="tns:AddressVerifierSoap">
         <soap:address location="http://ws.soatrader.com/argosoft.com/0.1/AddressVerifier"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>