wsdl_repositories/soatrader/AddressInfo.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/Net4support/Service1"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/Net4support/Service1">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/Net4support/Service1">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="GetStates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStatesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCities">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCitiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZip">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetZipResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckZip">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckZipResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckZipResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLola">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLolaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLolaResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIPInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IP_Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetIPInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetIPInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetStates"/>
  </wsdl:message>
  <wsdl:message name="GetStatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetStatesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCities"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetZipSoapIn">
      <wsdl:part name="parameters" element="tns:GetZip"/>
  </wsdl:message>
  <wsdl:message name="GetZipSoapOut">
      <wsdl:part name="parameters" element="tns:GetZipResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckZipSoapIn">
      <wsdl:part name="parameters" element="tns:CheckZip"/>
  </wsdl:message>
  <wsdl:message name="CheckZipSoapOut">
      <wsdl:part name="parameters" element="tns:CheckZipResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLolaSoapIn">
      <wsdl:part name="parameters" element="tns:GetLola"/>
  </wsdl:message>
  <wsdl:message name="GetLolaSoapOut">
      <wsdl:part name="parameters" element="tns:GetLolaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetIPInfo"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetIPInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatesHttpGetIn">
      <wsdl:part name="Country" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStatesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpGetIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetZipHttpGetIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="CheckZipHttpGetIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckZipHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetLolaHttpGetIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLolaHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpGetIn">
      <wsdl:part name="IP_Address" type="s:string"/>
      <wsdl:part name="Code" type="s:string"/>
      <wsdl:part name="UserID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetStatesHttpPostIn">
      <wsdl:part name="Country" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStatesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpPostIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCitiesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetZipHttpPostIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="CheckZipHttpPostIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckZipHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetLolaHttpPostIn">
      <wsdl:part name="Country" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLolaHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpPostIn">
      <wsdl:part name="IP_Address" type="s:string"/>
      <wsdl:part name="Code" type="s:string"/>
      <wsdl:part name="UserID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetIPInfoHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:portType name="AddressInfoSoap">
      <wsdl:operation name="GetStates">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all states by country name</documentation>
         <wsdl:input message="tns:GetStatesSoapIn"/>
         <wsdl:output message="tns:GetStatesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetCities">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all major cities by country name and state</documentation>
         <wsdl:input message="tns:GetCitiesSoapIn"/>
         <wsdl:output message="tns:GetCitiesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetZip">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all major Zip codes by city and country name</documentation>
         <wsdl:input message="tns:GetZipSoapIn"/>
         <wsdl:output message="tns:GetZipSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CheckZip">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Check all major Zip codes </documentation>
         <wsdl:input message="tns:CheckZipSoapIn"/>
         <wsdl:output message="tns:CheckZipSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetLola">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the longitude and latitude by city and country name</documentation>
         <wsdl:input message="tns:GetLolaSoapIn"/>
         <wsdl:output message="tns:GetLolaSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetIPInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all country,city,state,zip,logitude and latitude and ISP by IP Address</documentation>
         <wsdl:input message="tns:GetIPInfoSoapIn"/>
         <wsdl:output message="tns:GetIPInfoSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="AddressInfoSoap" type="tns:AddressInfoSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetStates">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/GetStates" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCities">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/GetCities" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZip">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/GetZip" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckZip">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/CheckZip" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLola">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/GetLola" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetIPInfo">
         <soap:operation soapAction="http://tempuri.org/Net4support/Service1/GetIPInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="AddressInfo">
      <wsdl:port name="AddressInfoSoap" binding="tns:AddressInfoSoap">
         <soap:address location="http://ws.soatrader.com/net4support.com/0.1/AddressInfo"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>