wsdl_repositories/soatrader/AddressLookup.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://ws.cdyne.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.cdyne.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This service corrects U.S. addresses, provides geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes (and Canadian Postal Codes) to city and state names.  We also offer PMSA, CMSA, and various other codes. &lt;b&gt;BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
         <s:element name="StandardizedAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="addressToCheck" type="tns:Address"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ServiceError" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="AddressError" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="AddressFoundBeMoreSpecific" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="CheckDigit" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NeededCorrection" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="FromLongitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="FromLatitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="ToLongitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="ToLatitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="AvgLongitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="AvgLatitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="hasDaylightSavings" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="LLCertainty" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CountyNum" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Firm" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrimaryLow" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrimaryHigh" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PriEO" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecEO" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecondaryLow" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecondaryHigh" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Secondary" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CarrierRoute" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryPoint" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CSKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UpdateKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RecordTypeCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CongressDistrictNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FIPS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FinanceNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CMSA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PMSA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MSA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredCityName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CensusBlockNum" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CensusTractNum" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Primary" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrefixDirection" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostDirection" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecondaryNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeUpper" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StateLegislativeLower" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="StandardizedAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StandardizedAddressResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdvancedStandardization">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="addressToCheck" type="tns:Address"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdvancedStandardizationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AdvancedStandardizationResult"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ReturnCityState">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReturnCityStateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnCityStateResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="BarcodeFontURL">
            <s:complexType/>
         </s:element>
         <s:element name="BarcodeFontURLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BarcodeFontURLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CCServerCheck">
            <s:complexType/>
         </s:element>
         <s:element name="CCServerCheckResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CCServerCheckResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckAddressResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAddressW2lines">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckAddressW2linesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckAddressW2linesResult" type="tns:Address"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdvancedCheckAddress">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdvancedCheckAddressResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AdvancedCheckAddressResult"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VersionInformation">
            <s:complexType/>
         </s:element>
         <s:element name="VersionInformationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VersionInformationResult"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CalculateDistanceInMiles">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude1" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude1" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="latitude2" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="longitude2" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CalculateDistanceInMilesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CalculateDistanceInMilesResult"
                             type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AlternateCities">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AlternateCitiesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AlternateCitiesResult"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityStateToZipCodeMatcher">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StateAbbrev" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="IgnoreBadCitySpelling" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CityStateToZipCodeMatcherResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CityStateToZipCodeMatcherResult"
                             type="tns:ArrayOfAnyType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCongressionalDistrictByZip">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Zipcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCongressionalDistrictByZipResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCongressionalDistrictByZipResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Address" nillable="true" type="tns:Address"/>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType"/>
         <s:element name="double" type="s:double"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="StandardizedAddressSoapIn">
      <wsdl:part name="parameters" element="tns:StandardizedAddress"/>
  </wsdl:message>
  <wsdl:message name="StandardizedAddressSoapOut">
      <wsdl:part name="parameters" element="tns:StandardizedAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="AdvancedStandardizationSoapIn">
      <wsdl:part name="parameters" element="tns:AdvancedStandardization"/>
  </wsdl:message>
  <wsdl:message name="AdvancedStandardizationSoapOut">
      <wsdl:part name="parameters" element="tns:AdvancedStandardizationResponse"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateSoapIn">
      <wsdl:part name="parameters" element="tns:ReturnCityState"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateSoapOut">
      <wsdl:part name="parameters" element="tns:ReturnCityStateResponse"/>
  </wsdl:message>
  <wsdl:message name="BarcodeFontURLSoapIn">
      <wsdl:part name="parameters" element="tns:BarcodeFontURL"/>
  </wsdl:message>
  <wsdl:message name="BarcodeFontURLSoapOut">
      <wsdl:part name="parameters" element="tns:BarcodeFontURLResponse"/>
  </wsdl:message>
  <wsdl:message name="CCServerCheckSoapIn">
      <wsdl:part name="parameters" element="tns:CCServerCheck"/>
  </wsdl:message>
  <wsdl:message name="CCServerCheckSoapOut">
      <wsdl:part name="parameters" element="tns:CCServerCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressSoapIn">
      <wsdl:part name="parameters" element="tns:CheckAddress"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressSoapOut">
      <wsdl:part name="parameters" element="tns:CheckAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesSoapIn">
      <wsdl:part name="parameters" element="tns:CheckAddressW2lines"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesSoapOut">
      <wsdl:part name="parameters" element="tns:CheckAddressW2linesResponse"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressSoapIn">
      <wsdl:part name="parameters" element="tns:AdvancedCheckAddress"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressSoapOut">
      <wsdl:part name="parameters" element="tns:AdvancedCheckAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="VersionInformationSoapIn">
      <wsdl:part name="parameters" element="tns:VersionInformation"/>
  </wsdl:message>
  <wsdl:message name="VersionInformationSoapOut">
      <wsdl:part name="parameters" element="tns:VersionInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesSoapIn">
      <wsdl:part name="parameters" element="tns:CalculateDistanceInMiles"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesSoapOut">
      <wsdl:part name="parameters" element="tns:CalculateDistanceInMilesResponse"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesSoapIn">
      <wsdl:part name="parameters" element="tns:AlternateCities"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesSoapOut">
      <wsdl:part name="parameters" element="tns:AlternateCitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherSoapIn">
      <wsdl:part name="parameters" element="tns:CityStateToZipCodeMatcher"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherSoapOut">
      <wsdl:part name="parameters" element="tns:CityStateToZipCodeMatcherResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipSoapIn">
      <wsdl:part name="parameters" element="tns:GetCongressionalDistrictByZip"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipSoapOut">
      <wsdl:part name="parameters" element="tns:GetCongressionalDistrictByZipResponse"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateHttpGetIn">
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateHttpGetOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="BarcodeFontURLHttpGetIn"/>
  <wsdl:message name="BarcodeFontURLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CCServerCheckHttpGetIn"/>
  <wsdl:message name="CCServerCheckHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpGetIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpGetOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesHttpGetIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="AddressLine2" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesHttpGetOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressHttpGetIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="AddressLine2" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="VersionInformationHttpGetIn"/>
  <wsdl:message name="VersionInformationHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesHttpGetIn">
      <wsdl:part name="latitude1" type="s:string"/>
      <wsdl:part name="longitude1" type="s:string"/>
      <wsdl:part name="latitude2" type="s:string"/>
      <wsdl:part name="longitude2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesHttpGetOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesHttpGetIn">
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherHttpGetIn">
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="IgnoreBadCitySpelling" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipHttpGetIn">
      <wsdl:part name="Zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateHttpPostIn">
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ReturnCityStateHttpPostOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="BarcodeFontURLHttpPostIn"/>
  <wsdl:message name="BarcodeFontURLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CCServerCheckHttpPostIn"/>
  <wsdl:message name="CCServerCheckHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpPostIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpPostOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesHttpPostIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="AddressLine2" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckAddressW2linesHttpPostOut">
      <wsdl:part name="Body" element="tns:Address"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressHttpPostIn">
      <wsdl:part name="AddressLine" type="s:string"/>
      <wsdl:part name="AddressLine2" type="s:string"/>
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AdvancedCheckAddressHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="VersionInformationHttpPostIn"/>
  <wsdl:message name="VersionInformationHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesHttpPostIn">
      <wsdl:part name="latitude1" type="s:string"/>
      <wsdl:part name="longitude1" type="s:string"/>
      <wsdl:part name="latitude2" type="s:string"/>
      <wsdl:part name="longitude2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CalculateDistanceInMilesHttpPostOut">
      <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesHttpPostIn">
      <wsdl:part name="zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AlternateCitiesHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherHttpPostIn">
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="StateAbbrev" type="s:string"/>
      <wsdl:part name="IgnoreBadCitySpelling" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CityStateToZipCodeMatcherHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfAnyType"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipHttpPostIn">
      <wsdl:part name="Zipcode" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCongressionalDistrictByZipHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AddressLookupSoap" type="tns:AddressLookupSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="StandardizedAddress">
         <soap:operation soapAction="http://ws.cdyne.com/StandardizedAddress" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AdvancedStandardization">
         <soap:operation soapAction="http://ws.cdyne.com/AdvancedStandardization" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReturnCityState">
         <soap:operation soapAction="http://ws.cdyne.com/ReturnCityState" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="BarcodeFontURL">
         <soap:operation soapAction="http://ws.cdyne.com/BarcodeFontURL" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CCServerCheck">
         <soap:operation soapAction="http://ws.cdyne.com/CCServerCheck" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckAddress">
         <soap:operation soapAction="http://ws.cdyne.com/CheckAddress" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckAddressW2lines">
         <soap:operation soapAction="http://ws.cdyne.com/CheckAddressW2lines" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AdvancedCheckAddress">
         <soap:operation soapAction="http://ws.cdyne.com/AdvancedCheckAddress" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VersionInformation">
         <soap:operation soapAction="http://ws.cdyne.com/VersionInformation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CalculateDistanceInMiles">
         <soap:operation soapAction="http://ws.cdyne.com/CalculateDistanceInMiles" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AlternateCities">
         <soap:operation soapAction="http://ws.cdyne.com/AlternateCities" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CityStateToZipCodeMatcher">
         <soap:operation soapAction="http://ws.cdyne.com/CityStateToZipCodeMatcher" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCongressionalDistrictByZip">
         <soap:operation soapAction="http://ws.cdyne.com/GetCongressionalDistrictByZip" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AddressLookup">
      <wsdl:documentation>This service corrects U.S. addresses, provides geocoding (U.S. down to address level and Canadian to Postal Code Level), and allows you to convert zip codes (and Canadian Postal Codes) to city and state names.  We also offer PMSA, CMSA, and various other codes. &lt;b&gt;BE SURE TO USE A LICENSE KEY OF 0 FOR TESTING.&lt;/b&gt;</wsdl:documentation>
      <wsdl:port name="AddressLookupSoap" binding="tns:AddressLookupSoap">
         <soap:address location="http://ws.soatrader.com/cdyne.com/0.1/AddressLookup"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>