wsdl_repositories/soatrader/AddUser.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="AddUser"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="AddUser">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="AddUser">
         <s:element name="CreateUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string"/> 
                  <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string"/> 
                  <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string"/> 
                  <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string"/> 
                  <s:element minOccurs="0" maxOccurs="1" name="dns" type="s:string"/> 
                  <s:element minOccurs="0" maxOccurs="1" name="groupDesc" type="s:string"/> 
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateUserResponse">
            <s:complexType/> 
         </s:element>
         <s:element name="ReturnString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="abc" type="s:string"/> 
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReturnStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReturnStringResult" type="s:string"/> 
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </wsdl:types>
   <wsdl:message name="CreateUserSoapIn">
      <wsdl:part name="parameters" element="tns:CreateUser"/> 
   </wsdl:message>
   <wsdl:message name="CreateUserSoapOut">
      <wsdl:part name="parameters" element="tns:CreateUserResponse"/> 
   </wsdl:message>
   <wsdl:message name="ReturnStringSoapIn">
      <wsdl:part name="parameters" element="tns:ReturnString"/> 
   </wsdl:message>
   <wsdl:message name="ReturnStringSoapOut">
      <wsdl:part name="parameters" element="tns:ReturnStringResponse"/> 
   </wsdl:message>

   <wsdl:binding name="AddUserSoap" type="tns:AddUserSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/> 
      <wsdl:operation name="CreateUser">
         <soap:operation soapAction="AddUser/CreateUser" style="document"/> 
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/> 
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/> 
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReturnString">
         <soap:operation soapAction="AddUser/ReturnString" style="document"/> 
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/> 
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/> 
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="AddUser">
      <wsdl:port name="AddUserSoap" binding="tns:AddUserSoap">
         <soap:address location="http://ws.soatrader.com/intalio.com/0.1/AddUser"/> 
      </wsdl:port>

   </wsdl:service>
</wsdl:definitions>