wsdl_repositories/soatrader/addUpdateUsers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ips.webservices.employee/webservices/processUsers"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ips.webservices.employee/webservices/processUsers">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ips.webservices.employee/webservices/processUsers">
         <s:element name="processUsers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="empRequests"
                             type="tns:ArrayOfEmployeeAddUpdateRequest"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="empIDType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfEmployeeAddUpdateRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeAddUpdateRequest"
                          nillable="true"
                          type="tns:EmployeeAddUpdateRequest"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="EmployeeAddUpdateRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EmployeeNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GivenName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AddressLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BuildingNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InternetEmailAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="genderCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Degree" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="MustChangePassword"
                          type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="InstructorFlag" type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="InstructorDailyRate"
                          type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="InternalFlag" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="QualPositionCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="QualPositionName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ManagerCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PositionCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PositionName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="0001-01-01" name="DeptDate" type="s:date"/>
               <s:element minOccurs="0" maxOccurs="1" default="0001-01-01" name="HireDate" type="s:date"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="ManagerFlag" type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="DeleteFlag" type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="0001-01-01" name="TerminationDate"
                          type="s:date"/>
               <s:element minOccurs="0" maxOccurs="1" name="Major" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AccountCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Division" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="BusinessUnit" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EmployeeType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreferredGivenName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GradeLevel" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RegionCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="DepartmentManagerFlag"
                          type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" name="DepartmentManagerCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AltEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="HTMLEmailFlag" type="s:short"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="CurrentSalary" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="MinSalary" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="MaxSalary" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" name="SalaryCurrencyCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField6" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField7" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TextField8" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="-1" name="HighPotentialFlag" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" default="0001-01-01" name="BirthDate" type="s:date"/>
               <s:element minOccurs="0" maxOccurs="1" name="Race" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OldEmployeeNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserGroups" type="tns:ArrayOfUserGroup"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfUserGroup">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="UserGroup" nillable="true"
                          type="tns:UserGroup"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="UserGroup">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GroupDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" default="1" name="GroupActionCode" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="processUsersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="processUsersResult"
                             type="tns:ArrayOfEmployeeAddUpdateResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfEmployeeAddUpdateResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeAddUpdateResult"
                          nillable="true"
                          type="tns:EmployeeAddUpdateResult"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="EmployeeAddUpdateResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="EmpID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="RetCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="CodeDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="processUsersSoapIn">
      <wsdl:part name="parameters" element="tns:processUsers"/>
  </wsdl:message>
  <wsdl:message name="processUsersSoapOut">
      <wsdl:part name="parameters" element="tns:processUsersResponse"/>
  </wsdl:message>
  <wsdl:portType name="addUpdateUsersSoap">
      <wsdl:operation name="processUsers">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Adds or Updates a supplied list of user records</documentation>
         <wsdl:input message="tns:processUsersSoapIn"/>
         <wsdl:output message="tns:processUsersSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="addUpdateUsersSoap" type="tns:addUpdateUsersSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="processUsers">
         <soap:operation soapAction="http://ips.webservices.employee/webservices/processUsers/processUsers"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addUpdateUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="addUpdateUsersSoap" binding="tns:addUpdateUsersSoap">
         <soap:address location="http://ws.soatrader.com/iperformonline.com/0.1/addUpdateUsers"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>