wsdl_repositories/soatrader/Administration.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://adcenter.microsoft.com/syncapis"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://adcenter.microsoft.com/syncapis">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://adcenter.microsoft.com/syncapis">
         <s:element name="GetQuota">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="APIFlags" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuotaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetQuotaResult" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ApiUserAuthHeader" type="tns:ApiUserAuthHeader"/>
         <s:complexType name="ApiUserAuthHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserAccessKey" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="GetQuotaBalance">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="APIFlags" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetQuotaBalanceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetQuotaBalanceResult" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuotaSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuota"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuotaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaApiUserAuthHeader">
      <wsdl:part name="ApiUserAuthHeader" element="tns:ApiUserAuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaBalanceSoapIn">
      <wsdl:part name="parameters" element="tns:GetQuotaBalance"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaBalanceSoapOut">
      <wsdl:part name="parameters" element="tns:GetQuotaBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetQuotaBalanceApiUserAuthHeader">
      <wsdl:part name="ApiUserAuthHeader" element="tns:ApiUserAuthHeader"/>
  </wsdl:message>
  
  <wsdl:binding name="AdministrationSoap" type="tns:AdministrationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetQuota">
         <soap:operation soapAction="http://adcenter.microsoft.com/syncapis/GetQuota" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetQuotaApiUserAuthHeader" part="ApiUserAuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetQuotaBalance">
         <soap:operation soapAction="http://adcenter.microsoft.com/syncapis/GetQuotaBalance"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetQuotaBalanceApiUserAuthHeader" part="ApiUserAuthHeader"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Administration">
      <wsdl:port name="AdministrationSoap" binding="tns:AdministrationSoap">
         <soap:address location="http://ws.soatrader.com/microsoft.com/0.1/Administration"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>