wsdl_repositories/soatrader/AdminNETWS.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="AddAdminNET">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="objAdminNET" type="tns:AdminNET"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="AdminNET">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LastLoginDttm" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsPasswordToBeChanged" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddAdminNETResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddAdminNETResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="AddAdminNET">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="objAdminNET" type="tns:AdminNET"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="AdminNET">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LastLoginDttm" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsPasswordToBeChanged" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddAdminNETResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddAdminNETResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAdminNETSoapIn">
      <wsdl:part name="parameters" element="tns:AddAdminNET"/>
  </wsdl:message>
  <wsdl:message name="AddAdminNETSoapOut">
      <wsdl:part name="parameters" element="tns:AddAdminNETResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AdminNETWSSoap" type="tns:AdminNETWSSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddAdminNET">
         <soap:operation soapAction="http://tempuri.org/AddAdminNET" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AdminNETWS">
      <wsdl:port name="AdminNETWSSoap" binding="tns:AdminNETWSSoap">
         <soap:address location="http://ws.soatrader.com/java.net/0.1/AdminNETWS"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>