wsdl_repositories/soatrader/adSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://interpressfact.net/webservices/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://interpressfact.net/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://interpressfact.net/webservices/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="getAds">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getAdsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getAdsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getAdsSoapIn">
      <wsdl:part name="parameters" element="tns:getAds"/>
  </wsdl:message>
  <wsdl:message name="getAdsSoapOut">
      <wsdl:part name="parameters" element="tns:getAdsResponse"/>
  </wsdl:message>
  <wsdl:portType name="adSearchSoap">
      <wsdl:operation name="getAds">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;br&gt;Receives a keyword/s for the 'Search' parameter and returns all classified ad/s containing this keyword/s</documentation>
         <wsdl:input message="tns:getAdsSoapIn"/>
         <wsdl:output message="tns:getAdsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="adSearchSoap" type="tns:adSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getAds">
         <soap:operation soapAction="http://interpressfact.net/webservices/getAds" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="adSearch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;a href='http://interpressfact.net'&gt;&lt;img src='http://www.interpressfact.net/webpage.files/logo.gif' border='0'&gt;&lt;/a&gt;&lt;br&gt;&lt;font color='#006600' size='3' face='Geneva, Arial, Helvetica, san-serif'&gt;Search classified ads posted on Interpressfact.net&lt;/font&gt;</documentation>
      <wsdl:port name="adSearchSoap" binding="tns:adSearchSoap">
         <soap:address location="http://ws.soatrader.com/interpressfact.net/0.2/adSearch"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>