wsdl_repositories/soatrader/AdvGisImport.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://geoinfo.ch/"
                  xmlns:s1="http://Swisscom.IT.ImmoGisExport"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://geoinfo.ch/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://geoinfo.ch/">
         <s:import namespace="http://Swisscom.IT.ImmoGisExport"/>
         <s:element name="GetAdvGisImportData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="clientPrefix" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="cantonId" type="s:unsignedInt"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdvGisImportDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdvGisImportDataResult"
                             type="s1:ImmoContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="AdvertisementGisImport">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AdvId" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AdvGISLink" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://geoinfo.ch/">
         <s:import namespace="http://Swisscom.IT.ImmoGisExport"/>
         <s:element name="GetAdvGisImportData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="clientPrefix" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="cantonId" type="s:unsignedInt"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdvGisImportDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdvGisImportDataResult"
                             type="s1:ImmoContainer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="AdvertisementGisImport">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AdvId" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="AdvGISLink" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://Swisscom.IT.ImmoGisExport">
         <s:complexType name="ImmoContainer">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:ImmoHeader"/>
               <s:element minOccurs="0" maxOccurs="1" name="Obj"/>
               <s:element minOccurs="0" maxOccurs="1" name="Objects" type="s1:ArrayOfAnyType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Elems" type="s1:ArrayOfAnyType1"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s1:ArrayOfImmoError"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
         </s:complexType>
         <s:complexType name="ArrayOfImmoError">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ImmoError" nillable="true"
                          type="s1:ImmoError"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoError">
            <s:simpleContent>
               <s:extension base="s:string">
                  <s:attribute name="level" type="s:string"/>
                  <s:attribute name="code" type="s:string"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Object" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType1">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Elem" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoContainerSecurity">
            <s:complexContent mixed="false">
               <s:extension base="s1:ImmoContainer"/>
            </s:complexContent>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://Swisscom.IT.ImmoGisExport">
         <s:complexType name="ImmoContainer">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:ImmoHeader"/>
               <s:element minOccurs="0" maxOccurs="1" name="Obj"/>
               <s:element minOccurs="0" maxOccurs="1" name="Objects" type="s1:ArrayOfAnyType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Elems" type="s1:ArrayOfAnyType1"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s1:ArrayOfImmoError"/>
            </s:sequence>
            <s:attribute name="version" type="s:string"/>
         </s:complexType>
         <s:complexType name="ArrayOfImmoError">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ImmoError" nillable="true"
                          type="s1:ImmoError"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoError">
            <s:simpleContent>
               <s:extension base="s:string">
                  <s:attribute name="level" type="s:string"/>
                  <s:attribute name="code" type="s:string"/>
               </s:extension>
            </s:simpleContent>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Object" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAnyType1">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Elem" nillable="true"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ImmoContainerSecurity">
            <s:complexContent mixed="false">
               <s:extension base="s1:ImmoContainer"/>
            </s:complexContent>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdvGisImportDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdvGisImportData"/>
  </wsdl:message>
  <wsdl:message name="GetAdvGisImportDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdvGisImportDataResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="AdvGisImportSoap" type="tns:AdvGisImportSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetAdvGisImportData">
         <soap:operation soapAction="http://geoinfo.ch/GetAdvGisImportData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AdvGisImport">
      <wsdl:port name="AdvGisImportSoap" binding="tns:AdvGisImportSoap">
         <soap:address location="http://ws.soatrader.com/geoportal.ch/0.1/AdvGisImport"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>