wsdl_repositories/soatrader/AeDeployBPRSkeletonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://trans.nict.go.jp/active-bpel/services/DeployBPRService"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://trans.nict.go.jp/active-bpel/services/DeployBPRService"
                  xmlns:intf="http://trans.nict.go.jp/active-bpel/services/DeployBPRService"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://bpel.rt.activebpel.org"
                  xmlns:tns2="http://rt.activebpel.org"
                  xmlns:tns3="http://lang.java"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://trans.nict.go.jp/active-bpel/services/DeployBPRService">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://rt.activebpel.org">
         <import namespace="http://bpel.rt.activebpel.org"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="AeException">
            <sequence>
               <element name="info" nillable="true" type="soapenc:string"/>
               <element name="rootCause" nillable="true" type="xsd:anyType"/>
               <element name="rootRootCause" nillable="true" type="tns3:Throwable"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://bpel.rt.activebpel.org">
         <import namespace="http://rt.activebpel.org"/>
         <import namespace="http://lang.java"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="AeBusinessProcessException">
            <complexContent>
               <extension base="tns2:AeException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="AeBusinessProcessException">

      <wsdl:part name="fault" type="tns1:AeBusinessProcessException"/>

   </wsdl:message>

   <wsdl:message name="deployBprResponse">

      <wsdl:part name="deployBprReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deployBprRequest">

      <wsdl:part name="aBprFilename" type="xsd:string"/>

      <wsdl:part name="aBase64File" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AeDeployBPRSkeleton">

      <wsdl:operation name="deployBpr" parameterOrder="aBprFilename aBase64File">

         <wsdl:input message="impl:deployBprRequest" name="deployBprRequest"/>

         <wsdl:output message="impl:deployBprResponse" name="deployBprResponse"/>

         <wsdl:fault message="impl:AeBusinessProcessException" name="AeBusinessProcessException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeployBPRServiceSoapBinding" type="impl:AeDeployBPRSkeleton">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deployBpr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deployBprRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:AeEngineServices"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deployBprResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://trans.nict.go.jp/active-bpel/services/DeployBPRService"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="AeBusinessProcessException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="AeBusinessProcessException"
                            namespace="http://trans.nict.go.jp/active-bpel/services/DeployBPRService"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AeDeployBPRSkeletonService">

      <wsdl:port binding="impl:DeployBPRServiceSoapBinding" name="DeployBPRService">

         <wsdlsoap:address location="http://ws.soatrader.com/nict.go.jp/0.1/AeDeployBPRSkeletonService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>