wsdl_repositories/soatrader/AeroXchange_OutboundService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://source.trax.aero"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://source.trax.aero"
                  xmlns:intf="http://source.trax.aero"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://source.trax.aero">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="S1ORDEXC_S1EXCACKRequest">

      <wsdl:part name="orderType" type="soapenc:string"/>

      <wsdl:part name="orderNumber" type="xsd:long"/>

      <wsdl:part name="orderLine" type="xsd:int"/>

      <wsdl:part name="interfaceTransactionNo" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="S1ORDEXC_S1EXCACKResponse">

      <wsdl:part name="S1ORDEXC_S1EXCACKReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="S1BOOKED_S1CPOXMTRequest">

      <wsdl:part name="orderType" type="soapenc:string"/>

      <wsdl:part name="orderNumber" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="S1BOOKED_S1CPOXMTResponse">

      <wsdl:part name="S1BOOKED_S1CPOXMTReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="S1INVOICE_S1INVACKResponse">

      <wsdl:part name="S1INVOICE_S1INVACKReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="S1INVOICE_S1INVACKRequest">

      <wsdl:part name="interfaceTransactionNo" type="xsd:long"/>

      <wsdl:part name="sVendor" type="soapenc:string"/>

      <wsdl:part name="sInvoice" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="S1POSTAT_S1CPOINQResponse">

      <wsdl:part name="S1POSTAT_S1CPOINQReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="S1POSTAT_S1CPOINQRequest">

      <wsdl:part name="orderType" type="soapenc:string"/>

      <wsdl:part name="orderNumber" type="xsd:long"/>

      <wsdl:part name="orderLine" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="AeroXchange_Outbound">

      <wsdl:operation name="S1ORDEXC_S1EXCACK"
                      parameterOrder="orderType orderNumber orderLine interfaceTransactionNo">

         <wsdl:input message="impl:S1ORDEXC_S1EXCACKRequest" name="S1ORDEXC_S1EXCACKRequest"/>

         <wsdl:output message="impl:S1ORDEXC_S1EXCACKResponse" name="S1ORDEXC_S1EXCACKResponse"/>

      </wsdl:operation>

      <wsdl:operation name="S1INVOICE_S1INVACK"
                      parameterOrder="interfaceTransactionNo sVendor sInvoice">

         <wsdl:input message="impl:S1INVOICE_S1INVACKRequest" name="S1INVOICE_S1INVACKRequest"/>

         <wsdl:output message="impl:S1INVOICE_S1INVACKResponse" name="S1INVOICE_S1INVACKResponse"/>

      </wsdl:operation>

      <wsdl:operation name="S1BOOKED_S1CPOXMT" parameterOrder="orderType orderNumber">

         <wsdl:input message="impl:S1BOOKED_S1CPOXMTRequest" name="S1BOOKED_S1CPOXMTRequest"/>

         <wsdl:output message="impl:S1BOOKED_S1CPOXMTResponse" name="S1BOOKED_S1CPOXMTResponse"/>

      </wsdl:operation>

      <wsdl:operation name="S1POSTAT_S1CPOINQ" parameterOrder="orderType orderNumber orderLine">

         <wsdl:input message="impl:S1POSTAT_S1CPOINQRequest" name="S1POSTAT_S1CPOINQRequest"/>

         <wsdl:output message="impl:S1POSTAT_S1CPOINQResponse" name="S1POSTAT_S1CPOINQResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AeroXchange_Outbound_ServiceSoapBinding" type="impl:AeroXchange_Outbound">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="S1ORDEXC_S1EXCACK">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="S1ORDEXC_S1EXCACKRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="S1ORDEXC_S1EXCACKResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="S1INVOICE_S1INVACK">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="S1INVOICE_S1INVACKRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="S1INVOICE_S1INVACKResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="S1BOOKED_S1CPOXMT">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="S1BOOKED_S1CPOXMTRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="S1BOOKED_S1CPOXMTResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="S1POSTAT_S1CPOINQ">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="S1POSTAT_S1CPOINQRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="S1POSTAT_S1CPOINQResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AeroXchange_OutboundService">

      <wsdl:port binding="impl:AeroXchange_Outbound_ServiceSoapBinding"
                 name="AeroXchange_Outbound_Service">

         <wsdlsoap:address location="http://ws.soatrader.com/trax.aero/0.1/AeroXchange_OutboundService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>