wsdl_repositories/soatrader/Afstandsberegner.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="www.ramboll.informatik.dk/afstandsberegner"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="www.ramboll.informatik.dk/afstandsberegner">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="www.ramboll.informatik.dk/afstandsberegner">
         <s:element name="FindAfstand">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="adresse1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="adresse2" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindAfstandResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="FindAfstandResult" type="tns:Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Afstand" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="Enhed" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Result" type="tns:Result"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="FindAfstandSoapIn">
      <wsdl:part name="parameters" element="tns:FindAfstand"/>
  </wsdl:message>
  <wsdl:message name="FindAfstandSoapOut">
      <wsdl:part name="parameters" element="tns:FindAfstandResponse"/>
  </wsdl:message>
  <wsdl:message name="FindAfstandHttpGetIn">
      <wsdl:part name="adresse1" type="s:string"/>
      <wsdl:part name="adresse2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindAfstandHttpGetOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="FindAfstandHttpPostIn">
      <wsdl:part name="adresse1" type="s:string"/>
      <wsdl:part name="adresse2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindAfstandHttpPostOut">
      <wsdl:part name="Body" element="tns:Result"/>
  </wsdl:message>
  <wsdl:portType name="AfstandsberegnerSoap">
      <wsdl:operation name="FindAfstand">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Angiv de to adresser i henhold til AWS, hvorefter webservicen beregner afstanden mellem dem.</documentation>
         <wsdl:input message="tns:FindAfstandSoapIn"/>
         <wsdl:output message="tns:FindAfstandSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="AfstandsberegnerSoap" type="tns:AfstandsberegnerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="FindAfstand">
         <soap:operation soapAction="www.ramboll.informatik.dk/afstandsberegner/FindAfstand"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Afstandsberegner">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Dette er Rambøll Informatiks bud på en AWS-baseret webservice.</documentation>
      <wsdl:port name="AfstandsberegnerSoap" binding="tns:AfstandsberegnerSoap">
         <soap:address location="http://ws.soatrader.com/oio.dk/0.1/Afstandsberegner"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>