wsdl_repositories/soatrader/AgentLogin.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservices.lisaplugins.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.lisaplugins.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>LISA Miscellaneous Plugin Service.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.lisaplugins.com/">
         <s:element name="AgentLoginPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OptionalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LoginType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AgentLoginPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentLoginPostResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AgentLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OptionalCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="tns:eLoginType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="eLoginType">
            <s:restriction base="s:string">
               <s:enumeration value="Active"/>
               <s:enumeration value="Contract"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="AgentLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentLoginResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordPostResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.lisaplugins.com/">
         <s:element name="AgentLoginPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OptionalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LoginType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AgentLoginPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentLoginPostResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AgentLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="OptionalCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="LoginType" type="tns:eLoginType"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="eLoginType">
            <s:restriction base="s:string">
               <s:enumeration value="Active"/>
               <s:enumeration value="Contract"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="AgentLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentLoginResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordPostResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPassword">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EnrollKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="AgentID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ForgotPasswordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AgentLoginPostSoapIn">
      <wsdl:part name="parameters" element="tns:AgentLoginPost"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginPostSoapOut">
      <wsdl:part name="parameters" element="tns:AgentLoginPostResponse"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginSoapIn">
      <wsdl:part name="parameters" element="tns:AgentLogin"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginSoapOut">
      <wsdl:part name="parameters" element="tns:AgentLoginResponse"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostSoapIn">
      <wsdl:part name="parameters" element="tns:ForgotPasswordPost"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostSoapOut">
      <wsdl:part name="parameters" element="tns:ForgotPasswordPostResponse"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapIn">
      <wsdl:part name="parameters" element="tns:ForgotPassword"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapOut">
      <wsdl:part name="parameters" element="tns:ForgotPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginPostHttpGetIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="Login" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="OptionalCode" type="s:string"/>
      <wsdl:part name="LoginType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginPostHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginHttpGetIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="Login" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="OptionalCode" type="s:string"/>
      <wsdl:part name="LoginType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostHttpGetIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="eMail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordHttpGetIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="eMail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginPostHttpPostIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="Login" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="OptionalCode" type="s:string"/>
      <wsdl:part name="LoginType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginPostHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginHttpPostIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="Login" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="OptionalCode" type="s:string"/>
      <wsdl:part name="LoginType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgentLoginHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostHttpPostIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="eMail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordPostHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordHttpPostIn">
      <wsdl:part name="EnrollKey" type="s:string"/>
      <wsdl:part name="AgentID" type="s:string"/>
      <wsdl:part name="eMail" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ForgotPasswordHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AgentLoginSoap" type="tns:AgentLoginSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AgentLoginPost">
         <soap:operation soapAction="http://webservices.lisaplugins.com/AgentLoginPost" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AgentLogin">
         <soap:operation soapAction="http://webservices.lisaplugins.com/AgentLogin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ForgotPasswordPost">
         <soap:operation soapAction="http://webservices.lisaplugins.com/ForgotPasswordPost"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ForgotPassword">
         <soap:operation soapAction="http://webservices.lisaplugins.com/ForgotPassword" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AgentLogin">
      <wsdl:documentation>LISA Miscellaneous Plugin Service.</wsdl:documentation>
      <wsdl:port name="AgentLoginSoap" binding="tns:AgentLoginSoap">
         <soap:address location="http://ws.soatrader.com/lisaplugins.com/0.1/AgentLogin"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>