wsdl_repositories/soatrader/AgencyService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.safeharbors.org/agency/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.safeharbors.org/agency/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.safeharbors.org/agency/">
         <s:element name="UpdateRequest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RequestWrapper">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="schema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateRequestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateRequestResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateRequestString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RequestWrapper" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="schema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateRequestStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateRequestStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SHInput">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
                  <s:element minOccurs="0" maxOccurs="1" name="schema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateXmlResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateRequestSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="UpdateRequestSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateRequestStringSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateRequestString"/>
  </wsdl:message>
  <wsdl:message name="UpdateRequestStringSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateRequestStringResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateXmlSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateXml"/>
  </wsdl:message>
  <wsdl:message name="ValidateXmlSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateXmlResponse"/>
  </wsdl:message>
  <wsdl:portType name="AgencyServiceSoap">
      <wsdl:operation name="UpdateRequest">
         <wsdl:input message="tns:UpdateRequestSoapIn"/>
         <wsdl:output message="tns:UpdateRequestSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UpdateRequestString">
         <wsdl:input message="tns:UpdateRequestStringSoapIn"/>
         <wsdl:output message="tns:UpdateRequestStringSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ValidateXml">
         <wsdl:input message="tns:ValidateXmlSoapIn"/>
         <wsdl:output message="tns:ValidateXmlSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgencyServiceSoap" type="tns:AgencyServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="UpdateRequest">
         <soap:operation soapAction="http://www.safeharbors.org/agency/UpdateRequest" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateRequestString">
         <soap:operation soapAction="http://www.safeharbors.org/agency/UpdateRequestString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateXml">
         <soap:operation soapAction="http://www.safeharbors.org/agency/ValidateXml" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyService">
      <wsdl:port name="AgencyServiceSoap" binding="tns:AgencyServiceSoap">
         <soap:address location="http://ws.soatrader.com/wa.gov/0.1/AgencyService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>