wsdl_repositories/soatrader/AGJJASync.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="GetListOfUsers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetListOfUsersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetListOfUsersResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGenericTables">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGenericTablesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGenericTablesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyProvidedDataSet">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetContractsInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetListOfUsersXMLDoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetListOfUsersXMLDocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetListOfUsersXMLDocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGenericTablesXMLDoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetGenericTablesXMLDocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetGenericTablesXMLDocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfoXMLDoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfoXMLDocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetContractsInfoXMLDocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfoWithoutDataArgumentXMLDoc">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetContractsInfoWithoutDataArgumentXMLDocResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetContractsInfoWithoutDataArgumentXMLDocResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractsList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractsListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetContractsListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContract">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyContractCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyStatusID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MySubStatusID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetContractResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractMemo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyContractCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyContractMemoNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractMemoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetContractMemoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractMemoLastNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyContractCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetContractMemoLastNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetContractMemoLastNumberResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntity">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyEntityCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetEntityResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntityMemoLastNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyEntityCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntityMemoLastNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetEntityMemoLastNumberResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntityMemo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyEntityCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyEntityMemoNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PDAGetEntityMemoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PDAGetEntityMemoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmOpenReceiveSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyRequestType" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmOpenReceiveSessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmOpenReceiveSessionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmReceiveXMLChunk">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmReceiveXMLChunkResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmReceiveXMLChunkResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseReceiveSessionNew">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MySequence" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseReceiveSessionNewResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmCloseReceiveSessionNewResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseReceiveSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseReceiveSessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmCloseReceiveSessionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmSendXMLChunk">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmSendXMLChunkResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmSendXMLChunkResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmOpenSendSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmOpenSendSessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmOpenSendSessionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseSendSession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUniqueNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PalmCloseSendSessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PalmCloseSendSessionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersSendData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPartnerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersSendDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PartnersSendDataResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersReceiveData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPartnerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyData" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersReceiveDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PartnersReceiveDataResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersGetGenericTables">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MyAccessCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPartnerID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyUserName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MyPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersGetGenericTablesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PartnersGetGenericTablesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateSampleContractsInfoXMLDataDocument">
            <s:complexType/>
         </s:element>
         <s:element name="CreateSampleContractsInfoXMLDataDocumentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="CreateSampleContractsInfoXMLDataDocumentResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PartnersSendDataDebug">
            <s:complexType/>
         </s:element>
         <s:element name="PartnersSendDataDebugResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PartnersSendDataDebugResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListOfUsersSoapIn">
      <wsdl:part name="parameters" element="tns:GetListOfUsers"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersSoapOut">
      <wsdl:part name="parameters" element="tns:GetListOfUsersResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesSoapIn">
      <wsdl:part name="parameters" element="tns:GetGenericTables"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesSoapOut">
      <wsdl:part name="parameters" element="tns:GetGenericTablesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetContractsInfo"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetContractsInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersXMLDocSoapIn">
      <wsdl:part name="parameters" element="tns:GetListOfUsersXMLDoc"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersXMLDocSoapOut">
      <wsdl:part name="parameters" element="tns:GetListOfUsersXMLDocResponse"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesXMLDocSoapIn">
      <wsdl:part name="parameters" element="tns:GetGenericTablesXMLDoc"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesXMLDocSoapOut">
      <wsdl:part name="parameters" element="tns:GetGenericTablesXMLDocResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoXMLDocSoapIn">
      <wsdl:part name="parameters" element="tns:GetContractsInfoXMLDoc"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoXMLDocSoapOut">
      <wsdl:part name="parameters" element="tns:GetContractsInfoXMLDocResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoWithoutDataArgumentXMLDocSoapIn">
      <wsdl:part name="parameters" element="tns:GetContractsInfoWithoutDataArgumentXMLDoc"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoWithoutDataArgumentXMLDocSoapOut">
      <wsdl:part name="parameters"
                 element="tns:GetContractsInfoWithoutDataArgumentXMLDocResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractsListSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetContractsList"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractsListSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetContractsListResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetContract"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetContractResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetContractMemo"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetContractMemoResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoLastNumberSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetContractMemoLastNumber"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoLastNumberSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetContractMemoLastNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntitySoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetEntity"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntitySoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetEntityResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoLastNumberSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetEntityMemoLastNumber"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoLastNumberSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetEntityMemoLastNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoSoapIn">
      <wsdl:part name="parameters" element="tns:PDAGetEntityMemo"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoSoapOut">
      <wsdl:part name="parameters" element="tns:PDAGetEntityMemoResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenReceiveSessionSoapIn">
      <wsdl:part name="parameters" element="tns:PalmOpenReceiveSession"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenReceiveSessionSoapOut">
      <wsdl:part name="parameters" element="tns:PalmOpenReceiveSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmReceiveXMLChunkSoapIn">
      <wsdl:part name="parameters" element="tns:PalmReceiveXMLChunk"/>
  </wsdl:message>
  <wsdl:message name="PalmReceiveXMLChunkSoapOut">
      <wsdl:part name="parameters" element="tns:PalmReceiveXMLChunkResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionNewSoapIn">
      <wsdl:part name="parameters" element="tns:PalmCloseReceiveSessionNew"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionNewSoapOut">
      <wsdl:part name="parameters" element="tns:PalmCloseReceiveSessionNewResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionSoapIn">
      <wsdl:part name="parameters" element="tns:PalmCloseReceiveSession"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionSoapOut">
      <wsdl:part name="parameters" element="tns:PalmCloseReceiveSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmSendXMLChunkSoapIn">
      <wsdl:part name="parameters" element="tns:PalmSendXMLChunk"/>
  </wsdl:message>
  <wsdl:message name="PalmSendXMLChunkSoapOut">
      <wsdl:part name="parameters" element="tns:PalmSendXMLChunkResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenSendSessionSoapIn">
      <wsdl:part name="parameters" element="tns:PalmOpenSendSession"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenSendSessionSoapOut">
      <wsdl:part name="parameters" element="tns:PalmOpenSendSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseSendSessionSoapIn">
      <wsdl:part name="parameters" element="tns:PalmCloseSendSession"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseSendSessionSoapOut">
      <wsdl:part name="parameters" element="tns:PalmCloseSendSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataSoapIn">
      <wsdl:part name="parameters" element="tns:PartnersSendData"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataSoapOut">
      <wsdl:part name="parameters" element="tns:PartnersSendDataResponse"/>
  </wsdl:message>
  <wsdl:message name="PartnersReceiveDataSoapIn">
      <wsdl:part name="parameters" element="tns:PartnersReceiveData"/>
  </wsdl:message>
  <wsdl:message name="PartnersReceiveDataSoapOut">
      <wsdl:part name="parameters" element="tns:PartnersReceiveDataResponse"/>
  </wsdl:message>
  <wsdl:message name="PartnersGetGenericTablesSoapIn">
      <wsdl:part name="parameters" element="tns:PartnersGetGenericTables"/>
  </wsdl:message>
  <wsdl:message name="PartnersGetGenericTablesSoapOut">
      <wsdl:part name="parameters" element="tns:PartnersGetGenericTablesResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateSampleContractsInfoXMLDataDocumentSoapIn">
      <wsdl:part name="parameters" element="tns:CreateSampleContractsInfoXMLDataDocument"/>
  </wsdl:message>
  <wsdl:message name="CreateSampleContractsInfoXMLDataDocumentSoapOut">
      <wsdl:part name="parameters"
                 element="tns:CreateSampleContractsInfoXMLDataDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataDebugSoapIn">
      <wsdl:part name="parameters" element="tns:PartnersSendDataDebug"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataDebugSoapOut">
      <wsdl:part name="parameters" element="tns:PartnersSendDataDebugResponse"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersXMLDocHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetListOfUsersXMLDocHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesXMLDocHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetGenericTablesXMLDocHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoXMLDocHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoXMLDocHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoWithoutDataArgumentXMLDocHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetContractsInfoWithoutDataArgumentXMLDocHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractsListHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractsListHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyContractCode" type="s:string"/>
      <wsdl:part name="MyStatusID" type="s:string"/>
      <wsdl:part name="MySubStatusID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyContractCode" type="s:string"/>
      <wsdl:part name="MyContractMemoNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoLastNumberHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyContractCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetContractMemoLastNumberHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyEntityCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoLastNumberHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyEntityCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoLastNumberHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyEntityCode" type="s:string"/>
      <wsdl:part name="MyEntityMemoNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PDAGetEntityMemoHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenReceiveSessionHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
      <wsdl:part name="MyRequestType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenReceiveSessionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmReceiveXMLChunkHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmReceiveXMLChunkHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionNewHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
      <wsdl:part name="MySequence" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionNewHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseReceiveSessionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmSendXMLChunkHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
      <wsdl:part name="MyData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmSendXMLChunkHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenSendSessionHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmOpenSendSessionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseSendSessionHttpPostIn">
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyUniqueNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PalmCloseSendSessionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyPartnerID" type="s:string"/>
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PartnersReceiveDataHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyPartnerID" type="s:string"/>
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
      <wsdl:part name="MyData" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PartnersReceiveDataHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PartnersGetGenericTablesHttpPostIn">
      <wsdl:part name="MyAccessCode" type="s:string"/>
      <wsdl:part name="MyPartnerID" type="s:string"/>
      <wsdl:part name="MyUserName" type="s:string"/>
      <wsdl:part name="MyPassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PartnersGetGenericTablesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CreateSampleContractsInfoXMLDataDocumentHttpPostIn"/>
  <wsdl:message name="CreateSampleContractsInfoXMLDataDocumentHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PartnersSendDataDebugHttpPostIn"/>
  <wsdl:message name="PartnersSendDataDebugHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="AGJJASyncSoap">
      <wsdl:operation name="GetListOfUsers">
         <wsdl:input message="tns:GetListOfUsersSoapIn"/>
         <wsdl:output message="tns:GetListOfUsersSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetGenericTables">
         <wsdl:input message="tns:GetGenericTablesSoapIn"/>
         <wsdl:output message="tns:GetGenericTablesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfo">
         <wsdl:input message="tns:GetContractsInfoSoapIn"/>
         <wsdl:output message="tns:GetContractsInfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetListOfUsersXMLDoc">
         <wsdl:input message="tns:GetListOfUsersXMLDocSoapIn"/>
         <wsdl:output message="tns:GetListOfUsersXMLDocSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetGenericTablesXMLDoc">
         <wsdl:input message="tns:GetGenericTablesXMLDocSoapIn"/>
         <wsdl:output message="tns:GetGenericTablesXMLDocSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfoXMLDoc">
         <wsdl:input message="tns:GetContractsInfoXMLDocSoapIn"/>
         <wsdl:output message="tns:GetContractsInfoXMLDocSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfoWithoutDataArgumentXMLDoc">
         <wsdl:input message="tns:GetContractsInfoWithoutDataArgumentXMLDocSoapIn"/>
         <wsdl:output message="tns:GetContractsInfoWithoutDataArgumentXMLDocSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractsList">
         <wsdl:input message="tns:PDAGetContractsListSoapIn"/>
         <wsdl:output message="tns:PDAGetContractsListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContract">
         <wsdl:input message="tns:PDAGetContractSoapIn"/>
         <wsdl:output message="tns:PDAGetContractSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractMemo">
         <wsdl:input message="tns:PDAGetContractMemoSoapIn"/>
         <wsdl:output message="tns:PDAGetContractMemoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractMemoLastNumber">
         <wsdl:input message="tns:PDAGetContractMemoLastNumberSoapIn"/>
         <wsdl:output message="tns:PDAGetContractMemoLastNumberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntity">
         <wsdl:input message="tns:PDAGetEntitySoapIn"/>
         <wsdl:output message="tns:PDAGetEntitySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntityMemoLastNumber">
         <wsdl:input message="tns:PDAGetEntityMemoLastNumberSoapIn"/>
         <wsdl:output message="tns:PDAGetEntityMemoLastNumberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntityMemo">
         <wsdl:input message="tns:PDAGetEntityMemoSoapIn"/>
         <wsdl:output message="tns:PDAGetEntityMemoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmOpenReceiveSession">
         <wsdl:input message="tns:PalmOpenReceiveSessionSoapIn"/>
         <wsdl:output message="tns:PalmOpenReceiveSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmReceiveXMLChunk">
         <wsdl:input message="tns:PalmReceiveXMLChunkSoapIn"/>
         <wsdl:output message="tns:PalmReceiveXMLChunkSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseReceiveSessionNew">
         <wsdl:input message="tns:PalmCloseReceiveSessionNewSoapIn"/>
         <wsdl:output message="tns:PalmCloseReceiveSessionNewSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseReceiveSession">
         <wsdl:input message="tns:PalmCloseReceiveSessionSoapIn"/>
         <wsdl:output message="tns:PalmCloseReceiveSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmSendXMLChunk">
         <wsdl:input message="tns:PalmSendXMLChunkSoapIn"/>
         <wsdl:output message="tns:PalmSendXMLChunkSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmOpenSendSession">
         <wsdl:input message="tns:PalmOpenSendSessionSoapIn"/>
         <wsdl:output message="tns:PalmOpenSendSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseSendSession">
         <wsdl:input message="tns:PalmCloseSendSessionSoapIn"/>
         <wsdl:output message="tns:PalmCloseSendSessionSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PartnersSendData">
         <wsdl:input message="tns:PartnersSendDataSoapIn"/>
         <wsdl:output message="tns:PartnersSendDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PartnersReceiveData">
         <wsdl:input message="tns:PartnersReceiveDataSoapIn"/>
         <wsdl:output message="tns:PartnersReceiveDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PartnersGetGenericTables">
         <wsdl:input message="tns:PartnersGetGenericTablesSoapIn"/>
         <wsdl:output message="tns:PartnersGetGenericTablesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateSampleContractsInfoXMLDataDocument">
         <wsdl:input message="tns:CreateSampleContractsInfoXMLDataDocumentSoapIn"/>
         <wsdl:output message="tns:CreateSampleContractsInfoXMLDataDocumentSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PartnersSendDataDebug">
         <wsdl:input message="tns:PartnersSendDataDebugSoapIn"/>
         <wsdl:output message="tns:PartnersSendDataDebugSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="AGJJASyncSoap" type="tns:AGJJASyncSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetListOfUsers">
         <soap:operation soapAction="http://tempuri.org/GetListOfUsers" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGenericTables">
         <soap:operation soapAction="http://tempuri.org/GetGenericTables" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfo">
         <soap:operation soapAction="http://tempuri.org/GetContractsInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetListOfUsersXMLDoc">
         <soap:operation soapAction="http://tempuri.org/GetListOfUsersXMLDoc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGenericTablesXMLDoc">
         <soap:operation soapAction="http://tempuri.org/GetGenericTablesXMLDoc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfoXMLDoc">
         <soap:operation soapAction="http://tempuri.org/GetContractsInfoXMLDoc" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetContractsInfoWithoutDataArgumentXMLDoc">
         <soap:operation soapAction="http://tempuri.org/GetContractsInfoWithoutDataArgumentXMLDoc"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractsList">
         <soap:operation soapAction="http://tempuri.org/PDAGetContractsList" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContract">
         <soap:operation soapAction="http://tempuri.org/PDAGetContract" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractMemo">
         <soap:operation soapAction="http://tempuri.org/PDAGetContractMemo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetContractMemoLastNumber">
         <soap:operation soapAction="http://tempuri.org/PDAGetContractMemoLastNumber" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntity">
         <soap:operation soapAction="http://tempuri.org/PDAGetEntity" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntityMemoLastNumber">
         <soap:operation soapAction="http://tempuri.org/PDAGetEntityMemoLastNumber" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PDAGetEntityMemo">
         <soap:operation soapAction="http://tempuri.org/PDAGetEntityMemo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmOpenReceiveSession">
         <soap:operation soapAction="http://tempuri.org/PalmOpenReceiveSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmReceiveXMLChunk">
         <soap:operation soapAction="http://tempuri.org/PalmReceiveXMLChunk" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseReceiveSessionNew">
         <soap:operation soapAction="http://tempuri.org/PalmCloseReceiveSessionNew" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseReceiveSession">
         <soap:operation soapAction="http://tempuri.org/PalmCloseReceiveSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmSendXMLChunk">
         <soap:operation soapAction="http://tempuri.org/PalmSendXMLChunk" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmOpenSendSession">
         <soap:operation soapAction="http://tempuri.org/PalmOpenSendSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PalmCloseSendSession">
         <soap:operation soapAction="http://tempuri.org/PalmCloseSendSession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PartnersSendData">
         <soap:operation soapAction="http://tempuri.org/PartnersSendData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PartnersReceiveData">
         <soap:operation soapAction="http://tempuri.org/PartnersReceiveData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PartnersGetGenericTables">
         <soap:operation soapAction="http://tempuri.org/PartnersGetGenericTables" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateSampleContractsInfoXMLDataDocument">
         <soap:operation soapAction="http://tempuri.org/CreateSampleContractsInfoXMLDataDocument"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PartnersSendDataDebug">
         <soap:operation soapAction="http://tempuri.org/PartnersSendDataDebug" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AGJJASync">
      <wsdl:port name="AGJJASyncSoap" binding="tns:AGJJASyncSoap">
         <soap:address location="http://ws.soatrader.com/jjactivos.com/0.1/AGJJASync"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>