wsdl_repositories/soatrader/aGLiveService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s1="http://microsoft.com/wsdl/types/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://microsoft.com/wsdl/types/"/>
         <s:element name="GetAccountDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsr" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAccountDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAccountDetailsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ScheduleEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stEventDetails">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="szEventName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="chExecType" type="s1:char"/>
               <s:element minOccurs="0" maxOccurs="1" name="dtDateTime" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szUser" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="inTotalUsers" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="inTotalMinutes" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="chType" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="blExtdByMin" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="inExtdMin" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="blShwTmr" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="chVidWin" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="chMaxBnd" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="blExtdByUser" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="inExtdUsers" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="szUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szViewerURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szRecUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szCoreUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szDescription" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="lnSesCod" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="szUsrNam" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szPwd" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szPassCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="btTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="1" maxOccurs="1" name="inPingTime" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="szDefaultTab" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="blnRecodingReplayFromFCS" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="_btAttendeeTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="1" maxOccurs="1" name="_tzPresenterTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="0" maxOccurs="1" name="_strAttendeeFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="_strPresenterFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="_CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="_AttendeeName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="_PresenterName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="_PredefinedAudioQuality" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="_blnTimerType" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="inCategoryNumber" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="strPresenterLabel" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="EndSessionRequired" type="tns:enmEndSession"/>
               <s:element minOccurs="1" maxOccurs="1" name="DisplayAttendeeLoginLogout"
                          type="tns:enmDisplayLoginLogoutType"/>
               <s:element minOccurs="1" maxOccurs="1" name="BrowserCloseMsg" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="0" maxOccurs="1" name="SupportURL" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="blnAttendeeContent" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="MathToolBar" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChatAlertSound" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowErase" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="0" maxOccurs="1" name="szReviewUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EnablePrivateChat" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VideoSharing" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrintRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SmileysRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowConnStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowDisableChatButton" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecureLogin" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="enmEndSession">
            <s:restriction base="s:string">
               <s:enumeration value="enNotSet"/>
               <s:enumeration value="enTrue"/>
               <s:enumeration value="enFalse"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="enmDisplayLoginLogoutType">
            <s:restriction base="s:string">
               <s:enumeration value="enNotSet"/>
               <s:enumeration value="enDisplay"/>
               <s:enumeration value="enNone"/>
               <s:enumeration value="enDisplayWithSound"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="enmAGLIVEbool">
            <s:restriction base="s:string">
               <s:enumeration value="enNotSet"/>
               <s:enumeration value="enTrue"/>
               <s:enumeration value="enFalse"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="ScheduleEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ScheduleEventResult" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UpdateEventResult" type="s:boolean"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteEventResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventByStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="penmEventSta" type="tns:enmEventStatus"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:simpleType name="enmEventStatus">
            <s:restriction base="s:string">
               <s:enumeration value="enDone"/>
               <s:enumeration value="enExpired"/>
               <s:enumeration value="enInProgress"/>
               <s:enumeration value="enScheduled"/>
               <s:enumeration value="enAll"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetEventByStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventByStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pinEventCode" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddEventExtdDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSesExtdDet" type="tns:stSesExtdDet"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stSesExtdDet">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="inSesCod" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="inExtdMin" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="inExtdUsr" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="chExecTyp" type="s1:char"/>
               <s:element minOccurs="0" maxOccurs="1" name="szUsrNam" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szPwd" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddEventExtdDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddEventExtdDetailsResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddSurvey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stSurveyDetails">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="chExecType" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="inSurveyCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="inSessionCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="szUsrNam" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szPassword" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddSurveyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddSurveyResult" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSurvey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSurveyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DeleteSurveyResult" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSurvey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UpdateSurveyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="UpdateSurveyResult" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveyDetails" type="tns:stSurveyDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddSurveySession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveySession" type="tns:stSurveySession"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stSurveySession">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="szUserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szPassword" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="inSurCod" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="szQuestion" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="szAnswers" type="tns:ArrayOfString"/>
               <s:element minOccurs="1" maxOccurs="1" name="inTotalAnswers" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="chExecType" type="s1:char"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddSurveySessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddSurveySessionResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSurveySession">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstSurveySession" type="tns:stSurveySession"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteSurveySessionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="DeleteSurveySessionResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSurvey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pinSurCod" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSurveyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSurveyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSurvey">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSurveyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllSurveyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UploadFileTxt">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="btData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszFilName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="plnEveCod" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszTextFileName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="p_strException" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UploadFileTxtResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UploadFileTxtResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UploadFile">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="btData" type="s:base64Binary"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszFilName" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="plnEveCod" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UploadFileResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventTypes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventTypesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVideoWindowTypes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVideoWindowTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVideoWindowTypesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBandWidthTypes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBandWidthTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBandWidthTypesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pstEventDet" type="tns:stEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateEventResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventCategories">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pinCatNum" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventCategoriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventCategoriesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeZones">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeZonesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTimeZonesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTimeZone">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="penTimeZones" type="tns:ArrayOfEnmTimeZones"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfEnmTimeZones">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="enmTimeZones" type="tns:enmTimeZones"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="enmTimeZones">
            <s:restriction base="s:string">
               <s:enumeration value="enPST"/>
               <s:enumeration value="enCAST"/>
               <s:enumeration value="enCST"/>
               <s:enumeration value="enEST"/>
               <s:enumeration value="enMST"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetTimeZoneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTimeZoneResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="plnSesCod" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSessionStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserExperienceDataForReports">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="plnSesCod" type="s:long"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserExperienceDataForReportsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserExperienceDataForReportsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBandwidthDataForReportsForMultipleIDs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="plnSesCod" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBandwidthDataForReportsForMultipleIDsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="GetBandwidthDataForReportsForMultipleIDsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="szXMLNode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="szXMLSchema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllSessionStatusResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionStatus_DS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="szXMLNode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="szXMLSchema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionStatus_DSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllSessionStatus_DSResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConvertDate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pinTimeZoneFrom" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pintTimeZoneTo" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pdtDate" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConvertDateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ConvertDateResult" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentServerTime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pinTimeZoneFrom" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pintTimeZoneTo" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pdtDate" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentServerTimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetCurrentServerTimeResult" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConvertDateFromString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="pinTimeZoneFrom" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pintTimeZoneTo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pdtDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ConvertDateFromStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ConvertDateFromStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPresenterStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inSessionCode" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPresenterStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetPresenterStatusResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionRecordingStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inSessionCode" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionRecordingStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetSessionRecordingStatusResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionRecordingStatus_DS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszXmlNode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszXmlSchema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllSessionRecordingStatus_DSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllSessionRecordingStatus_DSResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionsLoginLogoutTime_DS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszXmlNode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszXmlSchema" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionsLoginLogoutTime_DSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSessionsLoginLogoutTime_DSResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAttendeeStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pszUsrNam" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="pszPwd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inSessionCode" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAttendeeStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetAttendeeStatusResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAccountUsage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="p_stReportDet" type="tns:stReportDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stReportDetails">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="dtmStartDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dtmEndDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="enmReportType" type="tns:enmReport"/>
               <s:element minOccurs="1" maxOccurs="1" name="enmGroupBy" type="tns:enmGroup"/>
               <s:element minOccurs="0" maxOccurs="1" name="strXmlSessions" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strXmlSchema" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strUserCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="enmReport">
            <s:restriction base="s:string">
               <s:enumeration value="enmNotSet"/>
               <s:enumeration value="enmConsolidated"/>
               <s:enumeration value="enmDetailed"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="enmGroup">
            <s:restriction base="s:string">
               <s:enumeration value="enmNotSet"/>
               <s:enumeration value="enmSessionWise"/>
               <s:enumeration value="enmUserWise"/>
               <s:enumeration value="enmDateWise"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetAccountUsageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAccountUsageResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionLogs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="p_stReportDet" type="tns:stSessionReport"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stSessionReport">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="dtmStartDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dtmEndDate" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="enmReportType" type="tns:enmReport"/>
               <s:element minOccurs="0" maxOccurs="1" name="strXmlSessions" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strXmlSchema" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="strUserCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetSessionLogsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSessionLogsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ScheduleNewEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EventDetails" type="tns:stNewEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stNewEventDetails">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsExtendableByMins" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="ExtendedMins" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxUsers" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="VideoSize" type="tns:enmSize"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeList" type="tns:ArrayOfString"/>
               <s:element minOccurs="1" maxOccurs="1" name="PingTime" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowTimer" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="DefaultTab" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="RecodingReplay" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="AttendeeTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="1" maxOccurs="1" name="PresenterTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SupportURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="AudioQuality" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimerType" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="CategoryNumber" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterLabel" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="EndSessionRequired" type="tns:enmEndSession"/>
               <s:element minOccurs="1" maxOccurs="1" name="DisplayAttendeeLoginLogout"
                          type="tns:enmDisplayLoginLogoutType"/>
               <s:element minOccurs="1" maxOccurs="1" name="BrowserCloseMsg" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="AttendeeContent" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="MathToolBar" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChatAlertSound" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowEraser" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="0" maxOccurs="1" name="EnablePrivateChat" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VideoSharing" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrintRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SmileysRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowConnStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowDisableChatButton" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecureLogin" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="enmSize">
            <s:restriction base="s:string">
               <s:enumeration value="NotSet"/>
               <s:enumeration value="Small"/>
               <s:enumeration value="Large"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="ScheduleNewEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ScheduleNewEventResult"
                             type="tns:stEventInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stEventInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SessionCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RecordingUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CommonAttendeeUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReviewSessionUrl" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeUrls" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="UpdateNewEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="EventDetails" type="tns:stUpdateEventDetails"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stUpdateEventDetails">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="SessionCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeZone" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsExtendableByMins" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="ExtendedMins" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxUsers" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="VideoSize" type="tns:enmSize"/>
               <s:element minOccurs="1" maxOccurs="1" name="PingTime" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowTimer" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="DefaultTab" type="s1:char"/>
               <s:element minOccurs="1" maxOccurs="1" name="RecodingReplay" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="AttendeeTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="1" maxOccurs="1" name="PresenterTimeZone" type="s:unsignedByte"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterFeedbackURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SupportURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterName" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="AttendeeContent" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="AudioQuality" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimerType" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="CategoryNumber" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="PresenterLabel" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="EndSessionRequired" type="tns:enmEndSession"/>
               <s:element minOccurs="1" maxOccurs="1" name="DisplayAttendeeLoginLogout"
                          type="tns:enmDisplayLoginLogoutType"/>
               <s:element minOccurs="1" maxOccurs="1" name="BrowserCloseMsg" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="blnAttendeeContent" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="MathToolBar" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChatAlertSound" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="1" maxOccurs="1" name="ShowEraser" type="tns:enmAGLIVEbool"/>
               <s:element minOccurs="0" maxOccurs="1" name="EnablePrivateChat" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyURL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VideoSharing" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrintRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SmileysRequired" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowConnStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ShowDisableChatButton" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SecureLogin" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="UpdateNewEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UpdateNewEventResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddAttendee">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AttendeeList" type="tns:stAttendeeList"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stAttendeeList">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SessionCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeList" type="tns:ArrayOfString"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddAttendeeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AddAttendeeResult" type="tns:stAttendeeInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stAttendeeInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SessionCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="AttendeeUrls" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="RemoveAttendee">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AttendeeList" type="tns:stAttendeeList"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveAttendeeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="RemoveAttendeeResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetErrorCodes">
            <s:complexType/>
         </s:element>
         <s:element name="GetErrorCodesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetErrorCodesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSessionAttendees">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Account" type="tns:stAccountInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="stAccountInfo">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="SessionCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetSessionAttendeesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSessionAttendeesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAttendeeUrl">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="AttendeeList" type="tns:stAttendeeList"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAttendeeUrlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetAttendeeUrlResult"
                             type="tns:stAttendeeInfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://microsoft.com/wsdl/types/">
         <s:simpleType name="char">
            <s:restriction base="s:unsignedShort"/>
         </s:simpleType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAccountDetails"/>
  </wsdl:message>
  <wsdl:message name="GetAccountDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAccountDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="ScheduleEventSoapIn">
      <wsdl:part name="parameters" element="tns:ScheduleEvent"/>
  </wsdl:message>
  <wsdl:message name="ScheduleEventSoapOut">
      <wsdl:part name="parameters" element="tns:ScheduleEventResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateEvent"/>
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateEventResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteEventSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteEvent"/>
  </wsdl:message>
  <wsdl:message name="DeleteEventSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteEventResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventByStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetEventByStatus"/>
  </wsdl:message>
  <wsdl:message name="GetEventByStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventByStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventSoapIn">
      <wsdl:part name="parameters" element="tns:GetEvent"/>
  </wsdl:message>
  <wsdl:message name="GetEventSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventResponse"/>
  </wsdl:message>
  <wsdl:message name="AddEventExtdDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:AddEventExtdDetails"/>
  </wsdl:message>
  <wsdl:message name="AddEventExtdDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:AddEventExtdDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="AddSurveySoapIn">
      <wsdl:part name="parameters" element="tns:AddSurvey"/>
  </wsdl:message>
  <wsdl:message name="AddSurveySoapOut">
      <wsdl:part name="parameters" element="tns:AddSurveyResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteSurveySoapIn">
      <wsdl:part name="parameters" element="tns:DeleteSurvey"/>
  </wsdl:message>
  <wsdl:message name="DeleteSurveySoapOut">
      <wsdl:part name="parameters" element="tns:DeleteSurveyResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateSurveySoapIn">
      <wsdl:part name="parameters" element="tns:UpdateSurvey"/>
  </wsdl:message>
  <wsdl:message name="UpdateSurveySoapOut">
      <wsdl:part name="parameters" element="tns:UpdateSurveyResponse"/>
  </wsdl:message>
  <wsdl:message name="AddSurveySessionSoapIn">
      <wsdl:part name="parameters" element="tns:AddSurveySession"/>
  </wsdl:message>
  <wsdl:message name="AddSurveySessionSoapOut">
      <wsdl:part name="parameters" element="tns:AddSurveySessionResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteSurveySessionSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteSurveySession"/>
  </wsdl:message>
  <wsdl:message name="DeleteSurveySessionSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteSurveySessionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSurveySoapIn">
      <wsdl:part name="parameters" element="tns:GetSurvey"/>
  </wsdl:message>
  <wsdl:message name="GetSurveySoapOut">
      <wsdl:part name="parameters" element="tns:GetSurveyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllSurveySoapIn">
      <wsdl:part name="parameters" element="tns:GetAllSurvey"/>
  </wsdl:message>
  <wsdl:message name="GetAllSurveySoapOut">
      <wsdl:part name="parameters" element="tns:GetAllSurveyResponse"/>
  </wsdl:message>
  <wsdl:message name="UploadFileTxtSoapIn">
      <wsdl:part name="parameters" element="tns:UploadFileTxt"/>
  </wsdl:message>
  <wsdl:message name="UploadFileTxtSoapOut">
      <wsdl:part name="parameters" element="tns:UploadFileTxtResponse"/>
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
      <wsdl:part name="parameters" element="tns:UploadFile"/>
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
      <wsdl:part name="parameters" element="tns:UploadFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetEventTypes"/>
  </wsdl:message>
  <wsdl:message name="GetEventTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVideoWindowTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetVideoWindowTypes"/>
  </wsdl:message>
  <wsdl:message name="GetVideoWindowTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetVideoWindowTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBandWidthTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetBandWidthTypes"/>
  </wsdl:message>
  <wsdl:message name="GetBandWidthTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetBandWidthTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateEventSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateEvent"/>
  </wsdl:message>
  <wsdl:message name="ValidateEventSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateEventResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventCategoriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetEventCategories"/>
  </wsdl:message>
  <wsdl:message name="GetEventCategoriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventCategoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZonesSoapIn">
      <wsdl:part name="parameters" element="tns:GetTimeZones"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZonesSoapOut">
      <wsdl:part name="parameters" element="tns:GetTimeZonesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZoneSoapIn">
      <wsdl:part name="parameters" element="tns:GetTimeZone"/>
  </wsdl:message>
  <wsdl:message name="GetTimeZoneSoapOut">
      <wsdl:part name="parameters" element="tns:GetTimeZoneResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSessionStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetSessionStatus"/>
  </wsdl:message>
  <wsdl:message name="GetSessionStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetSessionStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserExperienceDataForReportsSoapIn">
      <wsdl:part name="parameters" element="tns:GetUserExperienceDataForReports"/>
  </wsdl:message>
  <wsdl:message name="GetUserExperienceDataForReportsSoapOut">
      <wsdl:part name="parameters" element="tns:GetUserExperienceDataForReportsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBandwidthDataForReportsForMultipleIDsSoapIn">
      <wsdl:part name="parameters" element="tns:GetBandwidthDataForReportsForMultipleIDs"/>
  </wsdl:message>
  <wsdl:message name="GetBandwidthDataForReportsForMultipleIDsSoapOut">
      <wsdl:part name="parameters"
                 element="tns:GetBandwidthDataForReportsForMultipleIDsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllSessionStatus"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllSessionStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionStatus_DSSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllSessionStatus_DS"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionStatus_DSSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllSessionStatus_DSResponse"/>
  </wsdl:message>
  <wsdl:message name="ConvertDateSoapIn">
      <wsdl:part name="parameters" element="tns:ConvertDate"/>
  </wsdl:message>
  <wsdl:message name="ConvertDateSoapOut">
      <wsdl:part name="parameters" element="tns:ConvertDateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentServerTimeSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentServerTime"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentServerTimeSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentServerTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="ConvertDateFromStringSoapIn">
      <wsdl:part name="parameters" element="tns:ConvertDateFromString"/>
  </wsdl:message>
  <wsdl:message name="ConvertDateFromStringSoapOut">
      <wsdl:part name="parameters" element="tns:ConvertDateFromStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPresenterStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetPresenterStatus"/>
  </wsdl:message>
  <wsdl:message name="GetPresenterStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetPresenterStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSessionRecordingStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetSessionRecordingStatus"/>
  </wsdl:message>
  <wsdl:message name="GetSessionRecordingStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetSessionRecordingStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionRecordingStatus_DSSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllSessionRecordingStatus_DS"/>
  </wsdl:message>
  <wsdl:message name="GetAllSessionRecordingStatus_DSSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllSessionRecordingStatus_DSResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSessionsLoginLogoutTime_DSSoapIn">
      <wsdl:part name="parameters" element="tns:GetSessionsLoginLogoutTime_DS"/>
  </wsdl:message>
  <wsdl:message name="GetSessionsLoginLogoutTime_DSSoapOut">
      <wsdl:part name="parameters" element="tns:GetSessionsLoginLogoutTime_DSResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAttendeeStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetAttendeeStatus"/>
  </wsdl:message>
  <wsdl:message name="GetAttendeeStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetAttendeeStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAccountUsageSoapIn">
      <wsdl:part name="parameters" element="tns:GetAccountUsage"/>
  </wsdl:message>
  <wsdl:message name="GetAccountUsageSoapOut">
      <wsdl:part name="parameters" element="tns:GetAccountUsageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSessionLogsSoapIn">
      <wsdl:part name="parameters" element="tns:GetSessionLogs"/>
  </wsdl:message>
  <wsdl:message name="GetSessionLogsSoapOut">
      <wsdl:part name="parameters" element="tns:GetSessionLogsResponse"/>
  </wsdl:message>
  <wsdl:message name="ScheduleNewEventSoapIn">
      <wsdl:part name="parameters" element="tns:ScheduleNewEvent"/>
  </wsdl:message>
  <wsdl:message name="ScheduleNewEventSoapOut">
      <wsdl:part name="parameters" element="tns:ScheduleNewEventResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateNewEventSoapIn">
      <wsdl:part name="parameters" element="tns:UpdateNewEvent"/>
  </wsdl:message>
  <wsdl:message name="UpdateNewEventSoapOut">
      <wsdl:part name="parameters" element="tns:UpdateNewEventResponse"/>
  </wsdl:message>
  <wsdl:message name="AddAttendeeSoapIn">
      <wsdl:part name="parameters" element="tns:AddAttendee"/>
  </wsdl:message>
  <wsdl:message name="AddAttendeeSoapOut">
      <wsdl:part name="parameters" element="tns:AddAttendeeResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveAttendeeSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveAttendee"/>
  </wsdl:message>
  <wsdl:message name="RemoveAttendeeSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveAttendeeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetErrorCodesSoapIn">
      <wsdl:part name="parameters" element="tns:GetErrorCodes"/>
  </wsdl:message>
  <wsdl:message name="GetErrorCodesSoapOut">
      <wsdl:part name="parameters" element="tns:GetErrorCodesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSessionAttendeesSoapIn">
      <wsdl:part name="parameters" element="tns:GetSessionAttendees"/>
  </wsdl:message>
  <wsdl:message name="GetSessionAttendeesSoapOut">
      <wsdl:part name="parameters" element="tns:GetSessionAttendeesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAttendeeUrlSoapIn">
      <wsdl:part name="parameters" element="tns:GetAttendeeUrl"/>
  </wsdl:message>
  <wsdl:message name="GetAttendeeUrlSoapOut">
      <wsdl:part name="parameters" element="tns:GetAttendeeUrlResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="aGLiveServiceSoap" type="tns:aGLiveServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetAccountDetails">
         <soap:operation soapAction="http://tempuri.org/GetAccountDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ScheduleEvent">
         <soap:operation soapAction="http://tempuri.org/ScheduleEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateEvent">
         <soap:operation soapAction="http://tempuri.org/UpdateEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteEvent">
         <soap:operation soapAction="http://tempuri.org/DeleteEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEventByStatus">
         <soap:operation soapAction="http://tempuri.org/GetEventByStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEvent">
         <soap:operation soapAction="http://tempuri.org/GetEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddEventExtdDetails">
         <soap:operation soapAction="http://tempuri.org/AddEventExtdDetails" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddSurvey">
         <soap:operation soapAction="http://tempuri.org/AddSurvey" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteSurvey">
         <soap:operation soapAction="http://tempuri.org/DeleteSurvey" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateSurvey">
         <soap:operation soapAction="http://tempuri.org/UpdateSurvey" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddSurveySession">
         <soap:operation soapAction="http://tempuri.org/AddSurveySession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteSurveySession">
         <soap:operation soapAction="http://tempuri.org/DeleteSurveySession" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSurvey">
         <soap:operation soapAction="http://tempuri.org/GetSurvey" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllSurvey">
         <soap:operation soapAction="http://tempuri.org/GetAllSurvey" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UploadFileTxt">
         <soap:operation soapAction="http://tempuri.org/UploadFileTxt" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UploadFile">
         <soap:operation soapAction="http://tempuri.org/UploadFile" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEventTypes">
         <soap:operation soapAction="http://tempuri.org/GetEventTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVideoWindowTypes">
         <soap:operation soapAction="http://tempuri.org/GetVideoWindowTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBandWidthTypes">
         <soap:operation soapAction="http://tempuri.org/GetBandWidthTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateEvent">
         <soap:operation soapAction="http://tempuri.org/ValidateEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEventCategories">
         <soap:operation soapAction="http://tempuri.org/GetEventCategories" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTimeZones">
         <soap:operation soapAction="http://tempuri.org/GetTimeZones" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTimeZone">
         <soap:operation soapAction="http://tempuri.org/GetTimeZone" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSessionStatus">
         <soap:operation soapAction="http://tempuri.org/GetSessionStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserExperienceDataForReports">
         <soap:operation soapAction="http://tempuri.org/GetUserExperienceDataForReports"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBandwidthDataForReportsForMultipleIDs">
         <soap:operation soapAction="http://tempuri.org/GetBandwidthDataForReportsForMultipleIDs"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllSessionStatus">
         <soap:operation soapAction="http://tempuri.org/GetAllSessionStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllSessionStatus_DS">
         <soap:operation soapAction="http://tempuri.org/GetAllSessionStatus_DS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ConvertDate">
         <soap:operation soapAction="http://tempuri.org/ConvertDate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentServerTime">
         <soap:operation soapAction="http://tempuri.org/GetCurrentServerTime" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ConvertDateFromString">
         <soap:operation soapAction="http://tempuri.org/ConvertDateFromString" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPresenterStatus">
         <soap:operation soapAction="http://tempuri.org/GetPresenterStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSessionRecordingStatus">
         <soap:operation soapAction="http://tempuri.org/GetSessionRecordingStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllSessionRecordingStatus_DS">
         <soap:operation soapAction="http://tempuri.org/GetAllSessionRecordingStatus_DS"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSessionsLoginLogoutTime_DS">
         <soap:operation soapAction="http://tempuri.org/GetSessionsLoginLogoutTime_DS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAttendeeStatus">
         <soap:operation soapAction="http://tempuri.org/GetAttendeeStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAccountUsage">
         <soap:operation soapAction="http://tempuri.org/GetAccountUsage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSessionLogs">
         <soap:operation soapAction="http://tempuri.org/GetSessionLogs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ScheduleNewEvent">
         <soap:operation soapAction="http://tempuri.org/ScheduleNewEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="UpdateNewEvent">
         <soap:operation soapAction="http://tempuri.org/UpdateNewEvent" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddAttendee">
         <soap:operation soapAction="http://tempuri.org/AddAttendee" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveAttendee">
         <soap:operation soapAction="http://tempuri.org/RemoveAttendee" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetErrorCodes">
         <soap:operation soapAction="http://tempuri.org/GetErrorCodes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSessionAttendees">
         <soap:operation soapAction="http://tempuri.org/GetSessionAttendees" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAttendeeUrl">
         <soap:operation soapAction="http://tempuri.org/GetAttendeeUrl" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="aGLiveService">
      <wsdl:port name="aGLiveServiceSoap" binding="tns:aGLiveServiceSoap">
         <soap:address location="http://ws.soatrader.com/authorlive.com/0.1/aGLiveService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>