wsdl_repositories/soatrader/AjaxCalls.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.townhall.com/services/AjaxCalls.asmx"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.townhall.com/services/AjaxCalls.asmx">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.townhall.com/services/AjaxCalls.asmx">
         <s:element name="SubmitOffer">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="offerIDs" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitOfferResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubmitOfferResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignupSRNUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="allowReJoin" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignupSRNUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SignupSRNUserResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignupUser">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="allowReJoin" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SignupUserResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SignupUserResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCommentCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCommentCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCommentCountResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBadWord">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckBadWordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckBadWordResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllUserBlogTemplates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="templateId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllUserBlogTemplatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllUserBlogTemplatesResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveModifiedBlogTemplate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="templateId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveModifiedBlogTemplateResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetCurrentUserBlogTemplate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="BlogGuid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCurrentUserBlogTemplateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserBlogTemplateResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBlogAuthors">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBlogAuthorsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBlogAuthorsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogAuthor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogAuthorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveBlogAuthorResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserBiography">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetUserBiographyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetUserBiographyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveUserBiographyEdits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="modifiedBio" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveUserBiographyEditsResponse">
            <s:complexType/>
         </s:element>
         <s:element name="InviteBlogAuthor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InviteBlogAuthorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="InviteBlogAuthorResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditBlogAuthor">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="rights" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditBlogAuthorResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditBlogAuthorResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBlogRoll">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBlogRollResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBlogRollResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddBlogRollCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddBlogRollCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddBlogRollCategoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditCategoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogRollCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogRollCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveBlogRollCategoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddBlogRollItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddBlogRollItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddBlogRollItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MoveBlogRollCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="direction" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MoveBlogRollCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MoveBlogRollCategoryResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MoveBlogRollItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="itemGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="MoveBlogRollItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MoveBlogRollItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditBlogRollItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rollGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="EditBlogRollItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EditBlogRollItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogRollItem">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="blogGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rollGuid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RemoveBlogRollItemResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RemoveBlogRollItemResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitPollVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitPollVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubmitPollVoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSitePollVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitSitePollVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubmitSitePollVoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVideoGuid">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="clipId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVideoGuidResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVideoGuidResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDaysWithEvents">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDaysWithEventsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDaysWithEventsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Flag">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FlagResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetFooterData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="section" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFooterDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFooterDataResult" type="tns:FooterData"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="FooterData">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="VideoHref" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FeaturedStory" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StoryList" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="VideoList" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetVideoData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="section" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVideoDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVideoDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSidebarVideoData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="section" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSidebarVideoDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSidebarVideoDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contentGuid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contentGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubmitVoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitVideoVote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contentGuid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubmitVideoVoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubmitVideoVoteResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMagazine">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="addresses" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="save" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMagazineResponse">
            <s:complexType/>
         </s:element>
         <s:element name="Send">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="addresses" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="save" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendResponse">
            <s:complexType/>
         </s:element>
         <s:element name="VideoComment">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contentGuid" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VideoCommentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VideoCommentResult" type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetComments">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sortDir" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCommentsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCommentsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Test">
            <s:complexType/>
         </s:element>
         <s:element name="TestResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="FooterData" nillable="true" type="tns:FooterData"/>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitOfferSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitOffer"/>
  </wsdl:message>
  <wsdl:message name="SubmitOfferSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitOfferResponse"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserSoapIn">
      <wsdl:part name="parameters" element="tns:SignupSRNUser"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserSoapOut">
      <wsdl:part name="parameters" element="tns:SignupSRNUserResponse"/>
  </wsdl:message>
  <wsdl:message name="SignupUserSoapIn">
      <wsdl:part name="parameters" element="tns:SignupUser"/>
  </wsdl:message>
  <wsdl:message name="SignupUserSoapOut">
      <wsdl:part name="parameters" element="tns:SignupUserResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetCommentCount"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetCommentCountResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordSoapIn">
      <wsdl:part name="parameters" element="tns:CheckBadWord"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordSoapOut">
      <wsdl:part name="parameters" element="tns:CheckBadWordResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllUserBlogTemplates"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllUserBlogTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateSoapIn">
      <wsdl:part name="parameters" element="tns:SaveModifiedBlogTemplate"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateSoapOut">
      <wsdl:part name="parameters" element="tns:SaveModifiedBlogTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentUserBlogTemplateSoapIn">
      <wsdl:part name="parameters" element="tns:GetCurrentUserBlogTemplate"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentUserBlogTemplateSoapOut">
      <wsdl:part name="parameters" element="tns:GetCurrentUserBlogTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsSoapIn">
      <wsdl:part name="parameters" element="tns:GetBlogAuthors"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsSoapOut">
      <wsdl:part name="parameters" element="tns:GetBlogAuthorsResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveBlogAuthor"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveBlogAuthorResponse"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographySoapIn">
      <wsdl:part name="parameters" element="tns:GetUserBiography"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographySoapOut">
      <wsdl:part name="parameters" element="tns:GetUserBiographyResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveUserBiographyEdits"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveUserBiographyEditsResponse"/>
  </wsdl:message>
  <wsdl:message name="InviteBlogAuthorSoapIn">
      <wsdl:part name="parameters" element="tns:InviteBlogAuthor"/>
  </wsdl:message>
  <wsdl:message name="InviteBlogAuthorSoapOut">
      <wsdl:part name="parameters" element="tns:InviteBlogAuthorResponse"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorSoapIn">
      <wsdl:part name="parameters" element="tns:EditBlogAuthor"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorSoapOut">
      <wsdl:part name="parameters" element="tns:EditBlogAuthorResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollSoapIn">
      <wsdl:part name="parameters" element="tns:GetBlogRoll"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollSoapOut">
      <wsdl:part name="parameters" element="tns:GetBlogRollResponse"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategorySoapIn">
      <wsdl:part name="parameters" element="tns:AddBlogRollCategory"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategorySoapOut">
      <wsdl:part name="parameters" element="tns:AddBlogRollCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="EditCategorySoapIn">
      <wsdl:part name="parameters" element="tns:EditCategory"/>
  </wsdl:message>
  <wsdl:message name="EditCategorySoapOut">
      <wsdl:part name="parameters" element="tns:EditCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategorySoapIn">
      <wsdl:part name="parameters" element="tns:RemoveBlogRollCategory"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategorySoapOut">
      <wsdl:part name="parameters" element="tns:RemoveBlogRollCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemSoapIn">
      <wsdl:part name="parameters" element="tns:AddBlogRollItem"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemSoapOut">
      <wsdl:part name="parameters" element="tns:AddBlogRollItemResponse"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategorySoapIn">
      <wsdl:part name="parameters" element="tns:MoveBlogRollCategory"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategorySoapOut">
      <wsdl:part name="parameters" element="tns:MoveBlogRollCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemSoapIn">
      <wsdl:part name="parameters" element="tns:MoveBlogRollItem"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemSoapOut">
      <wsdl:part name="parameters" element="tns:MoveBlogRollItemResponse"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemSoapIn">
      <wsdl:part name="parameters" element="tns:EditBlogRollItem"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemSoapOut">
      <wsdl:part name="parameters" element="tns:EditBlogRollItemResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemSoapIn">
      <wsdl:part name="parameters" element="tns:RemoveBlogRollItem"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemSoapOut">
      <wsdl:part name="parameters" element="tns:RemoveBlogRollItemResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitPollVote"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitPollVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitSitePollVote"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitSitePollVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidSoapIn">
      <wsdl:part name="parameters" element="tns:GetVideoGuid"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidSoapOut">
      <wsdl:part name="parameters" element="tns:GetVideoGuidResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsSoapIn">
      <wsdl:part name="parameters" element="tns:GetDaysWithEvents"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsSoapOut">
      <wsdl:part name="parameters" element="tns:GetDaysWithEventsResponse"/>
  </wsdl:message>
  <wsdl:message name="FlagSoapIn">
      <wsdl:part name="parameters" element="tns:Flag"/>
  </wsdl:message>
  <wsdl:message name="FlagSoapOut">
      <wsdl:part name="parameters" element="tns:FlagResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFooterDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetFooterData"/>
  </wsdl:message>
  <wsdl:message name="GetFooterDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetFooterDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetVideoData"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetVideoDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetSidebarVideoData"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetSidebarVideoDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVoteSoapIn">
      <wsdl:part name="parameters" element="tns:GetVote"/>
  </wsdl:message>
  <wsdl:message name="GetVoteSoapOut">
      <wsdl:part name="parameters" element="tns:GetVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitVote"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteSoapIn">
      <wsdl:part name="parameters" element="tns:SubmitVideoVote"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteSoapOut">
      <wsdl:part name="parameters" element="tns:SubmitVideoVoteResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineSoapIn">
      <wsdl:part name="parameters" element="tns:SendMagazine"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineSoapOut">
      <wsdl:part name="parameters" element="tns:SendMagazineResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
      <wsdl:part name="parameters" element="tns:Send"/>
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
      <wsdl:part name="parameters" element="tns:SendResponse"/>
  </wsdl:message>
  <wsdl:message name="VideoCommentSoapIn">
      <wsdl:part name="parameters" element="tns:VideoComment"/>
  </wsdl:message>
  <wsdl:message name="VideoCommentSoapOut">
      <wsdl:part name="parameters" element="tns:VideoCommentResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsSoapIn">
      <wsdl:part name="parameters" element="tns:GetComments"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsSoapOut">
      <wsdl:part name="parameters" element="tns:GetCommentsResponse"/>
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
      <wsdl:part name="parameters" element="tns:Test"/>
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
      <wsdl:part name="parameters" element="tns:TestResponse"/>
  </wsdl:message>
  <wsdl:message name="SubmitOfferHttpGetIn">
      <wsdl:part name="offerIDs" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="siteId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitOfferHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserHttpGetIn">
      <wsdl:part name="allowReJoin" type="s:string"/>
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SignupUserHttpGetIn">
      <wsdl:part name="allowReJoin" type="s:string"/>
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SignupUserHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountHttpGetIn">
      <wsdl:part name="guid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordHttpGetIn">
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesHttpGetIn">
      <wsdl:part name="templateId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="templateId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateHttpGetOut"/>
  <wsdl:message name="GetCurrentUserBlogTemplateHttpGetIn">
      <wsdl:part name="BlogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentUserBlogTemplateHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographyHttpGetIn">
      <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographyHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsHttpGetIn">
      <wsdl:part name="userId" type="s:string"/>
      <wsdl:part name="modifiedBio" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsHttpGetOut"/>
  <wsdl:message name="InviteBlogAuthorHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InviteBlogAuthorHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="userId" type="s:string"/>
      <wsdl:part name="rights" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategoryHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategoryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditCategoryHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditCategoryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategoryHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategoryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategoryHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="direction" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategoryHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="itemGuid" type="s:string"/>
      <wsdl:part name="pos" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="rollGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemHttpGetIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="rollGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteHttpGetIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteHttpGetIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidHttpGetIn">
      <wsdl:part name="clipId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsHttpGetIn">
      <wsdl:part name="date" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FlagHttpGetIn">
      <wsdl:part name="guid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FlagHttpGetOut"/>
  <wsdl:message name="GetFooterDataHttpGetIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFooterDataHttpGetOut">
      <wsdl:part name="Body" element="tns:FooterData"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataHttpGetIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataHttpGetIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoteHttpGetIn">
      <wsdl:part name="contentGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteHttpGetIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteHttpGetIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineHttpGetIn">
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="addresses" type="s:string"/>
      <wsdl:part name="comments" type="s:string"/>
      <wsdl:part name="save" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineHttpGetOut"/>
  <wsdl:message name="SendHttpGetIn">
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="addresses" type="s:string"/>
      <wsdl:part name="comments" type="s:string"/>
      <wsdl:part name="save" type="s:string"/>
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
      <wsdl:part name="type" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendHttpGetOut"/>
  <wsdl:message name="VideoCommentHttpGetIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="body" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VideoCommentHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsHttpGetIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="page" type="s:string"/>
      <wsdl:part name="sortDir" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn"/>
  <wsdl:message name="TestHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitOfferHttpPostIn">
      <wsdl:part name="offerIDs" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="siteId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitOfferHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserHttpPostIn">
      <wsdl:part name="allowReJoin" type="s:string"/>
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SignupSRNUserHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SignupUserHttpPostIn">
      <wsdl:part name="allowReJoin" type="s:string"/>
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="Address" type="s:string"/>
      <wsdl:part name="City" type="s:string"/>
      <wsdl:part name="Zip" type="s:string"/>
      <wsdl:part name="State" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SignupUserHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountHttpPostIn">
      <wsdl:part name="guid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentCountHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordHttpPostIn">
      <wsdl:part name="text" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckBadWordHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesHttpPostIn">
      <wsdl:part name="templateId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserBlogTemplatesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="templateId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveModifiedBlogTemplateHttpPostOut"/>
  <wsdl:message name="GetCurrentUserBlogTemplateHttpPostIn">
      <wsdl:part name="BlogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCurrentUserBlogTemplateHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogAuthorsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogAuthorHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographyHttpPostIn">
      <wsdl:part name="userId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserBiographyHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsHttpPostIn">
      <wsdl:part name="userId" type="s:string"/>
      <wsdl:part name="modifiedBio" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveUserBiographyEditsHttpPostOut"/>
  <wsdl:message name="InviteBlogAuthorHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InviteBlogAuthorHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="userId" type="s:string"/>
      <wsdl:part name="rights" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogAuthorHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBlogRollHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategoryHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollCategoryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditCategoryHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditCategoryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategoryHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollCategoryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AddBlogRollItemHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategoryHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="direction" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollCategoryHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="categoryId" type="s:string"/>
      <wsdl:part name="itemGuid" type="s:string"/>
      <wsdl:part name="pos" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="MoveBlogRollItemHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="rollGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="url" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="EditBlogRollItemHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemHttpPostIn">
      <wsdl:part name="blogGuid" type="s:string"/>
      <wsdl:part name="rollGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="RemoveBlogRollItemHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteHttpPostIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitPollVoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteHttpPostIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitSitePollVoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidHttpPostIn">
      <wsdl:part name="clipId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoGuidHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsHttpPostIn">
      <wsdl:part name="date" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDaysWithEventsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FlagHttpPostIn">
      <wsdl:part name="guid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FlagHttpPostOut"/>
  <wsdl:message name="GetFooterDataHttpPostIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFooterDataHttpPostOut">
      <wsdl:part name="Body" element="tns:FooterData"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataHttpPostIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVideoDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataHttpPostIn">
      <wsdl:part name="section" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSidebarVideoDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoteHttpPostIn">
      <wsdl:part name="contentGuid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteHttpPostIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteHttpPostIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="value" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SubmitVideoVoteHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineHttpPostIn">
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="addresses" type="s:string"/>
      <wsdl:part name="comments" type="s:string"/>
      <wsdl:part name="save" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMagazineHttpPostOut"/>
  <wsdl:message name="SendHttpPostIn">
      <wsdl:part name="name" type="s:string"/>
      <wsdl:part name="email" type="s:string"/>
      <wsdl:part name="addresses" type="s:string"/>
      <wsdl:part name="comments" type="s:string"/>
      <wsdl:part name="save" type="s:string"/>
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
      <wsdl:part name="type" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendHttpPostOut"/>
  <wsdl:message name="VideoCommentHttpPostIn">
      <wsdl:part name="contentGuid" type="s:string"/>
      <wsdl:part name="title" type="s:string"/>
      <wsdl:part name="body" type="s:string"/>
      <wsdl:part name="a" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="VideoCommentHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsHttpPostIn">
      <wsdl:part name="guid" type="s:string"/>
      <wsdl:part name="page" type="s:string"/>
      <wsdl:part name="sortDir" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCommentsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn"/>
  <wsdl:message name="TestHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="AjaxCallsSoap" type="tns:AjaxCallsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SubmitOffer">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SubmitOffer"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SignupSRNUser">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SignupSRNUser"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SignupUser">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SignupUser"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCommentCount">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetCommentCount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckBadWord">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/CheckBadWord"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllUserBlogTemplates">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetAllUserBlogTemplates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveModifiedBlogTemplate">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SaveModifiedBlogTemplate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCurrentUserBlogTemplate">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetCurrentUserBlogTemplate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBlogAuthors">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetBlogAuthors"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveBlogAuthor">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/RemoveBlogAuthor"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserBiography">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetUserBiography"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveUserBiographyEdits">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SaveUserBiographyEdits"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="InviteBlogAuthor">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/InviteBlogAuthor"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditBlogAuthor">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/EditBlogAuthor"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBlogRoll">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetBlogRoll"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddBlogRollCategory">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/AddBlogRollCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditCategory">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/EditCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveBlogRollCategory">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/RemoveBlogRollCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddBlogRollItem">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/AddBlogRollItem"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="MoveBlogRollCategory">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/MoveBlogRollCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="MoveBlogRollItem">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/MoveBlogRollItem"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="EditBlogRollItem">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/EditBlogRollItem"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RemoveBlogRollItem">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/RemoveBlogRollItem"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitPollVote">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SubmitPollVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitSitePollVote">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SubmitSitePollVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVideoGuid">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetVideoGuid"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDaysWithEvents">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetDaysWithEvents"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Flag">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/Flag"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFooterData">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetFooterData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVideoData">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetVideoData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSidebarVideoData">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetSidebarVideoData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVote">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitVote">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SubmitVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubmitVideoVote">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SubmitVideoVote"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMagazine">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/SendMagazine"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Send">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/Send"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="VideoComment">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/VideoComment"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetComments">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/GetComments"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Test">
         <soap:operation soapAction="http://www.townhall.com/services/AjaxCalls.asmx/Test"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="AjaxCalls">
      <wsdl:port name="AjaxCallsSoap" binding="tns:AjaxCallsSoap">
         <soap:address location="http://ws.soatrader.com/townhall.com/0.1/AjaxCalls"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>