wsdl_repositories/soatrader/BasicAddressMatch.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.BGTAddressTools.state.pa.us/BasicAddressMatch">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:tns="http://www.BGTAddressTools.state.pa.us/BasicAddressMatch"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                elementFormDefault="qualified"
                targetNamespace="http://www.BGTAddressTools.state.pa.us/BasicAddressMatch">
         <s:element name="GetMatchXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strInputStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strInputCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strInputState" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strInputZipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMatchXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMatchXMLResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authenticator" type="tns:Authenticator"/>
         <s:complexType name="Authenticator">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="clientUsername" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="clientPassword" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMatchXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetMatchXML"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetMatchXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLAuthenticator">
      <wsdl:part name="Authenticator" element="tns:Authenticator"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLHttpGetIn">
      <wsdl:part name="strInputStreet" type="s:string"/>
      <wsdl:part name="strInputCity" type="s:string"/>
      <wsdl:part name="strInputState" type="s:string"/>
      <wsdl:part name="strInputZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLHttpPostIn">
      <wsdl:part name="strInputStreet" type="s:string"/>
      <wsdl:part name="strInputCity" type="s:string"/>
      <wsdl:part name="strInputState" type="s:string"/>
      <wsdl:part name="strInputZipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMatchXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="BasicAddressMatchSoap">
      <wsdl:operation name="GetMatchXML">
         <wsdl:input message="tns:GetMatchXMLSoapIn"/>
         <wsdl:output message="tns:GetMatchXMLSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="BasicAddressMatchSoap" type="tns:BasicAddressMatchSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"
                    style="document"/>
      <wsdl:operation name="GetMatchXML">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://www.BGTAddressTools.state.pa.us/BasicAddressMatch/GetMatchXML"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetMatchXMLAuthenticator"
                         part="Authenticator"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="BasicAddressMatch">
      <wsdl:port name="BasicAddressMatchSoap" binding="tns:BasicAddressMatchSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/state.pa.us/0.2/BasicAddressMatch"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>