wsdl_repositories/soatrader/BioModelsWebServicesService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                  xmlns:intf="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getModelsIdByTaxonomyIdResponse">

      <wsdl:part name="getModelsIdByTaxonomyIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelByIdRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelSBMLByIdResponse">

      <wsdl:part name="getModelSBMLByIdReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllCuratedModelsIdResponse">

      <wsdl:part name="getAllCuratedModelsIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsRelatedWithChEBIResponse">

      <wsdl:part name="getSimpleModelsRelatedWithChEBIReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByGOIdResponse">

      <wsdl:part name="getModelsIdByGOIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByGOResponse">

      <wsdl:part name="getModelsIdByGOReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByPersonResponse">

      <wsdl:part name="getModelsIdByPersonReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByChEBIIdsRequest">

      <wsdl:part name="ChEBIIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelNameByIdResponse">

      <wsdl:part name="getModelNameByIdReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByReactomeIdsRequest">

      <wsdl:part name="ReactomeIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="helloBioModelsRequest">

   </wsdl:message>

   <wsdl:message name="getModelsIdByTaxonomyResponse">

      <wsdl:part name="getModelsIdByTaxonomyReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="helloBioModelsResponse">

      <wsdl:part name="helloBioModelsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotResponse">

      <wsdl:part name="getModelsIdByUniprotReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByPublicationResponse">

      <wsdl:part name="getModelsIdByPublicationReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByPublicationRequest">

      <wsdl:part name="publicationIdOrText" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllCuratedModelsIdRequest">

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByUniprotIdsResponse">

      <wsdl:part name="getSimpleModelsByUniprotIdsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByUniprotIdsRequest">

      <wsdl:part name="UniProtIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelByIdRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelNameByIdRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByChEBIRequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByPersonRequest">

      <wsdl:part name="personName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByChEBIIdsResponse">

      <wsdl:part name="getSimpleModelsByChEBIIdsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotIdRequest">

      <wsdl:part name="uniprotId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByChEBIIdRequest">

      <wsdl:part name="ChEBIId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByGORequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByTaxonomyIdRequest">

      <wsdl:part name="taxonomyId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotIdResponse">

      <wsdl:part name="getModelsIdByUniprotIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotIdsRequest">

      <wsdl:part name="uniprotIds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByNameRequest">

      <wsdl:part name="modelName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsByReactomeIdsResponse">

      <wsdl:part name="getSimpleModelsByReactomeIdsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelSBMLByIdRequest">

      <wsdl:part name="id" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllNonCuratedModelsIdResponse">

      <wsdl:part name="getAllNonCuratedModelsIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotRequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllNonCuratedModelsIdRequest">

   </wsdl:message>

   <wsdl:message name="getModelsIdByChEBIIdResponse">

      <wsdl:part name="getModelsIdByChEBIIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelByIdResponse">

      <wsdl:part name="getSimpleModelByIdReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllModelsIdRequest">

   </wsdl:message>

   <wsdl:message name="getModelByIdResponse">

      <wsdl:part name="getModelByIdReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByUniprotIdsResponse">

      <wsdl:part name="getModelsIdByUniprotIdsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSimpleModelsRelatedWithChEBIRequest">

   </wsdl:message>

   <wsdl:message name="getModelsIdByNameResponse">

      <wsdl:part name="getModelsIdByNameReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByTaxonomyRequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByChEBIResponse">

      <wsdl:part name="getModelsIdByChEBIReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getModelsIdByGOIdRequest">

      <wsdl:part name="GOId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllModelsIdResponse">

      <wsdl:part name="getAllModelsIdReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="BioModelsWebServices">

      <wsdl:operation name="getSimpleModelsByReactomeIds" parameterOrder="ReactomeIds">

         <wsdl:input message="impl:getSimpleModelsByReactomeIdsRequest"
                     name="getSimpleModelsByReactomeIdsRequest"/>

         <wsdl:output message="impl:getSimpleModelsByReactomeIdsResponse"
                      name="getSimpleModelsByReactomeIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsRelatedWithChEBI">

         <wsdl:input message="impl:getSimpleModelsRelatedWithChEBIRequest"
                     name="getSimpleModelsRelatedWithChEBIRequest"/>

         <wsdl:output message="impl:getSimpleModelsRelatedWithChEBIResponse"
                      name="getSimpleModelsRelatedWithChEBIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsByChEBIIds" parameterOrder="ChEBIIds">

         <wsdl:input message="impl:getSimpleModelsByChEBIIdsRequest"
                     name="getSimpleModelsByChEBIIdsRequest"/>

         <wsdl:output message="impl:getSimpleModelsByChEBIIdsResponse"
                      name="getSimpleModelsByChEBIIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="helloBioModels">

         <wsdl:input message="impl:helloBioModelsRequest" name="helloBioModelsRequest"/>

         <wsdl:output message="impl:helloBioModelsResponse" name="helloBioModelsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllModelsId">

         <wsdl:input message="impl:getAllModelsIdRequest" name="getAllModelsIdRequest"/>

         <wsdl:output message="impl:getAllModelsIdResponse" name="getAllModelsIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllCuratedModelsId">

         <wsdl:input message="impl:getAllCuratedModelsIdRequest" name="getAllCuratedModelsIdRequest"/>

         <wsdl:output message="impl:getAllCuratedModelsIdResponse"
                      name="getAllCuratedModelsIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllNonCuratedModelsId">

         <wsdl:input message="impl:getAllNonCuratedModelsIdRequest"
                     name="getAllNonCuratedModelsIdRequest"/>

         <wsdl:output message="impl:getAllNonCuratedModelsIdResponse"
                      name="getAllNonCuratedModelsIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelById" parameterOrder="id">

         <wsdl:input message="impl:getModelByIdRequest" name="getModelByIdRequest"/>

         <wsdl:output message="impl:getModelByIdResponse" name="getModelByIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelSBMLById" parameterOrder="id">

         <wsdl:input message="impl:getModelSBMLByIdRequest" name="getModelSBMLByIdRequest"/>

         <wsdl:output message="impl:getModelSBMLByIdResponse" name="getModelSBMLByIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelById" parameterOrder="id">

         <wsdl:input message="impl:getSimpleModelByIdRequest" name="getSimpleModelByIdRequest"/>

         <wsdl:output message="impl:getSimpleModelByIdResponse" name="getSimpleModelByIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelNameById" parameterOrder="id">

         <wsdl:input message="impl:getModelNameByIdRequest" name="getModelNameByIdRequest"/>

         <wsdl:output message="impl:getModelNameByIdResponse" name="getModelNameByIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByName" parameterOrder="modelName">

         <wsdl:input message="impl:getModelsIdByNameRequest" name="getModelsIdByNameRequest"/>

         <wsdl:output message="impl:getModelsIdByNameResponse" name="getModelsIdByNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByPublication" parameterOrder="publicationIdOrText">

         <wsdl:input message="impl:getModelsIdByPublicationRequest"
                     name="getModelsIdByPublicationRequest"/>

         <wsdl:output message="impl:getModelsIdByPublicationResponse"
                      name="getModelsIdByPublicationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByPerson" parameterOrder="personName">

         <wsdl:input message="impl:getModelsIdByPersonRequest" name="getModelsIdByPersonRequest"/>

         <wsdl:output message="impl:getModelsIdByPersonResponse" name="getModelsIdByPersonResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByChEBIId" parameterOrder="ChEBIId">

         <wsdl:input message="impl:getModelsIdByChEBIIdRequest" name="getModelsIdByChEBIIdRequest"/>

         <wsdl:output message="impl:getModelsIdByChEBIIdResponse" name="getModelsIdByChEBIIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByChEBI" parameterOrder="text">

         <wsdl:input message="impl:getModelsIdByChEBIRequest" name="getModelsIdByChEBIRequest"/>

         <wsdl:output message="impl:getModelsIdByChEBIResponse" name="getModelsIdByChEBIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprotId" parameterOrder="uniprotId">

         <wsdl:input message="impl:getModelsIdByUniprotIdRequest"
                     name="getModelsIdByUniprotIdRequest"/>

         <wsdl:output message="impl:getModelsIdByUniprotIdResponse"
                      name="getModelsIdByUniprotIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprotIds" parameterOrder="uniprotIds">

         <wsdl:input message="impl:getModelsIdByUniprotIdsRequest"
                     name="getModelsIdByUniprotIdsRequest"/>

         <wsdl:output message="impl:getModelsIdByUniprotIdsResponse"
                      name="getModelsIdByUniprotIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsByUniprotIds" parameterOrder="UniProtIds">

         <wsdl:input message="impl:getSimpleModelsByUniprotIdsRequest"
                     name="getSimpleModelsByUniprotIdsRequest"/>

         <wsdl:output message="impl:getSimpleModelsByUniprotIdsResponse"
                      name="getSimpleModelsByUniprotIdsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprot" parameterOrder="text">

         <wsdl:input message="impl:getModelsIdByUniprotRequest" name="getModelsIdByUniprotRequest"/>

         <wsdl:output message="impl:getModelsIdByUniprotResponse" name="getModelsIdByUniprotResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByGOId" parameterOrder="GOId">

         <wsdl:input message="impl:getModelsIdByGOIdRequest" name="getModelsIdByGOIdRequest"/>

         <wsdl:output message="impl:getModelsIdByGOIdResponse" name="getModelsIdByGOIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByGO" parameterOrder="text">

         <wsdl:input message="impl:getModelsIdByGORequest" name="getModelsIdByGORequest"/>

         <wsdl:output message="impl:getModelsIdByGOResponse" name="getModelsIdByGOResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByTaxonomyId" parameterOrder="taxonomyId">

         <wsdl:input message="impl:getModelsIdByTaxonomyIdRequest"
                     name="getModelsIdByTaxonomyIdRequest"/>

         <wsdl:output message="impl:getModelsIdByTaxonomyIdResponse"
                      name="getModelsIdByTaxonomyIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByTaxonomy" parameterOrder="text">

         <wsdl:input message="impl:getModelsIdByTaxonomyRequest" name="getModelsIdByTaxonomyRequest"/>

         <wsdl:output message="impl:getModelsIdByTaxonomyResponse"
                      name="getModelsIdByTaxonomyResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BioModelsWebServicesSoapBinding" type="impl:BioModelsWebServices">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSimpleModelsByReactomeIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSimpleModelsByReactomeIdsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSimpleModelsByReactomeIdsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsRelatedWithChEBI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSimpleModelsRelatedWithChEBIRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSimpleModelsRelatedWithChEBIResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsByChEBIIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSimpleModelsByChEBIIdsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSimpleModelsByChEBIIdsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloBioModels">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloBioModelsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="helloBioModelsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllModelsId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllModelsIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllModelsIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCuratedModelsId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCuratedModelsIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllCuratedModelsIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllNonCuratedModelsId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllNonCuratedModelsIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllNonCuratedModelsIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelByIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelByIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelSBMLById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelSBMLByIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelSBMLByIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSimpleModelByIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSimpleModelByIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelNameById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelNameByIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelNameByIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByNameRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByNameResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByPublication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByPublicationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByPublicationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByPersonRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByPersonResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByChEBIId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByChEBIIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByChEBIIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByChEBI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByChEBIRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByChEBIResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprotId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByUniprotIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByUniprotIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprotIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByUniprotIdsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByUniprotIdsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSimpleModelsByUniprotIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSimpleModelsByUniprotIdsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSimpleModelsByUniprotIdsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByUniprot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByUniprotRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByUniprotResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByGOId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByGOIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByGOIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByGO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByGORequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByGOResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByTaxonomyId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByTaxonomyIdRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByTaxonomyIdResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getModelsIdByTaxonomy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getModelsIdByTaxonomyRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://biomodels.ebi.ac.uk"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getModelsIdByTaxonomyResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://www.ebi.ac.uk/biomodels-main/services/BioModelsWebServices"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BioModelsWebServicesService">

      <wsdl:port binding="impl:BioModelsWebServicesSoapBinding" name="BioModelsWebServices">

         <wsdlsoap:address location="http://ws.soatrader.com/ebi.ac.uk/0.1/BioModelsWebServicesService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>