wsdl_repositories/soatrader/BtblastService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:btblast"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:btblast"
                  xmlns:intf="urn:btblast"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:btblast">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">11:38:288 July 2005</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">9bc1b582db263fd62634e85d7ba63d2d</version>
   </wsdl:documentation>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:btblast">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_xsd_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="blastp_BasicResponse">
      <wsdl:part name="blastp_BasicReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="blastn_BasicResponse">
      <wsdl:part name="blastn_BasicReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="blastn_AdvancedRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:int"/>
      <wsdl:part name="in11" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="blastp_AdvancedResponse">
      <wsdl:part name="blastp_AdvancedReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="translating_Blast_BasicRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="translating_Blast_BasicResponse">
      <wsdl:part name="translating_Blast_BasicReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="blastp_AdvancedRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:double"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="blastp_BasicRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="translating_Blast_AdvancedResponse">
      <wsdl:part name="translating_Blast_AdvancedReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="blastn_AdvancedResponse">
      <wsdl:part name="blastn_AdvancedReturn" type="impl:ArrayOf_xsd_string"/>
   </wsdl:message>
   <wsdl:message name="blastn_BasicRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="translating_Blast_AdvancedRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:double"/>
      <wsdl:part name="in4" type="xsd:string"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:string"/>
      <wsdl:part name="in8" type="xsd:int"/>
      <wsdl:part name="in9" type="xsd:int"/>
      <wsdl:part name="in10" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Btblast">
      <wsdl:operation name="blastn_Basic" parameterOrder="in0 in1 in2">
         <wsdl:input message="impl:blastn_BasicRequest" name="blastn_BasicRequest"/>
         <wsdl:output message="impl:blastn_BasicResponse" name="blastn_BasicResponse"/>
      </wsdl:operation>
      <wsdl:operation name="blastp_Basic" parameterOrder="in0 in1">
         <wsdl:input message="impl:blastp_BasicRequest" name="blastp_BasicRequest"/>
         <wsdl:output message="impl:blastp_BasicResponse" name="blastp_BasicResponse"/>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast_Basic" parameterOrder="in0 in1 in2 in3">
         <wsdl:input message="impl:translating_Blast_BasicRequest"
                     name="translating_Blast_BasicRequest"/>
         <wsdl:output message="impl:translating_Blast_BasicResponse"
                      name="translating_Blast_BasicResponse"/>
      </wsdl:operation>
      <wsdl:operation name="blastn_Advanced"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11">
         <wsdl:input message="impl:blastn_AdvancedRequest" name="blastn_AdvancedRequest"/>
         <wsdl:output message="impl:blastn_AdvancedResponse" name="blastn_AdvancedResponse"/>
      </wsdl:operation>
      <wsdl:operation name="blastp_Advanced" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9">
         <wsdl:input message="impl:blastp_AdvancedRequest" name="blastp_AdvancedRequest"/>
         <wsdl:output message="impl:blastp_AdvancedResponse" name="blastp_AdvancedResponse"/>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast_Advanced"
                      parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">
         <wsdl:input message="impl:translating_Blast_AdvancedRequest"
                     name="translating_Blast_AdvancedRequest"/>
         <wsdl:output message="impl:translating_Blast_AdvancedResponse"
                      name="translating_Blast_AdvancedResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="btblastSoapBinding" type="impl:Btblast">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="blastn_Basic">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastn_BasicRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastn_BasicResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blastp_Basic">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastp_BasicRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastp_BasicResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast_Basic">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="translating_Blast_BasicRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="translating_Blast_BasicResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blastn_Advanced">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastn_AdvancedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastn_AdvancedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="blastp_Advanced">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="blastp_AdvancedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="blastp_AdvancedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="translating_Blast_Advanced">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="translating_Blast_AdvancedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="translating_Blast_AdvancedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:btblast"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="BtblastService">
      <wsdl:port binding="impl:btblastSoapBinding" name="btblast">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.1/BtblastService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>