wsdl_repositories/soatrader/CAPTCHA.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.notequalsoft.com/web/services/captcha/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.notequalsoft.com/web/services/captcha/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Notequalsoft CAPTCHA Service.&lt;br/&gt;&amp;copy; Notequalsoft, 2008. &lt;a href="http://www.notequalsoft.com/web/services/captcha/index.html#usage"&gt;Terms of Use&lt;/a&gt;.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.notequalsoft.com/web/services/captcha/">
         <s:element name="Generate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GenerateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GenerateResult" type="tns:GenerateResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="GenerateResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ImageUri" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ImageWidth" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ImageHeight" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="PublicKey" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Validate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PublicKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateResult" type="tns:ValidateResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ValidateResult">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateSoapIn">
      <wsdl:part name="parameters" element="tns:Generate"/>
  </wsdl:message>
  <wsdl:message name="GenerateSoapOut">
      <wsdl:part name="parameters" element="tns:GenerateResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
      <wsdl:part name="parameters" element="tns:Validate"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="CAPTCHASoap" type="tns:CAPTCHASoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Generate">
         <soap:operation soapAction="http://www.notequalsoft.com/web/services/captcha/Generate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Validate">
         <soap:operation soapAction="http://www.notequalsoft.com/web/services/captcha/Validate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CAPTCHA">
      <wsdl:documentation>Notequalsoft CAPTCHA Service.&lt;br/&gt;&amp;copy; Notequalsoft, 2008. &lt;a href="http://www.notequalsoft.com/web/services/captcha/index.html#usage"&gt;Terms of Use&lt;/a&gt;.</wsdl:documentation>
      <wsdl:port name="CAPTCHASoap" binding="tns:CAPTCHASoap">
         <soap:address location="http://ws.soatrader.com/notequalsoft.com/0.1/CAPTCHA"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>