wsdl_repositories/soatrader/CaptchaAudio.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://a-quest.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://a-quest.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://a-quest.com/">
         <s:element name="Version">
            <s:complexType/>
         </s:element>
         <s:element name="VersionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptcha">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCaptchaResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bgn" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCaptchaExResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://a-quest.com/">
         <s:element name="Version">
            <s:complexType/>
         </s:element>
         <s:element name="VersionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptcha">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCaptchaResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaEx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="bgn" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getCaptchaExResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getCaptchaExResult" type="s:base64Binary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
      <wsdl:part name="parameters" element="tns:Version"/>
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
      <wsdl:part name="parameters" element="tns:VersionResponse"/>
  </wsdl:message>
  <wsdl:message name="getCaptchaSoapIn">
      <wsdl:part name="parameters" element="tns:getCaptcha"/>
  </wsdl:message>
  <wsdl:message name="getCaptchaSoapOut">
      <wsdl:part name="parameters" element="tns:getCaptchaResponse"/>
  </wsdl:message>
  <wsdl:message name="getCaptchaExSoapIn">
      <wsdl:part name="parameters" element="tns:getCaptchaEx"/>
  </wsdl:message>
  <wsdl:message name="getCaptchaExSoapOut">
      <wsdl:part name="parameters" element="tns:getCaptchaExResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="CaptchaAudioSoap" type="tns:CaptchaAudioSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Version">
         <soap:operation soapAction="http://a-quest.com/Version" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCaptcha">
         <soap:operation soapAction="http://a-quest.com/getCaptcha" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getCaptchaEx">
         <soap:operation soapAction="http://a-quest.com/getCaptchaEx" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CaptchaAudio">
      <wsdl:port name="CaptchaAudioSoap" binding="tns:CaptchaAudioSoap">
         <soap:address location="http://ws.soatrader.com/dyndns.org/0.1/CaptchaAudio"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>