wsdl_repositories/soatrader/ccService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://couriercomplete.com"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://couriercomplete.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://couriercomplete.com">
         <s:element name="InsertOrder">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="inCompany" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inQueryID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inAccountNo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inUserID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPasswd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPULocation" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inPUStreetNo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUUnit" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUContact" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCloseTime" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELLocation" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inDELStreetNo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELUnit" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELContact" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELPhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCloseTime" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inServiceTypeID" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inPickUpDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inReadyTime" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inWeight" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inInstructions" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inReference" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inInsuranceRequired" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inDeclaredValue" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPackages" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inVehicleTypeID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="InsertOrderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="InsertOrderResult" type="tns:Jorder"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Jorder">
            <s:complexContent mixed="false">
               <s:extension base="tns:quote">
                  <s:sequence>
                     <s:element minOccurs="1" maxOccurs="1" name="orderNo" type="s:int"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="quote">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Service" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="deliverydate" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="OrderQuote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="inCompany" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inQueryID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inAccountNo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inUserID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPasswd" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inPUStreetNo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUUnit" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPUCloseTime" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inDELStreetNo" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELStreet" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELUnit" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCity" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELProvince" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELPostal" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCountry" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inDELCloseTime" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inPickUpDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inReadyTime" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inWeight" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inInsuranceRequired" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inDeclaredValue" type="s:double"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inPackages" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="inServiceTypes" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="inVehicleTypeID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="OrderQuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderQuoteResult" type="tns:orderQuotes"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="orderQuotes">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="queryID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="serviceQuote" type="tns:ArrayOfQuote"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfQuote">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="quote" nillable="true"
                          type="tns:quote"/>
            </s:sequence>
         </s:complexType>
         <s:element name="OrderStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="inOrderNo" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="OrderStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="OrderStatusResult" type="tns:ostatus"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ostatus">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="orderNo" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="pickedupTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="deliveredTime" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="PODby" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Jorder" nillable="true" type="tns:Jorder"/>
         <s:element name="orderQuotes" nillable="true" type="tns:orderQuotes"/>
         <s:element name="ostatus" nillable="true" type="tns:ostatus"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertOrderSoapIn">
      <wsdl:part name="parameters" element="tns:InsertOrder"/>
  </wsdl:message>
  <wsdl:message name="InsertOrderSoapOut">
      <wsdl:part name="parameters" element="tns:InsertOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteSoapIn">
      <wsdl:part name="parameters" element="tns:OrderQuote"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteSoapOut">
      <wsdl:part name="parameters" element="tns:OrderQuoteResponse"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusSoapIn">
      <wsdl:part name="parameters" element="tns:OrderStatus"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusSoapOut">
      <wsdl:part name="parameters" element="tns:OrderStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="InsertOrderHttpGetIn">
      <wsdl:part name="inCompany" type="s:string"/>
      <wsdl:part name="inQueryID" type="s:string"/>
      <wsdl:part name="inAccountNo" type="s:string"/>
      <wsdl:part name="inUserID" type="s:string"/>
      <wsdl:part name="inPasswd" type="s:string"/>
      <wsdl:part name="inPULocation" type="s:string"/>
      <wsdl:part name="inPUStreetNo" type="s:string"/>
      <wsdl:part name="inPUStreet" type="s:string"/>
      <wsdl:part name="inPUUnit" type="s:string"/>
      <wsdl:part name="inPUCity" type="s:string"/>
      <wsdl:part name="inPUProvince" type="s:string"/>
      <wsdl:part name="inPUPostal" type="s:string"/>
      <wsdl:part name="inPUCountry" type="s:string"/>
      <wsdl:part name="inPUContact" type="s:string"/>
      <wsdl:part name="inPUPhone" type="s:string"/>
      <wsdl:part name="inPUCloseTime" type="s:string"/>
      <wsdl:part name="inDELLocation" type="s:string"/>
      <wsdl:part name="inDELStreetNo" type="s:string"/>
      <wsdl:part name="inDELStreet" type="s:string"/>
      <wsdl:part name="inDELUnit" type="s:string"/>
      <wsdl:part name="inDELCity" type="s:string"/>
      <wsdl:part name="inDELProvince" type="s:string"/>
      <wsdl:part name="inDELPostal" type="s:string"/>
      <wsdl:part name="inDELCountry" type="s:string"/>
      <wsdl:part name="inDELContact" type="s:string"/>
      <wsdl:part name="inDELPhone" type="s:string"/>
      <wsdl:part name="inDELCloseTime" type="s:string"/>
      <wsdl:part name="inServiceTypeID" type="s:string"/>
      <wsdl:part name="inPickUpDate" type="s:string"/>
      <wsdl:part name="inReadyTime" type="s:string"/>
      <wsdl:part name="inWeight" type="s:string"/>
      <wsdl:part name="inInstructions" type="s:string"/>
      <wsdl:part name="inReference" type="s:string"/>
      <wsdl:part name="inInsuranceRequired" type="s:string"/>
      <wsdl:part name="inDeclaredValue" type="s:string"/>
      <wsdl:part name="inPackages" type="s:string"/>
      <wsdl:part name="inVehicleTypeID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsertOrderHttpGetOut">
      <wsdl:part name="Body" element="tns:Jorder"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteHttpGetIn">
      <wsdl:part name="inCompany" type="s:string"/>
      <wsdl:part name="inQueryID" type="s:string"/>
      <wsdl:part name="inAccountNo" type="s:string"/>
      <wsdl:part name="inUserID" type="s:string"/>
      <wsdl:part name="inPasswd" type="s:string"/>
      <wsdl:part name="inPUStreetNo" type="s:string"/>
      <wsdl:part name="inPUStreet" type="s:string"/>
      <wsdl:part name="inPUUnit" type="s:string"/>
      <wsdl:part name="inPUCity" type="s:string"/>
      <wsdl:part name="inPUProvince" type="s:string"/>
      <wsdl:part name="inPUPostal" type="s:string"/>
      <wsdl:part name="inPUCountry" type="s:string"/>
      <wsdl:part name="inPUCloseTime" type="s:string"/>
      <wsdl:part name="inDELStreetNo" type="s:string"/>
      <wsdl:part name="inDELStreet" type="s:string"/>
      <wsdl:part name="inDELUnit" type="s:string"/>
      <wsdl:part name="inDELCity" type="s:string"/>
      <wsdl:part name="inDELProvince" type="s:string"/>
      <wsdl:part name="inDELPostal" type="s:string"/>
      <wsdl:part name="inDELCountry" type="s:string"/>
      <wsdl:part name="inDELCloseTime" type="s:string"/>
      <wsdl:part name="inPickUpDate" type="s:string"/>
      <wsdl:part name="inReadyTime" type="s:string"/>
      <wsdl:part name="inWeight" type="s:string"/>
      <wsdl:part name="inInsuranceRequired" type="s:string"/>
      <wsdl:part name="inDeclaredValue" type="s:string"/>
      <wsdl:part name="inPackages" type="s:string"/>
      <wsdl:part name="inServiceTypes" type="s:string"/>
      <wsdl:part name="inVehicleTypeID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteHttpGetOut">
      <wsdl:part name="Body" element="tns:orderQuotes"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusHttpGetIn">
      <wsdl:part name="inOrderNo" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusHttpGetOut">
      <wsdl:part name="Body" element="tns:ostatus"/>
  </wsdl:message>
  <wsdl:message name="InsertOrderHttpPostIn">
      <wsdl:part name="inCompany" type="s:string"/>
      <wsdl:part name="inQueryID" type="s:string"/>
      <wsdl:part name="inAccountNo" type="s:string"/>
      <wsdl:part name="inUserID" type="s:string"/>
      <wsdl:part name="inPasswd" type="s:string"/>
      <wsdl:part name="inPULocation" type="s:string"/>
      <wsdl:part name="inPUStreetNo" type="s:string"/>
      <wsdl:part name="inPUStreet" type="s:string"/>
      <wsdl:part name="inPUUnit" type="s:string"/>
      <wsdl:part name="inPUCity" type="s:string"/>
      <wsdl:part name="inPUProvince" type="s:string"/>
      <wsdl:part name="inPUPostal" type="s:string"/>
      <wsdl:part name="inPUCountry" type="s:string"/>
      <wsdl:part name="inPUContact" type="s:string"/>
      <wsdl:part name="inPUPhone" type="s:string"/>
      <wsdl:part name="inPUCloseTime" type="s:string"/>
      <wsdl:part name="inDELLocation" type="s:string"/>
      <wsdl:part name="inDELStreetNo" type="s:string"/>
      <wsdl:part name="inDELStreet" type="s:string"/>
      <wsdl:part name="inDELUnit" type="s:string"/>
      <wsdl:part name="inDELCity" type="s:string"/>
      <wsdl:part name="inDELProvince" type="s:string"/>
      <wsdl:part name="inDELPostal" type="s:string"/>
      <wsdl:part name="inDELCountry" type="s:string"/>
      <wsdl:part name="inDELContact" type="s:string"/>
      <wsdl:part name="inDELPhone" type="s:string"/>
      <wsdl:part name="inDELCloseTime" type="s:string"/>
      <wsdl:part name="inServiceTypeID" type="s:string"/>
      <wsdl:part name="inPickUpDate" type="s:string"/>
      <wsdl:part name="inReadyTime" type="s:string"/>
      <wsdl:part name="inWeight" type="s:string"/>
      <wsdl:part name="inInstructions" type="s:string"/>
      <wsdl:part name="inReference" type="s:string"/>
      <wsdl:part name="inInsuranceRequired" type="s:string"/>
      <wsdl:part name="inDeclaredValue" type="s:string"/>
      <wsdl:part name="inPackages" type="s:string"/>
      <wsdl:part name="inVehicleTypeID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="InsertOrderHttpPostOut">
      <wsdl:part name="Body" element="tns:Jorder"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteHttpPostIn">
      <wsdl:part name="inCompany" type="s:string"/>
      <wsdl:part name="inQueryID" type="s:string"/>
      <wsdl:part name="inAccountNo" type="s:string"/>
      <wsdl:part name="inUserID" type="s:string"/>
      <wsdl:part name="inPasswd" type="s:string"/>
      <wsdl:part name="inPUStreetNo" type="s:string"/>
      <wsdl:part name="inPUStreet" type="s:string"/>
      <wsdl:part name="inPUUnit" type="s:string"/>
      <wsdl:part name="inPUCity" type="s:string"/>
      <wsdl:part name="inPUProvince" type="s:string"/>
      <wsdl:part name="inPUPostal" type="s:string"/>
      <wsdl:part name="inPUCountry" type="s:string"/>
      <wsdl:part name="inPUCloseTime" type="s:string"/>
      <wsdl:part name="inDELStreetNo" type="s:string"/>
      <wsdl:part name="inDELStreet" type="s:string"/>
      <wsdl:part name="inDELUnit" type="s:string"/>
      <wsdl:part name="inDELCity" type="s:string"/>
      <wsdl:part name="inDELProvince" type="s:string"/>
      <wsdl:part name="inDELPostal" type="s:string"/>
      <wsdl:part name="inDELCountry" type="s:string"/>
      <wsdl:part name="inDELCloseTime" type="s:string"/>
      <wsdl:part name="inPickUpDate" type="s:string"/>
      <wsdl:part name="inReadyTime" type="s:string"/>
      <wsdl:part name="inWeight" type="s:string"/>
      <wsdl:part name="inInsuranceRequired" type="s:string"/>
      <wsdl:part name="inDeclaredValue" type="s:string"/>
      <wsdl:part name="inPackages" type="s:string"/>
      <wsdl:part name="inServiceTypes" type="s:string"/>
      <wsdl:part name="inVehicleTypeID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OrderQuoteHttpPostOut">
      <wsdl:part name="Body" element="tns:orderQuotes"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusHttpPostIn">
      <wsdl:part name="inOrderNo" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="OrderStatusHttpPostOut">
      <wsdl:part name="Body" element="tns:ostatus"/>
  </wsdl:message>
  <wsdl:portType name="ccServiceSoap">
      <wsdl:operation name="InsertOrder">
         <wsdl:input message="tns:InsertOrderSoapIn"/>
         <wsdl:output message="tns:InsertOrderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="OrderQuote">
         <wsdl:input message="tns:OrderQuoteSoapIn"/>
         <wsdl:output message="tns:OrderQuoteSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="OrderStatus">
         <wsdl:input message="tns:OrderStatusSoapIn"/>
         <wsdl:output message="tns:OrderStatusSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="ccServiceSoap" type="tns:ccServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="InsertOrder">
         <soap:operation soapAction="http://couriercomplete.com/InsertOrder" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="OrderQuote">
         <soap:operation soapAction="http://couriercomplete.com/OrderQuote" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="OrderStatus">
         <soap:operation soapAction="http://couriercomplete.com/OrderStatus" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="ccService">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="ccServiceSoap" binding="tns:ccServiceSoap">
         <soap:address location="http://ws.soatrader.com/67.70.228.204/0.1/ccService"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>