wsdl_repositories/soatrader/continentalService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://WebCheckIn.APIS"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://WebCheckIn.APIS"
                  xmlns:intf="http://WebCheckIn.APIS"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://rpc.xml.coldfusion"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://WebCheckIn.APIS">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Macromedia ColdFusion MX version 7,0,1,116466-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://rpc.xml.coldfusion">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="CFCInvocationException">
            <sequence/>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="ES_ContinentalCheckInRequest">

      <wsdl:part name="xml" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ES_ContinentalCheckInResponse">

      <wsdl:part name="ES_ContinentalCheckInReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="CFCInvocationException">

      <wsdl:part name="fault" type="tns1:CFCInvocationException"/>

   </wsdl:message>

   <wsdl:portType name="continental">

      <wsdl:operation name="ES_ContinentalCheckIn" parameterOrder="xml">

         <wsdl:input message="impl:ES_ContinentalCheckInRequest" name="ES_ContinentalCheckInRequest"/>

         <wsdl:output message="impl:ES_ContinentalCheckInResponse"
                      name="ES_ContinentalCheckInResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="continental.cfcSoapBinding" type="impl:continental">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ES_ContinentalCheckIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ES_ContinentalCheckInRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://WebCheckIn.APIS"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ES_ContinentalCheckInResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://WebCheckIn.APIS"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="CFCInvocationException"
                            namespace="http://WebCheckIn.APIS"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="continentalService">

      <wsdl:documentation>
Web Services called by Continental  </wsdl:documentation>

      <wsdl:port binding="impl:continental.cfcSoapBinding" name="continental.cfc">

         <wsdlsoap:address location="http://ws.soatrader.com/travelinc.com/0.2/continentalService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>