wsdl_repositories/soatrader/CPostcode.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://tempuri.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://tempuri.org/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://tempuri.org/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="GetPostCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="province" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPostCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPostCodeResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTotalRow">
            <s:complexType/>
         </s:element>
         <s:element name="GetTotalRowResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTotalRowResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </types>
  <message name="GetPostCodeSoapIn">
      <part name="parameters" element="s0:GetPostCode"/>
  </message>
  <message name="GetPostCodeSoapOut">
      <part name="parameters" element="s0:GetPostCodeResponse"/>
  </message>
  <message name="GetTotalRowSoapIn">
      <part name="parameters" element="s0:GetTotalRow"/>
  </message>
  <message name="GetTotalRowSoapOut">
      <part name="parameters" element="s0:GetTotalRowResponse"/>
  </message>
  <portType name="CPostcodeSoap">
      <operation name="GetPostCode">
         <documentation>Find out the post code.</documentation>
         <input message="s0:GetPostCodeSoapIn"/>
         <output message="s0:GetPostCodeSoapOut"/>
      </operation>
      <operation name="GetTotalRow">
         <documentation>Get post code total rows number.</documentation>
         <input message="s0:GetTotalRowSoapIn"/>
         <output message="s0:GetTotalRowSoapOut"/>
      </operation>
  </portType>
  <binding name="CPostcodeSoap" type="s0:CPostcodeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="GetPostCode">
         <soap:operation soapAction="http://tempuri.org/GetPostCode" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="GetTotalRow">
         <soap:operation soapAction="http://tempuri.org/GetTotalRow" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <service name="CPostcode">
      <port name="CPostcodeSoap" binding="s0:CPostcodeSoap">
         <soap:address location="http://ws.soatrader.com/freewebs.com/0.1/CPostcode"/>
      </port>
  </service>
</definitions>