wsdl_repositories/soatrader/Credit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="Wrapper.Credit"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="Wrapper.Credit">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="Wrapper.Credit">
         <s:element name="Purchase">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchased" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PaymentType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PurchaseResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PurchaseServicesAndCanone">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchasedServices" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchasedVoip" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchasedCanoneServices"
                             type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchasedCanoneVoip" type="s:double"/>
                  <s:element minOccurs="1" maxOccurs="1" name="PaymentType" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PurchaseServicesAndCanoneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseServicesAndCanoneResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PurchaseCC">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CreditPurchased" type="s:double"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PurchaseCCResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PurchaseCCResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreditingPurchase">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TrasactionID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreditingPurchaseResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreditingPurchaseResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="PurchaseSoapIn">
      <wsdl:part name="parameters" element="tns:Purchase"/>
  </wsdl:message>
  <wsdl:message name="PurchaseSoapOut">
      <wsdl:part name="parameters" element="tns:PurchaseResponse"/>
  </wsdl:message>
  <wsdl:message name="PurchaseServicesAndCanoneSoapIn">
      <wsdl:part name="parameters" element="tns:PurchaseServicesAndCanone"/>
  </wsdl:message>
  <wsdl:message name="PurchaseServicesAndCanoneSoapOut">
      <wsdl:part name="parameters" element="tns:PurchaseServicesAndCanoneResponse"/>
  </wsdl:message>
  <wsdl:message name="PurchaseCCSoapIn">
      <wsdl:part name="parameters" element="tns:PurchaseCC"/>
  </wsdl:message>
  <wsdl:message name="PurchaseCCSoapOut">
      <wsdl:part name="parameters" element="tns:PurchaseCCResponse"/>
  </wsdl:message>
  <wsdl:message name="CreditingPurchaseSoapIn">
      <wsdl:part name="parameters" element="tns:CreditingPurchase"/>
  </wsdl:message>
  <wsdl:message name="CreditingPurchaseSoapOut">
      <wsdl:part name="parameters" element="tns:CreditingPurchaseResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="CreditSoap" type="tns:CreditSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Purchase">
         <soap:operation soapAction="Wrapper.Credit/Purchase" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PurchaseServicesAndCanone">
         <soap:operation soapAction="Wrapper.Credit/PurchaseServicesAndCanone" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PurchaseCC">
         <soap:operation soapAction="Wrapper.Credit/PurchaseCC" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreditingPurchase">
         <soap:operation soapAction="Wrapper.Credit/CreditingPurchase" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Credit">
      <wsdl:port name="CreditSoap" binding="tns:CreditSoap">
         <soap:address location="http://ws.soatrader.com/sms.mio.it/0.2/Credit"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>