wsdl_repositories/soatrader/Currency_Exchange_ServiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://source.trax.aero"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://source.trax.aero"
                  xmlns:intf="http://source.trax.aero"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://currency_exchange.glinterface.castor.trax.aero"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://source.trax.aero">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://currency_exchange.glinterface.castor.trax.aero">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="Currency_Exchange_Incoming_Type">
            <sequence>
               <element name="currency" nillable="true" type="soapenc:string"/>
               <element name="exchange_Rate" nillable="true" type="soapenc:decimal"/>
               <element name="modified_By" nillable="true" type="soapenc:string"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Currency_Exchange_Incoming_Element">
            <complexContent>
               <extension base="tns1:Currency_Exchange_Incoming_Type">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://currency_exchange.glinterface.castor.trax.aero">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType abstract="true" name="Currency_Exchange_Incoming_Type">
            <sequence>
               <element name="currency" nillable="true" type="soapenc:string"/>
               <element name="exchange_Rate" nillable="true" type="soapenc:decimal"/>
               <element name="modified_By" nillable="true" type="soapenc:string"/>
               <element name="valid" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="Currency_Exchange_Incoming_Element">
            <complexContent>
               <extension base="tns1:Currency_Exchange_Incoming_Type">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="deleteAllCurrencyExchangeRequest">

      <wsdl:part name="createdBy" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setCurrencyExchangeRequest">

      <wsdl:part name="ce" type="tns1:Currency_Exchange_Incoming_Element"/>

   </wsdl:message>

   <wsdl:message name="deleteAllCurrencyExchangeResponse">

   </wsdl:message>

   <wsdl:message name="setCurrencyExchangeResponse">

   </wsdl:message>

   <wsdl:portType name="Currency_Exchange_Service">

      <wsdl:operation name="setCurrencyExchange" parameterOrder="ce">

         <wsdl:input message="impl:setCurrencyExchangeRequest" name="setCurrencyExchangeRequest"/>

         <wsdl:output message="impl:setCurrencyExchangeResponse" name="setCurrencyExchangeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteAllCurrencyExchange" parameterOrder="createdBy">

         <wsdl:input message="impl:deleteAllCurrencyExchangeRequest"
                     name="deleteAllCurrencyExchangeRequest"/>

         <wsdl:output message="impl:deleteAllCurrencyExchangeResponse"
                      name="deleteAllCurrencyExchangeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Currency_Exchange_ServiceSoapBinding"
                 type="impl:Currency_Exchange_Service">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setCurrencyExchange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCurrencyExchangeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCurrencyExchangeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteAllCurrencyExchange">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteAllCurrencyExchangeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteAllCurrencyExchangeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://source.trax.aero"
                           use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Currency_Exchange_ServiceService">

      <wsdl:port binding="impl:Currency_Exchange_ServiceSoapBinding"
                 name="Currency_Exchange_Service">

         <wsdlsoap:address location="http://ws.soatrader.com/trax.aero/0.1/Currency_Exchange_ServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>