wsdl_repositories/soatrader/DictionaryManager.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservices.sevder.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservices.sevder.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.sevder.com/">
         <s:element name="IngilizceTurkceSozcukManasi">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aranacakSozcuk" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IngilizceTurkceSozcukManasiResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IngilizceTurkceSozcukManasiResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TurkceIngilizceSozcukManasi">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aranacakSozcuk" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TurkceIngilizceSozcukManasiResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TurkceIngilizceSozcukManasiResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TurkceTurkceSozcukManasi">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="aranacakSozcuk" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TurkceTurkceSozcukManasiResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TurkceTurkceSozcukManasiResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SozluktenYoreyeCek">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="enSonKelimeNumarasi" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SozluktenYoreyeCekResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SozluktenYoreyeCekResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="IngilizceTurkceSozcukManasiSoapIn">
      <wsdl:part name="parameters" element="tns:IngilizceTurkceSozcukManasi"/>
  </wsdl:message>
  <wsdl:message name="IngilizceTurkceSozcukManasiSoapOut">
      <wsdl:part name="parameters" element="tns:IngilizceTurkceSozcukManasiResponse"/>
  </wsdl:message>
  <wsdl:message name="TurkceIngilizceSozcukManasiSoapIn">
      <wsdl:part name="parameters" element="tns:TurkceIngilizceSozcukManasi"/>
  </wsdl:message>
  <wsdl:message name="TurkceIngilizceSozcukManasiSoapOut">
      <wsdl:part name="parameters" element="tns:TurkceIngilizceSozcukManasiResponse"/>
  </wsdl:message>
  <wsdl:message name="TurkceTurkceSozcukManasiSoapIn">
      <wsdl:part name="parameters" element="tns:TurkceTurkceSozcukManasi"/>
  </wsdl:message>
  <wsdl:message name="TurkceTurkceSozcukManasiSoapOut">
      <wsdl:part name="parameters" element="tns:TurkceTurkceSozcukManasiResponse"/>
  </wsdl:message>
  <wsdl:message name="SozluktenYoreyeCekSoapIn">
      <wsdl:part name="parameters" element="tns:SozluktenYoreyeCek"/>
  </wsdl:message>
  <wsdl:message name="SozluktenYoreyeCekSoapOut">
      <wsdl:part name="parameters" element="tns:SozluktenYoreyeCekResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="DictionaryManagerSoap" type="tns:DictionaryManagerSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="IngilizceTurkceSozcukManasi">
         <soap:operation soapAction="http://webservices.sevder.com/IngilizceTurkceSozcukManasi"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TurkceIngilizceSozcukManasi">
         <soap:operation soapAction="http://webservices.sevder.com/TurkceIngilizceSozcukManasi"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TurkceTurkceSozcukManasi">
         <soap:operation soapAction="http://webservices.sevder.com/TurkceTurkceSozcukManasi"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SozluktenYoreyeCek">
         <soap:operation soapAction="http://webservices.sevder.com/SozluktenYoreyeCek" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DictionaryManager">
      <wsdl:port name="DictionaryManagerSoap" binding="tns:DictionaryManagerSoap">
         <soap:address location="http://ws.soatrader.com/sevder.com/0.1/DictionaryManager"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>