wsdl_repositories/soatrader/DOTSYellowPages.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.serviceobjects.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.serviceobjects.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.serviceobjects.com/">
         <s:element name="GetYPListingsByCategoryID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYPListingsByCategoryIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYPListingsByCategoryIDResult"
                             type="tns:Listings"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Listings">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Listing" type="tns:Listing"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Err">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Listing">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:decimal"/>
               <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:decimal"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetAllYPCategories">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllYPCategoriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllYPCategoriesResult"
                             type="tns:Categories"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Categories">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns:Category"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Category">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Err"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetYPCategoryByID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetYPCategoryByIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetYPCategoryByIDResult" type="tns:Category"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Listings" nillable="true" type="tns:Listings"/>
         <s:element name="Categories" nillable="true" type="tns:Categories"/>
         <s:element name="Category" nillable="true" type="tns:Category"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetYPListingsByCategoryIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetYPListingsByCategoryID"/>
  </wsdl:message>
  <wsdl:message name="GetYPListingsByCategoryIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetYPListingsByCategoryIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllYPCategories"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllYPCategoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetYPCategoryByID"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetYPCategoryByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetYPListingsByCategoryIDHttpGetIn">
      <wsdl:part name="CategoryID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYPListingsByCategoryIDHttpGetOut">
      <wsdl:part name="Body" element="tns:Listings"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesHttpGetIn">
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesHttpGetOut">
      <wsdl:part name="Body" element="tns:Categories"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDHttpGetIn">
      <wsdl:part name="CategoryID" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDHttpGetOut">
      <wsdl:part name="Body" element="tns:Category"/>
  </wsdl:message>
  <wsdl:message name="GetYPListingsByCategoryIDHttpPostIn">
      <wsdl:part name="CategoryID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYPListingsByCategoryIDHttpPostOut">
      <wsdl:part name="Body" element="tns:Listings"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesHttpPostIn">
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllYPCategoriesHttpPostOut">
      <wsdl:part name="Body" element="tns:Categories"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDHttpPostIn">
      <wsdl:part name="CategoryID" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetYPCategoryByIDHttpPostOut">
      <wsdl:part name="Body" element="tns:Category"/>
  </wsdl:message>
  <wsdl:portType name="DOTSYellowPagesSoap">
      <wsdl:operation name="GetYPListingsByCategoryID">
         <wsdl:input message="tns:GetYPListingsByCategoryIDSoapIn"/>
         <wsdl:output message="tns:GetYPListingsByCategoryIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAllYPCategories">
         <wsdl:input message="tns:GetAllYPCategoriesSoapIn"/>
         <wsdl:output message="tns:GetAllYPCategoriesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetYPCategoryByID">
         <wsdl:input message="tns:GetYPCategoryByIDSoapIn"/>
         <wsdl:output message="tns:GetYPCategoryByIDSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="DOTSYellowPagesSoap" type="tns:DOTSYellowPagesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetYPListingsByCategoryID">
         <soap:operation soapAction="http://www.serviceobjects.com/GetYPListingsByCategoryID"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllYPCategories">
         <soap:operation soapAction="http://www.serviceobjects.com/GetAllYPCategories" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetYPCategoryByID">
         <soap:operation soapAction="http://www.serviceobjects.com/GetYPCategoryByID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="DOTSYellowPages">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">For more information on our web services, visit us at &lt;a href='http://www.serviceobjects.com/products/default.asp' target='new'&gt;our website&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&lt;a href='http://www.serviceobjects.com' target='new'&gt;&lt;img src='http://www.serviceobjects.com/images/so_logo_2_inside.gif' border='0'/&gt;&lt;/a&gt;</documentation>
      <wsdl:port name="DOTSYellowPagesSoap" binding="tns:DOTSYellowPagesSoap">
         <soap:address location="http://ws.soatrader.com/serviceobjects.com/0.2/DOTSYellowPages"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>