wsdl_repositories/soatrader/DXMemberSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.thedx.co.uk"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.thedx.co.uk">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>A service to search the DX Member Database for Member Details</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.thedx.co.uk">
         <s:element name="DXMembersByMultipleFields">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="postcodeSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="nameSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="dxNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="dxNumberSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="exchange" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="exchangeSearchType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="profCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DXMembersByMultipleFieldsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="DXMembersByMultipleFieldsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="DXMembersByMultipleFieldsSoapIn">
      <wsdl:part name="parameters" element="tns:DXMembersByMultipleFields"/>
  </wsdl:message>
  <wsdl:message name="DXMembersByMultipleFieldsSoapOut">
      <wsdl:part name="parameters" element="tns:DXMembersByMultipleFieldsResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="DXMemberSearchSoap" type="tns:DXMemberSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="DXMembersByMultipleFields">
         <soap:operation soapAction="http://www.thedx.co.uk/DXMembersByMultipleFields" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DXMemberSearch">
      <wsdl:documentation>A service to search the DX Member Database for Member Details</wsdl:documentation>
      <wsdl:port name="DXMemberSearchSoap" binding="tns:DXMemberSearchSoap">
         <soap:address location="http://ws.soatrader.com/thedx.co.uk/0.1/DXMemberSearch"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>