wsdl_repositories/soatrader/Education.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:i1="http://www.servicex.co.uk/wsAddress/DataSetSecondary.xsd"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:i2="http://www.servicex.co.uk/wsAddress/DataSetSixthform.xsd"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:i0="http://www.servicex.co.uk/wsAddress/DataSetPrimary.xsd"
                  xmlns:tns="http://www.servicex.co.uk/wsAddress/Education/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.servicex.co.uk/wsAddress/Education/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPrimary.xsd"
                location="http://www.servicex.co.uk/wsAddress/Education.asmx?schema=DataSetPrimary"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetSecondary.xsd"
                location="http://www.servicex.co.uk/wsAddress/Education.asmx?schema=DataSetSecondary"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetSixthform.xsd"
                location="http://www.servicex.co.uk/wsAddress/Education.asmx?schema=DataSetSixthform"/>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.servicex.co.uk/wsAddress/Education/">
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPrimary.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetSecondary.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetSixthform.xsd"/>
         <s:element name="getNearestSchoolPrimary">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNearestSchoolPrimaryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getNearestSchoolPrimaryResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPrimary.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNearestSchoolSecondary">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNearestSchoolSecondaryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getNearestSchoolSecondaryResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetSecondary.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNearestSchoolSixthform">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getNearestSchoolSixthformResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getNearestSchoolSixthformResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetSixthform.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetPrimary" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPrimary.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetSecondary" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetSecondary.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetSixthform" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetSixthform.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getNearestSchoolPrimarySoapIn">
      <wsdl:part name="parameters" element="tns:getNearestSchoolPrimary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolPrimarySoapOut">
      <wsdl:part name="parameters" element="tns:getNearestSchoolPrimaryResponse"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondarySoapIn">
      <wsdl:part name="parameters" element="tns:getNearestSchoolSecondary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondarySoapOut">
      <wsdl:part name="parameters" element="tns:getNearestSchoolSecondaryResponse"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformSoapIn">
      <wsdl:part name="parameters" element="tns:getNearestSchoolSixthform"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformSoapOut">
      <wsdl:part name="parameters" element="tns:getNearestSchoolSixthformResponse"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolPrimaryHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolPrimaryHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetPrimary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondaryHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondaryHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetSecondary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetSixthform"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolPrimaryHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolPrimaryHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetPrimary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondaryHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSecondaryHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetSecondary"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="getNearestSchoolSixthformHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetSixthform"/>
  </wsdl:message>
  <wsdl:portType name="EducationSoap">
      <wsdl:operation name="getNearestSchoolPrimary">
         <wsdl:input message="tns:getNearestSchoolPrimarySoapIn"/>
         <wsdl:output message="tns:getNearestSchoolPrimarySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getNearestSchoolSecondary">
         <wsdl:input message="tns:getNearestSchoolSecondarySoapIn"/>
         <wsdl:output message="tns:getNearestSchoolSecondarySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getNearestSchoolSixthform">
         <wsdl:input message="tns:getNearestSchoolSixthformSoapIn"/>
         <wsdl:output message="tns:getNearestSchoolSixthformSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="EducationSoap" type="tns:EducationSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getNearestSchoolPrimary">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Education/getNearestSchoolPrimary"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getNearestSchoolSecondary">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Education/getNearestSchoolSecondary"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getNearestSchoolSixthform">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Education/getNearestSchoolSixthform"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Education">
      <wsdl:port name="EducationSoap" binding="tns:EducationSoap">
         <soap:address location="http://ws.soatrader.com/servicex.co.uk/0.1/Education"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>