wsdl_repositories/soatrader/EstgenomeService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:estgenome"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:estgenome"
                  xmlns:intf="urn:estgenome"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:estgenome">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">17:37:212 December 2004</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">9a214d7c4ed4537989befe1574494303</version>
   </wsdl:documentation>
   <!--WSDL created by Apache Axis version: 1.2beta3
Built on Aug 17, 2004 (09:50:21 EDT)-->
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="getEstGenomeMatchResponse">
      <wsdl:part name="getEstGenomeMatchReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="getEstGenomeMatchRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:int"/>
      <wsdl:part name="in3" type="xsd:int"/>
      <wsdl:part name="in4" type="xsd:int"/>
      <wsdl:part name="in5" type="xsd:int"/>
      <wsdl:part name="in6" type="xsd:int"/>
      <wsdl:part name="in7" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Estgenome">
      <wsdl:operation name="getEstGenomeMatch" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7">
         <wsdl:input message="impl:getEstGenomeMatchRequest" name="getEstGenomeMatchRequest"/>
         <wsdl:output message="impl:getEstGenomeMatchResponse" name="getEstGenomeMatchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="estgenomeSoapBinding" type="impl:Estgenome">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getEstGenomeMatch">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getEstGenomeMatchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="getEstGenomeMatchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:estgenome"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EstgenomeService">
      <wsdl:port binding="impl:estgenomeSoapBinding" name="estgenome">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.1/EstgenomeService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>