wsdl_repositories/soatrader/FastCompletion.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://validator2.AddressDoctor.com/addFastCompletion/FastCompletion">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:tns="http://validator2.AddressDoctor.com/addFastCompletion/FastCompletion"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                elementFormDefault="qualified"
                targetNamespace="http://validator2.AddressDoctor.com/addFastCompletion/FastCompletion">
         <s:element name="Validate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="addFastCompletionRequest"
                             type="tns:addFastCompletionRequest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="addFastCompletionRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:Authentication"/>
               <s:element minOccurs="0" maxOccurs="1" name="Reserved" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="JobToken" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:Parameters"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:InputAddress"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Authentication">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:long"/>
               <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Parameters">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="CountryOfOrigin"
                          type="tns:CountryOfOriginType"/>
               <s:element minOccurs="1" maxOccurs="1" name="StreetWithHNo" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="CountryType" type="tns:CountryType"/>
               <s:element minOccurs="1" maxOccurs="1" name="LineSeparator" type="tns:LineSeparatorType"/>
               <s:element minOccurs="1" maxOccurs="1" name="PreferredLanguage"
                          type="tns:PreferredLanguageType"/>
               <s:element minOccurs="1" maxOccurs="1" name="Capitalization" type="tns:CapitalizationType"/>
               <s:element minOccurs="1" maxOccurs="1" name="FormattedAddressWithOrganization"
                          type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="RemoveDiacritics" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="FieldDimensions"
                          type="tns:FieldDimensionsRequest"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="CountryOfOriginType">
            <s:restriction base="s:string">
               <s:enumeration value="COO_ALWAYS_USE_DESTINATION_COUNTRY"/>
               <s:enumeration value="COO_NEVER_USE_DESTINATION_COUNTRY"/>
               <s:enumeration value="COO_ABW"/>
               <s:enumeration value="COO_AFG"/>
               <s:enumeration value="COO_AGO"/>
               <s:enumeration value="COO_AIA"/>
               <s:enumeration value="COO_ALB"/>
               <s:enumeration value="COO_AND"/>
               <s:enumeration value="COO_ANT"/>
               <s:enumeration value="COO_ARE"/>
               <s:enumeration value="COO_ARG"/>
               <s:enumeration value="COO_ARM"/>
               <s:enumeration value="COO_ASM"/>
               <s:enumeration value="COO_ATA"/>
               <s:enumeration value="COO_ATF"/>
               <s:enumeration value="COO_ATG"/>
               <s:enumeration value="COO_AUS"/>
               <s:enumeration value="COO_AUT"/>
               <s:enumeration value="COO_AZE"/>
               <s:enumeration value="COO_BDI"/>
               <s:enumeration value="COO_BEL"/>
               <s:enumeration value="COO_BEN"/>
               <s:enumeration value="COO_BFA"/>
               <s:enumeration value="COO_BGD"/>
               <s:enumeration value="COO_BGR"/>
               <s:enumeration value="COO_BHR"/>
               <s:enumeration value="COO_BHS"/>
               <s:enumeration value="COO_BIH"/>
               <s:enumeration value="COO_BLR"/>
               <s:enumeration value="COO_BLZ"/>
               <s:enumeration value="COO_BMU"/>
               <s:enumeration value="COO_BOL"/>
               <s:enumeration value="COO_BRA"/>
               <s:enumeration value="COO_BRB"/>
               <s:enumeration value="COO_BRN"/>
               <s:enumeration value="COO_BTN"/>
               <s:enumeration value="COO_BVT"/>
               <s:enumeration value="COO_BWA"/>
               <s:enumeration value="COO_CAF"/>
               <s:enumeration value="COO_CAN"/>
               <s:enumeration value="COO_CCK"/>
               <s:enumeration value="COO_CHE"/>
               <s:enumeration value="COO_CHL"/>
               <s:enumeration value="COO_CHN"/>
               <s:enumeration value="COO_CIV"/>
               <s:enumeration value="COO_CMR"/>
               <s:enumeration value="COO_COD"/>
               <s:enumeration value="COO_COG"/>
               <s:enumeration value="COO_COK"/>
               <s:enumeration value="COO_COL"/>
               <s:enumeration value="COO_COM"/>
               <s:enumeration value="COO_CPV"/>
               <s:enumeration value="COO_CRI"/>
               <s:enumeration value="COO_CUB"/>
               <s:enumeration value="COO_CXR"/>
               <s:enumeration value="COO_CYM"/>
               <s:enumeration value="COO_CYP"/>
               <s:enumeration value="COO_CZE"/>
               <s:enumeration value="COO_DEU"/>
               <s:enumeration value="COO_DJI"/>
               <s:enumeration value="COO_DMA"/>
               <s:enumeration value="COO_DNK"/>
               <s:enumeration value="COO_DOM"/>
               <s:enumeration value="COO_DZA"/>
               <s:enumeration value="COO_ECU"/>
               <s:enumeration value="COO_EGY"/>
               <s:enumeration value="COO_ERI"/>
               <s:enumeration value="COO_ESH"/>
               <s:enumeration value="COO_ESP"/>
               <s:enumeration value="COO_EST"/>
               <s:enumeration value="COO_ETH"/>
               <s:enumeration value="COO_FIN"/>
               <s:enumeration value="COO_FJI"/>
               <s:enumeration value="COO_FLK"/>
               <s:enumeration value="COO_FRA"/>
               <s:enumeration value="COO_FRO"/>
               <s:enumeration value="COO_FSM"/>
               <s:enumeration value="COO_GAB"/>
               <s:enumeration value="COO_GBR"/>
               <s:enumeration value="COO_GEO"/>
               <s:enumeration value="COO_GHA"/>
               <s:enumeration value="COO_GIB"/>
               <s:enumeration value="COO_GIN"/>
               <s:enumeration value="COO_GLP"/>
               <s:enumeration value="COO_GMB"/>
               <s:enumeration value="COO_GNB"/>
               <s:enumeration value="COO_GNQ"/>
               <s:enumeration value="COO_GRC"/>
               <s:enumeration value="COO_GRD"/>
               <s:enumeration value="COO_GRL"/>
               <s:enumeration value="COO_GTM"/>
               <s:enumeration value="COO_GUF"/>
               <s:enumeration value="COO_GUM"/>
               <s:enumeration value="COO_GUY"/>
               <s:enumeration value="COO_HKG"/>
               <s:enumeration value="COO_HMD"/>
               <s:enumeration value="COO_HND"/>
               <s:enumeration value="COO_HRV"/>
               <s:enumeration value="COO_HTI"/>
               <s:enumeration value="COO_HUN"/>
               <s:enumeration value="COO_IDN"/>
               <s:enumeration value="COO_IND"/>
               <s:enumeration value="COO_IOT"/>
               <s:enumeration value="COO_IRL"/>
               <s:enumeration value="COO_IRN"/>
               <s:enumeration value="COO_IRQ"/>
               <s:enumeration value="COO_ISL"/>
               <s:enumeration value="COO_ISR"/>
               <s:enumeration value="COO_ITA"/>
               <s:enumeration value="COO_JAM"/>
               <s:enumeration value="COO_JOR"/>
               <s:enumeration value="COO_JPN"/>
               <s:enumeration value="COO_KAZ"/>
               <s:enumeration value="COO_KEN"/>
               <s:enumeration value="COO_KGZ"/>
               <s:enumeration value="COO_KHM"/>
               <s:enumeration value="COO_KIR"/>
               <s:enumeration value="COO_KNA"/>
               <s:enumeration value="COO_KOR"/>
               <s:enumeration value="COO_KWT"/>
               <s:enumeration value="COO_LAO"/>
               <s:enumeration value="COO_LBN"/>
               <s:enumeration value="COO_LBR"/>
               <s:enumeration value="COO_LBY"/>
               <s:enumeration value="COO_LCA"/>
               <s:enumeration value="COO_LIE"/>
               <s:enumeration value="COO_LKA"/>
               <s:enumeration value="COO_LSO"/>
               <s:enumeration value="COO_LTU"/>
               <s:enumeration value="COO_LUX"/>
               <s:enumeration value="COO_LVA"/>
               <s:enumeration value="COO_MAC"/>
               <s:enumeration value="COO_MAR"/>
               <s:enumeration value="COO_MCO"/>
               <s:enumeration value="COO_MDA"/>
               <s:enumeration value="COO_MDG"/>
               <s:enumeration value="COO_MDV"/>
               <s:enumeration value="COO_MEX"/>
               <s:enumeration value="COO_MHL"/>
               <s:enumeration value="COO_MKD"/>
               <s:enumeration value="COO_MLI"/>
               <s:enumeration value="COO_MLT"/>
               <s:enumeration value="COO_MMR"/>
               <s:enumeration value="COO_MNG"/>
               <s:enumeration value="COO_MNP"/>
               <s:enumeration value="COO_MOZ"/>
               <s:enumeration value="COO_MRT"/>
               <s:enumeration value="COO_MSR"/>
               <s:enumeration value="COO_MTQ"/>
               <s:enumeration value="COO_MUS"/>
               <s:enumeration value="COO_MWI"/>
               <s:enumeration value="COO_MYS"/>
               <s:enumeration value="COO_MYT"/>
               <s:enumeration value="COO_NAM"/>
               <s:enumeration value="COO_NCL"/>
               <s:enumeration value="COO_NER"/>
               <s:enumeration value="COO_NFK"/>
               <s:enumeration value="COO_NGA"/>
               <s:enumeration value="COO_NIC"/>
               <s:enumeration value="COO_NIU"/>
               <s:enumeration value="COO_NLD"/>
               <s:enumeration value="COO_NOR"/>
               <s:enumeration value="COO_NPL"/>
               <s:enumeration value="COO_NRU"/>
               <s:enumeration value="COO_NZL"/>
               <s:enumeration value="COO_OMN"/>
               <s:enumeration value="COO_PAK"/>
               <s:enumeration value="COO_PAN"/>
               <s:enumeration value="COO_PCN"/>
               <s:enumeration value="COO_PER"/>
               <s:enumeration value="COO_PHL"/>
               <s:enumeration value="COO_PLW"/>
               <s:enumeration value="COO_PNG"/>
               <s:enumeration value="COO_POL"/>
               <s:enumeration value="COO_PRI"/>
               <s:enumeration value="COO_PRK"/>
               <s:enumeration value="COO_PRT"/>
               <s:enumeration value="COO_PRY"/>
               <s:enumeration value="COO_PSE"/>
               <s:enumeration value="COO_PYF"/>
               <s:enumeration value="COO_QAT"/>
               <s:enumeration value="COO_REU"/>
               <s:enumeration value="COO_ROU"/>
               <s:enumeration value="COO_RUS"/>
               <s:enumeration value="COO_RWA"/>
               <s:enumeration value="COO_SAU"/>
               <s:enumeration value="COO_SDN"/>
               <s:enumeration value="COO_SEN"/>
               <s:enumeration value="COO_SGP"/>
               <s:enumeration value="COO_SGS"/>
               <s:enumeration value="COO_SHN"/>
               <s:enumeration value="COO_SJM"/>
               <s:enumeration value="COO_SLB"/>
               <s:enumeration value="COO_SLE"/>
               <s:enumeration value="COO_SLV"/>
               <s:enumeration value="COO_SMR"/>
               <s:enumeration value="COO_SOM"/>
               <s:enumeration value="COO_SPM"/>
               <s:enumeration value="COO_STP"/>
               <s:enumeration value="COO_SUR"/>
               <s:enumeration value="COO_SVK"/>
               <s:enumeration value="COO_SVN"/>
               <s:enumeration value="COO_SWE"/>
               <s:enumeration value="COO_SWZ"/>
               <s:enumeration value="COO_SYC"/>
               <s:enumeration value="COO_SYR"/>
               <s:enumeration value="COO_TCA"/>
               <s:enumeration value="COO_TCD"/>
               <s:enumeration value="COO_TGO"/>
               <s:enumeration value="COO_THA"/>
               <s:enumeration value="COO_TJK"/>
               <s:enumeration value="COO_TKL"/>
               <s:enumeration value="COO_TKM"/>
               <s:enumeration value="COO_TLS"/>
               <s:enumeration value="COO_TON"/>
               <s:enumeration value="COO_TTO"/>
               <s:enumeration value="COO_TUN"/>
               <s:enumeration value="COO_TUR"/>
               <s:enumeration value="COO_TUV"/>
               <s:enumeration value="COO_TWN"/>
               <s:enumeration value="COO_TZA"/>
               <s:enumeration value="COO_UGA"/>
               <s:enumeration value="COO_UKR"/>
               <s:enumeration value="COO_UMI"/>
               <s:enumeration value="COO_URY"/>
               <s:enumeration value="COO_USA"/>
               <s:enumeration value="COO_UZB"/>
               <s:enumeration value="COO_VAT"/>
               <s:enumeration value="COO_VCT"/>
               <s:enumeration value="COO_VEN"/>
               <s:enumeration value="COO_VGB"/>
               <s:enumeration value="COO_VIR"/>
               <s:enumeration value="COO_VNM"/>
               <s:enumeration value="COO_VUT"/>
               <s:enumeration value="COO_WLF"/>
               <s:enumeration value="COO_WSM"/>
               <s:enumeration value="COO_YEM"/>
               <s:enumeration value="COO_SCG"/>
               <s:enumeration value="COO_ZAF"/>
               <s:enumeration value="COO_ZMB"/>
               <s:enumeration value="COO_ZWE"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="CountryType">
            <s:restriction base="s:string">
               <s:enumeration value="ISO_2"/>
               <s:enumeration value="ISO_3"/>
               <s:enumeration value="ISO_NUMBER"/>
               <s:enumeration value="ABBREVIATION"/>
               <s:enumeration value="NAME_CN"/>
               <s:enumeration value="NAME_DA"/>
               <s:enumeration value="NAME_DE"/>
               <s:enumeration value="NAME_EN"/>
               <s:enumeration value="NAME_ES"/>
               <s:enumeration value="NAME_FI"/>
               <s:enumeration value="NAME_FR"/>
               <s:enumeration value="NAME_GR"/>
               <s:enumeration value="NAME_HU"/>
               <s:enumeration value="NAME_IT"/>
               <s:enumeration value="NAME_JP"/>
               <s:enumeration value="NAME_KR"/>
               <s:enumeration value="NAME_NL"/>
               <s:enumeration value="NAME_PL"/>
               <s:enumeration value="NAME_PT"/>
               <s:enumeration value="NAME_RU"/>
               <s:enumeration value="NAME_SA"/>
               <s:enumeration value="NAME_SE"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="LineSeparatorType">
            <s:restriction base="s:string">
               <s:enumeration value="LST_LF"/>
               <s:enumeration value="LST_SEMICOLON"/>
               <s:enumeration value="LST_COMMA"/>
               <s:enumeration value="LST_TAB"/>
               <s:enumeration value="LST_NO_SEPARATOR"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="PreferredLanguageType">
            <s:restriction base="s:string">
               <s:enumeration value="PFL_DATABASE"/>
               <s:enumeration value="PFL_LATIN_SCRIPT"/>
               <s:enumeration value="PFL_PREFERRED_BY_POSTAL_ADMIN"/>
               <s:enumeration value="PFL_PRIMARY"/>
               <s:enumeration value="PFL_SECONDARY"/>
               <s:enumeration value="PFL_LANG_EN"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="CapitalizationType">
            <s:restriction base="s:string">
               <s:enumeration value="NO_CHANGE"/>
               <s:enumeration value="UPPER_CASE"/>
               <s:enumeration value="LOWER_CASE"/>
               <s:enumeration value="MIXED_CASE"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="FieldDimensionsRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Organization"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Building"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox"
                          type="tns:FieldDimensionSingleLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Locality"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode"
                          type="tns:FieldDimensionSingleLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Province"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country"
                          type="tns:FieldDimensionSingleLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountrySpecificLocalityLine"
                          type="tns:FieldDimensionSingleLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddressLines"
                          type="tns:FieldDimensionMultiLineType"/>
               <s:element minOccurs="0" maxOccurs="1" name="FormattedAddress"
                          type="tns:FieldDimensionMultiLineType"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="FieldDimensionMultiLineType">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MaxLines" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxLineLength" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="FieldDimensionSingleLineType">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="MaxLineLength" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="InputAddress">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ValidateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ValidateResult"
                             type="tns:addFastCompletionResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="addFastCompletionResponse">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Reserved" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="JobToken" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ValidationStatus" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ResultCount" type="s:long"/>
               <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfResult"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountryISO3" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true"
                          type="tns:Result"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Result">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address"/>
               <s:element minOccurs="1" maxOccurs="1" name="ResultPercentage" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementMatchStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ElementResultStatus" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Address">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RecordID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="POBox" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Residue" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CountrySpecificLocalityLine" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddressLines" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FormattedAddress" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateSoapIn">
      <wsdl:part name="parameters" element="tns:Validate"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateResponse"/>
  </wsdl:message>
  <wsdl:portType name="FastCompletionSoap">
      <wsdl:operation name="Validate">
         <wsdl:input message="tns:ValidateSoapIn"/>
         <wsdl:output message="tns:ValidateSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FastCompletionSoap" type="tns:FastCompletionSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"
                    style="document"/>
      <wsdl:operation name="Validate">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://validator2.AddressDoctor.com/addFastCompletion/FastCompletion/Validate"
                         style="document"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FastCompletion">
      <wsdl:port name="FastCompletionSoap" binding="tns:FastCompletionSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/addressdoctor.com/0.2/FastCompletion"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>