wsdl_repositories/soatrader/GetEIInfo.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.eventinventory.com/webservices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.eventinventory.com/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Ticket Search Web Service to get Events, Venues, Productions, Tickets and other supporting information</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.eventinventory.com/webservices/">
         <s:element name="ListEvents_Active">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListEvents_ActiveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListEvents_ActiveResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VENUE_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="STARTDATE" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="INCDAYS" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListVenues_Active">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListVenues_ActiveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListVenues_ActiveResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenueList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EVENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="STARTDATE" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="INCDAYS" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenueListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVenueListResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListBrokers_Active">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListBrokers_ActiveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListBrokers_ActiveResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListShipping_Active">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListShipping_ActiveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListShipping_ActiveResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllProductionsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductionsByPage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PageNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductionsByPageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllProductionsByPageResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductionNotes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllProductionNotesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllProductionNotesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTicketInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TICKET_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTicketInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTicketInfoResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTicket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TicketID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTicketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTicketResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckTicketAvailability">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TICKET_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="QUANTITY" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckTicketAvailabilityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckTicketAvailabilityResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenueMapURL">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EVENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VENUE_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenueMapURLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVenueMapURLResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchProductions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VenueID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MarketAreaID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NumberOfDays" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchProductionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchProductionsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProduction">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ProductionID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetProductionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetProductionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllCategories">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllCategoriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllCategoriesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CategoryID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCategoryResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategoryChildren">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ParentCategoryID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCategoryChildrenResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCategoryChildrenResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEvent">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEventResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEventResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchMarketAreas">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CityOrZip" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchMarketAreasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchMarketAreasResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchEvents">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventCategoryID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventTypeID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VenueID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MarketAreaID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NumberOfDays" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchEventsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchEventsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllRegions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllRegionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllRegionsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegion">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="RegionCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRegionResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRegionResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllCountries">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllCountriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllCountriesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountryResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMarketAreas">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllMarketAreasResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllMarketAreasResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketArea">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MarketAreaID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMarketAreaResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMarketAreaResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventTypes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllEventTypesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VenueID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVenueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVenueResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEvents">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventsByPage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PageNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventsByPageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsByPageResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllVenuesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenuesByPage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PageNumber" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenuesByPageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllVenuesByPageResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventSearchKeys">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllEventSearchKeysResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllEventSearchKeysResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenueSearchKeys">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllVenueSearchKeysResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllVenueSearchKeysResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchTicketsWithBrokerDiscount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ProductionID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MaximumPrice" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchTicketsWithBrokerDiscountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchTicketsWithBrokerDiscountResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchVenues">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VenueName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MarketAreaID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NumberOfDays" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchVenuesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchVenuesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListProductions_Active">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListProductions_ActiveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListProductions_ActiveResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchTickets">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ProductionID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MaximumPrice" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SearchTicketsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SearchTicketsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListTickets">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="APPCLIENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PRODUCTION_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EVENT_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VENUEID_ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EVENT_DATE" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ListTicketsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ListTicketsResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="ListEvents_ActiveSoapIn">
      <wsdl:part name="parameters" element="tns:ListEvents_Active"/>
  </wsdl:message>
  <wsdl:message name="ListEvents_ActiveSoapOut">
      <wsdl:part name="parameters" element="tns:ListEvents_ActiveResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventListSoapIn">
      <wsdl:part name="parameters" element="tns:GetEventList"/>
  </wsdl:message>
  <wsdl:message name="GetEventListSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventListResponse"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveSoapIn">
      <wsdl:part name="parameters" element="tns:ListVenues_Active"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveSoapOut">
      <wsdl:part name="parameters" element="tns:ListVenues_ActiveResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListSoapIn">
      <wsdl:part name="parameters" element="tns:GetVenueList"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListSoapOut">
      <wsdl:part name="parameters" element="tns:GetVenueListResponse"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveSoapIn">
      <wsdl:part name="parameters" element="tns:ListBrokers_Active"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveSoapOut">
      <wsdl:part name="parameters" element="tns:ListBrokers_ActiveResponse"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveSoapIn">
      <wsdl:part name="parameters" element="tns:ListShipping_Active"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveSoapOut">
      <wsdl:part name="parameters" element="tns:ListShipping_ActiveResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllProductions"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllProductionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllProductionsByPage"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllProductionsByPageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllProductionNotes"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllProductionNotesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetTicketInfo"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetTicketInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTicketSoapIn">
      <wsdl:part name="parameters" element="tns:GetTicket"/>
  </wsdl:message>
  <wsdl:message name="GetTicketSoapOut">
      <wsdl:part name="parameters" element="tns:GetTicketResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilitySoapIn">
      <wsdl:part name="parameters" element="tns:CheckTicketAvailability"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilitySoapOut">
      <wsdl:part name="parameters" element="tns:CheckTicketAvailabilityResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLSoapIn">
      <wsdl:part name="parameters" element="tns:GetVenueMapURL"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLSoapOut">
      <wsdl:part name="parameters" element="tns:GetVenueMapURLResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsSoapIn">
      <wsdl:part name="parameters" element="tns:SearchProductions"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsSoapOut">
      <wsdl:part name="parameters" element="tns:SearchProductionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProductionSoapIn">
      <wsdl:part name="parameters" element="tns:GetProduction"/>
  </wsdl:message>
  <wsdl:message name="GetProductionSoapOut">
      <wsdl:part name="parameters" element="tns:GetProductionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllCategories"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCategorySoapIn">
      <wsdl:part name="parameters" element="tns:GetCategory"/>
  </wsdl:message>
  <wsdl:message name="GetCategorySoapOut">
      <wsdl:part name="parameters" element="tns:GetCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenSoapIn">
      <wsdl:part name="parameters" element="tns:GetCategoryChildren"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenSoapOut">
      <wsdl:part name="parameters" element="tns:GetCategoryChildrenResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEventSoapIn">
      <wsdl:part name="parameters" element="tns:GetEvent"/>
  </wsdl:message>
  <wsdl:message name="GetEventSoapOut">
      <wsdl:part name="parameters" element="tns:GetEventResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasSoapIn">
      <wsdl:part name="parameters" element="tns:SearchMarketAreas"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasSoapOut">
      <wsdl:part name="parameters" element="tns:SearchMarketAreasResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsSoapIn">
      <wsdl:part name="parameters" element="tns:SearchEvents"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsSoapOut">
      <wsdl:part name="parameters" element="tns:SearchEventsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllRegions"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllRegionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRegionSoapIn">
      <wsdl:part name="parameters" element="tns:GetRegion"/>
  </wsdl:message>
  <wsdl:message name="GetRegionSoapOut">
      <wsdl:part name="parameters" element="tns:GetRegionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllCountries"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllCountriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySoapIn">
      <wsdl:part name="parameters" element="tns:GetCountry"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllMarketAreas"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllMarketAreasResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaSoapIn">
      <wsdl:part name="parameters" element="tns:GetMarketArea"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaSoapOut">
      <wsdl:part name="parameters" element="tns:GetMarketAreaResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllEventTypes"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllEventTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVenueSoapIn">
      <wsdl:part name="parameters" element="tns:GetVenue"/>
  </wsdl:message>
  <wsdl:message name="GetVenueSoapOut">
      <wsdl:part name="parameters" element="tns:GetVenueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllEvents"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllEventsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllEventsByPage"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllEventsByPageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllVenues"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllVenuesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllVenuesByPage"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllVenuesByPageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllEventSearchKeys"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllEventSearchKeysResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysSoapIn">
      <wsdl:part name="parameters" element="tns:GetAllVenueSearchKeys"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysSoapOut">
      <wsdl:part name="parameters" element="tns:GetAllVenueSearchKeysResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountSoapIn">
      <wsdl:part name="parameters" element="tns:SearchTicketsWithBrokerDiscount"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountSoapOut">
      <wsdl:part name="parameters" element="tns:SearchTicketsWithBrokerDiscountResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesSoapIn">
      <wsdl:part name="parameters" element="tns:SearchVenues"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesSoapOut">
      <wsdl:part name="parameters" element="tns:SearchVenuesResponse"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveSoapIn">
      <wsdl:part name="parameters" element="tns:ListProductions_Active"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveSoapOut">
      <wsdl:part name="parameters" element="tns:ListProductions_ActiveResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsSoapIn">
      <wsdl:part name="parameters" element="tns:SearchTickets"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsSoapOut">
      <wsdl:part name="parameters" element="tns:SearchTicketsResponse"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsSoapIn">
      <wsdl:part name="parameters" element="tns:ListTickets"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsSoapOut">
      <wsdl:part name="parameters" element="tns:ListTicketsResponse"/>
  </wsdl:message>
  <wsdl:message name="ListEvents_ActiveHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListEvents_ActiveHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetEventListHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="VENUE_ID" type="s:string"/>
      <wsdl:part name="STARTDATE" type="s:string"/>
      <wsdl:part name="INCDAYS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEventListHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="STARTDATE" type="s:string"/>
      <wsdl:part name="INCDAYS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="TICKET_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetTicketHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="TicketID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTicketHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilityHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="TICKET_ID" type="s:string"/>
      <wsdl:part name="QUANTITY" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilityHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="VENUE_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetProductionHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetProductionHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CategoryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ParentCategoryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetEventHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEventHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CityOrZip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventName" type="s:string"/>
      <wsdl:part name="EventCategoryID" type="s:string"/>
      <wsdl:part name="EventTypeID" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetRegionHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="RegionCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRegionHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountryHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CountryCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="VenueName" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsHttpGetIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsHttpGetIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="PRODUCTION_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="VENUEID_ID" type="s:string"/>
      <wsdl:part name="EVENT_DATE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListEvents_ActiveHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListEvents_ActiveHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetEventListHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="VENUE_ID" type="s:string"/>
      <wsdl:part name="STARTDATE" type="s:string"/>
      <wsdl:part name="INCDAYS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEventListHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListVenues_ActiveHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="STARTDATE" type="s:string"/>
      <wsdl:part name="INCDAYS" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueListHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListBrokers_ActiveHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListShipping_ActiveHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionsByPageHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllProductionNotesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="TICKET_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTicketInfoHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetTicketHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="TicketID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTicketHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilityHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="TICKET_ID" type="s:string"/>
      <wsdl:part name="QUANTITY" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckTicketAvailabilityHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="VENUE_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueMapURLHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchProductionsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetProductionHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetProductionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllCategoriesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CategoryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ParentCategoryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCategoryChildrenHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetEventHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEventHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CityOrZip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchMarketAreasHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="EventName" type="s:string"/>
      <wsdl:part name="EventCategoryID" type="s:string"/>
      <wsdl:part name="EventTypeID" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchEventsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllRegionsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetRegionHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="RegionCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRegionHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllCountriesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountryHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="CountryCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllMarketAreasHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMarketAreaHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventTypesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetVenueHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="VenueID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVenueHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventsByPageHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="PageNumber" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenuesByPageHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllEventSearchKeysHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAllVenueSearchKeysHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsWithBrokerDiscountHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="VenueName" type="s:string"/>
      <wsdl:part name="EventID" type="s:string"/>
      <wsdl:part name="MarketAreaID" type="s:string"/>
      <wsdl:part name="PostalCode" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="NumberOfDays" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchVenuesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListProductions_ActiveHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsHttpPostIn">
      <wsdl:part name="SecurityToken" type="s:string"/>
      <wsdl:part name="ProductionID" type="s:string"/>
      <wsdl:part name="MaximumPrice" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SearchTicketsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsHttpPostIn">
      <wsdl:part name="APPCLIENT_ID" type="s:string"/>
      <wsdl:part name="PRODUCTION_ID" type="s:string"/>
      <wsdl:part name="EVENT_ID" type="s:string"/>
      <wsdl:part name="VENUEID_ID" type="s:string"/>
      <wsdl:part name="EVENT_DATE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ListTicketsHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="GetEIInfoSoap" type="tns:GetEIInfoSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ListEvents_Active">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListEvents_Active"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEventList">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetEventList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListVenues_Active">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListVenues_Active"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVenueList">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetVenueList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListBrokers_Active">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListBrokers_Active"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListShipping_Active">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListShipping_Active"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllProductions">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllProductions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllProductionsByPage">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllProductionsByPage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllProductionNotes">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllProductionNotes"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTicketInfo">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetTicketInfo"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTicket">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetTicket"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckTicketAvailability">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/CheckTicketAvailability"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVenueMapURL">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetVenueMapURL"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchProductions">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchProductions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetProduction">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetProduction"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllCategories">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllCategories"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCategory">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetCategory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCategoryChildren">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetCategoryChildren"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEvent">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetEvent"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchMarketAreas">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchMarketAreas"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchEvents">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchEvents"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllRegions">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllRegions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRegion">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetRegion"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllCountries">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllCountries"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountry">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetCountry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllMarketAreas">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllMarketAreas"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMarketArea">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetMarketArea"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllEventTypes">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllEventTypes"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVenue">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetVenue"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllEvents">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllEvents"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllEventsByPage">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllEventsByPage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllVenues">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllVenues"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllVenuesByPage">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllVenuesByPage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllEventSearchKeys">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllEventSearchKeys"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllVenueSearchKeys">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/GetAllVenueSearchKeys"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchTicketsWithBrokerDiscount">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchTicketsWithBrokerDiscount"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchVenues">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchVenues"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListProductions_Active">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListProductions_Active"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SearchTickets">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/SearchTickets"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ListTickets">
         <soap:operation soapAction="http://www.eventinventory.com/webservices/ListTickets"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="GetEIInfo">
      <wsdl:documentation>Ticket Search Web Service to get Events, Venues, Productions, Tickets and other supporting information</wsdl:documentation>
      <wsdl:port name="GetEIInfoSoap" binding="tns:GetEIInfoSoap">
         <soap:address location="http://ws.soatrader.com/eventinventory.com/0.1/GetEIInfo"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>