wsdl_repositories/soatrader/GreetService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://example.com/hello"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:hello="http://example.com/hello"
                  targetNamespace="http://example.com/hello">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>

  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns="http://example.com/hello" elementFormDefault="qualified"
                targetNamespace="http://example.com/hello">
         <s:element name="GreetingSpecifier">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
			               <s:element minOccurs="0" maxOccurs="1" name="count" type="s:integer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GreetingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema xmlns="http://example.com/hello" elementFormDefault="qualified"
                targetNamespace="http://example.com/hello">
         <s:element name="GreetingSpecifier">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
			               <s:element minOccurs="0" maxOccurs="1" name="count" type="s:integer"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GreetingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AskGreeting">
      <wsdl:part name="parameters" element="hello:GreetingSpecifier"/>
  </wsdl:message>
  <wsdl:message name="GiveGreeting">
      <wsdl:part name="details" element="hello:GreetingResponse"/>
  </wsdl:message>
  <wsdl:portType name="GreetingPort">
      <wsdl:operation name="Greet">
         <wsdl:input message="hello:AskGreeting"/>
         <wsdl:output message="hello:GiveGreeting"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingBind" type="hello:GreetingPort">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Greet">
         <soap:operation soapAction="http://example.com/" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetService">
      <wsdl:port name="GreetPort" binding="hello:GreetingBind">
         <soap:address location="http://ws.soatrader.com/cpan.org/0.1/GreetService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>