wsdl_repositories/soatrader/HttpMessengerService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetHistory">
            <s:complexType/>
         </s:element>
         <s:element name="GetHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHistoryResult"
                             type="tns:ArrayOfNotification"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfNotification">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true"
                          type="tns:Notification"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Notification">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OccuredUtc" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Body" type="tns:ArrayOfClientKeyValuePair"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfClientKeyValuePair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ClientKeyValuePair" nillable="true"
                          type="tns:ClientKeyValuePair"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ClientKeyValuePair">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetNotifications">
            <s:complexType/>
         </s:element>
         <s:element name="GetNotificationsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNotificationsResult"
                             type="tns:ArrayOfNotification"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RequestOperation">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="operation" type="tns:ArrayOfClientOperation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfClientOperation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ClientOperation" nillable="true"
                          type="tns:ClientOperation"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ClientOperation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Arguments"
                          type="tns:ArrayOfClientKeyValuePair"/>
            </s:sequence>
         </s:complexType>
         <s:element name="RequestOperationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="RequestOperationResult"
                             type="tns:ArrayOfNotification"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHistorySoapIn">
      <wsdl:part name="parameters" element="tns:GetHistory"/>
  </wsdl:message>
  <wsdl:message name="GetHistorySoapOut">
      <wsdl:part name="parameters" element="tns:GetHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNotificationsSoapIn">
      <wsdl:part name="parameters" element="tns:GetNotifications"/>
  </wsdl:message>
  <wsdl:message name="GetNotificationsSoapOut">
      <wsdl:part name="parameters" element="tns:GetNotificationsResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestOperationSoapIn">
      <wsdl:part name="parameters" element="tns:RequestOperation"/>
  </wsdl:message>
  <wsdl:message name="RequestOperationSoapOut">
      <wsdl:part name="parameters" element="tns:RequestOperationResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="HttpMessengerServiceSoap" type="tns:HttpMessengerServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetHistory">
         <soap:operation soapAction="http://tempuri.org/GetHistory" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetNotifications">
         <soap:operation soapAction="http://tempuri.org/GetNotifications" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="RequestOperation">
         <soap:operation soapAction="http://tempuri.org/RequestOperation" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="HttpMessengerService">
      <wsdl:port name="HttpMessengerServiceSoap" binding="tns:HttpMessengerServiceSoap">
         <soap:address location="http://ws.soatrader.com/onlinesupporter.ru/0.1/HttpMessengerService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>