wsdl_repositories/soatrader/IDV.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://dcis.psc.gov/DCIS/BusinessServices"
             name="IDV">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
		    <schema xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
              xmlns:DCIS="http://dcis.psc.gov/DCIS"
              xmlns:business="http://dcis.psc.gov/DCIS/BusinessServices"
              xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
              xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
              elementFormDefault="qualified"
              targetNamespace="http://dcis.psc.gov/DCIS/BusinessServices">
			      <include schemaLocation="http://rnsdemo.rnsolutions.com/dcis/schema/SystemServices/1.1/Service.xsd"/>
			      <include schemaLocation="http://rnsdemo.rnsolutions.com/dcis/schema/DataCollection/contracts/1.2/IDV.xsd"/>
			      <include schemaLocation="http://rnsdemo.rnsolutions.com/dcis/schema/SystemAdministration/users/1.1/User.xsd"/>
			      <include schemaLocation="http://rnsdemo.rnsolutions.com/dcis/schema/common/1.1/Template.xsd"/>
			      <complexType name="createIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="updateIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="getIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="approveIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isApproved" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="deleteIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isDeleted" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="existsIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isExists" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="validateIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isValidated" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="isCompleteIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isCompleted" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="isExistingIDVCompleteResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="isCompleted" type="boolean" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="getListIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="listOfIDVSummaries" type="DCIS:listOfIDVSummariesType" nillable="true"
                              minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="correctIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="voidContractIDVResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
			      <complexType name="createFromTemplateIDVRequestType">
				        <sequence>
					          <element name="templateName" type="DCIS:templateNameType"/>
					          <element name="IDV" type="DCIS:IDVType"/>
				        </sequence>
			      </complexType>
			      <complexType name="createIDVFromTemplateResponseType">
				        <complexContent>
					          <extension base="DCIS:responseType">
						            <sequence>
							              <element name="IDV" type="DCIS:IDVType" nillable="true" minOccurs="0"/>
						            </sequence>
					          </extension>
				        </complexContent>
			      </complexType>
		    </schema>
	  </types>
	  <message name="createInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="updateInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="existsInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVID" type="DCIS:contractIDType"/>
	  </message>
	  <message name="getListInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVSearchCriteria" type="DCIS:IDVSearchCriteriaType"/>
	  </message>
	  <message name="getInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVID" type="DCIS:contractIDType"/>
	  </message>
	  <message name="isCompleteInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="isExistingIDVCompleteInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVID" type="DCIS:contractIDType"/>
	  </message>
	  <message name="deleteInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVID" type="DCIS:contractIDType"/>
	  </message>
	  <message name="correctInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="voidContractInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="approveInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDVID" type="DCIS:contractIDType"/>
	  </message>
	  <message name="validateInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="IDV" type="DCIS:IDVType"/>
	  </message>
	  <message name="createFromTemplateInput">
		    <part name="authenticationKey" type="DCIS:userAuthenticationKeyType"/>
		    <part name="createFromTemplateIDVRequest"
            type="business:createFromTemplateIDVRequestType"/>
	  </message>	
	  <message name="createOutput">
		    <part name="createIDVResponse" type="business:createIDVResponseType"/>
	  </message>
	  <message name="updateOutput">
		    <part name="updateIDVResponse" type="business:updateIDVResponseType"/>
	  </message>
	  <message name="existsOutput">
		    <part name="existsIDVResponse" type="business:existsIDVResponseType"/>
	  </message>
	  <message name="getListOutput">
		    <part name="getListIDVResponse" type="business:getListIDVResponseType"/>
	  </message>
	  <message name="getOutput">
		    <part name="getIDVResponse" type="business:getIDVResponseType"/>
	  </message>
	  <message name="isCompleteOutput">
		    <part name="isCompleteIDVResponse" type="business:isCompleteIDVResponseType"/>
	  </message>
	  <message name="isExistingIDVCompleteOutput">
		    <part name="isExistingIDVCompleteResponse"
            type="business:isExistingIDVCompleteResponseType"/>
	  </message>
	  <message name="deleteOutput">
		    <part name="deleteIDVResponse" type="business:deleteIDVResponseType"/>
	  </message>
	  <message name="correctOutput">
		    <part name="correctIDVResponse" type="business:correctIDVResponseType"/>
	  </message>
	  <message name="voidContractOutput">
		    <part name="voidContractIDVResponse" type="business:voidContractIDVResponseType"/>
	  </message>
	  <message name="approveOutput">
		    <part name="approveIDVResponse" type="business:approveIDVResponseType"/>
	  </message>
	  <message name="validateOutput">
		    <part name="validateIDVResponse" type="business:validateIDVResponseType"/>
	  </message>
	  <message name="createFromTemplateOutput">
		    <part name="createFromTemplateIDVResponse"
            type="business:createIDVFromTemplateResponseType"/>
	  </message>	
	  <portType name="IDVPortType">
		    <operation name="get">
			      <documentation>
				The get operation retrieves the existing IDV inforamtion
				from DCIS or FPDS-NG if the record cannot be found in DCIS.  
				The purpose of searching FPDS-NG is to provide users the 
				capability of checking whether the initial IDV exists 
				when making	orders/calls against external contracts.
			</documentation>		
			      <input message="business:getInput"/>
			      <output message="business:getOutput"/>
		    </operation>
		    <operation name="getDCISRecord">
			      <documentation>
				The getDCISRecord operation retrieves the existing IDV 
				inforamtion	from DCIS only.
			</documentation>		
			      <input message="business:getInput"/>
			      <output message="business:getOutput"/>
		    </operation>		
		    <operation name="getList">
			      <documentation>
				The getList operation currently is not supported.
			</documentation>		
			      <input message="business:getListInput"/>
			      <output message="business:getListOutput"/>
		    </operation>
		    <operation name="create">
			      <documentation>
				The create operation creates a new IDV in DRAFT status.
			</documentation>
			      <input message="business:createInput"/>
			      <output message="business:createOutput"/>
		    </operation>
		    <operation name="createFromTemplate">
			      <documentation>
				The createFromTemplate operation currently is not supported.
			</documentation>		
			      <input message="business:createFromTemplateInput"/>
			      <output message="business:createFromTemplateOutput"/>
		    </operation>
		    <operation name="exists">
			      <documentation>
				The exists operation returns true or false, representing 
				whether the IDV record exists.  The system will search for 
				the record in DCIS first and then FPDS-NG if the record
				cannot be found in DCIS.  The purpose of searching FPDS-NG 
				is to provide users the capability of checking whether 
				the initial IDV exists when making orders/calls against 
				external contracts.				
			</documentation>		
			      <input message="business:existsInput"/>
			      <output message="business:existsOutput"/>
		    </operation>
		    <operation name="isDCISRecordExisted">
			      <documentation>
				The isDCISRecordExisted operation returns true or false, representing 
				whether the IDV record exists.  The system will search for 
				the record in DCIS only.
			</documentation>			
			      <input message="business:existsInput"/>
			      <output message="business:existsOutput"/>
		    </operation>		
		    <operation name="approve">
			      <documentation>
				The approve operation approves a DRAFT IDV after doing a 
				completeness check.	 If success, the IDV will become FINAL.
				In case of failure, the error information would list all 
				the messages, codes and the data elements involved 
				with the error.
			</documentation>
			      <input message="business:approveInput"/>
			      <output message="business:approveOutput"/>
		    </operation>
		    <operation name="delete">
			      <documentation>
				The delete operation deletes an existing IDV.
			</documentation>		
			      <input message="business:deleteInput"/>
			      <output message="business:deleteOutput"/>
		    </operation>
		    <operation name="isComplete">
			      <documentation>
				The isComplete operation checks for the completeness of the
				IDV data contained in the request. It checks for the existence of 
				all mandatory fields in the IDV, does data validation, applies 
				business rules validations and returns success or failure 
				back to the user.  In case of failure, the error information would 
				list all the messages, codes and the data elements involved 
				with the error(s).
			</documentation>		
			      <input message="business:isCompleteInput"/>
			      <output message="business:isCompleteOutput"/>
		    </operation>
		    <operation name="isExistingIDVComplete">
			      <documentation>
				The isExistingIDVComplete operation checks for the completeness of 
				an existing IDV. It checks for the existence of all mandatory 
				fields in the IDV, does data validation, applies business rules 
				validations and returns success or failure back to the user.  
				In case of failure, the error information would list all the 
				messages, codes and the data elements involved with the error(s).
			</documentation>
			      <input message="business:isExistingIDVCompleteInput"/>
			      <output message="business:isExistingIDVCompleteOutput"/>
		    </operation>
		    <operation name="validate">
			      <documentation>
				The validate operation checks for the completeness of the
				IDV data contained in the request. It checks for the existence of 
				all mandatory fields in the IDV, does data validation, applies 
				business rules validations and returns success or failure 
				back to the user.  In case of failure, the error information would 
				list all the messages, codes and the data elements involved 
				with the error(s).  (Same as isComplete)
			</documentation>		
			      <input message="business:validateInput"/>
			      <output message="business:validateOutput"/>
		    </operation>
		    <operation name="update">
			      <documentation>
				The update operation updates a DRAFT IDV record.  If the record is 
				in FINAL/VOID status or does not exist, an error will be returned.
				Only the data elements contained in the IDV XML will be updated.				
			</documentation>		
			      <input message="business:updateInput"/>
			      <output message="business:updateOutput"/>
		    </operation>
		    <operation name="correct">
			      <documentation>
				The correct operation updates an FINAL IDV record.  If the record is 
				in DRAFT/VOID status or does not exist, an error will be returned.
				Only the data elements contained in the IDV XML will be updated.				
			</documentation>		
			      <input message="business:correctInput"/>
			      <output message="business:correctOutput"/>
		    </operation>
		    <operation name="voidContract">
			      <documentation>
				The void operation creates a new IDV or marks an existing IDV in VOID status.  				
			</documentation>		
			      <input message="business:voidContractInput"/>
			      <output message="business:voidContractOutput"/>
		    </operation>
	  </portType>
	  <binding name="IDVBinding" type="business:IDVPortType">
		    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
		    <operation name="get">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="getDCISRecord">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>		
		    <operation name="getList">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="create">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="createFromTemplate">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="exists">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="isDCISRecordExisted">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>		
		    <operation name="approve">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="delete">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="isComplete">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="isExistingIDVComplete">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="update">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="validate">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="correct">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
		    <operation name="voidContract">
			      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			      <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </input>
			      <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="urn:DCIS.BusinessServices.DataCollection.contracts.IDV"/>
			      </output>
		    </operation>
	  </binding>
	  <service name="IDV">
		    <port name="IDVPort" binding="business:IDVBinding">
			      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/rnsolutions.com/0.5/IDV"/>
		    </port>
	  </service>
</definitions>