wsdl_repositories/soatrader/ImgCount.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://front-5.cust01.visi.com/isearch-m3"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://front-5.cust01.visi.com/isearch-m3">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema targetNamespace="http://front-5.cust01.visi.com/isearch-m3">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      </xsd:schema>
   </types>
   <message name="GetImagesCountRequest">
      <part name="q" type="xsd:string"/>
   </message>
   <message name="GetImagesCountResponse">
      <part name="return" type="xsd:int"/>
   </message>
   <portType name="ImgCountPortType">
      <operation name="GetImagesCount">
         <input message="tns:GetImagesCountRequest"/>
         <output message="tns:GetImagesCountResponse"/>
      </operation>
   </portType>
   <binding name="ImgCountBinding" type="tns:ImgCountPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="GetImagesCount">
         <soap:operation soapAction="http://front-3.cust01.visi.com/isearch-m3/imgcount.php/GetImagesCount"
                         style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://front-5.cust01.visi.com/isearch-m3"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://front-5.cust01.visi.com/isearch-m3"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="ImgCount">
      <port name="ImgCountPort" binding="tns:ImgCountBinding">
         <soap:address location="http://ws.soatrader.com/cust01.visi.com/0.1/ImgCount"/>
      </port>
   </service>
</definitions>