wsdl_repositories/soatrader/interproscan__proteinrawService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                  xmlns:intf="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns2="http://SoaplabShare.ebi.embl.org"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://derived.gowlab.SoaplabServer.ebi.embl.org">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST)-->
 <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://SoaplabShare.ebi.embl.org">
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="SoaplabException">
            <sequence/>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://xml.apache.org/xml-soap">
         <import namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"/>
         <import namespace="http://SoaplabShare.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="mapItem">
            <sequence>
               <element name="key" nillable="true" type="xsd:anyType"/>
               <element name="value" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
         <complexType name="Map">
            <sequence>
               <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://derived.gowlab.SoaplabServer.ebi.embl.org">
         <import namespace="http://xml.apache.org/xml-soap"/>
         <import namespace="http://SoaplabShare.ebi.embl.org"/>
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_apachesoap_Map">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="apachesoap:Map[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_soapenc_string">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>

   <wsdl:message name="getNotificationDescriptorResponse">

      <wsdl:part name="getNotificationDescriptorReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNotifiableResponse">

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLastEventRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="destroyResponse">

   </wsdl:message>

   <wsdl:message name="getEndedResponse">

      <wsdl:part name="getEndedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="createJobResponse">

      <wsdl:part name="createJobReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_HMMPfamRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_FPrintScanResponse">

   </wsdl:message>

   <wsdl:message name="destroyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getStartedResponse">

      <wsdl:part name="getStartedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getElapsedResponse">

      <wsdl:part name="getElapsedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="set_appl_ProfileScanResponse">

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="waitForResponse">

   </wsdl:message>

   <wsdl:message name="set_trlenResponse">

   </wsdl:message>

   <wsdl:message name="getStartedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSomeResultsResponse">

      <wsdl:part name="getSomeResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="SoaplabException">

      <wsdl:part name="fault" type="tns2:SoaplabException"/>

   </wsdl:message>

   <wsdl:message name="getResultsResponse">

      <wsdl:part name="getResultsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeRequest">

   </wsdl:message>

   <wsdl:message name="set_appl_HMMPIRRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_BlastProDomRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_SuperFamilyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_HMMTigrResponse">

   </wsdl:message>

   <wsdl:message name="set_appl_HMMPIRResponse">

   </wsdl:message>

   <wsdl:message name="set_sequenceRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_detailed_statusRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createEmptyJobRequest">

   </wsdl:message>

   <wsdl:message name="get_reportRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_sequenceResponse">

   </wsdl:message>

   <wsdl:message name="set_trlenRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createEmptyJobResponse">

      <wsdl:part name="createEmptyJobReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_detailed_statusResponse">

      <wsdl:part name="get_detailed_statusReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAnalysisTypeResponse">

      <wsdl:part name="getAnalysisTypeReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getCreatedResponse">

      <wsdl:part name="getCreatedReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="set_appl_FPrintScanRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getInputSpecResponse">

      <wsdl:part name="getInputSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="terminateRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getNotificationDescriptorRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNotifiableRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getResultSpecRequest">

   </wsdl:message>

   <wsdl:message name="describeResponse">

      <wsdl:part name="describeReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runResponse">

   </wsdl:message>

   <wsdl:message name="getCharacteristicsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLastEventResponse">

      <wsdl:part name="getLastEventReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_BlastProDomResponse">

   </wsdl:message>

   <wsdl:message name="set_appl_SuperFamilyResponse">

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="terminateResponse">

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="getStatusReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createJobRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="describeRequest">

   </wsdl:message>

   <wsdl:message name="getSomeResultsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_ScanRegExpResponse">

   </wsdl:message>

   <wsdl:message name="set_appl_HMMPfamResponse">

   </wsdl:message>

   <wsdl:message name="get_reportResponse">

      <wsdl:part name="get_reportReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getEndedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCreatedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runAndWaitForResponse">

      <wsdl:part name="runAndWaitForReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="createAndRunResponse">

      <wsdl:part name="createAndRunReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_gotermsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_resultRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_gotermsResponse">

   </wsdl:message>

   <wsdl:message name="createAndRunNotifiableResponse">

      <wsdl:part name="createAndRunNotifiableReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="set_appl_HMMSmartRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="waitForRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="get_resultResponse">

      <wsdl:part name="get_resultReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getCharacteristicsResponse">

      <wsdl:part name="getCharacteristicsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_appl_ProfileScanRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getResultSpecResponse">

      <wsdl:part name="getResultSpecReturn" type="impl:ArrayOf_apachesoap_Map"/>

   </wsdl:message>

   <wsdl:message name="set_appl_HMMSmartResponse">

   </wsdl:message>

   <wsdl:message name="getInputSpecRequest">

   </wsdl:message>

   <wsdl:message name="set_appl_ScanRegExpRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getElapsedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createAndRunRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="set_appl_HMMTigrRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="interproscan__proteinraw">

      <wsdl:operation name="createEmptyJob">

         <wsdl:input message="impl:createEmptyJobRequest" name="createEmptyJobRequest"/>

         <wsdl:output message="impl:createEmptyJobResponse" name="createEmptyJobResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_sequence" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_sequenceRequest" name="set_sequenceRequest"/>

         <wsdl:output message="impl:set_sequenceResponse" name="set_sequenceResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_report" parameterOrder="in0">

         <wsdl:input message="impl:get_reportRequest" name="get_reportRequest"/>

         <wsdl:output message="impl:get_reportResponse" name="get_reportResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_detailed_status" parameterOrder="in0">

         <wsdl:input message="impl:get_detailed_statusRequest" name="get_detailed_statusRequest"/>

         <wsdl:output message="impl:get_detailed_statusResponse" name="get_detailed_statusResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="get_result" parameterOrder="in0">

         <wsdl:input message="impl:get_resultRequest" name="get_resultRequest"/>

         <wsdl:output message="impl:get_resultResponse" name="get_resultResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_trlen" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_trlenRequest" name="set_trlenRequest"/>

         <wsdl:output message="impl:set_trlenResponse" name="set_trlenResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_BlastProDom" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_BlastProDomRequest" name="set_appl_BlastProDomRequest"/>

         <wsdl:output message="impl:set_appl_BlastProDomResponse" name="set_appl_BlastProDomResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_FPrintScan" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_FPrintScanRequest" name="set_appl_FPrintScanRequest"/>

         <wsdl:output message="impl:set_appl_FPrintScanResponse" name="set_appl_FPrintScanResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMPIR" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_HMMPIRRequest" name="set_appl_HMMPIRRequest"/>

         <wsdl:output message="impl:set_appl_HMMPIRResponse" name="set_appl_HMMPIRResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMPfam" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_HMMPfamRequest" name="set_appl_HMMPfamRequest"/>

         <wsdl:output message="impl:set_appl_HMMPfamResponse" name="set_appl_HMMPfamResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMSmart" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_HMMSmartRequest" name="set_appl_HMMSmartRequest"/>

         <wsdl:output message="impl:set_appl_HMMSmartResponse" name="set_appl_HMMSmartResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMTigr" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_HMMTigrRequest" name="set_appl_HMMTigrRequest"/>

         <wsdl:output message="impl:set_appl_HMMTigrResponse" name="set_appl_HMMTigrResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_ProfileScan" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_ProfileScanRequest" name="set_appl_ProfileScanRequest"/>

         <wsdl:output message="impl:set_appl_ProfileScanResponse" name="set_appl_ProfileScanResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_ScanRegExp" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_ScanRegExpRequest" name="set_appl_ScanRegExpRequest"/>

         <wsdl:output message="impl:set_appl_ScanRegExpResponse" name="set_appl_ScanRegExpResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_appl_SuperFamily" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_appl_SuperFamilyRequest" name="set_appl_SuperFamilyRequest"/>

         <wsdl:output message="impl:set_appl_SuperFamilyResponse" name="set_appl_SuperFamilyResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="set_goterms" parameterOrder="in0 in1">

         <wsdl:input message="impl:set_gotermsRequest" name="set_gotermsRequest"/>

         <wsdl:output message="impl:set_gotermsResponse" name="set_gotermsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="run" parameterOrder="in0">

         <wsdl:input message="impl:runRequest" name="runRequest"/>

         <wsdl:output message="impl:runResponse" name="runResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="destroy" parameterOrder="in0">

         <wsdl:input message="impl:destroyRequest" name="destroyRequest"/>

         <wsdl:output message="impl:destroyResponse" name="destroyResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdl:input message="impl:getInputSpecRequest" name="getInputSpecRequest"/>

         <wsdl:output message="impl:getInputSpecResponse" name="getInputSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdl:input message="impl:getResultSpecRequest" name="getResultSpecRequest"/>

         <wsdl:output message="impl:getResultSpecResponse" name="getResultSpecResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdl:input message="impl:getAnalysisTypeRequest" name="getAnalysisTypeRequest"/>

         <wsdl:output message="impl:getAnalysisTypeResponse" name="getAnalysisTypeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdl:input message="impl:describeRequest" name="describeRequest"/>

         <wsdl:output message="impl:describeResponse" name="describeResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createJob" parameterOrder="in0">

         <wsdl:input message="impl:createJobRequest" name="createJobRequest"/>

         <wsdl:output message="impl:createJobResponse" name="createJobResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getResults" parameterOrder="in0">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest"/>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable" parameterOrder="in0 in1">

         <wsdl:input message="impl:runNotifiableRequest" name="runNotifiableRequest"/>

         <wsdl:output message="impl:runNotifiableResponse" name="runNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRun" parameterOrder="in0">

         <wsdl:input message="impl:createAndRunRequest" name="createAndRunRequest"/>

         <wsdl:output message="impl:createAndRunResponse" name="createAndRunResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable" parameterOrder="in0 in1">

         <wsdl:input message="impl:createAndRunNotifiableRequest"
                     name="createAndRunNotifiableRequest"/>

         <wsdl:output message="impl:createAndRunNotifiableResponse"
                      name="createAndRunNotifiableResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="waitFor" parameterOrder="in0">

         <wsdl:input message="impl:waitForRequest" name="waitForRequest"/>

         <wsdl:output message="impl:waitForResponse" name="waitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor" parameterOrder="in0">

         <wsdl:input message="impl:runAndWaitForRequest" name="runAndWaitForRequest"/>

         <wsdl:output message="impl:runAndWaitForResponse" name="runAndWaitForResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="terminate" parameterOrder="in0">

         <wsdl:input message="impl:terminateRequest" name="terminateRequest"/>

         <wsdl:output message="impl:terminateResponse" name="terminateResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent" parameterOrder="in0">

         <wsdl:input message="impl:getLastEventRequest" name="getLastEventRequest"/>

         <wsdl:output message="impl:getLastEventResponse" name="getLastEventResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor" parameterOrder="in0">

         <wsdl:input message="impl:getNotificationDescriptorRequest"
                     name="getNotificationDescriptorRequest"/>

         <wsdl:output message="impl:getNotificationDescriptorResponse"
                      name="getNotificationDescriptorResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus" parameterOrder="in0">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreated" parameterOrder="in0">

         <wsdl:input message="impl:getCreatedRequest" name="getCreatedRequest"/>

         <wsdl:output message="impl:getCreatedResponse" name="getCreatedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getStarted" parameterOrder="in0">

         <wsdl:input message="impl:getStartedRequest" name="getStartedRequest"/>

         <wsdl:output message="impl:getStartedResponse" name="getStartedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getEnded" parameterOrder="in0">

         <wsdl:input message="impl:getEndedRequest" name="getEndedRequest"/>

         <wsdl:output message="impl:getEndedResponse" name="getEndedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getElapsed" parameterOrder="in0">

         <wsdl:input message="impl:getElapsedRequest" name="getElapsedRequest"/>

         <wsdl:output message="impl:getElapsedResponse" name="getElapsedResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics" parameterOrder="in0">

         <wsdl:input message="impl:getCharacteristicsRequest" name="getCharacteristicsRequest"/>

         <wsdl:output message="impl:getCharacteristicsResponse" name="getCharacteristicsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults" parameterOrder="in0 in1">

         <wsdl:input message="impl:getSomeResultsRequest" name="getSomeResultsRequest"/>

         <wsdl:output message="impl:getSomeResultsResponse" name="getSomeResultsResponse"/>

         <wsdl:fault message="impl:SoaplabException" name="SoaplabException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="interproscan.proteinraw.derivedSoapBinding"
                 type="impl:interproscan__proteinraw">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createEmptyJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createEmptyJobRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createEmptyJobResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_sequence">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_sequenceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_sequenceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_report">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_reportRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_reportResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_detailed_status">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_detailed_statusRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_detailed_statusResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="get_result">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_resultRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="get_resultResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_trlen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_trlenRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_trlenResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_BlastProDom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_BlastProDomRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_BlastProDomResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_FPrintScan">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_FPrintScanRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_FPrintScanResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMPIR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_HMMPIRRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_HMMPIRResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMPfam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_HMMPfamRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_HMMPfamResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMSmart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_HMMSmartRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_HMMSmartResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_HMMTigr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_HMMTigrRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_HMMTigrResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_ProfileScan">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_ProfileScanRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_ProfileScanResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_ScanRegExp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_ScanRegExpRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_ScanRegExpResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_appl_SuperFamily">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_appl_SuperFamilyRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_appl_SuperFamilyResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="set_goterms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="set_gotermsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="set_gotermsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="run">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="destroy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="destroyRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="destroyResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getInputSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInputSpecRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getInputSpecResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResultSpec">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultSpecRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultSpecResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAnalysisType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAnalysisTypeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAnalysisTypeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="describe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="describeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="describeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createJobRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createJobResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNotifiableRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNotifiableResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRun">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createAndRunNotifiable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAndRunNotifiableRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAndRunNotifiableResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="waitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="waitForRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="waitForResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runAndWaitFor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runAndWaitForRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runAndWaitForResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="terminate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="terminateRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="terminateResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLastEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastEventRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLastEventResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getNotificationDescriptor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNotificationDescriptorRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNotificationDescriptorResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreatedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCreatedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStarted">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStartedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStartedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getEnded">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEndedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEndedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getElapsed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElapsedRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getElapsedResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCharacteristics">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCharacteristicsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCharacteristicsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSomeResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSomeResultsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSomeResultsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                           use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="SoaplabException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            name="SoaplabException"
                            namespace="http://derived.gowlab.SoaplabServer.ebi.embl.org"
                            use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="interproscan__proteinrawService">

      <wsdl:port binding="impl:interproscan.proteinraw.derivedSoapBinding"
                 name="interproscan.proteinraw.derived">

         <wsdlsoap:address location="http://ws.soatrader.com/ebi.ac.uk/0.1/interproscan__proteinrawService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>