wsdl_repositories/soatrader/Ip2LocationWebService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.fraudlabs.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.fraudlabs.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://ws.fraudlabs.com/">
         <s:element name="IP2Location">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LICENSE" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="IP2LocationResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="IP2LocationResult" type="tns:IP2LOCATION"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="IP2LOCATION">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="COUNTRYCODE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="COUNTRYNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="REGION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CITY" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LATITUDE" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LONGITUDE" type="s:float"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZIPCODE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ISPNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DOMAINNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CREDITSAVAILABLE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="IP2LOCATION" nillable="true" type="tns:IP2LOCATION"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="IP2LocationSoapIn">
      <wsdl:part name="parameters" element="tns:IP2Location"/>
  </wsdl:message>
  <wsdl:message name="IP2LocationSoapOut">
      <wsdl:part name="parameters" element="tns:IP2LocationResponse"/>
  </wsdl:message>
  <wsdl:message name="IP2LocationHttpGetIn">
      <wsdl:part name="IP" type="s:string"/>
      <wsdl:part name="LICENSE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IP2LocationHttpGetOut">
      <wsdl:part name="Body" element="tns:IP2LOCATION"/>
  </wsdl:message>
  <wsdl:message name="IP2LocationHttpPostIn">
      <wsdl:part name="IP" type="s:string"/>
      <wsdl:part name="LICENSE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="IP2LocationHttpPostOut">
      <wsdl:part name="Body" element="tns:IP2LOCATION"/>
  </wsdl:message>
  <wsdl:portType name="Ip2LocationWebServiceSoap">
      <wsdl:operation name="IP2Location">
         <wsdl:input message="tns:IP2LocationSoapIn"/>
         <wsdl:output message="tns:IP2LocationSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Ip2LocationWebServiceSoap" type="tns:Ip2LocationWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="IP2Location">
         <soap:operation soapAction="http://ws.fraudlabs.com/IP2Location" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Ip2LocationWebService">
      <wsdl:port name="Ip2LocationWebServiceSoap" binding="tns:Ip2LocationWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/ip2location.com/0.1/Ip2LocationWebService"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>