wsdl_repositories/soatrader/LoanApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="AgreeToDisclosure">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AgreeToDisclosureResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AgreeToDisclosureResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeStaffMember">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ChangeStaffMemberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ChangeStaffMemberResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateLoanApp">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CreateLoanAppResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CreateLoanAppResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CustomerAuthenticate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CustomerAuthenticateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerAuthenticateResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CustomerLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CustomerLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CustomerLoginResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FinishLoanApp">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FinishLoanAppResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FinishLoanAppResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAreementData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAreementDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAreementDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBackGroundImage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetBackGroundImageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetBackGroundImageResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEditText">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetEditTextResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetEditTextResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFieldDependencies">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFieldDependenciesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFieldDependenciesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFirstRepeaterID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFirstRepeaterIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFirstRepeaterIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHelpText">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHelpTextResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetHelpTextResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastScreenID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLastScreenIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLastScreenIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextScreenID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNextScreenIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetNextScreenIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrevScreenID">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetPrevScreenIDResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPrevScreenIDResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScreenData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScreenDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScreenDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScreenDependencies">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetScreenDependenciesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetScreenDependenciesResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStaffMemberPhoto">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStaffMemberPhotoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStaffMemberPhotoResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveScreenData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveScreenDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SaveScreenDataResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetEditText">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetEditTextResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SetEditTextResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AgreeToDisclosureSoapIn">
      <wsdl:part name="parameters" element="tns:AgreeToDisclosure"/>
  </wsdl:message>
  <wsdl:message name="AgreeToDisclosureSoapOut">
      <wsdl:part name="parameters" element="tns:AgreeToDisclosureResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberSoapIn">
      <wsdl:part name="parameters" element="tns:ChangeStaffMember"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberSoapOut">
      <wsdl:part name="parameters" element="tns:ChangeStaffMemberResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppSoapIn">
      <wsdl:part name="parameters" element="tns:CreateLoanApp"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppSoapOut">
      <wsdl:part name="parameters" element="tns:CreateLoanAppResponse"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateSoapIn">
      <wsdl:part name="parameters" element="tns:CustomerAuthenticate"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateSoapOut">
      <wsdl:part name="parameters" element="tns:CustomerAuthenticateResponse"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginSoapIn">
      <wsdl:part name="parameters" element="tns:CustomerLogin"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginSoapOut">
      <wsdl:part name="parameters" element="tns:CustomerLoginResponse"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppSoapIn">
      <wsdl:part name="parameters" element="tns:FinishLoanApp"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppSoapOut">
      <wsdl:part name="parameters" element="tns:FinishLoanAppResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetAreementData"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetAreementDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageSoapIn">
      <wsdl:part name="parameters" element="tns:GetBackGroundImage"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageSoapOut">
      <wsdl:part name="parameters" element="tns:GetBackGroundImageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextSoapIn">
      <wsdl:part name="parameters" element="tns:GetEditText"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextSoapOut">
      <wsdl:part name="parameters" element="tns:GetEditTextResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesSoapIn">
      <wsdl:part name="parameters" element="tns:GetFieldDependencies"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesSoapOut">
      <wsdl:part name="parameters" element="tns:GetFieldDependenciesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetFirstRepeaterID"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetFirstRepeaterIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextSoapIn">
      <wsdl:part name="parameters" element="tns:GetHelpText"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextSoapOut">
      <wsdl:part name="parameters" element="tns:GetHelpTextResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetLastScreenID"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetLastScreenIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetNextScreenID"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetNextScreenIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDSoapIn">
      <wsdl:part name="parameters" element="tns:GetPrevScreenID"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDSoapOut">
      <wsdl:part name="parameters" element="tns:GetPrevScreenIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetScreenData"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetScreenDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesSoapIn">
      <wsdl:part name="parameters" element="tns:GetScreenDependencies"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesSoapOut">
      <wsdl:part name="parameters" element="tns:GetScreenDependenciesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoSoapIn">
      <wsdl:part name="parameters" element="tns:GetStaffMemberPhoto"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoSoapOut">
      <wsdl:part name="parameters" element="tns:GetStaffMemberPhotoResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataSoapIn">
      <wsdl:part name="parameters" element="tns:SaveScreenData"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataSoapOut">
      <wsdl:part name="parameters" element="tns:SaveScreenDataResponse"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextSoapIn">
      <wsdl:part name="parameters" element="tns:SetEditText"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextSoapOut">
      <wsdl:part name="parameters" element="tns:SetEditTextResponse"/>
  </wsdl:message>
  <wsdl:message name="AgreeToDisclosureHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgreeToDisclosureHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextHttpGetIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="AgreeToDisclosureHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="AgreeToDisclosureHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeStaffMemberHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CreateLoanAppHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerAuthenticateHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CustomerLoginHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FinishLoanAppHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAreementDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetBackGroundImageHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetEditTextHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFieldDependenciesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFirstRepeaterIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHelpTextHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLastScreenIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetNextScreenIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPrevScreenIDHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetScreenDependenciesHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStaffMemberPhotoHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SaveScreenDataHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextHttpPostIn">
      <wsdl:part name="Data" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SetEditTextHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="LoanAppSoap">
      <wsdl:operation name="AgreeToDisclosure">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Agree to a disclosure.</documentation>
         <wsdl:input message="tns:AgreeToDisclosureSoapIn"/>
         <wsdl:output message="tns:AgreeToDisclosureSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ChangeStaffMember">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new loan application.</documentation>
         <wsdl:input message="tns:ChangeStaffMemberSoapIn"/>
         <wsdl:output message="tns:ChangeStaffMemberSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CreateLoanApp">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a new loan application.</documentation>
         <wsdl:input message="tns:CreateLoanAppSoapIn"/>
         <wsdl:output message="tns:CreateLoanAppSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CustomerAuthenticate">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allow the customer to Relogin.</documentation>
         <wsdl:input message="tns:CustomerAuthenticateSoapIn"/>
         <wsdl:output message="tns:CustomerAuthenticateSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="CustomerLogin">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allow the customer to login.</documentation>
         <wsdl:input message="tns:CustomerLoginSoapIn"/>
         <wsdl:output message="tns:CustomerLoginSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="FinishLoanApp">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Finish the loan application.</documentation>
         <wsdl:input message="tns:FinishLoanAppSoapIn"/>
         <wsdl:output message="tns:FinishLoanAppSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAreementData">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the text for a given agreement type.</documentation>
         <wsdl:input message="tns:GetAreementDataSoapIn"/>
         <wsdl:output message="tns:GetAreementDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetBackGroundImage">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the image of the selected staff member.</documentation>
         <wsdl:input message="tns:GetBackGroundImageSoapIn"/>
         <wsdl:output message="tns:GetBackGroundImageSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetEditText">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the admin text for this field.</documentation>
         <wsdl:input message="tns:GetEditTextSoapIn"/>
         <wsdl:output message="tns:GetEditTextSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFieldDependencies">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the fields dependendent on this field.</documentation>
         <wsdl:input message="tns:GetFieldDependenciesSoapIn"/>
         <wsdl:output message="tns:GetFieldDependenciesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetFirstRepeaterID">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the first field repeater id for the given screen.</documentation>
         <wsdl:input message="tns:GetFirstRepeaterIDSoapIn"/>
         <wsdl:output message="tns:GetFirstRepeaterIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetHelpText">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get help text associated with a field id.</documentation>
         <wsdl:input message="tns:GetHelpTextSoapIn"/>
         <wsdl:output message="tns:GetHelpTextSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetLastScreenID">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the ID of the last screen.</documentation>
         <wsdl:input message="tns:GetLastScreenIDSoapIn"/>
         <wsdl:output message="tns:GetLastScreenIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetNextScreenID">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the ID of the next screen.</documentation>
         <wsdl:input message="tns:GetNextScreenIDSoapIn"/>
         <wsdl:output message="tns:GetNextScreenIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetPrevScreenID">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the ID of the previous screen.</documentation>
         <wsdl:input message="tns:GetPrevScreenIDSoapIn"/>
         <wsdl:output message="tns:GetPrevScreenIDSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetScreenData">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the data for the screen.</documentation>
         <wsdl:input message="tns:GetScreenDataSoapIn"/>
         <wsdl:output message="tns:GetScreenDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetScreenDependencies">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the screens dependendent on this field.</documentation>
         <wsdl:input message="tns:GetScreenDependenciesSoapIn"/>
         <wsdl:output message="tns:GetScreenDependenciesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetStaffMemberPhoto">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the image of the selected staff member.</documentation>
         <wsdl:input message="tns:GetStaffMemberPhotoSoapIn"/>
         <wsdl:output message="tns:GetStaffMemberPhotoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveScreenData">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Save the data for the screen.</documentation>
         <wsdl:input message="tns:SaveScreenDataSoapIn"/>
         <wsdl:output message="tns:SaveScreenDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetEditText">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the admin text for this field.</documentation>
         <wsdl:input message="tns:SetEditTextSoapIn"/>
         <wsdl:output message="tns:SetEditTextSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="LoanAppSoap" type="tns:LoanAppSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="AgreeToDisclosure">
         <soap:operation soapAction="http://tempuri.org/AgreeToDisclosure" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangeStaffMember">
         <soap:operation soapAction="http://tempuri.org/ChangeStaffMember" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateLoanApp">
         <soap:operation soapAction="http://tempuri.org/CreateLoanApp" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CustomerAuthenticate">
         <soap:operation soapAction="http://tempuri.org/CustomerAuthenticate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CustomerLogin">
         <soap:operation soapAction="http://tempuri.org/CustomerLogin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FinishLoanApp">
         <soap:operation soapAction="http://tempuri.org/FinishLoanApp" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAreementData">
         <soap:operation soapAction="http://tempuri.org/GetAreementData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetBackGroundImage">
         <soap:operation soapAction="http://tempuri.org/GetBackGroundImage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetEditText">
         <soap:operation soapAction="http://tempuri.org/GetEditText" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFieldDependencies">
         <soap:operation soapAction="http://tempuri.org/GetFieldDependencies" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFirstRepeaterID">
         <soap:operation soapAction="http://tempuri.org/GetFirstRepeaterID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHelpText">
         <soap:operation soapAction="http://tempuri.org/GetHelpText" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLastScreenID">
         <soap:operation soapAction="http://tempuri.org/GetLastScreenID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetNextScreenID">
         <soap:operation soapAction="http://tempuri.org/GetNextScreenID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPrevScreenID">
         <soap:operation soapAction="http://tempuri.org/GetPrevScreenID" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetScreenData">
         <soap:operation soapAction="http://tempuri.org/GetScreenData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetScreenDependencies">
         <soap:operation soapAction="http://tempuri.org/GetScreenDependencies" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStaffMemberPhoto">
         <soap:operation soapAction="http://tempuri.org/GetStaffMemberPhoto" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveScreenData">
         <soap:operation soapAction="http://tempuri.org/SaveScreenData" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetEditText">
         <soap:operation soapAction="http://tempuri.org/SetEditText" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="LoanApp">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="LoanAppSoap" binding="tns:LoanAppSoap">
         <soap:address location="http://ws.soatrader.com/mortgagexsites.com/0.3/LoanApp"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>