wsdl_repositories/soatrader/Local.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:i1="http://www.servicex.co.uk/wsAddress/DataSetCouncilTax.xsd"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:i7="http://www.servicex.co.uk/wsAddress/DataSetProperty.xsd"
                  xmlns:i6="http://www.servicex.co.uk/wsAddress/DataSetPoliceCrime.xsd"
                  xmlns:i5="http://www.servicex.co.uk/wsAddress/DataSetPeople.xsd"
                  xmlns:i4="http://www.servicex.co.uk/wsAddress/DataSetMP.xsd"
                  xmlns:i3="http://www.servicex.co.uk/wsAddress/DataSetEnvironment.xsd"
                  xmlns:i2="http://www.servicex.co.uk/wsAddress/DataSetCountyCouncil.xsd"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:i0="http://www.servicex.co.uk/wsAddress/DataSetAuthority.xsd"
                  xmlns:tns="http://www.servicex.co.uk/wsAddress/Local/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.servicex.co.uk/wsAddress/Local/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetAuthority.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetAuthority"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetCouncilTax.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetCouncilTax"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetCountyCouncil.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetCountyCouncil"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetEnvironment.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetEnvironment"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetMP.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetMP"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPeople.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetPeople"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPoliceCrime.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetPoliceCrime"/>
  <wsdl:import namespace="http://www.servicex.co.uk/wsAddress/DataSetProperty.xsd"
                location="http://www.servicex.co.uk/wsAddress/Local.asmx?schema=DataSetProperty"/>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.servicex.co.uk/wsAddress/Local/">
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetAuthority.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetCouncilTax.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetCountyCouncil.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetEnvironment.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetMP.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPeople.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetPoliceCrime.xsd"/>
         <s:import namespace="http://www.servicex.co.uk/wsAddress/DataSetProperty.xsd"/>
         <s:element name="lxAuthority">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxAuthorityResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxAuthorityResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetAuthority.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxCouncilTaxBands">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxCouncilTaxBandsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxCouncilTaxBandsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetCouncilTax.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxCountyCouncil">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxCountyCouncilResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxCountyCouncilResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetCountyCouncil.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxEnvironment">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxEnvironmentResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxEnvironmentResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetEnvironment.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxMP">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxMPResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxMPResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetMP.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxPeople">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxPeopleResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxPeopleResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPeople.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxPoliceCrime">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxPoliceCrimeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxPoliceCrimeResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPoliceCrime.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxProperty">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="lxPropertyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="lxPropertyResult">
                     <s:complexType>
                        <s:sequence>
                           <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetProperty.xsd"/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetAuthority" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetAuthority.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetCouncilTax" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetCouncilTax.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetCountyCouncil" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetCountyCouncil.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetEnvironment" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetEnvironment.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetMP" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetMP.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetPeople" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPeople.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetPoliceCrime" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetPoliceCrime.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSetProperty" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:any namespace="http://www.servicex.co.uk/wsAddress/DataSetProperty.xsd"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="lxAuthoritySoapIn">
      <wsdl:part name="parameters" element="tns:lxAuthority"/>
  </wsdl:message>
  <wsdl:message name="lxAuthoritySoapOut">
      <wsdl:part name="parameters" element="tns:lxAuthorityResponse"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsSoapIn">
      <wsdl:part name="parameters" element="tns:lxCouncilTaxBands"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsSoapOut">
      <wsdl:part name="parameters" element="tns:lxCouncilTaxBandsResponse"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilSoapIn">
      <wsdl:part name="parameters" element="tns:lxCountyCouncil"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilSoapOut">
      <wsdl:part name="parameters" element="tns:lxCountyCouncilResponse"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentSoapIn">
      <wsdl:part name="parameters" element="tns:lxEnvironment"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentSoapOut">
      <wsdl:part name="parameters" element="tns:lxEnvironmentResponse"/>
  </wsdl:message>
  <wsdl:message name="lxMPSoapIn">
      <wsdl:part name="parameters" element="tns:lxMP"/>
  </wsdl:message>
  <wsdl:message name="lxMPSoapOut">
      <wsdl:part name="parameters" element="tns:lxMPResponse"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleSoapIn">
      <wsdl:part name="parameters" element="tns:lxPeople"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleSoapOut">
      <wsdl:part name="parameters" element="tns:lxPeopleResponse"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeSoapIn">
      <wsdl:part name="parameters" element="tns:lxPoliceCrime"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeSoapOut">
      <wsdl:part name="parameters" element="tns:lxPoliceCrimeResponse"/>
  </wsdl:message>
  <wsdl:message name="lxPropertySoapIn">
      <wsdl:part name="parameters" element="tns:lxProperty"/>
  </wsdl:message>
  <wsdl:message name="lxPropertySoapOut">
      <wsdl:part name="parameters" element="tns:lxPropertyResponse"/>
  </wsdl:message>
  <wsdl:message name="lxAuthorityHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxAuthorityHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetAuthority"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetCouncilTax"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetCountyCouncil"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetEnvironment"/>
  </wsdl:message>
  <wsdl:message name="lxMPHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxMPHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetMP"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetPeople"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetPoliceCrime"/>
  </wsdl:message>
  <wsdl:message name="lxPropertyHttpGetIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPropertyHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSetProperty"/>
  </wsdl:message>
  <wsdl:message name="lxAuthorityHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxAuthorityHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetAuthority"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxCouncilTaxBandsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetCouncilTax"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxCountyCouncilHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetCountyCouncil"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxEnvironmentHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetEnvironment"/>
  </wsdl:message>
  <wsdl:message name="lxMPHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxMPHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetMP"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPeopleHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetPeople"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPoliceCrimeHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetPoliceCrime"/>
  </wsdl:message>
  <wsdl:message name="lxPropertyHttpPostIn">
      <wsdl:part name="tag" type="s:string"/>
      <wsdl:part name="Postcode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="lxPropertyHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSetProperty"/>
  </wsdl:message>
  <wsdl:portType name="LocalSoap">
      <wsdl:operation name="lxAuthority">
         <wsdl:input message="tns:lxAuthoritySoapIn"/>
         <wsdl:output message="tns:lxAuthoritySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxCouncilTaxBands">
         <wsdl:input message="tns:lxCouncilTaxBandsSoapIn"/>
         <wsdl:output message="tns:lxCouncilTaxBandsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxCountyCouncil">
         <wsdl:input message="tns:lxCountyCouncilSoapIn"/>
         <wsdl:output message="tns:lxCountyCouncilSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxEnvironment">
         <wsdl:input message="tns:lxEnvironmentSoapIn"/>
         <wsdl:output message="tns:lxEnvironmentSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxMP">
         <wsdl:input message="tns:lxMPSoapIn"/>
         <wsdl:output message="tns:lxMPSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxPeople">
         <wsdl:input message="tns:lxPeopleSoapIn"/>
         <wsdl:output message="tns:lxPeopleSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxPoliceCrime">
         <wsdl:input message="tns:lxPoliceCrimeSoapIn"/>
         <wsdl:output message="tns:lxPoliceCrimeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="lxProperty">
         <wsdl:input message="tns:lxPropertySoapIn"/>
         <wsdl:output message="tns:lxPropertySoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="LocalSoap" type="tns:LocalSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="lxAuthority">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxAuthority"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxCouncilTaxBands">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxCouncilTaxBands"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxCountyCouncil">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxCountyCouncil"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxEnvironment">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxEnvironment"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxMP">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxMP" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxPeople">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxPeople"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxPoliceCrime">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxPoliceCrime"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="lxProperty">
         <soap:operation soapAction="http://www.servicex.co.uk/wsAddress/Local/lxProperty"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Local">
      <wsdl:port name="LocalSoap" binding="tns:LocalSoap">
         <soap:address location="http://ws.soatrader.com/servicex.co.uk/0.1/Local"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>