wsdl_repositories/soatrader/ManovaService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:manova"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:manova"
                  xmlns:intf="urn:manova"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:manova">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">13:48:448 February 2005</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">e144b423f579aaf9184b922ca38c3c91</version>
   </wsdl:documentation>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="manovaResponse">
      <wsdl:part name="manovaReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="manovaRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:portType name="Manova">
      <wsdl:operation name="manova" parameterOrder="in0 in1">
         <wsdl:input message="impl:manovaRequest" name="manovaRequest"/>
         <wsdl:output message="impl:manovaResponse" name="manovaResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="manovaSoapBinding" type="impl:Manova">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="manova">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="manovaRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="manovaResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:manova"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ManovaService">
      <wsdl:port binding="impl:manovaSoapBinding" name="manova">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.2/ManovaService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>