wsdl_repositories/soatrader/MarketData.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/WebService1/Service1"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/WebService1/Service1">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/WebService1/Service1">
         <s:element name="GetLatestMarketData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="IncludeDepth" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetLatestMarketDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetLatestMarketDataResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestMarketDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetLatestMarketData"/>
  </wsdl:message>
  <wsdl:message name="GetLatestMarketDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetLatestMarketDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLatestMarketDataHttpGetIn">
      <wsdl:part name="IncludeDepth" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestMarketDataHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetLatestMarketDataHttpPostIn">
      <wsdl:part name="IncludeDepth" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLatestMarketDataHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:portType name="MarketDataSoap">
      <wsdl:operation name="GetLatestMarketData">
         <wsdl:input message="tns:GetLatestMarketDataSoapIn"/>
         <wsdl:output message="tns:GetLatestMarketDataSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="MarketDataSoap" type="tns:MarketDataSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetLatestMarketData">
         <soap:operation soapAction="http://tempuri.org/WebService1/Service1/GetLatestMarketData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="MarketData">
      <wsdl:port name="MarketDataSoap" binding="tns:MarketDataSoap">
         <soap:address location="http://ws.soatrader.com/dfm.co.ae/0.1/MarketData"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>