wsdl_repositories/soatrader/MarketSOAPServer.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.example.com/1130222384531/getMarketDataImpl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns0="http://xmlns.example.com/unique/default/namespace/1125912422013"
                  name="Untitled"
                  targetNamespace="http://xmlns.example.com/1130222384531/getMarketDataImpl">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
        <xsd:schema xmlns="http://xmlns.example.com/unique/default/namespace/1125912422013"
                  elementFormDefault="qualified"
                  attributeFormDefault="unqualified"
                  targetNamespace="http://xmlns.example.com/unique/default/namespace/1125912422013">
            <xsd:element name="DATA_VALUE" type="xsd:string"/>
            <xsd:element name="ELEMENT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:TAG"/>
                        <xsd:element minOccurs="0" ref="ns0:DATA_VALUE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ERROR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:ERROR_CODE"/>
                        <xsd:element minOccurs="0" ref="ns0:ERROR_DESC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ERROR_CODE" type="xsd:string"/>
            <xsd:element name="ERROR_DESC" type="xsd:string"/>
            <xsd:element name="GI_MSG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ"/>
                        <xsd:element minOccurs="0" ref="ns0:MARKET_SUMMARY"/>
                        <xsd:element minOccurs="0" ref="ns0:MARKET_STATUS"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_1_BANKING">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_2_INSURANCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_3_SERVICES">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_4_INDUSTRIAL">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="INDEX_ID" type="xsd:string"/>
            <xsd:element name="INDEX_SIGN" type="xsd:string"/>
            <xsd:element name="LIVE_QUOTE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_PERV_CLOSING"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OPEN_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OFFER_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OFFER_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_BID_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_BID_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_CURRENT_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAY_TRADES"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TRADED_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TRADED_VALUE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAYS_HIGH"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAYS_LOW"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_CHANGE_PERCENTAGE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_AVG_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_WEEKS_HIGH_52"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_WEEKS_LOW_52"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_NET_CHANGE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_INVISIBLE_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY_EN"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY_AR"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_MBO"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_MBP"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_FIELD1"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_IS_UPDATE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LQ">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns0:LIVE_QUOTE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LQ_AVG_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_BID_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_BID_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY_AR" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY_EN" type="xsd:string"/>
            <xsd:element name="LQ_CURRENT_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_FIELD1" type="xsd:string"/>
            <xsd:element name="LQ_INVISIBLE_SIGN" type="xsd:string"/>
            <xsd:element name="LQ_IS_UPDATE" type="xsd:string"/>
            <xsd:element name="LQ_MBO" type="xsd:string"/>
            <xsd:element name="LQ_MBP" type="xsd:string"/>
            <xsd:element name="LQ_NET_CHANGE" type="xsd:string"/>
            <xsd:element name="LQ_OFFER_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_OFFER_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_OPEN_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_PERV_CLOSING" type="xsd:string"/>
            <xsd:element name="LQ_TODAYS_HIGH" type="xsd:string"/>
            <xsd:element name="LQ_TODAYS_LOW" type="xsd:string"/>
            <xsd:element name="LQ_TODAY_TRADES" type="xsd:string"/>
            <xsd:element name="LQ_TRADED_VALUE" type="xsd:string"/>
            <xsd:element name="LQ_TRADED_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_WEEKS_HIGH_52" type="xsd:string"/>
            <xsd:element name="LQ_WEEKS_LOW_52" type="xsd:string"/>
            <xsd:element name="MARKET_BY_ORDER">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_SYMBOL"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_BY_PRICE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_SYMBOL"/>
                        <xsd:element minOccurs="0" ref="ns0:MBP_ASK"/>
                        <xsd:element minOccurs="0" ref="ns0:MBP_BID"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_STATUS" type="xsd:string"/>
            <xsd:element name="MARKET_SUMMARY">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_INDEX"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_PRE_INDEX"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_NET_CHANGE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CHANGE_PERCENTAGE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_VALUE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_TRADES"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_PLUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_MINUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_EQUALS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_STATUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_SIGN"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_TYPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MR_TYPE"/>
                        <xsd:element minOccurs="0" ref="ns0:MR_IS_LOAD"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK_REG"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK_SPE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK_SPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID_REG"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID_SPE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID_SPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_ASK">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBP_ASK_REG"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_ASK_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:POV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_BID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBP_BID_REG"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_BID_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:POV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MB_ORDER" type="xsd:string"/>
            <xsd:element name="MB_PRICE" type="xsd:string"/>
            <xsd:element name="MB_SYMBOL" type="xsd:string"/>
            <xsd:element name="MB_VOLUME" type="xsd:string"/>
            <xsd:element name="MR_IS_LOAD" type="xsd:string"/>
            <xsd:element name="MR_TYPE" type="xsd:string"/>
            <xsd:element name="MSG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns0:ELEMENT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MS_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_INDEX" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_TRADES" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_VALUE" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_VOLUME" type="xsd:string"/>
            <xsd:element name="MS_EQUALS" type="xsd:string"/>
            <xsd:element name="MS_MINUS" type="xsd:string"/>
            <xsd:element name="MS_NET_CHANGE" type="xsd:string"/>
            <xsd:element name="MS_PLUS" type="xsd:string"/>
            <xsd:element name="MS_PRE_INDEX" type="xsd:string"/>
            <xsd:element name="MS_SIGN" type="xsd:string"/>
            <xsd:element name="MS_STATUS" type="xsd:string"/>
            <xsd:element name="POV_0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_4">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_4">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_5">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_6">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_7">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_8">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_9">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SECTOR_INDICES">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_1_BANKING"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_2_INSURANCE"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_3_SERVICES"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_4_INDUSTRIAL"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TAG" type="xsd:string"/>
        </xsd:schema>
      <xsd:schema xmlns="http://xmlns.example.com/unique/default/namespace/1125912422013"
                  elementFormDefault="qualified"
                  attributeFormDefault="unqualified"
                  targetNamespace="http://xmlns.example.com/unique/default/namespace/1125912422013">
            <xsd:element name="DATA_VALUE" type="xsd:string"/>
            <xsd:element name="ELEMENT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:TAG"/>
                        <xsd:element minOccurs="0" ref="ns0:DATA_VALUE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ERROR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:ERROR_CODE"/>
                        <xsd:element minOccurs="0" ref="ns0:ERROR_DESC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ERROR_CODE" type="xsd:string"/>
            <xsd:element name="ERROR_DESC" type="xsd:string"/>
            <xsd:element name="GI_MSG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ"/>
                        <xsd:element minOccurs="0" ref="ns0:MARKET_SUMMARY"/>
                        <xsd:element minOccurs="0" ref="ns0:MARKET_STATUS"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_1_BANKING">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_2_INSURANCE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_3_SERVICES">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_4_INDUSTRIAL">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_ID"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_CHANGE_PERCENTAGE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="INDEX_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="INDEX_ID" type="xsd:string"/>
            <xsd:element name="INDEX_SIGN" type="xsd:string"/>
            <xsd:element name="LIVE_QUOTE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_PERV_CLOSING"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OPEN_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OFFER_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_OFFER_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_BID_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_BID_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_CURRENT_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAY_TRADES"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TRADED_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TRADED_VALUE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAYS_HIGH"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_TODAYS_LOW"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_CHANGE_PERCENTAGE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_AVG_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_WEEKS_HIGH_52"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_WEEKS_LOW_52"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_NET_CHANGE"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_INVISIBLE_SIGN"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY_EN"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY_AR"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_MBO"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_MBP"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_FIELD1"/>
                        <xsd:element minOccurs="0" ref="ns0:LQ_IS_UPDATE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LQ">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns0:LIVE_QUOTE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LQ_AVG_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_BID_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_BID_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY_AR" type="xsd:string"/>
            <xsd:element name="LQ_COMPANY_EN" type="xsd:string"/>
            <xsd:element name="LQ_CURRENT_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_FIELD1" type="xsd:string"/>
            <xsd:element name="LQ_INVISIBLE_SIGN" type="xsd:string"/>
            <xsd:element name="LQ_IS_UPDATE" type="xsd:string"/>
            <xsd:element name="LQ_MBO" type="xsd:string"/>
            <xsd:element name="LQ_MBP" type="xsd:string"/>
            <xsd:element name="LQ_NET_CHANGE" type="xsd:string"/>
            <xsd:element name="LQ_OFFER_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_OFFER_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_OPEN_PRICE" type="xsd:string"/>
            <xsd:element name="LQ_PERV_CLOSING" type="xsd:string"/>
            <xsd:element name="LQ_TODAYS_HIGH" type="xsd:string"/>
            <xsd:element name="LQ_TODAYS_LOW" type="xsd:string"/>
            <xsd:element name="LQ_TODAY_TRADES" type="xsd:string"/>
            <xsd:element name="LQ_TRADED_VALUE" type="xsd:string"/>
            <xsd:element name="LQ_TRADED_VOLUME" type="xsd:string"/>
            <xsd:element name="LQ_WEEKS_HIGH_52" type="xsd:string"/>
            <xsd:element name="LQ_WEEKS_LOW_52" type="xsd:string"/>
            <xsd:element name="MARKET_BY_ORDER">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_SYMBOL"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_BY_PRICE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_SYMBOL"/>
                        <xsd:element minOccurs="0" ref="ns0:MBP_ASK"/>
                        <xsd:element minOccurs="0" ref="ns0:MBP_BID"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_STATUS" type="xsd:string"/>
            <xsd:element name="MARKET_SUMMARY">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_INDEX"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_PRE_INDEX"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_NET_CHANGE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CHANGE_PERCENTAGE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_VALUE"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_CURRENT_TRADES"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_PLUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_MINUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_EQUALS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_STATUS"/>
                        <xsd:element minOccurs="0" ref="ns0:MS_SIGN"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MARKET_TYPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MR_TYPE"/>
                        <xsd:element minOccurs="0" ref="ns0:MR_IS_LOAD"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK_REG"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_ASK_SPE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_ASK_SPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID_REG"/>
                        <xsd:element minOccurs="0" ref="ns0:MBO_BID_SPE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBO_BID_SPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:PV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_4"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_5"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_6"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_7"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_8"/>
                        <xsd:element minOccurs="0" ref="ns0:PV_9"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_ASK">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBP_ASK_REG"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_ASK_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:POV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_BID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MBP_BID_REG"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MBP_BID_REG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:POV_0"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_1"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_2"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_3"/>
                        <xsd:element minOccurs="0" ref="ns0:POV_4"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MB_ORDER" type="xsd:string"/>
            <xsd:element name="MB_PRICE" type="xsd:string"/>
            <xsd:element name="MB_SYMBOL" type="xsd:string"/>
            <xsd:element name="MB_VOLUME" type="xsd:string"/>
            <xsd:element name="MR_IS_LOAD" type="xsd:string"/>
            <xsd:element name="MR_TYPE" type="xsd:string"/>
            <xsd:element name="MSG">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns0:ELEMENT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MS_CHANGE_PERCENTAGE" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_INDEX" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_TRADES" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_VALUE" type="xsd:string"/>
            <xsd:element name="MS_CURRENT_VOLUME" type="xsd:string"/>
            <xsd:element name="MS_EQUALS" type="xsd:string"/>
            <xsd:element name="MS_MINUS" type="xsd:string"/>
            <xsd:element name="MS_NET_CHANGE" type="xsd:string"/>
            <xsd:element name="MS_PLUS" type="xsd:string"/>
            <xsd:element name="MS_PRE_INDEX" type="xsd:string"/>
            <xsd:element name="MS_SIGN" type="xsd:string"/>
            <xsd:element name="MS_STATUS" type="xsd:string"/>
            <xsd:element name="POV_0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="POV_4">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_ORDER"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_4">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_5">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_6">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_7">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_8">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PV_9">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:MB_VOLUME"/>
                        <xsd:element minOccurs="0" ref="ns0:MB_PRICE"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SECTOR_INDICES">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" ref="ns0:LQ_COMPANY"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_1_BANKING"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_2_INSURANCE"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_3_SERVICES"/>
                        <xsd:element minOccurs="0" ref="ns0:INDEX_4_INDUSTRIAL"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TAG" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inMessage">
        <wsdl:part name="MarketType" element="ns0:MARKET_TYPE"/>
    </wsdl:message>
    <wsdl:message name="outMessage">
        <wsdl:part name="MarketData" element="ns0:GI_MSG"/>
    </wsdl:message>
    <wsdl:portType name="getMarketInfo">
        <wsdl:operation name="getMarketData">
            <wsdl:input message="tns:inMessage"/>
            <wsdl:output message="tns:outMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MarketSOAPServerBinding" type="tns:getMarketInfo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMarketData">
            <wsdl:documentation>The operation has no documentation</wsdl:documentation>
            <soap:operation style="document" soapAction="/Process/GI/MarketSOAPServer"/>
            <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
                <soap:body use="literal" parts="MarketType"/>
            </wsdl:input>
            <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
                <soap:body use="literal" parts="MarketData"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MarketSOAPServer">
        <wsdl:port name="MarketSOAPServerHttpPort" binding="tns:MarketSOAPServerBinding">
            <soap:address location="http://ws.soatrader.com/dsm.com.qa/0.1/MarketSOAPServer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>