wsdl_repositories/soatrader/marketing.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.southerndata.co.uk/marketing"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.southerndata.co.uk/marketing">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.southerndata.co.uk/marketing">
         <s:element name="RequestCustomerDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="RequestCustomerDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthHeader" type="tns:AuthHeader"/>
         <s:complexType name="AuthHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="DeleteCustomerDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DeleteCustomerDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStaticData">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStaticDataResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveCustomerDetails">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveCustomerDetailsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveGSDC">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="intPersonId" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="boolDelete" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SaveGSDCResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PhotocardMatch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="intPersonId" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPhotocard" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="datExpiry" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PhotocardMatchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestCustomerDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:RequestCustomerDetails"/>
  </wsdl:message>
  <wsdl:message name="RequestCustomerDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:RequestCustomerDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestCustomerDetailsAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="DeleteCustomerDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:DeleteCustomerDetails"/>
  </wsdl:message>
  <wsdl:message name="DeleteCustomerDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:DeleteCustomerDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteCustomerDetailsAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="GetStaticDataSoapIn">
      <wsdl:part name="parameters" element="tns:GetStaticData"/>
  </wsdl:message>
  <wsdl:message name="GetStaticDataSoapOut">
      <wsdl:part name="parameters" element="tns:GetStaticDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStaticDataAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="SaveCustomerDetailsSoapIn">
      <wsdl:part name="parameters" element="tns:SaveCustomerDetails"/>
  </wsdl:message>
  <wsdl:message name="SaveCustomerDetailsSoapOut">
      <wsdl:part name="parameters" element="tns:SaveCustomerDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveCustomerDetailsAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="SaveGSDCSoapIn">
      <wsdl:part name="parameters" element="tns:SaveGSDC"/>
  </wsdl:message>
  <wsdl:message name="SaveGSDCSoapOut">
      <wsdl:part name="parameters" element="tns:SaveGSDCResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveGSDCAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:message name="PhotocardMatchSoapIn">
      <wsdl:part name="parameters" element="tns:PhotocardMatch"/>
  </wsdl:message>
  <wsdl:message name="PhotocardMatchSoapOut">
      <wsdl:part name="parameters" element="tns:PhotocardMatchResponse"/>
  </wsdl:message>
  <wsdl:message name="PhotocardMatchAuthHeader">
      <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:portType name="marketingSoap">
      <wsdl:operation name="RequestCustomerDetails">
         <wsdl:input message="tns:RequestCustomerDetailsSoapIn"/>
         <wsdl:output message="tns:RequestCustomerDetailsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="DeleteCustomerDetails">
         <wsdl:input message="tns:DeleteCustomerDetailsSoapIn"/>
         <wsdl:output message="tns:DeleteCustomerDetailsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetStaticData">
         <wsdl:input message="tns:GetStaticDataSoapIn"/>
         <wsdl:output message="tns:GetStaticDataSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveCustomerDetails">
         <wsdl:input message="tns:SaveCustomerDetailsSoapIn"/>
         <wsdl:output message="tns:SaveCustomerDetailsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SaveGSDC">
         <wsdl:input message="tns:SaveGSDCSoapIn"/>
         <wsdl:output message="tns:SaveGSDCSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="PhotocardMatch">
         <wsdl:input message="tns:PhotocardMatchSoapIn"/>
         <wsdl:output message="tns:PhotocardMatchSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="marketingSoap" type="tns:marketingSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="RequestCustomerDetails">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/RequestCustomerDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:RequestCustomerDetailsAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="DeleteCustomerDetails">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/DeleteCustomerDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:DeleteCustomerDetailsAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetStaticData">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/GetStaticData"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetStaticDataAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveCustomerDetails">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/SaveCustomerDetails"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SaveCustomerDetailsAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveGSDC">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/SaveGSDC" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SaveGSDCAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PhotocardMatch">
         <soap:operation soapAction="http://ws.southerndata.co.uk/marketing/PhotocardMatch"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:PhotocardMatchAuthHeader" part="AuthHeader" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="marketing">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="marketingSoap" binding="tns:marketingSoap">
         <soap:address location="http://ws.soatrader.com/southerndata.co.uk/0.1/marketing"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>