wsdl_repositories/soatrader/metsaregister.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://producers.metsaregister.xtee.riik.ee/producer/metsaregister"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://producers.metsaregister.xtee.riik.ee/producer/metsaregister">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xs:schema targetNamespace="http://producers.metsaregister.xtee.riik.ee/producer/metsaregister">
         <xs:import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
                    schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
         <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
      </xs:schema>
  </types>

  

  <message name="legacy1Request">
      <part name="keha" type="xtee:ArrayOfString"/>
  </message>

  <message name="legacy1Response">
      <part name="paring" type="xtee:ArrayOfString"/>
      <part name="keha" type="xtee:legacy_response"/>
  </message>

  <portType name="metsaregister">
      <operation name="legacy1">
         <documentation>
            <xtee:title>Metsateatise esitamine</xtee:title>
         </documentation>
         <input message="tns:legacy1Request"/>
         <output message="tns:legacy1Response"/>
      </operation>
  </portType>

  <binding name="metsaregister_soapbinding" type="tns:metsaregister">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="legacy1">
         <xtee:version>v1</xtee:version>
         <soap:operation/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.metsaregister.xtee.riik.ee/producer/metsaregister"/>
        
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                       namespace="http://producers.metsaregister.xtee.riik.ee/producer/metsaregister"/>
        
         </output>
      </operation>
  </binding>

  <service name="metsaregister">
      <port binding="tns:metsaregister_soapbinding" name="metsaregister">
         <soap:address location="http://ws.soatrader.com/riik.ee/0.3/metsaregister"/>
         <xtee:address producer="metsaregister"/>
         <xtee:title>Metsakaitse- ja Metsauuenduskeskus</xtee:title>
      </port>
  </service>

</definitions>