wsdl_repositories/soatrader/MLSService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.realtytrac.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.realtytrac.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.realtytrac.com/">
         <s:element name="GetMLSResultCount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="passportKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="searchRequest" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMLSResultCountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PropertyCountResponse" nillable="true"
                             type="tns:MLSProperyCountResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="MLSProperyCountResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="PropertyCount" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="LogClientException">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogClientExceptionResponse">
            <s:complexType/>
         </s:element>
         <s:element name="PropertyCountResponse" nillable="true" type="tns:MLSProperyCountResponse"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMLSResultCountSoapIn">
      <wsdl:part name="parameters" element="tns:GetMLSResultCount"/>
  </wsdl:message>
  <wsdl:message name="GetMLSResultCountSoapOut">
      <wsdl:part name="parameters" element="tns:GetMLSResultCountResponse"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionSoapIn">
      <wsdl:part name="parameters" element="tns:LogClientException"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionSoapOut">
      <wsdl:part name="parameters" element="tns:LogClientExceptionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMLSResultCountHttpGetIn">
      <wsdl:part name="passportKey" type="s:string"/>
      <wsdl:part name="searchRequest" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMLSResultCountHttpGetOut">
      <wsdl:part name="Body" element="tns:PropertyCountResponse"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionHttpGetIn">
      <wsdl:part name="errorMessage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionHttpGetOut"/>
  <wsdl:message name="GetMLSResultCountHttpPostIn">
      <wsdl:part name="passportKey" type="s:string"/>
      <wsdl:part name="searchRequest" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMLSResultCountHttpPostOut">
      <wsdl:part name="Body" element="tns:PropertyCountResponse"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionHttpPostIn">
      <wsdl:part name="errorMessage" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="LogClientExceptionHttpPostOut"/>
  
  
  
  <wsdl:binding name="MLSServiceSoap" type="tns:MLSServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetMLSResultCount">
         <soap:operation soapAction="http://www.realtytrac.com/GetMLSResultCount" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="LogClientException">
         <soap:operation soapAction="http://www.realtytrac.com/LogClientException" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="MLSService">
      <wsdl:port name="MLSServiceSoap" binding="tns:MLSServiceSoap">
         <soap:address location="http://ws.soatrader.com/realtytrac.com/0.1/MLSService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>