wsdl_repositories/soatrader/mobilephone.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.ws365.net/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.ws365.net/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.ws365.net/">
         <s:element name="GetInfoByMobileNum">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="num" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInfoByMobileNumResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInfoByMobileNumResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.ws365.net/">
         <s:element name="GetInfoByMobileNum">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="num" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetInfoByMobileNumResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetInfoByMobileNumResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoByMobileNumSoapIn">
      <wsdl:part name="parameters" element="tns:GetInfoByMobileNum"/>
  </wsdl:message>
  <wsdl:message name="GetInfoByMobileNumSoapOut">
      <wsdl:part name="parameters" element="tns:GetInfoByMobileNumResponse"/>
  </wsdl:message>
  <wsdl:message name="GetInfoByMobileNumHttpGetIn">
      <wsdl:part name="num" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetInfoByMobileNumHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetInfoByMobileNumHttpPostIn">
      <wsdl:part name="num" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetInfoByMobileNumHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="mobilephoneSoap" type="tns:mobilephoneSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetInfoByMobileNum">
         <soap:operation soapAction="http://www.ws365.net/GetInfoByMobileNum" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="mobilephone">
      <wsdl:port name="mobilephoneSoap" binding="tns:mobilephoneSoap">
         <soap:address location="http://ws.soatrader.com/ws365.net/0.1/mobilephone"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>