wsdl_repositories/soatrader/MSN.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ws.AcrossCommunications.com/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.AcrossCommunications.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.AcrossCommunications.com/">
         <s:element name="Logon">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strMSNemailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="LogonResponse">
            <s:complexType/>
         </s:element>
         <s:element name="Send">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strTargetMSNemail" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendResponse">
            <s:complexType/>
         </s:element>
         <s:element name="Disconnect">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DisconnectResponse">
            <s:complexType/>
         </s:element>
         <s:element name="SetSearchString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetSearchStringResponse">
            <s:complexType/>
         </s:element>
         <s:element name="GetSearchString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSearchStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSearchStringResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Release">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="strGuidNotification" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReleaseResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="LogonSoapIn">
      <wsdl:part name="parameters" element="tns:Logon"/>
  </wsdl:message>
  <wsdl:message name="LogonSoapOut">
      <wsdl:part name="parameters" element="tns:LogonResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
      <wsdl:part name="parameters" element="tns:Send"/>
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
      <wsdl:part name="parameters" element="tns:SendResponse"/>
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
      <wsdl:part name="parameters" element="tns:Disconnect"/>
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
      <wsdl:part name="parameters" element="tns:DisconnectResponse"/>
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapIn">
      <wsdl:part name="parameters" element="tns:SetSearchString"/>
  </wsdl:message>
  <wsdl:message name="SetSearchStringSoapOut">
      <wsdl:part name="parameters" element="tns:SetSearchStringResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapIn">
      <wsdl:part name="parameters" element="tns:GetSearchString"/>
  </wsdl:message>
  <wsdl:message name="GetSearchStringSoapOut">
      <wsdl:part name="parameters" element="tns:GetSearchStringResponse"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapIn">
      <wsdl:part name="parameters" element="tns:Release"/>
  </wsdl:message>
  <wsdl:message name="ReleaseSoapOut">
      <wsdl:part name="parameters" element="tns:ReleaseResponse"/>
  </wsdl:message>
  <wsdl:portType name="MSNSoap">
      <wsdl:operation name="Logon">
         <wsdl:input message="tns:LogonSoapIn"/>
         <wsdl:output message="tns:LogonSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Send">
         <wsdl:input message="tns:SendSoapIn"/>
         <wsdl:output message="tns:SendSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Disconnect">
         <wsdl:input message="tns:DisconnectSoapIn"/>
         <wsdl:output message="tns:DisconnectSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetSearchString">
         <wsdl:input message="tns:SetSearchStringSoapIn"/>
         <wsdl:output message="tns:SetSearchStringSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetSearchString">
         <wsdl:input message="tns:GetSearchStringSoapIn"/>
         <wsdl:output message="tns:GetSearchStringSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <wsdl:input message="tns:ReleaseSoapIn"/>
         <wsdl:output message="tns:ReleaseSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSNSoap" type="tns:MSNSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="Logon">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/Logon" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Send">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/Send" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Disconnect">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/Disconnect" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetSearchString">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/SetSearchString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSearchString">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/GetSearchString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Release">
         <soap:operation soapAction="http://ws.AcrossCommunications.com/Release" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSN">
      <wsdl:port name="MSNSoap" binding="tns:MSNSoap">
         <soap:address location="http://ws.soatrader.com/acrosscommunications.com/0.2/MSN"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>