wsdl_repositories/soatrader/OffenderSearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="FindMatches">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jurisdictionZoneID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="firstNameFragment" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="lastNameFragment" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startAt" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindMatchesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindMatchesResult"
                             type="tns:OffenderSearchResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="OffenderSearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Found" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Items"
                          type="tns:ArrayOfOffenderSearchResultItem"/>
               <s:element minOccurs="1" maxOccurs="1" name="HasMore" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfOffenderSearchResultItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="OffenderSearchResultItem"
                          nillable="true"
                          type="tns:OffenderSearchResultItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="OffenderSearchResultItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="FindMatches">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="jurisdictionZoneID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="firstNameFragment" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="lastNameFragment" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="startAt" type="s:int"/>
                  <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindMatchesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindMatchesResult"
                             type="tns:OffenderSearchResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="OffenderSearchResult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Found" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Items"
                          type="tns:ArrayOfOffenderSearchResultItem"/>
               <s:element minOccurs="1" maxOccurs="1" name="HasMore" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfOffenderSearchResultItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="OffenderSearchResultItem"
                          nillable="true"
                          type="tns:OffenderSearchResultItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="OffenderSearchResultItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="FindMatchesSoapIn">
      <wsdl:part name="parameters" element="tns:FindMatches"/>
  </wsdl:message>
  <wsdl:message name="FindMatchesSoapOut">
      <wsdl:part name="parameters" element="tns:FindMatchesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="OffenderSearchSoap" type="tns:OffenderSearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="FindMatches">
         <soap:operation soapAction="http://tempuri.org/FindMatches" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="OffenderSearch">
      <wsdl:port name="OffenderSearchSoap" binding="tns:OffenderSearchSoap">
         <soap:address location="http://ws.soatrader.com/childsafehaventest.com/0.1/OffenderSearch"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>