wsdl_repositories/soatrader/phoneBook.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://cms-stu-iis.gre.ac.uk/mk05"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://cms-stu-iis.gre.ac.uk/mk05">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://cms-stu-iis.gre.ac.uk/mk05">
         <s:element name="getDirectorySql">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectorySqlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectorySqlResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectoryDom">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoryDomResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoryDomResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectoryUrlDataSet">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoryUrlDataSetResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoryUrlDataSetResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectoryUrlTextReader">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoryUrlTextReaderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoryUrlTextReaderResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectoryUrlValidating">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoryUrlValidatingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoryUrlValidatingResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectoryOledb">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoryOledbResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoryOledbResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectories">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectoriesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectoriesResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectories1">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectories1Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectories1Result">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getDirectories2">
            <s:complexType/>
         </s:element>
         <s:element name="getDirectories2Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getDirectories2Result">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="showDirectory">
            <s:complexType/>
         </s:element>
         <s:element name="showDirectoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="showDirectoryResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="showDirectoryOledb">
            <s:complexType/>
         </s:element>
         <s:element name="showDirectoryOledbResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="showDirectoryOledbResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertRecord">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="txtFname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtSname" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtTel" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="txtLoc" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="insertRecordResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="insertRecordResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getDirectorySqlSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectorySql"/>
  </wsdl:message>
  <wsdl:message name="getDirectorySqlSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectorySqlResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryDomSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectoryDom"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryDomSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoryDomResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlDataSetSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlDataSet"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlDataSetSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlDataSetResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlTextReaderSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlTextReader"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlTextReaderSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlTextReaderResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlValidatingSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlValidating"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlValidatingSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoryUrlValidatingResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryOledbSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectoryOledb"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryOledbSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoryOledbResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesSoapIn">
      <wsdl:part name="parameters" element="tns:getDirectories"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesSoapOut">
      <wsdl:part name="parameters" element="tns:getDirectoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectories1SoapIn">
      <wsdl:part name="parameters" element="tns:getDirectories1"/>
  </wsdl:message>
  <wsdl:message name="getDirectories1SoapOut">
      <wsdl:part name="parameters" element="tns:getDirectories1Response"/>
  </wsdl:message>
  <wsdl:message name="getDirectories2SoapIn">
      <wsdl:part name="parameters" element="tns:getDirectories2"/>
  </wsdl:message>
  <wsdl:message name="getDirectories2SoapOut">
      <wsdl:part name="parameters" element="tns:getDirectories2Response"/>
  </wsdl:message>
  <wsdl:message name="showDirectorySoapIn">
      <wsdl:part name="parameters" element="tns:showDirectory"/>
  </wsdl:message>
  <wsdl:message name="showDirectorySoapOut">
      <wsdl:part name="parameters" element="tns:showDirectoryResponse"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryOledbSoapIn">
      <wsdl:part name="parameters" element="tns:showDirectoryOledb"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryOledbSoapOut">
      <wsdl:part name="parameters" element="tns:showDirectoryOledbResponse"/>
  </wsdl:message>
  <wsdl:message name="insertRecordSoapIn">
      <wsdl:part name="parameters" element="tns:insertRecord"/>
  </wsdl:message>
  <wsdl:message name="insertRecordSoapOut">
      <wsdl:part name="parameters" element="tns:insertRecordResponse"/>
  </wsdl:message>
  <wsdl:message name="getDirectorySqlHttpGetIn"/>
  <wsdl:message name="getDirectorySqlHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryDomHttpGetIn"/>
  <wsdl:message name="getDirectoryDomHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlDataSetHttpGetIn"/>
  <wsdl:message name="getDirectoryUrlDataSetHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlTextReaderHttpGetIn"/>
  <wsdl:message name="getDirectoryUrlTextReaderHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlValidatingHttpGetIn"/>
  <wsdl:message name="getDirectoryUrlValidatingHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryOledbHttpGetIn"/>
  <wsdl:message name="getDirectoryOledbHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesHttpGetIn"/>
  <wsdl:message name="getDirectoriesHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectories1HttpGetIn"/>
  <wsdl:message name="getDirectories1HttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectories2HttpGetIn"/>
  <wsdl:message name="getDirectories2HttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryHttpGetIn"/>
  <wsdl:message name="showDirectoryHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryOledbHttpGetIn"/>
  <wsdl:message name="showDirectoryOledbHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="insertRecordHttpGetIn">
      <wsdl:part name="txtFname" type="s:string"/>
      <wsdl:part name="txtSname" type="s:string"/>
      <wsdl:part name="txtTel" type="s:string"/>
      <wsdl:part name="txtLoc" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertRecordHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="getDirectorySqlHttpPostIn"/>
  <wsdl:message name="getDirectorySqlHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryDomHttpPostIn"/>
  <wsdl:message name="getDirectoryDomHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlDataSetHttpPostIn"/>
  <wsdl:message name="getDirectoryUrlDataSetHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlTextReaderHttpPostIn"/>
  <wsdl:message name="getDirectoryUrlTextReaderHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryUrlValidatingHttpPostIn"/>
  <wsdl:message name="getDirectoryUrlValidatingHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoryOledbHttpPostIn"/>
  <wsdl:message name="getDirectoryOledbHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectoriesHttpPostIn"/>
  <wsdl:message name="getDirectoriesHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectories1HttpPostIn"/>
  <wsdl:message name="getDirectories1HttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="getDirectories2HttpPostIn"/>
  <wsdl:message name="getDirectories2HttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryHttpPostIn"/>
  <wsdl:message name="showDirectoryHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="showDirectoryOledbHttpPostIn"/>
  <wsdl:message name="showDirectoryOledbHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="insertRecordHttpPostIn">
      <wsdl:part name="txtFname" type="s:string"/>
      <wsdl:part name="txtSname" type="s:string"/>
      <wsdl:part name="txtTel" type="s:string"/>
      <wsdl:part name="txtLoc" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="insertRecordHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="phoneBookSoap" type="tns:phoneBookSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getDirectorySql">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectorySql" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectoryDom">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectoryDom" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectoryUrlDataSet">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectoryUrlDataSet"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectoryUrlTextReader">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectoryUrlTextReader"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectoryUrlValidating">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectoryUrlValidating"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectoryOledb">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectoryOledb"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectories">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectories" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectories1">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectories1" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDirectories2">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/getDirectories2" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="showDirectory">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/showDirectory" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="showDirectoryOledb">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/showDirectoryOledb"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="insertRecord">
         <soap:operation soapAction="http://cms-stu-iis.gre.ac.uk/mk05/insertRecord" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="phoneBook">
      <wsdl:port name="phoneBookSoap" binding="tns:phoneBookSoap">
         <soap:address location="http://ws.soatrader.com/gre.ac.uk/0.1/phoneBook"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>