wsdl_repositories/soatrader/PhoneVerify.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://ws.cdyne.com/PhoneVerify/query"
                  xmlns:s1="http://ws.cdyne.com/PhoneVerify/query/AbstractTypes"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ws.cdyne.com/PhoneVerify/query">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://ws.cdyne.com/PhoneVerify/query">
         <s:element name="CheckPhoneNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckPhoneNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CheckPhoneNumberResult"
                             type="tns:PhoneReturn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="PhoneReturn">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Use" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Switch" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RC" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OCN" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OriginalNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CleanNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SwitchName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SwitchType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CLLI" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PrefixType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LATA" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AssignDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelecomCity" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelecomCounty" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelecomState" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TelecomZip" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Long" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Wireless" type="s:boolean"/>
            </s:sequence>
         </s:complexType>
         <s:element name="CheckPhoneNumbers">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="CheckPhoneNumbersResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CheckPhoneNumbersResult"
                             type="tns:ArrayOfPhoneReturn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfPhoneReturn">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneReturn" type="tns:PhoneReturn"/>
            </s:sequence>
         </s:complexType>
         <s:element name="PhoneReturn" type="tns:PhoneReturn"/>
         <s:element name="ArrayOfPhoneReturn" nillable="true" type="tns:ArrayOfPhoneReturn"/>
      </s:schema>
      <s:schema targetNamespace="http://ws.cdyne.com/PhoneVerify/query/AbstractTypes">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:complexType name="StringArray">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string"/>
                  </s:sequence>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckPhoneNumberSoapIn">
      <wsdl:part name="parameters" element="tns:CheckPhoneNumber"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumberSoapOut">
      <wsdl:part name="parameters" element="tns:CheckPhoneNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersSoapIn">
      <wsdl:part name="parameters" element="tns:CheckPhoneNumbers"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersSoapOut">
      <wsdl:part name="parameters" element="tns:CheckPhoneNumbersResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumberHttpGetIn">
      <wsdl:part name="PhoneNumber" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumberHttpGetOut">
      <wsdl:part name="Body" element="tns:PhoneReturn"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersHttpGetIn">
      <wsdl:part name="PhoneNumbers" type="s1:StringArray"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfPhoneReturn"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumberHttpPostIn">
      <wsdl:part name="PhoneNumber" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumberHttpPostOut">
      <wsdl:part name="Body" element="tns:PhoneReturn"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersHttpPostIn">
      <wsdl:part name="PhoneNumbers" type="s1:StringArray"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CheckPhoneNumbersHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfPhoneReturn"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="PhoneVerifySoap" type="tns:PhoneVerifySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="CheckPhoneNumber">
         <soap:operation soapAction="http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckPhoneNumbers">
         <soap:operation soapAction="http://ws.cdyne.com/PhoneVerify/query/CheckPhoneNumbers"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="PhoneVerify">
      <wsdl:port name="PhoneVerifySoap" binding="tns:PhoneVerifySoap">
         <soap:address location="http://ws.soatrader.com/cdyne.com/0.1/PhoneVerify"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>