wsdl_repositories/soatrader/PhoneNumberCodes.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.sharptooth.ws/WebServices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.sharptooth.ws/WebServices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Operations providing UK Telephone Number Information.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.sharptooth.ws/WebServices/">
         <s:element name="FindMobileProvider">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MobileCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindMobileProviderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindMobileProviderResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindMobileProviderINFO">
            <s:complexType/>
         </s:element>
         <s:element name="FindMobileProviderINFOResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindMobileProviderINFOResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="FindMobileProviderSoapIn">
      <wsdl:part name="parameters" element="tns:FindMobileProvider"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderSoapOut">
      <wsdl:part name="parameters" element="tns:FindMobileProviderResponse"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderINFOSoapIn">
      <wsdl:part name="parameters" element="tns:FindMobileProviderINFO"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderINFOSoapOut">
      <wsdl:part name="parameters" element="tns:FindMobileProviderINFOResponse"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderHttpGetIn">
      <wsdl:part name="MobileCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderINFOHttpGetIn"/>
  <wsdl:message name="FindMobileProviderINFOHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderHttpPostIn">
      <wsdl:part name="MobileCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="FindMobileProviderINFOHttpPostIn"/>
  <wsdl:message name="FindMobileProviderINFOHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="PhoneNumberCodesSoap" type="tns:PhoneNumberCodesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="FindMobileProvider">
         <soap:operation soapAction="http://www.sharptooth.ws/WebServices/FindMobileProvider"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindMobileProviderINFO">
         <soap:operation soapAction="http://www.sharptooth.ws/WebServices/FindMobileProviderINFO"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="PhoneNumberCodes">
      <wsdl:documentation>Operations providing UK Telephone Number Information.</wsdl:documentation>
      <wsdl:port name="PhoneNumberCodesSoap" binding="tns:PhoneNumberCodesSoap">
         <soap:address location="http://ws.soatrader.com/sharptooth.ws/0.1/PhoneNumberCodes"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>