wsdl_repositories/soatrader/PluralsightWeather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://pluralsight.com/weather/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://pluralsight.com/weather/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>This weather service provides weather forecasts using data provided by the National Digital Forecast Database.</wsdl:documentation>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://pluralsight.com/weather/">
         <s:element name="GetForecast">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="numberOfDays" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetForecastResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetForecastResult" type="tns:WeatherForecast"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="WeatherForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DailyForecasts"
                          type="tns:ArrayOfDailyForecast"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfDailyForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="DailyForecast" nillable="true"
                          type="tns:DailyForecast"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="DailyForecast">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="Min" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChanceOfRain12hrs" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ChanceOfRain24hrs" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetForecastSoapIn">
      <wsdl:part name="parameters" element="tns:GetForecast"/>
  </wsdl:message>
  <wsdl:message name="GetForecastSoapOut">
      <wsdl:part name="parameters" element="tns:GetForecastResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="PluralsightWeatherSoap" type="tns:PluralsightWeatherSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetForecast">
         <soap:operation soapAction="http://pluralsight.com/weather/GetForecast" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PluralsightWeather">
      <wsdl:documentation>This weather service provides weather forecasts using data provided by the National Digital Forecast Database.</wsdl:documentation>
      <wsdl:port name="PluralsightWeatherSoap" binding="tns:PluralsightWeatherSoap">
         <soap:address location="http://ws.soatrader.com/pluralsight.com/0.1/PluralsightWeather"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>