wsdl_repositories/soatrader/RateCalculatorService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.27seconds.com/USPostalService/RateCalculator/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.27seconds.com/USPostalService/RateCalculator/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.27seconds.com/USPostalService/RateCalculator/">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="GetRates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="serviceUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="rm" type="tns:RateModel"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="RateModel">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Service" type="tns:RateService"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipOrigination" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipDestination" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Pounds" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Ounces" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Container" type="tns:RateContainer"/>
               <s:element minOccurs="1" maxOccurs="1" name="Size" type="tns:RateSize"/>
               <s:element minOccurs="1" maxOccurs="1" name="Machinable" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="Zone" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="RateService">
            <s:restriction base="s:string">
               <s:enumeration value="All"/>
               <s:enumeration value="BPM"/>
               <s:enumeration value="Express"/>
               <s:enumeration value="FirstClass"/>
               <s:enumeration value="Library"/>
               <s:enumeration value="Media"/>
               <s:enumeration value="Priority"/>
               <s:enumeration value="Parcel"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="RateContainer">
            <s:restriction base="s:string">
               <s:enumeration value="VariableRatePackage"/>
               <s:enumeration value="FlatRateBox"/>
               <s:enumeration value="FlatRateEnvelope"/>
            </s:restriction>
         </s:simpleType>
         <s:simpleType name="RateSize">
            <s:restriction base="s:string">
               <s:enumeration value="Regular"/>
               <s:enumeration value="Large"/>
               <s:enumeration value="Oversize"/>
            </s:restriction>
         </s:simpleType>
         <s:element name="GetRatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRatesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRatesSoapIn">
      <wsdl:part name="parameters" element="tns:GetRates"/>
  </wsdl:message>
  <wsdl:message name="GetRatesSoapOut">
      <wsdl:part name="parameters" element="tns:GetRatesResponse"/>
  </wsdl:message>
  <wsdl:portType name="RateCalculatorServiceSoap">
      <wsdl:operation name="GetRates">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the rate(s) for the information passed in via the model.</documentation>
         <wsdl:input message="tns:GetRatesSoapIn"/>
         <wsdl:output message="tns:GetRatesSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RateCalculatorServiceSoap" type="tns:RateCalculatorServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetRates">
         <soap:operation soapAction="http://www.27seconds.com/USPostalService/RateCalculator/GetRates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RateCalculatorService">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web service that calls the USPS rate calculator and returns .NET ingestible DataSet objects.</documentation>
      <wsdl:port name="RateCalculatorServiceSoap" binding="tns:RateCalculatorServiceSoap">
         <soap:address location="http://ws.soatrader.com/27seconds.com/0.1/RateCalculatorService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>