wsdl_repositories/soatrader/ResourceBookingService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.twoluxuryhomes.co.nz"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.twoluxuryhomes.co.nz">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.twoluxuryhomes.co.nz">
         <s:element name="HelloWorld">
            <s:complexType/>
         </s:element>
         <s:element name="HelloWorldResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateBookingDate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="noOfDays" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ResourceGroupId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ValidateBookingDateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="ValidateBookingDateResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResourcePrice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="noOfNights" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetResourcePriceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetResourcePriceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDepositPrice">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="noOfNights" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDepositPriceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDepositPriceResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddExtrasBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="reservationID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SurchargeId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="start" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="end" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddExtrasBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddExtrasBookingResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckExtrasBookingExist">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="extraId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CheckExtrasBookingExistResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CheckExtrasBookingExistResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetExtrasAmount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="extraId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetExtrasAmountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetExtrasAmountResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
      <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
      <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateBookingDateSoapIn">
      <wsdl:part name="parameters" element="tns:ValidateBookingDate"/>
  </wsdl:message>
  <wsdl:message name="ValidateBookingDateSoapOut">
      <wsdl:part name="parameters" element="tns:ValidateBookingDateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetResourcePriceSoapIn">
      <wsdl:part name="parameters" element="tns:GetResourcePrice"/>
  </wsdl:message>
  <wsdl:message name="GetResourcePriceSoapOut">
      <wsdl:part name="parameters" element="tns:GetResourcePriceResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDepositPriceSoapIn">
      <wsdl:part name="parameters" element="tns:GetDepositPrice"/>
  </wsdl:message>
  <wsdl:message name="GetDepositPriceSoapOut">
      <wsdl:part name="parameters" element="tns:GetDepositPriceResponse"/>
  </wsdl:message>
  <wsdl:message name="AddExtrasBookingSoapIn">
      <wsdl:part name="parameters" element="tns:AddExtrasBooking"/>
  </wsdl:message>
  <wsdl:message name="AddExtrasBookingSoapOut">
      <wsdl:part name="parameters" element="tns:AddExtrasBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="CheckExtrasBookingExistSoapIn">
      <wsdl:part name="parameters" element="tns:CheckExtrasBookingExist"/>
  </wsdl:message>
  <wsdl:message name="CheckExtrasBookingExistSoapOut">
      <wsdl:part name="parameters" element="tns:CheckExtrasBookingExistResponse"/>
  </wsdl:message>
  <wsdl:message name="GetExtrasAmountSoapIn">
      <wsdl:part name="parameters" element="tns:GetExtrasAmount"/>
  </wsdl:message>
  <wsdl:message name="GetExtrasAmountSoapOut">
      <wsdl:part name="parameters" element="tns:GetExtrasAmountResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="ResourceBookingServiceSoap" type="tns:ResourceBookingServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="HelloWorld">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/HelloWorld" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ValidateBookingDate">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/ValidateBookingDate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetResourcePrice">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/GetResourcePrice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDepositPrice">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/GetDepositPrice" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddExtrasBooking">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/AddExtrasBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CheckExtrasBookingExist">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/CheckExtrasBookingExist"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetExtrasAmount">
         <soap:operation soapAction="http://www.twoluxuryhomes.co.nz/GetExtrasAmount" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ResourceBookingService">
      <wsdl:port name="ResourceBookingServiceSoap" binding="tns:ResourceBookingServiceSoap">
         <soap:address location="http://ws.soatrader.com/twoluxuryhomes.co.nz/0.1/ResourceBookingService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>