wsdl_repositories/soatrader/RptServices.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://tempuri.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://tempuri.org/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://tempuri.org/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="SetCSVPins">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="sParidList" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetCSVPinsResponse">
            <s:complexType/>
         </s:element>
      </s:schema>
  </types>
  <message name="SetCSVPinsSoapIn">
      <part name="parameters" element="s0:SetCSVPins"/>
  </message>
  <message name="SetCSVPinsSoapOut">
      <part name="parameters" element="s0:SetCSVPinsResponse"/>
  </message>
  <portType name="RptServicesSoap">
      <operation name="SetCSVPins">
         <input message="s0:SetCSVPinsSoapIn"/>
         <output message="s0:SetCSVPinsSoapOut"/>
      </operation>
  </portType>
  <binding name="RptServicesSoap" type="s0:RptServicesSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="SetCSVPins">
         <soap:operation soapAction="http://tempuri.org/SetCSVPins" style="document"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </output>
      </operation>
  </binding>
  <service name="RptServices">
      <port name="RptServicesSoap" binding="s0:RptServicesSoap">
         <soap:address location="http://ws.soatrader.com/halifaxnc.com/0.1/RptServices"/>
      </port>
  </service>
</definitions>