wsdl_repositories/soatrader/Schedule.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://www.aeroflot.ru/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:s1="http://www.aeroflot.ru/literalTypes"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://www.aeroflot.ru/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://www.aeroflot.ru/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema targetNamespace="http://www.aeroflot.ru/">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
         <s:complexType name="ArrayOfString">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" d7p1:arrayType="s:string[]"
                               ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfAirport">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" d7p1:arrayType="s0:Airport[]"
                               ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Airport">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="code" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="id_country" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfFlight">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" d7p1:arrayType="s0:Flight[]"
                               ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Flight">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="flight_no1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="flight_id1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_from1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_to1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_arm_no1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="arr_arm_no1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="f_date1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_time1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_dep1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_arr1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly1" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="pl_name1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_y1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_f1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_c1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="change_city" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="change_station" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_inchange" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="flight_no2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="flight_id2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_from2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_to2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_arm_no2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="arr_arm_no2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="f_date2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_time2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_dep2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_arr2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly2" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="pl_name2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_y2" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_f2" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_c2" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfWeek">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" d7p1:arrayType="s0:Week[]"
                               ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="Week">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="week_no" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d3" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d4" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d5" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d6" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d7" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d1_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d2_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d3_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d4_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d5_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d6_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d7_fl" type="s:int"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.aeroflot.ru/literalTypes">
         <s:element name="ArrayOfString" nillable="true" type="s1:ArrayOfString"/>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfAirport" nillable="true" type="s1:ArrayOfAirport"/>
         <s:complexType name="ArrayOfAirport">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Airport" nillable="true"
                          type="s1:Airport"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Airport">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="id_country" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfFlight" nillable="true" type="s1:ArrayOfFlight"/>
         <s:complexType name="ArrayOfFlight">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true"
                          type="s1:Flight"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Flight">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="flight_no1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="flight_id1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_from1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_to1" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="dep_arm_no1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="arr_arm_no1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="f_date1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_time1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_dep1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_arr1" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly1" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="pl_name1" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_y1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_f1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_c1" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="change_city" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="change_station" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_inchange" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="flight_no2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="flight_id2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_from2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="really_to2" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="dep_arm_no2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="arr_arm_no2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="f_date2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="dep_time2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_dep2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="d_arr2" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="time_infly2" type="s:double"/>
               <s:element minOccurs="0" maxOccurs="1" name="pl_name2" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_y2" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_f2" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="seats_c2" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfWeek" nillable="true" type="s1:ArrayOfWeek"/>
         <s:complexType name="ArrayOfWeek">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Week" nillable="true" type="s1:Week"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Week">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="week_no" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="d1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d3" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d4" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d5" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d6" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="d7" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="d1_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d2_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d3_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d4_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d5_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d6_fl" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="d7_fl" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Airport" nillable="true" type="s1:Airport"/>
      </s:schema>
  </types>
  <message name="AirportAlphabetListSoapIn"/>
  <message name="AirportAlphabetListSoapOut">
      <part name="AirportAlphabetListResult" type="s0:ArrayOfString"/>
  </message>
  <message name="AirportListSoapIn">
      <part name="letter" type="s:string"/>
  </message>
  <message name="AirportListSoapOut">
      <part name="AirportListResult" type="s0:ArrayOfAirport"/>
  </message>
  <message name="SearchSoapIn">
      <part name="dep_place" type="s:string"/>
      <part name="arr_place" type="s:string"/>
      <part name="date" type="s:string"/>
      <part name="near" type="s:int"/>
  </message>
  <message name="SearchSoapOut">
      <part name="SearchResult" type="s0:ArrayOfFlight"/>
  </message>
  <message name="CalendarSoapIn">
      <part name="flight_no" type="s:string"/>
      <part name="flight_id" type="s:string"/>
      <part name="date" type="s:string"/>
  </message>
  <message name="CalendarSoapOut">
      <part name="CalendarResult" type="s0:ArrayOfWeek"/>
  </message>
  <message name="AirportInfoSoapIn">
      <part name="code" type="s:string"/>
  </message>
  <message name="AirportInfoSoapOut">
      <part name="AirportInfoResult" type="s0:Airport"/>
  </message>
  <message name="AirportAlphabetListHttpGetIn"/>
  <message name="AirportAlphabetListHttpGetOut">
      <part name="Body" element="s1:ArrayOfString"/>
  </message>
  <message name="AirportListHttpGetIn">
      <part name="letter" type="s:string"/>
  </message>
  <message name="AirportListHttpGetOut">
      <part name="Body" element="s1:ArrayOfAirport"/>
  </message>
  <message name="SearchHttpGetIn">
      <part name="dep_place" type="s:string"/>
      <part name="arr_place" type="s:string"/>
      <part name="date" type="s:string"/>
      <part name="near" type="s:string"/>
  </message>
  <message name="SearchHttpGetOut">
      <part name="Body" element="s1:ArrayOfFlight"/>
  </message>
  <message name="CalendarHttpGetIn">
      <part name="flight_no" type="s:string"/>
      <part name="flight_id" type="s:string"/>
      <part name="date" type="s:string"/>
  </message>
  <message name="CalendarHttpGetOut">
      <part name="Body" element="s1:ArrayOfWeek"/>
  </message>
  <message name="AirportInfoHttpGetIn">
      <part name="code" type="s:string"/>
  </message>
  <message name="AirportInfoHttpGetOut">
      <part name="Body" element="s1:Airport"/>
  </message>
  <message name="AirportAlphabetListHttpPostIn"/>
  <message name="AirportAlphabetListHttpPostOut">
      <part name="Body" element="s1:ArrayOfString"/>
  </message>
  <message name="AirportListHttpPostIn">
      <part name="letter" type="s:string"/>
  </message>
  <message name="AirportListHttpPostOut">
      <part name="Body" element="s1:ArrayOfAirport"/>
  </message>
  <message name="SearchHttpPostIn">
      <part name="dep_place" type="s:string"/>
      <part name="arr_place" type="s:string"/>
      <part name="date" type="s:string"/>
      <part name="near" type="s:string"/>
  </message>
  <message name="SearchHttpPostOut">
      <part name="Body" element="s1:ArrayOfFlight"/>
  </message>
  <message name="CalendarHttpPostIn">
      <part name="flight_no" type="s:string"/>
      <part name="flight_id" type="s:string"/>
      <part name="date" type="s:string"/>
  </message>
  <message name="CalendarHttpPostOut">
      <part name="Body" element="s1:ArrayOfWeek"/>
  </message>
  <message name="AirportInfoHttpPostIn">
      <part name="code" type="s:string"/>
  </message>
  <message name="AirportInfoHttpPostOut">
      <part name="Body" element="s1:Airport"/>
  </message>
  <portType name="ScheduleSoap">
      <operation name="AirportAlphabetList">
         <input message="s0:AirportAlphabetListSoapIn"/>
         <output message="s0:AirportAlphabetListSoapOut"/>
      </operation>
      <operation name="AirportList">
         <input message="s0:AirportListSoapIn"/>
         <output message="s0:AirportListSoapOut"/>
      </operation>
      <operation name="Search">
         <input message="s0:SearchSoapIn"/>
         <output message="s0:SearchSoapOut"/>
      </operation>
      <operation name="Calendar">
         <input message="s0:CalendarSoapIn"/>
         <output message="s0:CalendarSoapOut"/>
      </operation>
      <operation name="AirportInfo">
         <input message="s0:AirportInfoSoapIn"/>
         <output message="s0:AirportInfoSoapOut"/>
      </operation>
  </portType>
  
  
  <binding name="ScheduleSoap" type="s0:ScheduleSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
      <operation name="AirportAlphabetList">
         <soap:operation soapAction="http://www.aeroflot.ru/AirportAlphabetList" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="AirportList">
         <soap:operation soapAction="http://www.aeroflot.ru/AirportList" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Search">
         <soap:operation soapAction="http://www.aeroflot.ru/Search" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Calendar">
         <soap:operation soapAction="http://www.aeroflot.ru/Calendar" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="AirportInfo">
         <soap:operation soapAction="http://www.aeroflot.ru/AirportInfo" style="rpc"/>
         <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="encoded" namespace="http://www.aeroflot.ru/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
  </binding>
  
  
  <service name="Schedule">
      <port name="ScheduleSoap" binding="s0:ScheduleSoap">
         <soap:address location="http://ws.soatrader.com/aeroflot.ru/0.3/Schedule"/>
      </port>
      <port name="ScheduleHttpGet" binding="s0:ScheduleHttpGet">
         <soap:address location="http://ws.soatrader.com/aeroflot.ru/0.3/Schedule"/>
         <http:address location="http://webservices.aeroflot.ru/flightsearch.asmx"/>
      </port>
      <port name="ScheduleHttpPost" binding="s0:ScheduleHttpPost">
         <soap:address location="http://ws.soatrader.com/aeroflot.ru/0.3/Schedule"/>
         <http:address location="http://webservices.aeroflot.ru/flightsearch.asmx"/>
      </port>
  </service>
</definitions>