wsdl_repositories/soatrader/SDPTokyoStockExchange.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://www.strikeiron.com"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s1="http://ws.strikeiron.com"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:si="http://www.strikeiron.com"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.strikeiron.com">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
         <s:element name="GetStockForTicker">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="TickerSymbol" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetStockForTickerResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetStockForTickerResult"
                             type="si:StockOutput"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="StockOutput">
            <s:complexContent mixed="false">
               <s:extension base="si:ServiceOutput">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:StockResult"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ServiceOutput">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="si:SIWsStatus"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SIWsStatus">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="StockResult">
            <s:complexContent mixed="false">
               <s:extension base="si:SIWsResult">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Stocks" type="si:ArrayOfStockInfo"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="SIWsResult">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfStockInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="StockInfo" nillable="true"
                          type="si:StockInfo"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="StockInfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="TickerSymbol" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Prefecture" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="FindStocks">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PartialCompanyName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FindStocksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FindStocksResult" type="si:StockOutput"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAllStatuses">
            <s:complexType/>
         </s:element>
         <s:element name="GetAllStatusesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult"
                             type="si:StatusCodeOutput"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="StatusCodeOutput">
            <s:complexContent mixed="false">
               <s:extension base="si:ServiceOutput">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:StatusCodeResult"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="StatusCodeResult">
            <s:complexContent mixed="false">
               <s:extension base="si:SIWsResult">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="si:ArrayOfSIWsStatus"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfSIWsStatus">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true"
                          type="si:SIWsStatus"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetServiceInfo">
            <s:complexType/>
         </s:element>
         <s:element name="GetServiceInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult"
                             type="si:ServiceInfoOutput"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ServiceInfoOutput">
            <s:complexContent mixed="false">
               <s:extension base="si:ServiceOutput">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:SIServiceInfoResult"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="SIServiceInfoResult">
            <s:complexContent mixed="false">
               <s:extension base="si:SIWsResult">
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="ServiceInfo"
                                type="si:ArrayOfServiceInfoRecord"/>
                  </s:sequence>
               </s:extension>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ArrayOfServiceInfoRecord">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true"
                          type="si:ServiceInfoRecord"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ServiceInfoRecord">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStockForTickerSoapIn">
      <wsdl:part name="parameters" element="si:GetStockForTicker"/>
  </wsdl:message>
  <wsdl:message name="GetStockForTickerSoapOut">
      <wsdl:part name="parameters" element="si:GetStockForTickerResponse"/>
  </wsdl:message>
  <wsdl:message name="FindStocksSoapIn">
      <wsdl:part name="parameters" element="si:FindStocks"/>
  </wsdl:message>
  <wsdl:message name="FindStocksSoapOut">
      <wsdl:part name="parameters" element="si:FindStocksResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapIn">
      <wsdl:part name="parameters" element="si:GetAllStatuses"/>
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapOut">
      <wsdl:part name="parameters" element="si:GetAllStatusesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
      <wsdl:part name="parameters" element="si:GetServiceInfo"/>
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
      <wsdl:part name="parameters" element="si:GetServiceInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="s1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="s1:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="SDPTokyoStockExchangeSoap">
      <wsdl:operation name="GetStockForTicker">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get company information for stocks listed on the Tokyo Stock Exchange</documentation>
         <wsdl:input message="si:GetStockForTickerSoapIn"/>
         <wsdl:output message="si:GetStockForTickerSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="FindStocks">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Find all the companies listed on the Tokyo Stock Exchange which match a partial company name</documentation>
         <wsdl:input message="si:FindStocksSoapIn"/>
         <wsdl:output message="si:FindStocksSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetAllStatuses">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
         <wsdl:input message="si:GetAllStatusesSoapIn"/>
         <wsdl:output message="si:GetAllStatusesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetServiceInfo">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
         <wsdl:input message="si:GetServiceInfoSoapIn"/>
         <wsdl:output message="si:GetServiceInfoSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="si:GetRemainingHitsSoapIn"/>
         <wsdl:output message="si:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDPTokyoStockExchangeSoap" type="si:SDPTokyoStockExchangeSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetStockForTicker">
         <soap:operation soapAction="http://www.strikeiron.com/GetStockForTicker" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FindStocks">
         <soap:operation soapAction="http://www.strikeiron.com/FindStocks" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllStatuses">
         <soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetServiceInfo">
         <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://sdpws.strikeiron.com/StrikeIron/sdpTokyoStock/SDPTokyoStockExchange/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDPTokyoStockExchange">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This Web service will lookup website URLs for Airlines</documentation>
      <wsdl:port name="SDPTokyoStockExchangeSoap" binding="si:SDPTokyoStockExchangeSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/SDPTokyoStockExchange"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>