wsdl_repositories/soatrader/SendContentServiceNoHeader.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="com.esendex.ems.soapinterface"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="com.esendex.ems.soapinterface">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Implementation of the SendContentService with authentication information passed in as parameters rather than in a header. This allows development/runtime environments without support for the SOAPHeaders to consume the service. Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="com.esendex.ems.soapinterface">
         <s:element name="SendWAPPush">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="href" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendWAPPushResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushFull">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="href" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="validityperiod" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushFullResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendWAPPushFullResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushMultipleRecipients">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipients" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="href" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SendWAPPushMultipleRecipientsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendWAPPushMultipleRecipientsResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushMultipleRecipientsFull">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="recipients" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="href" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="validityperiod" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendWAPPushMultipleRecipientsFullResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendWAPPushMultipleRecipientsFullResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendWAPPushSoapIn">
      <wsdl:part name="parameters" element="tns:SendWAPPush"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushSoapOut">
      <wsdl:part name="parameters" element="tns:SendWAPPushResponse"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushFullSoapIn">
      <wsdl:part name="parameters" element="tns:SendWAPPushFull"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushFullSoapOut">
      <wsdl:part name="parameters" element="tns:SendWAPPushFullResponse"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushMultipleRecipientsSoapIn">
      <wsdl:part name="parameters" element="tns:SendWAPPushMultipleRecipients"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushMultipleRecipientsSoapOut">
      <wsdl:part name="parameters" element="tns:SendWAPPushMultipleRecipientsResponse"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushMultipleRecipientsFullSoapIn">
      <wsdl:part name="parameters" element="tns:SendWAPPushMultipleRecipientsFull"/>
  </wsdl:message>
  <wsdl:message name="SendWAPPushMultipleRecipientsFullSoapOut">
      <wsdl:part name="parameters" element="tns:SendWAPPushMultipleRecipientsFullResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SendContentServiceNoHeaderSoap" type="tns:SendContentServiceNoHeaderSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SendWAPPush">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendWAPPush" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendWAPPushFull">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendWAPPushFull" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendWAPPushMultipleRecipients">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendWAPPushMultipleRecipients"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendWAPPushMultipleRecipientsFull">
         <soap:operation soapAction="com.esendex.ems.soapinterface/SendWAPPushMultipleRecipientsFull"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SendContentServiceNoHeader">
      <wsdl:documentation>Implementation of the SendContentService with authentication information passed in as parameters rather than in a header. This allows development/runtime environments without support for the SOAPHeaders to consume the service. Click here for a &lt;a href="https://www.esendex.com/uk/evaluation/evaluation.aspx" title="SMS Service Trial"&gt;free trial&lt;/a&gt;.</wsdl:documentation>
      <wsdl:port name="SendContentServiceNoHeaderSoap"
                 binding="tns:SendContentServiceNoHeaderSoap">
         <soap:address location="http://ws.soatrader.com/esendex.com/0.3/SendContentServiceNoHeader"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>