wsdl_repositories/soatrader/ShippingFulfillment.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://tempuri.org/ShippingEngine/ShippingFulfillment"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/ShippingEngine/ShippingFulfillment">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://tempuri.org/ShippingEngine/ShippingFulfillment">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="GetOrderList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOrderListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOrderListResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOrderListInProcess">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetOrderListInProcessResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetOrderListInProcessResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetOrder">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OTN" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="WorkOrderNumber" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateTimeStamp" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetOrderResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetOrderResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetATA">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OTN" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="ATAModelID" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetATAResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetATAResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetShipping">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OTN" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ShippingTrackingNumber" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateTimeStamp" type="s:dateTime"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetShippingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetShippingResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderListSoapIn">
      <wsdl:part name="parameters" element="tns:GetOrderList"/>
  </wsdl:message>
  <wsdl:message name="GetOrderListSoapOut">
      <wsdl:part name="parameters" element="tns:GetOrderListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOrderListInProcessSoapIn">
      <wsdl:part name="parameters" element="tns:GetOrderListInProcess"/>
  </wsdl:message>
  <wsdl:message name="GetOrderListInProcessSoapOut">
      <wsdl:part name="parameters" element="tns:GetOrderListInProcessResponse"/>
  </wsdl:message>
  <wsdl:message name="SetOrderSoapIn">
      <wsdl:part name="parameters" element="tns:SetOrder"/>
  </wsdl:message>
  <wsdl:message name="SetOrderSoapOut">
      <wsdl:part name="parameters" element="tns:SetOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="SetATASoapIn">
      <wsdl:part name="parameters" element="tns:SetATA"/>
  </wsdl:message>
  <wsdl:message name="SetATASoapOut">
      <wsdl:part name="parameters" element="tns:SetATAResponse"/>
  </wsdl:message>
  <wsdl:message name="SetShippingSoapIn">
      <wsdl:part name="parameters" element="tns:SetShipping"/>
  </wsdl:message>
  <wsdl:message name="SetShippingSoapOut">
      <wsdl:part name="parameters" element="tns:SetShippingResponse"/>
  </wsdl:message>
  <wsdl:portType name="ShippingFulfillmentSoap">
      <wsdl:operation name="GetOrderList">
         <wsdl:input message="tns:GetOrderListSoapIn"/>
         <wsdl:output message="tns:GetOrderListSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetOrderListInProcess">
         <wsdl:input message="tns:GetOrderListInProcessSoapIn"/>
         <wsdl:output message="tns:GetOrderListInProcessSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetOrder">
         <wsdl:input message="tns:SetOrderSoapIn"/>
         <wsdl:output message="tns:SetOrderSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetATA">
         <wsdl:input message="tns:SetATASoapIn"/>
         <wsdl:output message="tns:SetATASoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SetShipping">
         <wsdl:input message="tns:SetShippingSoapIn"/>
         <wsdl:output message="tns:SetShippingSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingFulfillmentSoap" type="tns:ShippingFulfillmentSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetOrderList">
         <soap:operation soapAction="http://tempuri.org/ShippingEngine/ShippingFulfillment/GetOrderList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetOrderListInProcess">
         <soap:operation soapAction="http://tempuri.org/ShippingEngine/ShippingFulfillment/GetOrderListInProcess"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetOrder">
         <soap:operation soapAction="http://tempuri.org/ShippingEngine/ShippingFulfillment/SetOrder"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetATA">
         <soap:operation soapAction="http://tempuri.org/ShippingEngine/ShippingFulfillment/SetATA"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetShipping">
         <soap:operation soapAction="http://tempuri.org/ShippingEngine/ShippingFulfillment/SetShipping"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingFulfillment">
      <wsdl:port name="ShippingFulfillmentSoap" binding="tns:ShippingFulfillmentSoap">
         <soap:address location="http://ws.soatrader.com/mypeople.com/0.1/ShippingFulfillment"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>