wsdl_repositories/soatrader/SlideShowService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.docdata.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.docdata.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.docdata.com/">
         <s:element name="GetSlides">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contextKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSlidesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSlidesResult" type="tns:ArrayOfSlide"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSlide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Slide" nillable="true"
                          type="tns:Slide"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Slide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.docdata.com/">
         <s:element name="GetSlides">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="contextKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSlidesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSlidesResult" type="tns:ArrayOfSlide"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfSlide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Slide" nillable="true"
                          type="tns:Slide"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Slide">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSlidesSoapIn">
      <wsdl:part name="parameters" element="tns:GetSlides"/>
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapOut">
      <wsdl:part name="parameters" element="tns:GetSlidesResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SlideShowServiceSoap" type="tns:SlideShowServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetSlides">
         <soap:operation soapAction="http://www.docdata.com/GetSlides" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SlideShowService">
      <wsdl:port name="SlideShowServiceSoap" binding="tns:SlideShowServiceSoap">
         <soap:address location="http://ws.soatrader.com/docdatacommerce.co.uk/0.1/SlideShowService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>