wsdl_repositories/soatrader/SMSGateway.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.smsdome.com/PortalVBVS/Services/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.smsdome.com/PortalVBVS/Services/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.smsdome.com/PortalVBVS/Services/">
         <s:element name="GetPublicKey">
            <s:complexType/>
         </s:element>
         <s:element name="GetPublicKeyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetPublicKeyResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMS1">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMS1Response">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSMS1Result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMS1S">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="EncryptedMessage" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EncryptedMobileNo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EncryptedLicenseKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMS1SResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSMS1SResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Join">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CoCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="JoinResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="JoinResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPublicKeySoapIn">
      <wsdl:part name="parameters" element="tns:GetPublicKey"/>
  </wsdl:message>
  <wsdl:message name="GetPublicKeySoapOut">
      <wsdl:part name="parameters" element="tns:GetPublicKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SoapIn">
      <wsdl:part name="parameters" element="tns:SendSMS1"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SoapOut">
      <wsdl:part name="parameters" element="tns:SendSMS1Response"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SSoapIn">
      <wsdl:part name="parameters" element="tns:SendSMS1S"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SSoapOut">
      <wsdl:part name="parameters" element="tns:SendSMS1SResponse"/>
  </wsdl:message>
  <wsdl:message name="JoinSoapIn">
      <wsdl:part name="parameters" element="tns:Join"/>
  </wsdl:message>
  <wsdl:message name="JoinSoapOut">
      <wsdl:part name="parameters" element="tns:JoinResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPublicKeyHttpGetIn"/>
  <wsdl:message name="GetPublicKeyHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1HttpGetIn">
      <wsdl:part name="Message" type="s:string"/>
      <wsdl:part name="MobileNo" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1HttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SHttpGetIn">
      <wsdl:part name="EncryptedMessage" type="s:string"/>
      <wsdl:part name="EncryptedMobileNo" type="s:string"/>
      <wsdl:part name="EncryptedLicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="JoinHttpGetIn">
      <wsdl:part name="CoCode" type="s:string"/>
      <wsdl:part name="MobileNo" type="s:string"/>
      <wsdl:part name="Name" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="JoinHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetPublicKeyHttpPostIn"/>
  <wsdl:message name="GetPublicKeyHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1HttpPostIn">
      <wsdl:part name="Message" type="s:string"/>
      <wsdl:part name="MobileNo" type="s:string"/>
      <wsdl:part name="LicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1HttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SHttpPostIn">
      <wsdl:part name="EncryptedMessage" type="s:string"/>
      <wsdl:part name="EncryptedMobileNo" type="s:string"/>
      <wsdl:part name="EncryptedLicenseKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMS1SHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="JoinHttpPostIn">
      <wsdl:part name="CoCode" type="s:string"/>
      <wsdl:part name="MobileNo" type="s:string"/>
      <wsdl:part name="Name" type="s:string"/>
      <wsdl:part name="Email" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="JoinHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="SMSGatewaySoap">
      <wsdl:operation name="GetPublicKey">
         <wsdl:input message="tns:GetPublicKeySoapIn"/>
         <wsdl:output message="tns:GetPublicKeySoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendSMS1">
         <wsdl:input message="tns:SendSMS1SoapIn"/>
         <wsdl:output message="tns:SendSMS1SoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendSMS1S">
         <wsdl:input message="tns:SendSMS1SSoapIn"/>
         <wsdl:output message="tns:SendSMS1SSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="Join">
         <wsdl:input message="tns:JoinSoapIn"/>
         <wsdl:output message="tns:JoinSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="SMSGatewaySoap" type="tns:SMSGatewaySoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetPublicKey">
         <soap:operation soapAction="http://www.smsdome.com/PortalVBVS/Services/GetPublicKey"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSMS1">
         <soap:operation soapAction="http://www.smsdome.com/PortalVBVS/Services/SendSMS1"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendSMS1S">
         <soap:operation soapAction="http://www.smsdome.com/PortalVBVS/Services/SendSMS1S"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Join">
         <soap:operation soapAction="http://www.smsdome.com/PortalVBVS/Services/Join" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="SMSGateway">
      <wsdl:port name="SMSGatewaySoap" binding="tns:SMSGatewaySoap">
         <soap:address location="http://ws.soatrader.com/smsdome.com/0.1/SMSGateway"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>