wsdl_repositories/soatrader/SMSService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.2sms.com/WebServices/1.2/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.2sms.com/WebServices/1.2/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>2sms Messaging Web Service</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.2sms.com/WebServices/1.2/">
         <s:element name="AddressBookList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookAddEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookAddEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookAddEntryResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookRemoveEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="AddressBookRemoveEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookRemoveEntryResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookRemoveEntryByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookRemoveEntryByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookRemoveEntryByListResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupCreateResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreateByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupCreateByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupCreateByListResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemove">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupRemoveResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupAddEntryResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntryByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupAddEntryByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupAddEntryByListResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntry">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupRemoveEntryResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntryByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="PersonNumbers" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AddressBookGroupRemoveEntryByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AddressBookGroupRemoveEntryByListResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandard">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardReference">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardReferenceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardReferenceResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardBetweenDatesResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDatesByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportStandardBetweenDatesByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportStandardBetweenDatesByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2way">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2wayResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Report2wayResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2wayByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Report2wayByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Report2wayByDateStringResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindNumber">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Shared" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InboundNumber" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindNumberResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportFindNumberResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindNumberByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Shared" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="InboundNumber" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindNumberByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportFindNumberByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContacts">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Shared" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportScope" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContactsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportFindContactsResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContactsBetweenDates">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Shared" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
                  <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContactsBetweenDatesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ReportFindContactsBetweenDatesResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContactsBetweenDatesByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="Shared" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupType" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReportFindContactsBetweenDatesByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1"
                             name="ReportFindContactsBetweenDatesByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateToSend" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateToSend" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageByListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Destination" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DateToSend" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByListByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DateToSend" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMessageByListByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMessageByListByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessage">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateToSend" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendGroupMessageResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="DateToSend" type="s:dateTime"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendGroupMessageByListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DateToSend" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendGroupMessageByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByListByDateString">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DateToSend" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SoftwareVersion" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendGroupMessageByListByDateStringResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendGroupMessageByListByDateStringResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountBalance">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountBalanceResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountBalanceResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountVerify">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountVerifyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountVerifyResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountOpen">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountOpenResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountOpenResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountModify">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountModifyResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountModifyResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountValidate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VerificationKey" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AccountValidateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccountValidateResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageAdd">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageAddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FixedMessageAddResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageAddByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageAddByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FixedMessageAddByListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FixedMessageListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageRemove">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ID" type="tns:ArrayOfString"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageRemoveResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FixedMessageRemoveResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageRemoveByList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FixedMessageRemoveByListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="FixedMessageRemoveByListResult"
                             type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccountListResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountGiveCredits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccount" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="CurrentBalance" type="s:float"/>
                  <s:element minOccurs="1" maxOccurs="1" name="OffPeakBalance" type="s:float"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SubAccountGiveCreditsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SubAccountGiveCreditsResult" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="AddressBookListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookAddEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookAddEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntryByListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntryByList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookRemoveEntryByListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookRemoveEntryByListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreate"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateByListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreateByList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupCreateByListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupCreateByListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemove"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntryByListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntryByList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupAddEntryByListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupAddEntryByListResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntry"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntrySoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntryResponse"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntryByListSoapIn">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntryByList"/>
  </wsdl:message>
  <wsdl:message name="AddressBookGroupRemoveEntryByListSoapOut">
      <wsdl:part name="parameters" element="tns:AddressBookGroupRemoveEntryByListResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandard"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandardReference"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardReferenceSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardReferenceResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDates"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDatesResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDatesByDateString"/>
  </wsdl:message>
  <wsdl:message name="ReportStandardBetweenDatesByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:ReportStandardBetweenDatesByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapIn">
      <wsdl:part name="parameters" element="tns:Report2way"/>
  </wsdl:message>
  <wsdl:message name="Report2waySoapOut">
      <wsdl:part name="parameters" element="tns:Report2wayResponse"/>
  </wsdl:message>
  <wsdl:message name="Report2wayByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:Report2wayByDateString"/>
  </wsdl:message>
  <wsdl:message name="Report2wayByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:Report2wayByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportFindNumberSoapIn">
      <wsdl:part name="parameters" element="tns:ReportFindNumber"/>
  </wsdl:message>
  <wsdl:message name="ReportFindNumberSoapOut">
      <wsdl:part name="parameters" element="tns:ReportFindNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportFindNumberByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:ReportFindNumberByDateString"/>
  </wsdl:message>
  <wsdl:message name="ReportFindNumberByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:ReportFindNumberByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsSoapIn">
      <wsdl:part name="parameters" element="tns:ReportFindContacts"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsSoapOut">
      <wsdl:part name="parameters" element="tns:ReportFindContactsResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsBetweenDatesSoapIn">
      <wsdl:part name="parameters" element="tns:ReportFindContactsBetweenDates"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsBetweenDatesSoapOut">
      <wsdl:part name="parameters" element="tns:ReportFindContactsBetweenDatesResponse"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsBetweenDatesByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:ReportFindContactsBetweenDatesByDateString"/>
  </wsdl:message>
  <wsdl:message name="ReportFindContactsBetweenDatesByDateStringSoapOut">
      <wsdl:part name="parameters"
                 element="tns:ReportFindContactsBetweenDatesByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessage"/>
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByListSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageByList"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByListSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageByListResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageByDateString"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByListByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:SendMessageByListByDateString"/>
  </wsdl:message>
  <wsdl:message name="SendMessageByListByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:SendMessageByListByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageSoapIn">
      <wsdl:part name="parameters" element="tns:SendGroupMessage"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageSoapOut">
      <wsdl:part name="parameters" element="tns:SendGroupMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByListSoapIn">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByList"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByListSoapOut">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByListResponse"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByDateString"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByListByDateStringSoapIn">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByListByDateString"/>
  </wsdl:message>
  <wsdl:message name="SendGroupMessageByListByDateStringSoapOut">
      <wsdl:part name="parameters" element="tns:SendGroupMessageByListByDateStringResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountBalanceSoapIn">
      <wsdl:part name="parameters" element="tns:AccountBalance"/>
  </wsdl:message>
  <wsdl:message name="AccountBalanceSoapOut">
      <wsdl:part name="parameters" element="tns:AccountBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountVerifySoapIn">
      <wsdl:part name="parameters" element="tns:AccountVerify"/>
  </wsdl:message>
  <wsdl:message name="AccountVerifySoapOut">
      <wsdl:part name="parameters" element="tns:AccountVerifyResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountOpenSoapIn">
      <wsdl:part name="parameters" element="tns:AccountOpen"/>
  </wsdl:message>
  <wsdl:message name="AccountOpenSoapOut">
      <wsdl:part name="parameters" element="tns:AccountOpenResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountModifySoapIn">
      <wsdl:part name="parameters" element="tns:AccountModify"/>
  </wsdl:message>
  <wsdl:message name="AccountModifySoapOut">
      <wsdl:part name="parameters" element="tns:AccountModifyResponse"/>
  </wsdl:message>
  <wsdl:message name="AccountValidateSoapIn">
      <wsdl:part name="parameters" element="tns:AccountValidate"/>
  </wsdl:message>
  <wsdl:message name="AccountValidateSoapOut">
      <wsdl:part name="parameters" element="tns:AccountValidateResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddSoapIn">
      <wsdl:part name="parameters" element="tns:FixedMessageAdd"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddSoapOut">
      <wsdl:part name="parameters" element="tns:FixedMessageAddResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddByListSoapIn">
      <wsdl:part name="parameters" element="tns:FixedMessageAddByList"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageAddByListSoapOut">
      <wsdl:part name="parameters" element="tns:FixedMessageAddByListResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageListSoapIn">
      <wsdl:part name="parameters" element="tns:FixedMessageList"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageListSoapOut">
      <wsdl:part name="parameters" element="tns:FixedMessageListResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageRemoveSoapIn">
      <wsdl:part name="parameters" element="tns:FixedMessageRemove"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageRemoveSoapOut">
      <wsdl:part name="parameters" element="tns:FixedMessageRemoveResponse"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageRemoveByListSoapIn">
      <wsdl:part name="parameters" element="tns:FixedMessageRemoveByList"/>
  </wsdl:message>
  <wsdl:message name="FixedMessageRemoveByListSoapOut">
      <wsdl:part name="parameters" element="tns:FixedMessageRemoveByListResponse"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapIn">
      <wsdl:part name="parameters" element="tns:SubAccountList"/>
  </wsdl:message>
  <wsdl:message name="SubAccountListSoapOut">
      <wsdl:part name="parameters" element="tns:SubAccountListResponse"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapIn">
      <wsdl:part name="parameters" element="tns:SubAccountGiveCredits"/>
  </wsdl:message>
  <wsdl:message name="SubAccountGiveCreditsSoapOut">
      <wsdl:part name="parameters" element="tns:SubAccountGiveCreditsResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddressBookList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookAddEntry">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookAddEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookRemoveEntry">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookRemoveEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookRemoveEntryByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookRemoveEntryByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupCreate">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupCreate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupCreateByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupCreateByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupRemove">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupRemove"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupAddEntry">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupAddEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupAddEntryByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupAddEntryByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupRemoveEntry">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupRemoveEntry"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AddressBookGroupRemoveEntryByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AddressBookGroupRemoveEntryByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandard">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportStandard"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandardReference">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportStandardReference"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandardBetweenDates">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportStandardBetweenDates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportStandardBetweenDatesByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportStandardBetweenDatesByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Report2way">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/Report2way" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Report2wayByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/Report2wayByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportFindNumber">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportFindNumber"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportFindNumberByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportFindNumberByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportFindContacts">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportFindContacts"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportFindContactsBetweenDates">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportFindContactsBetweenDates"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ReportFindContactsBetweenDatesByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/ReportFindContactsBetweenDatesByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessage">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendMessage" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendMessageByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendMessageByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMessageByListByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendMessageByListByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendGroupMessage">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendGroupMessage"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendGroupMessageByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendGroupMessageByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendGroupMessageByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendGroupMessageByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendGroupMessageByListByDateString">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SendGroupMessageByListByDateString"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountBalance">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AccountBalance"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountVerify">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AccountVerify" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountOpen">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AccountOpen" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountModify">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AccountModify" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AccountValidate">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/AccountValidate"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FixedMessageAdd">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/FixedMessageAdd"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FixedMessageAddByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/FixedMessageAddByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FixedMessageList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/FixedMessageList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FixedMessageRemove">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/FixedMessageRemove"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="FixedMessageRemoveByList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/FixedMessageRemoveByList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubAccountList">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SubAccountList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubAccountGiveCredits">
         <soap:operation soapAction="http://www.2sms.com/WebServices/1.2/SubAccountGiveCredits"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="SMSService">
      <wsdl:documentation>2sms Messaging Web Service</wsdl:documentation>
      <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
         <soap:address location="http://ws.soatrader.com/2sms.com/0.2/SMSService"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>