wsdl_repositories/soatrader/SMSVersand.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://nx9.de/webservices/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://nx9.de/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://nx9.de/webservices/">
         <s:element name="SendSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="JobCaption" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recipients" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryAccount">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="QueryAccountResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="QueryAccountResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJobs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJobsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetJobsResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRecvSMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRecvSMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRecvSMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMMS">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendMMSResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendMMSResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendUDH">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="sendDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SendUDHResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SendUDHResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendSMS"/>
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountSoapIn">
      <wsdl:part name="parameters" element="tns:QueryAccount"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountSoapOut">
      <wsdl:part name="parameters" element="tns:QueryAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJobsSoapIn">
      <wsdl:part name="parameters" element="tns:GetJobs"/>
  </wsdl:message>
  <wsdl:message name="GetJobsSoapOut">
      <wsdl:part name="parameters" element="tns:GetJobsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSSoapIn">
      <wsdl:part name="parameters" element="tns:GetRecvSMS"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSSoapOut">
      <wsdl:part name="parameters" element="tns:GetRecvSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SendMMSSoapIn">
      <wsdl:part name="parameters" element="tns:SendMMS"/>
  </wsdl:message>
  <wsdl:message name="SendMMSSoapOut">
      <wsdl:part name="parameters" element="tns:SendMMSResponse"/>
  </wsdl:message>
  <wsdl:message name="SendUDHSoapIn">
      <wsdl:part name="parameters" element="tns:SendUDH"/>
  </wsdl:message>
  <wsdl:message name="SendUDHSoapOut">
      <wsdl:part name="parameters" element="tns:SendUDHResponse"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="JobCaption" type="s:string"/>
      <wsdl:part name="Msg" type="s:string"/>
      <wsdl:part name="Recipients" type="s:string"/>
      <wsdl:part name="SendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetJobsHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJobsHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendMMSHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recipient" type="s:string"/>
      <wsdl:part name="Sender" type="s:string"/>
      <wsdl:part name="Data" type="s:string"/>
      <wsdl:part name="SendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMMSHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendUDHHttpGetIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recipient" type="s:string"/>
      <wsdl:part name="Sender" type="s:string"/>
      <wsdl:part name="Data" type="s:string"/>
      <wsdl:part name="sendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendUDHHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="JobCaption" type="s:string"/>
      <wsdl:part name="Msg" type="s:string"/>
      <wsdl:part name="Recipients" type="s:string"/>
      <wsdl:part name="SendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="QueryAccountHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetJobsHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="StartDate" type="s:string"/>
      <wsdl:part name="EndDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJobsHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRecvSMSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendMMSHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recipient" type="s:string"/>
      <wsdl:part name="Sender" type="s:string"/>
      <wsdl:part name="Data" type="s:string"/>
      <wsdl:part name="SendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendMMSHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="SendUDHHttpPostIn">
      <wsdl:part name="User" type="s:string"/>
      <wsdl:part name="Password" type="s:string"/>
      <wsdl:part name="Recipient" type="s:string"/>
      <wsdl:part name="Sender" type="s:string"/>
      <wsdl:part name="Data" type="s:string"/>
      <wsdl:part name="sendDate" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="SendUDHHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="SMSVersandSoap">
      <wsdl:operation name="SendSMS">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;JobCaption&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Beschreibung des Jobs&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=top&gt;&lt;td&gt;&lt;b&gt;Msg&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Nachricht die gesendet werden soll. &lt;br&gt;Es k&amp;ouml;nnen zwei variable Felder #FELD1# und #FELD2# verwendet werden.&lt;br&gt;Der Aufbau beim Recpient &amp;auml;ndert sich dann in &lt;br&gt;Nummer;Feld1Text;Feld2Text;NewLineZeichen&lt;br&gt;Nummer;Feld1Text;Feld2Text;NewLineZeichen&lt;br&gt;... &lt;/td&gt;&lt;/tr&gt;&lt;tr valign=top&gt;&lt;td&gt;&lt;b&gt;Recipients&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Empfänger der Nachricht, mehrere Empfänger werden durch ein NewLine Zeichen getrennen.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;SendDate&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Sendezeit der Nachticht. Soll die Nachricht sofort gesendet werden einfach den 1.1.2000 &amp;uuml;bergeben.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;OK JobId oder Error Fehlermeldung &lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:SendSMSSoapIn"/>
         <wsdl:output message="tns:SendSMSSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="QueryAccount">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;Anzahl des noch offenen Accounts.&lt;br&gt;Bei SubAccounts wird immer 0 zur&amp;uuml;ck geliefert&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:QueryAccountSoapIn"/>
         <wsdl:output message="tns:QueryAccountSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetJobs">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;StartDate&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Startdatum der Abfrage&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;EndDate&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Endedatum der Abfrage&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;Zur&amp;uuml;ckgeliefert wird eine CSV String.&lt;br&gt;Aufbau:&lt;br&gt;JobId;Caption;Kosten;SendeZeit;NewlineZeichen&lt;br&gt;JobId;Caption;Kosten;SendeZeit;NewlineZeichen&lt;br&gt;...&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:GetJobsSoapIn"/>
         <wsdl:output message="tns:GetJobsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRecvSMS">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;Zur&amp;uuml;ckgeliefert wird eine CSV String.&lt;br&gt;Aufbau:&lt;br&gt;Sender;Nachricht;Datum;IstStatusReport;NewLineZeichen&lt;br&gt;4917100000;Hallo Welt;0;NewlineZeichen&lt;br&gt;...&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:GetRecvSMSSoapIn"/>
         <wsdl:output message="tns:GetRecvSMSSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendMMS">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;i&gt;&lt;b&gt;Senden von MMS&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Recipient&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Empf&amp;auml;nger&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Absender der Nachricht. &lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td valign=top&gt;&lt;b&gt;Data&lt;/b&gt;&lt;/td&gt;&lt;td&gt;MMS Aufbau &lt;br&gt;Siehe Api Doku 2.1.4&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;sendDate&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Sendedatum der Nachricht&lt;/td&gt;&lt;/tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;JobID &lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:SendMMSSoapIn"/>
         <wsdl:output message="tns:SendMMSSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="SendUDH">
         <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;table&gt;&lt;tr&gt;&lt;td colspan=2&gt;&lt;i&gt;&lt;b&gt;Senden von UDH SMS&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;User&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Benutzerkennung&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Passwort&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Recipient&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Empf&amp;auml;nger&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;Password&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Absender der Nachricht. Wird hier ein Wert übergeben wird ein höhere SMS Preis berechnet.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td valign=top&gt;&lt;b&gt;Data&lt;/b&gt;&lt;/td&gt;&lt;td&gt;UDH Aufbau&lt;br&gt;Siehe Api Doku 2.1.3&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;b&gt;sendDate&lt;/b&gt;&lt;/td&gt;&lt;td&gt;Sendedatum der Nachricht&lt;/td&gt;&lt;/tr&gt;&lt;td colspan=2&gt;&lt;br&gt;&lt;b&gt;Ergebnis:&lt;/b&gt;&lt;br&gt;Anzahl des noch offenen Accounts.&lt;br&gt;Bei SubAccounts wird immer 0 zur&amp;uuml;ck geliefert&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</documentation>
         <wsdl:input message="tns:SendUDHSoapIn"/>
         <wsdl:output message="tns:SendUDHSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="SMSVersandSoap" type="tns:SMSVersandSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SendSMS">
         <soap:operation soapAction="http://nx9.de/webservices/SendSMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="QueryAccount">
         <soap:operation soapAction="http://nx9.de/webservices/QueryAccount" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetJobs">
         <soap:operation soapAction="http://nx9.de/webservices/GetJobs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRecvSMS">
         <soap:operation soapAction="http://nx9.de/webservices/GetRecvSMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendMMS">
         <soap:operation soapAction="http://nx9.de/webservices/SendMMS" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SendUDH">
         <soap:operation soapAction="http://nx9.de/webservices/SendUDH" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="SMSVersand">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">&lt;h1&gt;SMS Versand&lt;/h1&gt;&lt;h2&gt;Wichtig!&lt;br&gt;Es m&amp;uuml;ssen immer alle Felder &amp;uuml;bergeben werden&lt;br&gt;sonst liefert der Service einen Fehler 500.&lt;/h2&gt;</documentation>
      <wsdl:port name="SMSVersandSoap" binding="tns:SMSVersandSoap">
         <soap:address location="http://ws.soatrader.com/info-messenger.de/0.1/SMSVersand"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>