wsdl_repositories/soatrader/SocialNetworkService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://RealEstateNewport.WebForms.PublicSite.Services/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://RealEstateNewport.WebForms.PublicSite.Services/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://RealEstateNewport.WebForms.PublicSite.Services/">
         <s:element name="GetSocialNetworks">
            <s:complexType/>
         </s:element>
         <s:element name="GetSocialNetworksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSocialNetworksResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetSocialNetworkLinks">
            <s:complexType/>
         </s:element>
         <s:element name="GetSocialNetworkLinksResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetSocialNetworkLinksResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSocialNetworksSoapIn">
      <wsdl:part name="parameters" element="tns:GetSocialNetworks"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworksSoapOut">
      <wsdl:part name="parameters" element="tns:GetSocialNetworksResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworkLinksSoapIn">
      <wsdl:part name="parameters" element="tns:GetSocialNetworkLinks"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworkLinksSoapOut">
      <wsdl:part name="parameters" element="tns:GetSocialNetworkLinksResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworksHttpGetIn"/>
  <wsdl:message name="GetSocialNetworksHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworkLinksHttpGetIn"/>
  <wsdl:message name="GetSocialNetworkLinksHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworksHttpPostIn"/>
  <wsdl:message name="GetSocialNetworksHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetSocialNetworkLinksHttpPostIn"/>
  <wsdl:message name="GetSocialNetworkLinksHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="SocialNetworkServiceSoap" type="tns:SocialNetworkServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetSocialNetworks">
         <soap:operation soapAction="http://RealEstateNewport.WebForms.PublicSite.Services/GetSocialNetworks"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetSocialNetworkLinks">
         <soap:operation soapAction="http://RealEstateNewport.WebForms.PublicSite.Services/GetSocialNetworkLinks"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="SocialNetworkService">
      <wsdl:port name="SocialNetworkServiceSoap" binding="tns:SocialNetworkServiceSoap">
         <soap:address location="http://ws.soatrader.com/realestatenewport.com/0.1/SocialNetworkService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>