wsdl_repositories/soatrader/Status_x0020_Reports.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="https://www.protus.com/WebServices/Reports/2005/9"
                  xmlns:s1="http://www.protus.com/Reports"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:s2="https://www.protus.com/WebServices/Reports/2005/2"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="https://www.protus.com/WebServices/Reports/2005/9">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Status Reports is one of Protus IP Solutions Web Services. Please, contact sales at sales@protus.com for a full documentation of this Web Service.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="https://www.protus.com/WebServices/Reports/2005/9">
         <s:import namespace="http://www.protus.com/Reports"/>
         <s:element name="GetVoiceStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetVoiceStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVoiceStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetDetailVoiceStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDetailVoiceStatusCSVResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetFaxStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFaxStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetDetailFaxStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDetailFaxStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetReceivedFaxesHistoryResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetReceivedFaxesHistoryCSVResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="https://www.protus.com/WebServices/Reports/2005/9">
         <s:import namespace="http://www.protus.com/Reports"/>
         <s:element name="GetVoiceStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetVoiceStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVoiceStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVoiceStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetDetailVoiceStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="VoiceNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailVoiceStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDetailVoiceStatusCSVResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetFaxStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetFaxStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetFaxStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatus">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetDetailFaxStatusResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="BillingCodeFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="TransactionIDListFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetDetailFaxStatusCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetDetailFaxStatusCSVResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistory">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetReceivedFaxesHistoryResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryCSV">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="AllUsersFlag" type="s:boolean"/>
                  <s:element minOccurs="0" maxOccurs="1" name="StartTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="EndTimeStampFilter" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FaxNumbersListFilter" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetReceivedFaxesHistoryCSVResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetReceivedFaxesHistoryCSVResult"
                             type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.protus.com/Reports">
         <s:element name="GetVoiceStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceSummary" type="s1:VoiceSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Header">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorFlag" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="VoiceSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReleaseTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="CompletedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="VoiceMessageID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MachineMessageID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfDestinations" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfSuccessful" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfFailed" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxCallDuration" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="SurveyQuestions" type="s1:SurveyQuestions"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SurveyQuestions">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfQuestions" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="QuestionID" type="s:string"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDetailVoiceStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceDetail" type="s1:VoiceDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="VoiceDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SubTransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="HardwareResultCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="DeliveredTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumberExtension" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DestinationCountryCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CallDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransferDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="DoNotCall" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransferedTo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DigitsPressed" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SurveyAnswers" type="s1:SurveyAnswers"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SurveyAnswers">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfAnswers" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="AnswerID" type="s:string"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetFaxStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxSummary" type="s1:FaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="FaxSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReleaseTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="CompletedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="PagesPerDestination" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfDestinations" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfSuccessful" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfFailed" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDetailFaxStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxDetail" type="s1:FaxDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="FaxDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SubTransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="DeliveredTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfPages" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToText" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumber" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DestinationCountryCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Retries" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:double"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetReceivedFaxesHistoryResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedFaxSummary"
                             type="s1:ReceivedFaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ReceivedFaxSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserFaxNumber" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateFaxReceived" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="OriginatingFaxNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OriginatingFaxCSID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfPages" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetCoverPageNameListResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="CoverPage" type="s1:CoverPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="CoverPage">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CoverPageName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CoverPageDescription" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsShared" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsOwned" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VoiceSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceSummary" type="s1:VoiceSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VoiceDetailList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceDetail" type="s1:VoiceDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FaxSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxSummary" type="s1:FaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FaxDetailList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxDetail" type="s1:FaxDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceivedFaxSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedFaxSummary"
                             type="s1:ReceivedFaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CoverPageList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="CoverPage" type="s1:CoverPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.protus.com/Reports">
         <s:element name="GetVoiceStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceSummary" type="s1:VoiceSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Header">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorFlag" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="VoiceSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReleaseTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="CompletedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="VoiceMessageID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="MachineMessageID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfDestinations" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfSuccessful" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfFailed" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="MaxCallDuration" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="SurveyQuestions" type="s1:SurveyQuestions"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SurveyQuestions">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfQuestions" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="QuestionID" type="s:string"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDetailVoiceStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceDetail" type="s1:VoiceDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="VoiceDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SubTransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="HardwareResultCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="DeliveredTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumberExtension" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DestinationCountryCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="CallDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransferDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:double"/>
               <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="DoNotCall" type="s:boolean"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransferedTo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DigitsPressed" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SurveyAnswers" type="s1:SurveyAnswers"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="SurveyAnswers">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfAnswers" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="unbounded" name="AnswerID" type="s:string"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetFaxStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxSummary" type="s1:FaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="FaxSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReleaseTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="CompletedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="PagesPerDestination" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfDestinations" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfSuccessful" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfFailed" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalDuration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetDetailFaxStatusResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxDetail" type="s1:FaxDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="FaxDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SubTransactionID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="ErrorCodeID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="ReceivedTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="DeliveredTimeStamp" type="s:dateTime"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfPages" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToText" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DestinationNumber" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DestinationCountryCode" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Retries" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:double"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetReceivedFaxesHistoryResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedFaxSummary"
                             type="s1:ReceivedFaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ReceivedFaxSummary">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="UserFaxNumber" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="DateFaxReceived" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="OriginatingFaxNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OriginatingFaxCSID" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="NumberOfPages" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int"/>
               <s:any minOccurs="0" maxOccurs="unbounded"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetCoverPageNameListResult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="CoverPage" type="s1:CoverPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="CoverPage">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="CoverPageName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CoverPageDescription" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsShared" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsOwned" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean"/>
               <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime"/>
            </s:sequence>
         </s:complexType>
         <s:element name="VoiceSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceSummary" type="s1:VoiceSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="VoiceDetailList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="VoiceDetail" type="s1:VoiceDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FaxSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxSummary" type="s1:FaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="FaxDetailList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="FaxDetail" type="s1:FaxDetail"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ReceivedFaxSummaryList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedFaxSummary"
                             type="s1:ReceivedFaxSummary"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CoverPageList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Header" type="s1:Header"/>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="CoverPage" type="s1:CoverPage"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="https://www.protus.com/WebServices/Reports/2005/2">
         <s:import namespace="http://www.protus.com/Reports"/>
         <s:element name="GetCoverPageNameList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCoverPageNameListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetCoverPageNameListResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="https://www.protus.com/WebServices/Reports/2005/2">
         <s:import namespace="http://www.protus.com/Reports"/>
         <s:element name="GetCoverPageNameList">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long"/>
                  <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCoverPageNameListResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" ref="s1:GetCoverPageNameListResult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVoiceStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetVoiceStatus"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetVoiceStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusCSVSoapIn">
      <wsdl:part name="parameters" element="tns:GetVoiceStatusCSV"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusCSVSoapOut">
      <wsdl:part name="parameters" element="tns:GetVoiceStatusCSVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetDetailVoiceStatus"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetDetailVoiceStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusCSVSoapIn">
      <wsdl:part name="parameters" element="tns:GetDetailVoiceStatusCSV"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusCSVSoapOut">
      <wsdl:part name="parameters" element="tns:GetDetailVoiceStatusCSVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetFaxStatus"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetFaxStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusCSVSoapIn">
      <wsdl:part name="parameters" element="tns:GetFaxStatusCSV"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusCSVSoapOut">
      <wsdl:part name="parameters" element="tns:GetFaxStatusCSVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusSoapIn">
      <wsdl:part name="parameters" element="tns:GetDetailFaxStatus"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusSoapOut">
      <wsdl:part name="parameters" element="tns:GetDetailFaxStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusCSVSoapIn">
      <wsdl:part name="parameters" element="tns:GetDetailFaxStatusCSV"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusCSVSoapOut">
      <wsdl:part name="parameters" element="tns:GetDetailFaxStatusCSVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistorySoapIn">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxesHistory"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistorySoapOut">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxesHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryCSVSoapIn">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxesHistoryCSV"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryCSVSoapOut">
      <wsdl:part name="parameters" element="tns:GetReceivedFaxesHistoryCSVResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCoverPageNameListSoapIn">
      <wsdl:part name="parameters" element="s2:GetCoverPageNameList"/>
  </wsdl:message>
  <wsdl:message name="GetCoverPageNameListSoapOut">
      <wsdl:part name="parameters" element="s2:GetCoverPageNameListResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="VoiceNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusHttpPostOut">
      <wsdl:part name="Body" element="s1:VoiceSummaryList"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusCSVHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="VoiceNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVoiceStatusCSVHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="VoiceNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusHttpPostOut">
      <wsdl:part name="Body" element="s1:VoiceDetailList"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusCSVHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="VoiceNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailVoiceStatusCSVHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusHttpPostOut">
      <wsdl:part name="Body" element="s1:FaxSummaryList"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusCSVHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetFaxStatusCSVHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusHttpPostOut">
      <wsdl:part name="Body" element="s1:FaxDetailList"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusCSVHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="BillingCodeFilter" type="s:string"/>
      <wsdl:part name="TransactionIDListFilter" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDetailFaxStatusCSVHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryHttpPostOut">
      <wsdl:part name="Body" element="s1:ReceivedFaxSummaryList"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryCSVHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
      <wsdl:part name="AllUsersFlag" type="s:string"/>
      <wsdl:part name="StartTimeStampFilter" type="s:string"/>
      <wsdl:part name="EndTimeStampFilter" type="s:string"/>
      <wsdl:part name="FaxNumbersListFilter" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetReceivedFaxesHistoryCSVHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetCoverPageNameListHttpPostIn">
      <wsdl:part name="UserID" type="s:string"/>
      <wsdl:part name="UserPassword" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCoverPageNameListHttpPostOut">
      <wsdl:part name="Body" element="s1:CoverPageList"/>
  </wsdl:message>
  
  
  <wsdl:binding name="Status_x0020_ReportsSoap" type="tns:Status_x0020_ReportsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetVoiceStatus">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetVoiceStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVoiceStatusCSV">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetVoiceStatusCSV"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDetailVoiceStatus">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetDetailVoiceStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDetailVoiceStatusCSV">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetDetailVoiceStatusCSV"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFaxStatus">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetFaxStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetFaxStatusCSV">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetFaxStatusCSV"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDetailFaxStatus">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetDetailFaxStatus"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDetailFaxStatusCSV">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetDetailFaxStatusCSV"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFaxesHistory">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetReceivedFaxesHistory"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReceivedFaxesHistoryCSV">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetReceivedFaxesHistoryCSV"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCoverPageNameList">
         <soap:operation soapAction="https://www.protus.com/WebServices/Reports/2005/9/GetCoverPageNameList"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Status_x0020_Reports">
      <wsdl:documentation>Status Reports is one of Protus IP Solutions Web Services. Please, contact sales at sales@protus.com for a full documentation of this Web Service.</wsdl:documentation>
      <wsdl:port name="Status_x0020_ReportsSoap" binding="tns:Status_x0020_ReportsSoap">
         <soap:address location="http://ws.soatrader.com/protusfax.com/0.1/Status_x0020_Reports"/>
      </wsdl:port>
    
    
  </wsdl:service>
</wsdl:definitions>