wsdl_repositories/soatrader/SupportWSService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://studio.m-qube.us/campaignapp/services/SupportWS"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://studio.m-qube.us/campaignapp/services/SupportWS"
                  xmlns:intf="http://studio.m-qube.us/campaignapp/services/SupportWS"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="urn:CMPIntegrationWS"
                  xmlns:tns2="urn:SupportWS"
                  xmlns:tns3="http://campaignapp.proteusmobile.com"
                  xmlns:tns4="http://util.common.proteusmobile.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://studio.m-qube.us/campaignapp/services/SupportWS">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CMPIntegrationWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="GUIDString">
            <sequence>
               <element name="uuid" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CMPIntegrationWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="GUIDString">
            <sequence>
               <element name="uuid" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SupportWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ProgramInfo">
            <sequence>
               <element name="description" nillable="true" type="xsd:string"/>
               <element name="endDate" nillable="true" type="xsd:string"/>
               <element name="id" nillable="true" type="xsd:string"/>
               <element name="lastUserEmail" nillable="true" type="xsd:string"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="organizationId" nillable="true" type="xsd:string"/>
               <element name="ownerEmail" nillable="true" type="xsd:string"/>
               <element name="programXtraInfo" nillable="true" type="xsd:string"/>
               <element name="scopeId" nillable="true" type="xsd:string"/>
               <element name="serviceCode" nillable="true" type="xsd:string"/>
               <element name="serviceEmail" nillable="true" type="xsd:string"/>
               <element name="startDate" nillable="true" type="xsd:string"/>
               <element name="status" nillable="true" type="xsd:string"/>
               <element name="style" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="OptoutHistory">
            <sequence>
               <element name="channel" nillable="true" type="xsd:string"/>
               <element name="lastChangeDate" nillable="true" type="xsd:string"/>
               <element name="organizationId" nillable="true" type="xsd:string"/>
               <element name="scopeId" nillable="true" type="xsd:string"/>
               <element name="status" nillable="true" type="xsd:string"/>
               <element name="subscriberId" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SupportWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ProgramInfo">
            <sequence>
               <element name="description" nillable="true" type="xsd:string"/>
               <element name="endDate" nillable="true" type="xsd:string"/>
               <element name="id" nillable="true" type="xsd:string"/>
               <element name="lastUserEmail" nillable="true" type="xsd:string"/>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="organizationId" nillable="true" type="xsd:string"/>
               <element name="ownerEmail" nillable="true" type="xsd:string"/>
               <element name="programXtraInfo" nillable="true" type="xsd:string"/>
               <element name="scopeId" nillable="true" type="xsd:string"/>
               <element name="serviceCode" nillable="true" type="xsd:string"/>
               <element name="serviceEmail" nillable="true" type="xsd:string"/>
               <element name="startDate" nillable="true" type="xsd:string"/>
               <element name="status" nillable="true" type="xsd:string"/>
               <element name="style" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="OptoutHistory">
            <sequence>
               <element name="channel" nillable="true" type="xsd:string"/>
               <element name="lastChangeDate" nillable="true" type="xsd:string"/>
               <element name="organizationId" nillable="true" type="xsd:string"/>
               <element name="scopeId" nillable="true" type="xsd:string"/>
               <element name="status" nillable="true" type="xsd:string"/>
               <element name="subscriberId" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://util.common.proteusmobile.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ChainedException">
            <sequence>
               <element name="cause" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://util.common.proteusmobile.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ChainedException">
            <sequence>
               <element name="cause" nillable="true" type="xsd:anyType"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://campaignapp.proteusmobile.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="StudioException">
            <complexContent>
               <extension base="tns4:ChainedException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://campaignapp.proteusmobile.com">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="StudioException">
            <complexContent>
               <extension base="tns4:ChainedException">
                  <sequence/>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://studio.m-qube.us/campaignapp/services/SupportWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns2_ProgramInfo">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ProgramInfo[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns2_OptoutHistory">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:OptoutHistory[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://studio.m-qube.us/campaignapp/services/SupportWS">
         <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <complexType name="ArrayOf_tns2_ProgramInfo">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ProgramInfo[]"/>
               </restriction>
            </complexContent>
         </complexType>
         <complexType name="ArrayOf_tns2_OptoutHistory">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:OptoutHistory[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </wsdl:types>
  <wsdl:message name="getOptoutHistoryResponse">
      <wsdl:part name="getOptoutHistoryReturn" type="impl:ArrayOf_tns2_OptoutHistory"/>
  </wsdl:message>
  <wsdl:message name="getProgramInfoRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:string"/>
      <wsdl:part name="in4" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="saveProgramXtraInfoRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="saveProgramXtraInfoResponse">
      <wsdl:part name="saveProgramXtraInfoReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="getOptoutHistoryRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="optoutRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="StudioException">
      <wsdl:part name="fault" type="tns3:StudioException"/>
  </wsdl:message>
  <wsdl:message name="optinRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getProgramInfoResponse">
      <wsdl:part name="getProgramInfoReturn" type="impl:ArrayOf_tns2_ProgramInfo"/>
  </wsdl:message>
  <wsdl:message name="optoutResponse">
      <wsdl:part name="optoutReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="optinResponse">
      <wsdl:part name="optinReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:portType name="SupportWS">
      <wsdl:operation name="optin" parameterOrder="in0 in1 in2">
         <wsdl:input message="impl:optinRequest" name="optinRequest"/>
         <wsdl:output message="impl:optinResponse" name="optinResponse"/>
         <wsdl:fault message="impl:StudioException" name="StudioException"/>
      </wsdl:operation>
      <wsdl:operation name="optout" parameterOrder="in0 in1 in2">
         <wsdl:input message="impl:optoutRequest" name="optoutRequest"/>
         <wsdl:output message="impl:optoutResponse" name="optoutResponse"/>
         <wsdl:fault message="impl:StudioException" name="StudioException"/>
      </wsdl:operation>
      <wsdl:operation name="getProgramInfo" parameterOrder="in0 in1 in2 in3 in4">
         <wsdl:input message="impl:getProgramInfoRequest" name="getProgramInfoRequest"/>
         <wsdl:output message="impl:getProgramInfoResponse" name="getProgramInfoResponse"/>
         <wsdl:fault message="impl:StudioException" name="StudioException"/>
      </wsdl:operation>
      <wsdl:operation name="getOptoutHistory" parameterOrder="in0 in1">
         <wsdl:input message="impl:getOptoutHistoryRequest" name="getOptoutHistoryRequest"/>
         <wsdl:output message="impl:getOptoutHistoryResponse" name="getOptoutHistoryResponse"/>
         <wsdl:fault message="impl:StudioException" name="StudioException"/>
      </wsdl:operation>
      <wsdl:operation name="saveProgramXtraInfo" parameterOrder="in0 in1">
         <wsdl:input message="impl:saveProgramXtraInfoRequest" name="saveProgramXtraInfoRequest"/>
         <wsdl:output message="impl:saveProgramXtraInfoResponse" name="saveProgramXtraInfoResponse"/>
         <wsdl:fault message="impl:StudioException" name="StudioException"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupportWSSoapBinding" type="impl:SupportWS">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="optin">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="optinRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.campaignapp.proteusmobile.com"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="optinResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                           use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="StudioException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                            use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="optout">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="optoutRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.campaignapp.proteusmobile.com"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="optoutResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                           use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="StudioException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                            use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProgramInfo">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getProgramInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.campaignapp.proteusmobile.com"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="getProgramInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                           use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="StudioException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                            use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOptoutHistory">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getOptoutHistoryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.campaignapp.proteusmobile.com"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="getOptoutHistoryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                           use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="StudioException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                            use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveProgramXtraInfo">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="saveProgramXtraInfoRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://webservices.campaignapp.proteusmobile.com"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="saveProgramXtraInfoResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                           use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="StudioException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                            namespace="http://studio.m-qube.us/campaignapp/services/SupportWS"
                            use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupportWSService">
      <wsdl:port binding="impl:SupportWSSoapBinding" name="SupportWS">
         <wsdlsoap:address location="http://ws.soatrader.com/m-qube.us/0.1/SupportWSService"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>