wsdl_repositories/soatrader/TCDlg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sms-maut.de/webservices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://sms-maut.de/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://sms-maut.de/webservices/">
         <s:element name="OpenDlg">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="OpenDlgResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="OpenDlgResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Close">
            <s:complexType/>
         </s:element>
         <s:element name="CloseResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="CloseResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFzg">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="land" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="plate" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="weight_int" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="weight_dec" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="axles" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="emission" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetFzgResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetFzgResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetRoute">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="start" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ziel" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="via1" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="via2" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="via3" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="via4" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetRouteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetRouteResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicket">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="hh" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="mm" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="kst" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetTicketResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetTicketResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="SetValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SetValueResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValue">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetValueResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetValueResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PreAdhocRouteBooking">
            <s:complexType/>
         </s:element>
         <s:element name="PreAdhocRouteBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PreAdhocRouteBookingResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostRouteBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="keepopen" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PostRouteBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PostRouteBookingResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdhocRouteBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="keepopen" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AdhocRouteBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AdhocRouteBookingResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PreStandardRouteBooking">
            <s:complexType/>
         </s:element>
         <s:element name="PreStandardRouteBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PreStandardRouteBookingResult"
                             type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="StandardRouteBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="keepopen" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="StandardRouteBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="StandardRouteBookingResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PreCancelBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="mautid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="PreCancelBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="PreCancelBookingResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelBooking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="mautid" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="keepopen" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="CancelBookingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="CancelBookingResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TestLogin">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tc_id" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="tc_pwd" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="TestLoginResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="TestLoginResult" type="s:boolean"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="OpenDlgSoapIn">
      <wsdl:part name="parameters" element="tns:OpenDlg"/>
  </wsdl:message>
  <wsdl:message name="OpenDlgSoapOut">
      <wsdl:part name="parameters" element="tns:OpenDlgResponse"/>
  </wsdl:message>
  <wsdl:message name="CloseSoapIn">
      <wsdl:part name="parameters" element="tns:Close"/>
  </wsdl:message>
  <wsdl:message name="CloseSoapOut">
      <wsdl:part name="parameters" element="tns:CloseResponse"/>
  </wsdl:message>
  <wsdl:message name="SetFzgSoapIn">
      <wsdl:part name="parameters" element="tns:SetFzg"/>
  </wsdl:message>
  <wsdl:message name="SetFzgSoapOut">
      <wsdl:part name="parameters" element="tns:SetFzgResponse"/>
  </wsdl:message>
  <wsdl:message name="SetRouteSoapIn">
      <wsdl:part name="parameters" element="tns:SetRoute"/>
  </wsdl:message>
  <wsdl:message name="SetRouteSoapOut">
      <wsdl:part name="parameters" element="tns:SetRouteResponse"/>
  </wsdl:message>
  <wsdl:message name="SetTicketSoapIn">
      <wsdl:part name="parameters" element="tns:SetTicket"/>
  </wsdl:message>
  <wsdl:message name="SetTicketSoapOut">
      <wsdl:part name="parameters" element="tns:SetTicketResponse"/>
  </wsdl:message>
  <wsdl:message name="SetValueSoapIn">
      <wsdl:part name="parameters" element="tns:SetValue"/>
  </wsdl:message>
  <wsdl:message name="SetValueSoapOut">
      <wsdl:part name="parameters" element="tns:SetValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetValueSoapIn">
      <wsdl:part name="parameters" element="tns:GetValue"/>
  </wsdl:message>
  <wsdl:message name="GetValueSoapOut">
      <wsdl:part name="parameters" element="tns:GetValueResponse"/>
  </wsdl:message>
  <wsdl:message name="PreAdhocRouteBookingSoapIn">
      <wsdl:part name="parameters" element="tns:PreAdhocRouteBooking"/>
  </wsdl:message>
  <wsdl:message name="PreAdhocRouteBookingSoapOut">
      <wsdl:part name="parameters" element="tns:PreAdhocRouteBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="PostRouteBookingSoapIn">
      <wsdl:part name="parameters" element="tns:PostRouteBooking"/>
  </wsdl:message>
  <wsdl:message name="PostRouteBookingSoapOut">
      <wsdl:part name="parameters" element="tns:PostRouteBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="AdhocRouteBookingSoapIn">
      <wsdl:part name="parameters" element="tns:AdhocRouteBooking"/>
  </wsdl:message>
  <wsdl:message name="AdhocRouteBookingSoapOut">
      <wsdl:part name="parameters" element="tns:AdhocRouteBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="PreStandardRouteBookingSoapIn">
      <wsdl:part name="parameters" element="tns:PreStandardRouteBooking"/>
  </wsdl:message>
  <wsdl:message name="PreStandardRouteBookingSoapOut">
      <wsdl:part name="parameters" element="tns:PreStandardRouteBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="StandardRouteBookingSoapIn">
      <wsdl:part name="parameters" element="tns:StandardRouteBooking"/>
  </wsdl:message>
  <wsdl:message name="StandardRouteBookingSoapOut">
      <wsdl:part name="parameters" element="tns:StandardRouteBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="PreCancelBookingSoapIn">
      <wsdl:part name="parameters" element="tns:PreCancelBooking"/>
  </wsdl:message>
  <wsdl:message name="PreCancelBookingSoapOut">
      <wsdl:part name="parameters" element="tns:PreCancelBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapIn">
      <wsdl:part name="parameters" element="tns:CancelBooking"/>
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapOut">
      <wsdl:part name="parameters" element="tns:CancelBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="TestLoginSoapIn">
      <wsdl:part name="parameters" element="tns:TestLogin"/>
  </wsdl:message>
  <wsdl:message name="TestLoginSoapOut">
      <wsdl:part name="parameters" element="tns:TestLoginResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="TCDlgSoap" type="tns:TCDlgSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="OpenDlg">
         <soap:operation soapAction="http://sms-maut.de/webservices/OpenDlg" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Close">
         <soap:operation soapAction="http://sms-maut.de/webservices/Close" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetFzg">
         <soap:operation soapAction="http://sms-maut.de/webservices/SetFzg" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetRoute">
         <soap:operation soapAction="http://sms-maut.de/webservices/SetRoute" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetTicket">
         <soap:operation soapAction="http://sms-maut.de/webservices/SetTicket" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SetValue">
         <soap:operation soapAction="http://sms-maut.de/webservices/SetValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetValue">
         <soap:operation soapAction="http://sms-maut.de/webservices/GetValue" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PreAdhocRouteBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/PreAdhocRouteBooking"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PostRouteBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/PostRouteBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="AdhocRouteBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/AdhocRouteBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PreStandardRouteBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/PreStandardRouteBooking"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="StandardRouteBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/StandardRouteBooking"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PreCancelBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/PreCancelBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CancelBooking">
         <soap:operation soapAction="http://sms-maut.de/webservices/CancelBooking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="TestLogin">
         <soap:operation soapAction="http://sms-maut.de/webservices/TestLogin" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TCDlg">
      <wsdl:port name="TCDlgSoap" binding="tns:TCDlgSoap">
         <soap:address location="http://ws.soatrader.com/sms-maut.de/0.1/TCDlg"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>