wsdl_repositories/soatrader/Tracking.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://liveshipment.com/API"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://liveshipment.com/API">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://liveshipment.com/API">
         <s:element name="GetTracking">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="trackingRequest" type="tns:TrackingRequest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="TrackingRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="MerchantUsername" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="APIRequestKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetTrackingResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTrackingResult"
                             type="tns:TrackingResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="TrackingResponse">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime"/>
               <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TrackingURL" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetTrackingsBatch">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="trackingRequest"
                             type="tns:ArrayOfTrackingRequest"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfTrackingRequest">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="TrackingRequest" nillable="true"
                          type="tns:TrackingRequest"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetTrackingsBatchResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTrackingsBatchResult"
                             type="tns:ArrayOfTrackingResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfTrackingResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="TrackingResponse" nillable="true"
                          type="tns:TrackingResponse"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTrackingSoapIn">
      <wsdl:part name="parameters" element="tns:GetTracking"/>
  </wsdl:message>
  <wsdl:message name="GetTrackingSoapOut">
      <wsdl:part name="parameters" element="tns:GetTrackingResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTrackingsBatchSoapIn">
      <wsdl:part name="parameters" element="tns:GetTrackingsBatch"/>
  </wsdl:message>
  <wsdl:message name="GetTrackingsBatchSoapOut">
      <wsdl:part name="parameters" element="tns:GetTrackingsBatchResponse"/>
  </wsdl:message>
  
  <wsdl:binding name="TrackingSoap" type="tns:TrackingSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetTracking">
         <soap:operation soapAction="http://liveshipment.com/API/GetTracking" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTrackingsBatch">
         <soap:operation soapAction="http://liveshipment.com/API/GetTrackingsBatch" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Tracking">
      <wsdl:port name="TrackingSoap" binding="tns:TrackingSoap">
         <soap:address location="http://ws.soatrader.com/liveshipment.com/0.1/Tracking"/>
      </wsdl:port>
    
  </wsdl:service>
</wsdl:definitions>