wsdl_repositories/soatrader/TravelCodesTranslator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:tns="http://webservices.galileo.com/TravelCodesTranslator/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://webservices.galileo.com/TravelCodesTranslator/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://webservices.galileo.com/TravelCodesTranslator/">
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
	  <types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
		    <s:schema elementFormDefault="qualified"
                targetNamespace="http://webservices.galileo.com/TravelCodesTranslator/">
			      <s:element name="Encode">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="EncodeInput">
							              <s:complexType>
								                <s:sequence>
									                  <s:any/>
								                </s:sequence>
							              </s:complexType>
						            </s:element>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
			      <s:element name="EncodeResponse">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="EncodeResult">
							              <s:complexType>
								                <s:sequence>
									                  <s:any/>
								                </s:sequence>
							              </s:complexType>
						            </s:element>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
			      <s:element name="Decode">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="DecodeInput">
							              <s:complexType>
								                <s:sequence>
									                  <s:any/>
								                </s:sequence>
							              </s:complexType>
						            </s:element>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
			      <s:element name="DecodeResponse">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="DecodeResult">
							              <s:complexType>
								                <s:sequence>
									                  <s:any/>
								                </s:sequence>
							              </s:complexType>
						            </s:element>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
			      <s:element name="GetAllByCategory">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string"/>
						            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string"/>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
			      <s:element name="GetAllByCategoryResponse">
				        <s:complexType>
					          <s:sequence>
						            <s:element minOccurs="0" maxOccurs="1" name="GetAllByCategoryResult">
							              <s:complexType>
								                <s:sequence>
									                  <s:any/>
								                </s:sequence>
							              </s:complexType>
						            </s:element>
					          </s:sequence>
				        </s:complexType>
			      </s:element>
		    </s:schema>
	  </types>
	  <message name="EncodeSoapIn">
		    <part name="parameters" element="s0:Encode"/>
	  </message>
	  <message name="EncodeSoapOut">
		    <part name="parameters" element="s0:EncodeResponse"/>
	  </message>
	  <message name="DecodeSoapIn">
		    <part name="parameters" element="s0:Decode"/>
	  </message>
	  <message name="DecodeSoapOut">
		    <part name="parameters" element="s0:DecodeResponse"/>
	  </message>
	  <message name="GetAllByCategorySoapIn">
		    <part name="parameters" element="s0:GetAllByCategory"/>
	  </message>
	  <message name="GetAllByCategorySoapOut">
		    <part name="parameters" element="s0:GetAllByCategoryResponse"/>
	  </message>
	  <portType name="TravelCodesTranslatorSoap">
		    <operation name="Encode">
			      <input message="s0:EncodeSoapIn"/>
			      <output message="s0:EncodeSoapOut"/>
		    </operation>
		    <operation name="Decode">
			      <input message="s0:DecodeSoapIn"/>
			      <output message="s0:DecodeSoapOut"/>
		    </operation>
		    <operation name="GetAllByCategory">
			      <input message="s0:GetAllByCategorySoapIn"/>
			      <output message="s0:GetAllByCategorySoapOut"/>
		    </operation>
	  </portType>
	  <binding name="TravelCodesTranslatorSoap" type="s0:TravelCodesTranslatorSoap">
		    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <operation name="Encode">
			      <soap:operation soapAction="http://webservices.galileo.com/TravelCodesTranslator/Encode"
                         style="document"/>
			      <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </input>
			      <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </output>
		    </operation>
		    <operation name="Decode">
			      <soap:operation soapAction="http://webservices.galileo.com/TravelCodesTranslator/Decode"
                         style="document"/>
			      <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </input>
			      <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </output>
		    </operation>
		    <operation name="GetAllByCategory">
			      <soap:operation soapAction="http://webservices.galileo.com/TravelCodesTranslator/GetAllByCategory"
                         style="document"/>
			      <input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
				        <soap:body use="literal"/>
			      </input>
			      <output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
				        <soap:body use="literal"/>
			      </output>
		    </operation>
	  </binding>
	
	  <service name="TravelCodesTranslator">
		    <documentation>Galileo Travel Codes Translator Web Service</documentation>
		    <port name="TravelCodesTranslatorSoap" binding="s0:TravelCodesTranslatorSoap">
			      <soap:address location="http://ws.soatrader.com/cendant.com/0.1/TravelCodesTranslator"/>
		    </port>
	  </service>
	
</definitions>