wsdl_repositories/soatrader/TVPWebService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetVaccinationReportAdult">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="startDateDDMMYYYY" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportAdultResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVaccinationReportAdultResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="AuthHeaderCS" type="tns:AuthHeaderCS"/>
         <s:complexType name="AuthHeaderCS">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            </s:sequence>
            <s:anyAttribute/>
         </s:complexType>
         <s:element name="GetVaccinationReportAdultXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="startDateDDMMYYYY" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportAdultXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVaccinationReportAdultXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportChild">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="startDateDDMMYYYY" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageYear" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageMonth" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageDay" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportChildResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVaccinationReportChildResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportChildXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="startDateDDMMYYYY" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageYear" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageMonth" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="ageDay" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetVaccinationReportChildXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetVaccinationReportChildXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJetlagInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJetlagInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetJetlagInfoResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJetlagInfoXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="countryNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="cityNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetJetlagInfoXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetJetlagInfoXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdviceSheets">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="factorNames" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdviceSheetsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdviceSheetsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdviceSheetsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="factorNames" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetAdviceSheetsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetAdviceSheetsXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryNames">
            <s:complexType/>
         </s:element>
         <s:element name="GetCountryNamesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountryNamesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryNamesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountryNamesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountryNamesXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTravelTypes">
            <s:complexType/>
         </s:element>
         <s:element name="GetTravelTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTravelTypesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTravelTypesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetTravelTypesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetTravelTypesXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificTravelTypes">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificTravelTypesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificTravelTypesResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificTravelTypesXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificTravelTypesXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificTravelTypesXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRiskFactors">
            <s:complexType/>
         </s:element>
         <s:element name="GetRiskFactorsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRiskFactorsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRiskFactorsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetRiskFactorsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetRiskFactorsXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificRiskFactors">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificRiskFactorsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificRiskFactorsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificRiskFactorsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificRiskFactorsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificRiskFactorsXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMedicalConditions">
            <s:complexType/>
         </s:element>
         <s:element name="GetMedicalConditionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMedicalConditionsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMedicalConditionsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetMedicalConditionsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetMedicalConditionsXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificMedicalConditions">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificMedicalConditionsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificMedicalConditionsResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificMedicalConditionsXML">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
                  <s:element minOccurs="1" maxOccurs="1" name="countryId" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCountrySpecificMedicalConditionsXMLResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCountrySpecificMedicalConditionsXMLResult">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DataSet" nillable="true">
            <s:complexType>
               <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVaccinationReportAdultSoapIn">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportAdult"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultSoapOut">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportAdultResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportAdultXML"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportAdultXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildSoapIn">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportChild"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildSoapOut">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportChildResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportChildXML"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetVaccinationReportChildXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoSoapIn">
      <wsdl:part name="parameters" element="tns:GetJetlagInfo"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoSoapOut">
      <wsdl:part name="parameters" element="tns:GetJetlagInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetJetlagInfoXML"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetJetlagInfoXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdviceSheets"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdviceSheetsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetAdviceSheetsXML"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetAdviceSheetsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountryNames"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountryNamesXML"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountryNamesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetTravelTypes"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetTravelTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetTravelTypesXML"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetTravelTypesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificTravelTypes"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificTravelTypesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificTravelTypesXML"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificTravelTypesXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsSoapIn">
      <wsdl:part name="parameters" element="tns:GetRiskFactors"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsSoapOut">
      <wsdl:part name="parameters" element="tns:GetRiskFactorsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetRiskFactorsXML"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetRiskFactorsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificRiskFactors"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificRiskFactorsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificRiskFactorsXML"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificRiskFactorsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetMedicalConditions"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetMedicalConditionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetMedicalConditionsXML"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetMedicalConditionsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificMedicalConditions"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificMedicalConditionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsAuthHeaderCS">
      <wsdl:part name="AuthHeaderCS" element="tns:AuthHeaderCS"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLSoapIn">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificMedicalConditionsXML"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLSoapOut">
      <wsdl:part name="parameters" element="tns:GetCountrySpecificMedicalConditionsXMLResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="ageYear" type="s:string"/>
      <wsdl:part name="ageMonth" type="s:string"/>
      <wsdl:part name="ageDay" type="s:string"/>
      <wsdl:part name="weight" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="ageYear" type="s:string"/>
      <wsdl:part name="ageMonth" type="s:string"/>
      <wsdl:part name="ageDay" type="s:string"/>
      <wsdl:part name="weight" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLHttpGetIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsHttpGetIn">
      <wsdl:part name="factorNames" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLHttpGetIn">
      <wsdl:part name="factorNames" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesHttpGetIn"/>
  <wsdl:message name="GetCountryNamesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesHttpGetIn"/>
  <wsdl:message name="GetTravelTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesHttpGetIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsHttpGetIn"/>
  <wsdl:message name="GetRiskFactorsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsHttpGetIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsHttpGetIn"/>
  <wsdl:message name="GetMedicalConditionsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsHttpGetIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLHttpGetIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLHttpGetOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportAdultXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="ageYear" type="s:string"/>
      <wsdl:part name="ageMonth" type="s:string"/>
      <wsdl:part name="ageDay" type="s:string"/>
      <wsdl:part name="weight" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="startDateDDMMYYYY" type="s:string"/>
      <wsdl:part name="ageYear" type="s:string"/>
      <wsdl:part name="ageMonth" type="s:string"/>
      <wsdl:part name="ageDay" type="s:string"/>
      <wsdl:part name="weight" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetVaccinationReportChildXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLHttpPostIn">
      <wsdl:part name="countryNames" type="s:string"/>
      <wsdl:part name="cityNames" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJetlagInfoXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsHttpPostIn">
      <wsdl:part name="factorNames" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLHttpPostIn">
      <wsdl:part name="factorNames" type="s:string"/>
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetAdviceSheetsXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesHttpPostIn"/>
  <wsdl:message name="GetCountryNamesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountryNamesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesHttpPostIn"/>
  <wsdl:message name="GetTravelTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetTravelTypesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesHttpPostIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificTravelTypesXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsHttpPostIn"/>
  <wsdl:message name="GetRiskFactorsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetRiskFactorsXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsHttpPostIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificRiskFactorsXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsHttpPostIn"/>
  <wsdl:message name="GetMedicalConditionsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMedicalConditionsXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsHttpPostIn">
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLHttpPostIn">
      <wsdl:part name="username" type="s:string"/>
      <wsdl:part name="password" type="s:string"/>
      <wsdl:part name="countryId" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCountrySpecificMedicalConditionsXMLHttpPostOut">
      <wsdl:part name="Body" element="tns:DataSet"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="TVPWebServiceSoap" type="tns:TVPWebServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetVaccinationReportAdult">
         <soap:operation soapAction="http://tempuri.org/GetVaccinationReportAdult" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetVaccinationReportAdultAuthHeaderCS" part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVaccinationReportAdultXML">
         <soap:operation soapAction="http://tempuri.org/GetVaccinationReportAdultXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVaccinationReportChild">
         <soap:operation soapAction="http://tempuri.org/GetVaccinationReportChild" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetVaccinationReportChildAuthHeaderCS" part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetVaccinationReportChildXML">
         <soap:operation soapAction="http://tempuri.org/GetVaccinationReportChildXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetJetlagInfo">
         <soap:operation soapAction="http://tempuri.org/GetJetlagInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetJetlagInfoAuthHeaderCS" part="AuthHeaderCS" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetJetlagInfoXML">
         <soap:operation soapAction="http://tempuri.org/GetJetlagInfoXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdviceSheets">
         <soap:operation soapAction="http://tempuri.org/GetAdviceSheets" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetAdviceSheetsAuthHeaderCS" part="AuthHeaderCS" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAdviceSheetsXML">
         <soap:operation soapAction="http://tempuri.org/GetAdviceSheetsXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountryNames">
         <soap:operation soapAction="http://tempuri.org/GetCountryNames" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCountryNamesAuthHeaderCS" part="AuthHeaderCS" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountryNamesXML">
         <soap:operation soapAction="http://tempuri.org/GetCountryNamesXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTravelTypes">
         <soap:operation soapAction="http://tempuri.org/GetTravelTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetTravelTypesAuthHeaderCS" part="AuthHeaderCS" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetTravelTypesXML">
         <soap:operation soapAction="http://tempuri.org/GetTravelTypesXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificTravelTypes">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificTravelTypes" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCountrySpecificTravelTypesAuthHeaderCS" part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificTravelTypesXML">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificTravelTypesXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRiskFactors">
         <soap:operation soapAction="http://tempuri.org/GetRiskFactors" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetRiskFactorsAuthHeaderCS" part="AuthHeaderCS" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRiskFactorsXML">
         <soap:operation soapAction="http://tempuri.org/GetRiskFactorsXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificRiskFactors">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificRiskFactors" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCountrySpecificRiskFactorsAuthHeaderCS" part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificRiskFactorsXML">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificRiskFactorsXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMedicalConditions">
         <soap:operation soapAction="http://tempuri.org/GetMedicalConditions" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetMedicalConditionsAuthHeaderCS" part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMedicalConditionsXML">
         <soap:operation soapAction="http://tempuri.org/GetMedicalConditionsXML" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificMedicalConditions">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificMedicalConditions"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:GetCountrySpecificMedicalConditionsAuthHeaderCS"
                         part="AuthHeaderCS"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCountrySpecificMedicalConditionsXML">
         <soap:operation soapAction="http://tempuri.org/GetCountrySpecificMedicalConditionsXML"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="TVPWebService">
      <wsdl:port name="TVPWebServiceSoap" binding="tns:TVPWebServiceSoap">
         <soap:address location="http://ws.soatrader.com/travelvaccines.info/0.1/TVPWebService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>