wsdl_repositories/soatrader/ValidPhoneMX.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.ilion-strategies.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.ilion-strategies.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>Phone Number Validation Service</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.ilion-strategies.com/">
         <s:element name="chkPhone">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="PhoneNumMX" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="chkPhoneResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="chkPhoneResult" type="tns:RevisedPhone"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="RevisedPhone">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="CensusKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Municipality" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ASL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="NetworkType" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Modality" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OperatedBy" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PreviousAreaCode" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="getRemainingHits">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getRemainingHitsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="getRemainingHitsResult"
                             type="tns:LicenseInformation"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="LicenseInformation">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="LicenseStatusCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LicenseStatus" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LicenseInfo" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RemainingHits" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AccessCount" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <xs:schema xmlns:tns1="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 attributeFormDefault="unqualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </xs:schema>
  </wsdl:types>
  <wsdl:message name="chkPhoneSoapIn">
      <wsdl:part name="parameters" element="tns:chkPhone"/>
  </wsdl:message>
  <wsdl:message name="chkPhoneSoapOut">
      <wsdl:part name="parameters" element="tns:chkPhoneResponse"/>
  </wsdl:message>
  <wsdl:message name="getRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="tns:getRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="getRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="tns:getRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="q1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="q2:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="q3:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="q4:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="ValidPhoneMXSoap">
      <wsdl:operation name="chkPhone">
         <wsdl:documentation>Validates Mexico's Phone Numbers</wsdl:documentation>
         <wsdl:input message="tns:chkPhoneSoapIn"/>
         <wsdl:output message="tns:chkPhoneSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="tns:GetRemainingHitsSoapIn"/>
         <wsdl:output message="tns:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidPhoneMXSoap" type="tns:ValidPhoneMXSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="chkPhone">
         <soap:operation soapAction="http://www.ilion-strategies.com/chkPhone" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://ws.strikeiron.com/ilionStrategies/MXPhoneNumberValidation/ValidPhoneMX/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidPhoneMX">
      <wsdl:documentation>Phone Number Validation Service</wsdl:documentation>
      <wsdl:port name="ValidPhoneMXSoap" binding="tns:ValidPhoneMXSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/ValidPhoneMX"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>