wsdl_repositories/soatrader/Valida.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.crownodonto.com.br/webservices/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.crownodonto.com.br/webservices/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://ws.soatrader.com/"
                 elementFormDefault="qualified">
         <xs:element type="xs:string" name="SOATraderLicense"/>
         <xs:element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <xs:complexType name="SOATraderUsageStatistics">
            <xs:sequence>
               <xs:element type="xs:decimal" name="HitsMade"/>
               <xs:element type="xs:decimal" name="HitsLeft"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://www.crownodonto.com.br/webservices/">
         <s:element name="valida_cpf">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="valida_cpfResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="valida_cpfResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="valida_cnpj">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="cgc" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="valida_cnpjResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="valida_cnpjResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="string" nillable="true" type="s:string"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="valida_cpfSoapIn">
      <wsdl:part name="parameters" element="tns:valida_cpf"/>
  </wsdl:message>
  <wsdl:message name="valida_cpfSoapOut">
      <wsdl:part name="parameters" element="tns:valida_cpfResponse"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjSoapIn">
      <wsdl:part name="parameters" element="tns:valida_cnpj"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjSoapOut">
      <wsdl:part name="parameters" element="tns:valida_cnpjResponse"/>
  </wsdl:message>
  <wsdl:message name="valida_cpfHttpGetIn">
      <wsdl:part name="cpf" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cpfHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjHttpGetIn">
      <wsdl:part name="cgc" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cpfHttpPostIn">
      <wsdl:part name="cpf" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cpfHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjHttpPostIn">
      <wsdl:part name="cgc" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="valida_cnpjHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="ValidaSoap" type="tns:ValidaSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="valida_cpf">
         <soap:operation soapAction="http://www.crownodonto.com.br/webservices/valida_cpf"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="valida_cnpj">
         <soap:operation soapAction="http://www.crownodonto.com.br/webservices/valida_cnpj"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Valida">
      <wsdl:port name="ValidaSoap" binding="tns:ValidaSoap">
         <soap:address location="http://ws.soatrader.com/bronzebusiness.com.br/0.1/Valida"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>