wsdl_repositories/soatrader/WBIBookingServices.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="http://soap.rezidorsas.com/wbi/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://soap.rezidorsas.com/wbi/"
                  xmlns:intf="http://soap.rezidorsas.com/wbi/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://soap.rezidorsas.com/wbi/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://soap.rezidorsas.com/wbi/">
         <element name="HotelListRequest">
            <complexType>
               <sequence>
                  <element name="city" type="xsd:string"/>
                  <element name="locationcode" type="xsd:string"/>
                  <element name="country" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="brandcodes" type="xsd:string"/>
                  <element name="iatanumber" nillable="true" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="address">
            <sequence>
               <element name="addr1" nillable="true" type="xsd:string"/>
               <element name="addr2" nillable="true" type="xsd:string"/>
               <element name="addr3" nillable="true" type="xsd:string"/>
               <element name="city" nillable="true" type="xsd:string"/>
               <element name="country" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <complexType name="hotel">
            <sequence>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="sellingfeatures" nillable="true" type="xsd:string"/>
               <element name="distance" nillable="true">
                  <complexType>
                     <sequence/>
                     <attribute name="direction" type="xsd:string"/>
                     <attribute name="distance" type="xsd:string"/>
                     <attribute name="isMetric" type="xsd:string"/>
                     <attribute name="to" type="xsd:string"/>
                  </complexType>
               </element>
               <element name="features" nillable="true">
                  <complexType>
                     <sequence/>
                     <attribute name="beachlocation" type="xsd:string"/>
                     <attribute name="compshuttle" type="xsd:string"/>
                     <attribute name="coveredparking" type="xsd:string"/>
                     <attribute name="freebreakfast" type="xsd:string"/>
                     <attribute name="freebroadband" type="xsd:string"/>
                     <attribute name="highspeedinternet" type="xsd:string"/>
                     <attribute name="indoorpool" type="xsd:string"/>
                     <attribute name="onsitehealthclub" type="xsd:string"/>
                     <attribute name="petallowed" type="xsd:string"/>
                     <attribute name="poolavail" type="xsd:string"/>
                     <attribute name="roomservice" type="xsd:string"/>
                     <attribute name="suitesavailable" type="xsd:string"/>
                  </complexType>
               </element>
               <element name="address" type="impl:address"/>
               <element name="phone" nillable="true" type="xsd:string"/>
               <element name="category" nillable="true" type="xsd:string"/>
               <element name="infourl" nillable="true" type="xsd:string"/>
               <element name="mapurl" nillable="true" type="xsd:string"/>
               <element name="thumbnailurl" nillable="true" type="xsd:string"/>
            </sequence>
            <attribute name="brandcode" type="xsd:string"/>
            <attribute name="hotelcode" type="xsd:string"/>
         </complexType>
         <element name="HotelListResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="hotel" type="impl:hotel"/>
               </sequence>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getLowestAvailableRatesRequest">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="hotelcodes" type="xsd:string"/>
                  <element name="brandcodes" type="xsd:string"/>
                  <element name="city" type="xsd:string"/>
                  <element name="locationcode" type="xsd:string"/>
                  <element name="country" type="xsd:string"/>
                  <element name="promotioncode" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="RateBillinginfo">
            <sequence>
               <element name="taxincluded" nillable="true" type="xsd:boolean"/>
               <element name="taxpct" nillable="true" type="xsd:string"/>
               <element name="additionaltext" nillable="true" type="xsd:string"/>
               <element name="breakfastincluded" nillable="true" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <complexType name="price">
            <sequence/>
            <attribute name="amount" type="xsd:string"/>
            <attribute name="currency" type="xsd:string"/>
            <attribute name="enddatedate" type="xsd:string"/>
            <attribute name="isdayprice" type="xsd:boolean"/>
            <attribute name="isperiodtotal" type="xsd:boolean"/>
            <attribute name="startdate" type="xsd:string"/>
            <attribute name="taxamount" type="xsd:string"/>
            <attribute name="totalamount" type="xsd:string"/>
         </complexType>
         <complexType name="RatePeriodpricelist">
            <sequence>
               <element maxOccurs="unbounded" name="price" type="impl:price"/>
            </sequence>
         </complexType>
         <complexType name="RateDaypricelist">
            <sequence>
               <element maxOccurs="unbounded" name="price" type="impl:price"/>
            </sequence>
         </complexType>
         <complexType name="rate">
            <sequence>
               <element name="name" nillable="true" type="xsd:string"/>
               <element name="billinginfo" nillable="true" type="impl:RateBillinginfo"/>
               <element name="rateuni" nillable="true" type="xsd:string"/>
               <element name="discountedrateuni" nillable="true" type="xsd:string"/>
               <element name="features" nillable="true" type="xsd:string"/>
               <element name="totalprice" nillable="true">
                  <complexType>
                     <sequence>
                        <element name="price" type="impl:price"/>
                     </sequence>
                  </complexType>
               </element>
               <element name="periodpricelist" nillable="true" type="impl:RatePeriodpricelist"/>
               <element name="daypricelist" nillable="true" type="impl:RateDaypricelist"/>
            </sequence>
            <attribute name="currency" type="xsd:string"/>
            <attribute name="error" type="xsd:string"/>
            <attribute name="grt" type="xsd:string"/>
            <attribute name="hotelcode" type="xsd:string"/>
            <attribute name="prtflag" type="xsd:string"/>
            <attribute name="rateclosed" type="xsd:string"/>
            <attribute name="ratecode" type="xsd:string"/>
            <attribute name="ratetype" type="xsd:string"/>
         </complexType>
         <element name="getLowestAvailableRatesResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="rate" type="impl:rate"/>
               </sequence>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getHotelRatesRequest">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="hotelcode" type="xsd:string"/>
                  <element name="promotioncode" type="xsd:string"/>
                  <element name="showclosedrates" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getHotelRatesResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="rate" type="impl:rate"/>
               </sequence>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getHotelRatesRequest1">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="hotelcode" type="xsd:string"/>
                  <element name="promotioncode" type="xsd:string"/>
                  <element name="showclosedrates" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="getHotelRatesResponse">
            <sequence>
               <element maxOccurs="unbounded" name="rate" type="impl:rate"/>
            </sequence>
            <attribute name="rc" type="xsd:string"/>
            <attribute name="transactionid" type="xsd:string"/>
         </complexType>
         <element name="getHotelDayRatesResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="getHotelRatesResponse"
                           type="impl:getHotelRatesResponse"/>
               </sequence>
            </complexType>
         </element>
         <element name="getRateDetailsRequest">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="hotelcode" type="xsd:string"/>
                  <element name="promotioncode" type="xsd:string"/>
                  <element name="showclosedrates" type="xsd:string"/>
                  <element name="iatanumber" nillable="true" type="xsd:string"/>
                  <element name="companyid" nillable="true" type="xsd:string"/>
                  <element name="businesscode" nillable="true" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
                  <element name="rateuni" type="xsd:string"/>
                  <element name="discountedrateuni" nillable="true" type="xsd:string"/>
                  <element name="ratetype" nillable="true" type="xsd:string"/>
                  <element name="ratecode" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="RatedetailGuaranteepolicyDeposit">
            <sequence/>
            <attribute name="actualAmount" type="xsd:string"/>
            <attribute name="amtCode" type="xsd:string"/>
            <attribute name="dateDue" type="xsd:string"/>
            <attribute name="dueDays" type="xsd:string"/>
            <attribute name="duecode" type="xsd:string"/>
            <attribute name="nights" type="xsd:string"/>
         </complexType>
         <complexType name="ratedetail">
            <sequence>
               <element name="guaranteepolicy" nillable="true">
                  <complexType>
                     <sequence>
                        <element name="holdtime" type="xsd:string"/>
                        <element name="policyinformation" type="xsd:string"/>
                        <element maxOccurs="unbounded" name="method" nillable="true">
                           <complexType>
                              <sequence/>
                              <attribute name="code" type="xsd:string"/>
                              <attribute name="isCreditCard" type="xsd:string"/>
                              <attribute name="name" type="xsd:string"/>
                              <attribute name="requireExp" type="xsd:string"/>
                           </complexType>
                        </element>
                        <element maxOccurs="unbounded" name="deposit" nillable="true"
                                 type="impl:RatedetailGuaranteepolicyDeposit"/>
                        <element name="deposittext" nillable="true" type="xsd:string"/>
                     </sequence>
                  </complexType>
               </element>
               <element name="cancellationpolicy" nillable="true">
                  <complexType>
                     <sequence>
                        <element name="cxltext" type="xsd:string"/>
                        <element maxOccurs="unbounded" name="period" nillable="true">
                           <complexType>
                              <sequence/>
                              <attribute name="actualamount" type="xsd:string"/>
                              <attribute name="cxlcode" type="xsd:string"/>
                              <attribute name="cxldays" type="xsd:string"/>
                              <attribute name="nights" type="xsd:string"/>
                              <attribute name="periodDate" type="xsd:string"/>
                           </complexType>
                        </element>
                     </sequence>
                     <attribute name="cxlallowed" type="xsd:string"/>
                  </complexType>
               </element>
            </sequence>
            <attribute name="hotelcode" type="xsd:string"/>
         </complexType>
         <element name="getRateDetailsResponse">
            <complexType>
               <sequence>
                  <element name="ratedetail" type="impl:ratedetail"/>
               </sequence>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getRoomsForRateRequest">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="hotelcode" type="xsd:string"/>
                  <element name="showclosedrates" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
                  <element name="rateuni" type="xsd:string"/>
                  <element name="discountedrateuni" type="xsd:string"/>
                  <element name="ratetype" nillable="true" type="xsd:string"/>
                  <element name="ratecode" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="room">
            <sequence>
               <element name="bed" type="xsd:string"/>
               <element name="smoking" type="xsd:string"/>
               <element name="accessible" type="xsd:string"/>
            </sequence>
            <attribute name="grtcode" type="xsd:string"/>
            <attribute name="hotelcode" type="xsd:string"/>
            <attribute name="prtcode" type="xsd:string"/>
         </complexType>
         <element name="getRoomsForRateResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="room" type="impl:room"/>
               </sequence>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="makeReservationRequest">
            <complexType>
               <sequence>
                  <element name="hoteldesc" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="hotelcode" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
                  <element maxOccurs="unbounded" name="roombooking" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="reserveinfo" nillable="true">
                              <complexType>
                                 <sequence>
                                    <element name="nametitle" type="xsd:string"/>
                                    <element name="firstname" type="xsd:string"/>
                                    <element name="lastname" type="xsd:string"/>
                                    <element name="email" type="xsd:string"/>
                                    <element name="confirmemail" type="xsd:string"/>
                                    <element name="goldpoint" type="xsd:string"/>
                                    <element name="phone" nillable="true">
                                       <complexType>
                                          <sequence>
                                             <element name="countrycode" type="xsd:string"/>
                                             <element name="areacode" type="xsd:string"/>
                                             <element name="number" type="xsd:string"/>
                                          </sequence>
                                       </complexType>
                                    </element>
                                    <element name="comments" type="xsd:string"/>
                                    <element name="gtdcode" type="xsd:string"/>
                                    <element name="cctype" type="xsd:string"/>
                                    <element name="ccnumber" type="xsd:string"/>
                                    <element name="ccexpdate" type="xsd:string"/>
                                    <element name="iatanumber" type="xsd:string"/>
                                    <element name="companyid" type="xsd:string"/>
                                    <element name="businesscode" type="xsd:string"/>
                                    <element name="promotioncode" type="xsd:string"/>
                                    <element name="marketingoptin" type="xsd:string"/>
                                 </sequence>
                              </complexType>
                           </element>
                           <element name="roomdesc" nillable="true">
                              <complexType>
                                 <sequence>
                                    <element name="adults" type="xsd:string"/>
                                    <element name="children" type="xsd:string"/>
                                    <element name="arrivaldate" type="xsd:string"/>
                                    <element name="departuredate" type="xsd:string"/>
                                    <element name="rateuni" type="xsd:string"/>
                                    <element name="discountedrateuni" type="xsd:string"/>
                                    <element name="ratetype" nillable="true" type="xsd:string"/>
                                    <element name="ratecode" nillable="true" type="xsd:string"/>
                                    <element name="grtcode" type="xsd:string"/>
                                    <element name="prtcode" type="xsd:string"/>
                                 </sequence>
                              </complexType>
                           </element>
                        </sequence>
                        <attribute name="id" type="xsd:string"/>
                     </complexType>
                  </element>
               </sequence>
               <attribute name="language" type="xsd:string"/>
            </complexType>
         </element>
         <element name="makeReservationResponse">
            <complexType>
               <sequence>
                  <element name="reservationinfo" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="hotelname" type="xsd:string"/>
                           <element name="address" type="impl:address"/>
                           <element name="phone" nillable="true" type="xsd:string"/>
                           <element name="transactiondate" nillable="true" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
                  <element maxOccurs="unbounded" name="reservation" nillable="true">
                     <complexType>
                        <sequence>
                           <element maxOccurs="unbounded" name="rate" type="impl:rate"/>
                           <element name="cancelurl" nillable="true" type="xsd:string"/>
                        </sequence>
                        <attribute name="confno" type="xsd:string"/>
                        <attribute name="cxlNumber" type="xsd:string"/>
                        <attribute name="enddatedate" type="xsd:string"/>
                        <attribute name="id" type="xsd:string"/>
                        <attribute name="resno" type="xsd:string"/>
                        <attribute name="startdate" type="xsd:string"/>
                        <attribute name="type" type="xsd:string"/>
                        <attribute name="wbierrorcode" type="xsd:string"/>
                        <attribute name="wbierrormessage" type="xsd:string"/>
                     </complexType>
                  </element>
               </sequence>
               <attribute name="complete" type="xsd:string"/>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="rollbackConfirmed" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getOneStepBookingRequest">
            <complexType>
               <sequence>
                  <element name="adults" type="xsd:string"/>
                  <element name="children" type="xsd:string"/>
                  <element name="arrivaldate" type="xsd:string"/>
                  <element name="departuredate" type="xsd:string"/>
                  <element name="brandcodes" type="xsd:string"/>
                  <element name="city" type="xsd:string"/>
                  <element name="locationcode" type="xsd:string"/>
                  <element name="country" type="xsd:string"/>
                  <element name="promotioncode" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="companyid" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
                  <element name="language" type="xsd:string"/>
                  <element name="prefcurrency" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getOneStepBookingResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" name="onestepbooking" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="hotel" type="impl:hotel"/>
                           <element name="rate" type="impl:rate"/>
                           <element name="bookinglink" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
         <element name="cancelReservationRequest">
            <complexType>
               <sequence>
                  <element name="hotelcode" type="xsd:string"/>
                  <element name="resno" type="xsd:string"/>
                  <element name="confno" type="xsd:string"/>
                  <element name="iatanumber" type="xsd:string"/>
                  <element name="businesscode" type="xsd:string"/>
               </sequence>
               <attribute name="language" type="xsd:string"/>
            </complexType>
         </element>
         <element name="cancelReservationResponse">
            <complexType>
               <sequence>
                  <element name="cxlnumber" nillable="true" type="xsd:string"/>
                  <element name="errorcode" nillable="true" type="xsd:string"/>
               </sequence>
               <attribute name="complete" type="xsd:string"/>
               <attribute name="rc" type="xsd:string"/>
               <attribute name="success" type="xsd:string"/>
               <attribute name="transactionid" type="xsd:string"/>
            </complexType>
         </element>
         <element name="getLocationCodeListRequest">
            <complexType>
               <sequence>
                  <element name="language" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getLocationCodeListResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="location" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="locationcode" type="xsd:string"/>
                           <element name="cityname" type="xsd:string"/>
                           <element name="countrycode" type="xsd:string"/>
                           <element name="countryname" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
         <element name="getCountryListRequest">
            <complexType>
               <sequence>
                  <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCountryListResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="country" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="countryname" nillable="true" type="xsd:string"/>
                           <element name="countrycode" nillable="true" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
         <element name="getCityListRequest">
            <complexType>
               <sequence>
                  <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
                  <element maxOccurs="1" minOccurs="0" name="cityid" type="xsd:string"/>
                  <element maxOccurs="1" minOccurs="0" name="countrycode" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         <element name="getCityListResponse">
            <complexType>
               <sequence>
                  <element maxOccurs="unbounded" minOccurs="0" name="city" nillable="true">
                     <complexType>
                        <sequence>
                           <element name="cityname" type="xsd:string"/>
                           <element name="cityvalue" type="xsd:string"/>
                        </sequence>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </schema>
   </wsdl:types>

   <wsdl:message name="getCountryListResponse">

      <wsdl:part element="impl:getCountryListResponse" name="getCountryListResponse"/>

   </wsdl:message>

   <wsdl:message name="getOneStepBookingRequest">

      <wsdl:part element="impl:getOneStepBookingRequest" name="getOneStepBookingRequest"/>

   </wsdl:message>

   <wsdl:message name="getDayByDayHotelRatesRequest">

      <wsdl:part element="impl:getHotelRatesRequest1" name="getHotelRatesRequest"/>

   </wsdl:message>

   <wsdl:message name="getDayByDayHotelRatesResponse">

      <wsdl:part element="impl:getHotelDayRatesResponse" name="getHotelDayRatesResponse"/>

   </wsdl:message>

   <wsdl:message name="cancelReservationRequest">

      <wsdl:part element="impl:cancelReservationRequest" name="cancelReservationRequest"/>

   </wsdl:message>

   <wsdl:message name="getLocationCodeListRequest">

      <wsdl:part element="impl:getLocationCodeListRequest" name="getLocationCodeListRequest"/>

   </wsdl:message>

   <wsdl:message name="getLocationCodeListResponse">

      <wsdl:part element="impl:getLocationCodeListResponse" name="getLocationCodeListResponse"/>

   </wsdl:message>

   <wsdl:message name="getCityListResponse">

      <wsdl:part element="impl:getCityListResponse" name="getCityListResponse"/>

   </wsdl:message>

   <wsdl:message name="getCountryListRequest">

      <wsdl:part element="impl:getCountryListRequest" name="getCountryListRequest"/>

   </wsdl:message>

   <wsdl:message name="getRateDetailsResponse">

      <wsdl:part element="impl:getRateDetailsResponse" name="getRateDetailsResponse"/>

   </wsdl:message>

   <wsdl:message name="getHotelListResponse">

      <wsdl:part element="impl:HotelListResponse" name="HotelListResponse"/>

   </wsdl:message>

   <wsdl:message name="makeReservationRequest">

      <wsdl:part element="impl:makeReservationRequest" name="makeReservationRequest"/>

   </wsdl:message>

   <wsdl:message name="makeReservationResponse">

      <wsdl:part element="impl:makeReservationResponse" name="makeReservationResponse"/>

   </wsdl:message>

   <wsdl:message name="getLowestAvailableRatesRequest">

      <wsdl:part element="impl:getLowestAvailableRatesRequest"
                 name="getLowestAvailableRatesRequest"/>

   </wsdl:message>

   <wsdl:message name="getHotelRatesResponse">

      <wsdl:part element="impl:getHotelRatesResponse" name="getHotelRatesResponse"/>

   </wsdl:message>

   <wsdl:message name="getHotelListRequest">

      <wsdl:part element="impl:HotelListRequest" name="HotelListRequest"/>

   </wsdl:message>

   <wsdl:message name="getRateDetailsRequest">

      <wsdl:part element="impl:getRateDetailsRequest" name="getRateDetailsRequest"/>

   </wsdl:message>

   <wsdl:message name="getRoomsForRateRequest">

      <wsdl:part element="impl:getRoomsForRateRequest" name="getRoomsForRateRequest"/>

   </wsdl:message>

   <wsdl:message name="getRoomsForRateResponse">

      <wsdl:part element="impl:getRoomsForRateResponse" name="getRoomsForRateResponse"/>

   </wsdl:message>

   <wsdl:message name="cancelReservationResponse">

      <wsdl:part element="impl:cancelReservationResponse" name="cancelReservationResponse"/>

   </wsdl:message>

   <wsdl:message name="getLowestAvailableRatesResponse">

      <wsdl:part element="impl:getLowestAvailableRatesResponse"
                 name="getLowestAvailableRatesResponse"/>

   </wsdl:message>

   <wsdl:message name="getHotelRatesRequest">

      <wsdl:part element="impl:getHotelRatesRequest" name="getHotelRatesRequest"/>

   </wsdl:message>

   <wsdl:message name="getOneStepBookingResponse">

      <wsdl:part element="impl:getOneStepBookingResponse" name="getOneStepBookingResponse"/>

   </wsdl:message>

   <wsdl:message name="getCityListRequest">

      <wsdl:part element="impl:getCityListRequest" name="getCityListRequest"/>

   </wsdl:message>

   <wsdl:portType name="WBIBookingServices">

      <wsdl:operation name="getHotelList" parameterOrder="HotelListRequest">

         <wsdl:input message="impl:getHotelListRequest" name="getHotelListRequest"/>

         <wsdl:output message="impl:getHotelListResponse" name="getHotelListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLowestAvailableRates" parameterOrder="getLowestAvailableRatesRequest">

         <wsdl:input message="impl:getLowestAvailableRatesRequest"
                     name="getLowestAvailableRatesRequest"/>

         <wsdl:output message="impl:getLowestAvailableRatesResponse"
                      name="getLowestAvailableRatesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHotelRates" parameterOrder="getHotelRatesRequest">

         <wsdl:input message="impl:getHotelRatesRequest" name="getHotelRatesRequest"/>

         <wsdl:output message="impl:getHotelRatesResponse" name="getHotelRatesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDayByDayHotelRates" parameterOrder="getHotelRatesRequest">

         <wsdl:input message="impl:getDayByDayHotelRatesRequest" name="getDayByDayHotelRatesRequest"/>

         <wsdl:output message="impl:getDayByDayHotelRatesResponse"
                      name="getDayByDayHotelRatesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRateDetails" parameterOrder="getRateDetailsRequest">

         <wsdl:input message="impl:getRateDetailsRequest" name="getRateDetailsRequest"/>

         <wsdl:output message="impl:getRateDetailsResponse" name="getRateDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRoomsForRate" parameterOrder="getRoomsForRateRequest">

         <wsdl:input message="impl:getRoomsForRateRequest" name="getRoomsForRateRequest"/>

         <wsdl:output message="impl:getRoomsForRateResponse" name="getRoomsForRateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="makeReservation" parameterOrder="makeReservationRequest">

         <wsdl:input message="impl:makeReservationRequest" name="makeReservationRequest"/>

         <wsdl:output message="impl:makeReservationResponse" name="makeReservationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOneStepBooking" parameterOrder="getOneStepBookingRequest">

         <wsdl:input message="impl:getOneStepBookingRequest" name="getOneStepBookingRequest"/>

         <wsdl:output message="impl:getOneStepBookingResponse" name="getOneStepBookingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cancelReservation" parameterOrder="cancelReservationRequest">

         <wsdl:input message="impl:cancelReservationRequest" name="cancelReservationRequest"/>

         <wsdl:output message="impl:cancelReservationResponse" name="cancelReservationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLocationCodeList" parameterOrder="getLocationCodeListRequest">

         <wsdl:input message="impl:getLocationCodeListRequest" name="getLocationCodeListRequest"/>

         <wsdl:output message="impl:getLocationCodeListResponse" name="getLocationCodeListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCountryList" parameterOrder="getCountryListRequest">

         <wsdl:input message="impl:getCountryListRequest" name="getCountryListRequest"/>

         <wsdl:output message="impl:getCountryListResponse" name="getCountryListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCityList" parameterOrder="getCityListRequest">

         <wsdl:input message="impl:getCityListRequest" name="getCityListRequest"/>

         <wsdl:output message="impl:getCityListResponse" name="getCityListResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WBIBookingServicesSOAPSoapBinding" type="impl:WBIBookingServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getHotelList">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getHotelList"/>

         <wsdl:input name="getHotelListRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHotelListResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLowestAvailableRates">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getLowestAvailableRates"/>

         <wsdl:input name="getLowestAvailableRatesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLowestAvailableRatesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHotelRates">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getHotelRates"/>

         <wsdl:input name="getHotelRatesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHotelRatesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDayByDayHotelRates">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getDayByDayHotelRates"/>

         <wsdl:input name="getDayByDayHotelRatesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDayByDayHotelRatesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRateDetails">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getRateDetails"/>

         <wsdl:input name="getRateDetailsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRateDetailsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRoomsForRate">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getRoomsForRate"/>

         <wsdl:input name="getRoomsForRateRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRoomsForRateResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="makeReservation">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/makeReservation"/>

         <wsdl:input name="makeReservationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="makeReservationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOneStepBooking">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getOneStepBooking"/>

         <wsdl:input name="getOneStepBookingRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOneStepBookingResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelReservation">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/cancelReservation"/>

         <wsdl:input name="cancelReservationRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelReservationResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLocationCodeList">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getLocationCodeList"/>

         <wsdl:input name="getLocationCodeListRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLocationCodeListResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCountryList">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getCountryList"/>

         <wsdl:input name="getCountryListRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountryListResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCityList">

         <wsdlsoap:operation soapAction="http://soap.rezidorsas.com/wbi/getCityList"/>

         <wsdl:input name="getCityListRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCityListResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WBIBookingServices">

      <wsdl:port binding="impl:WBIBookingServicesSOAPSoapBinding" name="WBIBookingServicesSOAP">

         <wsdlsoap:address location="http://ws.soatrader.com/rezidorsas.com/0.1/WBIBookingServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>