wsdl_repositories/soatrader/WeatherService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://harbormist.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://harbormist.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>A web service which reports weather information off the world wide web for a given (local) location. Scrapes site http://xoap.weather.com/ to answer user queries.  [Programmers: Michael Coopersmith, Yosef Weiner.]</wsdl:documentation>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://harbormist.com/">
         <s:element name="GetCityStateZipCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetCityStateZipCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetCityStateZipCodeResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherStatsCityState">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetWeatherStatsCityStateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetWeatherStatsCityStateResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="string" nillable="true" type="s:string"/>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCityStateZipCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetCityStateZipCode"/>
  </wsdl:message>
  <wsdl:message name="GetCityStateZipCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetCityStateZipCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateSoapIn">
      <wsdl:part name="parameters" element="tns:GetWeatherStatsCityState"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateSoapOut">
      <wsdl:part name="parameters" element="tns:GetWeatherStatsCityStateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCityStateZipCodeHttpGetIn">
      <wsdl:part name="zipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCityStateZipCodeHttpGetOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateHttpGetIn">
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetCityStateZipCodeHttpPostIn">
      <wsdl:part name="zipCode" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCityStateZipCodeHttpPostOut">
      <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateHttpPostIn">
      <wsdl:part name="city" type="s:string"/>
      <wsdl:part name="state" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherStatsCityStateHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetCityStateZipCode">
         <soap:operation soapAction="http://harbormist.com/GetCityStateZipCode" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetWeatherStatsCityState">
         <soap:operation soapAction="http://harbormist.com/GetWeatherStatsCityState" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="WeatherService">
      <wsdl:documentation>A web service which reports weather information off the world wide web for a given (local) location. Scrapes site http://xoap.weather.com/ to answer user queries.  [Programmers: Michael Coopersmith, Yosef Weiner.]</wsdl:documentation>
      <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
         <soap:address location="http://ws.soatrader.com/harbormist.com/0.1/WeatherService"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>