wsdl_repositories/soatrader/Webhotelsearch.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://webservice.e1000e.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://webservice.e1000e.com/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.e1000e.com/">
         <s:element name="SearchHotelInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:Searchkeywords"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Searchkeywords">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="USERID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USERPASSWORD" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="CITY" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SEARCHTYPE" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="DISTINCT" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ENTERDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LEAVEDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PRICERANGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STARLEVEL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SETPAGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GETPAGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SearchHotelInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchHotelInfoResult"
                             type="tns:Searchresult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Searchresult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PAGEINDEX" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PAGETOTAL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RECORDSTOTAL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DATARESULT">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="GetHotelvar">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Hotelid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHotelvarResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetHotelvarResult" type="tns:ToHotelinfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ToHotelinfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STARLEVEL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DISTINCT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ADDRESS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ABOUT" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_fx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:Hotel_fx_var"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Hotel_fx_var">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="USERID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USERPASSWORD" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ENTERDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PRICERANGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_fxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Hotel_fxResult" type="tns:Hotel_Fx_Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Hotel_Fx_Result">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DATARESULT">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_Reserve_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:HotelReserveIn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="HotelReserveIn">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="hybh" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="yzrq" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ylrq" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="fxid" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="fjs" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="rzrxm" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="rzrmobile" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="bz" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_Reserve_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Hotel_Reserve_AddResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ToHotelinfo" type="tns:ToHotelinfo"/>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.e1000e.com/">
         <s:element name="SearchHotelInfo">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:Searchkeywords"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Searchkeywords">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="USERID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USERPASSWORD" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="CITY" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="SEARCHTYPE" type="s:int"/>
               <s:element minOccurs="1" maxOccurs="1" name="DISTINCT" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ENTERDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LEAVEDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PRICERANGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STARLEVEL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="SETPAGE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GETPAGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="SearchHotelInfoResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="SearchHotelInfoResult"
                             type="tns:Searchresult"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Searchresult">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PAGEINDEX" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PAGETOTAL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RECORDSTOTAL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DATARESULT">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="GetHotelvar">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Hotelid" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetHotelvarResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="GetHotelvarResult" type="tns:ToHotelinfo"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ToHotelinfo">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELNAME" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="STARLEVEL" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DISTINCT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ADDRESS" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ABOUT" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_fx">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:Hotel_fx_var"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Hotel_fx_var">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="USERID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="USERPASSWORD" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="HOTELID" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ENTERDATE" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="PRICERANGE" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_fxResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Hotel_fxResult" type="tns:Hotel_Fx_Result"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="Hotel_Fx_Result">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="RESULT" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DATARESULT">
                  <s:complexType>
                     <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                     </s:sequence>
                  </s:complexType>
               </s:element>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_Reserve_Add">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="REQUEST" type="tns:HotelReserveIn"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="HotelReserveIn">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="hybh" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="yzrq" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ylrq" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="fxid" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="fjs" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="rzrxm" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="rzrmobile" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="bz" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="Hotel_Reserve_AddResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Hotel_Reserve_AddResult" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ToHotelinfo" type="tns:ToHotelinfo"/>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchHotelInfoSoapIn">
      <wsdl:part name="parameters" element="tns:SearchHotelInfo"/>
  </wsdl:message>
  <wsdl:message name="SearchHotelInfoSoapOut">
      <wsdl:part name="parameters" element="tns:SearchHotelInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarSoapIn">
      <wsdl:part name="parameters" element="tns:GetHotelvar"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarSoapOut">
      <wsdl:part name="parameters" element="tns:GetHotelvarResponse"/>
  </wsdl:message>
  <wsdl:message name="Hotel_fxSoapIn">
      <wsdl:part name="parameters" element="tns:Hotel_fx"/>
  </wsdl:message>
  <wsdl:message name="Hotel_fxSoapOut">
      <wsdl:part name="parameters" element="tns:Hotel_fxResponse"/>
  </wsdl:message>
  <wsdl:message name="Hotel_Reserve_AddSoapIn">
      <wsdl:part name="parameters" element="tns:Hotel_Reserve_Add"/>
  </wsdl:message>
  <wsdl:message name="Hotel_Reserve_AddSoapOut">
      <wsdl:part name="parameters" element="tns:Hotel_Reserve_AddResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarHttpGetIn">
      <wsdl:part name="Hotelid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarHttpGetOut">
      <wsdl:part name="Body" element="tns:ToHotelinfo"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarHttpPostIn">
      <wsdl:part name="Hotelid" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetHotelvarHttpPostOut">
      <wsdl:part name="Body" element="tns:ToHotelinfo"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="WebhotelsearchSoap" type="tns:WebhotelsearchSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SearchHotelInfo">
         <soap:operation soapAction="http://webservice.e1000e.com/SearchHotelInfo" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetHotelvar">
         <soap:operation soapAction="http://webservice.e1000e.com/GetHotelvar" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Hotel_fx">
         <soap:operation soapAction="http://webservice.e1000e.com/Hotel_fx" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Hotel_Reserve_Add">
         <soap:operation soapAction="http://webservice.e1000e.com/Hotel_Reserve_Add" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="Webhotelsearch">
      <wsdl:port name="WebhotelsearchSoap" binding="tns:WebhotelsearchSoap">
         <soap:address location="http://ws.soatrader.com/e1000e.com/0.1/Webhotelsearch"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>