wsdl_repositories/soatrader/Weblog.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="CultuurNet"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="CultuurNet">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified" targetNamespace="CultuurNet">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="getWebLogs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="languageId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWebLogsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getWebLogsResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="results">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authentication" type="tns:Authentication"/>
         <s:complexType name="Authentication">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="publicKeys" type="tns:ArrayOfKey"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transformation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfKey">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Key">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="getWebLog">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWebLogResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getWebLogResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="results">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addWebLogPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addWebLogPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="addWebLogPostResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="changeWebLogTemplate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="template" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="changeWebLogTemplateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="changeWebLogTemplateResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
      <s:schema elementFormDefault="qualified" targetNamespace="CultuurNet">
         <s:import namespace="http://www.w3.org/2001/XMLSchema"/>
         <s:element name="getWebLogs">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="languageId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWebLogsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getWebLogsResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="results">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="Authentication" type="tns:Authentication"/>
         <s:complexType name="Authentication">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="publicKeys" type="tns:ArrayOfKey"/>
               <s:element minOccurs="0" maxOccurs="1" name="Transformation" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfKey">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Key">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="partnerId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="getWebLog">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="getWebLogResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="getWebLogResult" type="s:int"/>
                  <s:element minOccurs="0" maxOccurs="1" name="results">
                     <s:complexType>
                        <s:sequence>
                           <s:element ref="s:schema"/>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addWebLogPost">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="imageTitle" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="addWebLogPostResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="addWebLogPostResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="changeWebLogTemplate">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="webLogId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="template" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="changeWebLogTemplateResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="changeWebLogTemplateResult" type="s:int"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="getWebLogsSoapIn">
      <wsdl:part name="parameters" element="tns:getWebLogs"/>
  </wsdl:message>
  <wsdl:message name="getWebLogsSoapOut">
      <wsdl:part name="parameters" element="tns:getWebLogsResponse"/>
  </wsdl:message>
  <wsdl:message name="getWebLogsAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="getWebLogSoapIn">
      <wsdl:part name="parameters" element="tns:getWebLog"/>
  </wsdl:message>
  <wsdl:message name="getWebLogSoapOut">
      <wsdl:part name="parameters" element="tns:getWebLogResponse"/>
  </wsdl:message>
  <wsdl:message name="getWebLogAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="addWebLogPostSoapIn">
      <wsdl:part name="parameters" element="tns:addWebLogPost"/>
  </wsdl:message>
  <wsdl:message name="addWebLogPostSoapOut">
      <wsdl:part name="parameters" element="tns:addWebLogPostResponse"/>
  </wsdl:message>
  <wsdl:message name="addWebLogPostAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:message name="changeWebLogTemplateSoapIn">
      <wsdl:part name="parameters" element="tns:changeWebLogTemplate"/>
  </wsdl:message>
  <wsdl:message name="changeWebLogTemplateSoapOut">
      <wsdl:part name="parameters" element="tns:changeWebLogTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="changeWebLogTemplateAuthentication">
      <wsdl:part name="Authentication" element="tns:Authentication"/>
  </wsdl:message>
  <wsdl:portType name="WeblogSoap">
      <wsdl:operation name="getWebLogs">
         <wsdl:input message="tns:getWebLogsSoapIn"/>
         <wsdl:output message="tns:getWebLogsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="getWebLog">
         <wsdl:input message="tns:getWebLogSoapIn"/>
         <wsdl:output message="tns:getWebLogSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="addWebLogPost">
         <wsdl:input message="tns:addWebLogPostSoapIn"/>
         <wsdl:output message="tns:addWebLogPostSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="changeWebLogTemplate">
         <wsdl:input message="tns:changeWebLogTemplateSoapIn"/>
         <wsdl:output message="tns:changeWebLogTemplateSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeblogSoap" type="tns:WeblogSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getWebLogs">
         <soap:operation soapAction="CultuurNet/getWebLogs" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:getWebLogsAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getWebLog">
         <soap:operation soapAction="CultuurNet/getWebLog" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:getWebLogAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addWebLogPost">
         <soap:operation soapAction="CultuurNet/addWebLogPost" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:addWebLogPostAuthentication" part="Authentication" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="changeWebLogTemplate">
         <soap:operation soapAction="CultuurNet/changeWebLogTemplate" style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:changeWebLogTemplateAuthentication" part="Authentication"
                         use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weblog">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
      <wsdl:port name="WeblogSoap" binding="tns:WeblogSoap">
         <soap:address location="http://ws.soatrader.com/cultuurweb.be/0.1/Weblog"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>