wsdl_repositories/soatrader/WebService_SVC_CampaignService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soat="http://ws.soatrader.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://mwilson-dev/adk/"
             xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             targetNamespace="http://mwilson-dev/adk/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <xsd:schema>
         <xsd:complexType name="array">
            <xsd:complexContent>
               <xsd:restriction base="soapenc:array">
                  <xsd:attribute ref="soapenc:arrayType" arrayType="tns:mixed[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <complexType name="mixed">
            <all>
               <element name="varString" type="xsd:string"/>
               <element name="varInt" type="xsd:int"/>
               <element name="varFloat" type="xsd:float"/>
               <element name="varBool" type="xsd:bool"/>
               <element name="varArray" type="tns:array"/>
            </all>
         </complexType>
         <complexType name="CampaignStatistics">
            <all/>
         </complexType>
         <complexType name="ChannelInfo">
            <all/>
         </complexType>
      </xsd:schema>
      <xsd:schema>
         <xsd:complexType name="array">
            <xsd:complexContent>
               <xsd:restriction base="soapenc:array">
                  <xsd:attribute ref="soapenc:arrayType" arrayType="tns:mixed[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
         <complexType name="mixed">
            <all>
               <element name="varString" type="xsd:string"/>
               <element name="varInt" type="xsd:int"/>
               <element name="varFloat" type="xsd:float"/>
               <element name="varBool" type="xsd:bool"/>
               <element name="varArray" type="tns:array"/>
            </all>
         </complexType>
         <complexType name="CampaignStatistics">
            <all/>
         </complexType>
         <complexType name="ChannelInfo">
            <all/>
         </complexType>
      </xsd:schema>
   </types>
   <message name="GetInput">
      <part name="test" type="xsd:string"/>
   </message>
   <message name="getLogsInput"/>
   <message name="addListingInput"/>
   <message name="addListingCategoryInput"/>
   <message name="addCreativeInput"/>
   <message name="getCategoryHoldStatusInput"/>
   <message name="getCampaignStatisticsInput"/>
   <message name="getCampaignIdInConversionInput"/>
   <message name="getCampaignChannelInput"/>
   <message name="getClicksByDateInput"/>
   <message name="getConversionsByDateInput"/>
   <message name="getListingClicksByDateInput"/>
   <message name="searchCampaignsInput"/>
   <message name="AuthTokenInput">
      <part name="API_KEY" type="xsd:string"/>
      <part name="PW" type="xsd:string"/>
   </message>
   <message name="__constructInput"/>
   <message name="ValidateInput"/>
   <message name="CallInput"/>
   <message name="ReplyInput"/>
   <message name="LogInput"/>
   <message name="_ActionInput"/>
   <message name="LogReturnInput"/>
   <message name="__getInput"/>
   <message name="__issetInput"/>
   <message name="GetOutput">
      <part name="return" type="tns:array"/>
   </message>
   <message name="getLogsOutput">
      <part name="return" type="tns:array"/>
   </message>
   <message name="addListingOutput">
      <part name="return" type="xsd:int"/>
   </message>
   <message name="addListingCategoryOutput">
      <part name="return" type="xsd:int"/>
   </message>
   <message name="addCreativeOutput">
      <part name="return" type="xsd:int"/>
   </message>
   <message name="getCategoryHoldStatusOutput">
      <part name="return" type="xsd:bool"/>
   </message>
   <message name="getCampaignStatisticsOutput">
      <part name="return" type="tns:CampaignStatistics"/>
   </message>
   <message name="getCampaignIdInConversionOutput"/>
   <message name="getCampaignChannelOutput">
      <part name="return" type="tns:ChannelInfo"/>
   </message>
   <message name="getClicksByDateOutput"/>
   <message name="getConversionsByDateOutput"/>
   <message name="getListingClicksByDateOutput"/>
   <message name="searchCampaignsOutput"/>
   <message name="AuthTokenOutput"/>
   <message name="__constructOutput"/>
   <message name="ValidateOutput"/>
   <message name="CallOutput">
      <part name="return" type="tns:mixed"/>
   </message>
   <message name="ReplyOutput">
      <part name="return" type="xsd:string"/>
   </message>
   <message name="LogOutput">
      <part name="return" type="xsd:bool"/>
   </message>
   <message name="_ActionOutput"/>
   <message name="LogReturnOutput">
      <part name="return" type="xsd:bool"/>
   </message>
   <message name="__getOutput"/>
   <message name="__issetOutput"/>
   <portType name="WebService_SVC_CampaignPortType">
      <operation name="Get">
         <input message="tns:GetInput"/>
         <output message="tns:GetOutput"/>
      </operation>
      <operation name="getLogs">
         <input message="tns:getLogsInput"/>
         <output message="tns:getLogsOutput"/>
      </operation>
      <operation name="addListing">
         <input message="tns:addListingInput"/>
         <output message="tns:addListingOutput"/>
      </operation>
      <operation name="addListingCategory">
         <input message="tns:addListingCategoryInput"/>
         <output message="tns:addListingCategoryOutput"/>
      </operation>
      <operation name="addCreative">
         <input message="tns:addCreativeInput"/>
         <output message="tns:addCreativeOutput"/>
      </operation>
      <operation name="getCategoryHoldStatus">
         <input message="tns:getCategoryHoldStatusInput"/>
         <output message="tns:getCategoryHoldStatusOutput"/>
      </operation>
      <operation name="getCampaignStatistics">
         <input message="tns:getCampaignStatisticsInput"/>
         <output message="tns:getCampaignStatisticsOutput"/>
      </operation>
      <operation name="getCampaignIdInConversion">
         <input message="tns:getCampaignIdInConversionInput"/>
         <output message="tns:getCampaignIdInConversionOutput"/>
      </operation>
      <operation name="getCampaignChannel">
         <input message="tns:getCampaignChannelInput"/>
         <output message="tns:getCampaignChannelOutput"/>
      </operation>
      <operation name="getClicksByDate">
         <input message="tns:getClicksByDateInput"/>
         <output message="tns:getClicksByDateOutput"/>
      </operation>
      <operation name="getConversionsByDate">
         <input message="tns:getConversionsByDateInput"/>
         <output message="tns:getConversionsByDateOutput"/>
      </operation>
      <operation name="getListingClicksByDate">
         <input message="tns:getListingClicksByDateInput"/>
         <output message="tns:getListingClicksByDateOutput"/>
      </operation>
      <operation name="searchCampaigns">
         <input message="tns:searchCampaignsInput"/>
         <output message="tns:searchCampaignsOutput"/>
      </operation>
      <operation name="AuthToken">
         <input message="tns:AuthTokenInput"/>
         <output message="tns:AuthTokenOutput"/>
      </operation>
      <operation name="__construct">
         <input message="tns:__constructInput"/>
         <output message="tns:__constructOutput"/>
      </operation>
      <operation name="Validate">
         <input message="tns:ValidateInput"/>
         <output message="tns:ValidateOutput"/>
      </operation>
      <operation name="Call">
         <input message="tns:CallInput"/>
         <output message="tns:CallOutput"/>
      </operation>
      <operation name="Reply">
         <input message="tns:ReplyInput"/>
         <output message="tns:ReplyOutput"/>
      </operation>
      <operation name="Log">
         <input message="tns:LogInput"/>
         <output message="tns:LogOutput"/>
      </operation>
      <operation name="_Action">
         <input message="tns:_ActionInput"/>
         <output message="tns:_ActionOutput"/>
      </operation>
      <operation name="LogReturn">
         <input message="tns:LogReturnInput"/>
         <output message="tns:LogReturnOutput"/>
      </operation>
      <operation name="__get">
         <input message="tns:__getInput"/>
         <output message="tns:__getOutput"/>
      </operation>
      <operation name="__isset">
         <input message="tns:__issetInput"/>
         <output message="tns:__issetOutput"/>
      </operation>
   </portType>
   <binding name="WebService_SVC_CampaignBinding"
            type="tns:WebService_SVC_CampaignPortType">
      <soap-env:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Get">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getLogs">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="addListing">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="addListingCategory">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="addCreative">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCategoryHoldStatus">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCampaignStatistics">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCampaignIdInConversion">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getCampaignChannel">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getClicksByDate">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getConversionsByDate">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="getListingClicksByDate">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="searchCampaigns">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="AuthToken">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="__construct">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Validate">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Call">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Reply">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="Log">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="_Action">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="LogReturn">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="__get">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="__isset">
         <input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap-env:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="WebService_SVC_CampaignService">
      <port name="WebService_SVC_CampaignPort" binding="tns:WebService_SVC_CampaignBinding">
         <soap-env:address location="http://ws.soatrader.com/synful.us/0.1/WebService_SVC_CampaignService"/>
      </port>
   </service>
</definitions>