wsdl_repositories/soatrader/WolframSearch2Service.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/"
                  xmlns:tns="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                  xmlns:intf="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://webservices.webtools.wolfram.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://webservices.webtools.wolfram.com">
         <element name="WolframSearch" type="xsd:anyType"/>
         <element name="GetModes" type="xsd:anyType"/>
         <element name="GetCollections" type="xsd:anyType"/>
         <element name="GetLanguages" type="xsd:anyType"/>
         <element name="GetMatchLocations" type="xsd:anyType"/>
         <element name="GetReturnTypes" type="xsd:anyType"/>
         <element name="WolframQuickSearch" type="xsd:anyType"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://webservices.webtools.wolfram.com">
         <element name="WolframSearch" type="xsd:anyType"/>
         <element name="GetModes" type="xsd:anyType"/>
         <element name="GetCollections" type="xsd:anyType"/>
         <element name="GetLanguages" type="xsd:anyType"/>
         <element name="GetMatchLocations" type="xsd:anyType"/>
         <element name="GetReturnTypes" type="xsd:anyType"/>
         <element name="WolframQuickSearch" type="xsd:anyType"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2">
         <element name="WolframSearchReturn" type="xsd:anyType"/>
         <element name="GetModesReturn" type="xsd:anyType"/>
         <element name="GetCollectionsReturn" type="xsd:anyType"/>
         <element name="GetLanguagesReturn" type="xsd:anyType"/>
         <element name="GetMatchLocationsReturn" type="xsd:anyType"/>
         <element name="GetReturnTypesReturn" type="xsd:anyType"/>
         <element name="WolframQuickSearchReturn" type="xsd:anyType"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2">
         <element name="WolframSearchReturn" type="xsd:anyType"/>
         <element name="GetModesReturn" type="xsd:anyType"/>
         <element name="GetCollectionsReturn" type="xsd:anyType"/>
         <element name="GetLanguagesReturn" type="xsd:anyType"/>
         <element name="GetMatchLocationsReturn" type="xsd:anyType"/>
         <element name="GetReturnTypesReturn" type="xsd:anyType"/>
         <element name="WolframQuickSearchReturn" type="xsd:anyType"/>
      </schema>
   </wsdl:types>
  <wsdl:message name="WolframQuickSearchRequest">
      <wsdl:part element="tns1:WolframQuickSearch" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetLanguagesResponse">
      <wsdl:part element="impl:GetLanguagesReturn" name="GetLanguagesReturn"/>
  </wsdl:message>
  <wsdl:message name="GetCollectionsResponse">
      <wsdl:part element="impl:GetCollectionsReturn" name="GetCollectionsReturn"/>
  </wsdl:message>
  <wsdl:message name="GetReturnTypesResponse">
      <wsdl:part element="impl:GetReturnTypesReturn" name="GetReturnTypesReturn"/>
  </wsdl:message>
  <wsdl:message name="WolframQuickSearchResponse">
      <wsdl:part element="impl:WolframQuickSearchReturn" name="WolframQuickSearchReturn"/>
  </wsdl:message>
  <wsdl:message name="GetMatchLocationsRequest">
      <wsdl:part element="tns1:GetMatchLocations" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetMatchLocationsResponse">
      <wsdl:part element="impl:GetMatchLocationsReturn" name="GetMatchLocationsReturn"/>
  </wsdl:message>
  <wsdl:message name="GetLanguagesRequest">
      <wsdl:part element="tns1:GetLanguages" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetCollectionsRequest">
      <wsdl:part element="tns1:GetCollections" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetReturnTypesRequest">
      <wsdl:part element="tns1:GetReturnTypes" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetModesResponse">
      <wsdl:part element="impl:GetModesReturn" name="GetModesReturn"/>
  </wsdl:message>
  <wsdl:message name="WolframSearchRequest">
      <wsdl:part element="tns1:WolframSearch" name="part"/>
  </wsdl:message>
  <wsdl:message name="GetModesRequest">
      <wsdl:part element="tns1:GetModes" name="part"/>
  </wsdl:message>
  <wsdl:message name="WolframSearchResponse">
      <wsdl:part element="impl:WolframSearchReturn" name="WolframSearchReturn"/>
  </wsdl:message>
  <wsdl:portType name="WolframSearch2">
      <wsdl:operation name="WolframSearch">
         <wsdl:input message="impl:WolframSearchRequest" name="WolframSearchRequest"/>
         <wsdl:output message="impl:WolframSearchResponse" name="WolframSearchResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetModes">
         <wsdl:input message="impl:GetModesRequest" name="GetModesRequest"/>
         <wsdl:output message="impl:GetModesResponse" name="GetModesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetCollections">
         <wsdl:input message="impl:GetCollectionsRequest" name="GetCollectionsRequest"/>
         <wsdl:output message="impl:GetCollectionsResponse" name="GetCollectionsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetLanguages">
         <wsdl:input message="impl:GetLanguagesRequest" name="GetLanguagesRequest"/>
         <wsdl:output message="impl:GetLanguagesResponse" name="GetLanguagesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetMatchLocations">
         <wsdl:input message="impl:GetMatchLocationsRequest" name="GetMatchLocationsRequest"/>
         <wsdl:output message="impl:GetMatchLocationsResponse" name="GetMatchLocationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="GetReturnTypes">
         <wsdl:input message="impl:GetReturnTypesRequest" name="GetReturnTypesRequest"/>
         <wsdl:output message="impl:GetReturnTypesResponse" name="GetReturnTypesResponse"/>
      </wsdl:operation>
      <wsdl:operation name="WolframQuickSearch">
         <wsdl:input message="impl:WolframQuickSearchRequest" name="WolframQuickSearchRequest"/>
         <wsdl:output message="impl:WolframQuickSearchResponse" name="WolframQuickSearchResponse"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WolframSearch2SoapBinding" type="impl:WolframSearch2">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="WolframSearch">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="WolframSearchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="WolframSearchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetModes">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GetModesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetModesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetCollections">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GetCollectionsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetCollectionsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetLanguages">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GetLanguagesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetLanguagesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetMatchLocations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GetMatchLocationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetMatchLocationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetReturnTypes">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GetReturnTypesRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetReturnTypesResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="WolframQuickSearch">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="WolframQuickSearchRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webservices.webtools.wolfram.com" use="literal"/>
         </wsdl:input>
         <wsdl:output name="WolframQuickSearchResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body namespace="http://webm.wolfram.com:8080/SearchServices/services/WolframSearch2"
                           use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WolframSearch2Service">
      <wsdl:port binding="impl:WolframSearch2SoapBinding" name="WolframSearch2">
         <wsdlsoap:address location="http://ws.soatrader.com/wolfram.com/0.1/WolframSearch2Service"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>