wsdl_repositories/soatrader/XindiceService.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:tns="urn:xindice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="urn:xindice"
                  xmlns:intf="urn:xindice"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:xindice">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
   <wsdl:documentation>
      <date xmlns="http://schemas.xmlsoap.org/wsdl/">9:17:333 December 2004</date>
      <version xmlns="http://schemas.xmlsoap.org/wsdl/">bcbb3db26746e030b025e186aaf65dff</version>
   </wsdl:documentation>
   <wsdl:message name="deleteDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="deleteResponse">
      <wsdl:part name="deleteReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="runQueryDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsResponse">
      <wsdl:part name="aboutOperationsReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="retriveDocRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDbResponse">
      <wsdl:part name="createDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceResponse">
      <wsdl:part name="aboutServiceReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="retriveDocDefaultDbResponse">
      <wsdl:part name="retriveDocDefaultDbReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="deleteDefaultDbResponse">
      <wsdl:part name="deleteDefaultDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="deleteRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="addDocumentResponse">
      <wsdl:part name="addDocumentReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="addDocumentRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:string"/>
      <wsdl:part name="in3" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="removeDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="removeDbResponse">
      <wsdl:part name="removeDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="retriveDocDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="runQueryRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="runQueryDefaultDbResponse">
      <wsdl:part name="runQueryDefaultDbReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="removeDefaultDbResponse">
      <wsdl:part name="removeDefaultDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="addDocumentDefaultDbResponse">
      <wsdl:part name="addDocumentDefaultDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="aboutServiceRequest"/>
   <wsdl:message name="addDocumentDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
      <wsdl:part name="in2" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="retriveDocResponse">
      <wsdl:part name="retriveDocReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="aboutOperationsRequest"/>
   <wsdl:message name="removeDefaultDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDbRequest">
      <wsdl:part name="in0" type="xsd:string"/>
      <wsdl:part name="in1" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="runQueryResponse">
      <wsdl:part name="runQueryReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="acknowledgeResponse">
      <wsdl:part name="acknowledgeReturn" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="createDefaultDbResponse">
      <wsdl:part name="createDefaultDbReturn" type="xsd:int"/>
   </wsdl:message>
   <wsdl:portType name="Xindice">
      <wsdl:operation name="delete" parameterOrder="in0 in1">
         <wsdl:input message="impl:deleteRequest" name="deleteRequest"/>
         <wsdl:output message="impl:deleteResponse" name="deleteResponse"/>
      </wsdl:operation>
      <wsdl:operation name="runQuery" parameterOrder="in0 in1">
         <wsdl:input message="impl:runQueryRequest" name="runQueryRequest"/>
         <wsdl:output message="impl:runQueryResponse" name="runQueryResponse"/>
      </wsdl:operation>
      <wsdl:operation name="runQueryDefaultDb" parameterOrder="in0">
         <wsdl:input message="impl:runQueryDefaultDbRequest" name="runQueryDefaultDbRequest"/>
         <wsdl:output message="impl:runQueryDefaultDbResponse" name="runQueryDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="retriveDoc" parameterOrder="in0 in1">
         <wsdl:input message="impl:retriveDocRequest" name="retriveDocRequest"/>
         <wsdl:output message="impl:retriveDocResponse" name="retriveDocResponse"/>
      </wsdl:operation>
      <wsdl:operation name="retriveDocDefaultDb" parameterOrder="in0">
         <wsdl:input message="impl:retriveDocDefaultDbRequest" name="retriveDocDefaultDbRequest"/>
         <wsdl:output message="impl:retriveDocDefaultDbResponse" name="retriveDocDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="addDocument" parameterOrder="in0 in1 in2 in3">
         <wsdl:input message="impl:addDocumentRequest" name="addDocumentRequest"/>
         <wsdl:output message="impl:addDocumentResponse" name="addDocumentResponse"/>
      </wsdl:operation>
      <wsdl:operation name="addDocumentDefaultDb" parameterOrder="in0 in1 in2">
         <wsdl:input message="impl:addDocumentDefaultDbRequest" name="addDocumentDefaultDbRequest"/>
         <wsdl:output message="impl:addDocumentDefaultDbResponse" name="addDocumentDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="deleteDefaultDb" parameterOrder="in0">
         <wsdl:input message="impl:deleteDefaultDbRequest" name="deleteDefaultDbRequest"/>
         <wsdl:output message="impl:deleteDefaultDbResponse" name="deleteDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="createDb" parameterOrder="in0 in1">
         <wsdl:input message="impl:createDbRequest" name="createDbRequest"/>
         <wsdl:output message="impl:createDbResponse" name="createDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="removeDb" parameterOrder="in0 in1">
         <wsdl:input message="impl:removeDbRequest" name="removeDbRequest"/>
         <wsdl:output message="impl:removeDbResponse" name="removeDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="createDefaultDb" parameterOrder="in0 in1">
         <wsdl:input message="impl:createDefaultDbRequest" name="createDefaultDbRequest"/>
         <wsdl:output message="impl:createDefaultDbResponse" name="createDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="removeDefaultDb" parameterOrder="in0 in1">
         <wsdl:input message="impl:removeDefaultDbRequest" name="removeDefaultDbRequest"/>
         <wsdl:output message="impl:removeDefaultDbResponse" name="removeDefaultDbResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdl:input message="impl:aboutServiceRequest" name="aboutServiceRequest"/>
         <wsdl:output message="impl:aboutServiceResponse" name="aboutServiceResponse"/>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdl:input message="impl:aboutOperationsRequest" name="aboutOperationsRequest"/>
         <wsdl:output message="impl:aboutOperationsResponse" name="aboutOperationsResponse"/>
      </wsdl:operation>
      <wsdl:operation name="acknowledge" parameterOrder="in0 in1">
         <wsdl:input message="impl:acknowledgeRequest" name="acknowledgeRequest"/>
         <wsdl:output message="impl:acknowledgeResponse" name="acknowledgeResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="xindiceSoapBinding" type="impl:Xindice">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="delete">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="deleteRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="deleteResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="runQuery">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="runQueryRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="runQueryResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="runQueryDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="runQueryDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="runQueryDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retriveDoc">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="retriveDocRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="retriveDocResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="retriveDocDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="retriveDocDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="retriveDocDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addDocument">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addDocumentRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="addDocumentResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addDocumentDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addDocumentDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="addDocumentDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="deleteDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="deleteDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="createDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="createDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="removeDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="removeDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="createDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="createDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeDefaultDb">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="removeDefaultDbRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="removeDefaultDbResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutService">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutServiceRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutServiceResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="aboutOperations">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="aboutOperationsRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="aboutOperationsResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="acknowledge">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="acknowledgeRequest">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:input>
         <wsdl:output name="acknowledgeResponse">
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                           namespace="urn:xindice"
                           use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="XindiceService">
      <wsdl:port binding="impl:xindiceSoapBinding" name="xindice">
         <wsdlsoap:address location="http://ws.soatrader.com/vbi.vt.edu/0.3/XindiceService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>