wsdl_repositories/soatrader/ZipCodesByCoords.wsdl

<wsdl:definitions xmlns:soat="http://ws.soatrader.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://innergears.com/WebServices3/ZipCodesByCoords"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://innergears.com/WebServices3/ZipCodesByCoords">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="decimal" name="HitsMade"/>
               <element type="decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema elementFormDefault="qualified"
                targetNamespace="http://innergears.com/WebServices3/ZipCodesByCoords">
         <s:element name="GetZipCodesByCoords">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByCoordsResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetZipCodesByCoordsResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="ArrayOfString">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true"
                          type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:element name="GetZipCodesByZipCode">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByZipCodeResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetZipCodesByZipCodeResult"
                             type="tns:ArrayOfString"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByCoordsXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByCoordsXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetZipCodesByCoordsXmlResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByZipCodeXml">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetZipCodesByZipCodeXmlResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="GetZipCodesByZipCodeXmlResult">
                     <s:complexType mixed="true">
                        <s:sequence>
                           <s:any/>
                        </s:sequence>
                     </s:complexType>
                  </s:element>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      </s:schema>
      <xs:schema xmlns:tns1="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 attributeFormDefault="unqualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://ws.strikeiron.com">
         <xs:element name="LicenseInfo" type="tns1:LicenseInfo"/>
         <xs:complexType name="LicenseInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser"/>
               <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="UnregisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="RegisteredUser">
            <xs:sequence>
               <xs:element minOccurs="0" name="UserID" type="xs:string"/>
               <xs:element minOccurs="0" name="Password" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo"/>
         <xs:complexType name="SubscriptionInfo">
            <xs:sequence>
               <xs:element name="LicenseStatusCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseStatus" type="xs:string"/>
               <xs:element name="LicenseActionCode" type="xs:int"/>
               <xs:element minOccurs="0" name="LicenseAction" type="xs:string"/>
               <xs:element name="RemainingHits" type="xs:int"/>
               <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="GetRemainingHits">
            <xs:complexType/>
         </xs:element>
         <xs:element name="GetRemainingHitsResponse">
            <xs:complexType/>
         </xs:element>
      </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetZipCodesByCoordsSoapIn">
      <wsdl:part name="parameters" element="tns:GetZipCodesByCoords"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsSoapOut">
      <wsdl:part name="parameters" element="tns:GetZipCodesByCoordsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeSoapIn">
      <wsdl:part name="parameters" element="tns:GetZipCodesByZipCode"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeSoapOut">
      <wsdl:part name="parameters" element="tns:GetZipCodesByZipCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetZipCodesByCoordsXml"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetZipCodesByCoordsXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlSoapIn">
      <wsdl:part name="parameters" element="tns:GetZipCodesByZipCodeXml"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlSoapOut">
      <wsdl:part name="parameters" element="tns:GetZipCodesByZipCodeXmlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsHttpGetIn">
      <wsdl:part name="Latitude" type="s:string"/>
      <wsdl:part name="Longitude" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeHttpGetIn">
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeHttpGetOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlHttpGetIn">
      <wsdl:part name="Latitude" type="s:string"/>
      <wsdl:part name="Longitude" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlHttpGetIn">
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlHttpGetOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsHttpPostIn">
      <wsdl:part name="Latitude" type="s:string"/>
      <wsdl:part name="Longitude" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeHttpPostIn">
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeHttpPostOut">
      <wsdl:part name="Body" element="tns:ArrayOfString"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlHttpPostIn">
      <wsdl:part name="Latitude" type="s:string"/>
      <wsdl:part name="Longitude" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByCoordsXmlHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlHttpPostIn">
      <wsdl:part name="ZipCode" type="s:string"/>
      <wsdl:part name="Radius" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesByZipCodeXmlHttpPostOut">
      <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
      <wsdl:part name="parameters" element="q1:GetRemainingHits"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
      <wsdl:part name="parameters" element="q2:GetRemainingHitsResponse"/>
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
      <wsdl:part name="LicenseInfo" element="q3:LicenseInfo"/>
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
      <wsdl:part name="SubscriptionInfo" element="q4:SubscriptionInfo"/>
  </wsdl:message>
  <wsdl:portType name="ZipCodesByCoordsSoap">
      <wsdl:operation name="GetZipCodesByCoords">
         <wsdl:input message="tns:GetZipCodesByCoordsSoapIn"/>
         <wsdl:output message="tns:GetZipCodesByCoordsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByZipCode">
         <wsdl:input message="tns:GetZipCodesByZipCodeSoapIn"/>
         <wsdl:output message="tns:GetZipCodesByZipCodeSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByCoordsXml">
         <wsdl:input message="tns:GetZipCodesByCoordsXmlSoapIn"/>
         <wsdl:output message="tns:GetZipCodesByCoordsXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByZipCodeXml">
         <wsdl:input message="tns:GetZipCodesByZipCodeXmlSoapIn"/>
         <wsdl:output message="tns:GetZipCodesByZipCodeXmlSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <wsdl:input message="tns:GetRemainingHitsSoapIn"/>
         <wsdl:output message="tns:GetRemainingHitsSoapOut"/>
      </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZipCodesByCoordsSoap" type="tns:ZipCodesByCoordsSoap">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetZipCodesByCoords">
         <soap:operation soapAction="http://innergears.com/WebServices3/ZipCodesByCoords/GetZipCodesByCoords"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByZipCode">
         <soap:operation soapAction="http://innergears.com/WebServices3/ZipCodesByCoords/GetZipCodesByZipCode"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByCoordsXml">
         <soap:operation soapAction="http://innergears.com/WebServices3/ZipCodesByCoords/GetZipCodesByCoordsXml"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesByZipCodeXml">
         <soap:operation soapAction="http://innergears.com/WebServices3/ZipCodesByCoords/GetZipCodesByZipCodeXml"
                         style="document"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetRemainingHits">
         <soap:operation soapAction="http://ws.strikeiron.com/InnerGears/ZipCodesByCoords2/ZipCodesByCoords/GetRemainingHits"/>
         <wsdl:input>
            <soap:header part="SOATraderLicense" message="tns:SOATraderLicense" use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header part="SOATraderUsageStatistics" message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body use="literal"/>
            <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZipCodesByCoords">
      <wsdl:port name="ZipCodesByCoordsSoap" binding="tns:ZipCodesByCoordsSoap">
         <soap:address location="http://ws.soatrader.com/strikeiron.com/0.1/ZipCodesByCoords"/>
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>