wsdl_repositories/soatrader/ZipCodes.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://skats.net/services/">
   <wsdl:message name="SOATraderLicense">
      <wsdl:part element="soat:SOATraderLicense" name="SOATraderLicense"/>
   </wsdl:message>
   <wsdl:message name="SOATraderUsageStatistics">
      <wsdl:part element="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
   </wsdl:message>
  <wsdl:documentation>ZipCode Lookup web service features several functions for US zipcodes and distance manipulations: zip code lookup by distance, zip code coordinates, distance between zip codes.</wsdl:documentation>
  <wsdl:types>
      <schema xmlns:soat="http://ws.soatrader.com/" xmlns="http://www.w3.org/2001/XMLSchema"
              targetNamespace="http://ws.soatrader.com/"
              elementFormDefault="qualified">
         <element type="xs:string" name="SOATraderLicense"/>
         <element type="soat:SOATraderUsageStatistics" name="SOATraderUsageStatistics"/>
         <complexType name="SOATraderUsageStatistics">
            <sequence>
               <element type="xs:decimal" name="HitsMade"/>
               <element type="xs:decimal" name="HitsLeft"/>
            </sequence>
         </complexType>
      </schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="http://skats.net/services/"
                xmlns:s1="http://skats.net/services/literalTypes"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="http://skats.net/services/">
         <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
         <s:complexType name="ArrayOfZipCodeDistances">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute wsdl:arrayType="tns:ZipCodeDistances[]" ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="ZipCodeDistances">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ZipCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="AuthenticationHeader">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SessionID" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:simpleType name="FilterType">
            <s:restriction base="s:string">
               <s:enumeration value="None"/>
               <s:enumeration value="StartsWith"/>
               <s:enumeration value="EndsWith"/>
               <s:enumeration value="Anywhere"/>
            </s:restriction>
         </s:simpleType>
         <s:complexType name="ZipCodeCoordinates">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonRadians" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfUserPlaceDetail">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute wsdl:arrayType="tns:UserPlaceDetail[]" ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="UserPlaceDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Id" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Category" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Data" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LatRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="LonRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfGeoPlaceDistance">
            <s:complexContent mixed="false">
               <s:restriction base="soapenc:Array">
                  <s:attribute wsdl:arrayType="tns:GeoPlaceDistance[]" ref="soapenc:arrayType"/>
               </s:restriction>
            </s:complexContent>
         </s:complexType>
         <s:complexType name="GeoPlaceDistance">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ToPlace" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ToState" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
      <s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:tns="http://skats.net/services/"
                xmlns:s1="http://skats.net/services/literalTypes"
                xmlns:s="http://www.w3.org/2001/XMLSchema"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                elementFormDefault="qualified"
                targetNamespace="http://skats.net/services/literalTypes">
         <s:element name="ArrayOfZipCodeDistances" nillable="true"
                    type="s1:ArrayOfZipCodeDistances"/>
         <s:complexType name="ArrayOfZipCodeDistances">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeDistances" nillable="true"
                          type="s1:ZipCodeDistances"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ZipCodeDistances">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:element name="float" type="s:float"/>
         <s:element name="ZipCodeCoordinates" nillable="true" type="s1:ZipCodeCoordinates"/>
         <s:complexType name="ZipCodeCoordinates">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="LatDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LonDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LatRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LonRadians" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfUserPlaceDetail" nillable="true" type="s1:ArrayOfUserPlaceDetail"/>
         <s:complexType name="ArrayOfUserPlaceDetail">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="UserPlaceDetail" nillable="true"
                          type="s1:UserPlaceDetail"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="UserPlaceDetail">
            <s:sequence>
               <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="LatDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LonDegrees" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LatRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="LonRadians" type="s:float"/>
               <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
         <s:element name="ArrayOfGeoPlaceDistance" nillable="true"
                    type="s1:ArrayOfGeoPlaceDistance"/>
         <s:complexType name="ArrayOfGeoPlaceDistance">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="GeoPlaceDistance" nillable="true"
                          type="s1:GeoPlaceDistance"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="GeoPlaceDistance">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ToPlace" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ToState" type="s:string"/>
               <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:float"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
  </wsdl:types>
  <wsdl:message name="GetZipCodesWithinSoapIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:float"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinSoapOut">
      <wsdl:part name="GetZipCodesWithinResult" type="tns:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredSoapIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:float"/>
      <wsdl:part name="filter" type="s:string"/>
      <wsdl:part name="filterType" type="tns:FilterType"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredSoapOut">
      <wsdl:part name="GetZipCodesWithinFilteredResult" type="tns:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinSoapIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:float"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinSoapOut">
      <wsdl:part name="GetThreeDigitZipCodesWithinResult" type="tns:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesSoapIn">
      <wsdl:part name="zip1" type="s:string"/>
      <wsdl:part name="zip2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesSoapOut">
      <wsdl:part name="GetDistanceBetweenZipCodesResult" type="s:float"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesSoapIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesSoapOut">
      <wsdl:part name="GetZipCodeCoordinatesResult" type="tns:ZipCodeCoordinates"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserPlacesSoapIn"/>
  <wsdl:message name="GetAllUserPlacesSoapOut">
      <wsdl:part name="GetAllUserPlacesResult" type="tns:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserPlacesAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="SaveUserPlacesSoapIn">
      <wsdl:part name="places" type="tns:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="SaveUserPlacesSoapOut"/>
  <wsdl:message name="SaveUserPlacesAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinSoapIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:float"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinSoapOut">
      <wsdl:part name="GetUserPlacesWithinResult" type="tns:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideSoapIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideSoapOut">
      <wsdl:part name="GetPlacesInsideResult" type="tns:ArrayOfGeoPlaceDistance"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideAuthenticationHeader">
      <wsdl:part name="AuthenticationHeader" type="tns:AuthenticationHeader"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="filter" type="s:string"/>
      <wsdl:part name="filterType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesHttpGetIn">
      <wsdl:part name="zip1" type="s:string"/>
      <wsdl:part name="zip2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesHttpGetOut">
      <wsdl:part name="Body" element="s1:float"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesHttpGetOut">
      <wsdl:part name="Body" element="s1:ZipCodeCoordinates"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserPlacesHttpGetIn"/>
  <wsdl:message name="GetAllUserPlacesHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideHttpGetIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideHttpGetOut">
      <wsdl:part name="Body" element="s1:ArrayOfGeoPlaceDistance"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="filter" type="s:string"/>
      <wsdl:part name="filterType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodesWithinFilteredHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetThreeDigitZipCodesWithinHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfZipCodeDistances"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesHttpPostIn">
      <wsdl:part name="zip1" type="s:string"/>
      <wsdl:part name="zip2" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetDistanceBetweenZipCodesHttpPostOut">
      <wsdl:part name="Body" element="s1:float"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetZipCodeCoordinatesHttpPostOut">
      <wsdl:part name="Body" element="s1:ZipCodeCoordinates"/>
  </wsdl:message>
  <wsdl:message name="GetAllUserPlacesHttpPostIn"/>
  <wsdl:message name="GetAllUserPlacesHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
      <wsdl:part name="distance" type="s:string"/>
      <wsdl:part name="category" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetUserPlacesWithinHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfUserPlaceDetail"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideHttpPostIn">
      <wsdl:part name="zip" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetPlacesInsideHttpPostOut">
      <wsdl:part name="Body" element="s1:ArrayOfGeoPlaceDistance"/>
  </wsdl:message>
  
  
  
  <wsdl:binding name="ZipCodesSoap" type="tns:ZipCodesSoap">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    transport="http://schemas.xmlsoap.org/soap/http"
                    style="rpc"/>
      <wsdl:operation name="GetZipCodesWithin">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetZipCodesWithin"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetZipCodesWithinAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodesWithinFiltered">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetZipCodesWithinFiltered"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetZipCodesWithinFilteredAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetThreeDigitZipCodesWithin">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetThreeDigitZipCodesWithin"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetThreeDigitZipCodesWithinAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDistanceBetweenZipCodes">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetDistanceBetweenZipCodes"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetDistanceBetweenZipCodesAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetZipCodeCoordinates">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetZipCodeCoordinates"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetZipCodeCoordinatesAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetAllUserPlaces">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetAllUserPlaces"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetAllUserPlacesAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SaveUserPlaces">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/SaveUserPlaces"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:SaveUserPlacesAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetUserPlacesWithin">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetUserPlacesWithin"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetUserPlacesWithinAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetPlacesInside">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         soapAction="http://skats.net/services/GetPlacesInside"
                         style="rpc"/>
         <wsdl:input>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" part="SOATraderLicense"
                         message="tns:SOATraderLicense"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         message="tns:GetPlacesInsideAuthenticationHeader"
                         part="AuthenticationHeader"
                         use="encoded"
                         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                         namespace="http://skats.net/services/"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                         part="SOATraderUsageStatistics"
                         message="tns:SOATraderUsageStatistics"
                         use="literal"/>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                       namespace="http://skats.net/services/"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  
  
  
  <wsdl:service name="ZipCodes">
      <wsdl:documentation>ZipCode Lookup web service features several functions for US zipcodes and distance manipulations: zip code lookup by distance, zip code coordinates, distance between zip codes.</wsdl:documentation>
      <wsdl:port name="ZipCodesSoap" binding="tns:ZipCodesSoap">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                       location="http://ws.soatrader.com/codebump.com/0.4/ZipCodes"/>
      </wsdl:port>
    
    
    
  </wsdl:service>
</wsdl:definitions>